{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/f0d6d43b-bf92-4829-b508-427e4f3e7a74",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "f0d6d43b-bf92-4829-b508-427e4f3e7a74",
        "dataFeedName": "datafeedrljo2bwollci25do",
        "metrics": [
          {
            "metricId": "e7e4fc43-f2cf-433d-bd2a-d9c4d451a9d0",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": "the cost"
          },
          {
            "metricId": "5210ece6-74a4-4b25-a1d8-f036773b905e",
            "metricName": "revenue",
            "metricDisplayName": "revenue",
            "metricDescription": "the revenue"
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "category"
          },
          {
            "dimensionName": "region",
            "dimensionDisplayName": "region"
          }
        ],
        "dataStartFrom": "2019-10-01T00:00:00Z",
        "dataSourceType": "SqlServer",
        "timestampColumn": "Timestamp",
        "startOffsetInSeconds": -1,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "needRollup": "NoRollup",
        "fillMissingPointType": "SmartFilling",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "my first data feed",
        "stopRetryAfterInSeconds": -1,
        "minRetryIntervalInSeconds": -1,
        "maxConcurrency": 0,
        "viewMode": "Private",
        "admins": [
          "yournamehere@microsoft.com",
          "f850650c-1fcf-4489-b46f-71af2e30d360"
        ],
        "viewers": [
          "viewers"
        ],
        "creator": "f850650c-1fcf-4489-b46f-71af2e30d360",
        "status": "Active",
        "createdTime": "2021-12-16T03:21:48Z",
        "isAdmin": true,
        "actionLinkTemplate": "action link template",
        "dataSourceParameter": {
          "query": "select * from adsample2 where Timestamp = @StartTime"
        },
        "authenticationType": "Basic"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/f0d6d43b-bf92-4829-b508-427e4f3e7a74",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "f0d6d43b-bf92-4829-b508-427e4f3e7a74",
        "dataFeedName": "update5474871c-48cc-465f-b437-6e8979e476bc",
        "metrics": [
          {
            "metricId": "e7e4fc43-f2cf-433d-bd2a-d9c4d451a9d0",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": "the cost"
          },
          {
            "metricId": "5210ece6-74a4-4b25-a1d8-f036773b905e",
            "metricName": "revenue",
            "metricDisplayName": "revenue",
            "metricDescription": "the revenue"
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "category"
          },
          {
            "dimensionName": "region",
            "dimensionDisplayName": "region"
          }
        ],
        "dataStartFrom": "2021-09-10T00:00:00Z",
        "dataSourceType": "SqlServer",
        "timestampColumn": "time",
        "startOffsetInSeconds": 1,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "allUpIdentification": "sumrollup",
        "needRollup": "AlreadyRollup",
        "fillMissingPointType": "CustomValue",
        "fillMissingPointValue": 2.0,
        "rollUpMethod": "Sum",
        "dataFeedDescription": "updated",
        "stopRetryAfterInSeconds": 1,
        "minRetryIntervalInSeconds": 120,
        "maxConcurrency": 1,
        "viewMode": "Public",
        "admins": [
          "yournamehere@microsoft.com",
          "f850650c-1fcf-4489-b46f-71af2e30d360"
        ],
        "viewers": [
          "updated"
        ],
        "creator": "f850650c-1fcf-4489-b46f-71af2e30d360",
        "status": "Paused",
        "createdTime": "2021-12-16T03:21:48Z",
        "isAdmin": true,
        "actionLinkTemplate": "updated",
        "dataSourceParameter": {
          "query": "get data"
        },
        "authenticationType": "Basic"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/f0d6d43b-bf92-4829-b508-427e4f3e7a74",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "data_feed_id": "f0d6d43b-bf92-4829-b508-427e4f3e7a74",
    "data_feed_metric_id": "e7e4fc43-f2cf-433d-bd2a-d9c4d451a9d0",
    "data_feed_name": "datafeedrljo2bwollci25do",
    "data_feed_updated_name": "update5474871c-48cc-465f-b437-6e8979e476bc"
  }
}
