{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "alertconfigbdccad7f-7c4a-49be-9ada-c32b20829ba5",
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "21089d44-887a-4a40-9614-671558618462",
            "anomalyScopeType": "TopN",
            "topNAnomalyScope": {
              "top": 5,
              "period": 10,
              "minTopCount": 9
            },
            "valueFilter": {
              "lower": 1.0,
              "upper": 5.0,
              "direction": "Both",
              "metricId": "7cba4d1a-6519-47c5-932f-e91513ccbd9c"
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/fb8cd490-6941-4ae1-a512-ec3339f9e8ab"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/fb8cd490-6941-4ae1-a512-ec3339f9e8ab",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "fb8cd490-6941-4ae1-a512-ec3339f9e8ab",
        "name": "alertconfigbdccad7f-7c4a-49be-9ada-c32b20829ba5",
        "description": "",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "21089d44-887a-4a40-9614-671558618462",
            "anomalyScopeType": "TopN",
            "negationOperation": false,
            "topNAnomalyScope": {
              "top": 5,
              "period": 10,
              "minTopCount": 9
            },
            "valueFilter": {
              "lower": 1.0,
              "upper": 5.0,
              "direction": "Both",
              "metricId": "7cba4d1a-6519-47c5-932f-e91513ccbd9c",
              "triggerForMissing": false,
              "type": "Value"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/fb8cd490-6941-4ae1-a512-ec3339f9e8ab",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "code": "Not Found",
        "message": "Not found this AnomalyAlertingConfiguration. TraceId: 900da770-c25f-42eb-a2d5-b72621bfe727"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/c31ce4ed-3229-48ca-b4c4-378d79ad9baa",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_id": "fb8cd490-6941-4ae1-a512-ec3339f9e8ab",
    "alert_config_name": "alertconfigbdccad7f-7c4a-49be-9ada-c32b20829ba5",
    "data_feed_id": "c31ce4ed-3229-48ca-b4c4-378d79ad9baa",
    "data_feed_metric_id": "7cba4d1a-6519-47c5-932f-e91513ccbd9c",
    "data_feed_name": "datafeed6002d34b-6ea0-48c4-a20b-f92cd3bf6518",
    "detection_config_id": "21089d44-887a-4a40-9614-671558618462",
    "detection_config_name": "detectionconfigf4d5e31c-b842-4728-8bb2-504c3dc1b81e"
  }
}
