{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/e18df6b5-8f5d-47e8-9855-712e879591b2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "e18df6b5-8f5d-47e8-9855-712e879591b2",
        "dataFeedName": "datafeedfji73b3hqpjrkkg7",
        "metrics": [
          {
            "metricId": "6a5c9664-6c06-4693-acc8-9b7423dc507b",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": "the cost"
          },
          {
            "metricId": "202be0a5-9011-4361-a5d7-423c019f0666",
            "metricName": "revenue",
            "metricDisplayName": "revenue",
            "metricDescription": "the revenue"
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "category"
          },
          {
            "dimensionName": "region",
            "dimensionDisplayName": "region"
          }
        ],
        "dataStartFrom": "2019-10-01T00:00:00Z",
        "dataSourceType": "SqlServer",
        "timestampColumn": "Timestamp",
        "startOffsetInSeconds": -1,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "needRollup": "NoRollup",
        "fillMissingPointType": "SmartFilling",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "my first data feed",
        "stopRetryAfterInSeconds": -1,
        "minRetryIntervalInSeconds": -1,
        "maxConcurrency": 0,
        "viewMode": "Private",
        "admins": [
          "krpratic@microsoft.com",
          "yournamehere@microsoft.com"
        ],
        "viewers": [
          "viewers"
        ],
        "creator": "krpratic@microsoft.com",
        "status": "Active",
        "createdTime": "2021-12-16T01:12:16Z",
        "isAdmin": true,
        "actionLinkTemplate": "action link template",
        "dataSourceParameter": {
          "query": "select * from adsample2 where Timestamp = @StartTime"
        },
        "authenticationType": "Basic"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/e18df6b5-8f5d-47e8-9855-712e879591b2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "e18df6b5-8f5d-47e8-9855-712e879591b2",
        "dataFeedName": "updateMe",
        "metrics": [
          {
            "metricId": "6a5c9664-6c06-4693-acc8-9b7423dc507b",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": "the cost"
          },
          {
            "metricId": "202be0a5-9011-4361-a5d7-423c019f0666",
            "metricName": "revenue",
            "metricDisplayName": "revenue",
            "metricDescription": "the revenue"
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "category"
          },
          {
            "dimensionName": "region",
            "dimensionDisplayName": "region"
          }
        ],
        "dataStartFrom": "2021-09-10T00:00:00Z",
        "dataSourceType": "SqlServer",
        "timestampColumn": "time",
        "startOffsetInSeconds": 1,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "allUpIdentification": "sumrollup",
        "needRollup": "AlreadyRollup",
        "fillMissingPointType": "CustomValue",
        "fillMissingPointValue": 2.0,
        "rollUpMethod": "Sum",
        "dataFeedDescription": "updateMe",
        "stopRetryAfterInSeconds": 1,
        "minRetryIntervalInSeconds": 120,
        "maxConcurrency": 1,
        "viewMode": "Public",
        "admins": [
          "krpratic@microsoft.com",
          "yournamehere@microsoft.com"
        ],
        "viewers": [
          "updated"
        ],
        "creator": "krpratic@microsoft.com",
        "status": "Paused",
        "createdTime": "2021-12-16T01:12:16Z",
        "isAdmin": true,
        "actionLinkTemplate": "updated",
        "dataSourceParameter": {
          "query": "get data"
        },
        "authenticationType": "Basic"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/e18df6b5-8f5d-47e8-9855-712e879591b2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "data_feed_id": "e18df6b5-8f5d-47e8-9855-712e879591b2",
    "data_feed_metric_id": "6a5c9664-6c06-4693-acc8-9b7423dc507b",
    "data_feed_name": "datafeedfji73b3hqpjrkkg7"
  }
}
