{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "dataSourceCredentialType": "AzureSQLConnectionString",
        "dataSourceCredentialName": "testsqlcredential7a1d334f-ca0b-4ae6-b9b2-fe06df263098",
        "dataSourceCredentialDescription": "my credential",
        "parameters": {
          "connectionString": "metrics_advisor_sql_server_connection_string"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/cd3ec86b-debb-4ea1-b423-bde30ae0c581"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/cd3ec86b-debb-4ea1-b423-bde30ae0c581",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataSourceCredentialId": "cd3ec86b-debb-4ea1-b423-bde30ae0c581",
        "dataSourceCredentialName": "testsqlcredential7a1d334f-ca0b-4ae6-b9b2-fe06df263098",
        "dataSourceCredentialDescription": "my credential",
        "dataSourceCredentialType": "AzureSQLConnectionString",
        "parameters": {}
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/cd3ec86b-debb-4ea1-b423-bde30ae0c581",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "credential_id": "cd3ec86b-debb-4ea1-b423-bde30ae0c581",
    "credential_name": "testsqlcredential7a1d334f-ca0b-4ae6-b9b2-fe06df263098"
  }
}
