{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/metrics/metrics_advisor_metric_id/data/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022startTime\u0022: \u00222021-01-01T00:00:00.000Z\u0022, \u0022endTime\u0022: \u00222021-09-09T00:00:00.000Z\u0022, \u0022series\u0022: [{\u0022region\u0022: \u0022Los Angeles\u0022, \u0022category\u0022: \u0022Homemade\u0022}]}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": {
              "metricId": "metrics_advisor_metric_id",
              "dimension": {
                "category": "Homemade",
                "region": "Los Angeles"
              }
            },
            "timestampList": [],
            "valueList": []
          }
        ]
      }
    }
  ],
  "Variables": {}
}
