{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/adabcd16-9f8e-4857-b2b9-3b568a74644b",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "adabcd16-9f8e-4857-b2b9-3b568a74644b",
        "name": "alertconfiglccobiedsaybm",
        "description": "",
        "crossMetricsOperator": "AND",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "a56a57d5-244c-4db4-90fe-7649b90918a1",
            "anomalyScopeType": "TopN",
            "negationOperation": false,
            "topNAnomalyScope": {
              "top": 5,
              "period": 10,
              "minTopCount": 9
            },
            "valueFilter": {
              "lower": 1.0,
              "upper": 5.0,
              "direction": "Both",
              "metricId": "b34e3973-85b3-40f5-8007-5802e771e949",
              "triggerForMissing": false,
              "type": "Value"
            }
          },
          {
            "anomalyDetectionConfigurationId": "a56a57d5-244c-4db4-90fe-7649b90918a1",
            "anomalyScopeType": "Dimension",
            "negationOperation": false,
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Beijing"
              }
            },
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          },
          {
            "anomalyDetectionConfigurationId": "a56a57d5-244c-4db4-90fe-7649b90918a1",
            "anomalyScopeType": "All",
            "negationOperation": false,
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/f27cb7ec-ea3c-4329-8afe-39d1f06a2a26",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_id": "adabcd16-9f8e-4857-b2b9-3b568a74644b",
    "alert_config_name": "alertconfiglccobiedsaybm",
    "alert_config_updated_name": "update32a80190-9d8a-4457-9b25-1cccbe72c104",
    "data_feed_id": "f27cb7ec-ea3c-4329-8afe-39d1f06a2a26",
    "data_feed_metric_id": "b34e3973-85b3-40f5-8007-5802e771e949",
    "data_feed_name": "datafeednguibudgvj6orkaz",
    "detection_config_id": "a56a57d5-244c-4db4-90fe-7649b90918a1",
    "detection_config_name": "detectionconfigdrk6yskbk"
  }
}
