{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/351a834c-cb9f-43a5-98c5-42014771ae7b",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "351a834c-cb9f-43a5-98c5-42014771ae7b",
        "dataFeedName": "datafeed4f196b42-f0ca-49d3-b65f-c223b70eff92",
        "metrics": [
          {
            "metricId": "a836246c-93a0-4877-a938-90bafc733eaf",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": "the cost"
          },
          {
            "metricId": "e35a7559-254a-4213-9d38-c780832b8830",
            "metricName": "revenue",
            "metricDisplayName": "revenue",
            "metricDescription": "the revenue"
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "category"
          },
          {
            "dimensionName": "region",
            "dimensionDisplayName": "region"
          }
        ],
        "dataStartFrom": "2019-10-01T00:00:00Z",
        "dataSourceType": "SqlServer",
        "timestampColumn": "Timestamp",
        "startOffsetInSeconds": -1,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "needRollup": "NoRollup",
        "fillMissingPointType": "SmartFilling",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "my first data feed",
        "stopRetryAfterInSeconds": -1,
        "minRetryIntervalInSeconds": -1,
        "maxConcurrency": 0,
        "viewMode": "Private",
        "admins": [
          "krpratic@microsoft.com",
          "yournamehere@microsoft.com"
        ],
        "viewers": [
          "viewers"
        ],
        "creator": "krpratic@microsoft.com",
        "status": "Active",
        "createdTime": "2022-03-08T21:08:06Z",
        "isAdmin": true,
        "actionLinkTemplate": "action link template",
        "dataSourceParameter": {
          "query": "select * from adsample2 where Timestamp = @StartTime"
        },
        "authenticationType": "Basic"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/351a834c-cb9f-43a5-98c5-42014771ae7b",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "dataSourceType": "SqlServer",
        "dataFeedName": "update03857a18-df13-4ac3-bcb9-f408f883210f",
        "dataFeedDescription": "updated",
        "granularityName": "Daily",
        "metrics": [
          {
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": "the cost"
          },
          {
            "metricName": "revenue",
            "metricDisplayName": "revenue",
            "metricDescription": "the revenue"
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "category"
          },
          {
            "dimensionName": "region",
            "dimensionDisplayName": "region"
          }
        ],
        "timestampColumn": "time",
        "dataStartFrom": "2021-12-10T00:00:00.000Z",
        "startOffsetInSeconds": 1,
        "maxConcurrency": 1,
        "minRetryIntervalInSeconds": 120,
        "stopRetryAfterInSeconds": 1,
        "needRollup": "AlreadyRollup",
        "rollUpMethod": "Sum",
        "rollUpColumns": [],
        "allUpIdentification": "sumrollup",
        "fillMissingPointType": "CustomValue",
        "fillMissingPointValue": 2.0,
        "viewMode": "Public",
        "admins": [
          "krpratic@microsoft.com",
          "yournamehere@microsoft.com"
        ],
        "viewers": [
          "updated"
        ],
        "status": "Paused",
        "actionLinkTemplate": "updated",
        "authenticationType": "Basic",
        "dataSourceParameter": {
          "connectionString": "updated",
          "query": "get data"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "351a834c-cb9f-43a5-98c5-42014771ae7b",
        "dataFeedName": "update03857a18-df13-4ac3-bcb9-f408f883210f",
        "metrics": [
          {
            "metricId": "a836246c-93a0-4877-a938-90bafc733eaf",
            "metricName": "cost",
            "metricDisplayName": [...]
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/351a834c-cb9f-43a5-98c5-42014771ae7b",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "data_feed_id": "351a834c-cb9f-43a5-98c5-42014771ae7b",
    "data_feed_metric_id": "a836246c-93a0-4877-a938-90bafc733eaf",
    "data_feed_name": "datafeed4f196b42-f0ca-49d3-b65f-c223b70eff92",
    "data_feed_updated_name": "update03857a18-df13-4ac3-bcb9-f408f883210f"
  }
}
