{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "dataSourceCredentialType": "ServicePrincipalInKV",
        "dataSourceCredentialName": "testserviceprincipalcredential2dd0851a-3c9a-4ec0-93b9-52e7800e3fe7",
        "dataSourceCredentialDescription": "my credential",
        "parameters": {
          "keyVaultEndpoint": "key_vault_endpoint",
          "keyVaultClientId": "key_vault_client_id",
          "keyVaultClientSecret": "key_vault_client_secret",
          "servicePrincipalIdNameInKV": "service_principal_id_name_in_kv",
          "servicePrincipalSecretNameInKV": "service_principal_secret_name_in_kv",
          "tenantId": "tenant_id"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/31a1938f-a0d6-426d-9437-6d28fd5c68e1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/31a1938f-a0d6-426d-9437-6d28fd5c68e1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataSourceCredentialId": "31a1938f-a0d6-426d-9437-6d28fd5c68e1",
        "dataSourceCredentialName": "testserviceprincipalcredential2dd0851a-3c9a-4ec0-93b9-52e7800e3fe7",
        "dataSourceCredentialDescription": "my credential",
        "dataSourceCredentialType": "ServicePrincipalInKV",
        "parameters": {
          "servicePrincipalSecretNameInKV": "service_principal_secret_name_in_kv",
          "servicePrincipalIdNameInKV": "service_principal_id_name_in_kv",
          "tenantId": "tenant_id",
          "keyVaultClientId": "key_vault_client_id",
          "keyVaultEndpoint": "key_vault_endpoint"
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/31a1938f-a0d6-426d-9437-6d28fd5c68e1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "credential_id": "31a1938f-a0d6-426d-9437-6d28fd5c68e1",
    "credential_name": "testserviceprincipalcredential2dd0851a-3c9a-4ec0-93b9-52e7800e3fe7"
  }
}
