{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022dataSourceCredentialType\u0022: \u0022ServicePrincipalInKV\u0022, \u0022dataSourceCredentialName\u0022: \u0022testserviceprincipalcredentiald170d30c-9a70-4cc2-a169-08688dd97379\u0022, \u0022dataSourceCredentialDescription\u0022: \u0022my credential\u0022, \u0022parameters\u0022: {\u0022keyVaultEndpoint\u0022: \u0022key_vault_endpoint\u0022, \u0022keyVaultClientId\u0022: \u0022key_vault_client_id\u0022, \u0022keyVaultClientSecret\u0022: \u0022key_vault_client_secret\u0022, \u0022servicePrincipalIdNameInKV\u0022: \u0022service_principal_id_name_in_kv\u0022, \u0022servicePrincipalSecretNameInKV\u0022: \u0022service_principal_secret_name_in_kv\u0022, \u0022tenantId\u0022: \u0022tenant_id\u0022}}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/6a38d60d-a6bd-4d81-91a2-f553ac52a260"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/6a38d60d-a6bd-4d81-91a2-f553ac52a260",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataSourceCredentialId": "6a38d60d-a6bd-4d81-91a2-f553ac52a260",
        "dataSourceCredentialName": "testserviceprincipalcredentiald170d30c-9a70-4cc2-a169-08688dd97379",
        "dataSourceCredentialDescription": "my credential",
        "dataSourceCredentialType": "ServicePrincipalInKV",
        "parameters": {
          "servicePrincipalSecretNameInKV": "service_principal_secret_name_in_kv",
          "servicePrincipalIdNameInKV": "service_principal_id_name_in_kv",
          "tenantId": "tenant_id",
          "keyVaultClientId": "key_vault_client_id",
          "keyVaultEndpoint": "key_vault_endpoint"
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/6a38d60d-a6bd-4d81-91a2-f553ac52a260",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "credential_id": "6a38d60d-a6bd-4d81-91a2-f553ac52a260",
    "credential_name": "testserviceprincipalcredentiald170d30c-9a70-4cc2-a169-08688dd97379"
  }
}
