{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/b0e794f5-f45a-45a5-8f27-78964ad28272",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "b0e794f5-f45a-45a5-8f27-78964ad28272",
        "dataFeedName": "datafeed1333d51c-8be6-413a-ba1a-30054071cf25",
        "metrics": [
          {
            "metricId": "d0c82411-c2d9-4755-8a8d-65728b9a385f",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": "the cost"
          },
          {
            "metricId": "13279f2b-0210-4b15-9789-1dbb90153f7b",
            "metricName": "revenue",
            "metricDisplayName": "revenue",
            "metricDescription": "the revenue"
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "category"
          },
          {
            "dimensionName": "region",
            "dimensionDisplayName": "region"
          }
        ],
        "dataStartFrom": "2019-10-01T00:00:00Z",
        "dataSourceType": "SqlServer",
        "timestampColumn": "Timestamp",
        "startOffsetInSeconds": -1,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "needRollup": "NoRollup",
        "fillMissingPointType": "SmartFilling",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "my first data feed",
        "stopRetryAfterInSeconds": -1,
        "minRetryIntervalInSeconds": -1,
        "maxConcurrency": 0,
        "viewMode": "Private",
        "admins": [
          "yournamehere@microsoft.com",
          "f850650c-1fcf-4489-b46f-71af2e30d360"
        ],
        "viewers": [
          "viewers"
        ],
        "creator": "f850650c-1fcf-4489-b46f-71af2e30d360",
        "status": "Active",
        "createdTime": "2022-09-29T23:25:52Z",
        "isAdmin": true,
        "actionLinkTemplate": "action link template",
        "dataSourceParameter": {
          "query": "select * from adsample2 where Timestamp = @StartTime"
        },
        "authenticationType": "Basic"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/b0e794f5-f45a-45a5-8f27-78964ad28272",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "dataFeedName": "update650e945a-5ad5-4bac-b242-e33e9cebc16c",
        "dataFeedDescription": "updated",
        "timestampColumn": "time",
        "dataStartFrom": "2021-09-10T00:00:00.000Z",
        "startOffsetInSeconds": 1,
        "maxConcurrency": 1,
        "minRetryIntervalInSeconds": 120,
        "stopRetryAfterInSeconds": 1,
        "needRollup": "AlreadyRollup",
        "rollUpMethod": "Sum",
        "rollUpColumns": [],
        "allUpIdentification": "sumrollup",
        "fillMissingPointType": "CustomValue",
        "fillMissingPointValue": 2,
        "viewMode": "Public",
        "viewers": [
          "updated"
        ],
        "status": "Paused",
        "actionLinkTemplate": "updated",
        "dataSourceParameter": {
          "connectionString": "updated",
          "query": "get data"
        },
        "authenticationType": "Basic",
        "credentialId": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "b0e794f5-f45a-45a5-8f27-78964ad28272",
        "dataFeedName": "update650e945a-5ad5-4bac-b242-e33e9cebc16c",
        "metrics": [
          {
            "metricId": "d0c82411-c2d9-4755-8a8d-65728b9a385f",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": "the [...]
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/b0e794f5-f45a-45a5-8f27-78964ad28272",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "data_feed_id": "b0e794f5-f45a-45a5-8f27-78964ad28272",
    "data_feed_metric_id": "d0c82411-c2d9-4755-8a8d-65728b9a385f",
    "data_feed_name": "datafeed1333d51c-8be6-413a-ba1a-30054071cf25",
    "data_feed_updated_name": "update650e945a-5ad5-4bac-b242-e33e9cebc16c"
  }
}
