{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "hookId": "995d23e0-582e-436d-98d7-c4ff247c3535",
            "hookName": "krista\u0027s test webhook",
            "hookType": "Webhook",
            "externalLink": "",
            "description": "",
            "admins": [
              "krpratic@microsoft.com"
            ],
            "hookParameter": {
              "endpoint": "https://www.bing.com",
              "username": "",
              "password": "",
              "certificatePassword": ""
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
