{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/dbe98b78-8bed-4bd5-ad97-f2e33c6eed2e",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "hookId": "dbe98b78-8bed-4bd5-ad97-f2e33c6eed2e",
        "hookName": "emailhook97390352-1662-4988-8500-db571c13df33",
        "hookType": "Email",
        "externalLink": "external link",
        "description": "my email hook",
        "admins": [
          "krpratic@microsoft.com"
        ],
        "hookParameter": {
          "toList": [
            "yournamehere@microsoft.com"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/dbe98b78-8bed-4bd5-ad97-f2e33c6eed2e",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "email_hook_id": "dbe98b78-8bed-4bd5-ad97-f2e33c6eed2e",
    "email_hook_name": "emailhook97390352-1662-4988-8500-db571c13df33",
    "hook_updated_name": "update2b1e806d-af1e-4c7e-b6a2-6fdbe8935acf"
  }
}
