{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022dataSourceCredentialType\u0022: \u0022ServicePrincipalInKV\u0022, \u0022dataSourceCredentialName\u0022: \u0022testserviceprincipalcredential67ea094d-0ef2-4584-a882-ad054e0ca50a\u0022, \u0022dataSourceCredentialDescription\u0022: \u0022my credential\u0022, \u0022parameters\u0022: {\u0022keyVaultEndpoint\u0022: \u0022key_vault_endpoint\u0022, \u0022keyVaultClientId\u0022: \u0022key_vault_client_id\u0022, \u0022keyVaultClientSecret\u0022: \u0022key_vault_client_secret\u0022, \u0022servicePrincipalIdNameInKV\u0022: \u0022service_principal_id_name_in_kv\u0022, \u0022servicePrincipalSecretNameInKV\u0022: \u0022service_principal_secret_name_in_kv\u0022, \u0022tenantId\u0022: \u0022tenant_id\u0022}}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/b444ea94-45b7-4b1b-a929-0fd3399c1b87"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/b444ea94-45b7-4b1b-a929-0fd3399c1b87",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataSourceCredentialId": "b444ea94-45b7-4b1b-a929-0fd3399c1b87",
        "dataSourceCredentialName": "testserviceprincipalcredential67ea094d-0ef2-4584-a882-ad054e0ca50a",
        "dataSourceCredentialDescription": "my credential",
        "dataSourceCredentialType": "ServicePrincipalInKV",
        "parameters": {
          "servicePrincipalSecretNameInKV": "service_principal_secret_name_in_kv",
          "servicePrincipalIdNameInKV": "service_principal_id_name_in_kv",
          "tenantId": "tenant_id",
          "keyVaultClientId": "key_vault_client_id",
          "keyVaultEndpoint": "key_vault_endpoint"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/b444ea94-45b7-4b1b-a929-0fd3399c1b87",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "credential_id": "b444ea94-45b7-4b1b-a929-0fd3399c1b87",
    "credential_name": "testserviceprincipalcredential67ea094d-0ef2-4584-a882-ad054e0ca50a"
  }
}
