{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/metrics/metrics_advisor_metric_id/enrichment/anomalyDetection/configurations",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "anomalyDetectionConfigurationId": "4a39832e-ef19-4b17-bcbe-3321e7f73cda",
            "name": "Default",
            "description": "",
            "metricId": "metrics_advisor_metric_id",
            "wholeMetricConfiguration": {
              "smartDetectionCondition": {
                "sensitivity": 79.0,
                "anomalyDetectorDirection": "Both",
                "suppressCondition": {
                  "minNumber": 1,
                  "minRatio": 100.0
                }
              }
            },
            "dimensionGroupOverrideConfigurations": [],
            "seriesOverrideConfigurations": []
          },
          {
            "anomalyDetectionConfigurationId": "metrics_advisor_anomaly_detection_configuration_id",
            "name": "Default",
            "description": "This description was generated by a sample.",
            "metricId": "metrics_advisor_metric_id",
            "wholeMetricConfiguration": {
              "smartDetectionCondition": {
                "sensitivity": 100.0,
                "anomalyDetectorDirection": "Both",
                "suppressCondition": {
                  "minNumber": 1,
                  "minRatio": 100.0
                }
              }
            },
            "dimensionGroupOverrideConfigurations": [],
            "seriesOverrideConfigurations": []
          }
        ]
      }
    }
  ],
  "Variables": {}
}
