{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "dataSourceCredentialType": "DataLakeGen2SharedKey",
        "dataSourceCredentialName": "testdatalakecredential019a5a28-4621-4943-b6c8-ef9c16783152",
        "dataSourceCredentialDescription": "my credential",
        "parameters": {
          "accountKey": "azure_datalake_account_key"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/a21fa892-9dd9-48bc-a4a1-1d31af27b57e"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/a21fa892-9dd9-48bc-a4a1-1d31af27b57e",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataSourceCredentialId": "a21fa892-9dd9-48bc-a4a1-1d31af27b57e",
        "dataSourceCredentialName": "testdatalakecredential019a5a28-4621-4943-b6c8-ef9c16783152",
        "dataSourceCredentialDescription": "my credential",
        "dataSourceCredentialType": "DataLakeGen2SharedKey",
        "parameters": {}
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/a21fa892-9dd9-48bc-a4a1-1d31af27b57e",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "credential_id": "a21fa892-9dd9-48bc-a4a1-1d31af27b57e",
    "credential_name": "testdatalakecredential019a5a28-4621-4943-b6c8-ef9c16783152"
  }
}
