{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "alertconfig7c15b324-ee5a-4e37-8d06-bbe49979e826",
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "d225cf23-3e03-4e04-9618-616ae00c0729",
            "anomalyScopeType": "Dimension",
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Shenzhen"
              }
            },
            "valueFilter": {
              "lower": 1.0,
              "direction": "Down",
              "metricId": "f9182d7f-71af-41d3-bc28-ee0e55fec109"
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/e9ac8660-8b1d-4c1d-af96-453091463433"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/e9ac8660-8b1d-4c1d-af96-453091463433",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "e9ac8660-8b1d-4c1d-af96-453091463433",
        "name": "alertconfig7c15b324-ee5a-4e37-8d06-bbe49979e826",
        "description": "",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "d225cf23-3e03-4e04-9618-616ae00c0729",
            "anomalyScopeType": "Dimension",
            "negationOperation": false,
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Shenzhen"
              }
            },
            "valueFilter": {
              "lower": 1.0,
              "direction": "Down",
              "metricId": "f9182d7f-71af-41d3-bc28-ee0e55fec109",
              "triggerForMissing": false,
              "type": "Value"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/e3c891b6-dc31-462c-a02a-070fd56b21c2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_name": "alertconfig7c15b324-ee5a-4e37-8d06-bbe49979e826",
    "data_feed_id": "e3c891b6-dc31-462c-a02a-070fd56b21c2",
    "data_feed_metric_id": "f9182d7f-71af-41d3-bc28-ee0e55fec109",
    "data_feed_name": "datafeed88f7df5c-efac-45f3-aef1-6c90c85135fb",
    "detection_config_id": "d225cf23-3e03-4e04-9618-616ae00c0729",
    "detection_config_name": "detectionconfig32aa5dcc-3f79-4c3a-8b67-740db2537a7a"
  }
}
