{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/d06a5473-19cf-4823-bdc2-9ebba28db27f",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "d06a5473-19cf-4823-bdc2-9ebba28db27f",
        "dataFeedName": "datafeedf41df204-a032-4602-92dd-411debcc0b51",
        "metrics": [
          {
            "metricId": "1193d74c-94aa-42bb-a430-e24283405d91",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": "the cost"
          },
          {
            "metricId": "91de965b-559f-4c1e-be7f-991ee8630a3b",
            "metricName": "revenue",
            "metricDisplayName": "revenue",
            "metricDescription": "the revenue"
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "category"
          },
          {
            "dimensionName": "region",
            "dimensionDisplayName": "region"
          }
        ],
        "dataStartFrom": "2019-10-01T00:00:00Z",
        "dataSourceType": "SqlServer",
        "timestampColumn": "Timestamp",
        "startOffsetInSeconds": -1,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "needRollup": "NoRollup",
        "fillMissingPointType": "SmartFilling",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "my first data feed",
        "stopRetryAfterInSeconds": -1,
        "minRetryIntervalInSeconds": -1,
        "maxConcurrency": 0,
        "viewMode": "Private",
        "admins": [
          "yournamehere@microsoft.com",
          "f850650c-1fcf-4489-b46f-71af2e30d360"
        ],
        "viewers": [
          "viewers"
        ],
        "creator": "f850650c-1fcf-4489-b46f-71af2e30d360",
        "status": "Active",
        "createdTime": "2022-09-29T23:25:47Z",
        "isAdmin": true,
        "actionLinkTemplate": "action link template",
        "dataSourceParameter": {
          "query": "select * from adsample2 where Timestamp = @StartTime"
        },
        "authenticationType": "Basic"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/d06a5473-19cf-4823-bdc2-9ebba28db27f",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "dataSourceType": "SqlServer",
        "dataFeedName": "updatebd864eb0-c3cd-41f6-820f-fffbe1a06234",
        "dataFeedDescription": "updated",
        "granularityName": "Daily",
        "metrics": [
          {
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": "the cost"
          },
          {
            "metricName": "revenue",
            "metricDisplayName": "revenue",
            "metricDescription": "the revenue"
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "category"
          },
          {
            "dimensionName": "region",
            "dimensionDisplayName": "region"
          }
        ],
        "timestampColumn": "time",
        "dataStartFrom": "2021-12-10T00:00:00.000Z",
        "startOffsetInSeconds": 1,
        "maxConcurrency": 1,
        "minRetryIntervalInSeconds": 120,
        "stopRetryAfterInSeconds": 1,
        "needRollup": "AlreadyRollup",
        "rollUpMethod": "Sum",
        "rollUpColumns": [],
        "allUpIdentification": "sumrollup",
        "fillMissingPointType": "CustomValue",
        "fillMissingPointValue": 2.0,
        "viewMode": "Public",
        "admins": [
          "yournamehere@microsoft.com",
          "f850650c-1fcf-4489-b46f-71af2e30d360"
        ],
        "viewers": [
          "updated"
        ],
        "status": "Paused",
        "actionLinkTemplate": "updated",
        "authenticationType": "Basic",
        "dataSourceParameter": {
          "connectionString": "updated",
          "query": "get data"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "d06a5473-19cf-4823-bdc2-9ebba28db27f",
        "dataFeedName": "updatebd864eb0-c3cd-41f6-820f-fffbe1a06234",
        "metrics": [
          {
            "metricId": "1193d74c-94aa-42bb-a430-e24283405d91",
            "metricName": "cost",
            "metricDisplayName": [...]
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/d06a5473-19cf-4823-bdc2-9ebba28db27f",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "data_feed_id": "d06a5473-19cf-4823-bdc2-9ebba28db27f",
    "data_feed_metric_id": "1193d74c-94aa-42bb-a430-e24283405d91",
    "data_feed_name": "datafeedf41df204-a032-4602-92dd-411debcc0b51",
    "data_feed_updated_name": "updatebd864eb0-c3cd-41f6-820f-fffbe1a06234"
  }
}
