{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/9e520c58-381b-4209-b2a1-c6d5f642548f",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "hookType": "Email",
        "hookName": "updatea6e59e9a-3b63-4611-9d86-790c2141dc9d",
        "externalLink": null,
        "description": null,
        "hookParameter": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "hookId": "9e520c58-381b-4209-b2a1-c6d5f642548f",
        "hookName": "updatea6e59e9a-3b63-4611-9d86-790c2141dc9d",
        "hookType": "Email",
        "externalLink": "",
        "description": "",
        "admins": [
          "f850650c-1fcf-4489-b46f-71af2e30d360"
        ],
        "hookParameter": {
          "toList": [
            "yournamehere@microsoft.com"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/9e520c58-381b-4209-b2a1-c6d5f642548f",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "email_hook_id": "9e520c58-381b-4209-b2a1-c6d5f642548f",
    "email_hook_name": "emailhook798495e6-90b9-4d45-b0ab-3e61ff717c4b",
    "hook_updated_name": "updatea6e59e9a-3b63-4611-9d86-790c2141dc9d"
  }
}
