{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/bac60bec-bbff-45f7-85e7-fe74857235a3",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": "{\u0022hookName\u0022: \u0022update5362fca1-f29b-4db5-9d59-a89d90f0497b\u0022, \u0022description\u0022: \u0022update\u0022, \u0022externalLink\u0022: \u0022update\u0022, \u0022hookType\u0022: \u0022Email\u0022, \u0022hookParameter\u0022: {\u0022toList\u0022: [\u0022myemail@m.com\u0022]}}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "hookId": "bac60bec-bbff-45f7-85e7-fe74857235a3",
        "hookName": "update5362fca1-f29b-4db5-9d59-a89d90f0497b",
        "hookType": "Email",
        "externalLink": "update",
        "description": "update",
        "admins": [
          "krpratic@microsoft.com"
        ],
        "hookParameter": {
          "toList": [
            "myemail@m.com"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/bac60bec-bbff-45f7-85e7-fe74857235a3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "email_hook_id": "bac60bec-bbff-45f7-85e7-fe74857235a3",
    "email_hook_name": "emailhook7b2cba86-ef70-4e6f-9ac6-ce1073037b60",
    "hook_updated_name": "update5362fca1-f29b-4db5-9d59-a89d90f0497b"
  }
}
