{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "testdetectionconfig7c9a86d2-e69e-4e8c-99c2-d03392ae8bb0",
        "description": "My test metric anomaly detection configuration",
        "metricId": "84b3559b-e945-4a82-ae34-2211ac9a5e07",
        "wholeMetricConfiguration": {
          "conditionOperator": "AND",
          "smartDetectionCondition": {
            "sensitivity": 50.0,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 5,
              "minRatio": 5.0
            }
          },
          "hardThresholdCondition": {
            "lowerBound": 0.0,
            "upperBound": 100.0,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 5,
              "minRatio": 5.0
            }
          },
          "changeThresholdCondition": {
            "changePercentage": 50.0,
            "shiftPoint": 30,
            "withinRange": true,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 2,
              "minRatio": 2.0
            }
          }
        },
        "dimensionGroupOverrideConfigurations": [
          {
            "smartDetectionCondition": {
              "sensitivity": 63.0,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 1,
                "minRatio": 100.0
              }
            },
            "group": {
              "dimension": {
                "region": "Sao Paulo"
              }
            }
          }
        ],
        "seriesOverrideConfigurations": [
          {
            "smartDetectionCondition": {
              "sensitivity": 63.0,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 1,
                "minRatio": 100.0
              }
            },
            "series": {
              "dimension": {
                "region": "Shenzhen",
                "category": "Jewelry"
              }
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/93bd9809-f104-4c71-a448-e5436a5b62cb"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/93bd9809-f104-4c71-a448-e5436a5b62cb",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyDetectionConfigurationId": "93bd9809-f104-4c71-a448-e5436a5b62cb",
        "name": "testdetectionconfig7c9a86d2-e69e-4e8c-99c2-d03392ae8bb0",
        "description": "My test metric anomaly detection configuration",
        "metricId": "84b3559b-e945-4a82-ae34-2211ac9a5e07",
        "wholeMetricConfiguration": {
          "conditionOperator": "AND",
          "smartDetectionCondition": {
            "sensitivity": 50.0,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNu[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/3ba65f71-e530-4d8b-92d4-a3797ea01412",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "data_feed_id": "3ba65f71-e530-4d8b-92d4-a3797ea01412",
    "data_feed_metric_id": "84b3559b-e945-4a82-ae34-2211ac9a5e07",
    "data_feed_name": "datafeed1495840e-f70b-4089-b497-086e33f8ad5f",
    "detection_config_name": "testdetectionconfig7c9a86d2-e69e-4e8c-99c2-d03392ae8bb0"
  }
}
