{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022name\u0022: \u0022alertconfigb9534a65-ef1f-462a-b949-78cd73ab66de\u0022, \u0022hookIds\u0022: [], \u0022metricAlertingConfigurations\u0022: [{\u0022anomalyDetectionConfigurationId\u0022: \u002275a47ddf-41fc-42e9-a5ed-7d084478086f\u0022, \u0022anomalyScopeType\u0022: \u0022Dimension\u0022, \u0022dimensionAnomalyScope\u0022: {\u0022dimension\u0022: {\u0022region\u0022: \u0022Shenzhen\u0022}}, \u0022valueFilter\u0022: {\u0022upper\u0022: 5.0, \u0022direction\u0022: \u0022Up\u0022, \u0022type\u0022: \u0022Value\u0022, \u0022metricId\u0022: \u0022d8bb6830-7e9f-4438-8c21-51659bc9309d\u0022}}]}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/6cfac320-8757-4b48-9e11-43f3d5dd2809"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/6cfac320-8757-4b48-9e11-43f3d5dd2809",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "6cfac320-8757-4b48-9e11-43f3d5dd2809",
        "name": "alertconfigb9534a65-ef1f-462a-b949-78cd73ab66de",
        "description": "",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "75a47ddf-41fc-42e9-a5ed-7d084478086f",
            "anomalyScopeType": "Dimension",
            "negationOperation": false,
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Shenzhen"
              }
            },
            "valueFilter": {
              "upper": 5.0,
              "direction": "Up",
              "metricId": "d8bb6830-7e9f-4438-8c21-51659bc9309d",
              "triggerForMissing": false,
              "type": "Value"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/7e484c12-83df-42a9-9d00-655165c7ba57",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_name": "alertconfigb9534a65-ef1f-462a-b949-78cd73ab66de",
    "data_feed_id": "7e484c12-83df-42a9-9d00-655165c7ba57",
    "data_feed_metric_id": "d8bb6830-7e9f-4438-8c21-51659bc9309d",
    "data_feed_name": "datafeedqobbcozxvcldqccb",
    "detection_config_id": "75a47ddf-41fc-42e9-a5ed-7d084478086f",
    "detection_config_name": "detectionconfiggbwck7msy"
  }
}
