{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/1ef0dbe3-caa2-4038-b73d-d4bac5d8e2e7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "hookId": "1ef0dbe3-caa2-4038-b73d-d4bac5d8e2e7",
        "hookName": "emailhook5jvks6z3bqijef6",
        "hookType": "Email",
        "externalLink": "external link",
        "description": "my email hook",
        "admins": [
          "f850650c-1fcf-4489-b46f-71af2e30d360"
        ],
        "hookParameter": {
          "toList": [
            "yournamehere@microsoft.com"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/1ef0dbe3-caa2-4038-b73d-d4bac5d8e2e7",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "email_hook_id": "1ef0dbe3-caa2-4038-b73d-d4bac5d8e2e7",
    "email_hook_name": "emailhook5jvks6z3bqijef6"
  }
}
