{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022dataSourceCredentialType\u0022: \u0022DataLakeGen2SharedKey\u0022, \u0022dataSourceCredentialName\u0022: \u0022testdatalakecredential44d30520-32ac-4a03-87fe-2f40173690fc\u0022, \u0022dataSourceCredentialDescription\u0022: \u0022my credential\u0022, \u0022parameters\u0022: {\u0022accountKey\u0022: \u0022azure_datalake_account_key\u0022}}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/031fbac6-144f-44de-9992-a5e561d77a2e"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/031fbac6-144f-44de-9992-a5e561d77a2e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataSourceCredentialId": "031fbac6-144f-44de-9992-a5e561d77a2e",
        "dataSourceCredentialName": "testdatalakecredential44d30520-32ac-4a03-87fe-2f40173690fc",
        "dataSourceCredentialDescription": "my credential",
        "dataSourceCredentialType": "DataLakeGen2SharedKey",
        "parameters": {}
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/031fbac6-144f-44de-9992-a5e561d77a2e",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "credential_id": "031fbac6-144f-44de-9992-a5e561d77a2e",
    "credential_name": "testdatalakecredential44d30520-32ac-4a03-87fe-2f40173690fc"
  }
}
