{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/metrics_advisor_anomaly_detection_configuration_id/alert/anomaly/configurations",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "anomalyAlertingConfigurationId": "0fc30e29-f05d-43a0-b152-7431d717640d",
            "name": "test_alert_configuration",
            "description": "testing_alert_configuration_description",
            "crossMetricsOperator": "XOR",
            "splitAlertByDimensions": [],
            "hookIds": [],
            "metricAlertingConfigurations": [
              {
                "anomalyDetectionConfigurationId": "metrics_advisor_anomaly_detection_configuration_id",
                "anomalyScopeType": "All",
                "negationOperation": false
              },
              {
                "anomalyDetectionConfigurationId": "metrics_advisor_anomaly_detection_configuration_id",
                "anomalyScopeType": "All",
                "negationOperation": false
              }
            ]
          },
          {
            "anomalyAlertingConfigurationId": "621678ce-099d-4e81-ab5a-469ddc7c2c67",
            "name": "test_alert_configuration",
            "description": "testing_alert_configuration_description",
          [...]
