{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/f80d6f7f-e7f2-4971-bd0a-fc8dd791c42a",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "name": "updatec43bb3bb-92c8-4440-8666-7c7d30ed3224",
        "description": ""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyDetectionConfigurationId": "f80d6f7f-e7f2-4971-bd0a-fc8dd791c42a",
        "name": "updatec43bb3bb-92c8-4440-8666-7c7d30ed3224",
        "description": "",
        "metricId": "caddf31f-6083-4ce1-86dd-627c10f5a29e",
        "wholeMetricConfiguration": {
          "conditionOperator": "AND",
          "smartDetectionCondition": {
            "sensitivity": 50.0,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 5,
              "minRatio": 5.0
            }
          },
          "hardThresholdCondition": {
            "lowerBound": 0.0,
            "upperBound": 100.0,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 5,
              "minRatio": 5.0
            }
          },
          "changeThresholdCondition": {
            "changePercentage": 50.0,
            "shiftPoint": 30,
            "anomalyDetectorDirection": "Both",
            "withinRange": true,
            "suppressCondition": {
              "minNumber": 2,
              "minRatio": 2.0
            }
          }
        },
        "dimensionGroupOverrideConfigurations": [
          {
            "group": {
              "dimension": {
                "region": "Beijing"
              }
            },
            "smartDetectionCondition": {
              "sensitivity": 63.0,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 1,
                "minRatio": 100.0
              }
            }
          }
        ],
        "seriesOverrideConfigurations": [
          {
            "series": {
              "dimension": {
                "region": "Beijing",
                "category": "Shoes Handbags \u0026 Sunglasses"
              }
            },
            "smartDetectionCondition": {
              "sensitivity": 63.0,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 1,
                "minRatio": 100.0
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/88b49af3-2217-470c-9f3e-d53c6e92c785",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "data_feed_id": "88b49af3-2217-470c-9f3e-d53c6e92c785",
    "data_feed_metric_id": "caddf31f-6083-4ce1-86dd-627c10f5a29e",
    "data_feed_name": "datafeed10685f59-bd32-4c37-b658-066744c29b97",
    "data_feed_updated_name": "updatec43bb3bb-92c8-4440-8666-7c7d30ed3224",
    "detection_config_id": "f80d6f7f-e7f2-4971-bd0a-fc8dd791c42a",
    "detection_config_name": "detectionconfig2ca911bc-e434-4ee9-9d24-cf4fc01012ad"
  }
}
