{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/50b19930-d3e9-42e9-9af3-1e84b0c0234b",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "50b19930-d3e9-42e9-9af3-1e84b0c0234b",
        "name": "alertconfig0ce95a95-09f6-4922-a650-b1c8c9d99c32",
        "description": "",
        "crossMetricsOperator": "AND",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "2c5f604e-6673-436a-8991-5b9e210b94d7",
            "anomalyScopeType": "TopN",
            "negationOperation": false,
            "topNAnomalyScope": {
              "top": 5,
              "period": 10,
              "minTopCount": 9
            },
            "valueFilter": {
              "lower": 1.0,
              "upper": 5.0,
              "direction": "Both",
              "metricId": "55515cca-647d-4e39-81c9-4732b048431f",
              "triggerForMissing": false,
              "type": "Value"
            }
          },
          {
            "anomalyDetectionConfigurationId": "2c5f604e-6673-436a-8991-5b9e210b94d7",
            "anomalyScopeType": "Dimension",
            "negationOperation": false,
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Beijing"
              }
            },
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          },
          {
            "anomalyDetectionConfigurationId": "2c5f604e-6673-436a-8991-5b9e210b94d7",
            "anomalyScopeType": "All",
            "negationOperation": false,
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/d8c6753f-9bef-4d98-997b-c0ebf90a416b",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_id": "50b19930-d3e9-42e9-9af3-1e84b0c0234b",
    "alert_config_name": "alertconfig0ce95a95-09f6-4922-a650-b1c8c9d99c32",
    "alert_config_updated_name": "update3cc619dd-5072-4b72-b528-0dd4c1f307cc",
    "data_feed_id": "d8c6753f-9bef-4d98-997b-c0ebf90a416b",
    "data_feed_metric_id": "55515cca-647d-4e39-81c9-4732b048431f",
    "data_feed_name": "datafeed54bd33db-7112-457d-a641-af5593867c45",
    "detection_config_id": "2c5f604e-6673-436a-8991-5b9e210b94d7",
    "detection_config_name": "detectionconfig1564ecdc-4870-472c-8f70-4cf10d70aa63"
  }
}
