{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "dataSourceType": "MongoDB",
        "dataFeedName": "mongodb40407d5d-d482-493d-ab53-782f5ddbbc47",
        "granularityName": "Daily",
        "metrics": [
          {
            "metricName": "cost"
          },
          {
            "metricName": "revenue"
          }
        ],
        "dimension": [
          {
            "dimensionName": "category"
          },
          {
            "dimensionName": "city"
          }
        ],
        "dataStartFrom": "2019-01-01T00:00:00.000Z",
        "startOffsetInSeconds": 0,
        "maxConcurrency": -1,
        "minRetryIntervalInSeconds": -1,
        "stopRetryAfterInSeconds": -1,
        "viewMode": "Private",
        "authenticationType": "Basic",
        "dataSourceParameter": {
          "connectionString": "mongodb_connection_string",
          "database": "adsample",
          "command": "{\u0022find\u0022: \u0022adsample\u0022, \u0022filter\u0022: { Timestamp: { $eq: @StartTime }} \u0022batchSize\u0022: 2000,}"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/6adf7277-865d-4120-a5a9-8a94355c58f7"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/6adf7277-865d-4120-a5a9-8a94355c58f7",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "6adf7277-865d-4120-a5a9-8a94355c58f7",
        "dataFeedName": "mongodb40407d5d-d482-493d-ab53-782f5ddbbc47",
        "metrics": [
          {
            "metricId": "352532a0-9dfb-467d-b900-15dd72be2072",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": ""
          },
          {
            "metricId": "ccab35fc-209f-4724-98c9-a57d499a5fc1",
            "metricName": "revenue",
            "metricDisplayName": "revenue",
            "metricDescription": ""
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "category"
          },
          {
            "dimensionName": "city",
            "dimensionDisplayName": "city"
          }
        ],
        "dataStartFrom": "2019-01-01T00:00:00Z",
        "dataSourceType": "MongoDB",
        "timestampColumn": "",
        "startOffsetInSeconds": 0,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "needRollup": "NoRollup",
        "fillMissingPointType": "PreviousValue",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "",
        "stopRetryAfterInSeconds": -1,
        "minRetryIntervalInSeconds": -1,
        "maxConcurrency": -1,
        "viewMode": "Private",
        "admins": [
          "krpratic@microsoft.com"
        ],
        "viewers": [],
        "creator": "krpratic@microsoft.com",
        "status": "Active",
        "createdTime": "2022-09-29T23:25:30Z",
        "isAdmin": true,
        "actionLinkTemplate": "",
        "dataSourceParameter": {
          "database": "adsample",
          "command": "{\u0022find\u0022: \u0022adsample\u0022, \u0022filter\u0022: { Timestamp: { $eq: @StartTime }} \u0022batchSize\u0022: 2000,}"
        },
        "authenticationType": "Basic"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/6adf7277-865d-4120-a5a9-8a94355c58f7",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "data_feed_id": "6adf7277-865d-4120-a5a9-8a94355c58f7",
    "data_feed_name": "mongodb40407d5d-d482-493d-ab53-782f5ddbbc47"
  }
}
