{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/4914a4fb-08ea-453f-9df9-8c4696b1c842",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "hookType": "Email",
        "hookName": "update707d90b5-512a-482c-972e-64aaac6e6ffa",
        "externalLink": null,
        "description": null,
        "hookParameter": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "hookId": "4914a4fb-08ea-453f-9df9-8c4696b1c842",
        "hookName": "update707d90b5-512a-482c-972e-64aaac6e6ffa",
        "hookType": "Email",
        "externalLink": "",
        "description": "",
        "admins": [
          "krpratic@microsoft.com"
        ],
        "hookParameter": {
          "toList": [
            "yournamehere@microsoft.com"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/4914a4fb-08ea-453f-9df9-8c4696b1c842",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "email_hook_id": "4914a4fb-08ea-453f-9df9-8c4696b1c842",
    "email_hook_name": "emailhookd5fbb035-9f02-40a0-8f86-2d6d5abb0d1b",
    "hook_updated_name": "update707d90b5-512a-482c-972e-64aaac6e6ffa"
  }
}
