{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/15c98272-f3b7-4acf-a497-1e3089c1a45f",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": "{\u0022name\u0022: \u0022reset\u0022, \u0022description\u0022: \u0022\u0022}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyDetectionConfigurationId": "15c98272-f3b7-4acf-a497-1e3089c1a45f",
        "name": "reset",
        "description": "",
        "metricId": "ea7a1a72-4ddd-4ca1-8c58-34bf794ec648",
        "wholeMetricConfiguration": {
          "conditionOperator": "AND",
          "smartDetectionCondition": {
            "sensitivity": 50.0,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 5,
              "minRatio": 5.0
            }
          },
          "hardThresholdCondition": {
            "lowerBound": 0.0,
            "upperBound": 100.0,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 5,
              "minRatio": 5.0
            }
          },
          "changeThresholdCondition": {
            "changePercentage": 50.0,
            "shiftPoint": 30,
            "anomalyDetectorDirection": "Both",
            "withinRange": true,
            "suppressCondition": {
              "minNumber": 2,
              "minRatio": 2.0
            }
          }
        },
        "dimensionGroupOverrideConfigurations": [
          {
            "group": {
              "dimension": {
                "region": "Beijing"
              }
            },
            "smartDetectionCondition": {
              "sensitivity": 63.0,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 1,
                "minRatio": 100.0
              }
            }
          }
        ],
        "seriesOverrideConfigurations": [
          {
            "series": {
              "dimension": {
                "region": "Beijing",
                "category": "Shoes Handbags \u0026 Sunglasses"
              }
            },
            "smartDetectionCondition": {
              "sensitivity": 63.0,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 1,
                "minRatio": 100.0
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/bcf2ae13-bf8d-429d-8b7b-5af73ba34eb3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "data_feed_id": "bcf2ae13-bf8d-429d-8b7b-5af73ba34eb3",
    "data_feed_metric_id": "ea7a1a72-4ddd-4ca1-8c58-34bf794ec648",
    "data_feed_name": "datafeedmxlyvqv5xrbidb4e",
    "detection_config_id": "15c98272-f3b7-4acf-a497-1e3089c1a45f",
    "detection_config_name": "detectionconfigequobxx5l"
  }
}
