{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/a51c840a-15f5-4c47-a871-1c10e09593af",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "hookId": "a51c840a-15f5-4c47-a871-1c10e09593af",
        "hookName": "web_hook93eac3a2-3e56-413d-a683-d791c9463967",
        "hookType": "Webhook",
        "externalLink": "external link",
        "description": "my web hook",
        "admins": [
          "f850650c-1fcf-4489-b46f-71af2e30d360"
        ],
        "hookParameter": {
          "endpoint": "https://httpbin.org/post",
          "username": "krista",
          "password": "123"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/a51c840a-15f5-4c47-a871-1c10e09593af",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "hook_updated_name": "update58aa03c9-dbe5-45da-a933-427aba70a6cf",
    "web_hook_id": "a51c840a-15f5-4c47-a871-1c10e09593af",
    "web_hook_name": "web_hook93eac3a2-3e56-413d-a683-d791c9463967"
  }
}
