{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "feedbackType": "Anomaly",
        "metricId": "metrics_advisor_metric_id",
        "dimensionFilter": {
          "dimension": {
            "Dim1": "USD"
          }
        },
        "startTime": "2022-03-01T00:00:00.000Z",
        "endTime": "2022-09-29T00:00:00.000Z",
        "value": {
          "anomalyValue": "NotAnomaly"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/fa0b14f7-6258-4c1e-a216-0fb640dbab5e"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
