{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "alertconfig2119b6f7-74fe-4238-abfa-12645eea923b",
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "b5dc66ac-2e0a-4e55-9533-c9552ca52e7b",
            "anomalyScopeType": "TopN",
            "topNAnomalyScope": {
              "top": 5,
              "period": 10,
              "minTopCount": 9
            },
            "valueFilter": {
              "lower": 1.0,
              "upper": 5.0,
              "direction": "Both",
              "metricId": "696b80b1-6425-4dff-ba09-63ccc0ed5bc1"
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/204b36fc-b66c-4f67-957c-ef57490664de"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/204b36fc-b66c-4f67-957c-ef57490664de",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "204b36fc-b66c-4f67-957c-ef57490664de",
        "name": "alertconfig2119b6f7-74fe-4238-abfa-12645eea923b",
        "description": "",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "b5dc66ac-2e0a-4e55-9533-c9552ca52e7b",
            "anomalyScopeType": "TopN",
            "negationOperation": false,
            "topNAnomalyScope": {
              "top": 5,
              "period": 10,
              "minTopCount": 9
            },
            "valueFilter": {
              "lower": 1.0,
              "upper": 5.0,
              "direction": "Both",
              "metricId": "696b80b1-6425-4dff-ba09-63ccc0ed5bc1",
              "triggerForMissing": false,
              "type": "Value"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/204b36fc-b66c-4f67-957c-ef57490664de",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "code": "Not Found",
        "message": "Not found this AnomalyAlertingConfiguration. TraceId: 9fcdd63e-9fcb-43ab-92eb-739b704d88c2"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/af43abf2-9cc5-458d-938d-d30b5b1b3e6a",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_id": "204b36fc-b66c-4f67-957c-ef57490664de",
    "alert_config_name": "alertconfig2119b6f7-74fe-4238-abfa-12645eea923b",
    "data_feed_id": "af43abf2-9cc5-458d-938d-d30b5b1b3e6a",
    "data_feed_metric_id": "696b80b1-6425-4dff-ba09-63ccc0ed5bc1",
    "data_feed_name": "datafeedaaac25af-9db8-4ac9-803d-640e1fb5c8eb",
    "detection_config_id": "b5dc66ac-2e0a-4e55-9533-c9552ca52e7b",
    "detection_config_name": "detectionconfiga4e36028-3ce7-4718-90ed-6dc080f6c380"
  }
}
