{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "testdetectionconfigd5763ebc-8f53-4977-8105-fc0aac028054",
        "description": "My test metric anomaly detection configuration",
        "metricId": "a927257b-37f0-4e87-b1a0-89a9cb0b7126",
        "wholeMetricConfiguration": {
          "conditionOperator": "AND",
          "smartDetectionCondition": {
            "sensitivity": 50.0,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 5,
              "minRatio": 5.0
            }
          },
          "hardThresholdCondition": {
            "lowerBound": 0.0,
            "upperBound": 100.0,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 5,
              "minRatio": 5.0
            }
          },
          "changeThresholdCondition": {
            "changePercentage": 50.0,
            "shiftPoint": 30,
            "withinRange": true,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 2,
              "minRatio": 2.0
            }
          }
        },
        "dimensionGroupOverrideConfigurations": [
          {
            "smartDetectionCondition": {
              "sensitivity": 63.0,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 1,
                "minRatio": 100.0
              }
            },
            "group": {
              "dimension": {
                "region": "Sao Paulo"
              }
            }
          }
        ],
        "seriesOverrideConfigurations": [
          {
            "smartDetectionCondition": {
              "sensitivity": 63.0,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 1,
                "minRatio": 100.0
              }
            },
            "series": {
              "dimension": {
                "region": "Shenzhen",
                "category": "Jewelry"
              }
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/4c2de2da-88d5-4619-9bcb-b46cfabeb11c"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/4c2de2da-88d5-4619-9bcb-b46cfabeb11c",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyDetectionConfigurationId": "4c2de2da-88d5-4619-9bcb-b46cfabeb11c",
        "name": "testdetectionconfigd5763ebc-8f53-4977-8105-fc0aac028054",
        "description": "My test metric anomaly detection configuration",
        "metricId": "a927257b-37f0-4e87-b1a0-89a9cb0b7126",
        "wholeMetricConfiguration": {
          "conditionOperator": "AND",
          "smartDetectionCondition": {
            "sensitivity": 50.0,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNu[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/34f5641b-2508-4931-8585-0992eab2328f",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "data_feed_id": "34f5641b-2508-4931-8585-0992eab2328f",
    "data_feed_metric_id": "a927257b-37f0-4e87-b1a0-89a9cb0b7126",
    "data_feed_name": "datafeed4e6cbb7e-2bf6-4f0f-9873-73bbc94c085e",
    "detection_config_name": "testdetectionconfigd5763ebc-8f53-4977-8105-fc0aac028054"
  }
}
