{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "alertconfig5a7df7f1-de76-4ae3-a0ea-2eadbb745fdf",
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "4a223c3e-bf74-414a-b8a9-fcac4d668e0f",
            "anomalyScopeType": "All",
            "valueFilter": {
              "lower": 1.0,
              "direction": "Down",
              "metricId": "9ec2242d-3ab9-482a-a109-cdff218d0965"
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/af741f88-6e1d-414e-b967-e82f2a2dc40d"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/af741f88-6e1d-414e-b967-e82f2a2dc40d",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "af741f88-6e1d-414e-b967-e82f2a2dc40d",
        "name": "alertconfig5a7df7f1-de76-4ae3-a0ea-2eadbb745fdf",
        "description": "",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "4a223c3e-bf74-414a-b8a9-fcac4d668e0f",
            "anomalyScopeType": "All",
            "negationOperation": false,
            "valueFilter": {
              "lower": 1.0,
              "direction": "Down",
              "metricId": "9ec2242d-3ab9-482a-a109-cdff218d0965",
              "triggerForMissing": false,
              "type": "Value"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/753f6a1b-68fe-4ad8-a00c-fec53aeb19a0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_name": "alertconfig5a7df7f1-de76-4ae3-a0ea-2eadbb745fdf",
    "data_feed_id": "753f6a1b-68fe-4ad8-a00c-fec53aeb19a0",
    "data_feed_metric_id": "9ec2242d-3ab9-482a-a109-cdff218d0965",
    "data_feed_name": "datafeed066181ee-a4b1-4866-ab00-6d9896f2a305",
    "detection_config_id": "4a223c3e-bf74-414a-b8a9-fcac4d668e0f",
    "detection_config_name": "detectionconfig8b09727d-11a9-495c-8a48-1c54a0387aaa"
  }
}
