{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/metrics/metrics_advisor_metric_id/series/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022activeSince\u0022: \u00222021-01-01T00:00:00.000Z\u0022}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "metricId": "metrics_advisor_metric_id",
            "dimension": {
              "category": "Shoes Handbags \u0026 Sunglasses",
              "region": "Cairo"
            }
          },
          {
            "metricId": "metrics_advisor_metric_id",
            "dimension": {
              "category": "Shoes Handbags \u0026 Sunglasses",
              "region": "__SUM__"
            }
          },
          {
            "metricId": "metrics_advisor_metric_id",
            "dimension": {
              "category": "Office Products",
              "region": "Seoul"
            }
          },
          {
            "metricId": "metrics_advisor_[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/metrics/metrics_advisor_metric_id/series/query?$maxpagesize=20\u0026$skip=20",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022activeSince\u0022: \u00222021-01-01T00:00:00.000Z\u0022}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "Re[...]
[...]
