{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/a478a715-bc8c-49d1-a4da-16932fe915a5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "a478a715-bc8c-49d1-a4da-16932fe915a5",
        "name": "alertconfigd18bcbe2-fb97-4fe6-b55d-159c9e7824f1",
        "description": "",
        "crossMetricsOperator": "AND",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "517dd464-8abb-457b-a2c6-e3b21931d8d0",
            "anomalyScopeType": "TopN",
            "negationOperation": false,
            "topNAnomalyScope": {
              "top": 5,
              "period": 10,
              "minTopCount": 9
            },
            "valueFilter": {
              "lower": 1.0,
              "upper": 5.0,
              "direction": "Both",
              "metricId": "2f0bd021-307d-4c0a-b0b9-d3f6570df843",
              "triggerForMissing": false,
              "type": "Value"
            }
          },
          {
            "anomalyDetectionConfigurationId": "517dd464-8abb-457b-a2c6-e3b21931d8d0",
            "anomalyScopeType": "Dimension",
            "negationOperation": false,
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Beijing"
              }
            },
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          },
          {
            "anomalyDetectionConfigurationId": "517dd464-8abb-457b-a2c6-e3b21931d8d0",
            "anomalyScopeType": "All",
            "negationOperation": false,
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/5d5388c6-0913-466f-ba08-e5e1b0153534",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_id": "a478a715-bc8c-49d1-a4da-16932fe915a5",
    "alert_config_name": "alertconfigd18bcbe2-fb97-4fe6-b55d-159c9e7824f1",
    "alert_config_updated_name": "updatee330d73b-f3f9-4e0b-ab38-8812b1dcc558",
    "data_feed_id": "5d5388c6-0913-466f-ba08-e5e1b0153534",
    "data_feed_metric_id": "2f0bd021-307d-4c0a-b0b9-d3f6570df843",
    "data_feed_name": "datafeedfaf00299-1e05-4e16-8a2b-35b5fbf8f20e",
    "detection_config_id": "517dd464-8abb-457b-a2c6-e3b21931d8d0",
    "detection_config_name": "detectionconfig562c7ac3-5b8c-4ff8-a093-d4e269521ceb"
  }
}
