{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "alertconfig29e0326d-e85f-4255-aa8d-36045af40055",
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "7fd30eaa-b33d-43ea-a9c6-2816463a1829",
            "anomalyScopeType": "Dimension",
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Shenzhen"
              }
            },
            "valueFilter": {
              "upper": 5.0,
              "direction": "Up",
              "metricId": "cfcbcd7c-bca1-47ea-8113-405b73dbf6d6"
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/f0e91a61-2dde-4550-885b-94d3855d67ff"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/f0e91a61-2dde-4550-885b-94d3855d67ff",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "f0e91a61-2dde-4550-885b-94d3855d67ff",
        "name": "alertconfig29e0326d-e85f-4255-aa8d-36045af40055",
        "description": "",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "7fd30eaa-b33d-43ea-a9c6-2816463a1829",
            "anomalyScopeType": "Dimension",
            "negationOperation": false,
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Shenzhen"
              }
            },
            "valueFilter": {
              "upper": 5.0,
              "direction": "Up",
              "metricId": "cfcbcd7c-bca1-47ea-8113-405b73dbf6d6",
              "triggerForMissing": false,
              "type": "Value"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/9e310312-3730-46e2-923f-ba6128974292",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_name": "alertconfig29e0326d-e85f-4255-aa8d-36045af40055",
    "data_feed_id": "9e310312-3730-46e2-923f-ba6128974292",
    "data_feed_metric_id": "cfcbcd7c-bca1-47ea-8113-405b73dbf6d6",
    "data_feed_name": "datafeed8adbe83f-b575-42ae-82b7-78c88239d477",
    "detection_config_id": "7fd30eaa-b33d-43ea-a9c6-2816463a1829",
    "detection_config_name": "detectionconfig48b6938b-7803-4f6a-8684-e52a2ab7f3f2"
  }
}
