{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022dataSourceType\u0022: \u0022AzureApplicationInsights\u0022, \u0022dataFeedName\u0022: \u0022applicationinsightsf6827208-ecd7-4f96-9dae-ff92f56d89d9\u0022, \u0022granularityName\u0022: \u0022Daily\u0022, \u0022metrics\u0022: [{\u0022metricName\u0022: \u0022cost\u0022}, {\u0022metricName\u0022: \u0022revenue\u0022}], \u0022dimension\u0022: [{\u0022dimensionName\u0022: \u0022category\u0022}, {\u0022dimensionName\u0022: \u0022city\u0022}], \u0022dataStartFrom\u0022: \u00222021-07-01T00:00:00.000Z\u0022, \u0022startOffsetInSeconds\u0022: 0, \u0022maxConcurrency\u0022: -1, \u0022minRetryIntervalInSeconds\u0022: -1, \u0022stopRetryAfterInSeconds\u0022: -1, \u0022viewMode\u0022: \u0022Private\u0022, \u0022authenticationType\u0022: \u0022Basic\u0022, \u0022dataSourceParameter\u0022: {\u0022azureCloud\u0022: \u0022Azure\u0022, \u0022applicationId\u0022: \u00223706fe8b-98f1-47c7-bf69-b73b6e53274d\u0022, \u0022apiKey\u0022: \u0022application_insights_api_key\u0022, \u0022query\u0022: \u0022let gran=60m; let starttime=datetime(@StartTime); let endtime=starttime \u002B gran; requests | where timestamp \u003E= starttime and timestamp \u003C endtime | summarize request_count = count(), duration_avg_ms = avg(duration), duration_95th_ms = percentile(duration, 95), duration_max_ms = max(duration) by resultCode\u0022}}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/de27fee9-5aa1-49f4-bd9b-a528eebba49d"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/de27fee9-5aa1-49f4-bd9b-a528eebba49d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "de27fee9-5aa1-49f4-bd9b-a528eebba49d",
        "dataFeedName": "applicationinsightsf6827208-ecd7-4f96-9dae-ff92f56d89d9",
        "metrics": [
          {
            "metricId": "e65dcc98-1033-410e-ac06-d876cd1fd5ba",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": ""
          },
          {
            "metricId": "378aa10c-5615-46b2-9888-431c69848d50",
            "metricName": "revenue",
            "metricDisplayName": "revenue",
            "metricDescription": ""
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "category"
          },
          {
            "dimensionName": "city",
            "dimensionDisplayName": "city"
          }
        ],
        "dataStartFrom": "2021-07-01T00:00:00Z",
        "dataSourceType": "AzureApplicationInsights",
        "timestampColumn": "",
        "startOffsetInSeconds": 0,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "needRollup": "NoRollup",
        "fillMissingPointType": "PreviousValue",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "",
        "stopRetryAfterInSeconds": -1,
        "minRetryIntervalInSeconds": -1,
        "maxConcurrency": -1,
        "viewMode": "Private",
        "admins": [
          "f850650c-1fcf-4489-b46f-71af2e30d360"
        ],
        "viewers": [],
        "creator": "f850650c-1fcf-4489-b46f-71af2e30d360",
        "status": "Active",
        "createdTime": "2021-12-16T01:11:41Z",
        "isAdmin": true,
        "actionLinkTemplate": "",
        "dataSourceParameter": {
          "query": "let gran=60m; let starttime=datetime(@StartTime); let endtime=starttime \u002B gran; requests | where timestamp \u003E= starttime and timestamp \u003C endtime | summarize request_count = count(), duration_avg_ms = avg(duration), duration_95th_ms = percentile(duration, 95), duration_max_ms = max(duration) by resultCode",
          "azureCloud": "Azure",
          "applicationId": "3706fe8b-98f1-47c7-bf69-b73b6e53274d"
        },
        "authenticationType": "Basic"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/de27fee9-5aa1-49f4-bd9b-a528eebba49d",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "data_feed_id": "de27fee9-5aa1-49f4-bd9b-a528eebba49d",
    "data_feed_name": "applicationinsightsf6827208-ecd7-4f96-9dae-ff92f56d89d9"
  }
}
