interactions:
- request:
    body: 'b''{"location": "eastus", "properties": {"tenantId": "00000000-0000-0000-0000-000000000000",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "00000000-0000-0000-0000-000000000000", "objectId": "00000000-0000-0000-0000-000000000000",
      "permissions": {"keys": ["encrypt", "decrypt", "wrapKey", "unwrapKey", "sign",
      "verify", "get", "list", "create", "update", "import", "delete", "backup", "restore",
      "recover", "purge"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover", "purge"], "certificates": ["get", "list", "delete", "create", "import",
      "update", "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover", "purge"]}}], "enabledForDeployment": true, "enabledForDiskEncryption":
      true, "enabledForTemplateDeployment": true}}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_keyvault_async_test_keyvault777e117f/providers/Microsoft.KeyVault/vaults/myValtZikfikxyzz?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_keyvault_async_test_keyvault777e117f/providers/Microsoft.KeyVault/vaults/myValtZikfikxyzz","name":"myValtZikfikxyzz","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"00000000-0000-0000-0000-000000000000","accessPolicies":[{"tenantId":"00000000-0000-0000-0000-000000000000","objectId":"00000000-0000-0000-0000-000000000000","permissions":{"keys":["encrypt","decrypt","wrapKey","unwrapKey","sign","verify","get","list","create","update","import","delete","backup","restore","recover","purge"],"secrets":["get","list","set","delete","backup","restore","recover","purge"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover","purge"]}}],"enabledForDeployment":true,"enabledForDiskEncryption":true,"enabledForTemplateDeployment":true,"enableSoftDelete":true,"vaultUri":"https://myValtZikfikxyzz.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes: '1198'
    status:
      code: 200
      message: OK
    url: https://management.azure.com/subscriptions/92f95d8f-3c67-4124-91c7-8cf07cdbf241/resourceGroups/test_cli_mgmt_keyvault_async_test_keyvault777e117f/providers/Microsoft.KeyVault/vaults/myValtZikfikxyzz?api-version=2019-09-01
[...]
- request:
    body: 'b''{"properties": {"accessPolicies": [{"tenantId": "00000000-0000-0000-0000-000000000000",
      "objectId": "00000000-0000-0000-0000-000000000000", "permissions": {"keys":
      ["encrypt"], "secrets": ["get"], "certificates": ["get"]}}]}}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_keyvault_async_test_keyvault777e117f/provi[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_keyvault_async_test_keyvault777e117f/providers/Microsoft.KeyVault/vaults?$top=1&api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_keyvault_async_test_keyvault777e117f/providers/Microsoft.KeyVault/vaults/myValtZikfikxyzz","name":"myValtZikfikxyzz","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"00000000-0000-0000-0000-000000000000","accessPolicies":[{"tenantId":"00000000-0000-0000-0000-000000000000","objectId":"00000000-0000-0000-0000-000000000000","permissions":{"keys":["encrypt","decrypt","wrapKey","unwrapKey","sign","verify","get","list","create","update","import","delete","backup","restore","recover","purge"],"secrets":["get","list","set","delete","backup","restore","recover","purge"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover","purge"]}}],"enabledForDeployment":true,"enabledForDiskEncryption":true,"enabledForTemplateDeployment":true,"enableSoftDelete":true,"vaultUri":"https://myvaltzikfikxyzz.vault.azure.net/","provisioningState":"Succeeded"}}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_keyvault_async_test_keyvault777e117f/providers/Microsoft.KeyVault/vaults?$top=1&api-version=2019-09-01&$skiptoken=bXlWYWx0WmlrZmlreHl6eg=="}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://management.azure.com/subscriptions/92f95d8f-3c67-4124-91c7-8cf07cdbf241/resourceGroups/test_cli_mgmt_keyvault_async_test_keyvault777e117f/providers/Microsoft.KeyVault/vaults?$top=1&api-version=2019-09-01
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_keyvault_async_test_keyvault777e117f/providers/Microsoft.KeyVault/vaults?$top=1&api-version=2019-09-01&$skiptoken=bXlWYWx0WmlrZmlreHl6eg==
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://management.azure.com/subscriptions/92f95d8f-3c67-4124-91c7-8cf07cdbf241/resourceGroups/test_cli_mgmt_keyvault_async_test_keyvault777e117f/providers/Microsoft.KeyVault/vaults?$top=1&api-version=2019-09-01&$skiptoken=bXlWYWx0WmlrZmlreHl6eg==
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/keyvaultxyzxxxxx","name":"keyvaultxyzxxxxx","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testgroupx/providers/Microsoft.KeyVault/vaults/keyvaultxyzxxxxx","location":"eastus","tags":{},"deletionDate":"2020-05-12T09:10:06Z","scheduledPurgeDate":"2020-08-10T09:10:06Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/keyvaultxyzxxxx","name":"keyvaultxyzxxxx","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testgroupx/providers/Microsoft.KeyVault/vaults/keyvaultxyzxxxx","location":"eastus","tags":{},"deletionDate":"2020-05-12T08:22:10Z","scheduledPurgeDate":"2020-08-10T08:22:10Z"}},{"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=3ZDtaoMwGIXvJYz9mlWjXbVQhmAK22okaWJh/2yMrabVYuxXSu99YZcxOHA4cDgv7/MAnbyNq6ZTGswfACVrxtdgDvbjeNJz1z2WXbmTR9mNk9KcBzkR/dHV560WQ3Mam77TbgzreFpFtROI95kT%2BjB0Yl/MnEjU3kxU2xqGvnsa%2BktTyUG7WSOGXvf1OPmW96I8H0a3kgc5yuov6I/y1DgX27TjC%2Bj5seNZ%2Ba8vWtmLvZLdgqtiQ4svRjldMlTwNY/zFT/wOv30M7a7ZSa55yyBOeMGGwExwxHx%2BJW0Ksh5BjOW3HCaGGKUh5m6YkOXxHBIPJzmHIE3sEH/gYP9PcAtgrjlofU7Nj9RZsjVsgiwlxmaUoRTZGirLIvE2F5A0z2iKZ8SRcDz%2BQs%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-original-request-ids: 970fc52b-6668-4c03-968e-87d60145429a
    status:
      code: 200
      message: OK
    url: https://management.azure.com/subscriptions/92f95d8f-3c67-4124-91c7-8cf07cdbf241/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=3ZDtaoMwGIXvJYz9mlWjXbVQhmAK22okaWJh/2yMrabVYuxXSu99YZcxOHA4cDgv7/MAnbyNq6ZTGswfACVrxtdgDvbjeNJz1z2WXbmTR9mNk9KcBzkR/dHV560WQ3Mam77TbgzreFpFtROI95kT%2BjB0Yl/MnEjU3kxU2xqGvnsa%2BktTyUG7WSOGXvf1OPmW96I8H0a3kgc5yuov6I/y1DgX27TjC%2Bj5seNZ%2Ba8vWtmLvZLdgqtiQ4svRjldMlTwNY/zFT/wOv30M7a7ZSa55yyBOeMGGwExwxHx%2BJW0Ksh5BjOW3HCaGGKUh5m6YkOXxHBIPJzmHIE3sEH/gYP9PcAtgrjlofU7Nj9RZsjVsgiwlxmaUoRTZGirLIvE2F5A0z2iKZ8SRcDz%2BQs%3D
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/vaults?$top=1&api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-changlong/providers/Microsoft.KeyVault/vaults/test-changlong","name":"test-changlong","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"properties":{"sku":{"family":"A","name":"Standard"},"tenantId":"00000000-0000-0000-0000-000000000000","accessPolicies":[{"tenantId":"00000000-0000-0000-0000-000000000000","objectId":"6bedd520-9535-468f-9ab3-79d17bea1b92","permissions":{"keys":["Get","List","Update","Create","Import","Delete","Recover","Backup","Restore"],"secrets":["Get","List","Set","Delete","Recover","Backup","Restore"],"certificates":["Get","List","Update","Create","Import","Delete","Recover","Backup","Restore","ManageContacts","ManageIssuers","GetIssuers","ListIssuers","SetIssuers","DeleteIssuers"]}}],"enabledForDeployment":false,"enabledForDiskEncryption":false,"enabledForTemplateDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"enableRbacAuthorization":false,"vaultUri":"https://test-changlong.vault.azure.net/","provisioningState":"Succeeded"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_keyvault_async_test_keyvault777e117f/providers/Microsoft.KeyVault/vaults/myValtZikfikxyzz","name":"myValtZikfikxyzz","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"00000000-0000-0000-0000-000000000000","accessPolicies":[{"tenantId":"000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/vaults?$top=1&api-version=2019-09-01&$skiptoken=1VHRbqMwEPwXVPWpBAwhCZHQqb2jtL1Cr0Aw%2BM3YphBsQNjJEar%2B%2B9H7ilbaWY1Gqx3N7rvWsUk9N10rtf275t8m6SHR9lqt1CD3hiFwh9%2BYYJ1a4fk0shXphSFPpSRjM6im76ThWpXr0F2l22Sz1dfAWusuIFt9RypzS2hZWWtgDGN/bigbpRE2ZOxlX6nVb3bJ8Ikr4/zZ5Y8r1Q8euMZDo5%2BXyWW5Z5nA1c2lwPWVbBfHvmWdR4NspvfusQx4VUKqFj6inFtFn[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/vaults?$top=1&api-version=2019-09-01&$skiptoken=1VJhb6MwDP0vqNqnUZLQrqUSOpU7WqRbqdbSBvIthNAyEkAktF2n/ffLdNN%2Bw51kW8%2BW9Sz7%2Bd1q%2BE0/V02trMW7FS73yWFvLayz1p1aOI6kDT1xyRs9pveh52PWSkcNuWJ91emqbZTjodKbFvPSdtnTzJ5ANLE9yGb2nJVgxoq8RBPodH17qQreK2dTsb5VbanHv/nbkQ5CO5fPqH6MdNv58IF2lX0xnYbcRwB6NjAGH0aqNhPbmjd%2BsT7ei5X3mq9FmeNCG9yTV[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.KeyVault/operations?api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"name":"Microsoft.KeyVault/register/action","display":{"provider":"Microsoft
        Key Vault","resource":"Subscription","operation":"Register Subscription","description":"Registers
        a subscription"},"isDataAction":false},{"name":"Microsoft.KeyVault/unregister/action","display":{"provider":"Microsoft
        Key Vault","resource":"Subscription","operation":"Unregister Subscription","description":"Unregisters
        a subscription"},"isDataAction":false},{"name":"Microsoft.KeyVault/operations/read","display":{"provider":"Microsoft
        Key Vault","resource":"Operations","operation":"Available Key Vault Operations","description":"Lists
        operations available on Microsoft.KeyVault resource provider"[...]
[...]
- request:
    body: '{"name": "sample-vault", "type": "Microsoft.KeyVault/vaults"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/checkNameAvailability?api-version=2019-09-01
  response:
    body:
      string: '{"nameAvailable":false,"reason":"AlreadyExists","message":"The name
        ''sample-vault'' is already in use."}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://management.azure.com/subscriptions/92f95d8f-3c67-4124-91c7-8cf07cdbf241/providers/Microsoft.KeyVault/checkNameAvailability?api-version=2019-09-01
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/myValtZikfikxyzz?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/myValtZikfikxyzz","name":"myValtZikfikxyzz","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_keyvault_async_test_keyvault777e117f/providers/Microsoft.KeyVault/vaults/myValtZikfikxyzz","location":"eastus","tags":{},"deletionDate":"2020-06-02T05:21:59Z","scheduledPurgeDate":"2020-08-31T05:21:59Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://management.azure.com/subscriptions/92f95d8f-3c67-4124-91c7-8cf07cdbf241/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/myValtZikfikxyzz?api-version=2019-09-01
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/myValtZikfikxyzz/purge?api-version=2019-09-01
  response:
    body:
      string: ''
    headers:
      location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzI2NjcyMTIzNDgxMTM5Mnw3N0FDREY4RUI0QUI0N0E2QTBBQ0RBOUI2NTNCMjYzRA?api-version=2019-09-01
      x-ms-ratelimit-remaining-subscription-writes: '1198'
    status:
      code: 202
      message: Accepted
    url: https://management.azure.com/subscriptions/92f95d8f-3c67-4124-91c7-8cf07cdbf241/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/myValtZikfikxyzz/purge?api-version=2019-09-01
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzI2NjcyMTIzNDgxMTM5Mnw3N0FDREY4RUI0QUI0N0E2QTBBQ0RBOUI2NTNCMjYzRA?api-version=2019-09-01
  response:
    body:
      string: '{"createdDateTime":"2020-06-02 05:22:02Z","status":"NotStarted"}'
    headers:
      content-type: application/json; charset=utf-8
      location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzI2NjcyMTIzNDgxMTM5Mnw3N0FDREY4RUI0QUI0N0E2QTBBQ0RBOUI2NTNCMjYzRA?api-version=2019-09-01
    status:
      code: 202
      message: Accepted
    url: https://management.azure.com/subscriptions/92f95d8f-3c67-4124-91c7-8cf07cdbf241/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzI2NjcyMTIzNDgxMTM5Mnw3N0FDREY4RUI0QUI0N0E2QTBBQ0RBOUI2NTNCMjYzRA?api-version=2019-09-01
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzI2NjcyMTIzNDgxMTM5Mnw3N0FDREY4RUI0QUI0N0E2QTBBQ0RBOUI2NTNCMjYzRA?api-version=2019-09-01
  response:
    body:
      string: '{"createdDateTime":"2020-06-02 05:22:02Z","lastActionDateTime":"2020-06-02
        05:22:09Z","status":"Succeeded"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://management.azure.com/subscriptions/92f95d8f-3c67-4124-91c7-8cf07cdbf241/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzI2NjcyMTIzNDgxMTM5Mnw3N0FDREY4RUI0QUI0N0E2QTBBQ0RBOUI2NTNCMjYzRA?api-version=2019-09-01
version: 1
