interactions:
- request:
    body: '{"sku": {"name": "Standard_GRS"}, "kind": "StorageV2", "location": "eastus",
      "tags": {"key1": "value1", "key2": "value2"}, "properties": {"encryption": {"services":
      {"blob": {"enabled": true}, "file": {"enabled": true}}, "keySource": "Microsoft.Storage"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/accountxyz9b271243?api-version=2019-04-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/dfc2ec61-073a-4e3c-9415-2c0a936ab5f5?monitor=true&api-version=2019-04-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/dfc2ec61-073a-4e3c-9415-2c0a936ab5f5?monitor=true&api-version=2019-04-01
  response:
    body:
      string: '{"sku":{"name":"Standard_GRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/accountxyz9b271243","name":"accountxyz9b271243","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{"key1":"value1","key2":"value2"},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2020-09-17T02:13:22.2931040Z"},"blob":{"enabled":true,"lastEnabledTime":"2020-09-17T02:13:22.2931040Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2020-09-17T02:13:22.1837626Z","primaryEndpoints":{"dfs":"https://accountxyz9b271243.dfs.core.windows.net/","web":"https://accountxyz9b271243.z13.web.core.windows.net/","blob":"https://accountxyz9b271243.blob.core.windows.net/","queue":"https://accountxyz9b271243.queue.core.windows.net/","table":"https://accountxyz9b271243.table.core.windows.net/","file":"https://accountxyz9b271243.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available","secondaryLocation":"westus","statusOfSecondary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/accountxyz9b271243/listKeys?api-version=2019-04-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"AAHrM3j3/4FsGPvu0uPThDo2tgAy/1qQkKI+TipRL9H58SazXrp//C1rjN1DNKInBdFNy3sP/mlhryNjWIJcVw==","permissions":"FULL"},{"keyName":"key2","value":"LLoXQ7w8nHHTg5kLPoDCXKonSuxYzpNUHwKJ8nIP00caDJgqQ2CvHk8mVGAaeOLUbFCSWEEK7CFwv8MW/MMclw==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: '{"blobContainerSasUri": "https://accountxyz9b271243.blob.core.windows.net/foo?st=2020-09-16T02%3A13%3A39Z&se=2020-09-09T02%3A13%3A39Z&sp=rl&sv=2019-12-12&ss=b&srt=o&sig=lr1T%2BLVSHvW5DA/l4Vu8LAe/pJWGljr6pQpavuSgEc8%3D",
      "fromTime": "2020-09-15T02:13:39.873906Z", "toTime": "2020-09-17T02:13:39.873922Z",
      "groupByResourceName": true, "intervalLength": "SixtyMins"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/logAnalytics/apiAccess/getRequestRateByInterval?api-version=2020-06-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/effeb475-6e41-405e-b4b9-c08dd2e16e68?api-version=2020-06-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/effeb475-6e41-405e-b4b9-c08dd2e16e68?monitor=true&api-version=2020-06-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetLogAnalytics3Min;9,Microsoft.Compute/GetLogAnalytics30Min;49
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/effeb475-6e41-405e-b4b9-c08dd2e16e68?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2020-09-17T02:13:42.710507+00:00\",\r\n  \"\
        endTime\": \"2020-09-17T02:13:43.4136663+00:00\",\r\n  \"status\": \"Failed\"\
        ,\r\n  \"error\": {\r\n    \"code\": \"BadRequest\",\r\n    \"message\": \"\
        Could not write log analytics to the given SAS URI due to The remote server\
        \ returned an error: (403) Forbidden..\"\r\n  },\r\n  \"name\": \"effeb475-6e41-405e-b4b9-c08dd2e16e68\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14998,Microsoft.Compute/GetOperation30Min;29998
    status:
      code: 200
      message: OK
- request:
    body: '{"blobContainerSasUri": "https://accountxyz9b271243.blob.core.windows.net/foo?st=2020-09-16T02%3A13%3A39Z&se=2020-09-09T02%3A13%3A39Z&sp=rl&sv=2019-12-12&ss=b&srt=o&sig=lr1T%2BLVSHvW5DA/l4Vu8LAe/pJWGljr6pQpavuSgEc8%3D",
      "fromTime": "2020-09-15T02:14:12.068676Z", "toTime": "2020-09-17T02:14:12.068688Z",
      "groupByOperationName": true, "groupByResourceName": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/logAnalytics/apiAccess/getThrottledRequests?api-version=2020-06-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/25e7796a-aab0-463e-9b05-0e91f56cbf84?api-version=2020-06-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/25e7796a-aab0-463e-9b05-0e91f56cbf84?monitor=true&api-version=2020-06-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetLogAnalytics3Min;8,Microsoft.Compute/GetLogAnalytics30Min;48
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/25e7796a-aab0-463e-9b05-0e91f56cbf84?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2020-09-17T02:14:13.7419842+00:00\",\r\n  \"\
        endTime\": \"2020-09-17T02:14:13.9451034+00:00\",\r\n  \"status\": \"Failed\"\
        ,\r\n  \"error\": {\r\n    \"code\": \"BadRequest\",\r\n    \"message\": \"\
        Could not write log analytics to the given SAS URI due to The remote server\
        \ returned an error: (403) Forbidden..\"\r\n  },\r\n  \"name\": \"25e7796a-aab0-463e-9b05-0e91f56cbf84\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14996,Microsoft.Compute/GetOperation30Min;29996
    status:
      code: 200
      message: OK
version: 1
