interactions:
- request:
    body: '{"location": "eastus", "tags": {"department": "finance"}, "zones": ["1"],
      "properties": {"platformFaultDomainCount": 3}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/hostGroups/hostgroup640e162b?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"name\": \"hostgroup640e162b\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/3ZYGYKBTBZZOXDMYSVWOZZW6ZJ3AAYRF5IGYFQXBROWLUYTB5HC3OCPB2N243L4PAK7XJHH3FOD/providers/Microsoft.Compute/hostGroups/hostgroup640e162b\",\r\n
        \ \"type\": \"Microsoft.Compute/hostGroups\",\r\n  \"location\": \"eastus\",\r\n
        \ \"tags\": {\r\n    \"department\": \"finance\"\r\n  },\r\n  \"zones\": [\r\n
        \   \"1\"\r\n  ],\r\n  \"properties\": {\r\n    \"platformFaultDomainCount\":
        3,\r\n    \"supportAutomaticPlacement\": false\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PutDeleteDedicatedHost3Min;119,Microsoft.Compute/PutDeleteDedicatedHost30Min;599
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "eastus", "tags": {"department": "HR"}, "sku": {"name": "DSv3-Type1"},
      "properties": {"platformFaultDomain": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/hostGroups/hostgroup640e162b/hosts/hostname640e162b?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"name\": \"hostname640e162b\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/hostGroups/hostgroup640e162b/hosts/hostname640e162b\",\r\n
        \ \"type\": \"Microsoft.Compute/hostGroups/hosts\",\r\n  \"location\": \"eastus\",\r\n
        \ \"tags\": {\r\n    \"department\": \"HR\"\r\n  },\r\n  \"sku\": {\r\n    \"name\":
        \"DSv3-Type1\"\r\n  },\r\n  \"properties\": {\r\n    \"platformFaultDomain\":
        1,\r\n    \"autoReplaceOnFailure\": true,\r\n    \"hostId\": \"3240cba6-ba22-4967-815a-321fdabe8183\",\r\n
        \   \"provisioningState\": \"Creating\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/926119c0-a934-4760-a629-f2b97f9e1be9?api-version=2020-12-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PutDeleteDedicatedHost3Min;118,Microsoft.Compute/PutDeleteDedicatedHost30Min;598
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/926119c0-a934-4760-a629-f2b97f9e1be9?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2021-03-05T06:17:00.0344777+00:00\",\r\n  \"endTime\":
        \"2021-03-05T06:17:06.0813996+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"name\": \"926119c0-a934-4760-a629-f2b97f9e1be9\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14985,Microsoft.Compute/GetOperation30Min;29940
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/hostGroups/hostgroup640e162b/hosts/hostname640e162b?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"name\": \"hostname640e162b\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/hostGroups/hostgroup640e162b/hosts/hostname640e162b\",\r\n
        \ \"type\": \"Microsoft.Compute/hostGroups/hosts\",\r\n  \"location\": \"eastus\",\r\n
        \ \"tags\": {\r\n    \"department\": \"HR\"\r\n  },\r\n  \"sku\": {\r\n    \"name\":
        \"DSv3-Type1\"\r\n  },\r\n  \"properties\": {\r\n    \"platformFaultDomain\":
        1,\r\n    \"autoReplaceOnFailure\": true,\r\n    \"hostId\": \"3240cba6-ba22-4967-815a-321fdabe8183\",\r\n
        \   \"virtualMachines\": [],\r\n    \"provisioningTime\": \"2021-03-05T06:17:05.5345289+00:00\",\r\n
        \   \"provisioningState\": \"Succeeded\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetDedicatedHost3Min;248,Microsoft.Compute/GetDedicatedHost30Min;998
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/hostGroups/hostgroup640e162b?$expand=instanceView&api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"name\": \"hostgroup640e162b\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/3ZYGYKBTBZZOXDMYSVWOZZW6ZJ3AAYRF5IGYFQXBROWLUYTB5HC3OCPB2N243L4PAK7XJHH3FOD/providers/Microsoft.Compute/hostGroups/hostgroup640e162b\",\r\n
        \ \"type\": \"Microsoft.Compute/hostGroups\",\r\n  \"location\": \"eastus\",\r\n
        \ \"tags\": {\r\n    \"department\": \"finance\"\r\n  },\r\n  \"zones\": [\r\n
        \   \"1\"\r\n  ],\r\n  \"properties\": {\r\n    \"platformFaultDomainCount\":
        3,\r\n    \"hosts\": [\r\n      {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/3ZYGYKBTBZZOXDMYSVWOZZW6ZJ3AAYRF5IGYFQXBROWLUYTB5HC3OCPB2N243L4PAK7XJHH3FOD/providers/Microsoft.Compute/hostGroups/HOSTGROUP640E162B/hosts/HOSTNAME640E162B\"\r\n
        \     }\r\n    ],\r\n    \"supportAutomaticPlacement\": false,\r\n    \"instanceView\":
        {\r\n      \"hosts\": [\r\n        {\r\n          \"name\": \"hostname640e162b\",\r\n
        \         \"assetId\": \"f06b35f7-e2c4-449f-ad4d-6831465d3308\",\r\n          \"availableCapacity\":
        {\r\n            \"allocatableVMs\": [\r\n              {\r\n                \"vmSize\":
        \"Standard_D2s_v3\",\r\n                \"count\": 32\r\n              },\r\n
        \             {\r\n                \"vmSize\": \"Standard_D4s_v3\",\r\n                \"count\":
        17\r\n              },\r\n              {\r\n                \"vmSize\": \"Standard_D8s_v3\",\r\n
        \               \"count\": 8\r\n              },\r\n              {\r\n                \"vmSize\":
        \"Standard_D16s_v3\",\r\n                \"count\": 4\r\n              },\r\n
        \             {\r\n                \"vmSize\": \"Standard_D32s_v3\",\r\n                \"count\":
        2\r\n              },\r\n              {\r\n                \"vmSize\": \"Standard_D48s_v3\",\r\n
        \               \"count\": 1\r\n              },\r\n              {\r\n                \"vmSize\":
        \"Standard_D64s_v3\",\r\n                \"count\": 1\r\n              }\r\n
        \           ]\r\n          },\r\n          \"statuses\": [\r\n            {\r\n
        \             \"code\": \"ProvisioningState/succeeded\",\r\n              \"level\":
        \"Info\",\r\n              \"displayStatus\": \"Provisioning succeeded\",\r\n
        \             \"time\": \"2021-03-05T06:17:05.5345289+00:00\"\r\n            },\r\n
        \           {\r\n              \"code\": \"HealthState/available\",\r\n              \"level\":
        \"Info\",\r\n              \"displayStatus\": \"Host available\"\r\n            }\r\n
        \         ]\r\n        }\r\n      ]\r\n    }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetDedicatedHost30Min;997
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/hostGroups/hostgroup640e162b/hosts/hostname640e162b?$expand=instanceView&api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"name\": \"hostname640e162b\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/hostGroups/hostgr[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/hostGroups/hostgroup640e162b?api-version=2020-12-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PutDeleteDedicatedHost3Min;114,Microsoft.Compute/PutDeleteDedicatedHost30Min;594
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14998'
    status:
      code: 200
      message: OK
version: 1
