interactions:
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "00000000-0000-0000-0000-000000000000",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "00000000-0000-0000-0000-000000000000", "objectId": "123743cc-88ef-49ee-920e-13958fe5697d",
      "permissions": {"keys": ["encrypt", "decrypt", "wrapKey", "unwrapKey", "sign",
      "verify", "get", "list", "create", "update", "import", "delete", "backup", "restore",
      "recover", "purge"]}}], "enabledForDiskEncryption": true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.KeyVault/vaults/keyvaultxmmkyxy3d1e15ac?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.KeyVault/vaults/keyvaultxmmkyxy3d1e15ac","name":"keyvaultxmmkyxy3d1e15ac","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"00000000-0000-0000-0000-000000000000","accessPolicies":[{"tenantId":"00000000-0000-0000-0000-000000000000","objectId":"123743cc-88ef-49ee-920e-13958fe5697d","permissions":{"keys":["encrypt","decrypt","wrapKey","unwrapKey","sign","verify","get","list","create","update","import","delete","backup","restore","recover","purge"]}}],"enabledForDeployment":false,"enabledForDiskEncryption":true,"enableSoftDelete":true,"vaultUri":"https://keyvaultxmmkyxy3d1e15ac.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://keyvaultxmmkyxy3d1e15ac.vault.azure.net/keys/testkey/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "key_size": 2048, "attributes": {"exp": 2527401600}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://keyvaultxmmkyxy3d1e15ac.vault.azure.net/keys/testkey/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://keyvaultxmmkyxy3d1e15ac.vault.azure.net/keys/testkey/678bf44dc8534d388233f51826f5aee7","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"oQwwc7UM1mx2vcS8sFctrTSXKjw24eYPR_i18iFrUYIrpvUbcBFs1ZhWk0UfPAL9tbn5_n5KsQHK10m0UNgCpPHHnyYMLbUhGz8mO6e6_5RULQaVGZnYaVb6ixR-ollY7JHHCpXOnWQnYhT_O-tXNQ2-UpbVctyXDWFpijUnSNc1UNK3Z1klE7Q6p5uSc5ea8VyAiRV-FQrmeu-TvXNXx8lTxIBSa9lFBQLmrmCNNzZaxD0-ro5bbyB7PNdDIhPPzQCbEoLRaeapqQN3v8qcBkSootVQBMwzGDcGBKpCozDvfTi9lhX55S9fzJ5CK_DAzlY4ygYT4gdl7ka0XJEFWQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2527401600,"created":1617183109,"updated":1617183109,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "identity": {"type": "SystemAssigned"}, "properties":
      {"activeKey": {"sourceVault": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.KeyVault/vaults/keyvaultxmmkyxy3d1e15ac"},
      "keyUrl": "https://keyvaultxmmkyxy3d1e15ac.vault.azure.net/keys/testkey/678bf44dc8534d388233f51826f5aee7"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/diskEncryptionSets/diskencryptionset3d1e15ac?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"location\": \"eastus\",\r\n  \"identity\": {\r\n    \"type\"\
        : \"SystemAssigned\"\r\n  },\r\n  \"properties\": {\r\n    \"activeKey\":\
        \ {\r\n      \"sourceVault\": {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.KeyVault/vaults/keyvaultxmmkyxy3d1e15ac\"\
        \r\n      },\r\n      \"keyUrl\": \"https://keyvaultxmmkyxy3d1e15ac.vault.azure.net/keys/testkey/678bf44dc8534d388233f51826f5aee7\"\
        \r\n    },\r\n    \"provisioningState\": \"Updating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/DiskOperations/0869dd3e-1593-4ab0-b8e0-9eab7e23ed8c?api-version=2020-12-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/DiskOperations/0869dd3e-1593-4ab0-b8e0-9eab7e23ed8c?monitor=true&api-version=2020-12-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/HighCostDiskEncryptionSet3Min;99,Microsoft.Compute/HighCostDiskEncryptionSet30Min;299
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/DiskOperations/0869dd3e-1593-4ab0-b8e0-9eab7e23ed8c?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2021-03-31T09:32:00.1911553+00:00\",\r\n  \"\
        endTime\": \"2021-03-31T09:32:00.2536502+00:00\",\r\n  \"status\": \"Succeeded\"\
        ,\r\n  \"properties\": {\r\n    \"output\": {\"name\":\"diskencryptionset3d1e15ac\"\
        ,\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/diskEncryptionSets/diskencryptionset3d1e15ac\"\
        ,\"type\":\"Microsoft.Compute/diskEncryptionSets\",\"location\":\"eastus\"\
        ,\"identity\":{\"type\":\"SystemAssigned\",\"principalId\":\"06f0be6f-933c-44a0-82f3-4710c39b4694\"\
        ,\"tenantId\":\"00000000-0000-0000-0000-000000000000\"},\"properties\":{\"\
        activeKey\":{\"sourceVault\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.KeyVault/vaults/keyvaultxmmkyxy3d1e15ac\"\
        },\"keyUrl\":\"https://keyvaultxmmkyxy3d1e15ac.vault.azure.net/keys/testkey/678bf44dc8534d388233f51826f5aee7\"\
        },\"encryptionType\":\"EncryptionAtRestWithCustomerKey\",\"provisioningState\"\
        :\"Succeeded\"}}\r\n  },\r\n  \"name\": \"0869dd3e-1593-4ab0-b8e0-9eab7e23ed8c\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49998,Microsoft.Compute/GetOperation30Min;399953
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/diskEncryptionSets/diskencryptionset3d1e15ac?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"name\": \"diskencryptionset3d1e15ac\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/diskEncryptionSets/diskencryptionset[...]
[...]
- request:
    body: '{"tags": {"department": "Development", "project": "Encryption"}, "properties":
      {"activeKey": {"sourceVault": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.KeyVault/vaults/keyvaultxmmkyxy3d1e15ac"},
      "keyUrl": "https://keyvaultxmmkyxy3d1e15ac.vault.azure.net/keys/testkey/678bf44dc8534d388233f51826f5aee7"}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resource[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/DiskOperations/9e6073f5-3baa-40d8-a8e5-ae1c9a87cbf9?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2021-03-31T09:33:07.3489228+00:00\",\r\n  \"\
        endTime\": \"2021-03-31T09:33:07.3958198+00:00\",\r\n  \"status\": \"Succeeded\"\
        ,\r\n  \"name\": \"9e6073f5-3baa-40d8-a8e5-ae1c9a87cbf9\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49994,Microsoft.Compute/GetOperation30Min;399949
    status:
      code: 200
      message: OK
version: 1
