interactions:
- request:
    body: 'b''{"location": "eastus", "properties": {"tenantId": "00000000-0000-0000-0000-000000000000",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "00000000-0000-0000-0000-000000000000", "objectId": "20d81029-94cd-4923-a766-994415ff73bd",
      "permissions": {"keys": ["encrypt", "decrypt", "wrapKey", "unwrapKey", "sign",
      "verify", "get", "list", "create", "update", "import", "delete", "backup", "restore",
      "recover", "purge"]}}], "enabledForDiskEncryption": true}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_disks_test_compute_disk_encryption3d1e15ac/providers/Microsoft.KeyVault/vaults/keyvaultxmm3d1e15ac?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_disks_test_compute_disk_encryption3d1e15ac/providers/Microsoft.KeyVault/vaults/keyvaultxmm3d1e15ac","name":"keyvaultxmm3d1e15ac","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"00000000-0000-0000-0000-000000000000","accessPolicies":[{"tenantId":"00000000-0000-0000-0000-000000000000","objectId":"20d81029-94cd-4923-a766-994415ff73bd","permissions":{"keys":["encrypt","decrypt","wrapKey","unwrapKey","sign","verify","get","list","create","update","import","delete","backup","restore","recover","purge"]}}],"enabledForDeployment":false,"enabledForDiskEncryption":true,"enableSoftDelete":true,"vaultUri":"https://keyvaultxmm3d1e15ac.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://keyvaultxmm3d1e15ac.vault.azure.net/keys/testkey/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "key_size": 2048, "attributes": {"exp": 2527401600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://keyvaultxmm3d1e15ac.vault.azure.net/keys/testkey/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://keyvaultxmm3d1e15ac.vault.azure.net/keys/testkey/72c4f4b2d7044269ba0f120e69ed5a7e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"p8yM0lngJZpSbTSoZVt7Vusy2sqJwjkS2kVY_ahvSuk5z_EVyCAn-8m_Nv_jHMygNFatkHgBa8rpwnqbQgJo_DH4qWOQcMDKPGkcxpiYNRW729FsJ5Wma69bTlcqHTqFQgD66vrSmUzInXhQhxgUBlM2M8ILgBZv5WkypKMe7mx7wm6zYSpuSCBEUFTpKVpclGFKafCiEqF8E9u-1a5pR0CbAVERQjNE1gCPP33IFN3Sp-JyPH0zzo3Hl9rj9CwH_xzxe_el6SOFF_XLlhewLLlxYKEo7zbOF77K1E4w4qMDHZzQaS_P9rH1amekVfZzrSBiAZykaMX2PQ1zdiHkRQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2527401600,"created":1589865123,"updated":1589865123,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"location": "eastus", "identity": {"type": "SystemAssigned"}, "properties":
      {"activeKey": {"sourceVault": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_disks_test_compute_disk_encryption3d1e15ac/providers/Microsoft.KeyVault/vaults/keyvaultxmm3d1e15ac"},
      "keyUrl": "https://keyvaultxmm3d1e15ac.vault.azure.net/keys/testkey/72c4f4b2d7044269ba0f120e69ed5a7e"}}}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_disks_test_compute_disk_encryption3d1e15ac/providers/Microsoft.Compute/diskEncryptionSets/diskencryptionset3d1e15ac?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"location\": \"eastus\",\r\n  \"identity\": {\r\n    \"type\"\
        : \"SystemAssigned\"\r\n  },\r\n  \"properties\": {\r\n    \"activeKey\":\
        \ {\r\n      \"sourceVault\": {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_disks_test_compute_disk_encryption3d1e15ac/providers/Microsoft.KeyVault/vaults/keyvaultxmm3d1e15ac\"\
        \r\n      },\r\n      \"keyUrl\": \"https://keyvaultxmm3d1e15ac.vault.azure.net/keys/testkey/72c4f4b2d7044269ba0f120e69ed5a7e\"\
        \r\n    },\r\n    \"provisioningState\": \"Updating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/DiskOperations/aae2a5bf-1357-42aa-bac4-58f6980d1d31?api-version=2019-11-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/HighCostDiskEncryptionSet3Min;99,Microsoft.Compute/HighCostDiskEncryptionSet30Min;299
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/DiskOperations/aae2a5bf-1357-42aa-bac4-58f6980d1d31?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2020-05-19T05:12:11.6910112+00:00\",\r\n  \"\
        endTime\": \"2020-05-19T05:12:11.7691203+00:00\",\r\n  \"status\": \"Succeeded\"\
        ,\r\n  \"properties\": {\r\n    \"output\": {\"name\":\"diskencryptionset3d1e15ac\"\
        ,\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_disks_test_compute_disk_encryption3d1e15ac/providers/Microsoft.Compute/diskEncryptionSets/diskencryptionset3d1e15ac\"\
        ,\"type\":\"Microsoft.Compute/diskEncryptionSets\",\"location\":\"eastus\"\
        ,\"identity\":{\"type\":\"SystemAssigned\",\"principalId\":\"1bb4974a-bd32-4f64-8ea6-1ae4de827798\"\
        ,\"tenantId\":\"00000000-0000-0000-0000-000000000000\"},\"properties\":{\"\
        activeKey\":{\"sourceVault\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_disks_test_compute_disk_encryption3d1e15ac/providers/Microsoft.KeyVault/vaults/keyvaultxmm3d1e15ac\"\
        },\"keyUrl\":\"https://keyvaultxmm3d1e15ac.vault.azure.net/keys/testkey/72c4f4b2d7044269ba0f120e69ed5a7e\"\
        },\"provisioningState\":\"Succeeded\"}}\r\n  },\r\n  \"name\": \"aae2a5bf-1357-42aa-bac4-58f6980d1d31\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49990,Microsoft.Compute/GetOperation30Min;399964
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_disks_test_compute_disk_encryption3d1e15ac/providers/Microsoft.Compute/diskEncryptionSets/diskencryptionset3d1e15ac?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"diskencryptionset3d1e15ac\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute[...]
[...]
- request:
    body: 'b''{"tags": {"department": "Development", "project": "Encryption"}, "properties":
      {"activeKey": {"sourceVault": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_disks_test_compute_disk_encryption3d1e15ac/providers/Microsoft.KeyVault/vaults/keyvaultxmm3d1e15ac"},
      "keyUrl": "https://keyvaultxmm3d1e15ac.vault.azure.net/keys/testkey/72c4f4b2d7044269ba0f120e69ed5a7e"}}}'''
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptio[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/DiskOperations/34684464-03ef-4708-86eb-47d2b4cb80b6?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2020-05-19T05:13:14.9764033+00:00\",\r\n  \"\
        endTime\": \"2020-05-19T05:13:15.0232815+00:00\",\r\n  \"status\": \"Succeeded\"\
        ,\r\n  \"name\": \"34684464-03ef-4708-86eb-47d2b4cb80b6\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49992,Microsoft.Compute/GetOperation30Min;399960
    status:
      code: 200
      message: OK
version: 1
