interactions:
- request:
    body: '{"sku": {"name": "Standard_GRS"}, "kind": "StorageV2", "location": "eastus",
      "tags": {"key1": "value1", "key2": "value2"}, "properties": {"encryption": {"services":
      {"blob": {"enabled": true, "keyType": "Account"}, "file": {"enabled": true,
      "keyType": "Account"}}, "keySource": "Microsoft.Storage"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/accountxyz9b271243?api-version=2021-01-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/32cac3a4-8b11-48f8-a0ff-93af47b93762?monitor=true&api-version=2021-01-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/32cac3a4-8b11-48f8-a0ff-93af47b93762?monitor=true&api-version=2021-01-01
  response:
    body:
      string: '{"sku":{"name":"Standard_GRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/accountxyz9b271243","name":"accountxyz9b271243","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{"key1":"value1","key2":"value2"},"properties":{"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-03-08T02:32:54.3982786Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-03-08T02:32:54.3982786Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2021-03-08T02:32:54.2889356Z","primaryEndpoints":{"dfs":"https://accountxyz9b271243.dfs.core.windows.net/","web":"https://accountxyz9b271243.z13.web.core.windows.net/","blob":"https://accountxyz9b271243.blob.core.windows.net/","queue":"https://accountxyz9b271243.queue.core.windows.net/","table":"https://accountxyz9b271243.table.core.windows.net/","file":"https://accountxyz9b271243.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available","secondaryLocation":"westus","statusOfSecondary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/accountxyz9b271243/listKeys?api-version=2021-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"4gQUEXbvgPNf+I/agy+9cYKMmCYLPvw86PBOCrPaFGLI1e5dGNJxFs4jGuVAyFYXLvYqOsf4/w3C/IBWBC4hLg==","permissions":"FULL"},{"keyName":"key2","value":"nTcsMdcDR4Qgu1wZawXEIK5eOLqaOsQbsUHIIs9nBPGyRdh5GHXSjJsHjGwvelQhAH8RJHngJ4g4kfAeGmB2Aw==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: '{"blobContainerSasUri": "https://accountxyz9b271243.blob.core.windows.net/foo?st=2021-03-07T02%3A33%3A12Z&se=2021-02-28T02%3A33%3A12Z&sp=rl&sv=2020-06-12&ss=b&srt=o&sig=JoU8UBdJDYJQ5tvU0hMGpdvWBWCAr1pHFazIC3KwhoE%3D",
      "fromTime": "2021-03-06T02:33:12.16101Z", "toTime": "2021-03-08T02:33:12.161015Z",
      "groupByResourceName": true, "intervalLength": "SixtyMins"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/logAnalytics/apiAccess/getRequestRateByInterval?api-version=2020-12-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/c5f3c2c7-8b5d-4707-ab41-e2ace8ee47be?api-version=2020-12-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/c5f3c2c7-8b5d-4707-ab41-e2ace8ee47be?monitor=true&api-version=2020-12-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetLogAnalytics3Min;9,Microsoft.Compute/GetLogAnalytics30Min;49
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/c5f3c2c7-8b5d-4707-ab41-e2ace8ee47be?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2021-03-08T02:33:12.6738529+00:00\",\r\n  \"endTime\":
        \"2021-03-08T02:33:13.658213+00:00\",\r\n  \"status\": \"Failed\",\r\n  \"error\":
        {\r\n    \"code\": \"BadRequest\",\r\n    \"message\": \"Could not write log
        analytics to the given SAS URI due to The remote server returned an error:
        (403) Forbidden..\"\r\n  },\r\n  \"name\": \"c5f3c2c7-8b5d-4707-ab41-e2ace8ee47be\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14998,Microsoft.Compute/GetOperation30Min;29993
    status:
      code: 200
      message: OK
- request:
    body: '{"blobContainerSasUri": "https://accountxyz9b271243.blob.core.windows.net/foo?st=2021-03-07T02%3A33%3A12Z&se=2021-02-28T02%3A33%3A12Z&sp=rl&sv=2020-06-12&ss=b&srt=o&sig=JoU8UBdJDYJQ5tvU0hMGpdvWBWCAr1pHFazIC3KwhoE%3D",
      "fromTime": "2021-03-06T02:33:42.989222Z", "toTime": "2021-03-08T02:33:42.989232Z",
      "groupByOperationName": true, "groupByResourceName": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/logAnalytics/apiAccess/getThrottledRequests?api-version=2020-12-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/577c42cf-ea45-46a6-b444-03a88be27ac6?api-version=2020-12-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/577c42cf-ea45-46a6-b444-03a88be27ac6?monitor=true&api-version=2020-12-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetLogAnalytics3Min;8,Microsoft.Compute/GetLogAnalytics30Min;48
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/577c42cf-ea45-46a6-b444-03a88be27ac6?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2021-03-08T02:33:43.0492444+00:00\",\r\n  \"endTime\":
        \"2021-03-08T02:33:43.3148759+00:00\",\r\n  \"status\": \"Failed\",\r\n  \"error\":
        {\r\n    \"code\": \"BadRequest\",\r\n    \"message\": \"Could not write log
        analytics to the given SAS URI due to The remote server returned an error:
        (403) Forbidden..\"\r\n  },\r\n  \"name\": \"577c42cf-ea45-46a6-b444-03a88be27ac6\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14996,Microsoft.Compute/GetOperation30Min;29991
    status:
      code: 200
      message: OK
version: 1
