interactions:
- request:
    body: '{"location": "eastus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/networknamexxx9a731234?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"networknamexxx9a731234\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/networknamexxx9a731234\",\r\n
        \ \"etag\": \"W/\\\"17f833d6-1b08-495f-a1d0-0bf177a0cdc2\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"c5285a8a-322b-47ae-b759-b58ce71bb0f8\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\":
        [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n
        \   \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n
        \ }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/f953e444-5090-417b-9acf-d0608c9bf37b?api-version=2020-08-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/f953e444-5090-417b-9acf-d0608c9bf37b?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"addressPrefix": "10.0.0.0/24"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/networknamexxx9a731234/subnets/subnetxxx9a731234?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"subnetxxx9a731234\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/networknamexxx9a731234/subnets/subnetxxx9a731234\",\r\n
        \ \"etag\": \"W/\\\"247105b9-ef84-4751-8dab-aacdf44aaf46\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/7021e0db-7d52-4b86-9c44-ea3c3be78b26?api-version=2020-08-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "eastus", "properties": {"ipConfigurations": [{"name": "MyIpConfig",
      "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/networknamexxx9a731234/subnets/subnetxxx9a731234"}}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/networkInterfaces/interfacexxx9a731234?api-version=2020-08-01
  response:
    body:
      string: "{\r\[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/networkInterfaces/interfacexxx9a731234?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"interfacexxx9a731234\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/networkInterfaces/interfacexxx9a731234\",\r\n
        \ \"etag\": \"W/\\\"d23dfabc-adad-4564-9bbe-8bae9dcd53ae\\\"\",\r\n  \"location\":
        \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"8fd96606-6bda-4247-b595-949117b7f39e\",\r\n    \"ipConfigurations\":
        [\r\n      {\r\n        \"name\": \"MyIpConfig\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/networkInterfaces/interfacexxx9a731234/ipConfigurations/MyIpConfig\",\r\n
        \       \"etag\": \"W/\\\"d23dfabc-adad-4564-9bbe-8bae9dcd53ae\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\":
        \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/networknamexxx9a731234/subnets/subnetxxx9a731234\"\r\n
        \         },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\":
        \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\":
        [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\":
        \"rjncrrjlgkxepn0zwwgoog3q5a.bx.internal.cloudapp.net\"\r\n    },\r\n    \"enableAcceleratedNetworking\":
        false,\r\n    \"enableIPForwarding\": false,\r\n    \"hostedWorkloads\": [],\r\n
        \   \"tapConfigurations\": [],\r\n    \"nicType\": \"Standard\"\r\n  },\r\n
        \ \"type\": \"Microsoft.Network/networkInterfaces\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d23dfabc-adad-4564-9bbe-8bae9dcd53ae"
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"hardwareProfile": {"vmSize": "Standard_D2_v2"},
      "storageProfile": {"imageReference": {"publisher": "MicrosoftWindowsServer",
      "offer": "WindowsServer", "sku": "2016-Datacenter", "version": "latest"}, "osDisk":
      {"name": "myVMosdisk", "caching": "ReadWrite", "createOption": "FromImage",
      "managedDisk": {"storageAccountType": "Standard_LRS"}}, "dataDisks": [{"lun":
      0, "createOption": "Empty", "diskSizeGB": 1023}, {"lun": 1, "createOption":
      "Empty", "diskSizeGB": 1023}]}, "osProfile": {"computerName": "myVM", "adminUsername":
      "testuser", "adminPassword": "Aa1!zyx_", "windowsConfiguration": {"enableAutomaticUpdates":
      true}}, "networkProfile": {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/networkInterfaces/interfacexxx9a731234",
      "properties": {"primary": true}}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachines/virtualmachinexxx9a731234?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"name\": \"virtualmachinexxx9a731234\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachines/virtualmachinexxx9a731234\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"eastus\",\r\n
        \ \"properties\": {\r\n    \"vmId\": \"9535af76-1d95-4727-ab18-75bde9974328\",\r\n
        \   \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_D2_v2\"\r\n    },\r\n
        \   \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\":
        \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\":
        \"2016-Datacenter\",\r\n        \"version\": \"latest\",\r\n        \"exactVersion\":
        \"14393.4225.2102030345\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\":
        \"Windows\",\r\n        \"name\": \"myVMosdisk\",\r\n        \"createOption\":
        \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\":
        {\r\n          \"storageAccountType\": \"Standard_LRS\"\r\n        },\r\n
        \       \"diskSizeGB\": 127\r\n      },\r\n      \"dataDisks\": [\r\n        {\r\n
        \         \"lun\": 0,\r\n          \"createOption\": \"Empty\",\r\n          \"caching\":
        \"None\",\r\n          \"managedDisk\": {\r\n            \"storageAccountType\":
        \"Standard_LRS\"\r\n          },\r\n          \"diskSizeGB\": 1023,\r\n          \"toBeDetached\":
        false\r\n        },\r\n        {\r\n          \"lun\": 1,\r\n          \"createOption\":
        \"Empty\",\r\n          \"caching\": \"None\",\r\n          \"managedDisk\":
        {\r\n            \"storageAccountType\": \"Standard_LRS\"\r\n          },\r\n
        \         \"diskSizeGB\": 1023,\r\n          \"toBeDetached\": false\r\n        }\r\n
        \     ]\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"myVM\",\r\n
        \     \"adminUsername\": \"testuser\",\r\n      \"windowsConfiguration\":
        {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\":
        true,\r\n        \"patchSettings\": {\r\n          \"patchMode\": \"AutomaticByOS\"\r\n
        \       }\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\":
        true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\":
        {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/networkInterfaces/interfacexxx9a731234\",\"properties\":{\"primary\":true}}]},\r\n
        \   \"provisioningState\": \"Creating\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification: Enabled
      azure-asyncoperation: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/d9ac87a4-368c-4267-aec5-e6d8443d0f87?api-version=2020-12-01
      content-type: application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource: Microsoft.Compute/PutVM3Min;742,Microsoft.Compute/PutVM30Min;3726
      x-ms-ratelimit-remaining-subscription-writes: '1198'
    status:
      code: 201
      message: Created
    url: https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/o6s7c46rcdyj3r5zv4sugum25jnuzlvikfi3ty7qfvz5erxfyo3jva773sboj6fvprykvnwqq6o/providers/Microsoft.Compute/virtualMachines/virtualmachinexxx9a731234?api-version=2020-12-01
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/d9ac87a4-368c-4267-aec5-e6d8443d0f87?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2021-03-05T09:07:39.4811593+00:00\",\r\n  \"status\":
        \"InProgress\",\r\n  \"name\": \"d9ac87a4-368c-4267-aec5-e6d8443d0f87\"\r\n}"
    headers:
      content-type: application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource: Microsoft.Compute/GetOperation3Min;14999,Microsoft.Compute/GetOperation30Min;29999
    status:
      code: 200
      message: OK
    url: https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/eastus/operations/d9ac87a4-368c-4267-aec5-e6d8443d0f87?api-version=2020-12-01
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/d9ac87a4-368c-4267-aec5-e6d8443d0f87?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2021-03-05T09:07:39.4811593+00:00\",\r\n  \"endTime\":
        \"2021-03-05T09:09:07.4511905+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"name\": \"d9ac87a4-368c-4267-aec5-e6d8443d0f87\"\r\n}"
    headers:
      content-type: application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource: Microsoft.Compute/GetOperation3Min;14996,Microsoft.Compute/GetOperation30Min;29996
    status:
      code: 200
      message: OK
    url: https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/eastus/operations/d9ac87a4-368c-4267-aec5-e6d8443d0f87?api-version=2020-12-01
[...]
- request:
    body: '{"location": "eastus", "properties": {"publisher": "Microsoft.Azure.NetworkWatcher",
      "type": "NetworkWatcherAgentWindows", "typeHandlerVersion": "1.4", "autoUpgradeMinorVersion":
      true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachines/virtualmachinexxx9a731234/extensions/virtualmachineextensionxxx9a731234?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"name\": \"virtualmachineextensionxxx9a731234\",\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-00000[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachines/virtualmachinexxx9a731234/instanceView?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"computerName\": \"myVM\",\r\n  \"osName\": \"Windows Server
        2016 Datacenter\",\r\n  \"osVersion\": \"Microsoft Windows NT 10.0.14393.0\",\r\n
        \ \"vmAgent\": {\r\n    \"vmAgentVersion\": \"2.7.41491.1008\",\r\n    \"statuses\":
        [\r\n      {\r\n        \"code\": \"ProvisioningState/succeeded\",\r\n        \"level\":
        \"Info\",\r\n        \"displayStatus\": \"Ready\",\r\n        \"message\":
        \"GuestAgent is running and processing the extensions.\",\r\n        \"time\":
        \"2021-03-05T09:11:04+00:00\"\r\n      }\r\n    ],\r\n    \"extensionHandlers\":
        [\r\n      {\r\n        \"type\": \"Microsoft.Azure.NetworkWatcher.NetworkWatcherAgentWindows\",\r\n
        \       \"typeHandlerVersion\": \"1.4.1693.1\",\r\n        \"status\": {\r\n
        \         \"code\": \"ProvisioningState/succeeded\",\r\n          \"level\":
        \"Info\",\r\n          \"displayStatus\": \"Ready\",\r\n          \"message\":
        \"Plugin enabled (handler name: Microsoft.Azure.NetworkWatcher.NetworkWatcherAgentWindows,
        extension name: , version: 1.4.1693.1).\"\r\n        }\r\n      }\r\n    ]\r\n
        \ },\r\n  \"disks\": [\r\n    {\r\n      \"name\": \"myVMosdisk\",\r\n      \"statuses\":
        [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning
        succeeded\",\r\n          \"time\": \"2021-03-05T09:07:41.1530491+00:00\"\r\n
        \       }\r\n      ]\r\n    },\r\n    {\r\n      \"name\": \"virtualmachinexxx9a731234_disk2_1ded56f2f5134ceb919b356cf1d11b50\",\r\n
        \     \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning
        succeeded\",\r\n          \"time\": \"2021-03-05T09:07:41.1530491+00:00\"\r\n
        \       }\r\n      ]\r\n    },\r\n    {\r\n      \"name\": \"virtualmachinexxx9a731234_disk3_c2deb7cc80834a8caa94e6602c77a59f\",\r\n
        \     \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning
        succeeded\",\r\n          \"time\": \"2021-03-05T09:07:41.1530491+00:00\"\r\n
        \       }\r\n      ]\r\n    }\r\n  ],\r\n  \"extensions\": [\r\n    {\r\n
        \     \"name\": \"virtualmachineextensionxxx9a731234\",\r\n      \"type\":
        \"Microsoft.Azure.NetworkWatcher.NetworkWatcherAgentWindows\",\r\n      \"typeHandlerVersion\":
        \"1.4.1693.1\",\r\n      \"statuses\": [\r\n        {\r\n          \"code\":
        \"ProvisioningState/succeeded\",\r\n          \"level\": \"Info\",\r\n          \"displayStatus\":
        \"Provisioning succeeded\",\r\n          \"message\": \"Plugin enabled (handler
        name: Microsoft.Azure.NetworkWatcher.NetworkWatcherAgentWindows, extension
        name: , version: 1.4.1693.1).\"\r\n        }\r\n      ]\r\n    }\r\n  ],\r\n
        \ \"hyperVGeneration\": \"V1\",\r\n  \"statuses\": [\r\n    {\r\n      \"code\":
        \"ProvisioningState/succeeded\",\r\n      \"level\": \"Info\",\r\n      \"displayStatus\":
        \"Provisioning succeeded\",\r\n      \"time\": \"2021-03-05T09:11:07.6395818+00:00\"\r\n
        \   },\r\n    {\r\n      \"code\": \"PowerState/running\",\r\n      \"level\":
        \"Info\",\r\n      \"displayStatus\": \"VM running\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type: application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource: Microsoft.Compute/LowCostGet3Min;3994,Microsoft.Compute/LowCostGet30Min;31994
    status:
      code: 200
      message: OK
    url: https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/o6s7c46rcdyj3r5zv4sugum25jnuzlvikfi3ty7qfvz5erxfyo3jva773sboj6fvprykvnwqq6o/providers/Microsoft.Compute/virtualMachines/virtualmachinexxx9a731234/instanceView?api-version=2020-12-01
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/runCommands/RunPowerShellScript?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"script\": [\r\n    \"param(\\r\\n  [string]$arg1,\\r\\n  [string]$arg2\\r\\n)\\r\\nWrite-Host
        This is a sample script with parameters $arg1 $arg2\\r\\n\\r\\n# SIG # Begin
        signature block\\r\\n# MIIjnAYJKoZIhvcNAQcCoIIjjTCCI4kCAQExDzANBglghkgBZQMEAgEFADB5Bgor\\r\\n#
        BgEEAYI3AgEEoGswaTA0BgorBgEEAYI3AgEeMCYCAwEAAAQQH8w7YFlLCE63JNLG\\r\\n# KX7zUQIBAAIBAAIBAAIBAAIBADAxMA0GCWCGSAFlAwQCAQUABCB6jm9GJUxEj/xj\\r\\n#
        xRn7NMmK1YlgeGDCHEVx3xVyCBNnmaCCDYEwggX/MIID56ADAgECAhMzAAAB32vw\\r[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachines/virtualmachinexxx9a731234/vmSizes?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Standard_A0\",\r\n
        \     \"numberOfCores\": 1,\r\n      \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\":
        20480,\r\n      \"memoryInMB\": 768,\r\n      \"maxDataDiskCount\": 1\r\n
        \   },\r\n    {\r\n      \"name\": \"Standard_A1\",\r\n      \"numberOfCores\":
        1,\r\n      \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\":
        71680,\r\n      \"memoryInMB\": 1792,\r\n      \"maxDataDiskCount\": 2\r\n
        \   },\r\n    {\r\n      \"name\": \"Standard_A2\",\r\n      \"numberOfCores\":
        2,\r\n      \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\":
        138240,\r\n      \"memoryInMB\": 3584,\r\n      \"maxDataD[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachines/virtualmachinexxx9a731234/extensions?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"virtualmachineextensionxxx9a731234\",\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/pro[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/vmSizes?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Standard_B1ls\",\r\n
        \     \"numberOfCores\": 1,\r\n      \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\":
        4096,\r\n      \"memoryInMB\": 512,\r\n      \"maxDataD[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/runCommands?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"$schema\": \"http://schema.management.azure.com/schemas/2016-11-17/runcommands.json\",\r\n
        \     \"id\": \"DisableNLA\",\r\n      \"osType\": \"Windows\",\r\n      \"label\":
        \"Disable Network Level Authentication\",\r\n      \"description\": \"Disables
        Network Level Authentication (NLA). You must restart the VM after the script
        completes for the change to take effect. The script itself does not restart
        the VM. You can use this script to disable NLA if RDP connections are failing
        with error 'The remote computer that you are trying to connect to requires
        Network Level Authentication (NLA), but your Windows domain controller cannot
        be contacted to perform NLA.' or error 'An authenticatio[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachines/virtualmachinexxx9a731234?$expand=instanceView&api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"name\": \"virtualmachinexxx9a731234\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachines/vi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachines?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"virtualmachinexxx9a731234\",\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachines/virtu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/virtualMachines?api-version=2020-12-01
  response:
    body:
      string: '{"value":[{"name":"virtualmachine7a3b1af0","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/EAGX4NE5OZA632DU4OQOCMXOK4Y3S64PQFMFLI2RIPRGUVU4F2SDDF36HJSB3YQB3UJA7LT7VQE/providers/Microsoft.Compute/virtualMachines/virtualmachine7a[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/virtualMachines?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"virtualmachine7a3b1af0\",\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/EAGX4NE5OZA632DU4OQOCMXOK4Y3S64PQFMFLI2RIPRGUVU4F2SDDF36HJSB3YQB[...]
- request:
    body: '{"commandId": "RunPowerShellScript"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachines/virtualmachinexxx9a731234/runCommand?api-version=2020-12-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/9ee0a7d4-f88a-4dd3-a8e0-ab8bcca9ea32?api-version=2020-12-01
      location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/9ee0a7d4-f88a-4dd3-a8e0-ab8bcca9ea32?monitor=true&api-version=2020-12-01
      x-ms-ratelimit-remaining-resource: Microsoft.Compute/UpdateVM3Min;238,Microsoft.Compute/UpdateVM30Min;1198
      x-ms-ratelimit-remaining-subscription-writes: '1199'
    status:
      code: 202
      message: Accepted
    url: https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/o6s7c46rcdyj3r5zv4sugum25jnuzlvikfi3ty7qfvz5erxfyo3jva773sboj6fvprykvnwqq6o/providers/Microsoft.Compute/virtualMachines/virtualmachinexxx9a731234/runCommand?api-version=2020-12-01
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/9ee0a7d4-f88a-4dd3-a8e0-ab8bcca9ea32?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2021-03-05T09:11:13.7646234+00:00\",\r\n  \"endTime\":
        \"2021-03-05T09:11:54.1243059+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"properties\": {\r\n    \"output\": {\"value\":[{\"code\":\"ComponentStatus/StdOut/succeeded\",\"level\":\"Info\",\"displayStatus\":\"Provisioning
        succeeded\",\"message\":\"This is a sample script with parameters  \"},{\"code\":\"ComponentStatus/StdErr/succeeded\",\"level\":\"Info\",\"displayStatus\":\"Provisioning
        succeeded\",\"message\":\"\"}]}\r\n  },\r\n  \"name\": \"9ee0a7d4-f88a-4dd3-a8e0-ab8bcca9ea32\"\r\n}"
    headers:
      content-type: application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource: Microsoft.Compute/GetOperation3Min;14990,Microsoft.Compute/GetOperation30Min;29986
    status:
      code: 200
      message: OK
    url: https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/eastus/operations/9ee0a7d4-f88a-4dd3-a8e0-ab8bcca9ea32?api-version=2020-12-01
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/9ee0a7d4-f88a-4dd3-a8e0-ab8bcca9ea32?monitor=true&api-version=2020-12-01
  response:
    body:
      string: '{"value":[{"code":"ComponentStatus/StdOut/succeeded","level":"Info","displayStatus":"Provisioning
        succeeded","message":"This is a sample script with parameters  "},{"code":"ComponentStatus/StdErr/succeeded","level":"Info","displayStatus":"Provisioning
        succeeded","message":""}]}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource: Microsoft.Compute/GetOperation3Min;14989,Microsoft.Compute/GetOperation30Min;29985
    status:
      code: 200
      message: OK
    url: https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/eastus/operations/9ee0a7d4-f88a-4dd3-a8e0-ab8bcca9ea32?monitor=true&api-version=2020-12-01
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachines/virtualmachinexxx9a731234/restart?api-version=2020-12-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/e4c0bd4b-f98f-433f-befb-8655bbd1dfd0?api-version=2020-12-01
      location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/e4c0bd4b-f98f-433f-befb-8655bbd1dfd0?monitor=true&api-version=2020-12-01
      x-ms-ratelimit-remaining-resource: Microsoft.Compute/UpdateVM3Min;238,Microsoft.Compute/UpdateVM30Min;1197
      x-ms-ratelimit-remaining-subscription-writes: '1199'
    status:
      code: 202
      message: Accepted
    url: https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/o6s7c46rcdyj3r5zv4sugum25jnuzlvikfi3ty7qfvz5erxfyo3jva773sboj6fvprykvnwqq6o/providers/Microsoft.Compute/virtualMachines/virtualmachinexxx9a731234/restart?api-version=2020-12-01
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachines/virtualmachinexxx9a731234/powerOff?skipShutdown=false&api-version=2020-12-01
  response:
    body:
      string: ''
    headers:
[...]
