interactions:
- request:
    body: '{"location": "eastus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/networknamex8c68120d?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"networknamex8c68120d\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/networknamex8c68120d\"\
        ,\r\n  \"etag\": \"W/\\\"afe8577d-21d4-4156-a8dc-df94c6f8eece\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"resourceGuid\": \"6e98e7ce-820b-4ed9-b3c1-4f2cecc33aff\",\r\n    \"\
        addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\
        \r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\"\
        : [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\"\
        : false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/2d8237b0-6731-4b1a-90c6-1b652f54b875?api-version=2020-08-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/2d8237b0-6731-4b1a-90c6-1b652f54b875?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"addressPrefix": "10.0.0.0/24"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/networknamex8c68120d/subnets/subnetnamex8c68120d?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"subnetnamex8c68120d\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/networknamex8c68120d/subnets/subnetnamex8c68120d\"\
        ,\r\n  \"etag\": \"W/\\\"f0a06bcb-2865-432b-bf3c-5277885d7e92\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"\
        addressPrefix\": \"10.0.0.0/24\",\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\"\
        : \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\
        \n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/26d02931-0cb1-4213-830c-39639f74ec98?api-version=2020-08-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard_D1_v2", "tier": "Standard",
      "capacity": 1}, "properties": {"upgradePolicy": {"mode": "Manual"}, "virtualMachineProfile":
      {"osProfile": {"computerNamePrefix": "testPC", "adminUsername": "testuser",
      "adminPassword": "Aa!1()-xyz"}, "storageProfile": {"imageReference": {"publisher":
      "MicrosoftWindowsServer", "offer": "WindowsServer", "sku": "2016-Datacenter",
      "version": "latest"}, "osDisk": {"caching": "ReadWrite", "createOption": "FromImage",
      "diskSizeGB": 512, "managedDisk": {"storageAccountType": "Standard_LRS"}}},
      "networkProfile": {"networkInterfaceConfigurations": [{"name": "testPC", "properties":
      {"primary": true, "ipConfigurations": [{"name": "testPC", "properties": {"subnet":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/networknamex8c68120d/subnets/subnetnamex8c68120d"}}}]}}]}},
      "overprovision": true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachineScaleSets/virtualmachinescaleset8c68120d?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"name\": \"virtualmachinescaleset8c68120d\",\r\n  \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachineScaleSets/virtualmachinescaleset8c68120d\"\
        ,\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\"\
        : \"eastus\",\r\n  \"tags\": {\r\n    \"platformsettings.host_environment.service.platform_optedin_for_rootcerts\"\
        : \"true\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard_D1_v2\",\r\n\
        \    \"tier\": \"Standard\",\r\n    \"capacity\": 1\r\n  },\r\n  \"properties\"\
        : {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n\
        \      \"mode\": \"Manual\"\r\n    },\r\n    \"virtualMachineProfile\": {\r\
        \n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"testPC\",\r\n\
        \        \"adminUsername\": \"testuser\",\r\n        \"windowsConfiguration\"\
        : {\r\n          \"provisionVMAgent\": true,\r\n          \"enableAutomaticUpdates\"\
        : true\r\n        },\r\n        \"secrets\": [],\r\n        \"allowExtensionOperations\"\
        : true,\r\n        \"requireGuestProvisionSignal\": true\r\n      },\r\n \
        \     \"storageProfile\": {\r\n        \"osDisk\": {\r\n          \"osType\"\
        : \"Windows\",\r\n          \"createOption\": \"FromImage\",\r\n         \
        \ \"caching\": \"ReadWrite\",\r\n          \"managedDisk\": {\r\n        \
        \    \"storageAccountType\": \"Standard_LRS\"\r\n          },\r\n        \
        \  \"diskSizeGB\": 512\r\n        },\r\n        \"imageReference\": {\r\n\
        \          \"publisher\": \"MicrosoftWindowsServer\",\r\n          \"offer\"\
        : \"WindowsServer\",\r\n          \"sku\": \"2016-Datacenter\",\r\n      \
        \    \"version\": \"latest\"\r\n        }\r\n      },\r\n      \"networkProfile\"\
        : {\"networkInterfaceConfigurations\":[{\"name\":\"testPC\",\"properties\"\
        :{\"primary\":true,\"enableAcceleratedNetworking\":false,\"dnsSettings\":{\"\
        dnsServers\":[]},\"enableIPForwarding\":false,\"ipConfigurations\":[{\"name\"\
        :\"testPC\",\"properties\":{\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/networknamex8c68120d/subnets/subnetnamex8c68120d\"\
        },\"privateIPAddressVersion\":\"IPv4\"}}]}}]},\r\n      \"extensionProfile\"\
        : {\r\n        \"extensions\": [\r\n          {\r\n            \"name\": \"\
        Microsoft.Azure.Security.AntimalwareSignature.AntimalwareConfiguration\",\r\
        \n            \"properties\": {\r\n              \"autoUpgradeMinorVersion\"\
        : true,\r\n              \"publisher\": \"Microsoft.Azure.Security.AntimalwareSignature\"\
        ,\r\n              \"type\": \"AntimalwareConfiguration\",\r\n           \
        \   \"typeHandlerVersion\": \"2.0\",\r\n              \"settings\": {}\r\n\
        \            }\r\n          },\r\n          {\r\n            \"name\": \"\
        Microsoft.Azure.Geneva.GenevaMonitoring\",\r\n            \"properties\":\
        \ {\r\n              \"autoUpgradeMinorVersion\": true,\r\n              \"\
        publisher\": \"Microsoft.Azure.Geneva\",\r\n              \"type\": \"GenevaMonitoring\"\
        ,\r\n              \"typeHandlerVersion\": \"2.0\",\r\n              \"settings\"\
        : {}\r\n            }\r\n          }\r\n        ]\r\n      }\r\n    },\r\n\
        \    \"provisioningState\": \"Creating\",\r\n    \"overprovision\": true,\r\
        \n    \"doNotRunExtensionsOnOverprovisionedVMs\": false,\r\n    \"uniqueId\"\
        : \"8c63edcd-0ea6-412f-b8b7-07a8a1702b06\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/d2c14ad1-fea4-4414-ae39-e787ae611063?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateVMScaleSet3Min;59,Microsoft.Compute/CreateVMScaleSet30Min;299,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1197,Microsoft.Compute/VmssQueuedVMOperations;4798
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-ms-request-charge:
      - '2'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/d2c14ad1-fea4-4414-ae39-e787ae611063?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2021-02-02T11:53:48.9766585+00:00\",\r\n  \"\
        status\": \"InProgress\",\r\n  \"name\": \"d2c14ad1-fea4-4414-ae39-e787ae611063\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14993,Microsoft.Compute/GetOperation30Min;29928
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachineScaleSets/virtualmachinescaleset8c68120d/virtualmachines/0/instanceView?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\"\
        : \"The entity was not found in this Azure location.\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMScaleSetVM3Min;999,Microsoft.Compute/GetVMScaleSetVM30Min;4999,Microsoft.Compute/VMScaleSetVMViews3Min;4999
      x-ms-request-charge:
      - '1'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachineScaleSets/virtualmachinescaleset8c68120d/virtualmachines/1/instanceView?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"placementGroupId\": \"790d6ab5-25b7-4e8a-a879-e93cc9674b17\"\
        ,\r\n  \"platformUpdateDomain\": 1,\r\n  \"platformFaultDomain\": 1,\r\n \
        \ \"computerName\": \"testPC000001\",\r\n  \"osName\": \"Windows Server 2016\
        \ Datacenter\",\r\n  \"osVersion\": \"Microsoft Windows NT 10.0.14393.0\"\
        ,\r\n  \"vmAgent\": {\r\n    \"vmAgentVersion\": \"2.7.41491.1008\",\r\n \
        \   \"statuses\": [\r\n      {\r\n        \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n        \"level\": \"Info\",\r\n        \"displayStatus\": \"Ready\"\
        ,\r\n        \"message\": \"GuestAgent is running and processing the extensions.\"\
        ,\r\n        \"time\": \"2021-02-02T12:05:36+00:00\"\r\n      }\r\n    ],\r\
        \n    \"extensionHandlers\": [\r\n      {\r\n        \"type\": \"Microsoft.Azure.Geneva.GenevaMonitoring\"\
        ,\r\n        \"typeHandlerVersion\": \"2.22.0.1\",\r\n        \"status\":\
        \ {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n          \"\
        level\": \"Info\",\r\n          \"displayStatus\": \"Ready\",\r\n        \
        \  \"message\": \"ExtensionOperation:enable. Status:Success\"\r\n        }\r\
        \n      },\r\n      {\r\n        \"type\": \"Microsoft.Azure.Security.AntimalwareSignature.AntimalwareConfiguration\"\
        ,\r\n        \"typeHandlerVersion\": \"2.58.4\",\r\n        \"status\": {\r\
        \n          \"code\": \"ProvisioningState/succeeded\",\r\n          \"level\"\
        : \"Info\",\r\n          \"displayStatus\": \"Ready\"\r\n        }\r\n   \
        \   }\r\n    ]\r\n  },\r\n  \"disks\": [\r\n    {\r\n      \"name\": \"virtualmachinescalesvirtualmachinescaleseOS__1_a96771b2a9874d10ac71aaef0781eb23\"\
        ,\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n          \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning\
        \ succeeded\",\r\n          \"time\": \"2021-02-02T11:54:01.8517172+00:00\"\
        \r\n        }\r\n      ]\r\n    }\r\n  ],\r\n  \"extensions\": [\r\n    {\r\
        \n      \"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachineScaleSets/virtualmachinescaleset8c68120d/virtualmachines/1?$expand=instanceView&api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"name\": \"virtualmachinescaleset8c68120d_1\",\r\n  \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachineScaleSets/virtualmachinescaleset8c68120d/virtualMachines/1\"\
        ,\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets/virtualMachines\"\
        ,\r\n  \"location\": \"eastus\",\r\n  \"tags\": {\r\n    \"platformsettings.host_environment.service.platform_optedin_for_rootcerts\"\
        : \"true\"\r\n  },\r\n  \"instanceId\": \"1\",\r\n  \"sku\": {\r\n    \"name\"\
        : \"Standard_D1_v2\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"properties\"\
        : {\r\n    \"latestModelApplied\": true,\r\n    \"modelDefinitionApplied\"\
        : \"VirtualMachineScaleSet\",\r\n    \"instanceView\": {\r\n      \"placementGroupId\"\
        : \"790d6ab5-25b7-4e8a-a879-e93cc9674b17\",\r\n      \"platformUpdateDomain\"\
        : 1,\r\n      \"platformFaultDomain\": 1,\r\n      \"computerName\": \"testPC000001\"\
        ,\r\n      \"osName\": \"Windows Server 2016 Datacenter\",\r\n      \"osVersion\"\
        : \"Microsoft Windows NT 10.0.14393.0\",\r\n      \"vmAgent\": {\r\n     \
        \   \"vmAgentVersion\": \"2.7.41491.1008\",\r\n        \"statuses\": [\r\n\
        \          {\r\n  [...]
- request:
    body: '{"location": "eastus", "tags": {"department": "HR"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachineScaleSets/virtualmachinescaleset8c68120d/virtualmachines/1?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"name\": \"virtualmachinescaleset8c68120d_1\",\r\n  \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachineScaleSets/virtualmachinescaleset8c68120d/virtualMachines/1\"\
        ,\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets/virtualMachines\"\
        ,\r\n  \"location\": \"eastus\",\r\n  \"tags\": {\r\n    \"platformsettings.host_environment.service.platform_optedin_for_rootcerts\"\
        : \"true\"\r\n  },\r\n  \"instanceId\": \"1\",\r\n  \"sku\": {\r\n    \"name\"\
        : \"Standard_D1_v2\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"properties\"\
        : {\r\n    \"latestModelApplied\": true,\r\n    \"modelDefinitionApplied\"\
        : \"VirtualMachineScaleSet\",\r\n    \"networkProfileConfiguration\": {\"\
        networkInterfaceConfigurations\":[{\"name\":\"testPC\",\"properties\":{\"\
        primary\":true,\"enableAcceleratedNetworking\":false,\"dnsSettings\":{\"dnsServers\"\
        :[]},\"enableIPForwarding\":false,\"ipConfigurations\":[{\"name\":\"testPC\"\
        ,\"properties\":{\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/networknamex8c68120d/subnets/subnetnamex8c68120d\"\
        },\"privateIPAddressVersion\":\"IPv4\"}}]}}]},\r\n    \"vmId\": \"ac57e9eb-2554-499a-8a6c-2d7d9ea23b0e\"\
        ,\r\n    \"hardwareProfile\": {},\r\n    \"storageProfile\": {\r\n      \"\
        imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\
        \n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2016-Datacenter\"\
        ,\r\n        \"version\": \"latest\",\r\n        \"exactVersion\": \"14393.4169.2101090332\"\
        \r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Windows\",\r\n\
        \        \"name\": \"virtualmachinescalesvirtualmachinescaleseOS__1_a96771b2a9874d10ac71aaef0781eb23\"\
        ,\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\"\
        ,\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Standard_LRS\"\
        ,\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/disks/virtualmachinescalesvirtualmachinescaleseOS__1_a96771b2a9874d10ac71aaef0781eb23\"\
        \r\n        },\r\n        \"diskSizeGB\": 512\r\n      },\r\n      \"dataDisks\"\
        : []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"testPC000001\"\
        ,\r\n      \"adminUsername\": \"testuser\",\r\n      \"windowsConfiguration\"\
        : {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\"\
        : true,\r\n        \"patchSettings\": {\r\n          \"patchMode\": \"AutomaticByOS\"\
        \r\n        }\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\"\
        : true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"\
        networkProfile\": {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachineScaleSets/virtualmachinescaleset8c68120d/virtualMachines/1/networkInterfaces/testPC\"\
        }]},\r\n    \"provisioningState\": \"Updating\"\r\n  },\r\n  \"resources\"\
        : [\r\n    {\r\n      \"name\": \"Microsoft.Azure.Security.AntimalwareSignature.AntimalwareConfiguration\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resou[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachineScaleSets/virtualmachinescaleset8c68120d/virtualmachines/1/restart?api-version=2020-06-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/759f2bfe-b405-4735-9157-d228e4588630?api-version=2020-06-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/759f2bfe-b405-4735-9157-d228e4588630?monitor=true&api-version=2020-06-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/VMScaleSetActions3Min;238,Microsoft.Compute/VMScaleSetActions30Min;1196,Microsoft.Compute/VMScaleSetVMActions3Min;199,Microsoft.Compute/VMScaleSetVMActions30Min;999,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1199,Microsoft.Compute/VmssQueuedVMOperations;4799
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-ms-request-charge:
      - '1'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/759f2bfe-b405-4735-9157-d228e4588630?monitor=true&api-version=2020-06-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14996,Microsoft.Compute/GetOperation30Min;29904
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachineScaleSets/virtualmachinescaleset8c68120d/virtualmachines/1/poweroff?skipShutdown=false&api-version=2020-06-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/54b38c99-df24-4f38-bd1a-a7bb45211632?api-version=2020-06-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/54b38c99-df24-4f38-bd1a-a7bb45211632?monitor=true&api-version=2020-06-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/DeleteVMScaleSetVM3Min;239,Microsoft.Compute/DeleteVMScaleSetVM30Min;1199,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1198,Microsoft.Compute/VmssQueuedVMOperations;4799
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
      x-ms-request-charge:
      - '1'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachineScaleSets/virtualmachinescaleset8c68120d/virtualmachines/1/start?api-version=2020-06-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/3677242d-b463-43d7-a289-b4568941025d?api-version=2020-06-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/3677242d-b463-43d7-a289-b4568941025d?monitor=true&api-version=2020-06-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/VMScaleSetActions3Min;237,Microsoft.Compute/VMScaleSetActions30Min;1195,Microsoft.Compute/VMScaleSetVMActions3Min;198,Microsoft.Compute/VMScaleSetVMActions30Min;998,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1197,Microsoft.Compute/VmssQueuedVMOperations;4799
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
      x-ms-request-charge:
      - '1'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"commandId": "RunPowerShellScript"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachineScaleSets/virtualmachinescaleset8c68120d/virtualmachines/1/runCommand?api-version=2020-06-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/288ebb77-eb6d-449c-98e0-e74335973560?api-version=2020-06-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/288ebb77-eb6d-449c-98e0-e74335973560?monitor=true&api-version=2020-06-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/VMScaleSetActions3Min;236,Microsoft.Compute/VMScaleSetActions30Min;1194,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1196,Microsoft.Compute/VmssQueuedVMOperations;4799
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
      x-ms-request-charge:
      - '1'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/288ebb77-eb6d-449c-98e0-e74335973560?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2021-02-02T12:07:52.7469575+00:00\",\r\n  \"\
        endTime\": \"2021-02-02T12:11:34.3101888+00:00\",\r\n  \"status\": \"Succeeded\"\
        ,\r\n  \"properties\": {\r\n    \"output\": {\"value\":[{\"code\":\"ComponentStatus/StdOut/succeeded\"\
        ,\"level\":\"Info\",\"displayStatus\":\"Provisioning succeeded\",\"message\"\
        :\"This is a sample script with parameters  \"},{\"code\":\"ComponentStatus/StdErr/succeeded\"\
        ,\"level\":\"Info\",\"displayStatus\":\"Provisioning succeeded\",\"message\"\
        :\"\"}]}\r\n  },\r\n  \"name\": \"288ebb77-eb6d-449c-98e0-e74335973560\"\r\
        \n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14984,Microsoft.Compute/GetOperation30Min;29899
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"instanceIds": ["1"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachineScaleSets/virtualmachinescaleset8c68120d/manualupgrade?api-version=2020-06-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/e4ee9862-990d-4d04-891b-ffd9940957df?api-version=2020-06-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/e4ee9862-990d-4d04-891b-ffd9940957df?monitor=true&api-version=2020-06-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/VMScaleSetActions3Min;239,Microsoft.Compute/VMScaleSetActions30Min;1193,Microsoft.Compute/VmssQueuedVMOperations;4800
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
      x-ms-request-charge:
      - '0'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachineScaleSets/virtualmachinescaleset8c68120d/virtualmachines/1/deallocate?api-version=2020-06-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/56519289-1013-4aab-8ff8-fc3f26797fe6?api-version=2020-06-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/56519289-1013-4aab-8ff8-fc3f26797fe6?monitor=true&api-version=2020-06-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/DeleteVMScaleSetVM3Min;239,Microsoft.Compute/DeleteVMScaleSetVM30Min;1198,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1199,Microsoft.Compute/VmssQueuedVMOperations;4799
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
      x-ms-request-charge:
      - '1'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"instanceIds": ["1"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachineScaleSets/virtualmachinescaleset8c68120d/delete?api-version=2020-06-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/119198a8-e30b-4340-9c45-462bf41a501f?api-version=2020-06-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/119198a8-e30b-4340-9c45-462bf41a501f?monitor=true&api-version=2020-06-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/VMScaleSetActions3Min;238,Microsoft.Compute/VMScaleSetActions30Min;1192,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1198,Microsoft.Compute/VmssQueuedVMOperations;4799
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
      x-ms-request-charge:
      - '1'
    status:
      code: 202
      message: Accepted
[...]
