interactions:
- request:
    body: '{"location": "eastus", "properties": {"creationData": {"createOption":
      "Empty"}, "diskSizeGB": 200}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_disks_test_compute_shot66bb1115/providers/Microsoft.Compute/disks/disknamex66bb1115?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"disknamex66bb1115\",\r\n  \"location\": \"eastus\"\
        ,\r\n  \"properties\": {\r\n    \"creationData\": {\r\n      \"createOption\"\
        : \"Empty\"\r\n    },\r\n    \"diskSizeGB\": 200,\r\n    \"provisioningState\"\
        : \"Updating\",\r\n    \"isArmResource\": true\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/DiskOperations/54c2e156-d022-46e3-bacf-9855a4d89ce3?api-version=2019-11-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/DiskOperations/54c2e156-d022-46e3-bacf-9855a4d89ce3?monitor=true&api-version=2019-11-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateDisks3Min;997,Microsoft.Compute/CreateUpdateDisks30Min;7989
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/DiskOperations/54c2e156-d022-46e3-bacf-9855a4d89ce3?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2020-04-26T22:04:04.9925309+00:00\",\r\n  \"\
        endTime\": \"2020-04-26T22:04:05.1799931+00:00\",\r\n  \"status\": \"Succeeded\"\
        ,\r\n  \"properties\": {\r\n    \"output\": {\r\n  \"name\": \"disknamex66bb1115\"\
        ,\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_disks_test_compute_shot66bb1115/providers/Microsoft.Compute/disks/disknamex66bb1115\"\
        ,\r\n  \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"eastus\"\
        ,\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\",\r\n    \"tier\": \"Standard\"\
        \r\n  },\r\n  \"properties\": {\r\n    \"creationData\": {\r\n      \"createOption\"\
        : \"Empty\"\r\n    },\r\n    \"diskSizeGB\": 200,\r\n    \"diskIOPSReadWrite\"\
        : 500,\r\n    \"diskMBpsReadWrite\": 60,\r\n    \"encryption\": {\r\n    \
        \  \"type\": \"EncryptionAtRestWithPlatformKey\"\r\n    },\r\n    \"timeCreated\"\
        : \"2020-04-26T22:04:05.0081363+00:00\",\r\n    \"provisioningState\": \"\
        Succeeded\",\r\n    \"diskState\": \"Unattached\",\r\n    \"diskSizeBytes\"\
        : 214748364800,\r\n    \"uniqueId\": \"0a7c514d-e21a-45a8-b29c-d4fea9bb6181\"\
        \r\n  }\r\n}\r\n  },\r\n  \"name\": \"54c2e156-d022-46e3-bacf-9855a4d89ce3\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49994,Microsoft.Compute/GetOperation30Min;399926
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''b\''{"location": "eastus", "properties": {"creationData": {"createOption":
      "Copy", "sourceUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_disks_test_compute_shot66bb1115/providers/Microsoft.Compute/disks/disknamex66bb1115"}}}\'''''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_disks_test_compute_shot66bb1115/providers/Microsoft.Compute/snapshots/snapshotx66bb1115?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"creationData\"\
        : {\r\n      \"createOption\": \"Copy\",\r\n      \"sourceUri\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_disks_test_compute_shot66bb1115/providers/Microsoft.Compute/disks/disknamex66bb1115\"\
        ,\r\n      \"sourceUniqueId\": \"0a7c514d-e21a-45a8-b29c-d4fea9bb6181\"\r\n\
        \    },\r\n    \"provisioningState\": \"Updating\",\r\n    \"isArmResource\"\
        : true\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/DiskOperations/e10a1b66-61ec-40fa-8e01-8ffb89d71dab?api-version=2019-11-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/DiskOperations/e10a1b66-61ec-40fa-8e01-8ffb89d71dab?monitor=true&api-version=2019-11-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/HighCostSnapshotCreateHydrate3Min;239,Microsoft.Compute/HighCostSnapshotCreateHydrate30Min;1915
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/DiskOperations/e10a1b66-61ec-40fa-8e01-8ffb89d71dab?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2020-04-26T22:04:09.3206921+00:00\",\r\n  \"\
        endTime\": \"2020-04-26T22:04:09.9457033+00:00\",\r\n  \"status\": \"Succeeded\"\
        ,\r\n  \"properties\": {\r\n    \"output\": {\r\n  \"name\": \"snapshotx66bb1115\"\
        ,\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_disks_test_compute_shot66bb1115/providers/Microsoft.Compute/snapshots/snapshotx66bb1115\"\
        ,\r\n  \"type\": \"Microsoft.Compute/snapshots\",\r\n  \"location\": \"eastus\"\
        ,\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\",\r\n    \"tier\": \"Standard\"\
        \r\n  },\r\n  \"properties\": {\r\n    \"creationData\": {\r\n      \"createOption\"\
        : \"Copy\",\r\n      \"sourceResourceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_disks_test_compute_shot66bb1115/providers/Microsoft.Compute/disks/disknamex66bb1115\"\
        ,\r\n      \"sourceUniqueId\": \"0a7c514d-e21a-45a8-b29c-d4fea9bb6181\"\r\n\
        \    },\r\n    \"diskSizeGB\": 200,\r\n    \"encryption\": {\r\n      \"type\"\
        : \"EncryptionAtRestWithPlatformKey\"\r\n    },\r\n    \"incremental\": false,\r\
        \n    \"timeCreated\": \"2020-04-26T22:04:09.3206921+00:00\",\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"diskState\": \"Unattached\",\r\n    \"diskSizeBytes\"\
        : 214748364800,\r\n    \"uniqueId\": \"02d8f7b0-d1e0-4194-940d-22d36ef0500b\"\
        \r\n  }\r\n}\r\n  },\r\n  \"name\": \"e10a1b66-61ec-40fa-8e01-8ffb89d71dab\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49993,Microsoft.Compute/GetOperation30Min;399925
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_disks_test_compute_shot66bb1115/providers/Microsoft.Compute/snapshots/snapshotx66bb1115?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"snapshotx66bb1115\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_disks_test_compute_shot66bb1115/pro[...]
- request:
    body: 'b''b\''{"location": "eastus", "properties": {"storageProfile": {"osDisk":
      {"snapshot": {"id": "subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_disks_test_compute_shot66bb1115/providers/Microsoft.Compute/snapshots/snapshotx66bb1115"},
      "osType": "Linux", "osState": "Generalized"}, "zoneResilient": false}, "hyperVGeneration":
      "V1"}}\'''''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_disks_test_compute_shot66bb1115/providers/Microsoft.Compute/images/imagex66bb1115?api-version=2019-12-01
  response:
    body:
      string: "{\r\n  \"name\": \"imagex66bb1115\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_disks_test_compute_shot66bb1115/providers/Microsoft.Compute/images/imagex66bb1115\"\
        ,\r\n  \"type\": \"Microsoft.Compute/images\",\r\n  \"location\": \"eastus\"\
        ,\r\n  \"properties\": {\r\n    \"storageProfile\": {\r\n      \"osDisk\"\
        : {\r\n        \"osType\": \"Linux\",\r\n        \"osState\": \"Generalized\"\
        ,\r\n        \"snapshot\": {\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_disks_test_compute_shot66bb1115/providers/Microsoft.Compute/snapshots/snapshotx66bb1115\"\
        \r\n        },\r\n        \"caching\": \"None\",\r\n        \"storageAccountType\"\
        : \"Standard_LRS\"\r\n      },\r\n      \"dataDisks\": [],\r\n      \"zoneResilient\"\
        : false\r\n    },\r\n    \"provisioningState\": \"Creating\",\r\n    \"hyperVGeneration\"\
        : \"V1\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/4c2b6504-2a13-4ff2-989c-e60ef6e82a5f?api-version=2019-12-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateImages3Min;39,Microsoft.Compute/CreateImages30Min;195
      x-ms-ratelimit-remaining-subscription-writes:
      - '1192'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/4c2b6504-2a13-4ff2-989c-e60ef6e82a5f?api-version=2019-12-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2020-04-26T22:04:13.050857+00:00\",\r\n  \"\
        endTime\": \"2020-04-26T22:04:18.1759539+00:00\",\r\n  \"status\": \"Succeeded\"\
        ,\r\n  \"name\": \"4c2b6504-2a13-4ff2-989c-e60ef6e82a5f\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14996,Microsoft.Compute/GetOperation30Min;29921
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {"department": "HR"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_disks_test_compute_shot66bb1115/providers/Microsoft.Compute/images/imagex66bb1115?api-version=2019-12-01
  response:
    body:
      string: "{\r\n  \"name\": \"imagex66bb1115\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_disks_test_com[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_disks_test_compute_shot66bb1115/providers/Microsoft.Compute/snapshots/snapshotx66bb1115?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"location\": \"eastus\",\r\n  \"sku\": {\r\n    \"name\": \"\
        Standard_LRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"properties\"\
        : {\r\n    \"creationData\": {\r\n      \"createOption\": \"Copy\",\r\n  \
        \    \"sourceResourceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_disks_test_compute_shot66bb1115/providers/Microsoft.Compute/disks/disknamex66bb1115\"\
        ,\r\n      \"sourceUniqueId\": \"0a7c514d-e21a-45a8-b29c-d4fea9bb6181\"\r\n\
        \    },\r\n    \"diskSizeGB\": 200,\r\n    \"provisioningState\": \"Updating\"\
        ,\r\n    \"isArmResource\": true,\r\n    \"faultDomain\": 0\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/DiskOperations/ed8173a0-8d5d-4c83-8160-9a16911debf5?api-version=2019-11-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/DiskOperations/ed8173a0-8d5d-4c83-8160-9a16911debf5?monitor=true&api-version=2019-11-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateDisks3Min;998,Microsoft.Compute/CreateUpdateDisks30Min;7988
      x-ms-ratelimit-remaining-subscription-writes:
      - '1190'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"access": "Read", "durationInSeconds": 1800}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_disks_test_compute_shot66bb1115/providers/Microsoft.Compute/snapshots/snapshotx66bb1115/beginGetAccess?api-version=2019-11-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/DiskOperations/e330d3f1-49a8-4cd3-bc13-2699cf265d57?api-version=2019-11-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/DiskOperations/e330d3f1-49a8-4cd3-bc13-2699cf265d57?monitor=true&api-version=2019-11-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/HighCostSnapshotCreateHydrate3Min;238,Microsoft.Compute/HighCostSnapshotCreateHydrate30Min;1914
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/DiskOperations/e330d3f1-49a8-4cd3-bc13-2699cf265d57?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2020-04-26T22:05:19.8400797+00:00\",\r\n  \"\
        endTime\": \"2020-04-26T22:05:19.9807007+00:00\",\r\n  \"status\": \"Succeeded\"\
        ,\r\n  \"properties\": {\r\n    \"output\": {\r\n  \"accessSAS\": \"https://md-hqnnqftxbnwp.blob.core.windows.net/bl5c15jj11lf/abcd?sv=2017-04-17&sr=b&si=9ec56864-00d2-40ee-9a52-725954bfb6b8&sig=6FT8wWRNmg7B%2FwZygw4M%2Bjht8wTIdxDE8m2vJSqK6tw%3D\"\
        \r\n}\r\n  },\r\n  \"name\": \"e330d3f1-49a8-4cd3-bc13-2699cf265d57\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49989,Microsoft.Compute/GetOperation30Min;399916
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/DiskOperations/e330d3f1-49a8-4cd3-bc13-2699cf265d57?monitor=true&api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"accessSAS\": \"https://md-hqnnqftxbnwp.blob.core.windows.net/bl5c15jj11lf/abcd?sv=2017-04-17&sr=b&si=9ec56864-00d2-40ee-9a52-725954bfb6b8&sig=6FT8wWRNmg7B%2FwZygw4M%2Bjht8wTIdxDE8m2vJSqK6tw%3D\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49988,Microsoft.Compute/GetOperation30Min;399915
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_disks_test_compute_shot66bb1115/providers/Microsoft.Compute/snapshots/snapshotx66bb1115/endGetAccess?api-version=2019-11-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/DiskOperations/6b7c9bdf-db90-4b6d-abde-54a7ef56a58a?api-version=2019-11-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/DiskOperations/6b7c9bdf-db90-4b6d-abde-54a7ef56a58a?monitor=true&api-version=2019-11-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/HighCostSnapshotCreateHydrate3Min;237,Microsoft.Compute/HighCostSnapshotCreateHydrate30Min;1913
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/DiskOperations/d2ec5bf2-f753-41b4-8aae-398dd2232026?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2020-04-26T22:06:52.8894523+00:00\",\r\n  \"\
        endTime\": \"2020-04-26T22:06:53.0925798+00:00\",\r\n  \"status\": \"Succeeded\"\
        ,\r\n  \"name\": \"d2ec5bf2-f753-41b4-8aae-398dd2232026\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49987,Microsoft.Compute/GetOperation30Min;399908
    status:
      code: 200
      message: OK
version: 1
