interactions:
- request:
    body: '{"sku": {"name": "Standard_GRS"}, "kind": "StorageV2", "location": "eastus",
      "tags": {"key1": "value1", "key2": "value2"}, "properties": {"encryption": {"services":
      {"blob": {"enabled": true}, "file": {"enabled": true}}, "keySource": "Microsoft.Storage"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_test_compute_log_analytics9b271243/providers/Microsoft.Storage/storageAccounts/accountxyz9b271243?api-version=2019-04-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/f3376c25-3771-4058-8312-3453e7525c5f?monitor=true&api-version=2019-04-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/f3376c25-3771-4058-8312-3453e7525c5f?monitor=true&api-version=2019-04-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/f3376c25-3771-4058-8312-3453e7525c5f?monitor=true&api-version=2019-04-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/f3376c25-3771-4058-8312-3453e7525c5f?monitor=true&api-version=2019-04-01
  response:
    body:
      string: '{"sku":{"name":"Standard_GRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_test_compute_log_analytics9b271243/providers/Microsoft.Storage/storageAccounts/accountxyz9b271243","name":"accountxyz9b271243","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{"key1":"value1","key2":"value2"},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2020-05-06T07:49:44.0519072Z"},"blob":{"enabled":true,"lastEnabledTime":"2020-05-06T07:49:44.0519072Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2020-05-06T07:49:43.9582060Z","primaryEndpoints":{"dfs":"https://accountxyz9b271243.dfs.core.windows.net/","web":"https://accountxyz9b271243.z13.web.core.windows.net/","blob":"https://accountxyz9b271243.blob.core.windows.net/","queue":"https://accountxyz9b271243.queue.core.windows.net/","table":"https://accountxyz9b271243.table.core.windows.net/","file":"https://accountxyz9b271243.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available","secondaryLocation":"westus","statusOfSecondary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_test_compute_log_analytics9b271243/providers/Microsoft.Storage/storageAccounts/accountxyz9b271243/listKeys?api-version=2019-04-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"1Kkak0OzqMdc0V54t4CuZ0ejwwhzKsyNmx8daYmEwmFqEq+AmzHnCd5qVjB0eTsGHmzP81corbizaC7T+HrYUg==","permissions":"FULL"},{"keyName":"key2","value":"ya0Y0WuOCKlcP9JAAeYhOhAp9+Ze7qNZRS6xVBXan1dft5aTiWIoD/TgBfeAjDIVIThgRy43R3Ks1ZH3mA/Kdw==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: '{"blobContainerSasUri": "https://accountxyz9b271243.blob.core.windows.net/foo?st=2020-05-05T07%3A50%3A13Z&se=2020-04-28T07%3A50%3A13Z&sp=rl&sv=2019-07-07&ss=b&srt=o&sig=6Dm3AI4iggEady7qT/tYkaD73JwsdZUuSDgVwt7a0Ss%3D",
      "fromTime": "2020-05-04T07:50:13.332239Z", "toTime": "2020-05-06T07:50:13.332257Z",
      "groupByResourceName": true, "intervalLength": "SixtyMins"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/logAnalytics/apiAccess/getRequestRateByInterval?api-version=2019-12-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/b235090a-e1a4-4aef-8de7-ce2c8f842bab?api-version=2019-12-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/b235090a-e1a4-4aef-8de7-ce2c8f842bab?monitor=true&api-version=2019-12-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetLogAnalytics3Min;9,Microsoft.Compute/GetLogAnalytics30Min;49
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/b235090a-e1a4-4aef-8de7-ce2c8f842bab?api-version=2019-12-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2020-05-06T07:50:15.4890481+00:00\",\r\n  \"\
        endTime\": \"2020-05-06T07:50:15.8172075+00:00\",\r\n  \"status\": \"Failed\"\
        ,\r\n  \"error\": {\r\n    \"code\": \"InternalOperationError\",\r\n    \"\
        message\": \"Log analytics lookup query execution has failed.\"\r\n  },\r\n\
        \  \"name\": \"b235090a-e1a4-4aef-8de7-ce2c8f842bab\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14998,Microsoft.Compute/GetOperation30Min;29962
    status:
      code: 200
      message: OK
- request:
    body: '{"blobContainerSasUri": "https://accountxyz9b271243.blob.core.windows.net/foo?st=2020-05-05T07%3A50%3A13Z&se=2020-04-28T07%3A50%3A13Z&sp=rl&sv=2019-07-07&ss=b&srt=o&sig=6Dm3AI4iggEady7qT/tYkaD73JwsdZUuSDgVwt7a0Ss%3D",
      "fromTime": "2020-05-04T07:50:45.285705Z", "toTime": "2020-05-06T07:50:45.285727Z",
      "groupByOperationName": true, "groupByResourceName": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/logAnalytics/apiAccess/getThrottledRequests?api-version=2019-12-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/c9dbf83e-266e-4a47-b027-58c7e64dc6f2?api-version=2019-12-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/c9dbf83e-266e-4a47-b027-58c7e64dc6f2?monitor=true&api-version=2019-12-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetLogAnalytics3Min;8,Microsoft.Compute/GetLogAnalytics30Min;48
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/c9dbf83e-266e-4a47-b027-58c7e64dc6f2?api-version=2019-12-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2020-05-06T07:50:46.3017488+00:00\",\r\n  \"\
        endTime\": \"2020-05-06T07:50:46.395477+00:00\",\r\n  \"status\": \"Failed\"\
        ,\r\n  \"error\": {\r\n    \"code\": \"InternalOperationError\",\r\n    \"\
        message\": \"Log analytics lookup query execution has failed.\"\r\n  },\r\n\
        \  \"name\": \"c9dbf83e-266e-4a47-b027-58c7e64dc6f2\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14996,Microsoft.Compute/GetOperation30Min;29960
    status:
      code: 200
      message: OK
version: 1
