interactions:
- request:
    body: '{"location": "eastus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/networknamexb4bb17db?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"networknamexb4bb17db\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/networknamexb4bb17db\",\r\n
        \ \"etag\": \"W/\\\"dbb22fe3-5516-4e20-af8d-dd9a2498e184\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"2a9693bd-d7e3-4e05-ae07-c30dcf6f1c01\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\":
        [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n
        \   \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n
        \ }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/8e8f07fe-0a37-40cd-a0da-980ecaae21e4?api-version=2020-08-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1189'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/8e8f07fe-0a37-40cd-a0da-980ecaae21e4?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"addressPrefix": "10.0.0.0/24"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/networknamexb4bb17db/subnets/subnetnamexb4bb17db?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"subnetnamexb4bb17db\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/networknamexb4bb17db/subnets/subnetnamexb4bb17db\",\r\n
        \ \"etag\": \"W/\\\"663cb639-b44a-4a50-85ab-6459f8425d79\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/10444b8d-17f8-44c7-8121-9db915524d15?api-version=2020-08-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1188'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard_D1_v2", "tier": "Standard",
      "capacity": 1}, "properties": {"upgradePolicy": {"mode": "Manual", "rollingUpgradePolicy":
      {"maxUnhealthyInstancePercent": 100, "maxUnhealthyUpgradedInstancePercent":
      100}}, "virtualMachineProfile": {"osProfile": {"computerNamePrefix": "testPC",
      "adminUsername": "testuser", "adminPassword": "Aa!1()-xyz"}, "storageProfile":
      {"imageReference": {"publisher": "MicrosoftWindowsServer", "offer": "WindowsServer",
      "sku": "2016-Datacenter", "version": "latest"}, "osDisk": {"caching": "ReadWrite",
      "createOption": "FromImage", "diskSizeGB": 512, "managedDisk": {"storageAccountType":
      "Standard_LRS"}}}, "networkProfile": {"networkInterfaceConfigurations": [{"name":
      "testPC", "properties": {"primary": true, "ipConfigurations": [{"name": "testPC",
      "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/networknamexb4bb17db/subnets/subnetnamexb4bb17db"}}}]}}]}},
      "overprovision": true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachineScaleSets/virtualmachinescalesetb4bb17db?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"name\": \"virtualmachinescalesetb4bb17db\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachineScaleSets/virtualmachinescalesetb4bb17db\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\":
        \"eastus\",\r\n  \"sku\": {\r\n    \"name\": \"Standard_D1_v2\",\r\n    \"tier\":
        \"Standard\",\r\n    \"capacity\": 1\r\n  },\r\n  \"properties\": {\r\n    \"singlePlacementGroup\":
        true,\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Manual\",\r\n      \"rollingUpgradePolicy\":
        {\r\n        \"maxBatchInstancePercent\": 20,\r\n        \"maxUnhealthyInstancePercent\":
        100,\r\n        \"maxUnhealthyUpgradedInstancePercent\": 100,\r\n        \"pauseTimeBetweenBatches\":
        \"PT0S\"\r\n      }\r\n    },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\":
        {\r\n        \"computerNamePrefix\": \"testPC\",\r\n        \"adminUsername\":
        \"testuser\",\r\n        \"windowsConfiguration\": {\r\n          \"provisionVMAgent\":
        true,\r\n          \"enableAutomaticUpdates\": true\r\n        },\r\n        \"secrets\":
        [],\r\n        \"allowExtensionOperations\": true,\r\n        \"requireGuestProvisionSignal\":
        true\r\n      },\r\n      \"storageProfile\": {\r\n        \"osDisk\": {\r\n
        \         \"osType\": \"Windows\",\r\n          \"createOption\": \"FromImage\",\r\n
        \         \"caching\": \"ReadWrite\",\r\n          \"managedDisk\": {\r\n
        \           \"storageAccountType\": \"Standard_LRS\"\r\n          },\r\n          \"diskSizeGB\":
        512\r\n        },\r\n        \"imageReference\": {\r\n          \"publisher\":
        \"MicrosoftWindowsServer\",\r\n          \"offer\": \"WindowsServer\",\r\n
        \         \"sku\": \"2016-Datacenter\",\r\n          \"version\": \"latest\"\r\n
        \       }\r\n      },\r\n      \"networkProfile\": {\"networkInterfaceConfigurations\":[{\"name\":\"testPC\",\"properties\":{\"primary\":true,\"enableAcceleratedNetworking\":false,\"dnsSettings\":{\"dnsServers\":[]},\"enableIPForwarding\":false,\"ipConfigurations\":[{\"name\":\"testPC\",\"properties\":{\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/networknamexb4bb17db/subnets/subnetnamexb4bb17db\"},\"privateIPAddressVersion\":\"IPv4\"}}]}}]}\r\n
        \   },\r\n    \"provisioningState\": \"Creating\",\r\n    \"overprovision\":
        true,\r\n    \"doNotRunExtensionsOnOverprovisionedVMs\": false,\r\n    \"uniqueId\":
        \"934ca3ee-5f8d-4d00-bad2-a86181b2d152\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/0d9f2393-cc71-4c78-83c6-8187994a4eeb?api-version=2020-12-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateVMScaleSet3Min;185,Microsoft.Compute/CreateVMScaleSet30Min;929,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;3726,Microsoft.Compute/VmssQueuedVMOperations;0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
      x-ms-request-charge:
      - '2'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/0d9f2393-cc71-4c78-83c6-8187994a4eeb?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2021-03-05T10:43:34.7800193+00:00\",\r\n  \"status\":
        \"InProgress\",\r\n  \"name\": \"0d9f2393-cc71-4c78-83c6-8187994a4eeb\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14994,Microsoft.Compute/GetOperation30Min;29878
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/0d9f2393-cc71-4c78-83c6-8187994a4eeb?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2021-03-05T10:43:34.7800193+00:00\",\r\n  \"endTime\":
        \"2021-03-05T10:45:12.4211335+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"name\": \"0d9f2393-cc71-4c78-83c6-8187994a4eeb\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14994,Microsoft.Compute/GetOperation30Min;29887
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachineScaleSets/virtualmachinescalesetb4bb17db/extensionRollingUpgrade?api-version=2020-12-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/1c0f66cf-b45c-4eca-bd98-c226adfa8fc8?api-version=2020-12-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/1c0f66cf-b45c-4eca-bd98-c226adfa8fc8?monitor=true&api-version=2020-12-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/VMScaleSetActions3Min;239,Microsoft.Compute/VMScaleSetActions30Min;1189,Microsoft.Compute/VmssQueuedVMOperations;0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1187'
      x-ms-request-charge:
      - '0'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/1c0f66cf-b45c-4eca-bd98-c226adfa8fc8?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2021-03-05T10:45:22.5619068+00:00\",\r\n  \"endTime\":
        \"2021-03-05T10:55:48.0519736+00:00\",\r\n  \"status\": \"Failed\",\r\n  \"error\":
        {\r\n    \"code\": \"MaxUnhealthyUpgradedInstancePercentExceededInRollingUpgrade\",\r\n
        \   \"message\": \"Rolling Upgrade failed after exceeding the MaxUnhealthyUpgradedInstancePercent
        value defined in the RollingUpgradePolicy. 100% of instances are in an unhealthy
        state after being upgraded - more than the threshold of 20%. The most impactful
        error is: Instance found to be unhealthy or unreachable.. First failed instance
        ID is: 1.\"\r\n  },\r\n  \"name\": \"1c0f66cf-b45c-4eca-bd98-c226adfa8fc8\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14974,Microsoft.Compute/GetOperation30Min;29869
    status:
      code: 200
      message: OK
version: 1
