interactions:
- request:
    body: '{"sku": {"name": "Standard_GRS"}, "kind": "StorageV2", "location": "eastus",
      "tags": {"key1": "value1", "key2": "value2"}, "properties": {"encryption": {"services":
      {"blob": {"enabled": true}, "file": {"enabled": true}}, "keySource": "Microsoft.Storage"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/accountxyz9b271243?api-version=2019-04-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/2ee30f53-725e-409e-9649-84d876959720?monitor=true&api-version=2019-04-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/2ee30f53-725e-409e-9649-84d876959720?monitor=true&api-version=2019-04-01
  response:
    body:
      string: '{"sku":{"name":"Standard_GRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/accountxyz9b271243","name":"accountxyz9b271243","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{"key1":"value1","key2":"value2"},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2020-11-16T06:56:36.2965608Z"},"blob":{"enabled":true,"lastEnabledTime":"2020-11-16T06:56:36.2965608Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2020-11-16T06:56:36.2028248Z","primaryEndpoints":{"dfs":"https://accountxyz9b271243.dfs.core.windows.net/","web":"https://accountxyz9b271243.z13.web.core.windows.net/","blob":"https://accountxyz9b271243.blob.core.windows.net/","queue":"https://accountxyz9b271243.queue.core.windows.net/","table":"https://accountxyz9b271243.table.core.windows.net/","file":"https://accountxyz9b271243.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available","secondaryLocation":"westus","statusOfSecondary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/accountxyz9b271243/listKeys?api-version=2019-04-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"cP75fhEAgN2CX6PLvio4ugez3H6yBSMMHiz2ejf+9755qBJY/Wx6ufVaDPsK+LNgVSLoCVIptiqm2GJBXCEAuQ==","permissions":"FULL"},{"keyName":"key2","value":"vDk0QXC5y/YhoV2QoBbU81PhAD9pJH7kDZFdY0WGYdZc8LY1D/3VaMv6wAjzhR8QPqja04EeZjYyTERgBJyflA==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: '{"blobContainerSasUri": "https://accountxyz9b271243.blob.core.windows.net/foo?st=2020-11-15T06%3A56%3A54Z&se=2020-11-08T06%3A56%3A54Z&sp=rl&sv=2020-02-10&ss=b&srt=o&sig=IL4iOBQ967Gc9H%2BiN9Xhh5/yJtofLdRsDOq2KzAXCHQ%3D",
      "fromTime": "2020-11-14T06:56:54.861587Z", "toTime": "2020-11-16T06:56:54.86159Z",
      "groupByResourceName": true, "intervalLength": "SixtyMins"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/logAnalytics/apiAccess/getRequestRateByInterval?api-version=2020-06-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/88c558f0-ec37-4d1e-86a3-90cceaacab8e?api-version=2020-06-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/88c558f0-ec37-4d1e-86a3-90cceaacab8e?monitor=true&api-version=2020-06-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetLogAnalytics3Min;9,Microsoft.Compute/GetLogAnalytics30Min;49
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/88c558f0-ec37-4d1e-86a3-90cceaacab8e?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2020-11-16T06:56:57.182141+00:00\",\r\n  \"\
        endTime\": \"2020-11-16T06:56:57.8852663+00:00\",\r\n  \"status\": \"Failed\"\
        ,\r\n  \"error\": {\r\n    \"code\": \"BadRequest\",\r\n    \"message\": \"\
        Could not write log analytics to the given SAS URI due to The remote server\
        \ returned an error: (403) Forbidden..\"\r\n  },\r\n  \"name\": \"88c558f0-ec37-4d1e-86a3-90cceaacab8e\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14998,Microsoft.Compute/GetOperation30Min;29998
    status:
      code: 200
      message: OK
- request:
    body: '{"blobContainerSasUri": "https://accountxyz9b271243.blob.core.windows.net/foo?st=2020-11-15T06%3A56%3A54Z&se=2020-11-08T06%3A56%3A54Z&sp=rl&sv=2020-02-10&ss=b&srt=o&sig=IL4iOBQ967Gc9H%2BiN9Xhh5/yJtofLdRsDOq2KzAXCHQ%3D",
      "fromTime": "2020-11-14T06:57:27.725423Z", "toTime": "2020-11-16T06:57:27.725428Z",
      "groupByOperationName": true, "groupByResourceName": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/logAnalytics/apiAccess/getThrottledRequests?api-version=2020-06-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/3dfaa122-bfd6-4399-92bb-73881ae2dc50?api-version=2020-06-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/3dfaa122-bfd6-4399-92bb-73881ae2dc50?monitor=true&api-version=2020-06-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetLogAnalytics3Min;8,Microsoft.Compute/GetLogAnalytics30Min;48
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/3dfaa122-bfd6-4399-92bb-73881ae2dc50?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2020-11-16T06:57:28.0104096+00:00\",\r\n  \"\
        endTime\": \"2020-11-16T06:57:28.1979144+00:00\",\r\n  \"status\": \"Failed\"\
        ,\r\n  \"error\": {\r\n    \"code\": \"BadRequest\",\r\n    \"message\": \"\
        Could not write log analytics to the given SAS URI due to The remote server\
        \ returned an error: (403) Forbidden..\"\r\n  },\r\n  \"name\": \"3dfaa122-bfd6-4399-92bb-73881ae2dc50\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14996,Microsoft.Compute/GetOperation30Min;29996
    status:
      code: 200
      message: OK
version: 1
