interactions:
- request:
    body: '{"location": "eastus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/networknamex15cf0eff?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"networknamex15cf0eff\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/networknamex15cf0eff\",\r\n
        \ \"etag\": \"W/\\\"607dec19-1665-41fc-8ffa-b27c0db7cb9e\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"eda75f7c-b5ee-40ac-bd8b-b62c68636fbe\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\":
        [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n
        \   \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n
        \ }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/977a6c93-979f-493b-bb9b-907c1f4e0b94?api-version=2021-02-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/977a6c93-979f-493b-bb9b-907c1f4e0b94?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"addressPrefix": "10.0.0.0/24"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/networknamex15cf0eff/subnets/subnetx15cf0eff?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"subnetx15cf0eff\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/networknamex15cf0eff/subnets/subnetx15cf0eff\",\r\n
        \ \"etag\": \"W/\\\"651a9e1b-db7d-4009-ab68-3232fc1de4d4\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/97f1d5e8-3d2a-4fd0-ba15-6b47419d0626?api-version=2021-02-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "eastus", "properties": {"ipConfigurations": [{"name": "MyIpConfig",
      "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/networknamex15cf0eff/subnets/subnetx15cf0eff"}}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/networkInterfaces/interfacex15cf0eff?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"n[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/networkInterfaces/interfacex15cf0eff?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"interfacex15cf0eff\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/networkInterfaces/interfacex15cf0eff\",\r\n
        \ \"etag\": \"W/\\\"a40ad757-4086-4a4c-822a-3edea638fbbc\\\"\",\r\n  \"location\":
        \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"79ed2af1-693b-49cd-a041-551e40730d7d\",\r\n    \"ipConfigurations\":
        [\r\n      {\r\n        \"name\": \"MyIpConfig\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/networkInterfaces/interfacex15cf0eff/ipConfigurations/MyIpConfig\",\r\n
        \       \"etag\": \"W/\\\"a40ad757-4086-4a4c-822a-3edea638fbbc\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\":
        \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/networknamex15cf0eff/subnets/subnetx15cf0eff\"\r\n
        \         },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\":
        \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\":
        [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\":
        \"prp0p1powwwebpmlwywgqy1pxg.bx.internal.cloudapp.net\"\r\n    },\r\n    \"enableAcceleratedNetworking\":
        false,\r\n    \"enableIPForwarding\": false,\r\n    \"hostedWorkloads\": [],\r\n
        \   \"tapConfigurations\": [],\r\n    \"nicType\": \"Standard\"\r\n  },\r\n
        \ \"type\": \"Microsoft.Network/networkInterfaces\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a40ad757-4086-4a4c-822a-3edea638fbbc"
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"hardwareProfile": {"vmSize": "Standard_D2_v2"},
      "storageProfile": {"imageReference": {"publisher": "MicrosoftWindowsServer",
      "offer": "WindowsServer", "sku": "2016-Datacenter", "version": "latest"}, "osDisk":
      {"name": "myVMosdisk", "caching": "ReadWrite", "createOption": "FromImage",
      "managedDisk": {"storageAccountType": "Standard_LRS"}}, "dataDisks": [{"lun":
      0, "createOption": "Empty", "diskSizeGB": 1023}, {"lun": 1, "createOption":
      "Empty", "diskSizeGB": 1023}]}, "osProfile": {"computerName": "myVM", "adminUsername":
      "testuser", "adminPassword": "Aa1!zyx_", "windowsConfiguration": {"enableAutomaticUpdates":
      true}}, "networkProfile": {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/networkInterfaces/interfacex15cf0eff",
      "properties": {"primary": true}}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachines/virtualmachinex15cf0eff?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"virtualmachinex15cf0eff\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachines/virtualmachinex15cf0eff\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"eastus\",\r\n
        \ \"properties\": {\r\n    \"vmId\": \"59f59d01-504a-456a-b061-93cead79500b\",\r\n
        \   \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_D2_v2\"\r\n    },\r\n
        \   \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\":
        \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\":
        \"2016-Datacenter\",\r\n        \"version\": \"latest\",\r\n        \"exactVersion\":
        \"14393.4402.2105052108\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\":
        \"Windows\",\r\n        \"name\": \"myVMosdisk\",\r\n        \"createOption\":
        \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\":
        {\r\n          \"storageAccountType\": \"Standard_LRS\"\r\n        },\r\n
        \       \"diskSizeGB\": 127,\r\n        \"deleteOption\": \"Detach\"\r\n      },\r\n
        \     \"dataDisks\": [\r\n        {\r\n          \"lun\": 0,\r\n          \"createOption\":
        \"Empty\",\r\n          \"caching\": \"None\",\r\n          \"managedDisk\":
        {\r\n            \"storageAccountType\": \"Standard_LRS\"\r\n          },\r\n
        \         \"diskSizeGB\": 1023,\r\n          \"toBeDetached\": false,\r\n
        \         \"deleteOption\": \"Detach\"\r\n        },\r\n        {\r\n          \"lun\":
        1,\r\n          \"createOption\": \"Empty\",\r\n          \"caching\": \"None\",\r\n
        \         \"managedDisk\": {\r\n            \"storageAccountType\": \"Standard_LRS\"\r\n
        \         },\r\n          \"diskSizeGB\": 1023,\r\n          \"toBeDetached\":
        false,\r\n          \"deleteOption\": \"Detach\"\r\n        }\r\n      ]\r\n
        \   },\r\n    \"osProfile\": {\r\n      \"computerName\": \"myVM\",\r\n      \"adminUsername\":
        \"testuser\",\r\n      \"windowsConfiguration\": {\r\n        \"provisionVMAgent\":
        true,\r\n        \"enableAutomaticUpdates\": true,\r\n        \"patchSettings\":
        {\r\n          \"patchMode\": \"AutomaticByOS\",\r\n          \"assessmentMode\":
        \"ImageDefault\"\r\n        }\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\":
        true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\":
        {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/networkInterfaces/interfacex15cf0eff\",\"properties\":{\"primary\":true}}]},\r\n
        \   \"provisioningState\": \"Creating\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/b7d07f39-4fdf-4cd1-8381-f44b3bd1a804?api-version=2021-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PutVM3Min;744,Microsoft.Compute/PutVM30Min;3728
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/b7d07f39-4fdf-4cd1-8381-f44b3bd1a804?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2021-05-25T10:42:46.1815244+00:00\",\r\n  \"status\":
        \"InProgress\",\r\n  \"name\": \"b7d07f39-4fdf-4cd1-8381-f44b3bd1a804\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14999,Microsoft.Compute/GetOperation30Min;29982
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/b7d07f39-4fdf-4cd1-8381-f44b3bd1a804?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2021-05-25T10:42:46.1815244+00:00\",\r\n  \"endTime\":
        \"2021-05-25T10:44:34.1659812+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"name\": \"b7d07f39-4fdf-4cd1-8381-f44b3bd1a804\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14995,Microsoft.Compute/GetOperation30Min;29978
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "properties": {"publisher": "Microsoft.Azure.NetworkWatcher",
      "type": "NetworkWatcherAgentWindows", "typeHandlerVersion": "1.4", "autoUpgradeMinorVersion":
      true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachines/virtualmachinex15cf0eff/extensions/virtualmachineextensionx15cf0eff?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"virtualmachineextensionx15cf0eff\",\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-00000000000[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachines/virtualmachinex15cf0eff/instanceView?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"computerName\": \"myVM\",\r\n  \"osName\": \"Windows Server
        2016 Datacenter\",\r\n  \"osVersion\": \"Microsoft Windows NT 10.0.14393.0\",\r\n
        \ \"vmAgent\": {\r\n    \"vmAgentVersion\": \"2.7.41491.1010\",\r\n    \"statuses\":
        [\r\n      {\r\n        \"code\": \"ProvisioningState/succeeded\",\r\n        \"level\":
        \"Info\",\r\n        \"displayStatus\": \"Ready\",\r\n        \"message\":
        \"GuestAgent is running and processing the extensions.\",\r\n        \"time\":
        \"2021-05-25T10:46:33+00:00\"\r\n      }\r\n    ],\r\n    \"extensionHandlers\":
        [\r\n      {\r\n        \"type\": \"Microsoft.Azure.NetworkWatcher.NetworkWatcherAgentWindows\",\r\n
        \       \"typeHandlerVersion\": \"1.4.1693.3\",\r\n        \"status\": {\r\n
        \         \"code\": \"ProvisioningState/succeeded\",\r\n          \"level\":
        \"Info\",\r\n          \"displayStatus\": \"Ready\",\r\n          \"message\":
        \"Plugin enabled (handler name: Microsoft.Azure.NetworkWatcher.NetworkWatcherAgentWindows,
        extension name: , version: 1.4.1693.3).\"\r\n        }\r\n      }\r\n    ]\r\n
        \ },\r\n  \"disks\": [\r\n    {\r\n      \"name\": \"myVMosdisk\",\r\n      \"statuses\":
        [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning
        succeeded\",\r\n          \"time\": \"2021-05-25T10:42:50.7440243+00:00\"\r\n
        \       }\r\n      ]\r\n    },\r\n    {\r\n      \"name\": \"virtualmachinex15cf0eff_disk2_d0afd54c9c45480e8b9b99601fdd65ef\",\r\n
        \     \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning
        succeeded\",\r\n          \"time\": \"2021-05-25T10:42:50.7440243+00:00\"\r\n
        \       }\r\n      ]\r\n    },\r\n    {\r\n      \"name\": \"virtualmachinex15cf0eff_disk3_c2ecc5c2329e47afbc892c5ee789a3ab\",\r\n
        \     \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning
        succeeded\",\r\n          \"time\": \"2021-05-25T10:42:50.7440243+00:00\"\r\n
        \       }\r\n      ]\r\n    }\r\n  ],\r\n  \"extensions\": [\r\n    {\r\n
        \     \"name\": \"virtualmachineextensionx15cf0eff\",\r\n      \"type\": \"Microsoft.Azure.NetworkWatcher.NetworkWatcherAgentWindows\",\r\n
        \     \"typeHandlerVersion\": \"1.4.1693.3\",\r\n      \"statuses\": [\r\n
        \       {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n          \"level\":
        \"Info\",\r\n          \"displayStatus\": \"Provisioning succeeded\",\r\n
        \         \"message\": \"Plugin enabled (handler name: Microsoft.Azure.NetworkWatcher.NetworkWatcherAgentWindows,
        extension name: , version: 1.4.1693.3).\"\r\n        }\r\n      ]\r\n    }\r\n
        \ ],\r\n  \"hyperVGeneration\": \"V1\",\r\n  \"statuses\": [\r\n    {\r\n
        \     \"code\": \"ProvisioningState/succeeded\",\r\n      \"level\": \"Info\",\r\n
        \     \"displayStatus\": \"Provisioning succeeded\",\r\n      \"time\": \"2021-05-25T10:46:34.9939773+00:00\"\r\n
        \   },\r\n    {\r\n      \"code\": \"PowerState/running\",\r\n      \"level\":
        \"Info\",\r\n      \"displayStatus\": \"VM running\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGet3Min;3987,Microsoft.Compute/LowCostGet30Min;31939
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/runCommands/RunPowerShellScript?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"script\": [\r\n    \"param(\\r\\n  [string]$arg1,\\r\\n  [string]$arg2\\r\\n)\\r\\nWrite-Host
        This is a sample script with parameters $arg1 $arg2\\r\\n\\r\\n# SIG # Begin
        signature block\\r\\n# MIIjkQYJKoZIhvcNAQcCoIIjgjCCI34CAQExDzANBglghkgBZQMEAgEFADB5Bgor\\r\\n#
        BgEEAYI3AgEEoGswaTA0BgorBgEEAYI3AgEeMCYCAwEAAAQQH8w7YFlLCE63JNLG\\r\\n# KX7zUQIBAAIBAAIBAAIBAAIBADAxMA0GCWCGSAFlAwQCAQUABCB6jm9GJUxEj/xj\\r\\n#
        xRn7NMmK1YlgeGDCHEVx3xVyCBNnmaCCDYEwggX/MIID56ADAgECAhMzAAAB32vw\\r[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachines/virtualmachinex15cf0eff/extensions?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"virtualmachineextensionx15cf0eff\",\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachines/virtualmachinex15cf0eff/extensions/virtualmachineextensionx15cf0eff\",\r\n
        \     \"type\": \"Microsoft.Compute/virtualMachines/extensions\",\r\n      \"location\":
        \"eastus\",\r\n      \"properties\": {\r\n        \"autoUpgradeMinorVersion\":
        true,\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"publisher\":
        \"Microsoft.Azure.NetworkWatcher\",\r\n        \"type\": \"NetworkWatcherAgentWindows\",\r\n
        \       \"typeHandlerVersion\": \"1.4\"\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGet3Min;3985,Microsoft.Compute/LowCostGet30Min;31937
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"commandId": "RunPowerShellScript"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachines/virtualmachinex15cf0eff/runCommand?api-version=2021-03-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/61b5fcc7-e667-424f-bdcf-5325fe838455?api-version=2021-03-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/61b5fcc7-e667-424f-bdcf-5325fe838455?monitor=true&api-version=2021-03-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/UpdateVM3Min;238,Microsoft.Compute/UpdateVM30Min;1198
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/61b5fcc7-e667-424f-bdcf-5325fe838455?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2021-05-25T10:46:51.4940016+00:00\",\r\n  \"endTime\":
        \"2021-05-25T10:47:22.0553044+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"properties\": {\r\n    \"output\": {\"value\":[{\"code\":\"ComponentStatus/StdOut/succeeded\",\"level\":\"Info\",\"displayStatus\":\"Provisioning
        succeeded\",\"message\":\"This is a sample script with parameters  \"},{\"code\":\"ComponentStatus/StdErr/succeeded\",\"level\":\"Info\",\"displayStatus\":\"Provisioning
        succeeded\",\"message\":\"\"}]}\r\n  },\r\n  \"name\": \"61b5fcc7-e667-424f-bdcf-5325fe838455\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14991,Microsoft.Compute/GetOperation30Min;29980
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/61b5fcc7-e667-424f-bdcf-5325fe838455?monitor=true&api-version=2021-03-01
  response:
    body:
      string: '{"value":[{"code":"ComponentStatus/StdOut/succeeded","level":"Info","displayStatus":"Provisioning
        succeeded","message":"This is a sample script with parameters  "},{"code":"ComponentStatus/StdErr/succeeded","level":"Info","displayStatus":"Provisioning
        succeeded","message":""}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14990,Microsoft.Compute/GetOperation30Min;29979
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachines/virtualmachinex15cf0eff/restart?api-version=2021-03-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/90ccabf6-5be1-4f1f-b93f-8830369be3c2?api-version=2021-03-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/90ccabf6-5be1-4f1f-b93f-8830369be3c2?monitor=true&api-version=2021-03-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/UpdateVM3Min;238,Microsoft.Compute/UpdateVM30Min;1197
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachines/virtualmachinex15cf0eff/powerOff?skipShutdown=false&api-version=2021-03-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/edcb413e-d9b8-496c-be0a-4510c0833b82?api-version=2021-03-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/edcb413e-d9b8-496c-be0a-4510c0833b82?monitor=true&api-version=2021-03-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/UpdateVM3Min;237,Microsoft.Compute/UpdateVM30Min;1196
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachines/virtualmachinex15cf0eff/start?api-version=2021-03-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/d780a5b2-6026-4e2b-9ae6-312b4d4d4870?api-version=2021-03-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/d780a5b2-6026-4e2b-9ae6-312b4d4d4870?monitor=true&api-version=2021-03-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/UpdateVM3Min;236,Microsoft.Compute/UpdateVM30Min;1195
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachines/virtualmachinex15cf0eff/reapply?api-version=2021-03-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/61f4d532-77c7-42c1-9073-d0d99f63d6d9?api-version=2021-03-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/61f4d532-77c7-42c1-9073-d0d99f63d6d9?monitor=true&api-version=2021-03-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/UpdateVM3Min;236,Microsoft.Compute/UpdateVM30Min;1191
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachines/virtualmachinex15cf0eff/redeploy?api-version=2021-03-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/851b8483-2b79-4ccf-957f-cefd87a824f7?api-version=2021-03-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/851b8483-2b79-4ccf-957f-cefd87a824f7?monitor=true&api-version=2021-03-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/UpdateVM3Min;235,Microsoft.Compute/UpdateVM30Min;1190
      x-ms-ratelimit-remaining-subscription-writes:
      - '1192'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachines/virtualmachinex15cf0eff/generalize?api-version=2021-03-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/UpdateVM3Min;238,Microsoft.Compute/UpdateVM30Min;1189
      x-ms-ratelimit-remaining-subscription-writes:
      - '1191'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Compute/virtualMachines/virtualmachinex15cf0eff/deallocate?api-version=2021-03-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/4cc5819b-4514-4715-a3ec-25fa077a9024?api-version=2021-03-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/4cc5819b-4514-4715-a3ec-25fa077a9024?monitor=true&api-version=2021-03-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/DeleteVM3Min;239,Microsoft.Compute/DeleteVM30Min;1199
      x-ms-ratelimit-remaining-subscription-writes:
      - '1190'
    status:
      code: 202
      message: Accepted
[...]
