interactions:
- request:
    body: '{"location": "eastus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_vmss_test_compute80f0ea3/providers/Microsoft.Network/virtualNetworks/networknamex80f0ea3?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"networknamex80f0ea3\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_vmss_test_compute80f0ea3/providers/Microsoft.Network/virtualNetworks/networknamex80f0ea3\"\
        ,\r\n  \"etag\": \"W/\\\"adcb8255-237b-4b2b-8a83-4097a6bbc778\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"resourceGuid\": \"28b8f832-a0c7-4292-92b5-b506c251a824\",\r\n    \"\
        addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\
        \r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\"\
        : [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\"\
        : false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/75245e95-f629-46c0-b2e4-02d5620063e1?api-version=2020-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/75245e95-f629-46c0-b2e4-02d5620063e1?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"addressPrefix": "10.0.0.0/24"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_vmss_test_compute80f0ea3/providers/Microsoft.Network/virtualNetworks/networknamex80f0ea3/subnets/subnetnamex80f0ea3?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"subnetnamex80f0ea3\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_vmss_test_compute80f0ea3/providers/Microsoft.Network/virtualNetworks/networknamex80f0ea3/subnets/subnetnamex80f0ea3\"\
        ,\r\n  \"etag\": \"W/\\\"62187bdc-2881-4ae8-a827-73fec54674a3\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"\
        addressPrefix\": \"10.0.0.0/24\",\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\"\
        : \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\
        \n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/3c386944-d076-4ce3-a99c-f377abaf6610?api-version=2020-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'b''b\''{"location": "eastus", "sku": {"name": "Standard_D1_v2", "tier":
      "Standard", "capacity": 2}, "properties": {"upgradePolicy": {"mode": "Manual"},
      "virtualMachineProfile": {"osProfile": {"computerNamePrefix": "testPC", "adminUsername":
      "testuser", "adminPassword": "Aa!1()-xyz"}, "storageProfile": {"imageReference":
      {"publisher": "Canonical", "offer": "UbuntuServer", "sku": "18.04-LTS", "version":
      "latest"}, "osDisk": {"caching": "ReadWrite", "createOption": "FromImage", "diskSizeGB":
      512, "managedDisk": {"storageAccountType": "Standard_LRS"}}}, "networkProfile":
      {"networkInterfaceConfigurations": [{"name": "testPC", "properties": {"primary":
      true, "ipConfigurations": [{"name": "testPC", "properties": {"subnet": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_vmss_test_compute80f0ea3/providers/Microsoft.Network/virtualNetworks/networknamex80f0ea3/subnets/subnetnamex80f0ea3"}}}]}}]}},
      "overprovision": true}}\'''''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_vmss_test_compute80f0ea3/providers/Microsoft.Compute/virtualMachineScaleSets/virtualmachinescaleset80f0ea3?api-version=2019-12-01
  response:
    body:
      string: "{\r\n  \"name\": \"virtualmachinescaleset80f0ea3\",\r\n  \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_vmss_test_compute80f0ea3/providers/Microsoft.Compute/virtualMachineScaleSets/virtualmachinescaleset80f0ea3\"\
        ,\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\"\
        : \"eastus\",\r\n  \"sku\": {\r\n    \"name\": \"Standard_D1_v2\",\r\n   \
        \ \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\"\
        : {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n\
        \      \"mode\": \"Manual\"\r\n    },\r\n    \"virtualMachineProfile\": {\r\
        \n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"testPC\",\r\n\
        \        \"adminUsername\": \"testuser\",\r\n        \"linuxConfiguration\"\
        : {\r\n          \"disablePasswordAuthentication\": false,\r\n          \"\
        provisionVMAgent\": true\r\n        },\r\n        \"secrets\": [],\r\n   \
        \     \"allowExtensionOperations\": true,\r\n        \"requireGuestProvisionSignal\"\
        : true\r\n      },\r\n      \"storageProfile\": {\r\n        \"osDisk\": {\r\
        \n          \"createOption\": \"FromImage\",\r\n          \"caching\": \"\
        ReadWrite\",\r\n          \"managedDisk\": {\r\n            \"storageAccountType\"\
        : \"Standard_LRS\"\r\n          },\r\n          \"diskSizeGB\": 512\r\n  \
        \      },\r\n        \"imageReference\": {\r\n          \"publisher\": \"\
        Canonical\",\r\n          \"offer\": \"UbuntuServer\",\r\n          \"sku\"\
        : \"18.04-LTS\",\r\n          \"version\": \"latest\"\r\n        }\r\n   \
        \   },\r\n      \"networkProfile\": {\"networkInterfaceConfigurations\":[{\"\
        name\":\"testPC\",\"properties\":{\"primary\":true,\"enableAcceleratedNetworking\"\
        :false,\"dnsSettings\":{\"dnsServers\":[]},\"enableIPForwarding\":false,\"\
        ipConfigurations\":[{\"name\":\"testPC\",\"properties\":{\"subnet\":{\"id\"\
        :\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_vmss_test_compute80f0ea3/providers/Microsoft.Network/virtualNetworks/networknamex80f0ea3/subnets/subnetnamex80f0ea3\"\
        },\"privateIPAddressVersion\":\"IPv4\"}}]}}]}\r\n    },\r\n    \"provisioningState\"\
        : \"Creating\",\r\n    \"overprovision\": true,\r\n    \"doNotRunExtensionsOnOverprovisionedVMs\"\
        : false,\r\n    \"uniqueId\": \"6a402fe2-fe96-403f-8aae-f844cf50a420\"\r\n\
        \  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/0538e397-d688-4e3a-a486-97e3a6530b3c?api-version=2019-12-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateVMScaleSet3Min;143,Microsoft.Compute/CreateVMScaleSet30Min;722,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;2889,Microsoft.Compute/VmssQueuedVMOperations;4796
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-ms-request-charge:
      - '4'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/0538e397-d688-4e3a-a486-97e3a6530b3c?api-version=2019-12-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2020-04-26T20:10:38.5031101+00:00\",\r\n  \"\
        status\": \"InProgress\",\r\n  \"name\": \"0538e397-d688-4e3a-a486-97e3a6530b3c\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14997,Microsoft.Compute/GetOperation30Min;29973
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"publisher": "Microsoft.Azure.NetworkWatcher", "type":
      "NetworkWatcherAgentWindows", "typeHandlerVersion": "1.4", "autoUpgradeMinorVersion":
      true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_vmss_test_compute80f0ea3/providers/Microsoft.Compute/virtualMachineScaleSets/virtualmachinescaleset80f0ea3/extensions/vmssextensionx80f0ea3?api-version=2019-12-01
  response:
    body:
      string: "{\r\n  \"name\": \"vmssextensionx80f0ea3\",\r\n  \"id\": \"/subscriptions/00000000-0000-0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_vmss_test_compute80f0ea3/providers/Microsoft.Compute/virtualMachineScaleSets/virtualmachinescaleset80f0ea3/instanceView?api-version=2019-12-01
  response:
    body:
      string: "{\r\n  \"virtualMachine\": {\r\n    \"statusesSummary\": [\r\n    \
        \  {\r\n        \"code\": \"ProvisioningState/succeeded\",\r\n        \"count\"\
        : 2\r\n      }\r\n    ]\r\n  },\r\n  \"extensions\": [\r\n    {\r\n      \"\
        name\": \"vmssextensionx80f0ea3\",\r\n      \"statusesSummary\": [\r\n   \
        \     {\r\n          \"code\": \"ProvisioningState/creating\",\r\n       \
        \   \"count\": 2\r\n        }\r\n      ]\r\n    }\r\n  ],\r\n  \"statuses\"\
        : [\r\n    {\r\n      \"code\": \"ProvisioningState/succeeded\",\r\n     \
        \ \"level\": \"Info\",\r\n      \"displayStatus\": \"Provisioning succeeded\"\
        ,\r\n      \"time\": \"2020-04-26T20:16:07.3341977+00:00\"\r\n    }\r\n  ]\r\
        \n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/HighCostGetVMScaleSet3Min;178,Microsoft.Compute/HighCostGetVMScaleSet30Min;898
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_vmss_test_compute80f0ea3/providers/Microsoft.Compute/virtualMachineScaleSets/virtualmachinescaleset80f0ea3/extensionRollingUpgrade?api-version=2019-12-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/81fd1a30-248f-4038-aa1a-f187f685a2a8?api-version=2019-12-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/81fd1a30-248f-4038-aa1a-f187f685a2a8?monitor=true&api-version=2019-12-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/VMScaleSetActions3Min;239,Microsoft.Compute/VMScaleSetActions30Min;1198,Microsoft.Compute/VmssQueuedVMOperations;4800
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-ms-request-charge:
      - '0'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/81fd1a30-248f-4038-aa1a-f187f685a2a8?monitor=true&api-version=2019-12-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14981,Microsoft.Compute/GetOperation30Min;29830
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_vmss_test_compute80f0ea3/providers/Microsoft.Compute/virtualMachineScaleSets/virtualmachinescaleset80f0ea3/restart?api-version=2019-12-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/2565a7b3-532f-47e2-8de4-3886ab75b8bd?api-version=2019-12-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/2565a7b3-532f-47e2-8de4-3886ab75b8bd?monitor=true&api-version=2019-12-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/VMScaleSetActions3Min;238,Microsoft.Compute/VMScaleSetActions30Min;1198,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;2891,Microsoft.Compute/VmssQueuedVMOperations;4798
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
      x-ms-request-charge:
      - '2'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_vmss_test_compute80f0ea3/providers/Microsoft.Compute/virtualMachineScaleSets/virtualmachinescaleset80f0ea3/poweroff?skipShutdown=false&api-version=2019-12-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/a8c27540-bcb3-4759-9efb-018372f2c251?api-version=2019-12-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/a8c27540-bcb3-4759-9efb-018372f2c251?monitor=true&api-version=2019-12-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/DeleteVMScaleSet3Min;79,Microsoft.Compute/DeleteVMScaleSet30Min;399,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;2889,Microsoft.Compute/VmssQueuedVMOperations;4798
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
      x-ms-request-charge:
      - '2'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_vmss_test_compute80f0ea3/providers/Microsoft.Compute/virtualMachineScaleSets/virtualmachinescaleset80f0ea3/start?api-version=2019-12-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/98b93087-f896-4588-851c-fd246e772d9d?api-version=2019-12-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/98b93087-f896-4588-851c-fd246e772d9d?monitor=true&api-version=2019-12-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/VMScaleSetActions3Min;237,Microsoft.Compute/VMScaleSetActions30Min;1197,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;2887,Microsoft.Compute/VmssQueuedVMOperations;4798
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
      x-ms-request-charge:
      - '2'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_vmss_test_compute80f0ea3/providers/Microsoft.Compute/virtualMachineScaleSets/virtualmachinescaleset80f0ea3/redeploy?api-version=2019-12-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/70753c3b-364c-4c4a-ae8c-6b8857b33776?api-version=2019-12-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/70753c3b-364c-4c4a-ae8c-6b8857b33776?monitor=true&api-version=2019-12-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/VMScaleSetActions3Min;234,Microsoft.Compute/VMScaleSetActions30Min;1194,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;2883,Microsoft.Compute/VmssQueuedVMOperations;4798
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
      x-ms-request-charge:
      - '2'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_vmss_test_compute80f0ea3/providers/Microsoft.Compute/virtualMachineScaleSets/virtualmachinescaleset80f0ea3/deallocate?api-version=2019-12-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/83d61ac8-cad3-4634-b086-c1537fad271b?api-version=2019-12-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/83d61ac8-cad3-4634-b086-c1537fad271b?monitor=true&api-version=2019-12-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/DeleteVMScaleSet3Min;78,Microsoft.Compute/DeleteVMScaleSet30Min;397,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;2881,Microsoft.Compute/VmssQueuedVMOperations;4798
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
      x-ms-request-charge:
      - '2'
    status:
      code: 202
      message: Accepted
[...]
