interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 04 Apr 2023 20:41:37 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000017-ede2-940e-f38d-094822002338"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - K7jRZwk31Uica3MvKdXrIg.0
      x-processing-time:
      - 20ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": {}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Tue, 04 Apr 2023 20:41:37 GMT
      Repeatability-Request-ID:
      - 18a1991a-d329-11ed-8127-e45e37e24f59
      x-ms-date:
      - Tue, 04 Apr 2023 20:41:37 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"9946176062523462","createdAt":"2023-04-04T20:41:37.6658161+00:00","validFrom":"2023-04-04T20:41:37.5624454+00:00","validUntil":"2023-10-01T20:41:37.5624454+00:00"}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - I9nnvBABukOgvuF0RkrNyg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 04 Apr 2023 20:41:38 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/rooms/9946176062523462?api-version=2023-03-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      ms-cv:
      - XlfufpkLa0yy5uaYlPQoKg.0
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 04 Apr 2023 20:41:38 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - 1uTHNcuk6kiD22PccJ1ECg.0
      x-processing-time:
      - 164ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 04 Apr 2023 20:41:39 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - vYHeRC3O/UKuYIMd6Ano5A.0
      x-processing-time:
      - 96ms
    status:
      code: 204
      message: No Content
version: 1
