interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 16 Nov 2022 06:01:09 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - FmWflpCVokeY2S2d3Dy45A.2.0
      x-processing-time:
      - 46ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2022-11-18T22:01:11.857199Z", "validUntil": "2022-12-16T22:01:11.857199Z",
      "participants": [{"communicationIdentifier": {"communicationUser": {"id": "sanitized"}},
      "role": "Presenter"}]}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-11-16T06:01:11.857199Z'
      Repeatability-Request-ID:
      - 127439dc-6574-11ed-b84e-d03c1f2e0bde
      x-ms-date:
      - Wed, 16 Nov 2022 06:01:11 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99411346320029969","createdDateTime":"2022-11-16T06:01:14.9826841+00:00","validFrom":"2022-11-18T22:01:11.857199+00:00","validUntil":"2022-12-16T22:01:11.857199+00:00","roomJoinPolicy":"InviteOnly","participants":[{"communicationIdentifier":{"rawId":"sanitized","communicationUser":{"id":"sanitized"}},"role":"Presenter"}]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - YKzm95JKdkmjZshtISAppw.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Nov 2022 06:01:13 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/rooms/99411346320029969?api-version=2022-02-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      ms-cv:
      - 7p3BB04cPUKhxs3xBAt2IQ.0
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Nov 2022 06:01:13 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - xb5Pz2eUnEGNHGp8w2cxkg.2.0
      x-processing-time:
      - 148ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Nov 2022 06:01:15 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - KdG2hZ5s7kCdxjRfgJRUuw.2.0
      x-processing-time:
      - 195ms
    status:
      code: 204
      message: No Content
version: 1
