interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 01 Feb 2023 00:17:11 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - YbpMmKuAmEi36CfiKwYm8g.0
      x-processing-time:
      - 18ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": [{"communicationIdentifier": {"communicationUser": {"id":
      "wrong_mri"}}, "role": "Attendee"}, {"communicationIdentifier": {"communicationUser":
      {"id": "sanitized"}}, "role": "Presenter"}]}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2023-02-01T00:17:12.090779Z'
      Repeatability-Request-ID:
      - c6008e15-a1c5-11ed-8e3c-d03c1f2e0bde
      x-ms-date:
      - Wed, 01 Feb 2023 00:17:12 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"error":{"code":"InvalidInput","message":"Identifier format is invalid."}}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-01-10
      content-type: application/json; charset=utf-8
      ms-cv: 18Z68Kjpc0ar4kgefw0jhA.0
      x-ms-error-code: InvalidInput
    status:
      code: 400
      message: Bad Request
    url: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Feb 2023 00:17:12 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - Oy+2GQMOHkKmuL1c4Zoq4w.0
      x-processing-time:
      - 168ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Feb 2023 00:17:12 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - 3omJmI1Q4UyImzTk6OYWkw.0
      x-processing-time:
      - 159ms
    status:
      code: 204
      message: No Content
version: 1
