interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 28 Jun 2022 16:14:50 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af9-b737-07fd-084822000a71"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - V2EgX6NnRUmJLQSba+B3Nw.0
      x-processing-time:
      - 29ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": [{"communicationIdentifier": {"rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af9-b737-07fd-084822000a71",
      "communicationUser": {"id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af9-b737-07fd-084822000a71"}},
      "role": "Presenter"}, {"communicationIdentifier": {"rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af9-b84d-07fd-084822000a73",
      "communicationUser": {"id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af9-b84d-07fd-084822000a73"}},
      "role": "Attendee"}]}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-06-28T16:14:50.98807Z'
      Repeatability-Request-ID:
      - 701efd7f-f6fd-11ec-9b12-a864f132484d
      x-ms-date:
      - Tue, 28 Jun 2022 16:14:50 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99471655517220326","createdDateTime":"2022-06-28T16:14:51.3346923+00:00","validFrom":"2022-06-28T16:14:51.2960246+00:00","validUntil":"2022-12-25T16:14:51.2960246+00:00","roomJoinPolicy":"InviteOnly","participants":[{"communicationIdentifier":{"rawId":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af9-b737-07fd-084822000a71","communicationUser":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af9-b737-07fd-084822000a71"}},"role":"Presenter"},{"communicationIdentifier":{"rawId":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af9-b84d-07fd-084822000a73","communicationUser":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af9-b84d-07fd-084822000a73"}},"role":"Attendee"}]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - HPFDcqjy6kSWTFhvpk4upQ.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": [{"communicationIdentifier": {"rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af9-b737-07fd-084822000a71",
      "communicationUser": {"id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af9-b737-07fd-084822000a71"}}}]}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 28 Jun 2022 16:14:51 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms/99471655517220326/participants:remove?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99471655517220326","createdDateTime":"2022-06-28T16:14:51.3346923+00:00","validFrom":"2022-06-28T16:14:51.2960246+00:00","validUntil":"2022-12-25T16:14:51.2960246+00:00","roomJoinPolicy":"InviteOnly","participants":[{"communicationIdentifier":{"rawId":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af9-b84d-07fd-084822000a73","communicationUser":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af9-b84d-07fd-084822000a73"}},"role":"Attendee"}]}'
    headers:
      api-supported-versions:
      - '2022-02-01'
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 1ZooTURn/EiJVXlz5WvObA.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 28 Jun 2022 16:14:51 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/rooms/99471655517220326?api-version=2022-02-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      ms-cv:
      - 959GU3+tjEi5j4XM1n5pZQ.0
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 28 Jun 2022 16:14:51 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af9-b737-07fd-084822000a71?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - hKNvFNODKEaJvn2WSSJuWA.0
      x-processing-time:
      - 175ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 28 Jun 2022 16:14:52 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af9-b84d-07fd-084822000a73?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - eDLnKO1U50ih6a+lLpYU3g.0
      x-processing-time:
      - 153ms
    status:
      code: 204
      message: No Content
version: 1
