{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Thu, 04 May 2023 00:33:29 GMT",
        "Repeatability-Request-ID": "4a67f230-ea13-11ed-8d94-e45e37e24f59",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "Thu, 04 May 2023 00:33:29 GMT"
      },
      "RequestBody": {
        "validFrom": null,
        "validUntil": null,
        "participants": {
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-840f-47f0-1985-094822003ad8": {
            "role": "Consumer"
          },
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-840f-4876-1985-094822003ada": {
            "role": "Attendee"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99441236987778569",
        "MS-CV": "HyyA/r8YSU\u002BaDhp2ifmiCw.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "someId",
        "createdAt": "2023-05-04T00:33:29.7012811\u002B00:00",
        "validFrom": "2023-05-04T00:33:29.4400837\u002B00:00",
        "validUntil": "2023-10-31T00:33:29.4400837\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/99441236987778569/participants?api-version=2023-03-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "Thu, 04 May 2023 00:33:29 GMT"
      },
      "RequestBody": {
        "participants": {
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-840f-47f0-1985-094822003ad8": {
            "role": "Consumer"
          },
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-840f-4835-1985-094822003ad9": {
            "role": "Consumer"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-02-01, 2023-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "XtikOIftVkiytdl/mIygOQ.0"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/99441236987778569/participants?api-version=2023-03-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "Thu, 04 May 2023 00:33:30 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-02-01, 2023-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "IweF2XC5gEyxqdjR\u002BsUHlg.0"
      },
      "ResponseBody": {
        "value": [
          {
            "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-840f-47f0-1985-094822003ad8",
            "role": "Consumer"
          },
          {
            "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-840f-4876-1985-094822003ada",
            "role": "Attendee"
          },
          {
            "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-840f-4835-1985-094822003ad9",
            "role": "Consumer"
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/99441236987778569?api-version=2023-03-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "Thu, 04 May 2023 00:33:30 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview",
        "MS-CV": "PYpgRK5CwkmBqQ02iuPw8w.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
