interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 29 Apr 2022 03:42:38 GMT
    method: POST
    uri: https://rooms-ppe-us.ppe.communication.azure.net/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-134b-7e42-83fe-0848220020a7"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 1NtHBAgZAEmjZIMZhBDCFg.0
      x-processing-time:
      - 28ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": {"wrong_mri": {"role": "Attendee"}, "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-134b-7e42-83fe-0848220020a7":
      {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-04-29T03:42:38.78264Z'
      Repeatability-Request-ID:
      - 6a71f6e8-c76e-11ec-90ce-985fd3c6ae82
      x-ms-date:
      - Fri, 29 Apr 2022 03:42:38 GMT
    method: POST
    uri: https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"error":{"code":"BadRequest","message":"The value provided for Participants
        is invalid."}}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: h/3VI8HrIU64+GRhVDLTcA.0
    status:
      code: 400
      message: Bad Request
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01
version: 1
