interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 20 Apr 2023 18:33:03 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-3fd2-a0d1-1788-09482200f283"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - APM/LlLMS02aGELjhPvmYQ.0
      x-processing-time:
      - 18ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": {}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Thu, 20 Apr 2023 18:33:03 GMT
      Repeatability-Request-ID:
      - c941717f-dfa9-11ed-b457-e45e37e24f59
      x-ms-date:
      - Thu, 20 Apr 2023 18:33:03 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99478854555109440","createdAt":"2023-04-20T18:33:04.4226827+00:00","validFrom":"2023-04-20T18:33:04.1459141+00:00","validUntil":"2023-10-17T18:33:04.1459141+00:00"}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type: application/json; charset=utf-8
      ms-cv: t4Cn4yC9LU+0ULaEMd4T7w.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
- request:
    body: '{"participants": {"wrong_mri": {"role": "Attendee"}, "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-3fd2-a0d1-1788-09482200f283":
      {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 20 Apr 2023 18:33:04 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/99478854555109440/participants?api-version=2023-03-31-preview
  response:
    body:
      string: '{"error":{"code":"BadRequest","message":"Invalid value for the Participants."}}'
    headers:
      api-supported-versions: 2022-02-01, 2023-03-31-preview
      content-type: application/json; charset=utf-8
      ms-cv: uHy5eKDoPUaCO2KDZp+8sQ.0
      x-ms-error-code: BadRequest
    status:
      code: 400
      message: Bad Request
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms/99478854555109440/participants?api-version=2023-03-31-preview
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Apr 2023 18:33:04 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - U6192OLo3UGsf74kvpYjtA.0
      x-processing-time:
      - 177ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Apr 2023 18:33:05 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - u9SAXWe6lUSJ20OzFSs9DA.0
      x-processing-time:
      - 90ms
    status:
      code: 204
      message: No Content
version: 1
