interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 16 Nov 2022 06:01:39 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - OHJx6bXc00ivsAcKaBxNbw.2.0
      x-processing-time:
      - 40ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2022-11-18T22:01:41.555083Z"}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-11-16T06:01:41.555083Z'
      Repeatability-Request-ID:
      - 2427c376-6574-11ed-9ec6-d03c1f2e0bde
      x-ms-date:
      - Wed, 16 Nov 2022 06:01:41 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99416207835237604","createdDateTime":"2022-11-16T06:01:44.0107748+00:00","validFrom":"2022-11-18T22:01:41.555083+00:00","validUntil":"2023-05-15T06:01:43.9109902+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ClaqGsXOB06K8EA1LXcwVQ.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Nov 2022 06:01:42 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/rooms/99416207835237604?api-version=2022-02-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      ms-cv:
      - PjXjPbdWoka0Z1jTKyqWwQ.0
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Nov 2022 06:01:42 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - rdAnCvua1kenLRER9dTaoA.2.0
      x-processing-time:
      - 176ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Nov 2022 06:01:44 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - ztXEmoZeskKVGC9FnpihBA.2.0
      x-processing-time:
      - 159ms
    status:
      code: 204
      message: No Content
version: 1
