interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 13 Apr 2023 17:29:59 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-1b8c-6409-1788-0948220073c4"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - XmaUzAbwFkieDrJ4v4pQ+g.0
      x-processing-time:
      - 18ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": {}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Thu, 13 Apr 2023 17:30:00 GMT
      Repeatability-Request-ID:
      - d1334258-da20-11ed-8335-e45e37e24f59
      x-ms-date:
      - Thu, 13 Apr 2023 17:30:00 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99474979702621204","createdAt":"2023-04-13T17:30:01.10479+00:00","validFrom":"2023-04-13T17:30:01.0669375+00:00","validUntil":"2023-10-10T17:30:01.0669375+00:00"}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type: application/json; charset=utf-8
      ms-cv: h7rrqDdueU2BtjMnq7OmHw.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
- request:
    body: '{"validFrom": "2023-04-27T10:30:00.554128Z"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 13 Apr 2023 17:30:00 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/rooms/99474979702621204?api-version=2023-03-31-preview
  response:
    body:
      string: '{"error":{"code":"BadRequest","message":"The request could not be understood
        by the server due to malformed syntax.","details":[{"code":"BadArgument","message":"validFrom
        and validUntil should be set together.","target":""}]}}'
    headers:
      content-type: application/json; charset=utf-8
      ms-cv: m+MHRd/WM0qlba+xrvxZoQ.0
      x-ms-error-code: BadRequest
    status:
      code: 400
      message: Bad Request
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms/99474979702621204?api-version=2023-03-31-preview
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 13 Apr 2023 17:30:00 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - th64BLbwcU+gH47aETw2Uw.0
      x-processing-time:
      - 131ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 13 Apr 2023 17:30:01 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - 1sGQpw+YvEORu9ffvqCXHQ.0
      x-processing-time:
      - 129ms
    status:
      code: 204
      message: No Content
version: 1
