interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 19 Apr 2023 23:26:45 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-3bb9-264a-a381-094822009886"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 0rPLgtwlg0q9G36lCQfWbg.0
      x-processing-time:
      - 20ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": {}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Wed, 19 Apr 2023 23:26:46 GMT
      Repeatability-Request-ID:
      - a68fba4d-df09-11ed-8ee4-e45e37e24f59
      x-ms-date:
      - Wed, 19 Apr 2023 23:26:46 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99482518361824329","createdAt":"2023-04-19T23:26:45.5911377+00:00","validFrom":"2023-04-19T23:26:45.3497432+00:00","validUntil":"2023-10-16T23:26:45.3497432+00:00"}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Kf5A0GonfEasFlIBMUx9BA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2023-04-22T16:26:46.740922Z", "validUntil": "2023-11-08T16:26:46.740922Z"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 19 Apr 2023 23:26:46 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/99482518361824329?api-version=2023-03-31-preview
  response:
    body:
      string: '{"error":{"code":"BadRequest","message":"The request could not be understood
        by the server due to malformed syntax.","details":[{"code":"BadArgument","message":"The
        time range is incorrect, or larger than 180 days.","target":"ValidUntil"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - GydjUsoxFE2tcpHBUl2A3g.0
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Apr 2023 23:26:47 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - TkeQ/WHXS0i3COn0aMu75A.0
      x-processing-time:
      - 202ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Apr 2023 23:26:47 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - 7CfCZhlGT0a579u5nUZMyg.0
      x-processing-time:
      - 208ms
    status:
      code: 204
      message: No Content
version: 1
