interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 04 Apr 2023 01:14:44 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000017-e9b6-3de0-1985-0948220099fe"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - awrKLL/fTEm1w586Rr47bw.0
      x-processing-time:
      - 23ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": {"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000017-e9b6-3de0-1985-0948220099fe":
      {"role": "Presenter"}, "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000017-e9b6-3e91-1985-094822009a01":
      {"role": "Attendee"}}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Tue, 04 Apr 2023 01:14:44 GMT
      Repeatability-Request-ID:
      - 15b0ab86-d286-11ed-bbae-e45e37e24f59
      x-ms-date:
      - Tue, 04 Apr 2023 01:14:44 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99442380330727606","createdAt":"2023-04-04T01:14:43.0931468+00:00","validFrom":"2023-04-04T01:14:42.9948167+00:00","validUntil":"2023-10-01T01:14:42.9948167+00:00"}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 0YG4BLXRKECaO0XxdzFshA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 04 Apr 2023 01:14:45 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/rooms/99442380330727606?api-version=2023-03-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      ms-cv:
      - vIRtdvRybkKsgraisPFyxA.0
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 04 Apr 2023 01:14:45 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - Sy4GPBvvJUuJ6GAqPs9OQg.0
      x-processing-time:
      - 130ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 04 Apr 2023 01:14:46 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - JfIxnn5Ge0OKZap19ovfPQ.0
      x-processing-time:
      - 133ms
    status:
      code: 204
      message: No Content
version: 1
