interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 04 Apr 2023 20:41:55 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000017-ede2-d944-f38d-094822002341"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ktWrQjPvskizsMdyMCNikg.0
      x-processing-time:
      - 19ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2023-04-07T13:41:55.622197Z", "validUntil": "2023-04-21T13:41:55.622197Z",
      "participants": {"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000017-ede2-d944-f38d-094822002341":
      {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Tue, 04 Apr 2023 20:41:55 GMT
      Repeatability-Request-ID:
      - 23361c14-d329-11ed-8992-e45e37e24f59
      x-ms-date:
      - Tue, 04 Apr 2023 20:41:55 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"9949085576662836","createdAt":"2023-04-04T20:41:55.4807873+00:00","validFrom":"2023-04-07T13:41:55.622197+00:00","validUntil":"2023-04-21T13:41:55.622197+00:00"}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 7s/gEAa3MUKtoXOtyIfHMA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 04 Apr 2023 20:41:56 GMT
    method: GET
    uri: https://sanitized.ppe.communication.azure.net/rooms/9949085576662836?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"9949085576662836","createdAt":"2023-04-04T20:41:55.4807873+00:00","validFrom":"2023-04-07T13:41:55.622197+00:00","validUntil":"2023-04-21T13:41:55.622197+00:00"}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - OKMT4EVuBUCkqov56Y7vEQ.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 04 Apr 2023 20:41:56 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - 4K+AkRNyRUKMLNMyQ/s/Ow.0
      x-processing-time:
      - 122ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 04 Apr 2023 20:41:57 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - xtnMAb94dUChrJ9o7Hx3uA.0
      x-processing-time:
      - 116ms
    status:
      code: 204
      message: No Content
version: 1
