interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 07 Jul 2022 16:25:28 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - zXRXC1KBV02Lq3xnI8z9mg.0
      x-processing-time:
      - 33ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-07-07T16:25:29.231768Z'
      Repeatability-Request-ID:
      - 6a42fff6-fe11-11ec-a4dc-a864f132484d
      x-ms-date:
      - Thu, 07 Jul 2022 16:25:29 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99411994685071987","createdDateTime":"2022-07-07T16:25:29.7725339+00:00","validFrom":"2022-07-07T16:25:29.6986687+00:00","validUntil":"2023-01-03T16:25:29.6986687+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: zSiZTwIdj0GRlVeUoedJaA.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
- request:
    body: '{"validFrom": "2022-07-10T12:25:29.777057Z", "validUntil": "2022-11-07T12:25:29.777556Z"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 07 Jul 2022 16:25:29 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/rooms/99411994685071987?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99411994685071987","createdDateTime":"2022-07-07T16:25:29.7725339+00:00","validFrom":"2022-07-10T12:25:29.777057+00:00","validUntil":"2022-11-07T12:25:29.777556+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: khYf+ryyqUKgNmN+2zYpCg.0
    status:
      code: 200
      message: OK
    url: https://sanitized.ppe.communication.azure.net/rooms/99411994685071987?api-version=2022-02-01
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 07 Jul 2022 16:25:30 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - UT+MrH/H7katyBghfpyTVA.0
      x-processing-time:
      - 126ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 07 Jul 2022 16:25:30 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - e09QajRIT0m/DAq2O1CeTg.0
      x-processing-time:
      - 131ms
    status:
      code: 204
      message: No Content
version: 1
