interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:49 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-472d-a6b0-f38d-094822009661"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - hNyGMlwP/EGhlfnXOtrJYg.0
      x-processing-time:
      - 17ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": null, "validUntil": null, "participants": {"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-472d-a6b0-f38d-094822009661":
      {"role": "Presenter"}, "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-472d-a759-f38d-094822009663":
      {"role": "Attendee"}}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Sat, 22 Apr 2023 04:49:50 GMT
      Repeatability-Request-ID:
      - 1d346426-e0c9-11ed-b932-e45e37e24f59
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:50 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99480016121527168","createdAt":"2023-04-22T04:49:49.8453656+00:00","validFrom":"2023-04-22T04:49:49.7829121+00:00","validUntil":"2023-10-19T04:49:49.7829121+00:00"}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - LNlrRmy7kUmdsWeX3Upt1w.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": {"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-472d-a6b0-f38d-094822009661":
      {"role": "Consumer"}, "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-472d-a707-f38d-094822009662":
      {"role": "Consumer"}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:50 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/99480016121527168/participants?api-version=2023-03-31-preview
  response:
    body:
      string: '{}'
    headers:
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - k3zqx5Vhukm0QGEttr7g1Q.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:51 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/99480016121527168/participants?api-version=2023-03-31-preview
  response:
    body:
      string: '{"value":[{"rawId":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-472d-a6b0-f38d-094822009661","role":"Consumer"},{"rawId":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-472d-a759-f38d-094822009663","role":"Attendee"},{"rawId":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-472d-a707-f38d-094822009662","role":"Consumer"}]}'
    headers:
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - IwjE+YWpBEi30oUY/KiP4Q.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:51 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/rooms/99480016121527168?api-version=2023-03-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      ms-cv:
      - RE9WZ5gHEEWUUcdFXCjzkw.0
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:52 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - 6DOQHw2lck2WeFN4RNiAlA.0
      x-processing-time:
      - 7453ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Apr 2023 04:50:00 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - tAq36+WmW0qa/QgwFS5K4Q.0
      x-processing-time:
      - 207ms
    status:
      code: 204
      message: No Content
version: 1
