interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 19 Apr 2023 23:25:55 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-3bb8-62f3-1788-094822009b62"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - YEBSyI32pES4SaPzNlb1XQ.0
      x-processing-time:
      - 19ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": {}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Wed, 19 Apr 2023 23:25:56 GMT
      Repeatability-Request-ID:
      - 88c2d41f-df09-11ed-a5e9-e45e37e24f59
      x-ms-date:
      - Wed, 19 Apr 2023 23:25:56 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99462086361867405","createdAt":"2023-04-19T23:25:55.6540079+00:00","validFrom":"2023-04-19T23:25:55.3701988+00:00","validUntil":"2023-10-16T23:25:55.3701988+00:00"}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - j2UcPcHzfEyOGbUSV/8PFQ.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": {"wrong_mri": {"role": "Attendee"}, "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-3bb8-62f3-1788-094822009b62":
      {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 19 Apr 2023 23:25:56 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/99462086361867405/participants?api-version=2023-03-31-preview
  response:
    body:
      string: '{"error":{"code":"BadRequest","message":"Invalid value for the Participants."}}'
    headers:
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - yfrNFq3ob0SNJjWi9Vltyg.0
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Apr 2023 23:25:56 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - mRPqfsA450OeO42jGC2XAQ.0
      x-processing-time:
      - 270ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Apr 2023 23:25:57 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - gs3eREm0Jk2IrUg2uZFY0g.0
      x-processing-time:
      - 172ms
    status:
      code: 204
      message: No Content
version: 1
