interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 04 Apr 2023 01:13:46 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000017-e9b5-5be5-a381-094822009e99"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - HJ/rTxYMZUSVopiXgr+taQ.0
      x-processing-time:
      - 19ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2023-04-06T18:13:47.110507Z", "validUntil": "2023-05-04T18:13:47.110507Z",
      "participants": {"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000017-e9b5-5be5-a381-094822009e99":
      {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Tue, 04 Apr 2023 01:13:47 GMT
      Repeatability-Request-ID:
      - f3341b2f-d285-11ed-9117-e45e37e24f59
      x-ms-date:
      - Tue, 04 Apr 2023 01:13:47 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99456735466363724","createdAt":"2023-04-04T01:13:45.457667+00:00","validFrom":"2023-04-06T18:13:47.110507+00:00","validUntil":"2023-05-04T18:13:47.110507+00:00"}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type: application/json; charset=utf-8
      ms-cv: DuMG2tEKQUOjoEsQqfirYg.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
- request:
    body: ''
    headers:
      x-ms-date:
      - Tue, 04 Apr 2023 01:13:47 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/rooms/99456735466363724?api-version=2023-03-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-03-31-preview
      ms-cv: MLxYY5PjgkOqrPj9gLe7aA.0
    status:
      code: 204
      message: No Content
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms/99456735466363724?api-version=2023-03-31-preview
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 04 Apr 2023 01:13:48 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - ImcwSDAQbkeqGu9PR/60RA.0
      x-processing-time:
      - 251ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 04 Apr 2023 01:13:48 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - W4LAyz31t0qJKKyaL4r7wg.0
      x-processing-time:
      - 87ms
    status:
      code: 204
      message: No Content
version: 1
