interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 17 Mar 2022 21:21:39 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity": {"id": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-39a3-9710-9806-113a0d003389"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - RrCfp1IPvUCRCGp72dFT+Q.0
      x-processing-time:
      - 93ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 17 Mar 2022 21:21:39 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2021-04-07
  response:
    body:
      string: '{"room": {"id": "99463862774507080", "createdDateTime": "2022-03-17T21:21:40.1468743+00:00",
        "validFrom": "2022-03-17T21:21:40.1185689+00:00", "validUntil": "2022-09-13T21:21:40.1185689+00:00"}}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - HphpgBpfgE6KTIGo39XLSg.0
    status:
      code: 201
      message: Created
- request:
    body: '{"validUntil": "2022-05-17T14:21:40.314653Z"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 17 Mar 2022 21:21:40 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/99463862774507080?api-version=2021-04-07
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-612fe87bd72a894890fa107f855d1352-9cde7c1838d00955-00","errors":{"":["validFrom
        and validUntil should be set together."]}}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      ms-cv:
      - Ylwu8Op0CkaVAlCBi9Mt6g.0
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Mar 2022 21:21:40 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/8%3Aacs%3Afac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-39a3-9710-9806-113a0d003389?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - ODjNxCoY2USv8nqwAUAwaA.0
      x-processing-time:
      - 332ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Mar 2022 21:21:41 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/8%3Aacs%3Afac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-39a3-988a-9806-113a0d00338b?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - 2iQylhk3LkWaKU+eVcbrgQ.0
      x-processing-time:
      - 363ms
    status:
      code: 204
      message: No Content
version: 1
