interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 04 Apr 2023 20:42:20 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000017-ede3-3d66-a381-0948220024c7"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 0X4hyr5Lq0mjhQj7qAeddA.0
      x-processing-time:
      - 19ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": {}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Tue, 04 Apr 2023 20:42:21 GMT
      Repeatability-Request-ID:
      - 32780672-d329-11ed-8494-e45e37e24f59
      x-ms-date:
      - Tue, 04 Apr 2023 20:42:21 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99435714965864405","createdAt":"2023-04-04T20:42:21.0532766+00:00","validFrom":"2023-04-04T20:42:20.9528786+00:00","validUntil":"2023-10-01T20:42:20.9528786+00:00"}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 1mN/D+R5xkOOzyAtjnLvbQ.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": {"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000017-ede3-3d66-a381-0948220024c7":
      {"role": "Kafka"}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 04 Apr 2023 20:42:21 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/rooms/99435714965864405/participants?api-version=2023-03-31-preview
  response:
    body:
      string: '{"error":{"code":"BadRequest","message":"The request could not be understood
        by the server due to malformed syntax.","details":[{"code":"BadArgument","message":"The
        JSON value could not be converted to System.Nullable\u00601[Microsoft.AzureCommunicationService.Rooms.Api.Contracts.V2023_03_31_Preview.RoleDto].
        Path: $ | LineNumber: 0 | BytePositionInLine: 7.","target":"$"},{"code":"BadArgument","message":"The
        updateParticipantsRequestDto field is required.","target":"updateParticipantsRequestDto"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - HdxZxF3VsE+Lw902rRQ62Q.0
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 04 Apr 2023 20:42:21 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - j2LLXRAx7EaEW9mhK9PKuw.0
      x-processing-time:
      - 109ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 04 Apr 2023 20:42:22 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - c1WvJ+DCnk6NDVvrr1CoNQ.0
      x-processing-time:
      - 106ms
    status:
      code: 204
      message: No Content
version: 1
