interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 04 Jul 2022 20:50:35 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-6adc-4c7c-88f7-08482200c2c5"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Lj9soS0fj0+5OCOKElCU+g.0
      x-processing-time:
      - 355ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": [{"communicationIdentifier": {"communicationUser": {"id":
      "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-6adc-4c7c-88f7-08482200c2c5"}},
      "role": "Presenter"}, {"communicationIdentifier": {"communicationUser": {"id":
      "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-6adc-4d8b-88f7-08482200c2c7"}},
      "role": "Attendee"}]}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-07-04T20:50:36.12266Z'
      Repeatability-Request-ID:
      - f444ad70-fbda-11ec-a5d2-a864f132484d
      x-ms-date:
      - Mon, 04 Jul 2022 20:50:36 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99470481950666509","createdDateTime":"2022-07-04T20:50:34.4622793+00:00","validFrom":"2022-07-04T20:50:34.3723656+00:00","validUntil":"2022-12-31T20:50:34.3723656+00:00","roomJoinPolicy":"InviteOnly","participants":[{"communicationIdentifier":{"rawId":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-6adc-4c7c-88f7-08482200c2c5","communicationUser":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-6adc-4c7c-88f7-08482200c2c5"}},"role":"Presenter"},{"communicationIdentifier":{"rawId":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-6adc-4d8b-88f7-08482200c2c7","communicationUser":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-6adc-4d8b-88f7-08482200c2c7"}},"role":"Attendee"}]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - BYVYvVkBPkqTs9zBskXlbg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 04 Jul 2022 20:50:36 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/rooms/99470481950666509?api-version=2022-02-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      ms-cv:
      - LjIvXOzUcEqDE1oPFfQxTg.0
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 04 Jul 2022 20:50:37 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-6adc-4c7c-88f7-08482200c2c5?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - wMt+8VA1bUW8LS+8p93HSQ.0
      x-processing-time:
      - 224ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 04 Jul 2022 20:50:37 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-6adc-4d8b-88f7-08482200c2c7?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - XliC356f5UGpnAjJ+cY7/Q.0
      x-processing-time:
      - 169ms
    status:
      code: 204
      message: No Content
version: 1
