interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 28 Jul 2022 15:15:37 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - on5cX6CXh02RKXXZaXEwPA.0
      x-processing-time:
      - 38ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-07-28T15:15:38.676527Z'
      Repeatability-Request-ID:
      - 232bc3d7-0e88-11ed-acf7-a864f132484d
      x-ms-date:
      - Thu, 28 Jul 2022 15:15:38 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99442407763502281","createdDateTime":"2022-07-28T15:15:37.9147553+00:00","validFrom":"2022-07-28T15:15:37.8739937+00:00","validUntil":"2023-01-24T15:15:37.8739937+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: ixGBqg/umE2LXOnp/6Thcw.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
- request:
    body: '{"validFrom": "2022-07-31T11:15:39.189303Z", "validUntil": "2023-02-28T11:15:39.189303Z"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 28 Jul 2022 15:15:39 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/rooms/99442407763502281?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-c0769676a3b1dc07b65ef377f5f8db68-2774413048a4ed39-00","errors":{"ValidUntil":["The
        time range is incorrect, or larger than 180 days."]}}'
    headers:
      content-type: application/problem+json; charset=utf-8
      ms-cv: e/NCQWXuGkWcemMHLekvCA.0
    status:
      code: 400
      message: Bad Request
    url: https://sanitized.ppe.communication.azure.net/rooms/99442407763502281?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 28 Jul 2022 15:15:39 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - 3evcPQKULkizjlic6EvLIg.0
      x-processing-time:
      - 221ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 28 Jul 2022 15:15:39 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - nN0XNWCjZEiQkzN/Mo/H+w.0
      x-processing-time:
      - 192ms
    status:
      code: 204
      message: No Content
version: 1
