interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 13 Apr 2023 17:30:39 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-1b8d-0048-1788-0948220073e6"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ifFP9RKhDkOL/7D0zOfEKw.0
      x-processing-time:
      - 45ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": {}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Thu, 13 Apr 2023 17:30:40 GMT
      Repeatability-Request-ID:
      - e90a76f6-da20-11ed-a430-e45e37e24f59
      x-ms-date:
      - Thu, 13 Apr 2023 17:30:40 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99481993827662883","createdAt":"2023-04-13T17:30:41.213848+00:00","validFrom":"2023-04-13T17:30:41.1562963+00:00","validUntil":"2023-10-10T17:30:41.1562963+00:00"}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Sn7M7MJp4ECr5zuPLZzsPA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 13 Apr 2023 17:30:40 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/rooms/99481993827662883?api-version=2023-03-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      ms-cv:
      - S45uCzYq2EiDeyM7YLIZ+g.0
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 13 Apr 2023 17:30:40 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/rooms/99481993827662883?api-version=2023-03-31-preview
  response:
    body:
      string: '{"error":{"code":"NotFound","message":"The server cannot find the requested
        resource."}}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - yW8JEZ7Iw0Ok77ubmNJRzA.0
      x-ms-error-code:
      - NotFound
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 13 Apr 2023 17:30:41 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - njStlmPB4EuMzcnPVkSdig.0
      x-processing-time:
      - 235ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 13 Apr 2023 17:30:41 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - DnLSgWKdNkinpUq7pTSc8g.0
      x-processing-time:
      - 170ms
    status:
      code: 204
      message: No Content
version: 1
