interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 01 Mar 2022 10:53:36 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity": {"id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_0000000f-e4fe-d919-e1fe-08482200e17e"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Wm311hBuX0ef+wNo1iATQA.0
      x-processing-time:
      - 30ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Tue, 01 Mar 2022 10:53:36 GMT
    method: GET
    uri: https://sanitized.ppe.communication.azure.net/rooms/89469124725336262?api-version=2021-04-07
  response:
    body:
      string: '{"error": {"code": "NotFound", "message": "Resource not found"}}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: ++AwzjPxXEqSYwyAA/xaXA.0
    status:
      code: 404
      message: Not Found
    url: https://sanitized.ppe.communication.azure.net/rooms/89469124725336262?api-version=2021-04-07
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Mar 2022 10:53:37 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_0000000f-e4fe-d919-e1fe-08482200e17e?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01, 2022-06-01
      ms-cv:
      - aHGMO/j/hEKqAjPjiLxLZQ.0
      x-processing-time:
      - 181ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Mar 2022 10:53:37 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_0000000f-e4fe-d9a8-e1fe-08482200e180?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01, 2022-06-01
      ms-cv:
      - n478YD9opE6FNhUDMUkWhw.0
      x-processing-time:
      - 145ms
    status:
      code: 204
      message: No Content
version: 1
