interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 04 Apr 2023 01:14:00 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000017-e9b5-9183-1788-09482200a485"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - nkPVZJCIHki2FdliMUiDwQ.0
      x-processing-time:
      - 20ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validUntil": "2023-04-24T18:14:00.845408Z", "participants": {}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Tue, 04 Apr 2023 01:14:00 GMT
      Repeatability-Request-ID:
      - fb63bbc5-d285-11ed-af82-e45e37e24f59
      x-ms-date:
      - Tue, 04 Apr 2023 01:14:00 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99464873072429023","createdAt":"2023-04-04T01:13:59.0295502+00:00","validFrom":"2023-04-04T01:13:58.9324111+00:00","validUntil":"2023-04-24T18:14:00.845408+00:00"}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type: application/json; charset=utf-8
      ms-cv: F6UXrBcEOUWh66bsQTzmkQ.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
- request:
    body: ''
    headers:
      x-ms-date:
      - Tue, 04 Apr 2023 01:14:01 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/rooms/99464873072429023?api-version=2023-03-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-03-31-preview
      ms-cv: 24S2US+YpEKLVoT/G5zW1A.0
    status:
      code: 204
      message: No Content
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms/99464873072429023?api-version=2023-03-31-preview
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 04 Apr 2023 01:14:01 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - 5Sm/yo/PVkOqJv/OIFaxVA.0
      x-processing-time:
      - 115ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 04 Apr 2023 01:14:02 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - kM2xc8I5O0mDHU8Okrd/nA.0
      x-processing-time:
      - 92ms
    status:
      code: 204
      message: No Content
version: 1
