interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 07 Jul 2022 16:24:54 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - y54dY0ja6ESqVwff7jROPg.0
      x-processing-time:
      - 31ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2022-07-10T12:24:55.152542Z", "validUntil": "2022-11-10T12:24:55.152542Z"}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-07-07T16:24:55.152542Z'
      Repeatability-Request-ID:
      - 55f2ec32-fe11-11ec-9cb4-a864f132484d
      x-ms-date:
      - Thu, 07 Jul 2022 16:24:55 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99499716345345000","createdDateTime":"2022-07-07T16:24:55.6747991+00:00","validFrom":"2022-07-10T12:24:55.152542+00:00","validUntil":"2022-11-10T12:24:55.152542+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: 5n5YauUPuEeDvJWYJmFkNA.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
- request:
    body: ''
    headers:
      x-ms-date:
      - Thu, 07 Jul 2022 16:24:55 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/rooms/99499716345345000?api-version=2022-02-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      ms-cv: i5BwDhFfpkeQ7MJwJ8Cmdw.0
    status:
      code: 204
      message: No Content
    url: https://sanitized.ppe.communication.azure.net/rooms/99499716345345000?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 07 Jul 2022 16:24:55 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - A7guEthdO0KE4jfM6sipLA.0
      x-processing-time:
      - 105ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 07 Jul 2022 16:24:56 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - vjx+komVNU+e73DLYjKWtw.0
      x-processing-time:
      - 153ms
    status:
      code: 204
      message: No Content
version: 1
