interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 16 Nov 2022 06:00:45 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 7SM2qwIsdECZofxgYbKb6g.2.0
      x-processing-time:
      - 42ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-11-16T06:00:47.956001Z'
      Repeatability-Request-ID:
      - 0435314b-6574-11ed-ac16-d03c1f2e0bde
      x-ms-date:
      - Wed, 16 Nov 2022 06:00:47 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99450215186079600","createdDateTime":"2022-11-16T06:00:51.0345162+00:00","validFrom":"2022-11-16T06:00:50.9855133+00:00","validUntil":"2023-05-15T06:00:50.9855133+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: ThVc4Gmj/U6QZChIugKc1Q.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
- request:
    body: '{"validFrom": "2022-11-29T22:00:49.227708Z"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 16 Nov 2022 06:00:49 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/99450215186079600?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-08f842941ee101f6d50d707ba98ca31b-f3a16083d4032ef8-00","errors":{"":["validFrom
        and validUntil should be set together."]}}'
    headers:
      content-type: application/problem+json; charset=utf-8
      ms-cv: 71KsYwucp06kz4UcyNmHWQ.0
    status:
      code: 400
      message: Bad Request
    url: https://sanitized.communication.azure.com/rooms/99450215186079600?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Nov 2022 06:00:49 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - A4inGURLuU2J2lrWNVNnXQ.2.0
      x-processing-time:
      - 176ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Nov 2022 06:00:50 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - TwJqcDUQeEGAHb93Z5Ad8Q.2.0
      x-processing-time:
      - 225ms
    status:
      code: 204
      message: No Content
version: 1
