interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 04 Jul 2022 20:49:46 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-6adb-8e2e-e1fe-08482200c1d5"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - edIENwKj5kup8pwsryoVqw.0
      x-processing-time:
      - 29ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2022-07-07T16:49:47.387511Z", "validUntil": "2023-02-07T16:49:47.387511Z"}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-07-04T20:49:47.387511Z'
      Repeatability-Request-ID:
      - d73848af-fbda-11ec-9b0b-a864f132484d
      x-ms-date:
      - Mon, 04 Jul 2022 20:49:47 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-b1c9ae275de470ebe60e22a86e0f39c0-af07293a6e6e2041-00","errors":{"ValidUntil":["The
        time range is incorrect, or larger than 180 days."]}}'
    headers:
      content-type: application/problem+json; charset=utf-8
      ms-cv: WDIfkqbOHEepJD6rUtQhJg.0
    status:
      code: 400
      message: Bad Request
    url: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 04 Jul 2022 20:49:47 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-6adb-8e2e-e1fe-08482200c1d5?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - L8+Z35dxN0SD8Kw8W13ZVQ.0
      x-processing-time:
      - 154ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 04 Jul 2022 20:49:48 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-6adb-8f29-e1fe-08482200c1d7?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - KS3PzGYInke9RPRwu6cmCA.0
      x-processing-time:
      - 145ms
    status:
      code: 204
      message: No Content
version: 1
