interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 19 Apr 2023 23:25:32 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-3bb8-0a64-f38d-094822009bf5"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - +da4szL+dUmbNXXu4hyXkw.0
      x-processing-time:
      - 18ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2023-04-22T16:25:33.382842Z", "validUntil": "2023-05-06T16:25:33.382842Z",
      "participants": {"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-3bb8-0a64-f38d-094822009bf5":
      {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Wed, 19 Apr 2023 23:25:33 GMT
      Repeatability-Request-ID:
      - 7b3fbf4a-df09-11ed-8d5f-e45e37e24f59
      x-ms-date:
      - Wed, 19 Apr 2023 23:25:33 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99432651467358520","createdAt":"2023-04-19T23:25:32.6834773+00:00","validFrom":"2023-04-22T16:25:33.382842+00:00","validUntil":"2023-05-06T16:25:33.382842+00:00"}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type: application/json; charset=utf-8
      ms-cv: r2+oKmqqNEy/fihcPpfIeg.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
- request:
    body: ''
    headers:
      x-ms-date:
      - Wed, 19 Apr 2023 23:25:33 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/99432651467358520?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99432651467358520","createdAt":"2023-04-19T23:25:32.6834773+00:00","validFrom":"2023-04-22T16:25:33.382842+00:00","validUntil":"2023-05-06T16:25:33.382842+00:00"}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type: application/json; charset=utf-8
      ms-cv: UJm83DvhPUi28YJpZY6eRw.0
    status:
      code: 200
      message: OK
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms/99432651467358520?api-version=2023-03-31-preview
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Apr 2023 23:25:34 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - 5clfx3YOJ0qb9iuOwVPO2A.0
      x-processing-time:
      - 188ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Apr 2023 23:25:34 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - xkZzwjTCokuBfrl/nco79g.0
      x-processing-time:
      - 166ms
    status:
      code: 204
      message: No Content
version: 1
