interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 20 Apr 2023 18:33:26 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-3fd2-fb53-1788-09482200f297"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - +LmXTRtVFEa2cB/oZfNCcQ.0
      x-processing-time:
      - 39ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": {}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Thu, 20 Apr 2023 18:33:26 GMT
      Repeatability-Request-ID:
      - d7105971-dfa9-11ed-abea-e45e37e24f59
      x-ms-date:
      - Thu, 20 Apr 2023 18:33:26 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99473324530430746","createdAt":"2023-04-20T18:33:27.3882429+00:00","validFrom":"2023-04-20T18:33:27.1313202+00:00","validUntil":"2023-10-17T18:33:27.1313202+00:00"}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type: application/json; charset=utf-8
      ms-cv: +1m6dLmD8E27Ave2U3QjWQ.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
- request:
    body: ''
    headers:
      x-ms-date:
      - Thu, 20 Apr 2023 18:33:27 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/rooms/99473324530430746?api-version=2023-03-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-03-31-preview
      ms-cv: RU/TCxlk1UuJ73vIsQTjAg.0
    status:
      code: 204
      message: No Content
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms/99473324530430746?api-version=2023-03-31-preview
- request:
    body: ''
    headers:
      x-ms-date:
      - Thu, 20 Apr 2023 18:33:27 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/99473324530430746?api-version=2023-03-31-preview
  response:
    body:
      string: '{"error":{"code":"NotFound","message":"The server cannot find the requested
        resource."}}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type: application/json; charset=utf-8
      ms-cv: 9lyTupNckEC3YAn2wiXyPw.0
      x-ms-error-code: NotFound
    status:
      code: 404
      message: Not Found
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms/99473324530430746?api-version=2023-03-31-preview
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Apr 2023 18:33:28 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - H/TN1dhsokCPCZYUW+VORQ.0
      x-processing-time:
      - 111ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Apr 2023 18:33:28 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - TtSnmiB/dke9mVVAzeeWhA.0
      x-processing-time:
      - 119ms
    status:
      code: 204
      message: No Content
version: 1
