interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 04 Apr 2023 01:15:17 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000017-e9b6-bdb2-1985-094822009a17"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 2PNpmdEbCEiPfTsx3Ybsgw.0
      x-processing-time:
      - 20ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": {}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Tue, 04 Apr 2023 01:15:17 GMT
      Repeatability-Request-ID:
      - 2934b15d-d286-11ed-9906-e45e37e24f59
      x-ms-date:
      - Tue, 04 Apr 2023 01:15:17 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99434860044450882","createdAt":"2023-04-04T01:15:16.0314566+00:00","validFrom":"2023-04-04T01:15:15.7765676+00:00","validUntil":"2023-10-01T01:15:15.7765676+00:00"}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 0VOO/5j9RUizIhfaQ/r+QA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validUntil": "2023-04-17T18:15:18.427906Z"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 04 Apr 2023 01:15:18 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/rooms/99434860044450882?api-version=2023-03-31-preview
  response:
    body:
      string: '{"error":{"code":"BadRequest","message":"The request could not be understood
        by the server due to malformed syntax.","details":[{"code":"BadArgument","message":"validFrom
        and validUntil should be set together.","target":""}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - WEkboa1q8k+2doAlRWyzOQ.0
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 04 Apr 2023 01:15:18 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - X54kY7pqP0yWHXDUDzLgVQ.0
      x-processing-time:
      - 89ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 04 Apr 2023 01:15:19 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - l8s1Rlvh4kKugEacuCby2Q.0
      x-processing-time:
      - 87ms
    status:
      code: 204
      message: No Content
version: 1
