interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 30 Jun 2022 21:26:36 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5663-da79-83fe-08482200b8a3"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - WHLXfQmv6EyoEEXJAZjMaA.0
      x-processing-time:
      - 34ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-06-30T21:26:36.992249Z'
      Repeatability-Request-ID:
      - 529835bb-f8bb-11ec-82e0-a864f132484d
      x-ms-date:
      - Thu, 30 Jun 2022 21:26:36 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99493737755603485","createdDateTime":"2022-06-30T21:26:36.6256039+00:00","validFrom":"2022-06-30T21:26:36.5999985+00:00","validUntil":"2022-12-27T21:26:36.5999985+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: 10MgQ/AqGUKjPcUpZoJ6jQ.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
- request:
    body: '{"validUntil": "2022-08-30T17:26:37.473176Z"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 30 Jun 2022 21:26:37 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/rooms/99493737755603485?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-4e2230492e57461c3604cf697a0ae3b1-a2f2dbecca21e3b8-00","errors":{"":["validFrom
        and validUntil should be set together."]}}'
    headers:
      content-type: application/problem+json; charset=utf-8
      ms-cv: WJsW37c9ZEKbifGd6KdADA.0
    status:
      code: 400
      message: Bad Request
    url: https://sanitized.ppe.communication.azure.net/rooms/99493737755603485?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 30 Jun 2022 21:26:37 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5663-da79-83fe-08482200b8a3?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - 3UqcAm8Q0EyJk/lMdRpJBA.0
      x-processing-time:
      - 135ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 30 Jun 2022 21:26:38 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5663-dba6-83fe-08482200b8a5?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - qIoUsZEdv0WJpIS78SD5PA.0
      x-processing-time:
      - 97ms
    status:
      code: 204
      message: No Content
version: 1
