interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 08 Aug 2022 19:45:43 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - SjLKRopsw0WPerEZAYfu/g.0
      x-processing-time:
      - 35ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2022-08-11T15:45:43.60556Z", "validUntil": "2022-08-25T15:45:43.60556Z",
      "participants": [{"communicationIdentifier": {"communicationUser": {"id": "sanitized"}},
      "role": "Presenter"}]}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-08-08T19:45:43.60556Z'
      Repeatability-Request-ID:
      - b09af434-1752-11ed-8156-a864f132484d
      x-ms-date:
      - Mon, 08 Aug 2022 19:45:43 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99482651526989240","createdDateTime":"2022-08-08T19:45:44.1508928+00:00","validFrom":"2022-08-11T15:45:43.60556+00:00","validUntil":"2022-08-25T15:45:43.60556+00:00","roomJoinPolicy":"InviteOnly","participants":[{"communicationIdentifier":{"rawId":"sanitized","communicationUser":{"id":"sanitized"}},"role":"Presenter"}]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: 4ty/uD08Xk2DDke4huEuKA.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 08 Aug 2022 19:45:44 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/99482651526989240?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99482651526989240","createdDateTime":"2022-08-08T19:45:44.1508928+00:00","validFrom":"2022-08-11T15:45:43.60556+00:00","validUntil":"2022-08-25T15:45:43.60556+00:00","roomJoinPolicy":"InviteOnly","participants":[{"communicationIdentifier":{"rawId":"sanitized","communicationUser":{"id":"sanitized"}},"role":"Presenter"}]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: cWQYnC06KUOtxr68zs0mOg.0
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/rooms/99482651526989240?api-version=2022-02-01
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Aug 2022 19:45:44 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - UP6DvlnM90KDGiuKLKowtQ.0
      x-processing-time:
      - 148ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Aug 2022 19:45:45 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - tu+GPxl5vUaSfGzzW9qRxQ.0
      x-processing-time:
      - 502ms
    status:
      code: 204
      message: No Content
version: 1
