interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 01 Feb 2023 00:18:01 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - fiRZND4DOk+fL1ofsx7+Iw.0
      x-processing-time:
      - 83ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 01 Feb 2023 00:18:02 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/78469124725336262?api-version=2022-02-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"Resource not found"}}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-01-10
      content-type: application/json; charset=utf-8
      ms-cv: vwj8bfDX6EKVco9Rrlk1nA.0
      x-ms-error-code: ResourceNotFound
    status:
      code: 404
      message: Not Found
    url: https://sanitized.communication.azure.com/rooms/78469124725336262?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Feb 2023 00:18:02 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - UEJ76hrI00KerFBDU/CgRA.0
      x-processing-time:
      - 304ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Feb 2023 00:18:03 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - 2IugXcTF9kqv6oEKqS1HSA.0
      x-processing-time:
      - 283ms
    status:
      code: 204
      message: No Content
version: 1
