interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 17 Mar 2022 21:20:47 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity": {"id": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-39a2-cbec-290c-113a0d00321c"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - gyOh4YSVFk2oloBPefMfrA.0
      x-processing-time:
      - 90ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 17 Mar 2022 21:20:47 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2021-04-07
  response:
    body:
      string: '{"room": {"id": "99420987794430921", "createdDateTime": "2022-03-17T21:20:48.3808773+00:00",
        "validFrom": "2022-03-17T21:20:48.3481772+00:00", "validUntil": "2022-09-13T21:20:48.3481772+00:00"}}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - HlFd/HuEFUa6SiSZLhN80w.0
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Mar 2022 21:20:48 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/rooms/99420987794430921?api-version=2021-04-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      ms-cv:
      - rHeH7/so2U2vdvva7H0KsA.0
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Mar 2022 21:20:48 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/8%3Aacs%3Afac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-39a2-cbec-290c-113a0d00321c?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - u4Z7NOyK9kiCUVfgdTEhVg.0
      x-processing-time:
      - 269ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Mar 2022 21:20:49 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/8%3Aacs%3Afac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-39a2-ce47-290c-113a0d00321e?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - MaAqEyAID0yfv4teXiWjHg.0
      x-processing-time:
      - 260ms
    status:
      code: 204
      message: No Content
version: 1
