interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 11 Apr 2023 22:41:09 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-125c-8934-1985-09482200f0bb"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - PWWL+DelUESa55rKDx2lag.0
      x-processing-time:
      - 19ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": {}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Tue, 11 Apr 2023 22:41:09 GMT
      Repeatability-Request-ID:
      - f4355eb6-d8b9-11ed-83ec-e45e37e24f59
      x-ms-date:
      - Tue, 11 Apr 2023 22:41:09 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99410520197855088","createdAt":"2023-04-11T22:41:10.3588242+00:00","validFrom":"2023-04-11T22:41:10.250926+00:00","validUntil":"2023-10-08T22:41:10.250926+00:00"}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Q3ZN/ocWf0aQ2tpTciCcvQ.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2023-04-25T15:41:10.422857Z"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 11 Apr 2023 22:41:10 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/rooms/99410520197855088?api-version=2023-03-31-preview
  response:
    body:
      string: '{"error":{"code":"BadRequest","message":"The request could not be understood
        by the server due to malformed syntax.","details":[{"code":"BadArgument","message":"validFrom
        and validUntil should be set together.","target":""}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - bY7EkRfbIUef2roMDm9kZA.0
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 11 Apr 2023 22:41:11 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - akZYxTSBoE+cKTEFA/QVaQ.0
      x-processing-time:
      - 86ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 11 Apr 2023 22:41:11 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - /mxJSWidaE+M6buWvK6P2Q.0
      x-processing-time:
      - 84ms
    status:
      code: 204
      message: No Content
version: 1
