interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 01 Feb 2023 00:15:41 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - NTyWg3aI3062/Vo26nZe3A.0
      x-processing-time:
      - 18ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2023-02-01T00:15:42.236065Z'
      Repeatability-Request-ID:
      - 9071d04a-a1c5-11ed-ad91-d03c1f2e0bde
      x-ms-date:
      - Wed, 01 Feb 2023 00:15:42 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99492855985877024","createdDateTime":"2023-02-01T00:15:42.0800618+00:00","validFrom":"2023-02-01T00:15:41.9961607+00:00","validUntil":"2023-07-31T00:15:41.9961607+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-01-10
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - nvsTvv1cxUKalWTLWUDHGQ.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2023-08-22T16:15:42.911831Z"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 01 Feb 2023 00:15:42 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/99492855985877024?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-d6c1c7d97aadde1bec2630a6d63f20a9-b1e86998308dc3ed-01","errors":{"ValidFrom":["Value
        is incorrect or more than 180 days in the future"]}}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      ms-cv:
      - th3YaLFfy0iem1Akx9WRFw.0
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Feb 2023 00:15:43 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - BusjgeIBdE68wWg8Y2E9HA.0
      x-processing-time:
      - 130ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Feb 2023 00:15:43 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - WGT4mkopjU+JqzWxb46/Bw.0
      x-processing-time:
      - 133ms
    status:
      code: 204
      message: No Content
version: 1
