interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 01 Mar 2022 10:53:33 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity": {"id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_0000000f-e4fe-cfcf-83fe-08482200fdc1"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - wZo2Q17IyEq0r3IThQuJWQ.0
      x-processing-time:
      - 28ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2022-03-04T02:53:34.214889Z", "validUntil": "2022-10-04T02:53:34.214889Z"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 01 Mar 2022 10:53:34 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2021-04-07
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-6787daa39b2ff20d34147a00bc4afb9c-3b46b53693081705-00","errors":{"ValidUntil":["The
        time range is incorrect, or larger than 180 days."]}}'
    headers:
      content-type: application/problem+json; charset=utf-8
      ms-cv: JjN5jo734kCSEXK216kg/g.0
    status:
      code: 400
      message: Bad Request
    url: https://sanitized.ppe.communication.azure.net/rooms?api-version=2021-04-07
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Mar 2022 10:53:34 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_0000000f-e4fe-cfcf-83fe-08482200fdc1?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01, 2022-06-01
      ms-cv:
      - +TBSscX/ZUKVvD33na8f1A.0
      x-processing-time:
      - 102ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Mar 2022 10:53:35 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_0000000f-e4fe-d07e-83fe-08482200fdc3?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01, 2022-06-01
      ms-cv:
      - nWRWBWfV7kCpoz4XP7uqnw.0
      x-processing-time:
      - 97ms
    status:
      code: 204
      message: No Content
version: 1
