interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Sat, 22 Apr 2023 04:50:13 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-472e-0471-f38d-09482200966a"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - xqu9ZkUknkauJQ/a0RnFVw.0
      x-processing-time:
      - 21ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Sat, 22 Apr 2023 04:50:14 GMT
      Repeatability-Request-ID:
      - 2b825150-e0c9-11ed-b4f8-e45e37e24f59
      x-ms-date:
      - Sat, 22 Apr 2023 04:50:14 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99433713143375568","createdAt":"2023-04-22T04:50:13.9591791+00:00","validFrom":"2023-04-22T04:50:13.897014+00:00","validUntil":"2023-10-19T04:50:13.897014+00:00"}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 8P10oD7pIEy2LS9dOH6pjQ.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Apr 2023 04:50:14 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/rooms/99433713143375568?api-version=2023-03-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      ms-cv:
      - Y8557LCEVEe3WrMWRCPtXQ.0
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Apr 2023 04:50:15 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - sSKHR6ia1UaiDS9gkMA4ig.0
      x-processing-time:
      - 358ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Apr 2023 04:50:16 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - 0nHJ8i6p4E6+BdtL5BIlLg.0
      x-processing-time:
      - 179ms
    status:
      code: 204
      message: No Content
version: 1
