{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Thu, 04 May 2023 00:33:31 GMT",
        "Repeatability-Request-ID": "4bbfdfd3-ea13-11ed-aebd-e45e37e24f59",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "Thu, 04 May 2023 00:33:31 GMT"
      },
      "RequestBody": {
        "validFrom": null,
        "validUntil": null,
        "participants": {
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-840f-50c0-f38d-0948220038e4": {
            "role": "Attendee"
          },
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-840f-5102-f38d-0948220038e5": {
            "role": "Attendee"
          },
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-840f-5145-f38d-0948220038e6": {
            "role": "Presenter"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99446630415804049",
        "MS-CV": "lW21pZExrEiVVSAJ3eu24Q.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "someId",
        "createdAt": "2023-05-04T00:33:31.971283\u002B00:00",
        "validFrom": "2023-05-04T00:33:31.6961603\u002B00:00",
        "validUntil": "2023-10-31T00:33:31.6961603\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/99446630415804049/participants?api-version=2023-03-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "Thu, 04 May 2023 00:33:32 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-02-01, 2023-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "0\u002B5FsBk8DUeEQQTz0fc9gA.0"
      },
      "ResponseBody": {
        "value": [
          {
            "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-840f-50c0-f38d-0948220038e4",
            "role": "Attendee"
          },
          {
            "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-840f-5102-f38d-0948220038e5",
            "role": "Attendee"
          },
          {
            "rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-840f-5145-f38d-0948220038e6",
            "role": "Presenter"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/99446630415804049?api-version=2023-03-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "Thu, 04 May 2023 00:33:33 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview",
        "MS-CV": "EqmQ0WoOekyaiOcD5ZWKAA.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
