interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 16 Nov 2022 05:59:19 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - GW9nO93sxkSWbg7nNcVatQ.2.0
      x-processing-time:
      - 42ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2022-11-18T21:59:22.187406Z", "validUntil": "2022-12-16T21:59:22.187406Z",
      "roomJoinPolicy": "CommunicationServiceUsers"}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-11-16T05:59:22.187406Z'
      Repeatability-Request-ID:
      - d115f195-6573-11ed-9bd2-d03c1f2e0bde
      x-ms-date:
      - Wed, 16 Nov 2022 05:59:22 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"9942430051206813","createdDateTime":"2022-11-16T05:59:25.3503158+00:00","validFrom":"2022-11-18T21:59:22.187406+00:00","validUntil":"2022-12-16T21:59:22.187406+00:00","roomJoinPolicy":"CommunicationServiceUsers","participants":[]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: klBqyzaKPkaUdmWQ3faODw.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
- request:
    body: ''
    headers:
      x-ms-date:
      - Wed, 16 Nov 2022 05:59:23 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/rooms/9942430051206813?api-version=2022-02-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      ms-cv: MgHdKNfgCUGiS8LfOvzqWQ.0
    status:
      code: 204
      message: No Content
    url: https://sanitized.communication.azure.com/rooms/9942430051206813?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Nov 2022 05:59:24 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - /vyREdxNJUGqEH69KHmLxw.2.0
      x-processing-time:
      - 302ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Nov 2022 05:59:25 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - ZJm0Cv9fXUGiRR+ZVHew1A.2.0
      x-processing-time:
      - 162ms
    status:
      code: 204
      message: No Content
version: 1
