interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:18 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-472d-2d03-a381-0948220096c6"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - vix/eUEJjkWPdj6G2p+dPw.0
      x-processing-time:
      - 19ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2023-04-24T21:49:19.001743Z", "validUntil": "2023-05-22T21:49:19.001743Z"}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Sat, 22 Apr 2023 04:49:19 GMT
      Repeatability-Request-ID:
      - 0aa57598-e0c9-11ed-a501-e45e37e24f59
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:19 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99491538031506608","createdAt":"2023-04-22T04:49:18.6225705+00:00","validFrom":"2023-04-24T21:49:19.001743+00:00","validUntil":"2023-05-22T21:49:19.001743+00:00"}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type: application/json; charset=utf-8
      ms-cv: MWxkz/PFZECsvbcVk5ceSw.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
- request:
    body: ''
    headers:
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:19 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/rooms/99491538031506608?api-version=2023-03-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-03-31-preview
      ms-cv: 0iiCg6C+R0GDbfPWYPBtFw.0
    status:
      code: 204
      message: No Content
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms/99491538031506608?api-version=2023-03-31-preview
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:19 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - 8Xv42+dfgU6N6wMXkd3zJA.0
      x-processing-time:
      - 154ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:20 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - Z4oKmIVUHkWdCJLWkNdo9w.0
      x-processing-time:
      - 127ms
    status:
      code: 204
      message: No Content
version: 1
