interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 20 Apr 2023 18:34:32 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-3fd3-feca-b688-09482200f7c5"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - BJBcPvY3s0KAeMWirfpEEg.0
      x-processing-time:
      - 21ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": {}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Thu, 20 Apr 2023 18:34:33 GMT
      Repeatability-Request-ID:
      - fea5912d-dfa9-11ed-91bc-e45e37e24f59
      x-ms-date:
      - Thu, 20 Apr 2023 18:34:33 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99476035567028924","createdAt":"2023-04-20T18:34:33.8255011+00:00","validFrom":"2023-04-20T18:34:33.5564708+00:00","validUntil":"2023-10-17T18:34:33.5564708+00:00"}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - kUPb/kB9XUKn/3CNwg/UMA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validUntil": "2023-11-09T11:34:33.999899Z"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 20 Apr 2023 18:34:33 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/99476035567028924?api-version=2023-03-31-preview
  response:
    body:
      string: '{"error":{"code":"BadRequest","message":"The request could not be understood
        by the server due to malformed syntax.","details":[{"code":"BadArgument","message":"validFrom
        and validUntil should be set together.","target":""}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Txwh5lqSO0+S4hcmdZ6How.0
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Apr 2023 18:34:34 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - z0dFHEe9RUCdUg8R+Enmcg.0
      x-processing-time:
      - 170ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Apr 2023 18:34:35 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - U2l0tIPsdUK2ycYk3eHvbQ.0
      x-processing-time:
      - 137ms
    status:
      code: 204
      message: No Content
version: 1
