interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 18 Nov 2022 19:12:26 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - c+7Lvv8YYEWTxTL53pUipg.2.0
      x-processing-time:
      - 40ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2023-06-09T11:12:28.235499Z"}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-11-18T19:12:28.236497Z'
      Repeatability-Request-ID:
      - f1684c32-6774-11ed-bbe7-d03c1f2e0bde
      x-ms-date:
      - Fri, 18 Nov 2022 19:12:28 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-c96a04dfc0ccb446bdbc50e80105b5de-57b6b41817a88be7-00","errors":{"ValidFrom":["Value
        is incorrect or more than 180 days in the future"]}}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      ms-cv:
      - GcXAeEqyqEahLR4ZaRCnDA.0
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 18 Nov 2022 19:12:29 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - JNIxSjgPS0q030LA42WouA.2.0
      x-processing-time:
      - 220ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 18 Nov 2022 19:12:31 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - jvcXQZqiN0mgjFjUXd3uiQ.2.0
      x-processing-time:
      - 179ms
    status:
      code: 204
      message: No Content
version: 1
