interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 20 Apr 2023 18:33:46 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-3fd3-4815-1788-09482200f2b1"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 4y8+juqCnkuqQ84RKugzYw.0
      x-processing-time:
      - 18ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 20 Apr 2023 18:33:46 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/78469124725336262?api-version=2023-03-31-preview
  response:
    body:
      string: '{"error":{"code":"NotFound","message":"The server cannot find the requested
        resource."}}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type: application/json; charset=utf-8
      ms-cv: 4Yacp8vrTUiCn9HeCka80Q.0
      x-ms-error-code: NotFound
    status:
      code: 404
      message: Not Found
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms/78469124725336262?api-version=2023-03-31-preview
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Apr 2023 18:33:47 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - hd2+eHRTTkmaM9VDq9uEzA.0
      x-processing-time:
      - 119ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Apr 2023 18:33:47 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - 8dDH7PtJdE25yb/sYWtjmQ.0
      x-processing-time:
      - 128ms
    status:
      code: 204
      message: No Content
version: 1
