interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 19 Apr 2023 23:26:00 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-3bb8-772a-1985-094822009c95"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 1wPEl9PfIE6Q3vfr/e+aWg.0
      x-processing-time:
      - 18ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2023-04-22T16:26:01.218491Z", "validUntil": "2023-05-20T16:26:01.218491Z",
      "participants": {"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-3bb8-772a-1985-094822009c95":
      {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Wed, 19 Apr 2023 23:26:01 GMT
      Repeatability-Request-ID:
      - 8bd72154-df09-11ed-b31e-e45e37e24f59
      x-ms-date:
      - Wed, 19 Apr 2023 23:26:01 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99420304555583881","createdAt":"2023-04-19T23:26:00.7325892+00:00","validFrom":"2023-04-22T16:26:01.218491+00:00","validUntil":"2023-05-20T16:26:01.218491+00:00"}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - qqNZiEpwiEq5ydqpzizYBw.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Apr 2023 23:26:01 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/rooms/99420304555583881?api-version=2023-03-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      ms-cv:
      - bmMaEM6EBE2GvKYpj8qiTg.0
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Apr 2023 23:26:02 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - X3g+DT++EEyDjWXVZkcOpQ.0
      x-processing-time:
      - 207ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Apr 2023 23:26:02 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - itVFck4UskO6/OtymLQCCg.0
      x-processing-time:
      - 173ms
    status:
      code: 204
      message: No Content
version: 1
