interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 17 Mar 2022 21:20:58 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity": {"id": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-39a2-f935-3dfe-9c3a0d002f6c"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - tP4Ps2KCfE+VbOIOedf9pg.0
      x-processing-time:
      - 89ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2022-10-17T14:20:59.316122Z"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 17 Mar 2022 21:20:59 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2021-04-07
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-ec2b67ef351688f1b632818c389d1e0b-c809ea0bd8a11a08-00","errors":{"ValidFrom":["Value
        is incorrect or more than 180 days in the future"]}}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      ms-cv:
      - LPBgPpWHv0eMX9N465HxHg.0
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Mar 2022 21:20:59 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/8%3Aacs%3Afac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-39a2-f935-3dfe-9c3a0d002f6c?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - 28b8s7JCzUGhd/XnYIhUCQ.0
      x-processing-time:
      - 200ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Mar 2022 21:21:00 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/8%3Aacs%3Afac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-39a2-fb05-3dfe-9c3a0d002f6e?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - H2/RxXXifk6tZAlfFzrwTw.0
      x-processing-time:
      - 216ms
    status:
      code: 204
      message: No Content
version: 1
