{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Thu, 04 May 2023 00:32:56 GMT",
        "Repeatability-Request-ID": "3718b995-ea13-11ed-8b6a-e45e37e24f59",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "Thu, 04 May 2023 00:32:56 GMT"
      },
      "RequestBody": {
        "validFrom": "2023-05-06T17:32:56.799886Z",
        "validUntil": "2023-06-03T17:32:56.799886Z",
        "participants": {
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-840e-c950-1788-09482200379f": {
            "role": "Presenter"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99464043654531727",
        "MS-CV": "8o\u002BRq29F\u002BUSUepneOh\u002Btgw.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "someId",
        "createdAt": "2023-05-04T00:32:57.3246359\u002B00:00",
        "validFrom": "2023-05-06T17:32:56.799886\u002B00:00",
        "validUntil": "2023-06-03T17:32:56.799886\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/99464043654531727?api-version=2023-03-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "Thu, 04 May 2023 00:32:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview",
        "MS-CV": "\u002BTmm1w06IUimyS4auQogfA.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
