interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 30 Jun 2022 21:26:08 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5663-6e7c-e1fe-08482200c46b"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - +kJQqJtKOECtKS4/uynlfA.0
      x-processing-time:
      - 75ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Thu, 30 Jun 2022 21:26:09 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/rooms/78469124725336262?api-version=2022-02-01
  response:
    body:
      string: '{"error":{"code":"NotFound","message":"Resource not found"}}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: wyXyhg9T+ka54HQs6bAsDQ.0
    status:
      code: 404
      message: Not Found
    url: https://sanitized.ppe.communication.azure.net/rooms/78469124725336262?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 30 Jun 2022 21:26:09 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5663-6e7c-e1fe-08482200c46b?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - 81pkQNI2pkabyykW9H+XJg.0
      x-processing-time:
      - 139ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 30 Jun 2022 21:26:10 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5663-6fb5-e1fe-08482200c46d?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - oY7BquI/r0++QIyT+vpKng.0
      x-processing-time:
      - 121ms
    status:
      code: 204
      message: No Content
version: 1
