interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 18 Nov 2022 19:11:16 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - A6vtP3JcLkmwdPeCAoA4vw.2.0
      x-processing-time:
      - 47ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-11-18T19:11:19.415611Z'
      Repeatability-Request-ID:
      - c863104e-6774-11ed-89ea-d03c1f2e0bde
      x-ms-date:
      - Fri, 18 Nov 2022 19:11:19 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"9941349425546521","createdDateTime":"2022-11-18T19:11:22.7527258+00:00","validFrom":"2022-11-18T19:11:22.6771168+00:00","validUntil":"2023-05-17T19:11:22.6771168+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: sZfywXutEkWIJTgJo5oFHw.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
- request:
    body: '{"validFrom": "2022-12-02T11:11:20.030347Z"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 18 Nov 2022 19:11:20 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/9941349425546521?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-1f231eb42daf8be72f2595860eb7fdd7-f3358b4fa1538fbd-00","errors":{"":["validFrom
        and validUntil should be set together."]}}'
    headers:
      content-type: application/problem+json; charset=utf-8
      ms-cv: yiR5k7WLGEW5adswrkmgbg.0
    status:
      code: 400
      message: Bad Request
    url: https://sanitized.communication.azure.com/rooms/9941349425546521?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 18 Nov 2022 19:11:20 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - G5EenK9Co0a47A7uAjt7mA.2.0
      x-processing-time:
      - 180ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 18 Nov 2022 19:11:21 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - ki3QQJqFVkOJnRtnDz2j2Q.2.0
      x-processing-time:
      - 277ms
    status:
      code: 204
      message: No Content
version: 1
