interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 08 Aug 2022 19:46:19 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 0XG6L6PW9UuoyLRBqF5y0w.0
      x-processing-time:
      - 29ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2022-08-11T15:46:20.364436Z", "validUntil": "2022-09-08T15:46:20.364436Z",
      "participants": [{"communicationIdentifier": {"communicationUser": {"id": "sanitized"}},
      "role": "Presenter"}]}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-08-08T19:46:20.364436Z'
      Repeatability-Request-ID:
      - c683e9cb-1752-11ed-a153-a864f132484d
      x-ms-date:
      - Mon, 08 Aug 2022 19:46:20 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99487638224420425","createdDateTime":"2022-08-08T19:46:20.8531172+00:00","validFrom":"2022-08-11T15:46:20.364436+00:00","validUntil":"2022-09-08T15:46:20.364436+00:00","roomJoinPolicy":"InviteOnly","participants":[{"communicationIdentifier":{"rawId":"sanitized","communicationUser":{"id":"sanitized"}},"role":"Presenter"}]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - gN6KxXLci0yaxiS2rK5+Mw.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Aug 2022 19:46:20 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/rooms/99487638224420425?api-version=2022-02-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      ms-cv:
      - 6yS202U2kUGChaJYPwmpyw.0
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Aug 2022 19:46:21 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - EvW5+6SAVE60MM9YZ31zSQ.0
      x-processing-time:
      - 203ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Aug 2022 19:46:21 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - 0UUuvh4NdUeXjr0oqpwm0w.0
      x-processing-time:
      - 137ms
    status:
      code: 204
      message: No Content
version: 1
