{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Thu, 04 May 2023 00:32:58 GMT",
        "Repeatability-Request-ID": "37f26c44-ea13-11ed-a8f0-e45e37e24f59",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "Thu, 04 May 2023 00:32:58 GMT"
      },
      "RequestBody": {
        "validFrom": "2023-05-06T17:32:58.226592Z",
        "validUntil": "2023-05-20T17:32:58.226592Z",
        "participants": {
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-840e-cefa-a381-0948220038c9": {
            "role": "Presenter"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99471688942225963",
        "MS-CV": "r\u002Bqiqek3jUWcp7m/GljhNA.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "someId",
        "createdAt": "2023-05-04T00:32:58.7510805\u002B00:00",
        "validFrom": "2023-05-06T17:32:58.226592\u002B00:00",
        "validUntil": "2023-05-20T17:32:58.226592\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/99471688942225963?api-version=2023-03-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "Thu, 04 May 2023 00:32:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "fH3R3Szm2k29jGYfof2q7w.0"
      },
      "ResponseBody": {
        "id": "someId",
        "createdAt": "2023-05-04T00:32:58.7510805\u002B00:00",
        "validFrom": "2023-05-06T17:32:58.226592\u002B00:00",
        "validUntil": "2023-05-20T17:32:58.226592\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/99471688942225963?api-version=2023-03-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "Thu, 04 May 2023 00:32:59 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview",
        "MS-CV": "BSspoksjsEaMdEHBB39WFg.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
