interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 01 Feb 2023 00:17:18 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - fP8hIYVW1kazSzBo3gfcMw.0
      x-processing-time:
      - 84ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2023-02-03T16:17:19.649451Z"}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2023-02-01T00:17:19.649451Z'
      Repeatability-Request-ID:
      - ca81eab7-a1c5-11ed-97f5-d03c1f2e0bde
      x-ms-date:
      - Wed, 01 Feb 2023 00:17:19 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99486105980601662","createdDateTime":"2023-02-01T00:17:19.342753+00:00","validFrom":"2023-02-03T16:17:19.649451+00:00","validUntil":"2023-07-31T00:17:19.1693514+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-01-10
      content-type: application/json; charset=utf-8
      ms-cv: o8oh7WKPVU6GPuNCtznLKA.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
- request:
    body: ''
    headers:
      x-ms-date:
      - Wed, 01 Feb 2023 00:17:20 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/rooms/99486105980601662?api-version=2022-02-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-01-10
      ms-cv: FLmBEzBlHk2OinUJXh3Yfw.0
    status:
      code: 204
      message: No Content
    url: https://sanitized.communication.azure.com/rooms/99486105980601662?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Feb 2023 00:17:20 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - CHU8LsCenE69FVoacpWoWg.0
      x-processing-time:
      - 315ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Feb 2023 00:17:21 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - fLMDqKvcpk6/uUc+AT1rjQ.0
      x-processing-time:
      - 321ms
    status:
      code: 204
      message: No Content
version: 1
