interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 30 Jun 2022 21:27:20 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5664-8625-83fe-08482200b8c1"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - eT+Gi9OPUUu5iUbXhxP+1g.0
      x-processing-time:
      - 28ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": [{"communicationIdentifier": {"communicationUser": {"id":
      "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5664-8625-83fe-08482200b8c1"}},
      "role": "Presenter"}, {"communicationIdentifier": {"communicationUser": {"id":
      "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5664-8745-83fe-08482200b8c3"}},
      "role": "Attendee"}]}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-06-30T21:27:20.928008Z'
      Repeatability-Request-ID:
      - 6cc84659-f8bb-11ec-bfaa-a864f132484d
      x-ms-date:
      - Thu, 30 Jun 2022 21:27:20 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99451857027720581","createdDateTime":"2022-06-30T21:27:20.6238489+00:00","validFrom":"2022-06-30T21:27:20.5783295+00:00","validUntil":"2022-12-27T21:27:20.5783295+00:00","roomJoinPolicy":"InviteOnly","participants":[{"communicationIdentifier":{"rawId":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5664-8625-83fe-08482200b8c1","communicationUser":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5664-8625-83fe-08482200b8c1"}},"role":"Presenter"},{"communicationIdentifier":{"rawId":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5664-8745-83fe-08482200b8c3","communicationUser":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5664-8745-83fe-08482200b8c3"}},"role":"Attendee"}]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 8pPVhkA5U0iExMfoyTe+YA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": [{"communicationIdentifier": {"communicationUser": {"id":
      "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5664-8625-83fe-08482200b8c1"}},
      "role": "Consumer"}, {"communicationIdentifier": {"communicationUser": {"id":
      "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5664-8745-83fe-08482200b8c3"}},
      "role": "Consumer"}]}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 30 Jun 2022 21:27:21 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms/99451857027720581/participants:update?api-version=2022-02-01
  response:
    body:
      string: '{"participants":[{"communicationIdentifier":{"rawId":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5664-8625-83fe-08482200b8c1","communicationUser":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5664-8625-83fe-08482200b8c1"}},"role":"Consumer"},{"communicationIdentifier":{"rawId":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5664-8745-83fe-08482200b8c3","communicationUser":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5664-8745-83fe-08482200b8c3"}},"role":"Consumer"}]}'
    headers:
      api-supported-versions:
      - '2022-02-01'
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - qazgBQEH6UGuu9JRdx6dZQ.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 30 Jun 2022 21:27:21 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/rooms/99451857027720581?api-version=2022-02-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      ms-cv:
      - 9+dV/H2CAESoMfYvF9brsg.0
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 30 Jun 2022 21:27:22 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5664-8625-83fe-08482200b8c1?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - CH6YcGQKe0a+ybAImSOzdw.0
      x-processing-time:
      - 186ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 30 Jun 2022 21:27:22 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5664-8745-83fe-08482200b8c3?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - 23uTMf5I0kekw8xsKY1wHQ.0
      x-processing-time:
      - 185ms
    status:
      code: 204
      message: No Content
version: 1
