interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 01 Feb 2023 00:16:13 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 8s0+45KIwUyxlRZpZjeWyQ.0
      x-processing-time:
      - 82ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2023-02-01T00:16:14.223183Z'
      Repeatability-Request-ID:
      - a382a917-a1c5-11ed-a318-d03c1f2e0bde
      x-ms-date:
      - Wed, 01 Feb 2023 00:16:14 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99452392236399163","createdDateTime":"2023-02-01T00:16:14.1091829+00:00","validFrom":"2023-02-01T00:16:13.7767041+00:00","validUntil":"2023-07-31T00:16:13.7767041+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-01-10
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - jOyvYCAZYkmEm107swllgA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": [{"communicationIdentifier": {"communicationUser": {"id":
      "sanitized"}}, "role": "Kafka"}]}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 01 Feb 2023 00:16:14 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms/99452392236399163/participants:add?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-f9a9db311138df07a9e76d0256bf9bd9-42982c27e5ac3a44-01","errors":{"addParticipantsRequestDto":["The
        addParticipantsRequestDto field is required."],"$.participants[0].role":["The
        JSON value could not be converted to Microsoft.AzureCommunicationService.Rooms.Api.Contracts.V2022_02_01.RoleTypeDto.
        Path: $.participants[0].role | LineNumber: 0 | BytePositionInLine: 175."]}}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      ms-cv:
      - y3baT9CLvESwhaKgRwiGBg.0
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Feb 2023 00:16:15 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - vb8QEx2ubUKaCwkqZ9jdkg.0
      x-processing-time:
      - 254ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Feb 2023 00:16:15 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - 4BKeUEdAoEalGE34SJhBaA.0
      x-processing-time:
      - 312ms
    status:
      code: 204
      message: No Content
version: 1
