interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 20 Apr 2023 18:33:20 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-3fd2-e332-f38d-09482200f434"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 1tLbgoY+bku0Zafpbjwd2Q.0
      x-processing-time:
      - 26ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validUntil": "2023-05-11T11:33:20.701845Z", "participants": {}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Thu, 20 Apr 2023 18:33:20 GMT
      Repeatability-Request-ID:
      - d35eafd4-dfa9-11ed-aaf3-e45e37e24f59
      x-ms-date:
      - Thu, 20 Apr 2023 18:33:20 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99493388213791600","createdAt":"2023-04-20T18:33:21.3001422+00:00","validFrom":"2023-04-20T18:33:21.0348518+00:00","validUntil":"2023-05-11T11:33:20.701845+00:00"}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type: application/json; charset=utf-8
      ms-cv: Ex+i9ZmqL0ObDtW0TbkGow.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
- request:
    body: ''
    headers:
      x-ms-date:
      - Thu, 20 Apr 2023 18:33:21 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/rooms/99493388213791600?api-version=2023-03-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-03-31-preview
      ms-cv: vmJM305VAE6N7ueuHbBjkw.0
    status:
      code: 204
      message: No Content
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms/99493388213791600?api-version=2023-03-31-preview
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Apr 2023 18:33:21 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - lXZiPaTDYUGuHv3MqtUuhg.0
      x-processing-time:
      - 88ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Apr 2023 18:33:22 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - JZf11jBAdUWtdTl7VdSmug.0
      x-processing-time:
      - 87ms
    status:
      code: 204
      message: No Content
version: 1
