interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Sat, 22 Apr 2023 04:50:32 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-472e-4fb3-1788-09482200996e"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - GNmNF6A8XEeyGMNY6kp+PQ.0
      x-processing-time:
      - 20ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Sat, 22 Apr 2023 04:50:33 GMT
      Repeatability-Request-ID:
      - 36ff4a3a-e0c9-11ed-871e-e45e37e24f59
      x-ms-date:
      - Sat, 22 Apr 2023 04:50:33 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99415636637307067","createdAt":"2023-04-22T04:50:33.3416157+00:00","validFrom":"2023-04-22T04:50:33.2810534+00:00","validUntil":"2023-10-19T04:50:33.2810534+00:00"}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - V94/pD+gTUeUwsmuSTFnJQ.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2023-04-24T21:50:34.793141Z", "validUntil": "2023-05-19T21:50:34.793141Z"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Sat, 22 Apr 2023 04:50:34 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/99415636637307067?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99415636637307067","createdAt":"2023-04-22T04:50:33.3416157+00:00","validFrom":"2023-04-24T21:50:34.793141+00:00","validUntil":"2023-05-19T21:50:34.793141+00:00"}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - NeTT9JxKhEChTZg2tPzqhg.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Apr 2023 04:50:35 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - lWin4rlv/0yrH73rBXuuaQ.0
      x-processing-time:
      - 3011ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Apr 2023 04:50:39 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - 9R+chKkWi0e2XgdCwtCYIA.0
      x-processing-time:
      - 179ms
    status:
      code: 204
      message: No Content
version: 1
