interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 04 Apr 2023 21:23:35 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000017-ee09-0142-f38d-094822002696"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - AO+CHjufsUWlmbivOv/z9g.0
      x-processing-time:
      - 18ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": {}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Tue, 04 Apr 2023 21:23:36 GMT
      Repeatability-Request-ID:
      - f5aea7ca-d32e-11ed-8669-e45e37e24f59
      x-ms-date:
      - Tue, 04 Apr 2023 21:23:36 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99414739271331444","createdAt":"2023-04-04T21:23:36.2095464+00:00","validFrom":"2023-04-04T21:23:35.9503955+00:00","validUntil":"2023-10-01T21:23:35.9503955+00:00"}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 39DOe4yX/ESQ0PwETfcmkQ.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 04 Apr 2023 21:23:36 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/rooms/99414739271331444?api-version=2023-03-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      ms-cv:
      - DrFIKen+QkSm5TVhN2QU7w.0
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 04 Apr 2023 21:23:37 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - LUE9AdNysUu6+YI+GxSBnQ.0
      x-processing-time:
      - 115ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 04 Apr 2023 21:23:37 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - QvC0MZIFz0aq4qM13roAWA.0
      x-processing-time:
      - 102ms
    status:
      code: 204
      message: No Content
version: 1
