interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 19 Apr 2023 23:26:28 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-3bb8-e27a-a381-094822009876"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - mmJeXFPVYE2WMwz9oZUaHg.0
      x-processing-time:
      - 22ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": {}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Wed, 19 Apr 2023 23:26:28 GMT
      Repeatability-Request-ID:
      - 9c3a0a0c-df09-11ed-8cc5-e45e37e24f59
      x-ms-date:
      - Wed, 19 Apr 2023 23:26:28 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99488129290472304","createdAt":"2023-04-19T23:26:28.0964184+00:00","validFrom":"2023-04-19T23:26:28.0236335+00:00","validUntil":"2023-10-16T23:26:28.0236335+00:00"}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - yF0etQZLPki9jjkDxscehQ.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Apr 2023 23:26:29 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/rooms/99488129290472304?api-version=2023-03-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      ms-cv:
      - 6Sa07EqfokaeCXJEUhh9Mg.0
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Apr 2023 23:26:29 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/99488129290472304?api-version=2023-03-31-preview
  response:
    body:
      string: '{"error":{"code":"NotFound","message":"The server cannot find the requested
        resource."}}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - gnmNaXF1Tk2FZyA/BpgUeA.0
      x-ms-error-code:
      - NotFound
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Apr 2023 23:26:29 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - ZpPmcjpIBkaqp2L6ewaTZg.0
      x-processing-time:
      - 200ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Apr 2023 23:26:30 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - ggaQkT7u9UmlOfxyBpwNAA.0
      x-processing-time:
      - 182ms
    status:
      code: 204
      message: No Content
version: 1
