interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 04 Apr 2023 01:14:56 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000017-e9b6-6c04-a381-094822009ec7"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - A2m/eg/H10ia2+e8Os1IjA.0
      x-processing-time:
      - 18ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2023-04-06T18:14:56.759629Z", "validUntil": "2023-04-20T18:14:56.759629Z",
      "participants": {"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000017-e9b6-6c04-a381-094822009ec7":
      {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Tue, 04 Apr 2023 01:14:56 GMT
      Repeatability-Request-ID:
      - 1cb79107-d286-11ed-bd81-e45e37e24f59
      x-ms-date:
      - Tue, 04 Apr 2023 01:14:56 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99422995678716323","createdAt":"2023-04-04T01:14:55.1347651+00:00","validFrom":"2023-04-06T18:14:56.759629+00:00","validUntil":"2023-04-20T18:14:56.759629+00:00"}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 1kOqHicR0UmUntp9G6y7Lw.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 04 Apr 2023 01:14:57 GMT
    method: GET
    uri: https://sanitized.ppe.communication.azure.net/rooms/99422995678716323?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99422995678716323","createdAt":"2023-04-04T01:14:55.1347651+00:00","validFrom":"2023-04-06T18:14:56.759629+00:00","validUntil":"2023-04-20T18:14:56.759629+00:00"}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Igzrs35DPEq7hV6gZyzgVw.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 04 Apr 2023 01:14:58 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - e9eSZUvxwEa9KMbtrw/WmQ.0
      x-processing-time:
      - 157ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 04 Apr 2023 01:14:58 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - +By6qtTpHE23soh/oOrDtg.0
      x-processing-time:
      - 128ms
    status:
      code: 204
      message: No Content
version: 1
