interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 01 Feb 2023 00:15:27 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - leVHzj3jpEeNhlm9ZHVsZg.0
      x-processing-time:
      - 78ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2023-02-03T16:15:27.707119Z", "validUntil": "2023-08-25T16:15:27.707119Z"}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2023-02-01T00:15:27.707119Z'
      Repeatability-Request-ID:
      - 87c8df5a-a1c5-11ed-94c9-d03c1f2e0bde
      x-ms-date:
      - Wed, 01 Feb 2023 00:15:27 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-00d6fac9921023bd723c1f9b57889b2e-110f64c998e376e5-01","errors":{"ValidUntil":["The
        time range is incorrect, or larger than 180 days."]}}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      ms-cv:
      - OdWgkowZzUmFlXoTBoj8iQ.0
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Feb 2023 00:15:28 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - djw5b8QjAUy/PArx0m2iwg.0
      x-processing-time:
      - 271ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Feb 2023 00:15:28 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - WM8F79WZbEGSi0maBhcQpA.0
      x-processing-time:
      - 340ms
    status:
      code: 204
      message: No Content
version: 1
