interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 18 Nov 2022 19:10:28 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - cOIc/tnecUOI0dQAOisHbA.2.0
      x-processing-time:
      - 43ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-11-18T19:10:30.263783Z'
      Repeatability-Request-ID:
      - ab17170b-6774-11ed-bc7a-d03c1f2e0bde
      x-ms-date:
      - Fri, 18 Nov 2022 19:10:30 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99414934739157522","createdDateTime":"2022-11-18T19:10:33.5715879+00:00","validFrom":"2022-11-18T19:10:33.4963698+00:00","validUntil":"2023-05-17T19:10:33.4963698+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: 0l9a2tHgi0euhDi2FxfmvQ.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
- request:
    body: '{"validFrom": "2023-06-09T11:10:30.877624Z"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 18 Nov 2022 19:10:30 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/99414934739157522?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-ee154b77ff3982faed9fde0664b4d3a2-578f56672bd8ccf8-00","errors":{"ValidFrom":["Value
        is incorrect or more than 180 days in the future"]}}'
    headers:
      content-type: application/problem+json; charset=utf-8
      ms-cv: EAs5m7RdeU+HsP/a0F3b/A.0
    status:
      code: 400
      message: Bad Request
    url: https://sanitized.communication.azure.com/rooms/99414934739157522?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 18 Nov 2022 19:10:31 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - 4EkPkfjFDE+65WFObZBrYw.2.0
      x-processing-time:
      - 278ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 18 Nov 2022 19:10:32 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - CGy1GMBdsUC02/i2AuC8vw.2.0
      x-processing-time:
      - 272ms
    status:
      code: 204
      message: No Content
version: 1
