interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 28 Jun 2022 16:13:15 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af8-4396-83fe-08482200077f"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - b8SLt+eDTk6u16mh5mIN7g.0
      x-processing-time:
      - 45ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validUntil": "2022-09-28T12:13:15.895992Z"}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-06-28T16:13:15.895992Z'
      Repeatability-Request-ID:
      - 37711736-f6fd-11ec-9797-a864f132484d
      x-ms-date:
      - Tue, 28 Jun 2022 16:13:15 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99415013086118287","createdDateTime":"2022-06-28T16:13:16.2520432+00:00","validFrom":"2022-06-28T16:13:16.1668088+00:00","validUntil":"2022-09-28T12:13:15.895992+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: Y+1U3xTU4U2CTa4hUONw7w.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
- request:
    body: ''
    headers:
      x-ms-date:
      - Tue, 28 Jun 2022 16:13:16 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/rooms/99415013086118287?api-version=2022-02-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      ms-cv: ywFtntrjikizPbbFN5oAEg.0
    status:
      code: 204
      message: No Content
    url: https://sanitized.ppe.communication.azure.net/rooms/99415013086118287?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 28 Jun 2022 16:13:16 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af8-4396-83fe-08482200077f?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - lKDZb27TYUGrwqIU62Qp6Q.0
      x-processing-time:
      - 150ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 28 Jun 2022 16:13:17 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af8-44df-83fe-084822000781?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - 9YD51deE10i/FY/pnkxYtA.0
      x-processing-time:
      - 179ms
    status:
      code: 204
      message: No Content
version: 1
