interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:08 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-472d-055c-1788-094822009937"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - IRvR8Xe9eE6WZRSKxusEag.0
      x-processing-time:
      - 19ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": null, "validUntil": null, "participants": {"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-472d-055c-1788-094822009937":
      {"role": "Attendee"}, "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-472d-05ab-1788-094822009938":
      {"role": "Attendee"}, "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-472d-05fb-1788-094822009939":
      {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Sat, 22 Apr 2023 04:49:08 GMT
      Repeatability-Request-ID:
      - 0497159f-e0c9-11ed-b5e2-e45e37e24f59
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:08 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99473431181511101","createdAt":"2023-04-22T04:49:08.5903785+00:00","validFrom":"2023-04-22T04:49:08.5365443+00:00","validUntil":"2023-10-19T04:49:08.5365443+00:00"}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type: application/json; charset=utf-8
      ms-cv: GFgfDKgqjUyvEIzg5WNA2w.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
- request:
    body: ''
    headers:
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:09 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/99473431181511101/participants?api-version=2023-03-31-preview
  response:
    body:
      string: '{"value":[{"rawId":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-472d-055c-1788-094822009937","role":"Attendee"},{"rawId":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-472d-05ab-1788-094822009938","role":"Attendee"},{"rawId":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-472d-05fb-1788-094822009939","role":"Presenter"}]}'
    headers:
      api-supported-versions: 2022-02-01, 2023-03-31-preview
      content-type: application/json; charset=utf-8
      ms-cv: bYpRgTbXFk2jnz0O8+HUlQ.0
    status:
      code: 200
      message: OK
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms/99473431181511101/participants?api-version=2023-03-31-preview
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:10 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/rooms/99473431181511101?api-version=2023-03-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-03-31-preview
      ms-cv: O8jSkS3lAkCBtlB+k/tNVg.0
    status:
      code: 204
      message: No Content
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms/99473431181511101?api-version=2023-03-31-preview
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:10 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - Ti4t8K/vnUq6RIBN6ee14g.0
      x-processing-time:
      - 202ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:11 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - hj1R0dlEk02f937m8x3zSg.0
      x-processing-time:
      - 153ms
    status:
      code: 204
      message: No Content
version: 1
