{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Thu, 04 May 2023 00:33:26 GMT",
        "Repeatability-Request-ID": "48a937be-ea13-11ed-abf5-e45e37e24f59",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "Thu, 04 May 2023 00:33:26 GMT"
      },
      "RequestBody": {
        "validFrom": null,
        "validUntil": null
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99497824820437365",
        "MS-CV": "w6eBmp1qBE\u002BbJCDgJg1csw.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "someId",
        "createdAt": "2023-05-04T00:33:26.774934\u002B00:00",
        "validFrom": "2023-05-04T00:33:26.5105499\u002B00:00",
        "validUntil": "2023-10-31T00:33:26.5105499\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/99497824820437365?api-version=2023-03-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "Thu, 04 May 2023 00:33:26 GMT"
      },
      "RequestBody": {
        "validFrom": "2023-05-06T17:33:26.854216Z",
        "validUntil": "2023-11-22T17:33:26.854216Z"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "6c9Xunf4tUCMROjSPHk7Lg.0",
        "x-ms-error-code": "BadRequest"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "The request could not be understood by the server due to malformed syntax.",
          "details": [
            {
              "code": "BadArgument",
              "message": "The time range is incorrect, or larger than 180 days.",
              "target": "ValidUntil"
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
