interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 08 Aug 2022 19:45:18 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - lSU9SE5eXUyXnhRWxn7jfw.0
      x-processing-time:
      - 38ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-08-08T19:45:19.443744Z'
      Repeatability-Request-ID:
      - a2342749-1752-11ed-b8db-a864f132484d
      x-ms-date:
      - Mon, 08 Aug 2022 19:45:19 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99472240826227347","createdDateTime":"2022-08-08T19:45:19.9871882+00:00","validFrom":"2022-08-08T19:45:19.9067105+00:00","validUntil":"2023-02-04T19:45:19.9067105+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: uSt+zPHG6EqXdl0RuH6GsQ.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 08 Aug 2022 19:45:19 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/rooms/99472240826227347?api-version=2022-02-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      ms-cv: 8nU/nvH66kaiqPkHB7tk4g.0
    status:
      code: 204
      message: No Content
    url: https://sanitized.ppe.communication.azure.net/rooms/99472240826227347?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Aug 2022 19:45:20 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - Ge82CO5jIEOtKBGYPI4mRg.0
      x-processing-time:
      - 179ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Aug 2022 19:45:25 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - OZtiFqsjt0qryrnV01bGFg.0
      x-processing-time:
      - 211ms
    status:
      code: 204
      message: No Content
version: 1
