interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 04 Jul 2022 20:50:14 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-6adb-fa5e-88f7-08482200c2b9"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - yAd21kG/a0KUTUqECjtRnA.0
      x-processing-time:
      - 32ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-07-04T20:50:15.078601Z'
      Repeatability-Request-ID:
      - e7b99be2-fbda-11ec-bf76-a864f132484d
      x-ms-date:
      - Mon, 04 Jul 2022 20:50:15 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99438566086062967","createdDateTime":"2022-07-04T20:50:13.2910178+00:00","validFrom":"2022-07-04T20:50:13.2121144+00:00","validUntil":"2022-12-31T20:50:13.2121144+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: /Qm6C9tta0yFeEOYlS/TmQ.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
- request:
    body: '{"validFrom": "2022-07-07T16:50:15.484251Z", "validUntil": "2023-02-04T16:50:15.484251Z"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 04 Jul 2022 20:50:15 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/rooms/99438566086062967?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-147883f28ad84aa46b9b4068090c7fa2-ad9f7025a6794f9b-00","errors":{"ValidUntil":["The
        time range is incorrect, or larger than 180 days."]}}'
    headers:
      content-type: application/problem+json; charset=utf-8
      ms-cv: vztOEEV4y0mukZNHjWYBzw.0
    status:
      code: 400
      message: Bad Request
    url: https://sanitized.ppe.communication.azure.net/rooms/99438566086062967?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 04 Jul 2022 20:50:15 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-6adb-fa5e-88f7-08482200c2b9?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - LpN7sIOyRU+KDiihoZlSaw.0
      x-processing-time:
      - 148ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 04 Jul 2022 20:50:16 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-6adb-fb55-88f7-08482200c2bb?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - RqF2br096kq1H5gYfennTw.0
      x-processing-time:
      - 166ms
    status:
      code: 204
      message: No Content
version: 1
