interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 18 Nov 2022 19:09:32 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - YpCkIj+IC0Wcau6xLmJIMg.2.0
      x-processing-time:
      - 40ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2022-11-21T11:09:34.907655Z"}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-11-18T19:09:34.907655Z'
      Repeatability-Request-ID:
      - 8a186a4b-6774-11ed-a4fa-d03c1f2e0bde
      x-ms-date:
      - Fri, 18 Nov 2022 19:09:34 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99441539542564906","createdDateTime":"2022-11-18T19:09:38.2039773+00:00","validFrom":"2022-11-21T11:09:34.907655+00:00","validUntil":"2023-05-17T19:09:38.1171855+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: eTB1qP1AUkSGBJN4SvsrLQ.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
- request:
    body: ''
    headers:
      x-ms-date:
      - Fri, 18 Nov 2022 19:09:35 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/rooms/99441539542564906?api-version=2022-02-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      ms-cv: L6hG3GnhR0Kd46E1PAA9dA.0
    status:
      code: 204
      message: No Content
    url: https://sanitized.communication.azure.com/rooms/99441539542564906?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 18 Nov 2022 19:09:35 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - 2cVmYLp1PU27SUspc3VIBg.2.0
      x-processing-time:
      - 195ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 18 Nov 2022 19:09:37 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - AvEwrKAgZU2LfOTzdy2rHg.2.0
      x-processing-time:
      - 234ms
    status:
      code: 204
      message: No Content
version: 1
