interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 01 Mar 2022 20:03:09 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity": {"id": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_0000000f-e6f5-fade-92fd-8b3a0d0084ae"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - EroNS5/VdkebyVfivjO/Tw.0
      x-processing-time:
      - 90ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 01 Mar 2022 20:03:10 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2021-04-07
  response:
    body:
      string: '{"room": {"id": "99441934387306184", "createdDateTime": "2022-03-01T20:03:10.3615651+00:00",
        "validFrom": "2022-03-01T20:03:10.2672294+00:00", "validUntil": "2022-08-28T20:03:10.2672294+00:00"}}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: 1i2TYPqyPka42fr2FF2DWQ.0
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/rooms?api-version=2021-04-07
- request:
    body: ''
    headers:
      x-ms-date:
      - Tue, 01 Mar 2022 20:03:10 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/rooms/99441934387306184?api-version=2021-04-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      ms-cv: K0mfEsMB5UW4W7mIv2yf1Q.0
    status:
      code: 204
      message: No Content
    url: https://sanitized.communication.azure.com/rooms/99441934387306184?api-version=2021-04-07
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 01 Mar 2022 20:03:11 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/99441934387306184?api-version=2021-04-07
  response:
    body:
      string: '{"error": {"code": "NotFound", "message": "Resource not found"}}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: eAZz559GskCK0hIo939zlA.0
    status:
      code: 404
      message: Not Found
    url: https://sanitized.communication.azure.com/rooms/99441934387306184?api-version=2021-04-07
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Mar 2022 20:03:11 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/8%3Aacs%3Afac4607d-d2d0-40e5-84df-6f32ebd1251a_0000000f-e6f5-fade-92fd-8b3a0d0084ae?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01, 2022-06-01
      ms-cv:
      - FLOC35zNJEu2zKbilhv7vg.0
      x-processing-time:
      - 265ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Mar 2022 20:03:11 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/8%3Aacs%3Afac4607d-d2d0-40e5-84df-6f32ebd1251a_0000000f-e6f5-fc3f-92fd-8b3a0d0084b0?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01, 2022-06-01
      ms-cv:
      - 8iLv/7lxUE6BDiEd8WwZ6A.0
      x-processing-time:
      - 272ms
    status:
      code: 204
      message: No Content
version: 1
