interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 16 Nov 2022 05:58:30 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - I2xoPgbllE6PNu3ZSKYPPA.2.0
      x-processing-time:
      - 47ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-11-16T05:58:33.034581Z'
      Repeatability-Request-ID:
      - b3c9d158-6573-11ed-a728-d03c1f2e0bde
      x-ms-date:
      - Wed, 16 Nov 2022 05:58:33 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99468914441649767","createdDateTime":"2022-11-16T05:58:35.3952092+00:00","validFrom":"2022-11-16T05:58:35.3038227+00:00","validUntil":"2023-05-15T05:58:35.3038227+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: TxY8QE1x4kqGJJtGubKdhQ.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
- request:
    body: '{"participants": [{"communicationIdentifier": {"communicationUser": {"id":
      "chris"}}, "role": "kafka"}, {"communicationIdentifier": {"communicationUser":
      {"id": "sanitized"}}, "role": "Presenter"}]}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 16 Nov 2022 05:58:33 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms/99468914441649767/participants:add?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-2993cde68d26aa8b1b44f4b08384f6ed-8334fc220ff8de94-00","errors":{"addParticipantsRequestDto":["The
        addParticipantsRequestDto field is required."],"$.participants[0].role":["The
        JSON value could not be converted to Microsoft.AzureCommunicationService.Rooms.Api.Contracts.V2022_02_01.RoleTypeDto.
        Path: $.participants[0].role | LineNumber: 0 | BytePositionInLine: 101."]}}'
    headers:
      content-type: application/problem+json; charset=utf-8
      ms-cv: 2S8q1GFjtkieIv6ia2Y4Og.0
    status:
      code: 400
      message: Bad Request
    url: https://sanitized.communication.azure.com/rooms/99468914441649767/participants:add?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Nov 2022 05:58:34 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - jZwBNUA7QEK2d+OXoPcjLg.2.0
      x-processing-time:
      - 297ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Nov 2022 05:58:36 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - B8gRDCL6IU6XLLFXmQyx5A.2.0
      x-processing-time:
      - 271ms
    status:
      code: 204
      message: No Content
version: 1
