{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Thu, 04 May 2023 00:33:27 GMT",
        "Repeatability-Request-ID": "4955d9db-ea13-11ed-bde3-e45e37e24f59",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "Thu, 04 May 2023 00:33:27 GMT"
      },
      "RequestBody": {
        "validFrom": null,
        "validUntil": null
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99477187011305320",
        "MS-CV": "pFbURJ/rcEWmeUtKTuAWJw.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "someId",
        "createdAt": "2023-05-04T00:33:27.9082576\u002B00:00",
        "validFrom": "2023-05-04T00:33:27.6460099\u002B00:00",
        "validUntil": "2023-10-31T00:33:27.6460099\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/99477187011305320?api-version=2023-03-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "Thu, 04 May 2023 00:33:27 GMT"
      },
      "RequestBody": {
        "validFrom": "2023-05-06T17:33:27.950783Z",
        "validUntil": "2023-05-31T17:33:27.950783Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "VJKG3/BVJka4leG0Exx\u002B0A.0"
      },
      "ResponseBody": {
        "id": "someId",
        "createdAt": "2023-05-04T00:33:27.9082576\u002B00:00",
        "validFrom": "2023-05-06T17:33:27.950783\u002B00:00",
        "validUntil": "2023-05-31T17:33:27.950783\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/99477187011305320?api-version=2023-03-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "Thu, 04 May 2023 00:33:28 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview",
        "MS-CV": "J07eWMYW2kG0AERVH1v1\u002BQ.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
