interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 08 Aug 2022 19:46:39 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - PcLvpxQjKkWwX9V/WtKNYw.0
      x-processing-time:
      - 31ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2022-08-11T15:46:40.163811Z", "validUntil": "2023-03-02T15:46:40.163811Z"}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-08-08T19:46:40.163811Z'
      Repeatability-Request-ID:
      - d2510ee0-1752-11ed-8775-a864f132484d
      x-ms-date:
      - Mon, 08 Aug 2022 19:46:40 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-db0d705b65f0c5e72aa7514ff19b92bc-b09aa70886773a86-00","errors":{"ValidUntil":["The
        time range is incorrect, or larger than 180 days."]}}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      ms-cv:
      - YUmDE+FnbU2BWeqXz64oHQ.0
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Aug 2022 19:46:40 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - qpkFVI+mxEOyOjJikzKF3Q.0
      x-processing-time:
      - 201ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Aug 2022 19:46:41 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - oRF3OOuTV0iz5DsT0xEDAw.0
      x-processing-time:
      - 201ms
    status:
      code: 204
      message: No Content
version: 1
