interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 16 Nov 2022 05:59:06 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Gkuj4ByDsESfYwPmrnVRtQ.2.0
      x-processing-time:
      - 44ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2022-11-18T21:59:08.611161Z"}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-11-16T05:59:08.611161Z'
      Repeatability-Request-ID:
      - c8fe5f7d-6573-11ed-b126-d03c1f2e0bde
      x-ms-date:
      - Wed, 16 Nov 2022 05:59:08 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99460004453001083","createdDateTime":"2022-11-16T05:59:10.9309857+00:00","validFrom":"2022-11-18T21:59:08.611161+00:00","validUntil":"2023-05-15T05:59:10.8852303+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: jm/kfxYVVEuF8VhUjKjZEw.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
- request:
    body: ''
    headers:
      x-ms-date:
      - Wed, 16 Nov 2022 05:59:09 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/rooms/99460004453001083?api-version=2022-02-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      ms-cv: 7LWDw02WtkutOc/0uZbrIg.0
    status:
      code: 204
      message: No Content
    url: https://sanitized.communication.azure.com/rooms/99460004453001083?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Nov 2022 05:59:09 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - 1MOTi24QrU2F5ms0vndz1Q.2.0
      x-processing-time:
      - 146ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Nov 2022 05:59:11 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - QPMo1EzFL0WAn36BmJNksA.2.0
      x-processing-time:
      - 144ms
    status:
      code: 204
      message: No Content
version: 1
