interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 08 Aug 2022 19:45:37 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - HcP2E273206g29Qd+xFSeg.0
      x-processing-time:
      - 33ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2022-08-11T15:45:38.231367Z", "validUntil": "2023-03-02T15:45:38.231367Z"}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-08-08T19:45:38.232371Z'
      Repeatability-Request-ID:
      - ad6711ff-1752-11ed-b6fd-a864f132484d
      x-ms-date:
      - Mon, 08 Aug 2022 19:45:38 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-198cc939277f7bbe3d5e4cac47fa59d9-10785158ced76fb5-00","errors":{"ValidUntil":["The
        time range is incorrect, or larger than 180 days."]}}'
    headers:
      content-type: application/problem+json; charset=utf-8
      ms-cv: h8oCOPeGAkOfa+8p2mNOcw.0
    status:
      code: 400
      message: Bad Request
    url: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Aug 2022 19:45:38 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - uPTZ/ZzDt0i3t3S49tsYPA.0
      x-processing-time:
      - 107ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Aug 2022 19:45:38 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - 1V5fUbZO3kCIpQHE/+NeFQ.0
      x-processing-time:
      - 105ms
    status:
      code: 204
      message: No Content
version: 1
