interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 20 Apr 2023 18:33:38 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-3fd3-2b47-1985-09482200f4c8"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 3qM7JoRkbkSRR97rCzIy9A.0
      x-processing-time:
      - 19ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": {}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Thu, 20 Apr 2023 18:33:39 GMT
      Repeatability-Request-ID:
      - de5b8d96-dfa9-11ed-bd36-e45e37e24f59
      x-ms-date:
      - Thu, 20 Apr 2023 18:33:39 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99491283146078823","createdAt":"2023-04-20T18:33:39.6133711+00:00","validFrom":"2023-04-20T18:33:39.3397174+00:00","validUntil":"2023-10-17T18:33:39.3397174+00:00"}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type: application/json; charset=utf-8
      ms-cv: FaOpz9FfzU+YDo5cOsxIsw.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
- request:
    body: '{"validFrom": "2023-05-04T11:33:39.770351Z", "validUntil": "2023-05-11T11:33:39.770351Z"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 20 Apr 2023 18:33:39 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/99491283146078823?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99491283146078823","createdAt":"2023-04-20T18:33:39.6133711+00:00","validFrom":"2023-05-04T11:33:39.770351+00:00","validUntil":"2023-05-11T11:33:39.770351+00:00"}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type: application/json; charset=utf-8
      ms-cv: HvJ1p/qgJk+8+hFmd6qSlQ.0
    status:
      code: 200
      message: OK
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms/99491283146078823?api-version=2023-03-31-preview
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Apr 2023 18:33:40 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - N0AW4wQ22U2Es4NjhH80vg.0
      x-processing-time:
      - 127ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Apr 2023 18:33:41 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - n/0KR+hTu0W7SfQ37+3Sow.0
      x-processing-time:
      - 107ms
    status:
      code: 204
      message: No Content
version: 1
