interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 30 Jun 2022 21:27:39 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5664-d284-e1fe-08482200c4be"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - qWcGnoGSUUys7nOIwNj9gQ.0
      x-processing-time:
      - 29ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-06-30T21:27:40.481874Z'
      Repeatability-Request-ID:
      - 786ff53d-f8bb-11ec-bf83-a864f132484d
      x-ms-date:
      - Thu, 30 Jun 2022 21:27:40 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99481641718700365","createdDateTime":"2022-06-30T21:27:40.105352+00:00","validFrom":"2022-06-30T21:27:40.0631524+00:00","validUntil":"2022-12-27T21:27:40.0631524+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - hrJ3jYj5Ck+th1RBB7BmYw.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2022-08-30T17:27:40.941477Z"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 30 Jun 2022 21:27:40 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/rooms/99481641718700365?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-e6c2e9d8fc429f2bcd100b489b2f38d0-25b5b577ce369a61-00","errors":{"":["validFrom
        and validUntil should be set together."]}}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      ms-cv:
      - Qqy/JxFGR0C5j9agfjnVTg.0
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 30 Jun 2022 21:27:41 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5664-d284-e1fe-08482200c4be?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - rf5NOydWcEqjPK9mPYQaSg.0
      x-processing-time:
      - 98ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 30 Jun 2022 21:27:41 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5664-d3a3-e1fe-08482200c4c0?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - DOJshV8JzEe1NMpqnMtEyg.0
      x-processing-time:
      - 136ms
    status:
      code: 204
      message: No Content
version: 1
