interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 04 Apr 2023 20:42:06 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000017-ede3-0489-f38d-094822002345"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - p5u5FnTV+EyzMK/6Ida3SA.0
      x-processing-time:
      - 18ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": {}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Tue, 04 Apr 2023 20:42:06 GMT
      Repeatability-Request-ID:
      - 29d5dcd9-d329-11ed-97cb-e45e37e24f59
      x-ms-date:
      - Tue, 04 Apr 2023 20:42:06 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99484467320077328","createdAt":"2023-04-04T20:42:06.6571097+00:00","validFrom":"2023-04-04T20:42:06.55499+00:00","validUntil":"2023-10-01T20:42:06.55499+00:00"}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Z+UygSjhnEuz9gGmUC2ixA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2023-04-07T13:42:07.352847Z", "validUntil": "2023-05-02T13:42:07.352847Z"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 04 Apr 2023 20:42:07 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/rooms/99484467320077328?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99484467320077328","createdAt":"2023-04-04T20:42:06.6571097+00:00","validFrom":"2023-04-07T13:42:07.352847+00:00","validUntil":"2023-05-02T13:42:07.352847+00:00"}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - E7Eq+nCwyUiaLDva42b3Tw.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 04 Apr 2023 20:42:08 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - tZItEW66e0m6ygkwSukAKw.0
      x-processing-time:
      - 90ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 04 Apr 2023 20:42:08 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - y6OI52/Gv0+nLZyyV8Ox6w.0
      x-processing-time:
      - 132ms
    status:
      code: 204
      message: No Content
version: 1
