interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 16 Nov 2022 05:59:48 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - pzAK47lrJ0mCdflbDvM3IA.2.0
      x-processing-time:
      - 192ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": [{"communicationIdentifier": {"communicationUser": {"id":
      "sanitized"}}, "role": "Presenter"}, {"communicationIdentifier": {"communicationUser":
      {"id": "sanitized"}}, "role": "Attendee"}]}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-11-16T05:59:50.781138Z'
      Repeatability-Request-ID:
      - e2210038-6573-11ed-9454-d03c1f2e0bde
      x-ms-date:
      - Wed, 16 Nov 2022 05:59:50 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99465707467286709","createdDateTime":"2022-11-16T05:59:53.1648886+00:00","validFrom":"2022-11-16T05:59:53.0954697+00:00","validUntil":"2023-05-15T05:59:53.0954697+00:00","roomJoinPolicy":"InviteOnly","participants":[{"communicationIdentifier":{"rawId":"sanitized","communicationUser":{"id":"sanitized"}},"role":"Presenter"},{"communicationIdentifier":{"rawId":"sanitized","communicationUser":{"id":"sanitized"}},"role":"Attendee"}]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: U7E0jVxc40m15dbGixoykQ.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
- request:
    body: '{"participants": [{"communicationIdentifier": {"communicationUser": {"id":
      "sanitized"}}}]}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 16 Nov 2022 05:59:51 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms/99465707467286709/participants:remove?api-version=2022-02-01
  response:
    body:
      string: '{"participants":[{"communicationIdentifier":{"rawId":"sanitized","communicationUser":{"id":"sanitized"}},"role":"Attendee"}]}'
    headers:
      api-supported-versions: '2022-02-01'
      content-type: application/json; charset=utf-8
      ms-cv: d1yUNoQxJEiQVh1NlTLlug.0
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/rooms/99465707467286709/participants:remove?api-version=2022-02-01
- request:
    body: ''
    headers:
      x-ms-date:
      - Wed, 16 Nov 2022 05:59:51 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/99465707467286709/participants?api-version=2022-02-01
  response:
    body:
      string: '{"participants":[{"communicationIdentifier":{"rawId":"sanitized","communicationUser":{"id":"sanitized"}},"role":"Attendee"}]}'
    headers:
      api-supported-versions: '2022-02-01'
      content-type: application/json; charset=utf-8
      ms-cv: 2o/kTxGoNE2NN/37SNpVtg.0
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/rooms/99465707467286709/participants?api-version=2022-02-01
- request:
    body: ''
    headers:
      x-ms-date:
      - Wed, 16 Nov 2022 05:59:52 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/rooms/99465707467286709?api-version=2022-02-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      ms-cv: /RkXCUQEaki1uVI7UkuZfQ.0
    status:
      code: 204
      message: No Content
    url: https://sanitized.communication.azure.com/rooms/99465707467286709?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Nov 2022 05:59:52 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - M0w/EbT930mIU/cTpdBGYQ.2.0
      x-processing-time:
      - 160ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Nov 2022 05:59:54 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - V/MpNe95rEiKAjzhB/DxEQ.2.0
      x-processing-time:
      - 159ms
    status:
      code: 204
      message: No Content
version: 1
