interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 01 Mar 2022 20:04:45 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity": {"id": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_0000000f-e6f7-727e-92fd-8b3a0d0084c9"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - cBjF11MYMEKni5zFqGpJcQ.0
      x-processing-time:
      - 83ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 01 Mar 2022 20:04:46 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2021-04-07
  response:
    body:
      string: '{"room": {"id": "99420984534759062", "createdDateTime": "2022-03-01T20:04:46.7849455+00:00",
        "validFrom": "2022-03-01T20:04:46.7540369+00:00", "validUntil": "2022-08-28T20:04:46.7540369+00:00"}}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - lUTCyUQOZEeYIwEAC28lsA.0
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2022-03-04T12:04:46.966522Z", "validUntil": "2022-10-01T12:04:46.966522Z"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 01 Mar 2022 20:04:46 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/99420984534759062?api-version=2021-04-07
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-f3b6c263ef43f216ca8a2d63c43642cd-07c13d33b27b33d4-00","errors":{"ValidUntil":["The
        time range is incorrect, or larger than 180 days."]}}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      ms-cv:
      - mN/RCYDjwUisxI8H9NucIQ.0
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Mar 2022 20:04:47 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/8%3Aacs%3Afac4607d-d2d0-40e5-84df-6f32ebd1251a_0000000f-e6f7-727e-92fd-8b3a0d0084c9?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01, 2022-06-01
      ms-cv:
      - GrDTcfxRkkmCyCCAHLiTbQ.0
      x-processing-time:
      - 260ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Mar 2022 20:04:47 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/8%3Aacs%3Afac4607d-d2d0-40e5-84df-6f32ebd1251a_0000000f-e6f7-73ee-92fd-8b3a0d0084cb?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01, 2022-06-01
      ms-cv:
      - So7NpK25H0OvAdtj0hdYtA.0
      x-processing-time:
      - 303ms
    status:
      code: 204
      message: No Content
version: 1
