interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 01 Mar 2022 11:00:37 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity": {"id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_0000000f-e505-478a-84f5-08482200f198"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - KEBfHAYx40CdmfVrnAVjgg.0
      x-processing-time:
      - 31ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 01 Mar 2022 11:00:38 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2021-04-07
  response:
    body:
      string: '{"room": {"id": "9944623841159337", "createdDateTime": "2022-03-01T11:00:38.3045811+00:00",
        "validFrom": "2022-03-01T11:00:38.262292+00:00", "validUntil": "2022-08-28T11:00:38.262292+00:00"}}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - BCuQTria2UmnKfCbiFbY+w.0
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2022-03-04T03:00:38.35319Z", "validUntil": "2022-10-01T03:00:38.35319Z"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 01 Mar 2022 11:00:38 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/rooms/9944623841159337?api-version=2021-04-07
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-79113a27307190f6e61f65230e76e758-8ed5a00267ac15b4-00","errors":{"ValidUntil":["The
        time range is incorrect, or larger than 180 days."]}}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      ms-cv:
      - Caxnd12lOUeuV/KJjh9fNA.0
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Mar 2022 11:00:38 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_0000000f-e505-478a-84f5-08482200f198?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01, 2022-06-01
      ms-cv:
      - udxY/JYf7EGJRce1m+sk6Q.0
      x-processing-time:
      - 114ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Mar 2022 11:00:39 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_0000000f-e505-4824-84f5-08482200f19a?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01, 2022-06-01
      ms-cv:
      - DSztRD7eR0+dyNe//HeoGg.0
      x-processing-time:
      - 93ms
    status:
      code: 204
      message: No Content
version: 1
