interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 28 Jul 2022 15:16:36 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - bexCsQIlmU2dTYvBemwqOg.0
      x-processing-time:
      - 34ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-07-28T15:16:37.623687Z'
      Repeatability-Request-ID:
      - 464e6347-0e88-11ed-b4f9-a864f132484d
      x-ms-date:
      - Thu, 28 Jul 2022 15:16:37 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99443958453040084","createdDateTime":"2022-07-28T15:16:36.7282821+00:00","validFrom":"2022-07-28T15:16:36.6900526+00:00","validUntil":"2023-01-24T15:16:36.6900526+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 01iCR5uxUk2Z71XTBGDRmQ.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 28 Jul 2022 15:16:38 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/rooms/99443958453040084?api-version=2022-02-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      ms-cv:
      - HRY69l6ZPE+ZiPR1Rp7UjQ.0
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 28 Jul 2022 15:16:38 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/rooms/99443958453040084?api-version=2022-02-01
  response:
    body:
      string: '{"error":{"code":"NotFound","message":"Resource not found"}}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - F1EN8lSS6UK2LyUrpR9jmQ.0
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 28 Jul 2022 15:16:38 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - zrFbNARDX0SaTBDdxAucvQ.0
      x-processing-time:
      - 144ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 28 Jul 2022 15:16:39 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - oLDrNuoCE0SIUbeLbS9wdg.0
      x-processing-time:
      - 178ms
    status:
      code: 204
      message: No Content
version: 1
