interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Sat, 22 Apr 2023 04:50:18 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-472e-18de-1985-0948220094c2"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - b0yPjPK/3E2Wz0Xqoe5T1A.0
      x-processing-time:
      - 19ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Sat, 22 Apr 2023 04:50:19 GMT
      Repeatability-Request-ID:
      - 2ea16162-e0c9-11ed-8875-e45e37e24f59
      x-ms-date:
      - Sat, 22 Apr 2023 04:50:19 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99456018030558727","createdAt":"2023-04-22T04:50:19.0548152+00:00","validFrom":"2023-04-22T04:50:19.0069329+00:00","validUntil":"2023-10-19T04:50:19.0069329+00:00"}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - FgBG2bH9bka1PBXWlY4YYg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Apr 2023 04:50:19 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/rooms/99456018030558727?api-version=2023-03-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      ms-cv:
      - o9I40k5Jk0KEPXavMPNSlA.0
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Apr 2023 04:50:20 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/99456018030558727?api-version=2023-03-31-preview
  response:
    body:
      string: '{"error":{"code":"NotFound","message":"The server cannot find the requested
        resource."}}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 9CXL8S+IKkGFrfYSDvSE4A.0
      x-ms-error-code:
      - NotFound
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Apr 2023 04:50:20 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - LqwCA6xTvEm9wD61jp7/HA.0
      x-processing-time:
      - 177ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Apr 2023 04:50:21 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - pfOvPP8tiUKQ1wIk0bTulw.0
      x-processing-time:
      - 181ms
    status:
      code: 204
      message: No Content
version: 1
