interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 20 Apr 2023 18:33:53 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-3fd3-63ec-f38d-09482200f445"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - wQRbHNOpjES/TqX1aOE8sw.0
      x-processing-time:
      - 21ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": {"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-3fd3-63ec-f38d-09482200f445":
      {"role": "Presenter"}, "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-3fd3-6491-f38d-09482200f447":
      {"role": "Attendee"}}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Thu, 20 Apr 2023 18:33:53 GMT
      Repeatability-Request-ID:
      - e7030910-dfa9-11ed-bdce-e45e37e24f59
      x-ms-date:
      - Thu, 20 Apr 2023 18:33:53 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"9945265519051939","createdAt":"2023-04-20T18:33:54.3256019+00:00","validFrom":"2023-04-20T18:33:54.0480732+00:00","validUntil":"2023-10-17T18:33:54.0480732+00:00"}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ZFRCrHSJ6UOVAA4Bhd9XXQ.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": {"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-3fd3-63ec-f38d-09482200f445":
      {"role": "Consumer"}, "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-3fd3-6445-f38d-09482200f446":
      {"role": "Consumer"}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 20 Apr 2023 18:33:54 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/9945265519051939/participants?api-version=2023-03-31-preview
  response:
    body:
      string: '{}'
    headers:
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - LcahQIq0wU2UefboT1eIjQ.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Apr 2023 18:33:54 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/9945265519051939/participants?api-version=2023-03-31-preview
  response:
    body:
      string: '{"value":[{"rawId":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-3fd3-63ec-f38d-09482200f445","role":"Consumer"},{"rawId":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-3fd3-6491-f38d-09482200f447","role":"Attendee"},{"rawId":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-3fd3-6445-f38d-09482200f446","role":"Consumer"}]}'
    headers:
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - JzAhT8EoK0aCWZa0tB2eRQ.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Apr 2023 18:33:55 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/rooms/9945265519051939?api-version=2023-03-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      ms-cv:
      - DNckxR5O+0ybaQDOCffxUw.0
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Apr 2023 18:33:55 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - 9fGkIKG9ZkCvFleWUVmunQ.0
      x-processing-time:
      - 85ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Apr 2023 18:33:56 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - twu29PIhlECrQwgq/JXaKw.0
      x-processing-time:
      - 122ms
    status:
      code: 204
      message: No Content
version: 1
