interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 16 Nov 2022 06:02:43 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - vLhA+SzhgUWWwDjExKbIhQ.2.0
      x-processing-time:
      - 61ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-11-16T06:02:45.625701Z'
      Repeatability-Request-ID:
      - 4a5829f8-6574-11ed-abc2-d03c1f2e0bde
      x-ms-date:
      - Wed, 16 Nov 2022 06:02:45 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99434155449792800","createdDateTime":"2022-11-16T06:02:47.9977429+00:00","validFrom":"2022-11-16T06:02:47.9457838+00:00","validUntil":"2023-05-15T06:02:47.9457838+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - h/OX/fME3kGcJUi77feA/A.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2022-11-18T22:02:46.15148Z", "validUntil": "2022-12-16T22:02:46.15148Z",
      "roomJoinPolicy": "CommunicationServiceUsers"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 16 Nov 2022 06:02:46 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/99434155449792800?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99434155449792800","createdDateTime":"2022-11-16T06:02:47.9977429+00:00","validFrom":"2022-11-18T22:02:46.15148+00:00","validUntil":"2022-12-16T22:02:46.15148+00:00","roomJoinPolicy":"CommunicationServiceUsers","participants":[]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - TC3iNSrKik+UzS1ZQII9jQ.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Nov 2022 06:02:47 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - 0VnFTgHl4UepZ8jXpUd0Rg.2.0
      x-processing-time:
      - 146ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Nov 2022 06:02:48 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - ZimqItKgq0Ku9tY7UTKzxQ.2.0
      x-processing-time:
      - 153ms
    status:
      code: 204
      message: No Content
version: 1
