interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 16 Nov 2022 06:01:51 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - HjGIeV0WTk+PPg6U2zbCxA.2.0
      x-processing-time:
      - 42ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2022-11-18T22:01:53.024174Z", "validUntil": "2022-12-16T22:01:53.024174Z",
      "roomJoinPolicy": "CommunicationServiceUsers"}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-11-16T06:01:53.024174Z'
      Repeatability-Request-ID:
      - 2afdcecc-6574-11ed-9a7e-d03c1f2e0bde
      x-ms-date:
      - Wed, 16 Nov 2022 06:01:53 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99439658730391727","createdDateTime":"2022-11-16T06:01:55.4677217+00:00","validFrom":"2022-11-18T22:01:53.024174+00:00","validUntil":"2022-12-16T22:01:53.024174+00:00","roomJoinPolicy":"CommunicationServiceUsers","participants":[]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - vnEh7Hl+Ok2TIzSJ2uqsvQ.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Nov 2022 06:01:53 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/rooms/99439658730391727?api-version=2022-02-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      ms-cv:
      - ND4XLzJdjkm3d+rdDWnSJQ.0
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Nov 2022 06:01:54 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - u71lTJE2606DmyevirJoZw.2.0
      x-processing-time:
      - 172ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Nov 2022 06:01:55 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - sxdUNOnkAE+5pj7KoO29ig.2.0
      x-processing-time:
      - 266ms
    status:
      code: 204
      message: No Content
version: 1
