interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 17 Mar 2022 21:20:09 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity": {"id": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-39a2-3a1b-69ff-9c3a0d00362d"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - U4aIJmvrFEOMu4HgE/da+A.0
      x-processing-time:
      - 106ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 17 Mar 2022 21:20:10 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2021-04-07
  response:
    body:
      string: '{"room": {"id": "9944587650724958", "createdDateTime": "2022-03-17T21:20:10.6776027+00:00",
        "validFrom": "2022-03-17T21:20:10.56799+00:00", "validUntil": "2022-09-13T21:20:10.56799+00:00"}}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: FtHslT0uQUyj/aL2HOeEHg.0
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/rooms?api-version=2021-04-07
- request:
    body: '{"participants": {"8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-39a2-3a1b-69ff-9c3a0d00362d":
      {}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 17 Mar 2022 21:20:11 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/9944587650724958?api-version=2021-04-07
  response:
    body:
      string: '{"room": {"id": "9944587650724958", "createdDateTime": "2022-03-17T21:20:10.6776027+00:00",
        "validFrom": "2022-03-17T21:20:10.56799+00:00", "validUntil": "2022-09-13T21:20:10.56799+00:00",
        "participants": "sanitized"}}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: kSCMbkkfBkWZXCWY5dKexA.0
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/rooms/9944587650724958?api-version=2021-04-07
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Mar 2022 21:20:11 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/8%3Aacs%3Afac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-39a2-3a1b-69ff-9c3a0d00362d?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - Hw1fJFIHiU6yuMZbMnInfg.0
      x-processing-time:
      - 290ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Mar 2022 21:20:12 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/8%3Aacs%3Afac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-39a2-3bdf-69ff-9c3a0d00362f?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - Gj6/WdaZxkCgyKZGMNmhGw.0
      x-processing-time:
      - 220ms
    status:
      code: 204
      message: No Content
version: 1
