interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 01 Feb 2023 00:15:29 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - cq8SRP2QdUOqOBQvDTlqtA.0
      x-processing-time:
      - 82ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2023-02-01T00:15:29.882099Z'
      Repeatability-Request-ID:
      - 8914bf86-a1c5-11ed-9fdc-d03c1f2e0bde
      x-ms-date:
      - Wed, 01 Feb 2023 00:15:29 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99483283261472001","createdDateTime":"2023-02-01T00:15:29.6177349+00:00","validFrom":"2023-02-01T00:15:29.2896934+00:00","validUntil":"2023-07-31T00:15:29.2896934+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-01-10
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - XRWAI3CRuk+SusE+etmhtQ.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Feb 2023 00:15:30 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/rooms/99483283261472001?api-version=2022-02-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-01-10
      ms-cv:
      - VryNaHeRU064BSU8AO8INg.0
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Feb 2023 00:15:30 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/99483283261472001?api-version=2022-02-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"Resource not found"}}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-01-10
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 6+qZYi263EKSSbL5zocwAQ.0
      x-ms-error-code:
      - ResourceNotFound
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Feb 2023 00:15:31 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - vBJ2PA7M4UmiAkC3Tx5Dyg.0
      x-processing-time:
      - 253ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Feb 2023 00:15:32 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - Y/ZcQoh1kUKeTT1Q2dsrHg.0
      x-processing-time:
      - 256ms
    status:
      code: 204
      message: No Content
version: 1
