interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 21 Mar 2022 17:18:23 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity": {"id": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-4d5e-4c73-740a-113a0d005b1b"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - QK0P/s1D6UCM71h98LgATg.0
      x-processing-time:
      - 96ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 21 Mar 2022 17:18:24 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2021-04-07
  response:
    body:
      string: '{"room": {"id": "99491396767780361", "createdDateTime": "2022-03-21T17:18:23.1728235+00:00",
        "validFrom": "2022-03-21T17:18:23.0587355+00:00", "validUntil": "2022-09-17T17:18:23.0587355+00:00"}}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - KHjI/cjJ6Uiz/EhKv5CjcA.0
    status:
      code: 201
      message: Created
- request:
    body: '{"validUntil": "2022-10-21T10:18:25.144359Z"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 21 Mar 2022 17:18:25 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/99491396767780361?api-version=2021-04-07
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-21a35ea68d4d5b9c95a27c278a331190-8f542638b347e02b-00","errors":{"":["validFrom
        and validUntil should be set together."]}}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      ms-cv:
      - I8aeNyljcUGDsXNUmHgA8Q.0
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 21 Mar 2022 17:18:25 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/8%3Aacs%3Afac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-4d5e-4c73-740a-113a0d005b1b?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - u4pc954Uo0+akytxocyLrw.0
      x-processing-time:
      - 283ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 21 Mar 2022 17:18:26 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/8%3Aacs%3Afac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-4d5e-4df8-740a-113a0d005b1d?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - Hyf9TVYb2Ey7i+XYOsWHag.0
      x-processing-time:
      - 284ms
    status:
      code: 204
      message: No Content
version: 1
