interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 20 Apr 2023 18:34:35 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-3fd4-085b-f38d-09482200f46d"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - D66B1a7m50mUSg9V8qpGzQ.0
      x-processing-time:
      - 18ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": {}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Thu, 20 Apr 2023 18:34:35 GMT
      Repeatability-Request-ID:
      - 001919c8-dfaa-11ed-abcc-e45e37e24f59
      x-ms-date:
      - Thu, 20 Apr 2023 18:34:35 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99473749553736648","createdAt":"2023-04-20T18:34:36.5757617+00:00","validFrom":"2023-04-20T18:34:36.2918154+00:00","validUntil":"2023-10-17T18:34:36.2918154+00:00"}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - JIYoVyAMRkatR3WUczEp+g.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2023-05-04T11:34:36.724327Z", "validUntil": "2023-05-11T11:34:36.724327Z"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 20 Apr 2023 18:34:36 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/99473749553736648?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99473749553736648","createdAt":"2023-04-20T18:34:36.5757617+00:00","validFrom":"2023-05-04T11:34:36.724327+00:00","validUntil":"2023-05-11T11:34:36.724327+00:00"}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - J79DGWK3eUuxqmhLTSncNw.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Apr 2023 18:34:37 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - ozlPH6X5HUG3D5LmwCAlcg.0
      x-processing-time:
      - 113ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Apr 2023 18:34:37 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - lby8rGRF+k2wQW3Au3jRWg.0
      x-processing-time:
      - 117ms
    status:
      code: 204
      message: No Content
version: 1
