interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 30 Jun 2022 21:26:43 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5663-f5c9-07fd-08482200c1b5"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - hcd5kjr9O0KZ4WF5W2dLXQ.0
      x-processing-time:
      - 32ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-06-30T21:26:43.971516Z'
      Repeatability-Request-ID:
      - 56c1295b-f8bb-11ec-bf62-a864f132484d
      x-ms-date:
      - Thu, 30 Jun 2022 21:26:43 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99412950036353885","createdDateTime":"2022-06-30T21:26:43.6261569+00:00","validFrom":"2022-06-30T21:26:43.5992196+00:00","validUntil":"2022-12-27T21:26:43.5992196+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: oYnp/5VbQEK8ELKf12687A.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
- request:
    body: '{"participants": [{"communicationIdentifier": {"communicationUser": {"id":
      "chris"}}, "role": "kafka"}, {"communicationIdentifier": {"communicationUser":
      {"id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5663-f5c9-07fd-08482200c1b5"}},
      "role": "Presenter"}]}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 30 Jun 2022 21:26:44 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms/99412950036353885/participants:add?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-4d1406767ae935ae067dd56720994617-0a8ae69b8519ce5a-00","errors":{"addParticipantsRequestDto":["The
        addParticipantsRequestDto field is required."],"$.participants[0].role":["The
        JSON value could not be converted to Microsoft.AzureCommunicationService.Rooms.Api.Contracts.V2022_02_01.RoleTypeDto.
        Path: $.participants[0].role | LineNumber: 0 | BytePositionInLine: 101."]}}'
    headers:
      content-type: application/problem+json; charset=utf-8
      ms-cv: fx67zmP7V0Wkb+Lgp+ai4Q.0
    status:
      code: 400
      message: Bad Request
    url: https://sanitized.ppe.communication.azure.net/rooms/99412950036353885/participants:add?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 30 Jun 2022 21:26:44 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5663-f5c9-07fd-08482200c1b5?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - JpWQr3ls50uhME9X18mUzw.0
      x-processing-time:
      - 142ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 30 Jun 2022 21:26:45 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5663-f6e9-07fd-08482200c1b7?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - 3elTYDRXOUWPy3tFfKC7QQ.0
      x-processing-time:
      - 171ms
    status:
      code: 204
      message: No Content
version: 1
