interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 08 Aug 2022 19:46:45 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 38e9IJSPtUiHKq9dPbVB1A.0
      x-processing-time:
      - 31ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2022-08-11T15:46:45.543518Z", "validUntil": "2022-08-25T15:46:45.543518Z",
      "participants": [{"communicationIdentifier": {"communicationUser": {"id": "sanitized"}},
      "role": "Presenter"}]}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-08-08T19:46:45.543518Z'
      Repeatability-Request-ID:
      - d585efae-1752-11ed-9859-a864f132484d
      x-ms-date:
      - Mon, 08 Aug 2022 19:46:45 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99480708782848761","createdDateTime":"2022-08-08T19:46:45.955206+00:00","validFrom":"2022-08-11T15:46:45.543518+00:00","validUntil":"2022-08-25T15:46:45.543518+00:00","roomJoinPolicy":"InviteOnly","participants":[{"communicationIdentifier":{"rawId":"sanitized","communicationUser":{"id":"sanitized"}},"role":"Presenter"}]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - iKgJfR0bbU2C67fuUfeWcg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Aug 2022 19:46:45 GMT
    method: GET
    uri: https://sanitized.ppe.communication.azure.net/rooms/99480708782848761?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99480708782848761","createdDateTime":"2022-08-08T19:46:45.955206+00:00","validFrom":"2022-08-11T15:46:45.543518+00:00","validUntil":"2022-08-25T15:46:45.543518+00:00","roomJoinPolicy":"InviteOnly","participants":[{"communicationIdentifier":{"rawId":"sanitized","communicationUser":{"id":"sanitized"}},"role":"Presenter"}]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Y2xw9qZF9EC+QmjRCJFbeQ.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Aug 2022 19:46:46 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - ik9GDTNPZki5fLWbRk8n6A.0
      x-processing-time:
      - 180ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Aug 2022 19:46:46 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - AgWVfIqRhkKX8m2K9knA4Q.0
      x-processing-time:
      - 162ms
    status:
      code: 204
      message: No Content
version: 1
