interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 28 Jul 2022 15:15:49 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - kC0unX6QpE22FCTHrX1E1w.0
      x-processing-time:
      - 30ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2022-07-31T11:15:50.381966Z", "validUntil": "2022-11-30T11:15:50.381966Z",
      "participants": [{"communicationIdentifier": {"communicationUser": {"id": "sanitized"}},
      "role": "Presenter"}]}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-07-28T15:15:50.382959Z'
      Repeatability-Request-ID:
      - 2a25df8f-0e88-11ed-8eb3-a864f132484d
      x-ms-date:
      - Thu, 28 Jul 2022 15:15:50 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"9946183849445622","createdDateTime":"2022-07-28T15:15:49.5720541+00:00","validFrom":"2022-07-31T11:15:50.381966+00:00","validUntil":"2022-11-30T11:15:50.381966+00:00","roomJoinPolicy":"InviteOnly","participants":[{"communicationIdentifier":{"rawId":"sanitized","communicationUser":{"id":"sanitized"}},"role":"Presenter"}]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - TYW2flncMUKLRKEmuKCArQ.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 28 Jul 2022 15:15:50 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/rooms/9946183849445622?api-version=2022-02-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      ms-cv:
      - sWX1IIOry0ar85qThib+8A.0
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 28 Jul 2022 15:15:51 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - o6biE7h0dECWAvmwAxv9tw.0
      x-processing-time:
      - 177ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 28 Jul 2022 15:15:51 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - cuFWudW6fkujXtxa3d0UtA.0
      x-processing-time:
      - 220ms
    status:
      code: 204
      message: No Content
version: 1
