interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 21 Mar 2022 17:17:31 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity": {"id": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-4d5d-7eb9-3dfe-9c3a0d0049ff"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 8ierncnEGUa2BqKGz4AO+w.0
      x-processing-time:
      - 92ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 21 Mar 2022 17:17:32 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2021-04-07
  response:
    body:
      string: '{"room": {"id": "99435888047902782", "createdDateTime": "2022-03-21T17:17:30.8426713+00:00",
        "validFrom": "2022-03-21T17:17:30.7441842+00:00", "validUntil": "2022-09-17T17:17:30.7441842+00:00"}}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: pra/lQzNck6TroReRcjpbw.0
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/rooms?api-version=2021-04-07
- request:
    body: '{"validFrom": "2022-05-21T10:17:32.759913Z"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 21 Mar 2022 17:17:32 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/99435888047902782?api-version=2021-04-07
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-efbc7622d5577b1f2512d7a255d986f2-ae8fb98292e82964-00","errors":{"":["validFrom
        and validUntil should be set together."]}}'
    headers:
      content-type: application/problem+json; charset=utf-8
      ms-cv: mzbxYs8aVE2a2MXKGhX4Pg.0
    status:
      code: 400
      message: Bad Request
    url: https://sanitized.communication.azure.com/rooms/99435888047902782?api-version=2021-04-07
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 21 Mar 2022 17:17:32 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/8%3Aacs%3Afac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-4d5d-7eb9-3dfe-9c3a0d0049ff?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - 1f4qE5bX2UaOYWQMaYCUmA.0
      x-processing-time:
      - 294ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 21 Mar 2022 17:17:33 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/8%3Aacs%3Afac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-4d5d-8092-3dfe-9c3a0d004a01?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - lWrPe1LYD0uiqoluxUuBeg.0
      x-processing-time:
      - 281ms
    status:
      code: 204
      message: No Content
version: 1
