interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 21 Mar 2022 17:16:43 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity": {"id": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-4d5c-c560-290c-113a0d00792e"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - dWMg7OIfjUOM+h1Jb1zX3Q.0
      x-processing-time:
      - 93ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2022-10-21T10:16:44.461311Z"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 21 Mar 2022 17:16:44 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2021-04-07
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-4b53e26ed0046b536120462ce61aa2ee-5f65256d98e4b4d6-00","errors":{"ValidFrom":["Value
        is incorrect or more than 180 days in the future"]}}'
    headers:
      content-type: application/problem+json; charset=utf-8
      ms-cv: NwLiPB9kwkW63u9le43yaw.0
    status:
      code: 400
      message: Bad Request
    url: https://sanitized.communication.azure.com/rooms?api-version=2021-04-07
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 21 Mar 2022 17:16:44 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/8%3Aacs%3Afac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-4d5c-c560-290c-113a0d00792e?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - 3CPpADg0EUS8grLvxoNCyw.0
      x-processing-time:
      - 278ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 21 Mar 2022 17:16:45 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/8%3Aacs%3Afac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-4d5c-c6e0-290c-113a0d007930?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - xpBl8kCfW0GU+FZ1otgz1Q.0
      x-processing-time:
      - 306ms
    status:
      code: 204
      message: No Content
version: 1
