interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 30 Jun 2022 21:26:12 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5663-7c3c-e1fe-08482200c470"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - faWLiSPLBkKZnneMVqsdSQ.0
      x-processing-time:
      - 27ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2022-07-03T17:26:12.807962Z", "validUntil": "2022-09-03T17:26:12.807962Z",
      "participants": [{"communicationIdentifier": {"communicationUser": {"id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5663-7c3c-e1fe-08482200c470"}},
      "role": "Presenter"}]}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-06-30T21:26:12.807962Z'
      Repeatability-Request-ID:
      - 442dfb09-f8bb-11ec-bd80-a864f132484d
      x-ms-date:
      - Thu, 30 Jun 2022 21:26:12 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99480019071772689","createdDateTime":"2022-06-30T21:26:12.4001476+00:00","validFrom":"2022-07-03T17:26:12.807962+00:00","validUntil":"2022-09-03T17:26:12.807962+00:00","roomJoinPolicy":"InviteOnly","participants":[{"communicationIdentifier":{"rawId":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5663-7c3c-e1fe-08482200c470","communicationUser":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5663-7c3c-e1fe-08482200c470"}},"role":"Presenter"}]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: YtzCxP5YOEKNvC6VARuFJg.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
- request:
    body: ''
    headers:
      x-ms-date:
      - Thu, 30 Jun 2022 21:26:13 GMT
    method: GET
    uri: https://sanitized.ppe.communication.azure.net/rooms/99480019071772689?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99480019071772689","createdDateTime":"2022-06-30T21:26:12.4001476+00:00","validFrom":"2022-07-03T17:26:12.807962+00:00","validUntil":"2022-09-03T17:26:12.807962+00:00","roomJoinPolicy":"InviteOnly","participants":[{"communicationIdentifier":{"rawId":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5663-7c3c-e1fe-08482200c470","communicationUser":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5663-7c3c-e1fe-08482200c470"}},"role":"Presenter"}]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: BvLEHfOhNUyFp5vsr9b/9A.0
    status:
      code: 200
      message: OK
    url: https://sanitized.ppe.communication.azure.net/rooms/99480019071772689?api-version=2022-02-01
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 30 Jun 2022 21:26:13 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5663-7c3c-e1fe-08482200c470?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - Fu1wZMFSD0efdC604WqSGA.0
      x-processing-time:
      - 104ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 30 Jun 2022 21:26:14 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5663-7d36-e1fe-08482200c472?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - l0eIE4nLHUSCPP+DxecAvw.0
      x-processing-time:
      - 150ms
    status:
      code: 204
      message: No Content
version: 1
