interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:36 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-472d-7522-f38d-094822009654"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - YItxHa4Y/EKeaXR+rTRLGQ.0
      x-processing-time:
      - 19ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": null, "validUntil": null, "participants": {"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-472d-7522-f38d-094822009654":
      {"role": "Presenter"}, "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-472d-75c9-f38d-094822009656":
      {"role": "Attendee"}}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Sat, 22 Apr 2023 04:49:37 GMT
      Repeatability-Request-ID:
      - 15a4cd6f-e0c9-11ed-9f03-e45e37e24f59
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:37 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99441158074980683","createdAt":"2023-04-22T04:49:37.202814+00:00","validFrom":"2023-04-22T04:49:37.1495347+00:00","validUntil":"2023-10-19T04:49:37.1495347+00:00"}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type: application/json; charset=utf-8
      ms-cv: 6JLBmF/PoUiTAz+I+I1fFQ.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
- request:
    body: '{"participants": {"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-472d-7522-f38d-094822009654":
      null}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:37 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/99441158074980683/participants?api-version=2023-03-31-preview
  response:
    body:
      string: '{}'
    headers:
      api-supported-versions: 2022-02-01, 2023-03-31-preview
      content-type: application/json; charset=utf-8
      ms-cv: RcYiuDE3J0W0qJzN55BGJw.0
    status:
      code: 200
      message: OK
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms/99441158074980683/participants?api-version=2023-03-31-preview
- request:
    body: ''
    headers:
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:38 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/99441158074980683/participants?api-version=2023-03-31-preview
  response:
    body:
      string: '{"value":[{"rawId":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-472d-75c9-f38d-094822009656","role":"Attendee"}]}'
    headers:
      api-supported-versions: 2022-02-01, 2023-03-31-preview
      content-type: application/json; charset=utf-8
      ms-cv: PUx/C9ha80a2Y7t2cEAhHw.0
    status:
      code: 200
      message: OK
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms/99441158074980683/participants?api-version=2023-03-31-preview
- request:
    body: ''
    headers:
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:38 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/rooms/99441158074980683?api-version=2023-03-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-03-31-preview
      ms-cv: 8ClzYkhWsE+D8iAu2UeRIA.0
    status:
      code: 204
      message: No Content
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms/99441158074980683?api-version=2023-03-31-preview
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:39 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - NJbjX4rBo0a0LUiwaynzgg.0
      x-processing-time:
      - 205ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:39 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - i48bhVIaRE+jrJzw1hXXfg.0
      x-processing-time:
      - 177ms
    status:
      code: 204
      message: No Content
version: 1
