interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 29 Apr 2022 03:42:45 GMT
    method: POST
    uri: https://rooms-ppe-us.ppe.communication.azure.net/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-134b-98a2-07fd-0848220023a8"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - yUbLyY5/u0WAjijHfuZJog.0
      x-processing-time:
      - 29ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-04-29T03:42:45.567924Z'
      Repeatability-Request-ID:
      - 6e7d510d-c76e-11ec-9d97-985fd3c6ae82
      x-ms-date:
      - Fri, 29 Apr 2022 03:42:45 GMT
    method: POST
    uri: https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99414632937237926","createdDateTime":"2022-04-29T03:42:46.1671259+00:00","validFrom":"2022-04-29T03:42:46.0624691+00:00","validUntil":"2022-10-26T03:42:46.0624691+00:00"}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: X6NGUUpUBkC9EBdSnsIHFg.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01
- request:
    body: '{"validFrom": "2022-11-28T20:42:46.296188Z"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Fri, 29 Apr 2022 03:42:46 GMT
    method: PATCH
    uri: https://rooms-ppe-us.ppe.communication.azure.net/rooms/99414632937237926?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-d4a3a3fe1eb27791e53fb33e620660fa-e1e6f144b7fdabdc-00","errors":{"ValidFrom":["Value
        is incorrect or more than 180 days in the future"]}}'
    headers:
      content-type: application/problem+json; charset=utf-8
      ms-cv: wikGQizSAEOxKKaiKRi7UA.0
    status:
      code: 400
      message: Bad Request
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms/99414632937237926?api-version=2022-02-01
version: 1
