{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Thu, 04 May 2023 00:42:13 GMT",
        "Repeatability-Request-ID": "82f73789-ea14-11ed-8f62-e45e37e24f59",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "validFrom": "2023-11-22T17:42:13.582822Z",
        "validUntil": null
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "x-ms-error-code": "BadRequest"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "The request could not be understood by the server due to malformed syntax.",
          "details": [
            {
              "code": "BadArgument",
              "message": "Value is incorrect or more than 180 days in the future.",
              "target": "ValidFrom"
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
