interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 28 Jun 2022 16:13:30 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af8-8133-84f5-084822000a3b"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - aR7ttMFpiEOExJVQ2YT64g.0
      x-processing-time:
      - 35ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-06-28T16:13:31.696104Z'
      Repeatability-Request-ID:
      - 40dbff16-f6fd-11ec-99a5-a864f132484d
      x-ms-date:
      - Tue, 28 Jun 2022 16:13:31 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99416563327790048","createdDateTime":"2022-06-28T16:13:32.0694232+00:00","validFrom":"2022-06-28T16:13:31.9836049+00:00","validUntil":"2022-12-25T16:13:31.9836049+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: oJagMWdWYEyS7KoK4XIlUA.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
- request:
    body: '{"validUntil": "2023-01-28T12:13:32.179567Z"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 28 Jun 2022 16:13:32 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/rooms/99416563327790048?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-4b4397463e0e533fcc8da00b6b81b2d2-b49cad993d66b391-00","errors":{"":["validFrom
        and validUntil should be set together."]}}'
    headers:
      content-type: application/problem+json; charset=utf-8
      ms-cv: QBMD2KvwF0GEsg854waqig.0
    status:
      code: 400
      message: Bad Request
    url: https://sanitized.ppe.communication.azure.net/rooms/99416563327790048?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 28 Jun 2022 16:13:32 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af8-8133-84f5-084822000a3b?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - s5ZePutbUU66MUbRtjUxbg.0
      x-processing-time:
      - 129ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 28 Jun 2022 16:13:32 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af8-827e-84f5-084822000a3d?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - 20VjIo/AP0yowI/X+jGRmw.0
      x-processing-time:
      - 125ms
    status:
      code: 204
      message: No Content
version: 1
