interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 13 Apr 2023 17:30:54 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-1b8d-3949-a381-09482200745c"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - WdoWLJWiukm1TNntLrysQw.0
      x-processing-time:
      - 20ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": {}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Thu, 13 Apr 2023 17:30:54 GMT
      Repeatability-Request-ID:
      - f1bbea26-da20-11ed-9785-e45e37e24f59
      x-ms-date:
      - Thu, 13 Apr 2023 17:30:54 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99416773731614366","createdAt":"2023-04-13T17:30:55.7715371+00:00","validFrom":"2023-04-13T17:30:55.7077017+00:00","validUntil":"2023-10-10T17:30:55.7077017+00:00"}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - xGT64NsyHk+SgibsFEsVtA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": {"wrong_mri": {"role": "Attendee"}, "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-1b8d-3949-a381-09482200745c":
      {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 13 Apr 2023 17:30:55 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/99416773731614366/participants?api-version=2023-03-31-preview
  response:
    body:
      string: '{"error":{"code":"BadRequest","message":"Invalid value for the Participants."}}'
    headers:
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ZZi6hrfk7EajG9ZhvtG5aw.0
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 13 Apr 2023 17:30:55 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - MfFmLn5nnE+AuIMJfEjvzw.0
      x-processing-time:
      - 135ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 13 Apr 2023 17:30:55 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - 5SJD6d+GcEC0MpPGp/SB+g.0
      x-processing-time:
      - 159ms
    status:
      code: 204
      message: No Content
version: 1
