interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 13 Apr 2023 17:30:01 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-1b8c-6a4f-1985-0948220076c2"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - F5Az9l09wEm+tW/gfAlXIA.0
      x-processing-time:
      - 17ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": {}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Thu, 13 Apr 2023 17:30:01 GMT
      Repeatability-Request-ID:
      - d226765f-da20-11ed-8f4b-e45e37e24f59
      x-ms-date:
      - Thu, 13 Apr 2023 17:30:01 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99483374281036363","createdAt":"2023-04-13T17:30:03.0015399+00:00","validFrom":"2023-04-13T17:30:02.9473724+00:00","validUntil":"2023-10-10T17:30:02.9473724+00:00"}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type: application/json; charset=utf-8
      ms-cv: 3PKmzvwfT0qrk3aK6ABXQQ.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
- request:
    body: '{"validUntil": "2023-04-27T10:30:02.435461Z"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 13 Apr 2023 17:30:02 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/rooms/99483374281036363?api-version=2023-03-31-preview
  response:
    body:
      string: '{"error":{"code":"BadRequest","message":"The request could not be understood
        by the server due to malformed syntax.","details":[{"code":"BadArgument","message":"validFrom
        and validUntil should be set together.","target":""}]}}'
    headers:
      content-type: application/json; charset=utf-8
      ms-cv: Rn8dJBxyHUuGwgnEpXsbvw.0
      x-ms-error-code: BadRequest
    status:
      code: 400
      message: Bad Request
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms/99483374281036363?api-version=2023-03-31-preview
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 13 Apr 2023 17:30:02 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - 27cr70R2O0uA4mUofopSOA.0
      x-processing-time:
      - 80ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 13 Apr 2023 17:30:02 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - f/PtsYj95k+3B9/H9FwTRw.0
      x-processing-time:
      - 90ms
    status:
      code: 204
      message: No Content
version: 1
