interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 21 Mar 2022 17:18:17 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity": {"id": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-4d5e-3344-9ffb-9c3a0d007edc"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - bWZE3doz0UiTEs0yZU0baA.0
      x-processing-time:
      - 88ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2022-03-24T10:18:18.18812Z", "validUntil": "2022-05-24T10:18:18.18812Z",
      "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 21 Mar 2022 17:18:18 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2021-04-07
  response:
    body:
      string: '{"room": {"id": "99471388957264088", "createdDateTime": "2022-03-21T17:18:16.7575131+00:00",
        "validFrom": "2022-03-24T10:18:18.18812+00:00", "validUntil": "2022-05-24T10:18:18.18812+00:00",
        "participants": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - R8OlAUWaqk+2wwlJ6CCAeA.0
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 21 Mar 2022 17:18:18 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/99471388957264088?api-version=2021-04-07
  response:
    body:
      string: '{"id": "99471388957264088", "createdDateTime": "2022-03-21T17:18:16.7575131+00:00",
        "validFrom": "2022-03-24T10:18:18.18812+00:00", "validUntil": "2022-05-24T10:18:18.18812+00:00",
        "participants": "sanitized"}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - dKHsQPnys0qnzQzOeWqxCg.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 21 Mar 2022 17:18:19 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/8%3Aacs%3Afac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-4d5e-3344-9ffb-9c3a0d007edc?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - 8NcNaS8k30q9WYxobQdHag.0
      x-processing-time:
      - 275ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 21 Mar 2022 17:18:20 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/8%3Aacs%3Afac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-4d5e-34d8-9ffb-9c3a0d007ede?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - A2MhoZ0JWUemtYvra19jww.0
      x-processing-time:
      - 294ms
    status:
      code: 204
      message: No Content
version: 1
