interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 19 Apr 2023 23:26:16 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-3bb8-b4d1-1788-094822009b72"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - k0U/Vc0DS0GHK19z1uJpQQ.0
      x-processing-time:
      - 19ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2023-04-22T16:26:17.014194Z", "validUntil": "2023-11-11T16:26:17.014194Z",
      "participants": {}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Wed, 19 Apr 2023 23:26:17 GMT
      Repeatability-Request-ID:
      - 95415cf6-df09-11ed-aa36-e45e37e24f59
      x-ms-date:
      - Wed, 19 Apr 2023 23:26:17 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: "<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>\n\
        <html xmlns='http://www.w3.org/1999/xhtml'>\n<head>\n  <meta content='text/html;\
        \ charset=utf-8' http-equiv='content-type'/>\n  <style type='text/css'>body\
        \ {font-family:Arial; margin-left:40px; }img  { border:0 none; }#content {\
        \ margin-left: auto; margin-right: auto }#message h2 { font-size: 20px; font-weight:\
        \ normal; color: #000000; margin: 34px 0px 0px 0px }#message p  { font-size:\
        \ 13px; color: #000000; margin: 7px 0px 0px0px}#errorref { font-size: 11px;\
        \ color: #737373; margin-top: 41px }</style>\n  <title>Service unavailable</title>\n\
        </head>\n<body>\n  <div id='content'>\n    <div id='message'>\n      <h2>Our\
        \ services aren't available right now</h2>\n      <p>We're working to restore\
        \ all services as soon as possible. Please check back soon.</p>\n    </div>\n\
        \    <div id='errorref'><span>20230419T232616Z-9w9r8qc4p52mb5k32n6xdv449w00000005fg000000000amx</span>\n\
        \    </div>\n  </div>\n</body>\n</html>"
    headers:
      content-type:
      - text/html
    status:
      code: 504
      message: Gateway Time-out
- request:
    body: '{"validFrom": "2023-04-22T16:26:17.014194Z", "validUntil": "2023-11-11T16:26:17.014194Z",
      "participants": {}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Wed, 19 Apr 2023 23:26:17 GMT
      Repeatability-Request-ID:
      - 95415cf6-df09-11ed-aa36-e45e37e24f59
      x-ms-date:
      - Wed, 19 Apr 2023 23:26:27 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"error":{"code":"BadRequest","message":"The request could not be understood
        by the server due to malformed syntax.","details":[{"code":"BadArgument","message":"The
        time range is incorrect, or larger than 180 days.","target":"ValidUntil"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - xF/hIrZRrkOEFPTxGWW76w.0
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Apr 2023 23:26:27 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - BRn1DcXKxU6Sj9QXfeq//Q.0
      x-processing-time:
      - 220ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Apr 2023 23:26:27 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - RU+8yI6nh06ijWZgcRmjMA.0
      x-processing-time:
      - 228ms
    status:
      code: 204
      message: No Content
version: 1
