interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 28 Jun 2022 16:14:27 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af9-5f4c-84f5-084822000a5d"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - aBaSkR4gzEyOE1aeyAmfKg.0
      x-processing-time:
      - 38ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-06-28T16:14:28.502244Z'
      Repeatability-Request-ID:
      - 62b7ecef-f6fd-11ec-80c3-a864f132484d
      x-ms-date:
      - Tue, 28 Jun 2022 16:14:28 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99493662179326928","createdDateTime":"2022-06-28T16:14:28.8789273+00:00","validFrom":"2022-06-28T16:14:28.8386007+00:00","validUntil":"2022-12-25T16:14:28.8386007+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - b5UWUUENNEC37oV8OuLs3w.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validUntil": "2023-01-28T12:14:28.952223Z"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 28 Jun 2022 16:14:28 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/rooms/99493662179326928?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-936da09761cc1210bf1f6bb053ffd693-4cd9f07b8b6f689a-00","errors":{"":["validFrom
        and validUntil should be set together."]}}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      ms-cv:
      - MVA2ERr6GE6fR0P9KNkZNw.0
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 28 Jun 2022 16:14:29 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af9-5f4c-84f5-084822000a5d?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - IV6+Jg+kiUmzsH8HQ1+rnw.0
      x-processing-time:
      - 102ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 28 Jun 2022 16:14:29 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af9-6070-84f5-084822000a5f?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - o2MzJRVnKk6Hkhf6HXmP4A.0
      x-processing-time:
      - 134ms
    status:
      code: 204
      message: No Content
version: 1
