interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 01 Mar 2022 10:53:41 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity": {"id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_0000000f-e4fe-ed58-83fe-08482200fdc7"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ccwP73HPuUerv9fcY8smRw.0
      x-processing-time:
      - 37ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 01 Mar 2022 10:53:41 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2021-04-07
  response:
    body:
      string: '{"room": {"id": "99411470488734766", "createdDateTime": "2022-03-01T10:53:41.939192+00:00",
        "validFrom": "2022-03-01T10:53:41.8800766+00:00", "validUntil": "2022-08-28T10:53:41.8800766+00:00"}}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: XiiAaGfljECoR1GxrsiGag.0
    status:
      code: 201
      message: Created
    url: https://sanitized.ppe.communication.azure.net/rooms?api-version=2021-04-07
- request:
    body: '{"validUntil": "2022-10-01T02:53:42.028817Z"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 01 Mar 2022 10:53:42 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/rooms/99411470488734766?api-version=2021-04-07
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-2c1af744ebbfe3e04b95618f7be8ff59-d0118f2cc09148fb-00","errors":{"":["validFrom
        and validUntil should be set together."]}}'
    headers:
      content-type: application/problem+json; charset=utf-8
      ms-cv: UXJltEwuPkOyiv2ZrW/WQQ.0
    status:
      code: 400
      message: Bad Request
    url: https://sanitized.ppe.communication.azure.net/rooms/99411470488734766?api-version=2021-04-07
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Mar 2022 10:53:42 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_0000000f-e4fe-ed58-83fe-08482200fdc7?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01, 2022-06-01
      ms-cv:
      - GZS2l46IhEWf1DMgJ+MXng.0
      x-processing-time:
      - 148ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Mar 2022 10:53:42 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_0000000f-e4fe-edff-83fe-08482200fdc9?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01, 2022-06-01
      ms-cv:
      - wkzMxL3ZrEumLyTKZHvTcA.0
      x-processing-time:
      - 159ms
    status:
      code: 204
      message: No Content
version: 1
