interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 30 Jun 2022 21:25:51 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5663-2ac0-07fd-08482200c195"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 3Z7v0t3K0E2YfxXNWR2Mlw.0
      x-processing-time:
      - 30ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2022-07-03T17:25:52.053873Z", "validUntil": "2022-11-03T17:25:52.053873Z"}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-06-30T21:25:52.053873Z'
      Repeatability-Request-ID:
      - 37cf286e-f8bb-11ec-9975-a864f132484d
      x-ms-date:
      - Thu, 30 Jun 2022 21:25:52 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99436178223791600","createdDateTime":"2022-06-30T21:25:51.7398392+00:00","validFrom":"2022-07-03T17:25:52.053873+00:00","validUntil":"2022-11-03T17:25:52.053873+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: b5mDtrYCx0ueK/s3QSor4w.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
- request:
    body: ''
    headers:
      x-ms-date:
      - Thu, 30 Jun 2022 21:25:52 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/rooms/99436178223791600?api-version=2022-02-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      ms-cv: kSalI/P4x0u/kmPDrCpRxw.0
    status:
      code: 204
      message: No Content
    url: https://sanitized.ppe.communication.azure.net/rooms/99436178223791600?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 30 Jun 2022 21:25:52 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5663-2ac0-07fd-08482200c195?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - 94BtI0Lm70qgnskxz5ew+Q.0
      x-processing-time:
      - 169ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 30 Jun 2022 21:25:53 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5663-2c11-07fd-08482200c197?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - sGDzZpTqrUqOkaoyutapFA.0
      x-processing-time:
      - 163ms
    status:
      code: 204
      message: No Content
version: 1
