interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 08 Aug 2022 19:45:09 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - +fIh0oIPGkWnaWdxStQd1g.0
      x-processing-time:
      - 35ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-08-08T19:45:10.343025Z'
      Repeatability-Request-ID:
      - 9cc77e71-1752-11ed-9e91-a864f132484d
      x-ms-date:
      - Mon, 08 Aug 2022 19:45:10 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99457493417610641","createdDateTime":"2022-08-08T19:45:10.8602658+00:00","validFrom":"2022-08-08T19:45:10.7737887+00:00","validUntil":"2023-02-04T19:45:10.7737887+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: mLdF7frc+Ua3COOoxMzEmQ.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
- request:
    body: '{"participants": [{"communicationIdentifier": {"communicationUser": {"id":
      "chris"}}, "role": "kafka"}, {"communicationIdentifier": {"communicationUser":
      {"id": "sanitized"}}, "role": "Presenter"}]}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 08 Aug 2022 19:45:10 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms/99457493417610641/participants:add?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-7fa39d66552f8df0f0bc7bca4b2a24eb-a0c07c413ab9b469-00","errors":{"addParticipantsRequestDto":["The
        addParticipantsRequestDto field is required."],"$.participants[0].role":["The
        JSON value could not be converted to Microsoft.AzureCommunicationService.Rooms.Api.Contracts.V2022_02_01.RoleTypeDto.
        Path: $.participants[0].role | LineNumber: 0 | BytePositionInLine: 101."]}}'
    headers:
      content-type: application/problem+json; charset=utf-8
      ms-cv: TK+fpYQRvkuPcZBlSFrn9Q.0
    status:
      code: 400
      message: Bad Request
    url: https://sanitized.communication.azure.com/rooms/99457493417610641/participants:add?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Aug 2022 19:45:11 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - EBFgvtrVaE62OmUqakY1Aw.0
      x-processing-time:
      - 222ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Aug 2022 19:45:11 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - CszgEmZMtke7+BPbeB+lww.0
      x-processing-time:
      - 224ms
    status:
      code: 204
      message: No Content
version: 1
