interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 18 Nov 2022 19:09:56 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ViXoC6GW40ih2M0UXGRPiQ.2.0
      x-processing-time:
      - 42ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2022-11-21T11:09:59.241827Z", "validUntil": "2023-06-12T11:09:59.241827Z"}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-11-18T19:09:59.241827Z'
      Repeatability-Request-ID:
      - 989983e3-6774-11ed-9a5e-d03c1f2e0bde
      x-ms-date:
      - Fri, 18 Nov 2022 19:09:59 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-8733f50a1c58974f2eaabdf409667ffd-5cee65b2a068773d-00","errors":{"ValidUntil":["The
        time range is incorrect, or larger than 180 days."]}}'
    headers:
      content-type: application/problem+json; charset=utf-8
      ms-cv: TcaZQkdn8k2jNGTWruIBig.0
    status:
      code: 400
      message: Bad Request
    url: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 18 Nov 2022 19:10:00 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - X0aErUGu00aOcgExLtMBkw.2.0
      x-processing-time:
      - 213ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 18 Nov 2022 19:10:01 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - p2bJX6IwhUWXq39s92E1fQ.2.0
      x-processing-time:
      - 259ms
    status:
      code: 204
      message: No Content
version: 1
