interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 28 Jul 2022 15:16:47 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 8CAulOLC+Uyday7FSZzU1Q.0
      x-processing-time:
      - 32ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-07-28T15:16:48.419772Z'
      Repeatability-Request-ID:
      - 4cbdbd5a-0e88-11ed-afe8-a864f132484d
      x-ms-date:
      - Thu, 28 Jul 2022 15:16:48 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99467550905165522","createdDateTime":"2022-07-28T15:16:47.5404533+00:00","validFrom":"2022-07-28T15:16:47.5012313+00:00","validUntil":"2023-01-24T15:16:47.5012313+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - onX2oNoioEOwfkDgLPht+Q.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": [{"communicationIdentifier": {"communicationUser": {"id":
      "sanitized"}}, "role": "Kafka"}]}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 28 Jul 2022 15:16:48 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms/99467550905165522/participants:add?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-792a96bf0590dc11a6d6563dfa9e612b-99c93babb548ce44-00","errors":{"addParticipantsRequestDto":["The
        addParticipantsRequestDto field is required."],"$.participants[0].role":["The
        JSON value could not be converted to Microsoft.AzureCommunicationService.Rooms.Api.Contracts.V2022_02_01.RoleTypeDto.
        Path: $.participants[0].role | LineNumber: 0 | BytePositionInLine: 175."]}}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      ms-cv:
      - SBfChKLnNU2D1K00zsavqg.0
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 28 Jul 2022 15:16:48 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - XuaHCSudcUyWP7LJHWHHsg.0
      x-processing-time:
      - 162ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 28 Jul 2022 15:16:49 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - bfPJKMN+J0eH4uya4CTZ3g.0
      x-processing-time:
      - 153ms
    status:
      code: 204
      message: No Content
version: 1
