interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 16 Nov 2022 05:59:12 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - eEvcWUiHjkyi0EyfYx9wRw.2.0
      x-processing-time:
      - 41ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validUntil": "2022-12-06T21:59:14.711755Z"}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-11-16T05:59:14.712755Z'
      Repeatability-Request-ID:
      - cca16703-6573-11ed-a590-d03c1f2e0bde
      x-ms-date:
      - Wed, 16 Nov 2022 05:59:14 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99416338162273328","createdDateTime":"2022-11-16T05:59:17.7996058+00:00","validFrom":"2022-11-16T05:59:17.719066+00:00","validUntil":"2022-12-06T21:59:14.711755+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: YyKzL4lpA0epfeDj8i8+Ag.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
- request:
    body: ''
    headers:
      x-ms-date:
      - Wed, 16 Nov 2022 05:59:15 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/rooms/99416338162273328?api-version=2022-02-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      ms-cv: kpcf4Pg+CUmCRSpFvcrQEw.0
    status:
      code: 204
      message: No Content
    url: https://sanitized.communication.azure.com/rooms/99416338162273328?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Nov 2022 05:59:16 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - F2jbexypDE6iDuKtn4HvHw.2.0
      x-processing-time:
      - 268ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Nov 2022 05:59:18 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - rOpA61S1zkmQjqjgS1Qeeg.2.0
      x-processing-time:
      - 268ms
    status:
      code: 204
      message: No Content
version: 1
