interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 08 Aug 2022 19:45:48 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - FFT5vT5sEkW0NJvNFeQD0A.0
      x-processing-time:
      - 37ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": [{"communicationIdentifier": {"communicationUser": {"id":
      "sanitized"}}, "role": "Consumer"}, {"communicationIdentifier": {"communicationUser":
      {"id": "sanitized"}}, "role": "Consumer"}]}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-08-08T19:45:49.314779Z'
      Repeatability-Request-ID:
      - b4021c91-1752-11ed-88c2-a864f132484d
      x-ms-date:
      - Mon, 08 Aug 2022 19:45:49 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99491151150805485","createdDateTime":"2022-08-08T19:45:49.8268277+00:00","validFrom":"2022-08-08T19:45:49.752999+00:00","validUntil":"2023-02-04T19:45:49.752999+00:00","roomJoinPolicy":"InviteOnly","participants":[{"communicationIdentifier":{"rawId":"sanitized","communicationUser":{"id":"sanitized"}},"role":"Consumer"},{"communicationIdentifier":{"rawId":"sanitized","communicationUser":{"id":"sanitized"}},"role":"Consumer"}]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: vs9rZttrLkinF/lVHwkcwQ.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
- request:
    body: '{"participants": [{"communicationIdentifier": {"communicationUser": {"id":
      "sanitized"}}, "role": "Consumer"}, {"communicationIdentifier": {"communicationUser":
      {"id": "sanitized"}}, "role": "Consumer"}]}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 08 Aug 2022 19:45:49 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms/99491151150805485/participants:update?api-version=2022-02-01
  response:
    body:
      string: '{"participants":[{"communicationIdentifier":{"rawId":"sanitized","communicationUser":{"id":"sanitized"}},"role":"Consumer"},{"communicationIdentifier":{"rawId":"sanitized","communicationUser":{"id":"sanitized"}},"role":"Consumer"}]}'
    headers:
      api-supported-versions: '2022-02-01'
      content-type: application/json; charset=utf-8
      ms-cv: NcAi3XSpgUSKPDU8lKsYMA.0
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/rooms/99491151150805485/participants:update?api-version=2022-02-01
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 08 Aug 2022 19:45:50 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/99491151150805485/participants?api-version=2022-02-01
  response:
    body:
      string: '{"participants":[{"communicationIdentifier":{"rawId":"sanitized","communicationUser":{"id":"sanitized"}},"role":"Consumer"},{"communicationIdentifier":{"rawId":"sanitized","communicationUser":{"id":"sanitized"}},"role":"Consumer"}]}'
    headers:
      api-supported-versions: '2022-02-01'
      content-type: application/json; charset=utf-8
      ms-cv: FopHVu0QKEegeSZDDgHgFg.0
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/rooms/99491151150805485/participants?api-version=2022-02-01
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 08 Aug 2022 19:45:50 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/rooms/99491151150805485?api-version=2022-02-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      ms-cv: oGYYdGWCIEagl57M26tNlg.0
    status:
      code: 204
      message: No Content
    url: https://sanitized.communication.azure.com/rooms/99491151150805485?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Aug 2022 19:45:50 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - XgZT5Hz+W06jK49Coa5QhA.0
      x-processing-time:
      - 230ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Aug 2022 19:45:51 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - 5naGCQElpU2Rod93himfMA.0
      x-processing-time:
      - 216ms
    status:
      code: 204
      message: No Content
version: 1
