interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 01 Feb 2023 00:17:08 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 0rxE+8VUTkuWx6SwLE3JCQ.0
      x-processing-time:
      - 82ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2023-02-03T16:17:09.193694Z", "validUntil": "2023-03-03T16:17:09.193694Z"}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2023-02-01T00:17:09.194958Z'
      Repeatability-Request-ID:
      - c446b00e-a1c5-11ed-ba51-d03c1f2e0bde
      x-ms-date:
      - Wed, 01 Feb 2023 00:17:09 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99459551832157446","createdDateTime":"2023-02-01T00:17:09.0648735+00:00","validFrom":"2023-02-03T16:17:09.193694+00:00","validUntil":"2023-03-03T16:17:09.193694+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-01-10
      content-type: application/json; charset=utf-8
      ms-cv: nXoDVabotUSFuYFWttOuXA.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
- request:
    body: ''
    headers:
      x-ms-date:
      - Wed, 01 Feb 2023 00:17:09 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/rooms/99459551832157446?api-version=2022-02-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-01-10
      ms-cv: cwZ3q+b8zkuiHiy3xqqxSw.0
    status:
      code: 204
      message: No Content
    url: https://sanitized.communication.azure.com/rooms/99459551832157446?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Feb 2023 00:17:10 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - 659v/REXfU2HO0NzrRWHMA.0
      x-processing-time:
      - 308ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Feb 2023 00:17:11 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - hCyic1MZCUm18FHd9iC60g.0
      x-processing-time:
      - 218ms
    status:
      code: 204
      message: No Content
version: 1
