interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 01 Feb 2023 00:17:46 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 0f9VLLxo8UKO7JTBq8gv8A.0
      x-processing-time:
      - 33ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2023-02-01T00:17:46.466834Z'
      Repeatability-Request-ID:
      - da7decbc-a1c5-11ed-b673-d03c1f2e0bde
      x-ms-date:
      - Wed, 01 Feb 2023 00:17:46 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99484077062148161","createdDateTime":"2023-02-01T00:17:46.2079907+00:00","validFrom":"2023-02-01T00:17:46.1264529+00:00","validUntil":"2023-07-31T00:17:46.1264529+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-01-10
      content-type: application/json; charset=utf-8
      ms-cv: nVwo4qQPD06nhKJqDjfP6A.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
- request:
    body: '{"validFrom": "2023-08-22T16:17:46.99835Z"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 01 Feb 2023 00:17:46 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/99484077062148161?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-b1eaf3031e3916fb5cb39a03c0a88956-b77a151f29daf22f-01","errors":{"ValidFrom":["Value
        is incorrect or more than 180 days in the future"]}}'
    headers:
      content-type: application/problem+json; charset=utf-8
      ms-cv: SW5SFGigzEODi6XGOrzmtA.0
    status:
      code: 400
      message: Bad Request
    url: https://sanitized.communication.azure.com/rooms/99484077062148161?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Feb 2023 00:17:47 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - IJMs7qhZxUqNXfwBejaaZA.0
      x-processing-time:
      - 207ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Feb 2023 00:17:47 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - PUDkjkIvL0a8mgTvUX4epw.0
      x-processing-time:
      - 139ms
    status:
      code: 204
      message: No Content
version: 1
