interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 28 Jun 2022 16:13:33 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af8-8a01-83fe-08482200078b"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - akHr0oNV2kS8UrF8+EO1xQ.0
      x-processing-time:
      - 38ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-06-28T16:13:33.959863Z'
      Repeatability-Request-ID:
      - 42356b29-f6fd-11ec-9397-a864f132484d
      x-ms-date:
      - Tue, 28 Jun 2022 16:13:33 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99464105405600783","createdDateTime":"2022-06-28T16:13:34.4288144+00:00","validFrom":"2022-06-28T16:13:34.3299001+00:00","validUntil":"2022-12-25T16:13:34.3299001+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: 6uxJuwzrU0KO2FRYJfHpEQ.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
- request:
    body: '{"participants": [{"communicationIdentifier": {"rawId": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af8-8a01-83fe-08482200078b",
      "communicationUser": {"id": "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af8-8a01-83fe-08482200078b"}},
      "role": "Presenter"}]}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 28 Jun 2022 16:13:34 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms/99464105405600783/participants:add?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99464105405600783","createdDateTime":"2022-06-28T16:13:34.4288144+00:00","validFrom":"2022-06-28T16:13:34.3299001+00:00","validUntil":"2022-12-25T16:13:34.3299001+00:00","roomJoinPolicy":"InviteOnly","participants":[{"communicationIdentifier":{"rawId":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af8-8a01-83fe-08482200078b","communicationUser":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af8-8a01-83fe-08482200078b"}},"role":"Presenter"}]}'
    headers:
      api-supported-versions: '2022-02-01'
      content-type: application/json; charset=utf-8
      ms-cv: pFuWhs+T1k+RUVW+1UVj/w.0
    status:
      code: 200
      message: OK
    url: https://sanitized.ppe.communication.azure.net/rooms/99464105405600783/participants:add?api-version=2022-02-01
- request:
    body: ''
    headers:
      x-ms-date:
      - Tue, 28 Jun 2022 16:13:34 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/rooms/99464105405600783?api-version=2022-02-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      ms-cv: Nh/11MBtukq/uZRcGhyUTw.0
    status:
      code: 204
      message: No Content
    url: https://sanitized.ppe.communication.azure.net/rooms/99464105405600783?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 28 Jun 2022 16:13:35 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af8-8a01-83fe-08482200078b?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - 7NDgtRRRokWK4J0d/YFwtQ.0
      x-processing-time:
      - 97ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 28 Jun 2022 16:13:35 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af8-8b17-83fe-08482200078d?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - d4cQOR6DV0uZzxfAEOQX7A.0
      x-processing-time:
      - 99ms
    status:
      code: 204
      message: No Content
version: 1
