interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 04 Jul 2022 20:50:07 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-6adb-df5a-07fd-08482200b822"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - XEwHHatwfEGdzOh+0E2H2g.0
      x-processing-time:
      - 31ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-07-04T20:50:08.14777Z'
      Repeatability-Request-ID:
      - e3980c49-fbda-11ec-a3fb-a864f132484d
      x-ms-date:
      - Mon, 04 Jul 2022 20:50:08 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99471748311145569","createdDateTime":"2022-07-04T20:50:06.3645405+00:00","validFrom":"2022-07-04T20:50:06.2873728+00:00","validUntil":"2022-12-31T20:50:06.2873728+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: a5kDPNGPbk2nF6jF+vIQ5A.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
- request:
    body: '{"validFrom": "2022-07-07T16:50:08.59926Z", "validUntil": "2022-11-04T16:50:08.59926Z"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 04 Jul 2022 20:50:08 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/rooms/99471748311145569?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99471748311145569","createdDateTime":"2022-07-04T20:50:06.3645405+00:00","validFrom":"2022-07-07T16:50:08.59926+00:00","validUntil":"2022-11-04T16:50:08.59926+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: WiFbaAeeSkWx3M/+tEMHmQ.0
    status:
      code: 200
      message: OK
    url: https://sanitized.ppe.communication.azure.net/rooms/99471748311145569?api-version=2022-02-01
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 04 Jul 2022 20:50:09 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-6adb-df5a-07fd-08482200b822?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - dlEJcIt+k0uwOXk0kY/BqA.0
      x-processing-time:
      - 176ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 04 Jul 2022 20:50:09 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-6adb-e044-07fd-08482200b824?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - 6OiST/JJlUOb1e9Ja5hl3A.0
      x-processing-time:
      - 158ms
    status:
      code: 204
      message: No Content
version: 1
