interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:31 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-472d-5fc9-1788-09482200994b"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - hiGg/JYjhUGM3osGsyBLIQ.0
      x-processing-time:
      - 20ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Sat, 22 Apr 2023 04:49:32 GMT
      Repeatability-Request-ID:
      - 12688a1e-e0c9-11ed-b570-e45e37e24f59
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:32 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"9949991130219763","createdAt":"2023-04-22T04:49:31.6393628+00:00","validFrom":"2023-04-22T04:49:31.5815948+00:00","validUntil":"2023-10-19T04:49:31.5815948+00:00"}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type: application/json; charset=utf-8
      ms-cv: NYw0dLHUXUGaeYdT3n0YRg.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
- request:
    body: ''
    headers:
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:32 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/rooms/9949991130219763?api-version=2023-03-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-03-31-preview
      ms-cv: XVKm1xaDvUCYrn1NWAZUig.0
    status:
      code: 204
      message: No Content
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms/9949991130219763?api-version=2023-03-31-preview
- request:
    body: ''
    headers:
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:32 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/9949991130219763?api-version=2023-03-31-preview
  response:
    body:
      string: '{"error":{"code":"NotFound","message":"The server cannot find the requested
        resource."}}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type: application/json; charset=utf-8
      ms-cv: 3FQTEgUaiEyUmv3bU/3HBQ.0
      x-ms-error-code: NotFound
    status:
      code: 404
      message: Not Found
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms/9949991130219763?api-version=2023-03-31-preview
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:33 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - 1dRsZNLJZE6H9THxAMNgUw.0
      x-processing-time:
      - 158ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:34 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - 24m6nukrL0CUm9q0Ccq7GA.0
      x-processing-time:
      - 127ms
    status:
      code: 204
      message: No Content
version: 1
