interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 28 Jul 2022 15:15:01 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - DWGW1PIiU0+QDKgOwu+t3g.0
      x-processing-time:
      - 33ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2022-07-31T11:15:02.771115Z", "validUntil": "2022-11-30T11:15:02.771115Z",
      "roomJoinPolicy": "CommunicationServiceUsers"}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-07-28T15:15:02.771115Z'
      Repeatability-Request-ID:
      - 0dc508b1-0e88-11ed-9280-a864f132484d
      x-ms-date:
      - Thu, 28 Jul 2022 15:15:02 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99422479519580729","createdDateTime":"2022-07-28T15:15:01.8348371+00:00","validFrom":"2022-07-31T11:15:02.771115+00:00","validUntil":"2022-11-30T11:15:02.771115+00:00","roomJoinPolicy":"CommunicationServiceUsers","participants":[]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: kXTRwO7vKEqTJRMQwkICJA.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
- request:
    body: ''
    headers:
      x-ms-date:
      - Thu, 28 Jul 2022 15:15:03 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/rooms/99422479519580729?api-version=2022-02-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      ms-cv: 2QD8huLHZk2EIZlzCxjjjw.0
    status:
      code: 204
      message: No Content
    url: https://sanitized.ppe.communication.azure.net/rooms/99422479519580729?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 28 Jul 2022 15:15:03 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - nZGgPdGJBUSDNkK4GLmHgA.0
      x-processing-time:
      - 146ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 28 Jul 2022 15:15:04 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - oz4GSUUN6UiS5f2P8irsVA.0
      x-processing-time:
      - 184ms
    status:
      code: 204
      message: No Content
version: 1
