interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 08 Aug 2022 19:46:56 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - WV9hwUf8lkWEDdc+VagMRw.0
      x-processing-time:
      - 110ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-08-08T19:46:57.505561Z'
      Repeatability-Request-ID:
      - dca73302-1752-11ed-9078-a864f132484d
      x-ms-date:
      - Mon, 08 Aug 2022 19:46:57 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99474122861353728","createdDateTime":"2022-08-08T19:46:57.9106069+00:00","validFrom":"2022-08-08T19:46:57.8695397+00:00","validUntil":"2023-02-04T19:46:57.8695397+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - KJcTC14Akk+6dxAPBVydSw.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2022-08-11T15:46:57.871092Z", "validUntil": "2022-09-08T15:46:57.871092Z",
      "roomJoinPolicy": "CommunicationServiceUsers"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 08 Aug 2022 19:46:57 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/99474122861353728?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99474122861353728","createdDateTime":"2022-08-08T19:46:57.9106069+00:00","validFrom":"2022-08-11T15:46:57.871092+00:00","validUntil":"2022-09-08T15:46:57.871092+00:00","roomJoinPolicy":"CommunicationServiceUsers","participants":[]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - fASMaSf2ZkmXfDfNw6YDIA.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Aug 2022 19:46:58 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - RnMJaF7IfE+JkKoVXUkucA.0
      x-processing-time:
      - 241ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Aug 2022 19:46:58 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - tEi30lS6eEmUpXydFF6d7Q.0
      x-processing-time:
      - 204ms
    status:
      code: 204
      message: No Content
version: 1
