interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 21 Mar 2022 17:16:39 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity": {"id": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-4d5c-b408-69ff-9c3a0d006da5"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - jqiG8mJWMUSOUs2jZtVS1Q.0
      x-processing-time:
      - 90ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validUntil": "2022-06-21T10:16:40.391273Z"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 21 Mar 2022 17:16:40 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2021-04-07
  response:
    body:
      string: '{"room": {"id": "99486900793874588", "createdDateTime": "2022-03-21T17:16:39.4269441+00:00",
        "validFrom": "2022-03-21T17:16:39.0904608+00:00", "validUntil": "2022-06-21T10:16:40.391273+00:00"}}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: UdCaiKqmtUiyHNsOMxjc1Q.0
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/rooms?api-version=2021-04-07
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 21 Mar 2022 17:16:41 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/rooms/99486900793874588?api-version=2021-04-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      ms-cv: jR7oNJGGg0KxBuVfNK0++A.0
    status:
      code: 204
      message: No Content
    url: https://sanitized.communication.azure.com/rooms/99486900793874588?api-version=2021-04-07
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 21 Mar 2022 17:16:42 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/8%3Aacs%3Afac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-4d5c-b408-69ff-9c3a0d006da5?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - Rs/03c9l806LurCp7Y7xdQ.0
      x-processing-time:
      - 335ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 21 Mar 2022 17:16:43 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/8%3Aacs%3Afac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-4d5c-b680-69ff-9c3a0d006da7?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - cpRYPGRdGkKrDjadiwtMhg.0
      x-processing-time:
      - 339ms
    status:
      code: 204
      message: No Content
version: 1
