interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 17 Mar 2022 21:19:57 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity": {"id": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-39a2-0ca6-9ffb-9c3a0d003a25"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - mGp1SXz+J0ugRoh8emAUEg.0
      x-processing-time:
      - 86ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Thu, 17 Mar 2022 21:19:58 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/89469124725336262?api-version=2021-04-07
  response:
    body:
      string: '{"error": {"code": "NotFound", "message": "Resource not found"}}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: ZMP69SrxGE2kyoN7MxXmFw.0
    status:
      code: 404
      message: Not Found
    url: https://sanitized.communication.azure.com/rooms/89469124725336262?api-version=2021-04-07
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Mar 2022 21:19:59 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/8%3Aacs%3Afac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-39a2-0ca6-9ffb-9c3a0d003a25?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - Yif3f2GT/Eugw3wD+91CAQ.0
      x-processing-time:
      - 334ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Mar 2022 21:20:00 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/8%3Aacs%3Afac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-39a2-0e40-9ffb-9c3a0d003a28?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - nESKENLu10OC0sRKEShl0w.0
      x-processing-time:
      - 351ms
    status:
      code: 204
      message: No Content
version: 1
