interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:27 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-472d-510e-b688-094822009ac8"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - dayfkzvcNEauX8K6l2nlFQ.0
      x-processing-time:
      - 21ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2023-11-10T21:49:28.227026Z", "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Sat, 22 Apr 2023 04:49:28 GMT
      Repeatability-Request-ID:
      - 10252039-e0c9-11ed-aa27-e45e37e24f59
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:28 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"error":{"code":"BadRequest","message":"The request could not be understood
        by the server due to malformed syntax.","details":[{"code":"BadArgument","message":"Value
        is incorrect or more than 180 days in the future.","target":"ValidFrom"}]}}'
    headers:
      content-type: application/json; charset=utf-8
      ms-cv: 27kO0eS5KUm3ZjT8CyghjQ.0
      x-ms-error-code: BadRequest
    status:
      code: 400
      message: Bad Request
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:28 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - BZy2oZA4t0KDM/GK0Ov82A.0
      x-processing-time:
      - 156ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Apr 2023 04:49:29 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - AzAo7eqJn0CMJwdHDILMIQ.0
      x-processing-time:
      - 153ms
    status:
      code: 204
      message: No Content
version: 1
