interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 30 Jun 2022 21:27:06 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5664-523d-84f5-08482200c37f"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - kdGzqWwVVE222bosj/tyiQ.0
      x-processing-time:
      - 40ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2023-01-30T17:27:07.618222Z"}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-06-30T21:27:07.618222Z'
      Repeatability-Request-ID:
      - 64d95cd1-f8bb-11ec-80e9-a864f132484d
      x-ms-date:
      - Thu, 30 Jun 2022 21:27:07 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-33f155b4eb84759f02cde37410d031af-c1bfad6737be9683-00","errors":{"ValidFrom":["Value
        is incorrect or more than 180 days in the future"]}}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      ms-cv:
      - qheT4I9RBECAHOOAo2aN+w.0
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 30 Jun 2022 21:27:07 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5664-523d-84f5-08482200c37f?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - 30YXw/tSQE69qvhBZ/CQHA.0
      x-processing-time:
      - 152ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 30 Jun 2022 21:27:08 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-5664-5352-84f5-08482200c381?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - 6YdoM7oR10itEcUgmA5pAg.0
      x-processing-time:
      - 94ms
    status:
      code: 204
      message: No Content
version: 1
