interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 16 Nov 2022 06:02:55 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 0dzPmwod8E2nGJQ5+eGTOQ.2.0
      x-processing-time:
      - 41ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-11-16T06:02:57.024938Z'
      Repeatability-Request-ID:
      - 51238ca6-6574-11ed-91dd-d03c1f2e0bde
      x-ms-date:
      - Wed, 16 Nov 2022 06:02:57 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99426543199030467","createdDateTime":"2022-11-16T06:03:00.2418769+00:00","validFrom":"2022-11-16T06:03:00.1491494+00:00","validUntil":"2023-05-15T06:03:00.1491494+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - eO7Q+2MV+EesJ6232NaBZQ.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2022-11-18T22:02:58.457562Z", "validUntil": "2022-12-13T22:02:58.457562Z"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 16 Nov 2022 06:02:58 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/99426543199030467?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99426543199030467","createdDateTime":"2022-11-16T06:03:00.2418769+00:00","validFrom":"2022-11-18T22:02:58.457562+00:00","validUntil":"2022-12-13T22:02:58.457562+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - wJgrW1MNbUuF+8aViuwrHg.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Nov 2022 06:02:59 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - XQqumtajmkam532PKEXJoA.2.0
      x-processing-time:
      - 139ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Nov 2022 06:03:01 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - Ny/K3tq4iUGonC5G2fnehQ.2.0
      x-processing-time:
      - 150ms
    status:
      code: 204
      message: No Content
version: 1
