interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 08 Aug 2022 19:45:11 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - lYKsJslE6E+9YFFh9XW8qA.0
      x-processing-time:
      - 33ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2022-08-11T15:45:12.663813Z", "validUntil": "2022-09-08T15:45:12.663813Z",
      "participants": [{"communicationIdentifier": {"communicationUser": {"id": "sanitized"}},
      "role": "Presenter"}]}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-08-08T19:45:12.663813Z'
      Repeatability-Request-ID:
      - 9e299e37-1752-11ed-973e-a864f132484d
      x-ms-date:
      - Mon, 08 Aug 2022 19:45:12 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99487404559452725","createdDateTime":"2022-08-08T19:45:13.0791963+00:00","validFrom":"2022-08-11T15:45:12.663813+00:00","validUntil":"2022-09-08T15:45:12.663813+00:00","roomJoinPolicy":"InviteOnly","participants":[{"communicationIdentifier":{"rawId":"sanitized","communicationUser":{"id":"sanitized"}},"role":"Presenter"}]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: H1JbQKRF/kKmkZyGVb+2WQ.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 08 Aug 2022 19:45:13 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/rooms/99487404559452725?api-version=2022-02-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      ms-cv: rf79ijxsqEqSW901cErgGQ.0
    status:
      code: 204
      message: No Content
    url: https://sanitized.communication.azure.com/rooms/99487404559452725?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Aug 2022 19:45:13 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - 0m4mrzm7HUG7v849UiJqbQ.0
      x-processing-time:
      - 250ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Aug 2022 19:45:14 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - VYWv4eHuPkqmyB27id5uzA.0
      x-processing-time:
      - 214ms
    status:
      code: 204
      message: No Content
version: 1
