interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 21 Mar 2022 17:16:24 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity": {"id": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-4d5c-7d27-7f07-113a0d0065cd"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - lIUfzYqmDkGMV2n3csxPRA.0
      x-processing-time:
      - 90ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 21 Mar 2022 17:16:26 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2021-04-07
  response:
    body:
      string: '{"error": {"code": "BadRequest", "message": "The value provided for
        Participants is invalid."}}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: 6jr2aEQQuUGYoTaCp/3ZOA.0
    status:
      code: 400
      message: Bad Request
    url: https://sanitized.communication.azure.com/rooms?api-version=2021-04-07
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 21 Mar 2022 17:16:26 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/8%3Aacs%3Afac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-4d5c-7d27-7f07-113a0d0065cd?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - p8fLBqtaOkuLREsjIun7/A.0
      x-processing-time:
      - 216ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 21 Mar 2022 17:16:27 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/8%3Aacs%3Afac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-4d5c-7edb-7f07-113a0d0065d0?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - MWRfvUHidUSePZBdYL/vvg.0
      x-processing-time:
      - 218ms
    status:
      code: 204
      message: No Content
version: 1
