interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 07 Jul 2022 16:26:04 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - IzRk+nGiLkmWDsAlKxW4lA.0
      x-processing-time:
      - 35ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2022-07-10T12:26:04.750446Z", "validUntil": "2023-02-10T12:26:04.750446Z"}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-07-07T16:26:04.750446Z'
      Repeatability-Request-ID:
      - 7f6eb84c-fe11-11ec-a4e4-a864f132484d
      x-ms-date:
      - Thu, 07 Jul 2022 16:26:04 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-7ed6b48b16773b856cba130a98b4c490-df6e4bbae1320c87-00","errors":{"ValidUntil":["The
        time range is incorrect, or larger than 180 days."]}}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      ms-cv:
      - Xh4UCZikcUqDvIFtuCANww.0
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 07 Jul 2022 16:26:05 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - 9iB4e0zQ2EmHYBFRREsPDw.0
      x-processing-time:
      - 199ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 07 Jul 2022 16:26:05 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - /BHdjivQDEuGou1AkO6/8Q.0
      x-processing-time:
      - 146ms
    status:
      code: 204
      message: No Content
version: 1
