interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 01 Feb 2023 00:15:43 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - dr5on6R+Wki2QqKo0SmyNQ.0
      x-processing-time:
      - 84ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2023-02-01T00:15:44.483145Z'
      Repeatability-Request-ID:
      - 91c8b0df-a1c5-11ed-9d6b-d03c1f2e0bde
      x-ms-date:
      - Wed, 01 Feb 2023 00:15:44 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99481195763062309","createdDateTime":"2023-02-01T00:15:44.2987837+00:00","validFrom":"2023-02-01T00:15:44.2258007+00:00","validUntil":"2023-07-31T00:15:44.2258007+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-01-10
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - M4i2Go+fc02FVzjRL6z+8Q.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validUntil": "2023-08-22T16:15:45.115874Z"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 01 Feb 2023 00:15:45 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/99481195763062309?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-e6d928d231a67555b60f5f2ad57b829e-0bb2bed616c021aa-01","errors":{"":["validFrom
        and validUntil should be set together."]}}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      ms-cv:
      - OCun77gaLkm+UUzpfmhN4Q.0
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Feb 2023 00:15:45 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - Ni0NVromBU+9Zg2HNX0PIg.0
      x-processing-time:
      - 199ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Feb 2023 00:15:46 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - aFyulVw7TUyQG5cAIq7e1Q.0
      x-processing-time:
      - 369ms
    status:
      code: 204
      message: No Content
version: 1
