interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 19 Apr 2023 23:25:27 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-3bb7-f745-b688-094822009edd"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 5gr0lW6Wi0mDICmqpx3j7w.0
      x-processing-time:
      - 17ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2023-11-08T16:25:28.472377Z", "participants": {}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Wed, 19 Apr 2023 23:25:28 GMT
      Repeatability-Request-ID:
      - 7852783f-df09-11ed-970b-e45e37e24f59
      x-ms-date:
      - Wed, 19 Apr 2023 23:25:28 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"error":{"code":"BadRequest","message":"The request could not be understood
        by the server due to malformed syntax.","details":[{"code":"BadArgument","message":"Value
        is incorrect or more than 180 days in the future.","target":"ValidFrom"}]}}'
    headers:
      content-type: application/json; charset=utf-8
      ms-cv: tBB26XaaSEyZ53reI66RXg.0
      x-ms-error-code: BadRequest
    status:
      code: 400
      message: Bad Request
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Apr 2023 23:25:28 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - ezWzjNWvqUufLScNWKX/Gg.0
      x-processing-time:
      - 131ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Apr 2023 23:25:29 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - wvL/MBFgJEyzxUHE5rxptQ.0
      x-processing-time:
      - 132ms
    status:
      code: 204
      message: No Content
version: 1
