interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 28 Jul 2022 15:16:00 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 8Rf1H6y4bkGJZbTHchKPTQ.0
      x-processing-time:
      - 32ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2022-07-31T11:16:01.32768Z"}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-07-28T15:16:01.32768Z'
      Repeatability-Request-ID:
      - 30ac0e86-0e88-11ed-8c6d-a864f132484d
      x-ms-date:
      - Thu, 28 Jul 2022 15:16:01 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99441280051331626","createdDateTime":"2022-07-28T15:16:00.6666165+00:00","validFrom":"2022-07-31T11:16:01.32768+00:00","validUntil":"2023-01-24T15:16:00.6266941+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - NlOrjU6T9kCEcmDelYnndg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 28 Jul 2022 15:16:01 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/rooms/99441280051331626?api-version=2022-02-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      ms-cv:
      - /mcdBUmVhUGVEUJLGBMZiQ.0
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 28 Jul 2022 15:16:02 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - XKyTso/qck2n6jN6rD9pzg.0
      x-processing-time:
      - 168ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 28 Jul 2022 15:16:02 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - QtecFFnnnEiweYE2h0SPkQ.0
      x-processing-time:
      - 182ms
    status:
      code: 204
      message: No Content
version: 1
