{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Thu, 04 May 2023 00:33:21 GMT",
        "Repeatability-Request-ID": "4595d475-ea13-11ed-b84d-e45e37e24f59",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "Thu, 04 May 2023 00:33:21 GMT"
      },
      "RequestBody": {
        "validFrom": "2023-05-06T17:33:21.107877Z",
        "validUntil": "2023-06-03T17:33:21.107877Z",
        "participants": {
          "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-840f-285b-f38d-0948220038df": {
            "role": "Presenter"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99475947540214723",
        "MS-CV": "3bYZr1ZCFkWliVT02jC\u002BRA.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "someId",
        "createdAt": "2023-05-04T00:33:21.6186696\u002B00:00",
        "validFrom": "2023-05-06T17:33:21.107877\u002B00:00",
        "validUntil": "2023-06-03T17:33:21.107877\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/99475947540214723?api-version=2023-03-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "Thu, 04 May 2023 00:33:21 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07",
        "api-supported-versions": "2022-02-01, 2023-03-31-preview",
        "MS-CV": "oqJjn0bKO0uCqzAzQfVhBA.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
