interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 28 Jun 2022 16:13:07 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af8-260f-83fe-084822000776"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 2CC7ao/FukqtmpXfltbbVw.0
      x-processing-time:
      - 34ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-06-28T16:13:08.3165Z'
      Repeatability-Request-ID:
      - 32ec8d4a-f6fd-11ec-9f47-a864f132484d
      x-ms-date:
      - Tue, 28 Jun 2022 16:13:08 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99446591285588966","createdDateTime":"2022-06-28T16:13:08.7659795+00:00","validFrom":"2022-06-28T16:13:08.6833643+00:00","validUntil":"2022-12-25T16:13:08.6833643+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: UNaVg+/L3UarWcqyYpBHDQ.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
- request:
    body: ''
    headers:
      x-ms-date:
      - Tue, 28 Jun 2022 16:13:08 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/rooms/99446591285588966?api-version=2022-02-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      ms-cv: z5gKY3j2JEiozYBbXNqW6Q.0
    status:
      code: 204
      message: No Content
    url: https://sanitized.ppe.communication.azure.net/rooms/99446591285588966?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 28 Jun 2022 16:13:09 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af8-260f-83fe-084822000776?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - NjTMX/A4Wk6m5/ShkV6W+Q.0
      x-processing-time:
      - 147ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 28 Jun 2022 16:13:09 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-4af8-2737-83fe-084822000778?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - o6ZKpkE4RE2k1pqDy0OUFA.0
      x-processing-time:
      - 173ms
    status:
      code: 204
      message: No Content
version: 1
