interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 04 Jul 2022 20:50:51 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-6adc-8b7b-84f5-08482200baf6"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - kmnkpBQKi0uqLdsNzYcEjA.0
      x-processing-time:
      - 32ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": [{"communicationIdentifier": {"communicationUser": {"id":
      "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-6adc-8b7b-84f5-08482200baf6"}},
      "role": "Presenter"}, {"communicationIdentifier": {"communicationUser": {"id":
      "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-6adc-8c78-84f5-08482200baf8"}},
      "role": "Attendee"}]}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-07-04T20:50:52.232364Z'
      Repeatability-Request-ID:
      - fdded2c1-fbda-11ec-a809-a864f132484d
      x-ms-date:
      - Mon, 04 Jul 2022 20:50:52 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99488626030984605","createdDateTime":"2022-07-04T20:50:50.6030722+00:00","validFrom":"2022-07-04T20:50:50.5225154+00:00","validUntil":"2022-12-31T20:50:50.5225154+00:00","roomJoinPolicy":"InviteOnly","participants":[{"communicationIdentifier":{"rawId":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-6adc-8b7b-84f5-08482200baf6","communicationUser":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-6adc-8b7b-84f5-08482200baf6"}},"role":"Presenter"},{"communicationIdentifier":{"rawId":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-6adc-8c78-84f5-08482200baf8","communicationUser":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-6adc-8c78-84f5-08482200baf8"}},"role":"Attendee"}]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - khPORF4ziE2KpEuQ1GNC6g.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": []}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 04 Jul 2022 20:50:52 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/rooms/99488626030984605?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99488626030984605","createdDateTime":"2022-07-04T20:50:50.6030722+00:00","validFrom":"2022-07-04T20:50:50.5225154+00:00","validUntil":"2022-12-31T20:50:50.5225154+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - vQP5TVwubkaVmcL3orviSA.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 04 Jul 2022 20:50:53 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-6adc-8b7b-84f5-08482200baf6?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - iAN4B52UCUmmz5Ai+7AGVg.0
      x-processing-time:
      - 125ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 04 Jul 2022 20:50:54 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-6adc-8c78-84f5-08482200baf8?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - EM4zcLW4sUaeo/+COMtWgg.0
      x-processing-time:
      - 124ms
    status:
      code: 204
      message: No Content
version: 1
