interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 07 Jul 2022 16:24:45 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ONkuZBaRQ0qYv2qiulc+Pw.0
      x-processing-time:
      - 36ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-07-07T16:24:45.997229Z'
      Repeatability-Request-ID:
      - 507deeca-fe11-11ec-8dc5-a864f132484d
      x-ms-date:
      - Thu, 07 Jul 2022 16:24:45 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99450056610936329","createdDateTime":"2022-07-07T16:24:46.3996566+00:00","validFrom":"2022-07-07T16:24:46.3605737+00:00","validUntil":"2023-01-03T16:24:46.3605737+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: N0P2CIstp0WNS6mU+bOjNw.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
- request:
    body: '{"participants": [{"communicationIdentifier": {"communicationUser": {"id":
      "sanitized"}}, "role": "Presenter"}]}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 07 Jul 2022 16:24:46 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms/99450056610936329/participants:add?api-version=2022-02-01
  response:
    body:
      string: '{"participants":[{"communicationIdentifier":{"rawId":"sanitized","communicationUser":{"id":"sanitized"}},"role":"Presenter"}]}'
    headers:
      api-supported-versions: '2022-02-01'
      content-type: application/json; charset=utf-8
      ms-cv: w78Sx1OV80yYJ7Gj9GU2Zw.0
    status:
      code: 200
      message: OK
    url: https://sanitized.ppe.communication.azure.net/rooms/99450056610936329/participants:add?api-version=2022-02-01
- request:
    body: ''
    headers:
      x-ms-date:
      - Thu, 07 Jul 2022 16:24:47 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/rooms/99450056610936329?api-version=2022-02-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      ms-cv: KMOjPsdYkUai6sXu1FiCzg.0
    status:
      code: 204
      message: No Content
    url: https://sanitized.ppe.communication.azure.net/rooms/99450056610936329?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 07 Jul 2022 16:24:47 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - Ys4Pgn7BhkqN/sI3ry7NQw.0
      x-processing-time:
      - 181ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 07 Jul 2022 16:24:48 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - eiJicwl0UEG06kZMAd4SUA.0
      x-processing-time:
      - 153ms
    status:
      code: 204
      message: No Content
version: 1
