interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 16 Nov 2022 06:00:11 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - pWeUkXsPU0Sfs6u/jpz8KA.2.0
      x-processing-time:
      - 72ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-11-16T06:00:13.387939Z'
      Repeatability-Request-ID:
      - ef9a8665-6573-11ed-aee7-d03c1f2e0bde
      x-ms-date:
      - Wed, 16 Nov 2022 06:00:13 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"9947173136618532","createdDateTime":"2022-11-16T06:00:15.7310403+00:00","validFrom":"2022-11-16T06:00:15.679507+00:00","validUntil":"2023-05-15T06:00:15.679507+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: Od1q+ChRekOH2qihU8y1WA.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
- request:
    body: '{"validFrom": "2022-11-18T22:00:14.000939Z", "validUntil": "2022-12-16T22:00:14.000939Z",
      "roomJoinPolicy": "CommunicationServiceUsers"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 16 Nov 2022 06:00:14 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/9947173136618532?api-version=2022-02-01
  response:
    body:
      string: '{"id":"9947173136618532","createdDateTime":"2022-11-16T06:00:15.7310403+00:00","validFrom":"2022-11-18T22:00:14.000939+00:00","validUntil":"2022-12-16T22:00:14.000939+00:00","roomJoinPolicy":"CommunicationServiceUsers","participants":[]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: p2BqNG56uUCqr6T3nf2aIQ.0
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/rooms/9947173136618532?api-version=2022-02-01
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Nov 2022 06:00:15 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - omgwBBFXREif13XKWuheFQ.2.0
      x-processing-time:
      - 163ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Nov 2022 06:00:16 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - ZWqZ5R64w0ubuNMsG9JNrA.2.0
      x-processing-time:
      - 196ms
    status:
      code: 204
      message: No Content
version: 1
