{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "sanitized",
        "Repeatability-Request-ID": "sanitized",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "validFrom": null,
        "validUntil": null
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99473411634774600",
        "MS-CV": "sanitized",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99473411634774600",
        "createdAt": "2023-07-05T21:58:16.8007046\u002B00:00",
        "validFrom": "2023-07-05T21:58:16.7363229\u002B00:00",
        "validUntil": "2024-01-01T21:58:16.7363229\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "99473411634774600",
            "createdAt": "2023-07-05T21:58:16.8007046\u002B00:00",
            "validFrom": "2023-07-05T21:58:16.7363229\u002B00:00",
            "validUntil": "2024-01-01T21:58:16.7363229\u002B00:00"
          },
          {
            "id": "99462567286461843",
            "createdAt": "2023-07-05T21:58:15.7186429\u002B00:00",
            "validFrom": "2023-07-05T21:58:15.647815\u002B00:00",
            "validUntil": "2024-01-01T21:58:15.647815\u002B00:00"
          },
          {
            "id": "99420356122414282",
            "createdAt": "2023-07-05T21:58:09.8149548\u002B00:00",
            "validFrom": "2023-07-05T21:58:09.7433014\u002B00:00",
            "validUntil": "2024-01-01T21:58:09.7433014\u002B00:00"
          },
          {
            "id": "9947486986203819",
            "createdAt": "2023-07-05T21:58:08.8329147\u002B00:00",
            "validFrom": "2023-07-05T21:58:08.7549811\u002B00:00",
            "validUntil": "2024-01-01T21:58:08.7549811\u002B00:00"
          },
          {
            "id": "99457210419195809",
            "createdAt": "2023-07-05T21:57:58.8192079\u002B00:00",
            "validFrom": "2023-07-05T21:57:58.7461874\u002B00:00",
            "validUntil": "2024-01-01T21:57:58.7461874\u002B00:00"
          }
        ],
        "nextLink": "https://sanitized.communication.azure.com/rooms?nextLink=W3sidG9rZW4iOiIrUklEOn5OM1VKQU5WeFl3d2YwU0lBQUFBQUNBPT0jUlQ6MSNUUkM6MzAjUlREOkhQSkptS1QxdVpxbEJCbkd5TlNPQk1IWmxWODdHQT09I0lTVjoyI0lFTzo2NTU2NyNRQ0Y6OCNGUFA6QWdoN0FBQUFBQ0FBQUlzQUFBQUFJQUFBZXdBQUFBQWdBQURhQVZJZDJBQUFiRkVBQ0FNUkFJQXdwQURnZ1g4ODhIZ0FqeDlBL3dmKy93SGdBZUR4LzNnQStNYy9Ic0EvZ0g4OEhnLzgvei93ai85L1lzRDgvLzgvOEI3K0gvLy8vdy9nOFk5L1BCNFA0QUdBZi96Ly96K0FCeDRQUEFBQUFQNy8vLzhmRHp6Ky94LzR4LzhEZUFBQS92RjRQUDd4RCtEL0FlQWZBUDcvL3gvNGZ6d2VqL[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/99473411634774600?api-version=2023-03-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14",
        "MS-CV": "sanitized"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
