interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 20 Apr 2023 18:34:12 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-3fd3-adcf-a381-09482200ee75"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 1Bfk2FuGfkuR5Ppz/7f6qg.0
      x-processing-time:
      - 19ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": {"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-3fd3-adcf-a381-09482200ee75":
      {"role": "Presenter"}, "8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000018-3fd3-ae6e-a381-09482200ee77":
      {"role": "Attendee"}}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Thu, 20 Apr 2023 18:34:12 GMT
      Repeatability-Request-ID:
      - f25459dd-dfa9-11ed-af9c-e45e37e24f59
      x-ms-date:
      - Thu, 20 Apr 2023 18:34:12 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99484958632351808","createdAt":"2023-04-20T18:34:13.1922166+00:00","validFrom":"2023-04-20T18:34:12.9277988+00:00","validUntil":"2023-10-17T18:34:12.9277988+00:00"}'
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - s9GGQtgSHkGV0Br5A9YeIg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Apr 2023 18:34:13 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/rooms/99484958632351808?api-version=2023-03-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07, 2022-02-01, 2023-03-31-preview
      ms-cv:
      - 8huh8kQ1vkCAsiZDAdcvIw.0
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Apr 2023 18:34:13 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - CjLG5nWvmEWtE4ge7kxuyQ.0
      x-processing-time:
      - 85ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Apr 2023 18:34:14 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - edZG6PPPW0GFFWC8Dq7AYQ.0
      x-processing-time:
      - 86ms
    status:
      code: 204
      message: No Content
version: 1
