interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 29 Apr 2022 03:42:51 GMT
    method: POST
    uri: https://rooms-ppe-us.ppe.communication.azure.net/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000011-134b-b238-88f7-084822002cf6"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Czl57DjxSkOSzVi7bPLppQ.0
      x-processing-time:
      - 27ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-04-29T03:42:52.049822Z'
      Repeatability-Request-ID:
      - 725a6030-c76e-11ec-b608-985fd3c6ae82
      x-ms-date:
      - Fri, 29 Apr 2022 03:42:52 GMT
    method: POST
    uri: https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"9945057078784824","createdDateTime":"2022-04-29T03:42:53.0964714+00:00","validFrom":"2022-04-29T03:42:52.9916722+00:00","validUntil":"2022-10-26T03:42:52.9916722+00:00"}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: 4jhXTEdZX0il+xu1qCQ6zA.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2022-02-01
- request:
    body: '{"validFrom": "2022-05-01T20:42:53.221029Z", "validUntil": "2022-11-28T20:42:53.222076Z"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Fri, 29 Apr 2022 03:42:53 GMT
    method: PATCH
    uri: https://rooms-ppe-us.ppe.communication.azure.net/rooms/9945057078784824?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-d774e7fd2ce621c01829e3499354f9ee-bd94d84486a4b09b-00","errors":{"ValidUntil":["The
        time range is incorrect, or larger than 180 days."]}}'
    headers:
      content-type: application/problem+json; charset=utf-8
      ms-cv: eIfsNDUnUky06qPGP/z3LQ.0
    status:
      code: 400
      message: Bad Request
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms/9945057078784824?api-version=2022-02-01
version: 1
