interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 04 Jul 2022 20:49:39 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-6adb-7345-07fd-08482200b80c"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ZBxoyG+IVkaHNai4gnnQwg.0
      x-processing-time:
      - 30ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2022-07-07T16:49:40.586138Z"}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2022-07-04T20:49:40.586138Z'
      Repeatability-Request-ID:
      - d32a7a0c-fbda-11ec-8b6a-a864f132484d
      x-ms-date:
      - Mon, 04 Jul 2022 20:49:40 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"id":"99480157769085905","createdDateTime":"2022-07-04T20:49:38.9387164+00:00","validFrom":"2022-07-07T16:49:40.586138+00:00","validUntil":"2022-12-31T20:49:38.8518665+00:00","roomJoinPolicy":"InviteOnly","participants":[]}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: WXcSTyop6U2xABY8bpFLng.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://sanitized.ppe.communication.azure.net/rooms?api-version=2022-02-01
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 04 Jul 2022 20:49:41 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/rooms/99480157769085905?api-version=2022-02-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      ms-cv: d7+F6qQDR0ysNs/+fQBWHw.0
    status:
      code: 204
      message: No Content
    url: https://sanitized.ppe.communication.azure.net/rooms/99480157769085905?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 04 Jul 2022 20:49:41 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-6adb-7345-07fd-08482200b80c?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - EAD7/8PiD0iG8vHa+dreLw.0
      x-processing-time:
      - 102ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 04 Jul 2022 20:49:41 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/8%3Aacs%3Adb75ed0c-e801-41a3-99a4-66a0a119a06c_00000012-6adb-7498-07fd-08482200b80e?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - Vr3hBWBgNkOoXCjsoIRR1g.0
      x-processing-time:
      - 120ms
    status:
      code: 204
      message: No Content
version: 1
