interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 01 Feb 2023 00:17:27 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - JnH/Wv7aKEGPQTGFaqKxEg.0
      x-processing-time:
      - 19ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validFrom": "2023-08-22T16:17:28.174016Z"}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - '2023-02-01T00:17:28.17501Z'
      Repeatability-Request-ID:
      - cf96d057-a1c5-11ed-a1eb-d03c1f2e0bde
      x-ms-date:
      - Wed, 01 Feb 2023 00:17:28 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-b57f2260167321da009a11a1c0ed328d-3022d4f27b376a61-01","errors":{"ValidFrom":["Value
        is incorrect or more than 180 days in the future"]}}'
    headers:
      content-type: application/problem+json; charset=utf-8
      ms-cv: fUAnqwpISEiWMnq5eByZ0A.0
    status:
      code: 400
      message: Bad Request
    url: https://sanitized.communication.azure.com/rooms?api-version=2022-02-01
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Feb 2023 00:17:28 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - p7wtwndLs0GO2Dw3OOC7uw.0
      x-processing-time:
      - 144ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Feb 2023 00:17:28 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      ms-cv:
      - G96pu5++40OH/+X2MnIR1g.0
      x-processing-time:
      - 130ms
    status:
      code: 204
      message: No Content
version: 1
