interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 04 Apr 2023 20:40:51 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity":{"id":"8:acs:db75ed0c-e801-41a3-99a4-66a0a119a06c_00000017-ede1-dfaf-b688-09482200265d"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 1sprbMhKe0CloUpYHhLDBg.0
      x-processing-time:
      - 19ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"validUntil": "2023-04-25T13:40:51.679947Z", "participants": {}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Tue, 04 Apr 2023 20:40:51 GMT
      Repeatability-Request-ID:
      - fd194bf4-d328-11ed-887e-e45e37e24f59
      x-ms-date:
      - Tue, 04 Apr 2023 20:40:51 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id":"99411769388445541","createdAt":"2023-04-04T20:40:51.6040703+00:00","validFrom":"2023-04-04T20:40:51.5086618+00:00","validUntil":"2023-04-25T13:40:51.679947+00:00"}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-03-31-preview
      content-type: application/json; charset=utf-8
      ms-cv: ITh34VjoIEuseLwzHkyWcg.0
      repeatability-result: accepted
    status:
      code: 201
      message: Created
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms?api-version=2023-03-31-preview
- request:
    body: ''
    headers:
      x-ms-date:
      - Tue, 04 Apr 2023 20:40:52 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/rooms/99411769388445541?api-version=2023-03-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01, 2023-03-31-preview
      ms-cv: 5h94WwyFLkqsetuQBbYuag.0
    status:
      code: 204
      message: No Content
    url: https://rooms-ppe-us.ppe.communication.azure.net/rooms/99411769388445541?api-version=2023-03-31-preview
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 04 Apr 2023 20:40:52 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - ZW2je/5vXUKNsCT4YGLf+g.0
      x-processing-time:
      - 89ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 04 Apr 2023 20:40:53 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - hy85Rc0eqUWV22FIZ1y0vQ.0
      x-processing-time:
      - 89ms
    status:
      code: 204
      message: No Content
version: 1
