interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 17 Mar 2022 21:20:24 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity": {"id": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-39a2-7547-d68a-084822005016"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - w79M5Fa+9EqkSlEeEdyQhA.0
      x-processing-time:
      - 24ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 17 Mar 2022 21:20:25 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2021-04-07
  response:
    body:
      string: '{"room": {"id": "99478550642710427", "createdDateTime": "2022-03-17T21:20:25.2839272+00:00",
        "validFrom": "2022-03-17T21:20:25.1765969+00:00", "validUntil": "2022-09-13T21:20:25.1765969+00:00"}}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: Nde5eCJGUU2KJ7T2zOoi1g.0
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/rooms?api-version=2021-04-07
- request:
    body: '{"validFrom": "2022-03-20T14:20:26.680323Z", "validUntil": "2022-10-17T14:20:26.681322Z"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 17 Mar 2022 21:20:26 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/99478550642710427?api-version=2021-04-07
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"00-60eeadc89bc41faacaddc0c6b6b3d952-dc409d81ecfcab07-00","errors":{"ValidUntil":["The
        time range is incorrect, or larger than 180 days."]}}'
    headers:
      content-type: application/problem+json; charset=utf-8
      ms-cv: WaQPZLYOYUGea76eViwD+w.0
    status:
      code: 400
      message: Bad Request
    url: https://sanitized.communication.azure.com/rooms/99478550642710427?api-version=2021-04-07
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Mar 2022 21:20:26 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/8%3Aacs%3Afac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-39a2-7547-d68a-084822005016?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - AXaDKZUoRkWsW1Z8kPy2RQ.0
      x-processing-time:
      - 136ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Mar 2022 21:20:27 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/8%3Aacs%3Afac4607d-d2d0-40e5-84df-6f32ebd1251a_00000010-39a2-75dc-d68a-084822005018?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      ms-cv:
      - 8rUu2Ekxa0uKEfT2y6HneQ.0
      x-processing-time:
      - 135ms
    status:
      code: 204
      message: No Content
version: 1
