interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 01 Mar 2022 20:03:06 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity": {"id": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_0000000f-e6f5-f091-92fd-8b3a0d0084ad"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - XWepy1VI60qNqlAO8C4myA.0
      x-processing-time:
      - 86ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 01 Mar 2022 20:03:07 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2021-04-07
  response:
    body:
      string: '{"room": {"id": "99448912484970825", "createdDateTime": "2022-03-01T20:03:07.8064103+00:00",
        "validFrom": "2022-03-01T20:03:07.7814087+00:00", "validUntil": "2022-08-28T20:03:07.7814087+00:00"}}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: dSQiWiyVpkycoBw/7PpqVA.0
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/rooms?api-version=2021-04-07
- request:
    body: '{"validFrom": "2022-03-04T12:03:07.976829Z", "validUntil": "2022-07-01T12:03:07.976829Z"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 01 Mar 2022 20:03:07 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/99448912484970825?api-version=2021-04-07
  response:
    body:
      string: '{"room": {"id": "99448912484970825", "createdDateTime": "2022-03-01T20:03:07.8064103+00:00",
        "validFrom": "2022-03-04T12:03:07.976829+00:00", "validUntil": "2022-07-01T12:03:07.976829+00:00"}}'
    headers:
      api-supported-versions: 2021-04-07, 2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: SLi00arcmkOpe7db3dnwtA.0
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/rooms/99448912484970825?api-version=2021-04-07
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Mar 2022 20:03:08 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/8%3Aacs%3Afac4607d-d2d0-40e5-84df-6f32ebd1251a_0000000f-e6f5-f091-92fd-8b3a0d0084ad?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01, 2022-06-01
      ms-cv:
      - tR55XxJt+Eyw9IQ2H6MhkA.0
      x-processing-time:
      - 263ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Mar 2022 20:03:08 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/8%3Aacs%3Afac4607d-d2d0-40e5-84df-6f32ebd1251a_0000000f-e6f5-f2bb-eef0-8b3a0d005b96?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01, 2022-06-01
      ms-cv:
      - 769NcrShAkmoDF0IworDOw.0
      x-processing-time:
      - 269ms
    status:
      code: 204
      message: No Content
version: 1
