interactions:
- request:
    body: '{"location": "westus", "tags": {"key1": "value1"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uai?api-version=2015-08-31-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rgname/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uai","name":"uai","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus","tags":{"key1":"value1"},"properties":{"tenantId":"00000000-0000-0000-0000-000000000000","principalId":"4125ce1c-3362-492c-9ac9-f857ffb84bbf","clientId":"1885b2ed-06f1-4d82-b6f7-0c386ba21c16","clientSecretUrl":"https://control-westus.identity.azure.net/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rgname/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uai/credentials?tid=00000000-0000-0000-0000-000000000000&oid=4125ce1c-3362-492c-9ac9-f857ffb84bbf&aid=1885b2ed-06f1-4d82-b6f7-0c386ba21c16"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rgname/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uai
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
- request:
    body: '{"identity": {"type": "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uai":
      {}}}, "location": "westus", "kind": "AzurePowerShell", "properties": {"cleanupPreference":
      "Always", "scriptContent": "Param([string]$Location,[string]$Name) $deploymentScriptOutputs[''test'']
      = ''value'' Get-AzResourceGroup -Location $Location -Name $Name", "arguments":
      "-Location ''westus'' -Name \"*rg2\"", "retentionInterval": "P1DT2H", "timeout":
      "PT30M", "azPowerShellVersion": "3.0"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rgname/providers/Microsoft.Resources/deploymentScripts/scripttest?api-version=2019-10-01-preview
  response:
    body:
      string: "{\r\n  \"kind\": \"AzurePowerShell\",\r\n  \"identity\": {\r\n    \"\
        type\": \"userAssigned\",\r\n    \"tenantId\": \"00000000-0000-0000-0000-000000000000\"\
        ,\r\n    \"userAssignedIdentities\": {\r\n      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uai\"\
        : {\r\n        \"principalId\": \"4125ce1c-3362-492c-9ac9-f857ffb84bbf\",\r\
        \n        \"clientId\": \"1885b2ed-06f1-4d82-b6f7-0c386ba21c16\"\r\n     \
        \ }\r\n    }\r\n  },\r\n  \"location\": \"westus\",\r\n  \"systemData\": {\r\
        \n    \"createdBy\": \"8a95323f-4a83-4a69-903f-7d2c69349c3c\",\r\n    \"createdByType\"\
        : \"Application\",\r\n    \"createdAt\": \"2021-02-26T07:38:00.0375613Z\"\
        ,\r\n    \"lastModifiedBy\": \"8a95323f-4a83-4a69-903f-7d2c69349c3c\",\r\n\
        \    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"\
        2021-02-26T07:38:00.0375613Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Creating\",\r\n    \"azPowerShellVersion\": \"3.0\",\r\n    \"scriptContent\"\
        : \"Param([string]$Location,[string]$Name) $deploymentScriptOutputs['test']\
        \ = 'value' Get-AzResourceGroup -Location $Location -Name $Name\",\r\n   \
        \ \"arguments\": \"-Location 'westus' -Name \\\"*rg2\\\"\",\r\n    \"retentionInterval\"\
        : \"P1DT2H\",\r\n    \"timeout\": \"PT30M\",\r\n    \"containerSettings\"\
        : {},\r\n    \"status\": {},\r\n    \"cleanupPreference\": \"Always\"\r\n\
        \  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Resources/deploymentScripts/scripttest\"\
        ,\r\n  \"type\": \"Microsoft.Resources/deploymentScripts\",\r\n  \"name\"\
        : \"scripttest\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus/deploymentScriptOperationResults/8d79f879-1515-41ed-9be8-28707d9542b8?api-version=2019-10-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus/deploymentScriptOperationResults/8d79f879-1515-41ed-9be8-28707d9542b8?api-version=2019-10-01-preview
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus/deploymentScriptOperationResults/8d79f879-1515-41ed-9be8-28707d9542b8\"\
        ,\r\n  \"name\": \"8d79f879-1515-41ed-9be8-28707d9542b8\",\r\n  \"status\"\
        : \"provisioningResources\",\r\n  \"error\": {\r\n    \"code\": \"DeploymentScriptOperationFailed\"\
        ,\r\n    \"message\": \"The client '4125ce1c-3362-492c-9ac9-f857ffb84bbf'\
        \ with object id '4125ce1c-3362-492c-9ac9-f857ffb84bbf' does not have authorization\
        \ to perform action 'Microsoft.Resources/subscriptions/providers/read' over\
        \ scope '/subscriptions/00000000-0000-0000-0000-000000000000' or the scope\
        \ is invalid. If access was recently granted, please refresh your credentials.\"\
        \r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {"key1": "value1"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rgname/providers/Microsoft.Resources/deploymentScripts/scripttest?api-version=2019-10-01-preview
  response:
    body:
      string: "{\r\n  \"kind\": \"AzurePowerShell\",\r\n  \"identity\": {\r\n    \"\
        type\": \"userAssigned\",\r\n    \"tenantId\": \"00000000-0000-0000-0000-000000000000\"\
        ,\r\n    \"userAssignedIdentities\": {\r\n      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uai\"\
        : {\r\n        \"principalId\": \"4125ce1c-3362-492c-9ac9-f857ffb84bbf\",\r\
        \n        \"clientId\": \"1885b2ed-06f1-4d82-b6f7-0c386ba21c16\"\r\n     \
        \ }\r\n    }\r\n  },\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n \
        \   \"key1\": \"value1\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\"\
        : \"8a95323f-4a83-4a69-903f-7d2c69349c3c\",\r\n    \"createdByType\": \"Application\"\
        ,\r\n    \"createdAt\": \"2021-02-26T07:38:00.0375613Z\",\r\n    \"lastModifiedBy\"\
        : \"8a95323f-4a83-4a69-903f-7d2c69349c3c\",\r\n    \"lastModifiedByType\"\
        : \"Application\",\r\n    \"lastModifiedAt\": \"2021-02-26T07:39:26.3541299Z\"\
        \r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Failed\",\r\
        \n    \"azPowerShellVersion\": \"3.0\",\r\n    \"scriptContent\": \"Param([string]$Location,[string]$Name)\
        \ $deploymentScriptOutputs['test'] = 'value' Get-AzResourceGroup -Location\
        \ $Location -Name $Name\",\r\n    \"arguments\": \"-Location 'westus' -Name\
        \ \\\"*rg2\\\"\",\r\n    \"retentionInterval\": \"P1DT2H\",\r\n    \"timeout\"\
        : \"PT30M\",\r\n    \"containerSettings\": {},\r\n    \"status\": {\r\n  \
        \    \"startTime\": \"2021-02-26T07:39:20.4466136Z\",\r\n      \"endTime\"\
        : \"2021-02-26T07:39:21.1559554Z\",\r\n      \"expirationTime\": \"2021-02-27T09:39:21.1559554Z\"\
        ,\r\n      \"error\": {\r\n        \"code\": \"DeploymentScriptOperationFailed\"\
        ,\r\n        \"message\": \"The client '4125ce1c-3362-492c-9ac9-f857ffb84bbf'\
        \ with object id '4125ce1c-3362-492c-9ac9-f857ffb84bbf' does not have authorization\
        \ to perform action 'Microsoft.Resources/subscriptions/providers/read' over\
        \ scope '/subscriptions/00000000-0000-0000-0000-000000000000' or the scope\
        \ is invalid. If access was recently granted, please refresh your credentials.\"\
        \r\n      }\r\n    },\r\n    \"cleanupPreference\": \"Always\"\r\n  },\r\n\
        \  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Resources/deploymentScripts/scripttest\"\
        ,\r\n  \"type\": \"Microsoft.Resources/deploymentScripts\",\r\n  \"name\"\
        : \"scripttest\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rgname/providers/Microsoft.Resources/deploymentScripts/scripttest/logs/default?api-version=2019-10-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Resources/deploymentScripts/scripttest/logs/default\"\
        ,\r\n  \"type\": \"Microsoft.Resources/deploymentScripts/logs\",\r\n  \"name\"\
        : \"default\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rgname/providers/Microsoft.Resources/deploymentScripts/scripttest/logs?api-version=2019-10-01-preview
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {},\r\n     \
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Resources/deploymentScripts/scripttest/logs/default\"\
        ,\r\n      \"type\": \"Microsoft.Resources/deploymentScripts/logs\",\r\n \
        \     \"name\": \"default\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rgname/providers/Microsoft.Resources/deploymentScripts/scripttest?api-version=2019-10-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14997'
    status:
      code: 200
      message: OK
version: 1
