interactions:
- request:
    body: '{"location": "east US", "tags": {"tag1": "value1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_group_name_xyz?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_group_name_xyz","name":"test_group_name_xyz","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"tag1":"value1"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "East US", "properties": {"lockLevel": "None", "displayName":
      "myManagedApplicationDef", "authorizations": [], "description": "myManagedApplicationDef
      description", "packageFileUri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/101-managed-application-with-linked-templates/artifacts/ManagedAppZip/pkg.zip"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Solutions/applicationDefinitions/applicationdefinition?api-version=2018-06-01
  response:
    body:
      string: '{"properties":{"authorizations":[],"isEnabled":true,"lockLevel":"None","displayName":"myManagedApplicationDef","description":"myManagedApplicationDef
        description","artifacts":[{"name":"ApplicationResourceTemplate","type":"Template","uri":"https://prdsapplianceprodbl01.blob.core.windows.net/applicationdefinitions/E3823_92F95D8F3C67412491C78CF07CDBF241_ED2B958A4478DFA9B7C205A721A9BC97475299F724337EDDFE7F50112CC6246F/762465f3eec14b7b8078158525c1e2d5/applicationResourceTemplate.json"},{"name":"CreateUiDefinition","type":"Custom","uri":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Solutions/applicationDefinitions/applicationdefinition/applicationArtifacts/CreateUiDefinition?api-version=2017-09-01"},{"name":"MainTemplateParameters","type":"Custom","uri":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Solutions/applicationDefinitions/applicationdefinition/applicationArtifacts/MainTemplateParameters?api-version=2017-09-01"}]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Solutions/applicationDefinitions/applicationdefinition","name":"applicationdefinition","type":"Microsoft.Solutions/applicationDefinitions","location":"East
        US"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1192'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Solutions/applicationDefinitions/applicationdefinition?api-version=2018-06-01
  response:
    body:
      string: '{"properties":{"authorizations":[],"isEnabled":true,"lockLevel":"None","displayName":"myManagedApplicationDef","description":"myManagedApplicationDef
        description","artifacts":[{"name":"Applic[...]
[...]
- request:
    body: '{"location": "East US", "kind": "ServiceCatalog", "properties": {"managedResourceGroupId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myManagedRGtest_group_name_xyz",
      "applicationDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Solutions/applicationDefinitions/applicationdefinition"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Solutions/applications/applicationtest?api-version=2018-06-01
  response:
    body:
      string: '{"properties":{"managedResourceGroupId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myManagedRGtest_group_name_xyz","applicationDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Solutions/applicationDefinitions/applicationdefinition","publisherPackageId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Solutions/applicationDefinitions/applicationdefinition","provisioningState":"Accepted","authorizations":[],"createdBy":{"oid":"123743cc-88ef-49ee-920e-13958fe5697d","applicationId":"8a95323f-4a83-4a69-903f-7d2c69349c3c"},"updatedBy":{"oid":"123743cc-88ef-49ee-920e-13958fe5697d","applicationId":"8a95323f-4a83-4a69-903f-7d2c69349c3c"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Solutions/applications/applicationtest","name":"applicationtest","type":"Microsoft.Solutions/applications","kind":"ServiceCatalog","location":"East
        US"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Solutions/locations/East
        US/operationStatuses/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvOTJmOTVkOGYtM2M2Ny00MTI0LTkxYzctOGNmMDdjZGJmMjQxL3Jlc291cmNlR3JvdXBzL2MzaGltMmthY2IydHZmYmZucnlzcGFhd3p3aG1scmc1anl5cDM3ZG83aGZkZGE3YmVlcnl1YWVreHV3Y3A3eGJwZDNncHRvdngyMy9wcm92aWRlcnMvTWljcm9zb2Z0LlNvbHV0aW9ucy9hcHBsaWNhdGlvbnMvYXBwbGljYXRpb250ZXN0Iiwiam9iSWQiOiJBcHBsaW[...]
[...]
- request:
    body: '{"kind": "ServiceCatalog", "properties": {"managedResourceGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myManagedRGtest_group_name_xyz"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Solutions/applications/applicationtest?api-version=2018-06-01
  response:
    body:
      string: '{"error":{"code":"ApplicationPatchConflict","message":"The application
        ''applicationtest'' PATCH failed because of a conflicting provisioning state
        ''Accepted''. Please wait for the operation to complete and try again."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1190'
    status:
      code: 409
      message: Conflict
version: 1
