interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Search/unregister?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Search","namespace":"Microsoft.Search","authorization":{"applicationId":"408992c7-2af6-4ff1-92e3-65b73d2b5092","roleDefinitionId":"20FA3191-87CF-4C3D-9510-74CCB594A310"},"resourceTypes":[{"resourceType":"searchServices","locations":["Germany
        West Central","Norway East","Switzerland West","Switzerland North","West US","West
        US 2","East US","East US 2","North Europe","West Europe","Southeast Asia","East
        Asia","North Central US","South Central US","Central US","Japan West","Japan
        East","Korea Central","Australia East","Australia Southeast","Brazil South","Central
        India","West Central US","Canada Central","UK South","France Central","South
        Africa North","UAE North","East US 2 EUAP"],"apiVersions":["2020-08-01-Preview","2020-08-01","2020-03-13","2019-10-01-Preview","2015-08-19","2015-02-28","2014-07-31-Preview"],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SystemAssignedResourceIdentity, SupportsTags,
        SupportsLocation"},{"resourceType":"checkServiceNameAvailability","locations":[],"apiVersions":["2015-02-28","2014-07-31-Preview"],"capabilities":"None"},{"resourceType":"checkNameAvailability","locations":[],"apiVersions":["2020-08-01-Preview","2020-08-01","2020-03-13","2019-10-01-Preview","2015-08-19"],"capabilities":"None"},{"resourceType":"resourceHealthMetadata","locations":["Germany
        West Central","Norway East","Switzerland West","Switzerland North","West US","West
        US 2","East US","East US 2","North Europe","West Europe","Southeast Asia","East
        Asia","North Central US","South Central US","Central US","Japan West","Japan
        East","Korea Central","Australia East","Australia Southeast","Brazil South","Central
        India","West Central US","Canada Central","UK South","France Central","South
        Africa North","UAE North","East US 2 EUAP"],"apiVersions":["2020-08-01-Preview","2020-08-01","2020-03-13","2019-10-01-Preview","2015-08-19"],"capabilities":"None"},{"resourceType":"operations","locations":[],"apiVersions":["2020-08-01-Preview","2020-08-01","2020-03-13","2019-10-01-Preview","2015-08-19","2015-02-28"],"capabilities":"None"}],"registrationState":"Unregistering","registrationPolicy":"RegistrationRequired"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Search?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Search","namespace":"Microsoft.Search","authorization":{"applicationId":"408992c7-2af6-4ff1-92e3-65b73d2b5092","roleDefinitionId":"20FA3191-87CF-4C3D-9510-74CCB594A310"},"resourceTypes":[{"r[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Search/register?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Search","namespace":"Microsoft.Search","authorization":{"applicationId":"408992c7-2af6-4ff1-92e3-65b73d2b5092","roleDefinitionId":"20FA3191-87CF-4C3D-9510-74CCB594A310"},"resourceT[...]
