interactions:
- request:
    body: '{"properties": {"policyType": "Custom", "description": "Don''t create a
      VM anywhere", "policyRule": {"if": {"allOf": [{"source": "action", "equals":
      "Microsoft.Compute/virtualMachines/write"}, {"field": "location", "in": ["eastus",
      "eastus2", "centralus"]}]}, "then": {"effect": "deny"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/pypolicyea4a13f0?api-version=2019-09-01
  response:
    body:
      string: '{"error":{"code":"AuthorizationFailed","message":"The client ''0444ccf8-fddb-43c4-b42b-ea036211229f''
        with object id ''0444ccf8-fddb-43c4-b42b-ea036211229f'' does not have authorization
        to perform action ''Microsoft.Authorization/policyDefinitions/write'' over
        scope ''/subscriptions/00000000-0000-0000-0000-000000000000'' or the scope
        is invalid. If access was recently granted, please refresh your credentials."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 403
      message: Forbidden
version: 1
