{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups?api-version=2025-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "Microsoft.Resources/resourceGroups",
            "location": "centraluseuap",
            "managedBy": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg73273/providers/Microsoft.NetworkAnalytics/dataProducts/dataproduct48702",
            "tags": {},
            "properties": {
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "Microsoft.Resources/resourceGroups",
            "location": "centraluseuap",
            "managedBy": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg39104/providers/Microsoft.NetworkAnalytics/dataProducts/dataproduct72706",
            "properties": {
              "provisioningState": "Succeeded"
            }
          },
          {
 [...]
