{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "2199"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "authorizationSource": "RoleBased",
            "managedByTenants": [
              {
                "tenantId": "00000000-0000-0000-0000-000000000000"
              }
            ],
            "subscriptionId": "8cff5c8a-98f3-44ad-b300-2d44716c802c",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "displayName": "Service 360 Test",
            "state": "Enabled",
            "subscriptionPolicies": {
              "locationPlacementId": "Internal_2014-09-01",
              "quotaId": "Internal_2014-09-01",
              "spendingLimit": "Off"
            }
          },
          {
            "id": "Sanitized",
            "authorizationSource": "RoleBased",
            "managedByTenants": [],
            "subscriptionId": "54b875cc-a81a-4914-8bfd-1a36bc7ddf4d",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "displayName": "MSFT-WindowsVirtualDesktop-01",
            "state": "Enabled",
            "subscriptionPolicies": {
              "locationPlacementId": "Internal_2014-09-01",
              "quotaId": "Internal_2014-09-01",
              "spendingLimit": "Off"
            }
          },
          {
            "id": "Sanitized",
            "authorizationSource": "RoleBased",
            "managedByTenants": [],
            "tags": {
              "C-AI-MG-Placement-Subscription-Level": "2023-09-18",
              "Az.Sec.AnonymousBlobAccessEnforcement::OptIn": "all_regions",
              "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions"
            },
            "subscriptionId": "52942f45-54fd-4fd9-b730-03d518fedf35",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "displayName": "ES-TAP-TestContent",
            "state": "Enabled",
            "subscriptionPolicies": {
              "locationPlacementId": "Internal_2014-09-01",
              "quotaId": "Internal_2014-09-01",
              "spendingLimit": "Off"
            }
          },
          {
            "id": "Sanitized",
            "authorizationSource": "RoleBased",
            "managedByTenants": [],
            "tags": {
              "C-AI-MG-Placement-Subscription-Level": "2024-06-02"
            },
            "subscriptionId": "a18897a6-7e44-457d-9260-f2854c0aca42",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "displayName": "Azure SDK Engineering System",
            "state": "Enabled",
            "subscriptionPolicies": {
              "locationPlacementId": "Internal_2014-09-01",
              "quotaId": "Internal_2014-09-01",
              "spendingLimit": "Off"
            }
          },
          {
            "id": "Sanitized",
            "authorizationSource": "RoleBased",
            "managedByTenants": [],
            "tags": {
              "Env": "NonProd",
              "IsHostedOnBehalfOf": "False"
            },
            "subscriptionId": "93543f02-938d-4016-9d15-9cc4329b7033",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "displayName": "ODSP WIRE",
            "state": "Enabled",
            "subscriptionPolicies": {
              "locationPlacementId": "Internal_2014-09-01",
              "quotaId": "Internal_2014-09-01",
              "spendingLimit": "Off"
            }
          },
          {
            "id": "Sanitized",
            "authorizationSource": "RoleBased",
            "managedByTenants": [],
            "tags": {
              "SLNMBreakGlass": "SubscriptionMove"
            },
            "subscriptionId": "7ea7f0a6-7ba1-4165-ae53-33d63d627f94",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "displayName": "NetworkIsolationMSFTSLNMManagement04",
            "state": "Enabled",
            "subscriptionPolicies": {
              "locationPlacementId": "Internal_2014-09-01",
              "quotaId": "Internal_2014-09-01",
              "spendingLimit": "Off"
            }
          },
          {
            "id": "Sanitized",
            "authorizationSource": "RoleBased",
            "managedByTenants": [],
            "tags": {
              "ringValue": "r1",
              "Env": "NonProd",
              "tnr-sfi221": "True"
            },
            "subscriptionId": "66522bd8-56b0-44fa-bd1f-23485611a6c3",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "displayName": "FoSSE Redmond",
            "state": "Enabled",
            "subscriptionPolicies": {
              "locationPlacementId": "Internal_2014-09-01",
              "quotaId": "Internal_2014-09-01",
              "spendingLimit": "Off"
            }
          },
          {
            "id": "Sanitized",
            "authorizationSource": "RoleBased",
            "managedByTenants": [],
            "subscriptionId": "821eb853-2617-44be-935b-0f88b3b0b0cd",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "displayName": "MTP_BAND_STG",
            "state": "Enabled",
            "subscriptionPolicies": {
              "locationPlacementId": "Internal_2014-09-01",
              "quotaId": "Internal_2014-09-01",
              "spendingLimit": "Off"
            }
          },
          {
            "id": "Sanitized",
            "authorizationSource": "RoleBased",
            "managedByTenants": [],
            "tags": {
              "C-AI-MG-Placement-Subscription-Level": "2023-06-15",
              "C-AI-MG-Placement-Service-Level": "2023-06-27"
            },
            "subscriptionId": "659180e3-5b8c-4831-8632-33a035332736",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "displayName": "ServiceHealthSRE-Sandbox",
            "state": "Enabled",
            "subscriptionPolicies": {
              "locationPlacementId": "Internal_2014-09-01",
              "quotaId": "Internal_2014-09-01",
              "spendingLimit": "Off"
            }
          },
          {
            "id": "Sanitized[...]
