{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Solutions/applications?api-version=2019-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-entities-read": "60000",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "59999"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {}
}
