interactions:
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/pytestlinked28c01555?api-version=2020-10-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "West US", "properties": {"templateLink": {"uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/100-blank-template/azuredeploy.json"},
      "parametersLink": {"uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/100-blank-template/azuredeploy.json"},
      "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/pytestlinked28c01555?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/pytestlinked28c01555","name":"pytestlinked28c01555","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateLink":{"uri":"https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/100-blank-template/azuredeploy.json","contentVersion":"1.0.0.0"},"templateHash":"653051900461279848","parametersLink":{"uri":"https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/100-blank-template/azuredeploy.json"},"parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2021-04-16T08:16:33.6633457Z","duration":"PT1.3711462S","correlationId":"835be903-6366-443d-883b-2d298ac269e7","providers":[],"dependencies":[]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/pytestlinked28c01555/operationStatuses/08585830458931853981?api-version=2020-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/pytestlinked28c01555/operationStatuses/08585830458931853981?api-version=2020-10-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/pytestlinked28c01555?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/pytestlinked28c01555","name":"pytestlinked28c01555","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateLink":{"uri":"https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/100-blank-template/azuredeploy.json","contentVersion":"1.0.0.0"},"templateHash":"653051900461279848","parametersLink":{"uri":"https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/100-blank-template/azuredeploy.json"},"parameters":{},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2021-04-16T08:16:34.2582651Z","duration":"PT1.9660656S","correlationId":"835be903-6366-443d-883b-2d298ac269e7","providers":[],"dependencies":[],"outputs":{},"outputResources":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/?api-version=2020-10-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/pytestlinked28c01555","name":"pytestlinked28c01555","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateLink":{"uri":"https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/100-blank-template/azuredeploy.json","contentVersion":"1.0.0.0"},"templateHash":"653051900461279848","parametersLink":{"uri":"https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/100-blank-template/azuredeploy.json"},"parameters":{},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2021-04-16T08:16:34.2582651Z","duration":"PT1.9660656S","correlationId":"835be903-6366-443d-883b-2d298ac269e7","providers":[],"dependencies":[],"outputs":{},"outputResources":[]}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/policy_definition_deploy_sub","name":"policy_definition_deploy_sub","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"5540301298800500100","mode":"Incremental","provisioningState":"Succeeded","timestamp":"2021-04-16T08:02:16.6213581Z","duration":"PT5.0407559S","correlationId":"4f660d2b-4318-4bd0-bfbc-7c89f18610b8","providers":[{"namespace":"Microsoft.Authorization","resourceTypes":[{"resourceType":"policyDefinitions","locations":[null]}]}],"dependencies":[],"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/policy-for-bicep-test"}]}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/azure-cli-subscription_level_deploymentx42r2va57fgywjncugxan","name":"azure-cli-subscription_level_deploymentx42r2va57fgywjncugxan","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"13231341667663423384","parameters":{"storageAccountName":{"type":"String","value":"armbuilddemo4gbllrqm"},"nestedRGName":{"type":"String","value":"cli_test_subscription_level_deployment"}},"mode":"Incremental","provisioningState":"Canceled","timestamp":"2021-04-16T06:59:58.0614304Z","duration":"PT8.2932066S","correlationId":"f80269ae-6fc9-4dcd-9644-4f5b3118d36e","providers":[{"namespace":"Microsoft.Authorization","resourceTypes":[{"resourceType":"policyDefinitions","locations":[null]},{"resourceType":"policyAssignments","locations":[null]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["westus"]},{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/policy2","resourceType":"Microsoft.Authorization/policyDefinitions","resourceName":"policy2"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/location-lock","resourceType":"Microsoft.Authorization/policyAssignments","resourceName":"location-lock"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_subscription_level_deployment","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"cli_test_subscription_level_deployment"}],"id":"/subscriptions/00000000-0000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/?api-version=2020-10-01&%24skiptoken=3ZHdSsNAEIWfJXvdQiIpaO%2BsmZVGd9b9LfWuSJTshg1oSn5K3t2s0pfo1ZnhnGH4OBfy0YauDudTV7dBt74KP2R7IQdQ2qg4hWro3k7fXR0DL9VItiRL7hMObIPerMnqLyHb%2FupleZ4w2A%2FSHVOcYBD%2B2CNIEIZSMWEhnB9xKp9Z4TOud58yQ%2F6q0p4XJkdnNqhFj5r1bFruCpPyp2x3aKySuh0lIFNRKVrh4j5Q6y3jrlw%2BWKHh4V0byy3QvYGSWvgalYE1m[...]
