interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers?api-version=2019-05-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SqlVirtualMachine","namespace":"Microsoft.SqlVirtualMachine","authorizations":[{"applicationId":"bd93b475-f9e2-476e-963d-b2daf143ffb9","roleDefinitionId":"f96bd990-ffdf-4c17-8ee3-77454d9c3f5d"}],"resourceTypes":[{"resourceType":"SqlVirtualMachineGroups","locations":["West
        Central US","Brazil South","West Europe","Australia Central","Australia East","Canada
        Central","East Asia","East US","East US 2","France South","Central India","West
        India","Japan East","Korea South","North Central US","UK South","West US 2","Australia
        Southeast","Canada East","Central US","France Central","South India","Japan
        West","Korea Central","North Europe","South Central US","Southeast Asia","UK
        West","West US","South Africa North","East US 2 EUAP","Central US EUAP"],"apiVersions":["2017-03-01-preview"],"defaultApiVersion":"2017-03-01-preview","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"SqlVirtualMachines","locations":["West
        Central US","Brazil South","West Europe","Australia Central","Australia East","Canada
        Central","East Asia","East US","East US 2","France South","Central India","West
        India","Japan East","Korea South","North Central US","UK South","West US 2","Australia
        Southeast","Canada East","Central US","France Central"[...]
