../../core/azure-core
-e ../../../tools/azure-devtools
-e ../../../tools/azure-sdk-tools
-e ../../identity/azure-identity
-e ../azure-mgmt-keyvault
../../nspkg/azure-keyvault-nspkg
aiohttp>=3.0
parameterized>=0.7.3