include *.md
include azure/__init__.py
include azure/keyvault/__init__.py
include azure/keyvault/certificates/__init__.py
include azure/keyvault/certificates/_generated/__init__.py
include azure/keyvault/certificates/aio/__init__.py
