{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/38d3bdd3-3972-0aff-771f-c9e322379b4f/versions?api-version=2023-04-01\u0026hash=000000000000000000000000000000000000\u0026hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11957",
        "x-ms-response-type": "standard",
        "x-request-time": "0.105"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/38d3bdd3-3972-0aff-771f-c9e322379b4f/versions/1",
            "name": "1",
            "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
            "properties": {
              "description": null,
              "tags": {},
              "properties": {
                "hash_sha256": "cb14f9d6e8f5e64260f29f1d9a05cf823600068d9f905a56541590cdb0abd50b",
                "hash_version": "202208"
              },
              "isArchived": false,
              "isAnonymous": false,
              "codeUri": "https://sdknotebstoragee77090213.blob.core.windows.net:443/7f206fe8-7-cc2af2f9-a9ac-5526-b8f3-0caedf62766b/scope-component",
              "provisioningState": "Succeeded"
            },
            "systemData": {
              "createdAt": "2023-04-28T09:34:00.2128382\u002B00:00",
              "createdBy": "Xingzhi Zhang",
              "createdByType": "User",
              "lastModifiedAt": "2023-04-28T09:34:00.2128382\u002B00:00",
              "lastModifiedBy": "Xingzhi Zhang",
              "lastModifiedByType": "User"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/38d3bdd3-3972-0aff-771f-c9e322379b4f/versions/1?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_997569224883/versions/0.0.1?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "Convert adls test data to SS format",
          "properties": {},
          "tags": {
            "org": "bing",
            "project": "relevance"
          },
          "isAnonymous": false,
          "isArchived": false,
          "componentSpec": {
            "name": "test_997569224883",
            "description": "Convert adls test data to SS format",
            "tags": {
              "org": "bing",
              "project": "relevance"
            },
            "version": "0.0.1",
            "$schema": "https://componentsdk.azureedge.net/jsonschema/ScopeComponent.json",
            "display_name": "Convert Text to StructureStream",
            "is_deterministic": true,
            "inputs": {
              "TextData": {
                "type": [
                  "AnyFile",
                  "AnyDirectory"
                ],
                "description": "text file on ADLS storage"
              },
              "ExtractionClause": {
                "type": "string",
                "description": "the extraction clause, something like \u0022column1:string, column2:int\u0022"
              }
            },
            "outputs": {
              "SSPath": {
                "type": "CosmosStructuredStream",
                "description": "the converted structured stream"
              }
            },
            "type": "ScopeComponent",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/38d3bdd3-3972-0aff-771f-c9e322379b4f/versions/1",
            "scope": {
              "script": "convert2ss.script",
              "args": "Output_SSPath {outputs.SSPath} Input_TextData {inputs.TextData} ExtractionClause {inputs.ExtractionClause}"
            },
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_997569224883/versions/0.0.1?api-version=2022-10-01",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1182",
        "x-ms-response-type": "standard",
        "x-request-time": "4.362"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-00[...]
[...]
