interactions:
- request:
    body: '{"value": [{"hotelId": "1000", "rating": 1, "@search.action": "mergeOrUpload"},
      {"hotelId": "4", "rating": 2, "@search.action": "mergeOrUpload"}]}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - 504838938D7B67BD717ED599FBCA99D2
    method: POST
    uri: https://search50c51082.search.windows.net/indexes('drgqefsg')/docs/search.index?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"value":[{"key":"1000","status":true,"errorMessage":null,"statusCode":201},{"key":"4","status":true,"errorMessage":null,"statusCode":200}]}'
    headers:
      content-type:
      - application/json; odata.metadata=none
      elapsed-time:
      - '98'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      api-key:
      - 504838938D7B67BD717ED599FBCA99D2
    method: GET
    uri: https://search50c51082.search.windows.net/indexes('drgqefsg')/docs/$count?api-version=2019-05-06-Preview
  response:
    body:
      string: "\uFEFF11"
    headers:
      content-type:
      - text/plain
      elapsed-time:
      - '5'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      api-key:
      - 504838938D7B67BD717ED599FBCA99D2
    method: GET
    uri: https://search50c51082.search.windows.net/indexes('drgqefsg')/docs('1000')?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"hotelId":"1000","hotelName":null,"description":null,"descriptionFr":null,"category":null,"tags":[],"parkingIncluded":null,"smokingAllowed":null,"lastRenovationDate":null,"rating":1,"location":null,"address":null,"rooms":[]}'
    headers:
      content-type:
      - application/json; odata.metadata=none
      elapsed-time:
      - '7'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      api-key:
      - 504838938D7B67BD717ED599FBCA99D2
    method: GET
    uri: https://search50c51082.search.windows.net/indexes('drgqefsg')/docs('4')?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"hotelId":"4","hotelName":"Express Rooms","description":"Pretty good
        hotel","descriptionFr":"Assez bon h\u00f4tel","category":"Budget","tags":["wifi","budget"],"parkingIncluded":true,"smokingAllowed":false,"lastRenovationDate":"1995-07-01T00:00:00Z","rating":2,"location":{"type":"Point","coordinates":[-122.131577,48.678581],"crs":{"type":"name","properties":{"name":"EPSG:4326"}}},"address":null,"rooms":[]}'
    headers:
      content-type:
      - application/json; odata.metadata=none
      elapsed-time:
      - '5'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
version: 1
