interactions:
- request:
    body: '{"search": "mot", "suggesterName": "sg"}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - B28BA2D1537A42E67E3E72D9C67A39BB
    method: POST
    uri: https://search9c0e0b2f.search.windows.net/indexes('drgqefsg')/docs/search.post.autocomplete?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"value":[{"text":"motel","queryPlusText":"motel"}]}'
    headers:
      content-type:
      - application/json; odata.metadata=none
      elapsed-time:
      - '229'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
version: 1
