interactions:
- request:
    body: '{"value": [{"hotelId": "3", "rating": 1, "@search.action": "merge"}, {"hotelId":
      "4", "rating": 2, "@search.action": "merge"}]}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - C4C59DDF1CB476EB648E77F1EF58AB86
    method: POST
    uri: https://search40dc1028.search.windows.net/indexes('drgqefsg')/docs/search.index?api-version=2019-05-06
  response:
    body:
      string: '{"value":[{"key":"3","status":true,"errorMessage":null,"statusCode":200},{"key":"4","status":true,"errorMessage":null,"statusCode":200}]}'
    headers:
      content-type:
      - application/json; odata.metadata=none
      elapsed-time:
      - '83'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      api-key:
      - C4C59DDF1CB476EB648E77F1EF58AB86
    method: GET
    uri: https://search40dc1028.search.windows.net/indexes('drgqefsg')/docs/$count?api-version=2019-05-06
  response:
    body:
      string: "\uFEFF10"
    headers:
      content-type:
      - text/plain
      elapsed-time:
      - '4'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      api-key:
      - C4C59DDF1CB476EB648E77F1EF58AB86
    method: GET
    uri: https://search40dc1028.search.windows.net/indexes('drgqefsg')/docs('3')?api-version=2019-05-06
  response:
    body:
      string: '{"hotelId":"3","hotelName":"EconoStay","description":"Very popular
        hotel in town","descriptionFr":"H\u00f4tel le plus populaire en ville","category":"Budget","tags":["wifi","budget"],"parkingIncluded":true,"smokingAllowed":false,"lastRenovationDate":"1995-07-01T00:00:00Z","rating":1,"location":{"type":"Point","coordinates":[-122.131577,46.678581],"crs":{"type":"name","properties":{"name":"EPSG:4326"}}},"address":null,"rooms":[]}'
    headers:
      content-type:
      - application/json; odata.metadata=none
      elapsed-time:
      - '8'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      api-key:
      - C4C59DDF1CB476EB648E77F1EF58AB86
    method: GET
    uri: https://search40dc1028.search.windows.net/indexes('drgqefsg')/docs('4')?api-version=2019-05-06
  response:
    body:
      string: '{"hotelId":"4","hotelName":"Express Rooms","description":"Pretty good
        hotel","descriptionFr":"Assez bon h\u00f4tel","category":"Budget","tags":["wifi","budget"],"parkingIncluded":true,"smokingAllowed":false,"lastRenovationDate":"1995-07-01T00:00:00Z","rating":2,"location":{"type":"Point","coordinates":[-122.131577,48.678581],"crs":{"type":"name","properties":{"name":"EPSG:4326"}}},"address":null,"rooms":[]}'
    headers:
      content-type:
      - application/json; odata.metadata=none
      elapsed-time:
      - '3'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
version: 1
