interactions:
- request:
    body: '{"search": "mot", "suggesterName": "sg"}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - 8C2BF7764A3CE74CC70EC7ABCC9CFAD9
    method: POST
    uri: https://search9c0e0b2f.search.windows.net/indexes('drgqefsg')/docs/search.post.autocomplete?api-version=2019-05-06
  response:
    body:
      string: '{"value":[{"text":"motel","queryPlusText":"motel"}]}'
    headers:
      content-type:
      - application/json; odata.metadata=none
      elapsed-time:
      - '386'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
version: 1
