interactions:
- request:
    body: '{"filter": "category eq ''Budget''", "orderby": "hotelName desc", "search":
      "WiFi", "select": "hotelName,category,description"}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - EBD810D8FEF8050410C7B4FBF123DAA9
    method: POST
    uri: https://searchd7f60d17.search.windows.net/indexes('drgqefsg')/docs/search.post.search?api-version=2019-05-06
  response:
    body:
      string: '{"value":[{"@search.score":0.19169211,"hotelName":"Express Rooms","description":"Pretty
        good hotel","category":"Budget"},{"@search.score":0.19169211,"hotelName":"EconoStay","description":"Very
        popular hotel in town","category":"Budget"},{"@search.score":0.2423066,"hotelName":"Countryside
        Hotel","description":"Save up to 50% off traditional hotels.  Free WiFi, great
        location near downtown, full kitchen, washer & dryer, 24/7 support, bowling
        alley, fitness center and more.","category":"Budget"},{"@search.score":0.19169211,"hotelName":"Comfy
        Place","description":"Another good hotel","category":"Budget"}]}'
    headers:
      content-type:
      - application/json; odata.metadata=none
      elapsed-time:
      - '233'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
version: 1
