# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for
# license information.
#
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is
# regenerated.
# --------------------------------------------------------------------------

import uuid
from msrest.pipeline import ClientRawResponse

from .. import models


class MonitorsOperations(object):
    """MonitorsOperations operations.

    You should not instantiate directly this class, but create a Client instance that will create it for you and attach it as attribute.

    :param client: Client for service requests.
    :param config: Configuration of service client.
    :param serializer: An object model serializer.
    :param deserializer: An object model deserializer.
    :ivar api_version: The API version to use for this operation. Constant value: "2020-01-13-preview".
    """

    models = models

    def __init__(self, client, config, serializer, deserializer):

        self._client = client
        self._serialize = serializer
        self._deserialize = deserializer
        self.api_version = "2020-01-13-preview"

        self.config = config

    def list(
            self, subscription_id, resource_group_name, resource_namespace, resource_type, resource_name, filter=None, expand=None, custom_headers=None, raw=False, **operation_config):
        """Get list of a monitors of a resource (with optional filter).

        :param subscription_id: The subscriptionId of the resource
        :type subscription_id: str
        :param resource_group_name: The resourceGroupName of the resource
        :type resource_group_name: str
        :param resource_namespace: The resourceNamespace of the resource
        :type resource_namespace: str
        :param resource_type: The resourceType of the resource
        :type resource_type: str
        :param resource_name: The resourceType of the resource
        :type resource_name: str
        :param filter: list example: $filter=monitorName eq
         'logical-disks|C:|disk-free-space-mb'; history example:
         $filter=isHeartbeat eq false
        :type filter: str
        :param expand: ex: $expand=evidence,configuration
        :type expand: str
        :param dict custom_headers: headers that will be added to the request
        :param bool raw: returns the direct response alongside the
         deserialized response
        :param operation_config: :ref:`Operation configuration
         overrides<msrest:optionsforoperations>`.
        :return: An iterator like instance of Monitor
        :rtype:
         ~azure.mgmt.workloadmonitor.models.MonitorPaged[~azure.mgmt.workloadmonitor.models.Monitor]
        :raises:
         :class:`DefaultErrorException<azure.mgmt.workloadmonitor.models.DefaultErrorException>`
        """
        def prepare_request(next_link=None):
            if not next_link:
                # Construct URL
                url = self.list.metadata['url']
                path_format_arguments = {
                    'subscriptionId': self._serialize.url("subscription_id", subscription_id, 'str'),
                    'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str'),
                    'resourceNamespace': self._serialize.url("resource_namespace", resource_namespace, 'str'),
                    'resourceType': self._serialize.url("resource_type", resource_type, 'str'),
                    'resourceName': self._serialize.url("resource_name", resource_name, 'str')
                }
                url = self._client.format_url(url, **path_format_arguments)

                # Construct parameters
                query_parameters = {}
                query_parameters['api-version'] = self._serialize.query("self.api_version", self.api_version, 'str')
                if filter is not None:
                    query_parameters['$filter'] = self._serialize.query("filter", filter, 'str')
                if expand is not None:
                    query_parameters['$expand'] = self._serialize.query("expand", expand, 'str')

            else:
                url = next_link
                query_parameters = {}

            # Construct headers
            header_parameters = {}
            header_parameters['Accept'] = 'application/json'
            if self.config.generate_client_request_id:
                header_parameters['x-ms-client-request-id'] = str(uuid.uuid1())
            if custom_headers:
                header_parameters.update(custom_headers)
            if self.config.accept_language is not None:
                header_parameters['accept-language'] = self._serialize.header("self.config.accept_language", self.config.accept_language, 'str')

            # Construct and send request
            request = self._client.get(url, query_parameters, header_parameters)
            return request

        def internal_paging(next_link=None):
            request = prepare_request(next_link)

            response = self._client.send(request, stream=False, **operation_config)

            if response.status_code not in [200]:
                raise models.DefaultErrorException(self._deserialize, response)

            return response

        # Deserialize response
        header_dict = None
        if raw:
            header_dict = {}
        deserialized = models.MonitorPaged(internal_paging, self._deserialize.dependencies, header_dict)

        return deserialized
    list.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceNamespace}/{resourceType}/{resourceName}/providers/Microsoft.WorkloadMonitor/monitors'}

    def get(
            self, subscription_id, resource_group_name, resource_namespace, resource_type, resource_name, monitor_id, expand=None, custom_headers=None, raw=False, **operation_config):
        """Get the current status of a monitor of a resource.

        :param subscription_id: The subscriptionId of the resource
        :type subscription_id: str
        :param resource_group_name: The resourceGroupName of the resource
        :type resource_group_name: str
        :param resource_namespace: The resourceNamespace of the resource
        :type resource_namespace: str
        :param resource_type: The resourceType of the resource
        :type resource_type: str
        :param resource_name: The resourceType of the resource
        :type resource_name: str
        :param monitor_id: The monitorId of the resource (url encoded)
        :type monitor_id: str
        :param expand: ex: $expand=evidence,configuration
        :type expand: str
        :param dict custom_headers: headers that will be added to the request
        :param bool raw: returns the direct response alongside the
         deserialized response
        :param operation_config: :ref:`Operation configuration
         overrides<msrest:optionsforoperations>`.
        :return: Monitor or ClientRawResponse if raw=true
        :rtype: ~azure.mgmt.workloadmonitor.models.Monitor or
         ~msrest.pipeline.ClientRawResponse
        :raises:
         :class:`DefaultErrorException<azure.mgmt.workloadmonitor.models.DefaultErrorException>`
        """
        # Construct URL
        url = self.get.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("subscription_id", subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str'),
            'resourceNamespace': self._serialize.url("resource_namespace", resource_namespace, 'str'),
            'resourceType': self._serialize.url("resource_type", resource_type, 'str'),
            'resourceName': self._serialize.url("resource_name", resource_name, 'str'),
            'monitorId': self._serialize.url("monitor_id", monitor_id, 'str')
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}
        query_parameters['api-version'] = self._serialize.query("self.api_version", self.api_version, 'str')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, 'str')

        # Construct headers
        header_parameters = {}
        header_parameters['Accept'] = 'application/json'
        if self.config.generate_client_request_id:
            header_parameters['x-ms-client-request-id'] = str(uuid.uuid1())
        if custom_headers:
            header_parameters.update(custom_headers)
        if self.config.accept_language is not None:
            header_parameters['accept-language'] = self._serialize.header("self.config.accept_language", self.config.accept_language, 'str')

        # Construct and send request
        request = self._client.get(url, query_parameters, header_parameters)
        response = self._client.send(request, stream=False, **operation_config)

        if response.status_code not in [200]:
            raise models.DefaultErrorException(self._deserialize, response)

        deserialized = None
        if response.status_code == 200:
            deserialized = self._deserialize('Monitor', response)

        if raw:
            client_raw_response = ClientRawResponse(deserialized, response)
            return client_raw_response

        return deserialized
    get.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceNamespace}/{resourceType}/{resourceName}/providers/Microsoft.WorkloadMonitor/monitors/{monitorId}'}

    def list_state_changes(
            self, subscription_id, resource_group_name, resource_namespace, resource_type, resource_name, monitor_id, filter=None, expand=None, start_timestamp_utc=None, end_timestamp_utc=None, custom_headers=None, raw=False, **operation_config):
        """Get history of a monitor of a resource (with optional filter).

        :param subscription_id: The subscriptionId of the resource
        :type subscription_id: str
        :param resource_group_name: The resourceGroupName of the resource
        :type resource_group_name: str
        :param resource_namespace: The resourceNamespace of the resource
        :type resource_namespace: str
        :param resource_type: The resourceType of the resource
        :type resource_type: str
        :param resource_name: The resourceType of the resource
        :type resource_name: str
        :param monitor_id: The monitorId of the resource (url encoded)
        :type monitor_id: str
        :param filter: list example: $filter=monitorName eq
         'logical-disks|C:|disk-free-space-mb'; history example:
         $filter=isHeartbeat eq false
        :type filter: str
        :param expand: ex: $expand=evidence,configuration
        :type expand: str
        :param start_timestamp_utc: The start Timestamp for the desired
         history
        :type start_timestamp_utc: datetime
        :param end_timestamp_utc: The end Timestamp for the desired history
        :type end_timestamp_utc: datetime
        :param dict custom_headers: headers that will be added to the request
        :param bool raw: returns the direct response alongside the
         deserialized response
        :param operation_config: :ref:`Operation configuration
         overrides<msrest:optionsforoperations>`.
        :return: An iterator like instance of MonitorStateChange
        :rtype:
         ~azure.mgmt.workloadmonitor.models.MonitorStateChangePaged[~azure.mgmt.workloadmonitor.models.MonitorStateChange]
        :raises:
         :class:`DefaultErrorException<azure.mgmt.workloadmonitor.models.DefaultErrorException>`
        """
        def prepare_request(next_link=None):
            if not next_link:
                # Construct URL
                url = self.list_state_changes.metadata['url']
                path_format_arguments = {
                    'subscriptionId': self._serialize.url("subscription_id", subscription_id, 'str'),
                    'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str'),
                    'resourceNamespace': self._serialize.url("resource_namespace", resource_namespace, 'str'),
                    'resourceType': self._serialize.url("resource_type", resource_type, 'str'),
                    'resourceName': self._serialize.url("resource_name", resource_name, 'str'),
                    'monitorId': self._serialize.url("monitor_id", monitor_id, 'str')
                }
                url = self._client.format_url(url, **path_format_arguments)

                # Construct parameters
                query_parameters = {}
                query_parameters['api-version'] = self._serialize.query("self.api_version", self.api_version, 'str')
                if filter is not None:
                    query_parameters['$filter'] = self._serialize.query("filter", filter, 'str')
                if expand is not None:
                    query_parameters['$expand'] = self._serialize.query("expand", expand, 'str')
                if start_timestamp_utc is not None:
                    query_parameters['startTimestampUtc'] = self._serialize.query("start_timestamp_utc", start_timestamp_utc, 'iso-8601')
                if end_timestamp_utc is not None:
                    query_parameters['endTimestampUtc'] = self._serialize.query("end_timestamp_utc", end_timestamp_utc, 'iso-8601')

            else:
                url = next_link
                query_parameters = {}

            # Construct headers
            header_parameters = {}
            header_parameters['Accept'] = 'application/json'
            if self.config.generate_client_request_id:
                header_parameters['x-ms-client-request-id'] = str(uuid.uuid1())
            if custom_headers:
                header_parameters.update(custom_headers)
            if self.config.accept_language is not None:
                header_parameters['accept-language'] = self._serialize.header("self.config.accept_language", self.config.accept_language, 'str')

            # Construct and send request
            request = self._client.get(url, query_parameters, header_parameters)
            return request

        def internal_paging(next_link=None):
            request = prepare_request(next_link)

            response = self._client.send(request, stream=False, **operation_config)

            if response.status_code not in [200]:
                raise models.DefaultErrorException(self._deserialize, response)

            return response

        # Deserialize response
        header_dict = None
        if raw:
            header_dict = {}
        deserialized = models.MonitorStateChangePaged(internal_paging, self._deserialize.dependencies, header_dict)

        return deserialized
    list_state_changes.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceNamespace}/{resourceType}/{resourceName}/providers/Microsoft.WorkloadMonitor/monitors/{monitorId}/history'}

    def get_state_change(
            self, subscription_id, resource_group_name, resource_namespace, resource_type, resource_name, monitor_id, timestamp_unix, expand=None, custom_headers=None, raw=False, **operation_config):
        """Get the status of a monitor at a specific timestamp in history.

        :param subscription_id: The subscriptionId of the resource
        :type subscription_id: str
        :param resource_group_name: The resourceGroupName of the resource
        :type resource_group_name: str
        :param resource_namespace: The resourceNamespace of the resource
        :type resource_namespace: str
        :param resource_type: The resourceType of the resource
        :type resource_type: str
        :param resource_name: The resourceType of the resource
        :type resource_name: str
        :param monitor_id: The monitorId of the resource (url encoded)
        :type monitor_id: str
        :param timestamp_unix: The timestamp of the state change (Unix format)
        :type timestamp_unix: str
        :param expand: ex: $expand=evidence,configuration
        :type expand: str
        :param dict custom_headers: headers that will be added to the request
        :param bool raw: returns the direct response alongside the
         deserialized response
        :param operation_config: :ref:`Operation configuration
         overrides<msrest:optionsforoperations>`.
        :return: MonitorStateChange or ClientRawResponse if raw=true
        :rtype: ~azure.mgmt.workloadmonitor.models.MonitorStateChange or
         ~msrest.pipeline.ClientRawResponse
        :raises:
         :class:`DefaultErrorException<azure.mgmt.workloadmonitor.models.DefaultErrorException>`
        """
        # Construct URL
        url = self.get_state_change.metadata['url']
        path_format_arguments = {
            'subscriptionId': self._serialize.url("subscription_id", subscription_id, 'str'),
            'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str'),
            'resourceNamespace': self._serialize.url("resource_namespace", resource_namespace, 'str'),
            'resourceType': self._serialize.url("resource_type", resource_type, 'str'),
            'resourceName': self._serialize.url("resource_name", resource_name, 'str'),
            'monitorId': self._serialize.url("monitor_id", monitor_id, 'str'),
            'timestampUnix': self._serialize.url("timestamp_unix", timestamp_unix, 'str')
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}
        query_parameters['api-version'] = self._serialize.query("self.api_version", self.api_version, 'str')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, 'str')

        # Construct headers
        header_parameters = {}
        header_parameters['Accept'] = 'application/json'
        if self.config.generate_client_request_id:
            header_parameters['x-ms-client-request-id'] = str(uuid.uuid1())
        if custom_headers:
            header_parameters.update(custom_headers)
        if self.config.accept_language is not None:
            header_parameters['accept-language'] = self._serialize.header("self.config.accept_language", self.config.accept_language, 'str')

        # Construct and send request
        request = self._client.get(url, query_parameters, header_parameters)
        response = self._client.send(request, stream=False, **operation_config)

        if response.status_code not in [200]:
            raise models.DefaultErrorException(self._deserialize, response)

        deserialized = None
        if response.status_code == 200:
            deserialized = self._deserialize('MonitorStateChange', response)

        if raw:
            client_raw_response = ClientRawResponse(deserialized, response)
            return client_raw_response

        return deserialized
    get_state_change.metadata = {'url': '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceNamespace}/{resourceType}/{resourceName}/providers/Microsoft.WorkloadMonitor/monitors/{monitorId}/history/{timestampUnix}'}
