interactions:
- request:
    body: '{"properties": {"dnsPrefix": "akspythonsdk", "agentPoolProfiles": [{"count":
      1, "vmSize": "Standard_DS2_v2", "maxPods": 110, "osType": "Linux", "maxCount":
      100, "minCount": 1, "enableAutoScaling": true, "type": "VirtualMachineScaleSets",
      "mode": "System", "name": "aksagent"}], "servicePrincipalProfile": {"clientId":
      "22922db6-2c37-4027-b39c-e994c47c5dc8", "secret": "9.JEMsq~6_v.8g.4rGEMF5Gnz8L4_pJy_Y"}},
      "location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_aks_test_agentPoolsb25d0bdc/providers/Microsoft.ContainerService/managedClusters/4?api-version=2021-03-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_mgmt_aks_test_agentPoolsb25d0bdc/providers/Microsoft.ContainerService/managedClusters/4\",\n
        \ \"location\": \"eastus\",\n  \"name\": \"4\",\n  \"type\": \"Microsoft.ContainerService/ManagedClusters\",\n
        \ \"properties\": {\n   \"provisioningState\": \"Creating\",\n   \"powerState\":
        {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\": \"1.18.14\",\n
        \  \"dnsPrefix\": \"akspythonsdk\",\n   \"fqdn\": \"akspythonsdk-e479ebae.hcp.eastus.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"akspythonsdk-e479ebae.portal.hcp.eastus.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"aksagent\",\n     \"count\":
        1,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"maxPods\": 110,\n
        \    \"type\": \"VirtualMachineScaleSets\",\n     \"maxCount\": 100,\n     \"minCount\":
        1,\n     \"enableAutoScaling\": true,\n     \"provisioningState\": \"Creating\",\n
        \    \"powerState\": {\n      \"code\": \"Running\"\n     },\n     \"orchestratorVersion\":
        \"1.18.14\",\n     \"nodeLabels\": {},\n     \"mode\": \"System\",\n     \"osType\":
        \"Linux\",\n     \"nodeImageVersion\": \"AKSUbuntu-1804gen2-2021.03.29\",\n
        \    \"enableFIPS\": false\n    }\n   ],\n   \"servicePrincipalProfile\":
        {\n    \"clientId\": \"22922db6-2c37-4027-b39c-e994c47c5dc8\"\n   },\n   \"addonProfiles\":
        {\n    \"KubeDashboard\": {\n     \"enabled\": false,\n     \"config\": null\n
        \   }\n   },\n   \"nodeResourceGroup\": \"MC_test_mgmt_aks_test_agentPoolsb25d0bdc_4_eastus\",\n
        \  \"enableRBAC\": true,\n   \"networkProfile\": {\n    \"networkPlugin\":
        \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n    \"loadBalancerProfile\":
        {\n     \"managedOutboundIPs\": {\n      \"count\": 1\n     }\n    },\n    \"podCidr\":
        \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\",\n    \"dnsServiceIP\":
        \"10.0.0.10\",\n    \"dockerBridgeCidr\": \"172.17.0.1/16\",\n    \"outboundType\":
        \"loadBalancer\"\n   },\n   \"maxAgentPools\": 10\n  },\n  \"sku\": {\n   \"name\":
        \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/b0654331-1ab4-4ddf-a318-c11ce501b40b?api-version=2017-08-31
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/b0654331-1ab4-4ddf-a318-c11ce501b40b?api-version=2017-08-31
  response:
    body:
      string: "{\n  \"name\": \"314365b0-b41a-df4d-a318-c11ce501b40b\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2021-04-07T05:59:46.2766666Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/b0654331-1ab4-4ddf-a318-c11ce501b40b?api-version=2017-08-31
  response:
    body:
      string: "{\n  \"name\": \"314365b0-b41a-df4d-a318-c11ce501b40b\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2021-04-07T05:59:46.2766666Z\",\n  \"endTime\":
        \"2021-04-07T06:03:51.9941401Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"count": 3, "vmSize": "Standard_DS2_v2", "osType": "Linux",
      "type": "VirtualMachineScaleSets", "mode": "System", "orchestratorVersion":
      "", "availabilityZones": ["1", "2", "3"], "nodeTaints": []}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_aks_test_agentPoolsb25d0bdc/providers/Microsoft.ContainerService/managedClusters/4/agentPools/aksagent?api-version=2021-03-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_mgmt_aks_test_agentPoolsb25d0bdc/providers/Microsoft.Co[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_aks_test_agentPoolsb25d0bdc/providers/Microsoft.ContainerService/managedClusters/4/availableAgentPoolVersions?api-version=2021-03-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_mgmt_aks_test_agentPoolsb25d0bdc/providers/Microsoft.ContainerService/managedClusters/4/availableagentpoolversions\",\n
        \ \"name\": \"default\",\n  \"type\": \"Microsoft.ContainerService/managedClusters/availableAgentpoolVersions\",\n
        \ \"properties\": {\n   \"agentPoolVersions\": [\n    {\n     \"default\":
        true,\n     \"kubernetesVersion\": \"1.18.14\"\n    },\n    {\n     \"kubernetesVersion\":
        \"1.18.10\"\n    },\n    {\n     \"kubernetesVersion\": \"1.17.13\"\n    },\n
        \   {\n     \"kubernetesVersion\": \"1.17.16\"\n    }\n   ]\n  }\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
