interactions:
- request:
    body: '{"properties": {"dnsPrefix": "akspythonsdk", "agentPoolProfiles": [{"count":
      1, "vmSize": "Standard_DS2_v2", "maxPods": 110, "osType": "Linux", "maxCount":
      100, "minCount": 1, "enableAutoScaling": true, "type": "VirtualMachineScaleSets",
      "mode": "System", "name": "aksagent"}], "servicePrincipalProfile": {"clientId":
      "22922db6-2c37-4027-b39c-e994c47c5dc8", "secret": "9.JEMsq~6_v.8g.4rGEMF5Gnz8L4_pJy_Y"},
      "apiServerAccessProfile": {"enablePrivateCluster": true}}, "location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_aks_test_privateLinkResources407d1004/providers/Microsoft.ContainerService/managedClusters/2?api-version=2021-03-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_mgmt_aks_test_privateLinkResources407d1004/providers/Microsoft.ContainerService/managedClusters/2\",\n
        \ \"location\": \"eastus\",\n  \"name\": \"2\",\n  \"type\": \"Microsoft.ContainerService/ManagedClusters\",\n
        \ \"properties\": {\n   \"provisioningState\": \"Creating\",\n   \"powerState\":
        {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\": \"1.18.14\",\n
        \  \"dnsPrefix\": \"akspythonsdk\",\n   \"azurePortalFQDN\": \"8291534726b33067f03fb0828d16ff36-priv.portal.hcp.eastus.azmk8s.io\",\n
        \  \"privateFQDN\": \"akspythonsdk-c9f5af00.1af5148a-51e6-4a91-9cf5-bdc133236651.privatelink.eastus.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"aksagent\",\n     \"count\":
        1,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"maxPods\": 110,\n
        \    \"type\": \"VirtualMachineScaleSets\",\n     \"maxCount\": 100,\n     \"minCount\":
        1,\n     \"enableAutoScaling\": true,\n     \"provisioningState\": \"Creating\",\n
        \    \"powerState\": {\n      \"code\": \"Running\"\n     },\n     \"orchestratorVersion\":
        \"1.18.14\",\n     \"nodeLabels\": {},\n     \"mode\": \"System\",\n     \"osType\":
        \"Linux\",\n     \"nodeImageVersion\": \"AKSUbuntu-1804gen2-2021.03.29\",\n
        \    \"enableFIPS\": false\n    }\n   ],\n   \"servicePrincipalProfile\":
        {\n    \"clientId\": \"22922db6-2c37-4027-b39c-e994c47c5dc8\"\n   },\n   \"addonProfiles\":
        {\n    \"KubeDashboard\": {\n     \"enabled\": false,\n     \"config\": null\n
        \   }\n   },\n   \"nodeResourceGroup\": \"MC_test_mgmt_aks_test_privateLinkResources407d1004_2_eastus\",\n
        \  \"enableRBAC\": true,\n   \"networkProfile\": {\n    \"networkPlugin\":
        \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n    \"loadBalancerProfile\":
        {\n     \"managedOutboundIPs\": {\n      \"count\": 1\n     }\n    },\n    \"podCidr\":
        \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\",\n    \"dnsServiceIP\":
        \"10.0.0.10\",\n    \"dockerBridgeCidr\": \"172.17.0.1/16\",\n    \"outboundType\":
        \"loadBalancer\"\n   },\n   \"maxAgentPools\": 10,\n   \"privateLinkResources\":
        [\n    {\n     \"name\": \"management\",\n     \"type\": \"Microsoft.ContainerService/managedClusters/privateLinkResources\",\n
        \    \"groupId\": \"management\",\n     \"requiredMembers\": [\n      \"management\"\n
        \    ]\n    }\n   ],\n   \"apiServerAccessProfile\": {\n    \"enablePrivateCluster\":
        true,\n    \"privateDNSZone\": \"system\"\n   }\n  },\n  \"sku\": {\n   \"name\":
        \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/2e854c34-ea9f-4933-9e37-d59a68470e1a?api-version=2017-08-31
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/2e854c34-ea9f-4933-9e37-d59a68470e1a?api-version=2017-08-31
  response:
    body:
      string: "{\n  \"name\": \"344c852e-9fea-3349-9e37-d59a68470e1a\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2021-04-07T06:12:45.64Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/2e854c34-ea9f-4933-9e37-d59a68470e1a?api-version=2017-08-31
  response:
    body:
      string: "{\n  \"name\": \"344c852e-9fea-3349-9e37-d59a68470e1a\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2021-04-07T06:12:45.64Z\",\n  \"endTime\":
        \"2021-04-07T06:19:29.0952534Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_aks_test_privateLinkResources407d1004/providers/Microsoft.ContainerService/managedClusters/2/privateLinkResources?api-version=2021-03-01
  response:
    body:
      string: "{\n  \"value\": [\n   {\n    \"name\": \"management\",\n    \"type\":
        \"Microsoft.ContainerService/managedClusters/privateLinkResources\",\n    \"groupId\":
        \"management\",\n    \"requiredMembers\": [\n     \"management\"\n    ]\n
        \  }\n  ]\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
