interactions:
- request:
    body: '{"properties": {"dnsPrefix": "akspythonsdk", "agentPoolProfiles": [{"count":
      1, "vmSize": "Standard_DS2_v2", "maxPods": 110, "osType": "Linux", "maxCount":
      100, "minCount": 1, "enableAutoScaling": true, "type": "VirtualMachineScaleSets",
      "mode": "System", "nodeImageVersion": "AKSUbuntu-1604-2020.06.301", "name":
      "aksagent"}], "servicePrincipalProfile": {"clientId": "8a95323f-4a83-4a69-903f-7d2c69349c3c",
      "secret": "coMr6UcO..OvfiJX@B5]pXr6rsgw28X6"}}, "location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_aks_test_containerservice3c90e74/providers/Microsoft.ContainerService/managedClusters/myResource?api-version=2020-06-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_mgmt_aks_test_containerservice3c90e74/providers/Microsoft.ContainerService/managedClusters/myResource\"\
        ,\n  \"location\": \"eastus\",\n  \"name\": \"myResource\",\n  \"type\": \"\
        Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"\
        provisioningState\": \"Creating\",\n   \"kubernetesVersion\": \"1.16.10\"\
        ,\n   \"dnsPrefix\": \"akspythonsdk\",\n   \"fqdn\": \"akspythonsdk-f1f7d5bb.hcp.eastus.azmk8s.io\"\
        ,\n   \"agentPoolProfiles\": [\n    {\n     \"name\": \"aksagent\",\n    \
        \ \"count\": 1,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\"\
        : 128,\n     \"maxPods\": 110,\n     \"type\": \"VirtualMachineScaleSets\"\
        ,\n     \"maxCount\": 100,\n     \"minCount\": 1,\n     \"enableAutoScaling\"\
        : true,\n     \"provisioningState\": \"Creating\",\n     \"orchestratorVersion\"\
        : \"1.16.10\",\n     \"nodeLabels\": {},\n     \"mode\": \"System\",\n   \
        \  \"osType\": \"Linux\",\n     \"nodeImageVersion\": \"AKSUbuntu-1604-2020.06.30\"\
        \n    }\n   ],\n   \"servicePrincipalProfile\": {\n    \"clientId\": \"8a95323f-4a83-4a69-903f-7d2c69349c3c\"\
        \n   },\n   \"addonProfiles\": {\n    \"KubeDashboard\": {\n     \"enabled\"\
        : true,\n     \"config\": null\n    }\n   },\n   \"nodeResourceGroup\": \"\
        MC_test_mgmt_aks_test_containerservice3c90e74_myResource_eastus\",\n   \"\
        enableRBAC\": true,\n   \"networkProfile\": {\n    \"networkPlugin\": \"kubenet\"\
        ,\n    \"loadBalancerSku\": \"basic\",\n    \"podCidr\": \"10.244.0.0/16\"\
        ,\n    \"serviceCidr\": \"10.0.0.0/16\",\n    \"dnsServiceIP\": \"10.0.0.10\"\
        ,\n    \"dockerBridgeCidr\": \"172.17.0.1/16\",\n    \"outboundType\": \"\
        loadBalancer\"\n   },\n   \"maxAgentPools\": 10\n  },\n  \"sku\": {\n   \"\
        name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/2478369d-57d9-4dca-8901-961229e274d0?api-version=2017-08-31
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/2478369d-57d9-4dca-8901-961229e274d0?api-version=2017-08-31
  response:
    body:
      string: "{\n  \"name\": \"9d367824-d957-ca4d-8901-961229e274d0\",\n  \"status\"\
        : \"InProgress\",\n  \"startTime\": \"2020-08-04T06:43:57.6962917Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_aks_test_containerservice3c90e74/providers/Microsoft.ContainerService/managedClusters/myResource/upgradeProfiles/default?api-version=2020-06-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_mgmt_aks_test_containerservice3c90e74/providers/Microsoft.ContainerService/managedClusters/myResource/upgradeprofiles/default\"\
        ,\n  \"name\": \"default\",\n  \"type\": \"Microsoft.ContainerService/managedClusters/upgradeprofiles\"\
        ,\n  \"properties\": {\n   \"controlPlaneProfile\": {\n    \"kubernetesVersion\"\
        : \"1.16.10\",\n    \"osType\": \"Linux\",\n    \"upgrades\": [\n     {\n\
        \      \"kubernetesVersion\": \"1.17.7\"\n     }\n    ]\n   },\n   \"agentPoolProfiles\"\
        : null\n  }\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/orchestrators?api-version=2019-04-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/orchestrators\"\
        ,\n  \"name\": \"default\",\n  \"type\": \"Microsoft.ContainerService/locations/orchestrators\"\
        ,\n  \"properties\": {\n   \"orchestrators\": [\n    {\n     \"orchestratorType\"\
        : \"Kubernetes\",\n     \"orchestratorVersion\": \"1.6.9\",\n     \"upgrades\"\
        : [\n      {\n       \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\"\
        : \"1.13.11\"\n      },\n      {\n       \"orchestratorType\": \"Kubernetes\"\
        ,\n       \"orchestratorVersion\": \"1.13.12\"\n      }\n     ]\n    },\n\
        \    {\n     \"orchestratorType\": \"Kubernetes\",\n     \"orchestratorVersion\"\
        : \"1.13.11\",\n     \"upgrades\": [\n      {\n       \"orchestratorType\"\
        : \"Kubernetes\",\n       \"orchestratorVersion\": \"1.13.12\"\n      },\n\
        \      {\n    [...]
- request:
    body: '{"clientId": "8a95323f-4a83-4a69-903f-7d2c69349c3c", "secret": "coMr6UcO..OvfiJX@B5]pXr6rsgw28X6"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_aks_test_containerservice3c90e74/providers/Microsoft.ContainerService/managedClusters/myResource/resetServicePrincipalProfile?api-version=2020-06-01
  response:
    body:
      string: "{\n[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operationresults/e4a39d5f-2f14-49b2-a59e-890c5cfe73b7?api-version=2017-08-31
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operationresults/e4a39d5f-2f14-49b2-a59e-890c5cfe73b7?api-version=2017-08-31
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_aks_test_containerservice3c90e74/providers/Microsoft.ContainerService/managedClusters/myResource/rotateClusterCertificates?api-version=2020-06-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_mgmt_aks_test_containerservice3c90e74/providers/Microsoft.Co[...]
[...]
- request:
    body: '{"tags": {"tier": "testing", "archv3": ""}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_aks_test_containerservice3c90e74/providers/Microsoft.ContainerService/managedClusters/myResource?api-version=2020-06-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_mgmt_aks_test_containerservice3c90e74/providers/Microsoft.C[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/25283d3f-9ec5-4e45-8933-6426303fa953?api-version=2017-08-31
  response:
    body:
      string: "{\n  \"name\": \"3f3d2825-c59e-454e-8933-6426303fa953\",\n  \"status\"\
        : \"Succeeded\",\n  \"startTime\": \"2020-08-04T07:08:10.1669129Z\",\n  \"\
        endTime\": \"2020-08-04T07:14:09.0690771Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
