interactions:
- request:
    body: '{"location": "westus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_network_test_network_interface_cardb046129e/providers/Microsoft.Network/virtualNetworks/pyvnetb046129e?api-version=2017-10-01
  response:
    body: {string: "{\r\n  \"name\": \"pyvnetb046129e\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_network_test_network_interface_cardb046129e/providers/Microsoft.Network/virtualNetworks/pyvnetb046129e\"\
        ,\r\n  \"etag\": \"W/\\\"529e3689-ff18-4110-b8cd-7421863b1497\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"resourceGuid\": \"da73b6a0-b674-492b-9c42-c2924837996b\",\r\n    \"\
        addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\
        \r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\"\
        : [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\"\
        : false\r\n  }\r\n}"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/972c0533-293e-40aa-9291-d1b341268885?api-version=2017-10-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/972c0533-293e-40aa-9291-d1b341268885?api-version=2017-10-01
  response:
    body: {string: "{\r\n  \"status\": \"Succeeded\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"addressPrefix": "10.0.0.0/24"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_network_test_network_interface_cardb046129e/providers/Microsoft.Network/virtualNetworks/pyvnetb046129e/subnets/pysubnetb046129e?api-version=2017-10-01
  response:
    body: {string: "{\r\n  \"name\": \"pysubnetb046129e\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_network_test_network_interface_cardb046129e/providers/Microsoft.Network/virtualNetworks/pyvnetb046129e/subnets/pysubnetb046129e\"\
        ,\r\n  \"etag\": \"W/\\\"05fc251c-39b6-4827-9703-2d20c3c28c7a\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"\
        addressPrefix\": \"10.0.0.0/24\"\r\n  }\r\n}"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/66d424b5-165a-47db-89b4-9a03ace87799?api-version=2017-10-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: 'b''b\''b\\\''{"location": "westus", "properties": {"ipConfigurations":
      [{"properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_network_test_network_interface_cardb046129e/providers/Microsoft.Network/virtualNetworks/pyvnetb046129e/subnets/pysubnetb046129e"}},
      "name": "MyIpConfig"}]}}\\\''\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_network_test_network_interface_cardb046129e[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_network_test_network_interface_cardb046129e/providers/Microsoft.Network/networkInterfaces/pynicb046129e?api-version=2017-10-01
  response:
    body: {string: "{\r\n  \"name\": \"pynicb046129e\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_network_test_network_interface_cardb046129e/providers/Microsoft.Network/networkInterfaces/pynicb046129e\"\
        ,\r\n  \"etag\": \"W/\\\"e1f504d6-5274-40e2-a665-8bda4eeba8a7\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"resourceGuid\": \"9e78c089-52b3-4d1b-b3fa-7dc7a1a7b81e\"\
        ,\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"MyIpConfig\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_network_test_network_interface_cardb046129e/providers/Microsoft.Network/networkInterfaces/pynicb046129e/ipConfigurations/MyIpConfig\"\
        ,\r\n        \"etag\": \"W/\\\"e1f504d6-5274-40e2-a665-8bda4eeba8a7\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\"\
        : \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_network_test_network_interface_cardb046129e/providers/Microsoft.Network/virtualNetworks/pyvnetb046129e/subnets/pysubnetb046129e\"\
        \r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\"\
        : \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n\
        \      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"\
        internalDomainNameSuffix\": \"uc1hhwtuwyvuthccykjeqn2znd.dx.internal.cloudapp.net\"\
        \r\n    },\r\n    \"enableAcceleratedNetworking\": false,\r\n    \"enableIPForwarding\"\
        : false\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n\
        }"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"e1f504d6-5274-40e2-a665-8bda4eeba8a7"]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_network_test_network_interface_cardb046129e/providers/Microsoft.Network/networkInterfaces?api-version=2017-10-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"pynicb046129e\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_network_test_network_interface_cardb046129e/providers/Microsoft.Network/networkInterfaces/pynicb046129e\"\
        ,\r\n      \"etag\": \"W/\\\"e1f504d6-5274-40e2-a665-8bda4eeba8a7\\\"\",\r\
        \n      \"location\": \"westus\",\r\n      \"properties\": {\r\n        \"\
        provisioningState\": \"Succeeded\",\r\n        \"resourceGuid\": \"9e78c089-52b3-4d1b-b3fa-7dc7a1a7b81e\"\
        ,\r\n        \"ipConfigurations\": [\r\n          {\r\n            \"name\"\
        : \"MyIpConfig\",\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_network_test_network_interface_cardb046129e/providers/Microsoft.Network/networkInterfaces/pynicb046129e/ipConfigurations/MyIpConfig\"\
        ,\r\n            \"etag\": \"W/\\\"e1f504d6-5274-40e2-a665-8bda4eeba8a7\\\"\
        \",\r\n            \"properties\": {\r\n              \"provisioningState\"\
        : \"Succeeded\",\r\n              \"privateIPAddress\": \"10.0.0.4\",\r\n\
        \              \"privateIPAllocationMethod\": \"Dynamic\",\r\n           \
        \   \"subnet\": {\r\n                \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_network_test_network_interface_cardb046129e/providers/Microsoft.Network/virtualNetworks/pyvnetb046129e/subnets/pysubnetb046129e\"\
        \r\n              },\r\n              \"primary\": true,\r\n             \
        \ \"privateIPAddressVersion\": \"IPv4\"\r\n            }\r\n          }\r\n\
        \        ],\r\n        \"dnsSettings\": {\r\n          \"dnsServers\": [],\r\
        \n          \"appliedDnsServers\": [],\r\n          \"internalDomainNameSuffix\"\
        : \"uc1hhwtuwyvuthccykjeqn2znd.dx.internal.cloudapp.net\"\r\n        },\r\n\
        \        \"enableAcceleratedNetworking\": false,\r\n        \"enableIPForwarding\"\
        : false\r\n      },\r\n      \"type\": \"Microsoft.Network/networkInterfaces\"\
        \r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/networkInterfaces?api-version=2017-10-01
  response:
    body: {string: '{"value":[{"name":"amar-1VMNic","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/amar/providers/Microsoft.Network/networkInterfaces/amar-1VMNic","etag":"W/\"be396889-f369-4741-805d-650d3986ad83\"","location":"westus","tags":{},"properties":{"provisioningState":"Succeeded","resourceGuid":"a823c273-0688-47ea-85ad-59eac8b85b9f","ipConfigurations":[{"name":"ipconfigamar-1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/amar/providers/Microsoft.Network/networkInterfaces/amar-1VMNic/ipConfigurations/ipconfigamar-1","etag":"W/\"be396889-f369-4741-805d-650d3986ad83\"","properties":{"provisioningState":"Succeeded","privateIPAddress":"10.0.0.4","privateIPAllocationMethod":"Dynamic","publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/amar/providers/Microsoft.Network/publicIPAddresses/amar-1PublicIP"},"subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/amar/providers/Microsoft.Network/virtualNetworks/amar-1VNET/subnets/amar-1Subnet"},"primary":true,"privateIPAddressVersion":"IPv4"}}],"dnsSettings":{"dnsServers":[],"appliedDnsServers":[]},"macAddress":"00-0D-3A-32-E5-45","enableAcceleratedNetworking":false,"enableIPForwarding":false,"networkSecurityGroup":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/amar/providers/Microsoft.Network/networkSecurityGroups/amar-1NSG"}},"type":"Microsoft.Network/networkInterfaces"},{"name":"favy345tg","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/favvb1/providers/Microsoft.Network/networkInterfaces/favy345tg","etag":"W/\"98904abf-787b-4f02-843b-add53c950c4c\"","location":"westus","properties":{"provisioningState":"Succeeded","resourceGuid":"3d50db43-fecd-4563-ba00-e14e657bd4d3","ipConfigurations":[{"name":"ipconfig1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/favvb1/providers/Microsoft.Network/networkInterfaces/favy345tg/ipConfigurations/ipconfig1","etag":"W/\"98904abf-787b-4f02-843b-add53c950c4c\"","properties":{"provisioningState":"Succeeded","privateIPAddress":"192.168.1.4","privateIPAllocationMethod":"Dynamic","publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/favvb1/providers/Microsoft.Network/publicIPAddresses/favy345tg"},"subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/favvb1/providers/Microsoft.Network/virtualNetworks/favy345tg/subnets/favy345tg"},"primary":true,"privateIPAddressVersion":"IPv4"}}],"dnsSettings":{"dnsServers":[],"appliedDnsServers":[],"internalDomainNameSuffix":"5qhgjwhhtk0urlevepbfj1ix2b.dx.internal.cloudapp.net"},"macAddress":"00-0D-3A-33-B2-62","enableAcceleratedNetworking":false,"enableIPForwarding":false,"networkSecurityGroup":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/favvb1/providers/Microsoft.Network/networkSecurityGroups/favy345tg"},"primary":true,"virtualMachine":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/favvb1/providers/Microsoft.Compute/virtualMachines/favy345tg"}},"type":"Microsoft.Network/networkInterfaces"},{"name":"lmazuel-docker-machine-nic","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/lmazuel-docker-machine/providers/Microsoft.Network/networkInterfaces/lmazuel-docker-machine-nic","etag":"W/\"dc5ea538-46a9-4a36-8f77-e1362c45ab8a\"","location":"westus","properties":{"provisioningState":"Su[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/85debdd7-cb1e-443e-bcd0-977d6894fed4?api-version=2017-10-01
  response:
    body: {string: "{\r\n  \"status\": \"Succeeded\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
