interactions:
- request:
    body: '{"location": "westus", "properties": {"publicIPAllocationMethod": "static",
      "idleTimeoutInMinutes": 4}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_network_test_load_balancers239e0f35/providers/Microsoft.Network/publicIPAddresses/pyipname239e0f35?api-version=2018-12-01
  response:
    body: {string: "{\r\n  \"name\": \"pyipname239e0f35\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_network_test_load_balancers239e0f35/providers/Microsoft.Network/publicIPAddresses/pyipname239e0f35\",\r\n
        \ \"etag\": \"W/\\\"e79df034-1b25-416f-9472-0c81ab182718\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"0aa12770-623c-4f1a-ae92-e2e99f9fbc41\",\r\n    \"publicIPAddressVersion\":
        \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Regional\"\r\n
        \ }\r\n}"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/c0cc8854-3b09-443b-bcbb-9dfd7b44b1c3?api-version=2018-12-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/c0cc8854-3b09-443b-bcbb-9dfd7b44b1c3?api-version=2018-12-01
  response:
    body: {string: "{\r\n  \"status\": \"InProgress\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_network_test_load_balancers239e0f35/providers/Microsoft.Network/publicIPAddresses/pyipname239e0f35?api-version=2018-12-01
  response:
    body: {string: "{\r\n  \"name\": \"pyipname239e0f35\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_network_test_load_balancers239e0f35/providers/Microsoft.Network/publicIPAddresses/pyipname239e0f35\",\r\n
        \ \"etag\": \"W/\\\"5f809c9b-c004-427b-996f-5dfd6cb37661\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"0aa12770-623c-4f1a-ae92-e2e99f9fbc41\",\r\n    \"ipAddress\":
        \"104.42.170.129\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\":
        \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n
        \ },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\":
        {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"5f809c9b-c004-427b-996f-5dfd6cb37661"]
    status: {code: 200, message: OK}
- request:
    body: 'b''b\''b\\\''b\\\\\\\''{"location": "westus", "properties": {"frontendIPConfigurations":
      [{"properties": {"privateIPAllocationMethod": "Dynamic", "publicIPAddress":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_network_test_load_balancers239e0f35/providers/Microsoft.Network/publicIPAddresses/pyipname239e0f35"}},
      "name": "pyfipname239e0f35"}], "backendAddressPools": [{"name": "pyapname239e0f35"}],
      "loadBalancingRules": [{"properties": {"frontendIPConfiguration": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_network_test_load_balancers239e0f35/providers/Microsoft.Network/loadBalancers/pylbname239e0f35/frontendIPConfigurations/pyfipname239e0f35"},
      "backendAddressPool": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_network_test_load_balancers239e0f35/providers/Microsoft.Network/loadBalancers/pylbname239e0f35/backendAddressPools/pyapname239e0f35"},
      "probe": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_network_test_load_balancers239e0f35/providers/Microsoft.Network/loadBalancers/pylbname239e0f35/probes/pyprobename239e0f35"},
      "protocol": "tcp", "loadDistribution": "Default", "frontendPort": 80, "backendPort":
      80, "idleTimeoutInMinutes": 4, "enableFloatingIP": false}, "name": "azure-sample-lb-rule"}],
      "probes": [{"properties": {"protocol": "Http", "port": 80, "intervalInSeconds":
      15, "numberOfProbes": 4, "requestPath": "healthprobe.aspx"}, "name": "pyprobename239e0f35"}],
      "inboundNatRules": [{"properties": {"frontendIPConfiguration": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_network_test_load_balancers239e0f35/providers/Microsoft.Network/loadBalancers/pylbname239e0f35/frontendIPConfigurations/pyfipname239e0f35"},
      "protocol": "tcp", "frontendPort": 21, "backendPort": 22, "idleTimeoutInMinutes":
      4, "enableFloatingIP": false}, "name": "azure-sample-netrule1"}, {"properties":
      {"frontendIPConfiguration": {"id": "/subscription[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_network_test_load_balancers239e0f35/providers/Microsoft.Network/loadBalancers/pylbname239e0f35?api-version=2018-12-01
  response:
    body: {string: "{\r\n  \"name\": \"pylbname239e0f35\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_network_test_load_balancers239e0f35/providers/Micr[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/loadBalancers?api-version=2018-12-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"pylbname239e0f35\",\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_network_test_load_balancers239e0f35/providers/Microsoft.Network/loadBalancers/pylbname239e0f35\",\r\n
        \     \"etag\": \"W/\\\"a59cc51e-e5b9-47d1-b297-0c65362a953c\\\"\",\r\n      \"type\":
        \"Microsoft.Network/loadBalancers\",\r\n      \"location\": \"westus\",\r\n
        \     \"properties\": {\r\n        \"provisioningStat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_network_test_load_balancers239e0f35/providers/Microsoft.Network/loadBalancers?api-version=2018-12-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"pylbname239e0f35\",\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_network_test_load_balan[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/2ea2b706-5fb7-4d04-a6b7-864ba59183f3?api-version=2018-12-01
  response:
    body: {string: "{\r\n  \"status\": \"Succeeded\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
