{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11990",
        "x-ms-response-type": "standard",
        "x-request-time": "0.085"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isDefault": true,
          "credentials": {
            "credentialsType": "AccountKey"
          },
          "datastoreType": "AzureBlob",
          "accountName": "saepx233f6dxv32",
          "containerName": "azureml-blobstore-d119dabf-8a46-4aef-8902-c34226884b37",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
        },
        "systemData": {
          "createdAt": "2023-05-24T01:52:07.9601697\u002B00:00",
          "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "createdByType": "Application",
          "lastModifiedAt": "2023-05-24T01:52:08.5991504\u002B00:00",
          "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2022-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1195",
        "x-ms-response-type": "standard",
        "x-request-time": "0.096"
      },
      "ResponseBody": {
        "secretsType": "AccountKey",
        "key": "dGhpcyBpcyBmYWtlIGtleQ=="
      }
    },
    {
      "RequestUri": "https://saepx233f6dxv32.blob.core.windows.net/azureml-blobstore-d119dabf-8a46-4aef-8902-c34226884b37/LocalUpload/00000000000000000000000000000000/feature_set/FeatureSetSpec.yaml",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Fri, 02 Jun 2023 07:51:15 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "lFNhOjR/nIcD9YTHfzKQXw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB6317BB056BE7\u0022",
        "Last-Modified": "Fri, 02 Jun 2023 03:16:17 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 02 Jun 2023 03:16:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "e2etest_test_491543193670",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://saepx233f6dxv32.blob.core.windows.net/azureml-blobstore-d119dabf-8a46-4aef-8902-c34226884b37/az-ml-artifacts/00000000000000000000000000000000/feature_set/FeatureSetSpec.yaml",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Fri, 02 Jun 2023 07:51:16 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/featuresets/e2etest_fset_jobs/versions/1?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "Feature set description",
          "properties": {
            "featuresetPropertiesVersion": "1",
            "featuresetProperties": "{\u0022source\u0022: {\u0022type\u0022: \u0022mltable\u0022, \u0022path\u0022: \u0022../../../Datasources/driver\u0022, \u0022timestamp_column\u0022: {\u0022name\u0022: \u0022datetime\u0022, \u0022format\u0022: \u0022%Y-%m-%d %H:%M:%S%z\u0022}, \u0022source_delay\u0022: {\u0022days\u0022: 2, \u0022hours\u0022: 0, \u0022minutes\u0022: 0}}, \u0022featureTransformationCode\u0022: {\u0022Path\u0022: \u0022./code\u0022, \u0022TransformerClass\u0022: \u0022driver_hourly_transform.DriverHourlyTransformer\u0022}, \u0022features\u0022: [{\u0022FeatureName\u0022: \u0022conv_rate\u0022, \u0022DataType\u0022: \u0022double\u0022}, {\u0022FeatureName\u0022: \u0022acc_rate\u0022, \u0022DataType\u0022: \u0022double\u0022}, {\u0022FeatureName\u0022: \u0022avg_daily_trips\u0022, \u0022DataType\u0022: \u0022double\u0022}], \u0022indexColumns\u0022: [{\u0022ColumnName\u0022: \u0022driver_id\u0022, \u0022DataType\u0022: \u0022long\u0022}], \u0022sourceLookback\u0022: {\u0022Days\u0022: 30, \u0022Hours\u0022: 0, \u0022Minutes\u0022: 0}, \u0022temporalJoinLookback\u0022: {\u0022Days\u0022: 2, \u0022Hours\u0022: 0, \u0022Minutes\u0022: 0}}"
          },
          "tags": {
            "t1": "v1"
          },
          "isAnonymous": false,
          "isArchived": false,
          "entities": [
            "azureml:e2etest_fs_entity:1"
          ],
          "materializationSettings": {
            "resource": {
              "instanceType": "standard_e4s_v3"
            },
            "sparkConfiguration": {
              "spark.driver.cores": "2",
              "spark.driver.memory": "18g",
              "spark.executor.cores": "4",
              "spark.executor.memory": "18g",
              "spark.executor.instances": "5"
            },
            "storeType": "Offline"
          },
          "specification": {
            "path": "azureml://subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000/datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/feature_set"
          },
          "stage": "Development"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/featuresets/e2etest_fset_jobs/versions/1?api-version=2023-04-01-preview",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1195",
        "x-ms-response-type": "standard",
        "x-request-time": "3.341"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-000[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/featuresets/e2etest_fset_jobs/versions/1/backfill?api-version=2023-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "featureWindow": {
          "featureWindowEnd": "2023-06-02T00:51:35.000131Z",
          "featureWindowStart": "2023-06-01T00:51:35.000131Z"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1191",
        "x-ms-response-type": "standard",
        "x-request-time": "3.437"
      },
      "ResponseBody": {
        "type": "BackfillMaterialization",
        "jobId": "Featurestore-Materialization-BackfillJob-e2etest_fset_jobs-1-cf520d8d",
        "experimentId": null,
        "displayName": null,
        "createdDate": null,
        "duration": null,
        "status": "Unknown",
        "featureWindow": null,
        "tags": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/featuresets/e2etest_fset_jobs/versions/1/listMaterializationJobs?api-version=2023-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.678"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "BackfillMaterialization",
            "jobId": "Featurestore-Materialization-BackfillJob-e2etest_fset_jobs-1-3df1c5c2",
            "experimentId": "e9fc7585-c154-473d-bfdc-333242d8f895",
            "displayName": "stoic_pipe_3djxx9f6",
            "createdDate": "2023-06-02T10:22:36.9619921\u002B00:00",
            "duration": "PT1M49.7591966S",
            "status": "Failed",
            "featureWindow": {
              "featureWindowStart": "2023-05-22T03:22:33\u002B00:00",
              "featureWindowEnd": "2023-05-23T03:22:33\u002B00:00"
            },
            "tags": {
              "featuresetName": "e2etest_fset_jobs",
              "featuresetVersion": "1",
              "featurestoreName": "00000",
              "featureWindowStart": "05/22/2023 03:22:33 \u002B00:00",
              "featureWindowEnd": "05/23/2023 03:22:33 \u002B00:00",
              "isBackfill": "True"
            }
          },
          {
            "type": "BackfillMaterialization",
            "jobId": "Featurestore-Materialization-BackfillJob-e2etest_fset_jobs-1-145a0087",
            "experimentId": "e9fc7585-c154-473d-bfdc-333242d8f895",
            "displayName": "plucky_drain_n28gzj28",
            "createdDate": "2023-06-02T10:07:32.223751\u002B00:00",
            "duration": "PT1M48.5810956S",
            "status": "Failed",
            "featureWindow": {
              "fea[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/featuresets/e2etest_fset_jobs/versions/1/listMaterializationJobs?api-version=2023-04-01-preview\u0026$skipToken=H4sIAAAAAAAAAz2MMQqAMAxF75LZQSehq0Vw0MVeIGDEYElEUxCkdxc7OD3-g_8emDc8l6AFnYqxJDRWCbqTgHtgTNHYSFDsmxPdNu98gGvqCoarHL0KgVsxXlSB56XIHjn-Mqhh7DR9kabNOb_X8htQegAAAA",
      "RequestMethod": "POST",
      "Req[...]
