interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://servicebustestsbname.servicebus.windows.net/$Resources/topics?$skip=0&$top=100&api-version=2017-04
  response:
    body:
      string: <feed xmlns="http://www.w3.org/2005/Atom"><title type="text">Topics</title><id>https://servicebustestebgplp6kll.servicebus.windows.net/$Resources/topics?$skip=0&amp;$top=100&amp;api-version=2017-04</id><updated>2020-11-23T20:27:33Z</updated><link
        rel="self" href="https://servicebustestebgplp6kll.servicebus.windows.net/$Resources/topics?$skip=0&amp;$top=100&amp;api-version=2017-04"/></feed>
    headers:
      content-type: application/atom+xml;type=feed;charset=utf-8
    status:
      code: 200
      message: OK
    url: https://servicebustestebgplp6kll.servicebus.windows.net/$Resources/topics?$skip=0&$top=100&api-version=2017-04
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><TopicDescription /></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/dqkodq?api-version=2017-04
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestebgplp6kll.servicebus.windows.net/dqkodq?api-version=2017-04</id><title
        type="text">dqkodq</title><published>2020-11-23T20:27:33Z</published><updated>2020-11-23T20:27:33Z</updated><author><name>servicebustestebgplp6kll</name></author><link
        rel="self" href="https://servicebustestebgplp6kll.servicebus.windows.net/dqkodq?api-version=2017-04"/><content
        type="application/xml"><TopicDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><FilteringMessagesBeforePublishing>false</FilteringMessagesBeforePublishing><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2020-11-23T20:27:33.63Z</CreatedAt><UpdatedAt>2020-11-23T20:27:33.68Z</UpdatedAt><SupportOrdering>true</SupportOrdering><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableSubscriptionPartitioning>false</EnableSubscriptionPartitioning><EnableExpress>false</EnableExpress></TopicDescription></content></entry>
    headers:
      content-type: application/atom+xml;type=entry;charset=utf-8
    status:
      code: 201
      message: Created
    url: https://servicebustestebgplp6kll.servicebus.windows.net/dqkodq?api-version=2017-04
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><SubscriptionDescription /></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/dqkodq/subscriptions/kkaqo?api-version=2017-04
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestebgplp6kll.servicebus.windows.net/dqkodq/subscriptions/kkaqo?api-version=2017-04</id><title
        type="text">kkaqo</title><published>2020-11-23T20:27:34Z</published><updated>2020-11-23T20:27:34Z</updated><link
        rel="self" href="https://servicebustestebgplp6kll.servicebus.windows.net/dqkodq/subscriptions/kkaqo?api-version=2017-04"/><content
        type="application/xml"><SubscriptionDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><LockDuration>PT1M</LockDuration><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DeadLetteringOnFilterEvaluationExceptions>true</DeadLetteringOnFilterEvaluationExceptions><MessageCount>0</MessageCount><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><Status>Active</Status><CreatedAt>2020-11-23T20:27:34.1368312Z</CreatedAt><UpdatedAt>2020-11-23T20:27:34.1368312Z</UpdatedAt><AccessedAt>0001-01-01T00:00:00</AccessedAt><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EntityAvailabilityStatus>Available</EntityAvailabilityStatus></SubscriptionDescription></content></entry>
    headers:
      content-type: application/atom+xml;type=entry;charset=utf-8
      etag: '637417600536800000'
    status:
      code: 201
      message: Created
    url: https://servicebustestebgplp6kll.servicebus.windows.net/dqkodq/subscriptions/kkaqo?api-version=2017-04
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><ns0:content type="application/xml"><RuleDescription><Filter
      xsi:type="SqlFilter"><SqlExpression>Priority = ''low''</SqlExpression><CompatibilityLevel>20</CompatibilityLevel><RequiresPreprocessing>true</RequiresPreprocessing></Filter><Action
      xsi:type="EmptyRuleAction" /><Name>rule</Name></RuleDescription></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/dqkodq/subscriptions/kkaqo/rules/rule?api-version=2017-04
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestebgplp6kll.servicebus.windows.net/dqkodq/subscriptions/kkaqo/rules/rule?api-version=2017-04</id><title
        type="text">rule</title><published>2020-11-23T20:27:34Z</published><updated>2020-11-23T20:27:34Z</updated><link
        rel="self" href="https://servicebustestebgplp6kll.servicebus.windows.net/dqkodq/subscriptions/kkaqo/rules/rule?api-version=2017-04"/><content
        type="application/xml"><RuleDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><Filter i:type="SqlFilter"><SqlExpression>Priority
        = 'low'</SqlExpression><CompatibilityLevel>20</CompatibilityLevel><RequiresPreprocessing>true</RequiresPreprocessing></Filter><Action
        i:type="EmptyRuleAction"/><CreatedAt>2020-11-23T20:27:34.4180924Z</CreatedAt><Name>rule</Name></RuleDescription></content></entry>
    headers:
      content-type: application/atom+xml;type=entry;charset=utf-8
      etag: '637417600536800000'
    status:
      code: 201
      message: Created
    url: https://servicebustestebgplp6kll.servicebus.windows.net/dqkodq/subscriptions/kkaqo/rules/rule?api-version=2017-04
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><ns0:content type="application/xml"><RuleDescription><Filter
      xsi:type="SqlFilter"><SqlExpression>Priority = ''low''</SqlExpression><CompatibilityLevel>20</CompatibilityLevel><RequiresPreprocessing>true</RequiresPreprocessing></Filter><Action
      xsi:type="EmptyRuleAction" /><Name>rule</Name></RuleDescription></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/dqkodq/subscriptions/kkaqo/rules/rule?api-version=2017-04
  response:
    body:
      string: <Error><Code>409</Code><Detail>The messaging entity 'servicebustestsbname:Topic:dqkodq|kkaqo|rule'
        already exists. To know more visit https://aka.ms/sbResourceMgrExceptions.  TrackingId:45ade154-b11b-4ed8-af3d-d19ad487cae4_B5,
        SystemTracker:NoSystemTracker, Timestamp:2020-11-23T20:27:34</Detail></Error>
    headers:
      content-type: application/xml; charset=utf-8
      etag: '637417600536800000'
    status:
      code: 409
      message: Conflict
    url: https://servicebustestebgplp6kll.servicebus.windows.net/dqkodq/subscriptions/kkaqo/rules/rule?api-version=2017-04
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://servicebustestsbname.servicebus.windows.net/dqkodq?api-version=2017-04
  response:
    body:
      string: ''
    headers:
      etag: '637417600536800000'
    status:
      code: 200
      message: OK
    url: https://servicebustestebgplp6kll.servicebus.windows.net/dqkodq?api-version=2017-04
version: 1
