interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns:ns1="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><ns1:QueueDescription /></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/test_queue?api-version=2017-04
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustesthsyuclhdfl.servicebus.windows.net/test_queue?api-version=2017-04</id><title
        type="text">test_queue</title><published>2020-06-05T23:48:33Z</published><updated>2020-06-05T23:48:34Z</updated><author><name>servicebustesthsyuclhdfl</name></author><link
        rel="self" href="https://servicebustesthsyuclhdfl.servicebus.windows.net/test_queue?api-version=2017-04"/><content
        type="application/xml"><QueueDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><LockDuration>PT1M</LockDuration><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><MessageCount>0</MessageCount><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2020-06-05T23:48:33.97Z</CreatedAt><UpdatedAt>2020-06-05T23:48:34.09Z</UpdatedAt><SupportOrdering>true</SupportOrdering><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableExpress>false</EnableExpress></QueueDescription></content></entry>
    headers:
      content-type: application/atom+xml;type=entry;charset=utf-8
    status:
      code: 201
      message: Created
    url: https://servicebustesthsyuclhdfl.servicebus.windows.net/test_queue?api-version=2017-04
- request:
    body: null
    headers:
    method: GET
    uri: https://servicebustestsbname.servicebus.windows.net/$Resources/queues?$skip=0&$top=100&api-version=2017-04
  response:
    body:
      string: <feed xmlns="http://www.w3.org/2005/Atom"><title type="text">Queues</title><id>https://servicebustesthsyuclhdfl.servicebus.windows.net/$Resources/queues?$skip=0&amp;$top=100&amp;api-version=2017-04</id><updated>2020-06-05T23:48:35Z</updated><link
        rel="self" href="https://servicebustesthsyuclhdfl.servicebus.windows.net/$Resources/queues?$skip=0&amp;$top=100&amp;api-version=2017-04"/><entry
        xml:base="https://servicebustesthsyuclhdfl.servicebus.windows.net/$Resources/queues?$skip=0&amp;$top=100&amp;api-version=2017-04"><id>https://servicebustesthsyuclhdfl.servicebus.windows.net/test_queue?api-version=2017-04</id><title
        type="text">test_queue</title><published>2020-06-05T23:48:33Z</published><updated>2020-06-05T23:48:34Z</updated><author><name>servicebustesthsyuclhdfl</name></author><link
        rel="self" href="../test_queue?api-version=2017-04"/><content type="application/xml"><QueueDescription
        xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><LockDuration>PT1M</LockDuration><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><MessageCount>0</MessageCount><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2020-06-05T23:48:33.97Z</CreatedAt><UpdatedAt>2020-06-05T23:48:34.09Z</UpdatedAt><AccessedAt>0001-01-01T00:00:00Z</AccessedAt><SupportOrdering>true</SupportOrdering><CountDetails
        xmlns:d2p1="http://schemas.microsoft.com/netservices/2011/06/servicebus"><d2p1:ActiveMessageCount>0</d2p1:ActiveMessageCount><d2p1:DeadLetterMessageCount>0</d2p1:DeadLetterMessageCount><d2p1:ScheduledMessageCount>0</d2p1:ScheduledMessageCount><d2p1:TransferMessageCount>0</d2p1:TransferMessageCount><d2p1:TransferDeadLetterMessageCount>0</d2p1:TransferDeadLetterMessageCount></CountDetails><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableExpress>false</EnableExpress></QueueDescription></content></entry></feed>
    headers:
      content-type: application/atom+xml;type=feed;charset=utf-8
    status:
      code: 200
      message: OK
    url: https://servicebustesthsyuclhdfl.servicebus.windows.net/$Resources/queues?$skip=0&$top=100&api-version=2017-04
- request:
    body: null
    headers:
    method: DELETE
    uri: https://servicebustestsbname.servicebus.windows.net/test_queue?api-version=2017-04
  response:
    body:
      string: ''
    headers:
      etag: '637269977140900000'
    status:
      code: 200
      message: OK
    url: https://servicebustesthsyuclhdfl.servicebus.windows.net/test_queue?api-version=2017-04
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://servicebustestsbname.servicebus.windows.net/test_queue?api-version=2017-04
  response:
    body:
      string: <Error><Code>404</Code><Detail>No service is hosted at the specified
        address. TrackingId:926b2aeb-2830-4776-b90c-af9b5f09787c_G12, SystemTracker:servicebustestsbname.servicebus.windows.net:test_queue,
        Timestamp:2020-06-05T23:48:36</Detail></Error>
    headers:
      content-type: application/xml; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://servicebustesthsyuclhdfl.servicebus.windows.net/test_queue?api-version=2017-04
- request:
    body: null
    headers:
    method: DELETE
    uri: https://servicebustestsbname.servicebus.windows.net/non_existing_queue?api-version=2017-04
  response:
    body:
      string: <Error><Code>404</Code><Detail>No service is hosted at the specified
        address. TrackingId:e4061f0e-f50b-48b7-9944-df9709f401fd_G12, SystemTracker:servicebustestsbname.servicebus.windows.net:non_existing_queue,
        Timestamp:2020-06-05T23:48:37</Detail></Error>
    headers:
      content-type: application/xml; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://servicebustesthsyuclhdfl.servicebus.windows.net/non_existing_queue?api-version=2017-04
version: 1
