interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://servicebustestsbname.servicebus.windows.net/non_existing_queue?enrich=false&api-version=2017-04
  response:
    body:
      string: <feed xmlns="http://www.w3.org/2005/Atom"><title type="text">Publicly
        Listed Services</title><subtitle type="text">This is the list of publicly-listed
        services currently available.</subtitle><id>uuid:e5d65387-b81e-42e1-8cda-1967db5463ea;id=30095</id><updated>2020-09-29T08:33:00Z</updated><generator>Service
        Bus 1.1</generator></feed>
    headers:
      content-type: application/atom+xml;type=feed;charset=utf-8
    status:
      code: 200
      message: OK
    url: https://servicebustestrm7a5oi5hk.servicebus.windows.net/non_existing_queue?enrich=false&api-version=2017-04
version: 1
