interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://servicebustestsbname.servicebus.windows.net/$Resources/queues?$skip=0&$top=100&api-version=2017-04
  response:
    body:
      string: <feed xmlns="http://www.w3.org/2005/Atom"><title type="text">Queues</title><id>https://servicebustest32ip2wgoaa.servicebus.windows.net/$Resources/queues?$skip=0&amp;$top=100&amp;api-version=2017-04</id><updated>2020-08-17T08:03:25Z</updated><link
        rel="self" href="https://servicebustest32ip2wgoaa.servicebus.windows.net/$Resources/queues?$skip=0&amp;$top=100&amp;api-version=2017-04"/></feed>
    headers:
      content-type: application/atom+xml;type=feed;charset=utf-8
    status:
      code: 200
      message: OK
    url: https://servicebustest32ip2wgoaa.servicebus.windows.net/$Resources/queues?$skip=0&$top=100&api-version=2017-04
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><QueueDescription /></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/eriodk?api-version=2017-04
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustest32ip2wgoaa.servicebus.windows.net/eriodk?api-version=2017-04</id><title
        type="text">eriodk</title><published>2020-08-17T08:03:26Z</published><updated>2020-08-17T08:03:26Z</updated><author><name>servicebustest32ip2wgoaa</name></author><link
        rel="self" href="https://servicebustest32ip2wgoaa.servicebus.windows.net/eriodk?api-version=2017-04"/><content
        type="application/xml"><QueueDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><LockDuration>PT1M</LockDuration><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><MessageCount>0</MessageCount><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2020-08-17T08:03:26.427Z</CreatedAt><UpdatedAt>2020-08-17T08:03:26.457Z</UpdatedAt><SupportOrdering>true</SupportOrdering><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableExpress>false</EnableExpress></QueueDescription></content></entry>
    headers:
      content-type: application/atom+xml;type=entry;charset=utf-8
    status:
      code: 201
      message: Created
    url: https://servicebustest32ip2wgoaa.servicebus.windows.net/eriodk?api-version=2017-04
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><QueueDescription /></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/eriodk?api-version=2017-04
  response:
    body:
      string: <Error><Code>409</Code><Detail>SubCode=40900. Conflict. You're requesting
        an operation that isn't allowed in the resource's current state. To know more
        visit https://aka.ms/sbResourceMgrExceptions. . TrackingId:d101ace7-4956-4c77-819c-5bed2275081f_G9,
        SystemTracker:servicebustestsbname.servicebus.windows.net:eriodk, Timestamp:2020-08-17T08:03:27</Detail></Error>
    headers:
      content-type: application/xml; charset=utf-8
      etag: '637332482064570000'
    status:
      code: 409
      message: Conflict
    url: https://servicebustest32ip2wgoaa.servicebus.windows.net/eriodk?api-version=2017-04
- request:
    body: null
    headers:
    method: DELETE
    uri: https://servicebustestsbname.servicebus.windows.net/eriodk?api-version=2017-04
  response:
    body:
      string: ''
    headers:
      etag: '637332482064570000'
    status:
      code: 200
      message: OK
    url: https://servicebustest32ip2wgoaa.servicebus.windows.net/eriodk?api-version=2017-04
version: 1
