interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns:ns1="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><ns1:QueueDescription /></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/vbmfm?api-version=2017-04
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestsbname.servicebus.windows.net/vbmfm?api-version=2017-04</id><title
        type="text">vbmfm</title><published>2020-06-06T00:01:01Z</published><updated>2020-06-06T00:01:01Z</updated><author><name>servicebustestsbname</name></author><link
        rel="self" href="https://servicebustestsbname.servicebus.windows.net/vbmfm?api-version=2017-04"/><content
        type="application/xml"><QueueDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><LockDuration>PT1M</LockDuration><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><MessageCount>0</MessageCount><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2020-06-06T00:01:01.133Z</CreatedAt><UpdatedAt>2020-06-06T00:01:01.17Z</UpdatedAt><SupportOrdering>true</SupportOrdering><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableExpress>false</EnableExpress></QueueDescription></content></entry>
    headers:
      content-type: application/atom+xml;type=entry;charset=utf-8
    status:
      code: 201
      message: Created
    url: https://servicebustestsbname.servicebus.windows.net/vbmfm?api-version=2017-04
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns:ns1="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><ns1:QueueDescription><ns1:LockDuration>PT1M</ns1:LockDuration><ns1:MaxSizeInMegabytes>1024</ns1:MaxSizeInMegabytes><ns1:RequiresDuplicateDetection>false</ns1:RequiresDuplicateDetection><ns1:RequiresSession>true</ns1:RequiresSession><ns1:DefaultMessageTimeToLive>P10675199DT2H48M5.477539S</ns1:DefaultMessageTimeToLive><ns1:DeadLetteringOnMessageExpiration>false</ns1:DeadLetteringOnMessageExpiration><ns1:DuplicateDetectionHistoryTimeWindow>PT10M</ns1:DuplicateDetectionHistoryTimeWindow><ns1:MaxDeliveryCount>10</ns1:MaxDeliveryCount><ns1:EnableBatchedOperations>true</ns1:EnableBatchedOperations><ns1:IsAnonymousAccessible>false</ns1:IsAnonymousAccessible><ns1:AuthorizationRules
      /><ns1:Status>Active</ns1:Status><ns1:CreatedAt>2020-06-06T00:01:01.133Z</ns1:CreatedAt><ns1:SupportOrdering>true</ns1:SupportOrdering><ns1:AutoDeleteOnIdle>P10675199DT2H48M5.477539S</ns1:AutoDeleteOnIdle><ns1:EnablePartitioning>false</ns1:EnablePartitioning><ns1:EntityAvailabilityStatus>Available</ns1:EntityAvailabilityStatus><ns1:EnableExpress>false</ns1:EnableExpress></ns1:QueueDescription></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/xml
      If-Match:
      - '*'
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/vbmfm?api-version=2017-04
  response:
    body:
      string: <Error><Code>400</Code><Detail>SubCode=40000. The value for the RequiresSession
        property of an existing Queue cannot be changed. To know more visit https://aka.ms/sbResourceMgrExceptions.
        . TrackingId:1ca02fa3-f6e2-4da3-885d-27ae128f2e13_G4, SystemTracker:servicebustestsbname.servicebus.windows.net:vbmfm,
        Timestamp:2020-06-06T00:01:01</Detail></Error>
    headers:
      content-type: application/xml; charset=utf-8
      etag: '637269984611700000'
    status:
      code: 400
      message: Bad Request
    url: https://servicebustestsbname.servicebus.windows.net/vbmfm?api-version=2017-04
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns:ns1="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><ns1:QueueDescription><ns1:LockDuration>PT1M</ns1:LockDuration><ns1:MaxSizeInMegabytes>1024</ns1:MaxSizeInMegabytes><ns1:RequiresDuplicateDetection>false</ns1:RequiresDuplicateDetection><ns1:RequiresSession>false</ns1:RequiresSession><ns1:DefaultMessageTi[...]
[...]
