interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://servicebustestsbname.servicebus.windows.net/$Resources/topics?$skip=0&$top=100&api-version=2021-05
  response:
    body:
      string: <feed xmlns="http://www.w3.org/2005/Atom"><title type="text">Topics</title><id>https://servicebustestkv3s7h2dmw.servicebus.windows.net/$Resources/topics?$skip=0&amp;$top=100&amp;api-version=2021-05</id><updated>2021-09-28T19:06:18Z</updated><link
        rel="self" href="https://servicebustestkv3s7h2dmw.servicebus.windows.net/$Resources/topics?$skip=0&amp;$top=100&amp;api-version=2021-05"/></feed>
    headers:
      content-type: application/atom+xml;type=feed;charset=utf-8
    status:
      code: 200
      message: OK
    url: https://servicebustestkv3s7h2dmw.servicebus.windows.net/$Resources/topics?$skip=0&$top=100&api-version=2021-05
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><QueueDescription /></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/dfkla?api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestkv3s7h2dmw.servicebus.windows.net/dfkla?api-version=2021-05</id><title
        type="text">dfkla</title><published>2021-09-28T19:06:19Z</published><updated>2021-09-28T19:06:19Z</updated><author><name>servicebustestkv3s7h2dmw</name></author><link
        rel="self" href="https://servicebustestkv3s7h2dmw.servicebus.windows.net/dfkla?api-version=2021-05"/><content
        type="application/xml"><QueueDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><LockDuration>PT1M</LockDuration><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><MessageCount>0</MessageCount><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2021-09-28T19:06:19.41Z</CreatedAt><UpdatedAt>2021-09-28T19:06:19.47Z</UpdatedAt><SupportOrdering>true</SupportOrdering><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableExpress>false</EnableExpress><MaxMessageSizeInKilobytes>256</MaxMessageSizeInKilobytes></QueueDescription></content></entry>
    headers:
      content-type: application/atom+xml;type=entry;charset=utf-8
    status:
      code: 201
      message: Created
    url: https://servicebustestkv3s7h2dmw.servicebus.windows.net/dfkla?api-version=2021-05
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><TopicDescription /></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/fjrui?api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestkv3s7h2dmw.servicebus.windows.net/fjrui?api-version=2021-05</id><title
        type="text">fjrui</title><published>2021-09-28T19:06:20Z</published><updated>2021-09-28T19:06:20Z</updated><author><name>servicebustestkv3s7h2dmw</name></author><link
        rel="self" href="https://servicebustestkv3s7h2dmw.servicebus.windows.net/fjrui?api-version=2021-05"/><content
        type="application/xml"><TopicDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><FilteringMessagesBeforePublishing>false</FilteringMessagesBeforePublishing><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2021-09-28T19:06:20.24Z</CreatedAt><UpdatedAt>2021-09-28T19:06:20.807Z</UpdatedAt><SupportOrdering>true</SupportOrdering><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableSubscriptionPartitioning>false</EnableSubscriptionPartitioning><EnableExpress>false</EnableExpress><MaxMessageSizeInKilobytes>256</MaxMessageSizeInKilobytes></TopicDescription></content></entry>
    headers:
      content-type: application/atom+xml;type=entry;charset=utf-8
    status:
      code: 201
      message: Created
    url: https://servicebustestkv3s7h2dmw.servicebus.windows.net/fjrui?api-version=2021-05
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><SubscriptionDescription /></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/fjrui/subscriptions/eqkovc?api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestkv3s7h2dmw.servicebus.windows.net/fjrui/subscriptions/eqkovc?api-version=2021-05</id><title
        type="text">eqkovc</title><published>2021-09-28T19:06:21Z</published><updated>2021-09-28T19:06:21Z</updated><link
        rel="self" href="https://servicebustestkv3s7h2dmw.servicebus.windows.net/fjrui/subscriptions/eqkovc?api-version=2021-05"/><content
        type="application/xml"><SubscriptionDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><LockDuration>PT1M</LockDuration><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DeadLetteringOnFilterEvaluationExceptions>true</DeadLetteringOnFilterEvaluationExceptions><MessageCount>0</MessageCount><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><Status>Active</Status><CreatedAt>2021-09-28T19:06:21.2897569Z</CreatedAt><UpdatedAt>2021-09-28T19:06:21.2897569Z</UpdatedAt><AccessedAt>0001-01-01T00:00:00</AccessedAt><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><IsClientAffine>false</IsClientAffine></SubscriptionDescription></content></entry>
    headers:
      content-type: application/atom+xml;type=entry;charset=utf-8
      etag: '637684527808070000'
    status:
      code: 201
      message: Created
    url: https://servicebustestkv3s7h2dmw.servicebus.windows.net/fjrui/subscriptions/eqkovc?api-version=2021-05
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><SubscriptionDescription><LockDuration>PT2M</LockDuration><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.477539S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DeadLetteringOnFilterEvaluationExceptions>true</DeadLetteringOnFilterEvaluationExceptions><MessageCount>0</MessageCount><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><Status>Active</Status><CreatedAt>2021-09-28T19:06:21.289756Z</CreatedAt><UpdatedAt>2021-09-28T19:06:21.289756Z</UpdatedAt><AccessedAt>0001-01-01T00:00:00.000Z</AccessedAt><AutoDeleteOnIdle>P10675199DT2H48M5.477539S</AutoDeleteOnIdle><EntityAvailabilityStatus>Available</EntityAvailabilityStatus></SubscriptionDescription></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
      If-Match:
      - '*'
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/fjrui/subscriptions/eqkovc?api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestkv3s7h2dmw.servicebus.windows.net/fjrui/subscriptions/eqkovc?api-version=2021-05</id><title
        type="text">eqkovc</title><published>2021-09-28T19:06:21Z</published><updated>2021-09-28T19:06:21Z</updated><link
        rel="self" href="https://servicebust[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://servicebustestsbname.servicebus.windows.net/fjrui/subscriptions/eqkovc?enrich=false&api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>sb://servicebustestkv3s7h2dmw.servicebus.windows.net/fjrui/subscriptions/eqkovc?enrich=false&amp;api-version=2021-05</id><title
        type="text">eqkovc</title><published>2021-09-28T19:06:21Z</published><updated>2021-09-28T19:06:21Z</updat[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:d2p1="http://schemas.microsoft.com/netservices/2011/06/servicebus"
      xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><SubscriptionDescription><LockDuration>PT12S</LockDuration><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>PT11M</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>true</DeadLetteringOnMessageExpiration><DeadLetteringOnFilterEvaluationExceptions>true</DeadLetteringOnFilterEvaluationExceptions><MessageCount>0</MessageCount><MaxDeliveryCount>14</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><Status>Active</Status><CreatedAt>2021-09-28T19:06:21.290652Z</CreatedAt><UpdatedAt>2021-09-28T19:06:21.384402Z</UpdatedAt><AccessedAt>2021-09-28T19:06:21.290652Z</AccessedAt><CountDetails><d2p1:ActiveMessageCount>0</d2p1:ActiveMessageCount><d2p1:DeadLetterMessageCount>0</d2p1:DeadLetterMessageCount><d2p1:ScheduledMessageCount>0</d2p1:ScheduledMessageCount><d2p1:TransferDeadLetterMessageCount>0</d2p1:TransferDeadLetterMessageCount><d2p1:TransferMessageCount>0</d2p1:TransferMessageCount></CountDetails><AutoDeleteOnIdle>PT10M</AutoDeleteOnIdle><EntityAvailabilityStatus>Available</EntityAvailabilityStatus></SubscriptionDescription></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
      If-Match:
      - '*'
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/fjrui/subscriptions/eqkovc?api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>h[...]
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:d2p1="http://schemas.microsoft.com/netservices/2011/06/servicebus"
      xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><SubscriptionDescription><LockDuration>PT12S</LockDuration><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>PT11M</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>true</DeadLetteringOnMessageExpiration><DeadLetteringOnFilterEvaluationExceptions>true</DeadLetteringOnFilterEvaluationExceptions><MessageCount>0</MessageCount><MaxDeliveryCount>14</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><Status>Active</Status><ForwardTo>sb://servicebustestkv3s7h2dmw.servicebus.windows.net/fjrui</ForwardTo><CreatedAt>2021-09-28T19:06:21.290652Z</CreatedAt><UpdatedAt>2021-09-28T19:06:21.493778Z</UpdatedAt><AccessedAt>2021-09-28T19:06:21.290652Z</AccessedAt><CountDetails><d2p1:ActiveMessageCount>0</d2p1:ActiveMessageCount><d2p1:DeadLetterMessageCount>0</d2p1:DeadLetterMessageCount><d2p1:ScheduledMessageCount>0</d2p1:ScheduledMessageCount><d2p1:TransferDeadLetterMessageCount>0</d2p1:TransferDeadLetterMessageCount><d2p1:TransferMessageCount>0</d2p1:TransferMessageCount></CountDetails><ForwardDeadLetteredMessagesTo>sb://servicebustestkv3s7h2dmw.servicebus.windows.net/fjrui</ForwardDeadLetteredMessagesTo><AutoDeleteOnIdle>PT10M</AutoDeleteOnIdle><EntityAvailabilityStatus>Available</EntityAvailabilityStatus></SubscriptionDescription></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
      If-Match:
      - '*'
      ServiceBusDlqSupplementaryAuthorization:
      - SharedAccessSignature sr=sb%3A%2F%2Fservicebustestkv3s7h2dmw.servicebus.windows.net%2Ffjrui&sig=sbi6nDY1uH%2fJqZMbzUtaUAQI2r%2fiVYFX3CtBa2%2fK0BI%3d&se=1632859581&skn=RootManageSharedAccessKey
      ServiceBusSupplementaryAuthorization:
      - SharedAccessSignature sr=sb%3A%2F%2Fservicebustestkv3s7h2dmw.servicebus.windows.net%2Ffjrui&sig=sbi6nDY1uH%2fJqZMbzUtaUAQI2r%2fiVYFX3CtBa2%2fK0BI%3d&se=1632859581&skn=RootManageSharedAccessKey
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/fjrui/subscriptions/eqkovc?api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestkv3s7h2dmw.servicebus.windows.net/fjrui/subscriptions/eqkovc?api-vers[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://servicebustestsbname.servicebus.windows.net/dfkla?api-version=2021-05
  response:
    body:
      string: ''
    headers:
      etag: '637684527794700000'
    status:
      code: 200
      message: OK
    url: https://servicebustestkv3s7h2dmw.servicebus.windows.net/dfkla?api-version=2021-05
version: 1
