interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://servicebustestsbname.servicebus.windows.net/non_existing_queue?enrich=false&api-version=2017-04
  response:
    body:
      string: <feed xmlns="http://www.w3.org/2005/Atom"><title type="text">Publicly
        Listed Services</title><subtitle type="text">This is the list of publicly-listed
        services currently available.</subtitle><id>uuid:816193bd-7a13-4f57-abef-c6ed3b39d216;id=47042</id><updated>2020-07-02T06:04:40Z</updated><generator>Service
        Bus 1.1</generator></feed>
    headers:
      content-type: application/atom+xml;type=feed;charset=utf-8
    status:
      code: 200
      message: OK
    url: https://servicebustest5levlyksxm.servicebus.windows.net/non_existing_queue?enrich=false&api-version=2017-04
version: 1
