interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://servicebustestsbname.servicebus.windows.net/$Resources/topics?$skip=0&$top=100&api-version=2017-04
  response:
    body:
      string: <feed xmlns="http://www.w3.org/2005/Atom"><title type="text">Topics</title><id>https://servicebustesteotyq3ucg7.servicebus.windows.net/$Resources/topics?$skip=0&amp;$top=100&amp;api-version=2017-04</id><updated>2020-08-17T17:53:06Z</updated><link
        rel="self" href="https://servicebustesteotyq3ucg7.servicebus.windows.net/$Resources/topics?$skip=0&amp;$top=100&amp;api-version=2017-04"/></feed>
    headers:
      content-type: application/atom+xml;type=feed;charset=utf-8
    status:
      code: 200
      message: OK
    url: https://servicebustesteotyq3ucg7.servicebus.windows.net/$Resources/topics?$skip=0&$top=100&api-version=2017-04
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><TopicDescription /></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/fjrui?api-version=2017-04
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustesteotyq3ucg7.servicebus.windows.net/fjrui?api-version=2017-04</id><title
        type="text">fjrui</title><published>2020-08-17T17:53:06Z</published><updated>2020-08-17T17:53:06Z</updated><author><name>servicebustesteotyq3ucg7</name></author><link
        rel="self" href="https://servicebustesteotyq3ucg7.servicebus.windows.net/fjrui?api-version=2017-04"/><content
        type="application/xml"><TopicDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><FilteringMessagesBeforePublishing>false</FilteringMessagesBeforePublishing><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2020-08-17T17:53:06.777Z</CreatedAt><UpdatedAt>2020-08-17T17:53:06.807Z</UpdatedAt><SupportOrdering>true</SupportOrdering><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableSubscriptionPartitioning>false</EnableSubscriptionPartitioning><EnableExpress>false</EnableExpress></TopicDescription></content></entry>
    headers:
      content-type: application/atom+xml;type=entry;charset=utf-8
    status:
      code: 201
      message: Created
    url: https://servicebustesteotyq3ucg7.servicebus.windows.net/fjrui?api-version=2017-04
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><SubscriptionDescription /></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/fjrui/subscriptions/eqkovc?api-version=2017-04
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustesteotyq3ucg7.servicebus.windows.net/fjrui/subscriptions/eqkovc?api-version=2017-04</id><title
        type="text">eqkovc</title><published>2020-08-17T17:53:07Z</published><updated>2020-08-17T17:53:07Z</updated><link
        rel="self" href="https://servicebustesteotyq3ucg7.servicebus.windows.net/fjrui/subscriptions/eqkovc?api-version=2017-04"/><content
        type="application/xml"><SubscriptionDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><LockDuration>PT1M</LockDuration><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DeadLetteringOnFilterEvaluationExceptions>true</DeadLetteringOnFilterEvaluationExceptions><MessageCount>0</MessageCount><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><Status>Active</Status><CreatedAt>2020-08-17T17:53:07.3919992Z</CreatedAt><UpdatedAt>2020-08-17T17:53:07.3919992Z</UpdatedAt><AccessedAt>0001-01-01T00:00:00</AccessedAt><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EntityAvailabilityStatus>Available</EntityAvailabilityStatus></SubscriptionDescription></content></entry>
    headers:
      content-type: application/atom+xml;type=entry;charset=utf-8
      etag: '637332835868070000'
    status:
      code: 201
      message: Created
    url: https://servicebustesteotyq3ucg7.servicebus.windows.net/fjrui/subscriptions/eqkovc?api-version=2017-04
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><SubscriptionDescription><LockDuration>PT2M</LockDuration><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.477539S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DeadLetteringOnFilterEvaluationExceptions>true</DeadLetteringOnFilterEvaluationExceptions><MessageCount>0</MessageCount><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><Status>Active</Status><CreatedAt>2020-08-17T17:53:07.391999Z</CreatedAt><UpdatedAt>2020-08-17T17:53:07.391999Z</UpdatedAt><AccessedAt>0001-01-01T00:00:00.000Z</AccessedAt><AutoDeleteOnIdle>P10675199DT2H48M5.477539S</AutoDeleteOnIdle><EntityAvailabilityStatus>Available</EntityAvailabilityStatus></SubscriptionDescription></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
      If-Match:
      - '*'
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/fjrui/subscriptions/eqkovc?api-version=2017-04
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustesteotyq3ucg7.servicebus.windows.net/fjrui/subscriptions/eqkovc?api-version=2017-04</id><title
        type="text">eqkovc</title><published>2020-08-17T17:53:07Z</published><updated>2020-08-17T17:53:07Z</updated><link
        rel="self" href="https://servicebust[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://servicebustestsbname.servicebus.windows.net/fjrui/subscriptions/eqkovc?enrich=false&api-version=2017-04
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>sb://servicebustesteotyq3ucg7.servicebus.windows.net/fjrui/subscriptions/eqkovc?enrich=false&amp;api-version=2017-04</id><title
        type="text">eqkovc</title><published>2020-08-17T17:53:07Z</published><updated>2020-08-17T17:53:07Z</updat[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:d2p1="http://schemas.microsoft.com/netservices/2011/06/servicebus"
      xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><SubscriptionDescription><LockDuration>PT12S</LockDuration><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>PT11M</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>true</DeadLetteringOnMessageExpiration><DeadLetteringOnFilterEvaluationExceptions>true</DeadLetteringOnFilterEvaluationExceptions><MessageCount>0</MessageCount><MaxDeliveryCount>14</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><Status>Active</Status><CreatedAt>2020-08-17T17:53:07.405797Z</CreatedAt><UpdatedAt>2020-08-17T17:53:07.733946Z</UpdatedAt><AccessedAt>2020-08-17T17:53:07.407Z</AccessedAt><CountDetails><d2p1:ActiveMessageCount>0</d2p1:ActiveMessageCount><d2p1:DeadLetterMessageCount>0</d2p1:DeadLetterMessageCount><d2p1:ScheduledMessageCount>0</d2p1:ScheduledMessageCount><d2p1:TransferDeadLetterMessageCount>0</d2p1:TransferDeadLetterMessageCount><d2p1:TransferMessageCount>0</d2p1:TransferMessageCount></CountDetails><AutoDeleteOnIdle>PT10M</AutoDeleteOnIdle><EntityAvailabilityStatus>Available</EntityAvailabilityStatus></SubscriptionDescription></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
      If-Match:
      - '*'
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/fjrui/subscriptions/eqkovc?api-version=2017-04
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>h[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://servicebustestsbname.servicebus.windows.net/fjrui?api-version=2017-04
  response:
    body:
      string: ''
    headers:
      etag: '637332835868070000'
    status:
      code: 200
      message: OK
    url: https://servicebustesteotyq3ucg7.servicebus.windows.net/fjrui?api-version=2017-04
version: 1
