interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><TopicDescription /></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/dqkodq?api-version=2017-04
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestl77xw2qvsq.servicebus.windows.net/dqkodq?api-version=2017-04</id><title
        type="text">dqkodq</title><published>2020-06-30T19:03:04Z</published><updated>2020-06-30T19:03:05Z</updated><author><name>servicebustestl77xw2qvsq</name></author><link
        rel="self" href="https://servicebustestl77xw2qvsq.servicebus.windows.net/dqkodq?api-version=2017-04"/><content
        type="application/xml"><TopicDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><FilteringMessagesBeforePublishing>false</FilteringMessagesBeforePublishing><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2020-06-30T19:03:04.94Z</CreatedAt><UpdatedAt>2020-06-30T19:03:05.02Z</UpdatedAt><SupportOrdering>true</SupportOrdering><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableSubscriptionPartitioning>false</EnableSubscriptionPartitioning><EnableExpress>false</EnableExpress></TopicDescription></content></entry>
    headers:
      content-type: application/atom+xml;type=entry;charset=utf-8
    status:
      code: 201
      message: Created
    url: https://servicebustestl77xw2qvsq.servicebus.windows.net/dqkodq?api-version=2017-04
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><TopicDescription /></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/dqkodq?api-version=2017-04
  response:
    body:
      string: <Error><Code>409</Code><Detail>SubCode=40900. Conflict. You're requesting
        an operation that isn't allowed in the resource's current state. To know more
        visit https://aka.ms/sbResourceMgrExceptions. . TrackingId:a71e5185-922a-46be-b3a5-54a715536e19_G3,
        SystemTracker:servicebustestsbname.servicebus.windows.net:dqkodq, Timestamp:2020-06-30T19:03:05</Detail></Error>
    headers:
      content-type: application/xml; charset=utf-8
      etag: '637291405850200000'
    status:
      code: 409
      message: Conflict
    url: https://servicebustestl77xw2qvsq.servicebus.windows.net/dqkodq?api-version=2017-04
- request:
    body: null
    headers:
    method: DELETE
    uri: https://servicebustestsbname.servicebus.windows.net/dqkodq?api-version=2017-04
  response:
    body:
      string: ''
    headers:
      etag: '637291405850200000'
    status:
      code: 200
      message: OK
    url: https://servicebustestl77xw2qvsq.servicebus.windows.net/dqkodq?api-version=2017-04
version: 1
