interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://servicebustestsbname.servicebus.windows.net/$Resources/topics?$skip=0&$top=100&api-version=2021-05
  response:
    body:
      string: <feed xmlns="http://www.w3.org/2005/Atom"><title type="text">Topics</title><id>https://servicebustestkjdemkkogk.servicebus.windows.net/$Resources/topics?$skip=0&amp;$top=100&amp;api-version=2021-05</id><updated>2021-10-21T05:22:05Z</updated><link
        rel="self" href="https://servicebustestkjdemkkogk.servicebus.windows.net/$Resources/topics?$skip=0&amp;$top=100&amp;api-version=2021-05"/></feed>
    headers:
      content-type: application/atom+xml;type=feed;charset=utf-8
    status:
      code: 200
      message: OK
    url: https://servicebustestkjdemkkogk.servicebus.windows.net/$Resources/topics?$skip=0&$top=100&api-version=2021-05
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><TopicDescription /></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/topic_testaddf?api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestkjdemkkogk.servicebus.windows.net/topic_testaddf?api-version=2021-05</id><title
        type="text">topic_testaddf</title><published>2021-10-21T05:22:06Z</published><updated>2021-10-21T05:22:06Z</updated><author><name>servicebustestkjdemkkogk</name></author><link
        rel="self" href="https://servicebustestkjdemkkogk.servicebus.windows.net/topic_testaddf?api-version=2021-05"/><content
        type="application/xml"><TopicDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><FilteringMessagesBeforePublishing>false</FilteringMessagesBeforePublishing><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2021-10-21T05:22:06.037Z</CreatedAt><UpdatedAt>2021-10-21T05:22:06.067Z</UpdatedAt><SupportOrdering>true</SupportOrdering><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableSubscriptionPartitioning>false</EnableSubscriptionPartitioning><EnableExpress>false</EnableExpress><MaxMessageSizeInKilobytes>256</MaxMessageSizeInKilobytes></TopicDescription></content></entry>
    headers:
      content-type: application/atom+xml;type=entry;charset=utf-8
    status:
      code: 201
      message: Created
    url: https://servicebustestkjdemkkogk.servicebus.windows.net/topic_testaddf?api-version=2021-05
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><SubscriptionDescription /></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/topic_testaddf/subscriptions/sub_testkkk?api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestkjdemkkogk.servicebus.windows.net/topic_testaddf/subscriptions/sub_testkkk?api-version=2021-05</id><title
        type="text">sub_testkkk</title><published>2021-10-21T05:22:06Z</published><updated>2021-10-21T05:22:06Z</updated><link
        rel="self" href="https://servicebustestkjdemkkogk.servicebus.windows.net/topic_testaddf/subscriptions/sub_testkkk?api-version=2021-05"/><content
        type="application/xml"><SubscriptionDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><LockDuration>PT1M</LockDuration><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DeadLetteringOnFilterEvaluationExceptions>true</DeadLetteringOnFilterEvaluationExceptions><MessageCount>0</MessageCount><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><Status>Active</Status><CreatedAt>2021-10-21T05:22:06.7391026Z</CreatedAt><UpdatedAt>2021-10-21T05:22:06.7391026Z</UpdatedAt><AccessedAt>0001-01-01T00:00:00</AccessedAt><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><IsClientAffine>false</IsClientAffine></SubscriptionDescription></content></entry>
    headers:
      content-type: application/atom+xml;type=entry;charset=utf-8
      etag: '637703905260670000'
    status:
      code: 201
      message: Created
    url: https://servicebustestkjdemkkogk.servicebus.windows.net/topic_testaddf/subscriptions/sub_testkkk?api-version=2021-05
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><ns0:content type="application/xml"><RuleDescription><Filter
      xsi:type="CorrelationFilter"><CorrelationId>testcid</CorrelationId><Properties><KeyValueOfstringanyType><Key>key_string</Key><Value
      xmlns:d6p1="http://www.w3.org/2001/XMLSchema" xsi:type="d6p1:string">str1</Value></KeyValueOfstringanyType><KeyValueOfstringanyType><Key>key_int</Key><Value
      xmlns:d6p1="http://www.w3.org/2001/XMLSchema" xsi:type="d6p1:int">2</Value></KeyValueOfstringanyType><KeyValueOfstringanyType><Key>key_long</Key><Value
      xmlns:d6p1="http://www.w3.org/2001/XMLSchema" xsi:type="d6p1:long">2147483650</Value></KeyValueOfstringanyType><KeyValueOfstringanyType><Key>key_bool</Key><Value
      xmlns:d6p1="http://www.w3.org/2001/XMLSchema" xsi:type="d6p1:boolean">false</Value></KeyValueOfstringanyType><KeyValueOfstringanyType><Key>key_datetime</Key><Value
      xmlns:d6p1="http://www.w3.org/2001/XMLSchema" xsi:type="d6p1:dateTime">2020-07-05T11:12:13</Value></KeyValueOfstringanyType><KeyValueOfstringanyType><Key>key_duration</Key><Value
      xmlns:d6p1="http://www.w3.org/2001/XMLSchema" xsi:type="d6p1:duration">P1DT2H3M</Value></KeyValueOfstringanyType></Properties></Filter><Action
      xsi:type="SqlRuleAction"><SqlExpression>SET Priority = @param</SqlExpression><CompatibilityLevel>20</CompatibilityLevel><Parameters><KeyValueOfstringanyType><Key>@param</Key><Value
      xmlns:d6p1="http://www.w3.org/2001/XMLSchema" xsi:type="d6p1:dateTime">2020-07-05T11:12:13</Value></KeyValueOfstringanyType></Parameters><RequiresPreprocessing>true</RequiresPreprocessing></Action><Name>test_rule_1</Name></RuleDescription></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/topic_testaddf/subscriptions/sub_testkkk/rules/test_rule_1?api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestkjdemkkogk.servicebus.windows.net/topic_testaddf/subscriptions/sub_testkkk/rules/test_rule_1?api-version=2021-05</id><title
        type="text">test_rule_1</title><published>2021-10-21T05:22:06Z</published><updated>2021-10-21T05:22:06Z</updated><link
        rel="self" href="https://servicebustestkjdemkkogk.servicebus.windows.net/topic_testaddf/subscriptions/sub_testkkk/rules/test_rule_1?api-version=2021-05"/><content
        type="application/xml"><RuleDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><Filter i:type="CorrelationFilter"><CorrelationId>testcid</CorrelationId><Properties><KeyValueOfstringanyType><Key>key_string</Key><Value
        i:type="d6p1:string" xmlns:d6p1="http://www.w3.org/2001/XMLSchema">str1</Value></KeyValueOfstringanyType><KeyValueOfstringanyType><Key>key_int</Key><Value
        i:type="d6p1:int" xmlns:d6p1="http://www.w3.org/2001/XMLSchema">2</Value></KeyValueOfstringanyType><KeyValueOfstringanyType><Key>key_long</Key><Value
        i:type="d6p1:long" xmlns:d6p1="http://www[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://servicebustestsbname.servicebus.windows.net/topic_testaddf/subscriptions/sub_testkkk/rules/test_rule_1?enrich=false&api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>sb://servicebustestkjdemkkogk.servicebus.windows.net/topic_testaddf/subscriptions/sub_testkkk/rules/test_rule_1?enrich=false&amp;api-version=2021-05</id><title
        type="text">test_rule_1</title><published[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://servicebustestsbname.servicebus.windows.net/topic_testaddf?api-version=2021-05
  response:
    body:
      string: ''
    headers:
      etag: '637703905260670000'
    status:
      code: 200
      message: OK
    url: https://servicebustestkjdemkkogk.servicebus.windows.net/topic_testaddf?api-version=2021-05
version: 1
