interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns:ns1="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><ns1:QueueDescription /></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/eidk?api-version=2017-04
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustesttebxb3fcxh.servicebus.windows.net/eidk?api-version=2017-04</id><title
        type="text">eidk</title><published>2020-06-05T23:46:13Z</published><updated>2020-06-05T23:46:13Z</updated><author><name>servicebustesttebxb3fcxh</name></author><link
        rel="self" href="https://servicebustesttebxb3fcxh.servicebus.windows.net/eidk?api-version=2017-04"/><content
        type="application/xml"><QueueDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><LockDuration>PT1M</LockDuration><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><MessageCount>0</MessageCount><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2020-06-05T23:46:13.683Z</CreatedAt><UpdatedAt>2020-06-05T23:46:13.75Z</UpdatedAt><SupportOrdering>true</SupportOrdering><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableExpress>false</EnableExpress></QueueDescription></content></entry>
    headers:
      content-type: application/atom+xml;type=entry;charset=utf-8
    status:
      code: 201
      message: Created
    url: https://servicebustesttebxb3fcxh.servicebus.windows.net/eidk?api-version=2017-04
- request:
    body: null
    headers:
    method: GET
    uri: https://servicebustestsbname.servicebus.windows.net/eidk?enrich=false&api-version=2017-04
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustesttebxb3fcxh.servicebus.windows.net/eidk?enrich=false&amp;api-version=2017-04</id><title
        type="text">eidk</title><published>2020-06-05T23:46:13Z</published><updated>2020-06-05T23:46:13Z</updated><author><name>servicebustesttebxb3fcxh</[...]
