interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://servicebustestsbname.servicebus.windows.net/$Resources/topics?$skip=0&$top=100&api-version=2021-05
  response:
    body:
      string: <feed xmlns="http://www.w3.org/2005/Atom"><title type="text">Topics</title><id>https://servicebustestkjdemkkogk.servicebus.windows.net/$Resources/topics?$skip=0&amp;$top=100&amp;api-version=2021-05</id><updated>2021-10-21T05:22:46Z</updated><link
        rel="self" href="https://servicebustestkjdemkkogk.servicebus.windows.net/$Resources/topics?$skip=0&amp;$top=100&amp;api-version=2021-05"/></feed>
    headers:
      content-type: application/atom+xml;type=feed;charset=utf-8
    status:
      code: 200
      message: OK
    url: https://servicebustestkjdemkkogk.servicebus.windows.net/$Resources/topics?$skip=0&$top=100&api-version=2021-05
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><TopicDescription /></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/dkoamv?api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestkjdemkkogk.servicebus.windows.net/dkoamv?api-version=2021-05</id><title
        type="text">dkoamv</title><published>2021-10-21T05:22:46Z</published><updated>2021-10-21T05:22:46Z</updated><author><name>servicebustestkjdemkkogk</name></author><link
        rel="self" href="https://servicebustestkjdemkkogk.servicebus.windows.net/dkoamv?api-version=2021-05"/><content
        type="application/xml"><TopicDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><FilteringMessagesBeforePublishing>false</FilteringMessagesBeforePublishing><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2021-10-21T05:22:46.643Z</CreatedAt><UpdatedAt>2021-10-21T05:22:46.693Z</UpdatedAt><SupportOrdering>true</SupportOrdering><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableSubscriptionPartitioning>false</EnableSubscriptionPartitioning><EnableExpress>false</EnableExpress><MaxMessageSizeInKilobytes>256</MaxMessageSizeInKilobytes></TopicDescription></content></entry>
    headers:
      content-type: application/atom+xml;type=entry;charset=utf-8
    status:
      code: 201
      message: Created
    url: https://servicebustestkjdemkkogk.servicebus.windows.net/dkoamv?api-version=2021-05
- request:
    body: null
    headers:
    method: GET
    uri: https://servicebustestsbname.servicebus.windows.net/dkoamv/subscriptions?$skip=0&$top=100&api-version=2021-05
  response:
    body:
      string: <feed xmlns="http://www.w3.org/2005/Atom"><title type="text">Subscriptions</title><id>https://servicebustestkjdemkkogk.servicebus.windows.net/dkoamv/subscriptions?$skip=0&amp;$top=100&amp;api-version=2021-05</id><updated>2021-10-21T05:22:47Z</updated><link
        rel="self" href="https://servicebustestkjdemkkogk.servicebus.windows.net/dkoamv/subscriptions?$skip=0&amp;$top=100&amp;api-version=2021-05"/></feed>
    headers:
      content-type: application/atom+xml;type=feed;charset=utf-8
      etag: '637703905666930000'
    status:
      code: 200
      message: OK
    url: https://servicebustestkjdemkkogk.servicebus.windows.net/dkoamv/subscriptions?$skip=0&$top=100&api-version=2021-05
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><SubscriptionDescription /></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/dkoamv/subscriptions/cxqplc?api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestkjdemkkogk.servicebus.windows.net/dkoamv/subscriptions/cxqplc?api-version=2021-05</id><title
        type="text">cxqplc</title><published>2021-10-21T05:22:47Z</published><updated>2021-10-21T05:22:47Z</updated><link
        rel="self" href="https://servicebustestkjdemkkogk.servicebus.windows.net/dkoamv/subscriptions/cxqplc?api-version=2021-05"/><content
        type="application/xml"><SubscriptionDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><LockDuration>PT1M</LockDuration><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DeadLetteringOnFilterEvaluationExceptions>true</DeadLetteringOnFilterEvaluationExceptions><MessageCount>0</MessageCount><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><Status>Active</Status><CreatedAt>2021-10-21T05:22:47.3020785Z</CreatedAt><UpdatedAt>2021-10-21T05:22:47.3020785Z</UpdatedAt><AccessedAt>0001-01-01T00:00:00</AccessedAt><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><IsClientAffine>false</IsClientAffine></SubscriptionDescription></content></entry>
    headers:
      content-type: application/atom+xml;type=entry;charset=utf-8
      etag: '637703905666930000'
    status:
      code: 201
      message: Created
    url: https://servicebustestkjdemkkogk.servicebus.windows.net/dkoamv/subscriptions/cxqplc?api-version=2021-05
- request:
    body: null
    headers:
    method: GET
    uri: https://servicebustestsbname.servicebus.windows.net/dkoamv/subscriptions?$skip=0&$top=100&api-version=2021-05
  response:
    body:
      string: <feed xmlns="http://www.w3.org/2005/Atom"><title type="text">Subscriptions</title><id>https://servicebustestkjdemkkogk.servicebus.windows.net/dkoamv/subscriptions?$skip=0&amp;$top=100&amp;api-version=2021-05</id><updated>2021-10-21T05:22:47Z</updated><link
        rel="self" href="https://servicebustestkjdemkkogk.servicebus.windows.net/dkoamv/subscriptions?$skip=0&amp;$top=100&amp;api-version=2021-05"/><entry
        xml:base="https://servicebustestkjdemkkogk.servicebus.windows.net/dkoamv/subscriptions?$skip=0&amp;$top=100&amp;api-version=2021-05"><id>https://servicebustestkjdemkkogk.servicebus.windows.net/dkoamv/subscriptions/cxqplc?api-version=2021-05</id><title
        type="text">cxqplc</title><published>2021-10-21T05:22:47Z</published><updated>2021-10-21T05:22:47Z</updated><link
        rel="self" href="subscriptions/cxqplc?api-version=2021-05"/><content type="application/xml"><SubscriptionDescription
        xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><LockDuration>PT1M</LockDuration><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DeadLetteringOnFilterEvaluationExceptions>true</DeadLetteringOnFilterEvaluationExceptions><MessageCount>0</MessageCount><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><Status>Active</Status><CreatedAt>2021-10-21T05:22:47.2987181Z</CreatedAt><UpdatedAt>2021-10-21T05:22:47.2987181Z</UpdatedAt><AccessedAt>2021-10-21T05:22:47.3Z</AccessedAt><CountDetails
        xmlns:d2p1="http://schemas.microsoft.com/netservices/2011/06/servicebus"><d2p1:ActiveMessageCount>0</d2p1:ActiveMessageCount><d2p1:DeadLetterMessageCount>0</d2p1:DeadLetterMessageCount><d2p1:ScheduledMessageCount>0</d2p1:ScheduledMessageCount><d2p1:TransferMessageCount>0</d2p1:TransferMessageCount><d2p1:TransferDeadLetterMessageCount>0</d2p1:TransferDeadLetterMessageCount></CountDetails><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><IsClientAffine>false</IsClientAffine></SubscriptionDescription></content></entry></feed>
    headers:
      content-type: application/atom+xml;type=feed;charset=utf-8
      etag: '637703905666930000'
    status:
      code: 200
      message: OK
    url: https://servicebustestkjdemkkogk.servicebus.windows.net/dkoamv/subscriptions?$skip=0&$top=100&api-version=2021-05
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://servicebustestsbname.servicebus.windows.net/dkoamv?api-version=2021-05
  response:
    body:
      string: ''
    headers:
      etag: '637703905666930000'
    status:
      code: 200
      message: OK
    url: https://servicebustestkjdemkkogk.servicebus.windows.net/dkoamv?api-version=2021-05
version: 1
