interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://servicebustestsbname.servicebus.windows.net/$Resources/queues?$skip=0&$top=100&api-version=2021-05
  response:
    body:
      string: <feed xmlns="http://www.w3.org/2005/Atom"><title type="text">Queues</title><id>https://servicebustestkv3s7h2dmw.servicebus.windows.net/$Resources/queues?$skip=0&amp;$top=100&amp;api-version=2021-05</id><updated>2021-09-28T19:02:44Z</updated><link
        rel="self" href="https://servicebustestkv3s7h2dmw.servicebus.windows.net/$Resources/queues?$skip=0&amp;$top=100&amp;api-version=2021-05"/></feed>
    headers:
      content-type: application/atom+xml;type=feed;charset=utf-8
    status:
      code: 200
      message: OK
    url: https://servicebustestkv3s7h2dmw.servicebus.windows.net/$Resources/queues?$skip=0&$top=100&api-version=2021-05
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><TopicDescription /></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/aghadh?api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestkv3s7h2dmw.servicebus.windows.net/aghadh?api-version=2021-05</id><title
        type="text">aghadh</title><published>2021-09-28T19:02:45Z</published><updated>2021-09-28T19:02:45Z</updated><author><name>servicebustestkv3s7h2dmw</name></author><link
        rel="self" href="https://servicebustestkv3s7h2dmw.servicebus.windows.net/aghadh?api-version=2021-05"/><content
        type="application/xml"><TopicDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><FilteringMessagesBeforePublishing>false</FilteringMessagesBeforePublishing><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2021-09-28T19:02:45.283Z</CreatedAt><UpdatedAt>2021-09-28T19:02:45.347Z</UpdatedAt><SupportOrdering>true</SupportOrdering><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableSubscriptionPartitioning>false</EnableSubscriptionPartitioning><EnableExpress>false</EnableExpress><MaxMessageSizeInKilobytes>256</MaxMessageSizeInKilobytes></TopicDescription></content></entry>
    headers:
      content-type: application/atom+xml;type=entry;charset=utf-8
    status:
      code: 201
      message: Created
    url: https://servicebustestkv3s7h2dmw.servicebus.windows.net/aghadh?api-version=2021-05
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><QueueDescription><LockDuration>PT13S</LockDuration><MaxSizeInMegabytes>3072</MaxSizeInMegabytes><RequiresSession>true</RequiresSession><DefaultMessageTimeToLive>PT11M</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>true</DeadLetteringOnMessageExpiration><DuplicateDetectionHistoryTimeWindow>PT12M</DuplicateDetectionHistoryTimeWindow><MaxDeliveryCount>14</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><AutoDeleteOnIdle>PT10M</AutoDeleteOnIdle><EnablePartitioning>true</EnablePartitioning><EnableExpress>true</EnableExpress><ForwardTo>sb://servicebustestkv3s7h2dmw.servicebus.windows.net/aghadh</ForwardTo><ForwardDeadLetteredMessagesTo>sb://servicebustestkv3s7h2dmw.servicebus.windows.net/aghadh</ForwardDeadLetteredMessagesTo></QueueDescription></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
      ServiceBusDlqSupplementaryAuthorization:
      - SharedAccessSignature sr=sb%3A%2F%2Fservicebustestkv3s7h2dmw.servicebus.windows.net%2Faghadh&sig=WbYJ1Ddx0HoPZt4bTXmPYNWPsOsQPq8KQKNEgUFYuRY%3d&se=1632859365&skn=RootManageSharedAccessKey
      ServiceBusSupplementaryAuthorization:
      - SharedAccessSignature sr=sb%3A%2F%2Fservicebustestkv3s7h2dmw.servicebus.windows.net%2Faghadh&sig=WbYJ1Ddx0HoPZt4bTXmPYNWPsOsQPq8KQKNEgUFYuRY%3d&se=1632859365&skn=RootManageSharedAccessKey
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/dkldf?api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestkv3s7h2dmw.servicebus.windows.net/dkldf?api-version=2021-05</id><title
        type="text">dkldf</title><published>2021-09-28T19:02:46Z</published><updated>2021-09-28T19:02:46Z</updated><author><name>servicebustestkv3s7h2dmw</name></author><link
        rel="self" href="https://servicebustestkv3s7h2dmw.servicebus.windows.net/dkldf?api-version=2021-05"/><content
        type="application/xml"><QueueDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><LockDuration>PT13S</LockDuration><MaxSizeInMegabytes>49152</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><RequiresSession>true</RequiresSession><DefaultMessageTimeToLive>PT11M</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>true</DeadLetteringOnMessageExpiration><DuplicateDetectionHistoryTimeWindow>PT12M</DuplicateDetectionHistoryTimeWindow><MaxDeliveryCount>14</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><MessageCount>0</MessageCount><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2021-09-28T19:02:46.273Z</CreatedAt><UpdatedAt>2021-09-28T19:02:46.567Z</UpdatedAt><SupportOrdering>false</SupportOrdering><AutoDeleteOnIdle>PT10M</AutoDeleteOnIdle><EnablePartitioning>true</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableExpress>true</EnableExpress><ForwardTo>sb://servicebustestkv3s7h2dmw.servicebus.windows.net/aghadh</ForwardTo><ForwardDeadLetteredMessagesTo>sb://servicebustestkv3s7h2dmw.servicebus.windows.net/aghadh</ForwardDeadLetteredMessagesTo><MaxMessageSizeInKilobytes>256</MaxMessageSizeInKilobytes></QueueDescription></content></entry>
    headers:
      content-type: application/atom+xml;type=entry;charset=utf-8
    status:
      code: 201
      message: Created
    url: https://servicebustestkv3s7h2dmw.servicebus.windows.net/dkldf?api-version=2021-05
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><QueueDescription><LockDuration>PT13S</LockDuration><MaxSizeInMegabytes>3072</MaxSizeInMegabytes><RequiresSession>true</RequiresSession><DefaultMessageTimeToLive>PT11M2S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>true</DeadLetteringOnMessageE[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><QueueDescription><MaxMessageSizeInKilobytes>10</MaxMessageSizeInKilobytes></QueueDescription></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/clpqza?api-version=2021-05
  response:
    body:
      string: <Error><Code>400</Code><Detail>SubCode=40000. Bad Request. To know more
        visit https://aka.ms/sbResourceMgrExceptions. . TrackingId:41b24cdd-4611-4d39-b42e-b3c8a25439e8_G15,
        SystemTracker:servicebustestsbname.servicebus.windows.net:clpqza, Timestamp:2021-09-28T19:02:48</Detail></Error>
    headers:
      content-type: application/xml; charset=utf-8
    status:
      code: 400
      message: Bad Request
    url: https://servicebustestkv3s7h2dmw.servicebus.windows.net/clpqza?api-version=2021-05
- request:
    body: null
    headers:
    method: GET
    uri: https://servicebustestsbname.servicebus.windows.net/dkldf?enrich=false&api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestkv3s7h2dmw.servicebus.windows.net/dkldf?enrich=false&amp;api-version=2021-05</id><title
        type="text">dkldf</title><published>2021-09-28T19:02:46Z</published><updated>2021-09-28T19:02:46Z</updated><author><name>servicebustestkv3s7h2dm[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://servicebustestsbname.servicebus.windows.net/vjiqjx?enrich=false&api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestkv3s7h2dmw.servicebus.windows.net/vjiqjx?enrich=false&amp;api-version=2021-05</id><title
        type="text">vjiqjx</title><published>2021-09-28T19:02:47Z</published><updated>2021-09-28T19:02:47Z</updated><author><name>servicebustestkv3s7h[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://servicebustestsbname.servicebus.windows.net/dkldf?api-version=2021-05
  response:
    body:
      string: ''
    headers:
      etag: '637684525665670000'
    status:
      code: 200
      message: OK
    url: https://servicebustestkv3s7h2dmw.servicebus.windows.net/dkldf?api-version=2021-05
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://servicebustestsbname.servicebus.windows.net/aghadh?api-version=2021-05
  response:
    body:
      string: ''
    headers:
      etag: '637684525653470000'
    status:
      code: 200
      message: OK
    url: https://servicebustestkv3s7h2dmw.servicebus.windows.net/aghadh?api-version=2021-05
version: 1
