interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://servicebustestsbname.servicebus.windows.net/$Resources/queues?$skip=0&$top=100&api-version=2021-05
  response:
    body:
      string: <feed xmlns="http://www.w3.org/2005/Atom"><title type="text">Queues</title><id>https://servicebustestkjdemkkogk.servicebus.windows.net/$Resources/queues?$skip=0&amp;$top=100&amp;api-version=2021-05</id><updated>2021-10-21T05:22:03Z</updated><link
        rel="self" href="https://servicebustestkjdemkkogk.servicebus.windows.net/$Resources/queues?$skip=0&amp;$top=100&amp;api-version=2021-05"/></feed>
    headers:
      content-type: application/atom+xml;type=feed;charset=utf-8
    status:
      code: 200
      message: OK
    url: https://servicebustestkjdemkkogk.servicebus.windows.net/$Resources/queues?$skip=0&$top=100&api-version=2021-05
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><QueueDescription /></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/fjruid?api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestkjdemkkogk.servicebus.windows.net/fjruid?api-version=2021-05</id><title
        type="text">fjruid</title><published>2021-10-21T05:22:03Z</published><updated>2021-10-21T05:22:03Z</updated><author><name>servicebustestkjdemkkogk</name></author><link
        rel="self" href="https://servicebustestkjdemkkogk.servicebus.windows.net/fjruid?api-version=2021-05"/><content
        type="application/xml"><QueueDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><LockDuration>PT1M</LockDuration><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><MessageCount>0</MessageCount><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2021-10-21T05:22:03.513Z</CreatedAt><UpdatedAt>2021-10-21T05:22:03.54Z</UpdatedAt><SupportOrdering>true</SupportOrdering><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableExpress>false</EnableExpress><MaxMessageSizeInKilobytes>256</MaxMessageSizeInKilobytes></QueueDescription></content></entry>
    headers:
      content-type: application/atom+xml;type=entry;charset=utf-8
    status:
      code: 201
      message: Created
    url: https://servicebustestkjdemkkogk.servicebus.windows.net/fjruid?api-version=2021-05
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><QueueDescription><LockDuration>PT2M</LockDuration><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.477539S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><AuthorizationRules
      /><Status>Active</Status><AutoDeleteOnIdle>P10675199DT2H48M5.477539S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableExpress>false</EnableExpress><MaxMessageSizeInKilobytes>256</MaxMessageSizeInKilobytes></QueueDescription></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
      If-Match:
      - '*'
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/fjruid?api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestkjdemkkogk.servicebus.windows.net/fjruid?api-version=2021-05</id><title
        type="text">fjruid</title><updated>2021-10-21T05:22:04Z</updated><author><name>servicebustestkjdemkkogk</name></author><link
        rel="self" href="https://servicebustestkjdemkkogk.servicebus.wind[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://servicebustestsbname.servicebus.windows.net/fjruid?enrich=false&api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestkjdemkkogk.servicebus.windows.net/fjruid?enrich=false&amp;api-version=2021-05</id><title
        type="text">fjruid</title><published>2021-10-21T05:22:03Z</published><updated>2021-10-21T05:22:04Z</updated><author><name>servicebustestkjdemk[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><QueueDescription><LockDuration>PT13S</LockDuration><MaxSizeInMegabytes>3072</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>PT11M</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>true</DeadLetteringOnMessageExpiration><DuplicateDetectionHistoryTimeWindow>PT12M</DuplicateDetectionHistoryTimeWindow><MaxDeliveryCount>14</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><AuthorizationRules
      /><Status>Active</Status><AutoDeleteOnIdle>PT10M</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableExpress>true</EnableExpress><ForwardTo>sb://servicebustestkjdemkkogk.servicebus.windows.net/fjruid</ForwardTo><ForwardDeadLetteredMessagesTo>sb://servicebustestkjdemkkogk.servicebus.windows.net/fjruid</ForwardDeadLetteredMessagesTo><MaxMessageSizeInKilobytes>256</MaxMessageSizeInKilobytes></QueueDescription></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
      If-Match:
      - '*'
      ServiceBusDlqSupplementaryAuthorization:
      - SharedAccessSignature sr=sb%3A%2F%2Fservicebustestkjdemkkogk.servicebus.windows.net%2Ffjruid&sig=C76yHIGGCMFHAsxmihXYadRVA6OFnrMslHfX1RLqitg%3d&se=1634797324&skn=RootManageSharedAccessKey
      ServiceBusSupplementaryAuthorization:
      - SharedAccessSignature sr=sb%3A%2F%2Fservicebustestkjdemkkogk.servicebus.windows.net%2Ffjruid&sig=C76yHIGGCMFHAsxmihXYadRVA6OFnrMslHfX1RLqitg%3d&se=1634797324&skn=RootManageSharedAccessKey
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/fjruid?api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestkjdemkkogk.servicebus.windows.net/fjruid?api-version=2021-05</id><title
        type="text">fj[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://servicebustestsbname.servicebus.windows.net/fjruid?api-version=2021-05
  response:
    body:
      string: ''
    headers:
      etag: '637703905244830000'
    status:
      code: 200
      message: OK
    url: https://servicebustestkjdemkkogk.servicebus.windows.net/fjruid?api-version=2021-05
version: 1
