interactions:
- request:
    body: '{"location": "East US", "properties": {}, "sku": {"name": "S1", "capacity":
      1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_iothubprovisioningservices_test_iothubprovisioningservices4ed01e44/providers/Microsoft.Devices/provisioningServices/myProvisioningServiceRND?api-version=2018-01-22
  response:
    body:
      string: '{"name":"myProvisioningServiceRND","location":"East US","properties":{"state":"Activating","provisioningState":"Accepted","allocationPolicy":"Hashed","idScope":null},"resourcegroup":"test_cli_mgmt_iothubprovisioningservices_test_iothubprovisioningservices4ed01e44","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_iothubprovisioningservices_test_iothubprovisioningservices4ed01e44/providers/Microsoft.Devices/provisioningServices/myProvisioningServiceRND","subscriptionid":"00000000-0000-0000-0000-000000000000","tags":{},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_iothubprovisioningservices_test_iothubprovisioningservices4ed01e44/providers/Microsoft.Devices/provisioningServices/myProvisioningServiceRND/operationResults/b3NfaWRfZjcwOTRiZjctNzQ4OC00MTE0LTg0MDctNTA5NjMwNTQ5NDMx?api-version=2018-01-22&asyncinfo
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_iothubprovisioningservices_test_iothubprovisioningservices4ed01e44/providers/Microsoft.Devices/provisioningServices/myProvisioningServiceRND/operationResults/b3NfaWRfZjcwOTRiZjctNzQ4OC00MTE0LTg0MDctNTA5NjMwNTQ5NDMx?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_iothubprovisioningservices_test_iothubprovisioningservices4ed01e44/providers/Microsoft.Devices/provisioningServices/myProvisioningServiceRND?api-version=2018-01-22
  response:
    body:
      string: '{"etag":"AAAAAALwwXo=","name":"myProvisioningServiceRND","location":"East
        US","properties":{"state":"Active","provisioningState":"Succeeded","iotHubs":[],"allocationPolicy":"Hashed","serviceOperationsHostName":"myProvisioningServiceRND.azure-devices-provisioning.net","deviceProvisioningHostName":"global.azure-devices-provisioning.net","idScope":"0ne000F9208"},"resourcegroup":"test_cli_mgmt_iothubprovisioningservices_test_iothubprovisioningservices4ed01e44","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_iothubprovisioningservices_test_iothubprovisioningservices4ed01e44/providers/Microsoft.Devices/provisioningServices/myProvisioningServiceRND","subscriptionid":"00000000-0000-0000-0000-000000000000","tags":{},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_iothubprovisioningservices_test_iothubprovisioningservices4ed01e44/providers/Microsoft.Devices/provisioningServices/myProvisioningServiceRND/certificates?api-version=2018-01-22
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "test213123"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkProvisioningServiceNameAvailability?api-version=2018-01-22
  response:
    body:
      string: '{"nameAvailable":true,"reason":"Invalid","message":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_iothubprovisioningservices_test_iothubprovisioningservices4ed01e44/providers/Microsoft.Devices/provisioningServices/myProvisioningServiceRND/operationResults/b3NfaWRfNTk5NjE4ZjUtY2Q1Yy00ZTUwLTlmMDEtNTljOGFjNDdmMzlm?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
