interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fakesbnamespace.servicebus.windows.net/utqueue7dfc1b19
  response:
    body: {string: '<feed xmlns="http://www.w3.org/2005/Atom"><title type="text">Publicly
        Listed Services</title><subtitle type="text">This is the list of publicly-listed
        services currently available.</subtitle><id>uuid:55f0ff16-4e23-4c96-b818-28d873ad9124;id=150</id><updated>2015-06-30T20:53:19Z</updated><generator>Service
        Bus 1.1</generator></feed>'}
    headers:
      Content-Type: [application/atom+xml;type=feed;charset=utf-8]
    status: {code: 200, message: OK}
version: 1
