interactions:
- request:
    body: <?xml version="1.0" encoding="utf-8" standalone="yes"?><entry xmlns:d="http://schemas.microsoft.com/ado/2007/08/dataservices"
      xmlns:m="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata" xmlns="http://www.w3.org/2005/Atom"><title></title><updated>2016-08-11T22:21:31.014399+00:00</updated><author><name></name></author><id></id><content
      type="application/xml"><TopicDescription xmlns:i="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"></TopicDescription></content></entry>
    headers:
      Content-Type: [application/atom+xml;type=entry;charset=utf-8]
    method: PUT
    uri: https://fakesbnamespace.servicebus.windows.net/uttopicf6e918e2
  response:
    body: {string: '<entry xmlns="http://www.w3.org/2005/Atom"><id>https://fakesbnamespace.servicebus.windows.net/uttopicf6e918e2</id><title
        type="text">uttopicf6e918e2</title><published>2016-08-11T22:21:32Z</published><updated>2016-08-11T22:21:32Z</updated><author><name>fakesbnamespace</name></author><link
        rel="self" href="https://fakesbnamespace.servicebus.windows.net/uttopicf6e918e2"/><content
        type="application/xml"><TopicDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><CreatedAt>2016-08-11T22:21:32.527</CreatedAt><UpdatedAt>2016-08-11T22:21:32.623</UpdatedAt></TopicDescription></content></entry>'}
    headers:
      Content-Type: [application/atom+xml;type=entry;charset=utf-8]
    status: {code: 201, message: Created}
- request:
    body: <?xml version="1.0" encoding="utf-8" standalone="yes"?><entry xmlns:d="http://schemas.microsoft.com/ado/2007/08/dataservices"
      xmlns:m="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata" xmlns="http://www.w3.org/2005/Atom"><title></title><updated>2016-08-11T22:21:32.396104+00:00</updated><author><name></name></author><id></id><content
      type="application/xml"><SubscriptionDescription xmlns:i="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"></SubscriptionDescription></content></entry>
    headers:
      Content-Type: [application/atom+xml;type=entry;charset=utf-8]
    method: PUT
    uri: https://fakesbnamespace.servicebus.windows.net/uttopicf6e918e2/subscriptions/MySubscription
  response:
    body: {string: '<entry xmlns="http://www.w3.org/2005/Atom"><id>https://fakesbnamespace.servicebus.windows.net/uttopicf6e918e2/subscriptions/MySubscription</id><title
        type="text">MySubscription</title><published>2016-08-11T22:21:32Z</published><updated>2016-08-11T22:21:32Z</updated><link
        rel="self" href="https://fakesbnamespace.servicebus.windows.net/uttopicf6e918e2/subscriptions/MySubscription"/><content
        type="application/xml"><SubscriptionDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><LockDuration>PT1M</LockDuration><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DeadLetteringOnFilterEvaluationExceptions>true</DeadLetteringOnFilterEvaluationExceptions><MessageCount>0</MessageCount><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations></SubscriptionDescription></content></entry>'}
    headers:
      Content-Type: [application/atom+xml;type=entry;charset=utf-8]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/atom+xml;type=entry;charset=utf-8]
    method: POST
    uri: https://fakesbnamespace.servicebus.windows.net/uttopicf6e918e2/subscriptions/MySubscription/$DeadLetterQueue/messages/head?timeout=2
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/xml; charset=utf-8]
    status: {code: 204, message: No Content}
version: 1
