interactions:
- request:
    body: <?xml version="1.0" encoding="utf-8" standalone="yes"?><entry xmlns:d="http://schemas.microsoft.com/ado/2007/08/dataservices"
      xmlns:m="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata" xmlns="http://www.w3.org/2005/Atom"><title></title><updated>2019-04-25T06:37:46.441135+00:00</updated><author><name></name></author><id></id><content
      type="application/xml"><QueueDescription xmlns:i="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"></QueueDescription></content></entry>
    headers:
      Content-Type:
      - application/atom+xml;type=entry;charset=utf-8
    method: PUT
    uri: https://fakesbnamespace.servicebus.windows.net/utqueue97ed1715?api-version=2017-04
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://fakesbnamespace.servicebus.windows.net/utqueue97ed1715?api-version=2017-04</id><title
        type="text">utqueue97ed1715</title><published>2019-04-25T06:37:46Z</published><updated>2019-04-25T06:37:46Z</updated><author><name>fakesbnamespace</name></author><link
        rel="self" href="https://fakesbnamespace.servicebus.windows.net/utqueue97ed1715?api-version=2017-04"/><content
        type="application/xml"><QueueDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><LockDuration>PT1M</LockDuration><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><MessageCount>0</MessageCount><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2019-04-25T06:37:46.963Z</CreatedAt><UpdatedAt>2019-04-25T06:37:46.997Z</UpdatedAt><SupportOrdering>true</SupportOrdering><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableExpress>false</EnableExpress></QueueDescription></content></entry>
    headers:
      Content-Type:
      - application/atom+xml;type=entry;charset=utf-8
    status:
      code: 201
      message: Created
- request:
    body: '[{"Body": "This is the first message", "BrokerProperties": {"Label": "M1",
      "TimeToLiveTimeSpan": "0.00:00:40"}}, {"Body": "This is the second message",
      "UserProperties": {"Priority": "Low"}, "BrokerProperties": {"Label": "M2"}},
      {"Body": "This is the third message", "UserProperties": {"Priority": "Medium",
      "Customer": "ABC"}, "BrokerProperties": {"Label": "M3"}}]'
    headers:
      Content-Type:
      - application/vnd.microsoft.servicebus.json
    method: POST
    uri: https://fakesbnamespace.servicebus.windows.net/utqueue97ed1715/messages?api-version=2017-04
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      ETag:
      - '636917710669970000'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/atom+xml;type=entry;charset=utf-8
    method: DELETE
    uri: https://fakesbnamespace.servicebus.windows.net/utqueue97ed1715/messages/head?timeout=60&api-version=2017-04
  response:
    body:
      string: This is the first message
    headers:
      BrokerProperties:
      - '{"DeliveryCount":1,"EnqueuedSequenceNumber":0,"EnqueuedTimeUtc":"Thu, 25
        Apr 2019 06:37:47 GMT","Label":"M1","MessageId":"e7249bb420674f839112465eb8498737","SequenceNumber":1,"State":"Active","TimeToLive":40}'
      Content-Type:
      - application/xml; charset=utf-8
      ETag:
      - '636917710669970000'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/atom+xml;type=entry;charset=utf-8
    method: DELETE
    uri: https://fakesbnamespace.servicebus.windows.net/utqueue97ed1715/messages/head?timeout=60&api-version=2017-04
  response:
    body:
      string: This is the third message
    headers:
      BrokerProperties:
      - '{"DeliveryCount":1,"EnqueuedSequenceNumber":0,"EnqueuedTimeUtc":"Thu, 25
        Apr 2019 06:37:47 GMT","Label":"M3","MessageId":"b1d4b3ea3bd4441498d1542bb3cab714","SequenceNumber":3,"State":"Active","TimeToLive":922337203685.47754}'
      Content-Type:
      - application/xml; charset=utf-8
      Customer:
      - '"ABC"'
      ETag:
      - '636917710669970000'
    status:
      code: 200
      message: OK
version: 1
