interactions:
- request:
    body: <?xml version="1.0" encoding="utf-8" standalone="yes"?><entry xmlns:d="http://schemas.microsoft.com/ado/2007/08/dataservices"
      xmlns:m="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata" xmlns="http://www.w3.org/2005/Atom"><title></title><updated>2019-04-25T06:35:09.839499+00:00</updated><author><name></name></author><id></id><content
      type="application/xml"><TopicDescription xmlns:i="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"></TopicDescription></content></entry>
    headers:
      Content-Type:
      - application/atom+xml;type=entry;charset=utf-8
    method: PUT
    uri: https://fakesbnamespace.servicebus.windows.net/uttopicedc239b?api-version=2017-04
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://fakesbnamespace.servicebus.windows.net/uttopicedc239b?api-version=2017-04</id><title
        type="text">uttopicedc239b</title><published>2019-04-25T06:35:10Z</published><updated>2019-04-25T06:35:10Z</updated><author><name>fakesbnamespace</name></author><link
        rel="self" href="https://fakesbnamespace.servicebus.windows.net/uttopicedc239b?api-version=2017-04"/><content
        type="application/xml"><TopicDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><FilteringMessagesBeforePublishing>false</FilteringMessagesBeforePublishing><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2019-04-25T06:35:10.427Z</CreatedAt><UpdatedAt>2019-04-25T06:35:10.507Z</UpdatedAt><SupportOrdering>true</SupportOrdering><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><IsExpress>false</IsExpress><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableSubscriptionPartitioning>false</EnableSubscriptionPartitioning><EnableExpress>false</EnableExpress></TopicDescription></content></entry>
    headers:
      Content-Type:
      - application/atom+xml;type=entry;charset=utf-8
    status:
      code: 201
      message: Created
- request:
    body: <?xml version="1.0" encoding="utf-8" standalone="yes"?><entry xmlns:d="http://schemas.microsoft.com/ado/2007/08/dataservices"
      xmlns:m="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata" xmlns="http://www.w3.org/2005/Atom"><title></title><updated>2019-04-25T06:35:11.003482+00:00</updated><author><name></name></author><id></id><content
      type="application/xml"><TopicDescription xmlns:i="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"></TopicDescription></content></entry>
    headers:
      Content-Type:
      - application/atom+xml;type=entry;charset=utf-8
    method: PUT
    uri: https://fakesbnamespace.servicebus.windows.net/uttopicedc239b?api-version=2017-04
  response:
    body:
      string: <Error><Code>409</Code><Detail>SubCode=40900. Conflict. TrackingId:50f052e5-6e60-4c3d-8648-22c664e8d609_G53,
        SystemTracker:fakesbnamespace.servicebus.windows.net:uttopicedc239b, Timestamp:2019-04-25T06:35:10</Detail></Error>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      ETag:
      - '636917709105070000'
    status:
      code: 409
      message: Conflict
version: 1
