interactions:
- request:
    body: '{"properties": {"appliedScopeType": "Shared"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/55793bc2-e5c2-4a98-9d5c-0a0bce6cf998/reservations/b2c5c792-3695-46e8-b65e-0f2f74ed9d24?api-version=2017-11-01
  response:
    body: {string: '{"error":{"code":"AppliedScopesTypeFloatingToFloating","message":"AppliedScopeType
        is already set to Shared."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-tenant-writes: ['1199']
    status: {code: 400, message: Bad Request}
version: 1
