interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Capacity/catalogs?api-version=2017-11-01
  response:
    body: {string: '[{"resourceType":"virtualMachines","name":"Standard_F16s","tier":"Standard","size":"F16s","terms":["P1Y","P3Y"],"locations":["ukwest"],"restrictions":[]},{"resourceType":"virtualMachines","name":"Standard_F8s","tier":"Standard","size":"F8s","terms":["P1Y","P3Y"],"locations":["ukwest"],"restrictions":[]},{"resourceType":"virtualMachines","name":"Standard_F4s","tier":"Standard","size":"F4s","terms":["P1Y","P3Y"],"locations":["ukwest"],"restrictions":[]},{"resourceType":"virtualMachines","name":"Standard_F2s","tier":"Standard","size":"F2s","terms":["P1Y","P3Y"],"locations":["ukwest"],"restrictions":[]},{"resourceType":"virtualMachines","name":"S[...]
