interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Capacity/operations?api-version=2017-11-01
  response:
    body: {string: '{"value":[{"name":"Microsoft.Capacity/reservationorders/read","display":{"provider":"Microsoft
        Capacity","resource":"Reservations","operation":"Get Reservations","description":"Read
        All Reservations"}},{"name":"Microsoft.Capacity/reservationorders/write","display":{"provider":"Microsoft
        Capacity","resource":"Reservations","operation":"Create Reservations","description":"Create
        any Reservation"}},{"name":"Microsoft.Capacity/reservationorders/action","display":{"provider":"Microsoft
        Capacity","resource":"Reservations","operation":"Update Reservations","description":"Update
        any Reservation"}},{"name":"Microsoft.Capacity/reservation[...]
