interactions:
- request:
    body: 'b''b\''b\\\''b\\\\\\\''{"properties": {"appliedScopeType": "Single", "appliedScopes":
      ["/subscriptions/00000000-0000-0000-0000-000000000000"], "instanceFlexibility":
      "On"}}\\\\\\\''\\\''\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/9f530eb9-16eb-4e3a-8965-8a1aecee3591/reservations/408ddb33-6363-43b9-adbb-bb7ce22f2c10?api-version=2018-06-01
  response:
    body: {string: '{"sku":{"name":"Standard_B1ms"},"id":"/providers/microsoft.capacity/reservationOrders/9f530eb9-16eb-4e3a-8965-8a1aecee3591/reservations/408ddb33-6363-43b9-adbb-bb7ce22f2c10","type":"Microsoft.Capacity/reservationOrders/reservations","name":"9f530eb9-16eb-4e3a-8965-8a1aecee3591/408ddb33-6363-43b9-adbb-bb7ce22f2c10","etag":10,"location":"westus","properties":{"appliedScopes":["/subscriptions/00000000-0000-0000-0000-000000000000"],"appliedScopeType":"Single","quantity":2,"provisioningState":"Succeeded","expiryDate":"2019-06-14","displayName":"PythonSDK_Test","effectiveDateTime":"2018-06-14T19:42:16.5270597Z","lastUpdatedDateTime":"2018-06-14T19:42:16.5270597Z","reservedResourceType":"VirtualMachines","instanceFlexibility":"On","skuDescription":"Standard_B1ms"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-tenant-writes: ['1199']
      x-ms-test: ['{"contact":"kgautam","scenarios":"SqlSusePurchase","retention":"6/24/2018
          7:39:49 PM"}']
    status: {code: 200, message: OK}
version: 1
