interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault1051159997f7e00e3a.vault.azure.net/keys/testKeyf7e00e3a/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Tue, 27 Aug 2019 22:07:24 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault1051159997f7e00e3a.vault.azure.net,
        /keys/testKeyf7e00e3a/create, api-version=7.0, '']
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault1051159997f7e00e3a.vault.azure.net/keys/testKeyf7e00e3a/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault1051159997f7e00e3a.vault.azure.net/keys/testKeyf7e00e3a/90f2a7785f314fd9be58259b96f0ebf6","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"1LoMR7cM1mc87cVpBreVVXLE61lXXkYCcN-DGI97HkhowQKPW8TzS0qTNMeWMmhKUnKEdrEVLGdMPzxrr1Uin-puaMprdim5Cj-9LrvGSFkB5rS3VxiuMtfELjhRyiObEtnqmSJPk3CR8RA6gzbJR3Gue8JlV7--E7I0s1f1_azApMOfgiMkyKih6udjxnBYBnupV5wSHCgrBpBZSDtE5xPLmlQyaoqBkPt-XttixVuw2wTKHyspT_n_c7FiVdGqnEnpQoVBk1hRJ_v9TaPVPZY9pUFIZouOMnNYn9sBIGCNaWkPuK3pVIuXa6CiSAMEE5bgmK-XIAoQOlktrUzPrQ","e":"AQAB"},"attributes":{"enabled":true,"created":1566943645,"updated":1566943645,"recoveryLevel":"Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '661', content-type: application/json;
        charset=utf-8, date: 'Tue, 27 Aug 2019 22:07:25 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault1051159997f7e00e3a.vault.azure.net,
        /keys/testKeyf7e00e3a/create, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault1051159997f7e00e3a.vault.azure.net/keys/testKeyf7e00e3a/versions?api-version=7.0
  response:
    body: {string: '{"value":[{"kid":"https://vault1051159997f7e00e3a.vault.azure.net/keys/testKeyf7e00e3a/3547ff20f7464c7eaa7660eda1f32546","attributes":{"enabled":true,"created":1566943645,"updated":1566943645,"recoveryLevel":"Purgeable"}},{"kid":"https://vault1051159997f7e00e3a.vault.azure.net/keys/testKeyf7e00e3a/70d3a3423cab4f5fb9973b1d2b3f3dc4","attributes":{"enabled":true,"created":1566943646,"updated":1566943646,"recoveryLevel":"Purgeable"}},{"kid":"https://vault1051159997f7e00e3a.vault.azure.net/keys/testKeyf7e00e3a/90f2a7785f314fd9be58259b96f0ebf6","attributes":{"enabled":true,"created":1566943645,"updated":1566943645,"recoveryLevel":"Purgeable"}},{"kid":"https://vault1051159997f7e00e3a.vault.azure.net/keys/testKeyf7e00e3a/affff0bc792e437dac6e4e23c0d7a220","attributes":{"enabled":true,"created":1566943645,"updated":1566943645,"recoveryLevel":"Purgeable"}},{"kid":"https://vault1051159997f7e00e3a.vault.azure.net/keys/testKeyf7e00e3a/c99f7c514f8740028186619724df21ae","attributes":{"enabled":true,"created":1566943645,"updated":1566943645,"recoveryLevel":"Purgeable"}},{"kid":"https://vault1051159997f7e00e3a.vault.azure.net/keys/testKeyf7e00e3a/ce8ca5a028b441a495c6f5d9ae62be35","attributes":{"enabled":true,"created":1566943645,"updated":1566943645,"recoveryLevel":"Purgeable"}},{"kid":"https://vault1051159997f7e00e3a.vault.azure.net/keys/testKeyf7e00e3a/e4bff650ba704755b62088919b0ca0a1","attributes":{"enabled":true,"created":1566943646,"updated":1566943646,"recoveryLevel":"Purgeable"}}],"nextLink":null}'}
    headers: {cache-control: no-cache, content-length: '1511', content-type: application/json;
        charset=utf-8, date: 'Tue, 27 Aug 2019 22:07:26 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault1051159997f7e00e3a.vault.azure.net,
        /keys/testKeyf7e00e3a/versions, api-version=7.0, '']
version: 1
