interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc725cf0f71.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc725cf0f71.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc725cf0f71.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/76113baa99c64c08b7b87ec8f5995ffb","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"kyQSepXzDuuL_dwSDqrF0TLV9WfD54kpxVvynzmbrx9YJr9sKE2cwqgxqJjgx_gpSuZeSzzkwAy4QTQyD8Gpwbrgyc6m3sQqQfDs9C0MIgTLAesmVJVOMsW2USNI5ASgjAXukPKwDYyQ-4k1Bmay01HKsc_2bpiLVzhkqNOzhNLlU1n28VYWyS_GS8ikpozMlELfVy79ag34Zooy2p9VjrjYwj-xmLLVXVD-qt9Kc-FnD_d2dvUA3uZZQVYcAc91uP5c7jUhOp_ljhyqiQUKCk_rgD_QjZC4AcQQXwugnzSc1z3wJ0cAfeUDX3A1CDtVSSYQ_TfL1JeN7rERVLsWiQ","e":"AQAB"},"attributes":{"enabled":true,"created":1572543967,"updated":1572543967,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "RS256", "value": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc725cf0f71.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/76113baa99c64c08b7b87ec8f5995ffb/sign?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vault458ad70cc725cf0f71.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/76113baa99c64c08b7b87ec8f5995ffb","value":"jugnacpnQ14Qv3fqz0S-ixArcONMuOZ8Ce4OvSYuFNkHeJCjxy_-IcKprukE_vs1HU4lO8iHkzSt9-kgZdzF-4ws0mZvnA5R-pzxFlyGBNO1YAbLTw49XMaCoRhEZbNMdI327nNiu5PcAb8cUE4s1dBJPE5F7O7vGgw9dAbup3ORIVymd5kLAkfzufy1qhbhju3UEchsHXTlxKBnXTndD62LMyqqAcxap2VdtQ3oQU_abxc-QiqRNeRm8qVTezNSDMhRUOxbthcGnHoS2bjjOLA5juHedOT4A3A2VsxF73_7cekIOY1oI2wcYfo5_V7ut9fA_LAgLwECqRgpgT2w8w"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
