interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256701f1a6d/create?api-version=7.3-preview
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '1'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "EC-HSM", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256701f1a6d/create?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1625604899,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625604899},"key":{"crv":"P-256","key_ops":["verify","sign"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256701f1a6d/86d7f5715a240f8886184a96d937e9ec","kty":"EC-HSM","x":"Rgoy6sgNQ9A_jleO4L6bXneXrVWolHDR2w_fFwwTo3g","y":"xLUvir-dcjEId56LOyh5foR__opkZm5iBNcrrcFSI1Q"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '316'
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "ES256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256701f1a6d/86d7f5715a240f8886184a96d937e9ec/sign?api-version=7.3-preview
  response:
    body:
      string: '{"alg":"ES256","kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256701f1a6d/86d7f5715a240f8886184a96d937e9ec","value":"wj7XTjDFvUkCEVDkCRnPFjzABAw0CG5zM7XFHecNMJ7BbtR0NV9rVe5uLcOULUyObhSAiQ8hL7Xa4MDMEMCVhw"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '99'
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "EC-HSM", "crv": "P-256K"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256K701f1a6d/create?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1625604902,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625604902},"key":{"crv":"P-256K","key_ops":["verify","sign"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256K701f1a6d/2551d1b8e1974323078d278b8a3f8be0","kty":"EC-HSM","x":"Pw7NzviaUZomDoohKNPk40r6lGYW56Q9cTY_aVWcOno","y":"neiygJM80Uvo1nES_CAAl8eK3X7b4OVNFJ48xLgdFa0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '263'
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "ES256K", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256K701f1a6d/2551d1b8e1974323078d278b8a3f8be0/sign?api-version=7.3-preview
  response:
    body:
      string: '{"alg":"ES256K","kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256K701f1a6d/2551d1b8e1974323078d278b8a3f8be0","value":"2aQKxDWt81i1hjZnOWgBh2A-U3faJi4ZaNZSz75PDEuKUHrzC_wwzah9aFBgbFLgf95M6gzByfu3kvFC8zLqXg"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '97'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "ES512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-521701f1a6d/1b8f4cee05890eaa882661fda5663648/sign?api-version=7.3-preview
  response:
    body:
      string: '{"alg":"ES512","kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-521701f1a6d/1b8f4cee05890eaa882661fda5663648","value":"AFeUTE6KZCtLEu4_2HR2a8gnq0aq2g7zcgWzqkI9XFT8sej0wK93oqRzpmRP0Xz6rJEfZuLMnz9iacxx6_-r2eVBATWv9aNcMGN3G444Tsq4uy4quVqmg8yQH7bSz2vMGSnzW2YPqBspErosajRg5DSkVGF3jnCb7R0EPPmocYFXh-0Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '208'
    status:
      code: 200
      message: OK
version: 1
