interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey027b0e05/create?api-version=7.3
  response:
    body:
      string: ''
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency: '1'
    status:
      code: 401
      message: Unauthorized
    url: https://malegerechsm.managedhsm.azure.net/keys/livekvtestkey027b0e05/create?api-version=7.3
- request:
    body: '{"kty": "RSA-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey027b0e05/create?api-version=7.3
  response:
    body:
      string: '{"attributes":{"created":1647992233,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1647992233},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey027b0e05/30771faea969055c2a8856fbee667079","kty":"RSA-HSM","n":"qngJZ0LN3S4Lfulu4AE6q2ltB_bLBjl3Jwpj138tAVnREwe8VA9x9gDaENNAkQ28LSpkd1hQhuF9Wen9XQI16tduw4M4m3OFlSys2UfjB2JZ8b77h-I-0BCmLZGusorukpNyCCgHnKRk1OYXSQniC2nus06Gc91bEO4rqOvCYhEMx5U2sgMi1jqcUErfkIlktdtZJ2OG3jDQWGYRhEl72g8KkjktU003k7E16CWcRRd__hafvl0RWbs6NY_66dujqpFVFPxrIBgFD4TV2gmF5hxDlm0BeGRKQ-vPUaI9w-lQooVcte1e9tcJykxKW68ke2hSD1reI2cOZu5Gc1Qkuw"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '268'
    status:
      code: 200
      message: OK
    url: https://malegerechsm.managedhsm.azure.net/keys/livekvtestkey027b0e05/create?api-version=7.3
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey027b0e05?api-version=7.3
  response:
    body:
      string: '{"attributes":{"created":1647992233,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1647992233},"deletedDate":1647992247,"key":{"e":"AQAB","key_ops":["wrapKey","encrypt","decrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey027b0e05/30771faea969055c2a8856fbee667079","kty":"RSA-HSM","n":"qngJZ0LN3S4Lfulu4AE6q2ltB_bLBjl3Jwpj138tAVnREwe8VA9x9gDaENNAkQ28LSpkd1hQhuF9Wen9XQI16tduw4M4m3OFlSys2UfjB2JZ8b77h-I-0BCmLZGusorukpNyCCgHnKRk1OYXSQniC2nus06Gc91bEO4rqOvCYhEMx5U2sgMi1jqcUErfkIlktdtZJ2OG3jDQWGYRhEl72g8KkjktU003k7E16CWcRRd__hafvl0RWbs6NY_66dujqpFVFPxrIBgFD4TV2gmF5hxDlm0BeGRKQ-vPUaI9w-lQooVcte1e9tcJykxKW68ke2hSD1reI2cOZu5Gc1Qkuw"},"recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey027b0e05","scheduledPurgeDate":1648597047}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '243'
    status:
      code: 200
      message: OK
    url: https://malegerechsm.managedhsm.azure.net/keys/livekvtestkey027b0e05?api-version=7.3
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey027b0e05?api-version=7.3
  response:
    body:
      string: '{"attributes":{"created":1647992233,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1647992233},"deletedDate":1647992247,"key":{"e":"AQAB","key_ops":["verify","sign","unwrapKey","encrypt","decrypt","wrapKey"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey027b0e05/30771faea969055c2a8856fbee667079","kty":"RSA-HSM","n":"qngJZ0LN3S4Lfulu4AE6q2ltB_bLBjl3Jwpj138tAVnREwe8VA9x9gDaENNAkQ28LSpkd1hQhuF9Wen9XQI16tduw4M4m3OFlSys2UfjB2JZ8b77h-I-0BCmLZGusorukpNyCCgHnKRk1OYXSQniC2nus06Gc91bEO4rqOvCYhEMx5U2sgMi1jqcUErfkIlktdtZJ2OG3jDQWGYRhEl72g8KkjktU003k7E16CWcRRd__hafvl0RWbs6NY_66dujqpFVFPxrIBgFD4TV2gmF5hxDlm0BeGRKQ-vPUaI9w-lQooVcte1e9tcJykxKW68ke2hSD1reI2cOZu5Gc1Qkuw"},"recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey027b0e05","scheduledPurgeDate":1648597047}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20220305-2-902fedaa-closebadconnections
      x-ms-server-latency: '32'
    status:
      code: 200
      message: OK
    url: https://malegerechsm.managedhsm.azure.net/deletedkeys/livekvtestkey027b0e05?api-version=7.3
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey027b0e05?api-version=7.3
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Key not found: https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey027b0e05
        (Activity ID: 0a6742a2-aa39-11ec-ab0c-00224878712e)"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20220305-2-902fedaa-closebadconnections
      x-ms-server-latency: '34'
    status:
      code: 404
      message: Not Found
    url: https://malegerechsm.managedhsm.azure.net/deletedkeys/livekvtestkey027b0e05?api-version=7.3
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys?api-version=7.3
  response:
    body:
      string: '{"nextLink":"https://managedhsmname.managedhsm.azure.net/deletedkeys?maxresults=25&$skiptoken=K1JJRDp-cjJWNUFJaUhTNEVBQVFBQUFBQUFBQT09I1JUOjEjVFJDOjEwI0lTVjoyI0lFTzo2NTU2Nw","value":[{"attributes":{"created":1647991712,"enabled":true,"exp":2524723200,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1647991716},"deletedDate":1647991716,"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keyf5ad13c9","recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-keyf5ad13c9","scheduledPurgeDate":1648596516,"tags":{"foo":"updated
        tag"}},{"attributes":{"created":1647991773,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1647991773},"deletedDate":1647991787,"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey0cc6612dd","recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey0cc6612dd","scheduledPurgeDate":1648596587},{"attributes":{"created":1647991775,"enabled":true,"exportable":false,"recoverable[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys?api-version=7.3&maxresults=25&$skiptoken=K1JJRDp-cjJWNUFJaUhTNEVBQVFBQUFBQUFBQT09I1JUOjEjVFJDOjEwI0lTVjoyI0lFTzo2NTU2Nw
  response:
    body:
      string: '{"value":[{"attributes":{"created":1647992119,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1647992119},"deletedDate":1647992131,"kid":"https://managedhsmn[...]
