interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault1051159997105514c1.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"kty": "RSA-HSM", "attributes": {"exp": 2527401600}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault1051159997105514c1.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault1051159997105514c1.vault.azure.net/keys/key-name/5fae971caa3644579ccadedba474ad8e","kty":"RSA-HSM","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"pkqOux9RIBaaKxeTmCTGp09JdLfWqm8jovPte3VKABHVcTYN03wY4bOGnfK4cOVlFLK8UX2Cy4lGRujTektJxqtp3ik20rxMPMkHzIS2N31V7tVBOX5XweUHF4Y8hK8JxWt3XK-KzJf0xqiPOpr3Pmq5btfznX55jeJ8tvFlnYq6XXybOIthfVkqf8kzqdQ7vIEVvRo4mlzr5nofbLhMAjh0YYoi0IqSs7XaKaZFM91it0GO9uSAsd9AZrzoMcanZd4IJ5Kx6m8wge4IrJrrFbY86wtaIj245ReLi7HmtCs7UySRAQUvAh1Hb2McCVUkCLQ6rz9ADYIdDO9mYO783w","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":2527401600,"created":1566943663,"updated":1566943663,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048, "key_ops": ["encrypt", "decrypt",
      "sign", "verify", "wrapKey", "unwrapKey"]}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault1051159997105514c1.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault1051159997105514c1.vault.azure.net/keys/key-name/2dcbaf1cd9a14fb28f52c2096b3183bc","kty":"RSA-HSM","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"tyx37cloSVXBDRgeGpNwTvfALEZdzxHZ-7xQRqpIPSO36fDV6HvkDOW4mD98qXMy50Jer2yhvtS14-6oLMgYhiarxhUfDTO2e8HBdRfcbOVZXt6DC4gcvcvkCRvKHILqI-H5d8qolfZgMZflaIkf6fWyohLR1cRr2oeeDi6qr7IXsy_aVU3T9qDEleBOfw3MlHkzgDNwWOgIYkExUMHnRpFrXkwVYvHL5rPTofyJrkekovancYrC43juopS9WfqpeqA3M8ZgCnKLuiZ1yacD7EQpxJOfVM8fUQ2pzep0UZdp4UhlqFlkPNxHzOoMHrJ04-dncULZCpEJFPIoRjj2Nw","e":"AAEAAQ"},"attributes":{"enabled":true,"created":1566943664,"updated":1566943664,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault1051159997105514c1.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault1051159997105514c1.vault.azure.net/keys/key-name/94033013a62d475899a1d6dc81dca211","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"IiWQrg38XaUuVQibbZXG-8b_NIQ4hvK-AX-z3jfEOQE","y":"5FmwdVymKmI9aQ_ipIapnbcL1vnALodRxt_4G0h4htE"},"attributes":{"enabled":true,"created":1566943664,"updated":1566943664,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vault1051159997105514c1.vault.azure.net/keys/key-name/?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault1051159997105514c1.vault.azure.net/keys/key-name/94033013a62d475899a1d6dc81dca211","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"IiWQrg38XaUuVQibbZXG-8b_NIQ4hvK-AX-z3jfEOQE","y":"5FmwdVymKmI9aQ_ipIapnbcL1vnALodRxt_4G0h4htE"},"attributes":{"enabled":true,"created":1566943664,"updated":1566943664,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vault1051159997105514c1.vault.azure.net/keys/key-name/94033013a62d475899a1d6dc81dca211?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault1051159997105514c1.vault.azure.net/keys/key-name/94033013a62d475899a1d6dc81dca211","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"IiWQrg38XaUuVQibbZXG-8b_NIQ4hvK-AX-z3jfEOQE","y":"5FmwdVymKmI9aQ_ipIapnbcL1vnALodRxt_4G0h4htE"},"attributes":{"enabled":true,"created":1566943664,"updated":1566943664,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"attributes": {"exp": 2524723200}, "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://vault1051159997105514c1.vault.azure.net/keys/key-name/?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault1051159997105514c1.vault.azure.net/keys/key-name/94033013a62d475899a1d6dc81dca211","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"IiWQrg38XaUuVQibbZXG-8b_NIQ4hvK-AX-z3jfEOQE","y":"5FmwdVymKmI9aQ_ipIapnbcL1vnALodRxt_4G0h4htE"},"attributes":{"enabled":true,"exp":2524723200,"created":1566943664,"updated":1566943664,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault1051159997105514c1.vault.azure.net/keys/key-name?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vault1051159997105514c1.vault.azure.net/deletedkeys/key-name","deletedDate":1566943664,"scheduledPurgeDate":1574719664,"key":{"kid":"https://vault1051159997105514c1.vault.azure.net/keys/key-name/94033013a62d475899a1d6dc81dca211","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"IiWQrg38XaUuVQibbZXG-8b_NIQ4hvK-AX-z3jfEOQE","y":"5FmwdVymKmI9aQ_ipIapnbcL1vnALodRxt_4G0h4htE"},"attributes":{"enabled":true,"exp":2524723200,"created":1566943664,"updated":1566943664,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
