interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey04bff1c7f/create?api-version=2016-10-01
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestkey04bff1c7f/create?api-version=2016-10-01
- request:
    body: '{"kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey04bff1c7f/create?api-version=2016-10-01
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey04bff1c7f/ea27ea20cc2b452fa2ea9d4cf42613cd","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"bvXjSeEZ6rxDmU3XFUIqopQUvdgQStc3VCySc6KMvMs","y":"qHWErPkqCnysoG9jvcNRtl3DSET6h5Bhsj1UHJwWfbo"},"attributes":{"enabled":true,"created":1619057903,"updated":1619057903,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestkey04bff1c7f/create?api-version=2016-10-01
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys?api-version=2016-10-01
  response:
    body:
      string: '{"value":[{"kid":"https://vaultname.vault.azure.net/keys/keyName","attributes":{"enabled":true,"created":1617052164,"updated":1617052164,"recoveryLevel":"Recoverable+Purgeable"}},{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey04bff1c7f","attributes":{"enabled":true,"created":1619057904,"updated":1619057904,"recoveryLevel":"Recoverable+Purgeable"}},{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey14bff1c7f","attributes":{"enabled":true,"created":1619057904,"updated":1619057904,"recoveryLevel":"Recoverable+Purgeable"}},{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey24bff1c7f","attributes":{"enabled":true,"created":1619057904,"updated":1619057904,"recoveryLevel":"Recoverable+Purgeable"}},{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey34bff1c7f","attributes":{"enabled":true,"created":1619057905,"updated":1619057905,"recoveryLevel":"Recoverable+Purgeable"}}],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinokv.vault.azure.net/keys?api-version=2016-10-01
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/key-name/versions?api-version=2016-10-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinokv.vault.azure.net/keys/key-name/versions?api-version=2016-10-01
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys?api-version=2016-10-01
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name4a621c71","deletedDate":1619057865,"scheduledPurgeDate":1626833865,"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name4a621c71","attributes":{"enabled":true,"exp":2524723200,"created":1619057864,"updated":1619057865,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}},{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name77d21e51","deletedDate":1619057894,"scheduledPurgeDate":1626833894,"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name77d21e51","attributes":{"enabled":true,"exp":2524723200,"created":1619057894,"updated":1619057894,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}},{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name91461aee","deletedDate":1619057875,"scheduledPurgeDate":1626833875,"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name91461aee","attributes":{"enabled":true,"exp":2524723200,"created":1619057875,"updated":1619057875,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}},{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name914d1aef","deletedDate":1619057886,"scheduledPurgeDate":1626833886,"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name914d1aef","attributes":{"enabled":true,"exp":2524723200,"created":1619057885,"updated":1619057886,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinokv.vault.azure.net/deletedkeys?api-version=2016-10-01
version: 1
