interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048aeae12a4/create?api-version=7.3-preview
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '1'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"key_size": 2048, "kty": "RSA-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048aeae12a4/create?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1618441010,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1618441010},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048aeae12a4/fae303fb998f0180156a8dd9523788e7","kty":"RSA-HSM","n":"s_y_VQE3c3OmKUMDXhw89jDBWA-L_9aSkB8TEhdgn01osn8SyEQMgDnlESemmoU4k6rvcRIxddFnML1b_g4WCw1yg6Of6Erb9nPvQ1j_7m1dNBlEU2BKWExO8zHRuFEbt9pH6Aii68Mm7mpkDPTQ-dTTGYnjRL9QtQjOozHRVoOe2DeCD-P50mkwEjezf7LuU9ICB5Wl0zepks18apau5eERve-jBJy2TelLTPsuc_Run7nze4ZhSq314Y2OM_av1jBTYHuhsga6NW-FU1qKN34EAjT_xrnzVKI4dECxttvDbXn4JzCoBNP1LddasA64MOZa-3__n5ifY6AMeqtkaw"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '218'
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "PS256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048aeae12a4/fae303fb998f0180156a8dd9523788e7/sign?api-version=7.3-preview
  response:
    body:
      string: '{"alg":"PS256","kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048aeae12a4/fae303fb998f0180156a8dd9523788e7","value":"SmMIl0VoLjggvQe66-kezi6IuETNY-PeljkoggitOrR9oZGeQVQtLnAtazekVPxxTUQQK032z6LWyHNUoeXNTFi3PNNDHOSibPhPgEGpeMZXiMvyNeRmxm0hLhVn7Vs5FDowORi1Tqk0V0Da2G1cg6VADln28grI5XsB17Ndb6sVzMJtvmjF_ZgdX3GdCx0-KpeE6S_Dla8BwkRJ10726AJOBXyaZAIYzat-j58EXCnKtgIo5lC17tsSTgZxII25oj8hk_kuO43caH-NsckUQ3lwsIOQVfBPqHBfAe4ptRA1IabwkOMXhQvlL44kLBqkcHL-DySLury6eBa1OKdwKw"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '90'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "RS512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-verify-4096aeae12a4/5f04ab97ccf84cc7073b353ce04d936e/sign?api-version=7.3-preview
  response:
    body:
      string: '{"alg":"RS512","kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-verify-4096aeae12a4/5f04ab97ccf84cc7073b353ce04d936e","value":"IFKlaULRImUotnhvtNgzdQWYhAJC8tu0dgjoUlqmfs9C5jrnOeYYTFNiKHJD_vvQGvod52xFBXqgiUcFK9f3lkq4NQZ602aGx2qLdOC-WeKdkLYlmV2rAth7bs3eEaLKf7i557ilfekG-iKPWHSefBH62rjusNFrVIShV_x8l8MfPGnBFnpy-OPjLeLJpRpjNWLA82AIszc_yzEGkhg4FXFBfi6iqbNR4injV_9EI2x_sd9-sdYtYb3hZx58rgsY1G_3GV6AEB4WHBmN-eoZskUGcvqgEzyJcLhj7yII1iWxfBOQpsvIUI-pt_86YHdwXiqSeQh4L57GzCAeYLI8gEbHUNdtE-D4oOJeDsdw3A41iyCPSNjhTnl0X2WmOPiMCmflH-KzstlPU-24TV1fYrlPZUnc-VMxGpcm_RuyUiwz-a59xlIfQB1aw3i_fGxTFKJ_3R-FJkRpSAC6mkyOWlI0-M84XoyZ6LE10-Aq8Lds_jflorEidAQsvUgBolS1FzrOwfZYDIHvhLCixW9E8UAd-uAG21hfXqFcFl_P3xZI8-i-kn0EX7qZEwrBpl0Gos8SfjxYeRlcy2Tuz_jz11hD4B8ts1zE7lelU0cLydGDfkQLvb2wgXSkibmw8GZD1Bte91SfOp2__5LnWKEFZ2COAV7i5Ks7xko2W6RAJDA"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '12'
    status:
      code: 200
      message: OK
version: 1
