{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestwrap-local9a2e2f5d/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestwrap-local9a2e2f5d/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 4096
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestwrap-local9a2e2f5d/32b20f21ea6d44aba2d6089bdaf6de74",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rLsctWH8TSUcTDFONs_rDJkOkIW0ASQV7tw0B4j7_LQImmA0co2PPPzEugKDySvj9H6obmOEoIpm4RR512uS1pQERIsfS9j52n7Ibp9pkWvx-u3ltxJdUDVQAqeJPGxIp0Gi0a_FW4wv-xkcZn1VIQQBSP6mDmPpXvX7vvVx7ZuYSlkHlHOwFLJOSOWFMVPW9LjZx4RIniA-wb1RoKFvJgm4v7p-RZ4ki-R91W9JhYOmlzstBS-TPaSCv7KpTTOKXOSx3E5HGFAYUPCJAiISqV-Na8VGa38CBsB3NnewbahCSnyv79rdCcgBb7OQPAv1bfCVD0ZG5v90d13ovxnD1BitIAfjZxB6AIHGXUgzX4DPkwZC_bb0L3bGVtkpVTJJGcEkdjJUmSzTi6ad9NXn5g8KzRZvLPq-OMfvclQ0YnJSjKuR22A2eu_ZZO6MTY85YqGiRAfSqxvf35H5unDabbUdGXk4V_rfRk3SJ5H2cscz8gINt3841HFdGvyVAV0VeHDNdeETDr0LLDEohC41YyAwdI-brrJHRLQ4W_er-vXW3cD2WACfK5eByOmFguazXFx0KI9mz2YW0qf2pB7Rv7zhpGtk1E0ee-YscLQcidYiSscsEl-qLFAC5YodtJwuy7ok8E0tdFYp1WhOtimpp66KJWdr5kFRfVCV-ZxOFj0",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650638360,
          "updated": 1650638360,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestwrap-local9a2e2f5d/32b20f21ea6d44aba2d6089bdaf6de74/unwrapkey?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "drKGkw9NKc1WeyB-9SyA5eoXskgjQXWpx5dKEKfUHGB3RN82u45u1qY3GbQZSgKihPs75n1a_nK9R-E9k16yXySRmf56qgDF2UwiqxKmaFg5M7_G2v5j7DcfK3DRLOemXY8Z_vI-BOLEtWSFYY9KTMzCQAgE6niUyQ9TK_p6GoIsCcWnYX9NdJSPKN1BeWSAbg87ATJ16Epru8gI74EAn7fd_eB8KGi4Z5dUW6pdOq4aQdit-Ml1dXwTmBFaNAqThLPTwNvA0G0MEeVEhjQXU77u0n_RPtwgjVF0T97JaB0AX6BlMRPaeFUVzNSnY3_pnOEthNpc7BGtSPlfowd_Wshw8x_8Kb2RRhacK51SN8Y6CGTyBTCAWVdPK1dqtkbz3I7fx7RAkND4CYQcZ3LKrJ8BfIW1hYXrMBC2sRol13dER6IWk2jJzY__dbQQyndWSugR2R9PgdmwldD00FER-UVpmo8DoLYHZhFlVxQI0FvzeEV6rlBw_g2EEeysbMwdb-cwtapgeLu9jOiF-JQz_BeCVeoQZql1l5HtEihtAwuWoFDhgNlsoXEYGGMtl5vKNQ9nmll3wThKoCTyVJLhm-5yqWBBN7DB2KVWNbyv8rjjWUVNRQOgxlfLODar_TYV3Lq320BdgHGSJQwcVEo2qW6y2FIHZnL971jbQXMTEKA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestwrap-local9a2e2f5d/32b20f21ea6d44aba2d6089bdaf6de74",
        "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"
      }
    },
[...]
