{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestrotation-keya3a02d45/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestrotation-keya3a02d45/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "358"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1650661880,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1650661880
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "sign",
            "verify",
            "encrypt",
            "decrypt",
            "unwrapKey"
          ],
          "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestrotation-keya3a02d45/61fd642a04634653385d363caf08ddac",
          "kty": "RSA-HSM",
          "n": "tA01okdexT9fjRA4bqOqGglfAPIncq7sbUeo3xLxng6kXN2r6XXY5hzPSujKmoG1W3p_LM-bSTehJ7mb1HGui6e3pWhxQiqRN1YcVfUbnqZKyByj7qFacTUmoihJaO7iFcrvGDAamHBWS9OxZz5H8iK3PHFlz5LITM0jctcokVeSE5CJCAr5Yl7-k0QpAwOpi4hZ57VFsLMTFQViHwm3wMKcry9UaVqLljSaPPVJiOuwt9dGDd7fXi1xMj-5MKS5FcwFLHjDeB2c03fbkJ7uhNZpVHGXlwJIYh1gKQOp8rlTYX0zmrLnjV-zWyuKRxYrK-nP-HrbFbvsmyjZZH3r4Q"
        }
      }
    }
  ],
  "Variables": {}
}
