interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc79627173e.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc79627173e.vault.azure.net
        - /keys/key-name/create
        - api-version=7.0
        - ''
- request:
    body: '{"kty": "RSA", "key_size": 2048, "key_ops": ["encrypt", "decrypt", "sign",
      "verify", "wrapKey", "unwrapKey"], "attributes": {"exp": 2527401600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc79627173e.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc79627173e.vault.azure.net/keys/key-name/c3b0928eb0454526b41d5dba4cb503d3","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"n-OVnyCIH1QjOQTD3df5243SwhikzRvgKZnIplg9qSkbtxGq9RohwIV31woWf0uuNa_agmSlh8VqdFWvyr0TtApphnVNDSFfzcM2yfy9xRZAfS56d2FjHTHxMQWb8YimJsxY77wIQu8tkLUBFNekSSE61k7KSejUkaf9PLUIHpjMespQA_IRPgYoLMOSl7UC4ebkKse4jWFpGfnddU9Im0avRqqBHNnaBd465oG0Rv1bfVgbJ8oqs8bWJQf-0VoXIZI3nKy5intTiu_H_7lZCGztAVePS1wZXd2bxDLQ24-U264QDLRmhkVHKpmZfUP3p0tethmJfg6mZIjwuH2GEQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2527401600,"created":1572477835,"updated":1572477835,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc79627173e.vault.azure.net
        - /keys/key-name/create
        - api-version=7.0
        - ''
[...]
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc79627173e.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc79627173e.vault.azure.net/keys/key-name/bb789dec318b432f96070c4348d13cbb","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"eiK63g6McwBt4iC5xrKNFnqp9zw1KEs-QKfCmrrDzQ0","y":"jQBNDbitRGjiOwRkZpvucHfcSdaiSOo1tO6JFLh2UNg"},"attributes":{"enabled":true,"created":1572477835,"updated":1572477835,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc79627173e.vault.azure.net
        - /keys/key-name/create
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc79627173e.vault.azure.net/keys/key-name/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc79627173e.vault.azure.net/keys/key-name/bb789dec318b432f96070c4348d13cbb","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"eiK63g6McwBt4iC5xrKNFnqp9zw1KEs-QKfCmrrDzQ0","y":"jQBNDbitRGjiOwRkZpvucHfcSdaiSOo1tO6JFLh2UNg"},"attributes":{"enabled":true,"created":1572477835,"updated":1572477835,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc79627173e.vault.azure.net
        - /keys/key-name/
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc79627173e.vault.azure.net/keys/key-name/bb789dec318b432f96070c4348d13cbb?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc79627173e.vault.azure.net/keys/key-name/bb789dec318b432f96070c4348d13cbb","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"eiK63g6McwBt4iC5xrKNFnqp9zw1KEs-QKfCmrrDzQ0","y":"jQBNDbitRGjiOwRkZpvucHfcSdaiSOo1tO6JFLh2UNg"},"attributes":{"enabled":true,"created":1572477835,"updated":1572477835,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc79627173e.vault.azure.net
        - /keys/key-name/bb789dec318b432f96070c4348d13cbb
        - api-version=7.0
        - ''
- request:
    body: '{"attributes": {"exp": 2524723200}, "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://vault458ad70cc79627173e.vault.azure.net/keys/key-name/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc79627173e.vault.azure.net/keys/key-name/bb789dec318b432f96070c4348d13cbb","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"eiK63g6McwBt4iC5xrKNFnqp9zw1KEs-QKfCmrrDzQ0","y":"jQBNDbitRGjiOwRkZpvucHfcSdaiSOo1tO6JFLh2UNg"},"attributes":{"enabled":true,"exp":2524723200,"created":1572477835,"updated":1572477836,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc79627173e.vault.azure.net
        - /keys/key-name/
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault458ad70cc79627173e.vault.azure.net/keys/key-name?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault458ad70cc79627173e.vault.azure.net/deletedkeys/key-name","deletedDate":1572477836,"scheduledPurgeDate":1580253836,"key":{"kid":"https://vault458ad70cc79627173e.vault.azure.net/keys/key-name/bb789dec318b432f96070c4348d13cbb","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"eiK63g6McwBt4iC5xrKNFnqp9zw1KEs-QKfCmrrDzQ0","y":"jQBNDbitRGjiOwRkZpvucHfcSdaiSOo1tO6JFLh2UNg"},"attributes":{"enabled":true,"exp":2524723200,"created":1572477835,"updated":1572477836,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc79627173e.vault.azure.net
        - /keys/key-name
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc79627173e.vault.azure.net/deletedkeys/key-name?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: key-name"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc79627173e.vault.azure.net
        - /deletedkeys/key-name
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc79627173e.vault.azure.net/deletedkeys/key-name?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault458ad70cc79627173e.vault.azure.net/deletedkeys/key-name","deletedDate":1572477836,"scheduledPurgeDate":1580253836,"key":{"kid":"https://vault458ad70cc79627173e.vault.azure.net/keys/key-name/bb789dec318b432f96070c4348d13cbb","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"eiK63g6McwBt4iC5xrKNFnqp9zw1KEs-QKfCmrrDzQ0","y":"jQBNDbitRGjiOwRkZpvucHfcSdaiSOo1tO6JFLh2UNg"},"attributes":{"enabled":true,"exp":2524723200,"created":1572477835,"updated":1572477836,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc79627173e.vault.azure.net
        - /deletedkeys/key-name
        - api-version=7.0
        - ''
version: 1
