interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256f76813c4/create?api-version=7.2
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256f76813c4/create?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256f76813c4/315990718d794e928513c9be83298be4","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"EBpLzysFe4VPLF4GVDyms--YfBvqDcHc02x44EteJJ0","y":"RAh0i73jqDVV0-tjgxxQBYwo46lqHlTDUSoEn2TMhbg"},"attributes":{"enabled":true,"created":1620407974,"updated":1620407974,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg", "alg": "ES256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256f76813c4/315990718d794e928513c9be83298be4/sign?api-version=7.2
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256f76813c4/315990718d794e928513c9be83298be4","value":"iXiVTkvohIlbfOOKXf8KntUPscpKup_ZE19pA6af0SqaRhAoneJ-ysClXECR8G6crl0BhQXqLV1UxHxmcouugg"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "EC", "crv": "P-256K"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kf76813c4/create?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kf76813c4/967bfe36a1084431ae12ca6758a62d23","kty":"EC","key_ops":["sign","verify"],"crv":"P-256K","x":"J4tVRb_MzEg9AAqzg6vKxpfToSIcpCL5Y94YTMAic_M","y":"sJlD9iZktV29A4V4sbGdWqcJWzGjcj_AoaMxw7zOOiY"},"attributes":{"enabled":true,"created":1620407977,"updated":1620407977,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg", "alg": "ES256K"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kf76813c4/967bfe36a1084431ae12ca6758a62d23/sign?api-version=7.2
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kf76813c4/967bfe36a1084431ae12ca6758a62d23","value":"2TCc7nlBE73rC-yrrJrENsJW_LMQZgdTiZab2aClfPzEK30Sh1JOym0uLrDvKdHsVMxVS_PoCs8H09Z90UlLaw"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ",
      "alg": "ES512"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521f76813c4/969f175bb1684418a3dd7791189ae09b/sign?api-version=7.2
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521f76813c4/969f175bb1684418a3dd7791189ae09b","value":"ADyTzxL3ZL0it7BO5pH-DxyIQn26fB-wUXfu6s0FG_SxUPcNjhdEbTU8kyQoDRASyhM_atcIz5D1uD7p-dJ475C7AJXhjk5wplapvluRPo4M3uIpLmTsfPEawOnHD4WXdaX4jSBN5fRLx3ti4g0tWYqDva2mt0PoGA7MsvDhDinHlBYO"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
