interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc7a7710b8a.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc7a7710b8a.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc7a7710b8a.vault.azure.net/keys/key0/7290f42ec22c40d1937e2d1ef8b05e5b","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"qsuWtokTkvS83Iw8pwgS1yhTqJ_HDc2NNunqYt5In_QARC7WGpQgQyUkumf44QPblCTzAdvHsqAxELuhpzElh7yb5JAI3P1y6t1Gf9u8zK6ow4-FIs2CVdHLln6YB8V1s8egqCtH8ISiS4vOEiD6d5ML8W8SQpP1HDIDaObGvVPF5BfJI9e_Ywaq85hLdS1SGttx_kUFbJKQ3zpfnic3JGso7rRjvHb-kYyv9fxIpg23QGJn5T9tMvc__2Il4WAuKrq0wfqdWithxSKNXq2Nul28ShezkL8ewkx6-GMLgZD6URnup6jksi1rZWzV3FgWyBPoHkRUxzX0bdVGdUZylQ","e":"AQAB"},"attributes":{"enabled":true,"created":1571698505,"updated":1571698505,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault458ad70cc7a7710b8a.vault.azure.net/keys/key0?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault458ad70cc7a7710b8a.vault.azure.net/deletedkeys/key0","deletedDate":1571698507,"scheduledPurgeDate":1579474507,"key":{"kid":"https://vault458ad70cc7a7710b8a.vault.azure.net/keys/key0/7290f42ec22c40d1937e2d1ef8b05e5b","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"qsuWtokTkvS83Iw8pwgS1yhTqJ_HDc2NNunqYt5In_QARC7WGpQgQyUkumf44QPblCTzAdvHsqAxELuhpzElh7yb5JAI3P1y6t1Gf9u8zK6ow4-FIs2CVdHLln6YB8V1s8egqCtH8ISiS4vOEiD6d5ML8W8SQpP1HDIDaObGvVPF5BfJI9e_Ywaq85hLdS1SGttx_kUFbJKQ3zpfnic3JGso7rRjvHb-kYyv9fxIpg23QGJn5T9tMvc__2Il4WAuKrq0wfqdWithxSKNXq2Nul28ShezkL8ewkx6-GMLgZD6URnup6jksi1rZWzV3FgWyBPoHkRUxzX0bdVGdUZylQ","e":"AQAB"},"attributes":{"enabled":true,"created":1571698505,"updated":1571698505,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc7a7710b8a.vault.azure.net/deletedkeys/key0?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: key0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc7a7710b8a.vault.azure.net/deletedkeys?api-version=7.0
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vault458ad70cc7a7710b8a.vault.azure.net/deletedkeys/key0","deletedDate":1571698507,"scheduledPurgeDate":1579474507,"kid":"https://vault458ad70cc7a7710b8a.vault.azure.net/keys/key0","attributes":{"enabled":true,"created":1571698505,"updated":1571698505,"recoveryLevel":"Recoverable+Purgeable"}},{"recoveryId":"https://vault458ad70cc7a7710b8a.vault.azure.net/deletedkeys/key1","deletedDate":1571698507,"scheduledPurgeDate":1579474507,"kid":"https://vault458ad70cc7a7710b8a.vault[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vault458ad70cc7a7710b8a.vault.azure.net/deletedkeys/key0/recover?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc7a7710b8a.vault.azure.net/keys/key0/7290f42ec22c40d1937e2d1ef8b05e5b","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"qsuWtokTkvS83Iw8pwgS1yhTqJ_HDc2NNunqYt5In_QARC7WGpQgQyUkumf44QPblCTzAdvHsqAxELuhpzElh7yb5JAI3P1y6t1Gf9u8zK6ow4-FIs2CVdHLln6YB8V1s8egqCtH8ISiS4vOEiD6d5ML8W8SQpP1HDIDaObGvVPF5BfJI9e_Ywaq85hLdS1SGttx_kUFbJKQ3zpfnic3JGso7rRjvHb-kYyv9fxIpg23QGJn5T9tMvc__2Il4WAuKrq0wfqdWithxSKNXq2Nul28ShezkL8ewkx6-GMLgZD6URnup6jksi1rZWzV3FgWyBPoHkRUxzX0bdVGdUZylQ","e":"AQAB"},"attributes":{"enabled":true,"created":1571698505,"updated":1571698505,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vault458ad70cc7a7710b8a.vault.azure.net/deletedkeys/key6/recover?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc7a7710b8a.vault.azure.net/keys/key6/8389fbe0860a466495e3deb92e4ecbb7","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"52UbodHZi_pCZkKfGgf2LjQyMHdvD8EAqE8C_pVSvswoUaSHMNeLEo_g0X4gQ6t8z9TgVFi1oqfLqw1k3pmRQuuaQD-pMtkQquqGXtUka4mOvmgrDk26tso_ygY-Baab7rgyJzWt-yEcBALrCJHX71fjnyA1zAPykNMp1raSSjxGNW3AwAQw7S3CcyaaAaBZ-AtDZBnX0DO0BBY0u5KlnBdMqtmbS17F_EAtiQKoRzERCafwrsaxVqM0hgAyPy57OqXS7X9TJO8fSDYV7-sr6QqSibP8fQx0qVTYuNpQ7IHze_vJ60XcfE0b3eIZbVt6RQNbgNtSg1vXwHj43ZCuEQ","e":"AQAB"},"attributes":{"enabled":true,"created":1571698507,"updated":1571698507,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
