interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc7c2d1130d.vault.azure.net/keys/rsa-verify-2048/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7c2d1130d.vault.azure.net
        - /keys/rsa-verify-2048/create
        - api-version=7.0
        - ''
- request:
    body: '{"kty": "RSA", "key_size": 2048}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc7c2d1130d.vault.azure.net/keys/rsa-verify-2048/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc7c2d1130d.vault.azure.net/keys/rsa-verify-2048/6af4f1d00931416b932cbc9583348771","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"j75K9ZKoER0Gr-Sae-l3-_HkndfkkOoG1W_SzdMcKLEV2sC_d4a9fWLxeKmBdUrJR9lZrdpFutHwAv3l3omESFck36PoW7ybPHhepxfhCOc35jQlROp-KLxq64PO1XGhyFFGegPhXMTFCSu4sjP7weu5b5fDapoabi7Bl3VFoLR5u6gOPRh4j_qx7BmeCIR9irSEUYqSP9Qcms4IQNRZksqd398b6sUw93iXpPGl5ZkKTI30Beq2c_wD9bw408fUj88vtJSBmgpC9yu_6Ax7hQCqcuc-J8qSeER98HJdUVK1pR3fkVxCtWgYWFze5J0APgLNBtUltLdZqfO1pimV8w","e":"AQAB"},"attributes":{"enabled":true,"created":1572477621,"updated":1572477621,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7c2d1130d.vault.azure.net
        - /keys/rsa-verify-2048/create
        - api-version=7.0
        - ''
- request:
    body: '{"alg": "PS256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc7c2d1130d.vault.azure.net/keys/rsa-verify-2048/6af4f1d00931416b932cbc9583348771/sign?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vault458ad70cc7c2d1130d.vault.azure.net/keys/rsa-verify-2048/6af4f1d00931416b932cbc9583348771","value":"OD0glis_ak-cHgMibEw8VZAcjcSuxbJzA5T33oDNSX2xZ195jaz7Lp4AHP-UjcItmUIy4uzVmknif2TpMwsHwn1diuFSNVaXwFeeBlfJat6Z8TUmKgmTuzxhkiFdr8m22N5JFsmg2QD0YLkReAjCKqdMB3Fw2_E253_uEZCerskyuoazw4CwsYgyOtRunD-DtbiEeuK6dF9kmr6gBgsri8mSsM2muHCjOQ-DsUXH_3e01UB3JZ6HBGREACKOCg4pd9PmpOABu2TvJ5jmEd1irgnoG_OTpuhj07g6DpjzLA68Su48yban9uy7lnrGbkUAFK7lYT1NwkQIsEHDLmp43g"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7c2d1130d.vault.azure.net
        - /keys/rsa-verify-2048/6af4f1d00931416b932cbc9583348771/sign
        - api-version=7.0
        - ''
[...]
