interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultb3510bf8.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultb3510bf8.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vaultb3510bf8.vault.azure.net/keys/key0/dcf68abfbb81427888ac430ebeb1160d","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"qbDgHnUULcPZ2kJpWiYfqgLn6mHnb54u7IuhR9PnzjIlWvn8yTFV8wbQEQjte67ZazfcfqhPoMfkbv5Vquo5wYvCIYt6NXL3qTOJcrn30X3Ndd6N3Y5DYFcLvpdNbedMiSOMpLKFYYmRXfX6mL_D9NRII7eRei79rL1nGNBw9L511mBAm_75PF2oq24tWLLJ25vT8bZanzy-ECbR67jF37YGgiPEt4KWFLzhDThQWvfHnyMC6WWAOyVnzakavLeII_Szff71wWUq1PC8hpzapzfHtBdYhMbcAIJygtyb1Mc1w9Y0qItNCC4bGvQoDAv3Bxgmv6o2Bk82PmdQwubu7Q","e":"AQAB"},"attributes":{"enabled":true,"created":1565816214,"updated":1565816214,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultb3510bf8.vault.azure.net/keys?maxresults=7&api-version=7.0
  response:
    body: {string: '{"value":[{"kid":"https://vaultb3510bf8.vault.azure.net/keys/key0","attributes":{"enabled":true,"created":1565816214,"updated":1565816214,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultb3510bf8.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1565816214,"updated":1565816214,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultb3510bf8.vault.azure.net/keys/key2","attributes":{"enabled":true,"created":1565816214,"updated":1565816214,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultb3510bf8.vault.azure.net/keys/key3","attributes":{"enabled":true,"created":1565816214,"updated":1565816214,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultb3510bf8.vault.azure.net/keys/key4","attributes":{"enabled":true,"created":1565816215,"updated":1565816215,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultb3510bf8.vault.azure.net/keys/key5","attributes":{"enabled":true,"created":1565816215,"updated":1565816215,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultb3510bf8.vault.azure.net/keys/key6","attributes":{"enabled":true,"created":1565816215,"updated":1565816215,"recoveryLevel":"Purgeable"}}],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
