interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault458ad70cc744021012.vault.azure.net/keys/ec-verify-P-256/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault458ad70cc744021012.vault.azure.net/keys/ec-verify-P-256/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault458ad70cc744021012.vault.azure.net/keys/ec-verify-P-256/2eabbd9bfa1e4b60bc4310896893799c","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"p1KzcZdIRtI5rDa7YqqODVWCDwrsC996yTHHrwrSaDk","y":"6G88pOIEf2X6hhoaLmOMF8-uvil9zDSdSJM7L9QYCe0"},"attributes":{"enabled":true,"created":1570214560,"updated":1570214560,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"alg": "ES256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault458ad70cc744021012.vault.azure.net/keys/ec-verify-P-256/2eabbd9bfa1e4b60bc4310896893799c/sign?api-version=7.0
  response:
    body: {string: '{"kid":"https://vault458ad70cc744021012.vault.azure.net/keys/ec-verify-P-256/2eabbd9bfa1e4b60bc4310896893799c","value":"XapOolkxNnGVK66kKWp2oZ8_KsfbVD981Jb3KTqxLv6hyvAnxQRccbslaNYAD9Xh7Pjjg4-YsWqSgiR0J49Ieg"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"kty": "EC", "crv": "P-256K"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault458ad70cc744021012.vault.azure.net/keys/ec-verify-P-256K/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault458ad70cc744021012.vault.azure.net/keys/ec-verify-P-256K/970781af6c6147a287ceede1156fc703","kty":"EC","key_ops":["sign","verify"],"crv":"P-256K","x":"YH4eKU8myMM8zUIxhMSjgV2h4kuAIozjgh28eFcDzx4","y":"ErGGo5Xv4-rPHKEhVD7GvDJtAiJVpQYz5VsJCpuMwQE"},"attributes":{"enabled":true,"created":1570214561,"updated":1570214561,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"alg": "ES256K", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault458ad70cc744021012.vault.azure.net/keys/ec-verify-P-256K/970781af6c6147a287ceede1156fc703/sign?api-version=7.0
  response:
    body: {string: '{"kid":"https://vault458ad70cc744021012.vault.azure.net/keys/ec-verify-P-256K/970781af6c6147a287ceede1156fc703","value":"XRXXTFNuf1pe_6Pt_Y2TmPFvMsu43cm-dcljVozHX_S2ee77vBpmR4OYXKTFccImQyP1gxEFcGdKgaK5B3W_Og"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"alg": "ES512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault458ad70cc744021012.vault.azure.net/keys/ec-verify-P-521/879e5a86139641ada508e63b7b616970/sign?api-version=7.0
  response:
    body: {string: '{"kid":"https://vault458ad70cc744021012.vault.azure.net/keys/ec-verify-P-521/879e5a86139641ada508e63b7b616970","value":"AfzVGS4Sus-Yv69TatVrkKONkqAFMCBFUbFs-a23V0vtlal400ssFS5vV9ZWLtmQiu_7Za6WmFsQBzSOtY_DH4v2ADhx2rpmPFMDh2vso6QqFrEtVUmR551qla_-z60v-uFOWiKqn5PJKRmv9yU7K2AEwH0LB4gZ0WJoy-7Ujeuc3dat"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
