interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsakey56431083/create?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestrsakey56431083/create?api-version=7.2-preview
- request:
    body: '{"key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey", "unwrapKey"],
      "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsakey56431083/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsakey56431083/2d292113022b4bd787c7e7dafe29e227","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"xVjYH8TlteRBXEMTdZPKRHZoTtak70e9i_nPdYcaGuMC2v73HBxVh7IKExQQk5aBvJPsvtqKlk6GD33FYsUE_O4kuGTUXbjCgu2GXjmmWEF_T41c_1DvQdyuaMJGsnYtDCXHfJN_L2rw6zp10UTduvKhXUpc5Jv9PrbsbkpWV5u6gLSy6tol-Zs5CSuDlDYmDld8ehLTZ03uXnHml0c0EVp-cPPR5DIbDRsDRBDcFMQ0cPs9_xE9tIhs35iEez8ENH2nCmVR1bYuOKtWqZvLeVi352FgOqqR-lEwwTkRwqBc2jccHZhT4C83qMkPXYqqG383ktY0g0AHq0qcUUSCZQ","e":"AQAB"},"attributes":{"enabled":true,"created":1615591202,"updated":1615591202,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestrsakey56431083/create?api-version=7.2-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsakey56431083/2d292113022b4bd787c7e7dafe29e227?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsakey56431083/2d292113022b4bd787c7e7dafe29e227","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"xVjYH8TlteRBXEMTdZPKRHZoTtak70e9i_nPdYcaGuMC2v73HBxVh7IKExQQk5aBvJPsvtqKlk6GD33FYsUE_O4kuGTUXbjCgu2GXjmmWEF_T41c_1DvQdyuaMJGsnYtDCXHfJN_L2rw6zp10UTduvKhXUpc5Jv9PrbsbkpWV5u6gLSy6tol-Zs5CSuDlDYmDld8ehLTZ03uXnHml0c0EVp-cPPR5DIbDRsDRBDcFMQ0cPs9_xE9tIhs35iEez8ENH2nCmVR1bYuOKtWqZvLeVi352FgOqqR-lEwwTkRwqBc2jccHZhT4C83qMkPXYqqG383ktY0g0AHq0qcUUSCZQ","e":"AQAB"},"attributes":{"enabled":true,"created":1615591202,"updated":1615591202,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestrsakey56431083/2d292113022b4bd787c7e7dafe29e227?api-version=7.2-preview
version: 1
