interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key56281625/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key56281625/create?api-version=7.1
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key56281625/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key56281625/83f46b8926094b32acf4e04c70d176b5","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"07t_LX1TMAJCVV5CQJPO-NSRKAd4WrKIrZjZVeMVcNma0bYZcAhdoW79tkLPdByLe9TtM6gpMyeCdmPqxr6a6632tlu73mJE2fxkwNG7cTEvIvRj3uhGDARo9HlV-Nhcu6qWgWAan4TYCBq32ZcSlCDKLvYCeMC08VLLZt0C_Mzu3c2VYvNofFdPUxPHLADcG8gpF5jPN-9LLW7b5791CBUqNga2UyPhiDfsLaU8rtXfZ9uRwnIUEwS_SX2PjQtSnov-10JPNuBRhgdONCaKsit_HmayMdmDvBl2bSGGkOImm2gA1aEAOf_8tZEkMfqgxbHRun35PO90T_6CBqXy3Q","e":"AQAB"},"attributes":{"enabled":true,"created":1612576323,"updated":1612576323,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key56281625/create?api-version=7.1
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key56281625/?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key56281625/83f46b8926094b32acf4e04c70d176b5","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"07t_LX1TMAJCVV5CQJPO-NSRKAd4WrKIrZjZVeMVcNma0bYZcAhdoW79tkLPdByLe9TtM6gpMyeCdmPqxr6a6632tlu73mJE2fxkwNG7cTEvIvRj3uhGDARo9HlV-Nhcu6qWgWAan4TYCBq32ZcSlCDKLvYCeMC08VLLZt0C_Mzu3c2VYvNofFdPUxPHLADcG8gpF5jPN-9LLW7b5791CBUqNga2UyPhiDfsLaU8rtXfZ9uRwnIUEwS_SX2PjQtSnov-10JPNuBRhgdONCaKsit_HmayMdmDvBl2bSGGkOImm2gA1aEAOf_8tZEkMfqgxbHRun35PO90T_6CBqXy3Q","e":"AQAB"},"attributes":{"enabled":true,"created":1612576323,"updated":1612576323,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key56281625/?api-version=7.1
- request:
    body: '{"value": "Llw6nIxkl1j6aY0wMhltw2CTCr-YNb6PvOQAl1DOLkzrkX8mWK3IUwnl2mPEXu7E64P5AL47xZhq8KemjBoONB6ZkrDPn8wFd3DaMxO2J7-24YwM8NW5EkK89dyEbqBe4a98UBRT8lIytaKYxzskuwX1EQC59VMzADFoQchu7Psx2cgF5B92dlWRp0FG9V3sOSQ6OLudirIw817o1j9CZiDky25baPprX5lx5CSGDWW0IaF9-ZSdS1MlZZsXO6n_ywUTPy1nIX__jMxXT2n-d6ngwuS_8OFmBCp1QsXoTidw76zBUCrPxWyl8ghULploeW80hBkESxeO2lojfyWKfQ",
      "alg": "RSA-OAEP"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key56281625/83f46b8926094b32acf4e04c70d176b5/decrypt?api-version=7.1
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key56281625/83f46b8926094b32acf4e04c70d176b5","value":"cGxhaW50ZXh0"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key56281625/83f46b8926094b32acf4e04c70d176b5/decrypt?api-version=7.1
version: 1
