interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-25659de19ff/create?api-version=7.2
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-25659de19ff/create?api-version=7.2
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-25659de19ff/create?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-25659de19ff/5cceec8029f6476287ffb3037fc97935","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"qnxix5mhFlYNWLVz1ZXXrW1AGOQqqYqkd9T8InfgyYI","y":"8NGCnV9_01rS4ifgPv3xT8Lkq90jsEPi3hXtTh6o8zs"},"attributes":{"enabled":true,"created":1620408219,"updated":1620408219,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-25659de19ff/create?api-version=7.2
- request:
    body: '{"value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg", "alg": "ES256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-25659de19ff/5cceec8029f6476287ffb3037fc97935/sign?api-version=7.2
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-25659de19ff/5cceec8029f6476287ffb3037fc97935","value":"bRrW4SN557SCWjuJpAcdKaNRMxJWL6rYfKEfVYwgZd-Ro-E95DGDkIJaqvG7AXX7Cjh9JH6mMbqQ522dBa8gTw"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-25659de19ff/5cceec8029f6476287ffb3037fc97935/sign?api-version=7.2
- request:
    body: '{"kty": "EC", "crv": "P-256K"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K59de19ff/create?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K59de19ff/ca0ce495b18e4df692c586891fda85b6","kty":"EC","key_ops":["sign","verify"],"crv":"P-256K","x":"K1oqFokAJJgl72-XmJuLSY6hj-P7zAldLm75yJP92FM","y":"MJOeaYSROq_D7EpOpbHatLwHK3o7PwAR5hRrrj7NYsM"},"attributes":{"enabled":true,"created":1620408222,"updated":1620408222,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-256K59de19ff/create?api-version=7.2
- request:
    body: '{"value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg", "alg": "ES256K"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K59de19ff/ca0ce495b18e4df692c586891fda85b6/sign?api-version=7.2
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K59de19ff/ca0ce495b18e4df692c586891fda85b6","value":"m4SGr6reAH9DTekU_ZeUaO_Ipm6AWavzIQ9I5cH25CDzh40nODdpHofTPct0B-O_BwYpcWd5PcvUIV5EbAgeZQ"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-256K59de19ff/ca0ce495b18e4df692c586891fda85b6/sign?api-version=7.2
[...]
- request:
    body: '{"value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ",
      "alg": "ES512"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-52159de19ff/dc6690d430d14d6e81a9cd2d5ea9a0ad/sign?api-version=7.2
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-52159de19ff/dc6690d430d14d6e81a9cd2d5ea9a0ad","value":"AC9RIBtyan3j7uByFBWn66DtkaFZWinvnXn8wtQbCq4_aYX9h2sseM8rx4ao6hY7gyZPvxf7M12BF4RnyERyuTmcAT45A4OPQre4xxNZo1fsltYXCF-793TFR6X__886h1_yvdVgI28Hxbuaj6MUHe5ff6C8kG3A-f5bGIfgj6kp_p1B"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-52159de19ff/dc6690d430d14d6e81a9cd2d5ea9a0ad/sign?api-version=7.2
version: 1
