interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key-name77d21e51/create?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/key-name77d21e51/create?api-version=7.2-preview
- request:
    body: '{"key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey", "unwrapKey"],
      "key_size": 2048, "attributes": {"exp": 2527401600}, "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key-name77d21e51/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key-name77d21e51/c1c7a6c6af184c36a813b314d9d5fdbb","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"8hjkQ6vZhmX5G1HJgLgrk7ohK_la9EVGj4jwsSAEZBD2tGcd-panCNN505rUnMVonuWmlgnWFtueXf3ay2PZVB7QxBpwytLPGuw6GJ8Nu12qEareP9nQgDSvZ6XZKSbcl3bHbqCndwc-L9z2iF7fxFBJMX97tc0SXdUiyg477h-CCrXF-mKi_8PDzq-GIdoP7nDamJH2eN3j9XPDcG37-y4vRT9D7RlQYt1ZK78FHhftxCD7XEVMfns3Q0-oX1L_7SZM2MqZevl6Fqe1mhWQ4syJGZs-cp7OZ3GPPsKqvMyBCnJbQ1fQSpemN3osOry5QrL8MSrqmeNTaX8VEIWLcQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2527401600,"created":1618874155,"updated":1618874155,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/key-name77d21e51/create?api-version=7.2-preview
[...]
- request:
    body: '{"crv": "P-256", "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key-name77d21e51/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key-name77d21e51/f614243b0e924464a2a220f0060cf31b","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"8tATk9SCgSBEPd4xLcvry6PHw-P_Ywu9s64lzcHQv2Q","y":"trSfVoo8uColye4vAp9MakFsfrlJCyueu9SQdbu-JNw"},"attributes":{"enabled":true,"created":1618874157,"updated":1618874157,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/key-name77d21e51/create?api-version=7.2-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/key-name77d21e51/?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key-name77d21e51/f614243b0e924464a2a220f0060cf31b","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"8tATk9SCgSBEPd4xLcvry6PHw-P_Ywu9s64lzcHQv2Q","y":"trSfVoo8uColye4vAp9MakFsfrlJCyueu9SQdbu-JNw"},"attributes":{"enabled":true,"created":1618874157,"updated":1618874157,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/key-name77d21e51/?api-version=7.2-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/key-name77d21e51/f614243b0e924464a2a220f0060cf31b?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key-name77d21e51/f614243b0e924464a2a220f0060cf31b","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"8tATk9SCgSBEPd4xLcvry6PHw-P_Ywu9s64lzcHQv2Q","y":"trSfVoo8uColye4vAp9MakFsfrlJCyueu9SQdbu-JNw"},"attributes":{"enabled":true,"created":1618874157,"updated":1618874157,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/key-name77d21e51/f614243b0e924464a2a220f0060cf31b?api-version=7.2-preview
- request:
    body: '{"attributes": {"exp": 2524723200}, "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://vaultname.vault.azure.net/keys/key-name77d21e51/?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key-name77d21e51/f614243b0e924464a2a220f0060cf31b","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"8tATk9SCgSBEPd4xLcvry6PHw-P_Ywu9s64lzcHQv2Q","y":"trSfVoo8uColye4vAp9MakFsfrlJCyueu9SQdbu-JNw"},"attributes":{"enabled":true,"exp":2524723200,"created":1618874157,"updated":1618874157,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/key-name77d21e51/?api-version=7.2-preview
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/key-name77d21e51?api-version=7.2-preview
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key-name77d21e51","deletedDate":1618874157,"scheduledPurgeDate":1626650157,"key":{"kid":"https://vaultname.vault.azure.net/keys/key-name77d21e51/f614243b0e924464a2a220f0060cf31b","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"8tATk9SCgSBEPd4xLcvry6PHw-P_Ywu9s64lzcHQv2Q","y":"trSfVoo8uColye4vAp9MakFsfrlJCyueu9SQdbu-JNw"},"attributes":{"enabled":true,"exp":2524723200,"created":1618874157,"updated":1618874157,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/key-name77d21e51?api-version=7.2-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/key-name77d21e51?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: key-name77d21e51"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://mcpatinotest.vault.azure.net/deletedkeys/key-name77d21e51?api-version=7.2-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/key-name77d21e51?api-version=7.2-preview
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key-name77d21e51","deletedDate":1618874157,"scheduledPurgeDate":1626650157,"key":{"kid":"https://vaultname.vault.azure.net/keys/key-name77d21e51/f614243b0e924464a2a220f0060cf31b","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"8tATk9SCgSBEPd4xLcvry6PHw-P_Ywu9s64lzcHQv2Q","y":"trSfVoo8uColye4vAp9MakFsfrlJCyueu9SQdbu-JNw"},"attributes":{"enabled":true,"exp":2524723200,"created":1618874157,"updated":1618874157,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/deletedkeys/key-name77d21e51?api-version=7.2-preview
version: 1
