interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256a864170b/create?api-version=7.2
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '0'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "EC-HSM", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256a864170b/create?api-version=7.2
  response:
    body:
      string: '{"attributes":{"created":1620407988,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1620407988},"key":{"crv":"P-256","key_ops":["verify","sign"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256a864170b/de72b45515e608f524e5000c3dc2cf30","kty":"EC-HSM","x":"WDiHL5Hx0gx2fb_QWkZ-uIloc-_4OtiUvwu6S25wDMg","y":"IOSTzCSZqcSXofF2WfyJtE_TwwVd55M9GseeP2qUlqY"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '302'
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg", "alg": "ES256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256a864170b/de72b45515e608f524e5000c3dc2cf30/sign?api-version=7.2
  response:
    body:
      string: '{"alg":"ES256","kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256a864170b/de72b45515e608f524e5000c3dc2cf30","value":"sHZ8r_jBnOaxIkE6vJYqvP2SxSPoH7dlM_ne-iCS1rOTmOtsjqFoYfeJ1SUznyuIAUrp-B8zbpMDf8ssv7vR6g"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '134'
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "EC-HSM", "crv": "P-256K"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256Ka864170b/create?api-version=7.2
  response:
    body:
      string: '{"attributes":{"created":1620407992,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1620407992},"key":{"crv":"P-256K","key_ops":["verify","sign"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256Ka864170b/2d639e4e739945a48515f3f0ceee8e65","kty":"EC-HSM","x":"dNNQO9OAHcPghyZrCSe2yKzlI5LDCba5NwXYp7ca8q0","y":"fniQaE_8jnD2kT9XcRMszhPYsSaARhHKBT-7Olb4taY"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '331'
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg", "alg": "ES256K"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256Ka864170b/2d639e4e739945a48515f3f0ceee8e65/sign?api-version=7.2
  response:
    body:
      string: '{"alg":"ES256K","kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256Ka864170b/2d639e4e739945a48515f3f0ceee8e65","value":"fVZaLM87sZg_CXmNUY4kEkimk0Hf5ul3F0UYJ7HYTZKHgFLLNYxi9fQ9WjtOQSX1KzbEA4mgRO7nVdzGlxPiBg"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '101'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ",
      "alg": "ES512"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-521a864170b/47a6fe15ae6a0b29b219e6793c0dd942/sign?api-version=7.2
  response:
    body:
      string: '{"alg":"ES512","kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-521a864170b/47a6fe15ae6a0b29b219e6793c0dd942","value":"AGcE-5Eeh62rhdzWwIPfRBQpsaHWB302mJrOPXlTMQ45wfaGq1TYtQliE9ynknADMNnHoSADRPum8QQMMYifMua4ABpq0M_rhTwu1TGbumuEMQiTgYV3vgZb1mKXyb_5hmIxwwZphIwNvV0s_tbMEVI5SHvC13TAuIkHkjl53Xbn7Emw"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '152'
    status:
      code: 200
      message: OK
version: 1
