interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyd4381334/create?api-version=7.2
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyd4381334/create?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyd4381334/18c57f98d709433e8dd082501dd44ca1","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"oXh446lyUTTYyDxyySUwpfpb8reqFuWsUxhWo4KcffCyPaekjuFI-jidxGOv6CIgcL0KEkzvb9RkxUVn_yPjdDPHBPQW7x-SJFtLGxkTJRsstwB_d4RD0vV_aT9atYtpSEPIeS7gu47-GXpPzyuHIWbKn3quQs3qyKc2pqtuoHksdTLiEF-MPRo6ft1l_WRaiAfySlnMtt71i6ImK3DsvnVPImNOLHuCuun_7gCzZ8p4U9cRnoFbjLMZxDFx0QuyzsBmkETADbMMwpgvdCbF6T2zY01MvCkEDy6DS3MZPpnutMiKn4-GSuizjz65LeWWW4Z9p3s5hxhjWYzSushMsQ","e":"AQAB"},"attributes":{"enabled":true,"created":1620408358,"updated":1620408358,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "NarkCu2l2Nw6-1BRbo6PCXIXraHOGiTpJ4pGY5yEUROoyRMAV_eBLnnPF-Rwp6i__o6EUiEtKjjLOrwY0uQ2qwSvgA-1D08L6qQbiDWXe_NanTuXVRCckhLZeQuSdC885inkNX-fNZaU3nJlIdptff-0h2385GgzfoIJP1ek1huUJFXH949WXNGNp5tXmCCS2ldU5mEEgRRZ0ljcYgxUlSK_fj6M5uWeBD3Kw-4Go1KhEOffe298fRG-572fczIaw3KoLI8BUa_5uFEygm4MEkfjNx_dNKQ3OdmNdDsn_XlJVqRMlzyNrUDdMslfRk0Q4HCLkZ-HyTkuhNnCIoLTYQ",
      "alg": "RSA-OAEP"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyd4381334/18c57f98d709433e8dd082501dd44ca1/unwrapkey?api-version=7.2
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyd4381334/18c57f98d709433e8dd082501dd44ca1","value":"NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
