interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/crypto-test-encrypt-key56281625/create?api-version=7.1-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mmz26gv2edonlxfkngxl6p5j.vault.azure.net/keys/crypto-test-encrypt-key56281625/create?api-version=7.1-preview
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/crypto-test-encrypt-key56281625/create?api-version=7.1-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/crypto-test-encrypt-key56281625/bc60e72e3acd46869ef39561b4aca73a","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"prh74mcO4-qq7TCJp7GHzWG-OeTs0vLA09frgl-LtJfxxXp-i8c7QPhFEW1z_aByQKaTCAe1KMgyh8kVo3krL7tLWCgAoe9g_Wtlv8ScIROZSjwiqxf_qwQBj7oh-WQMtQ4oSqP8stwsegbmeMK7LRXb6ZEdF01rvgDrwgG7pblZkTdAsOSNd_b0W_widjQDar1HSLT4i8_FbGjgd1VdlcDupQDZh294hvhrzUExLvgkYIPgEQmVhKd-ObrRPj9aiyOBojt4dsyBfYKNtRqUPgDCuUF0z7lcvpUYp5qzwegnqM8xb83jn-pEAij24P0OtoMfIXGD8vGfq4Rsr1e4Ow","e":"AQAB"},"attributes":{"enabled":true,"created":1583450193,"updated":1583450193,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mmz26gv2edonlxfkngxl6p5j.vault.azure.net/keys/crypto-test-encrypt-key56281625/create?api-version=7.1-preview
- request:
    body: '{"alg": "RSA-OAEP", "value": "YVQdS40UXdbeH6rYU6DzY-saZR_PM_iYcHth7c3EbkKMidtlu5TNWsVw7gZhzyeTWVaMCt-izVZW0EWGxfr_D9zOrAHOiZzgQgRfW2bhygUYtvHbdqD0XxupOY_BEDfyWSCH-aRRCqZdGftjzKXpufeawR2KWngoTR3Md5R9wzmVfPt3xPMs25-UXH0cldbdS0GwGTK_glpLKJI-TBrWpnaedYUwwLI86OWSippULWVnBGve-s9LuJqaf8n2Yx3-sqTK44GhZLwoMBj_VdnzXddlJz_ELe1LXgoy5kC8tw1CQbX5EevAehXMAMcpWQq5GHkgDjBN1t34QgmH00LRGw"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/crypto-test-encrypt-key56281625/bc60e72e3acd46869ef39561b4aca73a/decrypt?api-version=7.1-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/crypto-test-encrypt-key56281625/bc60e72e3acd46869ef39561b4aca73a","value":"cGxhaW50ZXh0"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mmz26gv2edonlxfkngxl6p5j.vault.azure.net/keys/crypto-test-encrypt-key56281625/bc60e72e3acd46869ef39561b4aca73a/decrypt?api-version=7.1-preview
version: 1
