interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048e1e1441/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"key_size": 2048, "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048e1e1441/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048e1e1441/5f07ba110a1c4fa29bca2c8b0db0011c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"tZzerzKra6X65G4eWg_CeQRTuXXEjh9ch9ccKDryLYEv8AbTP4N3v3LAETgecgtQ-axx_pD85toVaZhSBit6CJcIWPSFZMMKGJGse4KhYg0IIdflA161sMoh-X6RtB_z1NXj0KMWzJehFBYWS1H4IVtoeRBKwNUdx4zO6Tsmr6_j2KOQ84u27Xj008mY83BjVKY827Kq7z7ZMqSkpSgWDMgh6_kl7GcSLbJEqd9MFSFGTCrvpucLMM7xFzXs5oQ_bEBts2C60Hu0ijoKatsaC7t2mMTetwpmtTa51zbBJSem9rM5qqxJj_96gaNspeNWogjf9UNf1BCHmbZMG69MUQ","e":"AQAB"},"attributes":{"enabled":true,"created":1620427834,"updated":1620427834,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg", "alg": "PS256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048e1e1441/5f07ba110a1c4fa29bca2c8b0db0011c/sign?api-version=7.1
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048e1e1441/5f07ba110a1c4fa29bca2c8b0db0011c","value":"JOR_vzlLyGh8YU6WT6FQ7BxpEZAr3mf1ytRiDv3KPa-RQ11gg-AvyUCCyy06WPAjHG1NXFdngp6gD6fx3b2fVCiJtIkvxB7bY-Opm8EUbUbVNVqbP6mB3SW3gHXInrzxzDv059c60zwoSAJ9i9aBex9OauniArhySx7FFP3D2Ne-JoRAlSimSn8jOiNOrhxIoBqB1Hvr2LXqW2x37lPHQZSQIxDivmJ_Ljl6fnu2PBpJbICZFg2Y5m3UgtQe0OyUW2azG33k_Tdw81TuBN6nhdXXrBNqaUCv-_rIGp3lzlFweaqWWaUvUoZDuFQk3mVGoNVqOrEL2FnNBvonA3Wb-g"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ",
      "alg": "RS512"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-4096e1e1441/53717ed72c874b24a10175e9c7846233/sign?api-version=7.1
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-4096e1e1441/53717ed72c874b24a10175e9c7846233","value":"i_c3xNEGf1JC43kEa49TJiy33kYIXDjVdb8tO9B7ItKnE4YDdXgYca8olKPE8ipRqh9hGwuUleU8xVazVPYP4LZsjQODabnu55CyR9KHCKWZdA2vwtwzeaU96KaXUbFnwjg57fykXnFtIZDdmixb90ZndYsH-Owz-zFpmIunA1m8IHdRU_vricuVjootRdN-QcKmYDU-k10ohGvhz5-tVbFbXP0LDb5AT1eRI6goxnvB_rDwDY9rbYH6lKF9Kvyi-buucDOdMeKREwxh7w8AFZVCxAcXqztJg2drN_doIQsfhPDFB9F-Ah0BTm5Gjqz3Tan2jsCl-ZEOXTWSXIog3OvBptuHiPH1HEc-f8247NnuK3-IsMoEUO6OVMD_fwLvSMiNGqm90R-HAiuK6EkqmemJ1c4zAY53b34Pw85Sc63ihGhjpG_Mffn6nPB9iKuFEbpq5FGSTDNbK9g3C0amCJlhV9v8EOGEJcFHh5IzsUborquIkTtM9qg2O9yAQU4Xc3VYejptKeX9rurk3WinC8m9Dp05bPgyZZBC7LRCbYpU6Sc8k2RY0sbqFAdudpEyhz8snOB0OJ76aEYQ2u4FwL2ABhyZfl--68Y_KAuwgTHAFyOS7bi5rw3xqYBL2ny45hkILbiCV9Chg4ij87V6RYk1eNN1_3-Q3SyzuHLmTZ4"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
