interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc792670ac9.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc792670ac9.vault.azure.net
        - /keys/key0/create
        - api-version=7.0
        - ''
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc792670ac9.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc792670ac9.vault.azure.net/keys/key0/3fa4fb35be7f4e9c972e639bf1156988","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"taouIvi0usxMCplmCB_WEaWR_FZeQHua5w5Va-SKPn25xEnbFeMJ4sGUidCvWK7uEKoZzeDfYOn_ZwWe9lQl5oUoTGGX7XPC-HP8PFtUcqka8s3xMzSDootj9Ki2SxItrBHetiFYdN0VK4JrOHlHoXseh82sTDJgAMueRKFR9IVC8YZIK-gSpGdm9fa5LK31iiVoUclSQSKhkyyI2DtR-a993-XyUnrHltL-M-pc7gMyHorBUq3NDR7dmIo6se2H1tzcjvuYHGhnxHExZmhifk5asdeIp-CcvDaJ_0Hvyd4H2DlS_tsfobc7wsUs916rSwDcwf4InSLAvUP5wnxgZw","e":"AQAB"},"attributes":{"enabled":true,"created":1572477902,"updated":1572477902,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc792670ac9.vault.azure.net
        - /keys/key0/create
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault458ad70cc792670ac9.vault.azure.net/keys/key0?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault458ad70cc792670ac9.vault.azure.net/deletedkeys/key0","deletedDate":1572477903,"scheduledPurgeDate":1580253903,"key":{"kid":"https://vault458ad70cc792670ac9.vault.azure.net/keys/key0/3fa4fb35be7f4e9c972e639bf1156988","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"taouIvi0usxMCplmCB_WEaWR_FZeQHua5w5Va-SKPn25xEnbFeMJ4sGUidCvWK7uEKoZzeDfYOn_ZwWe9lQl5oUoTGGX7XPC-HP8PFtUcqka8s3xMzSDootj9Ki2SxItrBHetiFYdN0VK4JrOHlHoXseh82sTDJgAMueRKFR9IVC8YZIK-gSpGdm9fa5LK31iiVoUclSQSKhkyyI2DtR-a993-XyUnrHltL-M-pc7gMyHorBUq3NDR7dmIo6se2H1tzcjvuYHGhnxHExZmhifk5asdeIp-CcvDaJ_0Hvyd4H2DlS_tsfobc7wsUs916rSwDcwf4InSLAvUP5wnxgZw","e":"AQAB"},"attributes":{"enabled":true,"created":1572477902,"updated":1572477902,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc792670ac9.vault.azure.net
        - /keys/key0
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc792670ac9.vault.azure.net/deletedkeys/key0?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: key0"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc792670ac9.vault.azure.net
        - /deletedkeys/key0
        - api-version=7.0
        - ''
version: 1
