interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultec147c.vault.azure.net/keys/crypto-test-wrapping-keyec147c/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Wed, 14 Aug 2019 22:12:51 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultec147c.vault.azure.net,
        /keys/crypto-test-wrapping-keyec147c/create, api-version=7.0, '']
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultec147c.vault.azure.net/keys/crypto-test-wrapping-keyec147c/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vaultec147c.vault.azure.net/keys/crypto-test-wrapping-keyec147c/3bc2bcc1e52d41ad8a84ebd361b48783","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"ugJjGYryJKgOJTizq6YiRq_eBDCEnJ05QNCEiSw1Vct0H4ZlycWvrGkDpA8a5M0-eoYxQ-e1fH59IU4bsLi_ii_-t0YkhEzKxjwloU3WQYZJ87THMHYvhGgdBicnEsznBAQ80vvF4LMFwygZ2Achz_GbaPnlCzuAiRWa_FgtMcUg_XLJVuWKQlkiz198rP2IqWmKqM9u4SXtq2L_ZucvbqTp496bRmLWpv0-zBMiZq8HXQpRdQ8aJvEjj6-aCJq5ypwIKY_H6VMIo6_wGJQqrtXt0B-l70VQowr1X5XkB_EoA5WCDCDpuADZbYswgKsu0esjCCe8IKVXma0PHcniJw","e":"AQAB"},"attributes":{"enabled":true,"created":1565820771,"updated":1565820771,"recoveryLevel":"Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '664', content-type: application/json;
        charset=utf-8, date: 'Wed, 14 Aug 2019 22:12:51 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultec147c.vault.azure.net,
        /keys/crypto-test-wrapping-keyec147c/create, api-version=7.0, '']
- request:
    body: '{"alg": "RSA-OAEP", "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultec147c.vault.azure.net/keys/crypto-test-wrapping-keyec147c/3bc2bcc1e52d41ad8a84ebd361b48783/wrapkey?api-version=7.0
  res[...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "KxwrzYmRn2TazXW4ohCl3g_MGNYTjcQF5vT_qlmXwKYSU5j3_1iLJ5wMpatch64W4wUM_X4VHdVmONOP8u68yZ6_vb_jyP4ZGrkWRNTkVVfZRniJX24hmRNjEHbJlk0_h_BfFCSdyEfAqY8TfJwYnbEDGcrpxz12lOY8P0ZhjW4dbi3q1sLpNeTGObdFydAND7PgaBcCg4m7l9fLm-chA05ygVI-mCHULduLJN0Si112jGyujYf2bUUqaxtfctX3Aw0vkXOUf8dcRch2rBl3Lc4zcBkKlZtuG_OS_mOquqzIV2KXGjC663GD1qkzSRVSfK_rptg9GE7YI93-aRT8lQ"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://v[...]
