interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-keya6691736/create?api-version=7.2-preview
  response:
    body:
      string: ''
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency: '1'
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestrsa-keya6691736/create?api-version=7.2-preview
- request:
    body: '{"kty": "RSA-HSM", "public_exponent": 17}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-keya6691736/create?api-version=7.2-preview
  response:
    body:
      string: '{"attributes":{"created":1619115589,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1619115589},"key":{"e":"EQ","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-keya6691736/d65e32da0b2e486d1d21335592243095","kty":"RSA-HSM","n":"rkvWCR-iZIB5HBPa8muUgLa0WM1WSqShlM3auXEza7lFmVPBZZbGDZ71Ho0QPoJ0SlkMcI9nbM9BP56uS11Kii28k8GYCrfs-8HxaxgTWtItJEkYUubLbp3tEeP17qKg1NETyEyxLoWy7U0LCLvjLEhxWoy4JGt4VFLl4_dzj3FXz9wVmyXO0zWjUUrryBLPo7m4FTajqrNWcahYvQ3yVHpJFLMkWM71Kg_XzUOcRshgMxZ5LEv9yHBFZ4sOxflCZHw5tdG56b00LqQuEgVy1l7TIrqZeBvsaY9IQAekVOg_toHmwR8FOTNuE17pLxw3cIQyrMrIr3nXIUGAPXG-zQ"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '526'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestrsa-keya6691736/create?api-version=7.2-preview
version: 1
