{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestencrypt-local7a8b31f7/create?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestencrypt-local7a8b31f7/create?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 4096
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestencrypt-local7a8b31f7/8e3a735e25ee44e3835033ffbc1dbbac",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uhhfq6GH8zEFaeXU456Mzsk-9EfMQkNQJpMI5FrMGi3cqK10SEJDEN3__sB0xvhpfKa9CO-sHtvM6OU4fmpjTkHlVJbXr6RyqVnRyKXxku4FlvTj7rYdDj22kgN8hrCeSI84cX5zq5f2BglHLswjpwsXid-KT4qKrL0_8dUgQQ75yAatemYLan6HQJFbw2RT7S72Tj1eo6g6rZ_Zg24f_S4AR_WABH2BTolsLD2N-5BFwgHJWKmcgCTerqjHf6U9PlzjJR7lPDLXv2H2695Vmx7uCBdl6pWVpGDZVfk-jelC2MJ32-6upaaPe1Y3yNMOiEgw-XeREtVm0kx7oDSfU9FbpjjrlFZc8c91ye8kguEouAeuAv0HS8JQlbvvxGIsEWZtRD3PsVouYx4I7dbqhu46KVAhZhG2tNVVE_LKQjqk-Nx2TE7AACQz1ueD9BlFFwUqtGgZ8CtCojaLOgrEnrkUppxW8-TZehNke-W1R7rKgpGnC4FytnvBd8F1208Ws9Q0rY8-W6XnlymNCE-LjV-ne9yEGaBSVjFcWR0Tn11InfSv4PQjN2x0_eMy95rlVWD6UYMKJOBLrzgUk5vkrv5Kge-qnvieuWYx6oh0cHQyBzRl1bWWraU4jUXue7qhke1jSRHEAjvqzJ3NopFMd1zHW4z9LL3emvjmY5d-EQU",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650292043,
          "updated": 1650292043,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestencrypt-local7a8b31f7/8e3a735e25ee44e3835033ffbc1dbbac/decrypt?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "sHY5fOxtwz2pFU1wmMFgyaa-Ya5CDnkeuNAOsP5JdbzraU127CO-_PJcjWzZ-D4iQyz1Ydmu9Gxu8-bLgJLlEd7YuL9slVN5Og5uZG3r02DdSA3ooOVLDH0ntJ148PlIJm7y5o4kSYXAzo9iSO2XTQpBBx-EVT7RqJ6NAFfU1VPGxP5oT2e7FP23CUj1JTgx4dPrO7hT4ITmk3MCmKrGlWdeor13hMGPw4b8Y4fDbh79lUDEQGCKE8jNszu3zNUTGl0A6-5ggi_RCaliEvo6cDUXSA1F-9paSdz-7YiZqpAv_Dy6CabqCafuU2XU1QYJr4oA9IpUlNlvX2Lc5TQrZvIySp2eRPNoLjU0rX86T3GkDGkVqtKND4xW53_UMRWAg9NhDjtPOU2qFQIdz3Rd8STm32BDzoHh0Bs5ETrT-UFmwLW8cvKWTHqJUV2nKAUdQAmVqTP4soDFLNUm1PMlk-1qovxyWu7IxbrTp3BHxw6j7FzDhmgZ8oEgeUabyfPiX-qjBH5ankBK0s00SwsNhck3s5GUYOpuTV_c9S-SqpBm2S4qY4W6r14SLMtu4ZONCdRP4WwvInmDDEzYA52Du3pEzKwc6UCxDvIRsd9qD9NCi0qEyRZ3ipB0yb-RWiqHlSqV4VoW0-0-nVTN16-Si8mr3YQxGQZdKLUHCR4rt9s"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestencrypt-local7a8b31f7/8e3a735e25ee44e3835033ffbc1dbbac",
        "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"
      }
    },
[...]
