interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048590a1a20/create?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-verify-2048590a1a20/create?api-version=7.2-preview
- request:
    body: '{"key_size": 2048, "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048590a1a20/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048590a1a20/28604227872247d7aa65737b805945ab","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"tXFs5zy7aajh5RDkzbYfVZcRYRpp0mdyS_oEoxp_hXUP3H8kcYd3auzwvQeEvmdPRQMWox5ij7qssjka4R4yazsaTpk00BxRdQGGiJmqsaqFVi82GDQ96eSuuoJcLs7l5VqOBJbRDlRZ2wEEvdUl93H8qX8WIW08YiCz6fmrLiEw8Sm9QC2eEr-JK0fWXxYKhBTfSV2QdOFV9lR4y7aTNLNYKdoZDfeFF2eSYnELV6Yx6DdEY9pSCeZiD2zyWxrcyx6CjXkwtJ_2Vr1zbHofiHFm6n560aCnfbZC0qpvkhdVyGQ2VxXOpJaArFlgPx8y0ZWtv98JjEZ2Yhu2EJxMAQ","e":"AQAB"},"attributes":{"enabled":true,"created":1618865011,"updated":1618865011,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-verify-2048590a1a20/create?api-version=7.2-preview
- request:
    body: '{"alg": "PS256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048590a1a20/28604227872247d7aa65737b805945ab/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048590a1a20/28604227872247d7aa65737b805945ab","value":"kYDLnNDhYviogBEOQBCfJgN9rkWQesaPiN7OIWzuoRvJl9RjDkXLcb-uBLDo1YHEcoYRA9sVIvcu3n-sdNRv_XlFFvdGwCQY5dsZbXfGdGsGlz-EaDCTgApcCM3u5bg5yvQpmyFCdtyGsq6uNIMkmAS177cyP3kGLj73K9UeiKZF6w_26K1VYTKmFEeGcJgJl3-_aa4i6386GbqwvZ5MM6eJx7Mg56wTEBnmKLVR9VTUQ2yLE9DweFdC5jfNmTqU3eZ7iqR5_l08OQ_049V7t-B57eJLit1M0uF00fxqs9oSWBBsbu1YR7tWy1jz2OsBu_qIed_wovGWZW5JzHp1Ww"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-verify-2048590a1a20/28604227872247d7aa65737b805945ab/sign?api-version=7.2-preview
[...]
- request:
    body: '{"alg": "RS512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-4096590a1a20/1e69a9a7e4364af8a26db607f7b1605f/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-4096590a1a20/1e69a9a7e4364af8a26db607f7b1605f","value":"os3kLjckRWFFP1UZ2jfBcAbGGzy3Nlef22qZIZYIWyGwAYBY0zg5jse-7m-syozvtapyDwbs-eBS5Hxhb23z_SCwDkP7hJHZOIMIdOpe1dSS0iTgb7170bIOSzCXDW0Wpxb6JNUFDYP-taThPaWdBuAxU5Fs96DideQc_26YfGrkVSqXpCkgZF-xIDb47JOLCg_WWOP_jaAv_KAPg8nUra6Bc6JUXLYDa4OBX9-D5R8dCRfLTzFUbffi7l-BiFIH7IbfaE20KoQkelostmOj9EOuA0NnAOJSjnw09DN8qjXAeCnEBF_M0y9MQ6boRkY5fhATqM1N24ioBInwMNSikTY-kZpwHWa8uSroIcSJi4KtrGYz4kVxHp0eUv_IAlsMbYi7YkR7xtVvANceagqnr1WxNYNLZKjlCjlta6DfShxUMfbnVd_rkqmVHhQRicNGxNjHNjT4oVrCr18Vem4scVFtknQTSyEo5XIFOlNLVzLBDPRfVssvYAL43ZB2diCwpOUc3_a5iB0UNlSZvom_NmOpHE24fqQOPsDvqcq0csf5Ulu-Sj0DQO1sqy-vkUaVzjS307FuWIJgnniaPnzJ8RE9kdgH_6N22787-KJ_I_y0o6q8vH-we5Z_AlskWWo0NB8kEzlcmeC1M14YK9MluZm93y8wyw0Cb1wpqXzDnhk"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-verify-4096590a1a20/1e69a9a7e4364af8a26db607f7b1605f/sign?api-version=7.2-preview
version: 1
