interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultaxnjywktbx67c4112b.vault.azure.net/keys/crypto-test-encrypt-key67c4112b/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultaxnjywktbx67c4112b.vault.azure.net/keys/crypto-test-encrypt-key67c4112b/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vaultaxnjywktbx67c4112b.vault.azure.net/keys/crypto-test-encrypt-key67c4112b/1086559dc8e949d0a366d44fb375517f","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"xOiOgCOPF1MphHpZ9nd6YuZvZ2TCwYLBAL8hT280QZ76AXtAb4Gv6QvZDSkHD7Z4pMmeet963f8hCjasA9PquAzicXUktXITru6jc92KjSLOhUCQZTv6Kk4btKupQEtoMLm2XINaTqXq6g4CEIn9aRRN25GZJhwqjmGAF__ae-KQSSOuFU3ieOQfQVYWxJXPqP32x7hSqcqJKj2ZTEks8RMKmnY1uQVs9U9FQcSFxL340WCMqYIQJ7-O8IgAl-GQvQHS8QjuthEzVx72RJusC5tkYdRTdQMUvpLRy-JG4YD-7FAFYRjE4yLWCtSSFRk5f52JLj5vqVJ5iHru0JoFww","e":"AQAB"},"attributes":{"enabled":true,"created":1566941192,"updated":1566941192,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"alg": "RSA-OAEP", "value": "cGxhaW50ZXh0"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultaxnjywktbx67c4112b.vault.azure.net/keys/crypto-test-encrypt-key67c4112b/1086559dc8e949d0a366d44fb375517f/encrypt?api-version=7.0
  response:
    body: {string: '{"kid":"https://vaultaxnjywktbx67c4112b.vault.azure.net/keys/crypto-test-encrypt-key67c4112b/1086559dc8e949d0a366d44fb375517f","value":"VM35YzQA9zIJUplzc8YKjR7LXeIitwQfglBM5c4FcGOpMj3Jvgvm_m43_z5kdGR4hi2XDRS6IHdlJH5xBApEecq9LX4TCM3nK98kb8zfbSLqjEdvo_HDyIcHr3uNON9vzwAEUmuZYycVEQPe96vQhLlUa7T7qW5a0F6NK427_fLobGq74ZJIlqKKo951qOGelJv6hDQkBUmm3lxH0FkCR_PjYNkVhTvNgYXjh8or0aurdCZRUW6Y7JIJ0b-_SXPIN9BeGCV12eyibWQPiod49NHp7qcrVtb6FZzKmIrK6KIwdsPW8HArhKCwKcJ5GCmlIpRgvu8MEkcip0wQorGmUQ"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"alg": "RSA-OAEP", "value": "VM35YzQA9zIJUplzc8YKjR7LXeIitwQfglBM5c4FcGOpMj3Jvgvm_m43_z5kdGR4hi2XDRS6IHdlJH5xBApEecq9LX4TCM3nK98kb8zfbSLqjEdvo_HDyIcHr3uNON9vzwAEUmuZYycVEQPe96vQhLlUa7T7qW5a0F6NK427_fLobGq74ZJIlqKKo951qOGelJv6hDQkBUmm3lxH0FkCR_PjYNkVhTvNgYXjh8or0aurdCZRUW6Y7JIJ0b-_SXPIN9BeGCV12eyibWQPiod49NHp7qcrVtb6FZzKmIrK6KIwdsPW8HArhKCwKcJ5GCmlIpRgvu8MEkcip0wQorGmUQ"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultaxnjywktbx67c4112b.vault.azure.net/keys/crypto-test-encrypt-key67c4112b/1086559dc8e949d0a366d44fb375517f/decrypt?api-version=7.0
  response:
    body: {string: '{"kid":"https://vaultaxnjywktbx67c4112b.vault.azure.net/keys/crypto-test-encrypt-key67c4112b/1086559dc8e949d0a366d44fb375517f","value":"cGxhaW50ZXh0"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
