interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-keyd5df1395/create?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-keyd5df1395/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-keyd5df1395/5525f170f008454bb712a37b2347c3c9","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"v7u5a9NKZNJIYVhRf9GPQdNG8YE43hIt9_tOERG2FP1ye73uzhXwx_5EYM1obEQqSBjbr72eKhitjSiV5uRBcHwNtVuDxvPeiNWxsNPegIcP5nHn_Ak1gz-nuIJoBif98br84saBIvViaO1wiQg3qYAOxAGPB6rvRthl82D42qVQUC8FWX9P2V6i6LsuGeYOB51EHWi_ykvOmDPecv6mlQx9WiFga60nDYiRcs0Gjzn2ZttyBK7dLzYdxwih2JfgIs1iFXDp7vqp4nLuDA11D-WksbZGB50toXnbv4xXJ2Re_RIsrvQsMUM5WO8jVpmHwRmHQxcz-JgA3QIvmbXYOQ","e":"AQAB"},"attributes":{"enabled":true,"created":1612576246,"updated":1612576246,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
