interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtesteckey1c26149b/create?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtesteckey1c26149b/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtesteckey1c26149b/36fe8781a1e4444fa1557722f0de82c1","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"-kxki9_iNLMnaNxim7zt8fbE1pRmLD29LUUZLJlQHSk","y":"yJeBEA29GhsSVEvS6D88ygnGNC09HamfIHJAff4hmxQ"},"attributes":{"enabled":true,"created":1618865383,"updated":1618865383,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtesteckey1c26149b/36fe8781a1e4444fa1557722f0de82c1?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtesteckey1c26149b/36fe8781a1e4444fa1557722f0de82c1","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"-kxki9_iNLMnaNxim7zt8fbE1pRmLD29LUUZLJlQHSk","y":"yJeBEA29GhsSVEvS6D88ygnGNC09HamfIHJAff4hmxQ"},"attributes":{"enabled":true,"created":1618865383,"updated":1618865383,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
