interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-2567ae91641/create?api-version=7.2
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-2567ae91641/create?api-version=7.2
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-2567ae91641/create?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-2567ae91641/02a2d3aa74234b8ab22e25599b45a1a1","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"I9OSLZK4d7L3WbRrJQYFbF-nvZM9yP03BB85WCJiah0","y":"CUGMnUgyQSne60Axef1tILF2dKFeC7szZbQCrSc9YT8"},"attributes":{"enabled":true,"created":1620408194,"updated":1620408194,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-2567ae91641/create?api-version=7.2
- request:
    body: '{"value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg", "alg": "ES256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-2567ae91641/02a2d3aa74234b8ab22e25599b45a1a1/sign?api-version=7.2
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-2567ae91641/02a2d3aa74234b8ab22e25599b45a1a1","value":"BlLLyi22Pogpddx4EMBx90u4iOQywSRX0oZH-AxBRZeuO7vWfQFIKP2d-3FDyHrjcxHeRr43qzVp2ZvaUJFPrQ"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-2567ae91641/02a2d3aa74234b8ab22e25599b45a1a1/sign?api-version=7.2
- request:
    body: '{"kty": "EC", "crv": "P-256K"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K7ae91641/create?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K7ae91641/67fe5b5d2d8b458aab46896a54e008a2","kty":"EC","key_ops":["sign","verify"],"crv":"P-256K","x":"J7lFnDh3bIwNfhPMGLQSmPKiB3E32cvVop9mm0516Rg","y":"cqs6OuzK059j7xL9ylOjChQhfRKevb_DL2jsVp5ptYY"},"attributes":{"enabled":true,"created":1620408197,"updated":1620408197,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-256K7ae91641/create?api-version=7.2
- request:
    body: '{"value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg", "alg": "ES256K"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K7ae91641/67fe5b5d2d8b458aab46896a54e008a2/sign?api-version=7.2
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K7ae91641/67fe5b5d2d8b458aab46896a54e008a2","value":"yQrI3_lQJht0uJ_jTuVqcVu_yq2AV16oPWQVKYkmGTH4gvf-d_m4hjwTSL-hFifkbev3cQeJ6OuwbweNOHiIcw"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-256K7ae91641/67fe5b5d2d8b458aab46896a54e008a2/sign?api-version=7.2
[...]
- request:
    body: '{"value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ",
      "alg": "ES512"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-5217ae91641/47f4aa93304f4073ade10393caa07d51/sign?api-version=7.2
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-5217ae91641/47f4aa93304f4073ade10393caa07d51","value":"ASXOxR1FS2253J8TugCwns0srGmgPwkRgSWKW0XiNaoZL1G_VaVvHO_RNqkzkkv9LaU72ufMr6pA7nKEZHb_4kPtAA-o3w9fLZ-WJ9CedvPMzk_2ukphJ1FMU3_zJBTEFI_a68fXQa1RLT-EHqS-hf3FHhMbhPb0Z5SSWQNx6C2aWIsE"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-5217ae91641/47f4aa93304f4073ade10393caa07d51/sign?api-version=7.2
version: 1
