interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-not-yet-valid75c31e2f/create?api-version=7.2-preview
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '0'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"attributes": {"nbf": 32503680000}, "kty": "RSA-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-not-yet-valid75c31e2f/create?api-version=7.2-preview
  response:
    body:
      string: '{"attributes":{"created":1618865541,"enabled":true,"exportable":false,"nbf":32503680000,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1618865541},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-not-yet-valid75c31e2f/faac457034fa024d04401438d9a33d05","kty":"RSA-HSM","n":"jAyeYRVE0ixWfD6UnMlqS3A8hiN8W3yy1cPaluO6F-x1__7e-pJsOy9pUlnlYGZFFRaZxm1KmgIOUDp-FM0BzwWZlV_7B5zPBUybbZeBbrkcLrJC3NJJNLWMKhn2rY3baVEX9GAOIfsZXu4I50kgbJtC12uZ1cf4VXPv655HFLE1Y5I07FDrjtvZhQTMtAnKz-1X7LA19J5KM6HhY6ApkOcCDOSWL5Fv0C67Pyl63N0Zy7LfW6beECXaBmdwBWfrqcskcqyFC3Q9Du2_rxtmafLE584CEJjEEnC-Ruv_DkHMSEFYy8zMoiJdsyAAUqiM6j7R89kxXPnpaaJocvoljQ"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '205'
    status:
      code: 200
      message: OK
- request:
    body: '{"attributes": {"exp": 946684800}, "kty": "RSA-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-expired75c31e2f/create?api-version=7.2-preview
  response:
    body:
      string: '{"attributes":{"created":1618865543,"enabled":true,"exp":946684800,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1618865543},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-expired75c31e2f/299387ce466a004221bb0ab1b5ec6837","kty":"RSA-HSM","n":"jZAtbp--fvEsjdj-L9JBKuiRhhbcptaDMyPLZi3btJoskysuQyjTQKq5o0OKEB8kgiFm49sZ86SnkzdP46Jyvhbj8tuwi4wq_9iRtiyGms9T7xLk8WZVtz7T0jczpOQD-oia7cEFsSqhZBuZecnDnjGclJc3297fdpcM2ZyTTMmww9WvMtNWv_N1Z1xuu0RlScFhTWiENuuFmgyE4xCx3fVqBvs5LkzlQ_ZDRiwbjGA8fz5tcVeSigf3PoFQ5X3ugUgAamG84ATtWzHsBpHW5FYIMyhlB2fFaGFgZ_F23vmsRvUpfqP4dtRiyPmVsgfkRBUuGTwtISSwns0XJ2RzgQ"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '232'
    status:
      code: 200
      message: OK
- request:
    body: '{"attributes": {"nbf": 32503680000, "exp": 32535216000}, "kty": "RSA-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-valid75c31e2f/create?api-version=7.2-preview
  response:
    body:
      string: '{"attributes":{"created":1618865545,"enabled":true,"exp":32535216000,"exportable":false,"nbf":32503680000,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1618865545},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-valid75c31e2f/0cf26ff565434bc0ace65d210661edb6","kty":"RSA-HSM","n":"r3D33q6CPGIbpBto5DlMBqeTAMBbHe2aHY18k9f67vYlPTlZXx5x6efYzlLlIQKBOSUJ0_EMGrxCn2Q9PIcltdjWnfOdOE2vgj0EWVQgXiith9XEOa_nR3F0KP-LFkl-QgBMEsI2aU6UPQ4a2Efxox4VxXHxEbM4ESTAyGBm8VKjXN9aX3q4vVfyVMpXgaKx_6fmlwZOWtLtV0hgo0iNqwVw0E6rIDcoRudR0QHFgThspYXi-ihh8eOWAirkvf4x80qUTnxl7O1IsJp01zJNXOVzKsuS3hL10gs2JWDoKNe3Rq1ieU3ntw7jD_5sI6tuxGvNxnLd4pZzPszqcZgHfw"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '207'
    status:
      code: 200
      message: OK
version: 1
