interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault674251c4108d.vault.azure.net/keys/crud-ec-key/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"kty": "EC-HSM", "attributes": {"enabled": true}, "tags": {"purpose":
      "unit test", "test name": "CreateECKeyTest"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault674251c4108d.vault.azure.net/keys/crud-ec-key/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault674251c4108d.vault.azure.net/keys/crud-ec-key/8f5866dcae1f4189b72cf29b39e75282","kty":"EC-HSM","key_ops":["sign","verify"],"crv":"P-256","x":"7hMZ5pYpuNmdNt_PYxp6qM3bpCXS0xBJWI71mEJiB2k","y":"UCb_z5d6YvSkrivi9nXwSwwNlOzcBhv269Kv5HFN1LE"},"attributes":{"enabled":true,"created":1566582240,"updated":1566582240,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"purpose":"unit
        test","test name":"CreateECKeyTest"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault674251c4108d.vault.azure.net/keys/crud-P-256-ec-key/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault674251c4108d.vault.azure.net/keys/crud-P-256-ec-key/499207853fcc43cfb93d632e0c777527","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"k7ElEHZN5fZHaU13RjRpclE6BUyWzB4qaAVTSVCyz7M","y":"4lDIJIE3YbD1mJltPamk39nQ3p0IPiGhX5lmNLaVe7c"},"attributes":{"enabled":true,"created":1566582240,"updated":1566582240,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"key": {"kty": "RSA", "key_ops": ["encrypt", "decrypt", "sign", "verify",
      "wrapKey", "unwrapKey"], "n": "AKCRTQAjSsaDshtMFdW-2Ie9yVnC5Xr1Suc06PAHINd10nXkVSB-N4TO62ClCkZV3XKnqU0nHo7o95WaZpym53W_DiO62umRtFKdl4UotL2QUh0y3SZWeWuoK2u_x2aMj17rUFN0f9GZMZ0pqEQNCPRBLVJ_-TEe2nGCWSC0exxGsRqz6R1zFkB-icfzQPe4WjQELOUXQ7J9RxhAPTTHtDivYYG-BeTRHrmF04JT1_6b9T_C8bAC0i0teT-nmlBLarQtBJKATXBx1yegbPOoiTqlQrFQP4MrKWNxtnB9Tcbjcvj-Z9je0ckI_eRc4DvAhqcUh_p15Dqg4GeaoNIO_jU",
      "e": "AQAB", "d": "Ynx9JGaBSP4iUsf6ZJ6opantRNdcdmzaQrKbZg6ZQE8Ohi1FYabJWvaoPSE-CiJEsDzShXZHMhUHN4X7Bn8BXaGQhK3p9HXgiwQKmix7oAJTu4ElUIyd8UC3UWHSZr40el4PaQD-HYu_eMzCXus34MnRiNbh_BUWm6T-Eidhk9d3kNIyaSi9YNDQHW6tjWrEhhq63O7JU1j9ZonFChZxpKk20jdkQKQURVAdpOdL-5j4I70ZxFuU6wHZj8DS8oRQfwGOvZKbgYDb5jgf3UNL_7eACqq92XPVX56vm7iKbqeyjCqAIx5y3hrSRIJtZlWCwjYnYQGd4unxDLi8wmJWSQ",
      "dp": "AMmhWb5yZcu6vJr8xJZ-t0_likxJRUMZAtEULaWZt2DgODj4y9JrZDJP6mvckzhQP0WXk2NuWbU2HR5pUeCN2wieG1B76VKoH76vfnaJDqT1NuJVBcP2SLHog3ffwZtMME5zjfygchG3kihqOSpwTQ9ETAqAJTkRC38fEhwAz_Cp",
      "dq": "AKC9TAo9n2RDaggjdLXK8kiLrBVoaWFTpqXkzYXRhtsx4vWPAkxhfSnze05rVMl6HiXv7FnE0f0wYawzUJzoyuXBH0zS6D9BqCZPeF543AmWB27iPf38Q9Z8Rjr6oBgMSnGDV_mm8nDVQkeaDyE4cOZh-5UKvKShTKKQVwunmDNH",
      "qi": "AJ_nrkLpK8BPzVeARkvSHQyKwMWZ-a8CD95qsKfn0dOZAvXY-2xhQYTEwbED-0bpTNEKbIpA-ZkaHygmnzJkNbbFAnb9pkkzU8ZQqDP3JNgMfVIroWx58Oth9nJza2j7i-MkPRCUPEq3Ao0J52z7WJIiLji8TTVYW_NaiM1oxzsH",
      "p": "ANHerI1o3dLB_VLVmZZVss8VZSYN5SaeQ_0qhfOSgOFwj__waCFmy2EG7l6l6f_Z-Y0L7Mn_LNov68lyWSFa2EuQUeVj4UoFHc5Di8ZUGiSsTwFM-XMtNuv8HmGgDYLL5BIJD3eTz71LdgW-Ez38OZH34b7VeG8zfeUDb8Hi30zz",
      "q": "AMPcZrZBqbc82DO8Q5zTT8ZXRGWrW36KktMllaIk1W2RHnRiQiW0jBWmcCgqUcQNHa1LwumjyNqwx28QBS37BTvG7ULGUoio6LrOeoiBGEMj-U19sX6m37plEhj5[...]
- request:
    body: '{"kty": "RSA", "key_size": 2048, "key_ops": ["encrypt", "decrypt", "sign",
      "verify", "wrapKey", "unwrapKey"], "tags": {"purpose": "unit test", "test name
      ": "CreateRSAKeyTest"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault674251c4108d.vault.azure.net/keys/crud-rsa-key/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault674251c4108d.vault.azure.net/keys/crud-rsa-key/f2a4a0af91534a9bba213e6f90cd69ab","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"0Wn3LW0L4_5nCwdV_R5Dwn9oxwGWHlKVlwb5LZIQvM33neN2pLKY5PYvb_CJZMAmJoszO80R2DsyHY2IIW90mtQRpXj52g9VqhNY4-wtlI3zR6fgrQohOoNePyM_oR9ftPPxmSohawAQW8WaAUqyKMUiCgMvaIIlxkHSaGORQ8zVLVg27yjuYUXP4ZH2wlKwfcbc3ja97QznVKUXv2HUEugs1Zzdj_ebV8Mugt0eHjGFRo1r43Xz22zKZTbrnmaa2fNqsxwgq-tKMMAUOIaXdNLF0YVJ9CtuqWJvcK9QQDbqX1Ahin7JvWiL2yazQInq6U1A_xM-a2lIhc-dWVZI2w","e":"AQAB"},"attributes":{"enabled":true,"created":1566582241,"updated":1566582241,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vault674251c4108d.vault.azure.net/keys/crud-rsa-key/f2a4a0af91534a9bba213e6f90cd69ab?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault674251c4108d.vault.azure.net/keys/crud-rsa-key/f2a4a0af91534a9bba213e6f90cd69ab","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"0Wn3LW0L4_5nCwdV_R5Dwn9oxwGWHlKVlwb5LZIQvM33neN2pLKY5PYvb_CJZMAmJoszO80R2DsyHY2IIW90mtQRpXj52g9VqhNY4-wtlI3zR6fgrQohOoNePyM_oR9ftPPxmSohawAQW8WaAUqyKMUiCgMvaIIlxkHSaGORQ8zVLVg27yjuYUXP4ZH2wlKwfcbc3ja97QznVKUXv2HUEugs1Zzdj_ebV8Mugt0eHjGFRo1r43Xz22zKZTbrnmaa2fNqsxwgq-tKMMAUOIaXdNLF0YVJ9CtuqWJvcK9QQDbqX1Ahin7JvWiL2yazQInq6U1A_xM-a2lIhc-dWVZI2w","e":"AQAB"},"attributes":{"enabled":true,"created":1566582241,"updated":1566582241,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vault674251c4108d.vault.azure.net/keys/crud-rsa-key/?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault674251c4108d.vault.azure.net/keys/crud-rsa-key/f2a4a0af91534a9bba213e6f90cd69ab","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"0Wn3LW0L4_5nCwdV_R5Dwn9oxwGWHlKVlwb5LZIQvM33neN2pLKY5PYvb_CJZMAmJoszO80R2DsyHY2IIW90mtQRpXj52g9VqhNY4-wtlI3zR6fgrQohOoNePyM_oR9ftPPxmSohawAQW8WaAUqyKMUiCgMvaIIlxkHSaGORQ8zVLVg27yjuYUXP4ZH2wlKwfcbc3ja97QznVKUXv2HUEugs1Zzdj_ebV8Mugt0eHjGFRo1r43Xz22zKZTbrnmaa2fNqsxwgq-tKMMAUOIaXdNLF0YVJ9CtuqWJvcK9QQDbqX1Ahin7JvWiL2yazQInq6U1A_xM-a2lIhc-dWVZI2w","e":"AQAB"},"attributes":{"enabled":true,"created":1566582241,"updated":1566582241,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"key_ops": ["decrypt", "encrypt"], "attributes": {"exp": 2524723200},
      "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://vault674251c4108d.vault.azure.net/keys/crud-rsa-key/?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault674251c4108d.vault.azure.net/keys/crud-rsa-key/f2a4a0af91534a9bba213e6f90cd69ab","kty":"RSA","key_ops":["decrypt","encrypt"],"n":"0Wn3LW0L4_5nCwdV_R5Dwn9oxwGWHlKVlwb5LZIQvM33neN2pLKY5PYvb_CJZMAmJoszO80R2DsyHY2IIW90mtQRpXj52g9VqhNY4-wtlI3zR6fgrQohOoNePyM_oR9ftPPxmSohawAQW8WaAUqyKMUiCgMvaIIlxkHSaGORQ8zVLVg27yjuYUXP4ZH2wlKwfcbc3ja97QznVKUXv2HUEugs1Zzdj_ebV8Mugt0eHjGFRo1r43Xz22zKZTbrnmaa2fNqsxwgq-tKMMAUOIaXdNLF0YVJ9CtuqWJvcK9QQDbqX1Ahin7JvWiL2yazQInq6U1A_xM-a2lIhc-dWVZI2w","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1566582241,"updated":1566582242,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault674251c4108d.vault.azure.net/keys/crud-rsa-key?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vault674251c4108d.vault.azure.net/deletedkeys/crud-rsa-key","deletedDate":1566582242,"scheduledPurgeDate":1574358242,"key":{"kid":"https://vault674251c4108d.vault.azure.net/keys/crud-rsa-key/f2a4a0af91534a9bba213e6f90cd69ab","kty":"RSA","key_ops":["decrypt","encrypt"],"n":"0Wn3LW0L4_5nCwdV_R5Dwn9oxwGWHlKVlwb5LZIQvM33neN2pLKY5PYvb_CJZMAmJoszO80R2DsyHY2IIW90mtQRpXj52g9VqhNY4-wtlI3zR6fgrQohOoNePyM_oR9ftPPxmSohawAQW8WaAUqyKMUiCgMvaIIlxkHSaGORQ8zVLVg27yjuYUXP4ZH2wlKwfcbc3ja97QznVKUXv2HUEugs1Zzdj_ebV8Mugt0eHjGFRo1r43Xz22zKZTbrnmaa2fNqsxwgq-tKMMAUOIaXdNLF0YVJ9CtuqWJvcK9QQDbqX1Ahin7JvWiL2yazQInq6U1A_xM-a2lIhc-dWVZI2w","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1566582241,"updated":1566582242,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vault674251c4108d.vault.azure.net/deletedkeys/crud-rsa-key?api-version=7.0
  response:
    body: {string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found:
        crud-rsa-key"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault674251c4108d.vault.azure.net/deletedkeys/crud-rsa-key?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vault674251c4108d.vault.azure.net/deletedkeys/crud-rsa-key","deletedDate":1566582242,"scheduledPurgeDate":1574358242,"key":{"kid":"https://vault674251c4108d.vault.azure.net/keys/crud-rsa-key/f2a4a0af91534a9bba213e6f90cd69ab","kty":"RSA","key_ops":["decrypt","encrypt"],"n":"0Wn3LW0L4_5nCwdV_R5Dwn9oxwGWHlKVlwb5LZIQvM33neN2pLKY5PYvb_CJZMAmJoszO80R2DsyHY2IIW90mtQRpXj52g9VqhNY4-wtlI3zR6fgrQohOoNePyM_oR9ftPPxmSohawAQW8WaAUqyKMUiCgMvaIIlxkHSaGORQ8zVLVg27yjuYUXP4ZH2wlKwfcbc3ja97QznVKUXv2HUEugs1Zzdj_ebV8Mugt0eHjGFRo1r43Xz22zKZTbrnmaa2fNqsxwgq-tKMMAUOIaXdNLF0YVJ9CtuqWJvcK9QQDbqX1Ahin7JvWiL2yazQInq6U1A_xM-a2lIhc-dWVZI2w","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1566582241,"updated":1566582242,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
