interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsakey54ff1091/create?api-version=7.3-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsakey54ff1091/create?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsakey54ff1091/af0f2d01e9f94a59ad258ee421f7097a","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"vAA2Ne8tjnWB6F310A_eGvxH9YNEQ0iS42xKaJKKaoMSIYwyXyU8Y0053TDN5_R3CqLv-F-0HrqKYtRn6JBRulJH7QZcrVDv_U_xIDFEZ4kyaY24_V6JU8tNsbhLFQlj6rYl743TxlFYXzmy2afwyG0R8dxynFhBK_AbQ5sscyNmq-h9cYMn4YDKmRricT2bRvNgb-0gXhk3_gq36Q03YVkdjwH8sMqKm1WNB9u6NyDwRbPEKWEK46aHohG34ZPVpVfhi9mhd2SImISMBMjiJTprlIvG1Fh-dUmKTZX93AOkS_ETTJnVPDqGi1DFuhQVm7ntGj7NSkwkY09WhP1TrQ","e":"AQAB"},"attributes":{"enabled":true,"created":1618440985,"updated":1618440985,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsakey54ff1091/af0f2d01e9f94a59ad258ee421f7097a?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsakey54ff1091/af0f2d01e9f94a59ad258ee421f7097a","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"vAA2Ne8tjnWB6F310A_eGvxH9YNEQ0iS42xKaJKKaoMSIYwyXyU8Y0053TDN5_R3CqLv-F-0HrqKYtRn6JBRulJH7QZcrVDv_U_xIDFEZ4kyaY24_V6JU8tNsbhLFQlj6rYl743TxlFYXzmy2afwyG0R8dxynFhBK_AbQ5sscyNmq-h9cYMn4YDKmRricT2bRvNgb-0gXhk3_gq36Q03YVkdjwH8sMqKm1WNB9u6NyDwRbPEKWEK46aHohG34ZPVpVfhi9mhd2SImISMBMjiJTprlIvG1Fh-dUmKTZX93AOkS_ETTJnVPDqGi1DFuhQVm7ntGj7NSkwkY09WhP1TrQ","e":"AQAB"},"attributes":{"enabled":true,"created":1618440985,"updated":1618440985,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
