{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestrsa-key-name11a22bbc/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestrsa-key-name11a22bbc/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "444"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1650662319,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1650662319
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "sign",
            "verify",
            "encrypt",
            "decrypt",
            "unwrapKey"
          ],
          "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestrsa-key-name11a22bbc/97a8622f654c05bab6fabb8f5524f461",
          "kty": "RSA-HSM",
          "n": "jhYbmUSMOBZRpjmLxBDGl5UtN5zbL7akSEWWcELN46d0ONFq-wIpRMSB9mV9KRi-tee3saODDYtTWbPnEue6Sj9ebgfVuKh3orhhs0UbQOaij-_WD6_xYLGSXv3_0qJ3ABhmXk2B5UgVyElOUp8mWEOA91dAjUVnRO0dPcom9wYRyEAPm8d3Qc5zInjTaxmuHy_KTt_Pt3TzKf6ZFVjB5KQUHUuY32Mp2TskJEPJzP2UCrOQCLsNr-DGG3WUh8zhf2xYTs_Vj_AqcA6NbgLprMnbM8OQnV0JTeLarCp2rElwZrS6vdo23_Oc_yvrH5rRRpIXNxAE-gEc-GMGGI8XNQ"
        }
      }
    }
  ],
  "Variables": {}
}
