interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-keyc087132a/create?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrud-ec-keyc087132a/create?api-version=7.2-preview
- request:
    body: '{"kty": "EC-HSM", "tags": {"purpose": "unit test", "test name": "CreateECKeyTest"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-keyc087132a/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-keyc087132a/4b5072c49be745188ffc22dd8c7d1c2a","kty":"EC-HSM","key_ops":["sign","verify"],"crv":"P-256","x":"H8fkfmxsRwVP75KxFy7vUxmbr7MDJZR8gDy32xmYtPQ","y":"aBaop_pQ5WC6fZUwfM3R0zQRjP2Ui4zb4EElEXMN-yM"},"attributes":{"enabled":true,"created":1616180947,"updated":1616180947,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"purpose":"unit
        test","test name":"CreateECKeyTest"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrud-ec-keyc087132a/create?api-version=7.2-preview
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-P-256-ec-keyc087132a/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-P-256-ec-keyc087132a/c5785d2301a04767a50d2e101805b909","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"P3kuXq6zdHA0RyDH8vVxuTqMfzs1jkhKQCM90IjjClY","y":"OCesREQAp5MtzLQlKk-cig4WMYpW6ETPS8FCT4PEjlU"},"attributes":{"enabled":true,"created":1616180951,"updated":1616180951,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrud-P-256-ec-keyc087132a/create?api-version=7.2-preview
- request:
    body: '{"key": {"dq": "AKC9TAo9n2RDaggjdLXK8kiLrBVoaWFTpqXkzYXRhtsx4vWPAkxhfSnze05rVMl6HiXv7FnE0f0wYawzUJzoyuXBH0zS6D9BqCZPeF543AmWB27iPf38Q9Z8Rjr6oBgMSnGDV_mm8nDVQkeaDyE4cOZh-5UKvKShTKKQVwunmDNH",
      "dp": "AMmhWb5yZcu6vJr8xJZ-t0_likxJRUMZAtEULaWZt2DgODj4y9JrZDJP6mvckzhQP0WXk2NuWbU2HR5pUeCN2wieG1B76VKoH76vfnaJDqT1NuJVBcP2SLHog3ffwZtMME5zjfygchG3kihqOSpwTQ9ETAqAJTkRC38fEhwAz_Cp",
      "p": "ANHerI1o3dLB_VLVmZZVss8VZSYN5SaeQ_0qhfOSgOFwj__waCFmy2EG7l6l6f_Z-Y0L7Mn_LNov68lyWSFa2EuQUeVj4UoFHc5Di8ZUGiSsTwFM-XMtNuv8HmGgDYLL5BIJD3eTz71LdgW-Ez38OZH34b7VeG8zfeUDb8Hi30zz",
      "n": "AKCRTQAjSsaDshtMFdW-2Ie9yVnC5Xr1Suc06PAHINd10nXkVSB-N4TO62ClCkZV3XKnqU0nHo7o95WaZpym53W_DiO62umRtFKdl4UotL2QUh0y3SZWeWuoK2u_x2aMj17rUFN0f9GZMZ0pqEQNCPRBLVJ_-TEe2nGCWSC0exxGsRqz6R1zFkB-icfzQPe4WjQELOUXQ7J9RxhAPTTHtDivYYG-BeTRHrmF04JT1_6b9T_C8bAC0i0teT-nmlBLarQtBJKATXBx1yegbPOoiTqlQrFQP4MrKWNxtnB9Tcbjcvj-Z9je0ckI_eRc4DvAhqcUh_p15Dqg4GeaoNIO_jU",
      "key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey", "unwrapKey"],
      "d": "Ynx9JGaBSP4iUsf6ZJ6opantRNdcdmzaQrKbZg6ZQE8Ohi1FYabJWvaoPSE-CiJEsDzShXZHMhUHN4X7Bn8BXaGQhK3p9HXgiwQKmix7oAJTu4ElUIyd8UC3UWHSZr40el4PaQD-HYu_eMzCXus34MnRiNbh_BUWm6T-Eidhk9d3kNIyaSi9YNDQHW6tjWrEhhq63O7JU1j9ZonFChZxpKk20jdkQKQURVAdpOdL-5j4I70ZxFuU6wHZj8DS8oRQfwGOvZKbgYDb5jgf3UNL_7eACqq92XPVX56vm7iKbqeyjCqAIx5y3hrSRIJtZlWCwjYnYQGd4unxDLi8wmJWSQ",
      "kty": "RSA", "q": "AMPcZrZBqbc82DO8Q5zTT8ZXRGWrW36KktMllaIk1W2RHnRiQiW0jBWmcCgqUcQNHa1LwumjyNqwx28QBS37BTvG7ULGUoio6LrOeoiBGEMj-U19sX6m37plEhj5Mak7j3OPPY_T9rohjTW5aGGg9YSwq4jdz0RrmBX00ofYOjI3",
      "e": "AQAB", "qi": "AJ_nrkLpK8BPzVeARkvSHQyKwMWZ-a8CD95qsKfn0dOZAvXY-2xhQYTEwbED-0bpTNEKbIpA-ZkaHygmnzJkNbbFAnb9pkkzU8ZQqDP3JNgMfVIroWx58Oth9nJza2j7i-MkPRCUPEq3Ao0J52z7WJIiLji8TTVYW_NaiM1oxzsH"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/keys/livekvtestimport-test-keyc087132a?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestimport-test-keyc087132a/8dc232e2588f445ab35a6ca465ed0349","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"oJFNACNKxoOyG0wV1b7Yh73JWcLlevVK5zTo8Acg13XSdeRVIH43hM7rYKUKRlXdcqepTScejuj3lZpmnKbndb8OI7ra6ZG0Up2XhSi0vZBSHTLdJlZ5a6gra7_HZoyPXutQU3R_0ZkxnSmoRA0I9EEtUn_5MR7acYJZILR7HEaxGrPpHXMWQH6Jx_NA97haNAQs5RdDsn1HGEA9NMe0OK9hgb4F5NEeuYXTglPX_pv1P8LxsALSLS15P6eaUEtqtC0EkoBNcHHXJ6Bs86iJOqVCsVA_gyspY3G2cH1NxuNy-P5n2N7RyQj95FzgO8CGpxSH-nXkOqDgZ5qg0g7-NQ","e":"AQAB"},"attributes":{"enabled":true,"created":1616180951,"updated":1616180951,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestimport-test-keyc087132a?api-version=7.2-preview
- request:
    body: '{"key_size": 2048, "kty": "RSA", "tags": {"purpose": "unit test", "test
      name ": "CreateRSAKeyTest"}, "key_ops": ["encrypt", "decrypt", "sign", "verify",
      "wrapKey", "unwrapKey"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyc087132a/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyc087132a/71b5770e572e4958abe8696b08f4bc5c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"vGvZW2Gy_lwSCM7xJs3TjUwi37cinJ9WZyFKR896lZgRtCRlIBtJFA3-LCf5IZdNUd5BXy1I-iPzqwQiom2TZGZtkUUf8O4V22bc_8G1bFZQ4mBl_SGB1Fa3ya96DPha39QtnXbx3Ubh4XlUsLfPUzfJ7zArHRYtU_GhSawBxXh7zr7XbB27wF1eHnrI47ozkulV3L__dPIt4hrR4UqKXz5RjUqqMwEnQ65ziHC1t4IvGyPVwrQxUl-dTIvzi8_Img3hPGAUgWHqe4Ly4UfNt-gAd8rPt1gFpRmr2DhG--sgicwuLqv_et7c2-v5ZrhEZenzvc0f_bYEe3UTZH5A8Q","e":"AQAB"},"attributes":{"enabled":true,"created":1616180953,"updated":1616180953,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrud-rsa-keyc087132a/create?api-version=7.2-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyc087132a/71b5770e572e4958abe8696b08f4bc5c?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyc087132a/71b5770e572e4958abe8696b08f4bc5c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"vGvZW2Gy_lwSCM7xJs3TjUwi37cinJ9WZyFKR896lZgRtCRlIBtJFA3-LCf5IZdNUd5BXy1I-iPzqwQiom2TZGZtkUUf8O4V22bc_8G1bFZQ4mBl_SGB1Fa3ya96DPha39QtnXbx3Ubh4XlUsLfPUzfJ7zArHRYtU_GhSawBxXh7zr7XbB27wF1eHnrI47ozkulV3L__dPIt4hrR4UqKXz5RjUqqMwEnQ65ziHC1t4IvGyPVwrQxUl-dTIvzi8_Img3hPGAUgWHqe4Ly4UfNt-gAd8rPt1gFpRmr2DhG--sgicwuLqv_et7c2-v5ZrhEZenzvc0f_bYEe3UTZH5A8Q","e":"AQAB"},"attributes":{"enabled":true,"created":1616180953,"updated":1616180953,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrud-rsa-keyc087132a/71b5770e572e4958abe8696b08f4bc5c?api-version=7.2-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyc087132a/?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyc087132a/71b5770e572e4958abe8696b08f4bc5c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"vGvZW2Gy_lwSCM7xJs3TjUwi37cinJ9WZyFKR896lZgRtCRlIBtJFA3-LCf5IZdNUd5BXy1I-iPzqwQiom2TZGZtkUUf8O4V22bc_8G1bFZQ4mBl_SGB1Fa3ya96DPha39QtnXbx3Ubh4XlUsLfPUzfJ7zArHRYtU_GhSawBxXh7zr7XbB27wF1eHnrI47ozkulV3L__dPIt4hrR4UqKXz5RjUqqMwEnQ65ziHC1t4IvGyPVwrQxUl-dTIvzi8_Img3hPGAUgWHqe4Ly4UfNt-gAd8rPt1gFpRmr2DhG--sgicwuLqv_et7c2-v5ZrhEZenzvc0f_bYEe3UTZH5A8Q","e":"AQAB"},"attributes":{"enabled":true,"created":1616180953,"updated":1616180953,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrud-rsa-keyc087132a/?api-version=7.2-preview
- request:
    body: '{"attributes": {"exp": 2524723200}, "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyc087132a/?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyc087132a/71b5770e572e4958abe8696b08f4bc5c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"vGvZW2Gy_lwSCM7xJs3TjUwi37cinJ9WZyFKR896lZgRtCRlIBtJFA3-LCf5IZdNUd5BXy1I-iPzqwQiom2TZGZtkUUf8O4V22bc_8G1bFZQ4mBl_SGB1Fa3ya96DPha39QtnXbx3Ubh4XlUsLfPUzfJ7zArHRYtU_GhSawBxXh7zr7XbB27wF1eHnrI47ozkulV3L__dPIt4hrR4UqKXz5RjUqqMwEnQ65ziHC1t4IvGyPVwrQxUl-dTIvzi8_Img3hPGAUgWHqe4Ly4UfNt-gAd8rPt1gFpRmr2DhG--sgicwuLqv_et7c2-v5ZrhEZenzvc0f_bYEe3UTZH5A8Q","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1616180953,"updated":1616180955,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrud-rsa-keyc087132a/?api-version=7.2-preview
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyc087132a?api-version=7.2-preview
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-keyc087132a","deletedDate":1616180955,"scheduledPurgeDate":1623956955,"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyc087132a/71b5770e572e4958abe8696b08f4bc5c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"vGvZW2Gy_lwSCM7xJs3TjUwi37cinJ9WZyFKR896lZgRtCRlIBtJFA3-LCf5IZdNUd5BXy1I-iPzqwQiom2TZGZtkUUf8O4V22bc_8G1bFZQ4mBl_SGB1Fa3ya96DPha39QtnXbx3Ubh4XlUsLfPUzfJ7zArHRYtU_GhSawBxXh7zr7XbB27wF1eHnrI47ozkulV3L__dPIt4hrR4UqKXz5RjUqqMwEnQ65ziHC1t4IvGyPVwrQxUl-dTIvzi8_Img3hPGAUgWHqe4Ly4UfNt-gAd8rPt1gFpRmr2DhG--sgicwuLqv_et7c2-v5ZrhEZenzvc0f_bYEe3UTZH5A8Q","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1616180953,"updated":1616180955,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrud-rsa-keyc087132a?api-version=7.2-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-keyc087132a?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: livekvtestcrud-rsa-keyc087132a"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://mcpatinotest.vault.azure.net/deletedkeys/livekvtestcrud-rsa-keyc087132a?api-version=7.2-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-keyc087132a?api-version=7.2-preview
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-keyc087132a","deletedDate":1616180955,"scheduledPurgeDate":1623956955,"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyc087132a/71b5770e572e4958abe8696b08f4bc5c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"vGvZW2Gy_lwSCM7xJs3TjUwi37cinJ9WZyFKR896lZgRtCRlIBtJFA3-LCf5IZdNUd5BXy1I-iPzqwQiom2TZGZtkUUf8O4V22bc_8G1bFZQ4mBl_SGB1Fa3ya96DPha39QtnXbx3Ubh4XlUsLfPUzfJ7zArHRYtU_GhSawBxXh7zr7XbB27wF1eHnrI47ozkulV3L__dPIt4hrR4UqKXz5RjUqqMwEnQ65ziHC1t4IvGyPVwrQxUl-dTIvzi8_Img3hPGAUgWHqe4Ly4UfNt-gAd8rPt1gFpRmr2DhG--sgicwuLqv_et7c2-v5ZrhEZenzvc0f_bYEe3UTZH5A8Q","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1616180953,"updated":1616180955,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/deletedkeys/livekvtestcrud-rsa-keyc087132a?api-version=7.2-preview
version: 1
