interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256c551b80/create?api-version=2016-10-01
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-256c551b80/create?api-version=2016-10-01
- request:
    body: '{"crv": "P-256", "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256c551b80/create?api-version=2016-10-01
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256c551b80/39edf061c4a941f5a6de5c24fba5b28a","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"lOiNpPjtgulaYTrfBuhAa9A2XamMN2DYCM3jDffH2js","y":"BSuJln826STd4uUkGQPxNoR5JDdfq83WZ5dOsKB7zH0"},"attributes":{"enabled":true,"created":1620427988,"updated":1620427988,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-256c551b80/create?api-version=2016-10-01
- request:
    body: '{"value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg", "alg": "ES256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256c551b80/39edf061c4a941f5a6de5c24fba5b28a/sign?api-version=2016-10-01
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256c551b80/39edf061c4a941f5a6de5c24fba5b28a","value":"TXD1lMuWTD6I200NpBWy4eNuSWTqt6j7uL73a9kW_oDxK28-XkTirrSwXxEPiKw1wPZuPgPDAfYmnqDHTnldcg"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-256c551b80/39edf061c4a941f5a6de5c24fba5b28a/sign?api-version=2016-10-01
- request:
    body: '{"crv": "P-256K", "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kc551b80/create?api-version=2016-10-01
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kc551b80/95e2c6a1a78a454fa6bd9eee0e0448d4","kty":"EC","key_ops":["sign","verify"],"crv":"P-256K","x":"Ka47zr7ayrESZY8iT_pDxF4BoFxJmw5BtUA1RU0fke0","y":"3tomFBoHwYSMUX5yMA1eFSt4SMIDMCU1VKb7V0LPOog"},"attributes":{"enabled":true,"created":1620427991,"updated":1620427991,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-256Kc551b80/create?api-version=2016-10-01
- request:
    body: '{"value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg", "alg": "ES256K"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kc551b80/95e2c6a1a78a454fa6bd9eee0e0448d4/sign?api-version=2016-10-01
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kc551b80/95e2c6a1a78a454fa6bd9eee0e0448d4","value":"Qz3c4Q4JVa-JvtoeRHnGdgNW14GguQ5oUgfzoOIDdqNT1L7YPMimP_HzFWHyZqUgwXSx36TQJOc9bsqQ95BkeA"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-256Kc551b80/95e2c6a1a78a454fa6bd9eee0e0448d4/sign?api-version=2016-10-01
[...]
- request:
    body: '{"value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ",
      "alg": "ES512"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521c551b80/760379bd31f240a3b3affd6a924f5354/sign?api-version=2016-10-01
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521c551b80/760379bd31f240a3b3affd6a924f5354","value":"AF1W8YW9tTPYB-Tg4MZ1fyo9-_-FNyUBYOJ8xe2cs2Ua78xrLROzGDgJ5-i0D6cRZfdLmbNcoVqjUoYRxurvDMPMAMZcHggeGjLq0YzurD_u4BbYXM8Caf3U1zL6Li-vgiZeQouh3jdg9StlI5k2ZLwGPlBfh8P1mO9-2X8_w3lZV0dY"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-521c551b80/760379bd31f240a3b3affd6a924f5354/sign?api-version=2016-10-01
version: 1
