interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc796d6174c.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc796d6174c.vault.azure.net
        - /keys/key0/create
        - api-version=7.0
        - ''
- request:
    body: '{"kty": "EC"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc796d6174c.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc796d6174c.vault.azure.net/keys/key0/6cebe7f5908d48e6944942dfc78eba4c","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"XbQQG4e6GbdF6v3Gu5eVJyxx61_JYLsyMkWWpImqNmE","y":"JrAZ9WXZXxbOc0-OV0JJqrAoRn37C1sXfO1ayH7iToA"},"attributes":{"enabled":true,"created":1571698545,"updated":1571698545,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc796d6174c.vault.azure.net
        - /keys/key0/create
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc796d6174c.vault.azure.net/keys?api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://vault458ad70cc796d6174c.vault.azure.net/keys/key0","attributes":{"enabled":true,"created":1571698546,"updated":1571698546,"recoveryLevel":"Recoverable+Purgeable"}},{"kid":"https://vault458ad70cc796d6174c.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1571698546,"updated":1571698546,"recoveryLevel":"Recoverable+Purgeable"}},{"kid":"https://vault458ad70cc796d6174c.vault.azure.net/keys/key2","attributes":{"enabled":true,"created":1571698546,"updated":1571698546,"recoveryLevel":"Recoverable+Purgeable"}},{"kid":"https://vault458ad70cc796d6174c.vault.azure.net/keys/key3","attributes":{"enabled":true,"created":1571698546,"updated":1571698546,"recoveryLevel":"Recoverable+Purgeable"}}],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc796d6174c.vault.azure.net
        - /keys
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc796d6174c.vault.azure.net/keys/key-name/versions?api-version=7.0
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc796d6174c.vault.azure.net
        - /keys/key-name/versions
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc796d6174c.vault.azure.net/deletedkeys?api-version=7.0
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc796d6174c.vault.azure.net
        - /deletedkeys
        - api-version=7.0
        - ''
version: 1
