interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name245c1963/create?api-version=7.3-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name245c1963/create?api-version=7.3-preview
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name245c1963/create?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name245c1963/057c640d52314478929dc83bb121984d","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"09jLTgFNEzClkBWMRznJtCw316JRRlpzWnfd31p6nHGLzdKJrEqVPyilMNTbAPB6C2B9tKJrgHi1Dl8xxP1TjoOxM7WWfqb0X7GPCLbl96MpTgexiw-U3q4dCB30ab89Xt-pxvKil4XtIkTX1I047Wtdv6uDvfC8b9g6UIzEetfIyWfkd6F-IL0GCAhSz9YUEHnQ3TLDNwXDZbqoMPvzhWhW4hcJ26wZCuNwXb70sNFjeeymQ_CiHUi9DIu_gZDNUdjOo30hgCwWxDMeA92DKVPHcwpjNg6z5nEQKxn_HvBZPQhAaG35xIwb5EOpEVjC0cAcTvTopeaK4-t_gKUr_Q","e":"AQAB"},"attributes":{"enabled":true,"created":1633375446,"updated":1633375446,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name245c1963/create?api-version=7.3-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name245c1963/057c640d52314478929dc83bb121984d?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name245c1963/057c640d52314478929dc83bb121984d","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"09jLTgFNEzClkBWMRznJtCw316JRRlpzWnfd31p6nHGLzdKJrEqVPyilMNTbAPB6C2B9tKJrgHi1Dl8xxP1TjoOxM7WWfqb0X7GPCLbl96MpTgexiw-U3q4dCB30ab89Xt-pxvKil4XtIkTX1I047Wtdv6uDvfC8b9g6UIzEetfIyWfkd6F-IL0GCAhSz9YUEHnQ3TLDNwXDZbqoMPvzhWhW4hcJ26wZCuNwXb70sNFjeeymQ_CiHUi9DIu_gZDNUdjOo30hgCwWxDMeA92DKVPHcwpjNg6z5nEQKxn_HvBZPQhAaG35xIwb5EOpEVjC0cAcTvTopeaK4-t_gKUr_Q","e":"AQAB"},"attributes":{"enabled":true,"created":1633375446,"updated":1633375446,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name245c1963/057c640d52314478929dc83bb121984d?api-version=7.3-preview
- request:
    body: '{"alg": "RSA-OAEP", "value": "cGxhaW50ZXh0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name245c1963/057c640d52314478929dc83bb121984d/encrypt?api-version=7.3-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name245c1963/057c640d52314478929dc83bb121984d","value":"ZA5emTaEIbUKC1s-v5-EP5gZNN3d_a2mcdfpyAaTfco2gtyAM3vpW2uwXscVMcNbx0oRtOuoiJkHkjf3rg1_eHYQUVWjaIKvIE6N1xMjUoB9h-j_aP05xxHX2PpPvBXmiinnUBNTEmVC-7w_xkzYO2kENnJE1wqxq6mFEYLKVTIhGU9XFFsDVNgvkNNPT-tjxHWFht8KXC3_QWaOxKptHhla-_dxfQWpVX9R4B41F1ePvp1As3EUqLuSn1bwl4l2iBURXL23cZ03MWkLCDq0heXwRhkK_7XvxXvX2uLlDror_aKk6Ut5E0UGz3SRW0Wpwu3Fh6kAwap3NT1EyPdBVw"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name245c1963/057c640d52314478929dc83bb121984d/encrypt?api-version=7.3-preview
- request:
    body: '{"alg": "RSA-OAEP", "value": "ZA5emTaEIbUKC1s-v5-EP5gZNN3d_a2mcdfpyAaTfco2gtyAM3vpW2uwXscVMcNbx0oRtOuoiJkHkjf3rg1_eHYQUVWjaIKvIE6N1xMjUoB9h-j_aP05xxHX2PpPvBXmiinnUBNTEmVC-7w_xkzYO2kENnJE1wqxq6mFEYLKVTIhGU9XFFsDVNgvkNNPT-tjxHWFht8KXC3_QWaOxKptHhla-_dxfQWpVX9R4B41F1ePvp1As3EUqLuSn1bwl4l2iBURXL23cZ03MWkLCDq0heXwRhkK_7XvxXvX2uLlDror_aKk6Ut5E0UGz3SRW0Wpwu3Fh6kAwap3NT1EyPdBVw"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name245c1963/057c640d52314478929dc83bb121984d/decrypt?api-version=7.3-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name245c1963/057c640d52314478929dc83bb121984d","value":"cGxhaW50ZXh0"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name245c1963/057c640d52314478929dc83bb121984d/decrypt?api-version=7.3-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name245c1963/?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name245c1963/057c640d52314478929dc83bb121984d","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"09jLTgFNEzClkBWMRznJtCw316JRRlpzWnfd31p6nHGLzdKJrEqVPyilMNTbAPB6C2B9tKJrgHi1Dl8xxP1TjoOxM7WWfqb0X7GPCLbl96MpTgexiw-U3q4dCB30ab89Xt-pxvKil4XtIkTX1I047Wtdv6uDvfC8b9g6UIzEetfIyWfkd6F-IL0GCAhSz9YUEHnQ3TLDNwXDZbqoMPvzhWhW4hcJ26wZCuNwXb70sNFjeeymQ_CiHUi9DIu_gZDNUdjOo30hgCwWxDMeA92DKVPHcwpjNg6z5nEQKxn_HvBZPQhAaG35xIwb5EOpEVjC0cAcTvTopeaK4-t_gKUr_Q","e":"AQAB"},"attributes":{"enabled":true,"created":1633375446,"updated":1633375446,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name245c1963/?api-version=7.3-preview
[...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "LXs_g692wTTUHpHOvtngg5riQEzMWsPBoHPqjS7xiNUYrVFcBtfoknCMYBfmRpjzya_Zllcflxx0o0bYIE8432e87uk-tcF09M-NHHX4nzAZ9RFTgIKdRXHB_BXfeZHcjfNuvEyoFSFG3EcvoXb1G1A4RfajroweEnolcdehNE7oQ44iKgHE0MWdHJFYNEiVvXMwZYr7fjoFjMm4Mu0kybt3cKNVDHWhluNXQVSOJGQFRen2cl4aBSTVq690yXbxLr0VUyH1O4z88Le_7SkOMhNIj6XmpZGkt5eexKKVSmKBahLgJG6WIBasjKCDl1BiiUEgYLggqaBkMrn_gDa-OQ"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name245c1963/057c640d52314478929dc83bb121984d/decrypt?api-version=7.3-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name245c1963/057c640d52314478929dc83bb121984d","value":"cGxhaW50ZXh0"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name245c1963/057c640d52314478929dc83bb121984d/decrypt?api-version=7.3-preview
version: 1
