interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault8bf41593ca55c41090.vault.azure.net/keys/rsa-verify-2048/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"kty": "RSA", "key_size": 2048}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault8bf41593ca55c41090.vault.azure.net/keys/rsa-verify-2048/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault8bf41593ca55c41090.vault.azure.net/keys/rsa-verify-2048/566409270f5642b0a0b15a9f8dcf17b1","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"7LE6PSViYwGM6Kt7KkA0nXK6sNjlnqcz20rGPVyMXH90-oYS0Go925eGl5hi8hEYOSXM7SytgyFj1PLu5tPM6J5mTZGovXCJfRlBcDkRRDSnZnsUOwRBdzwMG1CUrbeYLQ2_RhBQzocuifmOfEGI6W2Hoxj6YPaXSWNeOYbrED5pk5XY6hjVwMoTmEiMkaC2KPS-MoGcoI1_mk7eYJfHmnG_Y-lP5hSBHW5qRixqvRuE67t0G1aWK-UXVCv_RVOVMP01myhcomq7YHQWA-cJGyHsr9ZqqQm5zqs4o_9QXF4gyiRT6c9zUm70VHmy9UrfyI4LKxWoNpO8-jJJm1mJ_Q","e":"AQAB"},"attributes":{"enabled":true,"created":1570213085,"updated":1570213085,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"alg": "PS256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault8bf41593ca55c41090.vault.azure.net/keys/rsa-verify-2048/566409270f5642b0a0b15a9f8dcf17b1/sign?api-version=7.0
  response:
    body: {string: '{"kid":"https://vault8bf41593ca55c41090.vault.azure.net/keys/rsa-verify-2048/566409270f5642b0a0b15a9f8dcf17b1","value":"5IJTqFVuX6GOLnh533e3ut52GSyT01j2i9VwBilQXInREab9Bc4ONBpFOuHmL7ha0MaEvNwVmYrp905P48qeh0uQFosVwXuIpe5CAiBzLuwSxNtNXFK3ENvfviVIK-TlMtjEaXaUA7cz6JR-QENFgkzOHgtOFT-NvNLzIy5lvtIp8KcifWs2nLA4iCLadfTa65jeR1mkxbEfh4DCyk4WChuGMYveqriZWASiR4PObx-DdRGkYcXh6LHcLiK1gPGBcuTC38fJQrwxDL6NUKQlVoUWo_8Xh48rC-IYkDVDLO7SCIcdCizQ9pGS0NX0ri0dnRj-fb-vhJn0IrU72yPVnA"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"alg": "RS512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault8bf41593ca55c41090.vault.azure.net/keys/rsa-verify-4096/b6afb23611cd4a7c9cc9cdd73bc81de3/sign?api-version=7.0
  response:
    body: {string: '{"kid":"https://vault8bf41593ca55c41090.vault.azure.net/keys/rsa-verify-4096/b6afb23611cd4a7c9cc9cdd73bc81de3","value":"sYQzkCqAE2GShFLvIideFJ0_EzoYfEorEVQngrXu_IoBl9rw5s07uL8mzwSCInIn-ME227h8eVw2BYhsrK8uugbLZ4Kr_TYrOQJ6n9m3V2f3aSCzZKKk4i_RfjJJLIGYQGK4g4Pr3HxK7kohoNS9P-AXXZNzZCgX1gh5-BLAqqB-hqFKMxqvk-Azcg910Kh8eDPsDf8ClwrsnrUzkT7c1l2ybgsJ8Epmyj38enT_DwLEjzLJFPvvR2zp_mJrhAmSl5ZIFWpqwSjgTXAQVqB7_J7wySwd_zKMRBis38hrrrXy2xIN5VRceCyRdrCMYOVLUdj2-8CJngU3wHpqgbBv6pMs6Q6hV_uk-SZb9k4BBmuAMzNGpEBNiAh62p4Ad_6ah88k6Ygh8LL9AvwRUizxS0VEr5SwJiy5dwKrnfHKwU__5bhBNiqhljLAT9lEyJ2eFLsUN0rrhmKgUQlJbGiXnzbROWlLR2gGTnTFmK-1UfSga7gF595B6h-AfH_8DHb-gJrQ8wi3aL_U41cwqHTIwukFpURdF2FDbOnLiEn13GsCEPpYBVnZPC3OLTX5Br4MqAJemJ3z2VTqSFCZ2KPuhBX84xdA_R3FtWPHhoAKhupNi3amRrIkuPxoBfbFJZcc7h2VUxV_tZcTzBmO-V-r0PWQ4IaMNp572i-Dhac4gZw"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
