interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault6742ec147c.vault.azure.net/keys/crypto-test-wrapping-keyec147c/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Wed, 14 Aug 2019 20:29:49 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault6742ec147c.vault.azure.net,
        /keys/crypto-test-wrapping-keyec147c/create, api-version=7.0, '']
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault6742ec147c.vault.azure.net/keys/crypto-test-wrapping-keyec147c/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault6742ec147c.vault.azure.net/keys/crypto-test-wrapping-keyec147c/57d196875fc74043a4a153e3ad1d00f5","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"rpLejxPTF43lHhZdZgg-6QkEpkbab4D9DjKCCd3I_X0fHWsFmTRCOAiZGN0QoYEqRu7X8ht46d4epXh7nf-nKb7_AqGQVgadaEF9DuxSx_-NlslgGva6K5Zvtu_pB-gsfUD0I1V7D7RO7Lcf79-d_HvFDmdIadtQqaPGS6OCJzvXT2PKJzTtLQjJp05-2vxcttl0glEI_YAgmBnhyRLK_ljBvB8wJmf50GcWGu0TWMWxphXExr1yMSknmsHMXs4oJArhkLTmqDgZnfh-8HtGqX8hYcgIvyQ6XukWmTjSuFepE5jIXR7_P2RRSTLwoZDXzLQ-4WNLlZKTyQbnydG_Fw","e":"AQAB"},"attributes":{"enabled":true,"created":1565814590,"updated":1565814590,"recoveryLevel":"Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '668', content-type: application/json;
        charset=utf-8, date: 'Wed, 14 Aug 2019 20:29:50 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault6742ec147c.vault.azure.net,
        /keys/crypto-test-wrapping-keyec147c/create, api-version=7.0, '']
- request:
    body: '{"alg": "RSA-OAEP", "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault6742ec147c.vault.azure.net/keys/crypto-test-wrapping-keyec147c/57d196875fc74043a4a153e3ad1d00f5/wrapkey?api-version=7.0
 [...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "RnJb5JVbJ9z3TsW8R-QlJvPVtEFtpBid4n1ZXxBXOT31faSo0VCbuis1ScelljGDTgsyHlMVzJZvwFanp9KE_i3GFmK7n-bBEVPWYKYBcwumunOlwT76uYIr-QNWlV8xJ3W8Bq0xs1o6AhY62fYWHor0KMmLnjNtzJY1ezttru9ru5rNoVyJ5dCAzmgzbI1Mi1jocKokfAOqOOSRvOJLuvKZbAd-sfgAoG7mogrW1isXlTuQETxioFIvUw_4JmgfbS9nhSPEdxmf7MaAHfYGaXrqXyQ4z1BxvoDt9SUmtIOIelkJMrSuj-Bj0-zD8TofWl_G0JLwFnOxyzGe4jm4bQ"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://v[...]
