{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name9b603379/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name9b603379/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name9b603379/f13bfd3d071643ecb4b0eb916b1e2cb9",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "y-Gj_OvSH-q88T-4T5zCCwDv9K-He0jwW2AeAPY9m9_3O4d1rq5J3hAmeHUtRdFrtjkIdo0rDWmu-kAYtB7HjXyq5QcE_Wke7ep2iXwdwliP6VEk48Nxdl7-kRS89hSN7Z5c0MVdvxRGDpCrJJB46ovi1t2MtwyGLes9tOFrMhHvTtyChj83OZdSTy4kQ_SDWm8agLsaeaIPsUz6cgU2RaGL4yYHSjedxD6vn5uMzqqdAOhtgIwZwYPMlLwte1MIg9EDGJHNTKvMwYE_86Y5nntER-RCh9tVRGlI6-40t6s6Akj_w2olgQxvTkskYT5vOr2aZXroXmJ_LOjzd0wZSQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650667492,
          "updated": 1650667492,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name9b603379?api-version=7.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name9b603379",
        "deletedDate": 1650667492,
        "scheduledPurgeDate": 1651272292,
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name9b603379/f13bfd3d071643ecb4b0eb916b1e2cb9",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "y-Gj_OvSH-q88T-4T5zCCwDv9K-He0jwW2AeAPY9m9_3O4d1rq5J3hAmeHUtRdFrtjkIdo0rDWmu-kAYtB7HjXyq5QcE_Wke7ep2iXwdwliP6VEk48Nxdl7-kRS89hSN7Z5c0MVdvxRGDpCrJJB46ovi1t2MtwyGLes9tOFrMhHvTtyChj83OZdSTy4kQ_SDWm8agLsaeaIPsUz6cgU2RaGL4yYHSjedxD6vn5uMzqqdAOhtgIwZwYPMlLwte1MIg9EDGJHNTKvMwYE_86Y5nntER-RCh9tVRGlI6-40t6s6Akj_w2olgQxvTkskYT5vOr2aZXroXmJ_LOjzd0wZSQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650667492,
          "updated": 1650667492,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name9b603379?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: livekvtestkey-name9b603379"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name9b603379/recover?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name9b603379/f13bfd3d071643ecb4b0eb916b1e2cb9",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "y-Gj_OvSH-q88T-4T5zCCwDv9K-He0jwW2AeAPY9m9_3O4d1rq5J3hAmeHUtRdFrtjkIdo0rDWmu-kAYtB7HjXyq5QcE_Wke7ep2iXwdwliP6VEk48Nxdl7-kRS89hSN7Z5c0MVdvxRGDpCrJJB46ovi1t2MtwyGLes9tOFrMhHvTtyChj83OZdSTy4kQ_SDWm8agLsaeaIPsUz6cgU2RaGL4yYHSjedxD6vn5uMzqqdAOhtgIwZwYPMlLwte1MIg9EDGJHNTKvMwYE_86Y5nntER-RCh9tVRGlI6-40t6s6Akj_w2olgQxvTkskYT5vOr2aZXroXmJ_LOjzd0wZSQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650667492,
          "updated": 1650667492,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name9b603379/?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) livekvtestkey-name9b603379 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name9b603379/?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name9b603379/f13bfd3d071643ecb4b0eb916b1e2cb9",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "y-Gj_OvSH-q88T-4T5zCCwDv9K-He0jwW2AeAPY9m9_3O4d1rq5J3hAmeHUtRdFrtjkIdo0rDWmu-kAYtB7HjXyq5QcE_Wke7ep2iXwdwliP6VEk48Nxdl7-kRS89hSN7Z5c0MVdvxRGDpCrJJB46ovi1t2MtwyGLes9tOFrMhHvTtyChj83OZdSTy4kQ_SDWm8agLsaeaIPsUz6cgU2RaGL4yYHSjedxD6vn5uMzqqdAOhtgIwZwYPMlLwte1MIg9EDGJHNTKvMwYE_86Y5nntER-RCh9tVRGlI6-40t6s6Akj_w2olgQxvTkskYT5vOr2aZXroXmJ_LOjzd0wZSQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650667492,
          "updated": 1650667492,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {}
}
