interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey1f5d1926/create?api-version=7.3-preview
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '2'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "oct-HSM", "key_size": 256}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey1f5d1926/create?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1625608859,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625608859},"key":{"key_ops":["wrapKey","unwrapKey","decrypt","encrypt"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey1f5d1926/dc54c58160830f001efddb0e55fd8599","kty":"oct-HSM"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '257'
    status:
      code: 200
      message: OK
version: 1
