{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestrsa-not-yet-valid8eda372a/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestrsa-not-yet-valid8eda372a/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {
          "nbf": 32503680000
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "271"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1650658023,
          "enabled": true,
          "exportable": false,
          "nbf": 32503680000,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1650658023
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestrsa-not-yet-valid8eda372a/2dc3ee08d0ed48b7b7ca46f57cdb8fd6",
          "kty": "RSA-HSM",
          "n": "oSRm70Up3ti0KcmEFltPhMvCUCbwdcm6EJINMzds0p3ZgKJzf9_3Fpw7Yr6kQzyFURY2IPmFwIbQADvEqM0-1W1MP26orDa5DDB9Nnw0OTg408Es7CXXLmZMGPw5uHovKZRA_-8p7gW_0OEHq-daZerfrumHJKWowzK6gnjE1MSlbICcmWy8I3SLIkhP3VfKpHSqa68gdXYPqk0uztuU_TlnID7kGvOD1MRomjT1b5Jb4HwQxsKxlqAzTEhcyNve_wQfhbXe-0WR61CBUgysnhcwr23vpa0r2P2SZIbmwLCgZwkFto86GG7fxVaOPDn6dfSpWADgTIQG2f5hjpvDIw"
        }
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestrsa-expired8eda372a/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {
          "exp": 946684800
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "259"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1650658025,
          "enabled": true,
          "exp": 946684800,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1650658025
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestrsa-expired8eda372a/af61f2acc92602e89b9fab93d6508fd4",
          "kty": "RSA-HSM",
          "n": "nlwq_AJ7EQ0FDOsq-C5lsruVCZbrJj9IWpx0NQtWqidbjwUqdy1rEQVIqQmXVPIb_YXdm4TY37pMO0ciy7rnkBP0bQ3dVp5QRVm8oJl3qvmI5B3O8lH5Ddgug5f3pIJlE-MJTjdqovEQFoaFdlZZpLooLj1gYt-kl4nSDJ2LnD3VDjGUa29MJrdIAGElthmwYYnWnWEnFiQN7Nrpdghj89CdO2sfdut3px6BwF_BKEGtVVRwPLs5LhP0mYLHBw0Y-NTIK0Np5VO9tgwFMDcU1IXDfrRhF7cJRcxrmPqurvM7xeuLFAgI-sDeo1NYkbYs8ZHNAft_OKfnOiidD413Bw"
        }
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestrsa-valid8eda372a/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "attributes": {
          "nbf": 32503680000,
          "exp": 32535216000
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
[...]
