{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name3f352c33/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name3f352c33/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name3f352c33/7492142eab9d489e8918af7f996965de",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yAqDwfz9XaHuYj-o8Rzefl34c8fHZ0rhJ5qPLuS6XDvqcTV7bcJ0McTlwoUgnM9rzvEVtE-CJnpMUdaqM4m_-FA6TqBrq1SH10GnwFgKIWTqLCB3Kv2DdvMDmF0NhMSzbX1aPdpO4AJA1clnnpduuomWgV4do6GBRezM_EhlNnDxIkn4soMAnZuZh-pZl6CGUnnzdabaKToaIrJPczoZlEU7hU4HBYLwgsSURCvmQTqigXmRZr-HWZ800gWKyAyeKG5b05iAxrgic9xbSyBIIdxzmZiqZ4D2CUOcIYskLkMKGM6Y_qtFjyzkUJwzIUdHPmJYRntpYQDdAKoi1jgLlQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650666389,
          "updated": 1650666389,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {}
}
