interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey081db1165/create?api-version=7.2-preview
  response:
    body:
      string: ''
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency: '1'
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestkey081db1165/create?api-version=7.2-preview
- request:
    body: '{"kty": "RSA-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey081db1165/create?api-version=7.2-preview
  response:
    body:
      string: '{"attributes":{"created":1618860114,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1618860114},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey081db1165/c8184e12f81c484b316148061799fb6c","kty":"RSA-HSM","n":"slDZS-UW2afL5RaKPuLTv8-jxSKE2TjjLHKirc3pvraxpCAhGPJfFQw774LTpAv2DaoHqjjBXLCwub9ylvy0I2JR16_cceMBPN5-41a-2FEJYhIMml7JgCDHIT-_Uv-nDQSGavBFDheMbcmPfr-gNKSEA7PeqKaeR_ig-Xjek78hKOkKLSkXUoSVUOIhP9zD43wsDsdCHiLSmkMQCVReYApt-JKNsPSxB28UsVPNXAKLL1TirGBv2LyIb2i9jsO0S8qWguahd4hvUa7KwaaSt1auSEq_kt0JACQSIUFDjCYtq3gA-f1kk4uQoQl54PhqHx-1IVesKeEI6X5Tv2YcXw"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '233'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestkey081db1165/create?api-version=7.2-preview
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey081db1165?api-version=7.2-preview
  response:
    body:
      string: '{"attributes":{"created":1618860114,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1618860114},"deletedDate":1618860128,"key":{"e":"AQAB","key_ops":["wrapKey","encrypt","decrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey081db1165/c8184e12f81c484b316148061799fb6c","kty":"RSA-HSM","n":"slDZS-UW2afL5RaKPuLTv8-jxSKE2TjjLHKirc3pvraxpCAhGPJfFQw774LTpAv2DaoHqjjBXLCwub9ylvy0I2JR16_cceMBPN5-41a-2FEJYhIMml7JgCDHIT-_Uv-nDQSGavBFDheMbcmPfr-gNKSEA7PeqKaeR_ig-Xjek78hKOkKLSkXUoSVUOIhP9zD43wsDsdCHiLSmkMQCVReYApt-JKNsPSxB28UsVPNXAKLL1TirGBv2LyIb2i9jsO0S8qWguahd4hvUa7KwaaSt1auSEq_kt0JACQSIUFDjCYtq3gA-f1kk4uQoQl54PhqHx-1IVesKeEI6X5Tv2YcXw"},"recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey081db1165","scheduledPurgeDate":1626636128}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '143'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestkey081db1165?api-version=7.2-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey081db1165?api-version=7.2-preview
  response:
    body:
      string: '{"attributes":{"created":1618860114,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1618860114},"deletedDate":1618860128,"key":{"e":"AQAB","key_ops":["verify","sign","unwrapKey","encrypt","decrypt","wrapKey"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey081db1165/c8184e12f81c484b316148061799fb6c","kty":"RSA-HSM","n":"slDZS-UW2afL5RaKPuLTv8-jxSKE2TjjLHKirc3pvraxpCAhGPJfFQw774LTpAv2DaoHqjjBXLCwub9ylvy0I2JR16_cceMBPN5-41a-2FEJYhIMml7JgCDHIT-_Uv-nDQSGavBFDheMbcmPfr-gNKSEA7PeqKaeR_ig-Xjek78hKOkKLSkXUoSVUOIhP9zD43wsDsdCHiLSmkMQCVReYApt-JKNsPSxB28UsVPNXAKLL1TirGBv2LyIb2i9jsO0S8qWguahd4hvUa7KwaaSt1auSEq_kt0JACQSIUFDjCYtq3gA-f1kk4uQoQl54PhqHx-1IVesKeEI6X5Tv2YcXw"},"recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey081db1165","scheduledPurgeDate":1626636128}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20210407-3-27236ed1-develop
      x-ms-server-latency: '33'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/deletedkeys/livekvtestkey081db1165?api-version=7.2-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey081db1165?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Key not found: https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey081db1165
        (Activity ID: 8ade5a1e-a144-11eb-8d89-000d3ae6787a)"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20210407-3-27236ed1-develop
      x-ms-server-latency: '24'
    status:
      code: 404
      message: Not Found
    url: https://mcpatinotesthsm.managedhsm.azure.net/deletedkeys/livekvtestkey081db1165?api-version=7.2-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys?api-version=7.2-preview
  response:
    body:
      string: '{"nextLink":"https://managedhsmname.managedhsm.azure.net/deletedkeys?maxresults=25&$skiptoken=K1JJRDp-azVBRkFLVU5Mb2wtQUFBQUFBQUFBQT09I1JUOjEjVFJDOjEwI0lTVjoyI0lFTzo2NTU2NyNRQ0Y6Mw","value":[{"attributes":{"created":1618855304,"enabled":true,"exp":2524723200,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1618855305},"deletedDate":1618855306,"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya33c1729","recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-keya33c1729","scheduledPurgeDate":1626631306,"tags":{"foo":"updated
        tag"}},{"attributes":{"created":1618855932,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1618855932},"deletedDate":1618855948,"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey07295163d","recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey07295163d","scheduledPurgeDate":1626631948},{"attributes":{"created":1618855934,"enabled":true,"exportable":false,"recoverableDays":90,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys?maxresults=25&$skiptoken=K1JJRDp-azVBRkFLVU5Mb2wtQUFBQUFBQUFBQT09I1JUOjEjVFJDOjEwI0lTVjoyI0lFTzo2NTU2NyNRQ0Y6Mw
  response:
    body:
      string: '{"value":[{"attributes":{"created":1618860081,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1618860081},"deletedDate":1618860095,"kid":"https://managedhsmname.managedhsm.az[...]
