{
  "Entries": [
    {
      "RequestUri": "00000000-0000-0000-0000-000000000000keys/livekvtestec-verify-P-256a7e22d2c/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "00000000-0000-0000-0000-000000000000keys/livekvtestec-verify-P-256a7e22d2c/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "379"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1650292664,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1650292664
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "00000000-0000-0000-0000-000000000000keys/livekvtestec-verify-P-256a7e22d2c/701dacd6da0f4b3a9cf481744a144bd4",
          "kty": "EC-HSM",
          "x": "o1t_su_I8o7sUQUr1ueqkK0WvCYxgu77LnEvgS3JuC0",
          "y": "dB4Ov9LHuH0dXKpDGoX4Ttbq_FXvcJpw0-JLVq1jcW8"
        }
      }
    },
[...]
    {
      "RequestUri": "00000000-0000-0000-0000-000000000000keys/livekvtestec-verify-P-256a7e22d2c/701dacd6da0f4b3a9cf481744a144bd4/sign?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "117"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "00000000-0000-0000-0000-000000000000keys/livekvtestec-verify-P-256a7e22d2c/701dacd6da0f4b3a9cf481744a144bd4",
        "value": "h4Adn_9TLiADZDjnDRwzCAvQg-C-k_9FtiPs7cyqIXuDFv5-gLSooHy0RcqEngRJZdJtN-z7kFM9eRXHmVG6Iw"
      }
    },
    {
      "RequestUri": "00000000-0000-0000-0000-000000000000keys/livekvtestec-verify-P-256Ka7e22d2c/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "342"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1650292667,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1650292667
        },
        "key": {
          "crv": "P-256K",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "00000000-0000-0000-0000-000000000000keys/livekvtestec-verify-P-256Ka7e22d2c/12b8618e5be10c330071f94cf98320f3",
          "kty": "EC-HSM",
          "x": "UPc6MEpjcVCcLjFQ6quVzmCwDatNnt67I8IOT4Z6Ek4",
          "y": "xbb57VjW6_MjpwoA6oO26K9Jj91QbuX7C71mtqqxCtY"
        }
      }
    },
[...]
    {
      "RequestUri": "00000000-0000-0000-0000-000000000000keys/livekvtestec-verify-P-256Ka7e22d2c/12b8618e5be10c330071f94cf98320f3/sign?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "119"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "00000000-0000-0000-0000-000000000000keys/livekvtestec-verify-P-256Ka7e22d2c/12b8618e5be10c330071f94cf98320f3",
        "value": "9N6CUsms2_KCjbECGwzSXbVNydJ18T0QtGyupZdeR1G6VUlnXEdnwjGZW0qICNI6Gv20rAk6_3umKMhZ6ugiTg"
      }
    },
[...]
    {
      "RequestUri": "00000000-0000-0000-0000-000000000000keys/livekvtestec-verify-P-521a7e22d2c/baaaa933ec5d08dc3cf966da0b145572/sign?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "169"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "00000000-0000-0000-0000-000000000000keys/livekvtestec-verify-P-521a7e22d2c/baaaa933ec5d08dc3cf966da0b145572",
        "value": "AF6MFYe1F7JOSnWuDkqM4hM6y37yC2Ssw5K5-9Prwn4nq8gM5vT5hNEbmtnvzWwS66sOJgpoTnlX0603I0n36Ng2AXrn_-E2TIUDXS2ySoTOuKfi3lDT8t9Ma_lnVFDs73nvOABR8SQcIs_8FINFDIPhm2yQ9K-WDv6j6d4g16bE7L_z"
      }
    }
  ],
  "Variables": {}
}
