interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultamrzvmhb3510bf8.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultamrzvmhb3510bf8.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vaultamrzvmhb3510bf8.vault.azure.net/keys/key0/69519dfee4e74caea2c8d2cf16c6d64d","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"rHUzncojxARPier8AXiI5mrQXUwsOZjODe9-oRdxhUFykEXlTqtbuzEVqh8oFB_UEUp6TQmfNMiZG_ryPZ-bzIg20kLtlDVrtimktvwWUWXaPnQ74o-8s2fHCZytudmxLbEcfBXyL2ReZId2eoruxaX7kxUsGbR7TnKs_r-PRwAob-uCaEhh8ti9IBxdE4j8A774lhkmb5lU9V-NM1q4xNtiySAs55k0WNOh9b21jJnIq_ydYZUGdkWv7fhg5W0ayz4NRLe62lJp8PPs16Ll1ar_OAX_0_1qrDDriIGxH63Aq3v51hdGsfs4utp1x39VbQ02Zf_6lorDLXDOEJusmw","e":"AQAB"},"attributes":{"enabled":true,"created":1565636930,"updated":1565636930,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultamrzvmhb3510bf8.vault.azure.net/keys?maxresults=7&api-version=7.0
  response:
    body: {string: '{"value":[{"kid":"https://vaultamrzvmhb3510bf8.vault.azure.net/keys/key0","attributes":{"enabled":true,"created":1565636930,"updated":1565636930,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultamrzvmhb3510bf8.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1565636930,"updated":1565636930,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultamrzvmhb3510bf8.vault.azure.net/keys/key2","attributes":{"enabled":true,"created":1565636931,"updated":1565636931,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultamrzvmhb3510bf8.vault.azure.net/keys/key3","attributes":{"enabled":true,"created":1565636931,"updated":1565636931,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultamrzvmhb3510bf8.vault.azure.net/keys/key4","attributes":{"enabled":true,"created":1565636931,"updated":1565636931,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultamrzvmhb3510bf8.vault.azure.net/keys/key5","attributes":{"enabled":true,"created":1565636931,"updated":1565636931,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultamrzvmhb3510bf8.vault.azure.net/keys/key6","attributes":{"enabled":true,"created":1565636931,"updated":1565636931,"recoveryLevel":"Purgeable"}}],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
