interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault8bf41593ca92670ac9.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Fri, 04 Oct 2019 18:19:30 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault8bf41593ca92670ac9.vault.azure.net,
        /keys/key0/create, api-version=7.0, '']
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault8bf41593ca92670ac9.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault8bf41593ca92670ac9.vault.azure.net/keys/key0/fc542480d30b4755b659bd6fde908f32","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"11li_kaBD342zWusIG3Lfy1s9950SQeAibrCTc_SkPXSNeTIQzGObkelvhObYd1CJmwHvCuU8iUDkkSmYbQrKX3jUEKolA1qSK4Sg-3lwFt-ZcU1QK4Z-h4_z1ETQO0xtZ-Gtz9rqsc7lPJInlOFA24qEmwAlAfBNHgFNQ5I1AcDSCtKcxBcKRvJKZ0-J4FfI-W_R0nnCDG2kgIfGq2OWByCetTPt2Qejxw0V6Kw948QKcl0Bn9cY1bsbPva1U2BqP2b4iOTyB0ify-25xxiwkZ8UZq0xanG1zUB905AdFbb2GpcvWE9RdRli8kiDR06ik0LSoct7rPfIawkF2tmzw","e":"AQAB"},"attributes":{"enabled":true,"created":1570213171,"updated":1570213171,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '662', content-type: application/json;
        charset=utf-8, date: 'Fri, 04 Oct 2019 18:19:31 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault8bf41593ca92670ac9.vault.azure.net,
        /keys/key0/create, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault8bf41593ca92670ac9.vault.azure.net/keys/key0?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vault8bf41593ca92670ac9.vault.azure.net/deletedkeys/key0","deletedDate":1570213172,"scheduledPurgeDate":1577989172,"key":{"kid":"https://vault8bf41593ca92670ac9.vault.azure.net/keys/key0/fc542480d30b4755b659bd6fde908f32","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"11li_kaBD342zWusIG3Lfy1s9950SQeAibrCTc_SkPXSNeTIQzGObkelvhObYd1CJmwHvCuU8iUDkkSmYbQrKX3jUEKolA1qSK4Sg-3lwFt-ZcU1QK4Z-h4_z1ETQO0xtZ-Gtz9rqsc7lPJInlOFA24qEmwAlAfBNHgFNQ5I1AcDSCtKcxBcKRvJKZ0-J4FfI-W_R0nnCDG2kgIfGq2OWByCetTPt2Qejxw0V6Kw948QKcl0Bn9cY1bsbPva1U2BqP2b4iOTyB0ify-25xxiwkZ8UZq0xanG1zUB905AdFbb2GpcvWE9RdRli8kiDR06ik0LSoct7rPfIawkF2tmzw","e":"AQAB"},"attributes":{"enabled":true,"created":1570213171,"updated":1570213171,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '799', content-type: application/json;
        charset=utf-8, date: 'Fri, 04 Oct 2019 18:19:32 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault8bf41593ca92670ac9.vault.azure.net,
        /keys/key0, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault8bf41593ca92670ac9.vault.azure.net/deletedkeys/key0?api-version=7.0
  response:
    body: {string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found:
        key0"}}'}
    headers: {cache-control: no-cache, content-length: '72', content-type: application/json;
        charset=utf-8, date: 'Fri, 04 Oct 2019 18:19:33 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 404, message: Not Found}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault8bf41593ca92670ac9.vault.azure.net,
        /deletedkeys/key0, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault8bf41593ca92670ac9.vault.azure.net/deletedkeys/key0?api-version=7.0
  response:
    body: {string: ''}
    headers: {cache-control: no-cache, date: 'Fri, 04 Oct 2019 18:19:49 GMT', expires: '-1',
      pragma: no-cache, server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 204, message: No Content}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault8bf41593ca92670ac9.vault.azure.net,
        /deletedkeys/key0, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault8bf41593ca92670ac9.vault.azure.net/deletedkeys/key6?api-version=7.0
  response:
    body: {string: ''}
    headers: {cache-control: no-cache, date: 'Fri, 04 Oct 2019 18:19:50 GMT', expires: '-1',
      pragma: no-cache, server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 204, message: No Content}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault8bf41593ca92670ac9.vault.azure.net,
        /deletedkeys/key6, api-version=7.0, '']
version: 1
