interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault.vault.azure.net/keys/ec-verify-P-256/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Wed, 04 Dec 2019 19:53:20 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.883, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultnl5dw3wc4lgwvkcizqt.vault.azure.net,
        /keys/ec-verify-P-256/create, api-version=7.0, '']
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault.vault.azure.net/keys/ec-verify-P-256/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault.vault.azure.net/keys/ec-verify-P-256/5ff7a37d6c474ea492425d179079dc1b","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"4YG3SzoiI3QTFFHXeGNWPdUjKMh8TEequ9LrypclHpM","y":"7y9xKp2eQVBO4ESNSstNdI1wWKSCZc7kJXv73VA1fzc"},"attributes":{"enabled":true,"created":1575489201,"updated":1575489201,"recoveryLevel":"Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '373', content-type: application/json;
        charset=utf-8, date: 'Wed, 04 Dec 2019 19:53:21 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.883, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultnl5dw3wc4lgwvkcizqt.vault.azure.net,
        /keys/ec-verify-P-256/create, api-version=7.0, '']
- request:
    body: '{"alg": "ES256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault.vault.azure.net/keys/ec-verify-P-256/5ff7a37d6c474ea492425d179079dc1b/sign?api-version=7.0
  response:
    body: {string: '{"kid":"https://vault.vault.azure.net/keys/ec-verify-P-256/5ff7a37d6c474ea492425d179079dc1b","value":"3QXwBf3JX2pFaPCAqARrwwfxuHYgiLHpayoiEDn8fOZnEglu-854AsnLilQ8mdJhFQyR6GIdo7Zfku8Sc7LpJg"}'}
    headers: {cache-control: no-cache, content-length: '209', content-type: application/json;
        charset=utf-8, date: 'Wed, 04 Dec 2019 19:53:21 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.883, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultnl5dw3wc4lgwvkcizqt.vault.azure.net,
        /keys/ec-verify-P-256/5ff7a37d6c474ea492425d179079dc1b/sign, api-version=7.0,
        '']
- request:
    body: '{"kty": "EC", "crv": "P-256K"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault.vault.azure.net/keys/ec-verify-P-256K/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault.vault.azure.net/keys/ec-verify-P-256K/431d1a7a11c34436a1e923d75f88ee39","kty":"EC","key_ops":["sign","verify"],"crv":"P-256K","x":"1qQbFpZHoAHMkaGJG1SnMWBweGqI3hmx9zK_ZN3UTdg","y":"U0SiRxMZOkhimdrjSEagoy0Vqs1o0uWWfdAUKobtSGc"},"attributes":{"enabled":true,"created":1575489201,"updated":1575489201,"recoveryLevel":"Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '375', content-type: application/json;
        charset=utf-8, date: 'Wed, 04 Dec 2019 19:53:21 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.883, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultnl5dw3wc4lgwvkcizqt.vault.azure.net,
        /keys/ec-verify-P-256K/create, api-version=7.0, '']
- request:
    body: '{"alg": "ES256K", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault.vault.azure.net/keys/ec-verify-P-256K/431d1a7a11c34436a1e923d75f88ee39/sign?api-version=7.0
  response:
    body: {string: '{"kid":"https://vault.vault.azure.net/keys/ec-verify-P-256K/431d1a7a11c34436a1e923d75f88ee39","value":"4s7wvRbezcGSaw_Jx1CDRcGy8q16GJelzVyQxr2Dv12zmkljwUvOl0feRdYHr016AiXtBbdYK7MjAckQd8Evvw"}'}
    headers: {cache-control: no-cache, content-length: '210', content-type: application/json;
        charset=utf-8, date: 'Wed, 04 Dec 2019 19:53:21 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.883, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultnl5dw3wc4lgwvkcizqt.vault.azure.net,
        /keys/ec-verify-P-256K/431d1a7a11c34436a1e923d75f88ee39/sign, api-version=7.0,
        '']
[...]
- request:
    body: '{"alg": "ES512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault.vault.azure.net/keys/ec-verify-P-521/b870fb9d0f8d4ffdb28edea3b85187ba/sign?api-version=7.0
  response:
    body: {string: '{"kid":"https://vault.vault.azure.net/keys/ec-verify-P-521/b870fb9d0f8d4ffdb28edea3b85187ba","value":"AUGjmCvaa5Jk70HLQGkrFVyUXJbnbaqhURWaf7TXV_Xj5dAR89QMhkngK_71ggO9jm0u2fTcfsV68jyuO2xX9pgAACz-g-h8PiRQ_ls2IEKgPnNZlLjeUzuFToIShq6KikdXjZ9xzf2DHJMl_nThreZuY1mWPLN8-0DNhTW7E31_kFrF"}'}
    headers: {cache-control: no-cache, content-length: '299', content-type: application/json;
        charset=utf-8, date: 'Wed, 04 Dec 2019 19:53:21 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.883, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultnl5dw3wc4lgwvkcizqt.vault.azure.net,
        /keys/ec-verify-P-521/b870fb9d0f8d4ffdb28edea3b85187ba/sign, api-version=7.0,
        '']
version: 1
