interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc79627173e.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc79627173e.vault.azure.net
        - /keys/key-name/create
        - api-version=7.0
        - ''
- request:
    body: '{"kty": "RSA", "key_size": 2048, "key_ops": ["encrypt", "decrypt", "sign",
      "verify", "wrapKey", "unwrapKey"], "attributes": {"exp": 2527401600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc79627173e.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc79627173e.vault.azure.net/keys/key-name/3742e98da02c4b8eb3621a34d50e8cd7","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"oEau2KY73jSOc69dXUHEj5Nv_2Dj-jivnfQFwDu_6WRwEowPCAmErADwSbcOxZr37RaoKON4IHEzUEQ4G-ybAG8rwZmrNniTVHtEua2d2bnXHN8uNHRn3Bj-2B-wAREONWq8Ez4QWDyk3aQ5j7gUWCyuvf7Vv5HFaa3gO54hl_yhhDLe9LJlChKtEkf2phoBKyAuDqi6QQOPz_Fk5ufUU1OuXe8p7I9p4bUqUXQcV6vDuk-OL1QKUcmGXx725Y-yUpRsLlxV8VjWdfaHrVFHdyewzJqtgjWolyeaDlT8KxpSse3wBSTi5Zy-LiUpxtrUAHOsjpgrD4Ut5ImC9STsPw","e":"AQAB"},"attributes":{"enabled":true,"exp":2527401600,"created":1571704594,"updated":1571704594,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc79627173e.vault.azure.net
        - /keys/key-name/create
        - api-version=7.0
        - ''
[...]
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc79627173e.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc79627173e.vault.azure.net/keys/key-name/f813087df45b4f4b818ec786e095d190","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"B0QpfkJ9ep2ALdocy-gh4-SQxN07-2n3PEjd0HigleI","y":"73SiJJPmAyT3S8hEE0pFcraLQi2YpyV5MthCP2sFFuY"},"attributes":{"enabled":true,"created":1571704595,"updated":1571704595,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc79627173e.vault.azure.net
        - /keys/key-name/create
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc79627173e.vault.azure.net/keys/key-name/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc79627173e.vault.azure.net/keys/key-name/f813087df45b4f4b818ec786e095d190","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"B0QpfkJ9ep2ALdocy-gh4-SQxN07-2n3PEjd0HigleI","y":"73SiJJPmAyT3S8hEE0pFcraLQi2YpyV5MthCP2sFFuY"},"attributes":{"enabled":true,"created":1571704595,"updated":1571704595,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc79627173e.vault.azure.net
        - /keys/key-name/
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc79627173e.vault.azure.net/keys/key-name/f813087df45b4f4b818ec786e095d190?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc79627173e.vault.azure.net/keys/key-name/f813087df45b4f4b818ec786e095d190","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"B0QpfkJ9ep2ALdocy-gh4-SQxN07-2n3PEjd0HigleI","y":"73SiJJPmAyT3S8hEE0pFcraLQi2YpyV5MthCP2sFFuY"},"attributes":{"enabled":true,"created":1571704595,"updated":1571704595,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc79627173e.vault.azure.net
        - /keys/key-name/f813087df45b4f4b818ec786e095d190
        - api-version=7.0
        - ''
- request:
    body: '{"attributes": {"exp": 2524723200}, "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://vault458ad70cc79627173e.vault.azure.net/keys/key-name/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc79627173e.vault.azure.net/keys/key-name/f813087df45b4f4b818ec786e095d190","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"B0QpfkJ9ep2ALdocy-gh4-SQxN07-2n3PEjd0HigleI","y":"73SiJJPmAyT3S8hEE0pFcraLQi2YpyV5MthCP2sFFuY"},"attributes":{"enabled":true,"exp":2524723200,"created":1571704595,"updated":1571704595,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc79627173e.vault.azure.net
        - /keys/key-name/
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault458ad70cc79627173e.vault.azure.net/keys/key-name?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault458ad70cc79627173e.vault.azure.net/deletedkeys/key-name","deletedDate":1571704595,"scheduledPurgeDate":1579480595,"key":{"kid":"https://vault458ad70cc79627173e.vault.azure.net/keys/key-name/f813087df45b4f4b818ec786e095d190","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"B0QpfkJ9ep2ALdocy-gh4-SQxN07-2n3PEjd0HigleI","y":"73SiJJPmAyT3S8hEE0pFcraLQi2YpyV5MthCP2sFFuY"},"attributes":{"enabled":true,"exp":2524723200,"created":1571704595,"updated":1571704595,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc79627173e.vault.azure.net
        - /keys/key-name
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc79627173e.vault.azure.net/deletedkeys/key-name?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: key-name"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc79627173e.vault.azure.net
        - /deletedkeys/key-name
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc79627173e.vault.azure.net/deletedkeys/key-name?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault458ad70cc79627173e.vault.azure.net/deletedkeys/key-name","deletedDate":1571704595,"scheduledPurgeDate":1579480595,"key":{"kid":"https://vault458ad70cc79627173e.vault.azure.net/keys/key-name/f813087df45b4f4b818ec786e095d190","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"B0QpfkJ9ep2ALdocy-gh4-SQxN07-2n3PEjd0HigleI","y":"73SiJJPmAyT3S8hEE0pFcraLQi2YpyV5MthCP2sFFuY"},"attributes":{"enabled":true,"exp":2524723200,"created":1571704595,"updated":1571704595,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc79627173e.vault.azure.net
        - /deletedkeys/key-name
        - api-version=7.0
        - ''
version: 1
