interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultstorname.vault.azure.net/keys/ec-verify-P-256/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultstorname.vault.azure.net/keys/ec-verify-P-256/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vaultstorname.vault.azure.net/keys/ec-verify-P-256/4730995cca914f5ab07701b54b0012d4","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"O8ZFSv3onhabNJ2orfBRD5-MMk0KiwxAFX5f2V5j_0s","y":"mn3iUio9U2Xd0AFIcg3NBmOT2Ygm_rYpAJBSBMauzTw"},"attributes":{"enabled":true,"created":1575489200,"updated":1575489200,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"alg": "ES256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultstorname.vault.azure.net/keys/ec-verify-P-256/4730995cca914f5ab07701b54b0012d4/sign?api-version=7.0
  response:
    body: {string: '{"kid":"https://vaultstorname.vault.azure.net/keys/ec-verify-P-256/4730995cca914f5ab07701b54b0012d4","value":"kFQ1BMYZrslGLaeidetjc0GKHi585Hz278esu3B6DJniZizg28mM-vshgs39miK0E-7hBET13ehVajVeNHdGrQ"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"kty": "EC", "crv": "P-256K"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultstorname.vault.azure.net/keys/ec-verify-P-256K/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vaultstorname.vault.azure.net/keys/ec-verify-P-256K/4b7440d5e849409497e1b959a51d4de0","kty":"EC","key_ops":["sign","verify"],"crv":"P-256K","x":"O342QWYvCEzdZhjj8FwpvsooEVv5n1FxSnqgsVy6bPA","y":"IN6e3Hj5W6-tU0M44MuK7j0WA8PI9D4JQZM4aUn9Qg0"},"attributes":{"enabled":true,"created":1575489200,"updated":1575489200,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"alg": "ES256K", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultstorname.vault.azure.net/keys/ec-verify-P-256K/4b7440d5e849409497e1b959a51d4de0/sign?api-version=7.0
  response:
    body: {string: '{"kid":"https://vaultstorname.vault.azure.net/keys/ec-verify-P-256K/4b7440d5e849409497e1b959a51d4de0","value":"eKVOwsLVuqThppa9ftK6YbJ6UfqRO1qY8Drr4UDOVFBBWucuBdX_nlzGjLaeVpy2Ey7wYjdgqybrJQVsu3ARFA"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"alg": "ES512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultstorname.vault.azure.net/keys/ec-verify-P-521/d09c6e9d216d412792f2d8c3bc1e9a00/sign?api-version=7.0
  response:
    body: {string: '{"kid":"https://vaultstorname.vault.azure.net/keys/ec-verify-P-521/d09c6e9d216d412792f2d8c3bc1e9a00","value":"AZNjaFOsu-yJmbc680rqZ_cKkyQ4Jqy3pWox-dz9CzU3Cfl3FFfN8H7_2RAJMeZsPt_CiwwJiqLNk16kpmafFObiAVj3O2MUOd6xiImrL31iFTbvwMpt3S57dtuu1NnPAsK1W-VueRaplIPxuM3UojUA4fcLYO6eQBZ6ozyTwmJ_YjwD"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
