interactions:
- request:
    body: '{"attributes": {"exp": 2527401600}, "kty": "RSA-HSM"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault105514c1.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault105514c1.vault.azure.net/keys/key-name/79b2c81aceef4a15a4247e7b5c352b56","kty":"RSA-HSM","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"ygJwrLIxx7nMX2ksu_6qb9O9ZHxcm-Ht-MP4b3s1KRbmhlge4ZJkqxuYF39LqHu1xDDgf_logTeobIKhJAgru-T7PW3B8tf1Kf11pgsTOchQp8oHpKKBID_P-bc-dnFAgyqhV6l8HylMJPzEphWPLemodlmKFFDNfoKiQdus_Gjmzn3TDNsABJDp2ayGpMgDPiiBGpp3uSuMHN5ixn6TNYm3r5JUmSXc-DbpzdfE7CKRj5vGXX8dn5n-FCLFsGAyT1dzC_psk_hLPr51LUSKsX2B5go6l7AMQBXrQlGjbdnc0OIFcX8e6DamrN3UfcoY3yd6i6ox7oJad-bA6Tu2kQ","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":2527401600,"created":1562686804,"updated":1562686804,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey", "unwrapKey"],
      "kty": "RSA-HSM", "key_size": 2048}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault105514c1.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault105514c1.vault.azure.net/keys/key-name/a564297efd3642018b6cf7d17f6aab70","kty":"RSA-HSM","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"tKmZ75yphSGyWirlurGinKg0t2Ty9GLw4jHmZDGvW1PP-bOVj7lhz7hA4j1jnGZjJ_LWcg9cmy9j_vdYsTt327-lnwZAWaPRX8jBfseNJHhlI8otMzBUfVzmbDrOskVSgZfkVZ8bezun1tIMLkF8xOppIVwFl42pdwSPsOKrXUm-pkxVqprn1BhCsgzu-CtgQp3DldIZTyzsYZ5gstGvOvYx8JLVniWzAeUkcoFIUJmR073ZGqincfnJfAT2v8i7ERqRH4bLEqEMBWLgkYSJUox6U7rrBEEADr6LIaDOP27l5k1mMHHIMMTo6e1f-oVxcPW2mBQBm-JKwTc2vXoAeQ","e":"AAEAAQ"},"attributes":{"enabled":true,"created":1562686804,"updated":1562686804,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"crv": "P-256", "kty": "EC"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault105514c1.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault105514c1.vault.azure.net/keys/key-name/cf4a8cc71bc64528a08ef8e575c050fe","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"jdeRSacsi52xR6FvUirBwoW3ggJkbORU7uzCqnzmzyw","y":"7RT7S9dqt25zA5VCtZ4TZmbxTGFw5HJ3iOJZb1bX4mE"},"attributes":{"enabled":true,"created":1562686805,"updated":1562686805,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault105514c1.vault.azure.net/keys/key-name/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault105514c1.vault.azure.net/keys/key-name/cf4a8cc71bc64528a08ef8e575c050fe","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"jdeRSacsi52xR6FvUirBwoW3ggJkbORU7uzCqnzmzyw","y":"7RT7S9dqt25zA5VCtZ4TZmbxTGFw5HJ3iOJZb1bX4mE"},"attributes":{"enabled":true,"created":1562686805,"updated":1562686805,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault105514c1.vault.azure.net/keys/key-name/cf4a8cc71bc64528a08ef8e575c050fe?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault105514c1.vault.azure.net/keys/key-name/cf4a8cc71bc64528a08ef8e575c050fe","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"jdeRSacsi52xR6FvUirBwoW3ggJkbORU7uzCqnzmzyw","y":"7RT7S9dqt25zA5VCtZ4TZmbxTGFw5HJ3iOJZb1bX4mE"},"attributes":{"enabled":true,"created":1562686805,"updated":1562686805,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"attributes": {"exp": 2524723200}, "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://vault105514c1.vault.azure.net/keys/key-name/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault105514c1.vault.azure.net/keys/key-name/cf4a8cc71bc64528a08ef8e575c050fe","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"jdeRSacsi52xR6FvUirBwoW3ggJkbORU7uzCqnzmzyw","y":"7RT7S9dqt25zA5VCtZ4TZmbxTGFw5HJ3iOJZb1bX4mE"},"attributes":{"enabled":true,"exp":2524723200,"created":1562686805,"updated":1562686805,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault105514c1.vault.azure.net/keys/key-name?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault105514c1.vault.azure.net/deletedkeys/key-name","deletedDate":1562686805,"scheduledPurgeDate":1570462805,"key":{"kid":"https://vault105514c1.vault.azure.net/keys/key-name/cf4a8cc71bc64528a08ef8e575c050fe","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"jdeRSacsi52xR6FvUirBwoW3ggJkbORU7uzCqnzmzyw","y":"7RT7S9dqt25zA5VCtZ4TZmbxTGFw5HJ3iOJZb1bX4mE"},"attributes":{"enabled":true,"exp":2524723200,"created":1562686805,"updated":1562686805,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
