interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestsymmetric-kw608f1a29?api-version=7.3
  response:
    body:
      string: ''
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency: '1'
    status:
      code: 401
      message: Unauthorized
    url: https://malegerechsm.managedhsm.azure.net/keys/livekvtestsymmetric-kw608f1a29?api-version=7.3
- request:
    body: '{"key": {"kty": "oct-HSM", "key_ops": ["encrypt", "decrypt", "wrapKey",
      "unwrapKey"], "k": "4n7QyEUSu9VbavQ00jfBH-ujEYcPgPLC4zZCYPMcgsg"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestsymmetric-kw608f1a29?api-version=7.3
  response:
    body:
      string: '{"attributes":{"created":1647991638,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1647991638},"key":{"key_ops":["encrypt","decrypt","unwrapKey","wrapKey"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestsymmetric-kw608f1a29/00a3569026304864af633ba5d8d4fa50","kty":"oct-HSM"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '251'
    status:
      code: 200
      message: OK
    url: https://malegerechsm.managedhsm.azure.net/keys/livekvtestsymmetric-kw608f1a29?api-version=7.3
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestsymmetric-kw608f1a29/00a3569026304864af633ba5d8d4fa50?api-version=7.3
  response:
    body:
      string: '{"attributes":{"created":1647991638,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1647991638},"key":{"key_ops":["decrypt","encrypt","wrapKey","unwrapKey"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestsymmetric-kw608f1a29/00a3569026304864af633ba5d8d4fa50","kty":"oct-HSM"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20220305-2-902fedaa-closebadconnections
      x-ms-server-latency: '68'
    status:
      code: 200
      message: OK
    url: https://malegerechsm.managedhsm.azure.net/keys/livekvtestsymmetric-kw608f1a29/00a3569026304864af633ba5d8d4fa50?api-version=7.3
version: 1
