interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc7fcf91456.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7fcf91456.vault.azure.net
        - /keys/key-name/create
        - api-version=7.0
        - ''
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc7fcf91456.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc7fcf91456.vault.azure.net/keys/key-name/afcd56886e4b498c9b9c9b47df994bbe","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"mB_fmS2CFmVTysRf06gzxldSm9uOe-ye19WU0fx1i6eVUBhvKI--Lf11cj_eqmVE2-DMzHT6DAwdjgwv21kjuSoPyw06pQBxvGUHlDK6O_lsoutEJES2tN6jSCGFTyXoy39_4aRmQOXI7MJuQgb6k8TO-HkOb2gXrX5Eb-BePxPDhxBHRySrZWXF6DyKxzNsdR0kGrTcRLcq9oEeSETK6L7R73iV5olT4C1dGWVPthgi89P7GO9BXMJeOor5bvNevUYbtVvjo-RjVtAavP3M1nsf1fd2xinowx7FalfT13ibvh_jfT-NQtoXfzBAf-pR7fiO52k62gXiAixv8tDfXw","e":"AQAB"},"attributes":{"enabled":true,"created":1572477771,"updated":1572477771,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7fcf91456.vault.azure.net
        - /keys/key-name/create
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault458ad70cc7fcf91456.vault.azure.net/keys/key-name?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault458ad70cc7fcf91456.vault.azure.net/deletedkeys/key-name","deletedDate":1572477771,"scheduledPurgeDate":1580253771,"key":{"kid":"https://vault458ad70cc7fcf91456.vault.azure.net/keys/key-name/afcd56886e4b498c9b9c9b47df994bbe","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"mB_fmS2CFmVTysRf06gzxldSm9uOe-ye19WU0fx1i6eVUBhvKI--Lf11cj_eqmVE2-DMzHT6DAwdjgwv21kjuSoPyw06pQBxvGUHlDK6O_lsoutEJES2tN6jSCGFTyXoy39_4aRmQOXI7MJuQgb6k8TO-HkOb2gXrX5Eb-BePxPDhxBHRySrZWXF6DyKxzNsdR0kGrTcRLcq9oEeSETK6L7R73iV5olT4C1dGWVPthgi89P7GO9BXMJeOor5bvNevUYbtVvjo-RjVtAavP3M1nsf1fd2xinowx7FalfT13ibvh_jfT-NQtoXfzBAf-pR7fiO52k62gXiAixv8tDfXw","e":"AQAB"},"attributes":{"enabled":true,"created":1572477771,"updated":1572477771,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7fcf91456.vault.azure.net
        - /keys/key-name
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc7fcf91456.vault.azure.net/deletedkeys/key-name?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: key-name"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7fcf91456.vault.azure.net
        - /deletedkeys/key-name
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vault458ad70cc7fcf91456.vault.azure.net/deletedkeys/key-name/recover?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc7fcf91456.vault.azure.net/keys/key-name/afcd56886e4b498c9b9c9b47df994bbe","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"mB_fmS2CFmVTysRf06gzxldSm9uOe-ye19WU0fx1i6eVUBhvKI--Lf11cj_eqmVE2-DMzHT6DAwdjgwv21kjuSoPyw06pQBxvGUHlDK6O_lsoutEJES2tN6jSCGFTyXoy39_4aRmQOXI7MJuQgb6k8TO-HkOb2gXrX5Eb-BePxPDhxBHRySrZWXF6DyKxzNsdR0kGrTcRLcq9oEeSETK6L7R73iV5olT4C1dGWVPthgi89P7GO9BXMJeOor5bvNevUYbtVvjo-RjVtAavP3M1nsf1fd2xinowx7FalfT13ibvh_jfT-NQtoXfzBAf-pR7fiO52k62gXiAixv8tDfXw","e":"AQAB"},"attributes":{"enabled":true,"created":1572477771,"updated":1572477771,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7fcf91456.vault.azure.net
        - /deletedkeys/key-name/recover
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc7fcf91456.vault.azure.net/keys/key-name/?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Key not found: key-name"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7fcf91456.vault.azure.net
        - /keys/key-name/
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc7fcf91456.vault.azure.net/keys/key-name/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc7fcf91456.vault.azure.net/keys/key-name/afcd56886e4b498c9b9c9b47df994bbe","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"mB_fmS2CFmVTysRf06gzxldSm9uOe-ye19WU0fx1i6eVUBhvKI--Lf11cj_eqmVE2-DMzHT6DAwdjgwv21kjuSoPyw06pQBxvGUHlDK6O_lsoutEJES2tN6jSCGFTyXoy39_4aRmQOXI7MJuQgb6k8TO-HkOb2gXrX5Eb-BePxPDhxBHRySrZWXF6DyKxzNsdR0kGrTcRLcq9oEeSETK6L7R73iV5olT4C1dGWVPthgi89P7GO9BXMJeOor5bvNevUYbtVvjo-RjVtAavP3M1nsf1fd2xinowx7FalfT13ibvh_jfT-NQtoXfzBAf-pR7fiO52k62gXiAixv8tDfXw","e":"AQAB"},"attributes":{"enabled":true,"created":1572477771,"updated":1572477771,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7fcf91456.vault.azure.net
        - /keys/key-name/
        - api-version=7.0
        - ''
version: 1
