interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-key-name5c4915c1/create?api-version=7.3-preview
  response:
    body:
      string: ''
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency: '0'
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestrsa-key-name5c4915c1/create?api-version=7.3-preview
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-key-name5c4915c1/create?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1625597425,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625597425},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-key-name5c4915c1/1272f27b37460b739debbb4e2223fa8a","kty":"RSA-HSM","n":"ungdLuyjJgQG6osQkdHPsKZkL9eepab_t4DEHEt04V6dbA1nag5SRmFtY9p4z88IucI6mDcKzHeqqhhKvtClRZs0L-RzvWZkg5oqMKo0xi7Qu9Tzvt8GAF7d3jS4kiovd8_1Iw23kieREvX6r_XgfCVUt_bS4KCrsubtDWxyTUtSlIVxIvYKmsQBEaKiksZPgfFKuue6c4mruwOmbDTRZiDZe_KRCc7jeMDTlFidLb6pLaPtsGKujYu6242xzwSg10TaOB3aKRh6UAJK9qXqMuYZYQXn8xw-ZAYgP13GLdE_v-GAEgFvnaKggVq5ncS54d6LizqBq7TZjKiExsLthw"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '245'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestrsa-key-name5c4915c1/create?api-version=7.3-preview
version: 1
