interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault9388105514c1.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"kty": "RSA-HSM", "attributes": {"exp": 2527401600}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault9388105514c1.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault9388105514c1.vault.azure.net/keys/key-name/9279a7183b50419d88da7b606f408952","kty":"RSA-HSM","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"yxnUA8YYWsmxubss1Zb6eXmrRuuC99HPoq-6rG9TiIVy6Xnp3cMe3Cxa61en7OFj1Es0d7xWwlQ-cZdfByFU3Wx8Z3Z-MJmm8KqzrnAatnxZZn4QVtcGLlqVtlsRZFDzbztFuLlArQefveJ57QhH2xG1a0lAJo3YSuU7r6hkzfKddsu6kxkjB1W_nfZxfTAjujlDXyOzyOCVXFtILTGvT_4Yoy_0lJOFZOHggmslpDO0SmGTN5mJjLjtDV1LOKeFYQaN3tjhyKrhS1Pss6-_lz3QQ41-Nuu6RgSU8K29KFUqLF95adMoDic6TmvCflEjiJeTd0IwBXuvj3ngopMuUw","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":2527401600,"created":1566925767,"updated":1566925767,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048, "key_ops": ["encrypt", "decrypt",
      "sign", "verify", "wrapKey", "unwrapKey"]}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault9388105514c1.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault9388105514c1.vault.azure.net/keys/key-name/d949055c64a0438daae595170b2f9724","kty":"RSA-HSM","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"1wE_BHageQyXBoCjrBGFitbQI8796viCdyt1SEhcN0AqQiKfm-0wZlXLIWAWH0kWIYUj8xRypNY-FsWpyp-k5XH1ncbITshp61nIrkTZCAoTxSmxLOvYxWTchWAhunbm165uCjNlFpdOdmF0uEd8Li_RZLC3GFdXDFSc2-3pySos3Esamvj8THH43KKUO0Wjkm5idMGBr1K79iHHeI2T5-5EqraYiQI9GA3aOt4O24RLvri6SNbW7MY1DC4I7PgBF2e7c1oKUj-Xh1kQB-Eyo9Mx5NmsvGLc0xWO01F129SOkjDrwnYogpcYI_xQrpJkBGcnfmLSQpvPowszuFOglw","e":"AAEAAQ"},"attributes":{"enabled":true,"created":1566925767,"updated":1566925767,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault9388105514c1.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault9388105514c1.vault.azure.net/keys/key-name/dd6ae2ec01a54a67ae38db046a40170b","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"bjZY43iMGHg2DXka2rl-8yrMp4dQhAQxGlW5RwLnlFU","y":"CfUhmZKVzAL_yIiBQjbh4GJzDTAyKPgfxkMfaHYCOcA"},"attributes":{"enabled":true,"created":1566925768,"updated":1566925768,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vault9388105514c1.vault.azure.net/keys/key-name/?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault9388105514c1.vault.azure.net/keys/key-name/dd6ae2ec01a54a67ae38db046a40170b","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"bjZY43iMGHg2DXka2rl-8yrMp4dQhAQxGlW5RwLnlFU","y":"CfUhmZKVzAL_yIiBQjbh4GJzDTAyKPgfxkMfaHYCOcA"},"attributes":{"enabled":true,"created":1566925768,"updated":1566925768,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vault9388105514c1.vault.azure.net/keys/key-name/dd6ae2ec01a54a67ae38db046a40170b?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault9388105514c1.vault.azure.net/keys/key-name/dd6ae2ec01a54a67ae38db046a40170b","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"bjZY43iMGHg2DXka2rl-8yrMp4dQhAQxGlW5RwLnlFU","y":"CfUhmZKVzAL_yIiBQjbh4GJzDTAyKPgfxkMfaHYCOcA"},"attributes":{"enabled":true,"created":1566925768,"updated":1566925768,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"attributes": {"exp": 2524723200}, "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://vault9388105514c1.vault.azure.net/keys/key-name/?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault9388105514c1.vault.azure.net/keys/key-name/dd6ae2ec01a54a67ae38db046a40170b","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"bjZY43iMGHg2DXka2rl-8yrMp4dQhAQxGlW5RwLnlFU","y":"CfUhmZKVzAL_yIiBQjbh4GJzDTAyKPgfxkMfaHYCOcA"},"attributes":{"enabled":true,"exp":2524723200,"created":1566925768,"updated":1566925769,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault9388105514c1.vault.azure.net/keys/key-name?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vault9388105514c1.vault.azure.net/deletedkeys/key-name","deletedDate":1566925769,"scheduledPurgeDate":1574701769,"key":{"kid":"https://vault9388105514c1.vault.azure.net/keys/key-name/dd6ae2ec01a54a67ae38db046a40170b","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"bjZY43iMGHg2DXka2rl-8yrMp4dQhAQxGlW5RwLnlFU","y":"CfUhmZKVzAL_yIiBQjbh4GJzDTAyKPgfxkMfaHYCOcA"},"attributes":{"enabled":true,"exp":2524723200,"created":1566925768,"updated":1566925769,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
