interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - nqnzu3msweqmxeigkasbuevs.vault.azure.net
        - /keys/key0/create
        - api-version=7.0
        - ''
- request:
    body: '{"kty": "EC"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key0/7fad3f1a6ad84e58bd83b69ede1ecd28","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"Hx3fDMjr2aaEtKrZthjSDitESwKMN6ZC3_SmTfVmOPM","y":"LfG9Y-62zffClmu49GIhy4fuliru9yfcftjyg3Hk37Y"},"attributes":{"enabled":true,"created":1575676705,"updated":1575676705,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - nqnzu3msweqmxeigkasbuevs.vault.azure.net
        - /keys/key0/create
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys?api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://vaultname.vault.azure.net/keys/key0","attributes":{"enabled":true,"created":1575676706,"updated":1575676706,"recoveryLevel":"Recoverable+Purgeable"}},{"kid":"https://vaultname.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1575676706,"updated":1575676706,"recoveryLevel":"Recoverable+Purgeable"}},{"kid":"https://vaultname.vault.azure.net/keys/key2","attributes":{"enabled":true,"created":1575676706,"updated":1575676706,"recoveryLevel":"Recoverable+Purgeable"}},{"kid":"https://vaultname.vault.azure.net/keys/key3","attributes":{"enabled":true,"created":1575676706,"updated":1575676706,"recoveryLevel":"Recoverable+Purgeable"}}],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - nqnzu3msweqmxeigkasbuevs.vault.azure.net
        - /keys
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/key-name/versions?api-version=7.0
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - nqnzu3msweqmxeigkasbuevs.vault.azure.net
        - /keys/key-name/versions
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys?api-version=7.0
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - nqnzu3msweqmxeigkasbuevs.vault.azure.net
        - /deletedkeys
        - api-version=7.0
        - ''
version: 1
