interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault9627173e.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault9627173e.vault.azure.net
        - /keys/key-name/create
        - api-version=7.0
        - ''
- request:
    body: '{"kty": "RSA", "key_size": 2048, "key_ops": ["encrypt", "decrypt", "sign",
      "verify", "wrapKey", "unwrapKey"], "attributes": {"exp": 2527401600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault9627173e.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault9627173e.vault.azure.net/keys/key-name/0e23b4fcc0f448b2b39578e39de45047","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zZ9DEmKsgmb2QG5YiGFamlWnDwwZ6uf7YAA1XQtZ87NQ0PxWwL6bgUYJU0-LRy7LmlsvtDPrp_4-VbGkGoQdwmQF20k5ZzigfNPJ6oOSZ-VxXsbwrrLK5U9Z4TTUlV2iCurl5qjGoAD121qEIAuFoDlIZ2jyv8Eh7RHHucxou63F_VCWtPCAcAf1FxB5WFm-BM84egU9j7ZauXx7Y9ljUspr3f9D5r6DEcBQZ8i4jC47Vh2ecyeTB9PkpXSOOw4H_WJoym4Y_dmb3CwSYKwceDm-f06rVVcrjhRSQsRbvBne6shjhjS7d2d0UXcp-FmTZAQPrfHkss2oUEqOhMcUiQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2527401600,"created":1571198774,"updated":1571198774,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault9627173e.vault.azure.net
        - /keys/key-name/create
        - api-version=7.0
        - ''
[...]
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault9627173e.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault9627173e.vault.azure.net/keys/key-name/aa66d66096b641e6949384ee847e0aa6","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"RQMdnnhDhGYckrRtJIgeJ9Jh6IHLYNjmN_jYiWjhOwk","y":"5Me-nL9B2pCEIJVNIxPK97oJaaCACKv7f4Lp54Uf9eQ"},"attributes":{"enabled":true,"created":1571198774,"updated":1571198774,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault9627173e.vault.azure.net
        - /keys/key-name/create
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vault9627173e.vault.azure.net/keys/key-name/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault9627173e.vault.azure.net/keys/key-name/aa66d66096b641e6949384ee847e0aa6","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"RQMdnnhDhGYckrRtJIgeJ9Jh6IHLYNjmN_jYiWjhOwk","y":"5Me-nL9B2pCEIJVNIxPK97oJaaCACKv7f4Lp54Uf9eQ"},"attributes":{"enabled":true,"created":1571198774,"updated":1571198774,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault9627173e.vault.azure.net
        - /keys/key-name/
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vault9627173e.vault.azure.net/keys/key-name/aa66d66096b641e6949384ee847e0aa6?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault9627173e.vault.azure.net/keys/key-name/aa66d66096b641e6949384ee847e0aa6","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"RQMdnnhDhGYckrRtJIgeJ9Jh6IHLYNjmN_jYiWjhOwk","y":"5Me-nL9B2pCEIJVNIxPK97oJaaCACKv7f4Lp54Uf9eQ"},"attributes":{"enabled":true,"created":1571198774,"updated":1571198774,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault9627173e.vault.azure.net
        - /keys/key-name/aa66d66096b641e6949384ee847e0aa6
        - api-version=7.0
        - ''
- request:
    body: '{"attributes": {"exp": 2524723200}, "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://vault9627173e.vault.azure.net/keys/key-name/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault9627173e.vault.azure.net/keys/key-name/aa66d66096b641e6949384ee847e0aa6","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"RQMdnnhDhGYckrRtJIgeJ9Jh6IHLYNjmN_jYiWjhOwk","y":"5Me-nL9B2pCEIJVNIxPK97oJaaCACKv7f4Lp54Uf9eQ"},"attributes":{"enabled":true,"exp":2524723200,"created":1571198774,"updated":1571198775,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault9627173e.vault.azure.net
        - /keys/key-name/
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault9627173e.vault.azure.net/keys/key-name?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault9627173e.vault.azure.net/deletedkeys/key-name","deletedDate":1571198775,"scheduledPurgeDate":1578974775,"key":{"kid":"https://vault9627173e.vault.azure.net/keys/key-name/aa66d66096b641e6949384ee847e0aa6","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"RQMdnnhDhGYckrRtJIgeJ9Jh6IHLYNjmN_jYiWjhOwk","y":"5Me-nL9B2pCEIJVNIxPK97oJaaCACKv7f4Lp54Uf9eQ"},"attributes":{"enabled":true,"exp":2524723200,"created":1571198774,"updated":1571198775,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault9627173e.vault.azure.net
        - /keys/key-name
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vault9627173e.vault.azure.net/deletedkeys/key-name?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: key-name"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault9627173e.vault.azure.net
        - /deletedkeys/key-name
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault9627173e.vault.azure.net/deletedkeys/key-name?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault9627173e.vault.azure.net/deletedkeys/key-name","deletedDate":1571198775,"scheduledPurgeDate":1578974775,"key":{"kid":"https://vault9627173e.vault.azure.net/keys/key-name/aa66d66096b641e6949384ee847e0aa6","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"RQMdnnhDhGYckrRtJIgeJ9Jh6IHLYNjmN_jYiWjhOwk","y":"5Me-nL9B2pCEIJVNIxPK97oJaaCACKv7f4Lp54Uf9eQ"},"attributes":{"enabled":true,"exp":2524723200,"created":1571198774,"updated":1571198775,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault9627173e.vault.azure.net
        - /deletedkeys/key-name
        - api-version=7.0
        - ''
version: 1
