interactions:
- request:
    body: '{"attributes": {"exp": 2527401600}, "kty": "RSA-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name105514c1/create?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name105514c1/39bac55d479f41da9da82142476d4118","kty":"RSA-HSM","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"rfVBLn6ffUu9i7fzkmm0Zb9vg0WbI4uZ2orXgDjoi-bUR9CubMmUqmZeQ2JMcUeyQfiNDMAbWmEn-2giX8UA8gn-s5gj9RcodWEx2NZyrQDt1c77DTZOafiLBIk8iLKooJajIqViUtPSVZSyClXV1fcizOL2vTGXluBsv6u4OBsZ2RCd-SyhhPM2CXvhZIpltcfNCtovsooMipzR2O8wFbvG_yp_m8iEjIk-e7q3IcmoEWqHORHjmc1IMnqgz473MG52hTEsXj8bmWOkOmkLmmYuTwT7qefRBAvh7K4ZO_mHcvuIjamUsCDmOIVbiHwGOxDoLdyZnWH9e65-T9uraw","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":2527401600,"created":1618441885,"updated":1618441885,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey", "unwrapKey"],
      "key_size": 2048, "kty": "RSA-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name105514c1/create?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name105514c1/032b184b8c2c4368be6e7b8c58a91012","kty":"RSA-HSM","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"wD2ZRiUX8SmLLW6KmdDp4a7IInWYm61WBOqtD60qwhxd2LBYCXBnPx4Bch2zycp6euxbIexKXpW28dJr4x-sOHiflZWCFAJ2LDFwu1Biq_XKLLWm9zlt-w9_eIXK0HrV5tRCTmMoDmsmCN6HwZWsH-8YONAImRJoEvl1wyRtkqvgj9lgNc59TO9lvAKjv51AKCSsEL63_mAmCHmzHHaVgRO8urV86JttqLfJXOFunQraGHs8IMo153kXjYrgnN4CRopgJl-VcOdXD6h5q1GCbobsExSJiqGj9cE3fnUmt63lQsgUswElqi58i5eJ2Ytrl1qsiWuY_noCr5vz1w91yw","e":"AAEAAQ"},"attributes":{"enabled":true,"created":1618441886,"updated":1618441886,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"crv": "P-256", "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name105514c1/create?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name105514c1/8d38f512b9e94b8e9b0e728b09067bb8","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"8u8qvZF-_TacclbcfoZqLHg3YnQQPytaUdQSGq_MITs","y":"iOczPhvmzC8SVkifMbEvNKbbgfvh2MMElh9FgrQ2vBw"},"attributes":{"enabled":true,"created":1618441887,"updated":1618441887,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name105514c1/?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name105514c1/8d38f512b9e94b8e9b0e728b09067bb8","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"8u8qvZF-_TacclbcfoZqLHg3YnQQPytaUdQSGq_MITs","y":"iOczPhvmzC8SVkifMbEvNKbbgfvh2MMElh9FgrQ2vBw"},"attributes":{"enabled":true,"created":1618441887,"updated":1618441887,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name105514c1/8d38f512b9e94b8e9b0e728b09067bb8?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name105514c1/8d38f512b9e94b8e9b0e728b09067bb8","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"8u8qvZF-_TacclbcfoZqLHg3YnQQPytaUdQSGq_MITs","y":"iOczPhvmzC8SVkifMbEvNKbbgfvh2MMElh9FgrQ2vBw"},"attributes":{"enabled":true,"created":1618441887,"updated":1618441887,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"attributes": {"exp": 2524723200}, "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name105514c1/?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name105514c1/8d38f512b9e94b8e9b0e728b09067bb8","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"8u8qvZF-_TacclbcfoZqLHg3YnQQPytaUdQSGq_MITs","y":"iOczPhvmzC8SVkifMbEvNKbbgfvh2MMElh9FgrQ2vBw"},"attributes":{"enabled":true,"exp":2524723200,"created":1618441887,"updated":1618441888,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name105514c1?api-version=7.3-preview
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name105514c1","deletedDate":1618441888,"scheduledPurgeDate":1626217888,"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name105514c1/8d38f512b9e94b8e9b0e728b09067bb8","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"8u8qvZF-_TacclbcfoZqLHg3YnQQPytaUdQSGq_MITs","y":"iOczPhvmzC8SVkifMbEvNKbbgfvh2MMElh9FgrQ2vBw"},"attributes":{"enabled":true,"exp":2524723200,"created":1618441887,"updated":1618441888,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name105514c1?api-version=7.3-preview
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: livekvtestkey-name105514c1"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name105514c1?api-version=7.3-preview
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name105514c1","deletedDate":1618441888,"scheduledPurgeDate":1626217888,"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name105514c1/8d38f512b9e94b8e9b0e728b09067bb8","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"8u8qvZF-_TacclbcfoZqLHg3YnQQPytaUdQSGq_MITs","y":"iOczPhvmzC8SVkifMbEvNKbbgfvh2MMElh9FgrQ2vBw"},"attributes":{"enabled":true,"exp":2524723200,"created":1618441887,"updated":1618441888,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
