interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault9388f7e00e3a.vault.azure.net/keys/testKeyf7e00e3a/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Tue, 27 Aug 2019 17:09:27 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault9388f7e00e3a.vault.azure.net,
        /keys/testKeyf7e00e3a/create, api-version=7.0, '']
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault9388f7e00e3a.vault.azure.net/keys/testKeyf7e00e3a/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault9388f7e00e3a.vault.azure.net/keys/testKeyf7e00e3a/fc26a8bb7a4645f1a0a0a3b299e3169c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"j3mPLAFvA94tSvZrQW62kjXmtErQdvqY3WGBff1ajZTXkZJVogBARaih99RHWv2ZcwaaqWgGGxm7y0Oc5k2rj9kdgq24eIfYbD4gKEJdfCT8j0Hd3Ce-1TrrmBgM8xIg51G1_x-iGKd1hAIMszDuB6isfxWbSLM9_aYMJRRWL_K52qRVnbnVV8sLLy1W3RU4f7vKp6a5Kn-GpigXwYZX2ZdcYi4HcTb-5iGHn4L6v4wyyqAGjMnyOs2Sansnpx_85oFQQ2oW-_1Zzh_D5cOkrzd56Rhl8YKTsdXNgr3xmo1pS7rrrFULh9_bflIIdPb2-YSV0DCnbbzNi2gBPoU-Yw","e":"AQAB"},"attributes":{"enabled":true,"created":1566925768,"updated":1566925768,"recoveryLevel":"Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '655', content-type: application/json;
        charset=utf-8, date: 'Tue, 27 Aug 2019 17:09:27 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault9388f7e00e3a.vault.azure.net,
        /keys/testKeyf7e00e3a/create, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault9388f7e00e3a.vault.azure.net/keys/testKeyf7e00e3a/versions?api-version=7.0
  response:
    body: {string: '{"value":[{"kid":"https://vault9388f7e00e3a.vault.azure.net/keys/testKeyf7e00e3a/73e9779029dd4fc69b2c9f4c21220684","attributes":{"enabled":true,"created":1566925768,"updated":1566925768,"recoveryLevel":"Purgeable"}},{"kid":"https://vault9388f7e00e3a.vault.azure.net/keys/testKeyf7e00e3a/8432a29fe8a64aa498e98b03aaf254d9","attributes":{"enabled":true,"created":1566925769,"updated":1566925769,"recoveryLevel":"Purgeable"}},{"kid":"https://vault9388f7e00e3a.vault.azure.net/keys/testKeyf7e00e3a/95193ced5ecb4df8a4a997572a295d27","attributes":{"enabled":true,"created":1566925769,"updated":1566925769,"recoveryLevel":"Purgeable"}},{"kid":"https://vault9388f7e00e3a.vault.azure.net/keys/testKeyf7e00e3a/d26561db8f2647aaa1e5f532c9294da7","attributes":{"enabled":true,"created":1566925768,"updated":1566925768,"recoveryLevel":"Purgeable"}},{"kid":"https://vault9388f7e00e3a.vault.azure.net/keys/testKeyf7e00e3a/d767686603494ec1a80bf4a506864421","attributes":{"enabled":true,"created":1566925768,"updated":1566925768,"recoveryLevel":"Purgeable"}},{"kid":"https://vault9388f7e00e3a.vault.azure.net/keys/testKeyf7e00e3a/f585dc0f80f7464b8f58967f9251dbaa","attributes":{"enabled":true,"created":1566925768,"updated":1566925768,"recoveryLevel":"Purgeable"}},{"kid":"https://vault9388f7e00e3a.vault.azure.net/keys/testKeyf7e00e3a/fc26a8bb7a4645f1a0a0a3b299e3169c","attributes":{"enabled":true,"created":1566925768,"updated":1566925768,"recoveryLevel":"Purgeable"}}],"nextLink":null}'}
    headers: {cache-control: no-cache, content-length: '1469', content-type: application/json;
        charset=utf-8, date: 'Tue, 27 Aug 2019 17:09:29 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault9388f7e00e3a.vault.azure.net,
        /keys/testKeyf7e00e3a/versions, api-version=7.0, '']
version: 1
