interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-key5416109f/create?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrud-ec-key5416109f/create?api-version=7.2-preview
- request:
    body: '{"attributes": {"enabled": true}, "kty": "EC-HSM", "tags": {"purpose":
      "unit test", "test name": "CreateECKeyTest"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-key5416109f/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-key5416109f/1f9e3a11d85e489893d722668a2c2760","kty":"EC-HSM","key_ops":["sign","verify"],"crv":"P-256","x":"fN5dF0XThOmecWcFmkhnxXnJg07_KYl3zZ4EE1hWZlo","y":"lXuJFfO9uyCnLQdqeZ6NWHNZvMLe2OTbRuEnjVBwuGQ"},"attributes":{"enabled":true,"created":1612579130,"updated":1612579130,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"purpose":"unit
        test","test name":"CreateECKeyTest"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrud-ec-key5416109f/create?api-version=7.2-preview
- request:
    body: '{"crv": "P-256", "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-P-256-ec-key5416109f/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-P-256-ec-key5416109f/e252a0e3edef43148caddf7082220db5","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"07ydmEDlxaoavZVbmMELvC2SEGteii4hgIeBM2zeWlI","y":"5HnJLxyoYTWrrJNkS0pEbuoZ8lz1uglyC0I2vHQk18Y"},"attributes":{"enabled":true,"created":1612579132,"updated":1612579132,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrud-P-256-ec-key5416109f/create?api-version=7.2-preview
- request:
    body: '{"key": {"dq": "AKC9TAo9n2RDaggjdLXK8kiLrBVoaWFTpqXkzYXRhtsx4vWPAkxhfSnze05rVMl6HiXv7FnE0f0wYawzUJzoyuXBH0zS6D9BqCZPeF543AmWB27iPf38Q9Z8Rjr6oBgMSnGDV_mm8nDVQkeaDyE4cOZh-5UKvKShTKKQVwunmDNH",
      "qi": "AJ_nrkLpK8BPzVeARkvSHQyKwMWZ-a8CD95qsKfn0dOZAvXY-2xhQYTEwbED-0bpTNEKbIpA-ZkaHygmnzJkNbbFAnb9pkkzU8ZQqDP3JNgMfVIroWx58Oth9nJza2j7i-MkPRCUPEq3Ao0J52z7WJIiLji8TTVYW_NaiM1oxzsH",
      "n": "AKCRTQAjSsaDshtMFdW-2Ie9yVnC5Xr1Suc06PAHINd10nXkVSB-N4TO62ClCkZV3XKnqU0nHo7o95WaZpym53W_DiO62umRtFKdl4UotL2QUh0y3SZWeWuoK2u_x2aMj17rUFN0f9GZMZ0pqEQNCPRBLVJ_-TEe2nGCWSC0exxGsRqz6R1zFkB-icfzQPe4WjQELOUXQ7J9RxhAPTTHtDivYYG-BeTRHrmF04JT1_6b9T_C8bAC0i0teT-nmlBLarQtBJKATXBx1yegbPOoiTqlQrFQP4MrKWNxtnB9Tcbjcvj-Z9je0ckI_eRc4DvAhqcUh_p15Dqg4GeaoNIO_jU",
      "key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey", "unwrapKey"],
      "e": "AQAB", "d": "Ynx9JGaBSP4iUsf6ZJ6opantRNdcdmzaQrKbZg6ZQE8Ohi1FYabJWvaoPSE-CiJEsDzShXZHMhUHN4X7Bn8BXaGQhK3p9HXgiwQKmix7oAJTu4ElUIyd8UC3UWHSZr40el4PaQD-HYu_eMzCXus34MnRiNbh_BUWm6T-Eidhk9d3kNIyaSi9YNDQHW6tjWrEhhq63O7JU1j9ZonFChZxpKk20jdkQKQURVAdpOdL-5j4I70ZxFuU6wHZj8DS8oRQfwGOvZKbgYDb5jgf3UNL_7eACqq92XPVX56vm7iKbqeyjCqAIx5y3hrSRIJtZlWCwjYnYQGd4unxDLi8wmJWSQ",
      "p": "ANHerI1o3dLB_VLVmZZVss8VZSYN5SaeQ_0qhfOSgOFwj__waCFmy2EG7l6l6f_Z-Y0L7Mn_LNov68lyWSFa2EuQUeVj4UoFHc5Di8ZUGiSsTwFM-XMtNuv8HmGgDYLL5BIJD3eTz71LdgW-Ez38OZH34b7VeG8zfeUDb8Hi30zz",
      "kty": "RSA", "q": "AMPcZrZBqbc82DO8Q5zTT8ZXRGWrW36KktMllaIk1W2RHnRiQiW0jBWmcCgqUcQNHa1LwumjyNqwx28QBS37BTvG7ULGUoio6LrOeoiBGEMj-U19sX6m37plEhj5Mak7j3OPPY_T9rohjTW5aGGg9YSwq4jdz0RrmBX00ofYOjI3",
      "dp": "AMmhWb5yZcu6vJr8xJZ-t0_likxJRUMZAtEULaWZt2DgODj4y9JrZDJP6mvckzhQP0WXk2NuWbU2HR5pUeCN2wieG1B76VKoH76vfnaJDqT1NuJVBcP2SLHog3ffwZtMME5zjfygchG3kihqOSpwTQ9ETAqAJTkRC38fEhwAz_Cp"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/keys/livekvtestimport-test-key5416109f?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestimport-test-key5416109f/8cdb2c3dbae54be19240ca156658b730","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"AKCRTQAjSsaDshtMFdW-2Ie9yVnC5Xr1Suc06PAHINd10nXkVSB-N4TO62ClCkZV3XKnqU0nHo7o95WaZpym53W_DiO62umRtFKdl4UotL2QUh0y3SZWeWuoK2u_x2aMj17rUFN0f9GZMZ0pqEQNCPRBLVJ_-TEe2nGCWSC0exxGsRqz6R1zFkB-icfzQPe4WjQELOUXQ7J9RxhAPTTHtDivYYG-BeTRHrmF04JT1_6b9T_C8bAC0i0teT-nmlBLarQtBJKATXBx1yegbPOoiTqlQrFQP4MrKWNxtnB9Tcbjcvj-Z9je0ckI_eRc4DvAhqcUh_p15Dqg4GeaoNIO_jU","e":"AQAB"},"attributes":{"enabled":true,"created":1612579132,"updated":1612579132,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestimport-test-key5416109f?api-version=7.2-preview
- request:
    body: '{"key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey", "unwrapKey"],
      "kty": "RSA", "tags": {"test name ": "CreateRSAKeyTest", "purpose": "unit test"},
      "key_size": 2048}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key5416109f/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key5416109f/3ac51c32cadf4dc7bfe1a0509837015e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"1DBf-kfKZX2Kn-fghR8bKb8M48mnckefXTGXMUyIc_KC4MvDXwFovFev6Qw28dK8wxuG9sRq9dEUlWPTj_K0fCVJZb-G2AD09sqv2Y_s4r4-mvFNTbjmpdoZ7ijxAOh-nF6kBuRhafwlUdoRdOY_56GLRr2lj4krGCFIxCsKGSNHJgRWIKwFhXl8uoUfC4yKqm31hVFv_EqSlsLPDoC2yo5VUQ-omHAIrILkrqrkPZ1BVZeOv8CJ7fs816D1Gk5FN_MaVsGPpklsYOx9ZOxmPulLQ1z1TX9QTvUzXsnwk32zoUSJ2hrKYxnxIxlCgGj3kiPEFfUPy-QYpIpbUizblQ","e":"AQAB"},"attributes":{"enabled":true,"created":1612579133,"updated":1612579133,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"test
        name ":"CreateRSAKeyTest","purpose":"unit test"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrud-rsa-key5416109f/create?api-version=7.2-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key5416109f/3ac51c32cadf4dc7bfe1a0509837015e?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key5416109f/3ac51c32cadf4dc7bfe1a0509837015e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"1DBf-kfKZX2Kn-fghR8bKb8M48mnckefXTGXMUyIc_KC4MvDXwFovFev6Qw28dK8wxuG9sRq9dEUlWPTj_K0fCVJZb-G2AD09sqv2Y_s4r4-mvFNTbjmpdoZ7ijxAOh-nF6kBuRhafwlUdoRdOY_56GLRr2lj4krGCFIxCsKGSNHJgRWIKwFhXl8uoUfC4yKqm31hVFv_EqSlsLPDoC2yo5VUQ-omHAIrILkrqrkPZ1BVZeOv8CJ7fs816D1Gk5FN_MaVsGPpklsYOx9ZOxmPulLQ1z1TX9QTvUzXsnwk32zoUSJ2hrKYxnxIxlCgGj3kiPEFfUPy-QYpIpbUizblQ","e":"AQAB"},"attributes":{"enabled":true,"created":1612579133,"updated":1612579133,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"test
        name ":"CreateRSAKeyTest","purpose":"unit test"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrud-rsa-key5416109f/3ac51c32cadf4dc7bfe1a0509837015e?api-version=7.2-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key5416109f/?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key5416109f/3ac51c32cadf4dc7bfe1a0509837015e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"1DBf-kfKZX2Kn-fghR8bKb8M48mnckefXTGXMUyIc_KC4MvDXwFovFev6Qw28dK8wxuG9sRq9dEUlWPTj_K0fCVJZb-G2AD09sqv2Y_s4r4-mvFNTbjmpdoZ7ijxAOh-nF6kBuRhafwlUdoRdOY_56GLRr2lj4krGCFIxCsKGSNHJgRWIKwFhXl8uoUfC4yKqm31hVFv_EqSlsLPDoC2yo5VUQ-omHAIrILkrqrkPZ1BVZeOv8CJ7fs816D1Gk5FN_MaVsGPpklsYOx9ZOxmPulLQ1z1TX9QTvUzXsnwk32zoUSJ2hrKYxnxIxlCgGj3kiPEFfUPy-QYpIpbUizblQ","e":"AQAB"},"attributes":{"enabled":true,"created":1612579133,"updated":1612579133,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"test
        name ":"CreateRSAKeyTest","purpose":"unit test"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrud-rsa-key5416109f/?api-version=7.2-preview
- request:
    body: '{"attributes": {"exp": 2524723200}, "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key5416109f/?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key5416109f/3ac51c32cadf4dc7bfe1a0509837015e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"1DBf-kfKZX2Kn-fghR8bKb8M48mnckefXTGXMUyIc_KC4MvDXwFovFev6Qw28dK8wxuG9sRq9dEUlWPTj_K0fCVJZb-G2AD09sqv2Y_s4r4-mvFNTbjmpdoZ7ijxAOh-nF6kBuRhafwlUdoRdOY_56GLRr2lj4krGCFIxCsKGSNHJgRWIKwFhXl8uoUfC4yKqm31hVFv_EqSlsLPDoC2yo5VUQ-omHAIrILkrqrkPZ1BVZeOv8CJ7fs816D1Gk5FN_MaVsGPpklsYOx9ZOxmPulLQ1z1TX9QTvUzXsnwk32zoUSJ2hrKYxnxIxlCgGj3kiPEFfUPy-QYpIpbUizblQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1612579133,"updated":1612579134,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrud-rsa-key5416109f/?api-version=7.2-preview
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key5416109f?api-version=7.2-preview
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-key5416109f","deletedDate":1612579135,"scheduledPurgeDate":1620355135,"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key5416109f/3ac51c32cadf4dc7bfe1a0509837015e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"1DBf-kfKZX2Kn-fghR8bKb8M48mnckefXTGXMUyIc_KC4MvDXwFovFev6Qw28dK8wxuG9sRq9dEUlWPTj_K0fCVJZb-G2AD09sqv2Y_s4r4-mvFNTbjmpdoZ7ijxAOh-nF6kBuRhafwlUdoRdOY_56GLRr2lj4krGCFIxCsKGSNHJgRWIKwFhXl8uoUfC4yKqm31hVFv_EqSlsLPDoC2yo5VUQ-omHAIrILkrqrkPZ1BVZeOv8CJ7fs816D1Gk5FN_MaVsGPpklsYOx9ZOxmPulLQ1z1TX9QTvUzXsnwk32zoUSJ2hrKYxnxIxlCgGj3kiPEFfUPy-QYpIpbUizblQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1612579133,"updated":1612579134,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrud-rsa-key5416109f?api-version=7.2-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-key5416109f?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: livekvtestcrud-rsa-key5416109f"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://mcpatinotest.vault.azure.net/deletedkeys/livekvtestcrud-rsa-key5416109f?api-version=7.2-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-key5416109f?api-version=7.2-preview
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-key5416109f","deletedDate":1612579135,"scheduledPurgeDate":1620355135,"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key5416109f/3ac51c32cadf4dc7bfe1a0509837015e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"1DBf-kfKZX2Kn-fghR8bKb8M48mnckefXTGXMUyIc_KC4MvDXwFovFev6Qw28dK8wxuG9sRq9dEUlWPTj_K0fCVJZb-G2AD09sqv2Y_s4r4-mvFNTbjmpdoZ7ijxAOh-nF6kBuRhafwlUdoRdOY_56GLRr2lj4krGCFIxCsKGSNHJgRWIKwFhXl8uoUfC4yKqm31hVFv_EqSlsLPDoC2yo5VUQ-omHAIrILkrqrkPZ1BVZeOv8CJ7fs816D1Gk5FN_MaVsGPpklsYOx9ZOxmPulLQ1z1TX9QTvUzXsnwk32zoUSJ2hrKYxnxIxlCgGj3kiPEFfUPy-QYpIpbUizblQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1612579133,"updated":1612579134,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/deletedkeys/livekvtestcrud-rsa-key5416109f?api-version=7.2-preview
version: 1
