interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault8bf41593cab3510bf8.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault8bf41593cab3510bf8.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault8bf41593cab3510bf8.vault.azure.net/keys/key0/8f4b9d5f52e2457f94e9a41db23cf798","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"lhAfWtVFG3cPZALHZbD_N8drzVw05Kjy2JlQ4V85BCFR9K5L0ugAt_HE2bwa7_95WNJ7AwJA0HhIE_Tvs69eeCz5cRkr8WFomxcYdSdfkF7tNg1uHbkSvEnaceChHqedrqBWLeA2DCal7wemewZr6pNByk2vWfrCrcSQGODNdgZzDz9rCjkGTGHiVGzSQACRsCu4UfshdAFwFXZfGwcz3ceqEmSUch01CCSEAjX9VmC3sJPQ1lh-QhShpD55L_1_wuSZs75WuAE-54n-RsLkIIIsbDaEXa9xoR738saH626BUxsz0bn147o7hM3BPtTVyOiNMYNiXYECBT9MMgEiyw","e":"AQAB"},"attributes":{"enabled":true,"created":1570213124,"updated":1570213124,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault8bf41593cab3510bf8.vault.azure.net/keys?maxresults=7&api-version=7.0
  response:
    body: {string: '{"value":[{"kid":"https://vault8bf41593cab3510bf8.vault.azure.net/keys/key0","attributes":{"enabled":true,"created":1570213124,"updated":1570213124,"recoveryLevel":"Purgeable"}},{"kid":"https://vault8bf41593cab3510bf8.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1570213125,"updated":1570213125,"recoveryLevel":"Purgeable"}},{"kid":"https://vault8bf41593cab3510bf8.vault.azure.net/keys/key2","attributes":{"enabled":true,"created":1570213125,"updated":1570213125,"recoveryLevel":"Purgeable"}},{"kid":"https://vault8bf41593cab3510bf8.vault.azure.net/keys/key3","attributes":{"enabled":true,"created":1570213125,"updated":1570213125,"recoveryLevel":"Purgeable"}},{"kid":"https://vault8bf41593cab3510bf8.vault.azure.net/keys/key4","attributes":{"enabled":true,"created":1570213125,"updated":1570213125,"recoveryLevel":"Purgeable"}},{"kid":"https://vault8bf41593cab3510bf8.vault.azure.net/keys/key5","attributes":{"enabled":true,"created":1570213125,"updated":1570213125,"recoveryLevel":"Purgeable"}},{"kid":"https://vault8bf41593cab3510bf8.vault.azure.net/keys/key6","attributes":{"enabled":true,"created":1570213125,"updated":1570213125,"recoveryLevel":"Purgeable"}}],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
