interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name336f13d8/create?api-version=2016-10-01
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "key_size": 2048}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name336f13d8/create?api-version=2016-10-01
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name336f13d8/d5986dddedb84e6ea92512fa0f198c5d","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"xt-py7rhMp6ZPkjHzoGWWnfYlYaWuqKIB3Y2_Yx7-n_RoR-ouFnIQGrNzVlE0NpJAKEsHY3GieJDTssu85GR26t8vwIcase-yHYIc2KAfFo53-m4HCX9vZKfgKXNKpHoioibwp-KpHnAFs6dYT4XxWAIDlIjuwSO7TxcTNVUwrBG4aYg_dIPU6OCG3qqWjgPBYvFSpsECqkNvHs8ptr95v7WLfqBmQ0Pfk95nrp_n11dgId74XAV1UoJ5kX6uKCCr5rrARnr2c8uEdHR6EMtbGkluVBvrO8gXdqJxymaMMtQohO0S2t9QS8EE8cXqgnIjtXr7SDhLKpLY8JkOBViJQ","e":"AQAB"},"attributes":{"enabled":true,"created":1618858896,"updated":1618858896,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
