interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-key-name45c61554/create?api-version=7.3-preview
  response:
    body:
      string: ''
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency: '0'
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestrsa-key-name45c61554/create?api-version=7.3-preview
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-key-name45c61554/create?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1625597430,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625597430},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-key-name45c61554/68c4546ed1fa46372b084796484ae66c","kty":"RSA-HSM","n":"nS5un9W3oIBbeba2nx0QXCnuKuykMeBX4P9k6ytqLJZ0Y1I4Xl26I4NkteBjprcuLV9jQfd8GGZ9COIG2i6qgjRiU5e6PkQvvdHavoxOSEjyWNVtCaeRpnbg5E8f8ern6xOwZmmZA4rAV9ddd6cjhR1RuvpDyxqJhca4K2vvmbE_dnLmaFf3zCfeT2D8bgILrroYyW6EUqAUCcEL6g7fDWPY80wbesXGZJlNvjV2bfbJ3LdkUhZrH1B8_dK84tDDDSBtoI0cUrbnK0dow_I8xZNEEKFjA8gALNjIbsW57wvcaJXkDtN_XMemsQ38wm0RCOD3011wHouKL6vW7LUUAw"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '218'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestrsa-key-name45c61554/create?api-version=7.3-preview
version: 1
