interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyffd4146b/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyffd4146b/create?api-version=7.1
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyffd4146b/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyffd4146b/af6faa170ab1464d8ecca589814c3cf3","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"2uWLpuoNjB1UupMR0HFtV2nN1tup03IlxVkTsfiO3EistJ_JamczAoFG8RGJDKohCbAba2Dak-s0XWFKza9wpmWw_KF4ra5di5Riin2OC-BYVkPsOg6LocQ4xfBAeY6sJq8CBWwfPrteDKuYeFZ16PobKRejhgx6DRWWFFgSdYqridC17UQLmAr-cxI6v9Iodz_0oVsUAAl5MJR2OWL4HwawVprK0hRsmJbmOSV1JhOHjAOAuAsK2NMT7eVQTXgtfsQaBwe9Ja25cJDu5om5j6OhI9U9FvL223x_02Vb-YpJkYVEKXgPY8lFz30SAQ_Bhu5IWhoBnJFHLUvFY_YvVQ","e":"AQAB"},"attributes":{"enabled":true,"created":1612517578,"updated":1612517578,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyffd4146b/create?api-version=7.1
- request:
    body: '{"value": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw", "alg": "RS256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyffd4146b/af6faa170ab1464d8ecca589814c3cf3/sign?api-version=7.1
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyffd4146b/af6faa170ab1464d8ecca589814c3cf3","value":"dlxzw8tN1L3ZzazrH3Zvz1b9Cu7POVwTWksuc7mopd8FfUOyAUW87YQkhau8fQFrBZq1O-zuCX_ztnZkNyk6wXePpGtZpFwUy7X5MSFgeCvGGZKTtaAVCSvdL6zYl7VGnbBVpQS2kgJShQZrT7TnbxT4afK2vWPWrmB09lfyfCnWI5eZRxSEQ3X2XKrKu5_4JrY3cwSVjVCPHzZwDvuF55ct-reJE_avoawy7VibfpWzGDOIuMSNaP5ZCS_4EqkW3hFG8hJQ17bJ5pX0KnGTMIyLF-HwG2yNj_qJeKh3N_2ZpNvyxaRYjRBHOYPUGZpmq6ugdg0mP3RxNsDp_L4DjQ"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyffd4146b/af6faa170ab1464d8ecca589814c3cf3/sign?api-version=7.1
version: 1
