interactions:
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultf7e00e3a.vault.azure.net/keys/testKeyf7e00e3a/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultf7e00e3a.vault.azure.net/keys/testKeyf7e00e3a/c6cefa45004d45759d9c61268d95ad15","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"xEYOCyXi3mLt9Z6FipMqbauhq0_3TzeOe_4wDF_uHwUgZWWPGV9LNSARQJE-iuYYwQAhxf4FePoZQHSVuXgL1-OUOnz7CyJOo7K2mc-SnpAdvi-g_htGQpf0UP7eCx-hF2upOOkdRUtmKFdCxkMqCbX_Az0leggq-bpFZhM-4PvKXxp4yMFyr8q6NT9lz9l0HVw6HWPnQH_l6XKsmYYEedNy7gjOTaKC1THkeAhQ3v-SQJfqiMyl4HXP699ivzhB_5Jt7qrIfvmwZSa0_0-rXZTUUlrgI5n0-O105SgOB9Adkh-5CNFentIS47iBSh1Z-YnUcgMriuO0e1yggyaMAw","e":"AQAB"},"attributes":{"enabled":true,"created":1560219221,"updated":1560219221,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultf7e00e3a.vault.azure.net/keys/testKeyf7e00e3a/versions?api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://vaultf7e00e3a.vault.azure.net/keys/testKeyf7e00e3a/35b6fa9fdf6f41a28f865b3e2e19bb03","attributes":{"enabled":true,"created":1560219222,"updated":1560219222,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultf7e00e3a.vault.azure.net/keys/testKeyf7e00e3a/8c2126dfe4af4cb49de13210f872c6df","attributes":{"enabled":true,"created":1560219222,"updated":1560219222,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultf7e00e3a.vault.azure.net/keys/testKeyf7e00e3a/adaaf10dde364e5f8a1556b5e8a17c5a","attributes":{"enabled":true,"created":1560219223,"updated":1560219223,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultf7e00e3a.vault.azure.net/keys/testKeyf7e00e3a/c4596c3e033d41bd9865a48355ea88c0","attributes":{"enabled":true,"created":1560219222,"updated":1560219222,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultf7e00e3a.vault.azure.net/keys/testKeyf7e00e3a/c6cefa45004d45759d9c61268d95ad15","attributes":{"enabled":true,"created":1560219221,"updated":1560219221,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultf7e00e3a.vault.azure.net/keys/testKeyf7e00e3a/cc748acfad5a49d48e8822b551c687ee","attributes":{"enabled":true,"created":1560219222,"updated":1560219222,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultf7e00e3a.vault.azure.net/keys/testKeyf7e00e3a/e36a569904754bc39e89a5da41dc1fc1","attributes":{"enabled":true,"created":1560219222,"updated":1560219222,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
