interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-not-yet-validacd61793/create?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey", "unwrapKey"],
      "attributes": {"nbf": 32503680000}, "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-not-yet-validacd61793/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-not-yet-validacd61793/35cf9a79c98a404f9b06f0e3407f90b3","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"xRN97Fsib9CqxHKOu5aTYBuA2BRxHaQpNJHFA5JBkDGMCUsphDnlpssBn2PNiY0LrcTsr6rcbK3BHjP6OQiGdNlt6uvbgckz7unvsoVPOd8-yGBhxpu3LWHk4DhwBCehTAnZClylxSHaP1RwVAF31lz2j_YjPybmFKK3-3jSK5ARdSp22OTOn0nzt470Ri70wfbMubIzB_dEhkBmqCo_V5rXVREJl_zELFhmo-qhj_wagj6DxxeUzH3InCr0Qrg-jrrc24yqItUR8E39-CvRTjUn_cB24EK0ySQp1HI9dYK-ciifuialQ3ZdWp5S1CUz-QnXiD2-QVBFkWZKIg3PzQ","e":"AQAB"},"attributes":{"enabled":true,"nbf":32503680000,"created":1615591019,"updated":1615591019,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey", "unwrapKey"],
      "attributes": {"exp": 946684800}, "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-expiredacd61793/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-expiredacd61793/c479a291b7b54bc69f5c0a5013d4e4ab","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"2Eb_7vhjMRZ_F-bfeB1gZRmR3NJ-Vrgo71_anodjuPiFZahw_0vmgl-dUeRypGdZwqDC9rONClAQ8L0Q5gg5KJKYBW9V7PFWZitEV-BSiNJxcKjQ09WdZrbvYR1lxinRWUFeREOlJ-Kuu24ksZ7Uu7QMncqXfg5aP5QwoZBZbJRNgk3zyDv2S89SL_siCRybLy5YxLBKjwJxExG1ACkXvsUaduutHtsGdWvB0WdE6MDLb5VgOSbr18QPDzXhvLSaitywn09zA09elInkwtoBsO0nu-tVHRpryUx-7UxU5did09qj2a154h4PZM9docBZCzlkS7CoteTNOLcgpWVdEQ","e":"AQAB"},"attributes":{"enabled":true,"exp":946684800,"created":1615591021,"updated":1615591021,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey", "unwrapKey"],
      "attributes": {"nbf": 32503680000, "exp": 32535216000}, "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-validacd61793/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-validacd61793/8cd2847904bc4d05ae8e58e2b4a8ad2f","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"pEJPny3EWdchweoA85-MT0YKGiV7nWUiDhq8Tl77eQcsjTZpW_Le8gIBYXLbSVe6M9MkACp3J5EgQ2t42_w3QmXzCdTs-Jp96sPpbXZdx77NstDPAkrxLXyIMCioq-tj528yu2N8KOkDWYhDAFK7ZlXJgHWErYZO_A1tmdTDxb0sg9h9fNtHa79lgViutd2SD1nchF2Wopnev364G2BShyvTuELEDBHNriM22X1bsXSqOI2Shx0yBPtmxn0TIJ1gXEicIP3ihsiYp_4rOJ0y0xpFPS5kr6VMGWfzNDh1UV8cLpf9H5Yh9faUGYSfXjiX9NxGBi8y6YuKkfcWkXbFmQ","e":"AQAB"},"attributes":{"enabled":true,"nbf":32503680000,"exp":32535216000,"created":1615591023,"updated":1615591023,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
