interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault6742b3510bf8.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault6742b3510bf8.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault6742b3510bf8.vault.azure.net/keys/key0/71504dd9d5d0453883791aa2998de3f1","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"sxROvP8zAZ65rRdYhQ_dMtnWM6BFU3-rUQ4DHgyBN6vw4AwYsngUasrn8zyyAEb4NDkD0UgeQFRnFRwlxNYCGZQSDHKBeFMbsufVxczcEjHHKHGd4W11OHjBbjPOAsrG7PDA5UKZikH6DFzx-ah5BFXidyrAJYzrC4rB40MIU0pp_e71xaZkkQ2vh7enLYpNi09aQxVL92Ovb8Qb75KP-d682pXr1Rh3cWpPogs3v73Xj4vOXcoyy4y2ipQHmDgzTdM8YuIaEa8ArFz_aLUA_YXrJvI4hDcK6Qbj_T9eOzSlbWDJF-EDRTdvuPinploqYKjjTrpxv1B6pwMvrvTfww","e":"AQAB"},"attributes":{"enabled":true,"created":1566836922,"updated":1566836922,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault6742b3510bf8.vault.azure.net/keys?maxresults=7&api-version=7.0
  response:
    body: {string: '{"value":[{"kid":"https://vault6742b3510bf8.vault.azure.net/keys/key0","attributes":{"enabled":true,"created":1566836922,"updated":1566836922,"recoveryLevel":"Purgeable"}},{"kid":"https://vault6742b3510bf8.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1566836923,"updated":1566836923,"recoveryLevel":"Purgeable"}},{"kid":"https://vault6742b3510bf8.vault.azure.net/keys/key2","attributes":{"enabled":true,"created":1566836923,"updated":1566836923,"recoveryLevel":"Purgeable"}},{"kid":"https://vault6742b3510bf8.vault.azure.net/keys/key3","attributes":{"enabled":true,"created":1566836923,"updated":1566836923,"recoveryLevel":"Purgeable"}},{"kid":"https://vault6742b3510bf8.vault.azure.net/keys/key4","attributes":{"enabled":true,"created":1566836923,"updated":1566836923,"recoveryLevel":"Purgeable"}},{"kid":"https://vault6742b3510bf8.vault.azure.net/keys/key5","attributes":{"enabled":true,"created":1566836923,"updated":1566836923,"recoveryLevel":"Purgeable"}},{"kid":"https://vault6742b3510bf8.vault.azure.net/keys/key6","attributes":{"enabled":true,"created":1566836924,"updated":1566836924,"recoveryLevel":"Purgeable"}}],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
