interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204855c41090/create?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "key_size": 2048}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204855c41090/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204855c41090/5634406fb9844c1995f12148d438a74e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"0dSLvgNYLVKCOm5cMvdatmucFCyJzqR-rBdeJrUEdvuq84HRWOvL9A30YP0YVIABlL48coMiuaqeYnkfRlKidLj_hhKek7X7r82Yqd8-5J7Wz8XaKINxGymCMvF8dTo3AZ11ghZsUnkS9kufiBchCmLmW1_98La8sZb-QD1CbQcJlv-vbp3oCtr3Kd6CwieXmRK2tAn3mvNIKsXHu36lUxxss086OkT4x7Ny7bZGgN_6_Y_hagLz6VK3xhNFNqDg9EdJARSrokSu6pv-aXfgeoRWr6huql2Nq4Hz8UcM3Rlpv1RqW5szMgTyywp_K8fIhBean-d8xUK6BFwtaa7awQ","e":"AQAB"},"attributes":{"enabled":true,"created":1612578037,"updated":1612578037,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "PS256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204855c41090/5634406fb9844c1995f12148d438a74e/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204855c41090/5634406fb9844c1995f12148d438a74e","value":"mIvgmkyyqLeUXJNKEosbFQi7nfxf7eH3l9gG3suoW-3vONQ9pnZzfmNB1VVLTsw2ugYF6JgdZgk5i2IiUurxWiicXHXuEDoO8foDMOWz6rX8YZKBvYCRiBovd9JZPaLkmV1bwCyGqwEt4TKzSIdi5u9y3cQl3l6Mb0yN3mAk90Xj4Q86E_NFFmT6YRPBqwJFPSKm3Lq_yCnSmE19F4Tice9xqVgwIp2k9o1gMU1ka0h9P5fYr7NnwmarFJu8mLXQ1yxddMGMZ_rCM3MNY-xm7XB5eieSe7rQJaTP1rkd0xMt00_aCDoS7ZVKkiNaJlEDPQv6iCSQBGt5FoklmkvFBQ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "RS512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-409655c41090/75c06fa4e18e4cc8b33d0517b88526c1/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-409655c41090/75c06fa4e18e4cc8b33d0517b88526c1","value":"fTvIMprVNC0Z4GOkh-3VuA7TyGlCbukvZ8dxsrcLU_yexigeNjMpk_k8MEynW4J9GRwNy9dPYXiDtVX9o0o00o7C6oVAjVs85Fed6xH9WcwM-oUsF6D0V7_CFeWW6YL3S9fen8tpDyoRMnDm40FKz_sJ7TN91P_mWYemUfnJncD1WdTWBzpu8c5d_USY4nnsHvvhXcIdobIruX0KDNdiHqYHYKV_yVr35lfJl3VePXd1nABGLyg19X6StO1Bb5AVs9KYF5BEfozPUxjPQpkBJHxfUXuRVtIIGlm-QJjOkTee8zQDbKcUS62P-XO4RPi9ZofKvNFaq7_V3GZywjQ7VFfW3YpZFjrsr89W6aEh6oEtS57Ib_UHiJmE8IwfGS9KojEfDKZPOl0IJgf1lxpwYx-bV94618o4eYInmwncY22fCdkfMeAS-b6B145EJWeV0lh1mPvOjux3gTLecTXNe2YMNEhtRca42kSxKerv6jOuzrkzLdcxPD8qGPb0tdAj3tN1vVB0w1M2zSe_4cfpdCdBcGHSHiroVdGVEI3SYLs5pg5aXXNRWt3yN9to6MyizAqz0mkQ8XOkF2DPd55P-N2xV6Zk1Vixb07GY8-ea9qLzrClbW9jc4fneLstdsiEHYW80KQBHEJSCAsXs8so5oIOjt9f54uwRgus71cNrCU"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
