interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtesteckey7e5b1538/create?api-version=2016-10-01
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtesteckey7e5b1538/create?api-version=2016-10-01
- request:
    body: '{"kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtesteckey7e5b1538/create?api-version=2016-10-01
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtesteckey7e5b1538/b21749379369491bad748b58d8ddeb6a","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"eGWTqz5gt3o8atwaMECbL9MMcd2IISm7Ump9ZETuNh0","y":"U6Q60EeOjmEVRF5WtIrXcE48L_VwmFdY4JbS_c4Bp1w"},"attributes":{"enabled":true,"created":1618864860,"updated":1618864860,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtesteckey7e5b1538/create?api-version=2016-10-01
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtesteckey7e5b1538/b21749379369491bad748b58d8ddeb6a?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtesteckey7e5b1538/b21749379369491bad748b58d8ddeb6a","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"eGWTqz5gt3o8atwaMECbL9MMcd2IISm7Ump9ZETuNh0","y":"U6Q60EeOjmEVRF5WtIrXcE48L_VwmFdY4JbS_c4Bp1w"},"attributes":{"enabled":true,"created":1618864860,"updated":1618864860,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtesteckey7e5b1538/b21749379369491bad748b58d8ddeb6a?api-version=7.2-preview
version: 1
