interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-key-nameca0612c4/create?api-version=7.2
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "key_size": 2048}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-key-nameca0612c4/create?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-key-nameca0612c4/1e14bb40b15b4bfe887055382b411387","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"5H-YOxmyxtSpm7Nst5NC0GVP0-UdJnENfs7x9bhafbvVlXOCn2ArHD6_VRzGmc2_BIxQFWudMdkVtxCgqY8kaeIx8yios-AO6Zzam2XCxZTKewKiKCElIkGBkOaG8oe6bEHSHugXTOwALvgwS4NLFCPcg14IMPiCndARgzHaPyAdJqM76LvEzdd_APfE-JfDA5DpVOYoLfGj4xFS1tyy_0FRopB00mFx2v9qgLVOHeKhN0Lguy4Q8fCHLDdhgb2p0LV4ZZ39E0z1B8CQn8OySKQ6sOA8kgn9tUxASox8jjASaLjwQuVO8tzVd7mtKAWpeqqx2pF4Z9TgadOXINxRgQ","e":"AQAB"},"attributes":{"enabled":true,"created":1620409012,"updated":1620409012,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
