interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name22bc0f24/create?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestrsa-key-name22bc0f24/create?api-version=7.2-preview
- request:
    body: '{"key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey", "unwrapKey"],
      "key_size": 2048, "tags": {"test name ": "CreateRSAKeyTest", "purpose": "unit
      test"}, "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name22bc0f24/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name22bc0f24/2b7cf0bfe8894b6cbdd9f60b3647ff25","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"nXLALkoizSpmIA0M40oOKMGvXfelySc9cduei73Mz3k7Z6Y8R5CIyOmG9tmDRqVtR53jPkg9_qzBq9uw4cUoSy9qN4a2kgU1Co4NBZh3KSzUASVyokEU3SopdKlEdVOXcfYaBGV_fK0Jxy8fnpciRpCoJ0IcXpNYPaE6ZEohATNHT6f-mI8jWH0ui6pL9uN9cCHbcBwGkfJmV1_WH_jqE97K8UuCDOuZ1ebJ4yCpx59f1RRUIx7Mu-BBPpDYVZrBWOH8KZSk8aq0wee4noW6pJCM684R8HV44iPVAMX2Tor5aCPaKUSZa0C-iHFLkwtMvKi5asZmWfpfeaa6eZUE7Q","e":"AQAB"},"attributes":{"enabled":true,"created":1615590023,"updated":1615590023,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"test
        name ":"CreateRSAKeyTest","purpose":"unit test"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestrsa-key-name22bc0f24/create?api-version=7.2-preview
version: 1
