interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsakeya711171f/create?api-version=7.2-preview
  response:
    body:
      string: ''
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency: '1'
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestrsakeya711171f/create?api-version=7.2-preview
- request:
    body: '{"kty": "RSA-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsakeya711171f/create?api-version=7.2-preview
  response:
    body:
      string: '{"attributes":{"created":1618864950,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1618864950},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsakeya711171f/b1061915c6454238a2f00501ac557475","kty":"RSA-HSM","n":"zDQTG5HsqnnIhwxuwtwZ6mlxyY99haSx5k-8p-m3HbwD-YO_cTByaYwXob3tzSph_Psy_2H_-kdjoeZ1xaYqlMQjVlZZS4-W8LLY-yyuJoYYhlwdvTrBvY8DcdZssITxUX7YkOs7erTOTRMmIMeF-nvYlO0v-EU2OmrPcirXpiWkBXyvnYBvKXABgeJUGoOvCg7QGlR9XllhIVHX4-LePA9HN_7e6JBbb0k1QHojkZzRM_W-zhkMALlg07UcLky22QS30gW90Oa8z99rFhguRBE7egf_rMaBiBeYbwOh6n3G9XKObiwX_5SXRZsnXgawhA7EhMVVKJptpl2JTpa4nw"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '218'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestrsakeya711171f/create?api-version=7.2-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsakeya711171f/b1061915c6454238a2f00501ac557475?api-version=7.2-preview
  response:
    body:
      string: '{"attributes":{"created":1618864950,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1618864950},"key":{"e":"AQAB","key_ops":["wrapKey","verify","sign","unwrapKey","encrypt","decrypt"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsakeya711171f/b1061915c6454238a2f00501ac557475","kty":"RSA-HSM","n":"zDQTG5HsqnnIhwxuwtwZ6mlxyY99haSx5k-8p-m3HbwD-YO_cTByaYwXob3tzSph_Psy_2H_-kdjoeZ1xaYqlMQjVlZZS4-W8LLY-yyuJoYYhlwdvTrBvY8DcdZssITxUX7YkOs7erTOTRMmIMeF-nvYlO0v-EU2OmrPcirXpiWkBXyvnYBvKXABgeJUGoOvCg7QGlR9XllhIVHX4-LePA9HN_7e6JBbb0k1QHojkZzRM_W-zhkMALlg07UcLky22QS30gW90Oa8z99rFhguRBE7egf_rMaBiBeYbwOh6n3G9XKObiwX_5SXRZsnXgawhA7EhMVVKJptpl2JTpa4nw"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20210407-3-27236ed1-develop
      x-ms-server-latency: '85'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestrsakeya711171f/b1061915c6454238a2f00501ac557475?api-version=7.2-preview
version: 1
