interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtesteckeyadcd1290/create?api-version=7.3-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtesteckeyadcd1290/create?api-version=7.3-preview
- request:
    body: '{"kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtesteckeyadcd1290/create?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtesteckeyadcd1290/9bcef801521b4c989f2915f2413bc141","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"g30J31nwhbCjAWwQCubKv-oSE517OvRih988z-x9mSQ","y":"HVC1FcatuFrKjbKB14gsBDu21QNpuCs_bTX5kImyWSQ"},"attributes":{"enabled":true,"created":1618441047,"updated":1618441047,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtesteckeyadcd1290/create?api-version=7.3-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtesteckeyadcd1290/9bcef801521b4c989f2915f2413bc141?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtesteckeyadcd1290/9bcef801521b4c989f2915f2413bc141","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"g30J31nwhbCjAWwQCubKv-oSE517OvRih988z-x9mSQ","y":"HVC1FcatuFrKjbKB14gsBDu21QNpuCs_bTX5kImyWSQ"},"attributes":{"enabled":true,"created":1618441047,"updated":1618441047,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtesteckeyadcd1290/9bcef801521b4c989f2915f2413bc141?api-version=7.3-preview
version: 1
