interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultfcf91456.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Wed, 16 Oct 2019 16:11:10 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultfcf91456.vault.azure.net,
        /keys/key-name/create, api-version=7.0, '']
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultfcf91456.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vaultfcf91456.vault.azure.net/keys/key-name/dfa4b6163a5a471abc991a9374cc39ce","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"isZY01JbAZtCEi0QxbBOzFbcXQwZgCjhN6HCSKy9mZU3tSojV3apV7yMWew68rTYorJd7TWe-VVF0p0thzuL7djYteppsSuMsAYNa3U2-8K32HPdqijvjrk-hy9mM46Px7WbhQGAGcmYIR3m4mP89w6kEke2GliQxFeQy5K3gHDPcPyjFEtn2K-WUblHdC33yX3_12nOawB3PU1dIB8qczGvNvU5SzsKrNL9tedpYpEeKVMEsqxsKiTRMBn-PqnVJ2Okm_49XDrYgdEJbQy566-JFowUY0ID6h3vig9LqG6qBt7HgC7pQUprWxtH7Dz4eWbJeNfbsyQQD_yYA0CRRw","e":"AQAB"},"attributes":{"enabled":true,"created":1571242271,"updated":1571242271,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '656', content-type: application/json;
        charset=utf-8, date: 'Wed, 16 Oct 2019 16:11:11 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultfcf91456.vault.azure.net,
        /keys/key-name/create, api-version=7.0, '']
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultfcf91456.vault.azure.net/keys/key-name?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vaultfcf91456.vault.azure.net/deletedkeys/key-name","deletedDate":1571242272,"scheduledPurgeDate":1579018272,"key":{"kid":"https://vaultfcf91456.vault.azure.net/keys/key-name/dfa4b6163a5a471abc991a9374cc39ce","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"isZY01JbAZtCEi0QxbBOzFbcXQwZgCjhN6HCSKy9mZU3tSojV3apV7yMWew68rTYorJd7TWe-VVF0p0thzuL7djYteppsSuMsAYNa3U2-8K32HPdqijvjrk-hy9mM46Px7WbhQGAGcmYIR3m4mP89w6kEke2GliQxFeQy5K3gHDPcPyjFEtn2K-WUblHdC33yX3_12nOawB3PU1dIB8qczGvNvU5SzsKrNL9tedpYpEeKVMEsqxsKiTRMBn-PqnVJ2Okm_49XDrYgdEJbQy566-JFowUY0ID6h3vig9LqG6qBt7HgC7pQUprWxtH7Dz4eWbJeNfbsyQQD_yYA0CRRw","e":"AQAB"},"attributes":{"enabled":true,"created":1571242271,"updated":1571242271,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '787', content-type: application/json;
        charset=utf-8, date: 'Wed, 16 Oct 2019 16:11:11 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultfcf91456.vault.azure.net,
        /keys/key-name, api-version=7.0, '']
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultfcf91456.vault.azure.net/deletedkeys/key-name?api-version=7.0
  response:
    body: {string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found:
        key-name"}}'}
    headers: {cache-control: no-cache, content-length: '76', content-type: application/json;
        charset=utf-8, date: 'Wed, 16 Oct 2019 16:11:11 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 404, message: Not Found}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultfcf91456.vault.azure.net,
        /deletedkeys/key-name, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vaultfcf91456.vault.azure.net/deletedkeys/key-name/recover?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vaultfcf91456.vault.azure.net/keys/key-name/dfa4b6163a5a471abc991a9374cc39ce","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"isZY01JbAZtCEi0QxbBOzFbcXQwZgCjhN6HCSKy9mZU3tSojV3apV7yMWew68rTYorJd7TWe-VVF0p0thzuL7djYteppsSuMsAYNa3U2-8K32HPdqijvjrk-hy9mM46Px7Wb[...]
