interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault1051159997b4dd0c0a.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Tue, 03 Sep 2019 21:42:02 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault1051159997b4dd0c0a.vault.azure.net,
        /keys/key0/create, api-version=7.0, '']
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault1051159997b4dd0c0a.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault1051159997b4dd0c0a.vault.azure.net/keys/key0/1268fd116afc46ccbd3deebb8a68d6ed","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"8oH3NvTiyQUzxHhzCJ0xkSeJvw_oOFfskF0sKXQR1fHAqy50EzBFK5UEfdvxms_necPQCainizdJgfnCi5_flug3jBYtNzBA4_c-kJIffMhU28LGUPHRczerYqjocGjMMFnnyvNS410TCECPY3rbLYRtW3WNmqL1PutIFo1vlShEjUD07lgQCSyA_WARd0Qlh2K-d45Xv5l2l_JS58kHq6GqaPlkGtzzwICmNRpXSF7MSEHrJDAo5pnJNeDruUoJxWe964tOvAB1Cs2tmBEttk9G8HXqS1bkZoY7gjt9w25ICwZ_AOYxUBNmpDiitb8pbJGXwDYunpuoQiY97t1j3w","e":"AQAB"},"attributes":{"enabled":true,"created":1567546923,"updated":1567546923,"recoveryLevel":"Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '650', content-type: application/json;
        charset=utf-8, date: 'Tue, 03 Sep 2019 21:42:02 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault1051159997b4dd0c0a.vault.azure.net,
        /keys/key0/create, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault1051159997b4dd0c0a.vault.azure.net/keys?maxresults=7&api-version=7.0
  response:
    body: {string: '{"value":[{"kid":"https://vault1051159997b4dd0c0a.vault.azure.net/keys/key0","attributes":{"enabled":true,"created":1567546923,"updated":1567546923,"recoveryLevel":"Purgeable"}},{"kid":"https://vault1051159997b4dd0c0a.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1567546923,"updated":1567546923,"recoveryLevel":"Purgeable"}},{"kid":"https://vault1051159997b4dd0c0a.vault.azure.net/keys/key2","attributes":{"enabled":true,"created":1567546923,"updated":1567546923,"recoveryLevel":"Purgeable"}},{"kid":"https://vault1051159997b4dd0c0a.vault.azure.net/keys/key3","attributes":{"enabled":true,"created":1567546923,"updated":1567546923,"recoveryLevel":"Purgeable"}},{"kid":"https://vault1051159997b4dd0c0a.vault.azure.net/keys/key4","attributes":{"enabled":true,"created":1567546923,"updated":1567546923,"recoveryLevel":"Purgeable"}},{"kid":"https://vault1051159997b4dd0c0a.vault.azure.net/keys/key5","attributes":{"enabled":true,"created":1567546924,"updated":1567546924,"recoveryLevel":"Purgeable"}},{"kid":"https://vault1051159997b4dd0c0a.vault.azure.net/keys/key6","attributes":{"enabled":true,"created":1567546924,"updated":1567546924,"recoveryLevel":"Purgeable"}}],"nextLink":null}'}
    headers: {cache-control: no-cache, content-length: '1203', content-type: application/json;
        charset=utf-8, date: 'Tue, 03 Sep 2019 21:42:03 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault1051159997b4dd0c0a.vault.azure.net,
        /keys, maxresults=7&api-version=7.0, '']
version: 1
