interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtesteckey44f81005/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtesteckey44f81005/create?api-version=7.1
- request:
    body: '{"kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtesteckey44f81005/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtesteckey44f81005/c99195de4a8b40ffbae37356f4bd41b3","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"nwtVctjOshNDs0tegGUY62POBQw8W4FXV5ukCBlLyec","y":"a6vIKRX3YDqNOqelOgX1YH6qYW4LlDbudCdfPSiBJ6E"},"attributes":{"enabled":true,"created":1612517427,"updated":1612517427,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtesteckey44f81005/create?api-version=7.1
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtesteckey44f81005/c99195de4a8b40ffbae37356f4bd41b3?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtesteckey44f81005/c99195de4a8b40ffbae37356f4bd41b3","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"nwtVctjOshNDs0tegGUY62POBQw8W4FXV5ukCBlLyec","y":"a6vIKRX3YDqNOqelOgX1YH6qYW4LlDbudCdfPSiBJ6E"},"attributes":{"enabled":true,"created":1612517427,"updated":1612517427,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtesteckey44f81005/c99195de4a8b40ffbae37356f4bd41b3?api-version=7.1
version: 1
