{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestencrypt-local4dc32c74/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestencrypt-local4dc32c74/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 4096
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "368"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1650644689,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1650644689
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "sign",
            "verify",
            "encrypt",
            "decrypt",
            "unwrapKey"
          ],
          "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestencrypt-local4dc32c74/450b2705345347259fbde4ac83db9dac",
          "kty": "RSA-HSM",
          "n": "jHDYwO_Rvx6MDN7-XTbzuNEBZAOhSVH1TYsszaPQ-Dxayn6fwNCvpCm7f9D-H8cw3T7nw6VfrKXz0qcsZIyWwK39umlEQYPRTdcuKZHbVy5Zga1CC1TXO-c1fzasnhwbsG2jimgOnFurVfaS8ezwsNJnIZYBA-gOUZDkgseXg7wkd5kn2ZFilG9b9LNbgwuo8NP1CN3SD2o99DeN0m8OPwMgI5NAp7zVXGbvkoy5QQAHhMXD2YTO881eQ0JL5y3gUC1nN9SYj8sy63mo_r2OFT1VfZrFXbTKPNxplirKspV1pv_agFlp9bxostyXf4JQb9dp3oSfGhPozCg3VIkLypXf84e7ArU8HJXFQpR5o5j686vab_l_eJR2wpORRXCn_epMSUN152JatZZLFtpicytKXYyppvdfuy_QKwMCnG3oMg2zCAuQQ5zFu9qC9IlCcwnFe3o3wFKnCLm1ur7OoGcRnsh5i7fNHqqWCqhcnAr8VmwAxqZvqYAVPEsCaO5xavS2Ay3Al4Ju5rHG2c_w8omQU2k2T2i0eaElWZ_29BXshNqVOR1WeweehtYSXmJf6akBdjZzR97Szg8I5oFiyUsDk2NkZXeE1M4X5o0Hith4w35PdI9bS5d3HuS_3KrReuYLXJRgJlu3jqrCEY9FkKWPAr5ksy1fS5ELe3EXrEk"
        }
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestencrypt-local4dc32c74/450b2705345347259fbde4ac83db9dac/decrypt?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "WEyJltdvKc9eGbBMG7C2m8joIh__V5eLKYVkITEERqGPvXxn5AiOe5NIDyfuCpx-0cYlsXSeYJspeeVIkpKBdqkSZYaOwyD0iwuJ82i8_V4esdhCMikOTZYTe6l83_SxTbIo1hn4niRxLregokR9ymWWzZodUHRbm8dDCQP1DPOkh4odK_w7VIcKJNcSFAHobyCtxVHIUwOoVarSiluoxIAuJax9N-8-PLXWnv0asvAnVsDEIXTCkf6aOBz2fx8zRO3fwo9P7nm2awSRabQyb_IHRzTlKnWmbGuj8N7es4msJqtdy08lN1myCR8onkW73VQ-xrikVZ4rANgbaI3jiSndkhe2prnL8S9_tzSN74MUt9fofQqd6H_ts7s6IJPjaz0qCxPEB4hantfbtUYdSW0I5f1yAK_tyvdr-a8SaalTtUoBYcte-p4PUxJlpJ6ngNcehgmpHvd78zKgwoCONtmMSgV3aH2ZcFpUgUR86dmgkCPPgZazm1uOb1Yw8Py44oVH8PeX0fdLLxLMUTsqgFnIpz1wlCmrqq7zDwaO5RWoj0_RgAaxKwGpeXRQIP7pRQNMBZnptrTp-KZMc0ud7BdaY9BajozQme4KPnA1Ho3VS_G_IQhfthX8m_p7qEUsnPih9Cuo752WUK4tnU6wqVc9CmnXsRZMAR7MXWn9KrM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "174"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestencrypt-local4dc32c74/450b2705345347259fbde4ac83db9dac",
        "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"
      }
    },
[...]
