interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/crypto-test-wrapping-keyffd4146b/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://vto62bquwrdm76bv735wpxj6.vault.azure.net/keys/crypto-test-wrapping-keyffd4146b/create?api-version=7.1
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/crypto-test-wrapping-keyffd4146b/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/crypto-test-wrapping-keyffd4146b/51f1c019b09c44aab311170b9fa94f20","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"uM3jvUs_-zBaH4AWeUHOyh3em7X53ahzXTgMaRuPAdv6_saF-W_SoKFqmqbk60mUNHVgiXRX3ziKsWhZS0pLFSnwRGF2QEe0TRQxAUk-loXqmlLBMBvdXUE1EjVnuC6F5Hf-95zAqtAQb3qZuMt_x6sIuKRJshtScR-Am0hPQjRXnRTY-yPdty6qnC_N0dCaW6OR5Ch4S3gAiqpw2DEGiNiJ8ovYkvzDyq-CcigWFj_rJwKwnqpqdrqECd3KTSBCKeRYPTIbZiUbSd_m9tunRQbfVrmhiMMubqqWQFOgmtJUknrz1ppk2oqeyxGQjyHZrwLhGqD_CY-gx6ITn86N9w","e":"AQAB"},"attributes":{"enabled":true,"created":1596039163,"updated":1596039163,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://vto62bquwrdm76bv735wpxj6.vault.azure.net/keys/crypto-test-wrapping-keyffd4146b/create?api-version=7.1
- request:
    body: '{"alg": "RS256", "value": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/crypto-test-wrapping-keyffd4146b/51f1c019b09c44aab311170b9fa94f20/sign?api-version=7.1
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/crypto-test-wrapping-keyffd4146b/51f1c019b09c44aab311170b9fa94f20","value":"VY-FKeEcNhXJo4-5Co2qwdKz-QyVJy1Q9i-KEzzdfd9XmfHcKWuRv_Yti3A4Sw-6vBNk_MKZeSfOwE16GqMTpWgmirqcb2QqTTl0Irp4WPXdAvNK7ta8eM5TzjWUIYlU8cd7woTymWdZP7RPkXjpR_yJSMvKn3rHxONq-O4p27g-_1FFwSpuwpQLDZJUiZxJWulQyoYiBYSVPt2bCmerhZTid3gwwj1W3IQS2ky8V5VuAst3Y61ZDcIkbgx_yNA_95tyAKKPDpQ_HskAnPPoayaDgO5ap0gTf6kXwzG8hSA0UFkGr18jTznDoG-33fj41o9kn3cTlnfcV1cxLIo0Ww"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://vto62bquwrdm76bv735wpxj6.vault.azure.net/keys/crypto-test-wrapping-keyffd4146b/51f1c019b09c44aab311170b9fa94f20/sign?api-version=7.1
version: 1
