interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault32f70fb3.vault.azure.net/keys/sec32f70fb3/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Wed, 14 Aug 2019 22:13:30 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault32f70fb3.vault.azure.net,
        /keys/sec32f70fb3/create, api-version=7.0, '']
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault32f70fb3.vault.azure.net/keys/sec32f70fb3/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault32f70fb3.vault.azure.net/keys/sec32f70fb3/3bbfdd449efa4e47a29e47e22ed6c4ab","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"uaI3w6xqb_laJYQaPc4ud-Uo0Wgdk-3lBec0Wk2VKkYhNE7QncMftbVPqCt5iBogXWzKlqYMnH-dBsGJ9YOdXnCAJDo6ubUl9uacxQa7bMv8nmYUFBO4u-SirUdiQzySKeQntLnlSVFdOhgzpLRFTxVP5XQU2XjtpNT4VHAdG_26EZdaornwlu6Vncbs_w1cTBQL5wA4ADxpdJ17TSmYeNOda9BSJHB450r_Zdp1KPd5XQmeE1uRMSJgnzHjdEo8nI6HWbi6LxfgP9G263wEmm4pXjCVNfLcuXlKv8wYrNUPrivAaUprXeKJX_B6pQqwuE7FkXmWgWcf6MyfNwnCiw","e":"AQAB"},"attributes":{"enabled":true,"created":1565820811,"updated":1565820811,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '659', content-type: application/json;
        charset=utf-8, date: 'Wed, 14 Aug 2019 22:13:31 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault32f70fb3.vault.azure.net,
        /keys/sec32f70fb3/create, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault32f70fb3.vault.azure.net/keys/sec32f70fb3?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vault32f70fb3.vault.azure.net/deletedkeys/sec32f70fb3","deletedDate":1565820812,"scheduledPurgeDate":1573596812,"key":{"kid":"https://vault32f70fb3.vault.azure.net/keys/sec32f70fb3/361ac598f15840fa8417537482e72b3e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"gobSrNNrc7Ja3gWNriS9kQ8jpFPN9C7aXjPzct5u_qCeNwK-d4rwaQTUyAlelpGaJPtNts4p2fTafD-1RYNRNWcDKWvgBZC6K9yDxSTsD84K5y5asR2Kkkuq5-yuc7nAr5O-gX4NUUE_ZSbcKPJMX_XNxWe6YTcWx_ixcMB7yVVYjNQUCeKPOwfySlrH1JZy5C1NU0Yg5wyLwcxt5vKqBdoJL1yuut1yK-Oxjv4Q2CMQhHt5I3ocyyYKmlzTUPYKuX0WyN86HY8rQvTUSpHaKIN7-LL7SMqJvP8x0MGAtSf2-NmxC3etUOJdU5p43dvTizXPRQHplaHiNnG88aTETw","e":"AQAB"},"attributes":{"enabled":true,"created":1565820812,"updated":1565820812,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '793', content-type: application/json;
        charset=utf-8, date: 'Wed, 14 Aug 2019 22:13:32 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault32f70fb3.vault.azure.net,
        /keys/sec32f70fb3, api-version=7.0, '']
- request:
    body: null
    headers:
    method: GET
    uri: https://vault32f70fb3.vault.azure.net/deletedkeys/sec32f70fb3?api-version=7.0
  response:
    body: {string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found:
        sec32f70fb3"}}'}
    headers: {cache-control: no-cache, content-length: '79', content-type: application/json;
        charset=utf-8, date: 'Wed, 14 Aug 2019 22:13:32 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 404, message: Not Found}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault32f70fb3.vault.azure.net,
        /deletedkeys/sec32f70fb3, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault32f70fb3.vault.azure.net/deletedkeys?api-version=7.0
  response:
    body: {string: '{"value":[{"recoveryId":"https://vault32f70fb3.vault.azure.net/deletedkeys/sec32f70fb3","deletedDate":1565820812,"scheduledPurgeDate":1573596812,"kid":"https://vault32f70fb3.vault.azure.net/keys/sec32f70fb3","attributes":{"enabled":true,"created":1565820812,"updated":1565820812,"recoveryLevel":"Recoverable+Purgeable"}}],"nextLink":null}'}
    headers: {cache-control: no-cache, content-length: '338', content-type: application/json;
        charset=utf-8, date: 'Wed, 14 Aug 2019 22:13:43 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault32f70fb3.vault.azure.net,
        /deletedkeys, api-version=7.0, '']
- request:
    body: null
    headers:
    method: GET
    uri: https://vault32f70fb3.vault.azure.net/deletedkeys?api-version=7.0
  response:
    body: {string: '{"value":[{"recoveryId":"https://vault32f70fb3.vault.azure.net/deletedkeys/sec32f70fb3","deletedDate":1565820812,"scheduledPurgeDate":1573596812,"kid":"https://vault32f70fb3.vault.azure.net/keys/sec32f70fb3","attributes":{"enabled":true,"created":1565820812,"updated":1565820812,"recoveryLevel":"Recoverable+Purgeable"}}],"nextLink":null}'}
    headers: {cache-control: no-cache, content-length: '338', content-type: application/json;
        charset=utf-8, date: 'Wed, 14 Aug 2019 22:13:43 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault32f70fb3.vault.azure.net,
        /deletedkeys, api-version=7.0, '']
version: 1
