interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/rsa-key-name/create?api-version=7.1-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://wf5vmb7xo7ghavwyx77jyl4p.vault.azure.net/keys/rsa-key-name/create?api-version=7.1-preview
- request:
    body: '{"kty": "RSA", "key_size": 2048}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/rsa-key-name/create?api-version=7.1-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/rsa-key-name/ec68c35c7b3147aeac21be3d10673019","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zo73DQRB-hznZWfFinqCp_PFgxRj_g4P5JjSdux1PwD8SqqirMUmrHcKPUv_uNYNIhNhf_3OeSkuvLipUY8YNFJniH1aChAmc8w792VZLDDn3mp7lohEbS9t21BG_HJDRbe56m3LUaCKrtYZ9Wfgv-DgpIatLZLXN10VTmf80_mj93Thx9c19kGC238idKo3TAitXDEdE27yd81y6XIvzoBTx7C1fLKitvG_J81NvcSIuASXvJRHqJyKWHSwejTr5X0jMO0PnsGggxbylj9B1ZwCy51Tm7hJEPHeV3_En51QmsaFIUYfYQktNSYIwb_X82bkZSxqjrTU803LdXcyzQ","e":"AQAB"},"attributes":{"enabled":true,"created":1583451969,"updated":1583451969,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://wf5vmb7xo7ghavwyx77jyl4p.vault.azure.net/keys/rsa-key-name/create?api-version=7.1-preview
version: 1
