{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestencrypt-local311f30a9/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestencrypt-local311f30a9/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 4096
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestencrypt-local311f30a9/33fad79ff29043c6b2a308c4a07562f4",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1myNYV0LOW974tZgRVxLuydsmSLXEhjg3KN_l_vYbRmTFbSD8wxKJoggqLtqxPITZjhASGWa26Iehdz2FMUFkY7vqFpq7sdDiVg6xijMxVKdmEE0ShPkA6ed5EIQgn7lRH7p2RCZNHjdKRfBj2TGsPS6qLQXqTO64rLbvySA4UFWlMIC-tcMVOdM5mTjwCukl-czjTCKS_gX0SNxHotUwG5GUx9redqJ5LfAQ0ruIne6rQ0Yv4REA6QcP7XIeRWWwzClOgY4MKnQt43SGc3jxSPdUyWsd0fRTZ6SqdUc-JBjil707-LczhNVnQ8IL_B8OktvyAlPzSaOejoqZoaUN8JL-Di_EmBjgZVMK0fqlk786UJBjTvzVfPkBERf3TfbgZ1CL7-1rl1dgun6mh7ywfz3TMR0tfXM_iYCj-RJmswP60Yq4Lc2VvKbyZHMPo5fgsQD_-jI6fQIp0Wbx5amPmMLrfwn-oa5OguvYCVbpCSFaByeMYL5OAU4SSDyW-TODZF-lIPPRO9wrprotFOCt8jP5x2lsbfMTCBzys4eFyPoboVyzMffts6pPRCI6a8Xd4MlUAzCRF1EOEnWOR6ruGbCCcIueqHd2GtDXk9K4PE4ddoW1Nh6abrWxWpX-MCtdQIZzg6knrZASyU0-JouC2VLJLxKR9rGFWfeNaP9SnE",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650638313,
          "updated": 1650638313,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestencrypt-local311f30a9/33fad79ff29043c6b2a308c4a07562f4/decrypt?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "CRLn8KXwY-OwaxMnIQkVYiljIU9xrhbXpy93Q3QDyMAyhxRDPeOoyWJ0Ve5SqFUDbCmV1CrWdFuQYskh3q7EoPCLAlR2C_Ydcd4Y5ZErGaFi4het7tXbb88N3SNphRUjmbLCxGsItfX2so7_Dc-gQiSHRNrQHtsU3Qyou_f4gINg_VWbb7TKJgt8H0iGnJtqo6ddLJiLb35dIO1wO5eQyYDGjHCDW7ZmiLXLLvPCJ9vnL_ezMINhonkFJ6h7Qacqxs0YpUaTqzUgmXYHNR2fH7BVYqLhh0u1a9G9FvV0D-ZonbL6S8GiLC7-CEuzQDGY_sj7IsnIN8fDdTcUuM_I4ZFacEJ5HMwwvRy9rlA0-k7b7kU3AHDUSSse0Z2h3OZ17PYs0d2snHfqv7ruu7cjaL23Ewj6vhgmB3S0s9KrsOAd5iGruWElOWgkzuJNL7KWlsdhB2OlOTou79DrvlGBvkpskBJh1axHhGzooWvbvYyNKVSi9IPgs3BIswa9z1aQ93l_gHzMQf4T9snhyta6dzItEgEvzRe0zTrXVXWjsiOLux1uNEG3ox--q39axsr0MpmzJqkc440EYnSskC2DeFNFn16UMlMT73YHcYFIEJEVgCUqUNc94LmaNAGNt5BRV0o_6WGksa76hypRg_vKWkFCuQx4MC_ukhRVkdukkjk"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestencrypt-local311f30a9/33fad79ff29043c6b2a308c4a07562f4",
        "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"
      }
    },
[...]
