interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultxvztaf9e12b1.vault.azure.net/keys/keywrapaf9e12b1/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Wed, 14 Aug 2019 17:16:03 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultxvztaf9e12b1.vault.azure.net,
        /keys/keywrapaf9e12b1/create, api-version=7.0, '']
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultxvztaf9e12b1.vault.azure.net/keys/keywrapaf9e12b1/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vaultxvztaf9e12b1.vault.azure.net/keys/keywrapaf9e12b1/9641b2a2661b4f208c300d4ae7046753","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"qRUn782WzvLFMAkejIkQO5oEVROk5Vs4_Hvaa_71JEpjOURYZrcThVVuq-R1iMjD3celspt9PalrdrlLKSbJLY84MFM-Rp77719rxOAV7jGMWPghNc2QdYE_wZW_lRopW2F0n_HphfdgXiKpvQ33fD_n3K7j3JTh5lH2SsKmPoxTAdPYLUiyclfoPGjrJ2X1rfAL7KH1VTzD-cjljdmuCHtMAOsCwqk31W66kVelELjkK6cSGkX6q01xVO7N29ap3gf5NhxcW-mzOgJ1BXIZaRbbHANZdzs9BKjB-znAJocMqch6QncneZBcxdSkuM5YeLC3KS4_oRE5yNO3YTt3Mw","e":"AQAB"},"attributes":{"enabled":true,"created":1565802964,"updated":1565802964,"recoveryLevel":"Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '655', content-type: application/json;
        charset=utf-8, date: 'Wed, 14 Aug 2019 17:16:04 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultxvztaf9e12b1.vault.azure.net,
        /keys/keywrapaf9e12b1/create, api-version=7.0, '']
- request:
    body: '{"alg": "RSA-OAEP", "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultxvztaf9e12b1.vault.azure.net/keys/keywrapaf9e12b1/9641b2a2661b4f208c300d4ae7046753/wrapkey?api-version=7.0
  response:
  [...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "A_KAEQs5OjcjqhbxIwePvfGW-PFubEIyZqXIRL9fxA0nCQ4gl2w9nooVOGytw3gGDnJ7nHD3p-l2YtiNGsoiKyTtPQVwuYG-1z0sQZcDc563lR-6hJr8JjPCS5k7S6vcjRBY2xqy5lBBV3HSAs8PqSSc_pDNcANHd1ngWYXeBWImW3mPU2PzwwBUuRFMu6CjNdHBZ58vr0hYPsK_-ecp1-lGX8pCFXcYZoSHb7-W6hB76kwJsn10Y_AkigJ4ZcL1hdmFhFK3krEY0WKt8bMUq1DxdOeGVG1-5729swIVLMuTEdKE_7qNyy6GKq5ZsoZC1y4Nb_KiNUKhZbNuvG39Jg"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://v[...]
