interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name4a621c71/create?api-version=2016-10-01
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name4a621c71/create?api-version=2016-10-01
- request:
    body: '{"key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey", "unwrapKey"],
      "key_size": 2048, "kty": "RSA", "attributes": {"exp": 2527401600}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name4a621c71/create?api-version=2016-10-01
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name4a621c71/ac85175342ef456db6e5b71c667123d0","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"xJljPz4im1qNNGFlOOuq3LM0QBBsH_RT_RdwDVaesGEgEvNC9ultgBXUd8UGji4kEweneEhonyu9X6M26dj6J6eOYsCeICVPTG_smIII8UXYmoVslEGqkpJKR2Qw4YIaxR-8JLR8mXdSOvc4kOoslSddljSZrS04yaIRqr5Usnlvwkif0x3qna0wty_f-_ehEjsgIc1-Rk7qNC02MFZ137Y-5Pt7sP5pgDkBBma4FcZQicrU-cNE7oI344CvfhAlqSfhpYkH-l073Dg_3mITA0KfDc6XazCRRJdZafH-zGf24TD1fz-2nUkz0ADwhqPEosGD-5Bpi5bq1pHBz7d83Q","e":"AQAB"},"attributes":{"enabled":true,"exp":2527401600,"created":1618950604,"updated":1618950604,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name4a621c71/create?api-version=2016-10-01
[...]
- request:
    body: '{"crv": "P-256", "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name4a621c71/create?api-version=2016-10-01
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name4a621c71/90ff076441bc4efab68ae4dd991822f4","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"rQi0gaYGWtxWXjPhl9uz0Pygh_PkamLQLNpZfWozFSU","y":"FadNqug4dNVBcg7yxHJCX5DG9Imc64dcEmF445_xycM"},"attributes":{"enabled":true,"created":1618950605,"updated":1618950605,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name4a621c71/create?api-version=2016-10-01
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name4a621c71/?api-version=2016-10-01
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name4a621c71/90ff076441bc4efab68ae4dd991822f4","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"rQi0gaYGWtxWXjPhl9uz0Pygh_PkamLQLNpZfWozFSU","y":"FadNqug4dNVBcg7yxHJCX5DG9Imc64dcEmF445_xycM"},"attributes":{"enabled":true,"created":1618950605,"updated":1618950605,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name4a621c71/?api-version=2016-10-01
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name4a621c71/90ff076441bc4efab68ae4dd991822f4?api-version=2016-10-01
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name4a621c71/90ff076441bc4efab68ae4dd991822f4","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"rQi0gaYGWtxWXjPhl9uz0Pygh_PkamLQLNpZfWozFSU","y":"FadNqug4dNVBcg7yxHJCX5DG9Imc64dcEmF445_xycM"},"attributes":{"enabled":true,"created":1618950605,"updated":1618950605,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name4a621c71/90ff076441bc4efab68ae4dd991822f4?api-version=2016-10-01
- request:
    body: '{"attributes": {"exp": 2524723200}, "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name4a621c71/?api-version=2016-10-01
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name4a621c71/90ff076441bc4efab68ae4dd991822f4","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"rQi0gaYGWtxWXjPhl9uz0Pygh_PkamLQLNpZfWozFSU","y":"FadNqug4dNVBcg7yxHJCX5DG9Imc64dcEmF445_xycM"},"attributes":{"enabled":true,"exp":2524723200,"created":1618950605,"updated":1618950606,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name4a621c71/?api-version=2016-10-01
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name4a621c71?api-version=2016-10-01
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name4a621c71","deletedDate":1618950606,"scheduledPurgeDate":1626726606,"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name4a621c71/90ff076441bc4efab68ae4dd991822f4","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"rQi0gaYGWtxWXjPhl9uz0Pygh_PkamLQLNpZfWozFSU","y":"FadNqug4dNVBcg7yxHJCX5DG9Imc64dcEmF445_xycM"},"attributes":{"enabled":true,"exp":2524723200,"created":1618950605,"updated":1618950606,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name4a621c71?api-version=2016-10-01
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name4a621c71?api-version=2016-10-01
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: livekvtestkey-name4a621c71"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://mcpatinotest.vault.azure.net/deletedkeys/livekvtestkey-name4a621c71?api-version=2016-10-01
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name4a621c71?api-version=2016-10-01
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name4a621c71","deletedDate":1618950606,"scheduledPurgeDate":1626726606,"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name4a621c71/90ff076441bc4efab68ae4dd991822f4","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"rQi0gaYGWtxWXjPhl9uz0Pygh_PkamLQLNpZfWozFSU","y":"FadNqug4dNVBcg7yxHJCX5DG9Imc64dcEmF445_xycM"},"attributes":{"enabled":true,"exp":2524723200,"created":1618950605,"updated":1618950606,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/deletedkeys/livekvtestkey-name4a621c71?api-version=2016-10-01
version: 1
