interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/crud-ec-key/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://i6fd46ts2xjtdkacaz53zerw.vault.azure.net/keys/crud-ec-key/create?api-version=7.1
- request:
    body: '{"kty": "EC-HSM", "attributes": {"enabled": true}, "tags": {"purpose":
      "unit test", "test name": "CreateECKeyTest"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/crud-ec-key/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/crud-ec-key/e4d13de0a2794526a2340d9a6b3e6539","kty":"EC-HSM","key_ops":["sign","verify"],"crv":"P-256","x":"jFCkNCuTb7TmxORBDbhqRnMQ9xcIrHZSuUsPf3Wi2uA","y":"NC0IVYbXAsuG30o2f9zVC0R0_m4MIA76G6SF_xsT6D4"},"attributes":{"enabled":true,"created":1596039209,"updated":1596039209,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"purpose":"unit
        test","test name":"CreateECKeyTest"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://i6fd46ts2xjtdkacaz53zerw.vault.azure.net/keys/crud-ec-key/create?api-version=7.1
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/crud-P-256-ec-key/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/crud-P-256-ec-key/220f9522b3604279bc5fa776eed23eec","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"hma-JfkFCMAmdAq0wGPxQS0qmpGUwJBqxqN8Fz1nZ5Q","y":"DwExFo6Xw6PJTdCs4wsArECYCDqCJ_lbW5aMPTjLGEw"},"attributes":{"enabled":true,"created":1596039209,"updated":1596039209,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://i6fd46ts2xjtdkacaz53zerw.vault.azure.net/keys/crud-P-256-ec-key/create?api-version=7.1
- request:
    body: '{"key": {"kty": "RSA", "key_ops": ["encrypt", "decrypt", "sign", "verify",
      "wrapKey", "unwrapKey"], "n": "AKCRTQAjSsaDshtMFdW-2Ie9yVnC5Xr1Suc06PAHINd10nXkVSB-N4TO62ClCkZV3XKnqU0nHo7o95WaZpym53W_DiO62umRtFKdl4UotL2QUh0y3SZWeWuoK2u_x2aMj17rUFN0f9GZMZ0pqEQNCPRBLVJ_-TEe2nGCWSC0exxGsRqz6R1zFkB-icfzQPe4WjQELOUXQ7J9RxhAPTTHtDivYYG-BeTRHrmF04JT1_6b9T_C8bAC0i0teT-nmlBLarQtBJKATXBx1yegbPOoiTqlQrFQP4MrKWNxtnB9Tcbjcvj-Z9je0ckI_eRc4DvAhqcUh_p15Dqg4GeaoNIO_jU",
      "e": "AQAB", "d": "Ynx9JGaBSP4iUsf6ZJ6opantRNdcdmzaQrKbZg6ZQE8Ohi1FYabJWvaoPSE-CiJEsDzShXZHMhUHN4X7Bn8BXaGQhK3p9HXgiwQKmix7oAJTu4ElUIyd8UC3UWHSZr40el4PaQD-HYu_eMzCXus34MnRiNbh_BUWm6T-Eidhk9d3kNIyaSi9YNDQHW6tjWrEhhq63O7JU1j9ZonFChZxpKk20jdkQKQURVAdpOdL-5j4I70ZxFuU6wHZj8DS8oRQfwGOvZKbgYDb5jgf3UNL_7eACqq92XPVX56vm7iKbqeyjCqAIx5y3hrSRIJtZlWCwjYnYQGd4unxDLi8wmJWSQ",
      "dp": "AMmhWb5yZcu6vJr8xJZ-t0_likxJRUMZAtEULaWZt2DgODj4y9JrZDJP6mvckzhQP0WXk2NuWbU2HR5pUeCN2wieG1B76VKoH76vfnaJDqT1NuJVBcP2SLHog3ffwZtMME5zjfygchG3kihqOSpwTQ9ETAqAJTkRC38fEhwAz_Cp",
      "dq": "AKC9TAo9n2RDaggjdLXK8kiLrBVoaWFTpqXkzYXRhtsx4vWPAkxhfSnze05rVMl6HiXv7FnE0f0wYawzUJzoyuXBH0zS6D9BqCZPeF543AmWB27iPf38Q9Z8Rjr6oBgMSnGDV_mm8nDVQkeaDyE4cOZh-5UKvKShTKKQVwunmDNH",
      "qi": "AJ_nrkLpK8BPzVeARkvSHQyKwMWZ-a8CD95qsKfn0dOZAvXY-2xhQYTEwbED-0bpTNEKbIpA-ZkaHygmnzJkNbbFAnb9pkkzU8ZQqDP3JNgMfVIroWx58Oth9nJza2j7i-MkPRCUPEq3Ao0J52z7WJIiLji8TTVYW_NaiM1oxzsH",
      "p": "ANHerI1o3dLB_VLVmZZVss8VZSYN5SaeQ_0qhfOSgOFwj__waCFmy2EG7l6l6f_Z-Y0L7Mn_LNov68lyWSFa2EuQUeVj4UoFHc5Di8ZUGiSsTwFM-XMtNuv8HmGgDYLL5BIJD3eTz71LdgW-Ez38OZH34b7VeG8zfeUDb8Hi30zz",
      "q": "AMPcZrZBqbc82DO8Q5zTT8ZXRGWrW36KktMllaIk1W2RHnRiQiW0jBWmcCgqUcQNHa1LwumjyNqwx28QBS37BTvG7ULGUoio6LrOeoiBGEMj-U19sX6m37plEhj5[...]
- request:
    body: '{"kty": "RSA", "key_size": 2048, "key_ops": ["encrypt", "decrypt", "sign",
      "verify", "wrapKey", "unwrapKey"], "tags": {"purpose": "unit test", "test name
      ": "CreateRSAKeyTest"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/crud-rsa-key/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/crud-rsa-key/860cefb4e5e24b4f8f5354737ce77b45","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"u_dgRfiaV_uu08uZ0m1d-wiH32bVHrpqVWNzghrqIc-lcG2s1GhabX3DO_C6Kw1F2NeqjdNlxsRa3E1PfE35OjvaDhL54NV43BDJkh6mP9FXf17H3-JeLHXfAY0VcsmjumYDcSjwBwPZKhX8Dt9p0ySq29ZRKnJ-pG0oXK40DlFFhO02ZE9SQ3sn8iRle526c_K87wHeMvUGELp5s1qoYe06bm80UzRAOSKeu_afv1NcJE4fH0VRo3aEadb616aF58-LFKAysQl2iO0HnJa3I91ntvj2AMRihn6-6QUUleSA_Bq3JaQ-hN83hPMgzaSGwGPUZNmzNw8VrCv_mE9AeQ","e":"AQAB"},"attributes":{"enabled":true,"created":1596039210,"updated":1596039210,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://i6fd46ts2xjtdkacaz53zerw.vault.azure.net/keys/crud-rsa-key/create?api-version=7.1
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/crud-rsa-key/860cefb4e5e24b4f8f5354737ce77b45?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/crud-rsa-key/860cefb4e5e24b4f8f5354737ce77b45","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"u_dgRfiaV_uu08uZ0m1d-wiH32bVHrpqVWNzghrqIc-lcG2s1GhabX3DO_C6Kw1F2NeqjdNlxsRa3E1PfE35OjvaDhL54NV43BDJkh6mP9FXf17H3-JeLHXfAY0VcsmjumYDcSjwBwPZKhX8Dt9p0ySq29ZRKnJ-pG0oXK40DlFFhO02ZE9SQ3sn8iRle526c_K87wHeMvUGELp5s1qoYe06bm80UzRAOSKeu_afv1NcJE4fH0VRo3aEadb616aF58-LFKAysQl2iO0HnJa3I91ntvj2AMRihn6-6QUUleSA_Bq3JaQ-hN83hPMgzaSGwGPUZNmzNw8VrCv_mE9AeQ","e":"AQAB"},"attributes":{"enabled":true,"created":1596039210,"updated":1596039210,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://i6fd46ts2xjtdkacaz53zerw.vault.azure.net/keys/crud-rsa-key/860cefb4e5e24b4f8f5354737ce77b45?api-version=7.1
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/crud-rsa-key/?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/crud-rsa-key/860cefb4e5e24b4f8f5354737ce77b45","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"u_dgRfiaV_uu08uZ0m1d-wiH32bVHrpqVWNzghrqIc-lcG2s1GhabX3DO_C6Kw1F2NeqjdNlxsRa3E1PfE35OjvaDhL54NV43BDJkh6mP9FXf17H3-JeLHXfAY0VcsmjumYDcSjwBwPZKhX8Dt9p0ySq29ZRKnJ-pG0oXK40DlFFhO02ZE9SQ3sn8iRle526c_K87wHeMvUGELp5s1qoYe06bm80UzRAOSKeu_afv1NcJE4fH0VRo3aEadb616aF58-LFKAysQl2iO0HnJa3I91ntvj2AMRihn6-6QUUleSA_Bq3JaQ-hN83hPMgzaSGwGPUZNmzNw8VrCv_mE9AeQ","e":"AQAB"},"attributes":{"enabled":true,"created":1596039210,"updated":1596039210,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://i6fd46ts2xjtdkacaz53zerw.vault.azure.net/keys/crud-rsa-key/?api-version=7.1
- request:
    body: '{"attributes": {"exp": 2524723200}, "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://vaultname.vault.azure.net/keys/crud-rsa-key/?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/crud-rsa-key/860cefb4e5e24b4f8f5354737ce77b45","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"u_dgRfiaV_uu08uZ0m1d-wiH32bVHrpqVWNzghrqIc-lcG2s1GhabX3DO_C6Kw1F2NeqjdNlxsRa3E1PfE35OjvaDhL54NV43BDJkh6mP9FXf17H3-JeLHXfAY0VcsmjumYDcSjwBwPZKhX8Dt9p0ySq29ZRKnJ-pG0oXK40DlFFhO02ZE9SQ3sn8iRle526c_K87wHeMvUGELp5s1qoYe06bm80UzRAOSKeu_afv1NcJE4fH0VRo3aEadb616aF58-LFKAysQl2iO0HnJa3I91ntvj2AMRihn6-6QUUleSA_Bq3JaQ-hN83hPMgzaSGwGPUZNmzNw8VrCv_mE9AeQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1596039210,"updated":1596039211,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://i6fd46ts2xjtdkacaz53zerw.vault.azure.net/keys/crud-rsa-key/?api-version=7.1
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/crud-rsa-key?api-version=7.1
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/crud-rsa-key","deletedDate":1596039211,"scheduledPurgeDate":1603815211,"key":{"kid":"https://vaultname.vault.azure.net/keys/crud-rsa-key/860cefb4e5e24b4f8f5354737ce77b45","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"u_dgRfiaV_uu08uZ0m1d-wiH32bVHrpqVWNzghrqIc-lcG2s1GhabX3DO_C6Kw1F2NeqjdNlxsRa3E1PfE35OjvaDhL54NV43BDJkh6mP9FXf17H3-JeLHXfAY0VcsmjumYDcSjwBwPZKhX8Dt9p0ySq29ZRKnJ-pG0oXK40DlFFhO02ZE9SQ3sn8iRle526c_K87wHeMvUGELp5s1qoYe06bm80UzRAOSKeu_afv1NcJE4fH0VRo3aEadb616aF58-LFKAysQl2iO0HnJa3I91ntvj2AMRihn6-6QUUleSA_Bq3JaQ-hN83hPMgzaSGwGPUZNmzNw8VrCv_mE9AeQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1596039210,"updated":1596039211,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://i6fd46ts2xjtdkacaz53zerw.vault.azure.net/keys/crud-rsa-key?api-version=7.1
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/crud-rsa-key?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: crud-rsa-key"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://i6fd46ts2xjtdkacaz53zerw.vault.azure.net/deletedkeys/crud-rsa-key?api-version=7.1
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/crud-rsa-key?api-version=7.1
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/crud-rsa-key","deletedDate":1596039211,"scheduledPurgeDate":1603815211,"key":{"kid":"https://vaultname.vault.azure.net/keys/crud-rsa-key/860cefb4e5e24b4f8f5354737ce77b45","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"u_dgRfiaV_uu08uZ0m1d-wiH32bVHrpqVWNzghrqIc-lcG2s1GhabX3DO_C6Kw1F2NeqjdNlxsRa3E1PfE35OjvaDhL54NV43BDJkh6mP9FXf17H3-JeLHXfAY0VcsmjumYDcSjwBwPZKhX8Dt9p0ySq29ZRKnJ-pG0oXK40DlFFhO02ZE9SQ3sn8iRle526c_K87wHeMvUGELp5s1qoYe06bm80UzRAOSKeu_afv1NcJE4fH0VRo3aEadb616aF58-LFKAysQl2iO0HnJa3I91ntvj2AMRihn6-6QUUleSA_Bq3JaQ-hN83hPMgzaSGwGPUZNmzNw8VrCv_mE9AeQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1596039210,"updated":1596039211,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://i6fd46ts2xjtdkacaz53zerw.vault.azure.net/deletedkeys/crud-rsa-key?api-version=7.1
version: 1
