interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name9627173e/create?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name9627173e/create?api-version=7.2-preview
- request:
    body: '{"key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey", "unwrapKey"],
      "kty": "RSA", "key_size": 2048, "attributes": {"exp": 2527401600}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name9627173e/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name9627173e/0e3904b4754e4abbba5b61ef1743470b","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"l2E8VI2uMA1rQr4MLCYiisSo8Iewcs33rR6MRvzaFS9vgSi1efQpaUZi_SyUZoN7AAfHQ6q7mJekezTtQ9ZBvrfxlp1p3B5hUoAckkUb470cWSwLRdY5i0PArmVb1lYqXKY6dQb9w-joN0aotfSqEd1QdFR8vv0LowDgNU1VSTI5dCXdIcSQW7vWPaSEZi91CTQwPSlEPDEkGvlqQW_C54lxIyUi9RObo1cZr3H2-t58sAGXa59PDH8f8z8Ex2ZFucwOsX3YFBXQPi7yJUfe2D25XaAsLVa42mpXRMxZuGpSQjgz-OYJ6EhfCCiFNy9FBoJJtUItkGUnFO_VeYravQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2527401600,"created":1612579418,"updated":1612579418,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name9627173e/create?api-version=7.2-preview
[...]
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name9627173e/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name9627173e/dfcb7d90e98b40c89d9241314f04b9ba","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"5kniU1TD8HjKYR5QQSDd_Rl6Oo94h5oXLvx2GNzhIz4","y":"Bb20-F52VVu1SLeURIF8tsKqtmDlbTjM992dtRrjZmg"},"attributes":{"enabled":true,"created":1612579419,"updated":1612579419,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name9627173e/create?api-version=7.2-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name9627173e/?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name9627173e/dfcb7d90e98b40c89d9241314f04b9ba","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"5kniU1TD8HjKYR5QQSDd_Rl6Oo94h5oXLvx2GNzhIz4","y":"Bb20-F52VVu1SLeURIF8tsKqtmDlbTjM992dtRrjZmg"},"attributes":{"enabled":true,"created":1612579419,"updated":1612579419,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name9627173e/?api-version=7.2-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name9627173e/dfcb7d90e98b40c89d9241314f04b9ba?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name9627173e/dfcb7d90e98b40c89d9241314f04b9ba","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"5kniU1TD8HjKYR5QQSDd_Rl6Oo94h5oXLvx2GNzhIz4","y":"Bb20-F52VVu1SLeURIF8tsKqtmDlbTjM992dtRrjZmg"},"attributes":{"enabled":true,"created":1612579419,"updated":1612579419,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name9627173e/dfcb7d90e98b40c89d9241314f04b9ba?api-version=7.2-preview
- request:
    body: '{"tags": {"foo": "updated tag"}, "attributes": {"exp": 2524723200}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name9627173e/?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name9627173e/dfcb7d90e98b40c89d9241314f04b9ba","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"5kniU1TD8HjKYR5QQSDd_Rl6Oo94h5oXLvx2GNzhIz4","y":"Bb20-F52VVu1SLeURIF8tsKqtmDlbTjM992dtRrjZmg"},"attributes":{"enabled":true,"exp":2524723200,"created":1612579419,"updated":1612579420,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name9627173e/?api-version=7.2-preview
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name9627173e?api-version=7.2-preview
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name9627173e","deletedDate":1612579420,"scheduledPurgeDate":1620355420,"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name9627173e/dfcb7d90e98b40c89d9241314f04b9ba","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"5kniU1TD8HjKYR5QQSDd_Rl6Oo94h5oXLvx2GNzhIz4","y":"Bb20-F52VVu1SLeURIF8tsKqtmDlbTjM992dtRrjZmg"},"attributes":{"enabled":true,"exp":2524723200,"created":1612579419,"updated":1612579420,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name9627173e?api-version=7.2-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name9627173e?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: livekvtestkey-name9627173e"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://mcpatinotest.vault.azure.net/deletedkeys/livekvtestkey-name9627173e?api-version=7.2-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name9627173e?api-version=7.2-preview
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name9627173e","deletedDate":1612579420,"scheduledPurgeDate":1620355420,"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name9627173e/dfcb7d90e98b40c89d9241314f04b9ba","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"5kniU1TD8HjKYR5QQSDd_Rl6Oo94h5oXLvx2GNzhIz4","y":"Bb20-F52VVu1SLeURIF8tsKqtmDlbTjM992dtRrjZmg"},"attributes":{"enabled":true,"exp":2524723200,"created":1612579419,"updated":1612579420,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/deletedkeys/livekvtestkey-name9627173e?api-version=7.2-preview
version: 1
