{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name93002f5d/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name93002f5d/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name93002f5d/5aa0b1bbe0de42d6b7a426ee9123ac94",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pD9KfqAX0oOGrovBTIazomcWj9edTk8ZAJZ-S8nQFa4VZQXQXr4XKWFDIzAg9SRcQ-GOGbgZIKpa2WEclAl4nEbjDjGLuwKOXtbw8xsmH8EuFEj1AvpCPiwvdXq2zvIEZHDjdHmVKXnfQ_ZQY9Dn8YYl2gUVIgCG-9spQ6IZYTohkq308qNaAsN-pCQ9x8fesfxuOAJooKAns_5TgNEZmSuE_bsijTXrmEtzqlcNAKAbldUSRvj7hGSgsqZ2M3SG0BEs9NJAN7Qfk8KUBov04IQufEEOeKV-70jlDGS881hOrzi9QvmyBj_B4hdwqUHKgONSjhhqn6cD-d0x4FiBrQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650666420,
          "updated": 1650666420,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name93002f5d/5aa0b1bbe0de42d6b7a426ee9123ac94?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name93002f5d/5aa0b1bbe0de42d6b7a426ee9123ac94",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pD9KfqAX0oOGrovBTIazomcWj9edTk8ZAJZ-S8nQFa4VZQXQXr4XKWFDIzAg9SRcQ-GOGbgZIKpa2WEclAl4nEbjDjGLuwKOXtbw8xsmH8EuFEj1AvpCPiwvdXq2zvIEZHDjdHmVKXnfQ_ZQY9Dn8YYl2gUVIgCG-9spQ6IZYTohkq308qNaAsN-pCQ9x8fesfxuOAJooKAns_5TgNEZmSuE_bsijTXrmEtzqlcNAKAbldUSRvj7hGSgsqZ2M3SG0BEs9NJAN7Qfk8KUBov04IQufEEOeKV-70jlDGS881hOrzi9QvmyBj_B4hdwqUHKgONSjhhqn6cD-d0x4FiBrQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650666420,
          "updated": 1650666420,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name93002f5d/5aa0b1bbe0de42d6b7a426ee9123ac94/encrypt?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "cGxhaW50ZXh0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name93002f5d/5aa0b1bbe0de42d6b7a426ee9123ac94",
        "value": "ahzbYEbvlyNHFpRgxKA22WH-XHdQEyECFRd1LyBmGsGgDk4QJCx1WD6VD8aKZQAviarVkgyb22aQAnluIExb6NP7OjTj0yxfJDPZFcnoiwt6jr63Bmwhzesz75bDs7lJXWqk9BgNi1cEKL-0NqbJngoCo9dbv7zh-HHsgv4n-E0e47F17lvcTNjc4tYkXbaaHQtMYUnFqhscHd0vBxr6WdHf4Wdoh3ZG9eZNEhuYj42aDE555XQTJqIzxEN2MXkIYrsWlPBd8mgzBKlFJmQ2IKrh6Kg71F2lfnxKANQAYCfUXXeGuxeNCSjrLHmuLASCtNnRfwvG3gGAK_6LXnX0Zg"
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name93002f5d/5aa0b1bbe0de42d6b7a426ee9123ac94/decrypt?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "ahzbYEbvlyNHFpRgxKA22WH-XHdQEyECFRd1LyBmGsGgDk4QJCx1WD6VD8aKZQAviarVkgyb22aQAnluIExb6NP7OjTj0yxfJDPZFcnoiwt6jr63Bmwhzesz75bDs7lJXWqk9BgNi1cEKL-0NqbJngoCo9dbv7zh-HHsgv4n-E0e47F17lvcTNjc4tYkXbaaHQtMYUnFqhscHd0vBxr6WdHf4Wdoh3ZG9eZNEhuYj42aDE555XQTJqIzxEN2MXkIYrsWlPBd8mgzBKlFJmQ2IKrh6Kg71F2lfnxKANQAYCfUXXeGuxeNCSjrLHmuLASCtNnRfwvG3gGAK_6LXnX0Zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name93002f5d/5aa0b1bbe0de42d6b7a426ee9123ac94",
        "value": "cGxhaW50ZXh0"
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name93002f5d/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name93002f5d/5aa0b1bbe0de42d6b7a426ee9123ac94",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pD9KfqAX0oOGrovBTIazomcWj9edTk8ZAJZ-S8nQFa4VZQXQXr4XKWFDIzAg9SRcQ-GOGbgZIKpa2WEclAl4nEbjDjGLuwKOXtbw8xsmH8EuFEj1AvpCPiwvdXq2zvIEZHDjdHmVKXnfQ_ZQY9Dn8YYl2gUVIgCG-9spQ6IZYTohkq308qNaAsN-pCQ9x8fesfxuOAJooKAns_5TgNEZmSuE_bsijTXrmEtzqlcNAKAbldUSRvj7hGSgsqZ2M3SG0BEs9NJAN7Qfk8KUBov04IQufEEOeKV-70jlDGS881hOrzi9QvmyBj_B4hdwqUHKgONSjhhqn6cD-d0x4FiBrQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650666420,
          "updated": 1650666420,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name93002f5d/5aa0b1bbe0de42d6b7a426ee9123ac94/decrypt?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "R3cD0UmrcDk_N7l335RJxfr1pSQAd90UtkseMBkSHAgwupSBEoqI-rgLuphwEQnHkmcystpWCWvZUDr365wlJY6JTnESk9tOvz7tL2LGEN3MptkvuG35elnETfn_IGNHyaSTyfOPnRYc5w9COE2ARoocENwTS2kKOaltVAVOq_3-1LWbnWmVD0QH80Sip4kxrg9eCdshxW109odgWE5tz8SCZRbqmdgwvNpjMFEf_Q4zGx8mQkd0Gmct0_DouXWqFhi1Aj0bVKaNaXAYOOgFLROesoIBD-JrzrfITMnXJoiNneQ96e8AHEPR1paGI48gDsgvWFXC43w60VxPLldvYQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name93002f5d/5aa0b1bbe0de42d6b7a426ee9123ac94",
        "value": "cGxhaW50ZXh0"
      }
    }
  ],
  "Variables": {}
}
