interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.netkeys/livekvtestrsa-not-yet-validacd61793/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"nbf": 32503680000}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.netkeys/livekvtestrsa-not-yet-validacd61793/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.netkeys/livekvtestrsa-not-yet-validacd61793/afe235f4fa2148d996a9416273d231fe","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"8LfxnUPe62qrCnZczj7v7li88MOA5idxiGo4yoppuxwg16VpkLtH8tq91_9reDa7mm850_vbpYY0IXIYhF41xp8kS9ToRmgMdRq0_z-qinvVw60-p41UWZIEzOr5SkJUj5-OCP6AW0QXO22ytSzt8GytEK2iOpL-mkr1mg6xBDjVtJyJPu0rWCae_yOu69pU9O0KooOX1OJ0HeUi6BpiWarxkHo9oM5QOFRqGxoaJ2L2PvA2ZQOGC1V8koITcd43-MlquRqmpd8dDosifvRCEOJYCA1QWOuLR4wKQK_75g5LdErWQ9OX5mZpGxFHnGL-0Zu417a-Q9dOUt0dsZgv9Q","e":"AQAB"},"attributes":{"enabled":true,"nbf":32503680000,"created":1612482054,"updated":1612482054,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "RSA", "attributes": {"exp": 946684800}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.netkeys/livekvtestrsa-expiredacd61793/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.netkeys/livekvtestrsa-expiredacd61793/61e3508c73af417c970abbc1e8873b3b","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"yTw3ZDgmEVltrgXv0OKgJwPyxBEMGzO-dJvojCetmWw02l2j7iNjVxIgV_IhtfsafR9RkYGbBxk0FoNhcmLmEcZ_Hf1-iXaKSghaU8zforJ6769pDxTIZdgMuiuoexKNWXLEWVsr22N8GWJffc8dcp1O1OBy1wlUGtZCpMnw5JoUcj_kj6VOrLL8kqzrVA5Wnmd8CBZ3flr1FuS4u-3EphXHwzeVzok8KlPNvL_RNXcZmMyX7u_97PaJQQbfyKNOEL1uE5DrUvxvoZz03BlA0wm6BL9QnhMHRLUdw-CGcV674rKCWRV1L4HpwJf5LHCnNpA0pdZQ1QcN8L2igPWtsQ","e":"AQAB"},"attributes":{"enabled":true,"exp":946684800,"created":1612482054,"updated":1612482054,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "RSA", "attributes": {"nbf": 32503680000, "exp": 32535216000}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.netkeys/livekvtestrsa-validacd61793/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.netkeys/livekvtestrsa-validacd61793/08112fb305b047e18f99d17872a2548e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"ugXKKfpzhw2rNt_beoDVL3aVguzAJ3NlN1KdyqFomHQityiGeZe699UxumVYWdpUuuYUgz05f6c_Gm543-4x9dNIMP_pGT0HH806X5M4CPOFyNTqZBwUMtJr1h2m2r9fykmWCIfjyhJ1E8Vqw8MCSJZWqvK3XDKIUgapTt0y1yvABuaHLgt_6o_ZBUSgJDc1GPRhszmP-Nth7gVHnuao_xI0mGQ_Z4Xg9TCk8M0Tgilks4Pt4Jdk8jNBggg7k4_4v9xlYNsJk6FPRdGi2c0ZSNOOpHLS_m0DUrGMTVIhY_yvMVjbboNEnbqHp0qCc2M5AjkRFs-mfrtC0_O8CQ3o0Q","e":"AQAB"},"attributes":{"enabled":true,"nbf":32503680000,"exp":32535216000,"created":1612482055,"updated":1612482055,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
