{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsakeyd992e13/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsakeyd992e13/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsakeyd992e13/ce64944eb2c6444dacf99f18c16be2f6",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zoQCqCToCgUs6RmnO8zKypVUqiOhSfFtSe39o511dEn6oGjfnDAGs8S8Np3vrQmZibf4t-Q8R57MZ0AmrW8cXHMjZ_2Oc4tn_W2VOnYf0bFK5A3gS08dJFcWiUOKuyfHUMITg_RpAWAlrDmT4hQIzNZr7th3Ni7opPjHEkZPHnOiNdQsHJsgOlYj1Ss-1vner2WqDBGCznafila-p3ih1_m1qIQ7W4pgOhFqKrw1noK_amOHvl_VkYxY8oG80M0lDzGmZQj4dLinhlnFs4FDzNugv-noZQN_8KRrSff5qsLaTZ4u4CA-QHFrKI1lvNHt-_L9mhvRFbqkYiS9WJXHIQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650664510,
          "updated": 1650664510,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsakeyd992e13/ce64944eb2c6444dacf99f18c16be2f6?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsakeyd992e13/ce64944eb2c6444dacf99f18c16be2f6",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zoQCqCToCgUs6RmnO8zKypVUqiOhSfFtSe39o511dEn6oGjfnDAGs8S8Np3vrQmZibf4t-Q8R57MZ0AmrW8cXHMjZ_2Oc4tn_W2VOnYf0bFK5A3gS08dJFcWiUOKuyfHUMITg_RpAWAlrDmT4hQIzNZr7th3Ni7opPjHEkZPHnOiNdQsHJsgOlYj1Ss-1vner2WqDBGCznafila-p3ih1_m1qIQ7W4pgOhFqKrw1noK_amOHvl_VkYxY8oG80M0lDzGmZQj4dLinhlnFs4FDzNugv-noZQN_8KRrSff5qsLaTZ4u4CA-QHFrKI1lvNHt-_L9mhvRFbqkYiS9WJXHIQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650664510,
          "updated": 1650664510,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {}
}
