interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key-name/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://vtyrdrwytxosgpkuu56mnwwt.vault.azure.net/keys/key-name/create?api-version=7.1
- request:
    body: '{"kty": "RSA", "key_size": 2048, "key_ops": ["encrypt", "decrypt", "sign",
      "verify", "wrapKey", "unwrapKey"], "attributes": {"exp": 2527401600}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key-name/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key-name/8b7ad6ca7075404eac0ae2d6249413b0","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"n89gXlmI1WUgFw81tuWAnHrboqiCV4dfsHf0g1bf3DMwdNaL9cakqBQUPcndKoRaJKKUw7d45KpkMeUfa_352tFZsyIR61BTcTL1zHAMIEkHpCViCOSdBN_qzk_73g-IV1eQYSpPYlaNQAx_tt4F4sRUgsEvY77xrOmiGdlwVOpJIUH9BGOduZACrH6ARPtlAc3jCBGYZUdPKYUtfHW_HiFWSwoNN359kFoV6sSTkHvmEV8pgHeooyx4eXZq6L09uwpFedjqv4O5SflYbBtK7T9RtHYoY0Wf5VkeGgRWHNGvkh7vgtRZio5iMGe9orUXLw9gLSIP6ewgz1_SSJBoJw","e":"AQAB"},"attributes":{"enabled":true,"exp":2527401600,"created":1596039284,"updated":1596039284,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://vtyrdrwytxosgpkuu56mnwwt.vault.azure.net/keys/key-name/create?api-version=7.1
[...]
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key-name/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key-name/4825f6d032934b13b8bfa9e43c392bbd","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"plbHLp42bQZ9Z7IW88GU61Z7ouk1m3aJXyix8zflwCA","y":"l3ksATJGiRwovUXRBkqRWlEBrW6A7yMJl6CCIT5kga8"},"attributes":{"enabled":true,"created":1596039286,"updated":1596039286,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://vtyrdrwytxosgpkuu56mnwwt.vault.azure.net/keys/key-name/create?api-version=7.1
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/key-name/?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key-name/4825f6d032934b13b8bfa9e43c392bbd","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"plbHLp42bQZ9Z7IW88GU61Z7ouk1m3aJXyix8zflwCA","y":"l3ksATJGiRwovUXRBkqRWlEBrW6A7yMJl6CCIT5kga8"},"attributes":{"enabled":true,"created":1596039286,"updated":1596039286,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://vtyrdrwytxosgpkuu56mnwwt.vault.azure.net/keys/key-name/?api-version=7.1
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/key-name/4825f6d032934b13b8bfa9e43c392bbd?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key-name/4825f6d032934b13b8bfa9e43c392bbd","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"plbHLp42bQZ9Z7IW88GU61Z7ouk1m3aJXyix8zflwCA","y":"l3ksATJGiRwovUXRBkqRWlEBrW6A7yMJl6CCIT5kga8"},"attributes":{"enabled":true,"created":1596039286,"updated":1596039286,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://vtyrdrwytxosgpkuu56mnwwt.vault.azure.net/keys/key-name/4825f6d032934b13b8bfa9e43c392bbd?api-version=7.1
- request:
    body: '{"attributes": {"exp": 2524723200}, "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://vaultname.vault.azure.net/keys/key-name/?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key-name/4825f6d032934b13b8bfa9e43c392bbd","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"plbHLp42bQZ9Z7IW88GU61Z7ouk1m3aJXyix8zflwCA","y":"l3ksATJGiRwovUXRBkqRWlEBrW6A7yMJl6CCIT5kga8"},"attributes":{"enabled":true,"exp":2524723200,"created":1596039286,"updated":1596039286,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://vtyrdrwytxosgpkuu56mnwwt.vault.azure.net/keys/key-name/?api-version=7.1
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/key-name?api-version=7.1
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key-name","deletedDate":1596039286,"scheduledPurgeDate":1603815286,"key":{"kid":"https://vaultname.vault.azure.net/keys/key-name/4825f6d032934b13b8bfa9e43c392bbd","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"plbHLp42bQZ9Z7IW88GU61Z7ouk1m3aJXyix8zflwCA","y":"l3ksATJGiRwovUXRBkqRWlEBrW6A7yMJl6CCIT5kga8"},"attributes":{"enabled":true,"exp":2524723200,"created":1596039286,"updated":1596039286,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://vtyrdrwytxosgpkuu56mnwwt.vault.azure.net/keys/key-name?api-version=7.1
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/key-name?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: key-name"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://vtyrdrwytxosgpkuu56mnwwt.vault.azure.net/deletedkeys/key-name?api-version=7.1
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/key-name?api-version=7.1
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key-name","deletedDate":1596039286,"scheduledPurgeDate":1603815286,"key":{"kid":"https://vaultname.vault.azure.net/keys/key-name/4825f6d032934b13b8bfa9e43c392bbd","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"plbHLp42bQZ9Z7IW88GU61Z7ouk1m3aJXyix8zflwCA","y":"l3ksATJGiRwovUXRBkqRWlEBrW6A7yMJl6CCIT5kga8"},"attributes":{"enabled":true,"exp":2524723200,"created":1596039286,"updated":1596039286,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://vtyrdrwytxosgpkuu56mnwwt.vault.azure.net/deletedkeys/key-name?api-version=7.1
version: 1
