interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault25cf0f71.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault25cf0f71.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault25cf0f71.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/053a8709aee047c0b8b44d7d1d81bc7a","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"3x2NoOworQuFjYFAi94legyUR6jxEkQ6KcSIe6jJc8ReHJ-LpJmNKvkJVpOnKAG9lW1sGJi7kXpSWcckDvgJEqzicK-sBFSsgtR936_vNdURB7ZZC03aIEaREFOTjHN2HWHtMR3oSY3xu_q8-UfPgpBlzqL4kEnnZEnkojUeA0DXsTdEH-S292GLT4Es0TdAfO1eSKdh-zxbDwbSJtr432qFAQjpqW79Y1AQ4Zdgoa467I6ITfelouJhyb1Wd169hfelD--KjVuO7PJfPdzSUx6UobIGmnbjNqQzg0ARkRoJifBNc3z0C9EVCnJBNDM80_IxBZqlesQeSvzeU0I5vQ","e":"AQAB"},"attributes":{"enabled":true,"created":1571198700,"updated":1571198700,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "RS256", "value": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault25cf0f71.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/053a8709aee047c0b8b44d7d1d81bc7a/sign?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vault25cf0f71.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/053a8709aee047c0b8b44d7d1d81bc7a","value":"wDsXWekuRmRuy19HBsqyB7kHTKvf8i8hZ22JV60oyQCjdSUy8Vx0NL_ijOpN9z4gip-GSqS7VdxXG_eV-dzfoyZiT_3i16yOO3a-H45_SBqJ6XloTS1wSIGrntHFMKPiGxsFSJj8z3f6PMxJl6DzR7yUj63HZOpDCv7ZL7YYOjqHIlQcisvfLjwIDK-l67MM_RwOv_9E_BE5T7x4GzsPp0FWFnIpTFJdZhFH8-oDLNf4L32cdVFvx0krjQo-Y4hEltfNRkrGLKsXPKQqGY8La36xCvPGFX5mnszki6C6X_Cp3yN0ZzoJ3Kqe99KR2frLhj4nOPzDM7FS3iSPixwEMA"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
