interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault8bf41593ca91110ab7.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault8bf41593ca91110ab7.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault8bf41593ca91110ab7.vault.azure.net/keys/key0/4271adc45e3e41aaa85b75b724d8e358","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"q1He5GIof8MPRROGyTFjQNcPCTo4cJNANkk4e1lAmCK8mezOuPba5ppNzyr8loCBBVoViYEObt77L-aTeSn9Bi_NJJrodsWsY36eulhPkSZXdVsg1Xug7dJw4XAaQ-N0mM54PRli1fN19HzdKO73uZTzTtiwji48v6qWPE0aMiLuM9Hd2Wz-IYMlbV1X8kweTFYiFV1ZwYWg7sE4wJvGUUV3gffB0xCGwVuI5kMo_ESPufTjfmWLZi_j6wIfZ5QjQZZQawGzB52n0B_KB-OonR7Kk_tpSY9Hgagh5F82MPoW5UhoKuo7d9osciw8Pppbk9FwblcrAwsQXIDvc9M2PQ","e":"AQAB"},"attributes":{"enabled":true,"created":1570213159,"updated":1570213159,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault8bf41593ca91110ab7.vault.azure.net/keys/key0?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vault8bf41593ca91110ab7.vault.azure.net/deletedkeys/key0","deletedDate":1570213160,"scheduledPurgeDate":1577989160,"key":{"kid":"https://vault8bf41593ca91110ab7.vault.azure.net/keys/key0/4271adc45e3e41aaa85b75b724d8e358","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"q1He5GIof8MPRROGyTFjQNcPCTo4cJNANkk4e1lAmCK8mezOuPba5ppNzyr8loCBBVoViYEObt77L-aTeSn9Bi_NJJrodsWsY36eulhPkSZXdVsg1Xug7dJw4XAaQ-N0mM54PRli1fN19HzdKO73uZTzTtiwji48v6qWPE0aMiLuM9Hd2Wz-IYMlbV1X8kweTFYiFV1ZwYWg7sE4wJvGUUV3gffB0xCGwVuI5kMo_ESPufTjfmWLZi_j6wIfZ5QjQZZQawGzB52n0B_KB-OonR7Kk_tpSY9Hgagh5F82MPoW5UhoKuo7d9osciw8Pppbk9FwblcrAwsQXIDvc9M2PQ","e":"AQAB"},"attributes":{"enabled":true,"created":1570213159,"updated":1570213159,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault8bf41593ca91110ab7.vault.azure.net/deletedkeys/key0?api-version=7.0
  response:
    body: {string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found:
        key0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault8bf41593ca91110ab7.vault.azure.net/deletedkeys?api-version=7.0
  response:
    body: {string: '{"value":[{"recoveryId":"https://vault8bf41593ca91110ab7.vault.azure.net/deletedkeys/key0","deletedDate":1570213160,"scheduledPurgeDate":1577989160,"kid":"https://vault8bf41593ca91110ab7.vault.azure.net/keys/key0","attributes":{"enabled":true,"created":1570213159,"updated":1570213159,"recoveryLevel":"Recoverable+Purgeable"}},{"recoveryId":"https://vault8bf41593ca91110ab7.vault.azure.net/deletedkeys/key1","deletedDate":1570213160,"scheduledPurgeDate":1577989160,"kid":"https://vault8bf41593ca91110ab7.vault[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault8bf41593ca91110ab7.vault.azure.net/deletedkeys?api-version=7.0
  response:
    body: {string: '{"value":[],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
