interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultfcf91456.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Wed, 14 Aug 2019 20:58:58 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultfcf91456.vault.azure.net,
        /keys/key-name/create, api-version=7.0, '']
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultfcf91456.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vaultfcf91456.vault.azure.net/keys/key-name/206b2516ec294c818661a5b4a0307b8b","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"vRMwfjGezvz6gJDtY6Xm9-yE00128v4cSZOUnC_N2JG_H7NKzo9g2stLnfCJUV-Ve5-x-2wWLPhZxbkhmTY6n5rYLSwapPmJeaFczcyip_DJcoJOUw_qSqXitg2MT3klCN16Q-MZZOTj6xnVW8c3ni6vFruGmcS4R9lKxV4HH3r76aENoQ-cshHGLAl1OvY2hHr-GkB6Lm7FC-OJIqlkiXywMZ1RoCwYSX80Rph4OSyuhCP0MtBjUWeQtnnaUVvn0Tb_0V_VJ53MQTEcfbIdjOxEhBq25r1CcCaZ1652uFbhDq5WGxRNzt-K5ZyitXCuDq-1NrVmnsybfvyVA_XHiw","e":"AQAB"},"attributes":{"enabled":true,"created":1565816339,"updated":1565816339,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '656', content-type: application/json;
        charset=utf-8, date: 'Wed, 14 Aug 2019 20:58:58 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultfcf91456.vault.azure.net,
        /keys/key-name/create, api-version=7.0, '']
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultfcf91456.vault.azure.net/keys/key-name?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vaultfcf91456.vault.azure.net/deletedkeys/key-name","deletedDate":1565816339,"scheduledPurgeDate":1573592339,"key":{"kid":"https://vaultfcf91456.vault.azure.net/keys/key-name/206b2516ec294c818661a5b4a0307b8b","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"vRMwfjGezvz6gJDtY6Xm9-yE00128v4cSZOUnC_N2JG_H7NKzo9g2stLnfCJUV-Ve5-x-2wWLPhZxbkhmTY6n5rYLSwapPmJeaFczcyip_DJcoJOUw_qSqXitg2MT3klCN16Q-MZZOTj6xnVW8c3ni6vFruGmcS4R9lKxV4HH3r76aENoQ-cshHGLAl1OvY2hHr-GkB6Lm7FC-OJIqlkiXywMZ1RoCwYSX80Rph4OSyuhCP0MtBjUWeQtnnaUVvn0Tb_0V_VJ53MQTEcfbIdjOxEhBq25r1CcCaZ1652uFbhDq5WGxRNzt-K5ZyitXCuDq-1NrVmnsybfvyVA_XHiw","e":"AQAB"},"attributes":{"enabled":true,"created":1565816339,"updated":1565816339,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '787', content-type: application/json;
        charset=utf-8, date: 'Wed, 14 Aug 2019 20:58:58 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultfcf91456.vault.azure.net,
        /keys/key-name, api-version=7.0, '']
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultfcf91456.vault.azure.net/deletedkeys/key-name?api-version=7.0
  response:
    body: {string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found:
        key-name"}}'}
    headers: {cache-control: no-cache, content-length: '76', content-type: application/json;
        charset=utf-8, date: 'Wed, 14 Aug 2019 20:58:58 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 404, message: Not Found}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultfcf91456.vault.azure.net,
        /deletedkeys/key-name, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vaultfcf91456.vault.azure.net/deletedkeys/key-name/recover?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vaultfcf91456.vault.azure.net/keys/key-name/206b2516ec294c818661a5b4a0307b8b","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"vRMwfjGezvz6gJDtY6Xm9-yE00128v4cSZOUnC_N2JG_H7NKzo9g2stLnfCJUV-Ve5-x-2wWLPhZxbkhmTY6n5rYLSwapPmJeaFczcyip_DJcoJOUw_qSqXitg2MT3klCN16[...]
