interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault674296d6174c.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Wed, 14 Aug 2019 20:31:27 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault674296d6174c.vault.azure.net,
        /keys/key0/create, api-version=7.0, '']
- request:
    body: '{"kty": "EC"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault674296d6174c.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault674296d6174c.vault.azure.net/keys/key0/7c2911c2b1a54cc99f6528585b022dfc","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"tURxtQaDK1-iwlZJ5azKzb1WxAC-0FtPIHyd6Z5F7YI","y":"JX2GxXYUbqY6mGGjc7c-HFC0Z9tG1fpwdTXPZxiB9lY"},"attributes":{"enabled":true,"created":1565814689,"updated":1565814689,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '367', content-type: application/json;
        charset=utf-8, date: 'Wed, 14 Aug 2019 20:31:28 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault674296d6174c.vault.azure.net,
        /keys/key0/create, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault674296d6174c.vault.azure.net/keys?api-version=7.0
  response:
    body: {string: '{"value":[{"kid":"https://vault674296d6174c.vault.azure.net/keys/key0","attributes":{"enabled":true,"created":1565814689,"updated":1565814689,"recoveryLevel":"Recoverable+Purgeable"}},{"kid":"https://vault674296d6174c.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1565814689,"updated":1565814689,"recoveryLevel":"Recoverable+Purgeable"}},{"kid":"https://vault674296d6174c.vault.azure.net/keys/key2","attributes":{"enabled":true,"created":1565814689,"updated":1565814689,"recoveryLevel":"Recoverable+Purgeable"}},{"kid":"https://vault674296d6174c.vault.azure.net/keys/key3","attributes":{"enabled":true,"created":1565814690,"updated":1565814690,"recoveryLevel":"Recoverable+Purgeable"}}],"nextLink":null}'}
    headers: {cache-control: no-cache, content-length: '723', content-type: application/json;
        charset=utf-8, date: 'Wed, 14 Aug 2019 20:31:29 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault674296d6174c.vault.azure.net,
        /keys, api-version=7.0, '']
- request:
    body: null
    headers:
    method: GET
    uri: https://vault674296d6174c.vault.azure.net/keys/key-name/versions?api-version=7.0
  response:
    body: {string: '{"value":[],"nextLink":null}'}
    headers: {cache-control: no-cache, content-length: '28', content-type: application/json;
        charset=utf-8, date: 'Wed, 14 Aug 2019 20:31:29 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault674296d6174c.vault.azure.net,
        /keys/key-name/versions, api-version=7.0, '']
- request:
    body: null
    headers:
    method: GET
    uri: https://vault674296d6174c.vault.azure.net/deletedkeys?api-version=7.0
  response:
    body: {string: '{"value":[],"nextLink":null}'}
    headers: {cache-control: no-cache, content-length: '28', content-type: application/json;
        charset=utf-8, date: 'Wed, 14 Aug 2019 20:31:29 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault674296d6174c.vault.azure.net,
        /deletedkeys, api-version=7.0, '']
version: 1
