interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestencrypt-local50231588/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestencrypt-local50231588/create?api-version=7.0
- request:
    body: '{"key_size": 4096, "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestencrypt-local50231588/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestencrypt-local50231588/ebf082cedb2a440892af552616b08999","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"mq5DlPtkAYOE1QpaKUn-MpBY4PUnDFo6acASIW7E9PtfhKjASumnG-XIRYokN39rF580cUeAwbU6ypTLvDgmGHN4FPrPYxJrZ67nntaKOJcdrKdak6pAb5jm5mWeMXm7Zf5iHd5X945c7ASVxJtlxoXOdjD4ddCXVYRWXFs7NN0W_SAhum2wGBF7cFj14eBj_-YvwNCVVqImELjipjd74TtgzrUG3DlQ-OmOqaZ7robN73Ronvs_qdIt21mJc1n93Unle2pNKM6W6R2yfjijsTTGKMA9zxbypc-4uD0LW948M_HNeplAEHaQseWQfUaOKOKcDK-_AjP371buG9OlmOv28UgRn_xcSQ-khu5QqKoHZ9aP29532NtjEYrW7wv9D18GpToyuw-YyOqjNd7E4K04sYaeRkT5FgA5xrE0nzFCyzghKET3nNHRa--4bAdd0wIbNvkWFUhdXlrjN0BTrOg3o6TsAWv_SKODKnheBQ3dZFDHTMmVjLvuCS2VVrU5xAXJhSR8tB5OHqfB2SWAugZW63dpcGmjve9n08xevn2k_NzSMuaabt2Hycq8_haH3NSvb6FfNsKoUkkV1jGSDttRoivbMu42xyhaWdnG_1pL9PtC831ZgMrBfXdx1V7x-bAwYlxVTQ6LMPcJ8M0IYHQTv8b2ZqysV2kOPYOR9jE","e":"AQAB"},"attributes":{"enabled":true,"created":1618864939,"updated":1618864939,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestencrypt-local50231588/create?api-version=7.0
- request:
    body: '{"alg": "RSA-OAEP", "value": "RrTub_UVaXufCc0SkregEKB5q7uB7lPFSS8uUuF7s7PMvOxMxIy-z66JV5zBAXqyzK03I_1VE1vWJ1tvU0gAk-5jmRGH8_I0yjBiF2HW51j32VM8LIDqaI0MGmF2T2ZFHJXoUEmKkugF50aJuB1GNKklNXU41syTDcGnwhsI83OVKMjTJ-c8DsaIdoxCftyLsErySTAgr953jWAeA8y1tMi6YIY_bfyO7caIXCiWzh_OJYjMmJmxnF2FiUsbrtW-Mng4CipC5sSaVaYdKZanaDEGnjsXU2Gmp36DD17_-y7ivUuxxN7EWoCGLbEXOpdwtMCKbAt4UqXrX_pq3LFq5W9XlnHU5di3fmUhnC06KtwoYTYIQs0mkLUG7CzehqqAjrl_u-B6je2i2aY7_OCR5TL6L5huDteLAkCZc79IYYk5ypBmo8GjA3gVpZO238j2_vX9rviCM7QWHnJIKdHdYy3ZgGTCW9yJCC4Cmpur6siBrfkOMX[...]
[...]
