interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key67c4112b/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key67c4112b/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key67c4112b/b413502ef7ab48ef89174eeb2424aadc","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"1ku2mSc96q4ZEa6a_sRSufu9yEwSFhEnP4KBsW34xnQySOrJPHVN0Tne09KGpuU7Qq9t1l_flW6pWWr48iqsvGsc4JYjsOsCDYll-gcE9PAJ6k16PyPPMuNGvy4L1wRqmS4zYXqI0useqiIMawGmNwUht4-ggzWkqx5Q7eIxRwmqKkPg4TxSjNmPNIyIsNfgfyYxjPyzaCyoRdL3Zw1yGElimwoWFshB6A3DLxKR8tIP9n3Q560uTMLWH5hNxi7AtKFBChDpcwEPoAcofZJQQv7LYNw5OEFgz_W1BOaz2imhUX8VPbzpfU7UAFmlNvcCv5u7Ph9QH-Ef5hFEmZULfQ","e":"AQAB"},"attributes":{"enabled":true,"created":1612517506,"updated":1612517506,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key67c4112b/?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key67c4112b/b413502ef7ab48ef89174eeb2424aadc","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"1ku2mSc96q4ZEa6a_sRSufu9yEwSFhEnP4KBsW34xnQySOrJPHVN0Tne09KGpuU7Qq9t1l_flW6pWWr48iqsvGsc4JYjsOsCDYll-gcE9PAJ6k16PyPPMuNGvy4L1wRqmS4zYXqI0useqiIMawGmNwUht4-ggzWkqx5Q7eIxRwmqKkPg4TxSjNmPNIyIsNfgfyYxjPyzaCyoRdL3Zw1yGElimwoWFshB6A3DLxKR8tIP9n3Q560uTMLWH5hNxi7AtKFBChDpcwEPoAcofZJQQv7LYNw5OEFgz_W1BOaz2imhUX8VPbzpfU7UAFmlNvcCv5u7Ph9QH-Ef5hFEmZULfQ","e":"AQAB"},"attributes":{"enabled":true,"created":1612517506,"updated":1612517506,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "G_Pl8ngQ0Yy5EI6OyrFzZlAXUYvGFv9OsgEAYvEMbh7dcB3RrLIDm82rv7QS8JYf0VUdh6OgOp5LYlF_0foGt8a2gDEzP67zQ2pPakv0Z9Gn3CMiOBvvbPK7wlWJM2X1O-cxKpcFE9c7HfwEcvCs1JMBmMVH50JIqdg7ukf7bBgLybr5jxdJhu44sIoAQwu5eMPov3GnjogCBjYjatuwXS2WMXcLaPzEcCJMhZ8mRdGzWTI4lT5yEMB2R9-0-zoJ_h3GYZgQ2VPr6QNLWMSrc5XfB5Qo8dXdxoYSiCTFnnNOurpLYxrmHVbYUYVKImPvvgVbNEdgz-xlyUUYFebPuA",
      "alg": "RSA-OAEP"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key67c4112b/b413502ef7ab48ef89174eeb2424aadc/decrypt?api-version=7.1
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key67c4112b/b413502ef7ab48ef89174eeb2424aadc","value":"cGxhaW50ZXh0"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
