interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault5416109f.vault.azure.net/keys/crud-ec-key/create?api-version=7.0
  response:
    body:
      string: ''
    headers:
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "EC-HSM", "attributes": {"enabled": true}, "tags": {"purpose":
      "unit test", "test name": "CreateECKeyTest"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault5416109f.vault.azure.net/keys/crud-ec-key/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault5416109f.vault.azure.net/keys/crud-ec-key/cb98846dd1f64086a526f26960958638","kty":"EC-HSM","key_ops":["sign","verify"],"crv":"P-256","x":"cuofSjRFj28BcXhhzMvmvTWqfjfVxPj6_3aDYTItEhg","y":"2S29PbS4cFuW8dvW1BqvVkKw2V8d_BALq_RGo2rAyTo"},"attributes":{"enabled":true,"created":1563901804,"updated":1563901804,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"purpose":"unit
        test","test name":"CreateECKeyTest"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault5416109f.vault.azure.net/keys/crud-P-256-ec-key/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault5416109f.vault.azure.net/keys/crud-P-256-ec-key/37019ecd68ea4b98afadaa0fde4bcad1","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"X1WlQT33gZ-zW7F431If3xc_Kad4IfpmDU0U9iTNZ1g","y":"t3Clz8Rsa9qZFhJM5BUR-6OBrOQN-aKSxifQGNocOWs"},"attributes":{"enabled":true,"created":1563901804,"updated":1563901804,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"key": {"kty": "RSA", "key_ops": ["encrypt", "decrypt", "sign", "verify",
      "wrapKey", "unwrapKey"], "n": "AKCRTQAjSsaDshtMFdW-2Ie9yVnC5Xr1Suc06PAHINd10nXkVSB-N4TO62ClCkZV3XKnqU0nHo7o95WaZpym53W_DiO62umRtFKdl4UotL2QUh0y3SZWeWuoK2u_x2aMj17rUFN0f9GZMZ0pqEQNCPRBLVJ_-TEe2nGCWSC0exxGsRqz6R1zFkB-icfzQPe4WjQELOUXQ7J9RxhAPTTHtDivYYG-BeTRHrmF04JT1_6b9T_C8bAC0i0teT-nmlBLarQtBJKATXBx1yegbPOoiTqlQrFQP4MrKWNxtnB9Tcbjcvj-Z9je0ckI_eRc4DvAhqcUh_p15Dqg4GeaoNIO_jU",
      "e": "AQAB", "d": "Ynx9JGaBSP4iUsf6ZJ6opantRNdcdmzaQrKbZg6ZQE8Ohi1FYabJWvaoPSE-CiJEsDzShXZHMhUHN4X7Bn8BXaGQhK3p9HXgiwQKmix7oAJTu4ElUIyd8UC3UWHSZr40el4PaQD-HYu_eMzCXus34MnRiNbh_BUWm6T-Eidhk9d3kNIyaSi9YNDQHW6tjWrEhhq63O7JU1j9ZonFChZxpKk20jdkQKQURVAdpOdL-5j4I70ZxFuU6wHZj8DS8oRQfwGOvZKbgYDb5jgf3UNL_7eACqq92XPVX56vm7iKbqeyjCqAIx5y3hrSRIJtZlWCwjYnYQGd4unxDLi8wmJWSQ",
      "dp": "AMmhWb5yZcu6vJr8xJZ-t0_likxJRUMZAtEULaWZt2DgODj4y9JrZDJP6mvckzhQP0WXk2NuWbU2HR5pUeCN2wieG1B76VKoH76vfnaJDqT1NuJVBcP2SLHog3ffwZtMME5zjfygchG3kihqOSpwTQ9ETAqAJTkRC38fEhwAz_Cp",
      "dq": "AKC9TAo9n2RDaggjdLXK8kiLrBVoaWFTpqXkzYXRhtsx4vWPAkxhfSnze05rVMl6HiXv7FnE0f0wYawzUJzoyuXBH0zS6D9BqCZPeF543AmWB27iPf38Q9Z8Rjr6oBgMSnGDV_mm8nDVQkeaDyE4cOZh-5UKvKShTKKQVwunmDNH",
      "qi": "AJ_nrkLpK8BPzVeARkvSHQyKwMWZ-a8CD95qsKfn0dOZAvXY-2xhQYTEwbED-0bpTNEKbIpA-ZkaHygmnzJkNbbFAnb9pkkzU8ZQqDP3JNgMfVIroWx58Oth9nJza2j7i-MkPRCUPEq3Ao0J52z7WJIiLji8TTVYW_NaiM1oxzsH",
      "p": "ANHerI1o3dLB_VLVmZZVss8VZSYN5SaeQ_0qhfOSgOFwj__waCFmy2EG7l6l6f_Z-Y0L7Mn_LNov68lyWSFa2EuQUeVj4UoFHc5Di8ZUGiSsTwFM-XMtNuv8HmGgDYLL5BIJD3eTz71LdgW-Ez38OZH34b7VeG8zfeUDb8Hi30zz",
      "q": "AMPcZrZBqbc82DO8Q5zTT8ZXRGWrW36KktMllaIk1W2RHnRiQiW0jBWmcCgqUcQNHa1LwumjyNqwx28QBS37BTvG7ULGUoio6LrOeoiBGEMj-U19sX6m37plEhj5[...]
- request:
    body: '{"kty": "RSA", "key_size": 2048, "key_ops": ["encrypt", "decrypt", "sign",
      "verify", "wrapKey", "unwrapKey"], "tags": {"purpose": "unit test", "test name
      ": "CreateRSAKeyTest"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault5416109f.vault.azure.net/keys/crud-rsa-key/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault5416109f.vault.azure.net/keys/crud-rsa-key/d264046ef0ea45e38bf8adb208db1d23","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"v9dD2PvhGJpOyXlxcLWmucQ_laOIs7EmTYDrjbfrNfD5OcOx6lYtHiZyEjw6U2EUOI5sgI8D6Gq4G7QzKR3-fGqpA3H9xKHf9UEJNWFytk_2GuS6DeEwHUU9iWoKf5vOsDhizQRwzlobNE8zazzzanAtjqY9Z10ETKf2bgfb7zrEhjVz_hb67HVUapocNgskScXq6uU9abcntIGBR2M0JQr-BRfxMHne-3imKBMSys8rhYIVTDuIA0q2IxI5fmXDiCo_oNAY8wxOdmr3kD7gqnPs1tVcGO3CfiR5vzo3AM8yB6clUlZqnvoOKwqCLZJ3rr3w8RkQCINuCjflDAFcMQ","e":"AQAB"},"attributes":{"enabled":true,"created":1563901805,"updated":1563901805,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault5416109f.vault.azure.net/keys/crud-rsa-key/d264046ef0ea45e38bf8adb208db1d23?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault5416109f.vault.azure.net/keys/crud-rsa-key/d264046ef0ea45e38bf8adb208db1d23","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"v9dD2PvhGJpOyXlxcLWmucQ_laOIs7EmTYDrjbfrNfD5OcOx6lYtHiZyEjw6U2EUOI5sgI8D6Gq4G7QzKR3-fGqpA3H9xKHf9UEJNWFytk_2GuS6DeEwHUU9iWoKf5vOsDhizQRwzlobNE8zazzzanAtjqY9Z10ETKf2bgfb7zrEhjVz_hb67HVUapocNgskScXq6uU9abcntIGBR2M0JQr-BRfxMHne-3imKBMSys8rhYIVTDuIA0q2IxI5fmXDiCo_oNAY8wxOdmr3kD7gqnPs1tVcGO3CfiR5vzo3AM8yB6clUlZqnvoOKwqCLZJ3rr3w8RkQCINuCjflDAFcMQ","e":"AQAB"},"attributes":{"enabled":true,"created":1563901805,"updated":1563901805,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault5416109f.vault.azure.net/keys/crud-rsa-key/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault5416109f.vault.azure.net/keys/crud-rsa-key/d264046ef0ea45e38bf8adb208db1d23","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"v9dD2PvhGJpOyXlxcLWmucQ_laOIs7EmTYDrjbfrNfD5OcOx6lYtHiZyEjw6U2EUOI5sgI8D6Gq4G7QzKR3-fGqpA3H9xKHf9UEJNWFytk_2GuS6DeEwHUU9iWoKf5vOsDhizQRwzlobNE8zazzzanAtjqY9Z10ETKf2bgfb7zrEhjVz_hb67HVUapocNgskScXq6uU9abcntIGBR2M0JQr-BRfxMHne-3imKBMSys8rhYIVTDuIA0q2IxI5fmXDiCo_oNAY8wxOdmr3kD7gqnPs1tVcGO3CfiR5vzo3AM8yB6clUlZqnvoOKwqCLZJ3rr3w8RkQCINuCjflDAFcMQ","e":"AQAB"},"attributes":{"enabled":true,"created":1563901805,"updated":1563901805,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"attributes": {"exp": 2524723200}, "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://vault5416109f.vault.azure.net/keys/crud-rsa-key/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault5416109f.vault.azure.net/keys/crud-rsa-key/d264046ef0ea45e38bf8adb208db1d23","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"v9dD2PvhGJpOyXlxcLWmucQ_laOIs7EmTYDrjbfrNfD5OcOx6lYtHiZyEjw6U2EUOI5sgI8D6Gq4G7QzKR3-fGqpA3H9xKHf9UEJNWFytk_2GuS6DeEwHUU9iWoKf5vOsDhizQRwzlobNE8zazzzanAtjqY9Z10ETKf2bgfb7zrEhjVz_hb67HVUapocNgskScXq6uU9abcntIGBR2M0JQr-BRfxMHne-3imKBMSys8rhYIVTDuIA0q2IxI5fmXDiCo_oNAY8wxOdmr3kD7gqnPs1tVcGO3CfiR5vzo3AM8yB6clUlZqnvoOKwqCLZJ3rr3w8RkQCINuCjflDAFcMQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1563901805,"updated":1563901806,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault5416109f.vault.azure.net/keys/crud-rsa-key?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault5416109f.vault.azure.net/deletedkeys/crud-rsa-key","deletedDate":1563901806,"scheduledPurgeDate":1571677806,"key":{"kid":"https://vault5416109f.vault.azure.net/keys/crud-rsa-key/d264046ef0ea45e38bf8adb208db1d23","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"v9dD2PvhGJpOyXlxcLWmucQ_laOIs7EmTYDrjbfrNfD5OcOx6lYtHiZyEjw6U2EUOI5sgI8D6Gq4G7QzKR3-fGqpA3H9xKHf9UEJNWFytk_2GuS6DeEwHUU9iWoKf5vOsDhizQRwzlobNE8zazzzanAtjqY9Z10ETKf2bgfb7zrEhjVz_hb67HVUapocNgskScXq6uU9abcntIGBR2M0JQr-BRfxMHne-3imKBMSys8rhYIVTDuIA0q2IxI5fmXDiCo_oNAY8wxOdmr3kD7gqnPs1tVcGO3CfiR5vzo3AM8yB6clUlZqnvoOKwqCLZJ3rr3w8RkQCINuCjflDAFcMQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1563901805,"updated":1563901806,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault5416109f.vault.azure.net/deletedkeys/crud-rsa-key?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: crud-rsa-key"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault5416109f.vault.azure.net/deletedkeys/crud-rsa-key?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault5416109f.vault.azure.net/deletedkeys/crud-rsa-key","deletedDate":1563901806,"scheduledPurgeDate":1571677806,"key":{"kid":"https://vault5416109f.vault.azure.net/keys/crud-rsa-key/d264046ef0ea45e38bf8adb208db1d23","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"v9dD2PvhGJpOyXlxcLWmucQ_laOIs7EmTYDrjbfrNfD5OcOx6lYtHiZyEjw6U2EUOI5sgI8D6Gq4G7QzKR3-fGqpA3H9xKHf9UEJNWFytk_2GuS6DeEwHUU9iWoKf5vOsDhizQRwzlobNE8zazzzanAtjqY9Z10ETKf2bgfb7zrEhjVz_hb67HVUapocNgskScXq6uU9abcntIGBR2M0JQr-BRfxMHne-3imKBMSys8rhYIVTDuIA0q2IxI5fmXDiCo_oNAY8wxOdmr3kD7gqnPs1tVcGO3CfiR5vzo3AM8yB6clUlZqnvoOKwqCLZJ3rr3w8RkQCINuCjflDAFcMQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1563901805,"updated":1563901806,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
