{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestencrypt-local312e30aa/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestencrypt-local312e30aa/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 4096
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestencrypt-local312e30aa/eae074aaa2d94db78cf64f3c7eb90b1f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ta6oZkZ3OtPrK_gfMqRYY4sqA5FD_1Qg3LjdbUvOP5LvTLc2Xgy9A720OI1UdxvNpwsid-tGYuiwDugQxL3cy-ht-r4q_7gTjhlxtAjh3FHK-KD4TEoQSGwZDIO5bJU6WAMyRq_Vo46f5_TMjPzqE8Pbk09J8yV-nt8skvADapqHQ0C4kNd752uz8eE9TV8ZuC5EplBlklkr5cb4rvZKedFcBREtMPEooRNmwwFMtcIGFdeRBoapDo2qzSM0O_eeQ0EvSTcRAevvpbZ66CWgrGY_FXlJq-2175983Vz8WgLvdhdj9i3BkIZBHf-y5qLVaTp3Qa_dUebiIJwqH4KCkSRSkzQ9FHORQxPyG9kngd5RXjtxWBwNTIm9PybRPilk0f-gu8vBn4U7c6s2tTbVqP1HzMhCtdXwqX_HHXR3S2FCSIoCt9blHhty_d0s_9LcYRyW8STBN4P-_08rot90sM7o90Nv3IVWyeI0aHz4hZarHWIUSj4uPlL8do723R4nZ9xPn0Hmptgg7q202v9Vl03LCmUUwOIj5NP8KfQdrG6JZo_4lQmWk8yYr3HDOZLby-va-X5u-p0q8YoakYlxClM3b8pFywfQFfNhULa7HE7hSLT5oEJWiKxmZuedcwSxwdRenonaLBZTAU2vFsPQ4KThWOC7z1Onyo3mcv8Zxd0",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650292023,
          "updated": 1650292023,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestencrypt-local312e30aa/eae074aaa2d94db78cf64f3c7eb90b1f/decrypt?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "evDqK6Voc3YNxSopGF1PjYBEHlp5ffDVMIufxZe_BlRtEDtNf3FORhgjM8bBACNVzWhaBLriX_2nSqbLq2pcB83wSOKGjtDJWMZqY6I82Omp_OCByB5DEQGFAya4vVDjdr55GQYk5HhTiWv3Bo_qEh0w9z6f2QII27_dEhtvYsY08wtqTgFROPxmW8yP5Hdtp6bQ2bYIJjbzZYxwSaA4aG9fUka_UQGDNlAFqrVVX8mZUWBj0JokvdOUsybfQxBTXwvjvTx302d6sqBfVv3VXpgDim3ZrquqdeHYO9YBM4KGrCc7eyZqtwdb9w0BbR9_bEh3NQH2QQ0-vPkcQa841gDVnznlT2bSA3tUTKefv4vuekMKAzbffmbIqknMW1DxZO87FxjJ7A84vHI_dmXze3SV-zY0pqGf4bLu2Ys_zSHkdqEepBO6BC1JSEO3Gk7CcSO94jQkvo_SS5j6ZEC5Lr6g86tjcDdLz4QoPhOdu_QsmgFfgnQmMHJMoQQEfxwEq34C1ECHZHs1-mFCAT3ng-ctYnoL1AVfPPVG_tinI7Ht4XSa7--z0PNioTIsSbOTo7odfB4NhBgas5BhAEgszcsOwVVD9axbCrPfZWIuRvI77AZpSwEypnDoZpD3-AN_yFD_p6RxZ5HsJS_xvaibyPVFCYBse2ieBj-hNSpiVpA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestencrypt-local312e30aa/eae074aaa2d94db78cf64f3c7eb90b1f",
        "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"
      }
    },
[...]
