interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc756281625.vault.azure.net/keys/crypto-test-encrypt-key56281625/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc756281625.vault.azure.net
        - /keys/crypto-test-encrypt-key56281625/create
        - api-version=7.0
        - ''
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc756281625.vault.azure.net/keys/crypto-test-encrypt-key56281625/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc756281625.vault.azure.net/keys/crypto-test-encrypt-key56281625/5e33834694ca4d48bbfe2a6f43db2a9a","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"qsojs4cz6AdPTRIDwEjnKVPEQCowzoMoKDmf_60U925AiANwLG4BXc5f1wd0YdyP_bOxI_JD-7vU1cMSmZEdzrhLRW1NAwg3vipjM8KEzg5ll3LvXSl-KNG1SNNPeRdFa65jkIPcfGF8SUZm1zEfhswWp94-nJXq-fwWGxvBqWXIhGuQsbqpOQvKPEm-_06i9d0NqQ12keIrsNkIfhhkDOUNrPWkiekTlaApBkBdaF4INemhtRuEUUO2DVzSKdZudya4xn9G405EFN4_g1NsEyL1JlOi3b9nVGYnjXg41YdPYh8heumE49dVXILepuqAbS-035Cr6BFUWC4fF9yZSw","e":"AQAB"},"attributes":{"enabled":true,"created":1571704299,"updated":1571704299,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc756281625.vault.azure.net
        - /keys/crypto-test-encrypt-key56281625/create
        - api-version=7.0
        - ''
- request:
    body: '{"alg": "RSA-OAEP", "value": "RXzgCsQgADqRz8SGcUPMAm5lUwuq2bEF4UNeoRMiVENecXMXjssQbdOWAiUbx2kFQvnaig1SOAvBN-geD9tMlEPmjWnimAEU7Dg9Vb3uPqpfATvwJWQ0MyRl9nClFWxODQxJ5AftthnvjDXz8WxfGEdC2rFJiYCCRltlkztfSk4sPg8FY_R84QpOldyR6Ii7-SjXTpjPvKGp8r-UCBhGeAib5HNMrlOaOMzwXeJZHBWYEX9VIqi2Aj3rbp9X0An2eD5JXGNxUu25Fv8lEF6SqjsW3tr14H10UFD6yLloA6yHhp3xZ49Wzjfhpx6wgKhvFd7FJEYjHO7AEvoHVvNHkw"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc756281625.vault.azure.net/keys/crypto-test-encrypt-key56281625/5e33834694ca4d48bbfe2a6f43db2a9a/decrypt?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vault458ad70cc756281625.vault.azure.net/keys/crypto-test-encrypt-key56281625/5e33834694ca4d48bbfe2a6f43db2a9a","value":"cGxhaW50ZXh0"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc756281625.vault.azure.net
        - /keys/crypto-test-encrypt-key56281625/5e33834694ca4d48bbfe2a6f43db2a9a/decrypt
        - api-version=7.0
        - ''
version: 1
