interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name864b11af/create?api-version=7.3-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-key-name864b11af/create?api-version=7.3-preview
- request:
    body: '{"key_size": 2048, "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name864b11af/create?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name864b11af/bed70ebfac5940e7984a48e0a7795b68","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"wWFNuimNZuv0_DghWroh7WfoHsSZzBsW-FjYKyce97vSFHe-J9apgoD6tH8U6_ehufslsvhVAfNGnL-2XzOSwcW3yz28o2CPWvVWvWE70MqC1CVUS51s6R2Kwe7E-_2JrxaIIXV339UrhFGfJ56DD5MwyTXntyr7_2VA9KZT620Dzz8kxzgQI6AQiKXb2GqqTO8mF3tHeycHYU9eaqJS7aj3NBS1RmQpVjHpShU7xEby7L26-NxeKiOrLyBO3LA-Kw3yI4Yb2YmFvpZbjO9KWrwFxDvV-It_6ovSqIJNuJJsh8nxbAWnttiJzTkF9cLrZJFqBrYebTtUsj7tmf578Q","e":"AQAB"},"attributes":{"enabled":true,"created":1618441467,"updated":1618441467,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-key-name864b11af/create?api-version=7.3-preview
version: 1
