interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-25661041903/create?api-version=2016-10-01
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"crv": "P-256", "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-25661041903/create?api-version=2016-10-01
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-25661041903/6faf1954b37948daac5478eae16641ac","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"X89NXsFOaSbYxS33NLTHcPOnvbNJyelaaHHadhQcrrw","y":"irGtNSTvfTl8onLY1sFKWHmjASsHZupw8tFk-jxp8UU"},"attributes":{"enabled":true,"created":1618865419,"updated":1618865419,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "ES256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-25661041903/6faf1954b37948daac5478eae16641ac/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-25661041903/6faf1954b37948daac5478eae16641ac","value":"uUESnN7o8wJ-E-oe2fTHeG9HWGb0N66ZQOhrhyfz58dRrI7yi1eb7KxEgVA2_amRwLNnOccW7YIOsBTlOXSK2w"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"crv": "P-256K", "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K61041903/create?api-version=2016-10-01
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K61041903/0f0647efdad641dd8bdbb71962372747","kty":"EC","key_ops":["sign","verify"],"crv":"P-256K","x":"bsvc6GncrILj6R1jEORGPeBAk6TK3XiCgKjURDdLPAg","y":"mPRFM63aig-C1nYMCtufH_51aqsstuexk1lKiDRU0jo"},"attributes":{"enabled":true,"created":1618865422,"updated":1618865422,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "ES256K", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K61041903/0f0647efdad641dd8bdbb71962372747/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K61041903/0f0647efdad641dd8bdbb71962372747","value":"19oQ0DqxAuz2muFliU0yG6vqoTjr84KbAu04gZDhfRkOS9-0Mfmp8hY-NevOmkjelTLYvXfBtyUoVvafvCO7Gg"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "ES512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-52161041903/62db251b5c094cf5bd3adb2351a45e4e/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-52161041903/62db251b5c094cf5bd3adb2351a45e4e","value":"ALanElGZkrZjmgDk8B2sHMv6tFu8cO25Vhfhvriz8LDFD8RjPbHWt17oJ2jSeMH4X5F3-f9HbE_zaof2q2YZvhkjAXBa82w569liz3kLKcNGuRL11lnXP1Z6tM4ccstQIDUpl0oV0tJC7Qhk6hy4FxPMBWHIvG2wkfsSu44ir9-SQKNJ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
