interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc756281625.vault.azure.net/keys/crypto-test-encrypt-key56281625/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc756281625.vault.azure.net
        - /keys/crypto-test-encrypt-key56281625/create
        - api-version=7.0
        - ''
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc756281625.vault.azure.net/keys/crypto-test-encrypt-key56281625/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc756281625.vault.azure.net/keys/crypto-test-encrypt-key56281625/42c751e715094e5dbaff996e9346baea","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"qDK8cCl1J9CLS7f-EJLE6LGVYj8_52MHx2PLOsQiPpCS9YCHHfXIxikaPOcMpbDh5CpQwlJc3XprDClXTi0nWV_HTtDXSzMeIYfmlY94Hl0yxYwi4teBLwOu56cnK8k3Hhu_XQMArpnhKqWg0Vq6vplQ6IF_s9VezAuLIOoUmId5_fNoriGx7gy7JRZ79xBXvNRk59a76t3VPSUDR9Ze2GwkaaoznIKRnAiW_J8-tbhHAgZAAdGrrcVMTtsQ7hXZ7XRpaCVAcymQj2uhixg390RWXryZ2vJ6ISTfxOB0ti_ylapRIrtV8Apj_yAvfiYl4cbo5FRytb_mSaLN4J__Lw","e":"AQAB"},"attributes":{"enabled":true,"created":1571337247,"updated":1571337247,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc756281625.vault.azure.net
        - /keys/crypto-test-encrypt-key56281625/create
        - api-version=7.0
        - ''
- request:
    body: '{"alg": "RSA-OAEP", "value": "nF7hzqpLV5u4Iq5ri0orqWB_z0qbXj7SmyaFPy7qxTr6NMcIpiqdyjBaEpQyW_0HVlGPnqXNSTa-ysn_sS6oYgRgVWIvetdM5jjQDb3V6Knd5ngoG4iXL_ASOqh_eLp9JMrqfDbIMIbzwLUl1pShh4N509sX6tA7zpB021m51rFW4MFoJuoSYveAUUfl1gxTaBNfJCFLSplXRWguccLrqFX13TkOXeHwiVO7R-uD6QGEmZ21cazmeAfi8PgdcXMUMY7C8BccF6IDP_P-iDFufLB-Lgva8Jt0nWt13w9crFVFnUwL1fJa-q2Zg9xtPMPPhmUmbOfo3wEumxbMjY1Wpg"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc756281625.vault.azure.net/keys/crypto-test-encrypt-key56281625/42c751e715094e5dbaff996e9346baea/decrypt?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vault458ad70cc756281625.vault.azure.net/keys/crypto-test-encrypt-key56281625/42c751e715094e5dbaff996e9346baea","value":"cGxhaW50ZXh0"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc756281625.vault.azure.net
        - /keys/crypto-test-encrypt-key56281625/42c751e715094e5dbaff996e9346baea/decrypt
        - api-version=7.0
        - ''
version: 1
