interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-2569a761226/create?api-version=7.3-preview
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '1'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"crv": "P-256", "kty": "EC-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-2569a761226/create?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1618440953,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1618440953},"key":{"crv":"P-256","key_ops":["verify","sign"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-2569a761226/f82944f4cace47d984c6760eb0421c30","kty":"EC-HSM","x":"W7PlBSKlFnhyEnwWBCqqRuO_91Hp8oTgRT1t__CvxXg","y":"lDWqrwpsq_WfPDBKZbYcvWJkhVVu0V9GX6O8xcKZVHc"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '282'
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "ES256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-2569a761226/f82944f4cace47d984c6760eb0421c30/sign?api-version=7.3-preview
  response:
    body:
      string: '{"alg":"ES256","kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-2569a761226/f82944f4cace47d984c6760eb0421c30","value":"Sw83V7wVHOq21dB7fQfTzWmKPLB1ZVjFAbBPhjtwTAVvXgm9iI-vTjzKUYEFfKHVYgqKUMrToaIcSUGSgDWyRw"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '95'
    status:
      code: 200
      message: OK
- request:
    body: '{"crv": "P-256K", "kty": "EC-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256K9a761226/create?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1618440956,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1618440956},"key":{"crv":"P-256K","key_ops":["verify","sign"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256K9a761226/6bb475e115a347e3202ea73e61630e46","kty":"EC-HSM","x":"W0cjJLSPgiN1wRQODca2e3FX1z0P8CHnLgaotN8WuVI","y":"HzWQz3NMd6_XQalSxHsODu0Gg9hwcoeGkXs0WFnyqm8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '261'
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "ES256K", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256K9a761226/6bb475e115a347e3202ea73e61630e46/sign?api-version=7.3-preview
  response:
    body:
      string: '{"alg":"ES256K","kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256K9a761226/6bb475e115a347e3202ea73e61630e46","value":"YJph5n-zpYToPay3yXk6kkXEaaZyagXXH0k4OQXZQAOpGiQott3DYsUrbknSoVJDEnrqLBpUyFZwmQsRkLiSBQ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '101'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "ES512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-5219a761226/1fc213ffae030f0b94065cdd5c6c21d5/sign?api-version=7.3-preview
  response:
    body:
      string: '{"alg":"ES512","kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-5219a761226/1fc213ffae030f0b94065cdd5c6c21d5","value":"ABb8qGnG54fl07bGyRdRxQmD4ZRH7TeSMDi5zj3EiWgBJF3Iq1pNZ72IHUy275mqpsXxmmDeNtLVfDwH1pOjkwS8ARdOvD6QLQzWqVw2lrNNckZqfMDdGW81lTeK5HNROYoRVwkijXRxpYdxiWK1qKoTGYemSvRDEz4d-hS5dcu_iRyK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '180'
    status:
      code: 200
      message: OK
version: 1
