interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey0cf3012ee/create?api-version=7.2
  response:
    body:
      string: ''
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency: '5'
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestkey0cf3012ee/create?api-version=7.2
- request:
    body: '{"kty": "RSA-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey0cf3012ee/create?api-version=7.2
  response:
    body:
      string: '{"attributes":{"created":1643835092,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1643835092},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey0cf3012ee/bd5b57f3b63149d72167e3d664eb672f","kty":"RSA-HSM","n":"ucWQo-J1yW2LHEnQvvFrDdpGIt-ehTLDEahvDivPAQgLR60g8JS3F0tIFSSmvu_1yYXhY5Zwei_qjf18L6YMK2LpJ4x-PTDFJ_grjBtSQKtzUDdfWJDC2JVsVJU0AC10OT_DjQAi924lR6jnhCdN93SEK-gPw0jnd3zikVyy5F-HFcxfi_6qerkIPOMlNo4NG1VgjdvqDpes_-D6Lj3TxSb8rdaie58x4JDb5djXXPGu6JT_ZagtkkQArtkmqF12iRW-Bq23ne1ODbftaxUHKCrIIjaZdyc68bBdkC_RPyk8wNDc6ACmBw65UiHYoEn8I_IVq2tV9fLZB7XOAKLauw"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '209'
    status:
      code: 200
      message: OK
    url: https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestkey0cf3012ee/create?api-version=7.2
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey0cf3012ee?api-version=7.2
  response:
    body:
      string: '{"attributes":{"created":1643835092,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1643835092},"deletedDate":1643835106,"key":{"e":"AQAB","key_ops":["wrapKey","encrypt","decrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey0cf3012ee/bd5b57f3b63149d72167e3d664eb672f","kty":"RSA-HSM","n":"ucWQo-J1yW2LHEnQvvFrDdpGIt-ehTLDEahvDivPAQgLR60g8JS3F0tIFSSmvu_1yYXhY5Zwei_qjf18L6YMK2LpJ4x-PTDFJ_grjBtSQKtzUDdfWJDC2JVsVJU0AC10OT_DjQAi924lR6jnhCdN93SEK-gPw0jnd3zikVyy5F-HFcxfi_6qerkIPOMlNo4NG1VgjdvqDpes_-D6Lj3TxSb8rdaie58x4JDb5djXXPGu6JT_ZagtkkQArtkmqF12iRW-Bq23ne1ODbftaxUHKCrIIjaZdyc68bBdkC_RPyk8wNDc6ACmBw65UiHYoEn8I_IVq2tV9fLZB7XOAKLauw"},"recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey0cf3012ee","scheduledPurgeDate":1644439906}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '143'
    status:
      code: 200
      message: OK
    url: https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestkey0cf3012ee?api-version=7.2
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey0cf3012ee?api-version=7.2
  response:
    body:
      string: '{"attributes":{"created":1643835092,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1643835092},"deletedDate":1643835106,"key":{"e":"AQAB","key_ops":["verify","sign","unwrapKey","encrypt","decrypt","wrapKey"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey0cf3012ee/bd5b57f3b63149d72167e3d664eb672f","kty":"RSA-HSM","n":"ucWQo-J1yW2LHEnQvvFrDdpGIt-ehTLDEahvDivPAQgLR60g8JS3F0tIFSSmvu_1yYXhY5Zwei_qjf18L6YMK2LpJ4x-PTDFJ_grjBtSQKtzUDdfWJDC2JVsVJU0AC10OT_DjQAi924lR6jnhCdN93SEK-gPw0jnd3zikVyy5F-HFcxfi_6qerkIPOMlNo4NG1VgjdvqDpes_-D6Lj3TxSb8rdaie58x4JDb5djXXPGu6JT_ZagtkkQArtkmqF12iRW-Bq23ne1ODbftaxUHKCrIIjaZdyc68bBdkC_RPyk8wNDc6ACmBw65UiHYoEn8I_IVq2tV9fLZB7XOAKLauw"},"recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey0cf3012ee","scheduledPurgeDate":1644439906}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20220117-1-eb2a1acb-1.0.20211206-1-be739728-develop
      x-ms-server-latency: '29'
    status:
      code: 200
      message: OK
    url: https://mcpatinokvhsm.managedhsm.azure.net/deletedkeys/livekvtestkey0cf3012ee?api-version=7.2
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys?api-version=7.2
  response:
    body:
      string: '{"value":[{"attributes":{"created":1643835092,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1643835092},"deletedDate":1643835106,"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey0cf3012ee","recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey0cf3012ee","scheduledPurgeDate":1644439906},{"attributes":{"created":1643835094,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel"[...]
[...]
