interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultaxnjywktbx25cf0f71.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultaxnjywktbx25cf0f71.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vaultaxnjywktbx25cf0f71.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/ca91ffe853574500a308d693036ea30c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"yzcMKTQCDkG1FBmedKgOIiKYMwKv1fA5bKwiw2-pwy4guB72Ar1kMy6Oa7SJsC72e3TGSFD_RD-raQXHX75LwsPF3q-Un8ntwkDZwh4RlHzg1gP5OAKSE_NYCnaQ0o4L6xBfzjVSMzl2FQDsaTly6XCangzrp7d1xPyGBsPx7H5A5RuoHe_zQH_q4e4eMQf1oNQplIuch700vNvCblGGYwS04CBE2Wj8uAZd61SrViKxv5ifiDczQBAZ-LQoiz3pOw4f0RoudwhusG0BanRXR-w9MsdHi-Iew6jHHT2Y3ppwG0_zO5orj1LCVdnJrGv_-NjRz0V4OroSIZbniluQlw","e":"AQAB"},"attributes":{"enabled":true,"created":1566941191,"updated":1566941191,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"alg": "RS256", "value": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultaxnjywktbx25cf0f71.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/ca91ffe853574500a308d693036ea30c/sign?api-version=7.0
  response:
    body: {string: '{"kid":"https://vaultaxnjywktbx25cf0f71.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/ca91ffe853574500a308d693036ea30c","value":"QN9T_JlNXf1FlHJmkKMDN0FNt7DGGdpucWGbmYN-7ldFFZ5IlaK0Ixj-UM0k-Ij0VlwJDYHxaFm7zrA1S9B37YPF8SugzSHvhYOnvQ0nexIIQSmfSDiTOJqdcbBB7WAhWWdB-lgiu03ULobwGvVQ_mod90YQM8mBt1MkXpb_UXdA13oC3jhG7B-SkKO1KVVoxuMXaXFEma8qbUWsSum6BmapYTjBMZMqV68iz6Qq8fE-ViHhk5gUltwQADIGhNEULDiiCf3ed_hhJW2N59iyY0NJ-GDoydXduYs7D1kaf42fX1L9T-ROYek7iDoebiRcHj1X7kluZja8goc9DSSUFg"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"alg": "RS256", "digest": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw",
      "value": "QN9T_JlNXf1FlHJmkKMDN0FNt7DGGdpucWGbmYN-7ldFFZ5IlaK0Ixj-UM0k-Ij0VlwJDYHxaFm7zrA1S9B37YPF8SugzSHvhYOnvQ0nexIIQSmfSDiTOJqdcbBB7WAhWWdB-lgiu03ULobwGvVQ_mod90YQM8mBt1MkXpb_UXdA13oC3jhG7B-SkKO1KVVoxuMXaXFEma8qbUWsSum6BmapYTjBMZMqV68iz6Qq8fE-ViHhk5gUltwQADIGhNEULDiiCf3ed_hhJW2N59iyY0NJ-GDoydXduYs7D1kaf42fX1L9T-ROYek7iDoebiRcHj1X7kluZja8goc9DSSUFg"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultaxnjywktbx25cf0f71.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/ca91ffe853574500a308d693036ea30c/verify?api-version=7.0
  response:
    body: {string: '{"value":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
