interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key25cf0f71/create?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key25cf0f71/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key25cf0f71/6925a68a055446329e7cf335e01c1bac","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"9vQJ4ADwGqky8GiM_dvSMVaQlFZyqxQGEoBpMdeZSb2e9_3B9oJWrXsH84ibiiqDT_xQy2gZJWinW83kWHm7K0TCMEx4NR7jggrDUPJp5afmTFxp6GiyLDXQCVMs-7vqbexW28ZtEth6Os6dMS7bQ6b30LcmFGWT9oG_faASCfO0OPm2y5LsN15cZCdPoiYqL85UFukRhFOGEk1_UtKCfyvs7N2OUPpYr7XOdSxb_tTrRcjFrCs0a3ByrpUSNBTdEuBwFm0GdsP2pO4ATWUd9TAoCPOBXJWyNbOyjRwZyWMAYOagwmRsCI6yFqotC9JkTHWhROehIIK2Hbw_ENgP3Q","e":"AQAB"},"attributes":{"enabled":true,"created":1612576317,"updated":1612576317,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw", "alg": "RS256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key25cf0f71/6925a68a055446329e7cf335e01c1bac/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-key25cf0f71/6925a68a055446329e7cf335e01c1bac","value":"2w_YfXVgaa1s4uc6qDkUSIavhkxWRmAljm-wpMsQouDED2HYDrFbus-x6CdM3azSx9_YnAdQXzmjNJyGXOKoH8rTEhf4Tg_uwzipIU8bJI_2KOQdrIBGG6fTxKHzQmstD2sWqoEilRYCmUuaeS8sGSPv-52gu1tsJGopuacatXD4tD-qh36WxhR5NjaLpA7KujcGu8xaLal6mX-j_5dyUF0skHLgivKSUk3kFxCcuwvi3hhy246zO69YdEQYHok4FXxwJJWgBiV-2EgeLN6_JjSa3sW667Mmt-QhQskwY_PaydfCfD06DYwlSR52Xr-Y6RsVOQb-Vy0GXQ0jG9L0pQ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
