interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtesteckey7871425/create?api-version=7.3-preview
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '1'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "EC-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtesteckey7871425/create?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1625604862,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625604862},"key":{"crv":"P-256","key_ops":["verify","sign"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtesteckey7871425/99013edb1fa203a6323142ef5d9935c9","kty":"EC-HSM","x":"2QYBDBiz9HjP0dCSOCaceYpNpJx3YvqWwfhHKJFlmAw","y":"q9i7p00vL8XIERX_9bak3D9J6BEAZ6fnrNTuHS59slM"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '323'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtesteckey7871425/99013edb1fa203a6323142ef5d9935c9?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1625604862,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625604862},"key":{"crv":"P-256","key_ops":["verify","sign"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtesteckey7871425/99013edb1fa203a6323142ef5d9935c9","kty":"EC-HSM","x":"2QYBDBiz9HjP0dCSOCaceYpNpJx3YvqWwfhHKJFlmAw","y":"q9i7p00vL8XIERX_9bak3D9J6BEAZ6fnrNTuHS59slM"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20210605-1-ffd80f31-develop
      x-ms-server-latency:
      - '102'
    status:
      code: 200
      message: OK
version: 1
