interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048f9c813cc/create?api-version=7.3
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '0'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048f9c813cc/create?api-version=7.3
  response:
    body:
      string: '{"attributes":{"created":1647991417,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1647991417},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048f9c813cc/55b6494a4625403a0df5381097bab1c0","kty":"RSA-HSM","n":"st9qe_8jjGrKvX7-G7mGmEVUejF-KCxpPq4DNXAasv32mYgCtlalEXS9zNEM7KRBwlbUxw3g4w-0XbdS0ZOEkQe3C_NhCXEdYELK1tRbFW6j0_lmpm5aRHbP6BFXNtuBHeLLKm3MOsSDJ99Xe5zUnvKhhXMQdzhqFkRXhI994sCYdsDAmf3h7Sdq_PVdH8iO-Ri-fLABtjCAIOdN_xr8p8uHjgNkhLLY2v3YKE3H1Dcr_KJ0y7wWzMBgOHPF2snaBoGn5Dz0BfCVH4FUFijuxldl0cxYCOoPHAzp897qolu926agJNnUIEWkSTQt5CfbnMHH1vYXsll9pHwErjTvPw"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '270'
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "PS256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048f9c813cc/55b6494a4625403a0df5381097bab1c0/sign?api-version=7.3
  response:
    body:
      string: '{"alg":"PS256","kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-verify-2048f9c813cc/55b6494a4625403a0df5381097bab1c0","value":"O9OYcCM95ml3-Jn_uQEuxAtVKpbrtEN0h7aH0RFF3Y6b6zAdbydJf_pxlJMv0z0oay6H7k05An2IX_4SdsgNOgk2LbwX6zx8uYAJUBBxzz3_EntW7JOA_7EZdg2MKzfw-FgUkA-uZao7CH-u8sB3YnULoX-UVfE9681t9ZjQXAtD8ppi9tYisy8b_IompRVVKlHoJm0F_mPUYdj7WfZFpmXMkSM8ItRETHXU9qzL5yg6Fq64iGHkr_Gt8BgeAKdwBibz1X0-uq6mxd8d3TrYpPpVVSJw7P8gNU7tLpu8E1PeM-2E8j__zBtZx9mKaEvDCJebm3m0fk_TVSXUHDVYqw"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '113'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "RS512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-verify-4096f9c813cc/d3fc6191e46845723941d99083bf53f5/sign?api-version=7.3
  response:
    body:
      string: '{"alg":"RS512","kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-verify-4096f9c813cc/d3fc6191e46845723941d99083bf53f5","value":"WlsJ8i0rr6oP5HBDqsbJ9IJ7pWNRpIFSFEezEbmntI-8y2pk_F1rl5-JcWMU_w-votKNGn1xI7MjaVGyyvUxBeLpaWPaiLRJFahpQXKBl1a9YmSQzbULetf_7obQ0ECqRnZ5EkljyPxvyKfIhNQkj9sEHz3I4CmKYUcSwikZiA2m4fsuvroxOhGHVF5uGkNqjOZqhx-tZrY2ow911PplIKIZ06yYXmdXvexeimYxSQSaS_A3cuf50StPoedgLma8FhKBL5RnQz6w0VvjuZat7W9ImXh-Fb1H_h3MHrUIchW3RQFBqQZJLDzEtcgEEq2KkyQuw-yTLzU8_oqJBQzD5P8tQViX6BEre1wbmk_UvWbqJVlYz_1OIkKQv6SBKzuaeo7ueHdSyjZicCvh5kSUHr_-zh1zTU8V7lN2dP8mZgvbhk9DE-2vlU57-RFS14sOnFX0CpSdUxGkpJLOWFfYsmtYdJjHq3GJ57MCQIiDRGu72fLwwbMr6oNX0RNWerAiBUc9mbZyAnFZlzJNIsyQrxpAljIKJHXLdXWnNRQJebF2gShF4sG3Shy9onUAxm3F00AgwAg_J5IM2mBQE4G3bnPir-s-ppLmD6z7HypMktTQdH7b2vhDu-WS6CZ6A7kOs9Vig4vjSFBWoTzjqcWdWB5cXHUeYlfvQjZLcuJw5-0"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '13'
    status:
      code: 200
      message: OK
version: 1
