interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/keys/livekvtestsymmetric-kwffb61470?api-version=7.2-preview
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '2'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"key": {"kty": "oct-HSM", "k": "4n7QyEUSu9VbavQ00jfBH-ujEYcPgPLC4zZCYPMcgsg",
      "key_ops": ["encrypt", "decrypt", "wrapKey", "unwrapKey"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/keys/livekvtestsymmetric-kwffb61470?api-version=7.2-preview
  response:
    body:
      string: '{"attributes":{"created":1612850211,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1612850211},"key":{"key_ops":["encrypt","decrypt","wrapKey","unwrapKey"],"kid":"https://vaultname.vault.azure.net/keys/livekvtestsymmetric-kwffb61470/f5ce740200da41178a09368a49352091","kty":"oct-HSM"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '261'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestsymmetric-kwffb61470/f5ce740200da41178a09368a49352091?api-version=7.2-preview
  response:
    body:
      string: '{"attributes":{"created":1612850211,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1612850211},"key":{"key_ops":["decrypt","encrypt","wrapKey","unwrapKey"],"kid":"https://vaultname.vault.azure.net/keys/livekvtestsymmetric-kwffb61470/f5ce740200da41178a09368a49352091","kty":"oct-HSM"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20210204-1-c9f88df4-develop
      x-ms-server-latency:
      - '58'
    status:
      code: 200
      message: OK
version: 1
