interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtesteckey44f81005/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtesteckey44f81005/create?api-version=7.1
- request:
    body: '{"kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtesteckey44f81005/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtesteckey44f81005/9bb2f595f7eb4f579db03020a0fe34bc","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"rgbZkuujMtN3cBesPQ5vs1Opd38B5XMhsvidRsgiYN4","y":"5JAzIm6VMD0oecMsbfBWSREk4Xpqw66ZFyIE8sooanE"},"attributes":{"enabled":true,"created":1612576276,"updated":1612576276,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtesteckey44f81005/create?api-version=7.1
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtesteckey44f81005/9bb2f595f7eb4f579db03020a0fe34bc?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtesteckey44f81005/9bb2f595f7eb4f579db03020a0fe34bc","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"rgbZkuujMtN3cBesPQ5vs1Opd38B5XMhsvidRsgiYN4","y":"5JAzIm6VMD0oecMsbfBWSREk4Xpqw66ZFyIE8sooanE"},"attributes":{"enabled":true,"created":1612576276,"updated":1612576276,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtesteckey44f81005/9bb2f595f7eb4f579db03020a0fe34bc?api-version=7.1
version: 1
