{
  "Entries": [
    {
      "RequestUri": "00000000-0000-0000-0000-000000000000keys/livekvtestkey03311274c/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "00000000-0000-0000-0000-000000000000keys/livekvtestkey03311274c/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "254"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1650061410,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1650061410
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "00000000-0000-0000-0000-000000000000keys/livekvtestkey03311274c/70dd6452269306a803c51d0a62687638",
          "kty": "RSA-HSM",
          "n": "sLO1RYW3lDhnqbzqbzC0O6-J4UdQVdcECesJY3714jliduE10PY3EC6zqv81mskK6g51aMrp1bnip0BIYBPVb1F90QQraA1qvzDSeRc_yRqU6vq2WPyS7fjTxG9XOFDweI1kCQxZeJ5j8TSWjhL-XkknOU23v-iZGEeZ5yEXblmOP1jhyCUYhhQ1qA5jo-2NAvnckpOE_DvfIbGEySRJXh_3B_TpyBVlUHsncYAFeowW9IubwBa8V3J8w3t_zeFMrAXfdAJBdnRtRDTRTxXhxJGE7CBSvpkBifdO_VKq39jDnZBC3YcXBuA0ckMsWegY9VBuSU3w6gGaZCViT8ZuMw"
        }
      }
    },
[...]
    {
      "RequestUri": "00000000-0000-0000-0000-000000000000keys/livekvtestkey03311274c?api-version=7.3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "170"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1650061410,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1650061410
        },
        "deletedDate": 1650061425,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "00000000-0000-0000-0000-000000000000keys/livekvtestkey03311274c/70dd6452269306a803c51d0a62687638",
          "kty": "RSA-HSM",
          "n": "sLO1RYW3lDhnqbzqbzC0O6-J4UdQVdcECesJY3714jliduE10PY3EC6zqv81mskK6g51aMrp1bnip0BIYBPVb1F90QQraA1qvzDSeRc_yRqU6vq2WPyS7fjTxG9XOFDweI1kCQxZeJ5j8TSWjhL-XkknOU23v-iZGEeZ5yEXblmOP1jhyCUYhhQ1qA5jo-2NAvnckpOE_DvfIbGEySRJXh_3B_TpyBVlUHsncYAFeowW9IubwBa8V3J8w3t_zeFMrAXfdAJBdnRtRDTRTxXhxJGE7CBSvpkBifdO_VKq39jDnZBC3YcXBuA0ckMsWegY9VBuSU3w6gGaZCViT8ZuMw"
        },
        "recoveryId": "00000000-0000-0000-0000-000000000000deletedkeys/livekvtestkey03311274c",
        "scheduledPurgeDate": 1650666225
      }
    },
    {
      "RequestUri": "00000000-0000-0000-0000-000000000000deletedkeys/livekvtestkey03311274c?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-latency": "29"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1650061410,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1650061410
        },
        "deletedDate": 1650061425,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "00000000-0000-0000-0000-000000000000keys/livekvtestkey03311274c/70dd6452269306a803c51d0a62687638",
          "kty": "RSA-HSM",
          "n": "sLO1RYW3lDhnqbzqbzC0O6-J4UdQVdcECesJY3714jliduE10PY3EC6zqv81mskK6g51aMrp1bnip0BIYBPVb1F90QQraA1qvzDSeRc_yRqU6vq2WPyS7fjTxG9XOFDweI1kCQxZeJ5j8TSWjhL-XkknOU23v-iZGEeZ5yEXblmOP1jhyCUYhhQ1qA5jo-2NAvnckpOE_DvfIbGEySRJXh_3B_TpyBVlUHsncYAFeowW9IubwBa8V3J8w3t_zeFMrAXfdAJBdnRtRDTRTxXhxJGE7CBSvpkBifdO_VKq39jDnZBC3YcXBuA0ckMsWegY9VBuSU3w6gGaZCViT8ZuMw"
        },
        "recoveryId": "00000000-0000-0000-0000-000000000000deletedkeys/livekvtestkey03311274c",
        "scheduledPurgeDate": 1650666225
      }
    },
[...]
    {
      "RequestUri": "00000000-0000-0000-0000-000000000000deletedkeys?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-latency": "33"
      },
      "ResponseBody": {
        "nextLink": "00000000-0000-0000-0000-000000000000deletedkeys?maxresults=25\u0026$skiptoken=K1JJRDp-Sklwb0FObnRjOUpjQUFBQUFBQUFBQT09I1JUOjEjVFJDOjEwI0lTVjoyI0lFTzo2NTU2Nw",
        "value": [
          {
            "attributes": {
              "created": 1650058982,
              "enabled": true,
              "exp": 2524723200,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "updated": 1650058985
            },
            "deletedDate": 1650058986,
            "kid": "00000000-0000-0000-0000-000000000000keys/livekvtestcrud-rsa-key3e722c4f",
            "recoveryId": "00000000-0000-0000-0000-000000000000deletedkeys/livekvtestcrud-rsa-key3e722c4f",
            "scheduledPurgeDate": 1650663786,
            "tags": {
              "foo": "updated tag"
            }
          },
          {
            "attributes": {
              "created": 1650059031,
              "enabled": true,
              "exp": 2524723200,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "updated": 1650059035
            },
            "deletedDate": 1650059035,
            "kid": "00000000-0000-0000-0000-000000000000keys/livekvtestcrud-rsa-key3e[...]
    {
      "RequestUri": "00000000-0000-0000-0000-000000000000deletedkeys?api-version=7.3\u0026maxresults=25\u0026$skiptoken=K1JJRDp-Sklwb0FObnRjOUpjQUFBQUFBQUFBQT09I1JUOjEjVFJDOjEwI0lTVjoyI0lFTzo2NTU2Nw",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-[...]
    {
      "RequestUri": "00000000-0000-0000-0000-000000000000deletedkeys?api-version=7.3\u0026maxresults=25\u0026$skiptoken=K1JJRDp-Sklwb0FObnRjOUp3QUFBQUFBQUFBQT09I1JUOjIjVFJDOjIwI0lTVjoyI0lFTzo2NTU2Nw",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-[...]
    {
      "RequestUri": "00000000-0000-0000-0000-000000000000deletedkeys/livekvtestkey03311274c/recover?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "110"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1650061410,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1650061410
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "00000000-0000-0000-0000-000000000000keys/livekvtestkey03311274c/70dd6452269306a803c51d0a62687638",
          "kty": "RSA-HSM",
          "n": "sLO1RYW3lDhnqbzqbzC0O6-J4UdQVdcECesJY3714jliduE10PY3EC6zqv81mskK6g51aMrp1bnip0BIYBPVb1F90QQraA1qvzDSeRc_yRqU6vq2WPyS7fjTxG9XOFDweI1kCQxZeJ5j8TSWjhL-XkknOU23v-iZGEeZ5yEXblmOP1jhyCUYhhQ1qA5jo-2NAvnckpOE_DvfIbGEySRJXh_3B_TpyBVlUHsncYAFeowW9IubwBa8V3J8w3t_zeFMrAXfdAJBdnRtRDTRTxXhxJGE7CBSvpkBifdO_VKq39jDnZBC3YcXBuA0ckMsWegY9VBuSU3w6gGaZCViT8ZuMw"
        }
      }
    },
[...]
    {
      "RequestUri": "00000000-0000-0000-0000-000000000000deletedkeys/livekvtestkey63311274c/recover?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "117"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1650061424,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1650061424
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "00000000-0000-0000-0000-000000000000keys/livekvtestkey63311274c/8425570aa8d000d08656d9e6f53d5d10",
          "kty": "RSA-HSM",
          "n": "kfqHjhc9BwJd2wdGrDgUJvf2Ppln30P4Ov8XiWCZQ1vwEMIvd7xaJr_cQ8txGt9TR1cjRac5wS4HS9akK-PZRCWAxZqj-hSZ9JZNsB6q1tzRbrE9x5UclCEGlNEmYmBZjF0FFMZ28O0RRZE28j2Mmh7nYE5RhoPTr1ZXnni7ahVR-lRvIyfU5t9G58_oVMhVGXrrlzuMFZIh1MV1bJNhY-Jsfgi2Qfggiyc1RqafzOWR419nddMxZ2EoDtNnXe8QwlK60MkvPwTltdb2JOvxK4frhuerg0hll2lqJhrjNc5y2gpjewrvqCF5lxAPNJWH7sjLnDwxxIjpCJJHoSnD8w"
        }
      }
    }
  ],
  "Variables": {}
}
