interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault938825cf0f71.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault938825cf0f71.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault938825cf0f71.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/bd730f8e5e4f488a90d1cf7cbb54c25d","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"0wiUdqaGblAY1aLg3cplo_dM0H02jlzqPQqzZsuL63oO0arOEnLiAPlHf2HlyVz5NjaeNAnckhgb7VoHrv9uqfqv4u1Ybspm4jJPTaNbijgHMqYgH-fvopl2NXyWdQacMbTI4LEHc7ziAusb2r-vwer62Jw7p4Ip8D3Cg3IdRoiRWa8LhwVPeUyAYs0gWXFtoKuAoLxKY_3IzpKMkOi_Fzesu4kT9F4qt7auDER-Po7wmvD9nXjJgPg-uXzkFqNcdwzfUMPdQfIYbdeto3jEfYednuLmXJyYgx4tmQJykPh9yjq1pSWIXiSMfZBoJ6pkQKOx4NXhm8sZTAzZXbGITw","e":"AQAB"},"attributes":{"enabled":true,"created":1566925651,"updated":1566925651,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"alg": "RS256", "value": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault938825cf0f71.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/bd730f8e5e4f488a90d1cf7cbb54c25d/sign?api-version=7.0
  response:
    body: {string: '{"kid":"https://vault938825cf0f71.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/bd730f8e5e4f488a90d1cf7cbb54c25d","value":"eL3gVaNsH64nly6yq5nVmbHYAQro6tuQOu1R2GSn4Y_WoyGwtwB1ZREOqfBArGkkLaGKsvW48kxEdmLKTci9asF4U6R_pqSG-T4WEulfL_LRaFwb0Jl81kt1HE2OoQASKKNn9udDAfOmdIpgUc50gZsSabai1GRBcjOCjHNMvnMui9gdZsP9Kgcjb2XV7MN6-j4MiEAuQTx7qig7f4x-tkjHJAWTXdYJlTmMIejAGV1TpusvyZBUsa511yPrP9xlrbOLiU-PiDTVUVBolUFSA7WlaE7G3_yabHsZROKH77b4pRt2o_xQSsST8tf-xxAccXnnWtOoLvZlyGLfQT-Ihw"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"alg": "RS256", "digest": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw",
      "value": "eL3gVaNsH64nly6yq5nVmbHYAQro6tuQOu1R2GSn4Y_WoyGwtwB1ZREOqfBArGkkLaGKsvW48kxEdmLKTci9asF4U6R_pqSG-T4WEulfL_LRaFwb0Jl81kt1HE2OoQASKKNn9udDAfOmdIpgUc50gZsSabai1GRBcjOCjHNMvnMui9gdZsP9Kgcjb2XV7MN6-j4MiEAuQTx7qig7f4x-tkjHJAWTXdYJlTmMIejAGV1TpusvyZBUsa511yPrP9xlrbOLiU-PiDTVUVBolUFSA7WlaE7G3_yabHsZROKH77b4pRt2o_xQSsST8tf-xxAccXnnWtOoLvZlyGLfQT-Ihw"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault938825cf0f71.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/bd730f8e5e4f488a90d1cf7cbb54c25d/verify?api-version=7.0
  response:
    body: {string: '{"value":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
