interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestencrypt-local8b0011d8/create?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestencrypt-local8b0011d8/create?api-version=7.2-preview
- request:
    body: '{"kty": "RSA", "key_size": 4096}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestencrypt-local8b0011d8/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestencrypt-local8b0011d8/63561fd75fe54d428ac3344c255f8d79","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"y-FPkND7fll2bvppZYn0revFszWjvthhw82DemwK_hsBjV4xcb-4BFZ31Ws68dAzqX7Pv5aZG8jqXewp-DND-vUya5PyIVyZpwjy1A1P0hRsW5-TEWqPqoKZbPbMLYjv1S7SeiQzV4k4NL31ULK4sNA5qJpEvrcTScjORE3tYGMhnf23hlNbBSz5oR8pQGPa2XdhHUHgfVTZhAM_NsPalGf1Ke03N6SX8S6EQHp8xv71nRuOVzXlZ2yCgzxb9FO5PuxNSCdEa8cSghdqKCSoCjLBQivZPQShHqe-xq2CvducUzqTOsChuF5Rel9AqKBPQ03bgCZWd7g0ibkaP0WcIAa4w0X0kerOPL8QbMNcCerW5UEL4T4l0iy4-to3CJ-xmr_i1nN5IfL97kCmkQE4Zpc3oW1sZMUQFvIBmCu2oIOTfGEenhPQKmgJe1Bt92LgfGrCLqsI04NXouRVhkHitkYu7damzbUBL-GntNsnIx8_PGne2nxA08C44goKpnnQADC9TjOJsthG9L7NoOl8CxRrGoyZ9MikQDAq1ewPigE_C0yJVCmSQdPjHbqkq1szzuy3YJCXMJ2pOMDu0jd66-b3dGK0wXoUYZaLM25ibsbku2K3KgVkwoQuNnxYcmKIpAUWYoPBhapf40D-YkzuT-mZDR16Y5lr0Bu7iM-3e4U","e":"AQAB"},"attributes":{"enabled":true,"created":1612578071,"updated":1612578071,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestencrypt-local8b0011d8/create?api-version=7.2-preview
- request:
    body: '{"alg": "RSA-OAEP", "value": "Wr-Uo9W87YiCrd36f0vurzJd835eCg-Jb1mYn_DA0VTnZTp2FHFdRPxUPU88TQgEPFNJAuTElAUFRtlQKLexhdKwy8-K4KzqYd871eGTxVH2y1YxVqVqx23IorlcCcsRikOOQ5TngF_OKL_R5JzyDhT7NqlrjLms5a3TED_JSst2cdR56l2piZVdqXAXJ_jTcZyF3DUacMElxveoZCCdtYGmoZoheMQCfuc1sb7HLEt0OQhrP1tU_xJddAvBnm-zCkIybSt3OlXGtnlQ9BxVMsTi1gHj7maQQpq-zimp5bI3lp5kFlO2AimwmzdRqoV7zpCUd30W7SNCg1uF1VO2hkqRB-KcIIp8a9g3fJEYxnUHK8Qy5c8gvb0uLz56yHHOvQTHiG2fP8j6noe_xbrHzq6WlTWOJYFaCCLhkzxy2__fykICMd4_ldIMPPAzc57Ut4c62fUsdIbPm6eUUaR9whm8v33fSH_pjeyf9e7MF-A94Rs4HS[...]
[...]
