interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault8bf41593caa7710b8a.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault8bf41593caa7710b8a.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault8bf41593caa7710b8a.vault.azure.net/keys/key0/bd00d12c09f348188df61e21db4d3557","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"hjrYxP1_-InPz93pyx-AzWT6Jv01UzXR-DBwwwLzn5S4lFtzeLbCcbDDFNxG07EYLc_cfoF1YE0tw3zTDWcjfqdwaGsibwJJoLsmglWI9SC8blrXlWXViLT6B_0_cEjiB7H3Ui-Il8BQOYswcKGNFBg8JFP51jwNmxoN7-VYAn-e-r6J4f4sRXZYy0fZC7IFAbSrEeCuWBB01mcoQJ82wN3zLxjhEHduOV22oOw20825J78UKowaEpeT4WKTLt9zHJAJeKMmJAp0so4174zcD5TUew_4GpayFlfJS0HaYAGjYOrPiybvFHyaxubrxEA7KacloavjDrNcBok2NrpEdw","e":"AQAB"},"attributes":{"enabled":true,"created":1570207644,"updated":1570207644,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault8bf41593caa7710b8a.vault.azure.net/keys/key0?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault8bf41593caa7710b8a.vault.azure.net/deletedkeys/key0","deletedDate":1570207645,"scheduledPurgeDate":1577983645,"key":{"kid":"https://vault8bf41593caa7710b8a.vault.azure.net/keys/key0/bd00d12c09f348188df61e21db4d3557","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"hjrYxP1_-InPz93pyx-AzWT6Jv01UzXR-DBwwwLzn5S4lFtzeLbCcbDDFNxG07EYLc_cfoF1YE0tw3zTDWcjfqdwaGsibwJJoLsmglWI9SC8blrXlWXViLT6B_0_cEjiB7H3Ui-Il8BQOYswcKGNFBg8JFP51jwNmxoN7-VYAn-e-r6J4f4sRXZYy0fZC7IFAbSrEeCuWBB01mcoQJ82wN3zLxjhEHduOV22oOw20825J78UKowaEpeT4WKTLt9zHJAJeKMmJAp0so4174zcD5TUew_4GpayFlfJS0HaYAGjYOrPiybvFHyaxubrxEA7KacloavjDrNcBok2NrpEdw","e":"AQAB"},"attributes":{"enabled":true,"created":1570207644,"updated":1570207644,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault8bf41593caa7710b8a.vault.azure.net/deletedkeys/key0?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: key0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault8bf41593caa7710b8a.vault.azure.net/deletedkeys?api-version=7.0
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vault8bf41593caa7710b8a.vault.azure.net/deletedkeys/key0","deletedDate":1570207645,"scheduledPurgeDate":1577983645,"kid":"https://vault8bf41593caa7710b8a.vault.azure.net/keys/key0","attributes":{"enabled":true,"created":1570207644,"updated":1570207644,"recoveryLevel":"Recoverable+Purgeable"}},{"recoveryId":"https://vault8bf41593caa7710b8a.vault.azure.net/deletedkeys/key1","deletedDate":1570207646,"scheduledPurgeDate":1577983646,"kid":"https://vault8bf41593caa7710b8a.vault[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vault8bf41593caa7710b8a.vault.azure.net/deletedkeys/key0/recover?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault8bf41593caa7710b8a.vault.azure.net/keys/key0/bd00d12c09f348188df61e21db4d3557","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"hjrYxP1_-InPz93pyx-AzWT6Jv01UzXR-DBwwwLzn5S4lFtzeLbCcbDDFNxG07EYLc_cfoF1YE0tw3zTDWcjfqdwaGsibwJJoLsmglWI9SC8blrXlWXViLT6B_0_cEjiB7H3Ui-Il8BQOYswcKGNFBg8JFP51jwNmxoN7-VYAn-e-r6J4f4sRXZYy0fZC7IFAbSrEeCuWBB01mcoQJ82wN3zLxjhEHduOV22oOw20825J78UKowaEpeT4WKTLt9zHJAJeKMmJAp0so4174zcD5TUew_4GpayFlfJS0HaYAGjYOrPiybvFHyaxubrxEA7KacloavjDrNcBok2NrpEdw","e":"AQAB"},"attributes":{"enabled":true,"created":1570207644,"updated":1570207644,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vault8bf41593caa7710b8a.vault.azure.net/deletedkeys/key6/recover?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault8bf41593caa7710b8a.vault.azure.net/keys/key6/8c7aedcc3183472aaa7baddc45c293ae","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"tqXiJxWDwi77hffzkSvqU2cs3TnjiCl8DiEowSflYucKCK7v6Q3hXJTeCbvfrokqyvTf9twA-liRr8VRs0UeTq7qchOFgSS2xY2pItNmlx1yBW70IDxp24DSeyIlcQXoc1wJ4QxFVdA5zzcE_F3yh1gwPBP9VpGJZL1z2x2oWa3t9jYuIaHVckVIRBzLsXWZd9g-1mmXqXi1CnAO-M9BIa-mcYZ_QYO3QGQdkKTpBzPCbmtq2C8YsE3J2Ccpb9poZJUUHYXalop--rdiZA_X0EyTghSnwdcC3Dr98QW6MjBdXcd9EVQCu_zu-JbQLa9Y3Ye9s3Eav8Hr24-j44oJvQ","e":"AQAB"},"attributes":{"enabled":true,"created":1570207645,"updated":1570207645,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
