interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048c2d1130d/create?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestrsa-verify-2048c2d1130d/create?api-version=7.2-preview
- request:
    body: '{"key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey", "unwrapKey"],
      "key_size": 2048, "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048c2d1130d/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048c2d1130d/aced16314fa549d0aa171d50b6ad738d","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"w2DZEnuRgG0flMFmNnAaFu1WPDpKWgHP5bdWF3vaCez9iXkpcj4mYlaT5MHIyETGqgtmUAHu1lRYRCFjtIolBHEXjSF357JfCWaJUew1dn7HhsbDaloXrCJ_rllPTb_LkicpBwPuU5b3sAcczBWi7MwdSLPKp07vdAT97xOKguAxwIuJa2doIcSFZctMT8I7W1woIq4YZ4qhFgox_WjdScspcfSa7mVljrMkbFpI0KCa6xrpPWQ5imckSn6aP-I2uuASJbLLyN-pbleqBiO-6NLkspvf1tMktyPtCKb_Z7duMVBMMOtY3FKb5Da8ffrbO4cDlBKfX9jbffLrHtFzDQ","e":"AQAB"},"attributes":{"enabled":true,"created":1615591206,"updated":1615591206,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestrsa-verify-2048c2d1130d/create?api-version=7.2-preview
- request:
    body: '{"alg": "PS256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048c2d1130d/aced16314fa549d0aa171d50b6ad738d/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048c2d1130d/aced16314fa549d0aa171d50b6ad738d","value":"ALiCWz_dq_o-YLBQsAYoY5bxwTXXf5dp1fjj9cPPw-mstV8kxPmSgdNsHCYZc1fxasrNnuA8tajGDf1DOndROpBJj_ZdipJEYioRf4N6ynda-ut8F55OX50EW0aBE4vFf3Qo99DXhsJiCqhLeAH3t0rQr8Wom8BhZbZT4AwbCxkIQUFuZNn90gdWa4n0T37YSqOsqNeeayh9Gj2dihQWUCvZP-Vw6wZNZzar1-RtvMC5fswypY9mVt60bvaznKGqJNp8TFQ6hXFKDKEDhw7eNrHuelX_kRXKu9OaHNbSAmMfJF3bMdp04OTbkHKnOcv4eKQ7FGFE851vOuZri1wMeg"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestrsa-verify-2048c2d1130d/aced16314fa549d0aa171d50b6ad738d/sign?api-version=7.2-preview
[...]
- request:
    body: '{"alg": "RS512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-4096c2d1130d/e4867a9baaa04b2192d55f5f20262b99/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-4096c2d1130d/e4867a9baaa04b2192d55f5f20262b99","value":"GzSBj0zJA-jQwXZ8BX7OAzksmwX2pUkFyKocJtx-42veco7VMqMu7ajmmfocUo15LZhlmCHWS9xtrnyKUO4-_W6OqdY_GHyAXAC16XoKpaPRlgvxJf7fJUuUUlE6zW-YOxgyJGKw7zsewLBj8qGmtEpaXwGhT6yUizpVXgaEK8Sa-roja4d-U3TSQ5rzX9l5lShj5xr943A2uO19u07RUGpT-VUzM-JdyhToYbjnMTY8t4iyJR50xwvnCd7_h5BOlAP41u5-kaJbiW9JWs0yZIM8Ww7hXBIPFhVcW9Yve4ICstpjbaYW8PPMfnR1NrSvNIvn48iYRpKo8bM3VnYzn4LKH7nWFnWrkDXfG5-IKYNh8D_hSArTbGwdeOiLjMCuJV7T1Pd1DWZ1uEe7A2xItNZ1W84eaFGWwK4dZPz_Up8runmeCPCQix11Qp3X2W7BjGYNv2mSd7yVTYhddlseONHUUMsQH0OvJc6x2ODG858RQvwr23BxIUGchFCuU20qJInfxiQnjFclh_pdIQ1l5OzPzG8faxYdYb883mYreOaPmbEvL1kTsLMSWin_Yv_fgOxbW3Wtsh_G8jfu0beb2_A-RmYGT5EqnbbbwOvLSgtgwSkgiTuTU0CP_3lQ70srwiSja6Rx1lzjk87WIO2WgFM-auaFcTBitNchF8OoCD0"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestrsa-verify-4096c2d1130d/e4867a9baaa04b2192d55f5f20262b99/sign?api-version=7.2-preview
version: 1
