interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultfcf91456.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: ''
    headers:
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vaultfcf91456.vault.azure.net
        - /keys/key-name/create
        - api-version=7.0
        - ''
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultfcf91456.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultfcf91456.vault.azure.net/keys/key-name/896fd129ece84f1781b0fbc146a5ecf5","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"tC-zwt_MYEF4cZ4DDFjtfMUrlie9a0s5ZdkhA2p-BpOGpfcR1jkXQtOirLaC-c7vCyHTj7FauK-j-sZp6tLLQVTrjxuF4yr23qnJPaOsmmMT5um36xNg8eNaMF7p7z9VYEAwXOAWx1ei77MdfgBRV_YMzdxRLYvyzvorUDWhHg58Ple1ZM37VStOpU8layK0T12wJOsqJnPvOvz_m24WlbaP94UJcjs79GZPCXdrK-XRmmaw0ibKbE2mtAltfJHOMdQ7etmlUUW4eY838dTGudYi3vdvJI77h6700K7QH8xRm9jlUlp9AH8PIcBqfW-QI1a45N4GvsGYfHFYCz4piw","e":"AQAB"},"attributes":{"enabled":true,"created":1564527667,"updated":1564527667,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vaultfcf91456.vault.azure.net
        - /keys/key-name/create
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultfcf91456.vault.azure.net/keys/key-name?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vaultfcf91456.vault.azure.net/deletedkeys/key-name","deletedDate":1564527667,"scheduledPurgeDate":1572303667,"key":{"kid":"https://vaultfcf91456.vault.azure.net/keys/key-name/896fd129ece84f1781b0fbc146a5ecf5","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"tC-zwt_MYEF4cZ4DDFjtfMUrlie9a0s5ZdkhA2p-BpOGpfcR1jkXQtOirLaC-c7vCyHTj7FauK-j-sZp6tLLQVTrjxuF4yr23qnJPaOsmmMT5um36xNg8eNaMF7p7z9VYEAwXOAWx1ei77MdfgBRV_YMzdxRLYvyzvorUDWhHg58Ple1ZM37VStOpU8layK0T12wJOsqJnPvOvz_m24WlbaP94UJcjs79GZPCXdrK-XRmmaw0ibKbE2mtAltfJHOMdQ7etmlUUW4eY838dTGudYi3vdvJI77h6700K7QH8xRm9jlUlp9AH8PIcBqfW-QI1a45N4GvsGYfHFYCz4piw","e":"AQAB"},"attributes":{"enabled":true,"created":1564527667,"updated":1564527667,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vaultfcf91456.vault.azure.net
        - /keys/key-name
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultfcf91456.vault.azure.net/deletedkeys/key-name?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: key-name"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vaultfcf91456.vault.azure.net
        - /deletedkeys/key-name
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vaultfcf91456.vault.azure.net/deletedkeys/key-name/recover?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultfcf91456.vault.azure.net/keys/key-name/896fd129ece84f1781b0fbc146a5ecf5","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"tC-zwt_MYEF4cZ4DDFjtfMUrlie9a0s5ZdkhA2p-BpOGpfcR1jkXQtOirLaC-c7vCyHTj7FauK-j-sZp6tLLQVTrjxuF4yr23qnJPaOsmmMT5um36xNg8eNaMF7p7z9VYEAwXOAWx1ei77MdfgBRV_YMzdxRLYvyzvorUDWhHg58Ple1ZM37VStOpU8layK0T12wJOsqJnPvOvz_m24WlbaP94UJcjs79GZPCXdrK-XRmmaw0ibKbE2mtAltfJHOMdQ7etmlUUW4eY838dTGudYi3vdvJI77h6700K7QH8xRm9jlUlp9AH8PIcBqfW-QI1a45N4GvsGYfHFYCz4piw","e":"AQAB"},"attributes":{"enabled":true,"created":1564527667,"updated":1564527667,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vaultfcf91456.vault.azure.net
        - /deletedkeys/key-name/recover
        - api-version=7.0
        - ''
version: 1
