interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault8bf41593ca55c41090.vault.azure.net/keys/rsa-verify-2048/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "key_size": 2048}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault8bf41593ca55c41090.vault.azure.net/keys/rsa-verify-2048/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault8bf41593ca55c41090.vault.azure.net/keys/rsa-verify-2048/80f3b307498d4ea09612c062e3cad667","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"0WvlMaG_Igrro-jRbqCnzHijOSD3F4IKH8aj27m2vloCuGwJJUekS82piOLdC5BD_onwQWYQOGZ3nMtb0ef-dBaF7q2yrjdy3731HpVi-hIOX5sJWevv-RDlmExOk8YpnxmrqN0LkYNlc3_Hr6OtQFviKvSt5EzVk-lEZeq9GkFVVnQnbKiNtVSW_2-UHeo745dRFyrLO3bzvopjHsHwU2adZwdJDLkMbOpia8RvhyERoGTDx5k1NouvqzKkWsXaqFnMUYrYLJO7yUK7mhr4WDiPtagrXOvHnaFxYDrs5ZPdZvTjan5sHOF3Vlg_MrPeKYGpwJtjr0VAsC9LZb2Xow","e":"AQAB"},"attributes":{"enabled":true,"created":1568927840,"updated":1568927840,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "PS256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault8bf41593ca55c41090.vault.azure.net/keys/rsa-verify-2048/80f3b307498d4ea09612c062e3cad667/sign?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vault8bf41593ca55c41090.vault.azure.net/keys/rsa-verify-2048/80f3b307498d4ea09612c062e3cad667","value":"l1zWjPlV9Dks7T9YYnHHgd8O49vYBX8XACxRlpPYoRpBs1YjlSORlWu3RRSuoRp3fI0m1sWiVLlRRV4p_hCpYvlv6X02SRViBzd6GJ9hAJ9pSO7SeBv7QMu2r9Y8SaC7KjhlUFIBdr42j2tqoR2q529BNMTH4_DH2bTgfbzHFEmAUrIfV4CN0nA0Blk-JtoQXiKZ16bCoaC8PNNT3G1SuovOf1seLAxY7sd1HOgnFS5rc0znFC0o_cswn8-gPGzzH9Z0jrTdAvQrL5NMGs4jFUr9nm95Adq7lpn21dUNIXbfX30qZmrs-5uIIj4_mrf5lGN9Wt2gIvBBjHTn8PJLHg"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "RS512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault8bf41593ca55c41090.vault.azure.net/keys/rsa-verify-4096/79906831f629462189775f7de3249dfc/sign?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vault8bf41593ca55c41090.vault.azure.net/keys/rsa-verify-4096/79906831f629462189775f7de3249dfc","value":"dSA1vAArDSYjhKnsS-VC62R3km7ueTofDkMIW8zuY2Ev4QOqipzqqaY61793Q3BuRz2fNy-EmzrY4XR7NqgdnafbNgpK7fLJJOlYo8WQPp7i_vZO2GjaQIvtwCqf7pqMBp64CqEE83etfys4tO56CatcgtkFneQjdL_7DDogJcQC8K2D5eM3NTe4tlqsW3LADZFrqlMoFASHvaXnhPDAyIsXZ7jROY9PXUgzLqLLalXeoXt0kdu58LmGGR3TOVC9W-84x6ItdWC-qekYqMpAjeKGKk1GVn4NBhuVEuQMlt9wzhdN4vIbtSt-h8Dd8S7WfovgFEa6mi6me81dtRhyHUrluWPeVY12b0kCZcHR5WvU1Lb1Jmd623IcR1Zui-gA-c-fSDpjSoWhSz9P6Z6uUFlY7ldv7rCiXCMXG5DQbXzxobuBJdo2JEiWENWt_2EtXUzfCotZ5oJRtz1HERIRm5i-s8nqQ-VjyVdqy1In6P4X6MaUw0swX9ER54CZljYNCk-IJd3Bwh3FQ8u8C0Ix3qgAOHZChT8GTAcTZ5NTkMBC6mf5V-Kq95V9ee9P8EnbU9XHDSPVXqDaa5ygcY5QnoLvyMTW7IbPlYwW38ioRn9ojNaOOaJPzyqSl_ZqN8aXGlO8CTapFuoIYQWgo_PeNNpuXaXNi390_jIy_xeor2k"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
