interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc7c2d1130d.vault.azure.net/keys/rsa-verify-2048/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7c2d1130d.vault.azure.net
        - /keys/rsa-verify-2048/create
        - api-version=7.0
        - ''
- request:
    body: '{"kty": "RSA", "key_size": 2048}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc7c2d1130d.vault.azure.net/keys/rsa-verify-2048/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc7c2d1130d.vault.azure.net/keys/rsa-verify-2048/482a5ec98e904e119c7da0cd95c651e1","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"xRxgqIIrxZhAk5nEn4Y_WubyCP3rzkk62KLf3eYJqZzmGM-Sat6hZSDAGc-6FqYkVeWrd22k6UzSo3PS8kuqewAqaqMWRdDXtWsW8ccIY3uGwie8ZQiHum4Ly7-z809rbSkYd4grEbRPpXAYmhVzU4jT1XVKv1hlrBqZ2Xd36MjhN_PaaBTYbF9JDyAWi-yeL0-V7vlqO1dI1MDuczZWu3RF_ylAJV3cOYNN_g6XRYr61sT5JtvDGLI0KvsVppWWfPLfjgsKXHWGbKZbwbE97iMmX9DOwe5jltODPAmoAvhCRjfyfdjIYd6oysA9ARfZK-2nDLFKMCWWj_3KHpm_3Q","e":"AQAB"},"attributes":{"enabled":true,"created":1571698431,"updated":1571698431,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7c2d1130d.vault.azure.net
        - /keys/rsa-verify-2048/create
        - api-version=7.0
        - ''
- request:
    body: '{"alg": "PS256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc7c2d1130d.vault.azure.net/keys/rsa-verify-2048/482a5ec98e904e119c7da0cd95c651e1/sign?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vault458ad70cc7c2d1130d.vault.azure.net/keys/rsa-verify-2048/482a5ec98e904e119c7da0cd95c651e1","value":"ICkp7XOIgyLqheoBApHo1LrOeL4wlTOVQ-EkWK3ScJ_ud_fw-t4MQaySmM5Y_o8dzV0RSKauGxG1fb1qyKiHcsZQhOmZjazNmR-QtS42GOoJEiF4xdr9vdNKlB5tdxKEmc2NhaIwAILpAzoOVUmLJ35XIrP7wasO2Cb5cSjSaYH_SEzP1_CN3U54xveICM4Mf8qjeUVR375w5eMNcKGO1xJdQ2KtNSChnrIGZF3xLaudkFku1cm_K4WuaWX4rROtLtF2PO3XDACM6i3bkeNOKExDoyf6J-TZr_YWN8c_0O0J1XKYnyqvNTGblBK7-LLbxqXIoMKTeCyRNMi9xT0hvw"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7c2d1130d.vault.azure.net
        - /keys/rsa-verify-2048/482a5ec98e904e119c7da0cd95c651e1/sign
        - api-version=7.0
        - ''
[...]
