interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault8bf41593ca51c4108d.vault.azure.net/keys/crud-ec-key/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "EC-HSM", "attributes": {"enabled": true}, "tags": {"purpose":
      "unit test", "test name": "CreateECKeyTest"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault8bf41593ca51c4108d.vault.azure.net/keys/crud-ec-key/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault8bf41593ca51c4108d.vault.azure.net/keys/crud-ec-key/581e9d95fafb42b6ab205d13df61c583","kty":"EC-HSM","key_ops":["sign","verify"],"crv":"P-256","x":"iTJyw0Q_sK_tQbktcFceT7oXauO0-KWvwyV09qKL1fs","y":"gBrDitjtmhTU51Ibc_VybrG7tzELXrubITPM0AGQMwY"},"attributes":{"enabled":true,"created":1568927924,"updated":1568927924,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"purpose":"unit
        test","test name":"CreateECKeyTest"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault8bf41593ca51c4108d.vault.azure.net/keys/crud-P-256-ec-key/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault8bf41593ca51c4108d.vault.azure.net/keys/crud-P-256-ec-key/46a7163d93634abea0dc0066e026f9dd","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"LR9Q07TZyK3YB2LJDmRHHXW4RSZ9SKRwQAG5MarwM18","y":"6acSZJSlWd6iIsNnwfZUFx-MnJAno75XqOlhidJqGus"},"attributes":{"enabled":true,"created":1568927924,"updated":1568927924,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"key": {"kty": "RSA", "key_ops": ["encrypt", "decrypt", "sign", "verify",
      "wrapKey", "unwrapKey"], "n": "AKCRTQAjSsaDshtMFdW-2Ie9yVnC5Xr1Suc06PAHINd10nXkVSB-N4TO62ClCkZV3XKnqU0nHo7o95WaZpym53W_DiO62umRtFKdl4UotL2QUh0y3SZWeWuoK2u_x2aMj17rUFN0f9GZMZ0pqEQNCPRBLVJ_-TEe2nGCWSC0exxGsRqz6R1zFkB-icfzQPe4WjQELOUXQ7J9RxhAPTTHtDivYYG-BeTRHrmF04JT1_6b9T_C8bAC0i0teT-nmlBLarQtBJKATXBx1yegbPOoiTqlQrFQP4MrKWNxtnB9Tcbjcvj-Z9je0ckI_eRc4DvAhqcUh_p15Dqg4GeaoNIO_jU",
      "e": "AQAB", "d": "Ynx9JGaBSP4iUsf6ZJ6opantRNdcdmzaQrKbZg6ZQE8Ohi1FYabJWvaoPSE-CiJEsDzShXZHMhUHN4X7Bn8BXaGQhK3p9HXgiwQKmix7oAJTu4ElUIyd8UC3UWHSZr40el4PaQD-HYu_eMzCXus34MnRiNbh_BUWm6T-Eidhk9d3kNIyaSi9YNDQHW6tjWrEhhq63O7JU1j9ZonFChZxpKk20jdkQKQURVAdpOdL-5j4I70ZxFuU6wHZj8DS8oRQfwGOvZKbgYDb5jgf3UNL_7eACqq92XPVX56vm7iKbqeyjCqAIx5y3hrSRIJtZlWCwjYnYQGd4unxDLi8wmJWSQ",
      "dp": "AMmhWb5yZcu6vJr8xJZ-t0_likxJRUMZAtEULaWZt2DgODj4y9JrZDJP6mvckzhQP0WXk2NuWbU2HR5pUeCN2wieG1B76VKoH76vfnaJDqT1NuJVBcP2SLHog3ffwZtMME5zjfygchG3kihqOSpwTQ9ETAqAJTkRC38fEhwAz_Cp",
      "dq": "AKC9TAo9n2RDaggjdLXK8kiLrBVoaWFTpqXkzYXRhtsx4vWPAkxhfSnze05rVMl6HiXv7FnE0f0wYawzUJzoyuXBH0zS6D9BqCZPeF543AmWB27iPf38Q9Z8Rjr6oBgMSnGDV_mm8nDVQkeaDyE4cOZh-5UKvKShTKKQVwunmDNH",
      "qi": "AJ_nrkLpK8BPzVeARkvSHQyKwMWZ-a8CD95qsKfn0dOZAvXY-2xhQYTEwbED-0bpTNEKbIpA-ZkaHygmnzJkNbbFAnb9pkkzU8ZQqDP3JNgMfVIroWx58Oth9nJza2j7i-MkPRCUPEq3Ao0J52z7WJIiLji8TTVYW_NaiM1oxzsH",
      "p": "ANHerI1o3dLB_VLVmZZVss8VZSYN5SaeQ_0qhfOSgOFwj__waCFmy2EG7l6l6f_Z-Y0L7Mn_LNov68lyWSFa2EuQUeVj4UoFHc5Di8ZUGiSsTwFM-XMtNuv8HmGgDYLL5BIJD3eTz71LdgW-Ez38OZH34b7VeG8zfeUDb8Hi30zz",
      "q": "AMPcZrZBqbc82DO8Q5zTT8ZXRGWrW36KktMllaIk1W2RHnRiQiW0jBWmcCgqUcQNHa1LwumjyNqwx28QBS37BTvG7ULGUoio6LrOeoiBGEMj-U19sX6m37plEhj5[...]
- request:
    body: '{"kty": "RSA", "key_size": 2048, "key_ops": ["encrypt", "decrypt", "sign",
      "verify", "wrapKey", "unwrapKey"], "tags": {"purpose": "unit test", "test name
      ": "CreateRSAKeyTest"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault8bf41593ca51c4108d.vault.azure.net/keys/crud-rsa-key/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault8bf41593ca51c4108d.vault.azure.net/keys/crud-rsa-key/a9645fc432374dbd95e8ec2956f2a529","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"pUpC4X_HndUoT_pBIbE8C56k1s45Jriy_dnKRY5AzxnnjG-g4tnWro3B-EbIeU5e1Jou_QU-nxN6D7GaNge-zvlOyFujxGvaSpCYfoaFBFo_JxUETCnbrvutQht4h1amoYf7dy7znttCe4mJ2jujDjJGihwxb0F5sKtDUMVOFPGx2-xXbriYig121p5r55CZY0udN_d8C9PzIbnbgPIO_yeQHaV4M3F9YDBnf4s9dgpFMYmDyMEHzw-IZoauucgw4CfI8dEisGrs6Ap4WnkYqThjsxqtPyavm6xaeP1p1AzMCE8zBfAztuw8_AzMgjS8DNId1xSayS_wSzSQ2cdUPw","e":"AQAB"},"attributes":{"enabled":true,"created":1568927924,"updated":1568927924,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault8bf41593ca51c4108d.vault.azure.net/keys/crud-rsa-key/a9645fc432374dbd95e8ec2956f2a529?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault8bf41593ca51c4108d.vault.azure.net/keys/crud-rsa-key/a9645fc432374dbd95e8ec2956f2a529","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"pUpC4X_HndUoT_pBIbE8C56k1s45Jriy_dnKRY5AzxnnjG-g4tnWro3B-EbIeU5e1Jou_QU-nxN6D7GaNge-zvlOyFujxGvaSpCYfoaFBFo_JxUETCnbrvutQht4h1amoYf7dy7znttCe4mJ2jujDjJGihwxb0F5sKtDUMVOFPGx2-xXbriYig121p5r55CZY0udN_d8C9PzIbnbgPIO_yeQHaV4M3F9YDBnf4s9dgpFMYmDyMEHzw-IZoauucgw4CfI8dEisGrs6Ap4WnkYqThjsxqtPyavm6xaeP1p1AzMCE8zBfAztuw8_AzMgjS8DNId1xSayS_wSzSQ2cdUPw","e":"AQAB"},"attributes":{"enabled":true,"created":1568927924,"updated":1568927924,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault8bf41593ca51c4108d.vault.azure.net/keys/crud-rsa-key/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault8bf41593ca51c4108d.vault.azure.net/keys/crud-rsa-key/a9645fc432374dbd95e8ec2956f2a529","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"pUpC4X_HndUoT_pBIbE8C56k1s45Jriy_dnKRY5AzxnnjG-g4tnWro3B-EbIeU5e1Jou_QU-nxN6D7GaNge-zvlOyFujxGvaSpCYfoaFBFo_JxUETCnbrvutQht4h1amoYf7dy7znttCe4mJ2jujDjJGihwxb0F5sKtDUMVOFPGx2-xXbriYig121p5r55CZY0udN_d8C9PzIbnbgPIO_yeQHaV4M3F9YDBnf4s9dgpFMYmDyMEHzw-IZoauucgw4CfI8dEisGrs6Ap4WnkYqThjsxqtPyavm6xaeP1p1AzMCE8zBfAztuw8_AzMgjS8DNId1xSayS_wSzSQ2cdUPw","e":"AQAB"},"attributes":{"enabled":true,"created":1568927924,"updated":1568927924,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"key_ops": ["decrypt", "encrypt"], "attributes": {"exp": 2524723200},
      "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://vault8bf41593ca51c4108d.vault.azure.net/keys/crud-rsa-key/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault8bf41593ca51c4108d.vault.azure.net/keys/crud-rsa-key/a9645fc432374dbd95e8ec2956f2a529","kty":"RSA","key_ops":["decrypt","encrypt"],"n":"pUpC4X_HndUoT_pBIbE8C56k1s45Jriy_dnKRY5AzxnnjG-g4tnWro3B-EbIeU5e1Jou_QU-nxN6D7GaNge-zvlOyFujxGvaSpCYfoaFBFo_JxUETCnbrvutQht4h1amoYf7dy7znttCe4mJ2jujDjJGihwxb0F5sKtDUMVOFPGx2-xXbriYig121p5r55CZY0udN_d8C9PzIbnbgPIO_yeQHaV4M3F9YDBnf4s9dgpFMYmDyMEHzw-IZoauucgw4CfI8dEisGrs6Ap4WnkYqThjsxqtPyavm6xaeP1p1AzMCE8zBfAztuw8_AzMgjS8DNId1xSayS_wSzSQ2cdUPw","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1568927924,"updated":1568927926,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault8bf41593ca51c4108d.vault.azure.net/keys/crud-rsa-key?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault8bf41593ca51c4108d.vault.azure.net/deletedkeys/crud-rsa-key","deletedDate":1568927926,"scheduledPurgeDate":1576703926,"key":{"kid":"https://vault8bf41593ca51c4108d.vault.azure.net/keys/crud-rsa-key/a9645fc432374dbd95e8ec2956f2a529","kty":"RSA","key_ops":["decrypt","encrypt"],"n":"pUpC4X_HndUoT_pBIbE8C56k1s45Jriy_dnKRY5AzxnnjG-g4tnWro3B-EbIeU5e1Jou_QU-nxN6D7GaNge-zvlOyFujxGvaSpCYfoaFBFo_JxUETCnbrvutQht4h1amoYf7dy7znttCe4mJ2jujDjJGihwxb0F5sKtDUMVOFPGx2-xXbriYig121p5r55CZY0udN_d8C9PzIbnbgPIO_yeQHaV4M3F9YDBnf4s9dgpFMYmDyMEHzw-IZoauucgw4CfI8dEisGrs6Ap4WnkYqThjsxqtPyavm6xaeP1p1AzMCE8zBfAztuw8_AzMgjS8DNId1xSayS_wSzSQ2cdUPw","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1568927924,"updated":1568927926,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault8bf41593ca51c4108d.vault.azure.net/deletedkeys/crud-rsa-key?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: crud-rsa-key"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault8bf41593ca51c4108d.vault.azure.net/deletedkeys/crud-rsa-key?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault8bf41593ca51c4108d.vault.azure.net/deletedkeys/crud-rsa-key","deletedDate":1568927926,"scheduledPurgeDate":1576703926,"key":{"kid":"https://vault8bf41593ca51c4108d.vault.azure.net/keys/crud-rsa-key/a9645fc432374dbd95e8ec2956f2a529","kty":"RSA","key_ops":["decrypt","encrypt"],"n":"pUpC4X_HndUoT_pBIbE8C56k1s45Jriy_dnKRY5AzxnnjG-g4tnWro3B-EbIeU5e1Jou_QU-nxN6D7GaNge-zvlOyFujxGvaSpCYfoaFBFo_JxUETCnbrvutQht4h1amoYf7dy7znttCe4mJ2jujDjJGihwxb0F5sKtDUMVOFPGx2-xXbriYig121p5r55CZY0udN_d8C9PzIbnbgPIO_yeQHaV4M3F9YDBnf4s9dgpFMYmDyMEHzw-IZoauucgw4CfI8dEisGrs6Ap4WnkYqThjsxqtPyavm6xaeP1p1AzMCE8zBfAztuw8_AzMgjS8DNId1xSayS_wSzSQ2cdUPw","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1568927924,"updated":1568927926,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
