interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key-namec5271bd4/create?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"attributes": {"exp": 2527401600}, "kty": "RSA-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key-namec5271bd4/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key-namec5271bd4/f26bd9b68b9b4f38a2bcaf38601e37d5","kty":"RSA-HSM","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"qwsJKQgz_tJ0WmOwTArBw33TFlnaqyfW6FDHx8fpVM-MwfB8fbaXL08By-57X8tmUC3u1lv6LTxAGNLH8nhmJI4iqaBbOaZ4BumUrFrs6pWzMpzGNbv6YnJE9CMNvHuF0H8OSrCphXuVD21OrM0RTCwI_JHvF9dDRpitwE6_8QEz5cJJdM52K3sNR6yjsj6x0wDZNQIMwG62-t0TTaOjwKtUKwW7NQkpxwhoCGIaQU3iz5g6JW-WyAzURrJtoOA7lipITm8qdbMJFbJKNCGMPPt-3x3ur_JPn1dwDuT8m9KY1XK-F2Nj5z6t1rFx-HnPrGHdLvekZJE4cjLhlYy3EQ","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":2527401600,"created":1618875626,"updated":1618875626,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey", "unwrapKey"],
      "key_size": 2048, "kty": "RSA-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key-namec5271bd4/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key-namec5271bd4/9d9ba0c9cd91492994bc2e36b107dbbb","kty":"RSA-HSM","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"sMppFXZQHGUTtps-T8PcJ9Amwi4jgbXWtKsoODKzv36ctPAsVkKnRl5KuhNjOF8NNcpKiQX1idMz7AP4lRgoqAIs-BhB3Tmb10F2yA-N3C38q9xHzDpcNKy3iAf3rsCh5YCzo6gok_XVLhYihiNTUdxpKT6tb5r8mhLHz78pYREhCII9lIxJsnu1Jq5dCTqq3kfs027PdNri-mp84lXNbG7AYmglCKKXczN11mDmgapfj6vDUwDqoHXZ-NfsrvhSSHLq4ZxCt6414Y3WY0-C5MXrguMescxLwTmwWrHnpuvbw8WOz5xU8ahqKVxkuEnWm61GHQ8vBRnYln9hNeEu_w","e":"AAEAAQ"},"attributes":{"enabled":true,"created":1618875627,"updated":1618875627,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"crv": "P-256", "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key-namec5271bd4/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key-namec5271bd4/26d037639bfb45a3af5e9ceb4c4239d2","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"R8tP5RXxvDVDyvb-37zrbI2mZr7SLevs_IpeTDkrCdg","y":"dtovyQ5JisQZO6ekRMZxMV0l0kYXF-OnvOnE5wew4Ps"},"attributes":{"enabled":true,"created":1618875628,"updated":1618875628,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/key-namec5271bd4/?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key-namec5271bd4/26d037639bfb45a3af5e9ceb4c4239d2","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"R8tP5RXxvDVDyvb-37zrbI2mZr7SLevs_IpeTDkrCdg","y":"dtovyQ5JisQZO6ekRMZxMV0l0kYXF-OnvOnE5wew4Ps"},"attributes":{"enabled":true,"created":1618875628,"updated":1618875628,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/key-namec5271bd4/26d037639bfb45a3af5e9ceb4c4239d2?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key-namec5271bd4/26d037639bfb45a3af5e9ceb4c4239d2","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"R8tP5RXxvDVDyvb-37zrbI2mZr7SLevs_IpeTDkrCdg","y":"dtovyQ5JisQZO6ekRMZxMV0l0kYXF-OnvOnE5wew4Ps"},"attributes":{"enabled":true,"created":1618875628,"updated":1618875628,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"attributes": {"exp": 2524723200}, "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://vaultname.vault.azure.net/keys/key-namec5271bd4/?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key-namec5271bd4/26d037639bfb45a3af5e9ceb4c4239d2","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"R8tP5RXxvDVDyvb-37zrbI2mZr7SLevs_IpeTDkrCdg","y":"dtovyQ5JisQZO6ekRMZxMV0l0kYXF-OnvOnE5wew4Ps"},"attributes":{"enabled":true,"exp":2524723200,"created":1618875628,"updated":1618875629,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/key-namec5271bd4?api-version=7.2-preview
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key-namec5271bd4","deletedDate":1618875629,"scheduledPurgeDate":1626651629,"key":{"kid":"https://vaultname.vault.azure.net/keys/key-namec5271bd4/26d037639bfb45a3af5e9ceb4c4239d2","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"R8tP5RXxvDVDyvb-37zrbI2mZr7SLevs_IpeTDkrCdg","y":"dtovyQ5JisQZO6ekRMZxMV0l0kYXF-OnvOnE5wew4Ps"},"attributes":{"enabled":true,"exp":2524723200,"created":1618875628,"updated":1618875629,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/key-namec5271bd4?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: key-namec5271bd4"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/key-namec5271bd4?api-version=7.2-preview
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key-namec5271bd4","deletedDate":1618875629,"scheduledPurgeDate":1626651629,"key":{"kid":"https://vaultname.vault.azure.net/keys/key-namec5271bd4/26d037639bfb45a3af5e9ceb4c4239d2","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"R8tP5RXxvDVDyvb-37zrbI2mZr7SLevs_IpeTDkrCdg","y":"dtovyQ5JisQZO6ekRMZxMV0l0kYXF-OnvOnE5wew4Ps"},"attributes":{"enabled":true,"exp":2524723200,"created":1618875628,"updated":1618875629,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
