interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-keya2f31725/create?api-version=7.3-preview
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '1'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA-HSM", "public_exponent": 17}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-keya2f31725/create?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1625593851,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625593851},"key":{"e":"EQ","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-keya2f31725/db2011c97c0e4204b5fa9f72f1f95bc0","kty":"RSA-HSM","n":"usxdKytYFs1QOSSnzhH3PueeQ-lpC2WdazUo6weRbSGWMNKORBtMoR0wHcdiyCXlwIIUtT78U6dJsm0xWsaSEZxnYKoUG_tl1rWG4c_jPzAyqyG2dp0e8lcZQ7cMv_9EuNlelDnsbPyCycSKz2cjVe5iZZoTSWOZjlI6L1l_68QcKEJser5_amSdYlDBh6b1ejIJdkg2JisM2lx4b3ej3iE5IZBtQZVZ2shw98A6ZYPblth3nC7amSo52I0DsuuBl44uw8iTdkwxj84z8C0upkiDbIgyylLb-vhKSZEnSNurTFB_mTaTDo95xdwRDUYsd2zdhic2hdjA59mUb7Mv9Q"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '1438'
    status:
      code: 200
      message: OK
version: 1
