{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestkey05c8227b9/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestkey05c8227b9/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "198"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1650642699,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1650642699
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestkey05c8227b9/15c51e150a9d4b7197a04a3c23d555cd",
          "kty": "RSA-HSM",
          "n": "qQGrmiOTNVH_R2gaiGmrk1jIESPJ82lWorT8lm-fDEVmr6yCUg2sgcqLfsKZabeUxI-EAk-PaLvm9XmGvBk3HEU0DNH3RzlnGHaZVGTlrU7s3bliPiTdOF1Diz9e12haYJn0rkJh6znXxw8T-d5RsVUqtnbRm7q7Giz9mb0YO71IXCfTgBohrMZzVZmT8EEvNmFaF_7PxukqVfjHb9vmtI_-ZpFYB9ELD5LAb_a5rTHvFFddJc5wmOxWZJILZDi6A5Y6xzYZzj9cH3fWLWlxV3xNCG6hZy056xOV-nVa97c_9jQfUwWFkKRgByYIVNGL-htMy3iwJUxdQvY6KHY8iQ"
        }
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-latency": "40"
      },
      "ResponseBody": {
        "nextLink": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2tSQUFBQUFBQUFBQT09I1JUOjEjVFJDOjYjSVNWOjIjSUVPOjY1NTY3",
        "value": [
          {
            "attributes": {
              "created": 1650642454,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "updated": 1650642454
            },
            "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestmultitenant-key1ab83264"
          },
          {
            "attributes": {
              "created": 1650642457,
  [...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.2\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2tSQUFBQUFBQUFBQT09I1JUOjEjVFJDOjYjSVNWOjIjSUVPOjY1NTY3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-la[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.2\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2tkQUFBQUFBQUFBQT09I1JUOjIjVFJDOjEyI0lTVjoyI0lFTzo2NTU2Nw",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.2\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2twQUFBQUFBQUFBQT09I1JUOjMjVFJDOjE4I0lTVjoyI0lFTzo2NTU2Nw",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.2\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2sxQUFBQUFBQUFBQT09I1JUOjQjVFJDOjI0I0lTVjoyI0lFTzo2NTU2Nw",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.2\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2xCQUFBQUFBQUFBQT09I1JUOjUjVFJDOjMwI0lTVjoyI0lFTzo2NTU2Nw",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.2\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2xOQUFBQUFBQUFBQT09I1JUOjYjVFJDOjM2I0lTVjoyI0lFTzo2NTU2Nw",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.2\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2xaQUFBQUFBQUFBQT09I1JUOjcjVFJDOjQyI0lTVjoyI0lFTzo2NTU2Nw",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.2\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2xsQUFBQUFBQUFBQT09I1JUOjgjVFJDOjQ4I0lTVjoyI0lFTzo2NTU2Nw",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.2\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2x4QUFBQUFBQUFBQT09I1JUOjkjVFJDOjU0I0lTVjoyI0lFTzo2NTU2Nw",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-latency": "31"
      },
      "ResponseBody": {
        "nextLink": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2w5QUFBQUFBQUFBQT09I1JUOjEwI1RSQzo2MCNJU1Y6MiNJRU86NjU1Njc",
        "value": [
          {
            "attributes": {
              "created": 1650642623,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "updated": 1650642623
            },
            "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestec-verify-P-5215f9630e9"
          },
          {
            "attributes": {
              "created": 1650642627,
              "enabled": true,
              "exportable": false,
              "nbf": 32503680000,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "updated": 1650642627
            },
            "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestrsa-not-yet-valid3a5634ad"
          },
          {
            "attributes": {
              "created": 1650642629,
              "enabled": true,
              "exp": 946684800,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "updated": 1650642629
            },
            "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestrsa-expired3a5634ad"
          },
          {
            "attributes": {
              "created": 1650642632,
              "enabled": true,
              "exp": 32535216000,
              "exportable": false,
     [...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.2\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2w5QUFBQUFBQUFBQT09I1JUOjEwI1RSQzo2MCNJU1Y6MiNJRU86NjU1Njc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.2\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS21MQUFBQUFBQUFBQT09I1JUOjExI1RSQzo2NiNJU1Y6MiNJRU86NjU1Njc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.2\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS21aQUFBQUFBQUFBQT09I1JUOjEyI1RSQzo3MiNJU1Y6MiNJRU86NjU1Njc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.2\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS21sQUFBQUFBQUFBQT09I1JUOjEzI1RSQzo3OCNJU1Y6MiNJRU86NjU1Njc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.2\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS214QUFBQUFBQUFBQT09I1JUOjE0I1RSQzo4NCNJU1Y6MiNJRU86NjU1Njc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-latency": "30"
      },
      "ResponseBody": {
        "value": [
          {
            "attributes": {
              "created": 1650642713,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "updated": 1650642713
            },
            "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestkey65c8227b9"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
