interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault6742a7710b8a.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault6742a7710b8a.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault6742a7710b8a.vault.azure.net/keys/key0/bb29520207764947b3c6baea153d6242","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"ocKbrivhOlz50jccM2xKD6IR4wg1g3tPzRoH3Eypv82DuWN8A3zL5LGTUBYQ_WqUIfZomxUuNm-s5_dqoVuXD8A4_qWxatWiDEJOMK8chsD-Xt5FgtvK7VxD56z02wBrA7Iai0b-vi4YpG_LFrYGxT4JdPQsAU_YcJ61aMpD_dR_LcPUBnHTHiPEpza2-m4ETt0Yic4WHOUMhLGDR8MpTGI9YnX11cRO_UWZBGLSLCXR4w4o4yBF9OYOslnSmlpgHvL3e7VHRV2NdjxQP3Jcu49Dg2KbmgEiAm5P5pS5BluO2CoRw5ywTZf_-K_T5TECrawpXFUPFf2neuQ1QAo2cQ","e":"AQAB"},"attributes":{"enabled":true,"created":1565814589,"updated":1565814589,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault6742a7710b8a.vault.azure.net/keys/key0?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vault6742a7710b8a.vault.azure.net/deletedkeys/key0","deletedDate":1565814589,"scheduledPurgeDate":1573590589,"key":{"kid":"https://vault6742a7710b8a.vault.azure.net/keys/key0/bb29520207764947b3c6baea153d6242","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"ocKbrivhOlz50jccM2xKD6IR4wg1g3tPzRoH3Eypv82DuWN8A3zL5LGTUBYQ_WqUIfZomxUuNm-s5_dqoVuXD8A4_qWxatWiDEJOMK8chsD-Xt5FgtvK7VxD56z02wBrA7Iai0b-vi4YpG_LFrYGxT4JdPQsAU_YcJ61aMpD_dR_LcPUBnHTHiPEpza2-m4ETt0Yic4WHOUMhLGDR8MpTGI9YnX11cRO_UWZBGLSLCXR4w4o4yBF9OYOslnSmlpgHvL3e7VHRV2NdjxQP3Jcu49Dg2KbmgEiAm5P5pS5BluO2CoRw5ywTZf_-K_T5TECrawpXFUPFf2neuQ1QAo2cQ","e":"AQAB"},"attributes":{"enabled":true,"created":1565814589,"updated":1565814589,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault6742a7710b8a.vault.azure.net/deletedkeys/key0?api-version=7.0
  response:
    body: {string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found:
        key0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault6742a7710b8a.vault.azure.net/deletedkeys?api-version=7.0
  response:
    body: {string: '{"value":[{"recoveryId":"https://vault6742a7710b8a.vault.azure.net/deletedkeys/key0","deletedDate":1565814589,"scheduledPurgeDate":1573590589,"kid":"https://vault6742a7710b8a.vault.azure.net/keys/key0","attributes":{"enabled":true,"created":1565814589,"updated":1565814589,"recoveryLevel":"Recoverable+Purgeable"}},{"recoveryId":"https://vault6742a7710b8a.vault.azure.net/deletedkeys/key1","deletedDate":1565814590,"scheduledPurgeDate":1573590590,"kid":"https://vault6742a7710b8a.vault.azure.net/keys/key1","a[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vault6742a7710b8a.vault.azure.net/deletedkeys/key0/recover?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault6742a7710b8a.vault.azure.net/keys/key0/bb29520207764947b3c6baea153d6242","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"ocKbrivhOlz50jccM2xKD6IR4wg1g3tPzRoH3Eypv82DuWN8A3zL5LGTUBYQ_WqUIfZomxUuNm-s5_dqoVuXD8A4_qWxatWiDEJOMK8chsD-Xt5FgtvK7VxD56z02wBrA7Iai0b-vi4YpG_LFrYGxT4JdPQsAU_YcJ61aMpD_dR_LcPUBnHTHiPEpza2-m4ETt0Yic4WHOUMhLGDR8MpTGI9YnX11cRO_UWZBGLSLCXR4w4o4yBF9OYOslnSmlpgHvL3e7VHRV2NdjxQP3Jcu49Dg2KbmgEiAm5P5pS5BluO2CoRw5ywTZf_-K_T5TECrawpXFUPFf2neuQ1QAo2cQ","e":"AQAB"},"attributes":{"enabled":true,"created":1565814589,"updated":1565814589,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vault6742a7710b8a.vault.azure.net/deletedkeys/key6/recover?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault6742a7710b8a.vault.azure.net/keys/key6/5191580ad7b04f9e86997465b7ad4616","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"uaS8TAtILw6eMpV-Sy4XpFFneq3X_vgEVovHM1Jtlu3u1XgPkBovwyyk7rXTIm_x_-c7IFEbT5thES4V754rJsYvv4A1q9mfIttQx_AWO-4UIWGcl5SR9BGs2Ah6W-BmBQAg1jDI4Nrnx_lSYYl6Ii1uotHUf6J8_-qagol7wdaLVV9EjuORB5264wMU5CYuWuvARFHLljzAaM5NdujRilOD2Gxu-A6rpJPXn1eKFHvReSnA1l0li9bZzAcR_CP2FoA9WH87x1kIak7OGe-b3lEucOihlRrTqDl-xg3sKvsyTNbD0OFpzmg3NLZ4K10vq-n1mYPrmRGA9LpzaRzg2w","e":"AQAB"},"attributes":{"enabled":true,"created":1565814589,"updated":1565814589,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
