interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault1051159997b3510bf8.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault1051159997b3510bf8.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault1051159997b3510bf8.vault.azure.net/keys/key0/2f98bb0c726342778356d0bb0e12ed9a","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"nNERYxqdf33MDAk_Cz66Rl9AxgpCTC-3FJdDKfftG8NmPbfW1wu7CcQFv-1JGQUdYcQLB3epNzIFna1hPnIBHVmF3wSfQ4PbZmS5WHaQyRjgK9DiAZpl2JcURMgd_A4gzXVxOyBCo9k6OlysQxrofqXCsThTeERcrcjFybCnwCG6n28R14hKgOrN5APaKLDgbOIbjCdaRf2C3JiMam_bjpCVMPnesR7csLn5tin-JVw8zciBrNmgJ-48QVf56A6FVKvCwVq96Oc9UPgJnqJ2b_GaxzHKd_C1hkQfxwCnYxMrBfuyNA4TpnfNbMooDv4Q2mEOsmmJMbjonn49pa_LTw","e":"AQAB"},"attributes":{"enabled":true,"created":1566943575,"updated":1566943575,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault1051159997b3510bf8.vault.azure.net/keys?maxresults=7&api-version=7.0
  response:
    body: {string: '{"value":[{"kid":"https://vault1051159997b3510bf8.vault.azure.net/keys/key0","attributes":{"enabled":true,"created":1566943575,"updated":1566943575,"recoveryLevel":"Purgeable"}},{"kid":"https://vault1051159997b3510bf8.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1566943576,"updated":1566943576,"recoveryLevel":"Purgeable"}},{"kid":"https://vault1051159997b3510bf8.vault.azure.net/keys/key2","attributes":{"enabled":true,"created":1566943576,"updated":1566943576,"recoveryLevel":"Purgeable"}},{"kid":"https://vault1051159997b3510bf8.vault.azure.net/keys/key3","attributes":{"enabled":true,"created":1566943576,"updated":1566943576,"recoveryLevel":"Purgeable"}},{"kid":"https://vault1051159997b3510bf8.vault.azure.net/keys/key4","attributes":{"enabled":true,"created":1566943576,"updated":1566943576,"recoveryLevel":"Purgeable"}},{"kid":"https://vault1051159997b3510bf8.vault.azure.net/keys/key5","attributes":{"enabled":true,"created":1566943577,"updated":1566943577,"recoveryLevel":"Purgeable"}},{"kid":"https://vault1051159997b3510bf8.vault.azure.net/keys/key6","attributes":{"enabled":true,"created":1566943577,"updated":1566943577,"recoveryLevel":"Purgeable"}}],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
