interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault674292670ac9.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Wed, 14 Aug 2019 20:30:28 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault674292670ac9.vault.azure.net,
        /keys/key0/create, api-version=7.0, '']
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault674292670ac9.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault674292670ac9.vault.azure.net/keys/key0/117ee0f3fb614adba763b041448d36ce","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"6mhPlyVaB81iU9l5ZRx4PoxxRIU1uI-sJeVHng1WA7qeY37fvp40WlQUntAmfS34xqVelj9SUhIR0hvhDquI349XwhtpShHaCF-M_t65vvN8yjTyeyHJ9Qo0bC_oo2_pIBs-uRRkn3uLJVXkAUU5DOLCczR83I5IJ62bIkCapoUVgX9ZZ4UhvqLONZDrmzXVql-3d5rhwfLKqbAzH4bODl7J5XpGlLixG5dFGCPnLxWvEJ8VzN-1ArfM-4mXGmpWRpto0akq4icWmuKEMyrS43ksfLzfPy0HtP_ta1mQDZavffH6iZsdY7hkkSzoPuxibazy23eJfHEL8U-DndPFTw","e":"AQAB"},"attributes":{"enabled":true,"created":1565814628,"updated":1565814628,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '656', content-type: application/json;
        charset=utf-8, date: 'Wed, 14 Aug 2019 20:30:28 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault674292670ac9.vault.azure.net,
        /keys/key0/create, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault674292670ac9.vault.azure.net/keys/key0?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vault674292670ac9.vault.azure.net/deletedkeys/key0","deletedDate":1565814630,"scheduledPurgeDate":1573590630,"key":{"kid":"https://vault674292670ac9.vault.azure.net/keys/key0/117ee0f3fb614adba763b041448d36ce","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"6mhPlyVaB81iU9l5ZRx4PoxxRIU1uI-sJeVHng1WA7qeY37fvp40WlQUntAmfS34xqVelj9SUhIR0hvhDquI349XwhtpShHaCF-M_t65vvN8yjTyeyHJ9Qo0bC_oo2_pIBs-uRRkn3uLJVXkAUU5DOLCczR83I5IJ62bIkCapoUVgX9ZZ4UhvqLONZDrmzXVql-3d5rhwfLKqbAzH4bODl7J5XpGlLixG5dFGCPnLxWvEJ8VzN-1ArfM-4mXGmpWRpto0akq4icWmuKEMyrS43ksfLzfPy0HtP_ta1mQDZavffH6iZsdY7hkkSzoPuxibazy23eJfHEL8U-DndPFTw","e":"AQAB"},"attributes":{"enabled":true,"created":1565814628,"updated":1565814628,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '787', content-type: application/json;
        charset=utf-8, date: 'Wed, 14 Aug 2019 20:30:29 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault674292670ac9.vault.azure.net,
        /keys/key0, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault674292670ac9.vault.azure.net/deletedkeys/key0?api-version=7.0
  response:
    body: {string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found:
        key0"}}'}
    headers: {cache-control: no-cache, content-length: '72', content-type: application/json;
        charset=utf-8, date: 'Wed, 14 Aug 2019 20:30:31 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 404, message: Not Found}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault674292670ac9.vault.azure.net,
        /deletedkeys/key0, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault674292670ac9.vault.azure.net/deletedkeys/key0?api-version=7.0
  response:
    body: {string: ''}
    headers: {cache-control: no-cache, date: 'Wed, 14 Aug 2019 20:30:53 GMT', expires: '-1',
      pragma: no-cache, server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 204, message: No Content}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault674292670ac9.vault.azure.net,
        /deletedkeys/key0, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault674292670ac9.vault.azure.net/deletedkeys/key6?api-version=7.0
  response:
    body: {string: ''}
    headers: {cache-control: no-cache, date: 'Wed, 14 Aug 2019 20:30:53 GMT', expires: '-1',
      pragma: no-cache, server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 204, message: No Content}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault674292670ac9.vault.azure.net,
        /deletedkeys/key6, api-version=7.0, '']
version: 1
