interactions:
- request:
    body: '{"kty": "RSA", "key_size": 2048}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name116c0ea5/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name116c0ea5/917ca32fee4e43a19e2748b274656af7","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"skGeTFfqDGOa1qZkmLtE_zvcRDZ6cNIB47GZ1S7LsSdrYCKZpgPRPwOO5DEPYnm2AmuEARFDVmo8bx8uoJekjjlGavTDSoFixePIM_tf9M0Xo73olGdhMcn-AHCU9VKcx97av-so2gWsqSnKYvJwe67Xc16Wr2g-OeEgJ-CXzYJ9jEnE9wlxZxGBmgoptUe44sdarYuCkzHuBFoFrSTArSX_QXb0YXWz4u5u5AOF1HtpXhaO7nlx8W73DU6Ph0LmiEV8cGj8Mtditq6U6qlUUL_FGu4JSfs7vnxMFf-w6-rpqL_pK8kbvkvKAUG8eY_BY2hq4HeYsfXB5jBroSClYQ","e":"AQAB"},"attributes":{"enabled":true,"created":1612320315,"updated":1612320315,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
