interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204877701a7c/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-verify-204877701a7c/create?api-version=7.1
- request:
    body: '{"key_size": 2048, "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204877701a7c/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204877701a7c/55f25983bd96496e9504521eb7208be2","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"1xyDkJPcRfagfVrOtx0WTZaug92Y9h-iG1CkHWAIL7Q8p-bOeE08yK_dwFIc-mmZKI3WPzPInSSATiXHBPwHupvN3xgysnaeCePStdJvRhSvrRLWEKPzSb8c6qVOrlXT4hqAKaq7ZOUgjYushG8DFR7ZBmOM0snVl7WZHJuhPsY-1UUgG3JUC7q1Hidk1LBKg10AL3JYpP33ZaFo4jyq9Irbb1rIAL87TACHc0v4BjDEZVgY4B3l4n2C1mMzgqg4hyjixlpI30ZCLkh3RXGpK1lZDIhEsAbJl9C39cLKqjQ1yvPBi-gCeQYgt0j_8uwvQKuZdGENULRgkY3VgEtcSQ","e":"AQAB"},"attributes":{"enabled":true,"created":1620428163,"updated":1620428163,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-verify-204877701a7c/create?api-version=7.1
- request:
    body: '{"value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg", "alg": "PS256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204877701a7c/55f25983bd96496e9504521eb7208be2/sign?api-version=7.1
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204877701a7c/55f25983bd96496e9504521eb7208be2","value":"GvNWDvp5ZqGn_isaygzeE5MBBMc6s-hgOsKZMnam0v55oJWXI6Ebouj1rI_uk_HmUOf5VNiUH-ROmUCBTfNaM9qYWJ4QITbol03Nh7-uI-PepjgetSeZnXGHZ1v3e12jWE9mbuLB7ivQZF8kMhnQoZ5rjwWSed-7zRl5qBTnWiIofa6_3ksND4Su348yQomswMrHcWYd-NsbnI_Y4w0KnHMRPW1tRWryYO9doyrAFXzQV0idnreMDqgYO7naaygIWJ0wVKRNDKnoxn4_gY-JuHRaOKdbtyZED2BcbpMwU3bXINXFpKq6_RWeE9NZQ1TEIDzhhwAYArVwlsyaklJuBw"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-verify-204877701a7c/55f25983bd96496e9504521eb7208be2/sign?api-version=7.1
[...]
- request:
    body: '{"value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ",
      "alg": "RS512"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-409677701a7c/c73c25d8de72437ba1ddce24c932d580/sign?api-version=7.1
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-409677701a7c/c73c25d8de72437ba1ddce24c932d580","value":"mvu3zyh0ZZPA8wst8cu1hDLjkXIy_V1DvG_E4bkhH-jj7DojbEVDT5wSChZa0YzJzX_Xax_FclhsLtW5JnIajRggUSTasW39Z8XRmw7O05nA-va6thSshW6riCukNsm3yxg0vZL8wQr36-oRLrbtaudrYvaq8lT3rJuw3q75NLK1HRRmrXypsiGGGdjBwBa-LXggmpnMIOdlwUj3URULH1QXOqXGZgiCPDz2xduFEfgjyxQgvHwNy0zNVRL9eHHWTUwx22nqmDqskOuaxfK2VxyGVCBcm_t7oOG2zTvABbyYCyVwYM3oCgCVVPf736RvGZs_H9HC3O1zkWG9fi3-wIx5Ifys_BwtkNlFcBAu3Q2mvNXyzg9rZ_101x1kv_Y45uJ2OrJe6qHBvsP2dcI-d_LS1JR5pjEYDaPSV12W6Kj0Lw0r1F7PwcBIWlhqYPtZBw-XCK8OMIzVu5Ht2NPh2upaTXCL1VGe6w3z_g5LdmcA-9cBdZqUbR1c32yETCbzR5TAlLVLNCCayo9hAwfd-Fac-TLlSLq82Gf7dFVUgjG4Xtv_2XI5LoEffZUbtUSEm_P6dYQjEZ6U9ax4NS2M9a01vu2M6aX9PcImMD-2T4KVAV7-43o8JhFODJOTYRRXg8RNfg6JzxR0VRMO5zPHT4ORA16L6acqyV23vWyq0Ds"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-verify-409677701a7c/c73c25d8de72437ba1ddce24c932d580/sign?api-version=7.1
version: 1
