{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestwrap-local697f2ee7/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestwrap-local697f2ee7/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 4096
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "229"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1650642527,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1650642527
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestwrap-local697f2ee7/460dbae51b880d4aba7253ae0e54d41a",
          "kty": "RSA-HSM",
          "n": "jI25GO8UnyWiLKnSzvIgTO6xza59D7ew1zKtUoEU-FxxCuwfv8hG0jUnhffB7b_VheMBZdXDvxJh1r2gWv5Rv5dKLzjKUBBpSc_hUv6EWYrfBlqaxhVmxy8ZZ1KyY_Z41mfyu8uoU1JjG2eTAyQ-EKF2uqL4vTbDz19sR97dU0Katvl-ASCVE7UiWx_96ojyQ33vM_NhyG7lqJZF4NkFYXx5hhtXa_eDE_GTSGv_mKyoUP9dYV67dNjoEVfchyHqBGUcTRAAzYQAdHt__QWsAebkJB_ra2WHTR1CnalUM43-jpegU_fI2I0WO_L7KYW5D5lGJ4ymGjRLadBwAWC_oUUafQI4IgudoPBnaPC3APq2BKwk-9KXQnMWmChTVJRsVbZbqOcxCp6ievadz253QhAXRy85vYuJYA4lARw3tLGsjAjmRcOrROYLH9LPl_P0By9e-usX7rYUrDyrFCgPgQ24-fIoZ54W_ZzZxRKPucHp1YwzFA02rxpdbrqt9sA3TUTlRExgVo2BQmfYvN4-YgC_lSccRPkQKx18kAh_RaCXEXzXIAkTC712cwMgbA9owR9o_aApb7izT7jLJ8Heli8zuMVcv23FSfVc0xKCxtXzYq63IIIqctojmJBd2Hvz0XW_ePBccSmRlHG0oRBBtJmf71zU-S94ODPoua_ckIk"
        }
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestwrap-local697f2ee7/460dbae51b880d4aba7253ae0e54d41a/unwrapkey?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "DTsgPe15zUi00rqoB2oOIbddkZuW37Qffgc6qkUSH1qepwCtG45xczXDqBB5Q2y3bz0oVmwwu6N9czoAGEANYN-t32gkAuyOVtBjKuQGCkeB2lstCPRTmgSBACzsMij9jz-gtli_RA6f8kSYe8Pg1x336-vmefnGjjjGDOQYyb2FYFrOyG_PJ9Tms144_Bl22mCDm_RiOgt1Ge_agtEDwRWE0yz-sklKyeQ0uR4M9YcC7Pi_8tkybONhdNQbqNye7YQNjRxuIl0efGd9f8-AuycgIW_M9JRMh6QvxVWUMUPLAMx7ieCrbyFhmSokmbL68YAqaFSCR2PhIMEtFDOIxxNrI1oLnkFDR259PYZcRR2cupSDQ4RgYhLJLoqNA_ncbRrHTsn_wepEMo7ysHHgAi-ckOBk0IVBN7auam20YTQWDeUnUg5vdlXPlJCfDBp7At2oB7mR6Kd_0SaUeveskmnGBBUqtlndCfsOemTm7XEyhep9-0cisntJaGZKmfQ_IF_w9KxUOb9Vr6v075tHom6PmRc8y7RNu22PkvGe7M6XVYlv3nsUXNNqjZ4hYhuw_MMYpQQmyHVH1lWhn_9y-rrT_LlJsoSeVJkf5kyU13y1LvMGjj2k1janVn7zXHiEzkFua_jFh7TYG3zn2bK3T4CjLvBXkcmqPvuMX35JWU0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "97"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestwrap-local697f2ee7/460dbae51b880d4aba7253ae0e54d41a",
        "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"
      }
    },
[...]
