interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsakey980415b6/create?api-version=2016-10-01
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsakey980415b6/create?api-version=2016-10-01
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsakey980415b6/create?api-version=2016-10-01
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsakey980415b6/d661ceab0ef5474ca9cc82502cd625b9","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"qPWX9fsjLBuXBiKFkZoCed1TK4yLzmSdrg6Tt7BPujQvrCM3HC8WpzzkEOPW7Ma5Esqidi-9ffVavmcR5qWLBizrWIqA0NuOYGrxwRiSI53UksBtLbL1GbJiA_-NYxq73tJPZb6lkyfVeEoY_QnTiBqZIx3e_BLdM7giQ6pS2Q2OW8ehbj8YXVMttdKAFulF5PuOtlRv-xC2C2nslAZgVryPaz7HB-y7Q0GhnkN9CMCJEfA29bavzToe8fc57_6ABUPVHg8qEp-PEEK12s4FTnPrWVhuzy4dCUbCYMcLPhK-StmYsr3oGk_xGNi7ZH92LkkQr6dzM6VcjlOJ74L_zQ","e":"AQAB"},"attributes":{"enabled":true,"created":1618865024,"updated":1618865024,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsakey980415b6/create?api-version=2016-10-01
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsakey980415b6/d661ceab0ef5474ca9cc82502cd625b9?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsakey980415b6/d661ceab0ef5474ca9cc82502cd625b9","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"qPWX9fsjLBuXBiKFkZoCed1TK4yLzmSdrg6Tt7BPujQvrCM3HC8WpzzkEOPW7Ma5Esqidi-9ffVavmcR5qWLBizrWIqA0NuOYGrxwRiSI53UksBtLbL1GbJiA_-NYxq73tJPZb6lkyfVeEoY_QnTiBqZIx3e_BLdM7giQ6pS2Q2OW8ehbj8YXVMttdKAFulF5PuOtlRv-xC2C2nslAZgVryPaz7HB-y7Q0GhnkN9CMCJEfA29bavzToe8fc57_6ABUPVHg8qEp-PEEK12s4FTnPrWVhuzy4dCUbCYMcLPhK-StmYsr3oGk_xGNi7ZH92LkkQr6dzM6VcjlOJ74L_zQ","e":"AQAB"},"attributes":{"enabled":true,"created":1618865024,"updated":1618865024,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsakey980415b6/d661ceab0ef5474ca9cc82502cd625b9?api-version=7.2-preview
version: 1
