interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc7c2d1130d.vault.azure.net/keys/rsa-verify-2048/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7c2d1130d.vault.azure.net
        - /keys/rsa-verify-2048/create
        - api-version=7.0
        - ''
- request:
    body: '{"kty": "RSA", "key_size": 2048}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc7c2d1130d.vault.azure.net/keys/rsa-verify-2048/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc7c2d1130d.vault.azure.net/keys/rsa-verify-2048/4bf96d61351d4ba3b1552cd98b896e26","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"s1csBX4bmC_O5vNgRk0_H7u-BS_QFz8qX4hz8ftodxsVKabhI_Ui6fLEBlHlYjAzKNB3NZ6c5_3O57CsbXSgadDfiSSruOiYrV9gHEwDCpmb5xTsDfMFwCfClE6HT7F7J4VnwlmD1VbIMYPplXQPwlq1jqPRYZHrvYhLCVss43izB0FPfLhPGO1o7u5BeUI-Rd_Cg47b4VZnuROnv4_1_HpqX_MBMSsiEKnBFVSjBHqK_Fc1R4OWJ9OuV5laGYycISggKisVgGmJJvARb6b71m4aCQGaGYFxKIi9ibaJXjHAlYauu_ff-Hulffjh-ZViDmfR72BqQqz48ppM92Hhiw","e":"AQAB"},"attributes":{"enabled":true,"created":1571704261,"updated":1571704261,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7c2d1130d.vault.azure.net
        - /keys/rsa-verify-2048/create
        - api-version=7.0
        - ''
- request:
    body: '{"alg": "PS256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc7c2d1130d.vault.azure.net/keys/rsa-verify-2048/4bf96d61351d4ba3b1552cd98b896e26/sign?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vault458ad70cc7c2d1130d.vault.azure.net/keys/rsa-verify-2048/4bf96d61351d4ba3b1552cd98b896e26","value":"IalpzVjmMcWLOQVfcBLvom4KCWQmRJVb1u4CrWYqQt_dXs_Wuieyc9SLuANzg5n1-Qt7G-iYKleo879SGrjqIsnabAUgMmXIpfgnV35Jtl8A6YqJI-8ems3T9AFpE4ARDxBGdm72GkDNBRvQz3_vvyWerAJ0LFh1BqzWOUAhGjhpY15Muawcx7Q9hXrPK-STRV6CQQTN6o117yFGvtv9GzpMHqSHiQwCIhr-q4UnCT5QmvpfoSyEGLHyotMlzUhtDG8oHdfXlygbLkRz9h2bbk8SREt9gyOcNa-hejDj8FIhgn30pKX6Gk2t1KaLwudCPjOW9QYg6n2D9uSIudcadw"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7c2d1130d.vault.azure.net
        - /keys/rsa-verify-2048/4bf96d61351d4ba3b1552cd98b896e26/sign
        - api-version=7.0
        - ''
[...]
