interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-keybe9317b3/create?api-version=7.3-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-keybe9317b3/create?api-version=7.3-preview
- request:
    body: '{"kty": "EC", "attributes": {"enabled": true}, "tags": {"purpose": "unit
      test", "test name": "CreateECKeyTest"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-keybe9317b3/create?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-keybe9317b3/8eb4f2db9ca143ee80ac6c9a4a37aa7e","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"jPBdlr6yf_CsMgaHOO3QVRSFn2W8xbSCSdRlTr9aKaU","y":"ZyEfdr82FUpmeKahDhg92BUi3jL2C88zyTOZ7CIqPuA"},"attributes":{"enabled":true,"created":1638512985,"updated":1638512985,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"purpose":"unit
        test","test name":"CreateECKeyTest"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-keybe9317b3/create?api-version=7.3-preview
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-P-256-ec-keybe9317b3/create?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-P-256-ec-keybe9317b3/1b72ff5abc7c4a0fa0de1213e71e19da","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"UmA_IAMLg-9rFaLhjbQ0nGaI6x6AtTSmFUfU4lyxQWc","y":"EHjEn0wnPK_5Yme32XXERcBchcOuyiRkmi3Q3GsPLOQ"},"attributes":{"enabled":true,"created":1638512988,"updated":1638512988,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://vaultname.vault.azure.net/keys/livekvtestcrud-P-256-ec-keybe9317b3/create?api-version=7.3-preview
- request:
    body: '{"key": {"kty": "RSA", "key_ops": ["encrypt", "decrypt", "sign", "verify",
      "wrapKey", "unwrapKey"], "n": "AKCRTQAjSsaDshtMFdW-2Ie9yVnC5Xr1Suc06PAHINd10nXkVSB-N4TO62ClCkZV3XKnqU0nHo7o95WaZpym53W_DiO62umRtFKdl4UotL2QUh0y3SZWeWuoK2u_x2aMj17rUFN0f9GZMZ0pqEQNCPRBLVJ_-TEe2nGCWSC0exxGsRqz6R1zFkB-icfzQPe4WjQELOUXQ7J9RxhAPTTHtDivYYG-BeTRHrmF04JT1_6b9T_C8bAC0i0teT-nmlBLarQtBJKATXBx1yegbPOoiTqlQrFQP4MrKWNxtnB9Tcbjcvj-Z9je0ckI_eRc4DvAhqcUh_p15Dqg4GeaoNIO_jU",
      "e": "AQAB", "d": "Ynx9JGaBSP4iUsf6ZJ6opantRNdcdmzaQrKbZg6ZQE8Ohi1FYabJWvaoPSE-CiJEsDzShXZHMhUHN4X7Bn8BXaGQhK3p9HXgiwQKmix7oAJTu4ElUIyd8UC3UWHSZr40el4PaQD-HYu_eMzCXus34MnRiNbh_BUWm6T-Eidhk9d3kNIyaSi9YNDQHW6tjWrEhhq63O7JU1j9ZonFChZxpKk20jdkQKQURVAdpOdL-5j4I70ZxFuU6wHZj8DS8oRQfwGOvZKbgYDb5jgf3UNL_7eACqq92XPVX56vm7iKbqeyjCqAIx5y3hrSRIJtZlWCwjYnYQGd4unxDLi8wmJWSQ",
      "dp": "AMmhWb5yZcu6vJr8xJZ-t0_likxJRUMZAtEULaWZt2DgODj4y9JrZDJP6mvckzhQP0WXk2NuWbU2HR5pUeCN2wieG1B76VKoH76vfnaJDqT1NuJVBcP2SLHog3ffwZtMME5zjfygchG3kihqOSpwTQ9ETAqAJTkRC38fEhwAz_Cp",
      "dq": "AKC9TAo9n2RDaggjdLXK8kiLrBVoaWFTpqXkzYXRhtsx4vWPAkxhfSnze05rVMl6HiXv7FnE0f0wYawzUJzoyuXBH0zS6D9BqCZPeF543AmWB27iPf38Q9Z8Rjr6oBgMSnGDV_mm8nDVQkeaDyE4cOZh-5UKvKShTKKQVwunmDNH",
      "qi": "AJ_nrkLpK8BPzVeARkvSHQyKwMWZ-a8CD95qsKfn0dOZAvXY-2xhQYTEwbED-0bpTNEKbIpA-ZkaHygmnzJkNbbFAnb9pkkzU8ZQqDP3JNgMfVIroWx58Oth9nJza2j7i-MkPRCUPEq3Ao0J52z7WJIiLji8TTVYW_NaiM1oxzsH",
      "p": "ANHerI1o3dLB_VLVmZZVss8VZSYN5SaeQ_0qhfOSgOFwj__waCFmy2EG7l6l6f_Z-Y0L7Mn_LNov68lyWSFa2EuQUeVj4UoFHc5Di8ZUGiSsTwFM-XMtNuv8HmGgDYLL5BIJD3eTz71LdgW-Ez38OZH34b7VeG8zfeUDb8Hi30zz",
      "q": "AMPcZrZBqbc82DO8Q5zTT8ZXRGWrW36KktMllaIk1W2RHnRiQiW0jBWmcCgqUcQNHa1LwumjyNqwx28QBS37BTvG7ULGUoio6LrOeoiBGEMj-U19sX6m37plEhj5[...]
- request:
    body: '{"kty": "RSA", "key_size": 2048, "key_ops": ["encrypt", "decrypt", "sign",
      "verify", "wrapKey", "unwrapKey"], "tags": {"purpose": "unit test", "test name
      ": "CreateRSAKeyTest"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keybe9317b3/create?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keybe9317b3/c905ec0f75f64e58aa4381927e5b866c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"0WIx2ncAUhOUS5EjMZHRrQReOquveOt4DxgUVSt-JOHzH3R3Yjfs8cUCLnkIznxUL6e_tQAA9t4RpuaHN5kQX0-stYu0P_97_z0ICnwdzVAyjY8aM3klhFFKBPKDgAXvhJt3qDOwxLPs6yddR92J4rxPNKxXkyvAnHNbm9c0I2f6gfEPwBwCmrcx-yq-9RrJdfUS5F_Ra1k0hhqqJ2dYa8PY0WaEQdprclWHEATl0Y46AiR-icpKxOMKabqdoL6MqveuOYr6maGIXmb8PQEQOvMZLbPoV1tatJ0ImNhtyOdwqAJC6a5lmZfka60hGQT5m0AFs5otMmDkZZCPSlmnHQ","e":"AQAB"},"attributes":{"enabled":true,"created":1638512991,"updated":1638512991,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keybe9317b3/create?api-version=7.3-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keybe9317b3/c905ec0f75f64e58aa4381927e5b866c?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keybe9317b3/c905ec0f75f64e58aa4381927e5b866c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"0WIx2ncAUhOUS5EjMZHRrQReOquveOt4DxgUVSt-JOHzH3R3Yjfs8cUCLnkIznxUL6e_tQAA9t4RpuaHN5kQX0-stYu0P_97_z0ICnwdzVAyjY8aM3klhFFKBPKDgAXvhJt3qDOwxLPs6yddR92J4rxPNKxXkyvAnHNbm9c0I2f6gfEPwBwCmrcx-yq-9RrJdfUS5F_Ra1k0hhqqJ2dYa8PY0WaEQdprclWHEATl0Y46AiR-icpKxOMKabqdoL6MqveuOYr6maGIXmb8PQEQOvMZLbPoV1tatJ0ImNhtyOdwqAJC6a5lmZfka60hGQT5m0AFs5otMmDkZZCPSlmnHQ","e":"AQAB"},"attributes":{"enabled":true,"created":1638512991,"updated":1638512991,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keybe9317b3/c905ec0f75f64e58aa4381927e5b866c?api-version=7.3-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keybe9317b3/?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keybe9317b3/c905ec0f75f64e58aa4381927e5b866c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"0WIx2ncAUhOUS5EjMZHRrQReOquveOt4DxgUVSt-JOHzH3R3Yjfs8cUCLnkIznxUL6e_tQAA9t4RpuaHN5kQX0-stYu0P_97_z0ICnwdzVAyjY8aM3klhFFKBPKDgAXvhJt3qDOwxLPs6yddR92J4rxPNKxXkyvAnHNbm9c0I2f6gfEPwBwCmrcx-yq-9RrJdfUS5F_Ra1k0hhqqJ2dYa8PY0WaEQdprclWHEATl0Y46AiR-icpKxOMKabqdoL6MqveuOYr6maGIXmb8PQEQOvMZLbPoV1tatJ0ImNhtyOdwqAJC6a5lmZfka60hGQT5m0AFs5otMmDkZZCPSlmnHQ","e":"AQAB"},"attributes":{"enabled":true,"created":1638512991,"updated":1638512991,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keybe9317b3/?api-version=7.3-preview
- request:
    body: '{"key_ops": ["decrypt", "encrypt"], "attributes": {"exp": 2524723200},
      "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keybe9317b3/?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keybe9317b3/c905ec0f75f64e58aa4381927e5b866c","kty":"RSA","key_ops":["decrypt","encrypt"],"n":"0WIx2ncAUhOUS5EjMZHRrQReOquveOt4DxgUVSt-JOHzH3R3Yjfs8cUCLnkIznxUL6e_tQAA9t4RpuaHN5kQX0-stYu0P_97_z0ICnwdzVAyjY8aM3klhFFKBPKDgAXvhJt3qDOwxLPs6yddR92J4rxPNKxXkyvAnHNbm9c0I2f6gfEPwBwCmrcx-yq-9RrJdfUS5F_Ra1k0hhqqJ2dYa8PY0WaEQdprclWHEATl0Y46AiR-icpKxOMKabqdoL6MqveuOYr6maGIXmb8PQEQOvMZLbPoV1tatJ0ImNhtyOdwqAJC6a5lmZfka60hGQT5m0AFs5otMmDkZZCPSlmnHQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1638512991,"updated":1638512995,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keybe9317b3/?api-version=7.3-preview
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keybe9317b3?api-version=7.3-preview
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-keybe9317b3","deletedDate":1638512995,"scheduledPurgeDate":1646288995,"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keybe9317b3/c905ec0f75f64e58aa4381927e5b866c","kty":"RSA","key_ops":["decrypt","encrypt"],"n":"0WIx2ncAUhOUS5EjMZHRrQReOquveOt4DxgUVSt-JOHzH3R3Yjfs8cUCLnkIznxUL6e_tQAA9t4RpuaHN5kQX0-stYu0P_97_z0ICnwdzVAyjY8aM3klhFFKBPKDgAXvhJt3qDOwxLPs6yddR92J4rxPNKxXkyvAnHNbm9c0I2f6gfEPwBwCmrcx-yq-9RrJdfUS5F_Ra1k0hhqqJ2dYa8PY0WaEQdprclWHEATl0Y46AiR-icpKxOMKabqdoL6MqveuOYr6maGIXmb8PQEQOvMZLbPoV1tatJ0ImNhtyOdwqAJC6a5lmZfka60hGQT5m0AFs5otMmDkZZCPSlmnHQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1638512991,"updated":1638512995,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keybe9317b3?api-version=7.3-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-keybe9317b3?api-version=7.3-preview
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: livekvtestcrud-rsa-keybe9317b3"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-keybe9317b3?api-version=7.3-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-keybe9317b3?api-version=7.3-preview
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-keybe9317b3","deletedDate":1638512995,"scheduledPurgeDate":1646288995,"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keybe9317b3/c905ec0f75f64e58aa4381927e5b866c","kty":"RSA","key_ops":["decrypt","encrypt"],"n":"0WIx2ncAUhOUS5EjMZHRrQReOquveOt4DxgUVSt-JOHzH3R3Yjfs8cUCLnkIznxUL6e_tQAA9t4RpuaHN5kQX0-stYu0P_97_z0ICnwdzVAyjY8aM3klhFFKBPKDgAXvhJt3qDOwxLPs6yddR92J4rxPNKxXkyvAnHNbm9c0I2f6gfEPwBwCmrcx-yq-9RrJdfUS5F_Ra1k0hhqqJ2dYa8PY0WaEQdprclWHEATl0Y46AiR-icpKxOMKabqdoL6MqveuOYr6maGIXmb8PQEQOvMZLbPoV1tatJ0ImNhtyOdwqAJC6a5lmZfka60hGQT5m0AFs5otMmDkZZCPSlmnHQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1638512991,"updated":1638512995,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-keybe9317b3?api-version=7.3-preview
version: 1
