interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-keyd141452/create?api-version=7.3
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://malegerec.vault.azure.net/keys/livekvtestcrud-ec-keyd141452/create?api-version=7.3
- request:
    body: '{"kty": "EC", "attributes": {"enabled": true}, "tags": {"purpose": "unit
      test", "test name": "CreateECKeyTest"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-keyd141452/create?api-version=7.3
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-keyd141452/2cb93f33fe43495899df0ae2ed50892c","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"qof3m4HfZULtze2Jjyz2lHAvp5WgGLuLseHommvutGI","y":"IqwHxTReo929KtOBCMA7uXgKCHEnk6GuQfKLOYhjjm8"},"attributes":{"enabled":true,"created":1647992066,"updated":1647992066,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"purpose":"unit
        test","test name":"CreateECKeyTest"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://malegerec.vault.azure.net/keys/livekvtestcrud-ec-keyd141452/create?api-version=7.3
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-P-256-ec-keyd141452/create?api-version=7.3
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-P-256-ec-keyd141452/6cb7c9c74d0e487ab4adb9abad431643","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"5iJkVJsJjBP-0OZljNhDV5xqTYCzWaylW632Vjx3wB8","y":"pBxQyxW_1jxVStSrvwvoXrgIzkL3udiNE7EBGZoxX44"},"attributes":{"enabled":true,"created":1647992069,"updated":1647992069,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://malegerec.vault.azure.net/keys/livekvtestcrud-P-256-ec-keyd141452/create?api-version=7.3
- request:
    body: '{"key": {"kty": "RSA", "key_ops": ["encrypt", "decrypt", "sign", "verify",
      "wrapKey", "unwrapKey"], "n": "AKCRTQAjSsaDshtMFdW-2Ie9yVnC5Xr1Suc06PAHINd10nXkVSB-N4TO62ClCkZV3XKnqU0nHo7o95WaZpym53W_DiO62umRtFKdl4UotL2QUh0y3SZWeWuoK2u_x2aMj17rUFN0f9GZMZ0pqEQNCPRBLVJ_-TEe2nGCWSC0exxGsRqz6R1zFkB-icfzQPe4WjQELOUXQ7J9RxhAPTTHtDivYYG-BeTRHrmF04JT1_6b9T_C8bAC0i0teT-nmlBLarQtBJKATXBx1yegbPOoiTqlQrFQP4MrKWNxtnB9Tcbjcvj-Z9je0ckI_eRc4DvAhqcUh_p15Dqg4GeaoNIO_jU",
      "e": "AQAB", "d": "Ynx9JGaBSP4iUsf6ZJ6opantRNdcdmzaQrKbZg6ZQE8Ohi1FYabJWvaoPSE-CiJEsDzShXZHMhUHN4X7Bn8BXaGQhK3p9HXgiwQKmix7oAJTu4ElUIyd8UC3UWHSZr40el4PaQD-HYu_eMzCXus34MnRiNbh_BUWm6T-Eidhk9d3kNIyaSi9YNDQHW6tjWrEhhq63O7JU1j9ZonFChZxpKk20jdkQKQURVAdpOdL-5j4I70ZxFuU6wHZj8DS8oRQfwGOvZKbgYDb5jgf3UNL_7eACqq92XPVX56vm7iKbqeyjCqAIx5y3hrSRIJtZlWCwjYnYQGd4unxDLi8wmJWSQ",
      "dp": "AMmhWb5yZcu6vJr8xJZ-t0_likxJRUMZAtEULaWZt2DgODj4y9JrZDJP6mvckzhQP0WXk2NuWbU2HR5pUeCN2wieG1B76VKoH76vfnaJDqT1NuJVBcP2SLHog3ffwZtMME5zjfygchG3kihqOSpwTQ9ETAqAJTkRC38fEhwAz_Cp",
      "dq": "AKC9TAo9n2RDaggjdLXK8kiLrBVoaWFTpqXkzYXRhtsx4vWPAkxhfSnze05rVMl6HiXv7FnE0f0wYawzUJzoyuXBH0zS6D9BqCZPeF543AmWB27iPf38Q9Z8Rjr6oBgMSnGDV_mm8nDVQkeaDyE4cOZh-5UKvKShTKKQVwunmDNH",
      "qi": "AJ_nrkLpK8BPzVeARkvSHQyKwMWZ-a8CD95qsKfn0dOZAvXY-2xhQYTEwbED-0bpTNEKbIpA-ZkaHygmnzJkNbbFAnb9pkkzU8ZQqDP3JNgMfVIroWx58Oth9nJza2j7i-MkPRCUPEq3Ao0J52z7WJIiLji8TTVYW_NaiM1oxzsH",
      "p": "ANHerI1o3dLB_VLVmZZVss8VZSYN5SaeQ_0qhfOSgOFwj__waCFmy2EG7l6l6f_Z-Y0L7Mn_LNov68lyWSFa2EuQUeVj4UoFHc5Di8ZUGiSsTwFM-XMtNuv8HmGgDYLL5BIJD3eTz71LdgW-Ez38OZH34b7VeG8zfeUDb8Hi30zz",
      "q": "AMPcZrZBqbc82DO8Q5zTT8ZXRGWrW36KktMllaIk1W2RHnRiQiW0jBWmcCgqUcQNHa1LwumjyNqwx28QBS37BTvG7ULGUoio6LrOeoiBGEMj-U19sX6m37plEhj5[...]
- request:
    body: '{"kty": "RSA", "key_size": 2048, "key_ops": ["encrypt", "decrypt", "sign",
      "verify", "wrapKey", "unwrapKey"], "tags": {"purpose": "unit test", "test name
      ": "CreateRSAKeyTest"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyd141452/create?api-version=7.3
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyd141452/016b2bb4ddeb4bf89bfe2a437c0d28a0","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"5IxYGD7HEAdgDPKo-8GEjwjUvAh2LO4ULClDNv9N9fE5vAUfCEdc--4Rzadf3W-7GdtHQiE-3Pdsq5FaUPVL3PMU8mLztUC8cnoLo0kNu9qivloVFMg95vEw89I5QbN1yDNEwILtOha5sCKk_RB0ywFq2YqVaNHkAadj8xXnkQQlt2WJnlc26g3EpF4EJ2bt1xq4u8B1Ep0gDjNVPclNw79a-Q9Q1DrfwkbJKgyE9cPCuNXtj3XBw0Ka-CjImjNbRWKUMuGCr6l359oPo1wri-SRW6ITckc4vG4I-D9E23T2ilARWQrSwhW1zu7xk3d0Y_TIkeO9w-zYP4MOJPH_OQ","e":"AQAB"},"attributes":{"enabled":true,"created":1647992071,"updated":1647992071,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://malegerec.vault.azure.net/keys/livekvtestcrud-rsa-keyd141452/create?api-version=7.3
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyd141452/016b2bb4ddeb4bf89bfe2a437c0d28a0?api-version=7.3
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyd141452/016b2bb4ddeb4bf89bfe2a437c0d28a0","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"5IxYGD7HEAdgDPKo-8GEjwjUvAh2LO4ULClDNv9N9fE5vAUfCEdc--4Rzadf3W-7GdtHQiE-3Pdsq5FaUPVL3PMU8mLztUC8cnoLo0kNu9qivloVFMg95vEw89I5QbN1yDNEwILtOha5sCKk_RB0ywFq2YqVaNHkAadj8xXnkQQlt2WJnlc26g3EpF4EJ2bt1xq4u8B1Ep0gDjNVPclNw79a-Q9Q1DrfwkbJKgyE9cPCuNXtj3XBw0Ka-CjImjNbRWKUMuGCr6l359oPo1wri-SRW6ITckc4vG4I-D9E23T2ilARWQrSwhW1zu7xk3d0Y_TIkeO9w-zYP4MOJPH_OQ","e":"AQAB"},"attributes":{"enabled":true,"created":1647992071,"updated":1647992071,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://malegerec.vault.azure.net/keys/livekvtestcrud-rsa-keyd141452/016b2bb4ddeb4bf89bfe2a437c0d28a0?api-version=7.3
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyd141452/?api-version=7.3
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyd141452/016b2bb4ddeb4bf89bfe2a437c0d28a0","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"5IxYGD7HEAdgDPKo-8GEjwjUvAh2LO4ULClDNv9N9fE5vAUfCEdc--4Rzadf3W-7GdtHQiE-3Pdsq5FaUPVL3PMU8mLztUC8cnoLo0kNu9qivloVFMg95vEw89I5QbN1yDNEwILtOha5sCKk_RB0ywFq2YqVaNHkAadj8xXnkQQlt2WJnlc26g3EpF4EJ2bt1xq4u8B1Ep0gDjNVPclNw79a-Q9Q1DrfwkbJKgyE9cPCuNXtj3XBw0Ka-CjImjNbRWKUMuGCr6l359oPo1wri-SRW6ITckc4vG4I-D9E23T2ilARWQrSwhW1zu7xk3d0Y_TIkeO9w-zYP4MOJPH_OQ","e":"AQAB"},"attributes":{"enabled":true,"created":1647992071,"updated":1647992071,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://malegerec.vault.azure.net/keys/livekvtestcrud-rsa-keyd141452/?api-version=7.3
- request:
    body: '{"key_ops": ["decrypt", "encrypt"], "attributes": {"exp": 2524723200},
      "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyd141452/?api-version=7.3
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyd141452/016b2bb4ddeb4bf89bfe2a437c0d28a0","kty":"RSA","key_ops":["decrypt","encrypt"],"n":"5IxYGD7HEAdgDPKo-8GEjwjUvAh2LO4ULClDNv9N9fE5vAUfCEdc--4Rzadf3W-7GdtHQiE-3Pdsq5FaUPVL3PMU8mLztUC8cnoLo0kNu9qivloVFMg95vEw89I5QbN1yDNEwILtOha5sCKk_RB0ywFq2YqVaNHkAadj8xXnkQQlt2WJnlc26g3EpF4EJ2bt1xq4u8B1Ep0gDjNVPclNw79a-Q9Q1DrfwkbJKgyE9cPCuNXtj3XBw0Ka-CjImjNbRWKUMuGCr6l359oPo1wri-SRW6ITckc4vG4I-D9E23T2ilARWQrSwhW1zu7xk3d0Y_TIkeO9w-zYP4MOJPH_OQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1647992071,"updated":1647992074,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://malegerec.vault.azure.net/keys/livekvtestcrud-rsa-keyd141452/?api-version=7.3
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyd141452?api-version=7.3
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-keyd141452","deletedDate":1647992074,"scheduledPurgeDate":1648596874,"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyd141452/016b2bb4ddeb4bf89bfe2a437c0d28a0","kty":"RSA","key_ops":["decrypt","encrypt"],"n":"5IxYGD7HEAdgDPKo-8GEjwjUvAh2LO4ULClDNv9N9fE5vAUfCEdc--4Rzadf3W-7GdtHQiE-3Pdsq5FaUPVL3PMU8mLztUC8cnoLo0kNu9qivloVFMg95vEw89I5QbN1yDNEwILtOha5sCKk_RB0ywFq2YqVaNHkAadj8xXnkQQlt2WJnlc26g3EpF4EJ2bt1xq4u8B1Ep0gDjNVPclNw79a-Q9Q1DrfwkbJKgyE9cPCuNXtj3XBw0Ka-CjImjNbRWKUMuGCr6l359oPo1wri-SRW6ITckc4vG4I-D9E23T2ilARWQrSwhW1zu7xk3d0Y_TIkeO9w-zYP4MOJPH_OQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1647992071,"updated":1647992074,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://malegerec.vault.azure.net/keys/livekvtestcrud-rsa-keyd141452?api-version=7.3
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-keyd141452?api-version=7.3
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: livekvtestcrud-rsa-keyd141452"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://malegerec.vault.azure.net/deletedkeys/livekvtestcrud-rsa-keyd141452?api-version=7.3
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-keyd141452?api-version=7.3
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-keyd141452","deletedDate":1647992074,"scheduledPurgeDate":1648596874,"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyd141452/016b2bb4ddeb4bf89bfe2a437c0d28a0","kty":"RSA","key_ops":["decrypt","encrypt"],"n":"5IxYGD7HEAdgDPKo-8GEjwjUvAh2LO4ULClDNv9N9fE5vAUfCEdc--4Rzadf3W-7GdtHQiE-3Pdsq5FaUPVL3PMU8mLztUC8cnoLo0kNu9qivloVFMg95vEw89I5QbN1yDNEwILtOha5sCKk_RB0ywFq2YqVaNHkAadj8xXnkQQlt2WJnlc26g3EpF4EJ2bt1xq4u8B1Ep0gDjNVPclNw79a-Q9Q1DrfwkbJKgyE9cPCuNXtj3XBw0Ka-CjImjNbRWKUMuGCr6l359oPo1wri-SRW6ITckc4vG4I-D9E23T2ilARWQrSwhW1zu7xk3d0Y_TIkeO9w-zYP4MOJPH_OQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1647992071,"updated":1647992074,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://malegerec.vault.azure.net/deletedkeys/livekvtestcrud-rsa-keyd141452?api-version=7.3
version: 1
