interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name207e1951/create?api-version=7.3-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name207e1951/create?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name207e1951/430d41e1bb444b2da81225c2615dc1c3","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"mqZhCThTgFfdvRuVUNkV0VpMVgmEW8sgKJg_51r5F8NCTv4iKhnUlTyZrwjVJofi223gmySmyaohGFDi0nRR1Zr1gkD_h2Vh-XzFN037uH02GTNnr9aUJGf0c7JsQgCwHWQQS2_pQ9hPU4iP6sUpcpEjThq3Eepzy1EO_MBPuARglj-fqjSOjECognV02kEuVngRPqOm876oPYpn7Bz49yjpc6JpwLSS9xuDVjBG2PXeyCGT3h6pogD5pQkDwhKi3QptIIjqdJWw6miViK241b_wxIzY3LxhSriHhIvw7z-1iHsz30SB1X52QAncykO8jucbpdcmUeVKVZvn1rDRIQ","e":"AQAB"},"attributes":{"enabled":true,"created":1633375505,"updated":1633375505,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name207e1951/430d41e1bb444b2da81225c2615dc1c3?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name207e1951/430d41e1bb444b2da81225c2615dc1c3","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"mqZhCThTgFfdvRuVUNkV0VpMVgmEW8sgKJg_51r5F8NCTv4iKhnUlTyZrwjVJofi223gmySmyaohGFDi0nRR1Zr1gkD_h2Vh-XzFN037uH02GTNnr9aUJGf0c7JsQgCwHWQQS2_pQ9hPU4iP6sUpcpEjThq3Eepzy1EO_MBPuARglj-fqjSOjECognV02kEuVngRPqOm876oPYpn7Bz49yjpc6JpwLSS9xuDVjBG2PXeyCGT3h6pogD5pQkDwhKi3QptIIjqdJWw6miViK241b_wxIzY3LxhSriHhIvw7z-1iHsz30SB1X52QAncykO8jucbpdcmUeVKVZvn1rDRIQ","e":"AQAB"},"attributes":{"enabled":true,"created":1633375505,"updated":1633375505,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "RSA-OAEP", "value": "cGxhaW50ZXh0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name207e1951/430d41e1bb444b2da81225c2615dc1c3/encrypt?api-version=7.3-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name207e1951/430d41e1bb444b2da81225c2615dc1c3","value":"dUs1PIwj3_6oB5agztzBX1jR0zJEpKiwYdAD4DSF_h5UM0cH2joFAhswwD05hvxftCbUdlfhTyh2jWsY2g7nUJjuxv6uYK5SE_6233LM_ltOi4p2i_lFDGqPMIlQWYsMPiJBDdQ-A1u7werpNLWLv_d7niSQS_d8OPcGz7RU3C5WolF969KcDmx3UsYsbV61l6zTal2mxwWTQFaSxIPN1AK6pqDjMsSAe5t7Rtlq5tpGv1YIFJURznz4IT2LIOfx_NeT2bze_tR8iDSiixmkIKk4eKtouiO9xcSA5FkPL6gkuEgteuIgZx-phuwSW-CAyNY_3RTqXueGrghGssZ2Sg"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "RSA-OAEP", "value": "dUs1PIwj3_6oB5agztzBX1jR0zJEpKiwYdAD4DSF_h5UM0cH2joFAhswwD05hvxftCbUdlfhTyh2jWsY2g7nUJjuxv6uYK5SE_6233LM_ltOi4p2i_lFDGqPMIlQWYsMPiJBDdQ-A1u7werpNLWLv_d7niSQS_d8OPcGz7RU3C5WolF969KcDmx3UsYsbV61l6zTal2mxwWTQFaSxIPN1AK6pqDjMsSAe5t7Rtlq5tpGv1YIFJURznz4IT2LIOfx_NeT2bze_tR8iDSiixmkIKk4eKtouiO9xcSA5FkPL6gkuEgteuIgZx-phuwSW-CAyNY_3RTqXueGrghGssZ2Sg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name207e1951/430d41e1bb444b2da81225c2615dc1c3/decrypt?api-version=7.3-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name207e1951/430d41e1bb444b2da81225c2615dc1c3","value":"cGxhaW50ZXh0"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name207e1951/?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name207e1951/430d41e1bb444b2da81225c2615dc1c3","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"mqZhCThTgFfdvRuVUNkV0VpMVgmEW8sgKJg_51r5F8NCTv4iKhnUlTyZrwjVJofi223gmySmyaohGFDi0nRR1Zr1gkD_h2Vh-XzFN037uH02GTNnr9aUJGf0c7JsQgCwHWQQS2_pQ9hPU4iP6sUpcpEjThq3Eepzy1EO_MBPuARglj-fqjSOjECognV02kEuVngRPqOm876oPYpn7Bz49yjpc6JpwLSS9xuDVjBG2PXeyCGT3h6pogD5pQkDwhKi3QptIIjqdJWw6miViK241b_wxIzY3LxhSriHhIvw7z-1iHsz30SB1X52QAncykO8jucbpdcmUeVKVZvn1rDRIQ","e":"AQAB"},"attributes":{"enabled":true,"created":1633375505,"updated":1633375505,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "SR6yO8bsn3nKRlOwmuPX00hkyFFIcversL4KUsSP2pkMDxk4pcPNgOPRDBNBe4VOwOisg2LDXKTZ0Qer_aZZ2fc0pdAPQ80iSenK1gI584ABcNVy_tej1EbQSX0e6YebSWrqoXQYQTW0Q915uQFBDuSnKHvpAbxr-dvghWM5WNFWLp-IjejWj7uGHahnbmdPPvx6VtpYFklewAUocK5sekeGaQuzVJvU8glsv5_VjYZFMd75tQUJ4zOi7Foqr32DPcRUNar51B9bFXtjJMSLTYjqIVFHMsBUr4DPBfsft4phyywuP_X8YSW5xukdjmQbv_Ry3NFRMnFHeiXoa1TDZw"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name207e1951/430d41e1bb444b2da81225c2615dc1c3/decrypt?api-version=7.3-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name207e1951/430d41e1bb444b2da81225c2615dc1c3","value":"cGxhaW50ZXh0"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
