{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestcrud-ec-key3e642c4e/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestcrud-ec-key3e642c4e/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM",
        "attributes": {
          "enabled": true
        },
        "tags": {
          "purpose": "unit test",
          "test name": "CreateECKeyTest"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "460"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1650642654,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1650642654
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestcrud-ec-key3e642c4e/354578d307f34ebfa0ba706714ba71de",
          "kty": "EC-HSM",
          "x": "OQ1hE-B1rh4kFPEtQ2vaCtDEl78JR5O3cr4c8gCl7vE",
          "y": "_I7ipyxcApYtHZsekTGs_vmDjzz39se6R_jdWwMnEGU"
        },
        "tags": {
          "purpose": "unit test",
          "test name": "CreateECKeyTest"
        }
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestcrud-P-256-ec-key3e642c4e/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "334"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1650642657,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1650642657
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestcrud-P-256-ec-key3e642c4e/6e4cbd8e48b40a7a8c2b0ebde5d51d7d",
          "kty": "EC-HSM",
          "x": "3LvuTiPl6oUzhybMbsIi_YFRa3ZCvA106J80T_jBjho",
          "y": "P9C3ffzQwC5xYmmZehi-ZKJ8lTmxutsTWXGc5pAB9LE"
        }
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestimport-test-key3e642c4e?api-version=7.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "RSA-HSM",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "AKCRTQAjSsaDshtMFdW-2Ie9yVnC5Xr1Suc06PAHINd10nXkVSB-N4TO62ClCkZV3XKnqU0nHo7o95WaZpym53W_DiO62umRtFKdl4UotL2QUh0y3SZWeWuoK2u_x2aMj17rUFN0f9GZMZ0pqEQNCPRBLVJ_-TEe2nGCWSC0exxGsRqz6R1zFkB-icfzQPe4WjQELOUXQ7J9RxhAPTTHtDivYYG-BeTRHrmF04JT1_6b9T_C8bAC0i0teT-nmlBLarQtBJKATXBx1yegbPOoiTqlQrFQP4MrKWNxtnB9Tcbjcvj-Z9je0ckI_eRc4DvAhqcUh_p15Dqg4GeaoNIO_jU",
          "e": "AQAB",
          "d": "Ynx9JGaBSP4iUsf6ZJ6opantRNdcdmzaQrKbZg6ZQE8Ohi1FYabJWvaoPSE-CiJEsDzShXZHMhUHN4X7Bn8BXaGQhK3p9HXgiwQKmix7oAJTu4ElUIyd8UC3UWHSZr40el4PaQD-HYu_eMzCXus34MnRiNbh_BUWm6T-Eidhk9d3kNIyaSi9YNDQHW6tjWrEhhq63O7JU1j9ZonFChZxpKk20jdkQKQURVAdpOdL-5j4I70ZxFuU6wHZj8DS8oRQfwGOvZKbgYDb5jgf3UNL_7eACqq92XPVX56vm7iKbqeyjCqAIx5y3hrSRIJtZlWCwjYnYQGd4unxDLi8wmJWSQ",
          "dp": "AMmhWb5yZcu6vJr8xJZ-t0_likxJRUMZAtEULaWZt2DgODj4y9JrZDJP6mvckzhQP0WXk2NuWbU2HR5pUeCN2wieG1B76VKoH76vfnaJDqT1NuJVBcP2SLHog3ffwZtMME5zjfygchG3kihqOSpwTQ9ETAqAJTkRC38fEhwAz_Cp",
          "dq": "AKC9TAo9n2RDaggjdLXK8kiLrBVoaWFTpqXkzYXRhtsx4vWPAkxhfSnze05rVMl6HiXv7FnE0f0wYawzUJzoyuXBH0zS6D9BqCZPeF543AmWB27iPf38Q9Z8Rjr6oBgMSnGDV_mm8nDVQkeaDyE4cOZh-5UKvKShTKKQVwunmDNH",
          "qi": "AJ_nrkLpK8BPzVeARkvSHQyKwMWZ-a8CD95qsKfn0dOZAvXY-2xhQYTEwbED-0bpTNEKbIpA-ZkaHygmnzJkNbbFAnb9pkkzU8ZQqDP3JNgMfVIroWx58Oth9nJza2j7i-MkPRCUPEq3Ao0J52z7WJIiLji8TTVYW_NaiM1oxzsH",
          "p": "ANHerI1o3dLB_VLVmZZVss8VZSYN5SaeQ_0qhfOSgOFwj__waCFmy2EG7l6l6f_Z-Y0L7Mn_LNov68lyWSFa2EuQUeVj4UoFHc5Di8ZUGiSsTwFM-XMtNuv8HmGgDYLL5BIJD3eTz71LdgW-Ez38OZH34b7VeG8zfeUDb8Hi30zz",
          "q": "AMPcZrZBqbc82DO8Q5zTT8ZXRGWrW36KktMllaIk1W2RHnRiQiW0jBWmcCgqUcQNHa1LwumjyNqwx28QBS37BTvG7ULGUoio6LrOeoiBGEMj-U19sX6m[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestcrud-rsa-key3e642c4e/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048,
        "key_ops": [
          "encrypt",
          "decrypt",
          "sign",
          "verify",
          "wrapKey",
          "unwrapKey"
        ],
        "tags": {
          "purpose": "unit test",
          "test name ": "CreateRSAKeyTest"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "213"
      },
      "ResponseBody": {
        "attributes": {
          "created"[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestcrud-rsa-key3e642c4e/5164b7ee6ada4aec85188c04d54c072f?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-latency": "118"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1650642660,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1650642660
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt"
          ],
          "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestcrud-rsa-key3e642c4e/5164b7ee6ada4aec85188c04d54c072f",
          "kty": "RSA-HSM",
          "n": "vshhUTwfg28Gl3sDva5u0xK2niQjkpqWw1WrXUIx_ozHQzECG-RWJLl_vgVej_aRX3GICJDRP1X-SPPuOxcJ1wknf6ew0sr4RSljAA8oUEL6X5gzgULk4hUTFag63OUZ7TD_UBiQbvCMAlGUd8djhZHbeJ2-LuT2AcpmzldmpndNmrxGkgyNxIKiKbzLNcdA9-MkjFzhTurqOM1fsm1ZmwOedSlaZtc0XnkFFnUQWM8SzUL0w2n9YgoZe6hisOUGWjTvr_P_g6uvU5Uho-Rr975qTUo3Ko-vstTn6luaVIj-gi02NPsCBeQ8AMT07jKAkyR-KCjNNVAu8Ky4PDoyvQ"
        },
        "tags": {
          "purpose": "unit test",
          "test name ": "CreateRSAKeyTest"
        }
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestcrud-rsa-key3e642c4e/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "attributes": {
          [...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestcrud-rsa-key3e642c4e/?api-version=7.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key_ops": [
          "decrypt",
          "encrypt"
        ],
        "attributes": {
          "exp": 2524723200
        },
        "tags": {
          "foo": "updated tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "53"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1650642660,
          "enabled": true,
          "exp": 2524723200,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1650642663
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "encrypt",
            "decrypt"
          ],
          "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestcrud-rsa-key3e642c4e/5164b7ee6ada4aec85188c04d54c072f",
          "kty": "RSA-HSM",
          "n": "vshhUTwfg28Gl3sDva5u0xK2niQjkpqWw1WrXUIx_ozHQzECG-RWJLl_vgVej_aRX3GICJDRP1X-SPPuOxcJ1wknf6ew0sr4RSljAA8oUEL6X5gzgULk4hUTFag63OUZ7TD_UBiQbvCMAlGUd8djhZHbeJ2-LuT2AcpmzldmpndNmrxGkgyNxIKiKbzLNcdA9-MkjFzhTurqOM1fsm1ZmwOedSlaZtc0XnkFFnUQWM8SzUL0w2n9YgoZe6hisOUGWjTvr_P_g6uvU5Uho-Rr975qTUo3Ko-vstTn6luaVIj-gi02NPsCBeQ8AMT07jKAkyR-KCjNNVAu8Ky4PDoyvQ"
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestcrud-rsa-key3e642c4e?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "87"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1650642660,
          "enabled": true,
          "exp": 2524723200,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1650642663
        },
        "deletedDate": 1650642663,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "decrypt",
            "encrypt"
          ],
          "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestcrud-rsa-key3e642c4e/5164b7ee6ada4aec85188c04d54c072f",
          "kty": "RSA-HSM",
          "n": "vshhUTwfg28Gl3sDva5u0xK2niQjkpqWw1WrXUIx_ozHQzECG-RWJLl_vgVej_aRX3GICJDRP1X-SPPuOxcJ1wknf6ew0sr4RSljAA8oUEL6X5gzgULk4hUTFag63OUZ7TD_UBiQbvCMAlGUd8djhZHbeJ2-LuT2AcpmzldmpndNmrxGkgyNxIKiKbzLNcdA9-MkjFzhTurqOM1fsm1ZmwOedSlaZtc0XnkFFnUQWM8SzUL0w2n9YgoZe6hisOUGWjTvr_P_g6uvU5Uho-Rr975qTUo3Ko-vstTn6luaVIj-gi02NPsCBeQ8AMT07jKAkyR-KCjNNVAu8Ky4PDoyvQ"
        },
        "recoveryId": "https://managedhsmvaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-key3e642c4e",
        "scheduledPurgeDate": 1651247463,
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-key3e642c4e?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-latency": "31"
      },
      "ResponseBody": {
        "attributes": {
   [...]
[...]
