interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name620015f0/create?api-version=7.3
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name620015f0/create?api-version=7.3
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name620015f0/aac6d6c71b384683a9acf5ba11ab1c42","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"vixvn9X-FF3rAZHVT9SK_AJUJfkw15Z-2jHMq0hpgPtbR8hxvtSOT55ioe4yGaibDIwxPMDBJxQSUMa1mnFdsgtCumT1KaYNwtJVeMP-xslD5nnnh90ZFy_8T5DUBLmOiXh4kGuGp6P50kOsLlGQhPcVwdnFGe-qwKFWjj8U1tzMe2dQrS_NJ53PJWz4eBtE4ZzWNJTZnCvt6rtBojP8Mr4hUtXHXD_oe1344MVil8fp5mlqhZNJD8B07jVZK4DFoyGCa98KIHNRkWNlArUc99siDa3V6FCT3RKl7kIAow9cyvApxWNRV2wa6Z0KYekFemN-yJqJk-qD7I9zEjtFfQ","e":"AQAB"},"attributes":{"enabled":true,"created":1647991702,"updated":1647991702,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name620015f0/aac6d6c71b384683a9acf5ba11ab1c42?api-version=7.3
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name620015f0/aac6d6c71b384683a9acf5ba11ab1c42","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"vixvn9X-FF3rAZHVT9SK_AJUJfkw15Z-2jHMq0hpgPtbR8hxvtSOT55ioe4yGaibDIwxPMDBJxQSUMa1mnFdsgtCumT1KaYNwtJVeMP-xslD5nnnh90ZFy_8T5DUBLmOiXh4kGuGp6P50kOsLlGQhPcVwdnFGe-qwKFWjj8U1tzMe2dQrS_NJ53PJWz4eBtE4ZzWNJTZnCvt6rtBojP8Mr4hUtXHXD_oe1344MVil8fp5mlqhZNJD8B07jVZK4DFoyGCa98KIHNRkWNlArUc99siDa3V6FCT3RKl7kIAow9cyvApxWNRV2wa6Z0KYekFemN-yJqJk-qD7I9zEjtFfQ","e":"AQAB"},"attributes":{"enabled":true,"created":1647991702,"updated":1647991702,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "RSA-OAEP", "value": "cGxhaW50ZXh0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name620015f0/aac6d6c71b384683a9acf5ba11ab1c42/encrypt?api-version=7.3
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name620015f0/aac6d6c71b384683a9acf5ba11ab1c42","value":"cmQY4GWjhaSdZnqVZMl0I5s50WWF3Dxu-Ic3htp-1P5IiREgTwGLk-luqASCMTst4meKwflvKo_Fp0eR4P2YMwXLgsLhZJMDocs2u5Hs6vZe9krbMxxqoVvd6R1xVXsYmwLPQ1shvbaTd42IcEjyovB9zkNj8Lm2i52h0SJUY1FLbNkFYqJU7XG_DkXeVVw00ZV2A8MxEWHpi9MWZd3V9-5OryHOQZTaaH6iMMZunzW5rrVcyR6foql2Ss1z2_LFPMlqmJD_3UNFAdSID3YgajcgfuFqS8bxuNgL91g8FwpA1BuwdySyRPgxIfzt_VFCq4610ybbWXsiYdehQD0VhQ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "RSA-OAEP", "value": "cmQY4GWjhaSdZnqVZMl0I5s50WWF3Dxu-Ic3htp-1P5IiREgTwGLk-luqASCMTst4meKwflvKo_Fp0eR4P2YMwXLgsLhZJMDocs2u5Hs6vZe9krbMxxqoVvd6R1xVXsYmwLPQ1shvbaTd42IcEjyovB9zkNj8Lm2i52h0SJUY1FLbNkFYqJU7XG_DkXeVVw00ZV2A8MxEWHpi9MWZd3V9-5OryHOQZTaaH6iMMZunzW5rrVcyR6foql2Ss1z2_LFPMlqmJD_3UNFAdSID3YgajcgfuFqS8bxuNgL91g8FwpA1BuwdySyRPgxIfzt_VFCq4610ybbWXsiYdehQD0VhQ"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name620015f0/aac6d6c71b384683a9acf5ba11ab1c42/decrypt?api-version=7.3
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name620015f0/aac6d6c71b384683a9acf5ba11ab1c42","value":"cGxhaW50ZXh0"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name620015f0/?api-version=7.3
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name620015f0/aac6d6c71b384683a9acf5ba11ab1c42","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"vixvn9X-FF3rAZHVT9SK_AJUJfkw15Z-2jHMq0hpgPtbR8hxvtSOT55ioe4yGaibDIwxPMDBJxQSUMa1mnFdsgtCumT1KaYNwtJVeMP-xslD5nnnh90ZFy_8T5DUBLmOiXh4kGuGp6P50kOsLlGQhPcVwdnFGe-qwKFWjj8U1tzMe2dQrS_NJ53PJWz4eBtE4ZzWNJTZnCvt6rtBojP8Mr4hUtXHXD_oe1344MVil8fp5mlqhZNJD8B07jVZK4DFoyGCa98KIHNRkWNlArUc99siDa3V6FCT3RKl7kIAow9cyvApxWNRV2wa6Z0KYekFemN-yJqJk-qD7I9zEjtFfQ","e":"AQAB"},"attributes":{"enabled":true,"created":1647991702,"updated":1647991702,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "fTv9zMqq5yi4bzjQ8pLSGnVi3coamNwvAp6s3s0xl8N_JlN3TquVNEFQ5YsP2jIjn74AqbWa0auuclmpufcVQA-euzcKmOT-nn8PhymVEc9BS7qyAk1ylU7N7gMkD75ekTuId34PfY5SehmPZNra2_dx17CswgTl1d4J0yLh5cYcwd03y0CuYWSCnRFrPyl8JSxNQVCjHwJ19BGny_y3C7Uz5v2ZKowBNMPjk9eK6fx8O89EDvxKpjb5-pGSSHkjX7hzlPMjd4MGuQymbyYvkBQ_ffEcf0Suw9J2xRIczw7asCIv7QzAHgMlFH_KtfHBiBt8JFuXWBzgzvVClMDIUg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name620015f0/aac6d6c71b384683a9acf5ba11ab1c42/decrypt?api-version=7.3
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name620015f0/aac6d6c71b384683a9acf5ba11ab1c42","value":"cGxhaW50ZXh0"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
