interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/crypto-test-encrypt-key67c4112b/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration
  response:
    body:
      string: '{"token_endpoint":"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token","token_endpoint_auth_methods_supported":["client_secret_post","private_key_jwt","client_secret_basic"],"jwks_uri":"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys","response_modes_supported":["query","fragment","form_post"],"subject_types_supported":["pairwise"],"id_token_signing_alg_values_supported":["RS256"],"response_types_supported":["code","id_token","code
        id_token","id_token token"],"scopes_supported":["openid","profile","email","offline_access"],"issuer":"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0","request_uri_parameter_supported":false,"userinfo_endpoint":"https://graph.microsoft.com/oidc/userinfo","authorization_endpoint":"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize","device_authorization_endpoint":"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode","http_logout_supported":true,"frontchannel_logout_supported":true,"end_session_endpoint":"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout","claims_supported":["sub","iss","cloud_instance_name","cloud_instance_host_name","cloud_graph_host_name","msgraph_host","aud","exp","iat","auth_time","acr","nonce","preferred_username","name","tid","ver","at_hash","c_hash","email"],"tenant_region_scope":"WW","cloud_instance_name":"microsoftonline.com","cloud_graph_host_name":"graph.windows.net","msgraph_host":"graph.microsoft.com","rbac_url":"https://pas.windows.net"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/common/discovery/instance?api-version=1.1&authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize
  response:
    body:
      string: '{"tenant_discovery_endpoint":"https://login.microsoftonline.com/common/.well-known/openid-configuration","api-version":"1.1","metadata":[{"preferred_network":"login.microsoftonline.com","preferred_cache":"login.windows.net","aliases":["login.microsoftonline.com","login.windows.net","login.microsoft.com","sts.windows.net"]},{"preferred_network":"login.partner.microsoftonline.cn","preferred_cache":"login.partner.microsoftonline.cn","aliases":["login.partner.microsoftonline.cn","login.chinacloudapi.cn"]},{"preferred_network":"login.microsoftonline.de","preferred_cache":"login.microsoftonline.de","aliases":["login.microsoftonline.de"]},{"preferred_network":"login.microsoftonline.us","preferred_cache":"login.microsoftonline.us","aliases":["login.microsoftonline.us","login.usgovcloudapi.net"]},{"preferred_network":"login-us.microsoftonline.com","preferred_cache":"login-us.microsoftonline.com","aliases":["login-us.microsoftonline.com"]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/crypto-test-encrypt-key67c4112b/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/crypto-test-encrypt-key67c4112b/59f0b0cc3d5b4050a718effceaf012d4","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"ymr7cgYciYY7XkdJ882XMFcDGDp3SJt5jBMZc0af7Spm_x7L5E_NNHUXdfiMAFd0gz6XPsh5wRS9K4i7fJ8SM_aPm2VZWakqbBLv4BCXHZAxwPITUDZl9rU16v848zt-Ou-5cN17J-V1M6-xa-Yn0wgVFQ58zKpZl8jaLlXXC8JUSgWbvMJgNHt79zTE5821iIzwugCqiNacTYb3u8JJ-TlkKC4eoJ-QyLOFRL3RGXa7Ilpf0rXkc1mU59p8ZFgbHImHrhBWqOqOJPymQ9nVh7pjKz0wCDCkL-IQzdD_JfYQFNMnOiXBhYeDf2jzUWKOIE7k9p1V8KEBBRLU5HQwoQ","e":"AQAB"},"attributes":{"enabled":true,"created":1600802887,"updated":1600802887,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/crypto-test-encrypt-key67c4112b/?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/crypto-test-encrypt-key67c4112b/59f0b0cc3d5b4050a718effceaf012d4","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"ymr7cgYciYY7XkdJ882XMFcDGDp3SJt5jBMZc0af7Spm_x7L5E_NNHUXdfiMAFd0gz6XPsh5wRS9K4i7fJ8SM_aPm2VZWakqbBLv4BCXHZAxwPITUDZl9rU16v848zt-Ou-5cN17J-V1M6-xa-Yn0wgVFQ58zKpZl8jaLlXXC8JUSgWbvMJgNHt79zTE5821iIzwugCqiNacTYb3u8JJ-TlkKC4eoJ-QyLOFRL3RGXa7Ilpf0rXkc1mU59p8ZFgbHImHrhBWqOqOJPymQ9nVh7pjKz0wCDCkL-IQzdD_JfYQFNMnOiXBhYeDf2jzUWKOIE7k9p1V8KEBBRLU5HQwoQ","e":"AQAB"},"attributes":{"enabled":true,"created":1600802887,"updated":1600802887,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "SkqtWNQmT4ynwSV7IRBVR7DIEolC-uLI34GLhX4qUwHvtOgSSWwYLnJUi5w2lY9fTr4xc-TOoo4W0LZGWBNWTVx2Dk_9F_vWNlvVYYgYKciMHEcAzixDl640bE9RBxRdRpPgomh-T6ZuLyU5ysQEIuB3Sa7ROJdUg49MesjY0qF1gaWGlGLqXt0tYOVUyCgKciooAeCvkoMlvcwxCMQZOUwQB2xuNKniYvUoukduvLr6kvvIpGeH9rXtJtEeN34ixb-0vPsvQ7OUQ3e8ufaO5D21FEN8rYHz_ncNTkuYI1-Gk6TMiiZd9Yu_3iJ5pDSyBtRwXr6J7caIdtdoxOl4WQ"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/crypto-test-encrypt-key67c4112b/59f0b0cc3d5b4050a718effceaf012d4/decrypt?api-version=7.1
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/crypto-test-encrypt-key67c4112b/59f0b0cc3d5b4050a718effceaf012d4","value":"cGxhaW50ZXh0"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
