interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultamrzvmha7710b8a.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultamrzvmha7710b8a.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vaultamrzvmha7710b8a.vault.azure.net/keys/key0/ce849f2493584736aeed4853dea4471e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"3hgHxVV5SUiFAB-MPIPsGEB5QMdPKU7586r5GlDr6P-noq0e1Z6V9sIq2xrCIeXqKjIeDMtjVro1g9ryWshrBxrqkSH3qncAWKUMGkskeAEyzk_t06o4CBPLirDtZR41plUAw-7FRXg8GxLNgORSJae4-Re6obYjg0g7wLtZ9YSsaR4T18fnw4vENnVjqp__N97XbHRwXWWd6qNkhpKzp8FyqM4ghQt3JzvLjX1YiYWtpUzOgVkwnV-T85Yxvo6KHuVe9Q7AdDdO3Mv3zGLhX5_IJKZ6PdL8gVPaaEQXuUnew9sUkJQ1ccYSIPAH5BTAjpoBwsVlJqt7IVk-Pn5-GQ","e":"AQAB"},"attributes":{"enabled":true,"created":1565637143,"updated":1565637143,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultamrzvmha7710b8a.vault.azure.net/keys/key0?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vaultamrzvmha7710b8a.vault.azure.net/deletedkeys/key0","deletedDate":1565637144,"scheduledPurgeDate":1573413144,"key":{"kid":"https://vaultamrzvmha7710b8a.vault.azure.net/keys/key0/ce849f2493584736aeed4853dea4471e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"3hgHxVV5SUiFAB-MPIPsGEB5QMdPKU7586r5GlDr6P-noq0e1Z6V9sIq2xrCIeXqKjIeDMtjVro1g9ryWshrBxrqkSH3qncAWKUMGkskeAEyzk_t06o4CBPLirDtZR41plUAw-7FRXg8GxLNgORSJae4-Re6obYjg0g7wLtZ9YSsaR4T18fnw4vENnVjqp__N97XbHRwXWWd6qNkhpKzp8FyqM4ghQt3JzvLjX1YiYWtpUzOgVkwnV-T85Yxvo6KHuVe9Q7AdDdO3Mv3zGLhX5_IJKZ6PdL8gVPaaEQXuUnew9sUkJQ1ccYSIPAH5BTAjpoBwsVlJqt7IVk-Pn5-GQ","e":"AQAB"},"attributes":{"enabled":true,"created":1565637143,"updated":1565637143,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultamrzvmha7710b8a.vault.azure.net/deletedkeys/key0?api-version=7.0
  response:
    body: {string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found:
        key0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultamrzvmha7710b8a.vault.azure.net/deletedkeys?api-version=7.0
  response:
    body: {string: '{"value":[{"recoveryId":"https://vaultamrzvmha7710b8a.vault.azure.net/deletedkeys/key0","deletedDate":1565637144,"scheduledPurgeDate":1573413144,"kid":"https://vaultamrzvmha7710b8a.vault.azure.net/keys/key0","attributes":{"enabled":true,"created":1565637143,"updated":1565637143,"recoveryLevel":"Recoverable+Purgeable"}},{"recoveryId":"https://vaultamrzvmha7710b8a.vault.azure.net/deletedkeys/key1","deletedDate":1565637144,"scheduledPurgeDate":1573413144,"kid":"https://vaultamrzvmha7710b8a.vault.azure.net/k[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vaultamrzvmha7710b8a.vault.azure.net/deletedkeys/key0/recover?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vaultamrzvmha7710b8a.vault.azure.net/keys/key0/ce849f2493584736aeed4853dea4471e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"3hgHxVV5SUiFAB-MPIPsGEB5QMdPKU7586r5GlDr6P-noq0e1Z6V9sIq2xrCIeXqKjIeDMtjVro1g9ryWshrBxrqkSH3qncAWKUMGkskeAEyzk_t06o4CBPLirDtZR41plUAw-7FRXg8GxLNgORSJae4-Re6obYjg0g7wLtZ9YSsaR4T18fnw4vENnVjqp__N97XbHRwXWWd6qNkhpKzp8FyqM4ghQt3JzvLjX1YiYWtpUzOgVkwnV-T85Yxvo6KHuVe9Q7AdDdO3Mv3zGLhX5_IJKZ6PdL8gVPaaEQXuUnew9sUkJQ1ccYSIPAH5BTAjpoBwsVlJqt7IVk-Pn5-GQ","e":"AQAB"},"attributes":{"enabled":true,"created":1565637143,"updated":1565637143,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vaultamrzvmha7710b8a.vault.azure.net/deletedkeys/key6/recover?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vaultamrzvmha7710b8a.vault.azure.net/keys/key6/974e70e690da4f1f9de0b9a3e3f8ef9e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"4w-7aJnjYUZ6W0UiCsQr32csJDrnIzpq3qbKH6BGbL87mell1epnTMX65HL0McqfF_pwESBPonFnRlJWh3sW8xaSXlxaGBn6CM0rwggFJ-rPP4CsATq3A6OekUYegYkhmK3PblRvOgaEw2Qx7m2Z84DELdLidSBOa87jyayWxDy5gsj_y5eDV77eBaDbdvopZXBpL4wOtRg8RVVG7CVBpt_gQVkGWYP0v8qFP4B_t4zuzy6j_0jVc1jExM3Yo0PWp3oMWEQlJ4fpdnl5h425jRzDzSEM-u0BiylIHZcoDmGg7xcnOS3u6uHybWFySoJXQ2FC9psfn5WQQIuiWz7N4Q","e":"AQAB"},"attributes":{"enabled":true,"created":1565637144,"updated":1565637144,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
