interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc7a7710b8a.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc7a7710b8a.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc7a7710b8a.vault.azure.net/keys/key0/4b02e4e5448e40919cd235c58db04798","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"rcXBPJ_NnmOLCgdlltj6aa_oS9TpeYGVq0DawPapD_Xi_PIwRzHlaluHLhF7y7wVSG_7rvFsQ2rqqnY-HkJ4aq7XYCAkfju6EKFaQVcpfJZKIMHYefpOGQQQJUWCjHjPiUJIqSpUp8pt35UF2YziqVt_uFAoI-0OhKHXi0SXD1P5vVK8DZHTfkBpcw57u6x64Y-Y1RuR_odQjY1roaGCVt30YUdJCeGR1edbURFF8KzqE4lu_nrG9SuwWIOYhq3z91iQeTMMXJpSj_CS7DX2xy3Cey1mazCNM2RmOPk2nWOoLE5VE2Xevc-Y6tj2ChS5REup7B5rPIKSyQ-wPzykWQ","e":"AQAB"},"attributes":{"enabled":true,"created":1571705724,"updated":1571705724,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault458ad70cc7a7710b8a.vault.azure.net/keys/key0?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault458ad70cc7a7710b8a.vault.azure.net/deletedkeys/key0","deletedDate":1571705725,"scheduledPurgeDate":1579481725,"key":{"kid":"https://vault458ad70cc7a7710b8a.vault.azure.net/keys/key0/4b02e4e5448e40919cd235c58db04798","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"rcXBPJ_NnmOLCgdlltj6aa_oS9TpeYGVq0DawPapD_Xi_PIwRzHlaluHLhF7y7wVSG_7rvFsQ2rqqnY-HkJ4aq7XYCAkfju6EKFaQVcpfJZKIMHYefpOGQQQJUWCjHjPiUJIqSpUp8pt35UF2YziqVt_uFAoI-0OhKHXi0SXD1P5vVK8DZHTfkBpcw57u6x64Y-Y1RuR_odQjY1roaGCVt30YUdJCeGR1edbURFF8KzqE4lu_nrG9SuwWIOYhq3z91iQeTMMXJpSj_CS7DX2xy3Cey1mazCNM2RmOPk2nWOoLE5VE2Xevc-Y6tj2ChS5REup7B5rPIKSyQ-wPzykWQ","e":"AQAB"},"attributes":{"enabled":true,"created":1571705724,"updated":1571705724,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc7a7710b8a.vault.azure.net/deletedkeys/key0?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: key0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
