interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-keyb4ad165e/create?api-version=2016-10-01
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-keyb4ad165e/create?api-version=2016-10-01
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-keyb4ad165e/e83eb6f4326245359b332bd7aea29a4c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"w36rekjU0HWCqSAHOHFAVTe6mV5c5aK-Io3wV5vnUNqG7Sm5lfs1awxhpWWbII9kbrH6a3zHj457uMq37YTIHwvwKpsEEX2RJ9n-GXc7ERDPYkOyB0jY-1fVEZmS5MU5aRvovZPqZqilDFf_E9ZP0ozBppGBr_F-JcPd8pCaxX79FgzgAKkQdnI915n6M7600k3GwKOizjJ_8UVp-6YGsjsIs5zqGjtUFFYalTAeiWj6KV8dmwWIkkMhn0b4PkU1W-qhKxWJ0SJLQNl4ErJsXfQSAr1ExfR_IVwCXXdYSS5jGgoyVUW5om7SC8x_vv2M5ED1kcMHmUM1-24F7pRwEQ","e":"AQAB"},"attributes":{"enabled":true,"created":1618949199,"updated":1618949199,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-keyb4ad165e/?api-version=2016-10-01
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-keyb4ad165e/e83eb6f4326245359b332bd7aea29a4c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"w36rekjU0HWCqSAHOHFAVTe6mV5c5aK-Io3wV5vnUNqG7Sm5lfs1awxhpWWbII9kbrH6a3zHj457uMq37YTIHwvwKpsEEX2RJ9n-GXc7ERDPYkOyB0jY-1fVEZmS5MU5aRvovZPqZqilDFf_E9ZP0ozBppGBr_F-JcPd8pCaxX79FgzgAKkQdnI915n6M7600k3GwKOizjJ_8UVp-6YGsjsIs5zqGjtUFFYalTAeiWj6KV8dmwWIkkMhn0b4PkU1W-qhKxWJ0SJLQNl4ErJsXfQSAr1ExfR_IVwCXXdYSS5jGgoyVUW5om7SC8x_vv2M5ED1kcMHmUM1-24F7pRwEQ","e":"AQAB"},"attributes":{"enabled":true,"created":1618949199,"updated":1618949199,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "gyKtgNaaVoeB0qvBfi-Pw8ih9o4gPIW6lm8Cl1UJAyFKQGbw_h67UoaLqLwZlbWmyNjHsdGy-dqe5xXoxnvNzrRB6q1Z_Wwem8ac-yIqn-gERgoMwckPDah_O3DaijJXnlja3MO1r7V1916XUY6LknAff8hjgN66I3jbntugfk0fsW2H6FhxrhRUczK0g9nCSAJ5mNHmohs8tlwK62ok1BqlOJE85abEP_yPOO8VTntMgnYTgl9xJJF1UWkKQdthZNkFyjvK6MbI06S0lz2mUdFn52X8uPkw_uIMGj_9ue1HMqAwYp0DraKTsTVQzMGz__3cIYlP2FYsJGtZCjBpgg",
      "alg": "RSA-OAEP"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-keyb4ad165e/e83eb6f4326245359b332bd7aea29a4c/decrypt?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-keyb4ad165e/e83eb6f4326245359b332bd7aea29a4c","value":"cGxhaW50ZXh0"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
