interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256ae92128f/create?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-256ae92128f/create?api-version=7.2-preview
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256ae92128f/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256ae92128f/3503c0dcf0b94f858c4b7b368ad42e30","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"17C6eUklb0kNM9y_qTZWgNesre9Tue8jx9C8paINM4g","y":"eeANuzez_RobfNDYecs3IxlOpDyNOxvrO68sYE8qsdg"},"attributes":{"enabled":true,"created":1612578062,"updated":1612578062,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-256ae92128f/create?api-version=7.2-preview
- request:
    body: '{"alg": "ES256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256ae92128f/3503c0dcf0b94f858c4b7b368ad42e30/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256ae92128f/3503c0dcf0b94f858c4b7b368ad42e30","value":"bXUq8rl_AKzjNC6UxNkuiAgk6QqkrmaezfFn7Rx20nM343mVCmyvoq8_hMhAlKBR4oxhQ7DtrIpOd360m08KKg"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-256ae92128f/3503c0dcf0b94f858c4b7b368ad42e30/sign?api-version=7.2-preview
- request:
    body: '{"kty": "EC", "crv": "P-256K"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kae92128f/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kae92128f/f6618ed60eca45ef9b5ba5e233168033","kty":"EC","key_ops":["sign","verify"],"crv":"P-256K","x":"UIenTgjXHHrX1y2osw1j14BRTJKx-UpcYmg-fru1WF8","y":"mYMU1ndfBzkKGNZyeil2zmdky0pxL0rFfMLQfOtk8cU"},"attributes":{"enabled":true,"created":1612578064,"updated":1612578064,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-256Kae92128f/create?api-version=7.2-preview
- request:
    body: '{"alg": "ES256K", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kae92128f/f6618ed60eca45ef9b5ba5e233168033/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kae92128f/f6618ed60eca45ef9b5ba5e233168033","value":"_R4BVwDYmlKk8XZZd2GLbfUD4w_wZPPW1NtIGNtwISCHALgSxdch3bZBwxX46zlG1w4wGEYTsDZSBXNZ3TYrHw"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-256Kae92128f/f6618ed60eca45ef9b5ba5e233168033/sign?api-version=7.2-preview
[...]
- request:
    body: '{"alg": "ES512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521ae92128f/520f9de622954d4eaffbddcb91cdeede/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521ae92128f/520f9de622954d4eaffbddcb91cdeede","value":"AWpiK8mNVZTX6UpiEA9uMNKjLMmV3MiS9m9Zx6feNHnqDNOiyXSkGLj25robNlFRhxIF6J4wYwht_rhk5qccO9XtAZ6YR6hfdbg1BzfhxeWSBIHknFDwHgc15ryDR1ccDqW6xCXw72X_oHC1j0KNtfKreIxIXNLizh6WG-WoWX9K83AA"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-521ae92128f/520f9de622954d4eaffbddcb91cdeede/sign?api-version=7.2-preview
version: 1
