interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-2563bfe19a3/create?api-version=7.3-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-2563bfe19a3/create?api-version=7.3-preview
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-2563bfe19a3/create?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-2563bfe19a3/92463d8ef6cb4433bf13b47bb60e1e8e","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"HVUpiTk9BeMt2-N_t1lvW3fgnUZV0dPNCSvZXdHCLnM","y":"5Hg9wyQ1BCmyZrNfVZPjRLRr9Jw_cL8UsSrgFrm3IQs"},"attributes":{"enabled":true,"created":1625605412,"updated":1625605412,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-2563bfe19a3/create?api-version=7.3-preview
- request:
    body: '{"alg": "ES256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-2563bfe19a3/92463d8ef6cb4433bf13b47bb60e1e8e/sign?api-version=7.3-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-2563bfe19a3/92463d8ef6cb4433bf13b47bb60e1e8e","value":"L5Ih4KhSyNgd_L93_JrhrdAQsABoRWKjgCXDK9D2px2ALK2AJfdMJ0g1PPAui-Xd1ZCcdZANprRUZpsUCIGGGw"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-2563bfe19a3/92463d8ef6cb4433bf13b47bb60e1e8e/sign?api-version=7.3-preview
- request:
    body: '{"kty": "EC", "crv": "P-256K"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K3bfe19a3/create?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K3bfe19a3/55b460115e1241f29a775f44e929e8d4","kty":"EC","key_ops":["sign","verify"],"crv":"P-256K","x":"hcI07_naZu_oJfs80eYeyN4kIODGL6LipYyGEL9e2Go","y":"mln08zANnQWSkDIhcrifh69C2oc3eKpl1BJc2ZRDiZY"},"attributes":{"enabled":true,"created":1625605414,"updated":1625605414,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-256K3bfe19a3/create?api-version=7.3-preview
- request:
    body: '{"alg": "ES256K", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K3bfe19a3/55b460115e1241f29a775f44e929e8d4/sign?api-version=7.3-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K3bfe19a3/55b460115e1241f29a775f44e929e8d4","value":"JVZmiqAU3wzMayg-YGA1fwxv34o71PFwFmZDz8rzePKxpZdRWwZS18XV9uzdtxhuDnRlfN-01EPk1OZzLE2v_A"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-256K3bfe19a3/55b460115e1241f29a775f44e929e8d4/sign?api-version=7.3-preview
[...]
- request:
    body: '{"alg": "ES512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-5213bfe19a3/2c3f9f2ec4854710997eb5d8d7a82d9e/sign?api-version=7.3-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-5213bfe19a3/2c3f9f2ec4854710997eb5d8d7a82d9e","value":"AUTeMyZiwVxUz1F5_PmJnZUJeXbtMQAnVTHZlFbIpk__aS3pJ5k7L5rfUehmz3NjT3FbCSR-i9GPcd63_oZfu7KnAd_tPuZ2T97HORrdk51IRgxvj5Ci6M5ZRhkctvwQKFG1lBeY7pgOdTTjluW6h3sh9QkiXoU4Cb_HTl9cPMquPs_R"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-5213bfe19a3/2c3f9f2ec4854710997eb5d8d7a82d9e/sign?api-version=7.3-preview
version: 1
