interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256bfea1780/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"crv": "P-256", "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256bfea1780/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256bfea1780/fe280d266eaf4197bc03e78cd71d8fa5","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"cz9Q2IGCTpWekkAZtAStDBiDBsSH5dNfR0W2QgPJ_jE","y":"4r27cijzyagaLfz_DUrZZKBq-sPMyfXdBUSzTqwWC5w"},"attributes":{"enabled":true,"created":1620427700,"updated":1620427700,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg", "alg": "ES256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256bfea1780/fe280d266eaf4197bc03e78cd71d8fa5/sign?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256bfea1780/fe280d266eaf4197bc03e78cd71d8fa5","value":"c19mz5kJqYgdwIVlghLBbnJhV4VKh0k9bJ95VbuSta9anM0SEhZ1SZEVn7IqOiU8i7dFTo7uIzSfPuEcoa_FaQ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"crv": "P-256K", "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kbfea1780/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kbfea1780/f8b7e7da242843a5ad287236a6ceb2cb","kty":"EC","key_ops":["sign","verify"],"crv":"P-256K","x":"RcZk8BtAhOFA7LU9qW_Rq5zz9YVzyAFuoWBjEDCE2Hc","y":"Yr8Oc7b99RBgCiMNUOpvBs6fzP7H3DxG2xQ6hVb30wQ"},"attributes":{"enabled":true,"created":1620427703,"updated":1620427703,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg", "alg": "ES256K"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kbfea1780/f8b7e7da242843a5ad287236a6ceb2cb/sign?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kbfea1780/f8b7e7da242843a5ad287236a6ceb2cb","value":"wF6B4EWR9HYPEuF1cyZDlAR9K-LfmZHVZgN92DPIkQVKbx9bo_CEvDuDueGKh-WsBu_GHdV1H80CQotySkpFdw"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ",
      "alg": "ES512"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521bfea1780/92a5502a19634b8eb296db36c32987b6/sign?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521bfea1780/92a5502a19634b8eb296db36c32987b6","value":"AUjMvWlna9wnx4WIA34rlBxCwU6TnorekeF9JR2mfY-2P4vb2gBEgQ9BobU0EsR-B_QGlfX1EVUyDhfTdY4jhRhrAcrrbRuV0KyCZLhWUQ3RpgE03CkuBDPw6Q-N8ytYPxpFyddbcIvqz85M7lBh3BRlDCScbN3ByJJl0QHdLg5DVd9r"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
