{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204890e2e1e/create?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204890e2e1e/create?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204890e2e1e/66ec82bc140d462491a620a7f04e467a",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "37qmPWOuU8vhJtksh2brIR258KKwvdaGcQku6aIn5TpPXOG3Ex54lm-xN9oTpeIrgbxBKLib5ss4QOhsYngjO8bm8EPhllLL5vw4i_7kftkxXW67cl1ZJeepSRWrqxYprwkIFpzIEjJ3shQ2vh30-H0s1fcq1jKKq6nB8s60RSml82nOmmeKWe3H1wH4MwxIEmqffsU5UGdit-9yJOi9n5UBr46tq6xEXdk-4qjCcWgc0zUI2h8xg4v4amQX4Cf2Qh4KhcWKqWj_R6zSslQ7gB3Zysd1SUWFjTzvrlsILFC8zxtRrMET_z5zvL4rwAeRIkNXcvZ8r9n7i7Et84DQ4Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650638409,
          "updated": 1650638409,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204890e2e1e/66ec82bc140d462491a620a7f04e467a/sign?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204890e2e1e/66ec82bc140d462491a620a7f04e467a",
        "value": "cFoX60mCWjdgXmJBSoMm-7OchENX3RiBwnGZx0T48r0vtU9p_E0nrKcnSILieWSImUacTKcwoaAWJ5sEHBNxnIpLFydSHrEfQkXIXGoqovML1oLivDoAmc1urTdvvnxLwDcLkHv92synpjSHWv-vkXh840y9CDzwSJwN-Yb-JFtWXyAY0RvXvxLOLCBlOZITziisR-qjvOYFQfPkWT_I99mX8GUf36auz5ZMpfm9LvSuBxpZEF1J0vR1-FoLmzKg8L-Uizngv8ApnL-q5DNvtoigzgZeNHPpCjnpXF7RlNvOBDHg1q5MmWBxmHjQ7SmmP6pMsv1YrUEp5jcX3N5doQ"
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-409690e2e1e/e9e4e64b6d3c4e7fa48551d3850058e9/sign?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-409690e2e1e/e9e4e64b6d3c4e7fa48551d3850058e9",
        "value": "cQlL44mWTukVC6RBgyiXPn2uqhbHIUHDRKsJEh4du2jtIDW-ew0P0CU5mK_go-qOCTZJK9tYKn3NIxOTTf11Oa8pf8IJPN3EWRrmvRMOYhTDzySxEYW9zCvttKKKjh5PUACN8BKMQtGIewCDtz1CohGryb5fidobj9Wib3_-62GLeceJKRz71LEYfZu6wGGX07Ds6jcugjiB-Zv2Ww5Fx1DEcpoU7QP0ZYyJR4XeVrKzfNjOogBpRSPkmrqBJDaH0WwHKIk9I_qk3ICcKQPUMIHBCgP-4YxwoYPNku1sy1G6X08Z09ntr2W2jZBSwhZ_lb8DgYSNraX8QHeEWJAoI0UcvL3FETYCJJShqmp-u5dOKJx3lR-yBcc6EacEYs0GKnZ6rPepBvdrQOitjwN8mGIb5FOFYy5vSUvLRsecWHz5H01elaLO10jtQv-YhOVBMQEnSZgFmB9vPVGhGfBLiGIaFd89xie3TSZiVkJHeMkAg_siNO_znGZWrcV7nc1z2mQ3w2uP_oBERr6433Dhx91cNrGfxdax9-GfKLgdRu0J410kxB_7PEEr5UiDPcARS4Xm6D8GvhxLoVJLOi_ilMAtOxkDkU6E1MNBDooRs84y3SEqiBc9Dc2aaEb-BYpjs2OdR1a3NlT5p0v0LaxZQZTB3VOztjOK3bkj7ehTXGw"
      }
    }
  ],
  "Variables": {}
}
