{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256d6c72da1/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256d6c72da1/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256d6c72da1/df287bb85cba4beabbd625197cd32147",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "AfC6eO9_oPT-hBKy4Pa0pkazys2viZL3ypiYs_j3aD0",
          "y": "TNWvR-oIRIa6XzeN7knVEf9fbMLEOB1JkPYhJW8Lvrg"
        },
        "attributes": {
          "enabled": true,
          "created": 1650292713,
          "updated": 1650292713,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256d6c72da1/df287bb85cba4beabbd625197cd32147/sign?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256d6c72da1/df287bb85cba4beabbd625197cd32147",
        "value": "lS3DvYlCLZ8JIdpQm1kXpTgvJJ2yGeLurkPcEGoX1uMmgEnN3VrtPwtx6Du22tAitQ9xCajSDXqPrxHy_-ASEg"
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kd6c72da1/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kd6c72da1/4f64f1beffdd40818b7b10cf6a7bd073",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "NBIUIAW8iLFQUOHaWt0Nr4Kx63gUT2fDvPUsv4vwMdw",
          "y": "sMffWoUs1fGESdw2_y75lqpicuiXeWOf33qKdE4wUY4"
        },
        "attributes": {
          "enabled": true,
          "created": 1650292716,
          "updated": 1650292716,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kd6c72da1/4f64f1beffdd40818b7b10cf6a7bd073/sign?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kd6c72da1/4f64f1beffdd40818b7b10cf6a7bd073",
        "value": "ebQitq8fma4rcuiquzFm55vJO7JEMdGkWR7MQZjWz8SO3gLsifuBcS9JZVtzDBmHeZYUnR-JiBo3udvSAb30_A"
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521d6c72da1/f29b3a12763244bdae7c8ec65d680a14/sign?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521d6c72da1/f29b3a12763244bdae7c8ec65d680a14",
        "value": "AHmlbUXxFKf77diMPcRrpIlydoG8wg8Y9Q35fxp3D4YUfU0NMy0Ms3P7OPByPPQkkonAzCUqD9GcL9MthE30-sE1AJoVA66_m5w_nZZpKN0JbhunkvV4bFX85URX1sWsCtmET2u8GlobBCSBlBtPNYTrXeeMGM1WRZXi7elYxRchWEps"
      }
    }
  ],
  "Variables": {}
}
