interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name13760eb7/create?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-key-name13760eb7/create?api-version=7.2-preview
- request:
    body: '{"kty": "RSA", "key_size": 2048}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name13760eb7/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name13760eb7/35507a301b1b4f7a996023abc8c23156","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"s-qhgVqf1qhOrBrGaCth4_K1-fcR-zMNo8httjSz5vDI5iiSOI6zwY687VsBehMgvSgZY1VTDtd1vgdi6mnJy4hA5-sPFzSchOqpKfLkUNC2s5LJyS6IaCq_p-aDMDmCqUyQxShpZ41XwByegIBEm8XT-cXRDRWyeZjsyA9XYTt-c-AiQejce4DhUVv7WA2dlkVvSzxONEPSu0gLPD_KIN-rkY1xFcoC6NJknN6nBlc5c5kVvGTYr7uC7pouIswNGeLo8XjUXF0hKfbkUX_ZiayMyPRnXY7IX4bE9wG7-29dmZVTYG7nJpROq_eMoVmESCRCYIGICqm_E433-vbEAQ","e":"AQAB"},"attributes":{"enabled":true,"created":1612579184,"updated":1612579184,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-key-name13760eb7/create?api-version=7.2-preview
version: 1
