interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.netkeys/livekvtestrsa-verify-204855c41090/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "key_size": 2048}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.netkeys/livekvtestrsa-verify-204855c41090/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.netkeys/livekvtestrsa-verify-204855c41090/c1cd35887bfe4202bd57169ede95582b","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"3Hl8Aw3OaYR-q-o8QaZIdMDRugBoD6dIoUpaOFCP8Mz8qLNuMvCIEamF-NCuV3YzRwFTnHbWByXG1Byg9J25J7wRtO1kQeFFrwvaaFtdL77z8z2ZksRFwsXCZI1_KzvjSm10q5WIWUzXuoor2tKoY8hvHlcgeW2p-W7AW11u0x1BzCVyCAXUyHP-cDPLkA4OibQ_Tr-2bQe-puKvmlGf9Oa1XRtXRLsKSWQOBC3OXeg15KZ_Va0sHEKGI3ftojjdAw2MRHs3EDJJopnKxs-xwRyMvcT38TYnjv_l-3O-xSLyxm-WuXLD2Dp_nP3HyJUn4leeyZPQVKVNhSBRyF6XYQ","e":"AQAB"},"attributes":{"enabled":true,"created":1612482060,"updated":1612482060,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg", "alg": "PS256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.netkeys/livekvtestrsa-verify-204855c41090/c1cd35887bfe4202bd57169ede95582b/sign?api-version=7.1
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.netkeys/livekvtestrsa-verify-204855c41090/c1cd35887bfe4202bd57169ede95582b","value":"PFNUteGxAhCMEgfWW_Ia-LxYRG-zlP7C1fbZ9nRNppa6J0bQJyMx86fqOSf_4fQbANsDAL5QJVyriD0T8_mLyCHxTNr38AVnk5S8VwvAu12Zopgzt3I8Fq3KbsLLLnbAJeolCASf7bfv6XODGcc6zEHIBdDdbl8nQk8InXqsw-pIZisBI0s5fIZEbRoo6yxbbLQ4Me_FUDMGap8Krjdw1RxeUZjT_nGWaBJLrgM6qWpw9HhR7rO3kVljHPbVbA0Nij99jT7Sk_M3jDfAtBaOVpWbVq_Uxjq3Q6JW3RAEs2zFpNvSXT1PYXbGiwt4NDy9o0JPzm5fnDATZvKvb-PnTg"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ",
      "alg": "RS512"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.netkeys/livekvtestrsa-verify-409655c41090/55a8bac13e084a13af63545bafdcd6c1/sign?api-version=7.1
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.netkeys/livekvtestrsa-verify-409655c41090/55a8bac13e084a13af63545bafdcd6c1","value":"vnvtNLu3ifviD8nh4RIrGa-4XliStZ6yZMFinBP-qH1KWB1Z4wYlcXY-bAgHQvYjlZQ-b2N4S3yNknS_HI7XcxX3TWXO2uNG8Mqpm344-IS2VRDxOSre60pg0H7w-OHlQ_CNf1IDu4bQk_p7LqyOyG7UIQ837yj43KwNStDGt6BDygrYd1IVv000X1JuZpfk-kmnMa4piP0W6vQanBDs2pfNsJjxs91L9YNOO_WwncS-EhVCjWzv5VQj0ZuVVIiSucnEyAfVzbUwuN3Y1O2oXco6VJ-fysUgOeE5uU_6vS8TFgqU-Xh4lK9Z37doWDHKLhOhm0tpMYFj2bu_A3Q4j0RQ1gOX4T17VTsS9mBsM9R2L1T9Ll5P7_qnJD5D8v4FMNm1XGmZHjdSJvskOXlAlQBLIoK7oJpxFOq1rTBKpu7YfddGwNY57-OVrZs_YoRYdWM_WnqCWbGnys0DO-aOGNMBq82CgAWz5olGAAputrZp9YK8a8Sq3pH31gtg4CMnyouO9U10FG5y1jTJo7gwCZ5TC9p8tW8GZMeWui9a7Pc6YOAGxuCFFCzN2wAoTteFbQoA7l_TR_uyEF0xgBbt_DWb9Jlg5OxzV67sTQAWMc85DXnKrqMCn2mmhf3IEpanEJ8anw2jDIjV9jBgU3hutHfrXmiW_Op6f8WLvx0Peuk"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
