{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204892c2e20/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204892c2e20/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204892c2e20/9a55c5b2fbb24e2eb2554f44718c074f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uUyaFvFQYl77hF9ILb6-9RlhItus7lyVoa67lWxsieu0m5rmQ6THTeCt7PzKIUeklIRxW3Ed6YsrRiUcOSNbLAGxUmRtnCUwMIZUPjS0AKirBP6JlUJlz7WqGQ6FdxAyPrsuM1eh3QXdGkPZ2GsWahJF7M7PPRWhuEpSNEXMlhX3nZAbF4xKV68amweDQnPy1ZNscLAVF3r5gJo1Mw98GWHLx3TuVYb1LA35RWUyQcmuQqnrvmhFfSucJPAJtDexuep8zkEO6rt6AUhIfWbazDEEV-XcenToBHLilN6_DlMsR3K8hWDo6wwKHg-hWGmjF_DhtZbZWJMuecf2w6EiKQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650638386,
          "updated": 1650638386,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204892c2e20/9a55c5b2fbb24e2eb2554f44718c074f/sign?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204892c2e20/9a55c5b2fbb24e2eb2554f44718c074f",
        "value": "S3SwnPVvbG439IYly9z5wSkXO1F2PNJyQN5zOg3XFg3pFJ_RS54XGvNh6FQnTsvkJfAzrZ81vnoebmBCKPZSSXBbu7IiqdvGrBhJFhzgD1G4c4n73s_4YX-Nma048SnDyxsrS3iLQzOphRTc6Hsi3-Ah5dTchrpm7QN64rlMIWXiGYtOtBCP6YbtI3yj23gxvHHT1DKflXxX1xPBOIYWbnfol7cv_jCXtroee7Hfec9Sg80UJ-eYJezOb9BOZsmIeXB3qSiXQ3UK0Lcr-gCURywPdWJViuZQ5jMuZ4n8cNn06C0iKnn-x6QJXwo8yGXLWpolPL6Fgduwrlugxl2s2A"
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-409692c2e20/a635cc5ba15945459f8e0ea702d4a5a1/sign?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-409692c2e20/a635cc5ba15945459f8e0ea702d4a5a1",
        "value": "NjB1rplrRCmH-75GvqKulirKdi1b9e8HrwCuuBjnmHzyVJbNqKv1ZHSKyen0hlMTHHtGPz2c2kle5LE0S36trrCqIG8xIxriq4677cl751wBlXvLKpbgY5z9Wdrah38fqVBTZSRi1hmLfCOMe9n7aYEI0O1nkvzFljmKp8l71EPluVumlNjexI3Ma06oGha2Fzjy8iJRQFeF58nw-9LtCXQ117Vfv2aYc7KWMN2Pbnu18oOFnpJEtADz1CxbEjZEMjII-9aDeA52bMyf24hOvAQK1RaTCYV9mzA6-hP2A8eEmIQrHIyysK9T5C7HKGsLV47L4HbrPaCW-joOetHhm6sg19ygwOco0hEb4veLqg9FQB9r7BOFzitMDxsA_gFlIo60qL7I0x3Zn7wt7uoaHrDJS4ZecGgjyFOKP5m_neJiHxFgwQHzlFkjzmGGB2wPQpthOcP2KwQ2hvYdcoTivyKkPVsj5Gdyt59r-E2R-zDBGLhZ1VsHnhK_6hOK6ARdgRpoj0SCZC1GFrfF5lwlUulae6FPWyaTQY2WBVDNisEkzmKsojq15EFfdzyCucCl6oK8uOFELBfPgZ_UUsTY4J-5Je_OEfPKFxd7yJ6wYBBqXXJ42UgIduGDDvP-ySzJ4LVLy8-YQn3AShavbzsGUgv8qZEo_ct1j9e20Bkt5y0"
      }
    }
  ],
  "Variables": {}
}
