interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultaf9e12b1.vault.azure.net/keys/keywrapaf9e12b1/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Wed, 14 Aug 2019 20:56:14 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultaf9e12b1.vault.azure.net,
        /keys/keywrapaf9e12b1/create, api-version=7.0, '']
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultaf9e12b1.vault.azure.net/keys/keywrapaf9e12b1/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vaultaf9e12b1.vault.azure.net/keys/keywrapaf9e12b1/dd784a33967642ad81ad8b493d24175c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"nax3IFmjMwrr9pWS3vKXbkaQCFP_4LqqbHdFkVEpS3XoWkIt3DUjkHan2K9rPxy5lRGrFIyqfGeGUl7WNDfyglKTGiL7hCTvKQYG-bF63dR42dE3II3Pnzda9vDryMIuOruUY-_Bl-SnxbPi9PvcHDBpSjmNoruN3CAwVjOXtD26vimX4JoYKZyaINvxZ6CD4rusEYVT-oAomLk6-Ap66yUyAWwZAZq3r41MbCgdTNO5uWTuaggaVK-eM9Ji6l9AnD2KxFA3iHIRM2W7Aqguif22wZBjslv1a72r0hI5Joli4fhiecUJnmDX8xqNpD7ZzQ_-6wghezNVcIOr7JtJcQ","e":"AQAB"},"attributes":{"enabled":true,"created":1565816175,"updated":1565816175,"recoveryLevel":"Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '651', content-type: application/json;
        charset=utf-8, date: 'Wed, 14 Aug 2019 20:56:15 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultaf9e12b1.vault.azure.net,
        /keys/keywrapaf9e12b1/create, api-version=7.0, '']
- request:
    body: '{"alg": "RSA-OAEP", "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultaf9e12b1.vault.azure.net/keys/keywrapaf9e12b1/dd784a33967642ad81ad8b493d24175c/wrapkey?api-version=7.0
  response:
    bo[...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "S6vgwe5DXihUzKQqCKPstCrmqCPM9hOposQo1XN9lnrktA0loZrY7UcL1kgD9rBC-zZqYPvf9XGIBdthV7sngM5gEnE0GY9XL-Q3bIZ_S9XCGdQWONMIbY1G8RIzXozuUjmHj2optqBJzbpqsSB5-1X1Jc6MC_gzRNgKuwRgmMTY6zwPzw_-PyUt123dFCble6xv-2wBAm-No5HYaAjzun9BvezQQs_-aQrNsh6m7KUp47LXj_1C5Cw_A8LBuu6wKRiNKhIk43J_Y4jlISJZ7QxD_TZ0fLvFr6YC5mNA5rXIGZ3nRQI7co7OEsibjPIQi_fvmtyL974C72qPrChoKg"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://v[...]
