interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.netkeys/livekvtestrsa-not-yet-valid443f1a10/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-not-yet-valid443f1a10/create?api-version=7.1
- request:
    body: '{"attributes": {"nbf": 32503680000}, "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.netkeys/livekvtestrsa-not-yet-valid443f1a10/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.netkeys/livekvtestrsa-not-yet-valid443f1a10/c10e9b881da34c24ad8a2ab9d5ec1560","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"v9nfCqr09IqgYhn2xMvCWT2hcS48x-hfgQYsqXs0ahNvVkCX9eFY3E-2qsbtv7NKkIb-ks11lXxZIWZUfHDZl2WNnCTZn7oEkQBZaW8z-e9ybUZb3ddEbD2uFrsqJs5Kp433sH7BQvzrVLunwGMeCiCVFVxXbCYfqRyBOER01PBZShn61kYz1THv7OwlA9gN_pN7_4yYD18uhE3iouE-c2-TqMRiTu2jPvgt-ttgeN1lJGdP__widKdceEbUR2HV9FN8Mf0O51D5cAKXrNHwGTY-nsKPNaQGoPpHsFt0eRINKO5zP-VVmBHL3nYhQ9QK4x-ibuHxvhh7kA-j_-Dy7Q","e":"AQAB"},"attributes":{"enabled":true,"nbf":32503680000,"created":1612570231,"updated":1612570231,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-not-yet-valid443f1a10/create?api-version=7.1
- request:
    body: '{"attributes": {"exp": 946684800}, "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.netkeys/livekvtestrsa-expired443f1a10/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.netkeys/livekvtestrsa-expired443f1a10/1e538a1a50874455b4adb341a3dd0dcd","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zIkI5-U-C6--xkTY_HQB6CjeC3wchrMj3uzIlcgxUU3oeiEedwxwbo8Si_8nGULjadQBFV-YmVSmc8zP16fgliEumuHyrkx6rcf79y20sS5YBle1mxBxHlhpCgzPFrDDD7UVQZ4pp66Q1fdV4J_TOjBdXH4DyA9bXUA9wLL9FV47R2DfoGddluthox8NxMCMC5ndoqWU4Ts4P4uAnpZUFJaBjKhU_O3BzmRdfs2mxGtxDiM-02srUHibhQN4AssDZV9N__RjiQkIBqtecRSu_nnbZHixAxAaCwPJrtViAWYDPgUWT6xtI6caxndfrYNKh7JGqONJcfInOVa-ObKqGQ","e":"AQAB"},"attributes":{"enabled":true,"exp":946684800,"created":1612570232,"updated":1612570232,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-expired443f1a10/create?api-version=7.1
- request:
    body: '{"attributes": {"exp": 32535216000, "nbf": 32503680000}, "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.netkeys/livekvtestrsa-valid443f1a10/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.netkeys/livekvtestrsa-valid443f1a10/d67b52f9944b4ded97e6b506f89144dc","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"tOucVp8wSnJfrvIT6eCggE9FjE1mwzMmlJLiQxFmWNaGF5NWlTFnxOHz0811vgbzedBvXHyzNWX2EcKD-_5kW1TQfwvTFo4RxQnKXdHxvMK5sXG5Ow1aSpktMUe3xUUCdR7xb-i6PA28z-4mtR59vwc2hL87sbQyx1lqdgcLnODf_K68QUwGVufZbdqdBLa5D91WIpuI6qO2dkapFMVJOlwrV5LKX--13So1FFdbR0i0XutXVN7NxXR6JdxXrl9KpO8ChspacGCwrXPiQX8K4lC7ZaxrkfI1LSIavh_KFTguMaFIvAvNOz5l3YLFRj_7Rpg-OOqDgpZ89S1-uhoNBQ","e":"AQAB"},"attributes":{"enabled":true,"nbf":32503680000,"exp":32535216000,"created":1612570232,"updated":1612570232,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-valid443f1a10/create?api-version=7.1
version: 1
