interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtesteckeyf7e313b8/create?api-version=7.3
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://malegerec.vault.azure.net/keys/livekvtesteckeyf7e313b8/create?api-version=7.3
- request:
    body: '{"kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtesteckeyf7e313b8/create?api-version=7.3
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtesteckeyf7e313b8/9f19beeb4a9548b1aee0a15608ef3781","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"As7BM6JjuPJKpu6GBI6u0QD9U_LW2DG4tHx-l3bo45c","y":"LsW_jbRjDHWh1tR72MUUOSqZRuj816VMo8vBh5da5vs"},"attributes":{"enabled":true,"created":1647991505,"updated":1647991505,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://malegerec.vault.azure.net/keys/livekvtesteckeyf7e313b8/create?api-version=7.3
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtesteckeyf7e313b8/9f19beeb4a9548b1aee0a15608ef3781?api-version=7.3
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtesteckeyf7e313b8/9f19beeb4a9548b1aee0a15608ef3781","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"As7BM6JjuPJKpu6GBI6u0QD9U_LW2DG4tHx-l3bo45c","y":"LsW_jbRjDHWh1tR72MUUOSqZRuj816VMo8vBh5da5vs"},"attributes":{"enabled":true,"created":1647991505,"updated":1647991505,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://malegerec.vault.azure.net/keys/livekvtesteckeyf7e313b8/9f19beeb4a9548b1aee0a15608ef3781?api-version=7.3
version: 1
