interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault8bf41593caa8eb0b9c.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593caa8eb0b9c.vault.azure.net
        - /keys/key0/create
        - api-version=7.0
        - ''
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault8bf41593caa8eb0b9c.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault8bf41593caa8eb0b9c.vault.azure.net/keys/key0/9c508622a7a94309b8bd6283350b8d9f","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"u8RPntvP2-IzT3D1Qf7HlMNBywh9jCWGHroucB_NK6UclkMHbw7WTkugncBH2mycItii_2SBaMiZTJjZoYbUNavAOtAvMKbq__5kvoThDWa5mLvxJynZZDUIF5bnbKgzZWtx25j0TwCrmYesBVfxTjj2jsIQLPs8xh0umaOCK1nW8VMW5FB21bf0tZbZ66zORnkOfcOSUGKYI19TQx_S9s6f4J8X2lahfP8PMod-LsW3l3qAWhLn0JDngOrrTitbLTLsc2cyeUIBTo0NHoMtqfZXZQKi1HQyMNp4zTEvPIPqgzMbGdBkYfRJw9iMUR4bIUQKcL6fPkC5rsyL3EIvTw","e":"AQAB"},"attributes":{"enabled":true,"created":1570207612,"updated":1570207612,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593caa8eb0b9c.vault.azure.net
        - /keys/key0/create
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault8bf41593caa8eb0b9c.vault.azure.net/keys/key0?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault8bf41593caa8eb0b9c.vault.azure.net/deletedkeys/key0","deletedDate":1570207613,"scheduledPurgeDate":1577983613,"key":{"kid":"https://vault8bf41593caa8eb0b9c.vault.azure.net/keys/key0/9c508622a7a94309b8bd6283350b8d9f","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"u8RPntvP2-IzT3D1Qf7HlMNBywh9jCWGHroucB_NK6UclkMHbw7WTkugncBH2mycItii_2SBaMiZTJjZoYbUNavAOtAvMKbq__5kvoThDWa5mLvxJynZZDUIF5bnbKgzZWtx25j0TwCrmYesBVfxTjj2jsIQLPs8xh0umaOCK1nW8VMW5FB21bf0tZbZ66zORnkOfcOSUGKYI19TQx_S9s6f4J8X2lahfP8PMod-LsW3l3qAWhLn0JDngOrrTitbLTLsc2cyeUIBTo0NHoMtqfZXZQKi1HQyMNp4zTEvPIPqgzMbGdBkYfRJw9iMUR4bIUQKcL6fPkC5rsyL3EIvTw","e":"AQAB"},"attributes":{"enabled":true,"created":1570207612,"updated":1570207612,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593caa8eb0b9c.vault.azure.net
        - /keys/key0
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault8bf41593caa8eb0b9c.vault.azure.net/deletedkeys/key0?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: key0"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593caa8eb0b9c.vault.azure.net
        - /deletedkeys/key0
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vault8bf41593caa8eb0b9c.vault.azure.net/deletedkeys/key0/recover?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault8bf41593caa8eb0b9c.vault.azure.net/keys/key0/9c508622a7a94309b8bd6283350b8d9f","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"u8RPntvP2-IzT3D1Qf7HlMNBywh9jCWGHroucB_NK6UclkMHbw7WTkugncBH2mycItii_2SBaMiZTJjZoYbUNavAOtAvMKbq__5kvoThDWa5mLvxJynZZDUIF5bnbKgzZWtx25j0TwCrmYesBVfxTjj2jsIQLPs8xh0umaOCK1nW8VMW5FB21bf0tZbZ66zORnkOfcOSUGKYI19TQx_S9s6f4J8X2lahfP8PMod-LsW3l3qAWhLn0JDngOrrTitbLTLsc2cyeUIBTo0NHoMtqfZXZQKi1HQyMNp4zTEvPIPqgzMbGdBkYfRJw9iMUR4bIUQKcL6fPkC5rsyL3EIvTw","e":"AQAB"},"attributes":{"enabled":true,"created":1570207612,"updated":1570207612,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593caa8eb0b9c.vault.azure.net
        - /deletedkeys/key0/recover
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault8bf41593caa8eb0b9c.vault.azure.net/keys/key0/?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Key not found: key0"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593caa8eb0b9c.vault.azure.net
        - /keys/key0/
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault8bf41593caa8eb0b9c.vault.azure.net/keys/key6/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault8bf41593caa8eb0b9c.vault.azure.net/keys/key6/e13df7cc8240425389923419e7e09b4c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"nyDW-EwHo0zKFhQqddgSQ1FPufA2jm1loReKeym9sttAGdXJDwxG631a6kMsgVM8Dwy4WGoRCiDM0Uw8epEvVreEKlejk9eOvOd9LoajjTBr7sPGmM7JkKPduBgsjWCxGppGYynGuW0R7_aU6pjcnqo3MlJkqOCkraSmpKuQbdnGJFAa9FXzH8W7X5s5lwRQp7yMfkXcCcc2azG3pfSXYIp0dBDBZ1urz3J9wpHU9uUmIE1VRAeW3WEC7Y-g9nA_Srj4Jd56Mub5PfhHcyrCU45WVRz8Tj3wn2pl7umwhw4Iz6rivcI46pFqh4KxsJhVJ_YrggE-ywuiQJZJ9r678Q","e":"AQAB"},"attributes":{"enabled":true,"created":1570207613,"updated":1570207613,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593caa8eb0b9c.vault.azure.net
        - /keys/key6/
        - api-version=7.0
        - ''
version: 1
