interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-keyd0d1451/create?api-version=7.2
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrud-ec-keyd0d1451/create?api-version=7.2
- request:
    body: '{"kty": "EC-HSM", "tags": {"purpose": "unit test", "test name": "CreateECKeyTest"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-keyd0d1451/create?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-keyd0d1451/4004873b63214acc8d649541800c5f3e","kty":"EC-HSM","key_ops":["sign","verify"],"crv":"P-256","x":"dPViGzXZadVQRKtN5rHWo6l11lDk4iffpeG8JiqCqcg","y":"sgLhggWicIkb_7l1ezdHQS7jNgJd63Zuq_p48I_wNc8"},"attributes":{"enabled":true,"created":1620409955,"updated":1620409955,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"purpose":"unit
        test","test name":"CreateECKeyTest"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrud-ec-keyd0d1451/create?api-version=7.2
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-P-256-ec-keyd0d1451/create?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-P-256-ec-keyd0d1451/d2404bfd0be54e26a8e74ca0f16291d9","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"DAhEqeRwt0-ZLXncUrxT5HzgtTLkSQz9EXmvyLxDoi0","y":"02a3s1ESvfs8Y5RykmVfbf1XovWV9d_B3dlOnUlghVE"},"attributes":{"enabled":true,"created":1620409959,"updated":1620409959,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrud-P-256-ec-keyd0d1451/create?api-version=7.2
- request:
    body: '{"key": {"dp": "AMmhWb5yZcu6vJr8xJZ-t0_likxJRUMZAtEULaWZt2DgODj4y9JrZDJP6mvckzhQP0WXk2NuWbU2HR5pUeCN2wieG1B76VKoH76vfnaJDqT1NuJVBcP2SLHog3ffwZtMME5zjfygchG3kihqOSpwTQ9ETAqAJTkRC38fEhwAz_Cp",
      "kty": "RSA", "dq": "AKC9TAo9n2RDaggjdLXK8kiLrBVoaWFTpqXkzYXRhtsx4vWPAkxhfSnze05rVMl6HiXv7FnE0f0wYawzUJzoyuXBH0zS6D9BqCZPeF543AmWB27iPf38Q9Z8Rjr6oBgMSnGDV_mm8nDVQkeaDyE4cOZh-5UKvKShTKKQVwunmDNH",
      "d": "Ynx9JGaBSP4iUsf6ZJ6opantRNdcdmzaQrKbZg6ZQE8Ohi1FYabJWvaoPSE-CiJEsDzShXZHMhUHN4X7Bn8BXaGQhK3p9HXgiwQKmix7oAJTu4ElUIyd8UC3UWHSZr40el4PaQD-HYu_eMzCXus34MnRiNbh_BUWm6T-Eidhk9d3kNIyaSi9YNDQHW6tjWrEhhq63O7JU1j9ZonFChZxpKk20jdkQKQURVAdpOdL-5j4I70ZxFuU6wHZj8DS8oRQfwGOvZKbgYDb5jgf3UNL_7eACqq92XPVX56vm7iKbqeyjCqAIx5y3hrSRIJtZlWCwjYnYQGd4unxDLi8wmJWSQ",
      "e": "AQAB", "key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey",
      "unwrapKey"], "qi": "AJ_nrkLpK8BPzVeARkvSHQyKwMWZ-a8CD95qsKfn0dOZAvXY-2xhQYTEwbED-0bpTNEKbIpA-ZkaHygmnzJkNbbFAnb9pkkzU8ZQqDP3JNgMfVIroWx58Oth9nJza2j7i-MkPRCUPEq3Ao0J52z7WJIiLji8TTVYW_NaiM1oxzsH",
      "p": "ANHerI1o3dLB_VLVmZZVss8VZSYN5SaeQ_0qhfOSgOFwj__waCFmy2EG7l6l6f_Z-Y0L7Mn_LNov68lyWSFa2EuQUeVj4UoFHc5Di8ZUGiSsTwFM-XMtNuv8HmGgDYLL5BIJD3eTz71LdgW-Ez38OZH34b7VeG8zfeUDb8Hi30zz",
      "q": "AMPcZrZBqbc82DO8Q5zTT8ZXRGWrW36KktMllaIk1W2RHnRiQiW0jBWmcCgqUcQNHa1LwumjyNqwx28QBS37BTvG7ULGUoio6LrOeoiBGEMj-U19sX6m37plEhj5[...]
- request:
    body: '{"key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey", "unwrapKey"],
      "kty": "RSA", "key_size": 2048, "tags": {"test name ": "CreateRSAKeyTest", "purpose":
      "unit test"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyd0d1451/create?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyd0d1451/4139070cfa114e95880e96ee23bc8482","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"43IXfdvagVDg7Qq4fjXuhtGJGuBUYUyg8Cz3xQM5jttndVFWOk5qtBuAGFcxnnSkLobsOKjmtAXtKatGLdZMIiF0uJx6DB-RrQ4OgBxvgQ88Qc2-A7QR9iBJpaMJdRrHl4tJSmnqN8kTNWwK0EfYDcqeymLurG9waRnBFOxfgEivLZxQ6tEakumGU2iBGANfxsCNNZ0C2NrVfBdN_p5-biCy7oExeik2X3AMFF4oqptocuJ-cxbnxnfA2V5CuQpxMJPY2ZjkiMsTXaFly8x-hrX1RZG5ycRebMDV-aEyQXBQe4X-BHKj-I14NXJCCFMDUvGoOIRZFrc4pVCAun_mKQ","e":"AQAB"},"attributes":{"enabled":true,"created":1620409962,"updated":1620409962,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"test
        name ":"CreateRSAKeyTest","purpose":"unit test"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrud-rsa-keyd0d1451/create?api-version=7.2
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyd0d1451/4139070cfa114e95880e96ee23bc8482?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyd0d1451/4139070cfa114e95880e96ee23bc8482","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"43IXfdvagVDg7Qq4fjXuhtGJGuBUYUyg8Cz3xQM5jttndVFWOk5qtBuAGFcxnnSkLobsOKjmtAXtKatGLdZMIiF0uJx6DB-RrQ4OgBxvgQ88Qc2-A7QR9iBJpaMJdRrHl4tJSmnqN8kTNWwK0EfYDcqeymLurG9waRnBFOxfgEivLZxQ6tEakumGU2iBGANfxsCNNZ0C2NrVfBdN_p5-biCy7oExeik2X3AMFF4oqptocuJ-cxbnxnfA2V5CuQpxMJPY2ZjkiMsTXaFly8x-hrX1RZG5ycRebMDV-aEyQXBQe4X-BHKj-I14NXJCCFMDUvGoOIRZFrc4pVCAun_mKQ","e":"AQAB"},"attributes":{"enabled":true,"created":1620409962,"updated":1620409962,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"test
        name ":"CreateRSAKeyTest","purpose":"unit test"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrud-rsa-keyd0d1451/4139070cfa114e95880e96ee23bc8482?api-version=7.2
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyd0d1451/?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyd0d1451/4139070cfa114e95880e96ee23bc8482","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"43IXfdvagVDg7Qq4fjXuhtGJGuBUYUyg8Cz3xQM5jttndVFWOk5qtBuAGFcxnnSkLobsOKjmtAXtKatGLdZMIiF0uJx6DB-RrQ4OgBxvgQ88Qc2-A7QR9iBJpaMJdRrHl4tJSmnqN8kTNWwK0EfYDcqeymLurG9waRnBFOxfgEivLZxQ6tEakumGU2iBGANfxsCNNZ0C2NrVfBdN_p5-biCy7oExeik2X3AMFF4oqptocuJ-cxbnxnfA2V5CuQpxMJPY2ZjkiMsTXaFly8x-hrX1RZG5ycRebMDV-aEyQXBQe4X-BHKj-I14NXJCCFMDUvGoOIRZFrc4pVCAun_mKQ","e":"AQAB"},"attributes":{"enabled":true,"created":1620409962,"updated":1620409962,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"test
        name ":"CreateRSAKeyTest","purpose":"unit test"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrud-rsa-keyd0d1451/?api-version=7.2
- request:
    body: '{"tags": {"foo": "updated tag"}, "attributes": {"exp": 2524723200}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyd0d1451/?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyd0d1451/4139070cfa114e95880e96ee23bc8482","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"43IXfdvagVDg7Qq4fjXuhtGJGuBUYUyg8Cz3xQM5jttndVFWOk5qtBuAGFcxnnSkLobsOKjmtAXtKatGLdZMIiF0uJx6DB-RrQ4OgBxvgQ88Qc2-A7QR9iBJpaMJdRrHl4tJSmnqN8kTNWwK0EfYDcqeymLurG9waRnBFOxfgEivLZxQ6tEakumGU2iBGANfxsCNNZ0C2NrVfBdN_p5-biCy7oExeik2X3AMFF4oqptocuJ-cxbnxnfA2V5CuQpxMJPY2ZjkiMsTXaFly8x-hrX1RZG5ycRebMDV-aEyQXBQe4X-BHKj-I14NXJCCFMDUvGoOIRZFrc4pVCAun_mKQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1620409962,"updated":1620409963,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrud-rsa-keyd0d1451/?api-version=7.2
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyd0d1451?api-version=7.2
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-keyd0d1451","deletedDate":1620409963,"scheduledPurgeDate":1628185963,"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyd0d1451/4139070cfa114e95880e96ee23bc8482","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"43IXfdvagVDg7Qq4fjXuhtGJGuBUYUyg8Cz3xQM5jttndVFWOk5qtBuAGFcxnnSkLobsOKjmtAXtKatGLdZMIiF0uJx6DB-RrQ4OgBxvgQ88Qc2-A7QR9iBJpaMJdRrHl4tJSmnqN8kTNWwK0EfYDcqeymLurG9waRnBFOxfgEivLZxQ6tEakumGU2iBGANfxsCNNZ0C2NrVfBdN_p5-biCy7oExeik2X3AMFF4oqptocuJ-cxbnxnfA2V5CuQpxMJPY2ZjkiMsTXaFly8x-hrX1RZG5ycRebMDV-aEyQXBQe4X-BHKj-I14NXJCCFMDUvGoOIRZFrc4pVCAun_mKQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1620409962,"updated":1620409963,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrud-rsa-keyd0d1451?api-version=7.2
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-keyd0d1451?api-version=7.2
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: livekvtestcrud-rsa-keyd0d1451"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://mcpatinotest.vault.azure.net/deletedkeys/livekvtestcrud-rsa-keyd0d1451?api-version=7.2
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-keyd0d1451?api-version=7.2
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-keyd0d1451","deletedDate":1620409963,"scheduledPurgeDate":1628185963,"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyd0d1451/4139070cfa114e95880e96ee23bc8482","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"43IXfdvagVDg7Qq4fjXuhtGJGuBUYUyg8Cz3xQM5jttndVFWOk5qtBuAGFcxnnSkLobsOKjmtAXtKatGLdZMIiF0uJx6DB-RrQ4OgBxvgQ88Qc2-A7QR9iBJpaMJdRrHl4tJSmnqN8kTNWwK0EfYDcqeymLurG9waRnBFOxfgEivLZxQ6tEakumGU2iBGANfxsCNNZ0C2NrVfBdN_p5-biCy7oExeik2X3AMFF4oqptocuJ-cxbnxnfA2V5CuQpxMJPY2ZjkiMsTXaFly8x-hrX1RZG5ycRebMDV-aEyQXBQe4X-BHKj-I14NXJCCFMDUvGoOIRZFrc4pVCAun_mKQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1620409962,"updated":1620409963,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/deletedkeys/livekvtestcrud-rsa-keyd0d1451?api-version=7.2
version: 1
