interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtesteckeyf7d513b6/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtesteckeyf7d513b6/create?api-version=7.1
- request:
    body: '{"kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtesteckeyf7d513b6/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtesteckeyf7d513b6/7db5c54e42cd42518a57f282857498a9","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"7ede-HZeBmriKI9_IjCeJUiuKaBSbosFWg2Wre_-5dQ","y":"b8KfjDtegaM3M1d9tJUwzRU0RcfMAjKkF7v0FPEVUp8"},"attributes":{"enabled":true,"created":1618864863,"updated":1618864863,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtesteckeyf7d513b6/create?api-version=7.1
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtesteckeyf7d513b6/7db5c54e42cd42518a57f282857498a9?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtesteckeyf7d513b6/7db5c54e42cd42518a57f282857498a9","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"7ede-HZeBmriKI9_IjCeJUiuKaBSbosFWg2Wre_-5dQ","y":"b8KfjDtegaM3M1d9tJUwzRU0RcfMAjKkF7v0FPEVUp8"},"attributes":{"enabled":true,"created":1618864863,"updated":1618864863,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtesteckeyf7d513b6/7db5c54e42cd42518a57f282857498a9?api-version=7.2-preview
version: 1
