interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault8bf41593ca9627173e.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593ca9627173e.vault.azure.net
        - /keys/key-name/create
        - api-version=7.0
        - ''
- request:
    body: '{"kty": "RSA", "key_size": 2048, "key_ops": ["encrypt", "decrypt", "sign",
      "verify", "wrapKey", "unwrapKey"], "attributes": {"exp": 2527401600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault8bf41593ca9627173e.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault8bf41593ca9627173e.vault.azure.net/keys/key-name/f99f2cc69ad04237977dab3fdd8c33fe","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"pjmy7fl9D2Gjq_sfbzXdsOAGKbzjg2uYJKCtSyI1ueLaBsrieNd_3bJ-HJ613oeSAr9T2MC9eicuNO02BjD7AdH8TRCjBWAVsZMRtui96I0VqftbXMr37oIO9XUm7amwBMN9T0UgvtsyLWcFA16rb0MkFUZanY6rQdunVITTyymmeh8JvC-qpePoxFlcQcowFNCDD1nzqCZVnWDK1V2PzPwwNpGKheXLgVGZ8lq81getq8PyY6X-NcTq94ZsTx96rgVln--pODVqUTZdhmU99246hy8v0VHCdE5-30hqFFzCq7xpqQghPQqSqkUILMpyGZy9bAxScMTXSNuO-XhvIQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2527401600,"created":1568928038,"updated":1568928038,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593ca9627173e.vault.azure.net
        - /keys/key-name/create
        - api-version=7.0
        - ''
[...]
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault8bf41593ca9627173e.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault8bf41593ca9627173e.vault.azure.net/keys/key-name/793cb171c30d4297924b3bf6dbcc2226","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"oMdO5lAQqdlOzLvp7MFcjwuCP_suRqRwbbAv4K5ll50","y":"UVQV_QtwWK2xvS_RUwBdKD9HcWNaTWPXFH9RRvCxIIw"},"attributes":{"enabled":true,"created":1568928039,"updated":1568928039,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593ca9627173e.vault.azure.net
        - /keys/key-name/create
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vault8bf41593ca9627173e.vault.azure.net/keys/key-name/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault8bf41593ca9627173e.vault.azure.net/keys/key-name/793cb171c30d4297924b3bf6dbcc2226","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"oMdO5lAQqdlOzLvp7MFcjwuCP_suRqRwbbAv4K5ll50","y":"UVQV_QtwWK2xvS_RUwBdKD9HcWNaTWPXFH9RRvCxIIw"},"attributes":{"enabled":true,"created":1568928039,"updated":1568928039,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593ca9627173e.vault.azure.net
        - /keys/key-name/
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vault8bf41593ca9627173e.vault.azure.net/keys/key-name/793cb171c30d4297924b3bf6dbcc2226?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault8bf41593ca9627173e.vault.azure.net/keys/key-name/793cb171c30d4297924b3bf6dbcc2226","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"oMdO5lAQqdlOzLvp7MFcjwuCP_suRqRwbbAv4K5ll50","y":"UVQV_QtwWK2xvS_RUwBdKD9HcWNaTWPXFH9RRvCxIIw"},"attributes":{"enabled":true,"created":1568928039,"updated":1568928039,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593ca9627173e.vault.azure.net
        - /keys/key-name/793cb171c30d4297924b3bf6dbcc2226
        - api-version=7.0
        - ''
- request:
    body: '{"attributes": {"exp": 2524723200}, "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://vault8bf41593ca9627173e.vault.azure.net/keys/key-name/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault8bf41593ca9627173e.vault.azure.net/keys/key-name/793cb171c30d4297924b3bf6dbcc2226","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"oMdO5lAQqdlOzLvp7MFcjwuCP_suRqRwbbAv4K5ll50","y":"UVQV_QtwWK2xvS_RUwBdKD9HcWNaTWPXFH9RRvCxIIw"},"attributes":{"enabled":true,"exp":2524723200,"created":1568928039,"updated":1568928039,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593ca9627173e.vault.azure.net
        - /keys/key-name/
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault8bf41593ca9627173e.vault.azure.net/keys/key-name?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault8bf41593ca9627173e.vault.azure.net/deletedkeys/key-name","deletedDate":1568928040,"scheduledPurgeDate":1576704040,"key":{"kid":"https://vault8bf41593ca9627173e.vault.azure.net/keys/key-name/793cb171c30d4297924b3bf6dbcc2226","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"oMdO5lAQqdlOzLvp7MFcjwuCP_suRqRwbbAv4K5ll50","y":"UVQV_QtwWK2xvS_RUwBdKD9HcWNaTWPXFH9RRvCxIIw"},"attributes":{"enabled":true,"exp":2524723200,"created":1568928039,"updated":1568928039,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593ca9627173e.vault.azure.net
        - /keys/key-name
        - api-version=7.0
        - ''
version: 1
