interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/80441a65f6b2462daf1d7df8aed183d0","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"5gisyPzMfPmnk3rplyoNGS4Uc9zOCaD5Jh-UoHFn4IgrAPiDl8G7Lf-W-L2ccltyeL-_huaExw8x3U65lVytOejIBGLRd4FLf6Zcf0ACwuKg9CPDawe2TjZBXdDBlgrhajWuJ5zByR_L3jcYUewW76MnsYB-8r80mGm9n_C9OPcdIpbi8_uHHBDsh53t-tcopT_dMw9Q9kCXMdcAqyaZHvuPMJc3dlGOJbg_MYKR-3CTwAi6ooxjrArw-HDb3KExoRglSuZLvsv_Hqgb3pPDnwQyexYsFAFEjRgxYetEDy8OzEtUnVJvIwTZgRnTyOoOy-uRYXc9ujs8WIfe_fVVeQ","e":"AQAB"},"attributes":{"enabled":true,"created":1575489200,"updated":1575489200,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"alg": "RS256", "value": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/80441a65f6b2462daf1d7df8aed183d0/sign?api-version=7.0
  response:
    body: {string: '{"kid":"https://vault.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/80441a65f6b2462daf1d7df8aed183d0","value":"YcMT4O-iJPK0FZw7i1FcXhFfqe1qA64md2YGlT68mSUALh0APQvDPg_B78c_v60McB0cn22fbAPUaRPFT9q1kSheDFWyOP4D-DyDDnKVOpdHbRixMdWZgKndmB6_1TXQ216SYnxqfo0Q-ZWKCJsVsVp3LKguhgJSJBPgbrC0WFzENZJg6pI51iTMWyWPcObwiVd4RP8f_UJDOtXYx2jWw7lIb4Wy8T-aRqUqq41UNqsYc7GZpT069rEj2I_7nCio7TaXt4isQgqagV5q9kcZzvPCV8wBE_Zp6_1gG7IUYWl-YWyyp2Mcr319Vm2iAQjElX8xPCPoxP_S-o7aFXVS3g"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
