interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault6742ffd4146b.vault.azure.net/keys/crypto-test-wrapping-keyffd4146b/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Wed, 14 Aug 2019 20:29:48 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault6742ffd4146b.vault.azure.net,
        /keys/crypto-test-wrapping-keyffd4146b/create, api-version=7.0, '']
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault6742ffd4146b.vault.azure.net/keys/crypto-test-wrapping-keyffd4146b/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault6742ffd4146b.vault.azure.net/keys/crypto-test-wrapping-keyffd4146b/dce0ebda5a7e40da8a6e77150acb49ae","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"toPbgMRei38ZOJViZQsK7J_OTZv0vV-frinl54ihGs9oN7sotfyp26V4AnYN5cijZ2JvMKMeybw7hvnEvFR0c-B3neCptaeA5276Y3E2cuW4QZUO5i-XQAemteL_wgRaj7lQ1vaiJbnTTqEXKp1pkSqyy6ysfs_eBM3HlvS6abjBTQ0qWYMzeXIy-Z_BHxTWLQqV4H1Tt-h2o8a6pVG-T0rKynrbOKUkLESWYBj0x_wMmkfnItRYpC8ytp7Aqal-X16eA3hnddBXrvv-OCOKtPHXb9HxO0NnirKMxzAswzn51WyavKjMoqCZL5Zgo4c9icZsjfxV1EJ9ugQWFT-bdQ","e":"AQAB"},"attributes":{"enabled":true,"created":1565814589,"updated":1565814589,"recoveryLevel":"Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '672', content-type: application/json;
        charset=utf-8, date: 'Wed, 14 Aug 2019 20:29:49 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault6742ffd4146b.vault.azure.net,
        /keys/crypto-test-wrapping-keyffd4146b/create, api-version=7.0, '']
- request:
    body: '{"alg": "RS256", "value": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault6742ffd4146b.vault.azure.net/keys/crypto-test-wrapping-keyffd4146b/dce0ebda5a7e40da8a6e77150acb49ae/sign?api-version=7.0
  response:
    body: {string: '{"kid":"https://vault6742ffd4146b.vault.azure.net/keys/crypto-test-wrapping-keyffd4146b/dce0ebda5a7e40da8a6e77150acb49ae","value":"qnFYRT-7io7i8tHh3SYpAoqibGrOiMMOCcfyK9WYTPZDejbNldLcluqjHHJ4H[...]
- request:
    body: '{"alg": "RS256", "digest": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw",
      "value": "qnFYRT-7io7i8tHh3SYpAoqibGrOiMMOCcfyK9WYTPZDejbNldLcluqjHHJ4HzbMBtzUeGV-O4t1XHHlf_HtnyyefkwuQh0tBHFn2RnqrnlfR0t2XYVumuEeqBEKV5KBfyPDkylbCeppyU2xq8-3D9AbhKudsFAYeGUeFje6jQkw5_XyvoKxzLAfBbt3lRwXQoAiWw7CL4Z4C4KbNc-29mDD2yOIXhMs3DlUE9uQB3vSUabEtu2UXs7Efr5Zr614gccCl32ypsQ3mDmeLLgGgWVdrm3Prus54JOBqQZnlhUJ9HlUGs1-n6S_6vC3c-KjyExL1jNH4LBe3HM3_hNfOA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    ur[...]
