interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-not-yet-valid443f1a10/create?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestrsa-not-yet-valid443f1a10/create?api-version=7.2-preview
- request:
    body: '{"key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey", "unwrapKey"],
      "attributes": {"nbf": 32503680000}, "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-not-yet-valid443f1a10/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-not-yet-valid443f1a10/e4d067f595ca4c1cb5843f5f2fc6ad10","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"1j4AdOroGYpq8nUIvhGwVeGrV37I9ChEmItVS0R88V7bCcuRVHl7u1dcuQ4DMn7ZhVkWazrcXLpDN1nnatsjoFDn002CuVkXcuBB_JTr2pDKc-z_jqnK1ioGf_jnItluagcFdQ8qrzYCdHyeN0Q78bp6QLujIstTWfY2pOzatDPzVhKZnrcZoaKuCnn9eFeGnTdmjyHGdIYA_NmwMFmeTgcxHtrR_pImk91iGxr9IVN8Btebwb5mvF38kqwbpfZ3mOnGESsENH3odnRK4I04uu2nH32240ubb4suFgwgw2XXcpdHSAGlzL9FCFwTJvY3oWkdhd1TFDBUIao3iDmOaQ","e":"AQAB"},"attributes":{"enabled":true,"nbf":32503680000,"created":1615591204,"updated":1615591204,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestrsa-not-yet-valid443f1a10/create?api-version=7.2-preview
- request:
    body: '{"key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey", "unwrapKey"],
      "attributes": {"exp": 946684800}, "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-expired443f1a10/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-expired443f1a10/13cfdb5428a44266b0d80da3d345a614","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"w-WUoBTrBYEcYFd2mtecoFcV4_As5Z4yBQM9K7GC0vbW1OK5yRHwGUdEmvRkvxYt-xRC3a6i5QA-Dx-uxKE71FzzJP3k6qHxNeWBImyh8zSo8x3rwJsFfBsqOWhZV9v0sUrlYCo5qTXMx5M9PTA-PS5a5gnxRyLqXGJANr-B6oskxME3-9Yk1mXAsC8iw4ZI5wYQ6maEkMDH0ibps5mfcC9oen5HEzZhG6o-mOdOJ45UrI1Fl3AcMh8GWMgc8nSlYLHbPukUPryc_nd1tBiE2p8rAP0NbwM7BFYQWe-E2l2lVZR6xYxfnwEUGn-tnHwP-q46vjXGVAp_x47-qQtvqQ","e":"AQAB"},"attributes":{"enabled":true,"exp":946684800,"created":1615591206,"updated":1615591206,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestrsa-expired443f1a10/create?api-version=7.2-preview
- request:
    body: '{"key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey", "unwrapKey"],
      "attributes": {"nbf": 32503680000, "exp": 32535216000}, "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-valid443f1a10/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-valid443f1a10/eccaefb6cf3c490b96f8a3634f238243","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"t4fptsqqGMXlDCAqnH0v5CSXwOZYNIj-C7uFS7E1znlMYLEYLhR4063Ra5aC56jzbAg6yp3SgrXPpwPOotVoe0V_B578F_eUOnUShwQ9rBmQYS5n6tc9ctWI-fwxciKDbJHU45e-qeV5znGmHs4-idGOUXsVc5Xwpx4xrdYM4Yj0vhjl0CLCEbOjbmk2EdjCYmuBzhmlN4JePMaW6-Ft-a9-9RjrdvI-AdNTN6z0NZ987DASh0dI8H6deCxScS4rkcjwmf0Ea8msLRou4Z-M8pK8y1nml7YHwXCrzzwoRzUXTm9L144Nv_uCpKdHkrnvUFAo8b-Taaf9B-nCEpBW3Q","e":"AQAB"},"attributes":{"enabled":true,"nbf":32503680000,"exp":32535216000,"created":1615591209,"updated":1615591209,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestrsa-valid443f1a10/create?api-version=7.2-preview
version: 1
