interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256681b164d/create?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestec-verify-P-256681b164d/create?api-version=7.2-preview
- request:
    body: '{"attributes": {"enabled": true}, "crv": "P-256", "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256681b164d/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256681b164d/a9e0b85eeb15425fb031c25f80386a12","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"MyvuDYYSU2-HkgJT0AvW__vTxMlYBe8K94PHrfrOqJ4","y":"AxkHMhoAGU3wJPyD9QCe7ckguwUtNMpsfi31oqNF6zo"},"attributes":{"enabled":true,"created":1615591188,"updated":1615591188,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestec-verify-P-256681b164d/create?api-version=7.2-preview
- request:
    body: '{"alg": "ES256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256681b164d/a9e0b85eeb15425fb031c25f80386a12/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256681b164d/a9e0b85eeb15425fb031c25f80386a12","value":"R2YtSmYDrrtgwvQ8-_fRVHtJhtbh5_grrPkjnfBb0iOmyN4eJgWm9xiquS2vG4rBUcasLzZy8dTX4Slt7F7hcA"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestec-verify-P-256681b164d/a9e0b85eeb15425fb031c25f80386a12/sign?api-version=7.2-preview
- request:
    body: '{"attributes": {"enabled": true}, "crv": "P-256K", "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K681b164d/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K681b164d/ea7193ede0ae457984edf93fe67434b8","kty":"EC","key_ops":["sign","verify"],"crv":"P-256K","x":"0f7XMGMqpTnhsDLjXnhGyruDRq-GxOOG0Lkmmke__y8","y":"SR2uBQ9DAdoaN3DY6MwfJzu4jH4-gfa3rYKG-je5Pnc"},"attributes":{"enabled":true,"created":1615591191,"updated":1615591191,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestec-verify-P-256K681b164d/create?api-version=7.2-preview
- request:
    body: '{"alg": "ES256K", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K681b164d/ea7193ede0ae457984edf93fe67434b8/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K681b164d/ea7193ede0ae457984edf93fe67434b8","value":"_2WWdDIoNf-ns57dGgYSoCyhL1cxFQkS6lGbfkqMakcBUagXKlojTHmWV-80RzXSw_G4ZaDgUboQTYbC5VHMWw"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestec-verify-P-256K681b164d/ea7193ede0ae457984edf93fe67434b8/sign?api-version=7.2-preview
[...]
- request:
    body: '{"alg": "ES512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521681b164d/2337f9a03eb84403a11d7db835d11d6e/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521681b164d/2337f9a03eb84403a11d7db835d11d6e","value":"AW3HCxuew-qnYCAA52L35dkOFTxn27_ze97xDdvQTyr_OLATJcl03tqFQSSu0KiKD66dnbY_uW-jfpBn00y3OnX0ABVrw8JWl2Kf9oK5GYUTyHBoCIYANJ4NEdM35tUMzL7BNeVRxvemSvJ9-aj7cSxj6IHhOKK3y1BAWG-c2Pd8bYkP"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestec-verify-P-521681b164d/2337f9a03eb84403a11d7db835d11d6e/sign?api-version=7.2-preview
version: 1
