interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-key97b315d2/create?api-version=2016-10-01
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrud-ec-key97b315d2/create?api-version=2016-10-01
- request:
    body: '{"kty": "EC-HSM", "attributes": {"enabled": true}, "tags": {"purpose":
      "unit test", "test name": "CreateECKeyTest"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-key97b315d2/create?api-version=2016-10-01
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-key97b315d2/b07ed0b3978243e29fe28f6ffeedd9f2","kty":"EC-HSM","key_ops":["sign","verify"],"crv":"P-256","x":"5-Bg_iGkXeWa-O50JSWChHUtuDXhk-hY5GliovFQio4","y":"WFoZ1v8_E_7LaMTZU9Zem_36sAlRc1PvxZ1Mdh_7fVo"},"attributes":{"enabled":true,"created":1633729389,"updated":1633729389,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"purpose":"unit
        test","test name":"CreateECKeyTest"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrud-ec-key97b315d2/create?api-version=2016-10-01
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-P-256-ec-key97b315d2/create?api-version=2016-10-01
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-P-256-ec-key97b315d2/d7535a78b3364a809bac84a665f4d011","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"t1jCnCgEBy0UspYENpCjEydPGk8cuyftCYH59nksmOk","y":"ZNQy77suUWqMex-jBXCXWxZC3Sl9GKiG9NjSFMHv5QM"},"attributes":{"enabled":true,"created":1633729393,"updated":1633729393,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrud-P-256-ec-key97b315d2/create?api-version=2016-10-01
- request:
    body: '{"key": {"kty": "RSA", "key_ops": ["encrypt", "decrypt", "sign", "verify",
      "wrapKey", "unwrapKey"], "n": "AKCRTQAjSsaDshtMFdW-2Ie9yVnC5Xr1Suc06PAHINd10nXkVSB-N4TO62ClCkZV3XKnqU0nHo7o95WaZpym53W_DiO62umRtFKdl4UotL2QUh0y3SZWeWuoK2u_x2aMj17rUFN0f9GZMZ0pqEQNCPRBLVJ_-TEe2nGCWSC0exxGsRqz6R1zFkB-icfzQPe4WjQELOUXQ7J9RxhAPTTHtDivYYG-BeTRHrmF04JT1_6b9T_C8bAC0i0teT-nmlBLarQtBJKATXBx1yegbPOoiTqlQrFQP4MrKWNxtnB9Tcbjcvj-Z9je0ckI_eRc4DvAhqcUh_p15Dqg4GeaoNIO_jU",
      "e": "AQAB", "d": "Ynx9JGaBSP4iUsf6ZJ6opantRNdcdmzaQrKbZg6ZQE8Ohi1FYabJWvaoPSE-CiJEsDzShXZHMhUHN4X7Bn8BXaGQhK3p9HXgiwQKmix7oAJTu4ElUIyd8UC3UWHSZr40el4PaQD-HYu_eMzCXus34MnRiNbh_BUWm6T-Eidhk9d3kNIyaSi9YNDQHW6tjWrEhhq63O7JU1j9ZonFChZxpKk20jdkQKQURVAdpOdL-5j4I70ZxFuU6wHZj8DS8oRQfwGOvZKbgYDb5jgf3UNL_7eACqq92XPVX56vm7iKbqeyjCqAIx5y3hrSRIJtZlWCwjYnYQGd4unxDLi8wmJWSQ",
      "dp": "AMmhWb5yZcu6vJr8xJZ-t0_likxJRUMZAtEULaWZt2DgODj4y9JrZDJP6mvckzhQP0WXk2NuWbU2HR5pUeCN2wieG1B76VKoH76vfnaJDqT1NuJVBcP2SLHog3ffwZtMME5zjfygchG3kihqOSpwTQ9ETAqAJTkRC38fEhwAz_Cp",
      "dq": "AKC9TAo9n2RDaggjdLXK8kiLrBVoaWFTpqXkzYXRhtsx4vWPAkxhfSnze05rVMl6HiXv7FnE0f0wYawzUJzoyuXBH0zS6D9BqCZPeF543AmWB27iPf38Q9Z8Rjr6oBgMSnGDV_mm8nDVQkeaDyE4cOZh-5UKvKShTKKQVwunmDNH",
      "qi": "AJ_nrkLpK8BPzVeARkvSHQyKwMWZ-a8CD95qsKfn0dOZAvXY-2xhQYTEwbED-0bpTNEKbIpA-ZkaHygmnzJkNbbFAnb9pkkzU8ZQqDP3JNgMfVIroWx58Oth9nJza2j7i-MkPRCUPEq3Ao0J52z7WJIiLji8TTVYW_NaiM1oxzsH",
      "p": "ANHerI1o3dLB_VLVmZZVss8VZSYN5SaeQ_0qhfOSgOFwj__waCFmy2EG7l6l6f_Z-Y0L7Mn_LNov68lyWSFa2EuQUeVj4UoFHc5Di8ZUGiSsTwFM-XMtNuv8HmGgDYLL5BIJD3eTz71LdgW-Ez38OZH34b7VeG8zfeUDb8Hi30zz",
      "q": "AMPcZrZBqbc82DO8Q5zTT8ZXRGWrW36KktMllaIk1W2RHnRiQiW0jBWmcCgqUcQNHa1LwumjyNqwx28QBS37BTvG7ULGUoio6LrOeoiBGEMj-U19sX6m37plEhj5[...]
- request:
    body: '{"kty": "RSA", "key_size": 2048, "key_ops": ["encrypt", "decrypt", "sign",
      "verify", "wrapKey", "unwrapKey"], "tags": {"purpose": "unit test", "test name
      ": "CreateRSAKeyTest"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key97b315d2/create?api-version=2016-10-01
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key97b315d2/fc62430edaea4bbd9294b3fb8b42e86f","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"wCOfYZfiewtypnbt7a43iFyCpIS2Cz9IH_qJA59nglR03I5UNXCqp8GB_YLqByv25pxx-1wEKv8YYGnt2yo1S5VfcWIJBEkJA8HTK7HlPq1uAubdplww6hQ8Ozn6GvnqF7mP2skYbvoK4RBphas-5JNFGcdPvJVJSEWznKD3MFo4Lkd7bUb14-cZwRYQPirGUh4cfMrm_fIT5jKfQJcpjWduiYAHwXY2J9UVUvB9CQEZ8M0GRZJaZMFXHwAwBcnXMFUU9Ngi1bBYlZX3FvvRCApBdjyTy7GT6woXkxXPpzKCW-Asazxl2m1WNm1N2abu_0m-rAR7gkrT92vccCqOEQ","e":"AQAB"},"attributes":{"enabled":true,"created":1633729395,"updated":1633729395,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrud-rsa-key97b315d2/create?api-version=2016-10-01
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key97b315d2/fc62430edaea4bbd9294b3fb8b42e86f?api-version=2016-10-01
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key97b315d2/fc62430edaea4bbd9294b3fb8b42e86f","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"wCOfYZfiewtypnbt7a43iFyCpIS2Cz9IH_qJA59nglR03I5UNXCqp8GB_YLqByv25pxx-1wEKv8YYGnt2yo1S5VfcWIJBEkJA8HTK7HlPq1uAubdplww6hQ8Ozn6GvnqF7mP2skYbvoK4RBphas-5JNFGcdPvJVJSEWznKD3MFo4Lkd7bUb14-cZwRYQPirGUh4cfMrm_fIT5jKfQJcpjWduiYAHwXY2J9UVUvB9CQEZ8M0GRZJaZMFXHwAwBcnXMFUU9Ngi1bBYlZX3FvvRCApBdjyTy7GT6woXkxXPpzKCW-Asazxl2m1WNm1N2abu_0m-rAR7gkrT92vccCqOEQ","e":"AQAB"},"attributes":{"enabled":true,"created":1633729395,"updated":1633729395,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrud-rsa-key97b315d2/fc62430edaea4bbd9294b3fb8b42e86f?api-version=2016-10-01
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key97b315d2/?api-version=2016-10-01
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key97b315d2/fc62430edaea4bbd9294b3fb8b42e86f","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"wCOfYZfiewtypnbt7a43iFyCpIS2Cz9IH_qJA59nglR03I5UNXCqp8GB_YLqByv25pxx-1wEKv8YYGnt2yo1S5VfcWIJBEkJA8HTK7HlPq1uAubdplww6hQ8Ozn6GvnqF7mP2skYbvoK4RBphas-5JNFGcdPvJVJSEWznKD3MFo4Lkd7bUb14-cZwRYQPirGUh4cfMrm_fIT5jKfQJcpjWduiYAHwXY2J9UVUvB9CQEZ8M0GRZJaZMFXHwAwBcnXMFUU9Ngi1bBYlZX3FvvRCApBdjyTy7GT6woXkxXPpzKCW-Asazxl2m1WNm1N2abu_0m-rAR7gkrT92vccCqOEQ","e":"AQAB"},"attributes":{"enabled":true,"created":1633729395,"updated":1633729395,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrud-rsa-key97b315d2/?api-version=2016-10-01
- request:
    body: '{"key_ops": ["decrypt", "encrypt"], "attributes": {"exp": 2524723200},
      "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key97b315d2/?api-version=2016-10-01
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key97b315d2/fc62430edaea4bbd9294b3fb8b42e86f","kty":"RSA","key_ops":["decrypt","encrypt"],"n":"wCOfYZfiewtypnbt7a43iFyCpIS2Cz9IH_qJA59nglR03I5UNXCqp8GB_YLqByv25pxx-1wEKv8YYGnt2yo1S5VfcWIJBEkJA8HTK7HlPq1uAubdplww6hQ8Ozn6GvnqF7mP2skYbvoK4RBphas-5JNFGcdPvJVJSEWznKD3MFo4Lkd7bUb14-cZwRYQPirGUh4cfMrm_fIT5jKfQJcpjWduiYAHwXY2J9UVUvB9CQEZ8M0GRZJaZMFXHwAwBcnXMFUU9Ngi1bBYlZX3FvvRCApBdjyTy7GT6woXkxXPpzKCW-Asazxl2m1WNm1N2abu_0m-rAR7gkrT92vccCqOEQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1633729395,"updated":1633729398,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrud-rsa-key97b315d2/?api-version=2016-10-01
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key97b315d2?api-version=2016-10-01
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-key97b315d2","deletedDate":1633729399,"scheduledPurgeDate":1641505399,"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key97b315d2/fc62430edaea4bbd9294b3fb8b42e86f","kty":"RSA","key_ops":["decrypt","encrypt"],"n":"wCOfYZfiewtypnbt7a43iFyCpIS2Cz9IH_qJA59nglR03I5UNXCqp8GB_YLqByv25pxx-1wEKv8YYGnt2yo1S5VfcWIJBEkJA8HTK7HlPq1uAubdplww6hQ8Ozn6GvnqF7mP2skYbvoK4RBphas-5JNFGcdPvJVJSEWznKD3MFo4Lkd7bUb14-cZwRYQPirGUh4cfMrm_fIT5jKfQJcpjWduiYAHwXY2J9UVUvB9CQEZ8M0GRZJaZMFXHwAwBcnXMFUU9Ngi1bBYlZX3FvvRCApBdjyTy7GT6woXkxXPpzKCW-Asazxl2m1WNm1N2abu_0m-rAR7gkrT92vccCqOEQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1633729395,"updated":1633729398,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrud-rsa-key97b315d2?api-version=2016-10-01
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-key97b315d2?api-version=2016-10-01
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: livekvtestcrud-rsa-key97b315d2"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://mcpatinotest.vault.azure.net/deletedkeys/livekvtestcrud-rsa-key97b315d2?api-version=2016-10-01
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-key97b315d2?api-version=2016-10-01
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-key97b315d2","deletedDate":1633729399,"scheduledPurgeDate":1641505399,"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key97b315d2/fc62430edaea4bbd9294b3fb8b42e86f","kty":"RSA","key_ops":["decrypt","encrypt"],"n":"wCOfYZfiewtypnbt7a43iFyCpIS2Cz9IH_qJA59nglR03I5UNXCqp8GB_YLqByv25pxx-1wEKv8YYGnt2yo1S5VfcWIJBEkJA8HTK7HlPq1uAubdplww6hQ8Ozn6GvnqF7mP2skYbvoK4RBphas-5JNFGcdPvJVJSEWznKD3MFo4Lkd7bUb14-cZwRYQPirGUh4cfMrm_fIT5jKfQJcpjWduiYAHwXY2J9UVUvB9CQEZ8M0GRZJaZMFXHwAwBcnXMFUU9Ngi1bBYlZX3FvvRCApBdjyTy7GT6woXkxXPpzKCW-Asazxl2m1WNm1N2abu_0m-rAR7gkrT92vccCqOEQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1633729395,"updated":1633729398,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/deletedkeys/livekvtestcrud-rsa-key97b315d2?api-version=2016-10-01
version: 1
