interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/crypto-test-encrypt-key56281625/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://uwasldanaxd7ilup6xz7i362.vault.azure.net/keys/crypto-test-encrypt-key56281625/create?api-version=7.1
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/crypto-test-encrypt-key56281625/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/crypto-test-encrypt-key56281625/8393c9879c8e41eda1f540b72f079bcc","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"qDF9NF5qKFBryCWvn7fMEExkmLoOHttqG33VoPfJkziHitFy4TMzoNpm94Y5_OIKFtV5ZohntYgilQ8VdtQDGMjeTybOiMLbefsmIlrw5pUMGoCaRCkan6oYlnEkvHlDz7_el7oeKOOM6VPM7p4gdlVH5IhzXf8XYQXHKFyxC40L8Aj2UOwcgZ6QJOmq8BdERhyc1Tukx38JeJf1NbWlS5Q0jf3KAd6Eck64BdC-aXW7njj2pLdfguiMPUFeBskEfHfUy9B27dmm875u2Yzvg7RvRpj54R-XbilKjRdJ8kMTpuQmJHjAw_zb6kaXjzzwmW3KtuPUSX_Vm5sF76K7Pw","e":"AQAB"},"attributes":{"enabled":true,"created":1600802888,"updated":1600802888,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://uwasldanaxd7ilup6xz7i362.vault.azure.net/keys/crypto-test-encrypt-key56281625/create?api-version=7.1
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/crypto-test-encrypt-key56281625/?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/crypto-test-encrypt-key56281625/8393c9879c8e41eda1f540b72f079bcc","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"qDF9NF5qKFBryCWvn7fMEExkmLoOHttqG33VoPfJkziHitFy4TMzoNpm94Y5_OIKFtV5ZohntYgilQ8VdtQDGMjeTybOiMLbefsmIlrw5pUMGoCaRCkan6oYlnEkvHlDz7_el7oeKOOM6VPM7p4gdlVH5IhzXf8XYQXHKFyxC40L8Aj2UOwcgZ6QJOmq8BdERhyc1Tukx38JeJf1NbWlS5Q0jf3KAd6Eck64BdC-aXW7njj2pLdfguiMPUFeBskEfHfUy9B27dmm875u2Yzvg7RvRpj54R-XbilKjRdJ8kMTpuQmJHjAw_zb6kaXjzzwmW3KtuPUSX_Vm5sF76K7Pw","e":"AQAB"},"attributes":{"enabled":true,"created":1600802888,"updated":1600802888,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://uwasldanaxd7ilup6xz7i362.vault.azure.net/keys/crypto-test-encrypt-key56281625/?api-version=7.1
- request:
    body: '{"alg": "RSA-OAEP", "value": "Ke5GRukmTUpUNJ9Xf2FtK2ftkHsKhV04fv9HKpCQ6-CLnPr8OpMd99hi6cLqRXd97tRmiPk3420oJm5wmDghU_oJYo4jQucpOWtBtGsv1ZLIC00K_1Q5MLcvGuGLp9ZvkNWW7ZGAFid-i20i1BGhCVPk98HV9G97jwgy-JJGYtgTSSNA6ha69Ia1e0m9SV4RjkXC9gpSypEIYqkei7reUCo8oYbMDHPcobUAvpvjFJS1KDpw0kfp7JSz6wr-mygm6QUuc9plQ2x-vUbDsqcRqsEX7wL2JtfWqymWog5k_n1Jf9nbJbr2vaKEC_odbkO2tDUFECMbhJdVpzMqLhpRpw"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/crypto-test-encrypt-key56281625/8393c9879c8e41eda1f540b72f079bcc/decrypt?api-version=7.1
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/crypto-test-encrypt-key56281625/8393c9879c8e41eda1f540b72f079bcc","value":"cGxhaW50ZXh0"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://uwasldanaxd7ilup6xz7i362.vault.azure.net/keys/crypto-test-encrypt-key56281625/8393c9879c8e41eda1f540b72f079bcc/decrypt?api-version=7.1
version: 1
