{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestwrap-localc3dd2b2a/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestwrap-localc3dd2b2a/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 4096
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "245"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1650642515,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1650642515
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestwrap-localc3dd2b2a/e3c3cdf0806e4669360c5eafbce39696",
          "kty": "RSA-HSM",
          "n": "isYxlqwf-vnHTwPi-Vf1ismLLurs8TX0BhT55fZwWJAW31yMwA42zGv5BowTw9PRni12nggieT2poS7om8kXjKujH-4myO7lX5nwTc0Zy5_w_KU7s-GE4MDDYxjAiknffNeo_p-iuBFwLNrnrsoIyXOZbIcieod_386tHswkh_wbq7Q1D3ZyvmhbB7pNRVS7M3Ij_pTYeeRf-2L5XSm9ZpFAVC90Q6YQmzUC1M5soClf3a8hiGV27Jo8ChZ-8VEi4psmFQau83JH2_JYF7yOGWtctraSyK4BIrJsG-i_5iNA-PXe9ZUfg6i8x-ragZrasi-3mv0arvf2w75K7RXs5tus2idi_OaGWy_E3U-H97T2wg_howh8W4e88usq2HKlJxowHGhw1OaQy0QRBy1nOuXsgc76FRKgTDDc0ORU22TtWkvXRShq6seefYiFwhK_eaiB8JQImr7r5rWlcg__iunijj9ARWtdUpdS7Zkkcza2_XEP3-XAaDoJtNpq4lbxAX994Xu3ut6PwEVvAdyUvcuBEv2E4UUJV7yN2jIJy8ETGe3yAKWTbUeDhz0_kiWTGt-OU15yubq7E2Zp67oBvYJaKNsICT61UXOpDiS9DcyF4xMJbzFV_2Du8r_EiSndXFWDMVeQ3eWgVtQlHet63PlN0CXM8xdQGb4qFiL19dk"
        }
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestwrap-localc3dd2b2a/e3c3cdf0806e4669360c5eafbce39696/unwrapkey?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "eX-1NFhoPYTms2aFUq3duQsE4IqLBDTHrEzAB3gRS8h2L2cQo2i6GOWV1HqRGe88mIvG31LdUaFUlPdlI3CJPhFPTwU8Xzk9GUV9S-n_M63z48QUTHZgaNdfd6fZ5EH-L-bwOqr-zHQclhVSszcTrLUhBrzBR3wWiNAGtP2lKMpNYTwXZB9Fdm-FRwdTYUwxIIphWiwErLDbjRMydwfVPwW8xokZeYUXXK2Bc3GXBxZipWMEyegt2EphIE40JzcPJIDFebEDItID5DJaYU_uadqt8TGl_KDvgnfCbQuwl-AgPRuhzIw8BkQf6oi_RTEgHZEhJkGgYbs6_amXUwz2XkQhkgzit1i0zMORVFDCIWbTcLe6iwLH2LwA3JyEZk1S1sf5yaoMhmKOwN_W7a088EbI09xBl-cNf40rAkxmqEtE-sZOd2ugxZtr-OiMIXSP-hTjhc4L-WJCKemdFQCqVM36cKCseQkt2-9e7D2BWfOaCIK8iNR0ifPqtSHmq-9yNb4uVTL55Qnew60hcoMfSfEQ6HjHO0_NLfI85aAPI-90dMZqCRXkI8P3SgRk8cBri6nlWwWZCHpJIc4ZV35dbmc1yY5EaaoUm_eUF3JPCpFd--IF_DjNhmGfgOP6HkMSwHVysynV9B0Pzo3NcrOsqbJT9Y5sxaD7DVQhoRA-UTc"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "101"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestwrap-localc3dd2b2a/e3c3cdf0806e4669360c5eafbce39696",
        "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"
      }
    },
[...]
