interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc755c41090.vault.azure.net/keys/rsa-verify-2048/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "key_size": 2048}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc755c41090.vault.azure.net/keys/rsa-verify-2048/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc755c41090.vault.azure.net/keys/rsa-verify-2048/6f1daa5b69cd40da950d3e332058cd34","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"tWWdkp8yu4K5U26_o5ZWBRemyOFpGUDwLSFCRelKP_MoPe0Hf2DSBMZdtNOFRPvhrLSA1OyBsmy-SKKjhj5vza51SNQ1t8St2pOnHvHvcKEwkBK841e6DvixaXgwDU-dTPHu7zhTwNlYdqr7AvZHjLV4l4t3MZPwcW6Uu6ZUuAKZWLDbPwMX7qMiUPS55L5DKTBvpP0cMOloc4GSG1x8ArQZgY_BqGXGVDPI6llmWNpLk-iVbq-_ywtoQc65jn0_ne726SuQybpYN8lPQQk2ciZt_8waFCnL61O27PjFV-a3ihmN0L_PA4U8PkGSbST9zGBAT4gdDvbIPSK6CCO6Ow","e":"AQAB"},"attributes":{"enabled":true,"created":1571704260,"updated":1571704260,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "PS256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc755c41090.vault.azure.net/keys/rsa-verify-2048/6f1daa5b69cd40da950d3e332058cd34/sign?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vault458ad70cc755c41090.vault.azure.net/keys/rsa-verify-2048/6f1daa5b69cd40da950d3e332058cd34","value":"iJHx9-g3kFHHXFHyTetl2UZ94nuvio6iwAb-RUSlCk-xuGWzMWqX_hVKsSD9AEiLt_6I77XE_8WM0aEYF5TnRH_tG566Gt3xo0BuPwtWdx-nm7_ecBVdTq_lSPNxf8vScJABw8CJUz3q72nnksG3O3X_2lxJI_wwer8BZXcH7tTd4X7Fgk1rKRB1-C_ksA8qKZCfZpZ2CwwOoFFRGUNQbvKtqHqFvDcKHkmcws6uRm_mMveTkutL8W_b534XvGnPD0_OWBRoXGHi4zzkXF_XLTjkkaQFJzV5ysOuMywoUke3Aca859Qm4sXbecsNPVpuXxoSRjSpIycZzBpOZY84eQ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "RS512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc755c41090.vault.azure.net/keys/rsa-verify-4096/2b5c9349f889411b9ff716cd8b437e19/sign?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vault458ad70cc755c41090.vault.azure.net/keys/rsa-verify-4096/2b5c9349f889411b9ff716cd8b437e19","value":"UMnm3zBhiKYY_L9cjEG034IYAowkWfcRNEofDVAAkJSWq3klC7vRjsYLiMazLT_v9C0iABHMFZrpYkirfnoKCaYsjGF4PGzhCQzpt_1cnhMkunpj4VRYQ8zpWsJgrLdfyG7Fsl9_5qHRp_2N3diZrifH-47U7jgIXYgB5kEX8HxXTVGHUnjmvLTkGMP1Bps9E5gZz9JslhTCjGV_qfrv8uZ_FBLFSIqyG3hnsVlVb2exN1e0g5pJdrytgaRjRXOVofERe00Qh2uJPb5HkcCyAG17bBebGaf8jfz53GAkP7ZTnW1b_qjKAEVkAahYFv4iWueLv5QiN-pRUTnJQkKZt1-0Zeir7OG0T4yhKI631Xd_zYOtOkzbBotnhj-AsTf2Zb7cP7M7mPrQYcVUd-H_FgdrbpmvPDNRywKtrMxT3vC4KdrH_FP1JyXoglsyvUDFaTM4srUNR9TBLgQ2sN_oMhAJ61Mw-X0dru9FT8TaXAw7pFiGspsVYPvRuSvXepX3gzU4byLVWW1jiPzK9b-jkkiTE0J83gDXIhciUaXXDBqvsQR1uUOcUtMX56-_g--9NZnFhNJ5iALhB0RPDPAZj1lEFR6BbLgxEWoxAbvFnDsMUMuQm77tHU77fox8B-IHoMP-7cYWRI1kPPUzzXYJC98LF-29PK1bvS2drW2S5Ok"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
