interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault8bf41593ca67c4112b.vault.azure.net/keys/crypto-test-encrypt-key67c4112b/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault8bf41593ca67c4112b.vault.azure.net/keys/crypto-test-encrypt-key67c4112b/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault8bf41593ca67c4112b.vault.azure.net/keys/crypto-test-encrypt-key67c4112b/7ef813287fb244f8b5adbd6f7345733e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"21BBeStTeFV08D9Z9dlXDDw3HQLlWnRp3Bi9LbZsvE8hFDKPfjZW_Nlss1QhXHrmMT13Z_u8C_zLKKB9i57POeZ9FJw8SnaF4xaS0WhnTtXBR0rLAQy5cKeA68IpBlCvVZcGcFbGlHBGx5_qZ93XaYEey6sY6FQ_UWSSopdfjK75EhVNNJf5xlku0Ew1Gxuo0ZDzlAkFUIo7OMj9OG3VTe1Spl5VhVf-r8GzGrauc2nTwgUvHAZgBmGat35yrO8ZYcyVpy2iQYLNTW5fl5kEHrukX5mwevWX6I7rvQwE63_U24ddbL-BJtDL4tdrCGwrNZf-dz7z0pRUM40lRIRKtQ","e":"AQAB"},"attributes":{"enabled":true,"created":1570207574,"updated":1570207574,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "RSA-OAEP", "value": "jaOaoaDp-AlDJQfzMuCCM0DQQ98tsq-NqknlaJV7mSHlXq00tPGCFMa_Jc9IUm3eH-mqLYzucxRs8KEw0Ea0neEADpgmM6Tzby2vsjDSBcxYPuCT9lmQrwWjbeCNn1_86tnVgTeGphCEiLdxirEAVEAgwi0aSszx2b1O0QPNQSAB88aDomBS23yii-fdv4fe4jMRAiSXRCD1o4DY6ifJvn0nZ74d-4n_FeOfGok-Z2gRVD1b2WNnga7QgZ9r-SeMbEtSLqmws3dqT6h87pEGGm0dRv2Z5y3K50x9FXpJWhaIHLE-j01KSW7SemcE4mP0ElRDExHmouAqDeXhwXqIYw"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault8bf41593ca67c4112b.vault.azure.net/keys/crypto-test-encrypt-key67c4112b/7ef813287fb244f8b5adbd6f7345733e/decrypt?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vault8bf41593ca67c4112b.vault.azure.net/keys/crypto-test-encrypt-key67c4112b/7ef813287fb244f8b5adbd6f7345733e","value":"cGxhaW50ZXh0"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
