interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault458ad70cc7b4dd0c0a.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Tue, 05 Nov 2019 17:10:59 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.882, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault458ad70cc7b4dd0c0a.vault.azure.net,
        /keys/key0/create, api-version=7.0, '']
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault458ad70cc7b4dd0c0a.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault458ad70cc7b4dd0c0a.vault.azure.net/keys/key0/0bf55f11689d4c169f43513a695c7d8f","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"r8sZYm5OG8My3_GaZTZVOvxb3L7oIku5YLGw_m-gCoomRRvqj192JoULehE8KqCDEDWwxfzbx_ESmN2cDoMeGc-W5_WNL7UXwxNYPXpvFi8eFvpgaDLSuIiTDJrsYv0nwW4RRe5I5KBILz7EOzr-KxLzUOWYE0Fu9pCsNWe5fqopRyUSxgv82liU8FuxJNThMKGEmTXBBzEESxRtwZpVA4DJefxtyOLVG7a4rscblW4ALBr1QxKpiLPhxs-4cghRzQ64BmvV9nlCDpVeYb7qlJetGOjjFbPu13i_mjP_0HiuP2M-wJxGgO43NRqvGHxPMFwQz6NjLubRro4dvG1tWw","e":"AQAB"},"attributes":{"enabled":true,"created":1572973860,"updated":1572973860,"recoveryLevel":"Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '650', content-type: application/json;
        charset=utf-8, date: 'Tue, 05 Nov 2019 17:11:00 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.882, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault458ad70cc7b4dd0c0a.vault.azure.net,
        /keys/key0/create, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc7b4dd0c0a.vault.azure.net/keys?maxresults=6&api-version=7.0
  response:
    body: {string: '{"value":[{"kid":"https://vault458ad70cc7b4dd0c0a.vault.azure.net/keys/key0","attributes":{"enabled":true,"created":1572973860,"updated":1572973860,"recoveryLevel":"Purgeable"}},{"kid":"https://vault458ad70cc7b4dd0c0a.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1572973860,"updated":1572973860,"recoveryLevel":"Purgeable"}},{"kid":"https://vault458ad70cc7b4dd0c0a.vault.azure.net/keys/key2","attributes":{"enabled":true,"created":1572973861,"updated":1572973861,"recoveryLevel":"Purgeable"}},{"kid":"https://vault458ad70cc7b4dd0c0a.vault.azure.net/keys/key3","attributes":{"enabled":true,"created":1572973861,"updated":1572973861,"recoveryLevel":"Purgeable"}},{"kid":"https://vault458ad70cc7b4dd0c0a.vault.azure.net/keys/key4","attributes":{"enabled":true,"created":1572973861,"updated":1572973861,"recoveryLevel":"Purgeable"}},{"kid":"https://vault458ad70cc7b4dd0c0a.vault.azure.net/keys/key5","attributes":{"enabled":true,"created":1572973861,"updated":1572973861,"recoveryLevel":"Purgeable"}}],"nextLink":"https://vault458ad70cc7b4dd0c0a.vault.azure.net:443/keys?api-version=7.0&$skiptoken=eyJOZXh0TWFya2VyIjoiMiE3MiFNREF3TURBNElXdGxlUzlMUlZrMklUQXdNREF5T0NFNU9UazVMVEV5TFRNeFZESXpPalU1T2pVNUxqazVPVGs1T1RsYUlRLS0iLCJUYXJnZXRMb2NhdGlvbiI6MH0&maxresults=6"}'}
    headers: {cache-control: no-cache, content-length: '1281', content-type: application/json;
        charset=utf-8, date: 'Tue, 05 Nov 2019 17:11:01 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.882, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault458ad70cc7b4dd0c0a.vault.azure.net,
        /keys, maxresults=6&api-version=7.0, '']
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc7b4dd0c0a.vault.azure.net:443/keys?api-version=7.0&$skiptoken=eyJOZXh0TWFya2VyIjoiMiE3MiFNREF3TURBNElXdGxlUzlMUlZrMklUQXdNREF5T0NFNU9UazVMVEV5TFRNeFZESXpPalU1T2pVNUxqazVPVGs1T1RsYUlRLS0iLCJUYXJnZXRMb2NhdGlvbiI6MH0&maxresults=6
  response:
    body: {string: '{"value":[{"kid":"https://vault458ad70cc7b4dd0c0a.vault.azure.net/keys/key6","attributes":{"enabled":true,"created":1572973861,"updated":1572973861,"recove[...]
