interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-ec-keya6c0173b/create?api-version=7.2-preview
  response:
    body:
      string: ''
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency: '1'
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestcrud-ec-keya6c0173b/create?api-version=7.2-preview
- request:
    body: '{"attributes": {"enabled": true}, "tags": {"test name": "CreateECKeyTest",
      "purpose": "unit test"}, "kty": "EC-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-ec-keya6c0173b/create?api-version=7.2-preview
  response:
    body:
      string: '{"attributes":{"created":1618859409,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1618859409},"key":{"crv":"P-256","key_ops":["verify","sign"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-ec-keya6c0173b/ed60f634ee7002d809ebe8b57c9d1190","kty":"EC-HSM","x":"abdaxkbIf-WK7VyHo4rS56fB4LQMfBl0JvnHkH1FAIQ","y":"-sWgrOr0tMI6bZVQ5tsO260ZvHlclAu-JuUBNmVzYXY"},"tags":{"purpose":"unit
        test","test name":"CreateECKeyTest"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '279'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestcrud-ec-keya6c0173b/create?api-version=7.2-preview
- request:
    body: '{"crv": "P-256", "kty": "EC-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-P-256-ec-keya6c0173b/create?api-version=7.2-preview
  response:
    body:
      string: '{"attributes":{"created":1618859411,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1618859411},"key":{"crv":"P-256","key_ops":["verify","sign"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-P-256-ec-keya6c0173b/32a4eb1c5696054192e7898fbb0e4e8e","kty":"EC-HSM","x":"y3gLMdvgLhfUJsFttK9jwG5a1Il_trDCP1ZP-gbsk4Y","y":"fADlRGx5PPa_N5c13G5DwXlOWKdPRaA3oV_TcvifjY8"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '256'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestcrud-P-256-ec-keya6c0173b/create?api-version=7.2-preview
- request:
    body: '{"key": {"key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey",
      "unwrapKey"], "n": "AKCRTQAjSsaDshtMFdW-2Ie9yVnC5Xr1Suc06PAHINd10nXkVSB-N4TO62ClCkZV3XKnqU0nHo7o95WaZpym53W_DiO62umRtFKdl4UotL2QUh0y3SZWeWuoK2u_x2aMj17rUFN0f9GZMZ0pqEQNCPRBLVJ_-TEe2nGCWSC0exxGsRqz6R1zFkB-icfzQPe4WjQELOUXQ7J9RxhAPTTHtDivYYG-BeTRHrmF04JT1_6b9T_C8bAC0i0teT-nmlBLarQtBJKATXBx1yegbPOoiTqlQrFQP4MrKWNxtnB9Tcbjcvj-Z9je0ckI_eRc4DvAhqcUh_p15Dqg4GeaoNIO_jU",
      "qi": "AJ_nrkLpK8BPzVeARkvSHQyKwMWZ-a8CD95qsKfn0dOZAvXY-2xhQYTEwbED-0bpTNEKbIpA-ZkaHygmnzJkNbbFAnb9pkkzU8ZQqDP3JNgMfVIroWx58Oth9nJza2j7i-MkPRCUPEq3Ao0J52z7WJIiLji8TTVYW_NaiM1oxzsH",
      "e": "AQAB", "q": "AMPcZrZBqbc82DO8Q5zTT8ZXRGWrW36KktMllaIk1W2RHnRiQiW0jBWmcCgqUcQNHa1LwumjyNqwx28QBS37BTvG7ULGUoio6LrOeoiBGEMj-U19sX6m37plEhj5Mak7j3OPPY_T9rohjTW5aGGg9YSwq4jdz0RrmBX00ofYOjI3",
      "dp": "AMmhWb5yZcu6vJr8xJZ-t0_likxJRUMZAtEULaWZt2DgODj4y9JrZDJP6mvckzhQP0WXk2NuWbU2HR5pUeCN2wieG1B76VKoH76vfnaJDqT1NuJVBcP2SLHog3ffwZtMME5zjfygchG3kihqOSpwTQ9ETAqAJTkRC38fEhwAz_Cp",
      "kty": "RSA-HSM", "p": "ANHerI1o3dLB_VLVmZZVss8VZSYN5SaeQ_0qhfOSgOFwj__waCFmy2EG7l6l6f_Z-Y0L7Mn_LNov68lyWSFa2EuQUeVj4UoFHc5Di8ZUGiSsTwFM-XMtNuv8HmGgDYLL5BIJD3eTz71LdgW-Ez38OZH34b7VeG8zfeUDb8Hi30zz",
      "d": "Ynx9JGaBSP4iUsf6ZJ6opantRNdcdmzaQrKbZg6ZQE8Ohi1FYabJWvaoPSE-CiJEsDzShXZHMhUHN4X7Bn8BXaGQhK3p9HXgiwQKmix7oAJTu4ElUIyd8UC3UWHSZr40el4PaQD-HYu_eMzCXus34MnRiNbh_BUWm6T-Eidhk9d3kNIyaSi9YNDQHW6tjWrEhhq63O7JU1j9ZonFChZxpKk20jdkQKQURVAdpOdL-5j4I70ZxFuU6wHZj8DS8oRQfwGOvZKbgYDb5jgf3UNL_7eACqq92XPVX56vm7iKbqeyjCqAIx5y3hrSRIJtZlWCwjYnYQGd4unxDLi8wmJWSQ",
      "dq": "AKC9TAo9n2RDaggjdLXK8kiLrBVoaWFTpqXkzYXRhtsx4vWPAkxhfSnze05rVMl6HiXv7FnE0f0wYawzUJzoyuXBH0zS6D9BqCZPeF543AmWB27iPf38Q9Z8Rjr6oBgMSnGDV_mm8nDVQkeaDyE4cOZh-5UKvKShTKKQVwunmDNH"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestimport-test-keya6c0173b?api-version=7.2-preview
  response:
    body:
      string: '{"attributes":{"created":1618859411,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1618859411},"key":{"e":"AQAB","key_ops":["decrypt","encrypt","unwrapKey","sign","verify","wrapKey"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestimport-test-keya6c0173b/917e8a6bf29206a5367513702d5185be","kty":"RSA-HSM","n":"oJFNACNKxoOyG0wV1b7Yh73JWcLlevVK5zTo8Acg13XSdeRVIH43hM7rYKUKRlXdcqepTScejuj3lZpmnKbndb8OI7ra6ZG0Up2XhSi0vZBSHTLdJlZ5a6gra7_HZoyPXutQU3R_0ZkxnSmoRA0I9EEtUn_5MR7acYJZILR7HEaxGrPpHXMWQH6Jx_NA97haNAQs5RdDsn1HGEA9NMe0OK9hgb4F5NEeuYXTglPX_pv1P8LxsALSLS15P6eaUEtqtC0EkoBNcHHXJ6Bs86iJOqVCsVA_gyspY3G2cH1NxuNy-P5n2N7RyQj95FzgO8CGpxSH-nXkOqDgZ5qg0g7-NQ"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '254'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestimport-test-keya6c0173b?api-version=7.2-preview
- request:
    body: '{"key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey", "unwrapKey"],
      "key_size": 2048, "tags": {"test name ": "CreateRSAKeyTest", "purpose": "unit
      test"}, "kty": "RSA-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya6c0173b/create?api-version=7.2-preview
  response:
    body:
      string: '{"attributes":{"created":1618859414,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1618859414},"key":{"e":"AQAB","key_ops":["sign","verify","decrypt","encrypt","unwrapKey","wrapKey"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya6c0173b/2c49e15fe6384bf8b046792f8cab2dae","kty":"RSA-HSM","n":"3W1A0hxU9TQn2_tXc60mk5DGb75gUppbNO0eCH7w6OLL4Wj-7HLfJy9Rr6s7B__PXOgdFxUpkZ0YGrbCSiMgbwUL35dxJUPG2XqFNqm-1ueEFTgNCjW0f1ozhEqaetuzt7HZSYiyGNygo8IaGw8jNaDS4_jxaqQPqpqJAmYqDEKZ1IievDVxTW_XGvfg4WAVGW5B3rDl9vcbrGW4Jw4Lz-M1nUCe-3iiO6wc-V-ec-_WfFjMe0p7moKhRWtJwetC06PImuTlxL_XhY5T1OHf-ykku2juiARRz1jkva2EccGmL7jdWNqanKNoShhHs1feO0eoNVUt2dHMTMu-UB9UUQ"},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '206'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya6c0173b/create?api-version=7.2-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya6c0173b/2c49e15fe6384bf8b046792f8cab2dae?api-version=7.2-preview
  response:
    body:
      string: '{"attributes":{"created":1618859414,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1618859414},"key":{"e":"AQAB","key_ops":["unwrapKey","encrypt","decrypt","verify","sign","wrapKey"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya6c0173b/2c49e15fe6384bf8b046792f8cab2dae","kty":"RSA-HSM","n":"3W1A0hxU9TQn2_tXc60mk5DGb75gUppbNO0eCH7w6OLL4Wj-7HLfJy9Rr6s7B__PXOgdFxUpkZ0YGrbCSiMgbwUL35dxJUPG2XqFNqm-1ueEFTgNCjW0f1ozhEqaetuzt7HZSYiyGNygo8IaGw8jNaDS4_jxaqQPqpqJAmYqDEKZ1IievDVxTW_XGvfg4WAVGW5B3rDl9vcbrGW4Jw4Lz-M1nUCe-3iiO6wc-V-ec-_WfFjMe0p7moKhRWtJwetC06PImuTlxL_XhY5T1OHf-ykku2juiARRz1jkva2EccGmL7jdWNqanKNoShhHs1feO0eoNVUt2dHMTMu-UB9UUQ"},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20210407-3-27236ed1-develop
      x-ms-server-latency: '83'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya6c0173b/2c49e15fe6384bf8b046792f8cab2dae?api-version=7.2-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya6c0173b/?api-version=7.2-preview
  response:
    body:
      string: '{"attributes":{"created":1618859414,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1618859414},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya6c0173b/2c49e15fe6384bf8b046792f8cab2dae","kty":"RSA-HSM","n":"3W1A0hxU9TQn2_tXc60mk5DGb75gUppbNO0eCH7w6OLL4Wj-7HLfJy9Rr6s7B__PXOgdFxUpkZ0YGrbCSiMgbwUL35dxJUPG2XqFNqm-1ueEFTgNCjW0f1ozhEqaetuzt7HZSYiyGNygo8IaGw8jNaDS4_jxaqQPqpqJAmYqDEKZ1IievDVxTW_XGvfg4WAVGW5B3rDl9vcbrGW4Jw4Lz-M1nUCe-3iiO6wc-V-ec-_WfFjMe0p7moKhRWtJwetC06PImuTlxL_XhY5T1OHf-ykku2juiARRz1jkva2EccGmL7jdWNqanKNoShhHs1feO0eoNVUt2dHMTMu-UB9UUQ"},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20210407-3-27236ed1-develop
      x-ms-server-latency: '1'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya6c0173b/?api-version=7.2-preview
- request:
    body: '{"attributes": {"exp": 2524723200}, "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya6c0173b/?api-version=7.2-preview
  response:
    body:
      string: '{"attributes":{"created":1618859414,"enabled":true,"exp":2524723200,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1618859415},"key":{"e":"AQAB","key_ops":["unwrapKey","encrypt","decrypt","verify","sign","wrapKey"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya6c0173b/2c49e15fe6384bf8b046792f8cab2dae","kty":"RSA-HSM","n":"3W1A0hxU9TQn2_tXc60mk5DGb75gUppbNO0eCH7w6OLL4Wj-7HLfJy9Rr6s7B__PXOgdFxUpkZ0YGrbCSiMgbwUL35dxJUPG2XqFNqm-1ueEFTgNCjW0f1ozhEqaetuzt7HZSYiyGNygo8IaGw8jNaDS4_jxaqQPqpqJAmYqDEKZ1IievDVxTW_XGvfg4WAVGW5B3rDl9vcbrGW4Jw4Lz-M1nUCe-3iiO6wc-V-ec-_WfFjMe0p7moKhRWtJwetC06PImuTlxL_XhY5T1OHf-ykku2juiARRz1jkva2EccGmL7jdWNqanKNoShhHs1feO0eoNVUt2dHMTMu-UB9UUQ"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '64'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya6c0173b/?api-version=7.2-preview
- request:
    body: null
    headers:
    method: DELETE
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya6c0173b?api-version=7.2-preview
  response:
    body:
      string: '{"attributes":{"created":1618859414,"enabled":true,"exp":2524723200,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1618859415},"deletedDate":1618859415,"key":{"e":"AQAB","key_ops":["verify","sign","unwrapKey","encrypt","decrypt","wrapKey"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya6c0173b/2c49e15fe6384bf8b046792f8cab2dae","kty":"RSA-HSM","n":"3W1A0hxU9TQn2_tXc60mk5DGb75gUppbNO0eCH7w6OLL4Wj-7HLfJy9Rr6s7B__PXOgdFxUpkZ0YGrbCSiMgbwUL35dxJUPG2XqFNqm-1ueEFTgNCjW0f1ozhEqaetuzt7HZSYiyGNygo8IaGw8jNaDS4_jxaqQPqpqJAmYqDEKZ1IievDVxTW_XGvfg4WAVGW5B3rDl9vcbrGW4Jw4Lz-M1nUCe-3iiO6wc-V-ec-_WfFjMe0p7moKhRWtJwetC06PImuTlxL_XhY5T1OHf-ykku2juiARRz1jkva2EccGmL7jdWNqanKNoShhHs1feO0eoNVUt2dHMTMu-UB9UUQ"},"recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-keya6c0173b","scheduledPurgeDate":1626635415,"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '93'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya6c0173b?api-version=7.2-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-keya6c0173b?api-version=7.2-preview
  response:
    body:
      string: '{"attributes":{"created":1618859414,"enabled":true,"exp":2524723200,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1618859415},"deletedDate":1618859415,"key":{"e":"AQAB","key_ops":["wrapKey","unwrapKey","encrypt","decrypt","verify","sign"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya6c0173b/2c49e15fe6384bf8b046792f8cab2dae","kty":"RSA-HSM","n":"3W1A0hxU9TQn2_tXc60mk5DGb75gUppbNO0eCH7w6OLL4Wj-7HLfJy9Rr6s7B__PXOgdFxUpkZ0YGrbCSiMgbwUL35dxJUPG2XqFNqm-1ueEFTgNCjW0f1ozhEqaetuzt7HZSYiyGNygo8IaGw8jNaDS4_jxaqQPqpqJAmYqDEKZ1IievDVxTW_XGvfg4WAVGW5B3rDl9vcbrGW4Jw4Lz-M1nUCe-3iiO6wc-V-ec-_WfFjMe0p7moKhRWtJwetC06PImuTlxL_XhY5T1OHf-ykku2juiARRz1jkva2EccGmL7jdWNqanKNoShhHs1feO0eoNVUt2dHMTMu-UB9UUQ"},"recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-keya6c0173b","scheduledPurgeDate":1626635415,"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20210407-3-27236ed1-develop
      x-ms-server-latency: '34'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-keya6c0173b?api-version=7.2-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-keya6c0173b?api-version=7.2-preview
  response:
    body:
      string: '{"attributes":{"created":1618859414,"enabled":true,"exp":2524723200,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1618859415},"deletedDate":1618859415,"key":{"e":"AQAB","key_ops":["wrapKey","unwrapKey","encrypt","decrypt","verify","sign"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya6c0173b/2c49e15fe6384bf8b046792f8cab2dae","kty":"RSA-HSM","n":"3W1A0hxU9TQn2_tXc60mk5DGb75gUppbNO0eCH7w6OLL4Wj-7HLfJy9Rr6s7B__PXOgdFxUpkZ0YGrbCSiMgbwUL35dxJUPG2XqFNqm-1ueEFTgNCjW0f1ozhEqaetuzt7HZSYiyGNygo8IaGw8jNaDS4_jxaqQPqpqJAmYqDEKZ1IievDVxTW_XGvfg4WAVGW5B3rDl9vcbrGW4Jw4Lz-M1nUCe-3iiO6wc-V-ec-_WfFjMe0p7moKhRWtJwetC06PImuTlxL_XhY5T1OHf-ykku2juiARRz1jkva2EccGmL7jdWNqanKNoShhHs1feO0eoNVUt2dHMTMu-UB9UUQ"},"recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-keya6c0173b","scheduledPurgeDate":1626635415,"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20210407-3-27236ed1-develop
      x-ms-server-latency: '35'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-keya6c0173b?api-version=7.2-preview
version: 1
