interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestsymmetric-kw935e1b0d?api-version=7.3-preview
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '1'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"key": {"kty": "oct-HSM", "key_ops": ["encrypt", "decrypt", "wrapKey",
      "unwrapKey"], "k": "4n7QyEUSu9VbavQ00jfBH-ujEYcPgPLC4zZCYPMcgsg"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestsymmetric-kw935e1b0d?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1625605024,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625605024},"key":{"key_ops":["encrypt","decrypt","unwrapKey","wrapKey"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestsymmetric-kw935e1b0d/a8dfe35ae15a09d123b6f62483e3c24d","kty":"oct-HSM"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '250'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestsymmetric-kw935e1b0d/a8dfe35ae15a09d123b6f62483e3c24d?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1625605024,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625605024},"key":{"key_ops":["decrypt","encrypt","wrapKey","unwrapKey"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestsymmetric-kw935e1b0d/a8dfe35ae15a09d123b6f62483e3c24d","kty":"oct-HSM"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20210605-1-ffd80f31-develop
      x-ms-server-latency:
      - '99'
    status:
      code: 200
      message: OK
version: 1
