interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/ec-verify-P-256/create?api-version=7.1-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://jme7red62btavktnt46tjrh7.vault.azure.net/keys/ec-verify-P-256/create?api-version=7.1-preview
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/ec-verify-P-256/create?api-version=7.1-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/ec-verify-P-256/75bbde3be3ce4e6c8b0cb909fa670748","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"CJEx5kEPwtbsR1N3v81tk8xwe8g1tlvM_r5YMgEdGkI","y":"yige7enjwjHVMJnvjgqBtLq2H3KHUpWSxxJbvKqXvRk"},"attributes":{"enabled":true,"created":1583450192,"updated":1583450192,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://jme7red62btavktnt46tjrh7.vault.azure.net/keys/ec-verify-P-256/create?api-version=7.1-preview
- request:
    body: '{"alg": "ES256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/ec-verify-P-256/75bbde3be3ce4e6c8b0cb909fa670748/sign?api-version=7.1-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/ec-verify-P-256/75bbde3be3ce4e6c8b0cb909fa670748","value":"0jmpAxYSjE_tlAv4gR1hCnoPQxV3MrrP3V0C4utZoT8YgPPmx0tqypxhLrAm9PXvYNSjA52fUWSoaZLC65ygKw"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://jme7red62btavktnt46tjrh7.vault.azure.net/keys/ec-verify-P-256/75bbde3be3ce4e6c8b0cb909fa670748/sign?api-version=7.1-preview
- request:
    body: '{"kty": "EC", "crv": "P-256K"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/ec-verify-P-256K/create?api-version=7.1-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/ec-verify-P-256K/86a0f0fa942d432da57b1fa54afd4b79","kty":"EC","key_ops":["sign","verify"],"crv":"P-256K","x":"8_vIY0OLGGQtmHMaUsSEnQEhIkT1Q1MhQfKv-l-4FE8","y":"JgSSbee4wDrNVttxMtMqMGbs1zCuWdk8FDXuqaNqJqo"},"attributes":{"enabled":true,"created":1583450193,"updated":1583450193,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://jme7red62btavktnt46tjrh7.vault.azure.net/keys/ec-verify-P-256K/create?api-version=7.1-preview
- request:
    body: '{"alg": "ES256K", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/ec-verify-P-256K/86a0f0fa942d432da57b1fa54afd4b79/sign?api-version=7.1-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/ec-verify-P-256K/86a0f0fa942d432da57b1fa54afd4b79","value":"loTBEpFbbMY2KzcLaoJ-ssz4vbfXJ5dDhqsX8ctI5L0OBAfFUr7DJ1KLGkMFdv4dSVoNrFuVU9bb9wAQwRxgOQ"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://jme7red62btavktnt46tjrh7.vault.azure.net/keys/ec-verify-P-256K/86a0f0fa942d432da57b1fa54afd4b79/sign?api-version=7.1-preview
[...]
- request:
    body: '{"alg": "ES512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/ec-verify-P-521/2c6640e9b26749738e9b6bb89d796b1c/sign?api-version=7.1-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/ec-verify-P-521/2c6640e9b26749738e9b6bb89d796b1c","value":"AKtdM2WdjU8Wn9Lc_OlBg5F7vbjMwzfps-R-ebqwA39eJt3Jwhh-V4Pa5GRyil5776o0po9A5xCCd1QhN5sPEmmAAJQuJYFamYYlkcxJclo5D7rJkdmTGfYpID-4K1KkiFGeAloCDl4LbFKiJ7CNJSGmMMFaFbthhm4nTGpA1wC5GeDH"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://jme7red62btavktnt46tjrh7.vault.azure.net/keys/ec-verify-P-521/2c6640e9b26749738e9b6bb89d796b1c/sign?api-version=7.1-preview
version: 1
