{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestwrap-local170b2cee/create?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestwrap-local170b2cee/create?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 4096
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestwrap-local170b2cee/5efc6f3d6d284f74a83d2f454c98fa37",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1hjpRtNPHvSiTBuN8jxTOjNK5irzn2n7qls8D_1eoECdwvjWLDvDcksODMMfQkAVx2uiYaUGNTTF37JNHBcBrufluTU0PwCAtlJPKOaxBSAeu6YyYdJun5CVRFNSV6w8GGps5_swc34UCAdNHYFVHlsgPqCviG4bTPicBXbbLq6UToPLBN7YWzPaby49vDhEUA1VyH3rzzeC1y2ZYzUG5Fmtc_KZUyPeKCh7wK9FER-hzsDq8ZOgC61pdP32vjM-gG1-6L_8VAzmrHsOzDswds6q62B-fysDTp0S9b_We0oQU3QNJBEqb8Yibup5VO_TXQSEvIxo_HorjP3EtwnbPwcS8psXStNGCIaSfaU6vrRrept0kWK3v7mY-nLyTSerFL8jrXxy4wEPaTQijJq7cvTtB0Cdolcwt9H6AZnzL_MYFTwWo7nPvPQ4Hp4WH51jjW6lat7IC0ELlVst9r0XFdrf1zfdXxPp799j2lbyNePjN5nds6iLAlzs9FLRKXACVUMfsr9Eoa9rLVuGs-BJ1qY2nNp6BOeotDF9yXAqN10wO9rdBAz8s63pSUMNcA97mbfzahJx_wulDBuErrkKel8SFdMEmHQ8DE5qek1QIoW1Uls_jyNb_iQGiZvk9qLa_GtY3Z6uYMf-ds3FmIC6XTLenwViWH0gyXtyqHKTst0",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650292263,
          "updated": 1650292263,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestwrap-local170b2cee/5efc6f3d6d284f74a83d2f454c98fa37/unwrapkey?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "kh1fJF4nIhgbiEsg6Dgm_nLE2kRN7yjgaUvvPqeGI722nM9JHrBC8ZjoM25puNfUzdOIllTH3hxl-YPoLYldZEhsv2_3kSdMMlObo-RucSxQUZfBUx1V8MvDGNpttwOmbUQvkA7l42Og-kYpGgHLKgMPkQD_-leaEBy4C7hV2UdqCga_vrmZ4lRv1v9YiahUJLW1Ce2yPayxs87MOU81Uih1P9DP128_5r_310krKXEdgpiBr40fVAuaoBm6DJfq9vSp7w4aFHaUuyn6M-MrZZxE7L5msyDCSSYjgFQOf40BBxHR_5zxmrQEdZHvk-xbOvK7IDr7OizZMhceH_2MyIx8G4DU1BveI-F7tm-qbv3WWJ8YCWGu9yxFyUeSK-G7Y4snB7WwXvZvsxQBG3BkotsIOVx-HZhVv9qximZtOkjiGe6Br2hYloi2afWdr5Px8L8TWJvlpTvDlvlhtv-Gh062IFD2J_xbvxRfKFcodUdu15elAXfxhrVBDN2Q__fLEOa-aRyEEf63qx5NNW0ZO08TA5ynh0pSOz6ZUoIQgQwV6SJQiJNTrAdazikP4ZeLBa6loOrwXjGkASWjkkrTJ2dbcu0BaSbDhL1XUj_6wskNImjONexcwPNWkbuMDXtMm_xnEJwZEKujlwu2kWXWt-iBDxkE-9FQ-trGLMdSdtg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestwrap-local170b2cee/5efc6f3d6d284f74a83d2f454c98fa37",
        "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"
      }
    },
[...]
