interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrotation-keyeb61460/create?api-version=7.3
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://malegerec.vault.azure.net/keys/livekvtestrotation-keyeb61460/create?api-version=7.3
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrotation-keyeb61460/create?api-version=7.3
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrotation-keyeb61460/a2abe1710b5942f898b98ca06649a554","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"oYfjc-wszliZnG6FXtCJoW0mNteUtgc4I2ZFVhDg8TxuyiomjtP-W_8P7Q2YYO6j0V3-acpmPjO-_TzX5FKDq8Zqqe9Lkk4BLG3IhmC7pGqvLjxf3fmwcKpGRitc8Bu9SCp6OLRItUydXR8aKTXn7-rFs_cwnlGtct6MDjnZnuZ_WHlQ41sCsSfnA7FjhYshmT9OEpkrhdqzGUZG9tHldIeiQPgoqIp2DJDo0aZd1hpng8NIG3CgXj8ot14bxODwjfPtXipDXrU-PCXlGR7FbROzM8EjUX1zGtnhiMibIEz8SDvP2CWslXTEwJ_oPQ6iAvr5tULAIknZFCYBwZtsfQ","e":"AQAB"},"attributes":{"enabled":true,"created":1647995111,"updated":1647995111,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://malegerec.vault.azure.net/keys/livekvtestrotation-keyeb61460/create?api-version=7.3
- request:
    body: '{"lifetimeActions": [{"trigger": {"timeAfterCreate": "P2M"}, "action":
      {"type": "Rotate"}}], "attributes": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/keys/livekvtestrotation-keyeb61460/rotationpolicy?api-version=7.3
  response:
    body:
      string: '{"id":"https://vaultname.vault.azure.net/keys/livekvtestrotation-keyeb61460/rotationpolicy","lifetimeActions":[{"trigger":{"timeAfterCreate":"P2M"},"action":{"type":"Rotate"}},{"trigger":{"timeBeforeExpiry":"P30D"},"action":{"type":"Notify"}}],"attributes":{"created":1647995111,"updated":1647995111}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://malegerec.vault.azure.net/keys/livekvtestrotation-keyeb61460/rotationpolicy?api-version=7.3
[...]
- request:
    body: '{"lifetimeActions": [{"trigger": {"timeAfterCreate": "P2M"}, "action":
      {"type": "Rotate"}}, {"trigger": {"timeBeforeExpiry": "P30D"}, "action": {"type":
      "Notify"}}], "attributes": {"expiryTime": "P90D"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/keys/livekvtestrotation-keyeb61460/rotationpolicy?api-version=7.3
  response:
    body:
      string: '{"id":"https://vaultname.vault.azure.net/keys/livekvtestrotation-keyeb61460/rotationpolicy","lifetimeActions":[{"trigger":{"timeAfterCreate":"P2M"},"action":{"type":"Rotate"}},{"trigger":{"timeBeforeExpiry":"P30D"},"action":{"type":"Notify"}}],"attributes":{"expiryTime":"P90D","created":1647995111,"updated":1647995111}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://malegerec.vault.azure.net/keys/livekvtestrotation-keyeb61460/rotationpolicy?api-version=7.3
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestrotation-keyeb61460/rotationpolicy?api-version=7.3
  response:
    body:
      string: '{"id":"https://vaultname.vault.azure.net/keys/livekvtestrotation-keyeb61460/rotationpolicy","lifetimeActions":[{"trigger":{"timeBeforeExpiry":"P30D"},"action":{"type":"Notify"}}],"attributes":{"expiryTime":"P90D","created":1647995111,"updated":1647995111}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://malegerec.vault.azure.net/keys/livekvtestrotation-keyeb61460/rotationpolicy?api-version=7.3
version: 1
