interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-2568d4f16ae/create?api-version=7.2-preview
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '2'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"crv": "P-256", "kty": "EC-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-2568d4f16ae/create?api-version=7.2-preview
  response:
    body:
      string: '{"attributes":{"created":1618865403,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1618865403},"key":{"crv":"P-256","key_ops":["verify","sign"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-2568d4f16ae/df9e956ed49c4270209801479d3f1b8d","kty":"EC-HSM","x":"oy8NGaFZW2kMRocLVo2HzE2305ibm2dW4IGp6XUDVNs","y":"ReFVl-p7U1NKzSljXqTAb6KTvplM8eN8MW0dYNquB7A"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '252'
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "ES256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-2568d4f16ae/df9e956ed49c4270209801479d3f1b8d/sign?api-version=7.2-preview
  response:
    body:
      string: '{"alg":"ES256","kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-2568d4f16ae/df9e956ed49c4270209801479d3f1b8d","value":"Rwe13ca3z3LK9KCP5dFjBJE4gdU-PFdPutVSIFRmUcUGD7mAViYOMy9XGBfqONhjupUEK9_Z0rID_sFDbamWJw"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '143'
    status:
      code: 200
      message: OK
- request:
    body: '{"crv": "P-256K", "kty": "EC-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256K8d4f16ae/create?api-version=7.2-preview
  response:
    body:
      string: '{"attributes":{"created":1618865406,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1618865406},"key":{"crv":"P-256K","key_ops":["verify","sign"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256K8d4f16ae/18790e7346944ec9917485489b8b8916","kty":"EC-HSM","x":"IGZm5Wr-Ncdm9R1IEQWagv37wxefEv9B4mngsHfS8xY","y":"xBNJHUOXLpNKVvNzDQ6NMhe91ZQ0yOiAtbDjyGsInmw"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '286'
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "ES256K", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256K8d4f16ae/18790e7346944ec9917485489b8b8916/sign?api-version=7.2-preview
  response:
    body:
      string: '{"alg":"ES256K","kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256K8d4f16ae/18790e7346944ec9917485489b8b8916","value":"pPZrebtt1QSTdNzWI9kjRTrmltCnJkLFOSY_4yMQzfZMyFZsME6UcYEWl9Xh766DB2FF_3XXZkc85Q7dDnPHwQ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '163'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "ES512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-5218d4f16ae/5b750b6f673842c5bd03f4464da60b01/sign?api-version=7.2-preview
  response:
    body:
      string: '{"alg":"ES512","kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-5218d4f16ae/5b750b6f673842c5bd03f4464da60b01","value":"ABzMh57XnIQCZbAYLbdGEtzmP9AfI4NEO9fmDFnUTuRu4UNUXPHCmg5ShSd7rr96nMf_sbXTjFLitREBbmFOogVoAfSuD-dnvIDHqYAfWnu5jbASIsSjbqqspcxnWho-n9K_8Tf5RLIDJkLQK7lGMI38setmKz996fBBbAtHBvlFY-iH"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '161'
    status:
      code: 200
      message: OK
version: 1
