interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestmultitenant-key6b118c6/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestmultitenant-key6b118c6/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestmultitenant-key6b118c6/cdb518f0e9dc4ea08e666c75312c7a7e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"9pkY7RQSweiKIjzliBWnXd3oF2mqu04ibsjLeeLkXm6kKGOWvTT5FjFkXWBP8c383fd56bt4xewfHBDgm_S-XL3I7Es09tzyOEMzVWGpiseNt3Gfff6ZlYEPEGokMx6dAsmMHakzKOQGcSmTfd294onrIYOfn7gGVM5iW-bz5RBbeN44kJYvhD7Y6xUqKn6WhskGJ0HLgIQWdEm2YfgYnUEVz_50Ji5lzemWMtdSF3oveFnizUhh8KAcGkbg9qxSak2vzKJPt6YeqqPaKwOvIUECvQTLfmr5RtB8ZA5SC2rbdXgIjk_UE3amgMPBeSJ2rxAXWZKoYfLXmT7OP3vWxQ","e":"AQAB"},"attributes":{"enabled":true,"created":1634332157,"updated":1634332157,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
