interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256e71713d0/create?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"attributes": {"enabled": true}, "crv": "P-256", "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256e71713d0/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256e71713d0/54f2a130f6194ce5adeca218dc832f86","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"ISRlkIFB6VyCoDr_0toyn5SkFXKfseNiqW-p6nHggaw","y":"UVe2NLvlsAqfnArIFfC1Vs-C-svpIkpW4rkubIO9ZLI"},"attributes":{"enabled":true,"created":1615591003,"updated":1615591003,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "ES256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256e71713d0/54f2a130f6194ce5adeca218dc832f86/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256e71713d0/54f2a130f6194ce5adeca218dc832f86","value":"EF4y9KGBMpwLPEnmIKhIrbMZdGZR3UMyenVoKYMb3eeilJUoosC24YI6cxF-yRYVH-kGmOG7FBM5wN1ndNbVDw"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"attributes": {"enabled": true}, "crv": "P-256K", "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Ke71713d0/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Ke71713d0/386aa146a80d4cc7acc15bb4ac16949f","kty":"EC","key_ops":["sign","verify"],"crv":"P-256K","x":"xBlhDlh5d71vFOO4pnfyG9c87f7ooIbqAoF3B0A-2lk","y":"bFFdrJGTEA8Tn_D_o2M75iFNHhy-kMLPs1DN6_GpD0g"},"attributes":{"enabled":true,"created":1615591006,"updated":1615591006,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "ES256K", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Ke71713d0/386aa146a80d4cc7acc15bb4ac16949f/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Ke71713d0/386aa146a80d4cc7acc15bb4ac16949f","value":"gIfXmo7N99tbUePm0lBRtYb-MFzHXXnPYRET8ODCAWDt_U6gRaOIwPNWwM4irzZ3Y_4NWVCS2qBvEv-SZdL3bA"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "ES512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521e71713d0/98b31ffbda9c4a4d97523d7377138809/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521e71713d0/98b31ffbda9c4a4d97523d7377138809","value":"AfdMMC4aemz7GbwZM3AUvJ6X8NYmuwPoqC2JZ9jcgq9XrfLyuMez7qJOzXxWJNnqeEfakZ081whA_k101-PX1cUdAKs4kvQU0wCVdM3THsyM8JsoWkkkjeoLbdSGLZdvhIJeFYp7a09F5dQc_nX5GCsiwaGZ4bxQ1fWKHPxDf0IuU2Ds"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
