interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc7ae92128f.vault.azure.net/keys/ec-verify-P-256/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7ae92128f.vault.azure.net
        - /keys/ec-verify-P-256/create
        - api-version=7.0
        - ''
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc7ae92128f.vault.azure.net/keys/ec-verify-P-256/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc7ae92128f.vault.azure.net/keys/ec-verify-P-256/2328dfc0f03543e2a7ce0a723ca1cd11","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"hHKpGSykxOSsNGPOW24YsYodXspAxLjnsDcYJNRQ1bg","y":"De_evsf0OTguors-B5cBJogYjyiSkVRMu5lk48V44Js"},"attributes":{"enabled":true,"created":1571337210,"updated":1571337210,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7ae92128f.vault.azure.net
        - /keys/ec-verify-P-256/create
        - api-version=7.0
        - ''
- request:
    body: '{"alg": "ES256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc7ae92128f.vault.azure.net/keys/ec-verify-P-256/2328dfc0f03543e2a7ce0a723ca1cd11/sign?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vault458ad70cc7ae92128f.vault.azure.net/keys/ec-verify-P-256/2328dfc0f03543e2a7ce0a723ca1cd11","value":"3ynupTF6UuhFgCRZMB4rRjECG8ZZWgOHbAIC_Nm2XWJdD1YVEvVRnOuMXDL14ynfJF_YEhJs0e3gOeDTo4rOuw"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7ae92128f.vault.azure.net
        - /keys/ec-verify-P-256/2328dfc0f03543e2a7ce0a723ca1cd11/sign
        - api-version=7.0
        - ''
- request:
    body: '{"kty": "EC", "crv": "P-256K"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc7ae92128f.vault.azure.net/keys/ec-verify-P-256K/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc7ae92128f.vault.azure.net/keys/ec-verify-P-256K/f019099b752a4ba292ec43b0ad69c425","kty":"EC","key_ops":["sign","verify"],"crv":"P-256K","x":"SQzeTsp9LaVAy2wzs5GDbVIesWzlFA_hHg4rYIgqggM","y":"Pll3sRtmxjRzJK2thq7RnqvlfPofod1S44B6SKBiHog"},"attributes":{"enabled":true,"created":1571337211,"updated":1571337211,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7ae92128f.vault.azure.net
        - /keys/ec-verify-P-256K/create
        - api-version=7.0
        - ''
- request:
    body: '{"alg": "ES256K", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc7ae92128f.vault.azure.net/keys/ec-verify-P-256K/f019099b752a4ba292ec43b0ad69c425/sign?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vault458ad70cc7ae92128f.vault.azure.net/keys/ec-verify-P-256K/f019099b752a4ba292ec43b0ad69c425","value":"paJ7siWlF3mHe7qQA_m6KpWUPvJFgmoTTLOzsX6OhVQVACXXaSA9yzM5z2OLloby1s2iNEfg-L_tztSuiM88AQ"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7ae92128f.vault.azure.net
        - /keys/ec-verify-P-256K/f019099b752a4ba292ec43b0ad69c425/sign
        - api-version=7.0
        - ''
[...]
- request:
    body: '{"alg": "ES512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc7ae92128f.vault.azure.net/keys/ec-verify-P-521/c1548fca779044ee9b9d2fbfa993a6a3/sign?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vault458ad70cc7ae92128f.vault.azure.net/keys/ec-verify-P-521/c1548fca779044ee9b9d2fbfa993a6a3","value":"AY1ZbjhvWNtr4qyzlASsaqLojJs9MwSmeR_s4oIb9mR908siAFdTOmEz_wT07YdNjk6juHdF7uaMi2xkSzL-ABGBAag6rtQepBJ7xbK2Ow6Ag6I1yI2K8lf0aso-xKtRStMXdAGS05nxCvWJKG4PhyZaeFouf1H_sST0YXGdxu35AIuO"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7ae92128f.vault.azure.net
        - /keys/ec-verify-P-521/c1548fca779044ee9b9d2fbfa993a6a3/sign
        - api-version=7.0
        - ''
version: 1
