interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/wrap-local/create?api-version=7.1-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://kjh3fq5m4tniadcy2xcgrtjn.vault.azure.net/keys/wrap-local/create?api-version=7.1-preview
- request:
    body: '{"kty": "RSA", "key_size": 4096}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/wrap-local/create?api-version=7.1-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/wrap-local/3809454ddb7845bbb152e1fb230e5ec4","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"vUcGh2x_3Yzy1uqjrs1O9MF4idk5ZW-XgPXcSIoIDMWUn43JfsPUwOnpVaksq0ud3xe6ajXdlCbZl6Xy9lXYxRaEIPvVg-U32V2QPzs4QXoHHZ8UzwPRyp-dZ0zjNiNwuTbKr0R2_HC-MjMlH9fmauCxDSUbJgMbh7B2yZ9cTBQXOn4ooO5zHEgmdCX5Vt_mErcvryJhAAIcQQ_RgBflt8itm-tV-ypaSIbyRZ_xST8cyVHEtJFbeZNr4-O9ex-HiA_OgyDZUQJQGpRWYIq3D59bUamc5TYDx0qMp_hQQbAnEXtuBLox1ZFP-5ElruhXkjj084z2XLqCV9Y4NYW21KlZtP_7gBdEHhef32pukByPuzD46Y30Jkck-kZ8cWLbDGoPWUUUWQGG08Mv0FZdDgmsJ2puRQtvaGH01JFH3_CY74nvW35xq0ty1oc-nOLIjiahi6D4js0PoDJdU2LbEwVUEvTcB9zD8cy7SyUvEXyjSfGqiVw8ste-VsWw_KAy7lFfDID_V4ZaHW59cuCxZK6vj1cjMWIRyeEfKUyeaiQLpB1RqHuxJopAgTBJVIy_TG_oa7pF3P8Ad_9pkZLZcPqrsT-x6otR2ysvicFUNM9jH1AUDF8iTh7QDESTtQD732DrdruqQ19oI7ROrKOXQjiLKIamGfDu1v9P6_JdpwE","e":"AQAB"},"attributes":{"enabled":true,"created":1583451970,"updated":1583451970,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://kjh3fq5m4tniadcy2xcgrtjn.vault.azure.net/keys/wrap-local/create?api-version=7.1-preview
- request:
    body: '{"alg": "RSA-OAEP", "value": "AkZM5drcq-ovpbg8DFgp-RX8odeq0qS-HYKwYwSutqfr4dV41kpuhK__f9EC0x4M2kyv3WZozRJbm7kVMlFD8-l6bQksjYEjuLyzA9jmLJNDIuen_lTm_lfTXTjWsg8_WQuoa5E6-bvhxIoW7sWZamLmirLB-W86r0n5LcU-lcQ4U4BadsIBNyQ-1XQubpSL1JMisAHeMbIGVFbzp8s963HfCOxCu9PLFDdBm7U1GDRgL7bKjKOtqqEaqi0sSNLHRXcLZwVF5d1ow0JnX50lFH_RD_XzNUF5fjN7N6AdPQ5C29DRKkdRI9tS27MRFshWLihJcwtgb4WObmU0dNC8lWfZ8gU7DUQ7IaZbklYVfOBD2LO09bG8Awl_ZgijWhDPXBR5ClpMPjmQ_zt-RIg9MPFUQQ_DvDKtvmWucEdUmcXx2QcnppcG6Gj_CGnnGhiG0z2ec-gcCPv4Mpi-PqiGmirDhWTIWOUsRnphNrA3rbAUmJkM7Y[...]
[...]
