interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey0b9b012a7/create?api-version=7.3-preview
  response:
    body:
      string: ''
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency: '1'
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestkey0b9b012a7/create?api-version=7.3-preview
- request:
    body: '{"kty": "RSA-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey0b9b012a7/create?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1625596901,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625596901},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey0b9b012a7/d4091aa8aba6079e2a35112e8d68a52e","kty":"RSA-HSM","n":"tgIzzv8YInHUd04_4n_1BA_DHw21oFcCtW23z7agZIrBfupxv5C61tosAiA2l-PDEyXEOSpDnfd3h82QZhDTkRK_jOVsYdAyGTD4OAJ0Jl8hgLk2lzauZmHWtqNH5BL0Jj8RHbdjPwvii-H1Y_h3qcUt0lkeseHL8pzd2umFmzHXf1hn45jxSC5cwCYiMO4n2vaiHZd-2MLWZfGOyRKFBPEZBIBay1qN05LvDUZcY1pqs-WNfI_tbbIaLnV-GdlOqjcX35jyXNOHrmwoligvhEIPr4ksyGtRD8ufQLO6s1_SgqTULUAmqXU7cKKWaOcLzngy_QJj2EyUeC14QTii4Q"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '227'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestkey0b9b012a7/create?api-version=7.3-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/keys?maxresults=6&api-version=7.3-preview
  response:
    body:
      string: '{"nextLink":"https://managedhsmname.managedhsm.azure.net/keys?maxresults=6&$skiptoken=K1JJRDp-VVpBT0FPOWxzU3FTQUFBQUFBQUFBQT09I1JUOjEjVFJDOjYjSVNWOjIjSUVPOjY1NTY3I1FDRjo3","value":[{"attributes":{"created":1625596361,"enabled":true,"exportable":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625596361},"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkeybak304e150a"},{"attributes":{"created":1625596385,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625596385},"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-ec-keya34a172a","tags":{"purpose":"unit
        test","test name":"CreateECKeyTest"}},{"attributes":{"created":1625596389,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625596389},"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-P-256-ec-keya34a172a"},{"attributes":{"created":1625596389,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625596389},"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestimport-test-keya34a172a"},{"attributes":{"created":1625596723,"enabled":true,"exportable":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625596723},"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkeybak3378151c"},{"attributes":{"created":1625596892,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625596892},"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-ec-keya6ce173c","tags":{"purpose":"unit
        test","test name":"CreateECKeyTest"}}]}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20210605-1-ffd80f31-develop
      x-ms-server-latency: '33'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys?maxresults=6&api-version=7.3-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/keys?maxresults=6&$skiptoken=K1JJRDp-VVpBT0FPOWxzU3FTQUFBQUFBQUFBQT09I1JUOjEjVFJDOjYjSVNWOjIjSUVPOjY1NTY3I1FDRjo3
  response:
    body:
      string: '{"nextLink":"https://managedhsmname.managedhsm.azure.net/keys?maxresults=6&$skiptoken=K1JJRDp-VVpBT0FPOWxzU3FnQUFBQUFBQUFBQT09I1JUOjIjVFJDOjEyI0lTVjoyI0lFTzo2NTU2NyNRQ0Y6Nw","value":[{"attributes":{"created":1625596894,"enabled":true,"export[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/keys?maxresults=6&$skiptoken=K1JJRDp-VVpBT0FPOWxzU3FnQUFBQUFBQUFBQT09I1JUOjIjVFJDOjEyI0lTVjoyI0lFTzo2NTU2NyNRQ0Y6Nw
  response:
    body:
      string: '{"value":[{"attributes":{"created":1625596910,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625596910},"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey4b9b012a7"},{"attributes":{"created":1625596913,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625596913},"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey5b9b012a7"},{"attributes":{"created":1625596915,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625596915},"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey6b9b012a7"}]}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20210605-1-ffd80f31-develop
      x-ms-server-latency: '32'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys?maxresults=6&$skiptoken=K1JJRDp-VVpBT0FPOWxzU3FnQUFBQUFBQUFBQT09I1JUOjIjVFJDOjEyI0lTVjoyI0lFTzo2NTU2NyNRQ0Y6Nw
version: 1
