interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.netkeys/livekvtestrsa-key-name116c0ea5/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"key_size": 2048, "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.netkeys/livekvtestrsa-key-name116c0ea5/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.netkeys/livekvtestrsa-key-name116c0ea5/241d7dc6d1d341db98883dfbb2dd6d82","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"qu3PclJ9IDvV1yiCrTLaspkOzW8PiAyJR8Ot3hPrd3vmgZwGAiOcGCeSv58BKcvI570dPO0VaQyNR4suslfL2CTfTCeQaeloD6p5lvScbdiuekCtFH9e69_QSBOh-vAm2bjhEY2rJigP3keJwPpMBYRFizUecNCBe9lWaiNMwzZzjeZJC0S6IdywHUBp2OGpT9E0hbP5Ji00V9uRbUakql9BH4K7FnkYKhhGKT_P6d8rPt5cAM--KJLkLMbmsi0wULsPsMOlgDC2z79-nUj3ZHYgrYqu1_4g6fZ60Fryi2aK-zfE6CFJfEOs7W8hL0mtn23HkESM5v4Fq69mxJmUuQ","e":"AQAB"},"attributes":{"enabled":true,"created":1612488199,"updated":1612488199,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
