interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-2567ae21640/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-2567ae21640/create?api-version=7.1
- request:
    body: '{"crv": "P-256", "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-2567ae21640/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-2567ae21640/bdeb6fc93c1240edbc2d0ee51b11b1f9","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"Q9aM7Jr5SeYo1MuJhK0PXOHLYYymyKEodHHNbRoo6yA","y":"aQDNr6Ep3dGihQWa6Bl26vUGuncN6BXVXw0PruqXRhA"},"attributes":{"enabled":true,"created":1618864880,"updated":1618864880,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-2567ae21640/create?api-version=7.1
- request:
    body: '{"alg": "ES256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-2567ae21640/bdeb6fc93c1240edbc2d0ee51b11b1f9/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-2567ae21640/bdeb6fc93c1240edbc2d0ee51b11b1f9","value":"fjS6JaGQjJTf_FfDA3PImKjeSOXO7XE-84zj6OOZPbofHO8xt53n33grjfhAQbcyMvOXsT9rW6UrUo84GjCZNQ"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-2567ae21640/bdeb6fc93c1240edbc2d0ee51b11b1f9/sign?api-version=7.2-preview
- request:
    body: '{"crv": "P-256K", "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K7ae21640/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K7ae21640/3a61d17b4b2346c48431494c65ee32ea","kty":"EC","key_ops":["sign","verify"],"crv":"P-256K","x":"oN0t2XLjrv-W395-i5voMsQGwOJUYztENooNlpEE5n4","y":"SRzj5cRmJxXUq5MeOtgi4OO73HKUQYp1puGNbAHTmjA"},"attributes":{"enabled":true,"created":1618864883,"updated":1618864883,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-256K7ae21640/create?api-version=7.1
- request:
    body: '{"alg": "ES256K", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K7ae21640/3a61d17b4b2346c48431494c65ee32ea/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K7ae21640/3a61d17b4b2346c48431494c65ee32ea","value":"ZNsWayU7tFn3cyxcILyHZepSzVTcXuroQMana4MkPe98xfgkNdJhagaUzJobPXsDFl2OP0mlUA5r5YWKjoc4_Q"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-256K7ae21640/3a61d17b4b2346c48431494c65ee32ea/sign?api-version=7.2-preview
[...]
- request:
    body: '{"alg": "ES512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-5217ae21640/d5507db7918444b6a3250a90ece8b974/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-5217ae21640/d5507db7918444b6a3250a90ece8b974","value":"AEuyo64Xux8MSStCdYGII0Fkb-Ro-CukxCmTQnmApm16emzhBB0sFMEkiwgBDSS1_M6u4bhE37xuSYbaT_HlUVzPAGir1KvbDXocfkrQqw_bSH54mYC7rlqcdHGGi3UuARCcxsT1aLOc2eVqnQ07eCcAclJ7khEnlshBZVMF0oEiTe5L"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-5217ae21640/d5507db7918444b6a3250a90ece8b974/sign?api-version=7.2-preview
version: 1
