interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc7ec147c.vault.azure.net/keys/crypto-test-wrapping-keyec147c/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7ec147c.vault.azure.net
        - /keys/crypto-test-wrapping-keyec147c/create
        - api-version=7.0
        - ''
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc7ec147c.vault.azure.net/keys/crypto-test-wrapping-keyec147c/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc7ec147c.vault.azure.net/keys/crypto-test-wrapping-keyec147c/cd5b3621761441c4bfcf86838ea813cd","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"pNYStHUUA5Fv50cIQxaQ1P5UBUyYH3Sp9WJ1k6w3wLno_GOxC_Dyb4BkD7OZJWQOksLmpexUwIouuQSMjcimcJojfH-B6M0Eg0-fsvewho1Ld3ugZQ50eYy45BVqDCgrAwP-B7TrN-7wrrz49xPv7iLfWBVOqqEMwVNCHzrUwTDOvKtQRtpSE9ADZRY0GksTJxDWxGknGrq_1ykWEpJpOopsoffR4j8_eLE2OmbEwmbU-zjWzmGNNejjjZfORI7mwoT3FgqTTnrnd7T9fQph9MhED6wnTDtdLBxAvzjAoyv2diPyvVypxA7ne19nf-OPWD8OcJ8Azz9v5wbZMa2Taw","e":"AQAB"},"attributes":{"enabled":true,"created":1572544000,"updated":1572544000,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7ec147c.vault.azure.net
        - /keys/crypto-test-wrapping-keyec147c/create
        - api-version=7.0
        - ''
- request:
    body: '{"alg": "RSA-OAEP", "value": "GB7roQ5ZMdGNNfCDvyouxY6zQ1zBj7LSU-nswRkp8gjrm5Oj3u_QJx0FLalxKw3MOPGOj4Aa1eyZh4h5yMEV5BiZeNzIdF4uDN-TKFy0qJZmSLHER1BxOxWcaCns_uOPM81jLVhiKHnWYEDNOUIwriq26WbmozE9MS-4H8IzlO9X4ObGtMEekNPS5GBPkt3wTt3Tot098Wh5mDvHl5jvUsjMKMbdnnvcf0uKE4KfzlR3jX7HQGUucaXU9gQQVymWgY_hnPOU52CCnpNv830MOKJ_c3ithxZwRQICHhyXpFjO4HKbp1Jsye2KIYAFOw7RzPWTfj6LuZQa_QZLFcWfFA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc7ec147c.vault.azure.net/keys/crypto-test-wrapping-keyec147c/cd5b3621761441c4bfcf86838ea813cd/unwrapkey?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vault458ad70cc7ec147c.vault.azure.net/keys/crypto-test-wrapping-keyec147c/cd5b3621761441c4bfcf86838ea813cd","value":"NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7ec147c.vault.azure.net
        - /keys/crypto-test-wrapping-keyec147c/cd5b3621761441c4bfcf86838ea813cd/unwrapkey
        - api-version=7.0
        - ''
version: 1
