interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/rsa-verify-2048/create?api-version=7.1-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://d3xdfpct7h5m6e3xi45jiv7i.vault.azure.net/keys/rsa-verify-2048/create?api-version=7.1-preview
- request:
    body: '{"kty": "RSA", "key_size": 2048}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/rsa-verify-2048/create?api-version=7.1-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/rsa-verify-2048/94a4c00660754d3ba5a66f3076425788","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"v7qZxdv6q-kpW_YVKqYZIqm3CDLnQK5FJgSOLAOsg_6g9pjgNpI6CIs1qq9KqnUcBkDz7en516cXAIa9DFj3E41XtDatZx9f58J9kRR9xj4wMkRWEU11B0CpT0Qppg33wRQHaEW9kiVjop4EMAaakxCNckOLk_FFQzyfChQsLzm8F2tN1WWLhJKGIzPc8xfBm2NL7B4zLbCFeqeXK7qK-WjhqNNAMS-kTw-Pv3UP2YZPVHayvBCr2pwf-2A0byqIZCU4iwo_Dm1-59aikjTPRoFExymhP4gSumyT4_UcKg7WO3H3k3OQSv-lo0cAcL9fb5aE62d-T0qj__ule__FDw","e":"AQAB"},"attributes":{"enabled":true,"created":1583451970,"updated":1583451970,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://d3xdfpct7h5m6e3xi45jiv7i.vault.azure.net/keys/rsa-verify-2048/create?api-version=7.1-preview
- request:
    body: '{"alg": "PS256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/rsa-verify-2048/94a4c00660754d3ba5a66f3076425788/sign?api-version=7.1-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/rsa-verify-2048/94a4c00660754d3ba5a66f3076425788","value":"jbTIxIQg3JN2b0fldUB5m65RbJERO_VxH1y2gpHYIgiXGr2u59wCmpbWrBSeKYKkyZtanWgr7HFEbxLtV82FBumi07_QzLfqIgvesYe0xsuZrC2pHwCQJlDrDjBdBBDXQfabG2AdKDIrduh_b0xsJZseD8T9Agih0h9YCLqWOJ7aZV8dasyLdWt2cxZAsYvnZTQJntiZADHB6tuAdDUoRUaUEqt8wp33DaSC2OgtjGwbX8hgUMce6tMn0-HVbFJPKv3OojQokxvkJb-0FNfDVk6aW1HAchp4ZmXhOfCdqbEkwVYzUBvb8YyNLjayXiZRWHMD-QCYHrbAQchuQ0M5mA"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://d3xdfpct7h5m6e3xi45jiv7i.vault.azure.net/keys/rsa-verify-2048/94a4c00660754d3ba5a66f3076425788/sign?api-version=7.1-preview
[...]
- request:
    body: '{"alg": "RS512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/rsa-verify-4096/8f96704e999e4199bca789acd594161a/sign?api-version=7.1-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/rsa-verify-4096/8f96704e999e4199bca789acd594161a","value":"lQQqK0Pg37LANllAIhHUgmegAY9QGMn-eXII8nFqM2jwUEOlBceTsffeSIXTfywK242tJZtj7MqW5t03hJJzvU0y2rAWAQpHg7a8Axv7IkuTVp_qL6dZ-YqOvYpSg8G1KUmPUFJJokPs0pwYZNsJ3ERHaPVSDeL4B1wkCWbeMujmvdHOzJ5gAF-mwO9n1ZQmmgajOzzsdfpO3wPm3mKdKTKWx7QddRhAcBYTvdDVMiNHSOEUa4zRQSolww82Jo7yyhXt3ZkSTmZSDMw55TfdfyZW81WcBVQv1VvGf0zUk8YR8NKy4v3QrapcOFB_jQP4sseRGr4mgnNgsPb_Cj0LzcFDAUABHG02y95Uy1nroKIMopzL9rt_KzYw8zAqPpFeUXBF44ywnYXjqvZnyCBGLxOLiM9pjsu4aRy0TfqzmX-pU9XuDmzvSk_yrF0G-Q6Ls65FiDh9AWpUK9Re8KUmKaSj8qwWjQi8i-EeprZe70PBdIIMLR0bdxUpgeT6IEnJJDaApmGdS3RaJUekugq-n50XWHZbQPWh9Ih-nH2fnBs4kXHSqhpZcgRIt7aQBKuLeOYakt1Z7UhcOSKLHOQW-mLoP3OT4dZjiQi9Jnik5BWVLNRWHM-YXKK9dv04bzRoGgqNVPIZ5ZFzPPtR8zK-K4i1_BkBWbkeglT6YMKTWm4"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://d3xdfpct7h5m6e3xi45jiv7i.vault.azure.net/keys/rsa-verify-4096/8f96704e999e4199bca789acd594161a/sign?api-version=7.1-preview
version: 1
