interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyaea91b7e/create?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyaea91b7e/create?api-version=7.2-preview
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyaea91b7e/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyaea91b7e/c78eb7309c104fb08093b8ea8d83f238","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"tUm6rD7fa2jEiSGZW1bgEj0a8pWb1YO3tSq4PzJ3_pl4ywsBHEBFT5Wh2AuerQYKrYTWyj_2YzEQ7smxVyQrf7RbLT6jT0S2HZNEah0n1rXXJTkq8BZFb5Hud7HrvDUmj1VzKy0pZNHfj2d-ojw1V0U0HV4uyNA-B04vGnKY6u6gHUOkciZNXdzPtHc_q2DO8k3An0nmM-7rZVfs2YjHIE5kMVpCHgm55SlUAjczS9OFLHe-J5z6z_kRhUYKW3XZwuzxacvO6AyKLfPbJZK02gHfIfaoSbJGkgKxFMAQ9JlvjvzK-_c_JYQb8Hu0IRp0W_GJcYy9RIuN3KiBuPYfdQ","e":"AQAB"},"attributes":{"enabled":true,"created":1618949522,"updated":1618949522,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyaea91b7e/create?api-version=7.2-preview
- request:
    body: '{"alg": "RS256", "value": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyaea91b7e/c78eb7309c104fb08093b8ea8d83f238/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyaea91b7e/c78eb7309c104fb08093b8ea8d83f238","value":"CEv3rLtFdPR3fcca4VTu6MCVKRcKQ1IycdNAOOCU8Jlo4AJKcdV__ake1T7xRQjncX42lF1cgmkxaPZNpYgl23Et7s67HrTUt0-gcKmP72e48-0hvURepJeWpEToyQsKFFW-Ayat453rISDYYP5cCXyKYfzgI8RBW7AZDrDKJWOgl-0cJ7ZjHv9f5yWAVB6cqBXke2uD9WInstp6AfqAkvmbVxnD8dKVLrTl424iVBMBfUjx79Ubv2gUkpPphgOoEt-AcniH1NkpVcYk70UafDSZ9Le230yfA5BGqhaqCKkmbTfjMCn24tJjwpBMAs6WYK5c4Mi70P10Y8E33TrjLQ"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyaea91b7e/c78eb7309c104fb08093b8ea8d83f238/sign?api-version=7.2-preview
version: 1
