interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault458ad70cc7ae92128f.vault.azure.net/keys/ec-verify-P-256/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Fri, 04 Oct 2019 18:42:18 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault458ad70cc7ae92128f.vault.azure.net,
        /keys/ec-verify-P-256/create, api-version=7.0, '']
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault458ad70cc7ae92128f.vault.azure.net/keys/ec-verify-P-256/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault458ad70cc7ae92128f.vault.azure.net/keys/ec-verify-P-256/89253b8160b24a0699465cd5aee4ac02","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"vsOfjwPi8y7mOB0hLn3e8bx4JC00GRlBMPhgNi1LOfc","y":"KSAhiTgcJKoC4APnjnTdLhLwik1Tqn8H593yb1VR2P8"},"attributes":{"enabled":true,"created":1570214540,"updated":1570214540,"recoveryLevel":"Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '372', content-type: application/json;
        charset=utf-8, date: 'Fri, 04 Oct 2019 18:42:20 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault458ad70cc7ae92128f.vault.azure.net,
        /keys/ec-verify-P-256/create, api-version=7.0, '']
- request:
    body: '{"alg": "ES256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault458ad70cc7ae92128f.vault.azure.net/keys/ec-verify-P-256/89253b8160b24a0699465cd5aee4ac02/sign?api-version=7.0
  response:
    body: {string: '{"kid":"https://vault458ad70cc7ae92128f.vault.azure.net/keys/ec-verify-P-256/89253b8160b24a0699465cd5aee4ac02","value":"9ihlmyij80Jc5NiWvpkPvkarSBt559m20ok_LcR1_Ke3QDqIbFYvQbgjjfb_mxnhCefImhSeecWwq5zFr2wp0w"}'}
    headers: {cache-control: no-cache, content-length: '208', content-type: application/json;
        charset=utf-8, date: 'Fri, 04 Oct 2019 18:42:20 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault458ad70cc7ae92128f.vault.azure.net,
        /keys/ec-verify-P-256/89253b8160b24a0699465cd5aee4ac02/sign, api-version=7.0,
        '']
- request:
    body: '{"kty": "EC", "crv": "P-256K"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault458ad70cc7ae92128f.vault.azure.net/keys/ec-verify-P-256K/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault458ad70cc7ae92128f.vault.azure.net/keys/ec-verify-P-256K/6f099f3be747422bb6f7644fcaf71f92","kty":"EC","key_ops":["sign","verify"],"crv":"P-256K","x":"LyIUd5Mjs91M-0XoF4-cYovSaW70qMGkOrkfAZtKyMo","y":"RSIlWVa_U_yr0CLtCGCcKnhf4utLBR_TZUcLUwXRUxM"},"attributes":{"enabled":true,"created":1570214540,"updated":1570214540,"recoveryLevel":"Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '374', content-type: application/json;
        charset=utf-8, date: 'Fri, 04 Oct 2019 18:42:20 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault458ad70cc7ae92128f.vault.azure.net,
        /keys/ec-verify-P-256K/create, api-version=7.0, '']
- request:
    body: '{"alg": "ES256K", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault458ad70cc7ae92128f.vault.azure.net/keys/ec-verify-P-256K/6f099f3be747422bb6f7644fcaf71f92/sign?api-version=7.0
  response:
    body: {string: '{"kid":"https://vault458ad70cc7ae92128f.vault.azure.net/keys/ec-verify-P-256K/6f099f3be747422bb6f7644fcaf71f92","value":"Iz1v3hRpvYPdvJ0Jb4T8yHyILLJA1lliw76pjgYH7aBR-sTIkFQ8g2cmYsyLDwKFcWtzshNMt9vY-djH_3Zieg"}'}
    headers: {cache-control: no-cache, content-length: '209', content-type: application/json;
        charset=utf-8, date: 'Fri, 04 Oct 2019 18:42:20 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault458ad70cc7ae92128f.vault.azure.net,
        /keys/ec-verify-P-256K/6f099f3be747422bb6f7644fcaf71f92/sign, api-version=7.0,
        '']
[...]
