interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key95c61223/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key95c61223/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key95c61223/8a383cf408804b92b666d5374f99b56d","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zUqt23buPv5IPJlmoY6u3yc5sTkV3Oe5vGl6KlXWPFYG7KSC2FBMozLt6Q4xYlk8-yB5SSO17ukTbmuoluhif9Ad3CgbSq_Op7FxMWdGgg8OgwNLS6hB0kxdaq-skmmbzsDmuBX5wYo6mU99FPbtNYMm2-TgjU_BjFdE7qwpQKGa8g-4v4AAWDMvHeTVxJ5m-_DT4Ygz5L-KGXBwMi2EjdwRpamCtZbo3pZPsKrIYxxD1GBLUn3wYKmvKO7YujwaFmNrahPy1mR3bWq5Zy30SKhXY33ttLfmXTyID0kiIu4phpdRaSvS7-Z9lqNzvcIsN5IDr0z7x3EUZwJMK1QdbQ","e":"AQAB"},"attributes":{"enabled":true,"created":1604704259,"updated":1604704259,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/key95c61223/?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key95c61223/8a383cf408804b92b666d5374f99b56d","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zUqt23buPv5IPJlmoY6u3yc5sTkV3Oe5vGl6KlXWPFYG7KSC2FBMozLt6Q4xYlk8-yB5SSO17ukTbmuoluhif9Ad3CgbSq_Op7FxMWdGgg8OgwNLS6hB0kxdaq-skmmbzsDmuBX5wYo6mU99FPbtNYMm2-TgjU_BjFdE7qwpQKGa8g-4v4AAWDMvHeTVxJ5m-_DT4Ygz5L-KGXBwMi2EjdwRpamCtZbo3pZPsKrIYxxD1GBLUn3wYKmvKO7YujwaFmNrahPy1mR3bWq5Zy30SKhXY33ttLfmXTyID0kiIu4phpdRaSvS7-Z9lqNzvcIsN5IDr0z7x3EUZwJMK1QdbQ","e":"AQAB"},"attributes":{"enabled":true,"created":1604704259,"updated":1604704259,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
