{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-key5322efb/create?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-key5322efb/create?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "attributes": {
          "enabled": true
        },
        "tags": {
          "purpose": "unit test",
          "test name": "CreateECKeyTest"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-key5322efb/5f5702b7e0cc4a028cb1e0c7ab825bb9",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "hVfatB_E6qrjqI-sionJV1exFDSrl1uVmROEsE3a-x4",
          "y": "Q8jRhgyXqz6YY6GjU1_6QE-xyjsgoR66g5LYmoY1-xA"
        },
        "attributes": {
          "enabled": true,
          "created": 1650664938,
          "updated": 1650664938,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        },
        "tags": {
          "purpose": "unit test",
          "test name": "CreateECKeyTest"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrud-P-256-ec-key5322efb/create?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-P-256-ec-key5322efb/5e99da08c3264add9ad06f22a5070b00",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "06yaCq19B6-AzO6RMOKE8AVjQxkp1ro8OWYHtH4DFbg",
          "y": "9lCPQ6TgQyZ4fFvEnKqFBjEtluDHq0dx6YC6PeXbLaA"
        },
        "attributes": {
          "enabled": true,
          "created": 1650664940,
          "updated": 1650664940,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestimport-test-key5322efb?api-version=2016-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "AKCRTQAjSsaDshtMFdW-2Ie9yVnC5Xr1Suc06PAHINd10nXkVSB-N4TO62ClCkZV3XKnqU0nHo7o95WaZpym53W_DiO62umRtFKdl4UotL2QUh0y3SZWeWuoK2u_x2aMj17rUFN0f9GZMZ0pqEQNCPRBLVJ_-TEe2nGCWSC0exxGsRqz6R1zFkB-icfzQPe4WjQELOUXQ7J9RxhAPTTHtDivYYG-BeTRHrmF04JT1_6b9T_C8bAC0i0teT-nmlBLarQtBJKATXBx1yegbPOoiTqlQrFQP4MrKWNxtnB9Tcbjcvj-Z9je0ckI_eRc4DvAhqcUh_p15Dqg4GeaoNIO_jU",
          "e": "AQAB",
          "d": "Ynx9JGaBSP4iUsf6ZJ6opantRNdcdmzaQrKbZg6ZQE8Ohi1FYabJWvaoPSE-CiJEsDzShXZHMhUHN4X7Bn8BXaGQhK3p9HXgiwQKmix7oAJTu4ElUIyd8UC3UWHSZr40el4PaQD-HYu_eMzCXus34MnRiNbh_BUWm6T-Eidhk9d3kNIyaSi9YNDQHW6tjWrEhhq63O7JU1j9ZonFChZxpKk20jdkQKQURVAdpOdL-5j4I70ZxFuU6wHZj8DS8oRQfwGOvZKbgYDb5jgf3UNL_7eACqq92XPVX56vm7iKbqeyjCqAIx5y3hrSRIJtZlWCwjYnYQGd4unxDLi8wmJWSQ",
          "dp": "AMmhWb5yZcu6vJr8xJZ-t0_likxJRUMZAtEULaWZt2DgODj4y9JrZDJP6mvckzhQP0WXk2NuWbU2HR5pUeCN2wieG1B76VKoH76vfnaJDqT1NuJVBcP2SLHog3ffwZtMME5zjfygchG3kihqOSpwTQ9ETAqAJTkRC38fEhwAz_Cp",
          "dq": "AKC9TAo9n2RDaggjdLXK8kiLrBVoaWFTpqXkzYXRhtsx4vWPAkxhfSnze05rVMl6HiXv7FnE0f0wYawzUJzoyuXBH0zS6D9BqCZPeF543AmWB27iPf38Q9Z8Rjr6oBgMSnGDV_mm8nDVQkeaDyE4cOZh-5UKvKShTKKQVwunmDNH",
          "qi": "AJ_nrkLpK8BPzVeARkvSHQyKwMWZ-a8CD95qsKfn0dOZAvXY-2xhQYTEwbED-0bpTNEKbIpA-ZkaHygmnzJkNbbFAnb9pkkzU8ZQqDP3JNgMfVIroWx58Oth9nJza2j7i-MkPRCUPEq3Ao0J52z7WJIiLji8TTVYW_NaiM1oxzsH",
          "p": "ANHerI1o3dLB_VLVmZZVss8VZSYN5SaeQ_0qhfOSgOFwj__waCFmy2EG7l6l6f_Z-Y0L7Mn_LNov68lyWSFa2EuQUeVj4UoFHc5Di8ZUGiSsTwFM-XMtNuv8HmGgDYLL5BIJD3eTz71LdgW-Ez38OZH34b7VeG8zfeUDb8Hi30zz",
          "q": "AMPcZrZBqbc82DO8Q5zTT8ZXRGWrW36KktMllaIk1W2RHnRiQiW0jBWmcCgqUcQNHa1LwumjyNqwx28QBS37BTvG7ULGUoio6LrOeoiBGEMj-U19sX6m[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key5322efb/create?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048,
        "key_ops": [
          "encrypt",
          "decrypt",
          "sign",
          "verify",
          "wrapKey",
          "unwrapKey"
        ],
        "tags": {
          "purpose": "unit test",
          "test name ": "CreateRSAKeyTest"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key5322efb/d6f54c9b906440f682dc1bc602cbd591",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "9Dx-yDfAO5LbN5lh5a5MHiPVlmM8uZNL9K7a2_U1sIv7fcIu0dbFwfJMYIACM1dS77DBL1Xm6AahWC0M2pBqHfAYOXVQCyctORgKElaSYJKOqTRlFGXlKsoQD_eZg7iDksbOmXMYefvA5aoVehTTZ-WqSHUBE3AIpkCDt7Q6WDNsej36hhSPPgoAb4xSETaLZ340o4-9kYlI0ulwRo6nNF0hmdvKb-MVzmBp3ln-v6nMBkWueY6QqpcKHUSmd2gbZq-JDEEdSA7zSaDLAy4ENMcLA8Q_gYMRsnftrtRfpWI5_okwZbSDManjHEw4DQcf0_iRGTt1jVPKtsKr1zm5HQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650664942,
          "updated": 1650664942,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        },
        "tags": {
          "purpose": "unit test",
          "test name ": "CreateRSAKeyTest"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key5322efb/d6f54c9b906440f682dc1bc602cbd591?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key5322efb/d6f54c9b906440f682dc1bc602cbd591",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "9Dx-yDfAO5LbN5lh5a5MHiPVlmM8uZNL9K7a2_U1sIv7fcIu0dbFwfJMYIACM1dS77DBL1Xm6AahWC0M2pBqHfAYOXVQCyctORgKElaSYJKOqTRlFGXlKsoQD_eZg7iDksbOmXMYefvA5aoVehTTZ-WqSHUBE3AIpkCDt7Q6WDNsej36hhSPPgoAb4xSETaLZ340o4-9kYlI0ulwRo6nNF0hmdvKb-MVzmBp3ln-v6nMBkWueY6QqpcKHUSmd2gbZq-JDEEdSA7zSaDLAy4ENMcLA8Q_gYMRsnftrtRfpWI5_okwZbSDManjHEw4DQcf0_iRGTt1jVPKtsKr1zm5HQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650664942,
          "updated": 1650664942,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        },
        "tags": {
          "purpose": "unit test",
          "test name ": "CreateRSAKeyTest"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key5322efb/?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key5322efb/d6f54c9b906440f682dc1bc602cbd591",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "9Dx-yDfAO5LbN5lh5a5MHiPVlmM8uZNL9K7a2_U1sIv7fcIu0dbFwfJMYIACM1dS77DBL1Xm6AahWC0M2pBqHfAYOXVQCyctORgKElaSYJKOqTRlFGXlKsoQD_eZg7iDksbOmXMYefvA5aoVehTTZ-WqSHUBE3AIpkCDt7Q6WDNsej36hhSPPgoAb4xSETaLZ340o4-9kYlI0ulwRo6nNF0hmdvKb-MVzmBp3ln-v6nMBkWueY6QqpcKHUSmd2gbZq-JDEEdSA7zSaDLAy4ENMcLA8Q_gYMRsnftrtRfpWI5_okwZbSDManjHEw4DQcf0_iRGTt1jVPKtsKr1zm5HQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650664942,
          "updated": 1650664942,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        },
        "tags": {
          "purpose": "unit test",
          "test name ": "CreateRSAKeyTest"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key5322efb/?api-version=2016-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key_ops": [
          "decrypt",
          "encrypt"
        ],
        "attributes": {
          "exp": 2524723200
        },
        "tags": {
          "foo": "updated tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key5322efb/d6f54c9b906440f682dc1bc602cbd591",
          "kty": "RSA",
          "key_ops": [
            "decrypt",
            "encrypt"
          ],
          "n": "9Dx-yDfAO5LbN5lh5a5MHiPVlmM8uZNL9K7a2_U1sIv7fcIu0dbFwfJMYIACM1dS77DBL1Xm6AahWC0M2pBqHfAYOXVQCyctORgKElaSYJKOqTRlFGXlKsoQD_eZg7iDksbOmXMYefvA5aoVehTTZ-WqSHUBE3AIpkCDt7Q6WDNsej36hhSPPgoAb4xSETaLZ340o4-9kYlI0ulwRo6nNF0hmdvKb-MVzmBp3ln-v6nMBkWueY6QqpcKHUSmd2gbZq-JDEEdSA7zSaDLAy4ENMcLA8Q_gYMRsnftrtRfpWI5_okwZbSDManjHEw4DQcf0_iRGTt1jVPKtsKr1zm5HQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "exp": 2524723200,
          "created": 1650664942,
          "updated": 1650664946,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key5322efb?api-version=2016-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-key5322efb",
        "deletedDate": 1650664946,
        "scheduledPurgeDate": 1651269746,
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key5322efb/d6f54c9b906440f682dc1bc602cbd591",
          "kty": "RSA",
          "key_ops": [
            "decrypt",
            "encrypt"
          ],
          "n": "9Dx-yDfAO5LbN5lh5a5MHiPVlmM8uZNL9K7a2_U1sIv7fcIu0dbFwfJMYIACM1dS77DBL1Xm6AahWC0M2pBqHfAYOXVQCyctORgKElaSYJKOqTRlFGXlKsoQD_eZg7iDksbOmXMYefvA5aoVehTTZ-WqSHUBE3AIpkCDt7Q6WDNsej36hhSPPgoAb4xSETaLZ340o4-9kYlI0ulwRo6nNF0hmdvKb-MVzmBp3ln-v6nMBkWueY6QqpcKHUSmd2gbZq-JDEEdSA7zSaDLAy4ENMcLA8Q_gYMRsnftrtRfpWI5_okwZbSDManjHEw4DQcf0_iRGTt1jVPKtsKr1zm5HQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "exp": 2524723200,
          "created": 1650664942,
          "updated": 1650664946,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-key5322efb?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: livekvtestcrud-rsa-key5322efb"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-key5322efb?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-key5322efb",
        "deletedDate": 1650664946,
        "scheduledPurgeDate": 1651269746,
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-key5322efb/d6f54c9b906440f682dc1bc602cbd591",
          "kty": "RSA",
          "key_ops": [
            "decrypt",
            "encrypt"
          ],
          "n": "9Dx-yDfAO5LbN5lh5a5MHiPVlmM8uZNL9K7a2_U1sIv7fcIu0dbFwfJMYIACM1dS77DBL1Xm6AahWC0M2pBqHfAYOXVQCyctORgKElaSYJKOqTRlFGXlKsoQD_eZg7iDksbOmXMYefvA5aoVehTTZ-WqSHUBE3AIpkCDt7Q6WDNsej36hhSPPgoAb4xSETaLZ340o4-9kYlI0ulwRo6nNF0hmdvKb-MVzmBp3ln-v6nMBkWueY6QqpcKHUSmd2gbZq-JDEEdSA7zSaDLAy4ENMcLA8Q_gYMRsnftrtRfpWI5_okwZbSDManjHEw4DQcf0_iRGTt1jVPKtsKr1zm5HQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "exp": 2524723200,
          "created": 1650664942,
          "updated": 1650664946,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    }
  ],
  "Variables": {}
}
