interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault8bf41593cac2d1130d.vault.azure.net/keys/rsa-verify-2048/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593cac2d1130d.vault.azure.net
        - /keys/rsa-verify-2048/create
        - api-version=7.0
        - ''
- request:
    body: '{"kty": "RSA", "key_size": 2048}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault8bf41593cac2d1130d.vault.azure.net/keys/rsa-verify-2048/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault8bf41593cac2d1130d.vault.azure.net/keys/rsa-verify-2048/1ae147e812254bcbbf01338d70619f6f","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"5z9krsAGXPlkco0u3U3oy7sFTzDYg6kMzS25_sRzVezo0Jh5Pc51W97zxcK3ZrvRBKknHxVLNJbuqP9FhNxOZmH6y1ddymqkSEZneaCwU-WTbfNC0xNqgk7ZemahpjH4Z1XRdXpfktVUzMuP7IFgRnPIS1rMp3F-xc_YzrtP60s_ZAQSkSNhB-oO9GqDGfn67FhSIlfxgoJ7RHQW74CZqz2n1oJynALOpghR4MxpEgif3RGoef5ZYCNdQYlWsz4CrhaxAWo7lii_b5hNaSKMCR6cw7fYwtZpnf8cYtg1HPdDbEcm_Sx_9om5dW2YfnHNPF31IesBve4gKXDh3SUsPw","e":"AQAB"},"attributes":{"enabled":true,"created":1568927879,"updated":1568927879,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593cac2d1130d.vault.azure.net
        - /keys/rsa-verify-2048/create
        - api-version=7.0
        - ''
- request:
    body: '{"alg": "PS256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault8bf41593cac2d1130d.vault.azure.net/keys/rsa-verify-2048/1ae147e812254bcbbf01338d70619f6f/sign?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vault8bf41593cac2d1130d.vault.azure.net/keys/rsa-verify-2048/1ae147e812254bcbbf01338d70619f6f","value":"tkkVJPkM_EFvZAcJ2HllkYHCeZ4BusPrAZQjElUD_zDu8bJ-WVeFQHpo-W0prrJs6qsLayKMxGf6IVHsmHegcMxYvgy2TQ5mJJ7wmErkEZkh3DZFx1bB7MjCxZsRherIeJAqzjH7XijQYFL6iR2o5MKAsmsknAFTq-qbT85nh73iUXsR0PZAdjSSzR28jW3OViN14MjSuM2RxFQ1yUJlFKsYVf0zL-Uy1JHrQdKXkfHcsCY3a6gMB3o0Qg4eiFPzYoKaypamGC292fthrmUkmHswSV-w1CGQ0A9ETzOMkX-WZOc32I5HDImJDfaQ65F5CuFeNwhaLKpfncCWqomCPg"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593cac2d1130d.vault.azure.net
        - /keys/rsa-verify-2048/1ae147e812254bcbbf01338d70619f6f/sign
        - api-version=7.0
        - ''
[...]
