interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keydeca181e/create?api-version=7.3
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://malegerec.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keydeca181e/create?api-version=7.3
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keydeca181e/create?api-version=7.3
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keydeca181e/8f4856502a044fd48fdf3d663787cdc7","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"xSL5iPWlqWqdmDtTOz2687jlPsH357JzEKqBUiT-aKveGX9rslZllSA6mTQYxKB1leuKYLvCItJXTxuaXShktbGWA9bYBZNVQz8F1NkiRANAlEgo03zuLg64Jq7pikvb2iTV5hgTwNn5J6azGvZZBb92BuGA___iPBJHAZJFkAn-xOaRSOJeRSLEoYZ2hflxPlVukL4aTsyl6EUEumA3CQiKGlPywMftSM6sVsj_4mALWA1quqxSj7AmgbzoaqA6Zob9hs2Tw0LzTJhvmKb_LfhKeoqFKJAEbySlyL4-xdpLYw7BG6fYj4X5FZL-CCWLZ-1NTNZUBjY39LzE4z9cqQ","e":"AQAB"},"attributes":{"enabled":true,"created":1647991670,"updated":1647991670,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://malegerec.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keydeca181e/create?api-version=7.3
- request:
    body: '{"alg": "RS256", "value": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keydeca181e/8f4856502a044fd48fdf3d663787cdc7/sign?api-version=7.3
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keydeca181e/8f4856502a044fd48fdf3d663787cdc7","value":"kjdWsswUNxgCEnb6wyqmkxzP3L_5J2vYzib_PdFe4oLi4PPFxWVv7QB75lS9ukEWmmi28efZGzewC5S1tzx24LAHD2czUtwU_3nax9-tpFyDmFpz-wvOyc0b7wNbslCjiOLrQu6cOVotMgGpPolIVBoHzmxcoDN5z1YEfaIl0xzMtltaAnxmfr3OsNAxqpI1tLUVsFqZYnkZhQH-KE2pv8edfwl4Vbka4mGeyLoK11at_MoDt4klnucTp2D7d7EQ7SxEbjAZlV52IaZxpqobsbAMsSX_Izik-2ZCgl8mTdeZnsCHuvPgaFnhZpUDdH2MM34BOOAQxYGnT0szgMWM5w"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://malegerec.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keydeca181e/8f4856502a044fd48fdf3d663787cdc7/sign?api-version=7.3
version: 1
