interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key0/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key0/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key0/abd32a2a796d43d689645d5b335ff8df","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"3J3N0hD1NDP_To3tmh-NGRvXkiyEDbtYAODeUpaWRQHuuVmZeY4pBNAQ8NknB7ccUzQK-BnShK2DYzfhmDviIeapuehf07IpM_zm_09PWugr8DPxVXnQe_WqrjuceKeRBP6QwUzymAozIi4KwpYnE9c19lSWkcnlyzI2qqFnOY4TxbMf0m512dk_l7OfwgrDECA4kp1IRpkz7Pfdh-oDE_j-uyp2XEFx8xS4c7_9m2nkWuTq4ASYKPSggGyw2igD2JVr5h8W-Woyu6gJ5Uqg3P6Kg8QkVKGPKPaUeg0scnknlxu6RvwUrNJ1lmw1QH-A1moNdxTDcjy_DJzULnhL4Q","e":"AQAB"},"attributes":{"enabled":true,"created":1596039204,"updated":1596039204,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/key0?api-version=7.1
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key0","deletedDate":1596039207,"scheduledPurgeDate":1603815207,"key":{"kid":"https://vaultname.vault.azure.net/keys/key0/abd32a2a796d43d689645d5b335ff8df","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"3J3N0hD1NDP_To3tmh-NGRvXkiyEDbtYAODeUpaWRQHuuVmZeY4pBNAQ8NknB7ccUzQK-BnShK2DYzfhmDviIeapuehf07IpM_zm_09PWugr8DPxVXnQe_WqrjuceKeRBP6QwUzymAozIi4KwpYnE9c19lSWkcnlyzI2qqFnOY4TxbMf0m512dk_l7OfwgrDECA4kp1IRpkz7Pfdh-oDE_j-uyp2XEFx8xS4c7_9m2nkWuTq4ASYKPSggGyw2igD2JVr5h8W-Woyu6gJ5Uqg3P6Kg8QkVKGPKPaUeg0scnknlxu6RvwUrNJ1lmw1QH-A1moNdxTDcjy_DJzULnhL4Q","e":"AQAB"},"attributes":{"enabled":true,"created":1596039204,"updated":1596039204,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/key0?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: key0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys?api-version=7.1
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key0","deletedDate":1596039207,"scheduledPurgeDate":1603815207,"kid":"https://vaultname.vault.azure.net/keys/key0","attributes":{"enabled":true,"created":1596039204,"updated":1596039204,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}},{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key1","deletedDate":1596039242,"scheduledPurgeDate":1603815242,"kid":"https://vaultname.vault.azure.net/keys/key1","attributes":[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vaultname.vault.azure.net/deletedkeys/key0/recover?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key0/abd32a2a796d43d689645d5b335ff8df","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"3J3N0hD1NDP_To3tmh-NGRvXkiyEDbtYAODeUpaWRQHuuVmZeY4pBNAQ8NknB7ccUzQK-BnShK2DYzfhmDviIeapuehf07IpM_zm_09PWugr8DPxVXnQe_WqrjuceKeRBP6QwUzymAozIi4KwpYnE9c19lSWkcnlyzI2qqFnOY4TxbMf0m512dk_l7OfwgrDECA4kp1IRpkz7Pfdh-oDE_j-uyp2XEFx8xS4c7_9m2nkWuTq4ASYKPSggGyw2igD2JVr5h8W-Woyu6gJ5Uqg3P6Kg8QkVKGPKPaUeg0scnknlxu6RvwUrNJ1lmw1QH-A1moNdxTDcjy_DJzULnhL4Q","e":"AQAB"},"attributes":{"enabled":true,"created":1596039204,"updated":1596039204,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vaultname.vault.azure.net/deletedkeys/key6/recover?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key6/5ad70b32d65e45c498c088c10705bb81","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"uyIIloTKIdzbJrNSWgSK-YaP75gXVGayZUXH42cr09ulr24IcV48aY0MhSDIX1lsGuVxSD8JxzTsdrxl8KNHyKXR8tg3ytL_eUzvC6z1JF1lYNmHfBqYY4BPaugjOBshhTz59Yokf91fnY5x-0-TQub-lBIjnENmhBNB7bNeQhf9JSDOj3M-UaOlothAe6rDBs75L9vEKJt_GHbvi5fW_lJfpsHWdP9QSJ9UKstmkIp7eJnrYXWCBhixING5NljofsVN5vTkM3bRdeh17pXhaaQ0cmkNHtu_vJRrXAtKtlxLImGZcJPHZHonhrYzooKPzQfkwL6TcQUO_ClqlRAmZQ","e":"AQAB"},"attributes":{"enabled":true,"created":1596039206,"updated":1596039206,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
