interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultb3510bf8.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body:
      string: !!python/unicode 
    headers:
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: !!python/unicode '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultb3510bf8.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vaultb3510bf8.vault.azure.net/keys/key0/b2fcd7bbc78441d48978bd5b8bd6412a","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"pYfuVdAcTMy2LdSGNuXii-DBytW3KTp9JzpHEBarTu_Tf2p7bvzM6SEL85OZhWMHt9T0FSzfA6NOhjSLk7_sGa12J_Gkiosm322x-9ko5PEq-GO5-FzjGw0vtW_q-SrFZtCDSD7GaPNJihqOZvAXO4wvxTQl7y4KSY4lPErn4YyRRGTGw16EYiXeQGRSvgjjtKLxcMiIH-41RlH4LjcXl3XyenGWtK_gQBnptYi96BGmXlPgQGUHH7eAciHqYfxLi58cEcfN56EU28YavtuqMBzu3GqkJvinTkLUYtbczs9c6Jo1PzHoYiyhTgOfz2kcTKCYOXCtnatlcX3go9X-UQ","e":"AQAB"},"attributes":{"enabled":true,"created":1562703711,"updated":1562703711,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultb3510bf8.vault.azure.net/keys?api-version=7.0&maxresults=7
  response:
    body:
      string: !!python/unicode '{"value":[{"kid":"https://vaultb3510bf8.vault.azure.net/keys/key0","attributes":{"enabled":true,"created":1562703711,"updated":1562703711,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultb3510bf8.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1562703712,"updated":1562703712,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultb3510bf8.vault.azure.net/keys/key2","attributes":{"enabled":true,"created":1562703712,"updated":1562703712,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultb3510bf8.vault.azure.net/keys/key3","attributes":{"enabled":true,"created":1562703712,"updated":1562703712,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultb3510bf8.vault.azure.net/keys/key4","attributes":{"enabled":true,"created":1562703712,"updated":1562703712,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultb3510bf8.vault.azure.net/keys/key5","attributes":{"enabled":true,"created":1562703712,"updated":1562703712,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultb3510bf8.vault.azure.net/keys/key6","attributes":{"enabled":true,"created":1562703713,"updated":1562703713,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
