interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkeyf1a61842/create?api-version=7.3
  response:
    body:
      string: ''
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency: '1'
    status:
      code: 401
      message: Unauthorized
    url: https://malegerechsm.managedhsm.azure.net/keys/livekvtestkeyf1a61842/create?api-version=7.3
- request:
    body: '{"kty": "oct-HSM", "key_size": 256}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkeyf1a61842/create?api-version=7.3
  response:
    body:
      string: '{"attributes":{"created":1647992604,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1647992604},"key":{"key_ops":["deriveKey","wrapKey","verify","sign","unwrapKey","encrypt","decrypt"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkeyf1a61842/ea703536f75408a33b75b442cb86ac1d","kty":"oct-HSM"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '183'
    status:
      code: 200
      message: OK
    url: https://malegerechsm.managedhsm.azure.net/keys/livekvtestkeyf1a61842/create?api-version=7.3
version: 1
