interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault8bf41593ca25cf0f71.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault8bf41593ca25cf0f71.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault8bf41593ca25cf0f71.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/880eade111694823af1792d74a92b96e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"k1cFaZgZCeNBGHXW6QMddZolLxud6zDdkLkYkuSqiz5ZiPvjWiuWZs4wgb_ESXjxTF2gbay49sQNVva6zmnI__6e2j3-CAMiuW7QQw5mF0IyuAf88StjFxwPnbXUnxlwVV6W6x5f0BDjJdLQzCUiSmT6WFkP2j9QjxwiUiLTwQLbvMC6bNk7oxvV8q7f1Tu3CLPQEBuOHsCu7ONJD4NhUg_VkVA7B7d303RgslD_FZLEx_nuzmSP21QVAZlA2y4XGMHYAxiZGk9i8glgEiqIRqG5vs9cCFcURaNDOsvuqmLVej1ylu2JneZtr8mypsLPrdDY0X3UqT4lbZDVnU815Q","e":"AQAB"},"attributes":{"enabled":true,"created":1570213125,"updated":1570213125,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"alg": "RS256", "value": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault8bf41593ca25cf0f71.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/880eade111694823af1792d74a92b96e/sign?api-version=7.0
  response:
    body: {string: '{"kid":"https://vault8bf41593ca25cf0f71.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/880eade111694823af1792d74a92b96e","value":"fXStdG-qY9kiTTB3NjGNUV-5OYBN-TFn424SuCV88p23O12SOxNY7vhc1v9ByM7TeW1YVq9Jrz75WEyyUemCElT-lxwegfWYVv_o7E6zgeC4AZPxrO-bR6ST9a5R4bFld0pEmzYH7SQlH5882yFDOqeWEQPmfwNGrKX8w0uyY53Q_rF4dPK7ACfnHciwBvC3luGAPs4qvMJtybAWUjYZA-nBMkIF1rcTf1cH6IU3AtWpE-Q_e8K6WYjyEL_RpQ-Xy2NoeKHSF7VgTXTx38O6Seyuz6azQevjFqRPELYyXUDwyh-nD_EVGmwI04W8cOLTj6CIao-GyBgBzlZShRMR-Q"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
