interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault105115999730c90fa1.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault105115999730c90fa1.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault105115999730c90fa1.vault.azure.net/keys/key0/a091706724f24f338102067fbed50354","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zDX_suPMvO-kZ5ErKzQXVkiLJBC1IMY0NNIkLgGcjjhUwGNWROD0jxVQMCpROha1MQZvDtBvimejYHRnfXXRsDcYKXG_x12mWdMbthciEoKQ8H_UJUKeTVXflPeEAVPKvz0CS_Zn9cqX6anJqNGiW1dgLCtowxjbERnwt6Sa64YARQ042KnhWyfZPFSH3R0GZCx6ZywFV9CD6AXt4Oiff3ul5XmLVchelQ1SsRe3WN-anJMEeorrirmnfxQwgVcn4ZiosFP6qLIS2nsZMBbF7NN8gh1kSW-6sCIkqFudiRAT1RGgHo_b3N4wTHQQz8qDtHqFnou0SgT9vl-5wAuiNw","e":"AQAB"},"attributes":{"enabled":true,"created":1566943576,"updated":1566943576,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault105115999730c90fa1.vault.azure.net/keys/key0?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vault105115999730c90fa1.vault.azure.net/deletedkeys/key0","deletedDate":1566943577,"scheduledPurgeDate":1574719577,"key":{"kid":"https://vault105115999730c90fa1.vault.azure.net/keys/key0/a091706724f24f338102067fbed50354","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zDX_suPMvO-kZ5ErKzQXVkiLJBC1IMY0NNIkLgGcjjhUwGNWROD0jxVQMCpROha1MQZvDtBvimejYHRnfXXRsDcYKXG_x12mWdMbthciEoKQ8H_UJUKeTVXflPeEAVPKvz0CS_Zn9cqX6anJqNGiW1dgLCtowxjbERnwt6Sa64YARQ042KnhWyfZPFSH3R0GZCx6ZywFV9CD6AXt4Oiff3ul5XmLVchelQ1SsRe3WN-anJMEeorrirmnfxQwgVcn4ZiosFP6qLIS2nsZMBbF7NN8gh1kSW-6sCIkqFudiRAT1RGgHo_b3N4wTHQQz8qDtHqFnou0SgT9vl-5wAuiNw","e":"AQAB"},"attributes":{"enabled":true,"created":1566943576,"updated":1566943576,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault105115999730c90fa1.vault.azure.net/deletedkeys/key0?api-version=7.0
  response:
    body: {string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found:
        key0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault105115999730c90fa1.vault.azure.net/deletedkeys?api-version=7.0
  response:
    body: {string: '{"value":[{"recoveryId":"https://vault105115999730c90fa1.vault.azure.net/deletedkeys/key0","deletedDate":1566943577,"scheduledPurgeDate":1574719577,"kid":"https://vault105115999730c90fa1.vault.azure.net/keys/key0","attributes":{"enabled":true,"created":1566943576,"updated":1566943576,"recoveryLevel":"Recoverable+Purgeable"}},{"recoveryId":"https://vault105115999730c90fa1.vault.azure.net/deletedkeys/key1","deletedDate":1566943577,"scheduledPurgeDate":1574719577,"kid":"https://vault105115999730c90fa1.vault[...]
[...]
