interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault8bf41593cac2d1130d.vault.azure.net/keys/rsa-verify-2048/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Fri, 04 Oct 2019 18:18:04 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault8bf41593cac2d1130d.vault.azure.net,
        /keys/rsa-verify-2048/create, api-version=7.0, '']
- request:
    body: '{"kty": "RSA", "key_size": 2048}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault8bf41593cac2d1130d.vault.azure.net/keys/rsa-verify-2048/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault8bf41593cac2d1130d.vault.azure.net/keys/rsa-verify-2048/00ce0859333c4c8aba7cfc49bb56abf8","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"0LG3n48yLJjRmNsCGCDLqhs0iAPUxlTMqsEDI3t2DWt2fOkcxDMRtnu_1mrDicUTBnXwouZG_Jugz4EBrkwuCUxKBg2RNUw1mUmKeqmS8AJME1tCb82rnfUB0sZNLucwTncXGReWsqOmlTbAT-fV5o5tJX_xu9A77FnkBpQoXtacKepWBINVL2NISHzre7145etkXPkvj33GF63VXI1Ev-A8yU3WNFiy3Y0LCT2IuV214BZWfFoqR2qy9FRE675_EH1FabHb2TkU0UVOZ8J67JK0CE7hQ-xSCVa2Fk68nCrDMj65IY-Ya1mWG3aFDOktZMHw7z_GINIm5_hxI9vplw","e":"AQAB"},"attributes":{"enabled":true,"created":1570213085,"updated":1570213085,"recoveryLevel":"Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '661', content-type: application/json;
        charset=utf-8, date: 'Fri, 04 Oct 2019 18:18:05 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault8bf41593cac2d1130d.vault.azure.net,
        /keys/rsa-verify-2048/create, api-version=7.0, '']
- request:
    body: '{"alg": "PS256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault8bf41593cac2d1130d.vault.azure.net/keys/rsa-verify-2048/00ce0859333c4c8aba7cfc49bb56abf8/sign?api-version=7.0
  response:
    body: {string: '{"kid":"https://vault8bf41593cac2d1130d.vault.azure.net/keys/rsa-verify-2048/00ce0859333c4c8aba7cfc49bb56abf8","value":"S_T1M_y9Lwh6aGYRPmFtp_rvzITM6XhIvz1A6Uv1Gv20-aFpiIqA9JZMx9ExfMuNU1VevZ3ldzglp0ddCtp[...]
[...]
