interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name91461aee/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name91461aee/create?api-version=7.0
- request:
    body: '{"key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey", "unwrapKey"],
      "key_size": 2048, "kty": "RSA", "attributes": {"exp": 2527401600}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name91461aee/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name91461aee/e776e78f27e64f6d93f5b9c45f0aac2a","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"yj6LxVEuILqJfFAg4VeTSUi6xNViaefrxG6fwO-NYKvYVNUhWBO3rHQuAdk3j9Sg46Jfc858JN7_OaHZmYLoP_ROp0_5gNZyspbHb-zDIrkAmHm0f-ZkeL7liwz7gc20ABDbleWtxVcwsMzHC2Ljr_Ir2a8Af3jrVMC6k8MMe7_y83-FCobEyyTK_g7gY9gEnMHw4MDcQiY3cmnUpGx73MEbiZC_eH6EpM4KdgQAI2AzW-tvWR3t7jJEpGQ-mAFDxfsrym2SRp9eLZ626EdLxY2RX8FS4xUmYUCJS66UZJokIFayb8Hrk3PU1ZA8AkowCGl8verYkkcuPK1HfE48GQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2527401600,"created":1618950639,"updated":1618950639,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name91461aee/create?api-version=7.0
[...]
- request:
    body: '{"crv": "P-256", "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name91461aee/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name91461aee/fd2664a38b0149be82238bdd6aa73a14","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"z4dANXFNus_lMlYPvlc90kRGs3RLFAFZ2MyMc6ZY-KU","y":"4rJBonzhHzYGT2LMLY_Oo_9OKBfqjb3TlOOtHJYpbhs"},"attributes":{"enabled":true,"created":1618950641,"updated":1618950641,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name91461aee/create?api-version=7.0
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name91461aee/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name91461aee/fd2664a38b0149be82238bdd6aa73a14","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"z4dANXFNus_lMlYPvlc90kRGs3RLFAFZ2MyMc6ZY-KU","y":"4rJBonzhHzYGT2LMLY_Oo_9OKBfqjb3TlOOtHJYpbhs"},"attributes":{"enabled":true,"created":1618950641,"updated":1618950641,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name91461aee/?api-version=7.0
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name91461aee/fd2664a38b0149be82238bdd6aa73a14?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name91461aee/fd2664a38b0149be82238bdd6aa73a14","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"z4dANXFNus_lMlYPvlc90kRGs3RLFAFZ2MyMc6ZY-KU","y":"4rJBonzhHzYGT2LMLY_Oo_9OKBfqjb3TlOOtHJYpbhs"},"attributes":{"enabled":true,"created":1618950641,"updated":1618950641,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name91461aee/fd2664a38b0149be82238bdd6aa73a14?api-version=7.0
- request:
    body: '{"attributes": {"exp": 2524723200}, "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name91461aee/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name91461aee/fd2664a38b0149be82238bdd6aa73a14","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"z4dANXFNus_lMlYPvlc90kRGs3RLFAFZ2MyMc6ZY-KU","y":"4rJBonzhHzYGT2LMLY_Oo_9OKBfqjb3TlOOtHJYpbhs"},"attributes":{"enabled":true,"exp":2524723200,"created":1618950641,"updated":1618950641,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name91461aee/?api-version=7.0
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name91461aee?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name91461aee","deletedDate":1618950641,"scheduledPurgeDate":1626726641,"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name91461aee/fd2664a38b0149be82238bdd6aa73a14","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"z4dANXFNus_lMlYPvlc90kRGs3RLFAFZ2MyMc6ZY-KU","y":"4rJBonzhHzYGT2LMLY_Oo_9OKBfqjb3TlOOtHJYpbhs"},"attributes":{"enabled":true,"exp":2524723200,"created":1618950641,"updated":1618950641,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name91461aee?api-version=7.0
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name91461aee?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: livekvtestkey-name91461aee"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://mcpatinotest.vault.azure.net/deletedkeys/livekvtestkey-name91461aee?api-version=7.0
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name91461aee?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name91461aee","deletedDate":1618950641,"scheduledPurgeDate":1626726641,"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name91461aee/fd2664a38b0149be82238bdd6aa73a14","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"z4dANXFNus_lMlYPvlc90kRGs3RLFAFZ2MyMc6ZY-KU","y":"4rJBonzhHzYGT2LMLY_Oo_9OKBfqjb3TlOOtHJYpbhs"},"attributes":{"enabled":true,"exp":2524723200,"created":1618950641,"updated":1618950641,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/deletedkeys/livekvtestkey-name91461aee?api-version=7.0
version: 1
