{
  "Entries": [
    {
      "RequestUri": "00000000-0000-0000-0000-000000000000keys/livekvtestrsa-verify-2048d9ab2daa/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "00000000-0000-0000-0000-000000000000keys/livekvtestrsa-verify-2048d9ab2daa/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "289"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1650292500,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1650292500
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "00000000-0000-0000-0000-000000000000keys/livekvtestrsa-verify-2048d9ab2daa/cb8ff4ac9fdd46d035d8ae990370c5df",
          "kty": "RSA-HSM",
          "n": "h5YrsqxBhaNdqI_BP_elz7hfH0Gr6Blg6JWBabRFxE8SK-ep3j6MiONoXqg-7uz1buNWNMF_28Wkhe_H4b42PF1ch2Gx_LjaAUCWszDEmRdEQU5ie8gHY_zVjkchACMF-MZXci7dWQ_HUchAzPwVXh8hCTGU8BZLUMeMELAdwsiQxl2gAkqeW5MLIJ-XST5PT9CMZIDWt5I9IdW-mwakWorhy5FdAfR6ao51cV-M9TE-IKSYB4C9Cj4f7y8hQ660g42bdgBAouSPTPsis9XFGtctSElFhV0UU7mhhZfCeywjher_3gQX4vzG7MUKDd6Z3g_Uq0UTSQqcYWPmEu1oxw"
        }
      }
    },
[...]
    {
      "RequestUri": "00000000-0000-0000-0000-000000000000keys/livekvtestrsa-verify-2048d9ab2daa/cb8ff4ac9fdd46d035d8ae990370c5df/sign?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "112"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "00000000-0000-0000-0000-000000000000keys/livekvtestrsa-verify-2048d9ab2daa/cb8ff4ac9fdd46d035d8ae990370c5df",
        "value": "Fg5QuLZ7Dki01VKFtqIv_AjyNq9XY-d5R82W3j7tmY3tF7qsLPXSroW28i9XGhFyLP4QnKut9n-2T4sBl85CcqEyEpMJyIRcrk9kY4HaG9hmA71D36HoQ2Okn94OUG9QQda9TeVTk7LkBVBa9bM_IrgA6xOUyxvbLU7kHgIXim37ttvmqRbYj4retV_fdSTBX9bA62fv1b3eWNGIunfO1i3AcMMe5Bo58i4feqHXscYYDVIyAVQEjTjrwhUJsBWc53DuKrIj2n1TU9tQd9bMTrumiIINw8Nsjs-NWYgDcwbTEl_DC6GPBTNc7Uc7MKzZFNjBA1MIZjkq7IOn45AMEg"
      }
    },
[...]
    {
      "RequestUri": "00000000-0000-0000-0000-000000000000keys/livekvtestrsa-verify-4096d9ab2daa/c14309750b3b0d51304e4033538f75b2/sign?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "14"
      },
      "ResponseBody": {
        "alg": "RS512",
        "kid": "00000000-0000-0000-0000-000000000000keys/livekvtestrsa-verify-4096d9ab2daa/c14309750b3b0d51304e4033538f75b2",
        "value": "Y4fkE0mitJT_FZIoR_RqWNNavqVlyFEipmlisbB7C2cV2IsiGwBSy6vQp4gy_sgNkjDnnmq9ubhJv1Ei6fsY6qJOTRZJxufp0qWxdb2IYzWi0tVhwSBkVAUBw-De4C2j2ZINx4kc-3HvZ4WzFt1KPIaPOL3_wlmLUdL3jHEqYnjtrCGgz6rcSLrLMCVyfg7D3PxNfEXj77RWES3f_GHNRMZQ1SEiIrnE5p-a8qpo5QZazrwIDRiEpZ9S-BdpWX7LjeefjMQM-EYJySbXMlTUDF4aXEVfgw57b00FJgE9BFVUal9MSmz7-o-quA-ittrxGz3baf8Gs00FaimAmjiRTEV1cNN1Loiw1BSVYIDmfNmCgEiXOPVknKcMrieDqqNBWu366BUJE4t2cu7ZeHfuQv6wDYwPcwcuerPJRcnQZkI7fFg66U0y8QBVC19NTlsIa-RRQ_X7c53oLQokQgivZdRpfmcBRRTeIOMfvvrVmSbZRQjzZiFOR81XPy_ZkifGNO-65IYYRdm5DCBH3kdacXeZoIZvlgbLE7xyq2sV3G8dJJA9CSdu7y4pmHzF4ZXVj96Mo5pNJTQBo0SBgEMl1bFzgHUOpQomQ7L8juIrnKYgEuBotg_xATOO95Qk2Csuh0zYgkUFOwR83qyMB02tMZxLCBHq1rQ9t_5MXuMU3s4"
      }
    }
  ],
  "Variables": {}
}
