interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name13760eb7/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-key-name13760eb7/create?api-version=7.1
- request:
    body: '{"kty": "RSA", "key_size": 2048}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name13760eb7/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name13760eb7/ad046460dfb440ae8c621c91dac8f4eb","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"7iWlqQzwSHFWzLb40Ju7oZ67dR3MSFRyX-deEg28kS_C1JWyk_Qov6D8-CEh3L8x9tIGVPj-bXQqv0GV82BmzXmeMAuwMnZbFSWnv21StGtwdNeN-Vy1TkEjykXlOwIZQPGCck9jTLubI0I7ZENaWEKVZiLWZSlQ9WfjlsVGnhvKwOgsm5pcDZuAiQAJF_pCj9IQoBqaQQT08uqq_S9XHMDKjq4gN1FeInovMMWy-9vEw4diM9Ni-pccj1J5a-Z6vHIhN-vNcTqGdWaGmea4LvUB6T5odHOnT4IERq_NMts0BYJA9Lp1kdSRixIfcEFncxUKVzNwHmx6ox1enxe31Q","e":"AQAB"},"attributes":{"enabled":true,"created":1612576511,"updated":1612576511,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-key-name13760eb7/create?api-version=7.1
version: 1
