interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtesttestKey84651164/create?api-version=7.3
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '1'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtesttestKey84651164/create?api-version=7.3
  response:
    body:
      string: '{"attributes":{"created":1647991833,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1647991833},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtesttestKey84651164/5c47c6b272444640234fe86d67243f65","kty":"RSA-HSM","n":"qRg1VA8_lNa4_GjPIOIx8zEZn6OoHDWTM_M1qvYqY2VjautayaWnuXzW50Y02eG1GBpPAHnxAByOcuu7aqG6FxJYSYSW5LO7H5NNyXvOcqCW4L22A-zyi1qwg7RHpZ8fmIMZ0siIPwmpFugGkyEsoOkuuf5E46TmgzmDIrSf6_wNTBem64pB3jispBXUG9cdMPc33pIlRftvxPe_bq4st2FFuvij9VK5n6SSeIVLoEArfyo2sDwYtBR0EttA1LP5h9pfnfxDqbmp_ATwx4SK3ZgfXDMul9-9bQ-UaLNeNZlR9O5G6rCH_vXxyuDoc_TdFUd471Et6AxGhI-SDckqxw"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '266'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtesttestKey84651164/versions?maxresults=6&api-version=7.3
  response:
    body:
      string: '{"nextLink":"https://managedhsmname.managedhsm.azure.net/keys/livekvtesttestKey84651164/versions?maxresults=6&$skiptoken=K1JJRDp-cjJWNUFJaUhTNEhCQUFBQUFBQUFBQT09I1JUOjEjVFJDOjYjSVNWOjIjSUVPOjY1NTY3","value":[{"attributes":{"created":1647991833,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1647991833},"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtesttestKey84651164/5c47c6b272444640234fe86d67243f65"},{"attributes":{"created":1647991835,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1647991835},"kid":"https://managedhsmname.managedhsm.azure.net/keys/li[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtesttestKey84651164/versions?maxresults=6&api-version=7.3&$skiptoken=K1JJRDp-cjJWNUFJaUhTNEhCQUFBQUFBQUFBQT09I1JUOjEjVFJDOjYjSVNWOjIjSUVPOjY1NTY3
  response:
    body:
      string: '{"value":[{"attributes":{"created":1647991847,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1647991847},"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtesttestKey84651164/ca06b5f3cd47068a80d5cc762685c1a2"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20220305-2-902fedaa-closebadconnections
      x-ms-server-latency:
      - '36'
    status:
      code: 200
      message: OK
version: 1
