interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc7889211d9.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc7889211d9.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc7889211d9.vault.azure.net/keys/key-name/f3b23c245430443b9f028df47b61bb65","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"viU0MjL-t8BCUUyo1Xbf0s7WdDBms1fNFfFFhryIfn98h0wpg4GK9XQ32_ow_tBwmyYWVs_Hwg9E2ICc-NS0W1vaUDpXgSZyv4VgsSPoRpa22r8av1yflRFyvBbi9MJ4Y078h4I_hz9By17_mKCWZbDudRT6XnA8DsMCb1maMOb7rktcpF0Zo7LX6iC5t0LO4edoqiM5wQYH-HpWGSvlilw_blHOdJIjYLA3loU4Z_RCzmbC3diaiw-PH_V9KmPAR91EE_w_QSN4hdHChiVAY1LuKqOLq-FWN91hQUSfnzu1w15jyQPMp7FGrJGmGJoVNTH6I7xTs76T0qaZjTwWCQ","e":"AQAB"},"attributes":{"enabled":true,"created":1571258665,"updated":1571258665,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault458ad70cc7889211d9.vault.azure.net/keys/key-name?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault458ad70cc7889211d9.vault.azure.net/deletedkeys/key-name","deletedDate":1571258665,"scheduledPurgeDate":1579034665,"key":{"kid":"https://vault458ad70cc7889211d9.vault.azure.net/keys/key-name/f3b23c245430443b9f028df47b61bb65","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"viU0MjL-t8BCUUyo1Xbf0s7WdDBms1fNFfFFhryIfn98h0wpg4GK9XQ32_ow_tBwmyYWVs_Hwg9E2ICc-NS0W1vaUDpXgSZyv4VgsSPoRpa22r8av1yflRFyvBbi9MJ4Y078h4I_hz9By17_mKCWZbDudRT6XnA8DsMCb1maMOb7rktcpF0Zo7LX6iC5t0LO4edoqiM5wQYH-HpWGSvlilw_blHOdJIjYLA3loU4Z_RCzmbC3diaiw-PH_V9KmPAR91EE_w_QSN4hdHChiVAY1LuKqOLq-FWN91hQUSfnzu1w15jyQPMp7FGrJGmGJoVNTH6I7xTs76T0qaZjTwWCQ","e":"AQAB"},"attributes":{"enabled":true,"created":1571258665,"updated":1571258665,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc7889211d9.vault.azure.net/deletedkeys/key-name?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: key-name"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vault458ad70cc7889211d9.vault.azure.net/deletedkeys/key-name/recover?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc7889211d9.vault.azure.net/keys/key-name/f3b23c245430443b9f028df47b61bb65","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"viU0MjL-t8BCUUyo1Xbf0s7WdDBms1fNFfFFhryIfn98h0wpg4GK9XQ32_ow_tBwmyYWVs_Hwg9E2ICc-NS0W1vaUDpXgSZyv4VgsSPoRpa22r8av1yflRFyvBbi9MJ4Y078h4I_hz9By17_mKCWZbDudRT6XnA8DsMCb1maMOb7rktcpF0Zo7LX6iC5t0LO4edoqiM5wQYH-HpWGSvlilw_blHOdJIjYLA3loU4Z_RCzmbC3diaiw-PH_V9KmPAR91EE_w_QSN4hdHChiVAY1LuKqOLq-FWN91hQUSfnzu1w15jyQPMp7FGrJGmGJoVNTH6I7xTs76T0qaZjTwWCQ","e":"AQAB"},"attributes":{"enabled":true,"created":1571258665,"updated":1571258665,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
