interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrotation-key201714d2/create?api-version=7.3-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrotation-key201714d2/create?api-version=7.3-preview
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrotation-key201714d2/create?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrotation-key201714d2/efb9c8e922a647e0bac7c713c3266428","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"1vbwKr3d5P_CSOJfLHp0VWLlqeptK5NIh7raFt4aCuG2npczGgNKznjdFeUt3MborSWYyEY4DlZWGJsvA7TOAQ13k9-u9xe2g1wYfgNw5X8WAju2BO69ylBQ7aPEZeoEfO12ub0a3uvA0Ooct8OC-nyalyk7qZON8xJoj0Todagwq-njgwuZask3XJVAx-yGobwFcFQgynrq5ScRcHTJSKGnTp7FniJqAg6tD6nTUWq_RlmgQ6f5cok0AAvChauDzes4T-3glcMucqSJohAGyqXkcETiBOfZH5keVmFdi5n-9C6dRFq3OjJltl-JhVAI6nL18chVrZxF6C0qApcBVQ","e":"AQAB"},"attributes":{"enabled":true,"created":1632796798,"updated":1632796798,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrotation-key201714d2/create?api-version=7.3-preview
- request:
    body: null
    headers:
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrotation-key201714d2/rotate?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrotation-key201714d2/d91392d890cb485fa99f84391f7d845b","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"4SWEheIFMLmxTdx92NaXipleHUHoTuvqarTdQ4fhtAPzHtRdGKTjbCFjT-c21T7x0gkDhPJsCMzO9VjuLKvdBiRziZarxEU_1Sv9NGoWBRFdLbFGh5ZV1eDklQxXQuIxgIsz177fzI--ErbIhA1zVfpOuUbart1Kj99VZsqv8PhkwN065SfNrOrVtGmW1rhBZUA6-l7wVY10iTCgCfPww36LrTE66soNNt6rRk03_Xmi_08va3jzmg89MQ3UZL94W-dDXVU25vmNV4MIhclPxB15WwSEstLrJqvlxNzAbTwt9akzaWHaihVuK_Ug3sTl-ye232jdnpqdWIt8VgojEQ","e":"AQAB"},"attributes":{"enabled":true,"created":1632796798,"updated":1632796798,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrotation-key201714d2/rotate?api-version=7.3-preview
version: 1
