interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/crypto-test-wrapping-keyffd4146b/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - qwjvbtq6py2djay2xpnz7zzb.vault.azure.net
        - /keys/crypto-test-wrapping-keyffd4146b/create
        - api-version=7.0
        - ''
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/crypto-test-wrapping-keyffd4146b/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/crypto-test-wrapping-keyffd4146b/5007e4a084584c5f8c9f0b2076a43668","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"psHRqwDxMaKHGjKT7F4fs20RudSscLxxXc8NSGCOCXuEMBtcd6mByjkft1tpx9tzfJt9k1SxPEBsRnvjZgtLKrfRY-_qT5jrqrV-qwGegDoEZeVFu_uucGJRYU2o9LKdvZPwRw60-1k3f2AEQTcd_Wg8V1NX-6-1GD_MAhXwD4oYqyakwxa8Zkee2Abg5mrxnel2aUwMg_mp_vmEa7pS6Ahbqulwk3Z27UcKDt0THR6y16XASzw-bBgo49WdbZLw1E2UKHI_VQ5uDkuAERD_D8w3KJfmk9JFanj-6BILpmzHNFYhrfmO_9dxTJdgdvZssL-0WKJi5ZMy7-DguCJneQ","e":"AQAB"},"attributes":{"enabled":true,"created":1575676569,"updated":1575676569,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - qwjvbtq6py2djay2xpnz7zzb.vault.azure.net
        - /keys/crypto-test-wrapping-keyffd4146b/create
        - api-version=7.0
        - ''
- request:
    body: '{"alg": "RS256", "value": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/crypto-test-wrapping-keyffd4146b/5007e4a084584c5f8c9f0b2076a43668/sign?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/crypto-test-wrapping-keyffd4146b/5007e4a084584c5f8c9f0b2076a43668","value":"j1zIUHBfUtzJh4LEvhgTPuxhYS8ZuiNdQZWZZ8VDl-4B8wnLlIJwCrAABVrmwVP07q9qAYdQYIXmQ_R5dRkhjjm60SPlVPCswPbzg-ar1GoI2SY6JLc2Odz-kUBu-JZ2UhjqvEB6Ic4v3rFcBILoYXU8C64QpRSL_swxc_Hfq_ciIYNGQ2kMFCKZ9W3_Ak4Hz2TprpfIYPnE4xLEeZ1mHmAjsJOogh6xWsSXgVORTY02sw7V4IsglE5bUrI7S8pEJgIq6AfaUKUCQR8FMTcfXwbaBVwCAIreExUW0C2bJ2ABGdoGDVZu5pncMSukyC7LybVx-ica3C0S96oVCzKsgQ"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - qwjvbtq6py2djay2xpnz7zzb.vault.azure.net
        - /keys/crypto-test-wrapping-keyffd4146b/5007e4a084584c5f8c9f0b2076a43668/sign
        - api-version=7.0
        - ''
version: 1
