interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048986215c3/create?api-version=2016-10-01
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"key_size": 2048, "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048986215c3/create?api-version=2016-10-01
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048986215c3/c3de7bc9c42e47d8a59f51039502b5a7","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"qu03CP0WlhYIMbHnG4Hrv3vnZWtMnfN809-w5Q73sOu7XD3aq_EQf00FHOPMlZ1FGOC5zzBQ3hruXGg_9DQbwXYsFQ3IW0cRrE4ZogWqi_bmpxMII_0tkcE-noOd3flUSxNzcq9VP0-dsN0XB2UyD8DFhDRJKIrU9KkFAwhLDo3nz-iPoV6pjI3dt3m0533AX7LNPGezXtwcajAWXi1wy2SvBFqe43ncdo5Dgzy1VpbbwXLXmoFjZElFW89P2b6YG5dbq9eVvRGTEoVZHaK4WY40gTn4-xGlQJR34jM06IJA-205J8NaUqnMvLBNALulTzfLwgSGShEeAoFdFHazhQ","e":"AQAB"},"attributes":{"enabled":true,"created":1620427807,"updated":1620427807,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg", "alg": "PS256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048986215c3/c3de7bc9c42e47d8a59f51039502b5a7/sign?api-version=2016-10-01
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048986215c3/c3de7bc9c42e47d8a59f51039502b5a7","value":"VZ9eUkR2C1z5yy_YEniy1CvMRt1xlVdLryZuuD_BAVWpmmOv_dXqflhqz41rBAonyKfxMHjpXWEfEDnBuadrqJ3IvkhgujVeKd83zVaVhSA3b6XzIe6FKzs66P5N2Yq9bASkFeUAspPo7K9QG8SAi-phu2nrMuBogOqurtec6q0mGVAaqvX_ly6srcRR2ShHH4whTFS2DB1h-BsrWy5EvA4yTINlom3dWuUzaAm35ow-69MlOyjbstDq2bKw-zci4-UKCKTFzCVl9TwoW0uTeOtJyhYJJs-mO0DSzm27VEhGfz2zqD-I_0KmbyzdJ-C084kXIcnxgQhhyR8fnkOQ9A"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ",
      "alg": "RS512"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-4096986215c3/c93a2265f4494f41b305dee0c0850281/sign?api-version=2016-10-01
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-4096986215c3/c93a2265f4494f41b305dee0c0850281","value":"lTbx5bSb_dWrJ20coS6m4PRYzhi8Kt31MWVihTohUN7lteem4C7Jni01iqGS6d4Jm3D4UPIsOcXgOUswty74tKyj9K-wH8-YZZofuasFXdmw-jmH-rzF4oUQuxx7qK21EDBcrPHH9lXLI4r2yKv5qhG5-evol4kB27qHaTfRDfuFIeH7_jBQ_kjMZge1XMy4qsDeQalINLOUieESTsVYvcjc8I2CjIUus6jRNBWPjIQbSxloZti3b_6574KyvyQxhWPB12adl-5LcDbi7VEwZH-IrdGW6nhfJlHt2wKyLNF5pKPhvpIgZdaKLkfyGk9FhkXdTbj5N23dfFeur_BY8F4VStUrJ-Ucs55NqiMHijGNK_TWU5Yf9sbdxmo7Xe629T1r3Rt7XvWyd6zF2xIOCt2rwZuaM883UUFSwINbJKjR3GGU2m4IIHNj0hwPOxHNUtZJ1NsxeUZDCLCoJcoBWDeP8gYuXNk4AM-cQ8D1ezrZ45a89sTlqSF2vnNEeUWUH1JiB-4zso8P5quQdun6gCQJDEXAPnxOE-5qwzvpOjwclf-qfdlNKfrC6w_OYCB8ro0-vBdsR5cxU6xAzmiGxtuMR9nZ62PtmwO4U-P3u8M1ldRoXXCHwHqG9D0gkkYFgK1MyUOICWlxs_EKnUQ_65VpMsfHQw2OWzfEv-xOlcM"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
