{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtesttestKey91b92ad1/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtesttestKey91b92ad1/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "478"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1650662194,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1650662194
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "sign",
            "verify",
            "encrypt",
            "decrypt",
            "unwrapKey"
          ],
          "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtesttestKey91b92ad1/2bcd625fdbb707d925195cbd86a64795",
          "kty": "RSA-HSM",
          "n": "lwmIngrZWuNcZ0XeSGGuN9OKDQxnQO0iXSX5rkAaZRtWVl9zR0rO6eZvd31hjNtBc3Q8mxyYLKxtqBdzYeR6y6zwi285LNYWjUbXeRsNQ9cZ4BGQzWm9yoJc8mmOEOwJO4LBiyt67u5yYM1wUVV9s8p1O_wpzFuPa4cRTYH3InoxmmgGlPCpl6WriWMv-E8j17LxXDUkQJH6S2aHNTssJ3YYTBCgph6sdgg8FU7Nb4XYQunjrKDUfO4x85E_jeKD_9tP86o8jHMxrRBV26Q4ZpCuXxg55j-aRE9zj6EQtXeWlYwi8ZRtt2ve3JQKbmMpaqpfJ6dlyBuIi4T-niduhQ"
        }
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtesttestKey91b92ad1/versions?maxresults=6\u0026api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-latency": "200"
      },
      "ResponseBody": {
        "nextLink": "https://managedhsmvaultname.vault.azure.net/keys/livekvtesttestKey91b92ad1/versions?maxresults=6\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2tmQWdBQUFBQUFBQT09I1JUOjEjVFJDOjYjSVNWOjIjSUVPOjY1NTY3",
        "value": [
          {
            "attributes": {
              "created": 1650661709,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "updated": 1650661709
            },
            "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtesttestKey91b92ad1/d4a07015f2b20c5c093fedc621bb8152"
          },
          {
            "attributes": {
              [...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtesttestKey91b92ad1/versions?maxresults=6\u0026api-version=7.2\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2tmQWdBQUFBQUFBQT09I1JUOjEjVFJDOjYjSVNWOjIjSUVPOjY1NTY3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pr[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtesttestKey91b92ad1/versions?maxresults=6\u0026api-version=7.2\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS21pQWdBQUFBQUFBQT09I1JUOjIjVFJDOjEyI0lTVjoyI0lFTzo2NTU2Nw",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-[...]
