interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-25644021012/create?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"attributes": {"enabled": true}, "crv": "P-256", "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-25644021012/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-25644021012/43d73f0b94294665b020424137987415","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"KaVt4Hw3abdvVnyX_JzfOM6-Ad8fssnCyt_S9AGJWmY","y":"LQb8uFOnXo8BaK8IUrlVwiJ1M-519flrSR2Rf0PH2d4"},"attributes":{"enabled":true,"created":1615598097,"updated":1615598097,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "ES256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-25644021012/43d73f0b94294665b020424137987415/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-25644021012/43d73f0b94294665b020424137987415","value":"Av-BHu0EbDWe24UgdSErz6qdJEyqlo6f0lggEI8b6Y4Z8JWMiS2o6g1U8pePqPgstIiNxcUHq81P_p8P6edlKg"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"attributes": {"enabled": true}, "crv": "P-256K", "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K44021012/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K44021012/7b1ed5e0b2264d0f977aafb131b13e67","kty":"EC","key_ops":["sign","verify"],"crv":"P-256K","x":"29lDQQtYSiAY9ukmKjaZ3Kdu3LANkwQVzxDMMgt8zzY","y":"gjLKjqb7QjssnX2QV4isj_3PakiHXSBbG5uhMm_XrmI"},"attributes":{"enabled":true,"created":1615598100,"updated":1615598100,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "ES256K", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K44021012/7b1ed5e0b2264d0f977aafb131b13e67/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K44021012/7b1ed5e0b2264d0f977aafb131b13e67","value":"e6vQrLHUToG_ujFyieyQeuGVBG8cH42awISSFVYvIRAkrWr8HG2EjnWaShgtj6Qc1Yf6YjnhaWL0rCJQ_qR5DQ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "ES512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-52144021012/550f8e21d5084b9a83c70c1624d11b46/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-52144021012/550f8e21d5084b9a83c70c1624d11b46","value":"AKs_cYvxu4aFWLQ7aeTEdvFCIE0Wu5tVxtrR4ztOmHznzA3jHPjplfTUb0GWJblmc5sjY50Zbhk5RaQnY_zSD3ZOAJmCisSccy6DUENBtGn75tokxY6bTLGMwomnlVW1n161qIT5Q9jFSW_JQQsUCzTuldeQDQJFe3na-a8ygs3SVgcD"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
