{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name3f172c31/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name3f172c31/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name3f172c31/d113424e60484ae7a417ababf4717cae",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "sZCwrKYSiIONshHznkXUd_ScGFTCjz4oqXlaCJUm78KxfDDCAIfd7HqRwDVu19_90Jhd01FaItdP3k9-znKPnw35oC4D8GV5QnyI0XaoF-LVRKjCWRwsgXcO7iIv0cn5k9Ff0UK5HCNSmvGiXW06XWO60DezRftGFjtnSyDy3duem_io549YxHwr27zb5Si3YqH9S0fji6i22YC-XvTT2wzQIgPoyJ1U_2B67KdMQSVlNIM9zER_WxPVB_x8j8o9dCIXsnyyK_kas0k0GeqTOer5YK4j-i-vJjtlGXiIsAJlRd9diw8QNY4XnoPY2zMkrtKVYZbp_spu-iSLnUCJjQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650666394,
          "updated": 1650666394,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {}
}
