interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsakey54ff1091/create?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsakey54ff1091/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsakey54ff1091/de55af7985864013a417955c2ed601df","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"qbswku69SEFUkDUIeGCLng3YcB7wl3p8BYtr4N57NG2ao6Q-22kVPR7RTWy9K6Y-x7XgGZVXAsqYNUpSwv7qIlbVKH_muy3420MOIbdv1e4en6aVxQSq3DmObrVEswUWoC5lLEBMDIxUs65LyKnitq7mjmKzQ6WQeQbXLzLveZst6DERfZ682IzOBcVyrdA_U_-GJP8E7ecN0DHys3VIRKP9meUTMpi-FhN5QP_ahTGdCYSqHVxsvWL7EXDf-mzvQEFjqUFIOBURUHxBjMqTRzA0P_odMy6p7PRafsVUxHPcmFFQE4_HqYeCFsAl0awhymwZw1f5pwWblm73s3hu7Q","e":"AQAB"},"attributes":{"enabled":true,"created":1616195065,"updated":1616195065,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsakey54ff1091/de55af7985864013a417955c2ed601df?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsakey54ff1091/de55af7985864013a417955c2ed601df","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"qbswku69SEFUkDUIeGCLng3YcB7wl3p8BYtr4N57NG2ao6Q-22kVPR7RTWy9K6Y-x7XgGZVXAsqYNUpSwv7qIlbVKH_muy3420MOIbdv1e4en6aVxQSq3DmObrVEswUWoC5lLEBMDIxUs65LyKnitq7mjmKzQ6WQeQbXLzLveZst6DERfZ682IzOBcVyrdA_U_-GJP8E7ecN0DHys3VIRKP9meUTMpi-FhN5QP_ahTGdCYSqHVxsvWL7EXDf-mzvQEFjqUFIOBURUHxBjMqTRzA0P_odMy6p7PRafsVUxHPcmFFQE4_HqYeCFsAl0awhymwZw1f5pwWblm73s3hu7Q","e":"AQAB"},"attributes":{"enabled":true,"created":1616195065,"updated":1616195065,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
