interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault105115999726720f82.vault.azure.net/keys/crypto-test-wrapping-key26720f82/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault105115999726720f82.vault.azure.net/keys/crypto-test-wrapping-key26720f82/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault105115999726720f82.vault.azure.net/keys/crypto-test-wrapping-key26720f82/696f807a93a34e88bc9f52574e7ec114","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"xRiiwFzRi2OXu-FGk2G1QwYPYY_hWLRnqZbpHarajii_Hilwq5kK0p6YFsFVMPCsmFDLLKMi0e8-1EWOjiBUUj-LE8i-Y4vJqx5TP3B7ySxgjfOH2xMNH7eJTA8tb4VRL5r-uKFc1eHVA_75Nc0uRzflgt7bHGv6exNgMFOHTXTLcU4url_RZwaEhRdjjTdaVg7iHk3uV5ytxhX6X5ohNOF_1bFpuTBqPkSdZTIlOvAFI9pC1h8ZAj0LUfzlQ7SyfkYwnUE-BoaBIfouHrSaQ1MYIENe_Wj_nHNmLm4EVtZVIpVZXen3rKxTRUKzvHG2l0HkNipYep3guruKuYtWLw","e":"AQAB"},"attributes":{"enabled":true,"created":1566943534,"updated":1566943534,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"alg": "RSA-OAEP", "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault105115999726720f82.vault.azure.net/keys/crypto-test-wrapping-key26720f82/696f807a93a34e88bc9f52574e7ec114/wrapkey?api-version=7.0
  response:
    body: {string: '{"kid":"https://vault105115999726720f82.vault.azure.net/keys/crypto-test-wrapping-key26720f82/696f807a93a34e88bc9f52574e7ec114","value":"CcwW7kPecqOqllDflgtkDI0RBC4PgMsQ-NAUZYaIYzL6hqxPTAQvoyWgR00-4foiJScz7ehZ6A-JvV7E6M6bbH03MT4EDXlIcl5oHhvHe65ljT-EQrGzZr4fAAU6oZPjeg48wKTtUN3MJ5tgxOg68CFYjCzY0tHby3laa_xcJS7UreJjQrBOxn6ju06PVos_-U__TSSNmFwOejWn7hkLeIao3cGWUzxXEmKDAz-G_eB254EshlTV_E-F497k8fbi4VkmGL81EkFvOk38ePuwe00-e25rwVSFo4UPidNMZDDij_njAeL1-5W4CNjSwT2oG7uCwyv8MQIJGgRX5Ku4QQ"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"alg": "RSA-OAEP", "value": "CcwW7kPecqOqllDflgtkDI0RBC4PgMsQ-NAUZYaIYzL6hqxPTAQvoyWgR00-4foiJScz7ehZ6A-JvV7E6M6bbH03MT4EDXlIcl5oHhvHe65ljT-EQrGzZr4fAAU6oZPjeg48wKTtUN3MJ5tgxOg68CFYjCzY0tHby3laa_xcJS7UreJjQrBOxn6ju06PVos_-U__TSSNmFwOejWn7hkLeIao3cGWUzxXEmKDAz-G_eB254EshlTV_E-F497k8fbi4VkmGL81EkFvOk38ePuwe00-e25rwVSFo4UPidNMZDDij_njAeL1-5W4CNjSwT2oG7uCwyv8MQIJGgRX5Ku4QQ"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault105115999726720f82.vault.azure.net/keys/crypto-test-wrapping-key26720f82/696f807a93a34e88bc9f52574e7ec114/unwrapkey?api-version=7.0
  response:
    body: {string: '{"kid":"https://vault105115999726720f82.vault.azure.net/keys/crypto-test-wrapping-key26720f82/696f807a93a34e88bc9f52574e7ec114","value":"NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
