interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.netkeys/livekvtestec-verify-P-25644021012/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.netkeys/livekvtestec-verify-P-25644021012/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.netkeys/livekvtestec-verify-P-25644021012/af161620dd5747e6b6040a5e0c4f55de","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"FVuNbjr5dGz336Zc-QroJFToP2YpTX8lH6BSoIGREus","y":"_yGdAwM9Yd4myl8h3nSTy1_neLTFZjwby4jpqtLs-eY"},"attributes":{"enabled":true,"created":1612482038,"updated":1612482038,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg", "alg": "ES256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.netkeys/livekvtestec-verify-P-25644021012/af161620dd5747e6b6040a5e0c4f55de/sign?api-version=7.1
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.netkeys/livekvtestec-verify-P-25644021012/af161620dd5747e6b6040a5e0c4f55de","value":"f5zC3qLzGFJMylSDdA5_1fw6LtT7SJNsKfCYc6c7m20BAXjKKSiICqIWQXxv3Bdlj_Q7Uf-mYx4kprEJP-a0_g"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "EC", "crv": "P-256K"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.netkeys/livekvtestec-verify-P-256K44021012/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.netkeys/livekvtestec-verify-P-256K44021012/6b47fcf915c74d948a7a8537ffb416b2","kty":"EC","key_ops":["sign","verify"],"crv":"P-256K","x":"Yeccf1MLAkYHuTYnqUN7ubmP-OG2Yq3LsFbIQmHMpOw","y":"svKhM-w1TcglxDvah_sN_76Gb_lmjo5Dz2sWxMAPeYI"},"attributes":{"enabled":true,"created":1612482040,"updated":1612482040,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg", "alg": "ES256K"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.netkeys/livekvtestec-verify-P-256K44021012/6b47fcf915c74d948a7a8537ffb416b2/sign?api-version=7.1
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.netkeys/livekvtestec-verify-P-256K44021012/6b47fcf915c74d948a7a8537ffb416b2","value":"jYd6LX4x79-otptpk-Q_D4cMZtmH28goyJVwHiwuOM4vjfxilDmnarmU__84BQqHH4TL0VunnVBphCcZyodaEw"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ",
      "alg": "ES512"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.netkeys/livekvtestec-verify-P-52144021012/fd421f2a87c84c8baad63870b404decb/sign?api-version=7.1
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.netkeys/livekvtestec-verify-P-52144021012/fd421f2a87c84c8baad63870b404decb","value":"ARGRUSHEBl0TEGCQZGfnilYqiK4RItY22Z5l5fh-aUB8MKnzU2gGnh14LRX_obhYVHJ3lkdXYba3wLjhed875t2VAKlI7mX9tIvRhr83vJQJTZbuVZ7tCV_Nb_imaxNw5zUSzTaiUKwTteYi5RigOo39pLcZVkkehkvRAEeseCLAnNRR"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
