interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestmultitenant-key6aa18c5/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestmultitenant-key6aa18c5/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestmultitenant-key6aa18c5/bbae0bcd529d465986b037daedcde2fa","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"s6zLYcP7e4_JZy1uHRGrzGeggyc--m1k_9LWq6rHP16OcgdRYs0qc5NOsxDsEr8GWJiZnaHVeE8AjDCtUXUFlP46vDTgUT29QjSYIhvLjB7i0XqORDVq6dqd4GnFTLwTeh6-SvWLT2HvMQ_8YOL47-fXbcxWN54X0sZzqs9FeRZnPFnngec6StLan6f2DPFED_qZTRH51EAbk3nJHrhk5ivUYucwr4icwN0mL1swsi9YbO3xH8ok_DwbjBg0wg1Ioeap_9oJoCOOaW5I_8ke_aBvCFlErZkfrRpVjtb2fRECfoOyX1aWjrR2-WSUoyEN5ZEkw7idmDncx57cJphqrQ","e":"AQAB"},"attributes":{"enabled":true,"created":1634332154,"updated":1634332154,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
