{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256d30133de/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256d30133de/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256d30133de/68eca94d6ae846a6a8821dab798147a0",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "G9d4cdEMhf5Pzw52ZVrWI1sp2vKPeDOfaW6IePvOUR4",
          "y": "vFMPv3_MEvvyK90HLeAMWiDzXLiHe_k7YnNje-S890E"
        },
        "attributes": {
          "enabled": true,
          "created": 1650664780,
          "updated": 1650664780,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256d30133de/68eca94d6ae846a6a8821dab798147a0/sign?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256d30133de/68eca94d6ae846a6a8821dab798147a0",
        "value": "adQpaLgbvztnp0YMwaXayhBRyoKgggHOLzmdbFQK-eg_GJQ7GtFIe-8KPrVB5yHPFs_74wHnntZRpXQUIHrG-Q"
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kd30133de/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kd30133de/2404952c1c824562b350f424e50d0fab",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "nZmWea397yNp_NBopxYBNIzIQ7gwOSEaWrBM6KX5wXc",
          "y": "iS9Bp_rd-o67acA4f6cSKfoeWowXrHljqEM2yhKu1mQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1650664782,
          "updated": 1650664782,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kd30133de/2404952c1c824562b350f424e50d0fab/sign?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kd30133de/2404952c1c824562b350f424e50d0fab",
        "value": "oyAfFxnMkYkyiM3VtofMsCGeRIJ3Z2Hd6yala5nmAgZaAmtXTf6j0imTHQeqoT7isBK4OTkt2loLPEplq2XAfg"
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521d30133de/cd806bcaa52f4961948f763677461aeb/sign?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521d30133de/cd806bcaa52f4961948f763677461aeb",
        "value": "AABDriQKEyF4t94y0bFOUJdun0bYWTD38S62uq4bermFvxp_2y-ORQaUKDqbq_uPKGGqawe_T4pxmrncp0ye_0MdAPzXmupgS53dWZDESfn912PwgU_wh_KAmv_QfHwWjkDhMK8HyE0URaLnC88-gIWvbUV8zW9NreSeE2tldOTf4QIw"
      }
    }
  ],
  "Variables": {}
}
