interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaulta7710b8a.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaulta7710b8a.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vaulta7710b8a.vault.azure.net/keys/key0/9fa522d267bb4c3b883c843e540f110c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"o0fMxiegtAvzvLXfoP1m-7BgKwtniEqm1k42qz_4RZhuWa8SVQ66co1urSJbN8S7fwbIdqpCwdJXtLeCSQ8M6x00G0Be3U0r2_MM0IDlvIRcgncqsswaG-rY8JHOMs4Jv_SSIPzdSJb3LXLxwNnftVNJqmwXldNVjMBkgTvBB-n8sR7ryURLH_e8UQ99mnP0WZLiTILAx0E-fP7aLVQCNHL33tXg9PADnRuGxtS4sqTlH4_4xjxo4_18El0IsJr7kJrGvsc71cKelZtlVqv1gOT1O4hoEXP_XJ8WjWm6Wquxe1vXj0lpgUXxfmli_DExHJOfGJtF1l1Ipj-Msz4_zw","e":"AQAB"},"attributes":{"enabled":true,"created":1565820770,"updated":1565820770,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaulta7710b8a.vault.azure.net/keys/key0?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vaulta7710b8a.vault.azure.net/deletedkeys/key0","deletedDate":1565820771,"scheduledPurgeDate":1573596771,"key":{"kid":"https://vaulta7710b8a.vault.azure.net/keys/key0/9fa522d267bb4c3b883c843e540f110c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"o0fMxiegtAvzvLXfoP1m-7BgKwtniEqm1k42qz_4RZhuWa8SVQ66co1urSJbN8S7fwbIdqpCwdJXtLeCSQ8M6x00G0Be3U0r2_MM0IDlvIRcgncqsswaG-rY8JHOMs4Jv_SSIPzdSJb3LXLxwNnftVNJqmwXldNVjMBkgTvBB-n8sR7ryURLH_e8UQ99mnP0WZLiTILAx0E-fP7aLVQCNHL33tXg9PADnRuGxtS4sqTlH4_4xjxo4_18El0IsJr7kJrGvsc71cKelZtlVqv1gOT1O4hoEXP_XJ8WjWm6Wquxe1vXj0lpgUXxfmli_DExHJOfGJtF1l1Ipj-Msz4_zw","e":"AQAB"},"attributes":{"enabled":true,"created":1565820770,"updated":1565820770,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaulta7710b8a.vault.azure.net/deletedkeys/key0?api-version=7.0
  response:
    body: {string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found:
        key0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaulta7710b8a.vault.azure.net/deletedkeys?api-version=7.0
  response:
    body: {string: '{"value":[{"recoveryId":"https://vaulta7710b8a.vault.azure.net/deletedkeys/key0","deletedDate":1565820771,"scheduledPurgeDate":1573596771,"kid":"https://vaulta7710b8a.vault.azure.net/keys/key0","attributes":{"enabled":true,"created":1565820770,"updated":1565820770,"recoveryLevel":"Recoverable+Purgeable"}},{"recoveryId":"https://vaulta7710b8a.vault.azure.net/deletedkeys/key1","deletedDate":1565820771,"scheduledPurgeDate":1573596771,"kid":"https://vaulta7710b8a.vault.azure.net/keys/key1","attributes":{"ena[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vaulta7710b8a.vault.azure.net/deletedkeys/key0/recover?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vaulta7710b8a.vault.azure.net/keys/key0/9fa522d267bb4c3b883c843e540f110c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"o0fMxiegtAvzvLXfoP1m-7BgKwtniEqm1k42qz_4RZhuWa8SVQ66co1urSJbN8S7fwbIdqpCwdJXtLeCSQ8M6x00G0Be3U0r2_MM0IDlvIRcgncqsswaG-rY8JHOMs4Jv_SSIPzdSJb3LXLxwNnftVNJqmwXldNVjMBkgTvBB-n8sR7ryURLH_e8UQ99mnP0WZLiTILAx0E-fP7aLVQCNHL33tXg9PADnRuGxtS4sqTlH4_4xjxo4_18El0IsJr7kJrGvsc71cKelZtlVqv1gOT1O4hoEXP_XJ8WjWm6Wquxe1vXj0lpgUXxfmli_DExHJOfGJtF1l1Ipj-Msz4_zw","e":"AQAB"},"attributes":{"enabled":true,"created":1565820770,"updated":1565820770,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vaulta7710b8a.vault.azure.net/deletedkeys/key6/recover?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vaulta7710b8a.vault.azure.net/keys/key6/998ea98831804ae5b9545855a0b71854","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"t_u0yFGw4bl9ZO5YmqKYk_MmtEDPGOvzBKTCcrs9gXFZw66B3W9X0u1t1k5EIr721nzMjyAZnoNrzfyxOYUAqp8XdFnpGDDo5a09PBai1N-l6SKBRsvWS0ZbHAsx0-NRltL6tVq6x7cRwEYyzrtIXiKvkuGqmu-Ep_IQJudYFDuUHHouGfOuLzudYTrpDTqD4JQGFtJbeMvuceIOO3UmX5aM3ZP-D7NHHmNCet0C4vpaK0W1YzuL64sr33iVv-C7r5yCNzrwpTPv7ZaqbUAfHLr6r8MjtFpg5Jvrr_fLXq37u9STMpQp2b-xMb9WlE-1lLPQkpxTAqxLcVXqDuOu8w","e":"AQAB"},"attributes":{"enabled":true,"created":1565820771,"updated":1565820771,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
