interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc732f70fb3.vault.azure.net/keys/sec32f70fb3/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc732f70fb3.vault.azure.net
        - /keys/sec32f70fb3/create
        - api-version=7.0
        - ''
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc732f70fb3.vault.azure.net/keys/sec32f70fb3/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc732f70fb3.vault.azure.net/keys/sec32f70fb3/ac081d85067542bd9b66c5396e4f855d","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"6RMFoMHTKfTfKutKjxrsYIpUy2d9TXoMM_VBWbHtnJ0f8NfqSDG_1PCcZ5SzlCpOyVARNTDDGB5qSACT5dWpyc1iREeFeqA3OQgjdeezwSwou6xV_0f46yKtSLax6fwWrTcBmFClm6YUHcBKelEeNHj4Q_ER5BVIjygdqrL9_HAKnTtxsvO0l0lrEZyKp6fMdYClzAQboui6lx9KeZMLyMvlPAsihKx2iR-6pBsn9KRNIUyE7oiFmW7Kbn-qo371lnIK3COyQCYCJJVA5K0ralZsrPg4spcQ8MDN9MIu0AjJhBSzDFmtOebm0ethH8hhD3ojywkJKBzJ69mvVWW-mQ","e":"AQAB"},"attributes":{"enabled":true,"created":1571258590,"updated":1571258590,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc732f70fb3.vault.azure.net
        - /keys/sec32f70fb3/create
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault458ad70cc732f70fb3.vault.azure.net/keys/sec32f70fb3?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault458ad70cc732f70fb3.vault.azure.net/deletedkeys/sec32f70fb3","deletedDate":1571258591,"scheduledPurgeDate":1579034591,"key":{"kid":"https://vault458ad70cc732f70fb3.vault.azure.net/keys/sec32f70fb3/998e7c18220a401bb5c76ad168d4df72","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"0Epw_ATR7AfkoelCNOBzkwl_sRKdEIUOrG5gElj6aeBziAGF-vkZn5lhNiBwTO7sD9-ckQ1qmqLf6SuqvQ7Be1ppgI71fKmInaFIaz6tZJ5Vh-bJzuqDPbu7Z91p1mUguvmBTcdhznM7FZv1cqY61W7Eu1dPLCtL9mV7Pr7c0xVLN9cyaPU36kWQDfhtJDgDF2tqVOrjYoaxrhiE5HLO7PAclL_r-HQZN6vkzRd1XbGleLNxeULjH0iJlQz3Di3OUC2xq08E6h3elzhIUE1oDUoHiBYsAAapiv-uaug549poyIlsndQI6oGfwWTG_p4VY1Up25wmg6wOVJqCZpAS7w","e":"AQAB"},"attributes":{"enabled":true,"created":1571258591,"updated":1571258591,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc732f70fb3.vault.azure.net
        - /keys/sec32f70fb3
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc732f70fb3.vault.azure.net/deletedkeys/sec32f70fb3?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: sec32f70fb3"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc732f70fb3.vault.azure.net
        - /deletedkeys/sec32f70fb3
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc732f70fb3.vault.azure.net/deletedkeys?api-version=7.0
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vault458ad70cc732f70fb3.vault.azure.net/deletedkeys/sec32f70fb3","deletedDate":1571258591,"scheduledPurgeDate":1579034591,"kid":"https://vault458ad70cc732f70fb3.vault.azure.net/keys/sec32f70fb3","attributes":{"enabled":true,"created":1571258591,"updated":1571258591,"recoveryLevel":"Recoverable+Purgeable"}}],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc732f70fb3.vault.azure.net
        - /deletedkeys
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc732f70fb3.vault.azure.net/deletedkeys?api-version=7.0
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vault458ad70cc732f70fb3.vault.azure.net/deletedkeys/sec32f70fb3","deletedDate":1571258591,"scheduledPurgeDate":1579034591,"kid":"https://vault458ad70cc732f70fb3.vault.azure.net/keys/sec32f70fb3","attributes":{"enabled":true,"created":1571258591,"updated":1571258591,"recoveryLevel":"Recoverable+Purgeable"}}],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc732f70fb3.vault.azure.net
        - /deletedkeys
        - api-version=7.0
        - ''
version: 1
