{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey0b55728aa/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey0b55728aa/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey0b55728aa/207bd813dd8144b8a8e592d9fb476e74",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "shWPxmg7nSu2A33i6Zf7Eh9uxh1wW6MMBSGuLFWt37DQQMigc9UEYcYxitO06pzTkPiyzaB5d_gFm0TdmnN6I1E58JdtIk8pd9BzTCzUlNcPuM4u_Ol7wxLKfmb1vShz2w-nXnG5Xq_yOGAa4oWxWApM_fIdrrdZY5464c50o_Rp29L62HQMCE0LUDASVLT5Aj7ck--kh44c23JqNCcFGk-MZcfcOhSY6-bwJwBVEf87wbyKq8E_Zjq3r1sAFKvSoldxWYp6vVD2-2yvpj9AIDjpcIkyj7s48IH3tyPCqlXxauzn9YJcJnZG9egxCTALJSe2tuSiJ_xzyflDEYrwaQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650665658,
          "updated": 1650665658,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey0b55728aa?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey0b55728aa",
        "deletedDate": 1650665671,
        "scheduledPurgeDate": 1651270471,
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey0b55728aa/207bd813dd8144b8a8e592d9fb476e74",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "shWPxmg7nSu2A33i6Zf7Eh9uxh1wW6MMBSGuLFWt37DQQMigc9UEYcYxitO06pzTkPiyzaB5d_gFm0TdmnN6I1E58JdtIk8pd9BzTCzUlNcPuM4u_Ol7wxLKfmb1vShz2w-nXnG5Xq_yOGAa4oWxWApM_fIdrrdZY5464c50o_Rp29L62HQMCE0LUDASVLT5Aj7ck--kh44c23JqNCcFGk-MZcfcOhSY6-bwJwBVEf87wbyKq8E_Zjq3r1sAFKvSoldxWYp6vVD2-2yvpj9AIDjpcIkyj7s48IH3tyPCqlXxauzn9YJcJnZG9egxCTALJSe2tuSiJ_xzyflDEYrwaQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650665658,
          "updated": 1650665658,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey0b55728aa?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: livekvtestkey0b55728aa"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey0b55728aa/recover?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey0b55728aa/207bd813dd8144b8a8e592d9fb476e74",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "shWPxmg7nSu2A33i6Zf7Eh9uxh1wW6MMBSGuLFWt37DQQMigc9UEYcYxitO06pzTkPiyzaB5d_gFm0TdmnN6I1E58JdtIk8pd9BzTCzUlNcPuM4u_Ol7wxLKfmb1vShz2w-nXnG5Xq_yOGAa4oWxWApM_fIdrrdZY5464c50o_Rp29L62HQMCE0LUDASVLT5Aj7ck--kh44c23JqNCcFGk-MZcfcOhSY6-bwJwBVEf87wbyKq8E_Zjq3r1sAFKvSoldxWYp6vVD2-2yvpj9AIDjpcIkyj7s48IH3tyPCqlXxauzn9YJcJnZG9egxCTALJSe2tuSiJ_xzyflDEYrwaQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650665658,
          "updated": 1650665658,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey0b55728aa/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) livekvtestkey0b55728aa was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey6b55728aa/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey6b55728aa/1e42a7d65754441ba3d36a3263a29fbf",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "xnqleJyPwGuyl0PEFGKxbrb9McYuQUJ8mjVUdbxVfJEZdp212KvHispnopG2soe4NQtV00Rn_L554wdiTPVERUccEEalm8BxRVw17v-vSZtcP6wzEkdoEzD1gfPiodhiQQ-h_UwN_6ryd8IoX03BzVTEYvsgBD7Njs2-Q_hp5GLUT0hi1v-nixkJZKoo4fjNGS54NNE4SQbOwGX90_VfV3iZ7kLamwT-vxYEEzLkTwd-uVrP0yJRlhvJkAqB00qam5zd2oIP54WMzg5U4E2ee85uJYaCuK2jZJ55dsqpE5h2qz7xioA2-k9N0qT-yoWlvtNsD3CpeQDKO94NDJGWbQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650665671,
          "updated": 1650665671,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {}
}
