interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256f76f13c5/create?api-version=7.3
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256f76f13c5/create?api-version=7.3
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256f76f13c5/28ce138f82b642d5a83a9b9822b3bbd6","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"MfXNWYmVReeshfCeEMXkjeD1IBbKrQM3ttffqiXjrgc","y":"UNC6Wyb5JxzL1kj_RkpXRZ89ByRSp_0We0xMkc1M3m4"},"attributes":{"enabled":true,"created":1647991327,"updated":1647991327,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "ES256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256f76f13c5/28ce138f82b642d5a83a9b9822b3bbd6/sign?api-version=7.3
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256f76f13c5/28ce138f82b642d5a83a9b9822b3bbd6","value":"_XRVquyQm03n8v7RGL86DyM1YZV00vg9QpQbvg4LQwihZMIavroyNCk69HUyBhLZzAQM-L0Ql9hq17xAmE6e_Q"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "EC", "crv": "P-256K"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kf76f13c5/create?api-version=7.3
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kf76f13c5/6e30e288825d4029a9e46121acfe63be","kty":"EC","key_ops":["sign","verify"],"crv":"P-256K","x":"IWF0-lWdIM277Bn8eNLvpoYkVH6ueaFmkWgfajYLNA8","y":"tfvPSxk3Xj0hL5_GLGoXW_XB9W39lC77c7v6UxazLPo"},"attributes":{"enabled":true,"created":1647991330,"updated":1647991330,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "ES256K", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kf76f13c5/6e30e288825d4029a9e46121acfe63be/sign?api-version=7.3
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kf76f13c5/6e30e288825d4029a9e46121acfe63be","value":"e94NITGDPzxxkEZ-witn7mdGz7CcuYNp2ZKKGJY3lUfBxNh3D4R_CI51CjHFplGDDj6hi0z9yyp4oSLvOVrIzw"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "ES512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521f76f13c5/40daa2c3825b49ffab2bef0d7882dabc/sign?api-version=7.3
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521f76f13c5/40daa2c3825b49ffab2bef0d7882dabc","value":"AXb6yD0Thz2612VjaPRJ5Ck5Du9re_PEcIaqu8Fj5Y3X_33Pb2yFKoleGLSSPntk2NJca7qa2zbkrHizyv6LO5IeAHegEhdpKFwQQRWIfSKnDCiAA3CEr9OPRy6U7zOHUasiaEme6GJ8nKpBa6w0ebBok3_WGM44ejcskjNQqOIQoD8f"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
