interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key466219d8/create?api-version=7.3
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://malegerec.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key466219d8/create?api-version=7.3
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key466219d8/create?api-version=7.3
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key466219d8/e90bcbd8637041fc86e0e595db9b5bc8","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"qQ35bLuHyQAw3HLSfBSm8mnjsVvgrdCmxSqkoGUKbsRtIn6Szl6oljDg5RvZRlioSV8__kmVADxifAkBfJl5hBjh4r8MGY863dAKacQlxja1ZZ0GD4lbcF4Uug2DNbB0aRl1oMD0FoMWlyJAQnBs-Q4-1KRP9CZgRZsU85aLZ3I_kolJtNg8ftd6Sw1Cuao1UTfdlLlxgMwDDkET32ZKbGDUkUSVkQlGh8jUh5gieOJa3kqNeoAdwjCTYFRbR6EJpURm1Q_T1aO2aDZz9HBUYO-jZjeG8GCeWKWNLg8xbI_wdX-rv01nWWOOKVk49kaa6KIDpiMxQu0tR88Zf51c-Q","e":"AQAB"},"attributes":{"enabled":true,"created":1647991668,"updated":1647991668,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://malegerec.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key466219d8/create?api-version=7.3
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key466219d8/?api-version=7.3
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key466219d8/e90bcbd8637041fc86e0e595db9b5bc8","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"qQ35bLuHyQAw3HLSfBSm8mnjsVvgrdCmxSqkoGUKbsRtIn6Szl6oljDg5RvZRlioSV8__kmVADxifAkBfJl5hBjh4r8MGY863dAKacQlxja1ZZ0GD4lbcF4Uug2DNbB0aRl1oMD0FoMWlyJAQnBs-Q4-1KRP9CZgRZsU85aLZ3I_kolJtNg8ftd6Sw1Cuao1UTfdlLlxgMwDDkET32ZKbGDUkUSVkQlGh8jUh5gieOJa3kqNeoAdwjCTYFRbR6EJpURm1Q_T1aO2aDZz9HBUYO-jZjeG8GCeWKWNLg8xbI_wdX-rv01nWWOOKVk49kaa6KIDpiMxQu0tR88Zf51c-Q","e":"AQAB"},"attributes":{"enabled":true,"created":1647991668,"updated":1647991668,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://malegerec.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key466219d8/?api-version=7.3
- request:
    body: '{"alg": "RSA-OAEP", "value": "i9pZeBfPSeahUGEMQgni1dWGlCpOHK-IhV7-ya8FqIY47Q6sravxA0vBro2ig3vk3-5l16MZU38aiLTW0EkKNpygY0NiFtKgbQF732wIu3jiiZVt58gVzIuxSdLuBuesMF-IokHhqscVzVuGJRU4yiUutvYIugsdltWikt8JOYqKTL7PebCL8TnMb_R584-vPKLUnPdQa6EYJbRJSBuuwFMlOOm5BpAUX2S2q_80gKXuTIRr8KXmFdYRUf2eB9nRIm8uWY5JuJR3z8YrQslOdBbLyW1R_GUVl5x7dbaxMxAXtpIILiyhhm0KznF-RMfI5jW9PAnJOFwZYfRu_fN5Rw"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key466219d8/e90bcbd8637041fc86e0e595db9b5bc8/decrypt?api-version=7.3
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key466219d8/e90bcbd8637041fc86e0e595db9b5bc8","value":"cGxhaW50ZXh0"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://malegerec.vault.azure.net/keys/livekvtestcrypto-test-encrypt-key466219d8/e90bcbd8637041fc86e0e595db9b5bc8/decrypt?api-version=7.3
version: 1
