{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestencrypt-local7c0e2ceb/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestencrypt-local7c0e2ceb/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 4096
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestencrypt-local7c0e2ceb/ca573350c22f4570951eac9708f50665",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ykokbJD1jZwNDjjli-ZtjuiuRQwR3zX8dGJSTmV5NzQBaCxuz47HnRrsqYF_yEEFw4nMHc0RoPq7elWVJwt9A_CbhcqlEYt2dglIBCq340_xSKHJaEfKK_XkpNfoS6DXyxbKOfLzThr_nFc3KEMmJ1OUeatkRdU-MGZDzx7-zpvQ5K9B_OXEVC49EJzLtRT0Eusmk1JSGY0OzqKrTa_qluBt7z1lOnKLC66uIzJ0PKmKp8Yu6TlZcFf2m5frXLfuZxNDmNzy5eZFCDQmTIvB9Wbvnh9jKA7drhRGGWx2392KkEPI9gQCiLDbvEqX8CU8Tzc1fdBq3reigTr-HjRQVK0xNGsHl7jWQWxBvRZ-xZkgWpzGVF4ZRsLXjKDVXTTn4hImpf9-S9qReoMNRVVc1cd6h6Q26rddC0xtzSwL9VYw94baNHOml7gDnyAPudfxNUi8OWvvbYEHW-0Mx9IIoly6mwocQ5sgFmq5xhau0xBBYFk0ZJ_S4e_bg2zz-92UHTWsYKqW3En-cyZ1oSe6GyQ97w6qh99rkBiNOR7MQkuweK5AqJSF6vp9tITA3QL7TdErVJ_o1FyrKZTYsWpWmMTxBGxedbG8bWdDWkWAxZ1E46GrIFazjDEn2tB2okrk9JkCPwZHLu9z5Gm-Pl0LOe7GJFficK9JgBH5W9KkcXE",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650638290,
          "updated": 1650638290,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestencrypt-local7c0e2ceb/ca573350c22f4570951eac9708f50665/decrypt?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "txinWnD7fhyCxso2trHjPllID8ff0gm3nQ2fg2E_G2W9eM5s3_CxZ0cRITY44YwoiVkAnMmj5ayk4hlN5UXoQ0QSNQj0vSmU6MdSmoGZfvRjQytqtE5Icg_Ej7wF9LfMeTrLPj3jZof8QY9W2x5lZE4vtpK6KL3Skvdsu8R73I2Vp0WyGQwxUtTzrI5ewoWlovk7IQyPAeFUBkAl8rRdUkPEZkGXjvcaGwCa71bqQ_Z0eaZXXCE_qbf4SYeY05JhtKOFA8aky5F-luRw11Ud09htrUfVoGsOZtFliaB6ALlaZOO3m-Ogrwls1S6hN0VaHbP61NXhleZGRp8Y7tEVDiawi66LRLd0KOFdgsrcr63DRRp86q1xKUMz7PA-ZVaZtZedqVrJnPbZvCrapxIECkNrI4yfdCE4AUd1sXqm1zG_e7wOJPryMi_aTg7qPk09os2pTwGo0Pu-1c_AGkpMtvVG4Ich1S1x8RdSQzmjDkK9VxMRTeqE9rGtjSYlNrCw15KSyFsWXOjpBgtu7oJJ0e6r9_ci6a3FXCZLGgKOE5wTuyrXcoppH4RP9EHvN6ydkrTn2VWMzYyHZhbVVOiEt4i5AinMhngVoe6OweYLj73XDM4ZYzhF9wNrMeboIFmYkJxrsnyhj1gpCK2b_6_Nnq_2IY8Fxjk7Q8NZyo1twQ4"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestencrypt-local7c0e2ceb/ca573350c22f4570951eac9708f50665",
        "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"
      }
    },
[...]
