interactions:
- request:
    body: '{"kty": "RSA", "key_size": 2048}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name20a00f12/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name20a00f12/5e1d35eabac645ef9505c76927b86ddb","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"ysjd-rjeGxZXJ8GBZLDfPLXoYtT3YIA7ayedCo-FI0VPcSS5lQ3NeESbMhK0qYoax-JN5zmi904C6m_4Bd1wnXa3-GLiZnHjsWZ9hKoFTJAMtrOvuLEuydlX_N-WZktffv7fl_BFIidGAvb8epIqs6LFhH5UKbp8ocZA3tF0tcveYy01RaHwf5wjLjKT0eUhnfi_ZoLo_HbdoIVw1H_bJ1EMd7XGTgghlMPADQWTvpInfGBcLPjexl0xk75txwxUp4xH-n5KVYjH2mFmmLBuPMIlD7hzM0-MfzmFYqwTj-yaNo5KXJjn2KcmJfnXBm8o9oFvrrkXJ0bUwwAlqFS6gQ","e":"AQAB"},"attributes":{"enabled":true,"created":1612320314,"updated":1612320314,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
