interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault93889627173e.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Tue, 27 Aug 2019 17:09:37 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault93889627173e.vault.azure.net,
        /keys/key-name/create, api-version=7.0, '']
- request:
    body: '{"kty": "RSA", "key_size": 2048, "key_ops": ["encrypt", "decrypt", "sign",
      "verify", "wrapKey", "unwrapKey"], "attributes": {"exp": 2527401600}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault93889627173e.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault93889627173e.vault.azure.net/keys/key-name/bb4d21acdf614335aa2a30819cae1b22","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"n3F2c5e36NyaKnNFhCx0cki9oq5gazxsYBSaLE03Ztkm7mG98QETQhq9YM__vRUq9kchalURGnTHCR6v1Zm7GtIxKm2z-GWJkuuvr1DXNpnef34NJC8GGeOukIM9m6vaBoK-eFa9jKGUJtwzbM0rgmkSFNo01MfGzTPsXhFOm--gQuR4aycKCZWAFrNOrY_tO3J4MDZp96PgRbyFhcMyDuiTlnhKYODVAyhX7aKF8wRgVgxcJLAbknMorET_79z-ODecKJdndR4CcvHeOjpIm_RDCNIbY2sFNc713nquFEgh0rlzQOHo4TrxSPzNFhttNxYU1Ynj9bUhmzjIrH44Xw","e":"AQAB"},"attributes":{"enabled":true,"exp":2527401600,"created":1566925777,"updated":1566925777,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '677', content-type: application/json;
        charset=utf-8, date: 'Tue, 27 Aug 2019 17:09:37 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault93889627173e.vault.azure.net,
        /keys/key-name/create, api-version=7.0, '']
[...]
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault93889627173e.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault93889627173e.vault.azure.net/keys/key-name/8aafba1c40d844db82efd1f3126f5dbb","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"u0MxHcJQvcVRjg63HSrlqCO8NI-YFjiHw_FIgO0AjoE","y":"HU7Ze66UhhVJkuXGJfWALwS62eNZb-FquBq9WMF9Cyw"},"attributes":{"enabled":true,"created":1566925778,"updated":1566925778,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '371', content-type: application/json;
        charset=utf-8, date: 'Tue, 27 Aug 2019 17:09:38 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault93889627173e.vault.azure.net,
        /keys/key-name/create, api-version=7.0, '']
- request:
    body: null
    headers:
    method: GET
    uri: https://vault93889627173e.vault.azure.net/keys/key-name/?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault93889627173e.vault.azure.net/keys/key-name/8aafba1c40d844db82efd1f3126f5dbb","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"u0MxHcJQvcVRjg63HSrlqCO8NI-YFjiHw_FIgO0AjoE","y":"HU7Ze66UhhVJkuXGJfWALwS62eNZb-FquBq9WMF9Cyw"},"attributes":{"enabled":true,"created":1566925778,"updated":1566925778,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '371', content-type: application/json;
        charset=utf-8, date: 'Tue, 27 Aug 2019 17:09:38 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault93889627173e.vault.azure.net,
        /keys/key-name/, api-version=7.0, '']
- request:
    body: null
    headers:
    method: GET
    uri: https://vault93889627173e.vault.azure.net/keys/key-name/8aafba1c40d844db82efd1f3126f5dbb?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault93889627173e.vault.azure.net/keys/key-name/8aafba1c40d844db82efd1f3126f5dbb","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"u0MxHcJQvcVRjg63HSrlqCO8NI-YFjiHw_FIgO0AjoE","y":"HU7Ze66UhhVJkuXGJfWALwS62eNZb-FquBq9WMF9Cyw"},"attributes":{"enabled":true,"created":1566925778,"updated":1566925778,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '371', content-type: application/json;
        charset=utf-8, date: 'Tue, 27 Aug 2019 17:09:38 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault93889627173e.vault.azure.net,
        /keys/key-name/8aafba1c40d844db82efd1f3126f5dbb, api-version=7.0, '']
- request:
    body: '{"attributes": {"exp": 2524723200}, "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://vault93889627173e.vault.azure.net/keys/key-name/?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault93889627173e.vault.azure.net/keys/key-name/8aafba1c40d844db82efd1f3126f5dbb","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"u0MxHcJQvcVRjg63HSrlqCO8NI-YFjiHw_FIgO0AjoE","y":"HU7Ze66UhhVJkuXGJfWALwS62eNZb-FquBq9WMF9Cyw"},"attributes":{"enabled":true,"exp":2524723200,"created":1566925778,"updated":1566925778,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'}
    headers: {cache-control: no-cache, content-length: '417', content-type: application/json;
        charset=utf-8, date: 'Tue, 27 Aug 2019 17:09:38 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault93889627173e.vault.azure.net,
        /keys/key-name/, api-version=7.0, '']
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault93889627173e.vault.azure.net/keys/key-name?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vault93889627173e.vault.azure.net/deletedkeys/key-name","deletedDate":1566925779,"scheduledPurgeDate":1574701779,"key":{"kid":"https://vault93889627173e.vault.azure.net/keys/key-name/8aafba1c40d844db82efd1f3126f5dbb","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"u0MxHcJQvcVRjg63HSrlqCO8NI-YFjiHw_FIgO0AjoE","y":"HU7Ze66UhhVJkuXGJfWALwS62eNZb-FquBq9WMF9Cyw"},"attributes":{"enabled":true,"exp":2524723200,"created":1566925778,"updated":1566925778,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'}
    headers: {cache-control: no-cache, content-length: '552', content-type: application/json;
        charset=utf-8, date: 'Tue, 27 Aug 2019 17:09:38 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault93889627173e.vault.azure.net,
        /keys/key-name, api-version=7.0, '']
version: 1
