interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestmultitenant-keyedd61851/create?api-version=7.3
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '1'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestmultitenant-keyedd61851/create?api-version=7.3
  response:
    body:
      string: '{"attributes":{"created":1647991288,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1647991288},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestmultitenant-keyedd61851/1d6df409bd3d0e6693d5a5ec7060e8bb","kty":"RSA-HSM","n":"nIINasQ9zcIJlONuyFx28EoR-YHQbTWYNMiJ3_B71vpt5T_bgxFkA9SU1y9Tk4dI91WX3feUYoFJwbyNqy4xy-hZT60obt5hR4fUkOaGq5exQNEgJAWd3fNpkBaai4l1Jm1wFuIx5EUQ8Wcdg_6KYuJ0WGcTsJHm2-chx3pL83anAceVrRIUbWsthmJVeYxuL8luyaL68IqsxUwj5l1cW5thsjsT8YsDBkae6A8XJz8eYiwikffRXtRYdQTbZFToZs3oLSraFHyOF6yXtcxC1346cz6YdlKuVjANOixN5ddlFueEP-004-DjlIRK8wArNZWNpEClhY7KFAo1oUw0iw"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '279'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestmultitenant-keyedd61851/?api-version=7.3
  response:
    body:
      string: '{"attributes":{"created":1647991288,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1647991288},"key":{"e":"AQAB","key_ops":["verify","sign","unwrapKey","decrypt","encrypt","wrapKey"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestmultitenant-keyedd61851/1d6df409bd3d0e6693d5a5ec7060e8bb","kty":"RSA-HSM","n":"nIINasQ9zcIJlONuyFx28EoR-YHQbTWYNMiJ3_B71vpt5T_bgxFkA9SU1y9Tk4dI91WX3feUYoFJwbyNqy4xy-hZT60obt5hR4fUkOaGq5exQNEgJAWd3fNpkBaai4l1Jm1wFuIx5EUQ8Wcdg_6KYuJ0WGcTsJHm2-chx3pL83anAceVrRIUbWsthmJVeYxuL8luyaL68IqsxUwj5l1cW5thsjsT8YsDBkae6A8XJz8eYiwikffRXtRYdQTbZFToZs3oLSraFHyOF6yXtcxC1346cz6YdlKuVjANOixN5ddlFueEP-004-DjlIRK8wArNZWNpEClhY7KFAo1oUw0iw"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20220305-2-902fedaa-closebadconnections
      x-ms-server-latency:
      - '87'
    status:
      code: 200
      message: OK
version: 1
