interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey-name4f34158a/create?api-version=7.2
  response:
    body:
      string: ''
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency: '0'
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestkey-name4f34158a/create?api-version=7.2
- request:
    body: '{"kty": "RSA-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey-name4f34158a/create?api-version=7.2
  response:
    body:
      string: '{"attributes":{"created":1633375437,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1633375437},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey-name4f34158a/3343f6f44e1540b983bf38b741f9a787","kty":"RSA-HSM","n":"s6FXP4oXEDxDMB_NCVeh8FSRjeUQNeFr7y3Fm6H061NjD9r3V406ZJzAuEJp2ueG7v4CRcb_qLyVKweaj4myQP2-bx-_JlLUHLqJyuydZK4wjoIAABwfIPLx7SfkdxZ04Ghwy5bV3BI31ghs2f0tww9bdnndnJ7nFe9QgIe4BnWB7YoOCsNpA66qawHpa6tDWGr2X8cq7cGXsK4fzAhS_U-Zi_3zOtIlEpHX98EXQW2yj3fqMmI3hcaaazoEmn1qObZR4gtyo7X7dhxq9HWySM3eq1mqf-aF0XOu_OmMbd_QDAjHz6Lifo72ANxi6kJbJNLpNjhKhmfD4MJ0NmArIw"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '304'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestkey-name4f34158a/create?api-version=7.2
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey-name4f34158a/3343f6f44e1540b983bf38b741f9a787?api-version=7.2
  response:
    body:
      string: '{"attributes":{"created":1633375437,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1633375437},"key":{"e":"AQAB","key_ops":["wrapKey","verify","sign","unwrapKey","encrypt","decrypt"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey-name4f34158a/3343f6f44e1540b983bf38b741f9a787","kty":"RSA-HSM","n":"s6FXP4oXEDxDMB_NCVeh8FSRjeUQNeFr7y3Fm6H061NjD9r3V406ZJzAuEJp2ueG7v4CRcb_qLyVKweaj4myQP2-bx-_JlLUHLqJyuydZK4wjoIAABwfIPLx7SfkdxZ04Ghwy5bV3BI31ghs2f0tww9bdnndnJ7nFe9QgIe4BnWB7YoOCsNpA66qawHpa6tDWGr2X8cq7cGXsK4fzAhS_U-Zi_3zOtIlEpHX98EXQW2yj3fqMmI3hcaaazoEmn1qObZR4gtyo7X7dhxq9HWySM3eq1mqf-aF0XOu_OmMbd_QDAjHz6Lifo72ANxi6kJbJNLpNjhKhmfD4MJ0NmArIw"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20210907-1-d3b7f466-develop
      x-ms-server-latency: '84'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestkey-name4f34158a/3343f6f44e1540b983bf38b741f9a787?api-version=7.2
- request:
    body: '{"alg": "RSA-OAEP", "value": "cGxhaW50ZXh0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey-name4f34158a/3343f6f44e1540b983bf38b741f9a787/encrypt?api-version=7.2
  response:
    body:
      string: '{"alg":"RSA-OAEP","kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey-name4f34158a/3343f6f44e1540b983bf38b741f9a787","value":"WpQrkLcbko7IoSu9i3_zi0_EgW7RUZPfZ7cafB4ivUVnq057pU3S73J3ukl7-JfYIawvsQoqSqOwwB8DjC796mEaRfHWZXBJe0ukQRa-0GpyxySEzh4yvedsFkNzdHABRhqE2y7hLVxsQ-XhJHNxXmiY1Jcqi2L-wrQYNwlGW0q59Wuv-6DH8rVecGvjMh-yZx19gr5j-M-imAWflVd62dSOG1ZAEQTypBvqRSs8pPIxpimHBMjvuMRWT6qY3fsZHe55D6RS8b5R96IjIEa_9w83N_EMM7no7-L_tc-gUQLq0nOWS74IDTu8axNdH-y6whbGsswYIqTstkRVYUfBkA"}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '1'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestkey-name4f34158a/3343f6f44e1540b983bf38b741f9a787/encrypt?api-version=7.2
- request:
    body: '{"alg": "RSA-OAEP", "value": "WpQrkLcbko7IoSu9i3_zi0_EgW7RUZPfZ7cafB4ivUVnq057pU3S73J3ukl7-JfYIawvsQoqSqOwwB8DjC796mEaRfHWZXBJe0ukQRa-0GpyxySEzh4yvedsFkNzdHABRhqE2y7hLVxsQ-XhJHNxXmiY1Jcqi2L-wrQYNwlGW0q59Wuv-6DH8rVecGvjMh-yZx19gr5j-M-imAWflVd62dSOG1ZAEQTypBvqRSs8pPIxpimHBMjvuMRWT6qY3fsZHe55D6RS8b5R96IjIEa_9w83N_EMM7no7-L_tc-gUQLq0nOWS74IDTu8axNdH-y6whbGsswYIqTstkRVYUfBkA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey-name4f34158a/3343f6f44e1540b983bf38b741f9a787/decrypt?api-version=7.2
  response:
    body:
      string: '{"alg":"RSA-OAEP","kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey-name4f34158a/3343f6f44e1540b983bf38b741f9a787","value":"cGxhaW50ZXh0"}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '2'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestkey-name4f34158a/3343f6f44e1540b983bf38b741f9a787/decrypt?api-version=7.2
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey-name4f34158a/?api-version=7.2
  response:
    body:
      string: '{"attributes":{"created":1633375437,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1633375437},"key":{"e":"AQAB","key_ops":["verify","sign","unwrapKey","decrypt","encrypt","wrapKey"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey-name4f34158a/3343f6f44e1540b983bf38b741f9a787","kty":"RSA-HSM","n":"s6FXP4oXEDxDMB_NCVeh8FSRjeUQNeFr7y3Fm6H061NjD9r3V406ZJzAuEJp2ueG7v4CRcb_qLyVKweaj4myQP2-bx-_JlLUHLqJyuydZK4wjoIAABwfIPLx7SfkdxZ04Ghwy5bV3BI31ghs2f0tww9bdnndnJ7nFe9QgIe4BnWB7YoOCsNpA66qawHpa6tDWGr2X8cq7cGXsK4fzAhS_U-Zi_3zOtIlEpHX98EXQW2yj3fqMmI3hcaaazoEmn1qObZR4gtyo7X7dhxq9HWySM3eq1mqf-aF0XOu_OmMbd_QDAjHz6Lifo72ANxi6kJbJNLpNjhKhmfD4MJ0NmArIw"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20210907-1-d3b7f466-develop
      x-ms-server-latency: '1'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestkey-name4f34158a/?api-version=7.2
[...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "O9lEDpo0J1ZEFhksM5YebBpMxCA1KZVTd734j4MDM5WdCDTCSnsXj6xty4pBRkm8emMoOyUobdfHJOd5iGaMYSYf9lg91PIwr5W5L8_3OLbxKmprE-6ubY6-x8QUYp7S3WCg_lHMBl4cKwQJ2Na53noPXqzHR_UGC-ZgtXWv1LSFWvA95DB2TpDoD7c5YJ504Zg_gXJ7I5qspqgOes03_dMxDxMi0_XUM4B4IwrN3qeB1PXynbGGEnmmqvnSYPGVv9MWXAmWvLGUuh5XLzm-ti5VXE0fa9dzMPMz8PeaOUpeVPngOvBo9kphnGHpy1y0ygPvRpT_x_rbu8Y_QneXmw"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey-name4f34158a/3343f6f44e1540b983bf38b741f9a787/decrypt?api-version=7.2
  response:
    body:
      string: '{"alg":"RSA-OAEP","kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey-name4f34158a/3343f6f44e1540b983bf38b741f9a787","value":"cGxhaW50ZXh0"}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '3'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestkey-name4f34158a/3343f6f44e1540b983bf38b741f9a787/decrypt?api-version=7.2
version: 1
