interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey0a6701239/create?api-version=7.3-preview
  response:
    body:
      string: ''
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency: '0'
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestkey0a6701239/create?api-version=7.3-preview
- request:
    body: '{"kty": "RSA-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey0a6701239/create?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1625597910,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625597910},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey0a6701239/48e33d983acb48159335d78d798ccf85","kty":"RSA-HSM","n":"ovFPyoXAsj5uWUrCQ9AW85e4ypN87O64_0bDBJgceQW6etNoZVOlS4_ySx_jPEAwbrW2Ew8Ea4VAiQvUwUz0qzhlQFRC46rp6vNn8uS_l-MZXNVVu0-Fx78BZtRSlCUYTu6o3_ecAOk7xBXg0jMlN3yCva4A6-us1rjAyKy_Lr1Z6B2FvL40JTLVo2mzDrWhMeVJFSpz41S9-DOGE89L9fUqQynDLqRDHkMvqHX8yC742uxPxhBBYNfUDzPPAVw1H7Isno-7MpQWP6GhmuNAcRWrTWsmY5gvWeV7sBRwCmC5I_XdXgasdFvKBfs-MDh3KMcQuP-9lWaqsO3i3P2uTQ"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '224'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestkey0a6701239/create?api-version=7.3-preview
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey0a6701239?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1625597910,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625597910},"deletedDate":1625597924,"key":{"e":"AQAB","key_ops":["wrapKey","encrypt","decrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey0a6701239/48e33d983acb48159335d78d798ccf85","kty":"RSA-HSM","n":"ovFPyoXAsj5uWUrCQ9AW85e4ypN87O64_0bDBJgceQW6etNoZVOlS4_ySx_jPEAwbrW2Ew8Ea4VAiQvUwUz0qzhlQFRC46rp6vNn8uS_l-MZXNVVu0-Fx78BZtRSlCUYTu6o3_ecAOk7xBXg0jMlN3yCva4A6-us1rjAyKy_Lr1Z6B2FvL40JTLVo2mzDrWhMeVJFSpz41S9-DOGE89L9fUqQynDLqRDHkMvqHX8yC742uxPxhBBYNfUDzPPAVw1H7Isno-7MpQWP6GhmuNAcRWrTWsmY5gvWeV7sBRwCmC5I_XdXgasdFvKBfs-MDh3KMcQuP-9lWaqsO3i3P2uTQ"},"recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey0a6701239","scheduledPurgeDate":1633373924}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '207'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestkey0a6701239?api-version=7.3-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey0a6701239?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1625597910,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625597910},"deletedDate":1625597924,"key":{"e":"AQAB","key_ops":["verify","sign","unwrapKey","encrypt","decrypt","wrapKey"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey0a6701239/48e33d983acb48159335d78d798ccf85","kty":"RSA-HSM","n":"ovFPyoXAsj5uWUrCQ9AW85e4ypN87O64_0bDBJgceQW6etNoZVOlS4_ySx_jPEAwbrW2Ew8Ea4VAiQvUwUz0qzhlQFRC46rp6vNn8uS_l-MZXNVVu0-Fx78BZtRSlCUYTu6o3_ecAOk7xBXg0jMlN3yCva4A6-us1rjAyKy_Lr1Z6B2FvL40JTLVo2mzDrWhMeVJFSpz41S9-DOGE89L9fUqQynDLqRDHkMvqHX8yC742uxPxhBBYNfUDzPPAVw1H7Isno-7MpQWP6GhmuNAcRWrTWsmY5gvWeV7sBRwCmC5I_XdXgasdFvKBfs-MDh3KMcQuP-9lWaqsO3i3P2uTQ"},"recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey0a6701239","scheduledPurgeDate":1633373924}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20210605-1-ffd80f31-develop
      x-ms-server-latency: '38'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/deletedkeys/livekvtestkey0a6701239?api-version=7.3-preview
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey0a6701239/recover?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1625597910,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625597910},"key":{"e":"AQAB","key_ops":["verify","sign","unwrapKey","decrypt","encrypt","wrapKey"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey0a6701239/48e33d983acb48159335d78d798ccf85","kty":"RSA-HSM","n":"ovFPyoXAsj5uWUrCQ9AW85e4ypN87O64_0bDBJgceQW6etNoZVOlS4_ySx_jPEAwbrW2Ew8Ea4VAiQvUwUz0qzhlQFRC46rp6vNn8uS_l-MZXNVVu0-Fx78BZtRSlCUYTu6o3_ecAOk7xBXg0jMlN3yCva4A6-us1rjAyKy_Lr1Z6B2FvL40JTLVo2mzDrWhMeVJFSpz41S9-DOGE89L9fUqQynDLqRDHkMvqHX8yC742uxPxhBBYNfUDzPPAVw1H7Isno-7MpQWP6GhmuNAcRWrTWsmY5gvWeV7sBRwCmC5I_XdXgasdFvKBfs-MDh3KMcQuP-9lWaqsO3i3P2uTQ"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '135'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/deletedkeys/livekvtestkey0a6701239/recover?api-version=7.3-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey0a6701239/?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1625597910,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625597910},"key":{"e":"AQAB","key_ops":["verify","sign","unwrapKey","decrypt","encrypt","wrapKey"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey0a6701239/48e33d983acb48159335d78d798ccf85","kty":"RSA-HSM","n":"ovFPyoXAsj5uWUrCQ9AW85e4ypN87O64_0bDBJgceQW6etNoZVOlS4_ySx_jPEAwbrW2Ew8Ea4VAiQvUwUz0qzhlQFRC46rp6vNn8uS_l-MZXNVVu0-Fx78BZtRSlCUYTu6o3_ecAOk7xBXg0jMlN3yCva4A6-us1rjAyKy_Lr1Z6B2FvL40JTLVo2mzDrWhMeVJFSpz41S9-DOGE89L9fUqQynDLqRDHkMvqHX8yC742uxPxhBBYNfUDzPPAVw1H7Isno-7MpQWP6GhmuNAcRWrTWsmY5gvWeV7sBRwCmC5I_XdXgasdFvKBfs-MDh3KMcQuP-9lWaqsO3i3P2uTQ"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20210605-1-ffd80f31-develop
      x-ms-server-latency: '0'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestkey0a6701239/?api-version=7.3-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey6a6701239/?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1625597923,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625597923},"key":{"e":"AQAB","key_ops":["verify","sign","unwrapKey","decrypt","encrypt","wrapKey"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey6a6701239/92e73513fe6e4f45357eee2a9071364b","kty":"RSA-HSM","n":"2VgEyicYXNVlJanS8k4y1uNvrGsVW6xuNXflnmersyHutazzc1afRDKu7hppPLcHbD74bTBdcCAIn94TeGSE3ZiWa-z29CakeK8k5jtA-qJeMt5N-uCP944gvbXexbTs3Soje-VA5HDnH78efaKjNQgMeSt_rrE_qLwxnmZbdgjDt1WBC2vQVlYi0jiM8rcntjPxec3BqfnEPiDl2bqGTWcw1R1duVxBrrxg0_Po-woOOqsD69AvwO7pGy_aPgI4hs5Cc_XpBemA8j2z5K1unI3p8fZT-zbG7Y7ORYogXrVqN9COkvBZ1Y0ZUlvPIEg-f3kTXB3hixsrxsa4isUbWQ"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20210605-1-ffd80f31-develop
      x-ms-server-latency: '0'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestkey6a6701239/?api-version=7.3-preview
version: 1
