interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc730c90fa1.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc730c90fa1.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc730c90fa1.vault.azure.net/keys/key0/f494714d23454fbbb80b01ca3e7b4df3","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"7r8d6UAp-2-_aR6AYc85e9PutqxA2SUrEk8hbNx72UL8Bv0NoF2XwCpB2rPX2BuPv9exhGYxRK_6Ya2p14nJsjq4WaSzPUgF5sdyqGM7ZqIArhDyW6DTbmjyZl_9Uie9pnDifNxurLuQf8LQARCXUaiXEMMDpZ6ccf2kRCmhjROoGA9TF5rg9ljvt-JMv5iPkxbTr5a8dIEvBlVJrA08nEBZKhBrwVjgTqqgWxNtMjtA3ytXBlDo9TT9dtPh3CvJmtajFZJDzjOFcxEhAaoRIpmtWdKz196KbybRKCTrLWcFjHI2mnCMYS6oPRWhnc82aeJY7zFMqYCWW1d_vZuROw","e":"AQAB"},"attributes":{"enabled":true,"created":1572477696,"updated":1572477696,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault458ad70cc730c90fa1.vault.azure.net/keys/key0?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault458ad70cc730c90fa1.vault.azure.net/deletedkeys/key0","deletedDate":1572477697,"scheduledPurgeDate":1580253697,"key":{"kid":"https://vault458ad70cc730c90fa1.vault.azure.net/keys/key0/f494714d23454fbbb80b01ca3e7b4df3","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"7r8d6UAp-2-_aR6AYc85e9PutqxA2SUrEk8hbNx72UL8Bv0NoF2XwCpB2rPX2BuPv9exhGYxRK_6Ya2p14nJsjq4WaSzPUgF5sdyqGM7ZqIArhDyW6DTbmjyZl_9Uie9pnDifNxurLuQf8LQARCXUaiXEMMDpZ6ccf2kRCmhjROoGA9TF5rg9ljvt-JMv5iPkxbTr5a8dIEvBlVJrA08nEBZKhBrwVjgTqqgWxNtMjtA3ytXBlDo9TT9dtPh3CvJmtajFZJDzjOFcxEhAaoRIpmtWdKz196KbybRKCTrLWcFjHI2mnCMYS6oPRWhnc82aeJY7zFMqYCWW1d_vZuROw","e":"AQAB"},"attributes":{"enabled":true,"created":1572477696,"updated":1572477696,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc730c90fa1.vault.azure.net/deletedkeys/key0?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: key0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc730c90fa1.vault.azure.net/deletedkeys?api-version=7.0
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vault458ad70cc730c90fa1.vault.azure.net/deletedkeys/key0","deletedDate":1572477697,"scheduledPurgeDate":1580253697,"kid":"https://vault458ad70cc730c90fa1.vault.azure.net/keys/key0","attributes":{"enabled":true,"created":1572477696,"updated":1572477696,"recoveryLevel":"Recoverable+Purgeable"}},{"recoveryId":"https://vault458ad70cc730c90fa1.vault.azure.net/deletedkeys/key1","deletedDate":1572477724,"scheduledPurgeDate":1580253724,"kid":"https://vault458ad70cc730c90fa1.vault[...]
[...]
