{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestkey0b5c228a2/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestkey0b5c228a2/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "354"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1650662128,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1650662128
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "sign",
            "verify",
            "encrypt",
            "decrypt",
            "unwrapKey"
          ],
          "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestkey0b5c228a2/2c0b1731348f42c38c49b13becea6af8",
          "kty": "RSA-HSM",
          "n": "iUFymuQPArQUC22z5cmXcxnEIwQPDwxbYlhXD0qyg7FR_gzAyyqvqGZMjlnjGGbWvVRrfkNHlNza6xPEeNmyrqiKI6VNfXvSs4mL3UypjOVU33HD76g1q4FV97sWAYel7vWr4wb6iXbA6418-L6jnAUx4WSgFtGJTcA1jVy4tgxPvNJy6FRPX06S4ZErpwnDlEz8l27HFxnqJQ90J7kGabNo6niih4LQt24TnnTa3a4bXh5oSJoQZhU1vXGL5zmRV8UwfOhI84f1PJUqovr9HYXuR2xgYr1VXSvJgKB9mdbOH8Xem6bTLZaekCCOw9kE1Q7buYKjbxk9I909nQZ19w"
        }
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-latency": "34"
      },
      "ResponseBody": {
        "nextLink": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2tSQUFBQUFBQUFBQT09I1JUOjEjVFJDOjYjSVNWOjIjSUVPOjY1NTY3",
        "value": [
          {
            "attributes": {
              "created": 1650643982,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "updated": 1650643982
            },
            "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestmultitenant-key1ab83264"
          },
          {
            "attributes": {
              "created": 1650644576,
  [...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2tSQUFBQUFBQUFBQT09I1JUOjEjVFJDOjYjSVNWOjIjSUVPOjY1NTY3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-la[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2tkQUFBQUFBQUFBQT09I1JUOjIjVFJDOjEyI0lTVjoyI0lFTzo2NTU2Nw",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2twQUFBQUFBQUFBQT09I1JUOjMjVFJDOjE4I0lTVjoyI0lFTzo2NTU2Nw",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2sxQUFBQUFBQUFBQT09I1JUOjQjVFJDOjI0I0lTVjoyI0lFTzo2NTU2Nw",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2xCQUFBQUFBQUFBQT09I1JUOjUjVFJDOjMwI0lTVjoyI0lFTzo2NTU2Nw",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2xOQUFBQUFBQUFBQT09I1JUOjYjVFJDOjM2I0lTVjoyI0lFTzo2NTU2Nw",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2xaQUFBQUFBQUFBQT09I1JUOjcjVFJDOjQyI0lTVjoyI0lFTzo2NTU2Nw",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2xsQUFBQUFBQUFBQT09I1JUOjgjVFJDOjQ4I0lTVjoyI0lFTzo2NTU2Nw",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2x4QUFBQUFBQUFBQT09I1JUOjkjVFJDOjU0I0lTVjoyI0lFTzo2NTU2Nw",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-latency": "30"
      },
      "ResponseBody": {
        "nextLink": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2w5QUFBQUFBQUFBQT09I1JUOjEwI1RSQzo2MCNJU1Y6MiNJRU86NjU1Njc",
        "value": [
          {
            "attributes": {
              "created": 1650642623,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "updated": 1650642623
            },
            "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestec-verify-P-5215f9630e9"
          },
          {
            "attributes": {
              "created": 1650642627,
              "enabled": true,
              "exportable": false,
              "nbf": 32503680000,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "updated": 1650642627
            },
            "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestrsa-not-yet-valid3a5634ad"
          },
          {
            "attributes": {
              "created": 1650642629,
              "enabled": true,
              "exp": 946684800,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "updated": 1650642629
            },
            "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestrsa-expired3a5634ad"
          },
          {
            "attributes": {
              "created": 1650642632,
              "enabled": true,
              "exp": 32535216000,
              "exportable": false,
     [...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2w5QUFBQUFBQUFBQT09I1JUOjEwI1RSQzo2MCNJU1Y6MiNJRU86NjU1Njc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS21MQUFBQUFBQUFBQT09I1JUOjExI1RSQzo2NiNJU1Y6MiNJRU86NjU1Njc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS21aQUFBQUFBQUFBQT09I1JUOjEyI1RSQzo3MiNJU1Y6MiNJRU86NjU1Njc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS21sQUFBQUFBQUFBQT09I1JUOjEzI1RSQzo3OCNJU1Y6MiNJRU86NjU1Njc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS214QUFBQUFBQUFBQT09I1JUOjE0I1RSQzo4NCNJU1Y6MiNJRU86NjU1Njc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS25sQUFBQUFBQUFBQT09I1JUOjE1I1RSQzo5MCNJU1Y6MiNJRU86NjU1Njc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS254QUFBQUFBQUFBQT09I1JUOjE2I1RSQzo5NiNJU1Y6MiNJRU86NjU1Njc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2taQVFBQUFBQUFBQT09I1JUOjE3I1RSQzoxMDIjSVNWOjIjSUVPOjY1NTY3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-serve[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2tsQVFBQUFBQUFBQT09I1JUOjE4I1RSQzoxMDgjSVNWOjIjSUVPOjY1NTY3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-serve[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2s2QVFBQUFBQUFBQT09I1JUOjE5I1RSQzoxMTQjSVNWOjIjSUVPOjY1NTY3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-serve[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2xVQVFBQUFBQUFBQT09I1JUOjIwI1RSQzoxMjAjSVNWOjIjSUVPOjY1NTY3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-serve[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2xpQVFBQUFBQUFBQT09I1JUOjIxI1RSQzoxMjYjSVNWOjIjSUVPOjY1NTY3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-serve[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2x1QVFBQUFBQUFBQT09I1JUOjIyI1RSQzoxMzIjSVNWOjIjSUVPOjY1NTY3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-serve[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2w2QVFBQUFBQUFBQT09I1JUOjIzI1RSQzoxMzgjSVNWOjIjSUVPOjY1NTY3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-serve[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS21HQVFBQUFBQUFBQT09I1JUOjI0I1RSQzoxNDQjSVNWOjIjSUVPOjY1NTY3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-serve[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS21TQVFBQUFBQUFBQT09I1JUOjI1I1RSQzoxNTAjSVNWOjIjSUVPOjY1NTY3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-serve[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS21lQVFBQUFBQUFBQT09I1JUOjI2I1RSQzoxNTYjSVNWOjIjSUVPOjY1NTY3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-serve[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS21xQVFBQUFBQUFBQT09I1JUOjI3I1RSQzoxNjIjSVNWOjIjSUVPOjY1NTY3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-serve[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS20yQVFBQUFBQUFBQT09I1JUOjI4I1RSQzoxNjgjSVNWOjIjSUVPOjY1NTY3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-serve[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS25DQVFBQUFBQUFBQT09I1JUOjI5I1RSQzoxNzQjSVNWOjIjSUVPOjY1NTY3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-serve[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS25PQVFBQUFBQUFBQT09I1JUOjMwI1RSQzoxODAjSVNWOjIjSUVPOjY1NTY3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-serve[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS25hQVFBQUFBQUFBQT09I1JUOjMxI1RSQzoxODYjSVNWOjIjSUVPOjY1NTY3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-serve[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS25vQVFBQUFBQUFBQT09I1JUOjMyI1RSQzoxOTIjSVNWOjIjSUVPOjY1NTY3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-serve[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS24rQVFBQUFBQUFBQT09I1JUOjMzI1RSQzoxOTgjSVNWOjIjSUVPOjY1NTY3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-serve[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2tLQWdBQUFBQUFBQT09I1JUOjM0I1RSQzoyMDQjSVNWOjIjSUVPOjY1NTY3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-serve[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2srQWdBQUFBQUFBQT09I1JUOjM1I1RSQzoyMTAjSVNWOjIjSUVPOjY1NTY3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-serve[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2xLQWdBQUFBQUFBQT09I1JUOjM2I1RSQzoyMTYjSVNWOjIjSUVPOjY1NTY3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-serve[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys?maxresults=6\u0026api-version=7.3\u0026$skiptoken=K1JJRDp-U0pkekFLQnROS2xXQWdBQUFBQUFBQT09I1JUOjM3I1RSQzoyMjIjSVNWOjIjSUVPOjY1NTY3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-latency": "26"
      },
      "ResponseBody": {
        "value": [
          {
            "attributes": {
              "created": 1650661803,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "updated": 1650661803
            },
            "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestkey68b4d2833"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
