interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault458ad70cc720a00f12.vault.azure.net/keys/rsa-key-name/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"kty": "RSA", "key_size": 2048}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault458ad70cc720a00f12.vault.azure.net/keys/rsa-key-name/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault458ad70cc720a00f12.vault.azure.net/keys/rsa-key-name/0e3de52fc8e147b5a2fe94e239d867c0","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"uOhTmCC3pFNDlWz46kjKJtHCvmRP-pB5bNyHnInBuKCmHl3r7WHyn89kh6c0NCc_wY4D8cTQwXrHtXhSuuvEa6Sq6fQc0pbPozdAdu_UnvPMa6YqkMHks_bsAZzs44xYsRu9QxKh4nA3Fx_1l5oQXCHecaFX3fcos6jjXo0ng-q1wOZc84ppao4vfvhPkO2xcaC4Gu-8eArX0UjAl81QWxGtrWtyOyCDJxNpvLK616oX31-QRuiV38sC332iNCXeojZH28VvX3VRxhkc0n2tDJWYdQ9RbGgF-DaBp6HNEExW0sX_a9UcR5FPUd5EQiABaIXzIG64WVur-uqA7hGbOQ","e":"AQAB"},"attributes":{"enabled":true,"created":1571868059,"updated":1571868059,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
