interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestmultitenant-keyb0981a48/create?api-version=2016-10-01
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestmultitenant-keyb0981a48/create?api-version=2016-10-01
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestmultitenant-keyb0981a48/bae76c028ea04c418ae65eb4fba413d9","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zHqAr-igexm9D4a2srndcV63YRVBwhPer10mM2fusbb4PNLK1RWHWD_kot6GKVA1WX-NeuODula1UpM7-dOtQS-Qrv4W15_EHebyZZ3YcXIK-mCFTsYGFGLvvM5pOn6GK_qoEont-voDm0-Q0LYmRv1TYi1ScSm3Ib1tQtw4Thvz-2QWF_jeHwuDk2GbbTa4iGq5WI6zin-Oj3OzlW3QQYd7eeFru_K0dCLumaaC_L_Eu-lKfXQydbylXFKIWRBHVIsxxKogOgzTfCA-yFiCd_Opns8ixkiYHHvaXICbJo1hkl0T0LiHnniJFJokf9rIeb2_yUFtv81YP1dOsLChNQ","e":"AQAB"},"attributes":{"enabled":true,"created":1634332151,"updated":1634332151,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
