interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name914d1aef/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestkey-name914d1aef/create?api-version=7.1
- request:
    body: '{"attributes": {"exp": 2527401600}, "kty": "RSA", "key_size": 2048, "key_ops":
      ["encrypt", "decrypt", "sign", "verify", "wrapKey", "unwrapKey"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name914d1aef/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name914d1aef/a21a1c39b3e94df1a66e56b3500218ae","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"2qqZ6wzBbmIFj4ufs8toQBtdNnkfn054FzW-l9t8HWmD9FUgzxyswhD94zW-9deJBNzUiyubj-J_jwmtTX-ywrjwcQbH5nhCOxPRtENW_zplAvibpTue6rCzoQ2oOjUvImXQQ5kPDoeCjNRKRuT6wLxXwAF7C2DnfIsnvrJPVa3WNCAvn40h-yFSpTgXRKjN8zcxPrGQOndXp5k2Iwvd4krBJtJGvMXjQ07kXRVrRAMaGt2D6Nntv3rpzOG-hewXbVvrR4CokDwqCz41cfVCTSFxHUOqgIKev28aLA7H-owSoXRzSU7Le2D_-1ZlO8HAHJb_HRBtaN8hgR9depJQCQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2527401600,"created":1619057884,"updated":1619057884,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestkey-name914d1aef/create?api-version=7.1
[...]
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name914d1aef/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name914d1aef/fdf0a3f658f74c72a97b08e0be353b40","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"bWWAg0aMo1J06_SLDKyOClVsKwlqosHuXkpy78yKgLA","y":"jYJdxRBsGNj69uGJhdgVUvnSBI0Hc6yZwF0Q3UkCVZ0"},"attributes":{"enabled":true,"created":1619057885,"updated":1619057885,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestkey-name914d1aef/create?api-version=7.1
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name914d1aef/?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name914d1aef/fdf0a3f658f74c72a97b08e0be353b40","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"bWWAg0aMo1J06_SLDKyOClVsKwlqosHuXkpy78yKgLA","y":"jYJdxRBsGNj69uGJhdgVUvnSBI0Hc6yZwF0Q3UkCVZ0"},"attributes":{"enabled":true,"created":1619057885,"updated":1619057885,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestkey-name914d1aef/?api-version=7.1
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name914d1aef/fdf0a3f658f74c72a97b08e0be353b40?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name914d1aef/fdf0a3f658f74c72a97b08e0be353b40","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"bWWAg0aMo1J06_SLDKyOClVsKwlqosHuXkpy78yKgLA","y":"jYJdxRBsGNj69uGJhdgVUvnSBI0Hc6yZwF0Q3UkCVZ0"},"attributes":{"enabled":true,"created":1619057885,"updated":1619057885,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestkey-name914d1aef/fdf0a3f658f74c72a97b08e0be353b40?api-version=7.1
- request:
    body: '{"attributes": {"exp": 2524723200}, "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name914d1aef/?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name914d1aef/fdf0a3f658f74c72a97b08e0be353b40","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"bWWAg0aMo1J06_SLDKyOClVsKwlqosHuXkpy78yKgLA","y":"jYJdxRBsGNj69uGJhdgVUvnSBI0Hc6yZwF0Q3UkCVZ0"},"attributes":{"enabled":true,"exp":2524723200,"created":1619057885,"updated":1619057886,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestkey-name914d1aef/?api-version=7.1
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name914d1aef?api-version=7.1
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name914d1aef","deletedDate":1619057886,"scheduledPurgeDate":1626833886,"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name914d1aef/fdf0a3f658f74c72a97b08e0be353b40","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"bWWAg0aMo1J06_SLDKyOClVsKwlqosHuXkpy78yKgLA","y":"jYJdxRBsGNj69uGJhdgVUvnSBI0Hc6yZwF0Q3UkCVZ0"},"attributes":{"enabled":true,"exp":2524723200,"created":1619057885,"updated":1619057886,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestkey-name914d1aef?api-version=7.1
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name914d1aef?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: livekvtestkey-name914d1aef"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://mcpatinokv.vault.azure.net/deletedkeys/livekvtestkey-name914d1aef?api-version=7.1
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name914d1aef?api-version=7.1
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name914d1aef","deletedDate":1619057886,"scheduledPurgeDate":1626833886,"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name914d1aef/fdf0a3f658f74c72a97b08e0be353b40","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"bWWAg0aMo1J06_SLDKyOClVsKwlqosHuXkpy78yKgLA","y":"jYJdxRBsGNj69uGJhdgVUvnSBI0Hc6yZwF0Q3UkCVZ0"},"attributes":{"enabled":true,"exp":2524723200,"created":1619057885,"updated":1619057886,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinokv.vault.azure.net/deletedkeys/livekvtestkey-name914d1aef?api-version=7.1
version: 1
