{
  "Entries": [
    {
      "RequestUri": "00000000-0000-0000-0000-000000000000keys/livekvtestencrypt-localff073032/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "00000000-0000-0000-0000-000000000000keys/livekvtestencrypt-localff073032/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 4096
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "284"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1650292028,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1650292028
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "00000000-0000-0000-0000-000000000000keys/livekvtestencrypt-localff073032/84dde5b97ca6059d264771ef73325df3",
          "kty": "RSA-HSM",
          "n": "mk-D0JOYyzytQJsLqBOL2kM8ihFNLOsJNlEU2eukm0Aq__PNol01k3_B9x-dsT-a8q7fgKbdc2-b9VlrvDLJLqooRwJKZPgGlAwE8HDkoHlXEdyHd_x6nuqbgeY0tHWse0U8ZgOsy6OF6-JwfL2OpXVlh4M-yhID8OVHTJ6Qlg4zzWjrMwJdHjiI8XMJzW8IqLjOkjb8k_9Z1qKDJO904sLS6wKXOPdMh_-2hhxp6PGjOKyo-Fid5dRItgjT2H6rEwwodn5G6cfij2jHwoTtR5BolsauzKVxOXKntpz8-0GYupgKXI-tcVe1i6l4VJ3Dfp8N04BFQk4ZBJlk53dDqCfqk9C3VpvguDNHatYpWvBn9XWEReivMm3r1RJwoVDgPJUnPPavQ7gQUBM6nls06AQ-LIGQ36qpwi-iKoHIRxAMBLodkWJ0_aybrxNq9ZnSQxrgtA6ri2dl9X_1jWBOFOF3Lq8zvKTLnp6e69PMkNZzMHSJG_lUJzU2bgA_fJL9X_Cbz7CJbi9u5o1VxjlqKvOUlJWH_Y7ZHE94h8r6LQwnYFmPv_8fXedzWyATVF-sUTniP9tO2XpYVe8hr2zrn0fEBnufjXqEfKxsrPVsxq5g46K9mL5vq5bOuAxzBpuPvqhjrNFP0BJo-_T-jy6cYqaYaTB7n1qH11GhlkMblW0"
        }
      }
    },
[...]
    {
      "RequestUri": "00000000-0000-0000-0000-000000000000keys/livekvtestencrypt-localff073032/84dde5b97ca6059d264771ef73325df3/decrypt?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "IeWxpTgyvj7ft0p3zeF_yQlFkqMETYPy4CeudVpOFE6lJSFoKfJhI6UDxoB186-q2rdBvY1xAU7uVPV19l-1JQxwXqx4rXgdIjyCk10UwBYwEnLZ51vnU3EfjptgRiZstsn-oEcsPrj_DMotPPtxOJ125lM6mL-mWM6LnuuMH_2ZgN3ykYmM0WmknLoBP_4UxLNWmR0DqXbNZLmqgMyQP1wy7SA68vMLMuxiZVnje0NT580MhDbQ2rx-qAaX7lsJqKm8Atj6BmZODIzszihqDcQwzB5G_AMeFn8FbR-kAE-ynHVFvtOXvEq_qSyeAwGJQdEzsNgbCaOsaj5Fg8wm_7bYbd7yjWrwqxZtc7lGPQrKc8_rSOgx8HjTC8QpWrhkNVeoeNgvbrmX69XZjKC9PLX4U5ToMUcshfTkZVZaeODJuofjznu6T-Tndp3ud5MsO7qT40_sl0rFLy6yZ-HXilVpx2tKlFEv_hl83IS6tZ1WMKxDKvFDnNlHafrObXM4DR456KypUFgKP3U3sg-5UNM-2LRfwHS1uHt5bg_80tvEnTPldDH9UcOkP0Ze2Er5JaLd_B48xcXX6qp8fPQw154bdVkh_6l2CUMhr5ylPnC4IoqcJRTqpKubIbCQxe9YV2cKaIm39-Er72Zn45TXWQqnioiivo6iqzcUTC9KiDw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "135"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "00000000-0000-0000-0000-000000000000keys/livekvtestencrypt-localff073032/84dde5b97ca6059d264771ef73325df3",
        "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"
      }
    },
[...]
