interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc725cf0f71.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc725cf0f71.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc725cf0f71.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/de750d51b2c3433ebf71cf0f354b2032","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"rre2TGXpZAXOaQEIHTjBl2Zos7k2LljhITdbMnvj6foS3etifEQXpqA_BI5J0t8Bptst-3j1qMeTbcYdGRhu0CjgPwbpCTfnRa-f8-66OC74ltwAfysVF5f82-hvMwgQxwUackJmx1sZRTyO-_gazfHCXvXDeFDUcB3Ku6v_lTjgun7KypkAYTS0sSveLyOXQbcsiwa8S0-7CtQkuxz2Q_qRQD95YTQJIhPzCEbA49-kG4ga5Hv3uENeC2YmiVPdKvRwnkKvK1Bh5FtLWQGCImHOx5cn0273kkL0TcDekZCA36d1Fb-vcF7wmMUbZxfTihc2WlJIdnRHNKH3088QpQ","e":"AQAB"},"attributes":{"enabled":true,"created":1572477621,"updated":1572477621,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "RS256", "value": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc725cf0f71.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/de750d51b2c3433ebf71cf0f354b2032/sign?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vault458ad70cc725cf0f71.vault.azure.net/keys/crypto-test-wrapping-key25cf0f71/de750d51b2c3433ebf71cf0f354b2032","value":"E83OWVJJaDk2UHZQuy7IgK74U7J-95RuAdSSQbyPn-JhRC95gr4AYo3jiaJmZxdTd61aV7ZWZR2Y-tjdRosfGWFrRh3GCdIHaeiQwCEVc7Up1h8s_XayEudrotRhIhps4bj3faYsyTqvm-u_xBXpBEkxR5ZyTfTAeo-mf1zsV1V1R1dPXGkBMQBI9VbAYDmfaTc0NJ28m4tG7Llg9mvGfdTG3w24ZmiMqUQWA2ui5wIPmFDTI3jaWeNems0fazNKO1ZpbX1jezyock2e7tBfdOmjmsVfxRLmCgH-fzx9nheTGtjcNJcXE7LIclRXA-xIfyg83dBU2j4g3j3gvXigRQ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
