interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault8bf41593ca110414cf.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"kty": "EC"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault8bf41593ca110414cf.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault8bf41593ca110414cf.vault.azure.net/keys/key0/9eb745ea23b94ac4a97fd6c7ed8fba91","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"BNsgMqimzJReqW5O1T7pJyBQgi1ZG8dCdmGFUQOWRGA","y":"sYpig-UgDpFkJeDVSiP2zhk3mE1VtYhXhOOR8ebfMKk"},"attributes":{"enabled":true,"created":1570213253,"updated":1570213253,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault8bf41593ca110414cf.vault.azure.net/keys?api-version=7.0
  response:
    body: {string: '{"value":[{"kid":"https://vault8bf41593ca110414cf.vault.azure.net/keys/key0","attributes":{"enabled":true,"created":1570213253,"updated":1570213253,"recoveryLevel":"Recoverable+Purgeable"}},{"kid":"https://vault8bf41593ca110414cf.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1570213254,"updated":1570213254,"recoveryLevel":"Recoverable+Purgeable"}},{"kid":"https://vault8bf41593ca110414cf.vault.azure.net/keys/key2","attributes":{"enabled":true,"created":1570213254,"updated":1570213254,"recoveryLevel":"Recoverable+Purgeable"}},{"kid":"https://vault8bf41593ca110414cf.vault.azure.net/keys/key3","attributes":{"enabled":true,"created":1570213254,"updated":1570213254,"recoveryLevel":"Recoverable+Purgeable"}}],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vault8bf41593ca110414cf.vault.azure.net/keys/key-name/versions?api-version=7.0
  response:
    body: {string: '{"value":[],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vault8bf41593ca110414cf.vault.azure.net/deletedkeys?api-version=7.0
  response:
    body: {string: '{"value":[],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
