interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault110414cf.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body:
      string: !!python/unicode 
    headers:
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: !!python/unicode '{"kty": "EC"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault110414cf.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body:
      string: !!python/unicode '{"key":{"kid":"https://vault110414cf.vault.azure.net/keys/key0/10626e164829440bba85550b588d606f","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"yim1XhkhZcRgfvVFvnh3_L13MfFY6JajfITmunU4q5A","y":"y2MsJCUZwp0tXYrHbSEdmd1IVZrdb9ceWHS9ddmmTUM"},"attributes":{"enabled":true,"created":1562703752,"updated":1562703752,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault110414cf.vault.azure.net/keys?api-version=7.0
  response:
    body:
      string: !!python/unicode '{"value":[{"kid":"https://vault110414cf.vault.azure.net/keys/key0","attributes":{"enabled":true,"created":1562703753,"updated":1562703753,"recoveryLevel":"Recoverable+Purgeable"}},{"kid":"https://vault110414cf.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1562703753,"updated":1562703753,"recoveryLevel":"Recoverable+Purgeable"}},{"kid":"https://vault110414cf.vault.azure.net/keys/key2","attributes":{"enabled":true,"created":1562703754,"updated":1562703754,"recoveryLevel":"Recoverable+Purgeable"}},{"kid":"https://vault110414cf.vault.azure.net/keys/key3","attributes":{"enabled":true,"created":1562703754,"updated":1562703754,"recoveryLevel":"Recoverable+Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault110414cf.vault.azure.net/keys/key-name/versions?api-version=7.0
  response:
    body:
      string: !!python/unicode '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault110414cf.vault.azure.net/deletedkeys?api-version=7.0
  response:
    body:
      string: !!python/unicode '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
