{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestrsa-verify-20483f13027/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestrsa-verify-20483f13027/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "271"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1650657652,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1650657652
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestrsa-verify-20483f13027/cad07b7f782d0d27b36a093f4a456831",
          "kty": "RSA-HSM",
          "n": "rO2RfGwbiXUMVmpTukm-Gvd2jo71LjMFhYexa_ML7ZgQRP0keysYK-45JwgIqcyHBAc4RL3rEGKn-95m879AxCscq4vwxtJmuX4yhGI-N8QMmuAbj1YQndcb5AgMQJ_oXY5C0_RFWYpHEKa6hT1B_I5fZQFPTyJkq3BwFIKi7iyLkh3-TBdWDOXJ4vsXBrZ_eZ1b7GDsgPBgXEdu4NA4WzTPAFRrv3RMDcmKoj780Eq6E_81Pgs1kqsOSaaePvqTbqZVab0CpJPG5a8IVydKlJvU-sPQfW17TItREciS-aI7-EdFwVnSkEwauSY-wKh3NQohzdIrqj9WOMfQQmLorQ"
        }
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestrsa-verify-20483f13027/cad07b7f782d0d27b36a093f4a456831/sign?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "110"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestrsa-verify-20483f13027/cad07b7f782d0d27b36a093f4a456831",
        "value": "lSDW-2RTwb0zAGSm6OmkYI-p9saDw11IKZs3hfbJQ_zgPJrfWqFaznj6WdKTogU0mLb8a_aVzH0eJxbV2Pna4cZkdXhIE7MLaSeYEskfUX0idUTRdAH2Suge2hl9v3foeJLtIMEQgvkgaykrVCxFgLN0bkTkSPrNyIZJYdDy15nQQmazRbAGqNeAli83ssUtE9S6hwwkhcUx8-5fU9aSUhp-_oQ0TLZKVv5CSa2qXnDmlBVQ9n_jv1ahGGCyDFZ77f1AlvQKyAlrbFsxCJTkowRA0c24h0TGVY-MYq5S5MobIywm8AUd2zuasq9luzK4GyFRZUeI77LibAUYdbiltA"
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestrsa-verify-40963f13027/41d1bf9cf68500af8cbc80a0dfe031e8/sign?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "13"
      },
      "ResponseBody": {
        "alg": "RS512",
        "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestrsa-verify-40963f13027/41d1bf9cf68500af8cbc80a0dfe031e8",
        "value": "XZsuj6FB3h3fAOLoVStommmb9RycVsrElK0WPiVvv4oR1agAabnI18gbzpBaY7wzCqh_kUh9XPOJhhw8-t8N6ssf2ZNgkiLre64nnSW6C5l4ZKOAv8mt2Hy4ow6e8tDHb1U6FlrhZleCnsHMJ2URq8mIACAL7y7rG2Oy3iPUev5QUGmvVhhDSg_f4dZeDtU79j3_lys3NK12b-rJ5Bs9SJjNHuOtH4TscHcM3MR5j4YFps3_NBAPez5XUvVcImglEv-6KGjOskHlq96tQaRRBBQNUFLuOwUGKRGX7rJpdsZtAMT2h-Zk7WqGTvb47DDTGCO_k1wNwf7XRl379lFe201HPd__rEZKOHYrPbI07MPopk1o8H_-rV2lu1AjktD9gFb07tlZ2xUTAklgO9sUn9mDJqjjZjPxNgjzyKYlg6ab1uTg5-9qTkarf75bk-WfXZJ1HIyLdcUezkVeSeFnQg9ZPxThQuV0BWkWAAEr8aRcim1GO409inV9vxLueTVAHV_nJIZgrcl_DTPG5AhILVO-I2sHIEttVudD5lza2loGRrjR9xDiY6EnwQpHb2lsWySFOCVAbit9lcCG-x7xdVYSIFGCBBhF_olDwoEDQrjgG8YlffxtPLqXDm7KfZZrNGTULIYMYhE3FD49AKYwoCjfPNwnMQLKNAvv8iCoLOw"
      }
    }
  ],
  "Variables": {}
}
