interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault56281625.vault.azure.net/keys/crypto-test-encrypt-key56281625/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault56281625.vault.azure.net
        - /keys/crypto-test-encrypt-key56281625/create
        - api-version=7.0
        - ''
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault56281625.vault.azure.net/keys/crypto-test-encrypt-key56281625/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault56281625.vault.azure.net/keys/crypto-test-encrypt-key56281625/a98723620a7c4127ac5bcbe7a1eccb8a","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"sogA005siH9ZQYLXiVX4hWLZex8uI0cYFSEoVy8iI8wBVi-KOKfe_B3Gq1lxZ95iWc2Pr8QWI3ERVwh9gve4EUgU0wgugXjxpCHd6KcD3rhvWapiaJnWH7oXSaKddWnf-E9igfB9uIjpNPV2G4xP0shcE9WGs-FexWcaHkgwtiIr1BF7ZinDV3dJfT-pgJVGx2waozG7uUPVCzZ9v-PdHqrzI9LEyiUpvOGRHkon-5vEyNbTgZRa18eXZCoDfmYog9AVttF3JUX_IGnCgBmoYJUVQsdtYnGu0WAS1wZyNBqUkVDQTVZNOInu6z2f1MitWIQCYFJfO7itbCP2zSo0TQ","e":"AQAB"},"attributes":{"enabled":true,"created":1565124144,"updated":1565124144,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault56281625.vault.azure.net
        - /keys/crypto-test-encrypt-key56281625/create
        - api-version=7.0
        - ''
- request:
    body: '{"value": "cGxhaW50ZXh0", "alg": "RSA-OAEP"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault56281625.vault.azure.net/keys/crypto-test-encrypt-key56281625/a98723620a7c4127ac5bcbe7a1eccb8a/encrypt?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vault56281625.vault.azure.net/keys/crypto-test-encrypt-key56281625/a98723620a7c4127ac5bcbe7a1eccb8a","value":"nD9896Hk90OUqgLy4rUvl3jT_0n2wsjmlJnNfPlo6SRjrWP-GLyYWHPqtnnX5jIUpX_-LJi4PXEtheT3XEnmrGp8XF7xrFp2RQGxMuizE1dzH8RgA_anBMxjdwxANUFFfTOFJPsymLtpyp5v1LvwUbyI_EsYP6LUIEasglbt8Z_jfj68oc85q2yML17zlzwNxC2Ex-whXA1UexK3E5fApPp_L8RxQQ4PSU0iHdm-aWMIQWLnuDJVbIKeQGn1Rm38tP4xbEAMBKEcmV0tRLjS1T2m59-m9A846KMqNN0-9IZOxivZ_DHZ6lUaDzzR2K7tTr2C0R_fXdP-xUOthauJtw"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault56281625.vault.azure.net
        - /keys/crypto-test-encrypt-key56281625/a98723620a7c4127ac5bcbe7a1eccb8a/encrypt
        - api-version=7.0
        - ''
- request:
    body: '{"value": "nD9896Hk90OUqgLy4rUvl3jT_0n2wsjmlJnNfPlo6SRjrWP-GLyYWHPqtnnX5jIUpX_-LJi4PXEtheT3XEnmrGp8XF7xrFp2RQGxMuizE1dzH8RgA_anBMxjdwxANUFFfTOFJPsymLtpyp5v1LvwUbyI_EsYP6LUIEasglbt8Z_jfj68oc85q2yML17zlzwNxC2Ex-whXA1UexK3E5fApPp_L8RxQQ4PSU0iHdm-aWMIQWLnuDJVbIKeQGn1Rm38tP4xbEAMBKEcmV0tRLjS1T2m59-m9A846KMqNN0-9IZOxivZ_DHZ6lUaDzzR2K7tTr2C0R_fXdP-xUOthauJtw",
      "alg": "RSA-OAEP"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault56281625.vault.azure.net/keys/crypto-test-encrypt-key56281625/a98723620a7c4127ac5bcbe7a1eccb8a/decrypt?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vault56281625.vault.azure.net/keys/crypto-test-encrypt-key56281625/a98723620a7c4127ac5bcbe7a1eccb8a","value":"cGxhaW50ZXh0"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault56281625.vault.azure.net
        - /keys/crypto-test-encrypt-key56281625/a98723620a7c4127ac5bcbe7a1eccb8a/decrypt
        - api-version=7.0
        - ''
version: 1
