interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keydec3181d/create?api-version=7.2
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keydec3181d/create?api-version=7.2
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keydec3181d/create?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keydec3181d/8fa314d85ccb4c529396efa8775517be","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"uNeHEbZaOIvmcrz_XePaAUY6ThosOs3M884KdRJWZrx4V3YaAM-ujWdbiQoBKYEO0zb05ZRXRdlfV8-WUBP82HVjuYqNPjGDbUbzyAPB7odXJyE2KRm_nYC88QvD8YTt3Wytvjb_r4_y54qegUv0Mbx4YTpf3T-0nXwwzIy3PoKbXu0DVeaFubgpWPsKpw2ch9PbRXmxKitxtriRBwMuxmKPh3vu08-avIg3jpRCMQ06ol9SV1ysbcTq8MzLt0y9jmwUv6YH76H6HCgI6IcMPCRkjpnoTmZSv6VD9zH6B069HKPt_OgTlYXzoMlmhf0-b2i50MjMWQwhEhb9UJCSZQ","e":"AQAB"},"attributes":{"enabled":true,"created":1620408361,"updated":1620408361,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keydec3181d/create?api-version=7.2
- request:
    body: '{"value": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw", "alg": "RS256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keydec3181d/8fa314d85ccb4c529396efa8775517be/sign?api-version=7.2
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keydec3181d/8fa314d85ccb4c529396efa8775517be","value":"YiYTB6vEim2H_La8yigRLeFMAekhz_KGWe1t-TlPBkA9J02N_ZNbMLWVdDlDp2L4KxaITkDsagCPHjnsYd9gN6Qq4x7HHf0dvt4qmI-jjLdNCoxcyrXaueizLsVwU_3R1gg3uNjZFqk628lR1MiSmeQ3Rgs31NTf5sBnNZI3O12SkHfPRXveKK0eIYKe-zv54RZimYC5JPwiajVoh_zNiOgIIeyLMJPnYrMHy_4asfo2MND7FYOcZO6ZGeeYfGiWSRw9QeJWoZY5T9g8ej1dSAyA7WfquDYViOs4WDhMekaw_CdoIDREaS9bnepBw8gHh4aq2GdqnIUWAPKfTaiDgg"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keydec3181d/8fa314d85ccb4c529396efa8775517be/sign?api-version=7.2
version: 1
