interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyffd4146b/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyffd4146b/create?api-version=7.1
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyffd4146b/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyffd4146b/846e1d376cd2463886230149b350b762","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"papZh8FSWThAQn6y9ItR2iHbfmoHzDuCQYnflEzGAt0hHWnEsLAyg7C81OPjGL04AE9oI3u-xoq77DC6YOLvjDm12OL4vuc7_Vk4yNRje2uc97Nu3YEpDAabZdJtzF99qlxl8TNEDeNIyJFeujeBw6IE5yxmGyS7x5nOcGiBp7j57K6laY9uTZmzBuiu6Zmy6rXmCeoJDt_qnUIrdEHo4y6La6h4j2F3VwwSB616HPUDUIFdFcmyh0iinm4wgDyiDlGkG_ggAgzOBr_TyJ02CwllNeeDlcC1dWkfa0g47uEjz3nOJNfY0qls7x3IVOxk1CNiw-RvG_Uc84FUd4sX-Q","e":"AQAB"},"attributes":{"enabled":true,"created":1612576326,"updated":1612576326,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyffd4146b/create?api-version=7.1
- request:
    body: '{"value": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw", "alg": "RS256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyffd4146b/846e1d376cd2463886230149b350b762/sign?api-version=7.1
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyffd4146b/846e1d376cd2463886230149b350b762","value":"bO3Z9-ChK33qmI41y17i1_u3082v_kTzoFcYwsMWstTeMMoJW0XJLvHwJ5FD5AVQroGvF1GVMRC4zT0SaNI8DnQ649Y7dmuI3ADYpbSDBzNzMEWi4OlEYlvCSfbnAgA8a8jusvvAQ_ou0jB3kQlYEUx196c9QmzinnyfjIS-O-nrn4kdt2TGeq5pktu_j4uU--Frb7HpEI8Izyz308rgD7rYpCGbrAQlpxEssDmwG-9hjjuZntUD1MaoPFF28vNp0hVJCliIxtx9WtofzVLY3PEOnXbsnq509z7zVHh_rzrMJ9uSfG1LP3mOYp32kYngsMhdM_wsA5KV5v_8T2uPaA"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyffd4146b/846e1d376cd2463886230149b350b762/sign?api-version=7.1
version: 1
