interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.netkeys/livekvtestrsakey56431083/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsakey56431083/create?api-version=7.1
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.netkeys/livekvtestrsakey56431083/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.netkeys/livekvtestrsakey56431083/231de71cd1bb4d8a90619f4d98bbfa1d","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"orAxQr7hR5ZQPZN4M9Otry_GLLE2fbzeLmqTY5U7ICswzg6s9ZPU_gnYXye0-90t69R_b1ZCHHluZRqemLth9IGT-T--P1ogSeJq6nYFZrbgtfnI6tCe3I4-O6DS7xjR-NYu32dDr525o8eBBkLYoNN5aArJ2dJuOouFj_FIUmJ_tFlPY6R9nlf029FK4-wsByO_GKkWeJvk01B_5eg0EMFRc3-ZA-TSzekSPfCQWACkzpMWxxfWFB1nsAUnbkRJS72oaOutS7zpIA4s_JvAM68q65XlwRdzh9IfWvuD0rt6MNxx8VuBKQdcpcija-YIceuQntH9-_W2PA2WzQmwOQ","e":"AQAB"},"attributes":{"enabled":true,"created":1612569188,"updated":1612569188,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsakey56431083/create?api-version=7.1
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.netkeys/livekvtestrsakey56431083/231de71cd1bb4d8a90619f4d98bbfa1d?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.netkeys/livekvtestrsakey56431083/231de71cd1bb4d8a90619f4d98bbfa1d","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"orAxQr7hR5ZQPZN4M9Otry_GLLE2fbzeLmqTY5U7ICswzg6s9ZPU_gnYXye0-90t69R_b1ZCHHluZRqemLth9IGT-T--P1ogSeJq6nYFZrbgtfnI6tCe3I4-O6DS7xjR-NYu32dDr525o8eBBkLYoNN5aArJ2dJuOouFj_FIUmJ_tFlPY6R9nlf029FK4-wsByO_GKkWeJvk01B_5eg0EMFRc3-ZA-TSzekSPfCQWACkzpMWxxfWFB1nsAUnbkRJS72oaOutS7zpIA4s_JvAM68q65XlwRdzh9IfWvuD0rt6MNxx8VuBKQdcpcija-YIceuQntH9-_W2PA2WzQmwOQ","e":"AQAB"},"attributes":{"enabled":true,"created":1612569188,"updated":1612569188,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsakey56431083/231de71cd1bb4d8a90619f4d98bbfa1d?api-version=7.1
version: 1
