interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault674292670ac9.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Mon, 26 Aug 2019 16:29:23 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault674292670ac9.vault.azure.net,
        /keys/key0/create, api-version=7.0, '']
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault674292670ac9.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault674292670ac9.vault.azure.net/keys/key0/60627dece0094824aa034e006a07de6e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"1gVxD-JVcY3EaQoq4TZq7SbD-kxfw7reqPSb3uobhb1fIDHDSPkXNGjnpQUH3lYSYv-gt8XQdekYCB7hQnQGZOWzwmchFO2fKe4orJ7JSitSqb6olis-zuHHBIsHS4V0bJdFs9NHoOlHCLOCtOcMgNwkyYV4VuAWhZ0wcqMd1ij9gXpG9XkvkAZPgtY8RUzK7OuPZBKfPDDEdUqDgE0-cKclXmDU3NDSmrZshxucGmD-5gI27J6SI1H8jsI3Boh0wvR-wBJOh5LIFR2WaC9Z1pbRBD62dOmBJ7sDnFD7dPa-bWbP2CXYkkWCw0FA3v52fyHIn8KtuUe7nNialDX7BQ","e":"AQAB"},"attributes":{"enabled":true,"created":1566836963,"updated":1566836963,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '656', content-type: application/json;
        charset=utf-8, date: 'Mon, 26 Aug 2019 16:29:23 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault674292670ac9.vault.azure.net,
        /keys/key0/create, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault674292670ac9.vault.azure.net/keys/key0?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vault674292670ac9.vault.azure.net/deletedkeys/key0","deletedDate":1566836965,"scheduledPurgeDate":1574612965,"key":{"kid":"https://vault674292670ac9.vault.azure.net/keys/key0/60627dece0094824aa034e006a07de6e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"1gVxD-JVcY3EaQoq4TZq7SbD-kxfw7reqPSb3uobhb1fIDHDSPkXNGjnpQUH3lYSYv-gt8XQdekYCB7hQnQGZOWzwmchFO2fKe4orJ7JSitSqb6olis-zuHHBIsHS4V0bJdFs9NHoOlHCLOCtOcMgNwkyYV4VuAWhZ0wcqMd1ij9gXpG9XkvkAZPgtY8RUzK7OuPZBKfPDDEdUqDgE0-cKclXmDU3NDSmrZshxucGmD-5gI27J6SI1H8jsI3Boh0wvR-wBJOh5LIFR2WaC9Z1pbRBD62dOmBJ7sDnFD7dPa-bWbP2CXYkkWCw0FA3v52fyHIn8KtuUe7nNialDX7BQ","e":"AQAB"},"attributes":{"enabled":true,"created":1566836963,"updated":1566836963,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '787', content-type: application/json;
        charset=utf-8, date: 'Mon, 26 Aug 2019 16:29:25 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault674292670ac9.vault.azure.net,
        /keys/key0, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault674292670ac9.vault.azure.net/deletedkeys/key0?api-version=7.0
  response:
    body: {string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found:
        key0"}}'}
    headers: {cache-control: no-cache, content-length: '72', content-type: application/json;
        charset=utf-8, date: 'Mon, 26 Aug 2019 16:29:25 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 404, message: Not Found}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault674292670ac9.vault.azure.net,
        /deletedkeys/key0, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault674292670ac9.vault.azure.net/deletedkeys/key0?api-version=7.0
  response:
    body: {string: ''}
    headers: {cache-control: no-cache, date: 'Mon, 26 Aug 2019 16:29:32 GMT', expires: '-1',
      pragma: no-cache, server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 204, message: No Content}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault674292670ac9.vault.azure.net,
        /deletedkeys/key0, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault674292670ac9.vault.azure.net/deletedkeys/key6?api-version=7.0
  response:
    body: {string: ''}
    headers: {cache-control: no-cache, date: 'Mon, 26 Aug 2019 16:29:32 GMT', expires: '-1',
      pragma: no-cache, server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 204, message: No Content}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault674292670ac9.vault.azure.net,
        /deletedkeys/key6, api-version=7.0, '']
version: 1
