interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault6742105514c1.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"kty": "RSA-HSM", "attributes": {"exp": 2527401600}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault6742105514c1.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault6742105514c1.vault.azure.net/keys/key-name/6fa96576f2764126ab29b36e27230997","kty":"RSA-HSM","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"0FABHekeS-Hz71YjjYYlFnz8pDqVANOkLvIt10JxyeGgLdhNNUCUDyzss2wud5YpN0QzkIURc8eCehDjsxDLAmZIRVbWKt3rrgvvt2S4sSUWqhjNzV_JJXP6zZC8wwAnepNHxX3fc8LX3-3oS6gVdA7TpjFozNIZ2KfE9r6pBhfLimLSlgdGpgkZpRSrdQHU5PyKhAhy6ugZBmGXDmpO94f3FwGfKhNBwbsXUbeN3-5IDGUHwNIsuj5Iqe8H6jMoQpqpXBrNyf93UT46ADa4LPfBFqKk-AmCX0-I1Xc7cKxcquV1X5K1SlWIiyjHA-6ET0k_2xGauOzR_T1D_to09w","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":2527401600,"created":1566836962,"updated":1566836962,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048, "key_ops": ["encrypt", "decrypt",
      "sign", "verify", "wrapKey", "unwrapKey"]}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault6742105514c1.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault6742105514c1.vault.azure.net/keys/key-name/dd20eaa80d2745f58e9f40011da9c543","kty":"RSA-HSM","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"6q246edDmNPp5CG5dCjWk5TycyLIJNIzCiSFWw7J9ycz5noWbCFT0Zm8Dn8w6lKoYJ6fZ3jOnwJ8bYg6h_p8upPZiYZ4iWyhFclXwxI8lmiHeMHDttVnx4hG7gHjpOkzMZV4qQEe0U9baPkpSD0vEM9QThAQ-XFQByWVbZcxYYamaHcUrb6xm7DOb_nZI1N0qv7gUjsRtQ71I3FcEa8xYlXPwmhO1jDcGZ2Lzfc_7WQHRS8DGgIgvUEBmMIoWo46lYf9a41DMFMbAd1UcUg5Nr3MKn9VKJ2bExr8CQWeSXW64_PX_BMUQl6zScqzIoVaewDL12Bf5NNWgledsNnO3w","e":"AAEAAQ"},"attributes":{"enabled":true,"created":1566836963,"updated":1566836963,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault6742105514c1.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault6742105514c1.vault.azure.net/keys/key-name/bfbf0f1b789946d3b4c3488e982ba90f","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"4fMZRTocpFfGVH2WX7NvA7vYxWXa0kbXYeEM2ccDHrY","y":"CDiukBfLoq0dFa_-pSbLdPlDDX-TsmnhS8Hee1vBCZs"},"attributes":{"enabled":true,"created":1566836963,"updated":1566836963,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vault6742105514c1.vault.azure.net/keys/key-name/?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault6742105514c1.vault.azure.net/keys/key-name/bfbf0f1b789946d3b4c3488e982ba90f","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"4fMZRTocpFfGVH2WX7NvA7vYxWXa0kbXYeEM2ccDHrY","y":"CDiukBfLoq0dFa_-pSbLdPlDDX-TsmnhS8Hee1vBCZs"},"attributes":{"enabled":true,"created":1566836963,"updated":1566836963,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vault6742105514c1.vault.azure.net/keys/key-name/bfbf0f1b789946d3b4c3488e982ba90f?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault6742105514c1.vault.azure.net/keys/key-name/bfbf0f1b789946d3b4c3488e982ba90f","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"4fMZRTocpFfGVH2WX7NvA7vYxWXa0kbXYeEM2ccDHrY","y":"CDiukBfLoq0dFa_-pSbLdPlDDX-TsmnhS8Hee1vBCZs"},"attributes":{"enabled":true,"created":1566836963,"updated":1566836963,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"attributes": {"exp": 2524723200}, "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://vault6742105514c1.vault.azure.net/keys/key-name/?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault6742105514c1.vault.azure.net/keys/key-name/bfbf0f1b789946d3b4c3488e982ba90f","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"4fMZRTocpFfGVH2WX7NvA7vYxWXa0kbXYeEM2ccDHrY","y":"CDiukBfLoq0dFa_-pSbLdPlDDX-TsmnhS8Hee1vBCZs"},"attributes":{"enabled":true,"exp":2524723200,"created":1566836963,"updated":1566836964,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault6742105514c1.vault.azure.net/keys/key-name?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vault6742105514c1.vault.azure.net/deletedkeys/key-name","deletedDate":1566836964,"scheduledPurgeDate":1574612964,"key":{"kid":"https://vault6742105514c1.vault.azure.net/keys/key-name/bfbf0f1b789946d3b4c3488e982ba90f","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"4fMZRTocpFfGVH2WX7NvA7vYxWXa0kbXYeEM2ccDHrY","y":"CDiukBfLoq0dFa_-pSbLdPlDDX-TsmnhS8Hee1vBCZs"},"attributes":{"enabled":true,"exp":2524723200,"created":1566836963,"updated":1566836964,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
