interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault8bf41593caaf9e12b1.vault.azure.net/keys/keywrapaf9e12b1/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Fri, 04 Oct 2019 18:18:49 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault8bf41593caaf9e12b1.vault.azure.net,
        /keys/keywrapaf9e12b1/create, api-version=7.0, '']
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault8bf41593caaf9e12b1.vault.azure.net/keys/keywrapaf9e12b1/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault8bf41593caaf9e12b1.vault.azure.net/keys/keywrapaf9e12b1/0db890da6b604b2a988a836b05a53a88","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"rNzeA1O2nXLqEN7OA28MGksFHbcUw8LTsQ1NS_mGL2D7WN0YhNuEG4-PiVYLMk3iumOEiQYv5IjDLwCKCtlQXMzkVJR8Z1EQSvOeNJrLZk8JwwB5vrhZ5Ac9eCFQnRwt5OxIBNc8doroWTeaUZwhMhB-8P8YU9i-iCKOnGk3WnTSG0jvZQOMdg1Ul86Jz5C6FN56Cs7wKb80Y2AG-P8C3xu_4lQMcH7GL0HgxcQq_Y62guVHrNKYqkwCjb8x2f0VIMPkF2sCAOUXD_eQcC7ZGB22XJvo0Q0_nsbNqPgtibPII4xkIGW4XWX90Yd8QHdQ0l8YLU8s6WS7lg6q5FVVow","e":"AQAB"},"attributes":{"enabled":true,"created":1570213130,"updated":1570213130,"recoveryLevel":"Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '661', content-type: application/json;
        charset=utf-8, date: 'Fri, 04 Oct 2019 18:18:49 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault8bf41593caaf9e12b1.vault.azure.net,
        /keys/keywrapaf9e12b1/create, api-version=7.0, '']
- request:
    body: '{"alg": "RSA-OAEP", "value": "gYOFXCHSX-MXFYWANdNbr1Jr5b1JXZxb50mRm38AmwLZC0aiEe4Le8kqIjeCE0bLDYAQ3IgImyn7W1FCuAyX5A-7hMUi8nRdjz35dROK-BPBkkMUKeasQE4PQIz331V4vDZCFKSRjGPBykZgWnPU1bJ90pa1t5gbtXCRVIknhU4ji19ZiVUw5Mm9lsgjd_nRv1Tv4usbUg98LdB9VgCpQOhNdEC9klEMHJ30xM9k4MKcLqq-MkyAtcWaJ_yktWpR2iv7JJ4ax2pGfeJ56hUnpd0cBNeP2XEPkwUCqZ6v1Rvr_iQ5KWElbpEtW6quU_Mxh5E9DbwC0bNafB33p8LEmw"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault8bf41593caaf9e12b1.vault.azure.net/keys/keywra[...]
