interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-not-yet-valid90041acf/create?api-version=7.3
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '0'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA-HSM", "attributes": {"nbf": 32503680000}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-not-yet-valid90041acf/create?api-version=7.3
  response:
    body:
      string: '{"attributes":{"created":1647991394,"enabled":true,"exportable":false,"nbf":32503680000,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1647991394},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-not-yet-valid90041acf/f55cdff098574d73bd7d661e2727491a","kty":"RSA-HSM","n":"tjfYbr_xboNkLcZSVqlkPIZZeRx0J45Mi9THIlUYQXvLIGxbsjReh9YBX66ZZal3rGsGc6gG5TqtBYDoLn_xQpkS4dzxWbr4f56qFFr85IulDlBeDsDPCZiAnc-iNkFiuFh26ho9sWy3pTo1X-bPP6DR5ZyMsHmooG454iAxeYjCATZZH_tTeiUJp460YI5_deCnWdr1JfAIIibR6iZmZquTyXgfuHCrC2pmYeKeBcZ-qIssCpzCeu4vZLUbAp51rulACA0aTypqjqQDmepdnOby_f8E5u57JlhAoHHEMAihe2CEdPuw33yKBgP6RdRrdMSzPqGbeu74jlMdAlRMqQ"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '274'
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "RSA-HSM", "attributes": {"exp": 946684800}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-expired90041acf/create?api-version=7.3
  response:
    body:
      string: '{"attributes":{"created":1647991396,"enabled":true,"exp":946684800,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1647991396},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-expired90041acf/4097d4318c660cdfb2eaaccaeac7effe","kty":"RSA-HSM","n":"lpoFIsMeFtdOUHMhVmnevK_Qum58uyMIYgHgOqb5-FXFxPGLNwHUpgyeU56nadQwdAxjWzZIu-LjV_qJlSY7mn_jQEKplLKuXLxpQBMpoTrO8n4iD3rjYn2I6r51bVcoLxa63SI97QWKb49P1zd9TIGgJ3g3vQ1kbRhVFXFTEz6mc6s9m-xt0FzqtjCA-kwGqqbuURUUhUogosgduMnHwb3ZjjEYGVyigoZRInAJYIPbN8L7wVF5NHrBwiEtgthDlCrF_eJTTEC6euP-KnXTkdOP85SMOXRVeBJz364gYKu8JInYFaO-th75pbb2c3rrv81Y51t3rgDzFpmQm2tEwQ"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '264'
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "RSA-HSM", "attributes": {"nbf": 32503680000, "exp": 32535216000}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-valid90041acf/create?api-version=7.3
  response:
    body:
      string: '{"attributes":{"created":1647991399,"enabled":true,"exp":32535216000,"exportable":false,"nbf":32503680000,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1647991399},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-valid90041acf/be122f168fa2403aa2b63e0c812c6520","kty":"RSA-HSM","n":"jkqPuciYBgaXMl53bFnobUS81_xAXUcFtFolwr7g81UoHg8gRfwOZKJfe0MJACgEDxfJhu3fGnUUlsJ195FWIwnh051o775DuN_uR-7j5qXBZe0Q-pp8h8cxRjXtldB3SefAPiKJAfgv0BDoOskYDlYpQ9KBG4pHJt0E2zeO9FD91bYq5fP5j_f15uw16B1FVwjMWJKDsipsmLUE_B8RUQCOcPnN1co_WXP-Xw5lWwhWJ6T85EquVCYhkD4XRMSzIEjCGAY72I-tNai3Wc8imiH8OO70eXfW9D3kGbpBev-hazT4ow93L1dVIYFdgAKTyqtbt1ujddTC6AKYnnqEHQ"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '307'
    status:
      code: 200
      message: OK
version: 1
