interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc7b4dd0c0a.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7b4dd0c0a.vault.azure.net
        - /keys/key0/create
        - api-version=7.0
        - ''
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc7b4dd0c0a.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc7b4dd0c0a.vault.azure.net/keys/key0/5d87d65598244a9b96732322ae4f4ffa","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zwr1vKuxP057c5kkMBkMRDe8ABL_TDA4kKQkk9OK--AVmTiURgJd5veg4zJAH1I0DxiZRp7yb1ZSF2_NDVuTR9tg2R1b059QayINGJ6KqBlfHEi_KB-9XD7_RwxfMmQ4d-sCdUFL9W-7BkEms4lAcR_-kWZ5ZaxbFjfs7ynOcEk4t4pQlFniZ_fB9LA6S6cgRZeXAfu8zE6eHHR9Q-VY_RbWLZhwJN8gG5e3AjFk8bB_zNIl3ohk-mgHS5sjetz4NgJrzgHkHKNUT8DjeOOshyevTjfHE4mCLUEIQtE2zt-GhgYist-yUfCcTvjTMA4Sg-4J1dDwTBEcVcUfAT8isQ","e":"AQAB"},"attributes":{"enabled":true,"created":1571698535,"updated":1571698535,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7b4dd0c0a.vault.azure.net
        - /keys/key0/create
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc7b4dd0c0a.vault.azure.net/keys?maxresults=7&api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://vault458ad70cc7b4dd0c0a.vault.azure.net/keys/key0","attributes":{"enabled":true,"created":1571698535,"updated":1571698535,"recoveryLevel":"Purgeable"}},{"kid":"https://vault458ad70cc7b4dd0c0a.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1571698535,"updated":1571698535,"recoveryLevel":"Purgeable"}},{"kid":"https://vault458ad70cc7b4dd0c0a.vault.azure.net/keys/key2","attributes":{"enabled":true,"created":1571698535,"updated":1571698535,"recoveryLevel":"Purgeable"}},{"kid":"https://vault458ad70cc7b4dd0c0a.vault.azure.net/keys/key3","attributes":{"enabled":true,"created":1571698536,"updated":1571698536,"recoveryLevel":"Purgeable"}},{"kid":"https://vault458ad70cc7b4dd0c0a.vault.azure.net/keys/key4","attributes":{"enabled":true,"created":1571698536,"updated":1571698536,"recoveryLevel":"Purgeable"}},{"kid":"https://vault458ad70cc7b4dd0c0a.vault.azure.net/keys/key5","attributes":{"enabled":true,"created":1571698536,"updated":1571698536,"recoveryLevel":"Purgeable"}},{"kid":"https://vault458ad70cc7b4dd0c0a.vault.azure.net/keys/key6","attributes":{"enabled":true,"created":1571698536,"updated":1571698536,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7b4dd0c0a.vault.azure.net
        - /keys
        - maxresults=7&api-version=7.0
        - ''
version: 1
