interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultb4dd0c0a.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Wed, 14 Aug 2019 22:13:29 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultb4dd0c0a.vault.azure.net,
        /keys/key0/create, api-version=7.0, '']
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultb4dd0c0a.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vaultb4dd0c0a.vault.azure.net/keys/key0/2c79af61ad364079b342e4fc5176e5dc","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zd376zH4zhJv28Y-RieNr6hDA3KDKwn5AE3y0OYIoubEgM2tTngWenLZ7Tmh7OH4jcPcJNJ8KKiLaYEpjBzQ-GAME__VNMqNL_rVFF0Zcaz-GzxiLEgnx1IZGqPvsywcGMYcIBA_a_XpvF-0RzzW0Juo8RIAAPwBhwgPXFPdyrIdvcdCOEtfhjaCa-LmLgaFw_q2Py8fjumDQUc-ok5zmCr0mFlUDapapbXU-Fvw3FykjwiQl30lKiW0V7B3yI6SwHmhq7V2Arb-_QiP0pmY0CdglsA7xx6zBQos4UC4TkUqxgm6AvD12m5bzmMY1emC16CMqlfzslWQ5TMezs5Hkw","e":"AQAB"},"attributes":{"enabled":true,"created":1565820811,"updated":1565820811,"recoveryLevel":"Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '640', content-type: application/json;
        charset=utf-8, date: 'Wed, 14 Aug 2019 22:13:30 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultb4dd0c0a.vault.azure.net,
        /keys/key0/create, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultb4dd0c0a.vault.azure.net/keys?maxresults=7&api-version=7.0
  response:
    body: {string: '{"value":[{"kid":"https://vaultb4dd0c0a.vault.azure.net/keys/key0","attributes":{"enabled":true,"created":1565820811,"updated":1565820811,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultb4dd0c0a.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1565820811,"updated":1565820811,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultb4dd0c0a.vault.azure.net/keys/key2","attributes":{"enabled":true,"created":1565820811,"updated":1565820811,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultb4dd0c0a.vault.azure.net/keys/key3","attributes":{"enabled":true,"created":1565820811,"updated":1565820811,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultb4dd0c0a.vault.azure.net/keys/key4","attributes":{"enabled":true,"created":1565820811,"updated":1565820811,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultb4dd0c0a.vault.azure.net/keys/key5","attributes":{"enabled":true,"created":1565820811,"updated":1565820811,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultb4dd0c0a.vault.azure.net/keys/key6","attributes":{"enabled":true,"created":1565820811,"updated":1565820811,"recoveryLevel":"Purgeable"}}],"nextLink":null}'}
    headers: {cache-control: no-cache, content-length: '1133', content-type: application/json;
        charset=utf-8, date: 'Wed, 14 Aug 2019 22:13:31 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.174.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.875, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultb4dd0c0a.vault.azure.net,
        /keys, maxresults=7&api-version=7.0, '']
version: 1
