interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name9a3419f4/create?api-version=2016-10-01
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA-HSM", "attributes": {"exp": 2527401600}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name9a3419f4/create?api-version=2016-10-01
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name9a3419f4/92a9289d67a74be481e3b86a6f2be1e3","kty":"RSA-HSM","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"wM3np3XKOAdViORxhBsyB7QJVwZEEwvB7qMUzDgQlib4trK8b4jqxlrdKyqelW6EdNt5pOjwxaOjuDTEJwQ_YYVKZXnMq1ksXpe3RqhSrD5uUqvfbTbd3yd_86d3g5po8vmoYeg3Fb1hPfVd20OabeEmvXIQzDh3qQMF7EhMBAkjmuITNizb4M9aYcTrHX2yffYp0gjAYHvdH1JHlZ2iycLq8jl2eFSRhssEDd4h-aeBlv69gkLbSmuqGFdCse8PfFrgSVlrdChTWdpxUXf1NqtzNHXKFqtDB2F4MqDoEMaLPxHVWGJYeCGB9DH6jKcBaewEZlyNO-DWdk2eX49LOw","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":2527401600,"created":1618945858,"updated":1618945858,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048, "key_ops": ["encrypt", "decrypt",
      "sign", "verify", "wrapKey", "unwrapKey"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name9a3419f4/create?api-version=2016-10-01
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name9a3419f4/4712e96c91af45d9b510bd91c4d61373","kty":"RSA-HSM","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"2E7QdT3ikkDWQvDAcseTKwAAtgWcBZT0vgBLWOpX1y3Ucl6aC9yTfyBFE2TRM5N884aynwg3E-wPdi5o9WDACohDyGboZRjQT-DMLha_eUu9edZyLjKAd83RkfVGW7t9BTwSNo9pLFSvxn1qeIUkM58UKUP7fEi6U6N-doMIycFtGDd4W9ni92GQV1HHxIMwP4LICXnPGMHYVTOEI_i8oHVqBcQk1U7NOkBgkRvT_nV7pVzn7uynGcY3OniG8v1qQ1kDCnsmBXR6avZmxciOQf2S3_OjHsXcNCAOMflhzfeTkUEeccG-EcraY-9NCU5yuMcJweZUAJ5jNR_j2Q7anQ","e":"AAEAAQ"},"attributes":{"enabled":true,"created":1618945859,"updated":1618945859,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name9a3419f4/create?api-version=2016-10-01
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name9a3419f4/dd12b34ce7224f94ba14dd046384165b","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"svggxL8mOb-gnWUnWnk6994WDLp2GJluEO9B5ZW4BXM","y":"DAkZaOaTMS1BuIYWxsLMySihwXqYhHWN6bPZHePDuTU"},"attributes":{"enabled":true,"created":1618945860,"updated":1618945860,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name9a3419f4/?api-version=2016-10-01
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name9a3419f4/dd12b34ce7224f94ba14dd046384165b","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"svggxL8mOb-gnWUnWnk6994WDLp2GJluEO9B5ZW4BXM","y":"DAkZaOaTMS1BuIYWxsLMySihwXqYhHWN6bPZHePDuTU"},"attributes":{"enabled":true,"created":1618945860,"updated":1618945860,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name9a3419f4/dd12b34ce7224f94ba14dd046384165b?api-version=2016-10-01
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name9a3419f4/dd12b34ce7224f94ba14dd046384165b","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"svggxL8mOb-gnWUnWnk6994WDLp2GJluEO9B5ZW4BXM","y":"DAkZaOaTMS1BuIYWxsLMySihwXqYhHWN6bPZHePDuTU"},"attributes":{"enabled":true,"created":1618945860,"updated":1618945860,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"foo": "updated tag"}, "attributes": {"exp": 2524723200}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name9a3419f4/?api-version=2016-10-01
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name9a3419f4/dd12b34ce7224f94ba14dd046384165b","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"svggxL8mOb-gnWUnWnk6994WDLp2GJluEO9B5ZW4BXM","y":"DAkZaOaTMS1BuIYWxsLMySihwXqYhHWN6bPZHePDuTU"},"attributes":{"enabled":true,"exp":2524723200,"created":1618945860,"updated":1618945860,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name9a3419f4?api-version=2016-10-01
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name9a3419f4","deletedDate":1618945860,"scheduledPurgeDate":1626721860,"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name9a3419f4/dd12b34ce7224f94ba14dd046384165b","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"svggxL8mOb-gnWUnWnk6994WDLp2GJluEO9B5ZW4BXM","y":"DAkZaOaTMS1BuIYWxsLMySihwXqYhHWN6bPZHePDuTU"},"attributes":{"enabled":true,"exp":2524723200,"created":1618945860,"updated":1618945860,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name9a3419f4?api-version=2016-10-01
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: livekvtestkey-name9a3419f4"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name9a3419f4?api-version=2016-10-01
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name9a3419f4","deletedDate":1618945860,"scheduledPurgeDate":1626721860,"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name9a3419f4/dd12b34ce7224f94ba14dd046384165b","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"svggxL8mOb-gnWUnWnk6994WDLp2GJluEO9B5ZW4BXM","y":"DAkZaOaTMS1BuIYWxsLMySihwXqYhHWN6bPZHePDuTU"},"attributes":{"enabled":true,"exp":2524723200,"created":1618945860,"updated":1618945860,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
