interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-key-name748a1138/create?api-version=7.3-preview
  response:
    body:
      string: ''
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency: '1'
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestrsa-key-name748a1138/create?api-version=7.3-preview
- request:
    body: '{"key_size": 2048, "kty": "RSA-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-key-name748a1138/create?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1618441464,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1618441464},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-key-name748a1138/1ae3ea6f6a7449113dcccd272ac48b05","kty":"RSA-HSM","n":"mC6LNDO99bsLKZZlzO-wZZ6RxjZqJo_FbEUOfxXbo2zd4jnbYp-F7mbP5JsxdKLf01j39qiTc5TAEFiOHQQ1ijvhXoSmb7SNjaSGvTilum2O4Foe3CjGiSzNqrgCHYnaeOGGHcArotu-kfG6bjPamGiY4wTZZheja7SNswNMRo8VWPlNDpr-0qXOimpPWpu58ckN9wgSDG8Phch4lQuuiUf0oPgTvJYiOa3DlvX4rxjQ4HLbtbB-SlK5U7NIGBg2NGE426EcPVdyZD-HEHzXjHuDDCLmxd2Fl-dIP1ox2hym-t8LU_NaCU2URnjftqKz8QcJfgPr7qyw35WtsyHoTQ"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '235'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestrsa-key-name748a1138/create?api-version=7.3-preview
version: 1
