interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault8bf41593ca44021012.vault.azure.net/keys/ec-verify-P-256/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault8bf41593ca44021012.vault.azure.net/keys/ec-verify-P-256/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault8bf41593ca44021012.vault.azure.net/keys/ec-verify-P-256/9372bf4f916a4d8188ad7e60376ac964","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"HdpZqEFEYtyc-glG5AFrrTktan3WaonOLbZZTsiIEkQ","y":"o-WL4zuhEWx5aeXTC7mjjSR0IenQ7yv-x1LUPAnZ7JE"},"attributes":{"enabled":true,"created":1568927837,"updated":1568927837,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "ES256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault8bf41593ca44021012.vault.azure.net/keys/ec-verify-P-256/9372bf4f916a4d8188ad7e60376ac964/sign?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vault8bf41593ca44021012.vault.azure.net/keys/ec-verify-P-256/9372bf4f916a4d8188ad7e60376ac964","value":"v0PTVQUjeCjc6ptzU_HvyBd4Lfo6CKqXbDUGK0Sa_7pd5UK_01xbJ0JPW5Y4LXbMVDOnSi_6tCiSfwXSrxY0bg"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "EC", "crv": "P-256K"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault8bf41593ca44021012.vault.azure.net/keys/ec-verify-P-256K/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault8bf41593ca44021012.vault.azure.net/keys/ec-verify-P-256K/c78699cda21b43a9ab221820266f1e21","kty":"EC","key_ops":["sign","verify"],"crv":"P-256K","x":"P_0IFaQZGR0cAP93BO8oQu0dOiz1XA5ojMKaAMFYtSE","y":"TaGRwyVjYD5bcBxNh_UXcbspg19Cvdycg5Dpmt75lqU"},"attributes":{"enabled":true,"created":1568927837,"updated":1568927837,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "ES256K", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault8bf41593ca44021012.vault.azure.net/keys/ec-verify-P-256K/c78699cda21b43a9ab221820266f1e21/sign?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vault8bf41593ca44021012.vault.azure.net/keys/ec-verify-P-256K/c78699cda21b43a9ab221820266f1e21","value":"HNj1OaCmd1blWSkxH6yGPo0guqu661CufotvEKyK4Vz7PIRb9AhHxR8aA1rxqGnGHVhTgV0wd2yPGEOa4op2aQ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "ES512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault8bf41593ca44021012.vault.azure.net/keys/ec-verify-P-521/8bf99ec7c04b4f5cbbc3fe9d92f003ea/sign?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vault8bf41593ca44021012.vault.azure.net/keys/ec-verify-P-521/8bf99ec7c04b4f5cbbc3fe9d92f003ea","value":"AapuqokdWQ9h2mKtAcLtJJpva5mhxTS3IxrTRsbj7mKnR4hFUMCvotLj23K9uNnDXYLrub6sHmFFBzSi_erBI7RNAIt4xUU9TvrT_uD_ESoDNufaX8LsESI93CCPSjeBaG9MOoCiydxiPr8lWfmjMjvMwJutRhnQf2ZznIdehsJBRqNQ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
