interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtesteckeye4191341/create?api-version=7.3
  response:
    body:
      string: ''
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency: '1'
    status:
      code: 401
      message: Unauthorized
    url: https://malegerechsm.managedhsm.azure.net/keys/livekvtesteckeye4191341/create?api-version=7.3
- request:
    body: '{"kty": "EC-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtesteckeye4191341/create?api-version=7.3
  response:
    body:
      string: '{"attributes":{"created":1647991501,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1647991501},"key":{"crv":"P-256","key_ops":["verify","sign"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtesteckeye4191341/209e6577b661000520189be59c2aa820","kty":"EC-HSM","x":"ajxQuXO8WcHLODdEhXpFncUSUDy3wrmykSvpWch-Yy8","y":"zSS0nnrVNUCpN-o12tEIHNIPe1wd81-FdgiqD_ZLEvA"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '327'
    status:
      code: 200
      message: OK
    url: https://malegerechsm.managedhsm.azure.net/keys/livekvtesteckeye4191341/create?api-version=7.3
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtesteckeye4191341/209e6577b661000520189be59c2aa820?api-version=7.3
  response:
    body:
      string: '{"attributes":{"created":1647991501,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1647991501},"key":{"crv":"P-256","key_ops":["verify","sign"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtesteckeye4191341/209e6577b661000520189be59c2aa820","kty":"EC-HSM","x":"ajxQuXO8WcHLODdEhXpFncUSUDy3wrmykSvpWch-Yy8","y":"zSS0nnrVNUCpN-o12tEIHNIPe1wd81-FdgiqD_ZLEvA"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20220305-2-902fedaa-closebadconnections
      x-ms-server-latency: '110'
    status:
      code: 200
      message: OK
    url: https://malegerechsm.managedhsm.azure.net/keys/livekvtesteckeye4191341/209e6577b661000520189be59c2aa820?api-version=7.3
version: 1
