interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-keyf86c13d5/create?api-version=7.2
  response:
    body:
      string: ''
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency: '1'
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestrsa-keyf86c13d5/create?api-version=7.2
- request:
    body: '{"kty": "RSA-HSM", "public_exponent": 17}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-keyf86c13d5/create?api-version=7.2
  response:
    body:
      string: '{"attributes":{"created":1620411778,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1620411778},"key":{"e":"EQ","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestrsa-keyf86c13d5/f193fb0e35120fc79db4b9ef6773ab1e","kty":"RSA-HSM","n":"jdTby2M5najKK4hQk8K6ABfE6Y1lrIxpk9WRxEKL9-9_kJn6huB1E3xcJC3AHHDZzMAQ3Zp3vQr6AVKoiRFW8G0ILQeqLcG1JXrYCXCW0biy4KBSJ97XiNuH_7EAzXerZ676RoFlCNFxXgkpcyzW6GHJVi7eisb8GbTSSidbvC6F2m0RPuCJc3mdlrM9rLolOqhk3mZm0Ftp8CiTsyDXvBKW16O8TYfzsWcaDlMate-rUfsPrN1lrEN_1DHxlPGOYV1PLD8C3Iqh6iaeWikPe8ecjXCf4Gbz4sfKBmxiUwb2pm9tPWVk4qeHAu-ELQ7vM27LksB3GCD_G28N4xii3w"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '1015'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestrsa-keyf86c13d5/create?api-version=7.2
version: 1
