interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name245c1963/create?api-version=7.3-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name245c1963/create?api-version=7.3-preview
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name245c1963/create?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name245c1963/76053a3d5d124cac8c614f99b3664f6f","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"oAdYGXQyJbsI1LyZ1McsQcqDyYCnraz6tOndcPWkUPPcM8x2hu_WF19hU_DeztPztoqjQCKj2CsNDp4vfWhbSNPx-WMjqu_jMJhadg-aXR9H4x9Sf9o9jg90nMESJV674_t5zKqFjO9aol5GdaRzeHDYEoCN5yxzIUFdLVKcZoapJMM2CK4aaz8qCiuPeJUvJiNWPYhlSVWpDL0wxS7gG71KB3zybRvv6UjGhdzbkGUG12hkMccYjdC54DGl6ogxSJtVEReyKodMLFF_iBpc49ga4WTPnWnvRtUbGwzP3v48ENnjY7Ybae6UjYkJZeJJP6IocOxKO4fYszipzZmkGQ","e":"AQAB"},"attributes":{"enabled":true,"created":1633075598,"updated":1633075598,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name245c1963/create?api-version=7.3-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name245c1963/76053a3d5d124cac8c614f99b3664f6f?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name245c1963/76053a3d5d124cac8c614f99b3664f6f","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"oAdYGXQyJbsI1LyZ1McsQcqDyYCnraz6tOndcPWkUPPcM8x2hu_WF19hU_DeztPztoqjQCKj2CsNDp4vfWhbSNPx-WMjqu_jMJhadg-aXR9H4x9Sf9o9jg90nMESJV674_t5zKqFjO9aol5GdaRzeHDYEoCN5yxzIUFdLVKcZoapJMM2CK4aaz8qCiuPeJUvJiNWPYhlSVWpDL0wxS7gG71KB3zybRvv6UjGhdzbkGUG12hkMccYjdC54DGl6ogxSJtVEReyKodMLFF_iBpc49ga4WTPnWnvRtUbGwzP3v48ENnjY7Ybae6UjYkJZeJJP6IocOxKO4fYszipzZmkGQ","e":"AQAB"},"attributes":{"enabled":true,"created":1633075598,"updated":1633075598,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name245c1963/76053a3d5d124cac8c614f99b3664f6f?api-version=7.3-preview
- request:
    body: '{"alg": "RSA-OAEP", "value": "cGxhaW50ZXh0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name245c1963/76053a3d5d124cac8c614f99b3664f6f/encrypt?api-version=7.3-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name245c1963/76053a3d5d124cac8c614f99b3664f6f","value":"Uaq14DCsPe9fx_EUeWR8bgX3R9cBqyAn5DFNjTXCN3vFDGf3BXelZR1r-E_24MFifl_R_ofu79gm4TcuaJu4EMfOUSXwqc1xBcH7lwI_CyHZZhlNfjJ5VZ70QVM8pFK_8hPR6lJD6_cEyKDiLOIClnU4wQqYrgCWGi4AX1lIzLfnuntHX1WDVxGIERct4I_fbjMkqfQkneALHGVdnMqZO8tN6krXtiuVpovyUDWKkCpuNrFWS2KU-t40dd_pp8B5XYeWJq4PdglbGevp4MLb4aW_KXC_sP2gF19fFgg2b_8E41rK1UtcP0zVY5f0reTfGmhP8JRT1QttmTncS_MiAg"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name245c1963/76053a3d5d124cac8c614f99b3664f6f/encrypt?api-version=7.3-preview
- request:
    body: '{"alg": "RSA-OAEP", "value": "Uaq14DCsPe9fx_EUeWR8bgX3R9cBqyAn5DFNjTXCN3vFDGf3BXelZR1r-E_24MFifl_R_ofu79gm4TcuaJu4EMfOUSXwqc1xBcH7lwI_CyHZZhlNfjJ5VZ70QVM8pFK_8hPR6lJD6_cEyKDiLOIClnU4wQqYrgCWGi4AX1lIzLfnuntHX1WDVxGIERct4I_fbjMkqfQkneALHGVdnMqZO8tN6krXtiuVpovyUDWKkCpuNrFWS2KU-t40dd_pp8B5XYeWJq4PdglbGevp4MLb4aW_KXC_sP2gF19fFgg2b_8E41rK1UtcP0zVY5f0reTfGmhP8JRT1QttmTncS_MiAg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name245c1963/76053a3d5d124cac8c614f99b3664f6f/decrypt?api-version=7.3-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name245c1963/76053a3d5d124cac8c614f99b3664f6f","value":"cGxhaW50ZXh0"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey-name245c1963/76053a3d5d124cac8c614f99b3664f6f/decrypt?api-version=7.3-preview
version: 1
