interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name105514c1/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"attributes": {"exp": 2527401600}, "kty": "RSA-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name105514c1/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name105514c1/52dd586d069045a589c12e5ff132d017","kty":"RSA-HSM","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"xOnLVHiuiv2sMmv6CiCPXVqnA3BUKRM-w-6uaF_XdwYqGe8EUjWsXd-1ASmyxe1r1rkWJ18I_y_yIPRf3myBstY-9LVfv5H2uTmbO2jeSJUAxv-p-qAGZp9JcbU5XKs_DQfzf2hOEEpqwzeQhDzEWz0LNzAHS_OJl5TiszwvxETPayu5UnH_1aNi_mvCRDZv1MQWMI5yTG7v8Jm9c60CmhJjSzHJXTNi9mlp5qJXYXcDvfRuYmjCOInqvjq0W2j7YS-62qdPs9qV9XmSlhHjd1Eh4NaT3TmbYuDd6OARcLD4LqPzlvXpBSNymXUeoHd3WohDA0rI5JS0Sym3nAhZgw","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":2527401600,"created":1612320907,"updated":1612320907,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048, "key_ops": ["encrypt", "decrypt",
      "sign", "verify", "wrapKey", "unwrapKey"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name105514c1/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name105514c1/5ed0ffd606094326ab2d5f88ca76d8f2","kty":"RSA-HSM","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zk5NxbgE8NHgsivU2izo_iytzm4Ay54Wz9p2vdrrdjlyUGU84fMc5RKQDxB4wijiLs_Q9RnTC5Kd_I4zP3OuqM8H4WksaoLablVaF3bXSo9ra9-3IzE1OkvNZ6tbdZpVLWVv3z4VWWp19p9gKn-tmbQveKbvQN_NKgIP4lTlOqiER2kK9oRsdNOVlRovP4oMlCsLDM0y1UOzVGS7Z8hroHEOEU3TNRtsjWxPx_5rwRPvwWMilnD9rCUeBvkrNdbcsZxJJFTj1Z3hNeE6-ke6-KIkrVxUPhimel0CTBH6LzKKJeoRDgSO01uYg1TmBYWtYq6sTGg5-S6NC2t7JQAlDw","e":"AAEAAQ"},"attributes":{"enabled":true,"created":1612320907,"updated":1612320907,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"crv": "P-256", "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name105514c1/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name105514c1/d23155f12b824bb3936f8a87c361db4a","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"j61WO2Fbth_OQfaNdHMaYVO8YqK0oUxyj7_nl0tZDbM","y":"CWHyxB-SF2wB043XpS-Y5H7mxG-nMqkZUm7rlrrOi-s"},"attributes":{"enabled":true,"created":1612320908,"updated":1612320908,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name105514c1/?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name105514c1/d23155f12b824bb3936f8a87c361db4a","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"j61WO2Fbth_OQfaNdHMaYVO8YqK0oUxyj7_nl0tZDbM","y":"CWHyxB-SF2wB043XpS-Y5H7mxG-nMqkZUm7rlrrOi-s"},"attributes":{"enabled":true,"created":1612320908,"updated":1612320908,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name105514c1/d23155f12b824bb3936f8a87c361db4a?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name105514c1/d23155f12b824bb3936f8a87c361db4a","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"j61WO2Fbth_OQfaNdHMaYVO8YqK0oUxyj7_nl0tZDbM","y":"CWHyxB-SF2wB043XpS-Y5H7mxG-nMqkZUm7rlrrOi-s"},"attributes":{"enabled":true,"created":1612320908,"updated":1612320908,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"attributes": {"exp": 2524723200}, "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name105514c1/?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name105514c1/d23155f12b824bb3936f8a87c361db4a","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"j61WO2Fbth_OQfaNdHMaYVO8YqK0oUxyj7_nl0tZDbM","y":"CWHyxB-SF2wB043XpS-Y5H7mxG-nMqkZUm7rlrrOi-s"},"attributes":{"enabled":true,"exp":2524723200,"created":1612320908,"updated":1612320908,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name105514c1?api-version=7.1
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name105514c1","deletedDate":1612320908,"scheduledPurgeDate":1620096908,"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name105514c1/d23155f12b824bb3936f8a87c361db4a","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"j61WO2Fbth_OQfaNdHMaYVO8YqK0oUxyj7_nl0tZDbM","y":"CWHyxB-SF2wB043XpS-Y5H7mxG-nMqkZUm7rlrrOi-s"},"attributes":{"enabled":true,"exp":2524723200,"created":1612320908,"updated":1612320908,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name105514c1?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: livekvtestkey-name105514c1"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name105514c1?api-version=7.1
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name105514c1","deletedDate":1612320908,"scheduledPurgeDate":1620096908,"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name105514c1/d23155f12b824bb3936f8a87c361db4a","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"j61WO2Fbth_OQfaNdHMaYVO8YqK0oUxyj7_nl0tZDbM","y":"CWHyxB-SF2wB043XpS-Y5H7mxG-nMqkZUm7rlrrOi-s"},"attributes":{"enabled":true,"exp":2524723200,"created":1612320908,"updated":1612320908,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
