interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-2563bef19a2/create?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-2563bef19a2/create?api-version=7.2-preview
- request:
    body: '{"crv": "P-256", "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-2563bef19a2/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-2563bef19a2/9ef2ba4816f24c08b4cf73c52d6c5634","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"MAPr8n2isizpxnyMkKk60qm-YbVTw0I5H6hchzJJCjw","y":"Ar2HNRFU8OiedvqubgpAVEXqCdaLkHdAISy54SPKzek"},"attributes":{"enabled":true,"created":1618864893,"updated":1618864893,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-2563bef19a2/create?api-version=7.2-preview
- request:
    body: '{"alg": "ES256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-2563bef19a2/9ef2ba4816f24c08b4cf73c52d6c5634/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-2563bef19a2/9ef2ba4816f24c08b4cf73c52d6c5634","value":"M7Cx2Udx2Yyd-zdi7fnJ25X55t3BW0BQitLClXtwsRH6m0qR8FrAWeV-3nqhplh-QbaH0W-n09hqujQyIEFsew"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-2563bef19a2/9ef2ba4816f24c08b4cf73c52d6c5634/sign?api-version=7.2-preview
- request:
    body: '{"crv": "P-256K", "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K3bef19a2/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K3bef19a2/11561c2c16ed465ba6fdbb59e8019742","kty":"EC","key_ops":["sign","verify"],"crv":"P-256K","x":"hqz6oi-WYgNi9ux9hm1mzA7-GzrziRe00kRmNyOabcA","y":"SYnSAH0nyLVlrrQjFC8UYAHxYVoTHteEJLPffy7lXuQ"},"attributes":{"enabled":true,"created":1618864896,"updated":1618864896,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-256K3bef19a2/create?api-version=7.2-preview
- request:
    body: '{"alg": "ES256K", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K3bef19a2/11561c2c16ed465ba6fdbb59e8019742/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256K3bef19a2/11561c2c16ed465ba6fdbb59e8019742","value":"thQqgVzNyI4NOrr9O0MjwAytrWT5Df_zMiwUYwS4S8cPS0xcL_JEIKGPPKdb2Lszsm_FiTkC51z7zWiQEt_krw"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-256K3bef19a2/11561c2c16ed465ba6fdbb59e8019742/sign?api-version=7.2-preview
[...]
- request:
    body: '{"alg": "ES512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-5213bef19a2/b03c2c740234442bb41a6b1ada92793e/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-5213bef19a2/b03c2c740234442bb41a6b1ada92793e","value":"ANgft3UrSJHjQeE83DTE6ffvoWnrApdAegX1HHuROZnM-dvA_ajKb-QfZ9BG9zjweUh2iI110pM-1iMJ2tYkdkn-AeSodJ67iD0NWwAH53ZkRScL3cNc0WR_RFOJuaNuB2PG2lMzLsPI7Epo3Nxr2TVsfnjaC7ViDpxqtESQjNoK2owb"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-5213bef19a2/b03c2c740234442bb41a6b1ada92793e/sign?api-version=7.2-preview
version: 1
