interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-ec-keya34a172a/create?api-version=7.3-preview
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '1'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "EC-HSM", "attributes": {"enabled": true}, "tags": {"purpose":
      "unit test", "test name": "CreateECKeyTest"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-ec-keya34a172a/create?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1625596385,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625596385},"key":{"crv":"P-256","key_ops":["verify","sign"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-ec-keya34a172a/7906776a13590e982fcb609a1db3ff5f","kty":"EC-HSM","x":"crSCn8LccO6nCUEAtN5Itc5CUuszVzNe1-AFuVqkBW4","y":"H7Za7JKWiX_NCqYVR4dMakDUkAH_KTV5Rk1lh5qoeaQ"},"tags":{"purpose":"unit
        test","test name":"CreateECKeyTest"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '1979'
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "EC-HSM", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-P-256-ec-keya34a172a/create?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1625596389,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625596389},"key":{"crv":"P-256","key_ops":["verify","sign"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-P-256-ec-keya34a172a/f03c87d0615a4825bb1ccbebc53bc1f8","kty":"EC-HSM","x":"8aSdROHKJXu53_gUoiEfe_HAfgUbrLbB1LvsHwuO6Sc","y":"DM4ypfKiDr0yKufQmJNFnO1TrK3-aHUndJ4yJu2Ls6w"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '294'
    status:
      code: 200
      message: OK
- request:
    body: '{"key": {"kty": "RSA-HSM", "key_ops": ["encrypt", "decrypt", "sign", "verify",
      "wrapKey", "unwrapKey"], "n": "AKCRTQAjSsaDshtMFdW-2Ie9yVnC5Xr1Suc06PAHINd10nXkVSB-N4TO62ClCkZV3XKnqU0nHo7o95WaZpym53W_DiO62umRtFKdl4UotL2QUh0y3SZWeWuoK2u_x2aMj17rUFN0f9GZMZ0pqEQNCPRBLVJ_-TEe2nGCWSC0exxGsRqz6R1zFkB-icfzQPe4WjQELOUXQ7J9RxhAPTTHtDivYYG-BeTRHrmF04JT1_6b9T_C8bAC0i0teT-nmlBLarQtBJKATXBx1yegbPOoiTqlQrFQP4MrKWNxtnB9Tcbjcvj-Z9je0ckI_eRc4DvAhqcUh_p15Dqg4GeaoNIO_jU",
      "e": "AQAB", "d": "Ynx9JGaBSP4iUsf6ZJ6opantRNdcdmzaQrKbZg6ZQE8Ohi1FYabJWvaoPSE-CiJEsDzShXZHMhUHN4X7Bn8BXaGQhK3p9HXgiwQKmix7oAJTu4ElUIyd8UC3UWHSZr40el4PaQD-HYu_eMzCXus34MnRiNbh_BUWm6T-Eidhk9d3kNIyaSi9YNDQHW6tjWrEhhq63O7JU1j9ZonFChZxpKk20jdkQKQURVAdpOdL-5j4I70ZxFuU6wHZj8DS8oRQfwGOvZKbgYDb5jgf3UNL_7eACqq92XPVX56vm7iKbqeyjCqAIx5y3hrSRIJtZlWCwjYnYQGd4unxDLi8wmJWSQ",
      "dp": "AMmhWb5yZcu6vJr8xJZ-t0_likxJRUMZAtEULaWZt2DgODj4y9JrZDJP6mvckzhQP0WXk2NuWbU2HR5pUeCN2wieG1B76VKoH76vfnaJDqT1NuJVBcP2SLHog3ffwZtMME5zjfygchG3kihqOSpwTQ9ETAqAJTkRC38fEhwAz_Cp",
      "dq": "AKC9TAo9n2RDaggjdLXK8kiLrBVoaWFTpqXkzYXRhtsx4vWPAkxhfSnze05rVMl6HiXv7FnE0f0wYawzUJzoyuXBH0zS6D9BqCZPeF543AmWB27iPf38Q9Z8Rjr6oBgMSnGDV_mm8nDVQkeaDyE4cOZh-5UKvKShTKKQVwunmDNH",
      "qi": "AJ_nrkLpK8BPzVeARkvSHQyKwMWZ-a8CD95qsKfn0dOZAvXY-2xhQYTEwbED-0bpTNEKbIpA-ZkaHygmnzJkNbbFAnb9pkkzU8ZQqDP3JNgMfVIroWx58Oth9nJza2j7i-MkPRCUPEq3Ao0J52z7WJIiLji8TTVYW_NaiM1oxzsH",
      "p": "ANHerI1o3dLB_VLVmZZVss8VZSYN5SaeQ_0qhfOSgOFwj__waCFmy2EG7l6l6f_Z-Y0L7Mn_LNov68lyWSFa2EuQUeVj4UoFHc5Di8ZUGiSsTwFM-XMtNuv8HmGgDYLL5BIJD3eTz71LdgW-Ez38OZH34b7VeG8zfeUDb8Hi30zz",
      "q": "AMPcZrZBqbc82DO8Q5zTT8ZXRGWrW36KktMllaIk1W2RHnRiQiW0jBWmcCgqUcQNHa1LwumjyNqwx28QBS37BTvG7ULGUoio6LrOeoiBGEMj-U19sX6m37plEhj5[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048, "key_ops": ["encrypt", "decrypt",
      "sign", "verify", "wrapKey", "unwrapKey"], "tags": {"purpose": "unit test",
      "test name ": "CreateRSAKeyTest"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya34a172a/create?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1625596391,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625596391},"key":{"e":"AQAB","key_ops":["sign","verify","decrypt","encrypt","unwrapKey","wrapKey"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya34a172a/cdba997ea11e0521a2592f687d1e238c","kty":"RSA-HSM","n":"jfSqA_QBofsLiRdYblWfFg2TOh4cEjkylruq9MtpH0pMJre7Se8gpeHfoSl_zKUq7UHMyrrnXHjxjjBGqbq3pX8-bfzI1AvIeI2mN7LB16flKzeXwL80HTqxrQPjziKOGWePaKiji3FkBcv_bS56gRPyZJLK5czcj40l53T_--gpCu8siGDsTLxddiRC7wHJzpWaLdqmyIMbxpiDp3u1pTsFc5fdSqzReCGWUTfWD7ukQDGTSXqtlTnVit2x1ddsNnwN-yLRtxmpShQTJc0sBubOJc8uobOLk__9eRqAA2Tf_pYoTi2YeroKwkZ536kFp53mc5nICE6LcWPn6WlCTw"},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '217'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya34a172a/cdba997ea11e0521a2592f687d1e238c?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1625596391,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625596391},"key":{"e":"AQAB","key_ops":["unwrapKey","encrypt","decrypt","verify","sign","wrapKey"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya34a172a/cdba997ea11e0521a2592f687d1e238c","kty":"RSA-HSM","n":"jfSqA_QBofsLiRdYblWfFg2TOh4cEjkylruq9MtpH0pMJre7Se8gpeHfoSl_zKUq7UHMyrrnXHjxjjBGqbq3pX8-bfzI1AvIeI2mN7LB16flKzeXwL80HTqxrQPjziKOGWePaKiji3FkBcv_bS56gRPyZJLK5czcj40l53T_--gpCu8siGDsTLxddiRC7wHJzpWaLdqmyIMbxpiDp3u1pTsFc5fdSqzReCGWUTfWD7ukQDGTSXqtlTnVit2x1ddsNnwN-yLRtxmpShQTJc0sBubOJc8uobOLk__9eRqAA2Tf_pYoTi2YeroKwkZ536kFp53mc5nICE6LcWPn6WlCTw"},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20210605-1-ffd80f31-develop
      x-ms-server-latency:
      - '89'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya34a172a/?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1625596391,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625596391},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya34a172a/cdba997ea11e0521a2592f687d1e238c","kty":"RSA-HSM","n":"jfSqA_QBofsLiRdYblWfFg2TOh4cEjkylruq9MtpH0pMJre7Se8gpeHfoSl_zKUq7UHMyrrnXHjxjjBGqbq3pX8-bfzI1AvIeI2mN7LB16flKzeXwL80HTqxrQPjziKOGWePaKiji3FkBcv_bS56gRPyZJLK5czcj40l53T_--gpCu8siGDsTLxddiRC7wHJzpWaLdqmyIMbxpiDp3u1pTsFc5fdSqzReCGWUTfWD7ukQDGTSXqtlTnVit2x1ddsNnwN-yLRtxmpShQTJc0sBubOJc8uobOLk__9eRqAA2Tf_pYoTi2YeroKwkZ536kFp53mc5nICE6LcWPn6WlCTw"},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20210605-1-ffd80f31-develop
      x-ms-server-latency:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: '{"key_ops": ["decrypt", "encrypt"], "attributes": {"exp": 2524723200},
      "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya34a172a/?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1625596391,"enabled":true,"exp":2524723200,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625596393},"key":{"e":"AQAB","key_ops":["decrypt","encrypt"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya34a172a/cdba997ea11e0521a2592f687d1e238c","kty":"RSA-HSM","n":"jfSqA_QBofsLiRdYblWfFg2TOh4cEjkylruq9MtpH0pMJre7Se8gpeHfoSl_zKUq7UHMyrrnXHjxjjBGqbq3pX8-bfzI1AvIeI2mN7LB16flKzeXwL80HTqxrQPjziKOGWePaKiji3FkBcv_bS56gRPyZJLK5czcj40l53T_--gpCu8siGDsTLxddiRC7wHJzpWaLdqmyIMbxpiDp3u1pTsFc5fdSqzReCGWUTfWD7ukQDGTSXqtlTnVit2x1ddsNnwN-yLRtxmpShQTJc0sBubOJc8uobOLk__9eRqAA2Tf_pYoTi2YeroKwkZ536kFp53mc5nICE6LcWPn6WlCTw"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '60'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya34a172a?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1625596391,"enabled":true,"exp":2524723200,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625596393},"deletedDate":1625596393,"key":{"e":"AQAB","key_ops":["encrypt","decrypt"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya34a172a/cdba997ea11e0521a2592f687d1e238c","kty":"RSA-HSM","n":"jfSqA_QBofsLiRdYblWfFg2TOh4cEjkylruq9MtpH0pMJre7Se8gpeHfoSl_zKUq7UHMyrrnXHjxjjBGqbq3pX8-bfzI1AvIeI2mN7LB16flKzeXwL80HTqxrQPjziKOGWePaKiji3FkBcv_bS56gRPyZJLK5czcj40l53T_--gpCu8siGDsTLxddiRC7wHJzpWaLdqmyIMbxpiDp3u1pTsFc5fdSqzReCGWUTfWD7ukQDGTSXqtlTnVit2x1ddsNnwN-yLRtxmpShQTJc0sBubOJc8uobOLk__9eRqAA2Tf_pYoTi2YeroKwkZ536kFp53mc5nICE6LcWPn6WlCTw"},"recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-keya34a172a","scheduledPurgeDate":1633372393,"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '112'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-keya34a172a?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1625596391,"enabled":true,"exp":2524723200,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625596393},"deletedDate":1625596393,"key":{"e":"AQAB","key_ops":["decrypt","encrypt"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya34a172a/cdba997ea11e0521a2592f687d1e238c","kty":"RSA-HSM","n":"jfSqA_QBofsLiRdYblWfFg2TOh4cEjkylruq9MtpH0pMJre7Se8gpeHfoSl_zKUq7UHMyrrnXHjxjjBGqbq3pX8-bfzI1AvIeI2mN7LB16flKzeXwL80HTqxrQPjziKOGWePaKiji3FkBcv_bS56gRPyZJLK5czcj40l53T_--gpCu8siGDsTLxddiRC7wHJzpWaLdqmyIMbxpiDp3u1pTsFc5fdSqzReCGWUTfWD7ukQDGTSXqtlTnVit2x1ddsNnwN-yLRtxmpShQTJc0sBubOJc8uobOLk__9eRqAA2Tf_pYoTi2YeroKwkZ536kFp53mc5nICE6LcWPn6WlCTw"},"recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-keya34a172a","scheduledPurgeDate":1633372393,"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20210605-1-ffd80f31-develop
      x-ms-server-latency:
      - '36'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-keya34a172a?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1625596391,"enabled":true,"exp":2524723200,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1625596393},"deletedDate":1625596393,"key":{"e":"AQAB","key_ops":["decrypt","encrypt"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestcrud-rsa-keya34a172a/cdba997ea11e0521a2592f687d1e238c","kty":"RSA-HSM","n":"jfSqA_QBofsLiRdYblWfFg2TOh4cEjkylruq9MtpH0pMJre7Se8gpeHfoSl_zKUq7UHMyrrnXHjxjjBGqbq3pX8-bfzI1AvIeI2mN7LB16flKzeXwL80HTqxrQPjziKOGWePaKiji3FkBcv_bS56gRPyZJLK5czcj40l53T_--gpCu8siGDsTLxddiRC7wHJzpWaLdqmyIMbxpiDp3u1pTsFc5fdSqzReCGWUTfWD7ukQDGTSXqtlTnVit2x1ddsNnwN-yLRtxmpShQTJc0sBubOJc8uobOLk__9eRqAA2Tf_pYoTi2YeroKwkZ536kFp53mc5nICE6LcWPn6WlCTw"},"recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestcrud-rsa-keya34a172a","scheduledPurgeDate":1633372393,"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20210605-1-ffd80f31-develop
      x-ms-server-latency:
      - '30'
    status:
      code: 200
      message: OK
version: 1
