interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc792670ac9.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc792670ac9.vault.azure.net
        - /keys/key0/create
        - api-version=7.0
        - ''
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc792670ac9.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc792670ac9.vault.azure.net/keys/key0/3ebcb63c33d5483ebe216b666ea5e909","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"tXZlQfAnxEKijI1oOkYArJzrWD2uEjCGFrNwiLWbRkqHokiuCvNwkQWDi4E64D5Lsy0jSC13pokL9_esj1LMlY60MKWnP_xa791kZowD6eQm7y83I64KDWPse_60BWnIu9nj9ja8b4EaEVgwFRsrfrFHN0g2AOXiC5Ak9HBq6bfrmLgn78I1CAb8bt48me-BhuRAfxEEVJmFk3ta3mtJz64B5iqlQCU0esdmdsnIZZq21OoRZyylBkaCXuDl7nOkiqObyDnmTJMxguyJp4rEmHhqYXL13mtUGk3iGScRTqMsuBEqucuU2PocGTnlOq3zHKCDRZ_o2sABxueNoLZG8Q","e":"AQAB"},"attributes":{"enabled":true,"created":1571258592,"updated":1571258592,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc792670ac9.vault.azure.net
        - /keys/key0/create
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault458ad70cc792670ac9.vault.azure.net/keys/key0?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault458ad70cc792670ac9.vault.azure.net/deletedkeys/key0","deletedDate":1571258593,"scheduledPurgeDate":1579034593,"key":{"kid":"https://vault458ad70cc792670ac9.vault.azure.net/keys/key0/3ebcb63c33d5483ebe216b666ea5e909","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"tXZlQfAnxEKijI1oOkYArJzrWD2uEjCGFrNwiLWbRkqHokiuCvNwkQWDi4E64D5Lsy0jSC13pokL9_esj1LMlY60MKWnP_xa791kZowD6eQm7y83I64KDWPse_60BWnIu9nj9ja8b4EaEVgwFRsrfrFHN0g2AOXiC5Ak9HBq6bfrmLgn78I1CAb8bt48me-BhuRAfxEEVJmFk3ta3mtJz64B5iqlQCU0esdmdsnIZZq21OoRZyylBkaCXuDl7nOkiqObyDnmTJMxguyJp4rEmHhqYXL13mtUGk3iGScRTqMsuBEqucuU2PocGTnlOq3zHKCDRZ_o2sABxueNoLZG8Q","e":"AQAB"},"attributes":{"enabled":true,"created":1571258592,"updated":1571258592,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc792670ac9.vault.azure.net
        - /keys/key0
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc792670ac9.vault.azure.net/deletedkeys/key0?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: key0"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc792670ac9.vault.azure.net
        - /deletedkeys/key0
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault458ad70cc792670ac9.vault.azure.net/deletedkeys/key6?api-version=7.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc792670ac9.vault.azure.net
        - /deletedkeys/key6
        - api-version=7.0
        - ''
version: 1
