{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048c8ed31dc/create?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048c8ed31dc/create?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048c8ed31dc/4f8765dab0db481ab78689b639083169",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4svW479IZ-GWc087nr9qCyR_a2knSbJW-WTctxYrrFP0FDLYZaiZSlvLVUxCxdMxsISQ1iwiJpz0CtfQ6tervOZxuEQLE7xD2bFzpb93eLaF2R44LOQ60k3uyO-uOn8nqEuCHO5N05YRfzJ_JG0jOBaglTEzRiUiBR1zdYk7BgHvnwsi2yQdfKNbE8uWeRKg3hWZEAr3hb4SdetF9DwxbBx9-0FvehPmbTJH8DdcLV2N5Zyno2UzwNh3DPcpxV1Cgq3KHKwB9i36BhezoJuXWJ9tdwXFuvzA1AQKiM2mMvlQ7dgxLcOORYPnYX3vhYuVZzZI-CcjlHmtEEUtKD7W-Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650638469,
          "updated": 1650638469,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048c8ed31dc/4f8765dab0db481ab78689b639083169/sign?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048c8ed31dc/4f8765dab0db481ab78689b639083169",
        "value": "LoPmEBj7973Y2Ckt62RwZt5XXUMHHh-T2TrhrmGnh_9ErTsPfmv1AykzcQfV-xwgX92ZgnBt2wHXN3UrN-j_yo1HuBftVgsCTpTKiL-j2IAfW7wBRGN3FrNYSk9exMNF0bPairZZg5tCBuLQsB_HSpcMVGjEdg9I_M0ABkdzS1b9ohN3w5oPzzj_vOfDpZcZFr7tAD5LDeoK8xeX8YptP1FWNnfrMriCcGmF9RuZ0Ctcl6xyR5GgX55iW_3K4ZipCxN9PeOUSdgUu4NN0_BOZgTzLZUBCEDiMxmrG7HSq9J3JtgQXaeNRybR-rBQytXWsP_CQnIW3NtL5LchJaZM6Q"
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-4096c8ed31dc/1ea56fd36dba40b987d163815f212c75/sign?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-4096c8ed31dc/1ea56fd36dba40b987d163815f212c75",
        "value": "azp_M7paH0fAyQOXpK8ypgOgC7jZMQUWmtlF9d_ObzZTa5sdTvoF35GIyf_99nAI16QQZ9zglmQXu3xagJnw_h0Naio_VpoSniSG3tB-US5yCaRSUsIyTv0BwWe2Dcl5BfxDSypgNeMpa1Jiqu0PCrd9D-s3ROG8ItxnbWIRqHcxMUk2mQ6Gf1CfJr2PNGKsQQn84MJE1iJwkLKbb_AxzVmRI571_0kK_DTtHXY85KZ3MXccP035cBcnazn2EpmFaA1M4e638IGFs6qG5SLb3ZCJ1sR5Z9B3EGFY_SdxHG0oRli4jSSU1gfmbiw_NOfIBUMb_2r5mj50_NVODIds-reXaTCjnC5Awbki20FfQ_UaqKhue3KRtkn0Ll9ZSAP5KQp41optM_Fo1Y9KcnlF2BxYpk6SsU7qS5g4h0oHVxsmmekaGXbjJeFFWtOie5NuO7oEibL0WoT3z1Es2TgRQvGcXRTeRGxaW8Ba1LhSKQj-bgam10dsKQsYOHMfrkHfX10zeaztaMRrwIDa4W8uoDeXH_BpteWvxGpd5r0TtxrG9i8KhBOrVqqlB333bTCClHMQRMizW5I7ajhtJ7YNT7dhfYta0jZkC0V7HpfLuu4QC6RzRGa0Zu88YkigHjw3iTAh2ozgKghpHrXtjI5FSV6gFhRux1RydJp83ooJ9vA"
      }
    }
  ],
  "Variables": {}
}
