interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault8bf41593cafcf91456.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Fri, 04 Oct 2019 18:21:11 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault8bf41593cafcf91456.vault.azure.net,
        /keys/key-name/create, api-version=7.0, '']
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault8bf41593cafcf91456.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault8bf41593cafcf91456.vault.azure.net/keys/key-name/07830169579b4041931849b8a85e1237","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"0FUFNOs76HBxuQdypm35K8bktS0A0Y8-HIA4kvXKecZeOdb0Lu4NVeZBMgTxXkKKurPihSwa5tqF8Oj39TJQmitXi6kM62uywyVcQMMS40lA0wnBv0b37EUXYXu_Qef-MbVZ6WpDzXB-Mb-bKpKdf_JW4PjJsd7Q4jxXGFfRxDwRPh8-gEqUlyqW7jtb9ry3WZ0fNTcSSpO3D_Rshhg6yHD9_76BMtfS6EpYxlgJpzk6b3lsT-Ko-jWttMdkXg3Y_KlUwRHe48L472k01LQ42j0UUu2Xw1Nr9yu6y-hDuE_gjVq7K70erp1Gv9hHPb5SOxHoZoYJx8dsleW1pLrglw","e":"AQAB"},"attributes":{"enabled":true,"created":1570213273,"updated":1570213273,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '666', content-type: application/json;
        charset=utf-8, date: 'Fri, 04 Oct 2019 18:21:12 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault8bf41593cafcf91456.vault.azure.net,
        /keys/key-name/create, api-version=7.0, '']
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault8bf41593cafcf91456.vault.azure.net/keys/key-name?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vault8bf41593cafcf91456.vault.azure.net/deletedkeys/key-name","deletedDate":1570213273,"scheduledPurgeDate":1577989273,"key":{"kid":"https://vault8bf41593cafcf91456.vault.azure.net/keys/key-name/07830169579b4041931849b8a85e1237","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"0FUFNOs76HBxuQdypm35K8bktS0A0Y8-HIA4kvXKecZeOdb0Lu4NVeZBMgTxXkKKurPihSwa5tqF8Oj39TJQmitXi6kM62uywyVcQMMS40lA0wnBv0b37EUXYXu_Qef-MbVZ6WpDzXB-Mb-bKpKdf_JW4PjJsd7Q4jxXGFfRxDwRPh8-gEqUlyqW7jtb9ry3WZ0fNTcSSpO3D_Rshhg6yHD9_76BMtfS6EpYxlgJpzk6b3lsT-Ko-jWttMdkXg3Y_KlUwRHe48L472k01LQ42j0UUu2Xw1Nr9yu6y-hDuE_gjVq7K70erp1Gv9hHPb5SOxHoZoYJx8dsleW1pLrglw","e":"AQAB"},"attributes":{"enabled":true,"created":1570213273,"updated":1570213273,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '807', content-type: application/json;
        charset=utf-8, date: 'Fri, 04 Oct 2019 18:21:12 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault8bf41593cafcf91456.vault.azure.net,
        /keys/key-name, api-version=7.0, '']
- request:
    body: null
    headers:
    method: GET
    uri: https://vault8bf41593cafcf91456.vault.azure.net/deletedkeys/key-name?api-version=7.0
  response:
    body: {string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found:
        key-name"}}'}
    headers: {cache-control: no-cache, content-length: '76', content-type: application/json;
        charset=utf-8, date: 'Fri, 04 Oct 2019 18:21:12 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 404, message: Not Found}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault8bf41593cafcf91456.vault.azure.net,
        /deletedkeys/key-name, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vault8bf41593cafcf91456.vault.azure.net/deletedkeys/key-name/recover?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault8bf41593cafcf91456.vault.azure.net/keys/key-name/07830169579b4041931849b8a85e1237","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"0FUFNOs76HBxuQdypm35K8bktS0A0Y8-HIA4kvXKecZeOdb0Lu4NVeZBMgTxXkKKurPihSwa5tqF8Oj39TJQmitXi6kM62uywyVcQMMS40lA0wnB[...]
