interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name9627173e/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestkey-name9627173e/create?api-version=7.1
- request:
    body: '{"key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey", "unwrapKey"],
      "kty": "RSA", "attributes": {"exp": 2527401600}, "key_size": 2048}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name9627173e/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name9627173e/baa72648c40048f2b9a38f7d8b4cafba","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"4mbrRPGa7sB64kxOV0jin21rc4y6_2a4m2uUPF9_zAg1LHwYathsh1B0fLuMk5EzV67FKijS9DpfOGXwR3cYgC1kRYlbRPUE961oMrnOfp2wKHVDHBYk46ypaA4oITbLn5IPPzRiEQc4AtxLqEafWR7n6Dqr2cqCCV3ThxaLiVKmJKqNkWtHJcY9EbBg8qs1q_sdwxKujqyd-nzd0jCx9utigx5f6RLpXRrSjXXtZg1WzG3LT21fdoajqi4ys2RvSE0Acf45BrLz4KB1t46YssHAqAfEllWgKi7ic8yYFZ6-uYYDItU_4ppKscXlkzbHtBO1ybGEvgCQoSZUpp5_CQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2527401600,"created":1612321019,"updated":1612321019,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestkey-name9627173e/create?api-version=7.1
[...]
- request:
    body: '{"crv": "P-256", "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name9627173e/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name9627173e/2a2551f23e65454581f3013dbcbcd8ae","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"hw-9nVHH753EPlS5bdEiK8xVxglD9nhZnPe5EM3Ynkw","y":"66FzQ_j4-hvsy9TCUXOFEKz1vOr4t4R7HudLhoZ12k4"},"attributes":{"enabled":true,"created":1612321020,"updated":1612321020,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestkey-name9627173e/create?api-version=7.1
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name9627173e/?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name9627173e/2a2551f23e65454581f3013dbcbcd8ae","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"hw-9nVHH753EPlS5bdEiK8xVxglD9nhZnPe5EM3Ynkw","y":"66FzQ_j4-hvsy9TCUXOFEKz1vOr4t4R7HudLhoZ12k4"},"attributes":{"enabled":true,"created":1612321020,"updated":1612321020,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestkey-name9627173e/?api-version=7.1
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name9627173e/2a2551f23e65454581f3013dbcbcd8ae?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name9627173e/2a2551f23e65454581f3013dbcbcd8ae","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"hw-9nVHH753EPlS5bdEiK8xVxglD9nhZnPe5EM3Ynkw","y":"66FzQ_j4-hvsy9TCUXOFEKz1vOr4t4R7HudLhoZ12k4"},"attributes":{"enabled":true,"created":1612321020,"updated":1612321020,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestkey-name9627173e/2a2551f23e65454581f3013dbcbcd8ae?api-version=7.1
- request:
    body: '{"tags": {"foo": "updated tag"}, "attributes": {"exp": 2524723200}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name9627173e/?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name9627173e/2a2551f23e65454581f3013dbcbcd8ae","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"hw-9nVHH753EPlS5bdEiK8xVxglD9nhZnPe5EM3Ynkw","y":"66FzQ_j4-hvsy9TCUXOFEKz1vOr4t4R7HudLhoZ12k4"},"attributes":{"enabled":true,"exp":2524723200,"created":1612321020,"updated":1612321020,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestkey-name9627173e/?api-version=7.1
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name9627173e?api-version=7.1
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name9627173e","deletedDate":1612321021,"scheduledPurgeDate":1620097021,"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name9627173e/2a2551f23e65454581f3013dbcbcd8ae","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"hw-9nVHH753EPlS5bdEiK8xVxglD9nhZnPe5EM3Ynkw","y":"66FzQ_j4-hvsy9TCUXOFEKz1vOr4t4R7HudLhoZ12k4"},"attributes":{"enabled":true,"exp":2524723200,"created":1612321020,"updated":1612321020,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinokv.vault.azure.net/keys/livekvtestkey-name9627173e?api-version=7.1
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name9627173e?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: livekvtestkey-name9627173e"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://mcpatinokv.vault.azure.net/deletedkeys/livekvtestkey-name9627173e?api-version=7.1
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name9627173e?api-version=7.1
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name9627173e","deletedDate":1612321021,"scheduledPurgeDate":1620097021,"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name9627173e/2a2551f23e65454581f3013dbcbcd8ae","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"hw-9nVHH753EPlS5bdEiK8xVxglD9nhZnPe5EM3Ynkw","y":"66FzQ_j4-hvsy9TCUXOFEKz1vOr4t4R7HudLhoZ12k4"},"attributes":{"enabled":true,"exp":2524723200,"created":1612321020,"updated":1612321020,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinokv.vault.azure.net/deletedkeys/livekvtestkey-name9627173e?api-version=7.1
version: 1
