{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048c90b31de/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048c90b31de/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048c90b31de/0e92f3ec2eb6453486913c1794b192d9",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4aMdfE7mvXzAajnp1O8xAAFB7p8dYZyKOVIiyQgvBnXoeHDaokKMZdYRXAZRBvQOdx32rsJxDFmR5bAuIyuKWh9NghVci_xfuXTSaEre29jAgHGDJLn-WAMj_fn2UntLV13AmFjYBsN3WIOq-AVh1lwDEOP48s8Xj7tR1BTHfkl3vA1mku2pI-z3mLHf-JZd19qnnJOuJA8TYZ5-fyocv9TJnwnttOnnotuTJ8tKNrFwW9UGUQCApWOsA8DEAokX1eNvv1kVaVCnZdb0dIyqnr8cR2InFEAKACxeIhuYVZl9bGjGPwNnS7hNi9DGV4qxyB3mtEpxdv6VZtt5Cp6o3Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650292615,
          "updated": 1650292615,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048c90b31de/0e92f3ec2eb6453486913c1794b192d9/sign?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048c90b31de/0e92f3ec2eb6453486913c1794b192d9",
        "value": "uCxIwia3o5LXSfIk8KqPiPNn2FfCMLmUDJ7EwxZglubYTDxzXvbfttVSSQOTZ8j1N-b0cDgWUzciut-FfTaP4cw8i0B84vX8PJ7-GjiBjMQNl_pYk7zAVWvxwozgBcqjjW4FpSGF5lVTKHl1Rosg0y1A8wJlx1vZozcjHrSBPaW_NMQJ8KE2LU6bXbevIS-NK3SfQQT5H7ASKuLjufRbTM9rgdjp2qTQRhNhbzQrHSEDFJ-A_uarnrbzg60jQ_UjJx7ZCO6hljXAWAJAdDHJdTBu38DmujQUrP9QWpUFlqR7OSOB2Hk96Ah9tSNrzpz3NdwA4tIw36-m6OPnPMtYBA"
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-4096c90b31de/f4b5bb75f4e6467cbd62876073a75a1c/sign?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-4096c90b31de/f4b5bb75f4e6467cbd62876073a75a1c",
        "value": "iZKpTeKWjPtW7bskP7zw_yPrVRsXIvbEnR8gQFVxPCCJimzxw9BoQlmkMDCyq-DvpjbKeEPAx22bZOpQeyent7EEeKbm-EZIXi5hMO9BhdPtf_IElGXI9Nwoqa2huEUBtgq9Hx7BPCid2Pt6OTVawdLSuxm20InGSqLgOe89hmhNP1wcFOJ-M2ojAuk1fjw-HYbbuSNkp3aiGzCI70_DlUfbouHU-ltOjIlHWgCCwV1kk7ZF8dVohI1KXkwGeYryUdsXu5dKqhx0nLa9-LD7bA9JDgrnhhSR64nLMoZiUukS9-6QUBJJTfadr-Q6SFNAVU1eTG2YgNCuwSn_ndlvwHHEgy3R6Vd2b3SyY7vKjss6tEsRdKxQwb6kXc3N8q1pA2rQpLGqrc46O48xHv_Hu8gcJWtV_gwK98Xcm8cWlTgQwyYbJICHqye8Do0ufDLSnOnhUsvA07H2sU3YEcRfu9XjvSurNCGfCEeQZOKMb8L4_pezaHXlsOMuy3F9ZPivDLsMXQpFFPaxr7UvdM6xCFtOhfMRnaO7qlTutloy2OH-zvWZK3Olo20YDvqlwRXDpOS5BjxwURpO2uhAbqgenSWCKoZTn-M-xJM59o3JrhzI05ciM6XSKRJ6Ts3j4dZHzLIANYUlvmgwpTrW2l6NUf75woJtQs1RUQ5bMX79Cyw"
      }
    }
  ],
  "Variables": {}
}
