interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault105115999756281625.vault.azure.net/keys/crypto-test-encrypt-key56281625/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Tue, 27 Aug 2019 22:05:39 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault105115999756281625.vault.azure.net,
        /keys/crypto-test-encrypt-key56281625/create, api-version=7.0, '']
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault105115999756281625.vault.azure.net/keys/crypto-test-encrypt-key56281625/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault105115999756281625.vault.azure.net/keys/crypto-test-encrypt-key56281625/0dde5cd886604113b91757b091d991df","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"smtyYs5ncblE6aYKNbCwA_FExqPoHMic9goai4MljgV5ISM-wqYvDrQsiJB8wZ_DU2wZn581xUqMqQA64HK9DOFMthnZiLOu5gdoP42DgJVlLlOpDHexDtALbhmPmxU10dt92xSR47SAkP7sT-jBH8L77Mb1B78apjOBzpLEcgYkq0c6AkYKWolj9YyjcarKTWF6tyEqTKHyR5uom8LKhnO6aUO1crFH2DLmsvoXdevJzT5Vps8PXZ-lI2nxdgBvEQOw6Mh9StjMqsB5w5BiZlJU-lhp0DfwrQAn4xXAYt6YiKdJAV7NOhojuUBHhdI-0GMi9cfFqwHBKTywr7hUeQ","e":"AQAB"},"attributes":{"enabled":true,"created":1566943540,"updated":1566943540,"recoveryLevel":"Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '677', content-type: application/json;
        charset=utf-8, date: 'Tue, 27 Aug 2019 22:05:40 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault105115999756281625.vault.azure.net,
        /keys/crypto-test-encrypt-key56281625/create, api-version=7.0, '']
- request:
    body: '{"alg": "RSA-OAEP", "value": "cGxhaW50ZXh0"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault105115999756281625.vault.azure.net/keys/crypto-test-encrypt-key56281625/0dde5cd886604113b91757b091d991df/encrypt?api-version=7.0
  response:
    body: {string: '{"kid":"https://vault105115999756281625.vault.azure.net/keys/crypto-test-encrypt-key56281625/0dde5cd886604113b91757b091d991df","value":"KW5vEY0QyyhedRbUzf9OLyWd2b_ib3zBCwGvnTTGCfPstLTbCke3SOsxhiq688PgsMNsG70FSOeNQqE[...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "KW5vEY0QyyhedRbUzf9OLyWd2b_ib3zBCwGvnTTGCfPstLTbCke3SOsxhiq688PgsMNsG70FSOeNQqE91oThFjHvNr6iotnp5wamW-Pg3kjFA4toO2z5FFGoNShqQCrqr2GIT_B8BGf7C5Z-k0ki_y_ja1RlPS6VkVOrbYvvJ6wbowIPxh7qePQ1xqh_H5oBTUiT6krMi3IXReC1cHFJ5AazFZ_yxBX747cBYE-S6nkYIWY-u-kk6ahtpGiJuFlHNQ4R9kWJYD51qmXnmV_YluHQF7fFLoaWwoFaBlT9jMCOGv6_uztAZwfhh8JZeK1Xu8C-wT4G_pLYpNDZYjbQmA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://v[...]
