interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key-name/a6edf016a0b24ac8b693759b218ce38e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"oDFwmigjMHFmsN_lqueKdZMLtGLzT65ca2LzTICt0cSb_eADU8TYNWgRcPAgpZPAuvypTX2-v_A9Kf-6piW2cQ43ng4cnXSvNtTMITqGbYijOZsBsVDEuFH1v_hBr1bW1WHrNOwR_W2MJR1N8Fl-MQfMvmWIKoiCkXwv_vTmahHVUL_3iUqHZ_Ck5RXpn7Z_iKqm2-0l9qq64A9xVEBEGzQ79KybnzfrbyexpzbWL5GCndi0glamK2KhlNWEHtM-s7uAH8uldVqFn10CguVmYNetNqvqf9oFwC6LBFFR7XhKpl3k6YgPxMCGcW7VeKbVVdvPNtkwIIaOEnZcVs1fuw","e":"AQAB"},"attributes":{"enabled":true,"created":1575676642,"updated":1575676642,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/key-name?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key-name","deletedDate":1575676642,"scheduledPurgeDate":1583452642,"key":{"kid":"https://vaultname.vault.azure.net/keys/key-name/a6edf016a0b24ac8b693759b218ce38e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"oDFwmigjMHFmsN_lqueKdZMLtGLzT65ca2LzTICt0cSb_eADU8TYNWgRcPAgpZPAuvypTX2-v_A9Kf-6piW2cQ43ng4cnXSvNtTMITqGbYijOZsBsVDEuFH1v_hBr1bW1WHrNOwR_W2MJR1N8Fl-MQfMvmWIKoiCkXwv_vTmahHVUL_3iUqHZ_Ck5RXpn7Z_iKqm2-0l9qq64A9xVEBEGzQ79KybnzfrbyexpzbWL5GCndi0glamK2KhlNWEHtM-s7uAH8uldVqFn10CguVmYNetNqvqf9oFwC6LBFFR7XhKpl3k6YgPxMCGcW7VeKbVVdvPNtkwIIaOEnZcVs1fuw","e":"AQAB"},"attributes":{"enabled":true,"created":1575676642,"updated":1575676642,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/key-name?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: key-name"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vaultname.vault.azure.net/deletedkeys/key-name/recover?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key-name/a6edf016a0b24ac8b693759b218ce38e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"oDFwmigjMHFmsN_lqueKdZMLtGLzT65ca2LzTICt0cSb_eADU8TYNWgRcPAgpZPAuvypTX2-v_A9Kf-6piW2cQ43ng4cnXSvNtTMITqGbYijOZsBsVDEuFH1v_hBr1bW1WHrNOwR_W2MJR1N8Fl-MQfMvmWIKoiCkXwv_vTmahHVUL_3iUqHZ_Ck5RXpn7Z_iKqm2-0l9qq64A9xVEBEGzQ79KybnzfrbyexpzbWL5GCndi0glamK2KhlNWEHtM-s7uAH8uldVqFn10CguVmYNetNqvqf9oFwC6LBFFR7XhKpl3k6YgPxMCGcW7VeKbVVdvPNtkwIIaOEnZcVs1fuw","e":"AQAB"},"attributes":{"enabled":true,"created":1575676642,"updated":1575676642,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/key-name/?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Key not found: key-name"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/key-name/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key-name/a6edf016a0b24ac8b693759b218ce38e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"oDFwmigjMHFmsN_lqueKdZMLtGLzT65ca2LzTICt0cSb_eADU8TYNWgRcPAgpZPAuvypTX2-v_A9Kf-6piW2cQ43ng4cnXSvNtTMITqGbYijOZsBsVDEuFH1v_hBr1bW1WHrNOwR_W2MJR1N8Fl-MQfMvmWIKoiCkXwv_vTmahHVUL_3iUqHZ_Ck5RXpn7Z_iKqm2-0l9qq64A9xVEBEGzQ79KybnzfrbyexpzbWL5GCndi0glamK2KhlNWEHtM-s7uAH8uldVqFn10CguVmYNetNqvqf9oFwC6LBFFR7XhKpl3k6YgPxMCGcW7VeKbVVdvPNtkwIIaOEnZcVs1fuw","e":"AQAB"},"attributes":{"enabled":true,"created":1575676642,"updated":1575676642,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
