interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name4d2e1457/create?api-version=2016-10-01
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-key-name4d2e1457/create?api-version=2016-10-01
- request:
    body: '{"key_size": 2048, "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name4d2e1457/create?api-version=2016-10-01
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-key-name4d2e1457/c47128dd031d424d88645a9d5d427bf4","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"7b-xY3N7Nu7QiRQ2Uq9rEVg3Ix9lf1z3M7UU5_Gte5bHr1TOuw3IORI-IBKxODDy2CNehrUduiIQjUDeQzw-1dzitgYVpkkCBJuW4fH6qeQjOa5l1Ws_895dWWJGIX6N5VAAFKf_-R7rPzkM3-Wsg7GHOxaZgyosCIFmD2KpA3Lz5DiO62S_C8mQuHjq9J34KKzP4ZVHF_DWkB_51espRY2GIKt2pNgvfC3Xz1JKVVpyMr-YIHN2OhRt9QFuRJvOsgeGq4oavWKTI2e5xr1DvxBNU2m9Q3vT7MfWG9h3d8qLPrEdRA7-e6YIlojSKfjXHDwhxOAkI-7GNIpQoHZheQ","e":"AQAB"},"attributes":{"enabled":true,"created":1618859530,"updated":1618859530,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-key-name4d2e1457/create?api-version=2016-10-01
version: 1
