interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256ddb61861/create?api-version=7.2-preview
  response:
    body:
      string: ''
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency: '0'
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestec-verify-P-256ddb61861/create?api-version=7.2-preview
- request:
    body: '{"crv": "P-256", "kty": "EC-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256ddb61861/create?api-version=7.2-preview
  response:
    body:
      string: '{"attributes":{"created":1616196297,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1616196297},"key":{"crv":"P-256","key_ops":["verify","sign"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256ddb61861/5882117cb0a24d68276ea716b686afa1","kty":"EC-HSM","x":"3-lIJncx3Tm2Bvs5Sr_k4JcuLqv-PCMvpOd-7iucd8g","y":"NHJhUoCtbALakReJG3rxBHNxapOshCOLr7LLaoSQzLo"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '340'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestec-verify-P-256ddb61861/create?api-version=7.2-preview
- request:
    body: '{"alg": "ES256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256ddb61861/5882117cb0a24d68276ea716b686afa1/sign?api-version=7.2-preview
  response:
    body:
      string: '{"alg":"ES256","kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256ddb61861/5882117cb0a24d68276ea716b686afa1","value":"54D9uskIPpIp91KhmU-chFvts5ApyjUl8MDZ2j9jW3IqcMDF1NGuaHxzGfjFdd7RGUONSm2Aj92ESclePiGlNA"}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '108'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestec-verify-P-256ddb61861/5882117cb0a24d68276ea716b686afa1/sign?api-version=7.2-preview
- request:
    body: '{"crv": "P-256K", "kty": "EC-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256Kddb61861/create?api-version=7.2-preview
  response:
    body:
      string: '{"attributes":{"created":1616196301,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1616196301},"key":{"crv":"P-256K","key_ops":["verify","sign"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256Kddb61861/f58e4fa48b7d0011bc46b70f13c0a964","kty":"EC-HSM","x":"UCl3QnWIYgJgsx79ftv0eR48Bdu2Thd3KgHI49_I8CY","y":"GrFaHDEnKU6dZO7N8Pn-9UGxIYldTZcFfjDG6cYQBjA"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '279'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestec-verify-P-256Kddb61861/create?api-version=7.2-preview
- request:
    body: '{"alg": "ES256K", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256Kddb61861/f58e4fa48b7d0011bc46b70f13c0a964/sign?api-version=7.2-preview
  response:
    body:
      string: '{"alg":"ES256K","kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-256Kddb61861/f58e4fa48b7d0011bc46b70f13c0a964","value":"s-S7OWWNmC4Ur2t6zfaayouMDX1LfrRPPVg4OqIAi15Fht8_WHh-3S1i5VouuDSw_wlTpnts6zDMHb_d1aYh3A"}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '102'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestec-verify-P-256Kddb61861/f58e4fa48b7d0011bc46b70f13c0a964/sign?api-version=7.2-preview
[...]
- request:
    body: '{"alg": "ES512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-521ddb61861/c6f635091ffd01a627693cf9ee3492fc/sign?api-version=7.2-preview
  response:
    body:
      string: '{"alg":"ES512","kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestec-verify-P-521ddb61861/c6f635091ffd01a627693cf9ee3492fc","value":"ASftWadyB3PZegqq_1L2eFffvh-WlHtftb_ZQDJPY07LuKmilAcvBO3RTLAsVDSrErX16UBo5zUv56Z84d1nsqvWAXMpbBonReUowkOAZJRSb4ZSf8QlGr7tFUEVrasDlx1sxFU72BkQczOHoKmoKdrOqGUIH87X4hZmrTxdtQPf6VRP"}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '186'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestec-verify-P-521ddb61861/c6f635091ffd01a627693cf9ee3492fc/sign?api-version=7.2-preview
version: 1
