interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault6742af9e12b1.vault.azure.net/keys/keywrapaf9e12b1/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Fri, 23 Aug 2019 17:43:59 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault6742af9e12b1.vault.azure.net,
        /keys/keywrapaf9e12b1/create, api-version=7.0, '']
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault6742af9e12b1.vault.azure.net/keys/keywrapaf9e12b1/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault6742af9e12b1.vault.azure.net/keys/keywrapaf9e12b1/32798246c7f142dd99689c0b860b5a07","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"wG6PomvcqyL_eqFyesWlA5xjC85bpcpAJxD8qbGIUgM76-MgZDr6aRj68t9Fp2E77xJJcSS4oknBrMwrTuLPM7AKwnRHLgK-FVVPOAklWCFLaRC-mxunyz8LJZ_ECrh4R4UFX5CXFMvfUgF23jJ5kmirRNYAE594E6LRXAOMVi_FZtN-QO1E4uODmvR-yMYsd8UvOupOBcGpjvx3To0OjWRc--0MZApSbSTgNVjVe3EEPS8QQex5QY51Kp_dyW6ojWMqa1c8LknUapMZdq52eUfy6zbga0htXzj5-U3j6xxQUVKVRBpfyF3cvUIZj6u5Um0SzutSsyb7nBCErWUIGw","e":"AQAB"},"attributes":{"enabled":true,"created":1566582240,"updated":1566582240,"recoveryLevel":"Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '655', content-type: application/json;
        charset=utf-8, date: 'Fri, 23 Aug 2019 17:44:00 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault6742af9e12b1.vault.azure.net,
        /keys/keywrapaf9e12b1/create, api-version=7.0, '']
- request:
    body: '{"alg": "RSA-OAEP", "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault6742af9e12b1.vault.azure.net/keys/keywrapaf9e12b1/32798246c7f142dd99689c0b860b5a07/wrapkey?api-version=7.0
  response:
  [...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "LwRXUfn9mGkSmHwA1kiHWvnqogWeaNBYHvwKQS6fp8TAi1Y8QrpF3c8f7EelzLAV7hfL2gn5Lzg32HRuxxNNXahn7NKD0NNxrZ-mPIsmBD-rKlF_qUW--A-XcNIusXQ9DmaTCgNLVzBrU5yo_Du0NSfBHZPQTTOI-Fe9LPTb8TMyqIZpMPninqZQAvoWCBw_Q1EGhL_O2Z5F9Lm6RnJrCv3IHgepSNzY_y4ZbK52iJb_l6z-tWOpu1PB0FrN3_0Fu-1wxWiERCrwiZdr1ZO0-QGINwaslBPOKYPLOk7tj4rxx4e5RAwaysUV-wA3AP95OtIsNkCyBz8HXtubOQiXsQ"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://v[...]
