interactions:
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultfcf91456.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultfcf91456.vault.azure.net/keys/key-name/9d82564a217e42d2a567921b62670a43","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"tNjZECUWLz5zzJ6mHYVC2rhNqAwooRR_RTZwE6E3w-vmYRlLf-ZLlWh4U7-djujJ5ce6HowOmzXKDxy_EM-EpsbMtv6EPscsyNYl-hwQHJ4lKmsXY5YbQgjFo2xB1xUNnAYLN6QKFbXiKpWxha22o8JzjtCIs5WTq5Tc8g9YQVx7loJ4p2JB7iG3LInz9l__u4l-LBroF4FRiM6H128ABVBKDGayGRPQo1E_gIp8nW83KlUOk34GzhiFQNc8yiV4ioU2t3T1p71Hi6IPhAk6SMsFa5N7xEfZhU9it7wH9syQ4JpOtHSGuO-bXCAhxUciVbmaevx347BeRfeBgg0SDw","e":"AQAB"},"attributes":{"enabled":true,"created":1562686868,"updated":1562686868,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultfcf91456.vault.azure.net/keys/key-name?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vaultfcf91456.vault.azure.net/deletedkeys/key-name","deletedDate":1562686868,"scheduledPurgeDate":1570462868,"key":{"kid":"https://vaultfcf91456.vault.azure.net/keys/key-name/9d82564a217e42d2a567921b62670a43","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"tNjZECUWLz5zzJ6mHYVC2rhNqAwooRR_RTZwE6E3w-vmYRlLf-ZLlWh4U7-djujJ5ce6HowOmzXKDxy_EM-EpsbMtv6EPscsyNYl-hwQHJ4lKmsXY5YbQgjFo2xB1xUNnAYLN6QKFbXiKpWxha22o8JzjtCIs5WTq5Tc8g9YQVx7loJ4p2JB7iG3LInz9l__u4l-LBroF4FRiM6H128ABVBKDGayGRPQo1E_gIp8nW83KlUOk34GzhiFQNc8yiV4ioU2t3T1p71Hi6IPhAk6SMsFa5N7xEfZhU9it7wH9syQ4JpOtHSGuO-bXCAhxUciVbmaevx347BeRfeBgg0SDw","e":"AQAB"},"attributes":{"enabled":true,"created":1562686868,"updated":1562686868,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultfcf91456.vault.azure.net/deletedkeys/key-name?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: key-name"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vaultfcf91456.vault.azure.net/deletedkeys/key-name/recover?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultfcf91456.vault.azure.net/keys/key-name/9d82564a217e42d2a567921b62670a43","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"tNjZECUWLz5zzJ6mHYVC2rhNqAwooRR_RTZwE6E3w-vmYRlLf-ZLlWh4U7-djujJ5ce6HowOmzXKDxy_EM-EpsbMtv6EPscsyNYl-hwQHJ4lKmsXY5YbQgjFo2xB1xUNnAYLN6QKFbXiKpWxha22o8JzjtCIs5WTq5Tc8g9YQVx7loJ4p2JB7iG3LInz9l__u4l-LBroF4FRiM6H128ABVBKDGayGRPQo1E_gIp8nW83KlUOk34GzhiFQNc8yiV4ioU2t3T1p71Hi6IPhAk6SMsFa5N7xEfZhU9it7wH9syQ4JpOtHSGuO-bXCAhxUciVbmaevx347BeRfeBgg0SDw","e":"AQAB"},"attributes":{"enabled":true,"created":1562686868,"updated":1562686868,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
