interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtesttestKey452b104e/create?api-version=7.3-preview
  response:
    body:
      string: ''
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency: '0'
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtesttestKey452b104e/create?api-version=7.3-preview
- request:
    body: '{"kty": "RSA-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtesttestKey452b104e/create?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1618441429,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1618441429},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtesttestKey452b104e/8c22166b721c41ebb354225a134131d8","kty":"RSA-HSM","n":"iqZ92lTvdjBK3vGkETKA3Ro1czHgUYzw4y9BnOz8TqhkvZWjJKZZGz-fogrPw_d1liQeJU7SKICIjU0aK_7tHuszX-gnuKFGFWnV9xgWllxibYqI7IasGorTRSX8MqTaLLt09l81x04Qh6GiF0dflnFNJLDLNrxhtuhrltXvvMIplEfmz_v838UQPv_vt1L83w7e3yAEANLKoL7K4lR-TOwWuKOSCJu6xCqNF0By4gukpyHAtZXjkSQApwIRoSgH7Dev8JeMGb-C5din5GpVNGkq9Uep5XTs7y0U5w_ktPPaMF-EI3dYDYdB51bigpJh-r_2GNQCzDoMVG3Ic7C2Xw"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '209'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtesttestKey452b104e/create?api-version=7.3-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtesttestKey452b104e/versions?api-version=7.3-preview&maxresults=6
  response:
    body:
      string: '{"nextLink":"https://managedhsmname.managedhsm.azure.net/keys/livekvtesttestKey452b104e/versions?maxresults=6&$skiptoken=K1JJRDp-NWFKQkFPT216OTNRQUFBQUFBQUFBQT09I1JUOjEjVFJDOjYjSVNWOjIjSUVPOjY1NTY3I1FDRjoz","value":[{"attributes":{"created":1618441429,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1618441429},"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtesttestKey452b104e/8c22166b721c41ebb354225a134131d8"},{"attributes":{"created":1618441432,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1618441432},"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtesttestKey452[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtesttestKey452b104e/versions?maxresults=6&$skiptoken=K1JJRDp-NWFKQkFPT216OTNRQUFBQUFBQUFBQT09I1JUOjEjVFJDOjYjSVNWOjIjSUVPOjY1NTY3I1FDRjoz
  response:
    body:
      string: '{"value":[{"attributes":{"created":1618441443,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1618441443},"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtesttestKey452b104e/1d6700ba9d5909491fe429880c740895"}]}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20210407-3-27236ed1-develop
      x-ms-server-latency: '30'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtesttestKey452b104e/versions?maxresults=6&$skiptoken=K1JJRDp-NWFKQkFPT216OTNRQUFBQUFBQUFBQT09I1JUOjEjVFJDOjYjSVNWOjIjSUVPOjY1NTY3I1FDRjoz
version: 1
