interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048db0617fe/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"key_size": 2048, "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048db0617fe/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048db0617fe/4d938145956f40bda1bf8c5dafd336e7","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"xJM76Ke5QbIB-cxhun0LEcOVocSDC_jChPzBEv3LkIbjG8N-hfseijJwUEKjC4Si4hKIr5ldOHZwP07EUZ_arNbMF8aOGliglP5DRhyVbj1hsMuGszIXTAlv_hdgKE9fAZts349uJCjBeHlNTdfEX96ACOylAxK7R0-IjuEMiYfUPG95p31QSVkIpH1clpC3t1gI_i0Pe6iLwQmFXbaB7TXp2QCSKGsuhwGiOSjgHxj0UKP4RvvKzci82S1faegOYkdhJVO8X553n6joa04WVDlvzKdFP3-nrIxhcAkSHvc1e-GSbrzUMuu9L4AY6aj1pfacYhjR3pP22pdb_po5hQ","e":"AQAB"},"attributes":{"enabled":true,"created":1620427861,"updated":1620427861,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg", "alg": "PS256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048db0617fe/4d938145956f40bda1bf8c5dafd336e7/sign?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048db0617fe/4d938145956f40bda1bf8c5dafd336e7","value":"Q-vajml5GQTtLHmRMkI_LEKCCEzQuQl5jStryM3obhpiR36PtjWHXI1pz7qL__MMHvh_cBwDeFMKiMnRzEMtCKYXx9oenXdWpIJuLikfBpVDxBi-vqe4EiwX5YnwqmmklaDJDaX38fbzvYGIY77hnz560jU6CSNyhZLY8vxZxFgjhfT_dlhtNCguI96giiN8hUvDrzbL9aClvKqZxKqcDhRnvu-v-7HCBUzS4hM1vWi_2UdmeTPfFEN6Li7aWGlyJFjkoF1y-XQbo78h8pzCMAK9RvYouMIbF_QhnRhiTlwnElkAe35nWzZyU0i8-lU1CWlsxXvzMOuKjz2VludhUw"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ",
      "alg": "RS512"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-4096db0617fe/3acef007fefa45af89629da0a9915fea/sign?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-4096db0617fe/3acef007fefa45af89629da0a9915fea","value":"RPTl07cRjHe966axv8TdIhsopXkZiy7do-O45L30o-wjI6fEgvO1i6DbzQA5d2lsLycbSJK1uhMcLhOHMTXX_QIu0HhB02QQ4yBNpmOpzxxaNNe0hvryFjYalrpEpG1BWg4U4vkYzncDbXTaAYopPDyx3wjKSRiR4DzVoChV_ODDiqhN_sE3iy3cCtHZgv7uKTMDijVmhj7RhVI9NkY0gVeWHZO4_5MjRM-0fUxDnGci1K9ykEzNRvM5SEpOT6DO0HCO4jX5ZbsH_HAe5SiAX_7GaME0FARJ4EuSobsXFbazv5GWUk71r4cZPNi44nb02yntId1LGBav0AtewIq2jk2x9-AF0l9JhMlJnRa4Tz_2t28KWZjBKG_42QKfOJ3oGWeKUnR2xIS7h2eJMzb5aYWgLl8NjGgXvYW-Hb9_nOWobQcU_5gxlzeFI9DUSyPGbKenirEH1LwsrvsNSacKH7Q1jyiwx77r78s2NbxXSZmq08OKejFnrjIBvz-HDsMjG38cejTJ1Ly45OW9ZEBncsOVewKoykxxGugfi8_cOPJeHJ_uPpELklsQMxlvB_7f9mXEzqTx5GmvkG4qcxxqW6xKOUnUM93rLEygMxkYzplzPzxfkRs0Z_gQ3TvJRUW-X-FPY_8KvEzYh7bGkqbB2lM6E_15kbMTJ79wUbOYIpI"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
