interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault67429627173e.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Fri, 23 Aug 2019 17:45:15 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault67429627173e.vault.azure.net,
        /keys/key-name/create, api-version=7.0, '']
- request:
    body: '{"kty": "RSA", "key_size": 2048, "key_ops": ["encrypt", "decrypt", "sign",
      "verify", "wrapKey", "unwrapKey"], "attributes": {"exp": 2527401600}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault67429627173e.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault67429627173e.vault.azure.net/keys/key-name/15c869366f714c3d81d25bcd7fd24e11","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"0VicUdarf5xHiE8Rw0TluVHLWVcSfieg8bAoUG9e64-IpMGx2I1ygFan9FWSVnkfSkL7K-UNThk5YXbTpujwx42GwVE01CENHGRsaKGVoGQHlQw9cdWt81QhoIW20cfGd9rjlKU4Wzp8E5Oc0vmELEbJRs6Xpj_EzouUAaD26Nu-2RB_uQ0ZhrIsvpNosh-fN57mD_R34Lk3Va-pT00Z6Ea5Xli6n7LQeMYltcASUFNNId9NHGoQknNll8n67dYlirxWK5MdfkINf80eNibUox_tWJNaJFLonusUHkgLkVzHE0PkbtL0tcYjz1yLHUamI7sqDpv8i7PM4GNWHWrraQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2527401600,"created":1566582316,"updated":1566582316,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '677', content-type: application/json;
        charset=utf-8, date: 'Fri, 23 Aug 2019 17:45:15 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault67429627173e.vault.azure.net,
        /keys/key-name/create, api-version=7.0, '']
[...]
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault67429627173e.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault67429627173e.vault.azure.net/keys/key-name/0ade84d154f8448ca80c5af501beca33","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"q6OUxrxC2hxbb2EAhgAvHd_aWe6kYUa9ofI6OrwLw_Q","y":"Pn4faMeaCLex9tK2eke-k82PXhxjNMiqiO0dWhVouAA"},"attributes":{"enabled":true,"created":1566582317,"updated":1566582317,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '371', content-type: application/json;
        charset=utf-8, date: 'Fri, 23 Aug 2019 17:45:16 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault67429627173e.vault.azure.net,
        /keys/key-name/create, api-version=7.0, '']
- request:
    body: null
    headers:
    method: GET
    uri: https://vault67429627173e.vault.azure.net/keys/key-name/?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault67429627173e.vault.azure.net/keys/key-name/0ade84d154f8448ca80c5af501beca33","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"q6OUxrxC2hxbb2EAhgAvHd_aWe6kYUa9ofI6OrwLw_Q","y":"Pn4faMeaCLex9tK2eke-k82PXhxjNMiqiO0dWhVouAA"},"attributes":{"enabled":true,"created":1566582317,"updated":1566582317,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '371', content-type: application/json;
        charset=utf-8, date: 'Fri, 23 Aug 2019 17:45:16 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault67429627173e.vault.azure.net,
        /keys/key-name/, api-version=7.0, '']
- request:
    body: null
    headers:
    method: GET
    uri: https://vault67429627173e.vault.azure.net/keys/key-name/0ade84d154f8448ca80c5af501beca33?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault67429627173e.vault.azure.net/keys/key-name/0ade84d154f8448ca80c5af501beca33","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"q6OUxrxC2hxbb2EAhgAvHd_aWe6kYUa9ofI6OrwLw_Q","y":"Pn4faMeaCLex9tK2eke-k82PXhxjNMiqiO0dWhVouAA"},"attributes":{"enabled":true,"created":1566582317,"updated":1566582317,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '371', content-type: application/json;
        charset=utf-8, date: 'Fri, 23 Aug 2019 17:45:16 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault67429627173e.vault.azure.net,
        /keys/key-name/0ade84d154f8448ca80c5af501beca33, api-version=7.0, '']
- request:
    body: '{"attributes": {"exp": 2524723200}, "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://vault67429627173e.vault.azure.net/keys/key-name/?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault67429627173e.vault.azure.net/keys/key-name/0ade84d154f8448ca80c5af501beca33","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"q6OUxrxC2hxbb2EAhgAvHd_aWe6kYUa9ofI6OrwLw_Q","y":"Pn4faMeaCLex9tK2eke-k82PXhxjNMiqiO0dWhVouAA"},"attributes":{"enabled":true,"exp":2524723200,"created":1566582317,"updated":1566582317,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'}
    headers: {cache-control: no-cache, content-length: '417', content-type: application/json;
        charset=utf-8, date: 'Fri, 23 Aug 2019 17:45:16 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault67429627173e.vault.azure.net,
        /keys/key-name/, api-version=7.0, '']
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault67429627173e.vault.azure.net/keys/key-name?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vault67429627173e.vault.azure.net/deletedkeys/key-name","deletedDate":1566582317,"scheduledPurgeDate":1574358317,"key":{"kid":"https://vault67429627173e.vault.azure.net/keys/key-name/0ade84d154f8448ca80c5af501beca33","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"q6OUxrxC2hxbb2EAhgAvHd_aWe6kYUa9ofI6OrwLw_Q","y":"Pn4faMeaCLex9tK2eke-k82PXhxjNMiqiO0dWhVouAA"},"attributes":{"enabled":true,"exp":2524723200,"created":1566582317,"updated":1566582317,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'}
    headers: {cache-control: no-cache, content-length: '552', content-type: application/json;
        charset=utf-8, date: 'Fri, 23 Aug 2019 17:45:16 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault67429627173e.vault.azure.net,
        /keys/key-name, api-version=7.0, '']
version: 1
