interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey0a8eb0b9c/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey0a8eb0b9c/create?api-version=7.1
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey0a8eb0b9c/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey0a8eb0b9c/85a22dcba8364f83923664c3d1d21756","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"tmoJU-LoLnfINmcGuzzKWzB3yEbgHn_cor2ItH35TJgngJQ98cNlp-8D8Gi87nn5q6M7_zVWbRd04F6LK_SIkWLYwO-7ew1NCjp0yYKslZSSpAK_B0ii6ToMVEj8ya-WrZ7Jm_LTSguxAjjEr3T47jWkx8BTZ7GgUC9UZit06ZT7hwWg7bgFUHDmMPt1Avd-tYn2gHegl1T0dckap5zBKBoDKrkRRsJSiBpPpDxkvrRn4lcLBerq2amEa2skGrYAsHY3egxEXXe07EtgKVrNAfcWFbgAKFnH8fj4TxPpjGy4eAdqSO-KQhTVUD4eEZkFt4T26e-quCtZ0BFOeCnFOQ","e":"AQAB"},"attributes":{"enabled":true,"created":1612576545,"updated":1612576545,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey0a8eb0b9c/create?api-version=7.1
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey0a8eb0b9c?api-version=7.1
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestkey0a8eb0b9c","deletedDate":1612576547,"scheduledPurgeDate":1620352547,"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey0a8eb0b9c/85a22dcba8364f83923664c3d1d21756","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"tmoJU-LoLnfINmcGuzzKWzB3yEbgHn_cor2ItH35TJgngJQ98cNlp-8D8Gi87nn5q6M7_zVWbRd04F6LK_SIkWLYwO-7ew1NCjp0yYKslZSSpAK_B0ii6ToMVEj8ya-WrZ7Jm_LTSguxAjjEr3T47jWkx8BTZ7GgUC9UZit06ZT7hwWg7bgFUHDmMPt1Avd-tYn2gHegl1T0dckap5zBKBoDKrkRRsJSiBpPpDxkvrRn4lcLBerq2amEa2skGrYAsHY3egxEXXe07EtgKVrNAfcWFbgAKFnH8fj4TxPpjGy4eAdqSO-KQhTVUD4eEZkFt4T26e-quCtZ0BFOeCnFOQ","e":"AQAB"},"attributes":{"enabled":true,"created":1612576545,"updated":1612576545,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey0a8eb0b9c?api-version=7.1
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/livekvtestkey0a8eb0b9c?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: livekvtestkey0a8eb0b9c"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://mcpatinotest.vault.azure.net/deletedkeys/livekvtestkey0a8eb0b9c?api-version=7.1
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vaultname.vault.azure.net/deletedkeys/livekvtestkey0a8eb0b9c/recover?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey0a8eb0b9c/85a22dcba8364f83923664c3d1d21756","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"tmoJU-LoLnfINmcGuzzKWzB3yEbgHn_cor2ItH35TJgngJQ98cNlp-8D8Gi87nn5q6M7_zVWbRd04F6LK_SIkWLYwO-7ew1NCjp0yYKslZSSpAK_B0ii6ToMVEj8ya-WrZ7Jm_LTSguxAjjEr3T47jWkx8BTZ7GgUC9UZit06ZT7hwWg7bgFUHDmMPt1Avd-tYn2gHegl1T0dckap5zBKBoDKrkRRsJSiBpPpDxkvrRn4lcLBerq2amEa2skGrYAsHY3egxEXXe07EtgKVrNAfcWFbgAKFnH8fj4TxPpjGy4eAdqSO-KQhTVUD4eEZkFt4T26e-quCtZ0BFOeCnFOQ","e":"AQAB"},"attributes":{"enabled":true,"created":1612576545,"updated":1612576545,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/deletedkeys/livekvtestkey0a8eb0b9c/recover?api-version=7.1
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey0a8eb0b9c/?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"A key with (name/id) livekvtestkey0a8eb0b9c
        was not found in this key vault. If you recently deleted this key you may
        be able to recover it using the correct recovery command. For help resolving
        this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey0a8eb0b9c/?api-version=7.1
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey6a8eb0b9c/?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey6a8eb0b9c/5d062e16afbb435c9236b097accceafa","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"ovv5z9afQdKs1HzcnL_sLCA2EWpq4myMajQSgd68GH7RPhfMhRUWlHN_0pxlP-p-2F5nHblSemzANnJV-ejhptfCI-QzLn71YB_pUKzaRQDOcgNdtvybgiCJquQOxfd1kIdlf51YPw4cb7gqW8_OgoT6ILrX9yZ7eLtOq7rmdxR1WSGGbDkmtnWJfX6T_tBkgU0sG0cGpw_HBBAfwRSb9WbC_J3i3TvgPaOYpC3FQnnHChK5prGqqfQbfL-zCay2qHDXWO8PitqVMMkPxfCVS1DzjwT5GXBUv6nuKeo8Ud1F0YJkUmp_FPILYYTdxZGdfhJdGpdSUCHgMRlRVvx4JQ","e":"AQAB"},"attributes":{"enabled":true,"created":1612576547,"updated":1612576547,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey6a8eb0b9c/?api-version=7.1
version: 1
