{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-keyd0aa2dae/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-keyd0aa2dae/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "attributes": {
          "enabled": true
        },
        "tags": {
          "purpose": "unit test",
          "test name": "CreateECKeyTest"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-ec-keyd0aa2dae/da2a2814976f4a979ca30a8f92a08940",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "Mjzj79ClrevnmK_TG3kXCY0c8cyu5J-fOqf8FRKq1JE",
          "y": "cxWU38TwE9dOjYQx6tV03cIkDjGj-IsHUcKdWSjPFko"
        },
        "attributes": {
          "enabled": true,
          "created": 1650664879,
          "updated": 1650664879,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "tags": {
          "purpose": "unit test",
          "test name": "CreateECKeyTest"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrud-P-256-ec-keyd0aa2dae/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-P-256-ec-keyd0aa2dae/36b7a674de974ff5b8713869ff90f6f2",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "GFVlRS_n2yWUJbs8defGNVJOM8h5BRcy1vBV2xemKls",
          "y": "wVwpESQytu0L8mCSl_q6AlRjcBJpE0D-MGTUzFQDO0k"
        },
        "attributes": {
          "enabled": true,
          "created": 1650664881,
          "updated": 1650664881,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestimport-test-keyd0aa2dae?api-version=7.3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "AKCRTQAjSsaDshtMFdW-2Ie9yVnC5Xr1Suc06PAHINd10nXkVSB-N4TO62ClCkZV3XKnqU0nHo7o95WaZpym53W_DiO62umRtFKdl4UotL2QUh0y3SZWeWuoK2u_x2aMj17rUFN0f9GZMZ0pqEQNCPRBLVJ_-TEe2nGCWSC0exxGsRqz6R1zFkB-icfzQPe4WjQELOUXQ7J9RxhAPTTHtDivYYG-BeTRHrmF04JT1_6b9T_C8bAC0i0teT-nmlBLarQtBJKATXBx1yegbPOoiTqlQrFQP4MrKWNxtnB9Tcbjcvj-Z9je0ckI_eRc4DvAhqcUh_p15Dqg4GeaoNIO_jU",
          "e": "AQAB",
          "d": "Ynx9JGaBSP4iUsf6ZJ6opantRNdcdmzaQrKbZg6ZQE8Ohi1FYabJWvaoPSE-CiJEsDzShXZHMhUHN4X7Bn8BXaGQhK3p9HXgiwQKmix7oAJTu4ElUIyd8UC3UWHSZr40el4PaQD-HYu_eMzCXus34MnRiNbh_BUWm6T-Eidhk9d3kNIyaSi9YNDQHW6tjWrEhhq63O7JU1j9ZonFChZxpKk20jdkQKQURVAdpOdL-5j4I70ZxFuU6wHZj8DS8oRQfwGOvZKbgYDb5jgf3UNL_7eACqq92XPVX56vm7iKbqeyjCqAIx5y3hrSRIJtZlWCwjYnYQGd4unxDLi8wmJWSQ",
          "dp": "AMmhWb5yZcu6vJr8xJZ-t0_likxJRUMZAtEULaWZt2DgODj4y9JrZDJP6mvckzhQP0WXk2NuWbU2HR5pUeCN2wieG1B76VKoH76vfnaJDqT1NuJVBcP2SLHog3ffwZtMME5zjfygchG3kihqOSpwTQ9ETAqAJTkRC38fEhwAz_Cp",
          "dq": "AKC9TAo9n2RDaggjdLXK8kiLrBVoaWFTpqXkzYXRhtsx4vWPAkxhfSnze05rVMl6HiXv7FnE0f0wYawzUJzoyuXBH0zS6D9BqCZPeF543AmWB27iPf38Q9Z8Rjr6oBgMSnGDV_mm8nDVQkeaDyE4cOZh-5UKvKShTKKQVwunmDNH",
          "qi": "AJ_nrkLpK8BPzVeARkvSHQyKwMWZ-a8CD95qsKfn0dOZAvXY-2xhQYTEwbED-0bpTNEKbIpA-ZkaHygmnzJkNbbFAnb9pkkzU8ZQqDP3JNgMfVIroWx58Oth9nJza2j7i-MkPRCUPEq3Ao0J52z7WJIiLji8TTVYW_NaiM1oxzsH",
          "p": "ANHerI1o3dLB_VLVmZZVss8VZSYN5SaeQ_0qhfOSgOFwj__waCFmy2EG7l6l6f_Z-Y0L7Mn_LNov68lyWSFa2EuQUeVj4UoFHc5Di8ZUGiSsTwFM-XMtNuv8HmGgDYLL5BIJD3eTz71LdgW-Ez38OZH34b7VeG8zfeUDb8Hi30zz",
          "q": "AMPcZrZBqbc82DO8Q5zTT8ZXRGWrW36KktMllaIk1W2RHnRiQiW0jBWmcCgqUcQNHa1LwumjyNqwx28QBS37BTvG7ULGUoio6LrOeoiBGEMj-U19sX6m[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyd0aa2dae/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048,
        "key_ops": [
          "encrypt",
          "decrypt",
          "sign",
          "verify",
          "wrapKey",
          "unwrapKey"
        ],
        "tags": {
          "purpose": "unit test",
          "test name ": "CreateRSAKeyTest"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyd0aa2dae/2f73b6ca8d3948e182e1f018633457b6",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "y5mq41_3ViMcjV8ndDCEzxZv7Du_d79jyiaYDuCPWX06Shy7XrbA7m-suebrjfKFSVF90voOto6QdvhdeH-FyQzaOL5Hcshe9igIXL_nFx5Kt3m-CKtYzszvKcQ4ERB-z41Jtryy29d7U66S9FXcj6fhZQ41IYZA0h4jOXAG2XNT-VgeQbo9uWoQYmbaweP9Qb3MUmNg2RKOA2_2Np23Mbr1DLKkFNTzGsCyShqZvzEifghuNrIDK47gTwMtcVB6hcb0RGj2eLHzy1UE2Q9GawZGzSayEacHKYv4SD63Y4_KfabBfLvkAEDZYxHsslS0szLe8fBRrBjrwIZHG8CkRQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650664883,
          "updated": 1650664883,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "tags": {
          "purpose": "unit test",
          "test name ": "CreateRSAKeyTest"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyd0aa2dae/2f73b6ca8d3948e182e1f018633457b6?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyd0aa2dae/2f73b6ca8d3948e182e1f018633457b6",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "y5mq41_3ViMcjV8ndDCEzxZv7Du_d79jyiaYDuCPWX06Shy7XrbA7m-suebrjfKFSVF90voOto6QdvhdeH-FyQzaOL5Hcshe9igIXL_nFx5Kt3m-CKtYzszvKcQ4ERB-z41Jtryy29d7U66S9FXcj6fhZQ41IYZA0h4jOXAG2XNT-VgeQbo9uWoQYmbaweP9Qb3MUmNg2RKOA2_2Np23Mbr1DLKkFNTzGsCyShqZvzEifghuNrIDK47gTwMtcVB6hcb0RGj2eLHzy1UE2Q9GawZGzSayEacHKYv4SD63Y4_KfabBfLvkAEDZYxHsslS0szLe8fBRrBjrwIZHG8CkRQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650664883,
          "updated": 1650664883,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "tags": {
          "purpose": "unit test",
          "test name ": "CreateRSAKeyTest"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyd0aa2dae/?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyd0aa2dae/2f73b6ca8d3948e182e1f018633457b6",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "y5mq41_3ViMcjV8ndDCEzxZv7Du_d79jyiaYDuCPWX06Shy7XrbA7m-suebrjfKFSVF90voOto6QdvhdeH-FyQzaOL5Hcshe9igIXL_nFx5Kt3m-CKtYzszvKcQ4ERB-z41Jtryy29d7U66S9FXcj6fhZQ41IYZA0h4jOXAG2XNT-VgeQbo9uWoQYmbaweP9Qb3MUmNg2RKOA2_2Np23Mbr1DLKkFNTzGsCyShqZvzEifghuNrIDK47gTwMtcVB6hcb0RGj2eLHzy1UE2Q9GawZGzSayEacHKYv4SD63Y4_KfabBfLvkAEDZYxHsslS0szLe8fBRrBjrwIZHG8CkRQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650664883,
          "updated": 1650664883,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "tags": {
          "purpose": "unit test",
          "test name ": "CreateRSAKeyTest"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyd0aa2dae/?api-version=7.3",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key_ops": [
          "decrypt",
          "encrypt"
        ],
        "attributes": {
          "exp": 2524723200
        },
        "tags": {
          "foo": "updated tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyd0aa2dae/2f73b6ca8d3948e182e1f018633457b6",
          "kty": "RSA",
          "key_ops": [
            "decrypt",
            "encrypt"
          ],
          "n": "y5mq41_3ViMcjV8ndDCEzxZv7Du_d79jyiaYDuCPWX06Shy7XrbA7m-suebrjfKFSVF90voOto6QdvhdeH-FyQzaOL5Hcshe9igIXL_nFx5Kt3m-CKtYzszvKcQ4ERB-z41Jtryy29d7U66S9FXcj6fhZQ41IYZA0h4jOXAG2XNT-VgeQbo9uWoQYmbaweP9Qb3MUmNg2RKOA2_2Np23Mbr1DLKkFNTzGsCyShqZvzEifghuNrIDK47gTwMtcVB6hcb0RGj2eLHzy1UE2Q9GawZGzSayEacHKYv4SD63Y4_KfabBfLvkAEDZYxHsslS0szLe8fBRrBjrwIZHG8CkRQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "exp": 2524723200,
          "created": 1650664883,
          "updated": 1650664887,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyd0aa2dae?api-version=7.3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-keyd0aa2dae",
        "deletedDate": 1650664887,
        "scheduledPurgeDate": 1651269687,
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestcrud-rsa-keyd0aa2dae/2f73b6ca8d3948e182e1f018633457b6",
          "kty": "RSA",
          "key_ops": [
            "decrypt",
            "encrypt"
          ],
          "n": "y5mq41_3ViMcjV8ndDCEzxZv7Du_d79jyiaYDuCPWX06Shy7XrbA7m-suebrjfKFSVF90voOto6QdvhdeH-FyQzaOL5Hcshe9igIXL_nFx5Kt3m-CKtYzszvKcQ4ERB-z41Jtryy29d7U66S9FXcj6fhZQ41IYZA0h4jOXAG2XNT-VgeQbo9uWoQYmbaweP9Qb3MUmNg2RKOA2_2Np23Mbr1DLKkFNTzGsCyShqZvzEifghuNrIDK47gTwMtcVB6hcb0RGj2eLHzy1UE2Q9GawZGzSayEacHKYv4SD63Y4_KfabBfLvkAEDZYxHsslS0szLe8fBRrBjrwIZHG8CkRQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "exp": 2524723200,
          "created": 1650664883,
          "updated": 1650664887,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-keyd0aa2dae?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: livekvtestcrud-rsa-keyd0aa2dae"
        }
      }
    },
[...]
