interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name61eb15ed/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name61eb15ed/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name61eb15ed/740b92fff1b04d419aecb559da03e6d3","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"vH6SMijCnxg1ihZe8UOMNvIETW0Fnq07MKmgn79vxtn8wgx9iCPZ7CqgBddGXGo_2fxxovZH6BcchFLBv4vKy1ueIhtS754Ds_z8C5aAtrja7Try0h-9-8imqm5B0Fs5cA5BTh3huZ2kN2kEa3JDTz3Y0LwWRr8fpCFyYfOzl5iUuGSDvds56kug_D_ELw6UN8roRN7cnHe6cOs5nZUkyk4L13iIsh-1S4KKPI8peuZg78sGoaszivxhFUCQFHiuBjPd7kgVizXvD245b6nwZZIlsGRH1mmhD56Q7IARF6IVVzk_nA4N8dqgwF2rrSGcWCnfGNtmG4v7GF4CBzRNoQ","e":"AQAB"},"attributes":{"enabled":true,"created":1633375487,"updated":1633375487,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name61eb15ed/740b92fff1b04d419aecb559da03e6d3?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name61eb15ed/740b92fff1b04d419aecb559da03e6d3","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"vH6SMijCnxg1ihZe8UOMNvIETW0Fnq07MKmgn79vxtn8wgx9iCPZ7CqgBddGXGo_2fxxovZH6BcchFLBv4vKy1ueIhtS754Ds_z8C5aAtrja7Try0h-9-8imqm5B0Fs5cA5BTh3huZ2kN2kEa3JDTz3Y0LwWRr8fpCFyYfOzl5iUuGSDvds56kug_D_ELw6UN8roRN7cnHe6cOs5nZUkyk4L13iIsh-1S4KKPI8peuZg78sGoaszivxhFUCQFHiuBjPd7kgVizXvD245b6nwZZIlsGRH1mmhD56Q7IARF6IVVzk_nA4N8dqgwF2rrSGcWCnfGNtmG4v7GF4CBzRNoQ","e":"AQAB"},"attributes":{"enabled":true,"created":1633375487,"updated":1633375487,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "RSA-OAEP", "value": "cGxhaW50ZXh0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name61eb15ed/740b92fff1b04d419aecb559da03e6d3/encrypt?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name61eb15ed/740b92fff1b04d419aecb559da03e6d3","value":"pAgbVqeWOlL3UO71FkkZLpBYwK3MhzQife02Nib42QpU5bX7e5-WkIdJu3l_vlXgEXZLo4dJsCll36puAn1FR-TXsADCYaNsQuZPSgnJeNFGyo3PWS6t--R7TmUstDBezckffL2ZggJUZi3iIp61vRyUbI4jbEkfMgCvmactqZnQ2yRUD0Gs1LDuPgU_vW2QHCVPMVUiuKtwwX6B8_0k8j06l_sB5nU8KR4OOSxeMxSgNUXSC7d6OmAFwsD_d08YciuJVTkW37RRgI0qrWwqywS7V8HyxgMx0QznvhStVHb6GmpDHogl_IM1B-tIaoo8NHgmwktRNEo2Ex-L2AMpPA"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "RSA-OAEP", "value": "pAgbVqeWOlL3UO71FkkZLpBYwK3MhzQife02Nib42QpU5bX7e5-WkIdJu3l_vlXgEXZLo4dJsCll36puAn1FR-TXsADCYaNsQuZPSgnJeNFGyo3PWS6t--R7TmUstDBezckffL2ZggJUZi3iIp61vRyUbI4jbEkfMgCvmactqZnQ2yRUD0Gs1LDuPgU_vW2QHCVPMVUiuKtwwX6B8_0k8j06l_sB5nU8KR4OOSxeMxSgNUXSC7d6OmAFwsD_d08YciuJVTkW37RRgI0qrWwqywS7V8HyxgMx0QznvhStVHb6GmpDHogl_IM1B-tIaoo8NHgmwktRNEo2Ex-L2AMpPA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name61eb15ed/740b92fff1b04d419aecb559da03e6d3/decrypt?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name61eb15ed/740b92fff1b04d419aecb559da03e6d3","value":"cGxhaW50ZXh0"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name61eb15ed/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name61eb15ed/740b92fff1b04d419aecb559da03e6d3","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"vH6SMijCnxg1ihZe8UOMNvIETW0Fnq07MKmgn79vxtn8wgx9iCPZ7CqgBddGXGo_2fxxovZH6BcchFLBv4vKy1ueIhtS754Ds_z8C5aAtrja7Try0h-9-8imqm5B0Fs5cA5BTh3huZ2kN2kEa3JDTz3Y0LwWRr8fpCFyYfOzl5iUuGSDvds56kug_D_ELw6UN8roRN7cnHe6cOs5nZUkyk4L13iIsh-1S4KKPI8peuZg78sGoaszivxhFUCQFHiuBjPd7kgVizXvD245b6nwZZIlsGRH1mmhD56Q7IARF6IVVzk_nA4N8dqgwF2rrSGcWCnfGNtmG4v7GF4CBzRNoQ","e":"AQAB"},"attributes":{"enabled":true,"created":1633375487,"updated":1633375487,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "k3Lur9oA88kR8QjFERKawlXCUAwhqq5yA6XzSRQe0rA1pmumGJVJyic2DfWaRlOHWKtGlsPmuC2Ek-Fcc_D7dwJOF8bKZ_oNNY7Lu4j2b2dEU_7rl53RiPWmG-Wwwy5OpSMNIFNKE8luAgGK1IqqB1L886q2CEZDnHIVTOMLWDOP9VWHdK7TBEDUVgCao8Xargcba95ma2wTQkQwLy_lw-e73DmStEC80JWFTq7du88NBvwYVpSeHF1wJm5KGreBiYFipUg_Ek28OvR-j1YKZAXYlPmbxLXaisJj0H-s8G5Kh-LqQ--_WbfO9Y6gX1OxA2IG5rAHezmpl1YpGqQkxw"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey-name61eb15ed/740b92fff1b04d419aecb559da03e6d3/decrypt?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey-name61eb15ed/740b92fff1b04d419aecb559da03e6d3","value":"cGxhaW50ZXh0"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
