interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault55c41090.vault.azure.net/keys/rsa-verify-2048/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "key_size": 2048}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault55c41090.vault.azure.net/keys/rsa-verify-2048/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault55c41090.vault.azure.net/keys/rsa-verify-2048/3e893cb9fe2c492fa5c59608d2978df3","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"lb4n9TjS0o343oPjgzDzYFoPa4oxvKVTGfYlwinWaqXwMq6Dw_82ah9pF1srKsfextcCcH3gz_FTUDUy7BACH4ghaWGiCKa8L_wQPcHaw7ixRLqCckB0sbXNHYiU3soMuUps1yB3yd84ot_Xv6WMUaNbDdXsRWYchbqszaYxcmgAlw4KkhOtU2d4iWB7qIvrAA8Eb2bfwbUQMH4DrSTR94ss0K5ssrlZserW7pmhLxmA3tUncG84SJyORIpKQwLcgLKxA1313mc6j6Mj7CIRiwr5bveXJneNbJdKPeM-7EEuW7R5ewCZDCTP2Eh1hEegG5j2To7jJSHEzNCUHwJaww","e":"AQAB"},"attributes":{"enabled":true,"created":1571198619,"updated":1571198619,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "PS256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault55c41090.vault.azure.net/keys/rsa-verify-2048/3e893cb9fe2c492fa5c59608d2978df3/sign?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vault55c41090.vault.azure.net/keys/rsa-verify-2048/3e893cb9fe2c492fa5c59608d2978df3","value":"R5Qtugd3eEpVrlb4jhSQnAkgiQx5lt_UlNVzUPZyAYpD2A2laEiVW2VgKNY4JbzxrvW82G9N_YwO_4t1N9v3PuxeJszIm7ZMeTsthI5MPHlcSqEr5dKKpqMpo4zQjSqmsPBjQfvJ7cB9o56ha7Kt3fKCsmSZlfbbOPA-rHFRAA28V8pAnLx47mmAd0qaZ2NisBUxyYcHY-UM5lKeQCht5B2rzkzm2D2RgpmBSSSsEKY8wMIaeEcmbU1nbRYCdAjejGMS_y3xrGVRXxROgbACahx3wQ8Q-4p75tXJUg5I68msgFSETweA4wYdaoLWPFBLiQJwQNDbBwMQo3zIKNydPA"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "RS512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault55c41090.vault.azure.net/keys/rsa-verify-4096/73b808022ea44f238524a2fb9ba99744/sign?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vault55c41090.vault.azure.net/keys/rsa-verify-4096/73b808022ea44f238524a2fb9ba99744","value":"G-Qrpp6hrM0eTwZxtgSASJDlilmjJgTY4hGV--mC8JvYbLnRZmH9nC2JuH4PoXIKgtItMMMs9duWpXOKJffRKcek5RTy2fjLHYRIKy-WnnkxIobFDeT_okfcxuaxhp-Zh5klJokDVl5xQgBXIIrg7ZuRhTxsMScx9C9DfIvJln7p77t6L3HmY23y21---qOCFfXDe2TVwUTBmjU5r3DZ623Y3J8ffIg3kq97dJXuGZRGZUG04TI-loOhPsyEGbB_11TO0_qbfO5WY8MW6Y0znHKikFbOly6ZmQn9Cc_UqKHgHdKajJtT0ttfvZyQfAWeB_U1pWlP5vACKZvjIuewAByrZwjYXdD6O9wLu7-Cs1HZ77Fa_ISeUWXjSmiIGO-q382pAVkJWnBcRjb4SLWAvnyKO8SsfZn_G4hXHQJeLbZnZtOwZ7u704AeBWVB7opDC8JWIEwSwjB3ZxeNfWKqK3LiLc4UCaMw3eM1a7V65Fmn5_5EVT_IxrswMgk3QOaBA5JlssIKj1YP-r1eHC6HkUXpiCslfxL8MiMN7DVUAp-R_lqhPavpXQ4Swsqqi6Lbm6N0Wf00vq13fKQ3b9BfrY3NIDi5jPPAoC_QgdRqYs1CcddPYZ2KPle9zKfSyeDRm662_HW-DnuGiqIknCXQ3XqnJM4U1BV1cRgU5deojbs"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
