{
  "Entries": [
    {
      "RequestUri": "00000000-0000-0000-0000-000000000000keys/livekvtestkeywrapab302d4e/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "00000000-0000-0000-0000-000000000000keys/livekvtestkeywrapab302d4e/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "273"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1650291630,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1650291630
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "00000000-0000-0000-0000-000000000000keys/livekvtestkeywrapab302d4e/b40e7a90f8e7494730465d3b91c8e392",
          "kty": "RSA-HSM",
          "n": "h4fCj721iwGEolufoyIEtCxJQ6HebqN6tUFCdaCtX3AOGPU-kdubx5UiG4MduJM0M04rOYSmevxU6wuwHy4KvaVUU-_upc6tYQf8JZ7-gPHnqhN_EtXbXJ6d4Sdx8Eb6RCRDFuQPxJbydpVD0ssTdrXioinkKhdsFDJgQ-RL6AZ6muSbJrLniLPUTUnLHgvUbLuLfB3RFercQvQSG-XQTjT5-zVVJvilXad4GnnURGNq4FhVc7Kg5j-7i7UYnFT4hI_lh0YY-TNGj3aFugrXkZFCBskCDIJ_alicBYDx6c6_oI9i6gOwpBl8ALdkQrD1hdjb9p4k-sDlwKvUJAxqGQ"
        }
      }
    },
[...]
    {
      "RequestUri": "00000000-0000-0000-0000-000000000000keys/livekvtestkeywrapab302d4e/b40e7a90f8e7494730465d3b91c8e392?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-latency": "107"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1650291630,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1650291630
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "00000000-0000-0000-0000-000000000000keys/livekvtestkeywrapab302d4e/b40e7a90f8e7494730465d3b91c8e392",
          "kty": "RSA-HSM",
          "n": "h4fCj721iwGEolufoyIEtCxJQ6HebqN6tUFCdaCtX3AOGPU-kdubx5UiG4MduJM0M04rOYSmevxU6wuwHy4KvaVUU-_upc6tYQf8JZ7-gPHnqhN_EtXbXJ6d4Sdx8Eb6RCRDFuQPxJbydpVD0ssTdrXioinkKhdsFDJgQ-RL6AZ6muSbJrLniLPUTUnLHgvUbLuLfB3RFercQvQSG-XQTjT5-zVVJvilXad4GnnURGNq4FhVc7Kg5j-7i7UYnFT4hI_lh0YY-TNGj3aFugrXkZFCBskCDIJ_alicBYDx6c6_oI9i6gOwpBl8ALdkQrD1hdjb9p4k-sDlwKvUJAxqGQ"
        }
      }
    },
    {
      "RequestUri": "00000000-0000-0000-0000-000000000000keys/livekvtestkeywrapab302d4e/b40e7a90f8e7494730465d3b91c8e392/unwrapkey?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "cI-brm0NyrXnSqIoBUcQtWVbCLM8iy4gqRjwqxpK3mhd-o49RKXxYwwMSgwqppowKlqXGl6XxU689PfqLRQY1boyPBHKZUOfqvt8_GzKPo_rGRxl1krJ8AuiXCxyCgC9O1v_-8Dbc1u4XFhaWcod1E2QJ87az4El1Q6wPwmUFBepTf0D8DGsMZhiYMHtycAtkI4aoqgFHa2PeYjOxuE8LukYBuFyWLhOgRaL_kgpPWkYx9N3kPKvwSpqG7cnUgMmMJ3K9gHxY55vYdO8ItqYECk5ODj70jl1NFPaEdAVvrNiCZEf6-TjErjkY057m-_WQP43gZbd0oaUjDuhJCzYQQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "00000000-0000-0000-0000-000000000000keys/livekvtestkeywrapab302d4e/b40e7a90f8e7494730465d3b91c8e392",
        "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"
      }
    }
  ],
  "Variables": {}
}
