interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/wrap-local/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://phwzrjsgvpozaqb2hnqiiuah.vault.azure.net/keys/wrap-local/create?api-version=7.1
- request:
    body: '{"kty": "RSA", "key_size": 4096}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/wrap-local/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/wrap-local/259c165a68a441f7b074f1efc5ae7fa7","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"twX6bFa0_FEmRrXIeDpBTsitSLkgSt_XTkMg9LdscXU1am7Fj6DBJV4kjq6bT1mvJo4-fN3kymnUc_rQPOL8sX3f9h__GN_nb9ilzf_KyyufuK1VZqhcxdkC1fMakNToB5Yuy5J6bfBeXFlrMaFWyJQ6To3-oiEoPNAqfKxyRZVGopT_OMURLkUfjn1AbKBHyo0zg-r-GDr_cb7lDMWH84ajpY5hN5b2hpbpY98tbKo80vU5FX42b_qPK50VddHgw7H_qIlEhmUipJ7XbAlRxRHTwvSuQG6mRXMBztIA1zI1Me4qpPbIhWHou9ifZgORW2yU-GCXtffOOU7tefCV5lHX4-8WSgp6yVOTpdRCD4Pi-RaRM3p90q6Rvizfg85SDQS7CoUNXUxjxttqQFkFP9JBgEWEUH5o5jjTPpSQ8CVx-E_kYdCbW5ySZzO33O6C8Rbc468md_Hd3BpkHaApeg6A2Nq1IjPuXUo3ZEkp6NKjwOvI4wiJhh73S_-nm-bsZMqNZgLKF7JCZEyJeUIvVl1VXok6LCjJcaRj1cbvxFwSci-ASgQU8A7cI_yal1P5pi4ag6Ulv8j3luj-kH41t8lbb9tzbLHyzccizWJBCwX7haglo7y-9oSQeTH_S0b9o1-TxVrhPlBCb-799krW2aOWoSZpNyFdWjTxhnfCTg0","e":"AQAB"},"attributes":{"enabled":true,"created":1596039168,"updated":1596039168,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://phwzrjsgvpozaqb2hnqiiuah.vault.azure.net/keys/wrap-local/create?api-version=7.1
- request:
    body: '{"alg": "RSA-OAEP", "value": "MdY9dfsDBjVsQi4edstZGK7bFrVg8tPwY6WUAQO-3aw3hf63jYG2NOlJ9kpPTG-ytygmuRNlILm4B6YUo7SkIA0FF67Oe5QAcwD2wddRJ43Gi7EmBPjJQbSul9gjm7pvs4_FIczwpRswn02l63hxRgEbhu5YXxGcWaaHQ0ozPSKafIhGLimGfCvno3kEN_t1ws7Sfcctk8ilY0YnB6k2u92_pRz96zSy9yi_Cm6_T5rGi3aTyBdaL9QXAkUAP9JuFsCFXHhED5KJ1yFKYchchr6rlUeErglPopDQz-Ea4vdG0Me1pLLYlNdfjM0heOFERIb8ltzz4yBu-q2wUOMyDF29LYpWw2M-0x38tTcsPTRe65TmDdvYV3IUI9p60FBLtbTx08KxJovDsDR_WOWTBPXeo6rJ5TpH4Ht2ABGb7zFPbxb7y2v61ItYtQqP-IW0ZpAYKrunK7omWbYAsBQ8BD97fzAS4pCSXQQjwWHuxFSTW49cMV[...]
[...]
