interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault8bf41593ca32f70fb3.vault.azure.net/keys/sec32f70fb3/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593ca32f70fb3.vault.azure.net
        - /keys/sec32f70fb3/create
        - api-version=7.0
        - ''
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault8bf41593ca32f70fb3.vault.azure.net/keys/sec32f70fb3/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault8bf41593ca32f70fb3.vault.azure.net/keys/sec32f70fb3/596121f7aa2445dfa39cedafdaf8facc","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"uHVBx66-Btb6mvIQMW7ltQ6w0UE4fF0RSyhlMBLTqecgSuOWsgEW_Mt4X9jDy7EZBlKNtfJnWJ_Va-D2F7TWC61vPZYE0aBQ-ZizH8esmVCrC5My9kAad7VYjslpoX45qMiEQnaaN7ZFaZbEeXbN1K2z5wjW1yjH2fwPqu9LEMEy-N5bz80p7YJ43vXbDR6onBLmEW5NvRT57g4UTGOwplR4geGTrh4awXEXifPeFHy-Y_dZMrDfO2yIleVpVQU0XNyMPTdh8L779hSCgP7QF7gtS4X1eGywrWfEin6utoRj6y5IpKO-GcrPET9PaMgX21BXelk4UA9lgqd7j7yiMQ","e":"AQAB"},"attributes":{"enabled":true,"created":1568927965,"updated":1568927965,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593ca32f70fb3.vault.azure.net
        - /keys/sec32f70fb3/create
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault8bf41593ca32f70fb3.vault.azure.net/keys/sec32f70fb3?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault8bf41593ca32f70fb3.vault.azure.net/deletedkeys/sec32f70fb3","deletedDate":1568927966,"scheduledPurgeDate":1576703966,"key":{"kid":"https://vault8bf41593ca32f70fb3.vault.azure.net/keys/sec32f70fb3/12cbfc707ab54a51ab38ab3df95bba3a","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"pJ9-TyPTvwdy3G8XmbuE1COitLhMgubuoLsMG73q2GrI6xTYBIcaa7kVEimnAac4lgn4Ib70N6Y_wTsZG-TmltkwyQmsVYdg13Arp4RpA70n1qfphOvQh0bcZPcttK_etmzDRyUrdz4Sfw7Z9yHIP6FtDlwgo59wvlGRyva7GQH3KOxCmjDQTRIziIxi-5qPMBFtYbXfzL_gYfyTf8HnKd2zB85nBHkhawl-hZRc4bH6tTifMSySg-CYYGeGfE6ZbJeKrg_rYEYOvx30VgG4_Un3-K7_fbL1dYShCTWaVjhBJK4Vg_7CMR4UE57GEZXZ_2C78jV538u3nMyhGZZNgQ","e":"AQAB"},"attributes":{"enabled":true,"created":1568927966,"updated":1568927966,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593ca32f70fb3.vault.azure.net
        - /keys/sec32f70fb3
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vault8bf41593ca32f70fb3.vault.azure.net/deletedkeys/sec32f70fb3?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: sec32f70fb3"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593ca32f70fb3.vault.azure.net
        - /deletedkeys/sec32f70fb3
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault8bf41593ca32f70fb3.vault.azure.net/deletedkeys?api-version=7.0
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vault8bf41593ca32f70fb3.vault.azure.net/deletedkeys/sec32f70fb3","deletedDate":1568927966,"scheduledPurgeDate":1576703966,"kid":"https://vault8bf41593ca32f70fb3.vault.azure.net/keys/sec32f70fb3","attributes":{"enabled":true,"created":1568927966,"updated":1568927966,"recoveryLevel":"Recoverable+Purgeable"}}],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593ca32f70fb3.vault.azure.net
        - /deletedkeys
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vault8bf41593ca32f70fb3.vault.azure.net/deletedkeys?api-version=7.0
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vault8bf41593ca32f70fb3.vault.azure.net/deletedkeys/sec32f70fb3","deletedDate":1568927966,"scheduledPurgeDate":1576703966,"kid":"https://vault8bf41593ca32f70fb3.vault.azure.net/keys/sec32f70fb3","attributes":{"enabled":true,"created":1568927966,"updated":1568927966,"recoveryLevel":"Recoverable+Purgeable"}}],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593ca32f70fb3.vault.azure.net
        - /deletedkeys
        - api-version=7.0
        - ''
version: 1
