{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestkey042752c4a/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestkey042752c4a/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "218"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1650663611,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1650663611
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestkey042752c4a/30a85d722006066e2b6bd0382b01c8e4",
          "kty": "RSA-HSM",
          "n": "qjznk1bwr76KfQcb07SwGzc15VD365EHQ_rlM0LQf1GPDPybWShAPRY51JGzvuJmm8euhSlKdgdITm1kR68RUpykEHwB87q4fs-Rn3mD-r7dD1C0YMYAPHaY8sRnK9ewTjTaFzqVZHE2YPKjuMb3sgzO7bZHoAp0c4H2QKK-ds114ygZ2xWc73CEcEownFSXDK06BbuCmeZBeEyCwUp6b-l3OxWZiE9sJ1EcMtuyzijbWirY45UYC6ITiCg2_PnUXIi6wqQy8YVlHrneE_uJtca4vXvV52qqwx4XI6iO0blbVa2-maenzGhMayEUFodIsJUeiupL75SzWZFkegXPHQ"
        }
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestkey042752c4a?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "142"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1650663611,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1650663611
        },
        "deletedDate": 1650663626,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestkey042752c4a/30a85d722006066e2b6bd0382b01c8e4",
          "kty": "RSA-HSM",
          "n": "qjznk1bwr76KfQcb07SwGzc15VD365EHQ_rlM0LQf1GPDPybWShAPRY51JGzvuJmm8euhSlKdgdITm1kR68RUpykEHwB87q4fs-Rn3mD-r7dD1C0YMYAPHaY8sRnK9ewTjTaFzqVZHE2YPKjuMb3sgzO7bZHoAp0c4H2QKK-ds114ygZ2xWc73CEcEownFSXDK06BbuCmeZBeEyCwUp6b-l3OxWZiE9sJ1EcMtuyzijbWirY45UYC6ITiCg2_PnUXIi6wqQy8YVlHrneE_uJtca4vXvV52qqwx4XI6iO0blbVa2-maenzGhMayEUFodIsJUeiupL75SzWZFkegXPHQ"
        },
        "recoveryId": "https://managedhsmvaultname.vault.azure.net/deletedkeys/livekvtestkey042752c4a",
        "scheduledPurgeDate": 1651268426
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/deletedkeys/livekvtestkey042752c4a?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-latency": "26"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1650663611,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1650663611
        },
        "deletedDate": 1650663625,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestkey042752c4a/30a85d722006066e2b6bd0382b01c8e4",
          "kty": "RSA-HSM",
          "n": "qjznk1bwr76KfQcb07SwGzc15VD365EHQ_rlM0LQf1GPDPybWShAPRY51JGzvuJmm8euhSlKdgdITm1kR68RUpykEHwB87q4fs-Rn3mD-r7dD1C0YMYAPHaY8sRnK9ewTjTaFzqVZHE2YPKjuMb3sgzO7bZHoAp0c4H2QKK-ds114ygZ2xWc73CEcEownFSXDK06BbuCmeZBeEyCwUp6b-l3OxWZiE9sJ1EcMtuyzijbWirY45UYC6ITiCg2_PnUXIi6wqQy8YVlHrneE_uJtca4vXvV52qqwx4XI6iO0blbVa2-maenzGhMayEUFodIsJUeiupL75SzWZFkegXPHQ"
        },
        "recoveryId": "https://managedhsmvaultname.vault.azure.net/deletedkeys/livekvtestkey042752c4a",
        "scheduledPurgeDate": 1651268425
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/deletedkeys?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-latency": "33"
      },
      "ResponseBody": {
        "nextLink": "https://managedhsmvaultname.vault.azure.net/deletedkeys?maxresults=25\u0026$skiptoken=K1JJRDp-T3VweEFKUVp6Y1lsQUFBQUFBQUFBQT09I1JUOjEjVFJDOjEwI0lTVjoyI0lFTzo2NTU2Nw",
        "value": [
          {
            "attributes": {
              "created": 1650663499,
              "enabled": true,
              "exp": 2524723200,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "updated": 1650663503
            },
            "deletedDate": 1650663503,
            "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestcrud-rsa-keya19c2d37",
            "recoveryId": "https://managedhsmvaultname.vault.azure.net/deletedkeys/livekvtestcrud-rsa-keya19c2d37",
            "scheduledPurgeDate": 1651268303,
            "tags": {
              "foo": "updated tag"
            }
          },
          {
            "attributes": {
              "created": 1650663540,
              "enabled": true,
              "exp": 2524723200,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "updated": 1650663544
            },
            "deletedDate": 1650663544,
            "kid": "https://managedhsmvaultname.vault.azure.net/keys/livekvtestcrud-r[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/deletedkeys?api-version=7.2\u0026maxresults=25\u0026$skiptoken=K1JJRDp-T3VweEFKUVp6Y1lsQUFBQUFBQUFBQT09I1JUOjEjVFJDOjEwI0lTVjoyI0lFTzo2NTU2Nw",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms[...]
[...]
