interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048c1db131b/create?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"key_size": 2048, "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048c1db131b/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048c1db131b/ece43377c68b4ca894d2a5e03c640da0","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"7U8FhVIzi-2Oa_RlLmx6TBh11AHT3LMm-5I5ozQlk70O8Kvn_Ax8SRTaJmWmZLR3CpgQgzPmS20Uc3N01sCGYHU2kYbSxUdE1dgar9EUNQ_UD-jmrVvFEb8yFYmjov5WewI0198ctQfr-C-Gzmz9KP9mMRw5JJJxFftuQOLRQyQgiUlWiK2Wbw1YJUiwhD0BxB-DhpYyTzetguM18GLW5-5zc-_F2j0rHiObWgdY59meEZ2x4CHfPdQMgAdYP1pXcL58RuMEP3E0jEbjneD9s_vJ7_KVg6u0p3duPKLFNdUHx9uUL5FLzPKIV45si4jRGyLeJnycYFZPTdAJKNf0mQ","e":"AQAB"},"attributes":{"enabled":true,"created":1616195108,"updated":1616195108,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg", "alg": "PS256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048c1db131b/ece43377c68b4ca894d2a5e03c640da0/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048c1db131b/ece43377c68b4ca894d2a5e03c640da0","value":"oaq4rT_CgOdMzYdm7j9uZSZ07OqviFDZhhV3nnePNk5zvpF3lrlSK5X6_ZGkjjWGyQf89DkkCor6i5XkHFZHpiECFyqvLpBaf8NK9Idz5-v7RslwCNr52l1ZzzosydBCLj3CpZoJQlzj5pDUcV-J_ibHvcmw0fVGPSufIQCzTTsvC9qQ_P7aNfkTCI4yUuPeOUqBQkqJRJ74vWDBUUIo2JGm9uFDRzM3YTIObDyNT0A7Qf2syA94F5yuwcuQ06v3zsqauXqhg0-uhjcN0g6yO7u7nk4eQEYp_1iYeOKVFLzDkZvhNWEOvw5pQBmlJ__s_gbtwEH7LX5yshynLH0zSg"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ",
      "alg": "RS512"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-4096c1db131b/02241c14335b45e6b70684cffc40bf0c/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-4096c1db131b/02241c14335b45e6b70684cffc40bf0c","value":"uhQh_ZRbQCiBqYWt0rHWPNGbEGJfp0vS8xaAM1qjgSj5Viw64ciesNF22DXe7MjwYZN2Vr0FSv9e2TNNpDsfv9rdRzbFHu39LUpBbg5sIr8pq2i_DNdEot5a0w4ju9EAqbzY7IZzngn8NIQQnuqE7AOi5HoztxXNgg4BmtSSI_v48jswreKGdmQSrWGc80B4S_6QJHomfCky7pym17ZWkmpPV3Bi2ZvVahjaO6uwngqUL9NgttYwUARc_esSXstZ_ICyCF2I22zQJtpsUJ7oimtJ7iMoJrCjoMon7c1Ycjb1RDsyEJB1FyapnSRnR8Mr7wSHdGFHag2Sy7iAPbVr5xYD0xbWjssUG5GbatpqEJ_rRGrHlzHzfs0CO1ufr25-cJPzNi-opI4qC38eD3U_HuwELW0cDrS_J4IPbLwZSKTYTpSuY9K0uMK7uzPlTzT9RQhwPaE98bORC_Z-fEZJa9LCqeRu29s_ON_LBwKVhGapwfIAVEEbHzetYnl1lB0vpmIY953Z7AJH5WpodIL7zvs4K1-dRyVIKIt0mS9EOwftygL46yTGSL97F28iFWMb6GhHq9FgQGbBOrcGMIMGmUokm1CaeXYj4q-f7S0xW-ondk910aX42_qoZBayC1j3q0AaDqGlTfxVhcdmCKUllauo1GV-CQHbQzmqiSyQrs0"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
