interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.netkeys/livekvtestec-verify-P-256ae92128f/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-256ae92128f/create?api-version=7.1
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.netkeys/livekvtestec-verify-P-256ae92128f/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.netkeys/livekvtestec-verify-P-256ae92128f/51c4742799694b7b85c96eceff053f9a","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"LBHfV831dkm7BZtYxnXrX8ZLc4DZKDuj8bTIK7PS9JQ","y":"2Y9Mk86puhNLWKlrbWOYLIji5flmD4GmgTSMqB3IVb4"},"attributes":{"enabled":true,"created":1612487594,"updated":1612487594,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-256ae92128f/create?api-version=7.1
- request:
    body: '{"alg": "ES256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.netkeys/livekvtestec-verify-P-256ae92128f/51c4742799694b7b85c96eceff053f9a/sign?api-version=7.1
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.netkeys/livekvtestec-verify-P-256ae92128f/51c4742799694b7b85c96eceff053f9a","value":"y8W9kg0lPTF0Fawub7bJNfQSKNmiZWpvJhXpvml1ZqjTKwIu_rAoKJNXnHV4OMA-lx8RrhPdeSeduOj1Z_NAvQ"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-256ae92128f/51c4742799694b7b85c96eceff053f9a/sign?api-version=7.1
- request:
    body: '{"kty": "EC", "crv": "P-256K"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.netkeys/livekvtestec-verify-P-256Kae92128f/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.netkeys/livekvtestec-verify-P-256Kae92128f/0c5487f358444cbaa2acebdf5419faa4","kty":"EC","key_ops":["sign","verify"],"crv":"P-256K","x":"KIPzuI9EsD8Z9hUaOCJDhlCVv_8jVyg5FXXxor1RfPA","y":"-Af08lFKdYP_LJAdlMDbkbS97cn9zGivPwuW71-eAZM"},"attributes":{"enabled":true,"created":1612487595,"updated":1612487595,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-256Kae92128f/create?api-version=7.1
- request:
    body: '{"alg": "ES256K", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.netkeys/livekvtestec-verify-P-256Kae92128f/0c5487f358444cbaa2acebdf5419faa4/sign?api-version=7.1
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.netkeys/livekvtestec-verify-P-256Kae92128f/0c5487f358444cbaa2acebdf5419faa4","value":"jtVo9P7RxPTd7XvdaSz0p-E4IrOx-cV8D-dyI3_ACkkFsgDAVJYapWvMrEzwicJz9STFPFzg71JpN_nsdlvbbg"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-256Kae92128f/0c5487f358444cbaa2acebdf5419faa4/sign?api-version=7.1
[...]
- request:
    body: '{"alg": "ES512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.netkeys/livekvtestec-verify-P-521ae92128f/70d1ef79f64e4ef6a74a6b3320c9a31e/sign?api-version=7.1
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.netkeys/livekvtestec-verify-P-521ae92128f/70d1ef79f64e4ef6a74a6b3320c9a31e","value":"AMW_UdO28rLNVVO3LxZPAuNA3aLJfBLay2TFRdgM-6lD_xgeXOcwgO1MgsEtbv5ByxwKLLLjYSZ40g9h97qSsTP-APSydwuc24dMVXPNGsJUxtaJccGRGQfuhpfrJZ3ra7kESVKKj5eG7dbPnq1Bv_ePn9ViSYxE6whvbrPIXznVyslg"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestec-verify-P-521ae92128f/70d1ef79f64e4ef6a74a6b3320c9a31e/sign?api-version=7.1
version: 1
