interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-not-yet-valide9561c9b/create?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-not-yet-valide9561c9b/create?api-version=7.2-preview
- request:
    body: '{"attributes": {"nbf": 32503680000}, "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-not-yet-valide9561c9b/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-not-yet-valide9561c9b/e92d66f0cc7d4e8a9adde08b87b0920c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"-B-2WmA0_ln-e1Ca2_5WdwO62T89hn-WVGlZ4eQTxt6xijys9vOfOOKwgn3KE9y7Ad2AFfrdLQ0f6iRzWdsmnGuOjs6ln8x2gLaQMXwCwqRnoOeLf4kB1js_JG9i8hXn_7xG2FFx0tqkaskTy4tnL8lTTQuc_xrmLRXFk0C3PkUb2diCMl0cDVZ3R1LT8wVHsJWKIV_oHN8878kwiE5Q__Y4xXK59CaZXUfOk_ZEALVkIvmeszqnSaEV8mCa9k-Z11wLnMY3rBAwnjrFwRDyl9CLIAITmek_VKv12xlo5rWYLhFBB31wywtJOd2uAoT-FA9RBk7Rg1u3Qw9mASUL2Q","e":"AQAB"},"attributes":{"enabled":true,"nbf":32503680000,"created":1616196379,"updated":1616196379,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-not-yet-valide9561c9b/create?api-version=7.2-preview
- request:
    body: '{"attributes": {"exp": 946684800}, "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-expirede9561c9b/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-expirede9561c9b/fa0ea300f1cc43ad8cf575002e7c8fc2","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"twlQ78yj51UwXgYXed-Ai1lg2rmQ5q_cpzeFcouBQj7oqErKMIJ4hv4mVjqDeESPDNnWEtKjCLtR77bP-aOstpAZUPfjD9foyZ_TBodvn6NNINSxd3GpukdJVK4DIf9GRGg26te4RkJC5MNMUxFhhqlsYZpDulpe3K2OCc3kZH7vNINlBwWjw60aRzDdMvmqyKeb2of5K2TPCkfPVEP_xe-P5Maoc7LnPTerUAU5kU3DbnWhJsZzmvQFtq2gSM3AhCOQthOjczqWTcVnX36Nw2ccN5qjZegWSqFUu6Wlde904SQQzAPxb1l3jlPC17t3TNA5v4AOZVYtS8pFl_GImQ","e":"AQAB"},"attributes":{"enabled":true,"exp":946684800,"created":1616196382,"updated":1616196382,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-expirede9561c9b/create?api-version=7.2-preview
- request:
    body: '{"attributes": {"nbf": 32503680000, "exp": 32535216000}, "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-valide9561c9b/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-valide9561c9b/ff1037f8c2c7456495318a0388defe5f","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"5KE5CC7JppzhdGe8PVFmMvWkohNwR8ZeTIRv8RMFeubiwMWJR5lhfibUXVyR8PVWBd6oVjX6kvkxE1xP0eZU5UdvMnZwgg781QEDhyjQn87ZzxfpgyomjPRDdGiAYwRm0Wf0lkER227tXY644R0fDWwZ-t7SwwVAFPkvAQA8R2zKjDiOLh01AXwzHKkt7vqsbo3CjEXYEjLUKR3FQeZDFvtpRD8JGNP-ph0PH81ZNwTjHHXCoKafW693K1bYHI8wcK_NR6N4xv8xrbnJFwTPDEKemhFWjspe54xuM0gH1E7QP_xoE1-j_5uNlK73029tlbQ8ZEQod8eUwLW3Op2btQ","e":"AQAB"},"attributes":{"enabled":true,"nbf":32503680000,"exp":32535216000,"created":1616196384,"updated":1616196384,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-valide9561c9b/create?api-version=7.2-preview
version: 1
