interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault8bf41593ca67c4112b.vault.azure.net/keys/crypto-test-encrypt-key67c4112b/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault8bf41593ca67c4112b.vault.azure.net/keys/crypto-test-encrypt-key67c4112b/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vault8bf41593ca67c4112b.vault.azure.net/keys/crypto-test-encrypt-key67c4112b/1e30a984da844331be2158b4eefbdc34","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"uYh2kzMxC64nq1Er7Y54glDAkTw0pfi1uoRDkBEuXCqwT369aXsAwNB_NnMpL-5X-eM6R4ZgsK1tlcKxBK9wdx2bqMDraXQIPXxsilVVaiIPw96kO-zNfBdYGO_NUyr5f193H9b84RVsW6Whi_iQ5olD5vw72P9pSoCs30WCNkocA3w8EhO25F8Q_iuom9pytbbAiisqqXUAYYtcI_uq7NLjIJE_hPsn7SwGmE1LAeSjxlr7Yrd_4AbYbowuZz9lrsutLWZoRtXc7bZPWurMNK2UkALXymFx_zCJCVFkw_4DlnWtOdxSp1uV20Khv-qLQivaer8Z2NeEXQ-lCEqEzQ","e":"AQAB"},"attributes":{"enabled":true,"created":1570213122,"updated":1570213122,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"alg": "RSA-OAEP", "value": "uIhR4RWHjVav7eKVwNZlO1P4SgT5TRBpI0805RaoR81DClGBxk5k5Y1T8HRyPMEgAKv7PDarAJ6p9TpfuG1mcX7lPXb68T8XP_tRV9lmB9UqWDlp8JEnM0StebD57H89tdigjH6n5W_gh9fElU3PQRlbFWoF-bLOVe75TckN7ME4ql6bsDh-aae1yVLWBQqNCASPummNjuK8T4w5ILtZvqZ0bdhA-kc0Fn7XX_19GhxjeY-MB7RiP_9pjL_9JyrFWNHaM4xutSJk06oq0rFQB4I9YGm5Nw0W3GZtYSMo7tu9HrWsTLmMRY30Dq-0gZ7OJDMvwYGLbHQuQE7ObyUcSw"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault8bf41593ca67c4112b.vault.azure.net/keys/crypto-test-encrypt-key67c4112b/1e30a984da844331be2158b4eefbdc34/decrypt?api-version=7.0
  response:
    body: {string: '{"kid":"https://vault8bf41593ca67c4112b.vault.azure.net/keys/crypto-test-encrypt-key67c4112b/1e30a984da844331be2158b4eefbdc34","value":"cGxhaW50ZXh0"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
