interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-not-yet-validacd61793/create?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"nbf": 32503680000}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-not-yet-validacd61793/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-not-yet-validacd61793/9e9955917a6c40a4bb1442bd14c5ad35","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"0tBA6wKFqc7VeiXcb0joBtLHHcTan3TGWiS5Koqt5MkvzCHESpV156l4dNl0UNexXS_wsOJkQWQqBUkMib_D8_PzsJZCuXptzoRhVX2s4mkq9NJgokTaQCIt32vCaLRrqHdV2FjhV5Bmd8hRk-yDyLMI8Sb9_8RQR5784ZaFHDSKTPnLLnEKsasGv8mS8vlfKoxV0HXt8h0BTChGllOo8gkCYDPfA3z4duRf8XLAIVkpZLlHFuvVblR-kLWPZlFI0Gmq1d6hvL9JTTVv6mnyKl6OyclAuho7BKP0A_Rnl6xQFBnCZUxQ4M7JHJ3AckFw9WLb10IBtbbI_y6Dq31_gQ","e":"AQAB"},"attributes":{"enabled":true,"nbf":32503680000,"created":1612578032,"updated":1612578032,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "RSA", "attributes": {"exp": 946684800}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-expiredacd61793/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-expiredacd61793/8ecebf9bf5f74b7c9e13d2af7d56f87f","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"9S2Ah695F8necJxi33PllZpKDHjDLCu4M_b8IXZWd9_s6NH91OqxGucRBqnviC11Kn24brAbeJDHSxCA-LdkM9_hFwU6P6SWUnjGrxSZR5BNUUAbB9C7kmnmBpwCGnSGEaXjGDf1LRM7z4kJjXLCYV9tGEv5f8Ckmf_jyLj-sKNeft6z2qRVXKrFgOVXq1XNkLoTKPAzyb3IKXsIWgzIhS5Ts-Vm0loyPYWo_hYn97umecK_RbNbQJl0376vxZ59gpzgqXEegnAgQ4XQZ6X8SE2wHr2vK4_6B1gQX-fddH4bCkyojhm8Pn3-JYJiuf5vdpLaRjsPafpJQlPgcTXBVQ","e":"AQAB"},"attributes":{"enabled":true,"exp":946684800,"created":1612578032,"updated":1612578032,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "RSA", "attributes": {"exp": 32535216000, "nbf": 32503680000}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-validacd61793/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-validacd61793/47bef9daae8a46489bd0821829b11755","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"wHnPfvNUW3286OOU9JTK8pvcq6JJdsOFJIrPPh6RmflQc-jTsjeaNA555-k7t-rNbIHdk4sDgpLAHzjYSpxCnC8rNpEVHQSJNshVjMBRY3mQxN1uxw_YoQ502auKsNQVjVvlfwSffVpgUuBLyIwgfcsbtsGIuSzXpvnIpkOL4JsavVBFr6eYjMnV03WfcGPljkbM5Lu-uXmQtnAwa0SpqSp7bhFhVzGB-opTMvHYcUXvqDghJQWzho32kOceHag6ISs3G14WV1-j0AIqnMFVR8sHQ_pke9dO0xrBVLnoauMkwSVbHSLWWL-xx8_zb2iddXW0lF5wGcVtjdpCjeC9pQ","e":"AQAB"},"attributes":{"enabled":true,"nbf":32503680000,"exp":32535216000,"created":1612578033,"updated":1612578033,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
