interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc7fcf91456.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7fcf91456.vault.azure.net
        - /keys/key-name/create
        - api-version=7.0
        - ''
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault458ad70cc7fcf91456.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc7fcf91456.vault.azure.net/keys/key-name/16da2ee5618f46e09061e629a1f1792c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"s_zjdrbLoDWRP8QuQlLTTwrv2EXn4iZRdQOWuf6jas4lZ5UTJA3Qk1dxFd62pK5bOeHF-T3nPCMwkA3sQGmyJrtL7fiR3PVrg-2XUdbLxwJ7HIGZmn80mJeT0ACVxYShvMeOnZwStjYyTntNcnVukHwPaYKRulOxuTudYOyX3L4dMxpkvFha55QZBkdTM66jc-dfIauhivn5RxGX6KDl6lwaIbEd7keUrsXTZE5p-Rrf_H0uBfr720CEzJzkSN4vMNXkqqHHnahcbZvR41kDr6ttVaeOG8w0uisnFx1DjNVyUUELhvf9z6R-uN7Dv8pNv0UlnR9Rm3EP2zkUeP_l0Q","e":"AQAB"},"attributes":{"enabled":true,"created":1571346370,"updated":1571346370,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7fcf91456.vault.azure.net
        - /keys/key-name/create
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault458ad70cc7fcf91456.vault.azure.net/keys/key-name?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault458ad70cc7fcf91456.vault.azure.net/deletedkeys/key-name","deletedDate":1571346370,"scheduledPurgeDate":1579122370,"key":{"kid":"https://vault458ad70cc7fcf91456.vault.azure.net/keys/key-name/16da2ee5618f46e09061e629a1f1792c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"s_zjdrbLoDWRP8QuQlLTTwrv2EXn4iZRdQOWuf6jas4lZ5UTJA3Qk1dxFd62pK5bOeHF-T3nPCMwkA3sQGmyJrtL7fiR3PVrg-2XUdbLxwJ7HIGZmn80mJeT0ACVxYShvMeOnZwStjYyTntNcnVukHwPaYKRulOxuTudYOyX3L4dMxpkvFha55QZBkdTM66jc-dfIauhivn5RxGX6KDl6lwaIbEd7keUrsXTZE5p-Rrf_H0uBfr720CEzJzkSN4vMNXkqqHHnahcbZvR41kDr6ttVaeOG8w0uisnFx1DjNVyUUELhvf9z6R-uN7Dv8pNv0UlnR9Rm3EP2zkUeP_l0Q","e":"AQAB"},"attributes":{"enabled":true,"created":1571346370,"updated":1571346370,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7fcf91456.vault.azure.net
        - /keys/key-name
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc7fcf91456.vault.azure.net/deletedkeys/key-name?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: key-name"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7fcf91456.vault.azure.net
        - /deletedkeys/key-name
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vault458ad70cc7fcf91456.vault.azure.net/deletedkeys/key-name/recover?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc7fcf91456.vault.azure.net/keys/key-name/16da2ee5618f46e09061e629a1f1792c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"s_zjdrbLoDWRP8QuQlLTTwrv2EXn4iZRdQOWuf6jas4lZ5UTJA3Qk1dxFd62pK5bOeHF-T3nPCMwkA3sQGmyJrtL7fiR3PVrg-2XUdbLxwJ7HIGZmn80mJeT0ACVxYShvMeOnZwStjYyTntNcnVukHwPaYKRulOxuTudYOyX3L4dMxpkvFha55QZBkdTM66jc-dfIauhivn5RxGX6KDl6lwaIbEd7keUrsXTZE5p-Rrf_H0uBfr720CEzJzkSN4vMNXkqqHHnahcbZvR41kDr6ttVaeOG8w0uisnFx1DjNVyUUELhvf9z6R-uN7Dv8pNv0UlnR9Rm3EP2zkUeP_l0Q","e":"AQAB"},"attributes":{"enabled":true,"created":1571346370,"updated":1571346370,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7fcf91456.vault.azure.net
        - /deletedkeys/key-name/recover
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc7fcf91456.vault.azure.net/keys/key-name/?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Key not found: key-name"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7fcf91456.vault.azure.net
        - /keys/key-name/
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc7fcf91456.vault.azure.net/keys/key-name/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault458ad70cc7fcf91456.vault.azure.net/keys/key-name/16da2ee5618f46e09061e629a1f1792c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"s_zjdrbLoDWRP8QuQlLTTwrv2EXn4iZRdQOWuf6jas4lZ5UTJA3Qk1dxFd62pK5bOeHF-T3nPCMwkA3sQGmyJrtL7fiR3PVrg-2XUdbLxwJ7HIGZmn80mJeT0ACVxYShvMeOnZwStjYyTntNcnVukHwPaYKRulOxuTudYOyX3L4dMxpkvFha55QZBkdTM66jc-dfIauhivn5RxGX6KDl6lwaIbEd7keUrsXTZE5p-Rrf_H0uBfr720CEzJzkSN4vMNXkqqHHnahcbZvR41kDr6ttVaeOG8w0uisnFx1DjNVyUUELhvf9z6R-uN7Dv8pNv0UlnR9Rm3EP2zkUeP_l0Q","e":"AQAB"},"attributes":{"enabled":true,"created":1571346370,"updated":1571346370,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7fcf91456.vault.azure.net
        - /keys/key-name/
        - api-version=7.0
        - ''
version: 1