{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204840d92f6e/create?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204840d92f6e/create?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204840d92f6e/bb33d81bb91a4a509e2f6cab9196b185",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0tmxRJ3zdzPSF5w0LQSKXoN14otMMysutFq9iKM1N026QQU5wEFhNwesrwluA9fpxcrt0eydoEZhazFc2wT9B1PGy-NYRCCtOSc8nMrOGheZm9V2mJVBRhcdKgKcAf_fgEe_4VRsWZsK9Xw4tvgxhxweW1wt_LmeMRkjtNJJQG5fP7AZXGhGBatf52I-NmvYCymb_j0L18LDSrKysfrY8YYHWa-vAP929rp7RN8jFm--M9h9Zd2s5KJsqUV3lWnQSMKPf9tt3_0Q4HySIVm-gGFkBCQpx9nbN6T8-ykD8vcoboM8OFXtn9rUe7D90z1_ygHGDaTKw7qqUZOBJ0QnFQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650292569,
          "updated": 1650292569,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204840d92f6e/bb33d81bb91a4a509e2f6cab9196b185/sign?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204840d92f6e/bb33d81bb91a4a509e2f6cab9196b185",
        "value": "mnjngu4NN3GDUUOBSXO_h0I4Fu1L7qJ1rrZeZ_IwvN0ToIg5bYwZoeMFvmJUBRHG7Y0MXwh2ZZaIW4qp3RMkSWqoawg1D834LV2VBwhNUCy5MXd_2tC0TfdxjrZJivX96fej4-PZ3CwgI5KJw7G7tIGJDaGG2Fi-2UTnS26EKKMLciX-p9RAVqHxM0jXG5soYhUofGPynnbX7nqsCqCNHe0XfzMxOl-bUrQzOk83Cmci9A80hswDAOwOx_qLVxdlteUpNqCvlnl1e-0cIpPSFQ2WaMa4whP040nFzHPwzoK7Nzoi8380vaBbpWV-zVuH9yA9kl58Yho3Cwv_HgN3Qw"
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-409640d92f6e/15861775b04645baad655f2ffb0f6e49/sign?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-409640d92f6e/15861775b04645baad655f2ffb0f6e49",
        "value": "B_6QWGygXMR3oxpVJWpKj8FzAgrHfEh4v5mmTsy0vQ1Jsy2Ndms9puj2KVVYz66nZDsb01e7cXFUHf9uivYtA9W8O8LHlXD4Xe0LlhO_zWo9KH819sKWmBFp-EYQcZfk15wuduHBdL4VK15pZRkmHaMPOgvB8ZkBe3nU5khY-Pi77Oh1HTKFG9guCnt1dzijEMeMb7L7HeiyOJTf6lm0f80NJtR2sXsyFzf_oRF3FO9lY76d3D85UE7tY4EDjKdw_2tbMuOIex9e84vCHTpHolpRrXLldD0i1UvXUigb83paqC4aLaLTmT-4V9YRDV7qnTzuyEAL6sHIeIBooEzx7iCyXLWZxj1rVRIEOTPOIUhy6FQ6g34IJpYpknfduvWzlFyzzcuzyG7qF-wMXUPc8RZ32yRUazYGW_G0nh1wFh5_1GOyt_j6fcal3_dQ9alUIlVYqGbObiHCnATbxjGbJenGjDGpcdxCpqiky4jFLlT6e2FQrg5KiQgHd57AQ6ttI4OnMHNjBOIE_6KPHUQXhCxkt-gfnxZ5_0YbYO91foamEoKoZQR6WTDBYJbNxyiuOM3-cXgkIrbJ9xWXv5Nycgg7L6P2CLD3igTjpTLvlY-w4NxB-YUUTbiU5xUBgvWmXJUgPdpRBdxXJNCTiSn2ZNh_5i5HOl-fVZqNKhSipBk"
      }
    }
  ],
  "Variables": {}
}
