{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-not-yet-valid420838ee/create?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-not-yet-valid420838ee/create?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {
          "nbf": 32503680000
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-not-yet-valid420838ee/b6f05efb7f864ed2b78a91e35bb898ee",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0R9LuS4nM0twy18SwVUpi3Uv9N9hgniDfLuCxSDnn-PopUJM7ds2nAcYldkFv58vpIKS08j-X9ZTAf16LYE0cjsUwzF-yyg3M_6MWcK2EbN-vgP8Z5VqeyJSjYmF5dxae9DE7o0mshdwQG_D-lrDlUu8CFLFDAOHsGlLGnVYffr_jZzmdL-Aye5xr6sL-NHBdnZ7YgBtI_V619zpSPwyik5j93Gf1pM0SAmadWIgQrcubAxNJb6jbD3qLvsJYWIEheAdwrrOFHT48DObW_nL7kiuzGE502qnDjXL1qITKJoSAtpTs-Cxbf65C4Mlq7AUIFaO92rUmO-KdufNYWob0Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "nbf": 32503680000,
          "created": 1650664859,
          "updated": 1650664859,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-expired420838ee/create?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {
          "exp": 946684800
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestrsa-expired420838ee/9b798d777e9b4d1f9482c6afe69c720c",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "y0YnHtZtqlQaG9kNngDWc_DfSTTpC-qVusP93B0Chssgrbt6M8eGCQv_ZzYakwFkQAfbEvGOFS6AoXW0BofCGd2E5kNyC0p68EEo03zWpHp_lhpmO_tkMJmbfSZFrxx99OAoccO-0r9fYJV-dSm58boYfT7L8j8XxXnkWaDWs4wX4HRp8JotzzeIEUH2bQjg0GaHPRIBjF4QW5SeyjcvwveRfN9yYKsRrX0ev_dzgnjS6enczyOHzoKu1TPE9xIuAzqGK_oAkD-513YZ9hYmYaJ6LlYlvd37teFaCpXgbHhJdQ9KCTn0y9s1kBdqpSbR3WRdRQrH95-lgvs2-A8O7Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "exp": 946684800,
          "created": 1650664861,
          "updated": 1650664861,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestrsa-valid420838ee/create?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {
          "nbf": 32503680000,
          "exp": 32535216000
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },[...]
