{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name5d7c30fe/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name5d7c30fe/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name5d7c30fe/936a74528f414913953a8f72512ab251",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uFHoaqvI4yicWX_LmKl34aZcA0YqzKhZ7aOz-df8rAwELdXHZiMOZSgffk32bYU6KrBNWaXcDjWvAoscGR08wqMJriqs3Asenu7ZvEKoyMu__tb_zLqdfvf4JbvidEtEaAq2W7g_oDXyMBDf90cIKVmTPG-a7yBkXMR6kpQgQj89IYa766emg5AYjAy6PBzZFoK9d71C05ptn-dBTBHbrBe_7Z_2Y2pHZSNId1UHJrxTgwDkPsJPfGiYOofutiHJTh6_53W5mR70kG0LrKsaSyKdXc6lOycwoj-cnFW6plLGP0UfJfwdW8UhS6bTT_bQEYQouWYrjECAnPy1OwcwqQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650641088,
          "updated": 1650641088,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name5d7c30fe?api-version=7.3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name5d7c30fe",
        "deletedDate": 1650641088,
        "scheduledPurgeDate": 1651245888,
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name5d7c30fe/936a74528f414913953a8f72512ab251",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uFHoaqvI4yicWX_LmKl34aZcA0YqzKhZ7aOz-df8rAwELdXHZiMOZSgffk32bYU6KrBNWaXcDjWvAoscGR08wqMJriqs3Asenu7ZvEKoyMu__tb_zLqdfvf4JbvidEtEaAq2W7g_oDXyMBDf90cIKVmTPG-a7yBkXMR6kpQgQj89IYa766emg5AYjAy6PBzZFoK9d71C05ptn-dBTBHbrBe_7Z_2Y2pHZSNId1UHJrxTgwDkPsJPfGiYOofutiHJTh6_53W5mR70kG0LrKsaSyKdXc6lOycwoj-cnFW6plLGP0UfJfwdW8UhS6bTT_bQEYQouWYrjECAnPy1OwcwqQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650641088,
          "updated": 1650641088,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name5d7c30fe?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: livekvtestkey-name5d7c30fe"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedkeys/livekvtestkey-name5d7c30fe/recover?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name5d7c30fe/936a74528f414913953a8f72512ab251",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uFHoaqvI4yicWX_LmKl34aZcA0YqzKhZ7aOz-df8rAwELdXHZiMOZSgffk32bYU6KrBNWaXcDjWvAoscGR08wqMJriqs3Asenu7ZvEKoyMu__tb_zLqdfvf4JbvidEtEaAq2W7g_oDXyMBDf90cIKVmTPG-a7yBkXMR6kpQgQj89IYa766emg5AYjAy6PBzZFoK9d71C05ptn-dBTBHbrBe_7Z_2Y2pHZSNId1UHJrxTgwDkPsJPfGiYOofutiHJTh6_53W5mR70kG0LrKsaSyKdXc6lOycwoj-cnFW6plLGP0UfJfwdW8UhS6bTT_bQEYQouWYrjECAnPy1OwcwqQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650641088,
          "updated": 1650641088,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name5d7c30fe/?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) livekvtestkey-name5d7c30fe was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/keys/livekvtestkey-name5d7c30fe/?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://vaultname.vault.azure.net/keys/livekvtestkey-name5d7c30fe/936a74528f414913953a8f72512ab251",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uFHoaqvI4yicWX_LmKl34aZcA0YqzKhZ7aOz-df8rAwELdXHZiMOZSgffk32bYU6KrBNWaXcDjWvAoscGR08wqMJriqs3Asenu7ZvEKoyMu__tb_zLqdfvf4JbvidEtEaAq2W7g_oDXyMBDf90cIKVmTPG-a7yBkXMR6kpQgQj89IYa766emg5AYjAy6PBzZFoK9d71C05ptn-dBTBHbrBe_7Z_2Y2pHZSNId1UHJrxTgwDkPsJPfGiYOofutiHJTh6_53W5mR70kG0LrKsaSyKdXc6lOycwoj-cnFW6plLGP0UfJfwdW8UhS6bTT_bQEYQouWYrjECAnPy1OwcwqQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1650641088,
          "updated": 1650641088,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {}
}
