interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048e171440/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"key_size": 2048, "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048e171440/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048e171440/05827fbc94064d1ba578c2ca1efa1074","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"3Vr6fwIW1wjBAETuYH5B2at3V8Ax_hK62yjb9Vw3zwt2XTKUX2E2nIgqWRV4Pzm5x2XoFaS7HmkMuz7cXMnF7gbAWmJ9jHr1Sl_Yl13O7NM4YGNkV9i81CZQ_I1bhXajr_kOYwMu9wiSiAqjc1W9OdmCQO8nE-wcKp5xBgVhGhai8u1qVttzJ4wTccEOhsJBz2lGwj6tNf3PQ0Or_geYIlnwQe0sNHFBAhO2IMhdJiOSA2Oi-fKw-y2-rPVhwC7ZS4-z5zRyBHQLVtZpxyp2Kdb6sEoFKN86psNvUErpPZSwKXFhruTXyKOR0jCLJx_7YG7DcaHhySgypHZhXEjhVQ","e":"AQAB"},"attributes":{"enabled":true,"created":1618865506,"updated":1618865506,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "PS256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048e171440/05827fbc94064d1ba578c2ca1efa1074/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048e171440/05827fbc94064d1ba578c2ca1efa1074","value":"Z0aVf_GIBIuZ4_UaRb9NmpxVw3KRDisbrAZSYLLO6zL1N5MqdaANZy2JykGsjDVHwSwDbgl2d-XGotUWrNbo9AI1-IzshOkF1twKBG6Ms_octPAqihlG3UXc9YARxj1gmBqR5wIFEy0z5GGigwb6TtJkigP-Jx4EXIUfRXfaNqdrWy-Gp-EcHqz4WfnwPeJfVPGeX-VSxoR1TVu-Gqx3oX73ejTV9u8ui-bXXDbXLnXIr1rENaejC-2X2ScRl6hFO_yyEJ2CSQSvc_V-wo0sltvcQzsY4stpqE026RVZJvXLGRI08JHUtzUEM0PmUgi8VoyN_VFTkGpiYTsovQQarQ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "RS512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-4096e171440/e52f7f3658294612b887df35ab197a4b/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-4096e171440/e52f7f3658294612b887df35ab197a4b","value":"b7AXLTS98L9atw0PQFdI0OIE8kPwLI2PvGUMe2yfjndBHHlhN5zqNEkjehqGtQjusFLJ1iiJGvvZfzqbeZaS5aV_BbY2EhwnIzFthJD-4it0dlB-qWYr9EvsyVuai3wBltw6vlVgJ3hv-pEXEBNIK9h8msdLx5LN7ZOOoGL48hxF64PZwtRxx5rGx9YA9jdo2N_xLR59253SBtfsonCEsgu-GfamV5UsFC0XhJvuvIKmeUAWtreNF4jDrWRrtr_q9ZaSYXKJRRpzMR2Fra7pXgSU11Zb2GmbisrK5g2UynhhzCIBQRGT8bJvcIFHw_0ezR3JSyA4S0dcDsFqa-kvJ6dAF8V26a8wx6h6NnHNUVgR7bABKGkeWejJ3HdNGabnH86_8slKED7FWY--O852-8T0SiVV0SKFNSFGBv0Uosz90xWbVextvaQEqCHEmQEjC_PV2isKg1XjNNRvYpQsQNp1jhXqXej6UVEf7nPw-co8aZzyWK7rFA5u9aKq2Q0uGsG9xEXcjlV_spX36uecTvKAssI3kECaYmtrAC5mtjxnOzPTqF_t-pFUeCA9RkJXUlNVbnxsLfptzmiPXGVlgAKOgVmhGpxKQ0ZfQO3ygjRLnL3ynUGLnLDQQxhozsn5MARZyOqAOmj2xTBValhYGmuJzDZO_iLjatODGOK7l9U"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
