interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-key54661612/create?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-key54661612/create?api-version=7.2-preview
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-key54661612/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-key54661612/93d2b97bbc6649d6ad881f6a96a87452","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"vnk7glk9LSWFZMvl6i6e6gohj9lmfrChfRNMA8DLXauQ8RFMsjbUzeoN7fK2dd0yRKNFIMJa49R5TOMx5y-Q5fGPRaxttnybX-D9_BKJ9A0djtOkaGDlEOCgUkJennUHoswyMJ2VTJlY_exU3SBOF1FXrrEf_SO0d-F5xzLo1T9-IbAfw3OROhtrJ9ytx0Lb2nYIdkZhPLMHOKmS95UqRqotTHietUZ8Z6nDaHERFIB3UZzGQWLKhzHH2GqDIds5ev6TgE3kzlykRrH_ikUz4eA59Z_89msQXWKuhhboHc8HjNXu-ItAJp2aQFcAV77C2hr8Hmc9ZLUc1gfButQR6Q","e":"AQAB"},"attributes":{"enabled":true,"created":1612578075,"updated":1612578075,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-key54661612/create?api-version=7.2-preview
version: 1
