{
  "Entries": [
    {
      "RequestUri": "00000000-0000-0000-0000-000000000000keys/livekvtestwrap-local697f2ee7/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "00000000-0000-0000-0000-000000000000keys/livekvtestwrap-local697f2ee7/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 4096
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "290"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1650292276,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1650292276
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "00000000-0000-0000-0000-000000000000keys/livekvtestwrap-local697f2ee7/adb33c3d5afb4a73a7fd5175301f8520",
          "kty": "RSA-HSM",
          "n": "xLiehYigbrihnc5dwdkJ0mr433n_McLzUebtHMjhlExgzmFMcNDAj9UvM0dRv-XV0rByCLkYCJhRAKUjkAZmOkl21cO3zXpzBzPgCz_1ojORuU3bWE3qJIUpl9eXDQK8l6uEnPnBrTBEGwq4grvmKZn4SPVrCZFAbyxgVr4N84w1Q130L7vUp8e8by6zpxVcCOG5ZEXMYALPe4XBN-txlvHIzv3wbdN8r-csgadEYm4NtMiU1hANsErf8p5zWLAluDDcPUE3LQu5ekH0L4jfB-3TAeXTHnbB_0X-ql5_l2SrGfOTm44Fbj0tQlOb7-ekxTSJ8b5I6uBM6xIReZzhVNQIeIl0cxvjtCDds_2eu8B6_V_itBaxH0als8f1MbVyLONDLZtee3MrmnhYxuvA8l-DROuat2LdaNhMhipndxbMl_HYoorHqchgC9udeLQtBWCJDm0MND6NlM6PLuycodZxXWVtp_CPZqln-2a0ZJJWGJCJ87MLHxl9LDxAFkQ5iDAm9GwzJbPzM1kcZDEUzyUXJ4jh1hZZt8kqTwaUr-_GJ-v2gtEqf_CLNPFQnhEHzvc8KBSj4LE17v5Ap6MFsg4evniPqzpuujOv5mS2zpF-8IDz8X9H7qYJzXVoQba0G-ex9erV5F97LunVozOM_nTwwcCePqgFbtQ9Lg-7qI0"
        }
      }
    },
[...]
    {
      "RequestUri": "00000000-0000-0000-0000-000000000000keys/livekvtestwrap-local697f2ee7/adb33c3d5afb4a73a7fd5175301f8520/unwrapkey?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "ElOB-IIk3gQeVH8-djiGkJMLXm780_SspEdFrvwe3FnU2JdEH7hQBqKau3fXQHXG7xpokAxaxDj--bkhKkd09T5gPYGPLlb0_j3pArcFYtSZu5HH7_TS7I3JjYMnUyv18GyKK7Y6Q1_kYPB98nnkfUJTAPj3wG3yanKtodbPPgU4Rn0-9JQTVV7VtJCZarcPlGqFcSCzukwzC1dvgsP0G8-ynQ1K2nrRvfpISyXRyMwpzjoD9UP7UOfPr_3hyPSLSeCWQkmBtX527Mp9SoYKiFrJc_OpkicqoRyOHtcvp3ud_C7f3QP9DygW5hYpaXPbOK-4m1l7iE317tE3gN5z3TgrA8BrXcVbzCkEh6LIk-MROMA85mau2lS8BsZPkWlMctvAv5nA5y_-08Kq3k-zprq6DbAaTW3dniZ3Q6y60jB2Uxa9kxwouPhB3d792hLTk1IBWJqxDDVuYka5cMco7WKb-3_gBSvFm9s7lB3Wrxsgphfj_lWSFf0AsTmlhV9Nt6c4trBTuyjqOf1UGMRrCG9kzkP56CUFa9moB1wI685Cz9LwGqiljmpgf--JUemTruprKsf64uqkXLNruVuCzVt8YFVp6gjYaXP5yA-ArY98oOHOnXfXuaSRRfKa_eHFqL2bk5fLY8ob6C-QsiaXAef2gh3dpmoI0BmGAIwTIlQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "125"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "00000000-0000-0000-0000-000000000000keys/livekvtestwrap-local697f2ee7/adb33c3d5afb4a73a7fd5175301f8520",
        "value": "NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"
      }
    },
[...]
