interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/rsa-key-name/create?api-version=7.1-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "key_size": 2048}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/rsa-key-name/create?api-version=7.1-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/rsa-key-name/0a79a5a3db46422cb4396d8cd1fba940","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"4y18_7dytyL5jmx5eWWTgdePmkFKVKXfFrM2bP_UX8EkCaHOHOz8Xxeg3eTvSV9_nUiguVRtXVJ58BWkikJowJzkqzvHSDPPzbFXSkY0K3yJ7AOejwlZSlkBzLgeivI3_AimIe-Kr-OonkfWU-J708Gnhesvj0W7MXRWpw4LjbZbRwV3EO6I60QO0t3bs_3s2AeMtGeSTq06zDp46pDanErE3QFbM91JDERWsEcdLlKAy4KCpcfyQOQxuI_MFQnEr5EMDLvUOO99iH2RWh_PmR8ieWjvOHAiHVOvsgCcsZi-aSfoqhycn-RJUrVbJfUMc_9XpTEdmwzJ3-mm-oJ-mw","e":"AQAB"},"attributes":{"enabled":true,"created":1583451970,"updated":1583451970,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
