interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey076031650/create?api-version=7.3-preview
  response:
    body:
      string: ''
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency: '1'
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestkey076031650/create?api-version=7.3-preview
- request:
    body: '{"kty": "RSA-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey076031650/create?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1643835110,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1643835110},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey076031650/dd730fda4a0400e906bb3b8831c3a501","kty":"RSA-HSM","n":"rbN97MpGe7LJMcAHBqE7y8YJsiqfhA6YSAzKvGw6B-LSeLkXqRcaKSFdKiGlnFeZz53CGvYojcJBQdvGDscu2mFy5vuxxk0wyqHbo4ZS2UArAz_YyT74ChCPZvKzl3tt6GLVuqjsgUEOO6Kr3FBZLaE_V-qhmOczalWPSqSCoe6f5Er9dHlQ2_ZFmnwg2uR3PmY43-ocC-kcmL7ll0jo53oHHHelPVLpbIS5z5yh3hmrentWXcc1GmAKjfIZevghbHvl7mjPw-sR5JcL1nbOl4rx9Isnwz6Bywdcl5W6jdW5Nwxzjuj-u4oTeEPo01_8XoV_idvrNHpe7mFMlZ6Icw"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '269'
    status:
      code: 200
      message: OK
    url: https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestkey076031650/create?api-version=7.3-preview
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey076031650?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1643835110,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1643835110},"deletedDate":1643835124,"key":{"e":"AQAB","key_ops":["wrapKey","encrypt","decrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey076031650/dd730fda4a0400e906bb3b8831c3a501","kty":"RSA-HSM","n":"rbN97MpGe7LJMcAHBqE7y8YJsiqfhA6YSAzKvGw6B-LSeLkXqRcaKSFdKiGlnFeZz53CGvYojcJBQdvGDscu2mFy5vuxxk0wyqHbo4ZS2UArAz_YyT74ChCPZvKzl3tt6GLVuqjsgUEOO6Kr3FBZLaE_V-qhmOczalWPSqSCoe6f5Er9dHlQ2_ZFmnwg2uR3PmY43-ocC-kcmL7ll0jo53oHHHelPVLpbIS5z5yh3hmrentWXcc1GmAKjfIZevghbHvl7mjPw-sR5JcL1nbOl4rx9Isnwz6Bywdcl5W6jdW5Nwxzjuj-u4oTeEPo01_8XoV_idvrNHpe7mFMlZ6Icw"},"recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey076031650","scheduledPurgeDate":1644439924}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '170'
    status:
      code: 200
      message: OK
    url: https://mcpatinokvhsm.managedhsm.azure.net/keys/livekvtestkey076031650?api-version=7.3-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey076031650?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1643835110,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1643835110},"deletedDate":1643835124,"key":{"e":"AQAB","key_ops":["verify","sign","unwrapKey","encrypt","decrypt","wrapKey"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey076031650/dd730fda4a0400e906bb3b8831c3a501","kty":"RSA-HSM","n":"rbN97MpGe7LJMcAHBqE7y8YJsiqfhA6YSAzKvGw6B-LSeLkXqRcaKSFdKiGlnFeZz53CGvYojcJBQdvGDscu2mFy5vuxxk0wyqHbo4ZS2UArAz_YyT74ChCPZvKzl3tt6GLVuqjsgUEOO6Kr3FBZLaE_V-qhmOczalWPSqSCoe6f5Er9dHlQ2_ZFmnwg2uR3PmY43-ocC-kcmL7ll0jo53oHHHelPVLpbIS5z5yh3hmrentWXcc1GmAKjfIZevghbHvl7mjPw-sR5JcL1nbOl4rx9Isnwz6Bywdcl5W6jdW5Nwxzjuj-u4oTeEPo01_8XoV_idvrNHpe7mFMlZ6Icw"},"recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey076031650","scheduledPurgeDate":1644439924}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20220117-1-eb2a1acb-1.0.20211206-1-be739728-develop
      x-ms-server-latency: '33'
    status:
      code: 200
      message: OK
    url: https://mcpatinokvhsm.managedhsm.azure.net/deletedkeys/livekvtestkey076031650?api-version=7.3-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys?api-version=7.3-preview
  response:
    body:
      string: '{"nextLink":"https://managedhsmname.managedhsm.azure.net/deletedkeys?maxresults=25&$skiptoken=K1JJRDp-eTJabUFLOHItZFZSQUFBQUFBQUFBQT09I1JUOjEjVFJDOjEwI0lTVjoyI0lFTzo2NTU2NyNRQ0Y6NA","value":[{"attributes":{"created":1643835092,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1643835092},"deletedDate":1643835106,"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey0cf3012ee","recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey0cf3012ee","scheduledPurgeDate":1644439906},{"attributes":{"created":1643835094,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys?api-version=7.3-preview&maxresults=25&$skiptoken=K1JJRDp-eTJabUFLOHItZFZSQUFBQUFBQUFBQT09I1JUOjEjVFJDOjEwI0lTVjoyI0lFTzo2NTU2NyNRQ0Y6NA
  response:
    body:
      string: '{"value":[{"attributes":{"created":1643835117,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1643835117},"deletedDate":1643835125,"kid":"htt[...]
[...]
