interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204859191a21/create?api-version=7.3-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-verify-204859191a21/create?api-version=7.3-preview
- request:
    body: '{"kty": "RSA", "key_size": 2048}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204859191a21/create?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204859191a21/3935932cc50d42efaf0b29b64a6220e2","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"u3fjy73sphWad0jinFQKh18Ej1v-8oNyUJ7rjbTyk2DD0nna1z7masnceP2be-_BsJHlo3otJt8x1A8NnsCdu0T1T6VcraqU_hJAQPrwTBxucRUVGrl_gLzzRL3AxPMx_wK7UYOr31fjrEmSjC6zpsuaQk8AJVtZSO6l2FhhCl5NBAhjaFyi5e1ujAOAchAnF3-6oBypi5bDZijzgAWyeljCresswXI45F0U-NDbpYGHjtQ1S3oZQgW4gBIH22z5Op4TFpB33pOhup9TX1qMFCb2mNXNIFw2vFk9CjaLcVHfP0Vn-LO0yMpEk0auPd0ldtJo-DTR_XBpDLNC_o19mQ","e":"AQAB"},"attributes":{"enabled":true,"created":1625605493,"updated":1625605493,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-verify-204859191a21/create?api-version=7.3-preview
- request:
    body: '{"alg": "PS256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204859191a21/3935932cc50d42efaf0b29b64a6220e2/sign?api-version=7.3-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-204859191a21/3935932cc50d42efaf0b29b64a6220e2","value":"Ms_-K5bt1CnMCIyRqu17olqwagzbIQ4ZRs8yaM0Ip3yIWZ6tsqjD4M7I4RUJHzlNMAPeQNCVz3FR9sk35TC3if_eQfrUofek4bJGrJBwhgeGH8yZn1Ay6uHMDcxEIsq-GHbV-Ki5XQ3kDmmXfEhPbjtMbsRufE4OYOMed5tzHRu5kBlWHQsw2mFoh9e5760CIgEEaloNMyWqK1wzqv8054-QjkelzuzuD-Q06mf7xxydvCzyW23P8HqL07Ix7a1sRDkSrFfE2AFMXmOMMBe55OXrBf1MuIQBIkHexC3pH91X2D3IJUwFiqLIooiHgwoWAAlMf6lyVKvfPNFUsmctcQ"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-verify-204859191a21/3935932cc50d42efaf0b29b64a6220e2/sign?api-version=7.3-preview
[...]
- request:
    body: '{"alg": "RS512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-409659191a21/61d6299cc50e43bdb652de22461752b6/sign?api-version=7.3-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-409659191a21/61d6299cc50e43bdb652de22461752b6","value":"s9iUKzs0Uio-hn9K3JmKzQLTybj60jz2ZniEaVSR-vejDqCsfXU34OxD-aRj5ECBpZsrXynLcK-QmnV0jWkWpfuw8WVN5yAoXjWBqwebFmJBMWyuoRteCEg1pCF97u2WdPQQjfrXzkfzPq9FL-b4rHNDFBWujkj2R3a96j-RBiTg9WWEw4ZHEwWp6SOWdii8I-5YuV8fkUpITDyp0ShVHtUuQ_V9dWfyv3DwXrXv9ugHLUd0A3t3gu1U9EKmvs7V1PoYRk6mjFjYiNzqrkG5sycG3lKa8m4kPnLhh9GSMAqkXvw1eSUeUWexcjAjdhbe8_teyVCKoqD_iO3dhXyh7GXBVbbG0u-OFZouySurkKld5-ezDU3t-d3lnzzRQCLZgtgSgkJ_xp-3VcewsQP0ASBcLQSZw56-n3Yk3bca4aKOLPR2eNpgrph_2JJEQOvuYQO5sRxG2bc4P6BGsrq0VWlBcb4Dy6CybG74EC4V0PXjHeb8IM3_s9FUikwobEscK8BeLqc16S3vZ5VlBzZtKvMrH8yp9HjfcryfOVv_ZLDcF9o-l8fbEw3aFVcXyW6TEGd2Sig_EA209sYSyu35ouI7EHKc8bj-qhM60cTzGRXxzDeQTK_chiOoG7LFdsq1xT2L6q5lhcQXWc3Afzd2wx5_8CO4yQC5M16GQJpG0bI"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-verify-409659191a21/61d6299cc50e43bdb652de22461752b6/sign?api-version=7.3-preview
version: 1
