interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestsymmetric-kw6c0f1684?api-version=7.2-preview
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '0'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"key": {"kty": "oct-HSM", "key_ops": ["encrypt", "decrypt", "wrapKey",
      "unwrapKey"], "k": "4n7QyEUSu9VbavQ00jfBH-ujEYcPgPLC4zZCYPMcgsg"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestsymmetric-kw6c0f1684?api-version=7.2-preview
  response:
    body:
      string: '{"attributes":{"created":1616195127,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1616195127},"key":{"key_ops":["encrypt","decrypt","unwrapKey","wrapKey"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestsymmetric-kw6c0f1684/487b6e1ac75c00642fe22cbc5e295fec","kty":"oct-HSM"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '203'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestsymmetric-kw6c0f1684/487b6e1ac75c00642fe22cbc5e295fec?api-version=7.2-preview
  response:
    body:
      string: '{"attributes":{"created":1616195127,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1616195127},"key":{"key_ops":["decrypt","encrypt","wrapKey","unwrapKey"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestsymmetric-kw6c0f1684/487b6e1ac75c00642fe22cbc5e295fec","kty":"oct-HSM"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20210306-1-6fb7c19a-develop
      x-ms-server-latency:
      - '58'
    status:
      code: 200
      message: OK
version: 1
