interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey0b92312af/create?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey0b92312af/create?api-version=7.2-preview
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey0b92312af/create?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey0b92312af/6f4d6afad6574133810650495e757822","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"wZYj9b429PxYqAHun11YeHT89FOvsj_HLb6hG8ey8uJ719YB2g1eGx6ceKPs6krZ8T_14hwpq62EjogoRwyqbOGLYJ5_1-gjqj_hlBWdx_mlGmSgYj3docn_qcr21tuRJIaheF8IJGJOQ36P7EqQc3Gho2NvqPRyWP25Hll1c379VO6gNSMkBKoETyN9HGvmh5SUHzMYY9m3R7O6mXNLVyurffMhDJ1Qbps5CjkMf9a8zTaWVtEkSzDeuk7pDr0xMCVMbDQreN-O6f9LF_gIahJnxhYYBC4oHLLsdMny6LoV0dciSi_AbghUo3KMCF9fS7qHXU-m8eyHnOmFvJ6EUQ","e":"AQAB"},"attributes":{"enabled":true,"created":1618860872,"updated":1618860872,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey0b92312af/create?api-version=7.2-preview
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey5b92312af?api-version=7.2-preview
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/livekvtestkey5b92312af","deletedDate":1618860887,"scheduledPurgeDate":1626636887,"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey5b92312af/1dc015c0ffcc44aea0a28610115d45af","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"wjClHISebVu0zVjfYuv3ZLYFR0jFzEK8JmvNJBMBMmhsJEj5x-23gftCcvXzlM9EPWzSJTUjdMSZ3jXjIJg96j1rSl4le9YrsYSfG82ykuNzXHP__ZtFtsnmNn8wmY45J8iCFLluqMDu470ZQnI4INrxHr_AgKX6Y2JO3wOeBAbGAKYpHcMDI-Uz7lu2_GeaLdIBYG6cwPa3QemLmxGGYjFJW8Swi4yVluCVZ-rP2VqwwQdzRIAQUzOwxoLQD8acf5CgCKciNnLq8AkLPdn5-2UPC0Cmt8g4ihelRg7MKheqICR7y-6_JOIA7kapvFXNVki8Sg5khq9oB4B3CWnB4Q","e":"AQAB"},"attributes":{"enabled":true,"created":1618860884,"updated":1618860884,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey5b92312af?api-version=7.2-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/livekvtestkey5b92312af?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: livekvtestkey5b92312af"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://mcpatinotest.vault.azure.net/deletedkeys/livekvtestkey5b92312af?api-version=7.2-preview
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vaultname.vault.azure.net/deletedkeys/livekvtestkey5b92312af/recover?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey5b92312af/1dc015c0ffcc44aea0a28610115d45af","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"wjClHISebVu0zVjfYuv3ZLYFR0jFzEK8JmvNJBMBMmhsJEj5x-23gftCcvXzlM9EPWzSJTUjdMSZ3jXjIJg96j1rSl4le9YrsYSfG82ykuNzXHP__ZtFtsnmNn8wmY45J8iCFLluqMDu470ZQnI4INrxHr_AgKX6Y2JO3wOeBAbGAKYpHcMDI-Uz7lu2_GeaLdIBYG6cwPa3QemLmxGGYjFJW8Swi4yVluCVZ-rP2VqwwQdzRIAQUzOwxoLQD8acf5CgCKciNnLq8AkLPdn5-2UPC0Cmt8g4ihelRg7MKheqICR7y-6_JOIA7kapvFXNVki8Sg5khq9oB4B3CWnB4Q","e":"AQAB"},"attributes":{"enabled":true,"created":1618860884,"updated":1618860884,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/deletedkeys/livekvtestkey5b92312af/recover?api-version=7.2-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey5b92312af/?api-version=7.2-preview
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"A key with (name/id) livekvtestkey5b92312af
        was not found in this key vault. If you recently deleted this key you may
        be able to recover it using the correct recovery command. For help resolving
        this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey5b92312af/?api-version=7.2-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/livekvtestkey1b92312af/?api-version=7.2-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestkey1b92312af/7b2210bd82e84c5291c169d39733c9bf","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"yhDSl5YHF_sM8ym-3OmoU9a225ACVv9joqsEEi5hmp5-ymx5GUZ7xpnEaUU-qGIMV_aryNHLvSfNydL502OEuHq4Gy2z6BNAqOc48Fp0MkaKHroOf6KOdV4VFbEsANMlS3Qn5ueT5y7FvY8UzaFaLNLvXPg0HNKdNcxYYZMHOHzmhV7OM50BD4xqyqBwX9GsBYaBIXlx4iE0bWXjib29mH7x8ZY9-ItHVL8-ECA49Fz-iiKCbJ46xoqryU_N3G0z1seGfftVxa1Vy3RmaxG29U88IS0KyvrzbMOmVr5Wfwv7LsQPsRWMhQ-YcKoI4OY_eXQhfEOwbks6yTRFXPIgSQ","e":"AQAB"},"attributes":{"enabled":true,"created":1618860874,"updated":1618860874,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestkey1b92312af/?api-version=7.2-preview
version: 1
