interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyd2e41322/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyd2e41322/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyd2e41322/51e45666835848fd9c304681656f60c9","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"7rFHpp8dkthK4fjalOmwltgOHKF9MZaRaMOlYpk7Dump5_yoofYYZXMrGy0wQ6dqV280R1jVFAEXDsnlokjkuaCu21zzZupIePxhT9g_nyaVjdZnry80RlJwaM7Dg9asjzqMoEJbDkaJwBGJSnlrKPC0DinwOlpMWSZgkEcUKDRHALjq9p4t_iTnbzrs7DXIqssvWN8UFBx6ug7_eY5nxvOPvyKT6cCzf_T4hol05o2SlKOMcjiPEZtqES6ekgu2qqSXDStbv5nLnIyYT6DRXaxCQMQGWidl_0PGdiXlt2UUmsSwHsnt1GnUxWGiYXljlI6N5XDJ34oeL86QY5OSQQ","e":"AQAB"},"attributes":{"enabled":true,"created":1618949215,"updated":1618949215,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw", "alg": "RS256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyd2e41322/51e45666835848fd9c304681656f60c9/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyd2e41322/51e45666835848fd9c304681656f60c9","value":"hDfCLg7E6Wg1SjaCWRUrUxR-4YWFg7BgUAQHpps6GTdcDBQCqrZsMYrLdqI3EvL6-ksrQEca4bfp5zm_ah4rPlS0PW-5q46VtmPldnAGGFBE9j9b15xPFEMvaMG5UnXeuK3JOdLYMQYZX4WtIVe4HHuN4LRdYEUGZRWhoj7TFhZHQJeSKo6Izj6svTVgQZfSFHEBQ-TXCZHqxhGZ3nYhaPbsNmWhPQOROxsy4NzV-VWrfvPRlpBYSfsw2fzXZglkSY3eKAf1sXNBqga7rx7hSMbJ3czeYFQVVZ8N5gFs4rHtBOGVbMVFSLUpegIIKEEyJNQpCNAQZQZGMz9nCRNzDg"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
