interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey-named6b71f92/create?api-version=7.3-preview
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '0'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "EC", "attributes": {"exportable": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey-named6b71f92/create?api-version=7.3-preview
  response:
    body:
      string: '{"error":{"code":"BadParameter","message":"Exportable keys must have
        release policy (Activity ID: 1b39c96a-f3e6-11eb-8e05-000d3a3145c5)"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '18'
    status:
      code: 400
      message: Bad Request
version: 1
