interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey01e480ec5/create?api-version=7.2
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '0'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey01e480ec5/create?api-version=7.2
  response:
    body:
      string: '{"attributes":{"created":1643835943,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1643835943},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey01e480ec5/54e3b480e7d54d182bfbb3a8300257dd","kty":"RSA-HSM","n":"qWYsexRAKCeiOfYd9_LDz_VyNiJi8YZbesK45j0SVXSputHS00t3-giK3-h9O2jqIAU3efLEkV6W3mtVtR40Buf1dhP8PBEN5i5pOaXbz-34zkT8aLsf9N0JyWn9AfLh0LW4_N5jdYDoZf_bjyCf9gT31rvHI5fZ8Eu3FcBmzZ9PFqXonqi08wSwULqPpDM_rTbPBwoE-82vM-OQKVd_JtPSE-khTpyxyDu5LGmdqHsy2_-DIWdTxHO8v7tnPtKFkFam7ea_DC4Qdh0uO-ugbKppj0nd9cijpGkN6Sqn0OZAXVHwweFdAIOfbGORSFYdoc5LVOTLpHKkfVBIRXeLzQ"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '237'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey01e480ec5?api-version=7.2
  response:
    body:
      string: '{"attributes":{"created":1643835943,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1643835943},"deletedDate":1643835957,"key":{"e":"AQAB","key_ops":["wrapKey","encrypt","decrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey01e480ec5/54e3b480e7d54d182bfbb3a8300257dd","kty":"RSA-HSM","n":"qWYsexRAKCeiOfYd9_LDz_VyNiJi8YZbesK45j0SVXSputHS00t3-giK3-h9O2jqIAU3efLEkV6W3mtVtR40Buf1dhP8PBEN5i5pOaXbz-34zkT8aLsf9N0JyWn9AfLh0LW4_N5jdYDoZf_bjyCf9gT31rvHI5fZ8Eu3FcBmzZ9PFqXonqi08wSwULqPpDM_rTbPBwoE-82vM-OQKVd_JtPSE-khTpyxyDu5LGmdqHsy2_-DIWdTxHO8v7tnPtKFkFam7ea_DC4Qdh0uO-ugbKppj0nd9cijpGkN6Sqn0OZAXVHwweFdAIOfbGORSFYdoc5LVOTLpHKkfVBIRXeLzQ"},"recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey01e480ec5","scheduledPurgeDate":1644440757}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '136'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey01e480ec5?api-version=7.2
  response:
    body:
      string: '{"attributes":{"created":1643835943,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1643835943},"deletedDate":1643835957,"key":{"e":"AQAB","key_ops":["verify","sign","unwrapKey","encrypt","decrypt","wrapKey"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey01e480ec5/54e3b480e7d54d182bfbb3a8300257dd","kty":"RSA-HSM","n":"qWYsexRAKCeiOfYd9_LDz_VyNiJi8YZbesK45j0SVXSputHS00t3-giK3-h9O2jqIAU3efLEkV6W3mtVtR40Buf1dhP8PBEN5i5pOaXbz-34zkT8aLsf9N0JyWn9AfLh0LW4_N5jdYDoZf_bjyCf9gT31rvHI5fZ8Eu3FcBmzZ9PFqXonqi08wSwULqPpDM_rTbPBwoE-82vM-OQKVd_JtPSE-khTpyxyDu5LGmdqHsy2_-DIWdTxHO8v7tnPtKFkFam7ea_DC4Qdh0uO-ugbKppj0nd9cijpGkN6Sqn0OZAXVHwweFdAIOfbGORSFYdoc5LVOTLpHKkfVBIRXeLzQ"},"recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey01e480ec5","scheduledPurgeDate":1644440757}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20220117-1-eb2a1acb-1.0.20211206-1-be739728-develop
      x-ms-server-latency:
      - '34'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys?api-version=7.2
  response:
    body:
      string: '{"nextLink":"https://managedhsmname.managedhsm.azure.net/deletedkeys?maxresults=25&$skiptoken=K1JJRDp-eTJabUFLOHItZFZSQUFBQUFBQUFBQT09I1JUOjEjVFJDOjEwI0lTVjoyI0lFTzo2NTU2NyNRQ0Y6NA","value":[{"attributes":{"created":1643835092,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1643835092},"deletedDate":1643835106,"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey0cf3012ee","recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey0cf3012ee","scheduledPurgeDate":1644439906},{"attributes":{"created":1643835094,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys?api-version=7.2&maxresults=25&$skiptoken=K1JJRDp-eTJabUFLOHItZFZSQUFBQUFBQUFBQT09I1JUOjEjVFJDOjEwI0lTVjoyI0lFTzo2NTU2NyNRQ0Y6NA
  response:
    body:
      string: '{"nextLink":"https://managedhsmname.managedhsm.azure.net/deletedkeys?maxresults=25&$skiptoken=K1JJRDp-eTJabUFLOHItZFd0QUFBQUFBQUFBQT09I1JUOjIjVFJDOjIwI0lTVjoyI0lFTzo2NTU2NyNRQ0Y6NA","value":[{"attributes":{"created"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys?api-version=7.2&maxresults=25&$skiptoken=K1JJRDp-eTJabUFLOHItZFd0QUFBQUFBQUFBQT09I1JUOjIjVFJDOjIwI0lTVjoyI0lFTzo2NTU2NyNRQ0Y6NA
  response:
    body:
      string: '{"nextLink":"https://managedhsmname.managedhsm.azure.net/deletedkeys?maxresults=25&$skiptoken=K1JJRDp-eTJabUFLOHItZFhSQUFBQUFBQUFBQT09I1JUOjMjVFJDOjMwI0lTVjoyI0lFTzo2NTU2NyNRQ0Y6NA","value":[{"attributes":{"created"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys?api-version=7.2&maxresults=25&$skiptoken=K1JJRDp-eTJabUFLOHItZFhSQUFBQUFBQUFBQT09I1JUOjMjVFJDOjMwI0lTVjoyI0lFTzo2NTU2NyNRQ0Y6NA
  response:
    body:
      string: '{"value":[{"attributes":{"created":1643835947,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1643835947},"deletedDate":1643835957,"kid":"https://man[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey01e480ec5/recover?api-version=7.2
  response:
    body:
      string: '{"attributes":{"created":1643835943,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1643835943},"key":{"e":"AQAB","key_ops":["verify","sign","unwrapKey","decrypt","encrypt","wrapKey"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey01e480ec5/54e3b480e7d54d182bfbb3a8300257dd","kty":"RSA-HSM","n":"qWYsexRAKCeiOfYd9_LDz_VyNiJi8YZbesK45j0SVXSputHS00t3-giK3-h9O2jqIAU3efLEkV6W3mtVtR40Buf1dhP8PBEN5i5pOaXbz-34zkT8aLsf9N0JyWn9AfLh0LW4_N5jdYDoZf_bjyCf9gT31rvHI5fZ8Eu3FcBmzZ9PFqXonqi08wSwULqPpDM_rTbPBwoE-82vM-OQKVd_JtPSE-khTpyxyDu5LGmdqHsy2_-DIWdTxHO8v7tnPtKFkFam7ea_DC4Qdh0uO-ugbKppj0nd9cijpGkN6Sqn0OZAXVHwweFdAIOfbGORSFYdoc5LVOTLpHKkfVBIRXeLzQ"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '126'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey61e480ec5/recover?api-version=7.2
  response:
    body:
      string: '{"attributes":{"created":1643835956,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1643835956},"key":{"e":"AQAB","key_ops":["verify","sign","unwrapKey","decrypt","encrypt","wrapKey"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey61e480ec5/c79bfa4fe85600d4394531b5c6768e2b","kty":"RSA-HSM","n":"kTylaWKSR-wIY9dvKT18-hlHlGrI5L3YddBJ1QRZNL2hhQrlJN-V3VgSLuxKaFAYbh6bK8Weffqhm935FpKC757hdoGyTPVF67G4Lt6QeNcZuohhAvcgF3JzVZxCjVqphxl5DeBG_U05cCoNkVjA0QwHLCylOFURZYmopk0Cf9swpZG6WNB5BB6xEfi3zRBDYhaAc2Yjdkv46af_vIGpJjMCmfWwYVu0Qdq5VxRLhPbcXTFvObj1LO9IjSq1PXrw-i1artfpOcC7Rlc0Fuas1h52nLeSU40JoZIjAsZ-lrUBoVpH2W28d-JE7jA12IluDpsXy0o8zYNBJv58xO8inw"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '124'
    status:
      code: 200
      message: OK
version: 1
