interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048e171440/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"key_size": 2048, "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048e171440/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048e171440/484c5ad5a8614c0dad13c4274bd237d7","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"wgqZ6pfc-zWpwAkv6g0niPj6vUAVHADXf7z3bNFWpglld0BkKfc6yKM-v4e_NqegwuFpm6K8Ej1ZBIy-uiEzVxuenoeYx7xrHxGZtpdnZuoOJR7T034gY47P39f02lohKzqEARGMJ3B23JKghT6f4pYqIGR5YJ9uvyqg3ykC7kpWYOfi4Ekgko_gyrIEYdF42zxaDJoPQA8Wu39ypZALRwUHsiXWMkYnPHouOa7smiTgsO-GaHrAeIw5pAdbNHOOGbfxllm3aTCBFHdr_Mkk3ZywG_Q-LrRVYOoFsr-cXDFl4iNHPNhi9lNo2BJDOCee9d3q-E26CSYcQE8UlUrajQ","e":"AQAB"},"attributes":{"enabled":true,"created":1620427821,"updated":1620427821,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg", "alg": "PS256"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048e171440/484c5ad5a8614c0dad13c4274bd237d7/sign?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048e171440/484c5ad5a8614c0dad13c4274bd237d7","value":"rRSlLYhJD8fNDFL5sMM2Q3UuQ9pfCZZzHjyHpkyb3m5tCrLsuqiH6Oj65kPBAhXXA-XXkv2H77-_3canG1aowLI2YQZGNt1VwZY9kXEPDi6NGhi-RZarg6I0n-A7CpWwakFHwFOzyfAUukgt0D1Q2ckr4M20_MboLprg_KpRvPmtRPN-7H7cIbK7Z6MpB5dpsUXwy1cOmIcyLAwjTN-mWh7X-3Cf21Bzr_ZIlD4yKUCF9t59GOP-BMM4sK6wJlFY8ilEpOLB8Zw8PoVy4PoZUgN-WPGlF8K7QSVCR7-NoR57imvaa7aTl-HNOPZ-wmvxBYTk8LRdhyN5mlSwdu7aPw"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ",
      "alg": "RS512"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-4096e171440/5691be4d227e422987a26bc9c501cff0/sign?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-4096e171440/5691be4d227e422987a26bc9c501cff0","value":"ZRnwbwZcFyBLtshNjglfMtuMie_hI57sZL2VNZxw74AMYd67czQHz7Q4RVo0uo648FNJADmOgiqlfGqngoHO-gLDH1tDDr-pmGJkjTuZjyp4cjxsxtIk33id_kSBSkyOl-TuEtsUFS3N8bwOVv7Mo-A-k3FT00zbnzE-S98CqQ9VrnxdSN8LjWfRN3J4UvpsWeShh7Hs7KzfelBrYaBLuGO-T07qBh8BUU0EzLEsPPP9yXQC1bspuViwCYz1kTmqHTrks9Po07qQYP9CIpWI48R6TrudYWbkx5iyH_qGLVVIlWqVb-XpKCnoEWM8Z5WP-5OI6h_a98ow9C1KDUSvIYUE2fF5emgzaKQT_UOfbhXgK6ncRtUrw_amVofq_N8ElhxdgLDTBZksJEBGQRpEjEZIyz-Wfq4-JyImwUhApqlM9OjbL3nehI9uGtzPIzdD0RvH0unvrJehXdeRIXeGSb8onpKLUuX4uq3t63CIXSipSJjuVr_D7MLKJe42306Gku3YJF90nTPY0ytr3y-9zMerP9lGPFqUlGXFCAb25cCP6plMf-CJkRQUbXJOtppyYLecJx8nq_dQUShqxNtaF0vQ_b9ya24tBWawYB-jjb-YqzGkMzeas8HrVpbv9Qa_D4nLh-wyd8u7KKvBAUxUnl0D3xQscPgj9109So7EwH4"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
