interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault8bf41593caec147c.vault.azure.net/keys/crypto-test-wrapping-keyec147c/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593caec147c.vault.azure.net
        - /keys/crypto-test-wrapping-keyec147c/create
        - api-version=7.0
        - ''
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault8bf41593caec147c.vault.azure.net/keys/crypto-test-wrapping-keyec147c/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault8bf41593caec147c.vault.azure.net/keys/crypto-test-wrapping-keyec147c/bb47838874d0496e8d7c6fbc3b6d12d7","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"3AcVdNTiD14YUsew3h5phx7qxmGb7UCxkRHZE-Lq3hFS7aqrdLCl8WgFqPZUnlyVsnkEvuC3Wk107kbj6JEwKcoU17XapO-GmCxzX3GHZczCqCebplVpXkLJi6eF07rkrwyCERnv4HIhlT3KP84BzAq_HKrFa7dT24fL3I-3CY1k-7ZwYy73e_kGVzCoYtjlDsU7CVsL8u76kXz64DZObyjh0Z0Gx8gjmBW75zmtr2YO8-hhLm45Fm7O_PeRweh1xyAB_j91rWWZ-diX1QTis2lWxjWwQLf6dU3--WcbSiWumCvMHYrImmC5zJbwnMZFgDLvjQ5npPmt5zjrmqnL3Q","e":"AQAB"},"attributes":{"enabled":true,"created":1570207576,"updated":1570207576,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593caec147c.vault.azure.net
        - /keys/crypto-test-wrapping-keyec147c/create
        - api-version=7.0
        - ''
- request:
    body: '{"alg": "RSA-OAEP", "value": "LSF60_3SMy8FkQq-UHMC1JBSex8Y6LlzSsFOYAjUAFx2AxH4_btIoMi6YXhzsQtW3tHTR_ow-USoxlv-t0U-IPAcir5u-Smfr2l4qxbRUM2l_rfqRYlce-lvkC6Vr8SmEuWaOiLqiECjNa5G0SPu8QWxFksncdDNoRieNj4_GA3kx74cPUs6ApOGKrQ3-Zsr8uEqHQsICaK4zaRLOxzJdht92gD8pjipvMz0Wxi5QNkAG-sIS6iHq2JrUTSdrN5SXHdfrMxGg0L3DHmu7m5v9rLG4GD0DRm43WK5Uc1Yu5j1UYada8F6Jw-eMQL02Y6wwShJtGvqW8Auyjnlnuyhhg"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault8bf41593caec147c.vault.azure.net/keys/crypto-test-wrapping-keyec147c/bb47838874d0496e8d7c6fbc3b6d12d7/unwrapkey?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vault8bf41593caec147c.vault.azure.net/keys/crypto-test-wrapping-keyec147c/bb47838874d0496e8d7c6fbc3b6d12d7","value":"NTA2M2U2YWFhODQ1ZjE1MDIwMDU0Nzk0NGZkMTk5Njc5Yzk4ZWQ2Zjk5ZGEwYTBiMmRhZmVhZjFmNDY4NDQ5NmZkNTMyYzFjMjI5OTY4Y2I5ZGVlNDQ5NTdmY2VmN2NjZWY1OWNlZGEwYjM2MmU1NmJjZDc4ZmQzZmFlZTU3ODFjNjIzYzBiYjIyYjM1YmVhYmRlMDY2NGZkMzBlMGU4MjRhYmEzZGQxYjBhZmZmYzRhM2Q5NTVlZGUyMGNmNmE4NTRkNTJjZmQ"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593caec147c.vault.azure.net
        - /keys/crypto-test-wrapping-keyec147c/bb47838874d0496e8d7c6fbc3b6d12d7/unwrapkey
        - api-version=7.0
        - ''
version: 1
