interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256f75a13c2/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"crv": "P-256", "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256f75a13c2/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256f75a13c2/a1da93fd07b543b0b2af02de048af984","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"oAG7hsNdnO6Ik3kY_eddznvk9zcH-a3vhOx-xqTMJtg","y":"B-Z1j7ngFrYlcQFFziaFss_d0Rcx_hnjEx7b6LAKV00"},"attributes":{"enabled":true,"created":1618865388,"updated":1618865388,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "ES256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256f75a13c2/a1da93fd07b543b0b2af02de048af984/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256f75a13c2/a1da93fd07b543b0b2af02de048af984","value":"xKpejnltR8v8lmGhsO7bIzMypN8MZAwH99ct1Voxe41WwDxy0inNAWFJoeXWduKn_sgtiLWVIvp3fJiwxuHtfA"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"crv": "P-256K", "kty": "EC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kf75a13c2/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kf75a13c2/53b10a9d699f42b685f6546cf34c200d","kty":"EC","key_ops":["sign","verify"],"crv":"P-256K","x":"4OK8YFohI1v73JGTUuZLlScd-r4Ovxzo1Wqa-UBp5Kk","y":"5lwTA2ZDNmcZiuucXOvaTQZdGwcfytloPFgkNaD79kE"},"attributes":{"enabled":true,"created":1618865391,"updated":1618865391,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "ES256K", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kf75a13c2/53b10a9d699f42b685f6546cf34c200d/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-256Kf75a13c2/53b10a9d699f42b685f6546cf34c200d","value":"JpHRSa9PabHqH9QrgNWfTRjDrED9TP75rfl1d4RmeeUpV8gWzz84ykPc6r8yZz5PTZmSjKUnl2FeBHIjKUhWmw"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "ES512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521f75a13c2/dbe60694363e485c84639c0623e4b30b/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestec-verify-P-521f75a13c2/dbe60694363e485c84639c0623e4b30b","value":"AXVQ39DrN4ieBGUXsosmUCeVvwV4Um4wqFktwRAQE8MPn5YAPjb9jt479P8GVXGCZbu08O48E7XhYt3xlKntFwUaAV0kfpndmg9NCH4bj9zf52dc5FL4wefR6_wwP9X1Lgx3V4o9sXpXgS4oOheM6hccK6MHH-JUfn0nNpj7dGXiFfC-"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
