interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestmultitenant-key8b771ace/create?api-version=7.3
  response:
    body:
      string: ''
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency: '0'
    status:
      code: 401
      message: Unauthorized
    url: https://malegerechsm.managedhsm.azure.net/keys/livekvtestmultitenant-key8b771ace/create?api-version=7.3
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestmultitenant-key8b771ace/create?api-version=7.3
  response:
    body:
      string: '{"attributes":{"created":1647991295,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1647991295},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestmultitenant-key8b771ace/0063e021c3c947c4a7fced74faaeeaae","kty":"RSA-HSM","n":"wAjeCPIFqyEGx6K0lkXKz209-7V0uNm6XnwzmZJhTZ7BP4UpNqY-Kwg0vrxKjA_MUjNQz9mVFEDfDKuGfshj3bJmdJXVfgNDdGOEbb2JglJ6YsIrRuj19m1qrlUx3_RUGd_3DfrjVyOtIbGZOC7okCp0k7Pb26AX5G_sV4Wgoulla_wfmWsOaYx1nwcFak8sbqonvurEnIhgTrOPn2opT-OlK4Ne8XHOwEfpEDKqHVtsJXh-bkoLnpIJUwZc-0wLUv08V2HXvfN8Jn4KScwVaBsYyq4sYaHHdyJr2KsN9FEBhzMxkEmWWqNlSAllPLhlS4YJgw7SicUx5LDQD2-HJw"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '269'
    status:
      code: 200
      message: OK
    url: https://malegerechsm.managedhsm.azure.net/keys/livekvtestmultitenant-key8b771ace/create?api-version=7.3
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestmultitenant-key8b771ace/?api-version=7.3
  response:
    body:
      string: '{"attributes":{"created":1647991295,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1647991295},"key":{"e":"AQAB","key_ops":["verify","sign","unwrapKey","decrypt","encrypt","wrapKey"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestmultitenant-key8b771ace/0063e021c3c947c4a7fced74faaeeaae","kty":"RSA-HSM","n":"wAjeCPIFqyEGx6K0lkXKz209-7V0uNm6XnwzmZJhTZ7BP4UpNqY-Kwg0vrxKjA_MUjNQz9mVFEDfDKuGfshj3bJmdJXVfgNDdGOEbb2JglJ6YsIrRuj19m1qrlUx3_RUGd_3DfrjVyOtIbGZOC7okCp0k7Pb26AX5G_sV4Wgoulla_wfmWsOaYx1nwcFak8sbqonvurEnIhgTrOPn2opT-OlK4Ne8XHOwEfpEDKqHVtsJXh-bkoLnpIJUwZc-0wLUv08V2HXvfN8Jn4KScwVaBsYyq4sYaHHdyJr2KsN9FEBhzMxkEmWWqNlSAllPLhlS4YJgw7SicUx5LDQD2-HJw"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20220305-2-902fedaa-closebadconnections
      x-ms-server-latency: '82'
    status:
      code: 200
      message: OK
    url: https://malegerechsm.managedhsm.azure.net/keys/livekvtestmultitenant-key8b771ace/?api-version=7.3
version: 1
