interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key0/create?api-version=7.1-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://sgumutzjtkv7bh5j7toei2ag.vault.azure.net/keys/key0/create?api-version=7.1-preview
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultname.vault.azure.net/keys/key0/create?api-version=7.1-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key0/135744726c0941fea7b4af8a1619e54f","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"5HNksTMDaNYfjbb01BnAAxQtt4gSX3FPoc4jjKwmU-mkG1l25SviWLRP2Fc7MW4XdE7KFIP_oU8L7Bqgu9jsVcERAZSUuL7cO9fqo5IvxXcinhjKHsUD3R2e4zfW984jsQh6H4O8XmALtdrCkFOx7pZYeg79TKXB19AAjHNHfmokhfTCLjkTlj3UyrEQz5d6yw-WC8ch3Z0czVa8vzc7JONdcRWnh2UtXMeNYX6kEBiy7U2Ec8FuEoEz-gJxCrTxO7OrruFwV7j4Eyu7xnTsiZB1kg-2o8BW4xwZUudpjrzh0jyCYvHtPMzXQIumweJt8Qls37mVJh7Dq4YaStbqFQ","e":"AQAB"},"attributes":{"enabled":true,"created":1583450188,"updated":1583450188,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://sgumutzjtkv7bh5j7toei2ag.vault.azure.net/keys/key0/create?api-version=7.1-preview
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/keys/key0?api-version=7.1-preview
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedkeys/key0","deletedDate":1583450190,"scheduledPurgeDate":1591226190,"key":{"kid":"https://vaultname.vault.azure.net/keys/key0/135744726c0941fea7b4af8a1619e54f","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"5HNksTMDaNYfjbb01BnAAxQtt4gSX3FPoc4jjKwmU-mkG1l25SviWLRP2Fc7MW4XdE7KFIP_oU8L7Bqgu9jsVcERAZSUuL7cO9fqo5IvxXcinhjKHsUD3R2e4zfW984jsQh6H4O8XmALtdrCkFOx7pZYeg79TKXB19AAjHNHfmokhfTCLjkTlj3UyrEQz5d6yw-WC8ch3Z0czVa8vzc7JONdcRWnh2UtXMeNYX6kEBiy7U2Ec8FuEoEz-gJxCrTxO7OrruFwV7j4Eyu7xnTsiZB1kg-2o8BW4xwZUudpjrzh0jyCYvHtPMzXQIumweJt8Qls37mVJh7Dq4YaStbqFQ","e":"AQAB"},"attributes":{"enabled":true,"created":1583450188,"updated":1583450188,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://sgumutzjtkv7bh5j7toei2ag.vault.azure.net/keys/key0?api-version=7.1-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedkeys/key0?api-version=7.1-preview
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: key0"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://sgumutzjtkv7bh5j7toei2ag.vault.azure.net/deletedkeys/key0?api-version=7.1-preview
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vaultname.vault.azure.net/deletedkeys/key0/recover?api-version=7.1-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key0/135744726c0941fea7b4af8a1619e54f","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"5HNksTMDaNYfjbb01BnAAxQtt4gSX3FPoc4jjKwmU-mkG1l25SviWLRP2Fc7MW4XdE7KFIP_oU8L7Bqgu9jsVcERAZSUuL7cO9fqo5IvxXcinhjKHsUD3R2e4zfW984jsQh6H4O8XmALtdrCkFOx7pZYeg79TKXB19AAjHNHfmokhfTCLjkTlj3UyrEQz5d6yw-WC8ch3Z0czVa8vzc7JONdcRWnh2UtXMeNYX6kEBiy7U2Ec8FuEoEz-gJxCrTxO7OrruFwV7j4Eyu7xnTsiZB1kg-2o8BW4xwZUudpjrzh0jyCYvHtPMzXQIumweJt8Qls37mVJh7Dq4YaStbqFQ","e":"AQAB"},"attributes":{"enabled":true,"created":1583450188,"updated":1583450188,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://sgumutzjtkv7bh5j7toei2ag.vault.azure.net/deletedkeys/key0/recover?api-version=7.1-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/key0/?api-version=7.1-preview
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Key not found: key0"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://sgumutzjtkv7bh5j7toei2ag.vault.azure.net/keys/key0/?api-version=7.1-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/keys/key6/?api-version=7.1-preview
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/key6/6194bc846ba54941bd733364e9dcd153","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"kXqCd-7nH1ZvkTtmX8-bvRQc8JuaYgRGNt7-B3GrBGw7de5x7kF8Gpd7aPno_TfTYfWpHMGNfsKRMunxQ_OiniUAvS9lte7dKkZ0hfWqxvUqeZWPb1o2tBb0Wun_ER0oLjYNJKgcIdcsXWZwv5oyACb2eVH1M0z5PTxkbxxNclBW0g8AgkTSWA0WgumjIhfT0S9XDeN0rAgxO1cSZpK2D0lpsqIa-6RRKprZSdXOVfSjNomoaYfgSjLZZuSs9fCBX1515QOA-29unQ472DLxLrtGkPLhEtWapcoQRDPLZmEf7QBmwgmHFflCxFk2PpHTFvJfOYsYa0qwwQvr6nWPrQ","e":"AQAB"},"attributes":{"enabled":true,"created":1583450190,"updated":1583450190,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://sgumutzjtkv7bh5j7toei2ag.vault.azure.net/keys/key6/?api-version=7.1-preview
version: 1
