interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey0879011c7/create?api-version=7.2-preview
  response:
    body:
      string: ''
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency: '1'
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestkey0879011c7/create?api-version=7.2-preview
- request:
    body: '{"kty": "RSA-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey0879011c7/create?api-version=7.2-preview
  response:
    body:
      string: '{"attributes":{"created":1616184141,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1616184141},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey0879011c7/344005dc5fe90d8f9dee348981f9e52d","kty":"RSA-HSM","n":"l6-tTFZB7u9Hzto-zZ5BY9aNNhT6LcLLzb-vtA0M5VwLv7kluvK_9aei5mIGv5XatqCnoBhf4h6RngKrM5b8VUdLdxxU0nMSEbYDg5v0_WLXCrj8086H7sHZTmrIYRUKLzs_lvdopeS9QmihB9_bTEMK6BbAwrnx-xV7uFFyBlMoPGdaEXxyGzWyiJ60xwot-gmGld_rsElPq4C9R01q682Cq_zPMngJpQXry_r81NQ-alOsE6TZNJg_LF13RTTv5aEfowsI63UwpffsCIuHRq7104ayJZYLb7nrlXFWHmjWmapB2BZgh3lPYe-R7HYwDbmzffR4uZrDx-3OAC9qqQ"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '242'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestkey0879011c7/create?api-version=7.2-preview
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey6879011c7?api-version=7.2-preview
  response:
    body:
      string: '{"attributes":{"created":1616184155,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1616184155},"deletedDate":1616184156,"key":{"e":"AQAB","key_ops":["wrapKey","encrypt","decrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey6879011c7/623d8eecd88204673833c8baf9723ae4","kty":"RSA-HSM","n":"r7YiGUXY-kfKY4lOpr-71IdhtVy4ycAEC_HOkY_o165uRoubmsPdMolNRGzO-FzZB7YT_XWtc0MJBwbIeJhjXEwmOYFAgIvISCWFYDZWN11cIIrf4Ae7SMOa0K7sBbwsye2esPU_KpfQU8bR8sQTEuX4pUHLXfPUOMYy5Oirw7wSu78-62YtK3JLaQD4tTsc762UWbYOuD1CZI8cODKiAfJLFThtBRNTQu7qRo_eAqhZEZlXZg3ZXBk2a_lXJlH1B_uUASy4e8fQ5OOg1jiaWbZ2Xh5YsOLqwEDGyPSEWXombqdEvIXazNZk5QjPN_d3wkN2z4lteYIWxF09vWcXzw"},"recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey6879011c7","scheduledPurgeDate":1623960156}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '146'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestkey6879011c7?api-version=7.2-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey6879011c7?api-version=7.2-preview
  response:
    body:
      string: '{"attributes":{"created":1616184155,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1616184155},"deletedDate":1616184156,"key":{"e":"AQAB","key_ops":["verify","sign","unwrapKey","encrypt","decrypt","wrapKey"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey6879011c7/623d8eecd88204673833c8baf9723ae4","kty":"RSA-HSM","n":"r7YiGUXY-kfKY4lOpr-71IdhtVy4ycAEC_HOkY_o165uRoubmsPdMolNRGzO-FzZB7YT_XWtc0MJBwbIeJhjXEwmOYFAgIvISCWFYDZWN11cIIrf4Ae7SMOa0K7sBbwsye2esPU_KpfQU8bR8sQTEuX4pUHLXfPUOMYy5Oirw7wSu78-62YtK3JLaQD4tTsc762UWbYOuD1CZI8cODKiAfJLFThtBRNTQu7qRo_eAqhZEZlXZg3ZXBk2a_lXJlH1B_uUASy4e8fQ5OOg1jiaWbZ2Xh5YsOLqwEDGyPSEWXombqdEvIXazNZk5QjPN_d3wkN2z4lteYIWxF09vWcXzw"},"recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey6879011c7","scheduledPurgeDate":1623960156}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20210306-1-6fb7c19a-develop
      x-ms-server-latency: '35'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/deletedkeys/livekvtestkey6879011c7?api-version=7.2-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys?api-version=7.2-preview
  response:
    body:
      string: '{"value":[{"attributes":{"created":1616184141,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1616184141},"deletedDate":1616184156,"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestkey0879011c7","recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/livekvtestkey0879011c7","scheduledPurgeDate":1623960156},{"attributes":{"created":1616184144,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recove[...]
[...]
