interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048940616bd/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-verify-2048940616bd/create?api-version=7.0
- request:
    body: '{"key_size": 2048, "kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048940616bd/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048940616bd/96afbe76e6ff4d058566b1cee4b244ed","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"3QvLVqE4IfLJvv4h53ahW9wIgkMbn-b1LIFHmPW4YiJq_JKV_xyv-F99mbZCDKfJbuLxEP0uzo8xmrVoZX40hoC53y4mTBeFyc6_gCWCwEeOErU6urge_XBk0E8tkEk2XkLudSIo1PvWtQ4lT5P8B5LU6tpI1r8efZZddlxBMmZePlbA5ZlXdepIyj_R2BsPPS0bwr4BVJ2r9TjgUvYFW6nge-mxexbHUGNIH0cNr-bOldZMb0fRU-nHSMaY4TgSuicV-_jUefqL4efUoKAw32kU9yEjzBqW19jG8be532_pMfWJYo2MZBxSaOS55wmIaefhrwJE1w-Zp9MFaejnZQ","e":"AQAB"},"attributes":{"enabled":true,"created":1618864971,"updated":1618864971,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-verify-2048940616bd/create?api-version=7.0
- request:
    body: '{"alg": "PS256", "value": "vgZc0NQUb6WMKX___V2JntcFRO_vszKwSAj7R2rL1zg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048940616bd/96afbe76e6ff4d058566b1cee4b244ed/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-2048940616bd/96afbe76e6ff4d058566b1cee4b244ed","value":"vRhO3W2XaCgm-kFk-YeZ4996sKa9H6zHignA4gk_6WrskTreLuiSPIkqzxm3J1ZwbXlSixrN9NhhX8y7BnO2CzpTuYBlpkDriiP_KFUM93ROL5xRDWNkDvACKenVRWi8wuuu9I94Lg1dQsw-9T88ohMAjBzl_42pa9yUnJw68jr2lf3JuSdEcl5BonVBOtuEwnUmls1gdLrLcoSjCahQmv8ZgayOWDhjXP7JOHmRqlRMSLbySShyUVKHfsUszpoliPx_sQda-K8zFdR6rpn1NNv17h7rbkEo8Zr3y5m3E89ZiSWPcUafZNP3VhEqgpQDcVAIHfV4xK3RaTbP1p3S9g"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-verify-2048940616bd/96afbe76e6ff4d058566b1cee4b244ed/sign?api-version=7.2-preview
[...]
- request:
    body: '{"alg": "RS512", "value": "zZyL-eOHDnnq34aZaWgBMobx4x2Pm3mPRo4eqnRmLK6sE0jsXZFOFhMXaTcvILQxovTsMMh9JupeojYCnDvfrQ"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-4096940616bd/03aec6510994453d92d7fcf571bdf829/sign?api-version=7.2-preview
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestrsa-verify-4096940616bd/03aec6510994453d92d7fcf571bdf829","value":"NV1hHX54R8SAWL--1T7BmrI9xg72A1pf1fdMS23VY6mD0fo6YsK_ZFQizM2q0c9marLaDRlJxGezJfXuQLVKkYV3fjsaQmKq9i_yQZgQRzxfVYVHTNk_-j96mR-nji-bP4fuyx0KK-TCrAxzFUV5bvqV48f3_29zWlN81FOS0GrC_cPUGIIoUh8LaUJvO_xF2f2yIaIatpBS93dfVmTecH9Yl1Hb6-DPX_ZA8mRa8UbofvEz1Qltuuqha-bI0c19y9H_EhGEq1v7sBc0_ntvtV1MzknkJPrzyuqNigTaGppkHDxpWHRKI_dF7X9g603GR_m-4HpEHvLtK9dY2IId1owuTk6sgOiDHkaRp5nQPPXZDn4sdxlx84m6aqSVy2SHWZbd8ygItU6zlp0SXjf_My_Z2qD4tKtU3QedSV7-cZCTa19qfKA6gzAMVj8i-MVgUkb0ubAExt6LUnVYbIR71KCOKBs_EPOiPi5JsoS7RbmGcUHlrz5w1rp8RaXnpxu-yEDihC3DVjVipaD01orKUZnwArPEzngOwCYIHlSx74X21tzY1JU3KoTBVP_nFDs5a5efwrmxQJsYAhQEPJP10mNzRXDuqZqmf4fFCf7IS68wrdxy7yQNPVt3CI40Gp1e9BbH9IblSmuM1DA08YX8C8ayzG14UVy5GextoDlJ9vs"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/keys/livekvtestrsa-verify-4096940616bd/03aec6510994453d92d7fcf571bdf829/sign?api-version=7.2-preview
version: 1
