interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultec147c.vault.azure.net/keys/crypto-test-wrapping-keyec147c/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Wed, 16 Oct 2019 16:07:10 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultec147c.vault.azure.net,
        /keys/crypto-test-wrapping-keyec147c/create, api-version=7.0, '']
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultec147c.vault.azure.net/keys/crypto-test-wrapping-keyec147c/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://vaultec147c.vault.azure.net/keys/crypto-test-wrapping-keyec147c/da5438e44b054ab6b4f842c8f91a8368","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"rfx3OnIy5pctsEcayP8Jc4CXxaVvsIlYDUKnAyH2r6h1nu49hupjlmQhnQJYSf4zfBYjDpqojn-02FWG0fD8QkO9zvjuwunMRkLj-6A9b9jdCgh5jDSR6mkwsbJSNR-sS-P9CT3dPgwNf_HsxtHfK-khWbrbrhb2j1tfqvkiCoCCoXxPwueadBnka-mKGPRULKpzVLzzjMofzXp2hjvqYl6M_LEPj-OOhjSVnG_JFIagAmEHTiPEaGTlZCa0IL3Vfs7W7cnucHc52_jkNzhB6k_vjIllOI3Nag99sFia5uUT3-NtgJC7ps37T0HUx0BkbENolKz4MI9-_680w6Vl6w","e":"AQAB"},"attributes":{"enabled":true,"created":1571242031,"updated":1571242031,"recoveryLevel":"Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '664', content-type: application/json;
        charset=utf-8, date: 'Wed, 16 Oct 2019 16:07:10 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultec147c.vault.azure.net,
        /keys/crypto-test-wrapping-keyec147c/create, api-version=7.0, '']
- request:
    body: '{"alg": "RSA-OAEP", "value": "J75vOLIafUfgYXU0gEMU38Qu2jLNBMKyYVkDw7r0zcUmBV-6YFzTgPoxDpz477tvmO5ki7qeDJTrcvOjG29Uvyd9Q9dkdSKZe-VILeFnZbmEQG9VpM2KOrYuusuEpto35sqf8OYT3_W5WiVHSjhV_ojhjrN360LGJMSGQABECB47Zw-HKsr6pt4HP67TwU64-FqXCvPi11TrpXR25NC9YqqHYP5G6ReVRQbW5An7jPfjRoNnurCXlxBEWaQvGp8gEZDObETA5onmHLM3G_SHuAtoHAMVHhBxDoRp08KKNgLKPOaWn3JsBL8MdFaOhePwVWc1IGsaUyyBJd-xkT5NFA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultec147c.vault.azure.net/keys/crypto-test-wrappi[...]
