interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault889211d9.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault889211d9.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault889211d9.vault.azure.net/keys/key-name/0be123f88cdf487ab5e2e3de6d5f78d4","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"pHgVuKldqEHThJheKIzHnYDVRR0EfX75z3LluR1pOVjjBUJ2HmY71fZBRvhvjaGgaoop3BpEkjaJmKErHkClAwhy-ftgNB42oVFt3RQOyWlvPyUihcJzRqwX7cLw7lKnRf23cuo3LbLicHIDi_nnLdqrV6bPW8IfpoSLXqKsvos_yQfzgzX_1urGFTHFQQ1phEOZbt23wMFF_aePkmiASff4wGtJApGdTW5y4WwVrRPne0-6kEXOBz1P3dyGuijO_bLhp6i4gKwZeGE7lfaCoPcgjDRzyyVpEbah43Jb4L31k7hnYX1SYvmJj0lhS4OLxbKADyfADB4NzQNOgxkZ5Q","e":"AQAB"},"attributes":{"enabled":true,"created":1571198771,"updated":1571198771,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault889211d9.vault.azure.net/keys/key-name?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault889211d9.vault.azure.net/deletedkeys/key-name","deletedDate":1571198771,"scheduledPurgeDate":1578974771,"key":{"kid":"https://vault889211d9.vault.azure.net/keys/key-name/0be123f88cdf487ab5e2e3de6d5f78d4","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"pHgVuKldqEHThJheKIzHnYDVRR0EfX75z3LluR1pOVjjBUJ2HmY71fZBRvhvjaGgaoop3BpEkjaJmKErHkClAwhy-ftgNB42oVFt3RQOyWlvPyUihcJzRqwX7cLw7lKnRf23cuo3LbLicHIDi_nnLdqrV6bPW8IfpoSLXqKsvos_yQfzgzX_1urGFTHFQQ1phEOZbt23wMFF_aePkmiASff4wGtJApGdTW5y4WwVrRPne0-6kEXOBz1P3dyGuijO_bLhp6i4gKwZeGE7lfaCoPcgjDRzyyVpEbah43Jb4L31k7hnYX1SYvmJj0lhS4OLxbKADyfADB4NzQNOgxkZ5Q","e":"AQAB"},"attributes":{"enabled":true,"created":1571198771,"updated":1571198771,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault889211d9.vault.azure.net/deletedkeys/key-name?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: key-name"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vault889211d9.vault.azure.net/deletedkeys/key-name/recover?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault889211d9.vault.azure.net/keys/key-name/0be123f88cdf487ab5e2e3de6d5f78d4","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"pHgVuKldqEHThJheKIzHnYDVRR0EfX75z3LluR1pOVjjBUJ2HmY71fZBRvhvjaGgaoop3BpEkjaJmKErHkClAwhy-ftgNB42oVFt3RQOyWlvPyUihcJzRqwX7cLw7lKnRf23cuo3LbLicHIDi_nnLdqrV6bPW8IfpoSLXqKsvos_yQfzgzX_1urGFTHFQQ1phEOZbt23wMFF_aePkmiASff4wGtJApGdTW5y4WwVrRPne0-6kEXOBz1P3dyGuijO_bLhp6i4gKwZeGE7lfaCoPcgjDRzyyVpEbah43Jb4L31k7hnYX1SYvmJj0lhS4OLxbKADyfADB4NzQNOgxkZ5Q","e":"AQAB"},"attributes":{"enabled":true,"created":1571198771,"updated":1571198771,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
