interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestencrypt-localea5213ec/create?api-version=7.3-preview
  response:
    body:
      string: ''
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency: '1'
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestencrypt-localea5213ec/create?api-version=7.3-preview
- request:
    body: '{"key_size": 4096, "kty": "RSA-HSM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/livekvtestencrypt-localea5213ec/create?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1618441082,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1618441082},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/livekvtestencrypt-localea5213ec/668895d5a3cf067d3a4f94e17f51b0cb","kty":"RSA-HSM","n":"qij3CovI6x2shdatKpFPJkvzETPGb19_Um0dMNSW2c2BIub_3Pfney7Y_X6rdwu1dTO2WR88rsG9tWIsghy03uDpI6Ez5MZZiIHZlfwXQ99TztCFOfy6clXryZnF5flUeqOpPLKUgAGZ5WYmh5cD9IC7L8X18mv7Lo1JnFR9O4BIlKu7KXQOILDkjvehuY_GMg4FUG_9bNxcCN5xXHq3Sv-0UdJWpCHZeFOsMo8sjMQP4R5e2J5dIt7DATsz4Er_VlQRpGE1wNTMbals1MNRe5LuaIjRklLKdszqIQdERLJQ1iYGJJADnhtXfqDOqdLgD6OgLI8agudZc4ttRri9iRtMvPey7taf9KAZ0-7SQI3wRV6RTtZ0eblF3y_1qcsmgetywxEyqixdT38Hjf0-ixGYjOoS4scyIx4vZ0HUuUT_bX0p7V1lKud7R3aM5cG-rvcbEbwLqkmE-qAX-4xYskvNHPVROhafqFrrBQBi5xFdDRpVtGwcQFlQzDQ2Mde2qa7VlsJTchxGMtT20jpWxweGN5TJmbuHeD1pjXOyYM2BK-S5wrk31GH8XgfYTJ6rj-fC-PYgFCbMoGUwP5SiqKp_XYrETCnGd7QFI7BkTtU66gUbiDgDL8xShSA3Vn5yWM8ZXyJL7S_Eo-yLuV8yYHsnfD9kFIFBGr1fkvMdqp8"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '239'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/livekvtestencrypt-localea5213ec/create?api-version=7.3-preview
- request:
    body: '{"alg": "RSA-OAEP", "value": "hWFJArGqNn7OusLlVaxlORAUU32nF18KgBISfh8h5v4i_zAid7itNm6EWinIgF2pe8m5hQvfuuLg9VI7-l7YZ-3eL88Iwq1GG-FtloZWDPtcAB9ZH_PgBGdh4vq62PpRUhhJkqOMTFTkccXVB2Uvs7eves210Ncezz-8m7LEdiCZuAlBIcqFFt4WVAeE_Byz7wXjcGPDLgPZNJ0IM0dct0mKEEE6Psyqsii8ZS-O79lagHR47EtoiuaK2SXDVhzS0rrktlz6fuNMDifHdOQCcESUpVQHBa96YBFcbKJey34V1axLZh8HNS_ctNTT5eDySzhrasYz6Za2N67Lq-jaNIqyghJduKzCQgYn7nCZPNdPMZLolw48L4BWwj_hwWgsBemiIvcI26VCTujKsq1e_P7QZFFt4x_suz7g3gZzRUbDXnH9M3MSHUcHYz4UENKwJeoGcvH3GLY6mH7SNeDoSTI_mG0rpCAm7bwuuWFdUjbEKPSR0g[...]
[...]
