interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault105514c1.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA-HSM", "attributes": {"exp": 2527401600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault105514c1.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault105514c1.vault.azure.net/keys/key-name/d237589ccbec46139ba0abb96ebdd923","kty":"RSA-HSM","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"kt3X-YpOFX2peg4u2cKvEdHZl4dqSmjATcAOHNEkKTfehDifQYZdHEw6tu4WhpOnoqmYM4g8XY75QWaQvlz5f278UXSIUy_hOocEEM9G9FaeSaw2HNnzyC2Gcldh4lasM0XyTWO009GruJwxOZIFtme2xc8S_SW8SW6NcgrWvhkPmyioLqzhfiI5QaOq7-vIudQ87TVkeE1Qqw-bt_TNFyS7bMYFPQj11hWMKfY3Cyy2LAmbhTUHIL_mssYv3KRRKYs91U0B5-U0lcHgOzHQaRz-sIWyyIWkwW3Nac45qij5EIBoxi9BjfttYdbi40cC0YpUaasizOw3fXSXfpvhTw","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":2527401600,"created":1571198738,"updated":1571198738,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048, "key_ops": ["encrypt", "decrypt",
      "sign", "verify", "wrapKey", "unwrapKey"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault105514c1.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault105514c1.vault.azure.net/keys/key-name/5be2259faa8645df9d475c8b9fcc8f9a","kty":"RSA-HSM","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zqNjY0biGN0s_Jb4Mv-w57FSp4Hqox3heBq23jxkJTnyJ3FLUIdaUoibWA9kGPftHcK3pzrBg7lZmHULyAzs0Eod_OYn0HLfLJsO6QhObuEKCCEfqzihkLOQ7ednE_JeDKp8GH4kjn6IfdMZmgdYm-ci2erB9Zu2OKkTv3CYwDdSoDFJRhC_Qdt1PUWlkJbvfQgACr5-W80ylGP1NiyUr4LqqaRMBjy8rpFfUeRVJ_AzImY1EVJpyeikeBkzJs98ScQ5iSxhvgOoL43YDpmTMAz5OTN0xANlH2tYPBEKro5vf_Qfvde7MN31xXEUQwD98oMcQFLvhSMt-f79gsdm-w","e":"AAEAAQ"},"attributes":{"enabled":true,"created":1571198739,"updated":1571198739,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault105514c1.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault105514c1.vault.azure.net/keys/key-name/462464b0f2d7476cba805354b0979d6b","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"qOTOXEtb8xY-OFagiRu1JFV7Ul0q2Aq18uvf1JbRQT0","y":"X-vpHOMSNziOCzKd41Szhp1hTuXxFJ8MAJbWOUYo8FQ"},"attributes":{"enabled":true,"created":1571198739,"updated":1571198739,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault105514c1.vault.azure.net/keys/key-name/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault105514c1.vault.azure.net/keys/key-name/462464b0f2d7476cba805354b0979d6b","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"qOTOXEtb8xY-OFagiRu1JFV7Ul0q2Aq18uvf1JbRQT0","y":"X-vpHOMSNziOCzKd41Szhp1hTuXxFJ8MAJbWOUYo8FQ"},"attributes":{"enabled":true,"created":1571198739,"updated":1571198739,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault105514c1.vault.azure.net/keys/key-name/462464b0f2d7476cba805354b0979d6b?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault105514c1.vault.azure.net/keys/key-name/462464b0f2d7476cba805354b0979d6b","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"qOTOXEtb8xY-OFagiRu1JFV7Ul0q2Aq18uvf1JbRQT0","y":"X-vpHOMSNziOCzKd41Szhp1hTuXxFJ8MAJbWOUYo8FQ"},"attributes":{"enabled":true,"created":1571198739,"updated":1571198739,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"attributes": {"exp": 2524723200}, "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://vault105514c1.vault.azure.net/keys/key-name/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault105514c1.vault.azure.net/keys/key-name/462464b0f2d7476cba805354b0979d6b","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"qOTOXEtb8xY-OFagiRu1JFV7Ul0q2Aq18uvf1JbRQT0","y":"X-vpHOMSNziOCzKd41Szhp1hTuXxFJ8MAJbWOUYo8FQ"},"attributes":{"enabled":true,"exp":2524723200,"created":1571198739,"updated":1571198739,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault105514c1.vault.azure.net/keys/key-name?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault105514c1.vault.azure.net/deletedkeys/key-name","deletedDate":1571198739,"scheduledPurgeDate":1578974739,"key":{"kid":"https://vault105514c1.vault.azure.net/keys/key-name/462464b0f2d7476cba805354b0979d6b","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"qOTOXEtb8xY-OFagiRu1JFV7Ul0q2Aq18uvf1JbRQT0","y":"X-vpHOMSNziOCzKd41Szhp1hTuXxFJ8MAJbWOUYo8FQ"},"attributes":{"enabled":true,"exp":2524723200,"created":1571198739,"updated":1571198739,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault105514c1.vault.azure.net/deletedkeys/key-name?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: key-name"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault105514c1.vault.azure.net/deletedkeys/key-name?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault105514c1.vault.azure.net/deletedkeys/key-name","deletedDate":1571198739,"scheduledPurgeDate":1578974739,"key":{"kid":"https://vault105514c1.vault.azure.net/keys/key-name/462464b0f2d7476cba805354b0979d6b","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"qOTOXEtb8xY-OFagiRu1JFV7Ul0q2Aq18uvf1JbRQT0","y":"X-vpHOMSNziOCzKd41Szhp1hTuXxFJ8MAJbWOUYo8FQ"},"attributes":{"enabled":true,"exp":2524723200,"created":1571198739,"updated":1571198739,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
