interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyd2dd1321/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyd2dd1321/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyd2dd1321/4ba713b0a9654c9aa9d6603e7ac81fad","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"mw5PM4kll8osjErxz_c23aTSK_kg43BQwhiC9mdtN1qciYrSQUR4xHxDMqEA3mMIWEsInYAtbjfdDvkLu18o_mXzwdG1K5h_j4xCSIORxT4fkG5yydAR1ysXzPnJKdnSn8X38I_a-IKRv4Vh7i6K86zAYi_GQmowJxh_oQh0YwzXct5VBzjre6qZp2GiJQdZOXs70r0Mn4yle7-TlJegQLxTexk-3WI-9hxO4pHG8JjxqEIEAs3De-lDO9OWno-1h2Vxj-bYVSl4aTccb79GzB3sHW68zFhVcRH37nmVspejvRnflWrpsUjSS2QPaHvvjllRE2b019TP4Q3gh-fPMQ","e":"AQAB"},"attributes":{"enabled":true,"created":1620428269,"updated":1620428269,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "RS256", "value": "ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyd2dd1321/4ba713b0a9654c9aa9d6603e7ac81fad/sign?api-version=7.0
  response:
    body:
      string: '{"kid":"https://vaultname.vault.azure.net/keys/livekvtestcrypto-test-wrapping-keyd2dd1321/4ba713b0a9654c9aa9d6603e7ac81fad","value":"LUfBSflYU4zK_0bRENkDb-gG4ng8gpfL4AlwWyV3mvBIkCsCLVJQU4aImzvvqpHpRx4LqgFUImnSppBXmwinPlGHErEdCWmB4iRKqLHv2aHka2lxdhj56bIqBa4gh8ivnSVkmWVFAKtX88wO96aPxYsMIMxQezxivSlG5d8J96lTqvcYliAZl8MEFEqjVBH3LyYWGpZL041AATngmMjqALQMiAHH700hT9VNv3SxfQYK3aniwGjSe1J9pZd9qnikQdrsLYZrGepwY9R6ko5qMI8EP73kvqLQJtOQdDDNBBDROkrPqLG6WCvipQ3c8-K6kaBcWLeFeH5J9IGykoG_sw"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
