azure-identity
openai
pylint==3.2.7
azure-core
azure-keyvault
aiohttp
requests
httpx
azure-pylint-guidelines-checker==0.5.2 --index-url="https://pkgs.dev.azure.com/azure-sdk/public/_packaging/azure-sdk-for-python/pypi/simple/"
