-e ../../../tools/azure-sdk-tools
../../core/azure-core
-e ../../identity/azure-identity
-e ../azure-mgmt-eventhub
-e ../../resources/azure-mgmt-resource
aiohttp>=3.0; python_version >= '3.5'
-e ../../../tools/azure-devtools