interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://contosoprodwus2.api.prod.adu.microsoft.com/deviceupdate/blue/v2/updates/providers/foo/names/bar/versions
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.4","title":"Not
        Found","status":404,"traceId":"00-c7d43e7631f6a14fb619df3246cc49a8-dd04f4ae38d93941-00"}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
