interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://contosoprodwus2.api.prod.adu.microsoft.com/deviceupdate/blue/v2/updates/providers/Contoso/names/Virtual-Machine/versions/2021.302.1202.48
  response:
    body:
      string: '{"updateId":{"provider":"Contoso","name":"Virtual-Machine","version":"2021.302.1202.48"},"updateType":"microsoft/swupdate:1","installedCriteria":"1.2.3.4","compatibility":[{"deviceManufacturer":"contoso","deviceModel":"virtual-machine"}],"manifestVersion":"2.0","importedDateTime":"2021-03-02T20:04:47.8946059Z","createdDateTime":"2021-03-02T20:02:49.3084164Z","etag":"\"dffc9614-c1c4-4289-b41f-26ac37101fbe\""}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"dffc9614-c1c4-4289-b41f-26ac37101fbe"'
    status:
      code: 200
      message: OK
version: 1
