interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://contosoprodwus2.api.prod.adu.microsoft.com/deviceupdate/blue/v2/updates/providers/Contoso/names/Virtual-Machine/versions/2021.302.1202.48/files/00000
  response:
    body:
      string: '{"fileId":"00000","fileName":"setup.exe","sizeInBytes":94,"hashes":{"Sha256":"nTsYZEDeW9554a4YGmawsypogbG8zhc1IgvOE2PbSsA="},"etag":"\"490fe67f-4cc1-4b69-8c7e-80e9665060f7\""}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"490fe67f-4cc1-4b69-8c7e-80e9665060f7"'
    status:
      code: 200
      message: OK
version: 1
