interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://contosoprodwus2.api.prod.adu.microsoft.com/deviceupdate/blue/v2/updates/providers/foo/names/bar/versions/0.0.0.1/files
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.4","title":"Not
        Found","status":404,"traceId":"00-883db29e6e4fff4890f93aab70216508-e14ce7ec7b9db148-00"}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
