interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://contosoprodwus2.api.prod.adu.microsoft.com/deviceupdate/blue/v2/updates/providers/Contoso/names/Virtual-Machine/versions/2021.302.1202.48/files/foobar
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.4","title":"Not
        Found","status":404,"traceId":"00-edce482e5a5d2b46816edcf667e42e1f-54d41d7a6a39b54e-00"}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
