---
http_interactions:
- request:
    method: get
    uri: https://login.windows.net/<AZURE_TENANT_ID>/oauth2/token
    body:
      encoding: UTF-8
      string: resource=https%3A%2F%2Fmanagement.core.windows.net%2F&client_id=<AZURE_CLIENT_ID>&client_secret=<AZURE_CLIENT_SECRET>&grant_type=client_credentials
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-gateway-service-instanceid:
      - ESTSFE_IN_531
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":"3599","expires_on":"1461352749","not_before":"1461348849","resource":"https://management.core.windows.net/","access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Fri, 22 Apr 2016 18:19:12 GMT
- request:
    method: put
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/tagNames/unknown_tag_name/tagValues/unknown_tag_value?api-version=2015-11-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    body:
      encoding: UTF-8
      string: '{"error":{"code":"SubscriptionTagNameNotFound","message":"Subscription
        tag name ''unknown_tag_name'' could not be found."}}'
  recorded_at: Fri, 22 Apr 2016 18:19:13 GMT
recorded_with: VCR 3.0.1
