interactions:
- request:
    body: '{"TableName": "pytablesync45dd15a0"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 10 Jun 2020 16:52:27 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"pytablesync45dd15a0"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://storagename.table.core.windows.net/Tables('pytablesync45dd15a0')
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2020-06-10T16:47:28.000Z</Start><Expiry>2020-06-10T17:52:28.000Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Wed, 10 Jun 2020 16:52:28 GMT
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://storagename.table.core.windows.net/pytablesync45dd15a0?comp=acl
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?><m:error xmlns:m="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata"><m:code>InvalidXmlDocument</m:code><m:message
        xml:lang="en-US">XML specified is not syntactically valid.

        RequestId:fd56f767-b002-00d6-7347-3fa6d8000000

        Time:2020-06-10T16:52:28.5016570Z</m:message></m:error>'
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - InvalidXmlDocument
      x-ms-version:
      - '2019-07-07'
    status:
      code: 400
      message: XML specified is not syntactically valid.
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 10 Jun 2020 16:52:28 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('pytablesync45dd15a0')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-07-07'
    status:
      code: 204
      message: No Content
version: 1
