<!DOCTYPE html>
<html>
    <head>
        <title><%-title%></title>
        <link href="/css/reset.css" rel="stylesheet"/>
        <link href="/css/default.css" rel="stylesheet"/>
        <link href="http://fonts.googleapis.com/css?family=Actor" rel="stylesheet"/>
        <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.16/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.4.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.16/jquery-ui.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.0.6-development-only.js"></script>
    </head>
    <body>
        <div class="mainWrapper">
            <header>
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/Display">List</a></li>
                    <li><a href="/Upload">Upload</a></li>
                </ul>
            </header>
            <div class="mainLayout">
                <%-body%>
            </div>
            <footer>
                Powered by Python in Azure
            </footer>
        </div>
    </body>
</html>