{
  "Entries": [
    {
      "RequestUri": "https://test-resource.api.cognitive.microsoft.com/language/:analyze-conversations?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "0000000000000000"
      },
      "RequestBody": {
        "kind": "Conversation",
        "analysisInput": {
          "conversationItem": {
            "participantId": "1",
            "id": "1",
            "modality": "text",
            "language": "en",
            "text": "Send an email to Carol about the tomorrow\u0027s demo"
          },
          "isLoggingEnabled": false
        },
        "parameters": {
          "projectName": "conv_test",
          "deploymentName": "dep_test",
          "verbose": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.ConversationalLanguageUnderstanding.Prediction=1"
      },
      "ResponseBody": {
        "kind": "ConversationResult",
        "result": {
          "query": "Send an email to Carol about the tomorrow\u0027s demo",
          "prediction": {
            "topIntent": "Send",
            "projectKind": "Conversation",
            "intents": [
              {
                "category": "Send",
                "confidenceScore": 0.9053172
              },
              {
                "category": "Read",
                "confidenceScore": 0.44011447
              },
              {
                "category": "Setup",
                "confidenceScore": 0.41303915
              },
              {
                "category": "Set",
                "confidenceScore": 0.21186642
              },
              {
                "category": "None",
                "confidenceScore": 0.20198277
              },
              {
                "category": "Find",
                "confidenceScore": 0.19216746
              },
              {
                "category": "Call",
                "confidenceScore": 0.16446844
              },
              {
                "category": "Play",
                "confidenceScore": 0.15655291
              },
              {
                "category": "Open",
                "confidenceScore": 0.08699014
              }
            ],
            "entities": [
              {
                "category": "Contact",
                "text": "Carol",
                "offset": 17,
                "length": 5,
                "confidenceScore": 1,
                "extraInformation": [
                  {
                    "extraInformationKind": "EntitySubtype",
                    "value": "person.name"
                  }
                ]
              },
              {
                "category": "MeetingDate",
                "text": "tomorrow",
                "offset": 33,
                "length": 8,
                "confidenceScore": 1,
                "resolutions": [
                  {
                    "resolutionKind": "DateTimeResolution",
                    "dateTimeSubKind": "Date",
                    "timex": "2022-10-18",
                    "value": "2022-10-18"
                  }
                ],
                "extraInformation": [
                  {
                    "extraInformationKind": "EntitySubtype",
                    "value": "datetime.date"
                  }
                ]
              }
            ]
          }
        }
      }
    }
  ],
  "Variables": {}
}
