{
  "Entries": [
    {
      "RequestUri": "https://test-resource.api.cognitive.microsoft.com/language/authoring/analyze-conversations/projects/global/prebuilt-entities?language=en\u0026api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "category": "Person.Name",
            "description": "Name of an individual",
            "examples": "john, Sam, Lisa"
          },
          {
            "category": "General.Event",
            "description": "Important events",
            "examples": "World War two, Covid 19"
          },
          {
            "category": "General.Organization",
            "description": "Companies and corporations",
            "examples": "Microsoft, Amazon"
          },
          {
            "category": "Choice.Boolean",
            "description": "boolean choice",
            "examples": "yes, no[...]
