interactions:
- request:
    body: '{"query": "One california maki please."}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://test-resource.api.cognitive.microsoft.com/language/:analyze-conversations?projectName=test-project&deploymentName=production&api-version=2021-11-01-preview
  response:
    body:
      string: '{"query":"One california maki please.","prediction":{"topIntent":"Order","projectKind":"conversation","intents":[{"category":"Order","confidenceScore":1}],"entities":[{"category":"OrderItem","text":"california
        maki","offset":4,"length":15,"confidenceScore":1}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
