interactions:
- request:
    body: '{"query": "One california maki please."}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://test-resource.api.cognitive.microsoft.com/language/:analyze-conversations?projectName=test-project&deploymentName=production&api-version=2021-07-15-preview
  response:
    body:
      string: "{\n  \"query\": \"One california maki please.\",\n  \"prediction\":
        {\n    \"intents\": [\n      {\n        \"category\": \"Order\",\n        \"confidenceScore\":
        1\n      }\n    ],\n    \"entities\": [\n      {\n        \"category\": \"OrderItem\",\n
        \       \"text\": \"california maki\",\n        \"offset\": 4,\n        \"length\":
        15,\n        \"confidenceScore\": 1\n      }\n    ],\n    \"topIntent\": \"Order\",\n
        \   \"projectType\": \"conversation\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
