interactions:
- request:
    body: '{"kind": "Conversation", "analysisInput": {"conversationItem": {"participantId":
      "1", "id": "1", "modality": "text", "language": "en", "text": "Reserve a table
      for 2 at the Italian restaurant"}, "isLoggingEnabled": false}, "parameters":
      {"projectName": "orch_test", "deploymentName": "dep_test", "verbose": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://test-resource.api.cognitive.microsoft.com/language/:analyze-conversations?api-version=2022-05-15-preview
  response:
    body:
      string: '{"kind":"ConversationResult","result":{"query":"Reserve a table for
        2 at the Italian restaurant","prediction":{"topIntent":"RestaurantIntent","projectKind":"Orchestration","intents":{"RestaurantIntent":{"confidenceScore":0.94069785,"targetProjectKind":"Luis","result":{"query":"Reserve
        a table for 2 at the Italian restaurant","prediction":{"topIntent":"Reserve","intents":{"Reserve":{"score":0.9980438},"Reject":{"score":0.0063399523},"FindReservationEntry":{"score":0.005012738},"Confirm":{"score":0.0044919797},"DeleteReservation":{"score":0.002177323},"FindReservationWhen":{"score":0.0016674146},"FindReservationWhere":{"score":0.00022145486},"None":{"score":0.00016065584},"ChangeReservation":{"score":9.196726E-05}},"entities":{"NumberPeople":["2"],"Cuisine":["Italian"],"$instance":{"NumberPeople":[{"type":"NumberPeople","text":"2","startIndex":20,"length":1,"score":0.99470425,"modelTypeId":1,"modelType":"Entity
        Extractor","recognitionSources":["model"]}],"Cuisine":[{"type":"Cuisine","text":"Italian","startIndex":29,"length":7,"score":0.9961355,"modelTypeId":1,"modelType":"Entity
        Extractor","recognitionSources":["model"]}]}}}}},"ChitChat-QnA":{"confidenceScore":0.6333038,"targetProjectKind":"QuestionAnswering"},"EmailIntent":{"confidenceScore":0.26476184,"targetProjectKind":"Conversation"},"None":{"confidenceScore":0.24316412,"targetProjectKind":"NonLinked"}}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      csp-billing-usage:
      - CognitiveServices.TextAnalytics.Language.OrchestrationWorkflow.Prediction=1
    status:
      code: 200
      message: OK
version: 1
