interactions:
- request:
    body: '{"query": "How do you make sushi rice?"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://test-resource.api.cognitive.microsoft.com/language/:analyze-conversations?projectName=test-workflow&deploymentName=production&api-version=2021-07-15-preview
  response:
    body:
      string: "{\n  \"query\": \"How do you make sushi rice?\",\n  \"prediction\":
        {\n    \"intents\": {\n      \"SushiMaking\": {\n        \"targetType\": \"question_answering\",\n
        \       \"result\": {\n          \"answers\": [\n            {\n              \"questions\":
        [\n                \"do you eat cake?\",\n                \"do you ever eat
        beef?\",\n                \"do you ever eat pizza?\",\n                \"have
        you ever eaten tofu?\",\n                \"you don't eat?\",\n                \"have
        you ever wanted to eat?\",\n                \"Don't you ever get hungry?\",\n
        \               \"how many calories do you need?\",\n                \"What
        kind of food do you like?\",\n                \"What do yo[...]
[...]
