{
  "Entries": [
    {
      "RequestUri": "https://test-resource.api.cognitive.microsoft.com/language/analyze-conversations/jobs?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "0000000000000000"
      },
      "RequestBody": {
        "displayName": "Analyze conversations from xxx",
        "analysisInput": {
          "conversations": [
            {
              "conversationItems": [
                {
                  "text": "Hello, how can I help you?",
                  "modality": "text",
                  "id": "1",
                  "role": "Agent",
                  "participantId": "Agent"
                },
                {
                  "text": "How to upgrade Office? I am getting error messages the whole day.",
                  "modality": "text",
                  "id": "2",
                  "role": "Customer",
                  "participantId": "Customer"
                },
                {
                  "text": "Press the upgrade button please. Then sign in and follow the instructions.",
                  "modality": "text",
                  "id": "3",
                  "role": "Agent",
                  "participantId": "Agent"
                }
              ],
              "modality": "text",
              "id": "conversation1",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "Issue task",
            "kind": "ConversationalSummarizationTask",
            "parameters": {
              "summaryAspects": [
                "issue"
              ]
            }
          },
          {
            "taskName": "Resolution task",
            "kind": "ConversationalSummarizationTask",
            "parameters": {
              "summaryAspects": [
                "resolution"
              ]
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://test-resource.api.cognitive.microsoft.com/language/analyze-conversations/jobs/2fa9af34-2822-4289-a63e-af426fd2c2c4?api-version=2022-10-01-preview",
        "x-ms-region": "UK South"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://test-resource.api.cognitive.microsoft.com/language/analyze-conversations/jobs/2fa9af34-2822-4289-a63e-af426fd2c2c4?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "0000000000000000"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "jobId": "2fa9af34-2822-4289-a63e-af426fd2c2c4",
        "lastUpdatedDateTime": "2022-10-27T20:44:09Z",
        "createdDateTime": "2022-10-27T20:44:09Z",
        "expirationDateTime": "2022-10-28T20:44:09Z",
        "status": "running",
        "errors": [],
        "displayName": "Analyze conversations from xxx",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 2,
          "total": 2,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://test-resource.api.cognitive.microsoft.com/language/analyze-conversations/jobs/2fa9af34-2822-4289-a63e-af426fd2c2c4?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "0000000000000000"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "jobId": "2fa9af34-2822-4289-a63e-af426fd2c2c4",
        "lastUpdatedDateTime": "2022-10-27T20:44:11Z",
        "createdDateTime": "2022-10-27T20:44:09Z",
        "expirationDateTime": "2022-10-28T20:44:09Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "Analyze conversations from xxx",
        "tasks": {
          "completed": 2,
          "failed": 0,
          "inProgress": 0,
          "total": 2,
          "items": [
            {
              "kind": "conversationalSummarizationResults",
              "taskName": "Issue task",
              "lastUpdateDateTime": "2022-10-27T20:44:11.359621Z",
              "status": "succeeded",
              "results": {
                "conversations": [
                  {
                    "summaries": [
                      {
                        "aspect": "issue",
                        "text": "Customer wants to upgrade Office. | Customer is getting error messages."
                      }
                    ],
                    "id": "conversation1",
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "latest"
              }
            },
            {
              "kind": "conversationalSummarizationResults",
              "taskName": "Resolution task",
              "lastUpdateDateTime": "2022-10-27T20:44:10.9141609Z",
              "status": "succeeded",
              "results": {
                "conversations": [
                  {
                    "summaries": [
                      {
                        "aspect": "resolution",
                        "text": "Advised to press the upgrade button. | Then sign in and follow the instructions."
                      }
                    ],
                    "id": "conversation1",
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "latest"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
