interactions:
- request:
    body: '{"kind": "CustomConversation", "analysisInput": {"conversationItem": {"participantId":
      "1", "id": "1", "modality": "text", "text": "Send an email to Carol about the
      tomorrow''s demo"}}, "parameters": {"projectName": "orch_test", "deploymentName":
      "dep_test"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://test-resource.api.cognitive.microsoft.com/language/:analyze-conversations?api-version=2022-03-01-preview
  response:
    body:
      string: '{"kind":"CustomConversationResult","results":{"query":"Send an email
        to Carol about the tomorrow''s demo","prediction":{"topIntent":"EmailIntent","projectKind":"workflow","intents":{"EmailIntent":{"confidenceScore":0.9318673,"targetKind":"conversation","result":{"query":"Send
        an email to Carol about the tomorrow''s demo","prediction":{"intents":[{"category":"SendEmail","confidenceScore":0.99994856},{"category":"Forward","confidenceScore":3.8603193E-05},{"category":"AddFlag","confidenceScore":3.830757E-06},{"category":"SearchMessages","confidenceScore":2.8891448E-06},{"category":"Confirm","confidenceScore":2.1230276E-06},{"category":"Reply","confidenceScore":1.506443E-06},{"category":"AddMore","confidenceScore":9.303157E-07},{"category":"CheckMessages","confidenceScore":8.9035467E-07},{"category":"QueryLastText","confidenceScore":2.485766E-07},{"category":"Cancel","confidenceScore":1.8692687E-07},{"category":"ShowNext","confidenceScore":7.9404124E-08},{"category":"ReadAloud","confidenceScore":7.020071E-08},{"category":"None","confidenceScore":5.6591706E-08},{"category":"Delete","confidenceScore":2.9716455E-08},{"category":"ShowPrevious","confidenceScore":1.6835317E-08}],"entities":[{"category":"ContactName","text":"Carol","offset":17,"length":5,"confidenceScore":1,"resolutions":[],"extraInformation":[]},{"category":"Date","text":"tomorrow","offset":33,"length":8,"confidenceScore":1,"resolutions":[{"resolutionKind":"DateTimeResolution","dateTimeSubKind":"Date","timex":"2022-04-14","value":"2022-04-14"}],"extraInformation":[{"extraInformationKind":"EntitySubtype","value":"datetime.date"}]},{"category":"StartTime","text":"tomorrow","offset":33,"length":8,"confidenceScore":1,"resolutions":[{"resolutionKind":"DateTimeResolution","dateTimeSubKind":"Date","timex":"2022-04-14","value":"2022-04-14"}],"extraInformation":[{"extraInformationKind":"EntitySubtype","value":"datetime.date"}]},{"category":"EmailSubject","text":"tomorrow''s
        demo","offset":33,"length":15,"confidenceScore":1,"resolutions":[],"extraInformation":[]}],"topIntent":"SendEmail","projectKind":"conversation"}}},"RestaurantIntent":{"confidenceScore":0.6352559,"targetKind":"luis"},"ChitChat-QnA":{"confidenceScore":0.5937791,"targetKind":"question_answering"},"None":{"confidenceScore":0.15089184,"targetKind":"non_linked"}}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
