{
  "Entries": [
    {
      "RequestUri": "https://test-resource.api.cognitive.microsoft.com/language/analyze-conversations/jobs?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "0000000000000000"
      },
      "RequestBody": {
        "displayName": "Analyze conversations from xxx",
        "analysisInput": {
          "conversations": [
            {
              "conversationItems": [
                {
                  "text": "Hello, how can I help you?",
                  "modality": "text",
                  "id": "1",
                  "participantId": "Agent"
                },
                {
                  "text": "How to upgrade Office? I am getting error messages the whole day.",
                  "modality": "text",
                  "id": "2",
                  "participantId": "Customer"
                },
                {
                  "text": "Press the upgrade button please. Then sign in and follow the instructions.",
                  "modality": "text",
                  "id": "3",
                  "participantId": "Agent"
                }
              ],
              "modality": "text",
              "id": "conversation1",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "analyze 1",
            "kind": "ConversationalSummarizationTask",
            "parameters": {
              "summaryAspects": [
                "Issue, Resolution"
              ]
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://test-resource.api.cognitive.microsoft.com/language/analyze-conversations/jobs/2b72ef0f-d157-4f53-ad76-bcd05260cd0d?api-version=2022-10-01-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://test-resource.api.cognitive.microsoft.com/language/analyze-conversations/jobs/2b72ef0f-d157-4f53-ad76-bcd05260cd0d?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "0000000000000000"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "2b72ef0f-d157-4f53-ad76-bcd05260cd0d",
        "lastUpdatedDateTime": "2022-10-17T22:09:59Z",
        "createdDateTime": "2022-10-17T22:09:59Z",
        "expirationDateTime": "2022-10-18T22:09:59Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "Analyze conversations from xxx",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://test-resource.api.cognitive.microsoft.com/language/analyze-conversations/jobs/2b72ef0f-d157-4f53-ad76-bcd05260cd0d?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "0000000000000000"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "2b72ef0f-d157-4f53-ad76-bcd05260cd0d",
        "lastUpdatedDateTime": "2022-10-17T22:10:00Z",
        "createdDateTime": "2022-10-17T22:09:59Z",
        "expirationDateTime": "2022-10-18T22:09:59Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "Analyze conversations from xxx",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "conversationalSummarizationResults",
              "taskName": "analyze 1",
              "lastUpdateDateTime": "2022-10-17T22:10:00.8411219Z",
              "status": "succeeded",
              "results": {
                "conversations": [
                  {
                    "summaries": [
                      {
                        "aspect": "chapterTitle",
                        "text": "How to Upgrade Office",
                        "contexts": [
                          {
                            "conversationItemId": "1",
                            "offset": 0,
                            "length": 26
                          },
                          {
                            "conversationItemId": "2",
                            "offset": 0,
                            "length": 65
                          },
                          {
                            "conversationItemId": "3",
                            "offset": 0,
                            "length": 74
                          }
                        ]
                      }
                    ],
                    "id": "conversation1",
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "latest"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
