{
  "Entries": [
    {
      "RequestUri": "https://test-resource.api.cognitive.microsoft.com/language/analyze-conversations/jobs?api-version=2022-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "0000000000000000"
      },
      "RequestBody": {
        "displayName": "Analyze PII in conversation",
        "analysisInput": {
          "conversations": [
            {
              "conversationItems": [
                {
                  "id": "1",
                  "participantId": "0",
                  "modality": "transcript",
                  "text": "It is john doe.",
                  "lexical": "It is john doe",
                  "itn": "It is john doe",
                  "maskedItn": "It is john doe"
                },
                {
                  "id": "2",
                  "participantId": "1",
                  "modality": "transcript",
                  "text": "Yes, 633-27-8199 is my phone",
                  "lexical": "yes six three three two seven eight one nine nine is my phone",
                  "itn": "yes 633278199 is my phone",
                  "maskedItn": "yes 633278199 is my phone"
                },
                {
                  "id": "3",
                  "participantId": "1",
                  "modality": "transcript",
                  "text": "j.doe@yahoo.com is my email",
                  "lexical": "j dot doe at yahoo dot com is my email",
                  "maskedItn": "j.doe@yahoo.com is my email",
                  "itn": "j.doe@yahoo.com is my email"
                }
              ],
              "modality": "transcript",
              "id": "1",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "kind": "ConversationalPIITask",
            "parameters": {
              "redactionSource": "lexical",
              "piiCategories": [
                "all"
              ]
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://test-resource.api.cognitive.microsoft.com/language/analyze-conversations/jobs/ce985d51-0534-428f-9afc-514d9b6dbd0f?api-version=2022-05-15-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://test-resource.api.cognitive.microsoft.com/language/analyze-conversations/jobs/ce985d51-0534-428f-9afc-514d9b6dbd0f?api-version=2022-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "0000000000000000"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "ce985d51-0534-428f-9afc-514d9b6dbd0f",
        "lastUpdatedDateTime": "2022-09-06T19:07:48Z",
        "createdDateTime": "2022-09-06T19:07:47Z",
        "expirationDateTime": "2022-09-07T19:07:47Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "Analyze PII in conversation",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "conversationalPIIResults",
              "lastUpdateDateTime": "2022-09-06T19:07:48.0750104Z",
              "status": "succeeded",
              "results": {
                "conversations": [
                  {
                    "id": "1",
                    "conversationItems": [
                      {
                        "id": "1",
                        "redactedContent": {
                          "itn": "It is **** do*",
                          "lexical": "It is **** do*",
                          "maskedItn": "It is **** do*",
                          "text": "It is **** ***."
                        },
                        "entities": [
                          {
                            "text": "john",
                            "category": "Name",
                            "offset": 6,
                            "length": 4,
                            "confidenceScore": 0.57
                          },
                          {
                            "text": "e",
                            "category": "Name",
                            "offset": 13,
                            "length": 1,
                            "confidenceScore": 0.53
                          }
                        ]
                      },
                      {
                        "id": "2",
                        "redactedContent": {
                          "itn[...]
