{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src1e025d6f-1fd4-4ff4-9fc2-80cc48dfc496?se=end\u0026sp=rl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targetf157383d-98b8-4560-8424-5607876f3746?se=end\u0026sp=wl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/3b79ca87-0c4f-4ad6-8063-2d3ec6e3a818",
        "X-RequestId": "27b478d6-84f1-4919-b865-04118651cd28"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/3b79ca87-0c4f-4ad6-8063-2d3ec6e3a818",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002224AADBC41CB21274433DA2F147BCAE73E340ED1437690F53D6DB065D21F1FEDB\u0022",
        "X-RequestId": "ee0c6ab0-9608-4e24-8015-06f9bbe77fe0"
      },
      "ResponseBody": {
        "id": "3b79ca87-0c4f-4ad6-8063-2d3ec6e3a818",
        "createdDateTimeUtc": "2022-02-19T01:50:36.970876Z",
        "lastActionDateTimeUtc": "2022-02-19T01:50:37.1882597Z",
        "status": "NotStarted",
        "summary": {
          "total": 2,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 2,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?ids=3b79ca87-0c4f-4ad6-8063-2d3ec6e3a818,ebfc00af-f810-4b7f-9828-3507d6e4cc31,dcbb9927-d45c-404c-ab81-9fd5267e6fcf",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022B6C4BC2605D94DFE4E0C689B482655130F9CDA23EFC5AAF4D81A29F573935B4B\u0022",
        "X-RequestId": "1f2671e2-7449-4cc1-a9dd-e41cd200304c"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dcbb9927-d45c-404c-ab81-9fd5267e6fcf",
            "createdDateTimeUtc": "2022-02-19T01:50:55.1379232Z",
            "lastActionDateTimeUtc": "2022-02-19T01:51:01.2436085Z",
            "status": "Succeeded",
            "summary": {
              "total": 2,
              "failed": 0,
              "success": 2,
              "inProgress": 0,
              "notYetStarted": 0,
              "cancelled": 0,
              "totalCharacterCharged": 54
            }
[...]
