{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srcc763e595-0b5c-4466-b041-11437020d3c9?se=end\u0026sp=rl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targetfc7a13be-8379-453e-a83c-c872c782a5db?se=end\u0026sp=wl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/340271a8-b391-48d3-b939-858de9c18641",
        "x-ms-region": "West US 2",
        "X-RequestId": "7abe7279-67fe-4f14-a84b-8245f2c9e8bb"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/340271a8-b391-48d3-b939-858de9c18641",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022CA7535252C75951445491A7428FC12DEE7C0592BC447B0163C36EBB456E33B55\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "2f9778eb-8f3a-4e1e-93f7-3cadcf749b07"
      },
      "ResponseBody": {
        "id": "340271a8-b391-48d3-b939-858de9c18641",
        "createdDateTimeUtc": "2022-12-01T22:45:07.2630754Z",
        "lastActionDateTimeUtc": "2022-12-01T22:45:07.2982941Z",
        "status": "NotStarted",
        "summary": {
          "total": 2,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 2,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/340271a8-b391-48d3-b939-858de9c18641",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "policy-id": "ResourceRateLimitBy1s",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "error": {
          "code": "429",
          "message": "Requests to the Returns the status for a document translation request Operation under Batch Document Translation API v1.0 have exceeded rate limit of your current TextTranslator S1 pricing tier. Please retry after 1 second. Please contact Azure support service if you would like to further increase the default rate limit."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?ids=340271a8-b391-48d3-b939-858de9c18641,64d35024-5231-4d6d-bdae-334765e4ac21,a81f6d72-a68c-48e3-ba4a-5e789dc281e8",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022BB5D262CBFEBD3AE1BD7077E6E661AB15D4D22DB6FB862538C08ACA8B1D03139\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "c3c44011-1432-48b4-a89d-22473059e99b"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "a81f6d72-a68c-48e3-ba4a-5e789dc281e8",
            "createdDateTimeUtc": "2022-12-01T22:45:18.0658484Z",
            "lastActionDateTimeUtc": "2022-12-01T22:45:24.3501074Z",
            "status": "Succeeded",
            "summary": {
              "total": 2,
              "failed": 0,
              "success": 2,
              "inProgress": 0,
              "notYetStarted": 0,
              "cancelled": 0,
              "totalCharacterCharged": 54
            }
[...]
