{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src11d480c0-e712-43ad-9bf4-12ff7949c073?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jan 2022 22:48:18 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9E054C7BF676A\u0022",
        "Last-Modified": "Tue, 25 Jan 2022 22:48:18 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src11d480c0-e712-43ad-9bf4-12ff7949c073/4dc43fd1-21e5-4e7e-b77b-03246457dbb5.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 25 Jan 2022 22:48:18 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8D9E054C7C600F3\u0022",
        "Last-Modified": "Tue, 25 Jan 2022 22:48:18 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/targetd7b3d1af-71aa-4ca5-9e39-8e30d9cc9ad2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jan 2022 22:48:19 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9E054C83FCF2C\u0022",
        "Last-Modified": "Tue, 25 Jan 2022 22:48:19 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src11d480c0-e712-43ad-9bf4-12ff7949c073?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targetd7b3d1af-71aa-4ca5-9e39-8e30d9cc9ad2?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/b1e69890-0169-41b3-8850-c5d0013a4690",
        "X-RequestId": "d98c449a-aa07-482c-bbc9-76d9bd48afe9"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/b1e69890-0169-41b3-8850-c5d0013a4690",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002263F86039559DC61EF2D5E66A8D1F61D600E4E5F10467A817DB725E67A9072AEA\u0022",
        "X-RequestId": "08471d44-1b90-45e0-bd6b-102963408307"
      },
      "ResponseBody": {
        "id": "b1e69890-0169-41b3-8850-c5d0013a4690",
        "createdDateTimeUtc": "2022-01-25T22:48:19.3796366Z",
        "lastActionDateTimeUtc": "2022-01-25T22:48:20.4254826Z",
        "status": "Running",
        "summary": {
          "total": 10,
          "failed": 0,
          "success": 0,
          "inProgress": 4,
          "notYetStarted": 6,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/b1e69890-0169-41b3-8850-c5d0013a4690/documents?$skip=0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229C2D66BB56475BB78F79251CD80E6BC7E418D972F2B9541C504B29BBA4CEF4C2\u0022",
        "X-RequestId": "ec9fed8b-1aaf-40be-bce6-1c777cb43404"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/targetd7b3d1af-71aa-4ca5-9e39-8e30d9cc9ad2/f9bd8fab-b0ea-4852-8b2c-68d59ec7c1bd.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src11d480c0-e712-43ad-9bf4-12ff7949c073/f9bd8fab-b0ea-4852-8b2c-68d59ec7c1bd.txt",
            "createdDateTimeUtc": "2022-01-25T22:48:21.6281965Z",
            "lastActionDateTimeUtc": "2022-01-25T22:48:25.2701756Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "001f0a59-0000-0000-0000-000000000000",
            "characterCharged": 27
          },
          {
            "path": "https://fakeendpoint.blob.core.windows.net/targetd7b3d1af-71aa-4ca5-9e39-8e30d9cc9ad2/9ff09b6c-10c2-43ce-9c27-4565e23c5cf2.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src11d480c0-e712-43ad-9bf4-12ff7949c073/9ff09b6c-10c2-43ce-9c27-4565e23c5cf2.txt",
            "createdDateTimeUtc": "2022-01-25T22:48:21.5893285Z",
            "lastActionDateTimeUtc": "2022-01-25T22:48:25.2457703Z",
            "status": "Succeeded"[...]
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/b1e69890-0169-41b3-8850-c5d0013a4690/documents?$skip=1\u0026$maxpagesize=2\u0026ids=001f0a59-0000-0000-0000-000000000000,001f0a58-0000-0000-0000-000000000000,001f0a57-0000-0000-0000-000000000000,001f0a56-0000-0000-0000-000000000000,001f0a55-0000-0000-0000-000000000000\u0026statuses=Succeeded\u0026$orderBy=createdDateTimeUtc asc",
      "RequestMethod": "GET",
      "RequestHeaders": {
 [...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/b1e69890-0169-41b3-8850-c5d0013a4690/documents?$skip=3\u0026$top=2\u0026$maxpagesize=2\u0026ids=001f0a59-0000-0000-0000-000000000000,001f0a58-0000-0000-0000-000000000000,001f0a57-0000-0000-0000-000000000000,001f0a56-0000-0000-0000-000000000000,001f0a55-0000-0000-0000-000000000000\u0026statuses=Succeeded\u0026$orderBy=createdDateTimeUtc asc",
      "RequestMethod": "GET",
      "RequestH[...]
