{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcb6b39887-5799-4dea-bc89-948a41af3d17?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jan 2022 22:51:05 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9E0552B5B23A5\u0022",
        "Last-Modified": "Tue, 25 Jan 2022 22:51:05 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcb6b39887-5799-4dea-bc89-948a41af3d17/428f5611-66f8-4bda-94cb-198379f162cb.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 25 Jan 2022 22:51:05 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8D9E0552B642C22\u0022",
        "Last-Modified": "Tue, 25 Jan 2022 22:51:05 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target1d44e19b-6e57-401c-8bb6-d9f5aefc2ce0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jan 2022 22:51:05 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9E0552B964F4F\u0022",
        "Last-Modified": "Tue, 25 Jan 2022 22:51:05 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srcb6b39887-5799-4dea-bc89-948a41af3d17?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target1d44e19b-6e57-401c-8bb6-d9f5aefc2ce0?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/f6bc985d-368c-4f22-985e-118fdbdb9322",
        "X-RequestId": "53727214-8207-453a-8028-c54431186c5d"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/f6bc985d-368c-4f22-985e-118fdbdb9322",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022BBA5E559E441B3CCB842B4A05C332120EEFCC6A69D93FB1693B54C0F443F1B51\u0022",
        "X-RequestId": "f3855709-6f9e-4fae-bf6b-5a03c8572d3c"
      },
      "ResponseBody": {
        "id": "f6bc985d-368c-4f22-985e-118fdbdb9322",
        "createdDateTimeUtc": "2022-01-25T22:51:05.9852058Z",
        "lastActionDateTimeUtc": "2022-01-25T22:51:06.083463Z",
        "status": "NotStarted",
        "summary": {
          "total": 2,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 2,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?$skip=0\u0026$maxpagesize=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002224135F356FEC3445F5D3D48F71CD17144EDD57B50C809A31A53FF0BB5545C848\u0022",
        "X-RequestId": "4d1256f7-4a2e-4342-b6e9-f51859ff05c5"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "7f5f7a3b-4dae-4443-8a5a-40042dca7da9",
            "createdDateTimeUtc": "2022-01-25T22:51:40.4651696Z",
            "lastActionDateTimeUtc": "2022-01-25T22:51:43.6230901Z",
            "status": "Succeeded",
            "summary": {
              "total": 2,
              "failed": 0,
              "success": 2,
              "inProgress": 0,
              "notYetStarted": 0,
              "cancelled": 0,
              "totalCharacterCharged": 54
            }
          },
          {
            "id": "19e45ff8-848f-4ef0-bba0-a27a4cc75208",
            "createdDateTimeUtc": "2022-01-25T22:51:31.9957318Z",
            "lastActionDateTimeUtc": "2022-01-25T22:51:38.9210295Z",
            "status": "Succeeded",
            "summary": {
              "total": 2,
              "failed": 0,
              "success": 2,
              "inProgress": 0,
              "notYetStarted": 0,
              "cancelled": 0,
              "totalCharacterCharged": 54
            }
          }
        ],
        "@nextLink": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?$skip=2\u0026$top=514\u0026$maxpagesize=2"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?$skip=2\u0026$top=514\u0026$maxpagesize=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022E6F85905DABA0044EDCCD6711404B69312F2BC86F5DDFDE3AED1B911E7885EE9\u0022",
        "X-RequestId": "ea252fc6-a345-4b64-ac2[...]
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?$skip=36\u0026$top=480\u0026$maxpagesize=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022EA91E2732709F3C305AEAA87B6C74AF8A2D90C98A5CED7BC32C74AC5BEB192AE\u0022",
        "X-RequestId": "32348587-e228-42a8-b1ce-b23dc7c1bb3a"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "9e6cb1b3-9bd0-4d26-ac27-e19bb056d6a8",
            "createdDateTimeUtc": "2022-01-18T18:46:18.6183272Z",
            "lastActionDateTimeUtc": "2022-01-18T18:46:18.7536021Z",
            "status": "ValidationFailed",
            "error": {
              "code": "InvalidRequest",
              "message": "Cannot access source document location with the current permissions.",
              "target": "Operation",
              "innerError": {
                "code": "InvalidDocumentAccessLevel",
                "message": "Cannot access source document location with the current permissions."
              }
            },
            "summary": {
              "total": 0,
              "failed": 0,
              "success": 0,
              "inProgress": 0,
              "notYetStarted": 0,
              "cancelled": 0,
              "totalCharacterCharged": 0
            }
          },
          {
            "id": "fbf69814-d324-4167-9ccd-d89049e8de8c",
            "createdDateTimeUtc": "2022-01-18T18:45:15.1691355Z",
            "lastActionDateTimeUtc": "2022-01-18T18:45:27.1062935Z",
            "status": "Succeeded",
            "summary": {
              "total": 2,
              "failed": 0,
              "success": 2,
              "inProgress": 0,
              "notYetStarted": 0,
              "cancelled": 0,
              "totalCharacterCharged": 24
            }
          }
        ],
        "@nextLink": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?$skip=38\u0026$top=478\u0026$maxpagesize=2"
      }
    },
[...]
