{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srceb9aec3e-a897-4c28-8320-ececf563113c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 22 Nov 2021 21:03:15 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9ADFB809AFB37\u0022",
        "Last-Modified": "Mon, 22 Nov 2021 21:03:15 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srceb9aec3e-a897-4c28-8320-ececf563113c/20cc7d58-ff00-4a69-911b-546fa2d2a7f9.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 22 Nov 2021 21:03:15 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "aGVsbG8gd29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XrY7u\u002BAe7tCTyyK7j1rNww==",
        "ETag": "\u00220x8D9ADFB80A24216\u0022",
        "Last-Modified": "Mon, 22 Nov 2021 21:03:15 GMT",
        "x-ms-content-crc64": "vo7q9sPVKY0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target4b57756e-8ad8-4c0f-aa5b-282366233d86?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 22 Nov 2021 21:03:15 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9ADFB80B869F2\u0022",
        "Last-Modified": "Mon, 22 Nov 2021 21:03:15 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022inputs\u0022: [{\u0022source\u0022: {\u0022sourceUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/srceb9aec3e-a897-4c28-8320-ececf563113c?se=end\u0026sp=rl\u0026sv=2020-10-02\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022filter\u0022: {\u0022prefix\u0022: \u0022\u0022, \u0022suffix\u0022: \u0022.txt\u0022}, \u0022language\u0022: \u0022en\u0022}, \u0022targets\u0022: [{\u0022targetUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/target4b57756e-8ad8-4c0f-aa5b-282366233d86?se=end\u0026sp=wl\u0026sv=2020-10-02\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022category\u0022: \u0022fake\u0022, \u0022language\u0022: \u0022es\u0022, \u0022glossaries\u0022: [{\u0022glossaryUrl\u0022: \u0022https://glossaryfile.txt\u0022, \u0022format\u0022: \u0022txt\u0022}]}], \u0022storageType\u0022: \u0022File\u0022}]}",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-RequestId": "3b367635-a5c3-4fbb-96e9-e03a9d527aa4"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "The category parameter is invalid.",
          "target": "Category",
          "innerError": {
            "code": "InvalidCategory",
            "message": "The category parameter is invalid."
          }
        }
      }
    }
  ],
  "Variables": {
    "source_container_name": "srceb9aec3e-a897-4c28-8320-ececf563113c",
    "target_container_name": "target4b57756e-8ad8-4c0f-aa5b-282366233d86"
  }
}
