{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src055cf076-8d3f-4cd9-b637-aa1ed1274a74?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target7acc213e-52c4-4780-a858-ad2b49952400?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/c3c87a98-fbc8-4ce9-bc4a-5f7af5727088",
        "X-RequestId": "f4c65431-807c-4b1f-ab6b-bcca927bac66"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/c3c87a98-fbc8-4ce9-bc4a-5f7af5727088",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022022F9904D402B81CA88F62300E00B097E313ABA884BC9A7A5EAA9A8FF4D51FB8\u0022",
        "X-RequestId": "71d055ca-9d8f-4cd2-b432-0b7eaf768872"
      },
      "ResponseBody": {
        "id": "c3c87a98-fbc8-4ce9-bc4a-5f7af5727088",
        "createdDateTimeUtc": "2021-12-15T19:44:37.1286761Z",
        "lastActionDateTimeUtc": "2021-12-15T19:44:37.8855884Z",
        "status": "Running",
        "summary": {
          "total": 2,
          "failed": 0,
          "success": 0,
          "inProgress": 2,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?$skip=0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022D6A364079397CFFED95D55928EFA8CE41B90559DC3BBF3B06E5D44E6B5412708\u0022",
        "X-RequestId": "f39a77e2-f47e-41eb-8ea8-4942b6eba6f2"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "f5f8039e-ac76-494f-9f7a-a0079b1cc586",
            "createdDateTimeUtc": "2021-12-15T19:46:00.8294558Z",
            "lastActionDateTimeUtc": "2021-12-15T19:46:06.7017823Z",
            "status": "Succeeded",
            "summary": {
              "total": 2,
              "failed": 0,
              "success": 2,
              "inProgress": 0,
              "notYetStarted": 0,
              "cancelled": 0,
              "totalCharacterCharged": 54
            }
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?$skip=50\u0026$top=323\u0026$maxpagesize=50",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002244775D3F47F10E99F68D302E91D7BEB5C8AAB22FF1810375366D990218301E9A\u0022",
        "X-RequestId": "4e19c105-6586-4315-b[...]
[...]
