{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src2ca72fc2-ebce-490f-a173-0f983eb0e194?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 19 Feb 2022 01:34:25 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F347F67EF079\u0022",
        "Last-Modified": "Sat, 19 Feb 2022 01:34:25 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src2ca72fc2-ebce-490f-a173-0f983eb0e194/4de2b5f8-7581-4acf-a03d-6a8c8ffd9dfc.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 19 Feb 2022 01:34:25 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8D9F347F6833E53\u0022",
        "Last-Modified": "Sat, 19 Feb 2022 01:34:25 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target56bbfa7b-3c65-450e-a3d0-8a98ffd6078e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 19 Feb 2022 01:34:25 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F347F6D45644\u0022",
        "Last-Modified": "Sat, 19 Feb 2022 01:34:25 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src2ca72fc2-ebce-490f-a173-0f983eb0e194?se=end\u0026sp=rl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target56bbfa7b-3c65-450e-a3d0-8a98ffd6078e?se=end\u0026sp=wl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/a133a069-4a11-4193-9fdd-2d25e0c47582",
        "X-RequestId": "fcd0fe3e-55c6-4b06-9530-ee3ab38aacc5"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/a133a069-4a11-4193-9fdd-2d25e0c47582",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220FE81A7707D08BF996E9A6E772E31C87224CCC43BF66E96661FA89084A29E0EF\u0022",
        "X-RequestId": "e1934576-78ca-4073-89b3-48b2c14815a5"
      },
      "ResponseBody": {
        "id": "a133a069-4a11-4193-9fdd-2d25e0c47582",
        "createdDateTimeUtc": "2022-02-19T01:34:26.0828103Z",
        "lastActionDateTimeUtc": "2022-02-19T01:34:27.092038Z",
        "status": "Running",
        "summary": {
          "total": 10,
          "failed": 0,
          "success": 0,
          "inProgress": 4,
          "notYetStarted": 6,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/a133a069-4a11-4193-9fdd-2d25e0c47582/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224EADBE674A9B56AD4E2D70380D3D969E950858F433F95F5D0FB49AF1E40F48EB\u0022",
        "X-RequestId": "617ae341-61d3-4b30-8093-fc154d1812df"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target56bbfa7b-3c65-450e-a3d0-8a98ffd6078e/fe7f16de-8d88-477c-9008-f6e8a52a2583.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src2ca72fc2-ebce-490f-a173-0f983eb0e194/fe7f16de-8d88-477c-9008-f6e8a52a2583.txt",
            "createdDateTimeUtc": "2022-02-19T01:34:27.7482961Z",
            "lastActionDateTimeUtc": "2022-02-19T01:34:30.1092493Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "00245d14-0000-0000-0000-000000000000",
            "characterCharged": 27
          },
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target56bbfa7b-3c65-450e-a3d0-8a98ffd6078e/f184b952-5d23-4f44-a208-17d3677c9821.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src2ca72fc2-ebce-490f-a173-0f983eb0e194/f184b952-5d23-4f44-a208-17d3677c9821.txt",
            "createdDateTimeUtc": "2022-02-19T01:34:27.7383968Z",
            "lastActionDateTimeUtc": "2022-02-19T01:34:30.1895349Z",
            "status": "Succeeded"[...]
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/a133a069-4a11-4193-9fdd-2d25e0c47582/documents?$skip=1\u0026$maxpagesize=2\u0026ids=00245d14-0000-0000-0000-000000000000,00245d13-0000-0000-0000-000000000000,00245d12-0000-0000-0000-000000000000,00245d11-0000-0000-0000-000000000000,00245d10-0000-0000-0000-000000000000\u0026statuses=Succeeded\u0026$orderBy=createdDateTimeUtc%20asc",
      "RequestMethod": "GET",
      "RequestHeaders": {[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/a133a069-4a11-4193-9fdd-2d25e0c47582/documents?$skip=3\u0026$top=2\u0026$maxpagesize=2\u0026ids=00245d14-0000-0000-0000-000000000000,00245d13-0000-0000-0000-000000000000,00245d12-0000-0000-0000-000000000000,00245d11-0000-0000-0000-000000000000,00245d10-0000-0000-0000-000000000000\u0026statuses=Succeeded\u0026$orderBy=createdDateTimeUtc%20asc",
      "RequestMethod": "GET",
      "Reques[...]
