{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src500ac9ff-ddd9-47e8-8ec9-ce71ae7b234a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Dec 2021 19:52:23 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9C00469AB865B\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 19:52:23 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src500ac9ff-ddd9-47e8-8ec9-ce71ae7b234a/1556851c-f742-41ca-b3ad-526c2c17506e.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Dec 2021 19:52:23 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "VGhpcyBpcyBzb21lIHRleHQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "lyFPYyJLwenMTaN3qtznxw==",
        "ETag": "\u00220x8D9C00469B34E76\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 19:52:23 GMT",
        "x-ms-content-crc64": "SqmNKeH10UQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target8417fc85-cdb8-4ef0-873d-d50494a0e178?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Dec 2021 19:52:23 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9C00469D5C496\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 19:52:23 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src500ac9ff-ddd9-47e8-8ec9-ce71ae7b234a?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target8417fc85-cdb8-4ef0-873d-d50494a0e178?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/0cd3d1b0-e92e-484d-a01e-482f60702cd5",
        "X-RequestId": "fd6b850b-7248-4800-bb77-515e8e0fefd1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/0cd3d1b0-e92e-484d-a01e-482f60702cd5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022927115F4DF83E7CB9C3ED754913A255120C0A2053C2E9B6834DE18E865C9D8C8\u0022",
        "X-RequestId": "18e531ed-d2ec-4279-a065-393ca3c15dfd"
      },
      "ResponseBody": {
        "id": "0cd3d1b0-e92e-484d-a01e-482f60702cd5",
        "createdDateTimeUtc": "2021-12-15T19:52:23.9399624Z",
        "lastActionDateTimeUtc": "2021-12-15T19:52:24.1220712Z",
        "status": "NotStarted",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 1,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/0cd3d1b0-e92e-484d-a01e-482f60702cd5/documents?$skip=0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022FBF9718051122EEF60E02C4DF5B5A7043319E20EA223A2FA96857D140FA6D46F\u0022",
        "X-RequestId": "444bc613-be5c-462e-9e40-a5ce09943c42"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target8417fc85-cdb8-4ef0-873d-d50494a0e178/1556851c-f742-41ca-b3ad-526c2c17506e.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src500ac9ff-ddd9-47e8-8ec9-ce71ae7b234a/1556851c-f742-41ca-b3ad-526c2c17506e.txt",
            "createdDateTimeUtc": "2021-12-15T19:52:25.5861152Z",
            "lastActionDateTimeUtc": "2021-12-15T19:52:36.6130221Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "0019b956-0000-0000-0000-000000000000",
            "characterCharged": 17
          }
        ]
      }
    }
  ],
  "Variables": {
    "source_container_name": "src500ac9ff-ddd9-47e8-8ec9-ce71ae7b234a",
    "target_container_name": "target8417fc85-cdb8-4ef0-873d-d50494a0e178"
  }
}
