{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src1644d8a7-aab7-4565-b3a0-8e61263f738d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 22 Nov 2021 20:58:35 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9ADFAD97DF4DC\u0022",
        "Last-Modified": "Mon, 22 Nov 2021 20:58:35 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src1644d8a7-aab7-4565-b3a0-8e61263f738d/fec92478-3aa4-4dfa-b7ef-b415ec5b70ed.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 22 Nov 2021 20:58:35 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8D9ADFAD98455F1\u0022",
        "Last-Modified": "Mon, 22 Nov 2021 20:58:35 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src1644d8a7-aab7-4565-b3a0-8e61263f738d/8486a305-e4bf-411d-a736-68416763a927.jpg",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 22 Nov 2021 20:58:35 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8D9ADFAD98AE4A7\u0022",
        "Last-Modified": "Mon, 22 Nov 2021 20:58:35 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/targetcd87756d-a07d-465b-844d-69876d85a67a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 22 Nov 2021 20:58:35 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9ADFAD9A8A7D1\u0022",
        "Last-Modified": "Mon, 22 Nov 2021 20:58:35 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022inputs\u0022: [{\u0022source\u0022: {\u0022sourceUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/src1644d8a7-aab7-4565-b3a0-8e61263f738d?se=end\u0026sp=rl\u0026sv=2020-10-02\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022filter\u0022: {}}, \u0022targets\u0022: [{\u0022targetUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/targetcd87756d-a07d-465b-844d-69876d85a67a?se=end\u0026sp=wl\u0026sv=2020-10-02\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022language\u0022: \u0022es\u0022}]}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/95865222-1931-473c-b41f-7a430879eb36",
        "X-RequestId": "c8c29468-f528-47cf-befd-64bc3c235415"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/95865222-1931-473c-b41f-7a430879eb36",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002242BBC6F13652975FB38CAA9A68CE620A28DEB6CDA95FAFD8D937B18F5C5A07AF\u0022",
        "X-RequestId": "7a209f0c-06dd-41c5-aff2-0e6a5c4f5ee0"
      },
      "ResponseBody": {
        "id": "95865222-1931-473c-b41f-7a430879eb36",
        "createdDateTimeUtc": "2021-11-22T20:58:35.621964Z",
        "lastActionDateTimeUtc": "2021-11-22T20:58:35.8024999Z",
        "status": "NotStarted",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 1,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/95865222-1931-473c-b41f-7a430879eb36/documents?$skip=0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022D91B572370C6A1272A24711ACAA3BAF3D0861478D5594344DFD6A7234AA183C7\u0022",
        "X-RequestId": "63c65a30-fd66-497d-951f-b872de9fac0c"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/targetcd87756d-a07d-465b-844d-69876d85a67a/fec92478-3aa4-4dfa-b7ef-b415ec5b70ed.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src1644d8a7-aab7-4565-b3a0-8e61263f738d/fec92478-3aa4-4dfa-b7ef-b415ec5b70ed.txt",
            "createdDateTimeUtc": "2021-11-22T20:58:39.4525425Z",
            "lastActionDateTimeUtc": "2021-11-22T20:58:46.1697397Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "0016a571-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    }
  ],
  "Variables": {
    "source_container_name": "src1644d8a7-aab7-4565-b3a0-8e61263f738d",
    "target_container_name": "targetcd87756d-a07d-465b-844d-69876d85a67a"
  }
}
