{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src1ec84331-8e9a-42bf-93a0-c8f83644e6f2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Dec 2021 03:48:00 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9BF7DB0A2EE5F\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 03:48:00 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src1ec84331-8e9a-42bf-93a0-c8f83644e6f2/a124669a-b1f0-4a8c-8591-9a8dd5dae105.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Dec 2021 03:48:00 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "aGVsbG8gd29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XrY7u\u002BAe7tCTyyK7j1rNww==",
        "ETag": "\u00220x8D9BF7DB0A8CCAC\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 03:48:00 GMT",
        "x-ms-content-crc64": "vo7q9sPVKY0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/targetf4e57617-e3d7-4982-b32a-d9f87adcc1ea?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Dec 2021 03:48:00 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9BF7DB0D31EFD\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 03:48:00 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022inputs\u0022: [{\u0022source\u0022: {\u0022sourceUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/src1ec84331-8e9a-42bf-93a0-c8f83644e6f2?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022filter\u0022: {\u0022prefix\u0022: \u0022\u0022, \u0022suffix\u0022: \u0022.txt\u0022}, \u0022language\u0022: \u0022en\u0022}, \u0022targets\u0022: [{\u0022targetUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/targetf4e57617-e3d7-4982-b32a-d9f87adcc1ea?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022category\u0022: \u0022fake\u0022, \u0022language\u0022: \u0022es\u0022, \u0022glossaries\u0022: [{\u0022glossaryUrl\u0022: \u0022https://glossaryfile.txt\u0022, \u0022format\u0022: \u0022txt\u0022}]}], \u0022storageType\u0022: \u0022File\u0022}]}",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-RequestId": "5a67bef8-87f9-4123-a0d8-a4e5c802a32d"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "The category parameter is invalid.",
          "target": "Category",
          "innerError": {
            "code": "InvalidCategory",
            "message": "The category parameter is invalid."
          }
        }
      }
    }
  ],
  "Variables": {
    "source_container_name": "src1ec84331-8e9a-42bf-93a0-c8f83644e6f2",
    "target_container_name": "targetf4e57617-e3d7-4982-b32a-d9f87adcc1ea"
  }
}
