{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src15b995b7-96c9-41e5-b213-7bf34ca152f4?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target013581ec-0221-48c2-ac10-0bc74fb853b6?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/6170e4b4-f821-43f1-979c-dc775ed5935d",
        "X-RequestId": "4f4a16ec-e8aa-4795-bcfd-95e97ff1dbc1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/6170e4b4-f821-43f1-979c-dc775ed5935d",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002208FD16838E46E849899A734E3FA634B7A5DDFC9203F7BC4D745EE87152204C89\u0022",
        "X-RequestId": "be4dd626-a907-4ed9-8471-0643193a4fda"
      },
      "ResponseBody": {
        "id": "6170e4b4-f821-43f1-979c-dc775ed5935d",
        "createdDateTimeUtc": "2022-01-25T23:04:14.6259855Z",
        "lastActionDateTimeUtc": "2022-01-25T23:04:15.5196849Z",
        "status": "Running",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 0,
          "inProgress": 1,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d57c45ee-df1d-4685-bf7b-3687e5fc6ba6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227770E0D8745E38DF21D3EAFC9091BFF70B35BD1FF1577518D5101CD84399D5FE\u0022",
        "X-RequestId": "bd6cce28-e6f7-471e-89ef-865b8855480c"
      },
      "ResponseBody": {
        "id": "d57c45ee-df1d-4685-bf7b-3687e5fc6ba6",
        "createdDateTimeUtc": "2022-01-25T23:04:18.9631492Z",
        "lastActionDateTimeUtc": "2022-01-25T23:04:21.9212779Z",
        "status": "Succeeded",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 1,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 11
        }
      }
    }
  ],
  "Variables": {
    "source_container_name": "src15b995b7-96c9-41e5-b213-7bf34ca152f4",
    "target_container_name": "target013581ec-0221-48c2-ac10-0bc74fb853b6",
    "target_container_name2": "target91c9c95b-5db1-4610-9564-4e4599c8a2c9"
  }
}
