{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srca11601ee-7ad7-468e-b1e7-8da1a652acb0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jan 2022 23:02:37 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9E056C8175C24\u0022",
        "Last-Modified": "Tue, 25 Jan 2022 23:02:37 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srca11601ee-7ad7-468e-b1e7-8da1a652acb0/document.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 25 Jan 2022 23:02:37 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8D9E056C81DE1F1\u0022",
        "Last-Modified": "Tue, 25 Jan 2022 23:02:37 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srca11601ee-7ad7-468e-b1e7-8da1a652acb0/8bf3df42-924f-4f9e-b339-dffc74b6bce7.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 25 Jan 2022 23:02:37 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8D9E056C82581FB\u0022",
        "Last-Modified": "Tue, 25 Jan 2022 23:02:37 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target08332b95-2672-41a1-af5e-75404c2b71ec?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jan 2022 23:02:38 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9E056C8534AF0\u0022",
        "Last-Modified": "Tue, 25 Jan 2022 23:02:38 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target08332b95-2672-41a1-af5e-75404c2b71ec/document.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 25 Jan 2022 23:02:38 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8D9E056C85AE21F\u0022",
        "Last-Modified": "Tue, 25 Jan 2022 23:02:38 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srca11601ee-7ad7-468e-b1e7-8da1a652acb0?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target08332b95-2672-41a1-af5e-75404c2b71ec?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d5404acd-ea24-4340-95c4-df9cfe52c940",
        "X-RequestId": "b164baed-a4e7-4e6e-8ba8-f1636b5ee3e1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d5404acd-ea24-4340-95c4-df9cfe52c940",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002285C7F6E0D57F15C875F6A60E0B8C9BDC5DF178232BFB065873F8ADA3DE40BC28\u0022",
        "X-RequestId": "6ae1c3d8-bf3f-41f5-ab03-26616bf1a6c1"
      },
      "ResponseBody": {
        "id": "d5404acd-ea24-4340-95c4-df9cfe52c940",
        "createdDateTimeUtc": "2022-01-25T23:02:38.6065569Z",
        "lastActionDateTimeUtc": "2022-01-25T23:02:39.0654561Z",
        "status": "Running",
        "summary": {
          "total": 2,
          "failed": 1,
          "success": 0,
          "inProgress": 1,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d5404acd-ea24-4340-95c4-df9cfe52c940/documents?$skip=0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224F2D97BE4C286A59C1220716B8E270434476605DF31B1C0A12411DE3286BE71A\u0022",
        "X-RequestId": "c1e17065-7e7d-493a-930a-839d39013ac0"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target08332b95-2672-41a1-af5e-75404c2b71ec/8bf3df42-924f-4f9e-b339-dffc74b6bce7.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/srca11601ee-7ad7-468e-b1e7-8da1a652acb0/8bf3df42-924f-4f9e-b339-dffc74b6bce7.txt",
            "createdDateTimeUtc": "2022-01-25T23:02:38.830136Z",
            "lastActionDateTimeUtc": "2022-01-25T23:02:41.0226465Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "001f1349-0000-0000-0000-000000000000",
            "characterCharged": 27
          },
          {
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/srca11601ee-7ad7-468e-b1e7-8da1a652acb0/document.txt",
            "lastActionDateTimeUtc": "2022-01-25T23:02:38.7214767Z",
            "status": "Failed",
            "to": "es",
            "error": {
              "code": "InvalidRequest",
              "message": "Target document file already exists.",
              "target": "Document",
              "innerError": {
                "code": "TargetFileAlreadyExists",
                "message": "Target document file already exists."
              }
            },
            "progress": 0,
            "id": "001f134a-0000-0000-0000-000000000000",
            "characterCharged": 0
          }
        ]
      }
    }
  ],
  "Variables": {
    "source_container_name": "srca11601ee-7ad7-468e-b1e7-8da1a652acb0",
    "target_container_name": "target08332b95-2672-41a1-af5e-75404c2b71ec"
  }
}
