{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src9f8dd278-e8e0-4a4a-ac31-2e1ac0a174d8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Dec 2021 19:53:56 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9C004A14A9937\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 19:53:56 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src9f8dd278-e8e0-4a4a-ac31-2e1ac0a174d8/document.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Dec 2021 19:53:56 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8D9C004A1521854\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 19:53:56 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src9f8dd278-e8e0-4a4a-ac31-2e1ac0a174d8/0f1dfe84-e9b1-4d61-9c28-98495047b143.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Dec 2021 19:53:56 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8D9C004A158CE09\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 19:53:56 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target481043d6-bf80-4578-b66c-1e5342a9c8e7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Dec 2021 19:53:57 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9C004A1739F1B\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 19:53:57 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target481043d6-bf80-4578-b66c-1e5342a9c8e7/document.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Dec 2021 19:53:57 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8D9C004A1794947\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 19:53:57 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src9f8dd278-e8e0-4a4a-ac31-2e1ac0a174d8?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target481043d6-bf80-4578-b66c-1e5342a9c8e7?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/4ceff08b-e7d9-4add-81c5-fc057577a9f6",
        "X-RequestId": "12d11432-adeb-438c-847a-ec52f72e870c"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/4ceff08b-e7d9-4add-81c5-fc057577a9f6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222971EDDC3F06920AA7DEBD443DD20546DA851CC2312DDF3FA8E1589CC27647E0\u0022",
        "X-RequestId": "4861d15b-b447-4ea2-ad16-cd80d19c1a78"
      },
      "ResponseBody": {
        "id": "4ceff08b-e7d9-4add-81c5-fc057577a9f6",
        "createdDateTimeUtc": "2021-12-15T19:53:57.2904057Z",
        "lastActionDateTimeUtc": "2021-12-15T19:53:58.3149426Z",
        "status": "Running",
        "summary": {
          "total": 2,
          "failed": 1,
          "success": 0,
          "inProgress": 1,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/4ceff08b-e7d9-4add-81c5-fc057577a9f6/documents?$skip=0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227FF84DF459869BF2BEFF17C0615EC6222103CBDC067F0295B358029D8D0EEF77\u0022",
        "X-RequestId": "db8b3707-c45f-4678-91f2-a33518de5694"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target481043d6-bf80-4578-b66c-1e5342a9c8e7/0f1dfe84-e9b1-4d61-9c28-98495047b143.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src9f8dd278-e8e0-4a4a-ac31-2e1ac0a174d8/0f1dfe84-e9b1-4d61-9c28-98495047b143.txt",
            "createdDateTimeUtc": "2021-12-15T19:53:57.9448298Z",
            "lastActionDateTimeUtc": "2021-12-15T19:54:06.808714Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "0019b965-0000-0000-0000-000000000000",
            "characterCharged": 27
          },
          {
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src9f8dd278-e8e0-4a4a-ac31-2e1ac0a174d8/document.txt",
            "lastActionDateTimeUtc": "2021-12-15T19:53:57.4612026Z",
            "status": "Failed",
            "to": "es",
            "error": {
              "code": "InvalidRequest",
              "message": "Target document file already exists.",
              "target": "Document",
              "innerError": {
                "code": "TargetFileAlreadyExists",
                "message": "Target document file already exists."
              }
            },
            "progress": 0,
            "id": "0019b966-0000-0000-0000-000000000000",
            "characterCharged": 0
          }
        ]
      }
    }
  ],
  "Variables": {
    "source_container_name": "src9f8dd278-e8e0-4a4a-ac31-2e1ac0a174d8",
    "target_container_name": "target481043d6-bf80-4578-b66c-1e5342a9c8e7"
  }
}
