{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srcff754b34-8945-44df-9e91-76c4727aec0d?se=end\u0026sp=rl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targete7e4ffd1-a182-42fb-88fe-c35caedd4692?se=end\u0026sp=wl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/51eafbbf-a04d-4a9d-b6b7-3d802a270e0a",
        "X-RequestId": "5870b038-5b0e-416f-aa52-6d3d8c199a0a"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/51eafbbf-a04d-4a9d-b6b7-3d802a270e0a",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022783C12E64F77539698DDD833005C29B4D211F2D93F3B635C5669EC94C6AE5E57\u0022",
        "X-RequestId": "398d55e9-cf73-4955-bffe-1789f7a8a506"
      },
      "ResponseBody": {
        "id": "51eafbbf-a04d-4a9d-b6b7-3d802a270e0a",
        "createdDateTimeUtc": "2022-02-19T01:51:04.6471659Z",
        "lastActionDateTimeUtc": "2022-02-19T01:51:04.7972719Z",
        "status": "NotStarted",
        "summary": {
          "total": 2,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 2,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?$orderBy=createdDateTimeUtc%20asc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224ADF4DCBD509027A6A1CB3117152B95445C8C5003D46E515FCDC20E83EB4727F\u0022",
        "X-RequestId": "ca6b1f1f-2c5d-4521-b41e-f7e55edadb10"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "af20c502-f942-488a-9a52-4a5803f66fda",
            "createdDateTimeUtc": "2022-02-02T01:08:46.2000209Z",
            "lastActionDateTimeUtc": "2022-02-02T01:08:48.6660147Z",
            "status": "Cancelled",
            "summary": {
              "total": 8,
              "failed": 0,
              "success": 0,
              "inProgress": 0,
              "notYetStarted": 0,
              "cancelled": 8,
              "totalCharacterCharged": 0
            }
 [...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?$skip=50\u0026$top=249\u0026$maxpagesize=50\u0026$orderBy=createdDateTimeUtc\u002Basc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226044F350FBB5B455FE826232CD78AD5000B147AE037DC7E407F22EF929B665F2\u0022",
  [...]
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?$skip=150\u0026$top=149\u0026$maxpagesize=50\u0026$orderBy=createdDateTimeUtc\u002Basc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002242BCC58F6DE25FBC75C76FC3AE26613073C6BED5240B77A0F842B2B270175822\u0022",
        "X-RequestId": "cf8b1469-ee91-4eec-9e2a-d014b39b5423"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1f6fc64e-2a9f-455e-a755-45ec3f697daa",
            "createdDateTimeUtc": "2022-02-19T00:10:30.0590648Z",
            "lastActionDateTimeUtc": "2022-02-19T00:10:30.1991247Z",
            "status": "Failed",
            "error": {
              "code": "InvalidRequest",
              "message": "Target document file already exists.",
              "target": "Operation",
              "innerError": {
                "code": "TargetFileAlreadyExists",
                "message": "Target document file already exists."
              }
            },
            "summary": {
              "total": 1,
              "failed": 1,
              "success": 0,
              "inProgress": 0,
              "notYetStarted": 0,
              "cancelled": 0,
              "totalCharacterCharged": 0
            }
          },
          {
            "id": "ee307715-4dc5-4e1e-85e8-e010383b5dc0",
          [...]
[...]
