{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022inputs\u0022: [{\u0022source\u0022: {\u0022sourceUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/src6269ea19-32c5-432a-b89f-410cb1d07cba?se=end\u0026sp=rl\u0026sv=2020-10-02\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022filter\u0022: {\u0022suffix\u0022: \u0022txt\u0022}}, \u0022targets\u0022: [{\u0022targetUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/target6069acb6-fca6-4a03-b769-8a6ccda4426d?se=end\u0026sp=wl\u0026sv=2020-10-02\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022language\u0022: \u0022es\u0022}]}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/26de4a2b-e640-4240-8f41-a6416daacf97",
        "X-RequestId": "05780e20-afe7-45eb-8cf1-a2fdf60c5e8a"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/26de4a2b-e640-4240-8f41-a6416daacf97",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002285B52B70AC85CD5A010934706BA3731832C7DEEAB7F139180D01E17B0D2A1868\u0022",
        "X-RequestId": "a2f72fa0-d575-4288-9427-eb8be27f95cd"
      },
      "ResponseBody": {
        "id": "26de4a2b-e640-4240-8f41-a6416daacf97",
        "createdDateTimeUtc": "2021-11-22T22:13:15.2083846Z",
        "lastActionDateTimeUtc": "2021-11-22T22:13:15.5412235Z",
        "status": "NotStarted",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 1,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/26de4a2b-e640-4240-8f41-a6416daacf97/documents?$skip=0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002204C088652366925EA62DD5B03F5B3C5A60A9AAF31F921756D575EDA4D24DB36B\u0022",
        "X-RequestId": "f7b1b13a-1921-426a-b23b-8e84307cc3dd"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target6069acb6-fca6-4a03-b769-8a6ccda4426d/d57e38fe-7ca9-43c1-93fc-55c40735a7eb.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src6269ea19-32c5-432a-b89f-410cb1d07cba/d57e38fe-7ca9-43c1-93fc-55c40735a7eb.txt",
            "createdDateTimeUtc": "2021-11-22T22:13:18.8984165Z",
            "lastActionDateTimeUtc": "2021-11-22T22:13:22.9353592Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "0016a763-0000-0000-0000-000000000000",
            "characterCharged": 17
          }
        ]
      }
    }
  ],
  "Variables": {
    "source_container_name": "src6269ea19-32c5-432a-b89f-410cb1d07cba",
    "target_container_name": "target6069acb6-fca6-4a03-b769-8a6ccda4426d"
  }
}
