{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srce800df7c-44c0-4732-9175-3c3dff0565a1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jan 2022 22:48:11 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9E054C36DC739\u0022",
        "Last-Modified": "Tue, 25 Jan 2022 22:48:11 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srce800df7c-44c0-4732-9175-3c3dff0565a1/674d2b3f-e154-463e-b570-1b32c50c82b0.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 25 Jan 2022 22:48:11 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8D9E054C3734D67\u0022",
        "Last-Modified": "Tue, 25 Jan 2022 22:48:11 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/targeta201a587-ae9d-4607-9c07-ab58373abbc7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jan 2022 22:48:11 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9E054C3B107E1\u0022",
        "Last-Modified": "Tue, 25 Jan 2022 22:48:11 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srce800df7c-44c0-4732-9175-3c3dff0565a1?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targeta201a587-ae9d-4607-9c07-ab58373abbc7?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/e1841bb0-1ddf-4619-867f-ce6257a502d2",
        "X-RequestId": "61bffb02-38f9-4688-a373-a7b41d65e86c"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/e1841bb0-1ddf-4619-867f-ce6257a502d2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229C722DD540A23E9ACCBDF7AD6CDAD19C7D6DB5A46DB4F3B8C7C1166A29AC190C\u0022",
        "X-RequestId": "97103995-3177-40fc-ad14-72387da6b68a"
      },
      "ResponseBody": {
        "id": "e1841bb0-1ddf-4619-867f-ce6257a502d2",
        "createdDateTimeUtc": "2022-01-25T22:48:11.6947352Z",
        "lastActionDateTimeUtc": "2022-01-25T22:48:11.8345272Z",
        "status": "NotStarted",
        "summary": {
          "total": 5,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 5,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/e1841bb0-1ddf-4619-867f-ce6257a502d2/documents?$skip=0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ED357072A54B298031964ABBABE2E131D02AFD327D6240A32A0F63217D28E700\u0022",
        "X-RequestId": "d9e7eced-e26f-45b7-a3ca-06ff722323d3"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/targeta201a587-ae9d-4607-9c07-ab58373abbc7/ebf8ead0-6278-4505-9fd2-2e27bc4fd89c.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/srce800df7c-44c0-4732-9175-3c3dff0565a1/ebf8ead0-6278-4505-9fd2-2e27bc4fd89c.txt",
            "createdDateTimeUtc": "2022-01-25T22:48:13.3518099Z",
            "lastActionDateTimeUtc": "2022-01-25T22:48:16.5370732Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "001f0a4f-0000-0000-0000-000000000000",
            "characterCharged": 27
          },
          {
            "path": "https://fakeendpoint.blob.core.windows.net/targeta201a587-ae9d-4607-9c07-ab58373abbc7/bc3f6fef-86e8-4a9a-9fd2-13eed21275b0.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/srce800df7c-44c0-4732-9175-3c3dff0565a1/bc3f6fef-86e8-4a9a-9fd2-13eed21275b0.txt",
            "createdDateTimeUtc": "2022-01-25T22:48:12.9529484Z",
            "lastActionDateTimeUtc": "2022-01-25T22:48:15.93329Z",
            "status": "Succeeded",
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/e1841bb0-1ddf-4619-867f-ce6257a502d2/documents?$skip=0\u0026$orderBy=createdDateTimeUtc desc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ED357072A54B298031964ABBABE2E131D02AFD327D6240A32A0F63217D28E700\u00[...]
