{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022inputs\u0022: [{\u0022source\u0022: {\u0022sourceUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/src8667ee27-4b81-4757-858f-80455ad4f4f8?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022filter\u0022: {}}, \u0022targets\u0022: [{\u0022targetUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/target4e6ad447-a5cc-4754-97c4-21b91339d8a5?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022language\u0022: \u0022es\u0022}]}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/0d657886-aac2-4577-aef0-b65a943fe9ec",
        "X-RequestId": "ba9882ce-7406-485f-af9c-53632fea5df9"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/0d657886-aac2-4577-aef0-b65a943fe9ec",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223C8FEF2D0016997A7BF05F2A1F36DEE6EEAE94C645286E3523F457F790531FB9\u0022",
        "X-RequestId": "0046722a-426a-4d52-8a0e-218614dc7cac"
      },
      "ResponseBody": {
        "id": "0d657886-aac2-4577-aef0-b65a943fe9ec",
        "createdDateTimeUtc": "2021-12-15T03:50:21.6213237Z",
        "lastActionDateTimeUtc": "2021-12-15T03:50:21.765534Z",
        "status": "NotStarted",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 1,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/894117f1-81ef-4f54-897e-95f93fef767e",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022865126FC34F0AEF08BBFBE3CC10E26253B76C34F47D61555177F5FF5CA107000\u0022",
        "X-RequestId": "1a24e615-a160-49b2-9253-7f3a67dd1098"
      },
      "ResponseBody": {
        "id": "894117f1-81ef-4f54-897e-95f93fef767e",
        "createdDateTimeUtc": "2021-12-15T03:50:32.4330183Z",
        "lastActionDateTimeUtc": "2021-12-15T03:50:43.4257518Z",
        "status": "Succeeded",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 1,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 11
        }
      }
    }
  ],
  "Variables": {
    "source_container_name": "src8667ee27-4b81-4757-858f-80455ad4f4f8",
    "target_container_name": "target4e6ad447-a5cc-4754-97c4-21b91339d8a5",
    "target_container_name2": "target219a0542-08cb-4075-abbf-67824a9ac506"
  }
}
