{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src54144032-9ab2-4af6-a280-422f1539d3ec?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target81377492-304a-48f3-b6e0-d7d4201eeea3?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/16cd2d99-dfca-4fa0-9d7b-8e41709771e5",
        "X-RequestId": "a64cb1cc-112d-46ac-a372-e3c7876f5dc4"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/16cd2d99-dfca-4fa0-9d7b-8e41709771e5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222C46C1F5D51F0DD8AEEC7145DD87EDD35B745E89451000B942B4137D66ACAF51\u0022",
        "X-RequestId": "d7bb8b97-7803-4c9e-ae09-9b1db8b5dd49"
      },
      "ResponseBody": {
        "id": "16cd2d99-dfca-4fa0-9d7b-8e41709771e5",
        "createdDateTimeUtc": "2021-12-15T19:34:01.3623359Z",
        "lastActionDateTimeUtc": "2021-12-15T19:34:01.719599Z",
        "status": "NotStarted",
        "summary": {
          "total": 5,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 5,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/16cd2d99-dfca-4fa0-9d7b-8e41709771e5/documents?$skip=0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002241AC49B4C6464BE8DCE4874A844E6683A2332DA443B1667F1CB3EF4F0148CBBE\u0022",
        "X-RequestId": "c612a80e-3f30-4f9a-976f-a0ad8b14f6d2"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target81377492-304a-48f3-b6e0-d7d4201eeea3/cab8dbe3-c308-41c0-933b-d0cd79fbac7c.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src54144032-9ab2-4af6-a280-422f1539d3ec/cab8dbe3-c308-41c0-933b-d0cd79fbac7c.txt",
            "createdDateTimeUtc": "2021-12-15T19:34:04.6295167Z",
            "lastActionDateTimeUtc": "2021-12-15T19:34:10.7783773Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "0019b83b-0000-0000-0000-000000000000",
            "characterCharged": 27
          },
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target81377492-304a-48f3-b6e0-d7d4201eeea3/6ad99842-619d-4d47-953d-ff5949ed1870.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src54144032-9ab2-4af6-a280-422f1539d3ec/6ad99842-619d-4d47-953d-ff5949ed1870.txt",
            "createdDateTimeUtc": "2021-12-15T19:34:04.1474489Z",
            "lastActionDateTimeUtc": "2021-12-15T19:34:10.4100939Z",
            "status": "Succeeded"[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/16cd2d99-dfca-4fa0-9d7b-8e41709771e5/documents?$skip=0\u0026$orderBy=createdDateTimeUtc asc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226B2CD8980B6B8A1CB25C333C2D0A609FD8F69B1535DF9E43A35B6BA202F45CA1\u002[...]
