{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src0b765a69-78a8-4ab3-b3c7-f3f357e4a566?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 01 Dec 2022 22:32:14 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD3EBEEA7F4FF\u0022",
        "Last-Modified": "Thu, 01 Dec 2022 22:32:30 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src0b765a69-78a8-4ab3-b3c7-f3f357e4a566/fd93353d-a93f-403a-a503-79d956a590d8.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 01 Dec 2022 22:32:14 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8DAD3EBEEB17DF9\u0022",
        "Last-Modified": "Thu, 01 Dec 2022 22:32:30 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target06c92bbe-d623-4742-ab4a-377881f42e1a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 01 Dec 2022 22:32:14 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD3EBEEF1C43B\u0022",
        "Last-Modified": "Thu, 01 Dec 2022 22:32:30 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src0b765a69-78a8-4ab3-b3c7-f3f357e4a566?se=end\u0026sp=rl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target06c92bbe-d623-4742-ab4a-377881f42e1a?se=end\u0026sp=wl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7da30cfc-13bc-45c0-90be-f351b175aaf0",
        "x-ms-region": "West US 2",
        "X-RequestId": "5451e383-c8e0-41e7-bb50-47cb279ed09b"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7da30cfc-13bc-45c0-90be-f351b175aaf0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002226E34912A5D2D7193962F783D78F232182B5113C152A43BB25F96ED2836A474B\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "f91a39fb-0293-40f6-a1a6-517b15b13724"
      },
      "ResponseBody": {
        "id": "7da30cfc-13bc-45c0-90be-f351b175aaf0",
        "createdDateTimeUtc": "2022-12-01T22:32:30.7530402Z",
        "lastActionDateTimeUtc": "2022-12-01T22:32:30.8061143Z",
        "status": "NotStarted",
        "summary": {
          "total": 5,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 5,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7da30cfc-13bc-45c0-90be-f351b175aaf0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "policy-id": "ResourceRateLimitBy1s",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "error": {
          "code": "429",
          "message": "Requests to the Returns the status for a document translation request Operation under Batch Document Translation API v1.0 have exceeded rate limit of your current TextTranslator S1 pricing tier. Please retry after 1 second. Please contact Azure support service if you would like to further increase the default rate limit."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7da30cfc-13bc-45c0-90be-f351b175aaf0/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223DF5A1277B6E48F05B2C0160DEDD8F55BBA49D071C3C523F0E902801688D7556\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "4083c32f-295b-46d2-8b66-31b863d9d392"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target06c92bbe-d623-4742-ab4a-377881f42e1a/fd93353d-a93f-403a-a503-79d956a590d8.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src0b765a69-78a8-4ab3-b3c7-f3f357e4a566/fd93353d-a93f-403a-a503-79d956a590d8.txt",
            "createdDateTimeUtc": "2022-12-01T22:32:31.8025332Z",
            "lastActionDateTimeUtc": "2022-12-01T22:32:36.9379339Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "005b30dc-0000-0000-0000-000000000000",
            "characterCharged": 27
          },
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target06c92bbe-d623-4742-ab4a-377881f42e1a/67a9927f-d9a7-4b25-9fb5-129bed7c1727.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src0b765a69-78a8-4ab3-b3c7-f3f357e4a566/67a9927f-d9a7-4b25-9fb5-129bed7c1727.txt",
            "createdDateTimeUtc": "2022-12-01T22:32:31.5158683Z",
            "lastActionDateTimeUtc": "2022-12-01T22:32:36.1722233Z",
            "status": "Succeeded"[...]
[...]
