{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src1766a4db-d933-4f0f-a41f-41150ffc16b4?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target4448afb4-280b-40d9-992f-8ab4d0b875b5?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/e2631887-ac99-40cc-9708-a2149c3d9f14",
        "X-RequestId": "7ff5d747-2964-42cd-8875-e9953c7f713e"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/e2631887-ac99-40cc-9708-a2149c3d9f14",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-RequestId": "9263ecd9-c076-433d-91c4-b1ce908396be"
      },
      "ResponseBody": {
        "id": "e2631887-ac99-40cc-9708-a2149c3d9f14",
        "createdDateTimeUtc": "2022-01-25T22:46:11.5425003Z",
        "lastActionDateTimeUtc": "2022-01-25T22:46:11.6069765Z",
        "status": "Cancelling",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/e2631887-ac99-40cc-9708-a2149c3d9f14",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222F425FBE5DF9D9AAF6BE066E2B23A25D53F3BC39D4C8EF752015D6EF204B15AE\u0022",
        "X-RequestId": "6f3518d6-7c5b-4565-9966-c311a3478a17"
      },
      "ResponseBody": {
        "id": "e2631887-ac99-40cc-9708-a2149c3d9f14",
        "createdDateTimeUtc": "2022-01-25T22:46:11.5425003Z",
        "lastActionDateTimeUtc": "2022-01-25T22:46:14.2908998Z",
        "status": "Cancelled",
        "summary": {
          "total": 8,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 8,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/e2631887-ac99-40cc-9708-a2149c3d9f14",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222F425FBE5DF9D9AAF6BE066E2B23A25D53F3BC39D4C8EF752015D6EF204B15AE\u0022",
        "X-RequestId": "4d914ae6-4b3b-4b3b-8324-38149c13fc71"
      },
      "ResponseBody": {
        "id": "e2631887-ac99-40cc-9708-a2149c3d9f14",
        "createdDateTimeUtc": "2022-01-25T22:46:11.5425003Z",
        "lastActionDateTimeUtc": "2022-01-25T22:46:14.2908998Z",
        "status": "Cancelled",
        "summary": {
          "total": 8,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 8,
          "totalCharacterCharged": 0
        }
      }
    }
  ],
  "Variables": {
    "source_container_name": "src1766a4db-d933-4f0f-a41f-41150ffc16b4",
    "target_container_name": "target4448afb4-280b-40d9-992f-8ab4d0b875b5"
  }
}
