{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src069413c6-82dd-40aa-bedb-f5596bd49e58?se=end\u0026sp=rl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target72d479d0-0908-4a43-a19c-4d9bb3d95fb6?se=end\u0026sp=wl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/63f316a3-f1e6-418c-9746-e06e08ccc198",
        "X-RequestId": "ea67702f-c75f-4c49-a256-d0c6b65ed904"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/63f316a3-f1e6-418c-9746-e06e08ccc198",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022C0AA2D40150BA3C90CD7F3116A71773ACDB3DBC91DEC9F92346ED1E62C095DD5\u0022",
        "X-RequestId": "95abaf4f-ba7f-47bc-9d15-676f5db6b4e3"
      },
      "ResponseBody": {
        "id": "63f316a3-f1e6-418c-9746-e06e08ccc198",
        "createdDateTimeUtc": "2022-02-19T01:46:38.8164988Z",
        "lastActionDateTimeUtc": "2022-02-19T01:46:38.983503Z",
        "status": "NotStarted",
        "summary": {
          "total": 2,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 2,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?$maxpagesize=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002219304F4D24961AAEEF6981F0521E7F5A5FA3D33E0AEA3815D4D2703131F92966\u0022",
        "X-RequestId": "0b42845e-ec97-43f1-900a-7e344b916280"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "9a0338f6-a841-4ab2-938f-7417aa20e5f6",
            "createdDateTimeUtc": "2022-02-19T01:47:15.3294054Z",
            "lastActionDateTimeUtc": "2022-02-19T01:47:20.0767321Z",
            "status": "Succeeded",
            "summary": {
              "total": 2,
              "failed": 0,
              "success": 2,
              "inProgress": 0,
              "notYetStarted": 0,
              "cancelled": 0,
              "totalCharacterCharged": 54
            }
          },
          {
            "id": "4ef1dc36-840d-4591-9f07-2865acdb53f6",
            "createdDateTimeUtc": "2022-02-19T01:47:08.3426545Z",
            "lastActionDateTimeUtc": "2022-02-19T01:47:14.6179882Z",
            "status": "Succeeded",
            "summary": {
              "total": 2,
              "failed": 0,
              "success": 2,
              "inProgress": 0,
              "notYetStarted": 0,
              "cancelled": 0,
              "totalCharacterCharged": 54
            }
          }
        ],
        "@nextLink": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?$skip=2\u0026$top=271\u0026$maxpagesize=2"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?$skip=2\u0026$top=271\u0026$maxpagesize=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022B5D82CD148C4EE996E40DE16B21B69C027A5E0248048199F2E46822B120A30EB\u0022",
        "X-RequestId": "683b0098-a351-4d02-a9f[...]
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?$skip=120\u0026$top=153\u0026$maxpagesize=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022B87A2E6B1413386A0B79ED979F35961AD414EB6DF2326392D57A025F0916D3E7\u0022",
        "X-RequestId": "8fc29113-e277-4a89-ae9f-15ad7ae85137"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "4847f8a6-db89-4054-9ffc-fb1879e65584",
            "createdDateTimeUtc": "2022-02-19T00:12:17.9599318Z",
            "lastActionDateTimeUtc": "2022-02-19T00:12:19.144697Z",
            "status": "Failed",
            "error": {
              "code": "InvalidRequest",
              "message": "The document does not have any translatable text.",
              "target": "Operation",
              "innerError": {
                "code": "NoTranslatableText",
                "message": "The document does not have any translatable text."
              }
            },
            "summary": {
              "total": 1,
              "failed": 1,
              "success": 0,
              "inProgress": 0,
              "notYetStarted": 0,
              "cancelled": 0,
              "totalCharacterCharged": 0
            }
          },
          {
            "id": "ee307715-4dc5-4e1e-85e8-e010383b5dc0",
            "createdDateTimeUtc": "2022-02-19T00:11:19.3662965Z",
            "lastActionDateTimeUtc": "2022-02-19T00:11:28.1072629Z",
            "status": "Succeeded",
            "summary": {
              "total": 2,
              "failed": 1,
              "success": 1,
              "inProgress": 0,
              "notYetStarted": 0,
              "cancelled": 0,
              "totalCharacterCharged": 27
            }
          }
        ],
        "@nextLink": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?$skip=122\u0026$top=151\u0026$maxpagesize=2"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?$skip=272\u0026$top=1\u0026$maxpagesize=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ADF649966F108DAC4628ADE7DB9851476ABE0D1C64D4E009D6F18490F9459DAD\u0022",
        "X-RequestId": "b0c5656b-7a08-4187-8266-d232e9a2ecf2"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "af20c502-f942-488a-9a52-4a5803f66fda",
            "createdDateTimeUtc": "2022-02-02T01:08:46.2000209Z",
            "lastActionDateTimeUtc": "2022-02-02T01:08:48.6660147Z",
            "status": "Cancelled",
            "summary": {
              "total": 8,
              "failed": 0,
              "success": 0,
              "inProgress": 0,
              "notYetStarted": 0,
              "cancelled": 8,
              "totalCharacterCharged": 0
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "source_container_name0": "src069413c6-82dd-40aa-bedb-f5596bd49e58",
    "source_container_name1": "src3bbe94e2-9230-4815-8c1f-7b9056525330",
    "source_container_name2": "srca8733311-122c-4d2e-a1f4-e799bcf7c6b5",
    "source_container_name3": "src5e79a041-58eb-4d06-9748-a264c03447f9",
    "source_container_name4": "src032fce4c-1f1e-4c9b-83a7-50d44161c80e",
    "target_container_name0": "target72d479d0-0908-4a43-a19c-4d9bb3d95fb6",
    "target_container_name1": "targetca311714-0238-423d-9445-709ea7bf418b",
    "target_container_name2": "targetee2950bf-680c-4a5a-9f1b-3fa38509c5d8",
    "target_container_name3": "target1de5694e-e157-4eb1-9a56-dc6558381009",
    "target_container_name4": "targetb1f2e845-bff8-418c-9902-ce21d012c817"
  }
}
