{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src7c0c72d3-d648-4629-8bf1-79df5c53c009?se=end\u0026sp=rl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targetca33fd0d-d4d4-4a0a-9aaa-18e927984b60?se=end\u0026sp=wl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/ce90c3b6-0252-4751-8829-373a94d030a7",
        "x-ms-region": "West US 2",
        "X-RequestId": "af29f500-c129-4499-8ef8-6600afb9eeea"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/ce90c3b6-0252-4751-8829-373a94d030a7",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226967B256EA7B81972E07D8F1F7B8CECF0EEC44CA4417B2E98343BBFBD615348F\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "20ff6992-904a-4cc1-8d32-410a879aba0d"
      },
      "ResponseBody": {
        "id": "ce90c3b6-0252-4751-8829-373a94d030a7",
        "createdDateTimeUtc": "2022-12-01T22:51:13.2353757Z",
        "lastActionDateTimeUtc": "2022-12-01T22:51:13.2703061Z",
        "status": "NotStarted",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 1,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/ce90c3b6-0252-4751-8829-373a94d030a7",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "policy-id": "ResourceRateLimitBy1s",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "error": {
          "code": "429",
          "message": "Requests to the Returns the status for a document translation request Operation under Batch Document Translation API v1.0 have exceeded rate limit of your current TextTranslator S1 pricing tier. Please retry after 1 second. Please contact Azure support service if you would like to further increase the default rate limit."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/ce90c3b6-0252-4751-8829-373a94d030a7/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022DAAA7B39F155D114469BC11DE41A0352866F861C6E1CB5B8C4B7EB876AE4E7F3\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "1bdb7c12-a0a2-47bf-9b62-eba034e00024"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/targetca33fd0d-d4d4-4a0a-9aaa-18e927984b60/0261006b-5fbf-4eff-9ea1-19d68559445d.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src7c0c72d3-d648-4629-8bf1-79df5c53c009/0261006b-5fbf-4eff-9ea1-19d68559445d.txt",
            "createdDateTimeUtc": "2022-12-01T22:51:16.6631054Z",
            "lastActionDateTimeUtc": "2022-12-01T22:51:19.6470305Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "005b3239-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    }
  ],
  "Variables": {
    "source_container_name": "src7c0c72d3-d648-4629-8bf1-79df5c53c009",
    "target_container_name": "targetca33fd0d-d4d4-4a0a-9aaa-18e927984b60"
  }
}
