{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src7fab4452-f258-4eda-8db6-6a54862bbc39?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targetdbf1f402-493f-462f-b95b-8cd5106924e3?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/1b1c8956-ed67-454a-8256-f59c54efc333",
        "X-RequestId": "1b2e3b3a-7070-4d53-95c1-d749e027e1ed"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/1b1c8956-ed67-454a-8256-f59c54efc333",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227155387612D653BF5BCFF83F21FD935FAA88EBD4A2B9DE446FA9D516C0C4A65C\u0022",
        "X-RequestId": "1a311f13-a451-463a-815a-a7b7bdba36d1"
      },
      "ResponseBody": {
        "id": "1b1c8956-ed67-454a-8256-f59c54efc333",
        "createdDateTimeUtc": "2021-12-15T19:47:36.8598595Z",
        "lastActionDateTimeUtc": "2021-12-15T19:47:37.0014053Z",
        "status": "NotStarted",
        "summary": {
          "total": 2,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 2,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?$skip=0\u0026ids=1b1c8956-ed67-454a-8256-f59c54efc333,0e8f5e9a-8ae9-40fc-b2ac-89f1c9f0bf33,950edd22-b343-4488-affb-faa7d547e98b",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022874F85F35B9AD453AFBAFFBBF6B0A7D5791DD98F4CA60FEC7C1AF41392CF1672\u0022",
        "X-RequestId": "d7aac1f5-b7ff-4ffa-81b7-f28f1448f158"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "950edd22-b343-4488-affb-faa7d547e98b",
            "createdDateTimeUtc": "2021-12-15T19:47:55.5905019Z",
            "lastActionDateTimeUtc": "2021-12-15T19:47:59.8493104Z",
            "status": "Succeeded",
            "summary": {
              "total": 2,
              "failed": 0,
              "success": 2,
              "inProgress": 0,
              "notYetStarted": 0,
              "cancelled": 0,
              "totalCharacterCharged": 54
            }
[...]
