{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcb17319f4-5bbd-4c89-a5ec-76210752a65b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Dec 2021 19:30:28 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9C00159ED8DAE\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 19:30:28 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcb17319f4-5bbd-4c89-a5ec-76210752a65b/d044bb59-03d6-4246-a36f-d460aaac5407.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Dec 2021 19:30:28 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8D9C00159F90449\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 19:30:28 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/targetf973c345-be73-48a6-b1c8-92e4e3904f89?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Dec 2021 19:30:29 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9C0015A4E1528\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 19:30:29 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srcb17319f4-5bbd-4c89-a5ec-76210752a65b?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targetf973c345-be73-48a6-b1c8-92e4e3904f89?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/9d09f87d-634b-44b5-9934-e099b939674e",
        "X-RequestId": "b2b89a63-ae83-440a-80fe-c3ee3c14372e"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/9d09f87d-634b-44b5-9934-e099b939674e",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-RequestId": "b55c084f-b77f-47f3-8ebe-e95d058f38f6"
      },
      "ResponseBody": {
        "id": "9d09f87d-634b-44b5-9934-e099b939674e",
        "createdDateTimeUtc": "2021-12-15T19:30:30.4129997Z",
        "lastActionDateTimeUtc": "2021-12-15T19:30:30.5281419Z",
        "status": "Cancelling",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/9d09f87d-634b-44b5-9934-e099b939674e",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002287567CB0F92552ED53FB59F6312BBA612C5C2AE76A6DD84F26CC987D07D138BB\u0022",
        "X-RequestId": "80ebe12a-21f7-40ca-8940-81e554db2a6a"
      },
      "ResponseBody": {
        "id": "9d09f87d-634b-44b5-9934-e099b939674e",
        "createdDateTimeUtc": "2021-12-15T19:30:30.4129997Z",
        "lastActionDateTimeUtc": "2021-12-15T19:30:35.0983279Z",
        "status": "Cancelled",
        "summary": {
          "total": 8,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 8,
          "totalCharacterCharged": 0
        }
      }
    }
  ],
  "Variables": {
    "source_container_name": "srcb17319f4-5bbd-4c89-a5ec-76210752a65b",
    "target_container_name": "targetf973c345-be73-48a6-b1c8-92e4e3904f89"
  }
}
