{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcc41abc16-0efb-4b67-af12-cac3c4ec83be?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Dec 2021 03:26:38 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9BF7AB43945D1\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 03:26:38 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcc41abc16-0efb-4b67-af12-cac3c4ec83be/500eb108-1669-479d-bec1-e21085f8b0e6.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Dec 2021 03:26:38 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8D9BF7AB4434807\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 03:26:38 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target28afce24-f806-40db-871f-2f129ff15fdb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Dec 2021 03:26:38 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9BF7AB4927C31\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 03:26:38 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022inputs\u0022: [{\u0022source\u0022: {\u0022sourceUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/srcc41abc16-0efb-4b67-af12-cac3c4ec83be?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022filter\u0022: {}}, \u0022targets\u0022: [{\u0022targetUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/target28afce24-f806-40db-871f-2f129ff15fdb?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022language\u0022: \u0022es\u0022}]}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7ba1d666-2246-4eb2-8a89-a6b972739212",
        "X-RequestId": "7baae777-3924-4134-8ef8-39576bcbbedd"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7ba1d666-2246-4eb2-8a89-a6b972739212",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002234EE321B3AC84B197604C96C7013FBFA306EE14E6E798F93FAEEE036518B4A81\u0022",
        "X-RequestId": "fa830af9-0ff2-4d6f-a318-410076f48f33"
      },
      "ResponseBody": {
        "id": "7ba1d666-2246-4eb2-8a89-a6b972739212",
        "createdDateTimeUtc": "2021-12-15T03:26:38.8806507Z",
        "lastActionDateTimeUtc": "2021-12-15T03:26:39.0398362Z",
        "status": "NotStarted",
        "summary": {
          "total": 5,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 5,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7ba1d666-2246-4eb2-8a89-a6b972739212/documents?$skip=0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222EA224E4548E0798DE3AA1B18C2E37F7E073BF6CFD98F2B702FBE776A4DAD114\u0022",
        "X-RequestId": "bb72e6af-7d6e-4c7a-b70d-ab054a0b43f2"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target28afce24-f806-40db-871f-2f129ff15fdb/c273c14c-c4e1-40f4-b1c9-bd1332f939ff.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/srcc41abc16-0efb-4b67-af12-cac3c4ec83be/c273c14c-c4e1-40f4-b1c9-bd1332f939ff.txt",
            "createdDateTimeUtc": "2021-12-15T03:26:40.8592963Z",
            "lastActionDateTimeUtc": "2021-12-15T03:26:44.2132979Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "0019a914-0000-0000-0000-000000000000",
            "characterCharged": 27
          },
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target28afce24-f806-40db-871f-2f129ff15fdb/a62f55b8-f97b-4cc8-ae92-44039e8b5abf.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/srcc41abc16-0efb-4b67-af12-cac3c4ec83be/a62f55b8-f97b-4cc8-ae92-44039e8b5abf.txt",
            "createdDateTimeUtc": "2021-12-15T03:26:40.5709693Z",
            "lastActionDateTimeUtc": "2021-12-15T03:26:43.4923918Z",
            "status": "Succeeded"[...]
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7ba1d666-2246-4eb2-8a89-a6b972739212/documents?$skip=0\u0026ids=0019a914-0000-0000-0000-000000000000,0019a913-0000-0000-0000-000000000000",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022EC9BF533FA28FFA04A42E8A[...]
