{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/documents/formats",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229C1CF8EDA769617CA7678A73A2F05FCF05698216BE3BBBF497A697285B545363\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "f0d6417b-f595-4f2d-8274-b105e65c8e39"
      },
      "ResponseBody": {
        "value": [
          {
            "format": "PlainText",
            "fileExtensions": [
              ".txt"
            ],
            "contentTypes": [
              "text/plain"
            ],
            "versions": []
          },
          {
            "format": "RichTextFormat",
            "fileExtensions": [
              ".rtf"
            ],
            "contentTypes": [
              "application/rtf"
            ],
            "versions": []
          },
          {
            "format": "OpenXmlWord",
            "fileExtensions": [
              ".docx"
            ],
            "contentTypes": [
              "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
          [...]
