{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target5c75559a-372a-408b-bacc-e3fa9210e757?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 19 Feb 2022 01:53:24 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F34A9DB29500\u0022",
        "Last-Modified": "Sat, 19 Feb 2022 01:53:24 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://idont.ex.ist",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target5c75559a-372a-408b-bacc-e3fa9210e757?se=end\u0026sp=wl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/188a8fe1-dbd1-4b98-b4a8-5944698d832f",
        "X-RequestId": "09544827-e3f4-4efd-9f56-234fc62ea938"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/188a8fe1-dbd1-4b98-b4a8-5944698d832f",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002296E5C4E00BE55CE97D37CBC347F75D45C83CA050D8BC9E91C695D00DC2136956\u0022",
        "X-RequestId": "c63279d3-4465-486b-ac69-1b0d2908abe5"
      },
      "ResponseBody": {
        "id": "188a8fe1-dbd1-4b98-b4a8-5944698d832f",
        "createdDateTimeUtc": "2022-02-19T01:53:25.0297278Z",
        "lastActionDateTimeUtc": "2022-02-19T01:53:25.3367916Z",
        "status": "ValidationFailed",
        "error": {
          "code": "InvalidRequest",
          "message": "Cannot access source document location with the current permissions.",
          "target": "Operation",
          "innerError": {
            "code": "InvalidDocumentAccessLevel",
            "message": "Cannot access source document location with the current permissions."
          }
        },
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    }
  ],
  "Variables": {
    "target_container_name": "target5c75559a-372a-408b-bacc-e3fa9210e757"
  }
}
