{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022inputs\u0022: [{\u0022source\u0022: {\u0022sourceUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/srcbc412d80-df14-46cb-aece-76baab019cc6?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022filter\u0022: {}}, \u0022targets\u0022: [{\u0022targetUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/target3e7dbace-992b-4408-ace7-3ebfaa958a77?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022language\u0022: \u0022es\u0022}]}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/dc4f64ef-66eb-4c39-b185-7eb1d9bee273",
        "X-RequestId": "419e65f1-8e94-460f-968d-2bed77e0d33e"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/dc4f64ef-66eb-4c39-b185-7eb1d9bee273",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002202B45938C068D45C79674B0AA5C907935DD87BFE31130863F7AE7218977CDD0C\u0022",
        "X-RequestId": "27a0a9a5-f82b-4862-a20e-58d08e85506e"
      },
      "ResponseBody": {
        "id": "dc4f64ef-66eb-4c39-b185-7eb1d9bee273",
        "createdDateTimeUtc": "2021-12-15T03:27:09.1690204Z",
        "lastActionDateTimeUtc": "2021-12-15T03:27:09.3462319Z",
        "status": "NotStarted",
        "summary": {
          "total": 5,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 5,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/dc4f64ef-66eb-4c39-b185-7eb1d9bee273/documents?$skip=0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223478A2F37BC273CEF954C073F681B44CF6DC2BCF4EDF0CE8A0262C504A448779\u0022",
        "X-RequestId": "e8c98ddb-1a68-4d4d-b193-d83cebc8bd65"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target3e7dbace-992b-4408-ace7-3ebfaa958a77/d1c9fb87-8603-4b84-bdfa-1f5e2a424cf8.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/srcbc412d80-df14-46cb-aece-76baab019cc6/d1c9fb87-8603-4b84-bdfa-1f5e2a424cf8.txt",
            "createdDateTimeUtc": "2021-12-15T03:27:17.1968208Z",
            "lastActionDateTimeUtc": "2021-12-15T03:27:19.8680999Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "0019a92d-0000-0000-0000-000000000000",
            "characterCharged": 27
          },
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target3e7dbace-992b-4408-ace7-3ebfaa958a77/94faccb2-5839-4851-9888-207a85e6ed15.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/srcbc412d80-df14-46cb-aece-76baab019cc6/94faccb2-5839-4851-9888-207a85e6ed15.txt",
            "createdDateTimeUtc": "2021-12-15T03:27:15.9579489Z",
            "lastActionDateTimeUtc": "2021-12-15T03:27:19.2898813Z",
            "status": "Succeeded"[...]
[...]
