{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src07224097-21bc-4aaa-909c-52006f890f20?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target79063b0f-a69d-4a6b-ae8a-0743615d92de?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/c12f8193-98d6-4ada-9171-d1ac4c8498f1",
        "X-RequestId": "daf4c5a5-3c8c-4c64-a2a5-0e7fab4e8547"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/c12f8193-98d6-4ada-9171-d1ac4c8498f1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228F22515A4C9073DA8BACBEFF4A5D8202311FF7A91A0EE733635104C5597324A6\u0022",
        "X-RequestId": "9b74e432-7ae6-4d3b-ae0f-0fe502d982fc"
      },
      "ResponseBody": {
        "id": "c12f8193-98d6-4ada-9171-d1ac4c8498f1",
        "createdDateTimeUtc": "2022-01-25T22:49:57.8089585Z",
        "lastActionDateTimeUtc": "2022-01-25T22:49:58.0962303Z",
        "status": "NotStarted",
        "summary": {
          "total": 25,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 25,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/c12f8193-98d6-4ada-9171-d1ac4c8498f1/documents?$skip=0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022111E1B3166AA899715F8382164E85D4FE7E4E187E395F153DA8AAC86ED2EABED\u0022",
        "X-RequestId": "5edca5fe-e971-4bca-8327-a2743fddf2be"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target79063b0f-a69d-4a6b-ae8a-0743615d92de/ece933cb-82ae-4a16-bc00-27864fbf7fdb.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src07224097-21bc-4aaa-909c-52006f890f20/ece933cb-82ae-4a16-bc00-27864fbf7fdb.txt",
            "createdDateTimeUtc": "2022-01-25T22:50:02.1991492Z",
            "lastActionDateTimeUtc": "2022-01-25T22:50:11.4684637Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "001f0a8f-0000-0000-0000-000000000000",
            "characterCharged": 27
          },
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target79063b0f-a69d-4a6b-ae8a-0743615d92de/f44d3ae5-06dd-4b41-a9a3-20f8d51e59cf.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src07224097-21bc-4aaa-909c-52006f890f20/f44d3ae5-06dd-4b41-a9a3-20f8d51e59cf.txt",
            "createdDateTimeUtc": "2022-01-25T22:50:02.1781754Z",
            "lastActionDateTimeUtc": "2022-01-25T22:50:11.1337616Z",
            "status": "Succeeded"[...]
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/c12f8193-98d6-4ada-9171-d1ac4c8498f1/documents?$skip=3\u0026$maxpagesize=2\u0026ids=001f0a8f-0000-0000-0000-000000000000,001f0aa6-0000-0000-0000-000000000000,001f0a90-0000-0000-0000-000000000000,001f0a91-0000-0000-0000-000000000000,001f0a92-0000-0000-0000-000000000000,001f0a95-0000-0000-0000-000000000000,001f0a93-0000-0000-0000-000000000000,001f0a94-0000-0000-0000-000000000000,001f0a96-[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/c12f8193-98d6-4ada-9171-d1ac4c8498f1/documents?$skip=5\u0026$top=7\u0026$maxpagesize=2\u0026ids=001f0a8f-0000-0000-0000-000000000000,001f0aa6-0000-0000-0000-000000000000,001f0a90-0000-0000-0000-000000000000,001f0a91-0000-0000-0000-000000000000,001f0a92-0000-0000-0000-000000000000,001f0a95-0000-0000-0000-000000000000,001f0a93-0000-0000-0000-000000000000,001f0a94-0000-0000-0000-0000000000[...]
[...]
