{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srcb2229643-bb0d-4afe-a5a9-41c3969d222a?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
              "filter": {
                "prefix": "kwargs"
              }
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target9e3041a2-6c6d-40ff-8461-af494f16c40d?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/56b4d956-18b8-4e53-bf3d-2f46d6aa97b5",
        "X-RequestId": "837b33d8-32ae-40ba-babf-96d8ef70f679"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/56b4d956-18b8-4e53-bf3d-2f46d6aa97b5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223BC39D55C47568116CEBD1428721CAE840B79A756DE54144726DB3DEE6E025E1\u0022",
        "X-RequestId": "91676f12-fc66-441c-94aa-c2b55e3f7481"
      },
      "ResponseBody": {
        "id": "56b4d956-18b8-4e53-bf3d-2f46d6aa97b5",
        "createdDateTimeUtc": "2021-12-15T19:58:06.422549Z",
        "lastActionDateTimeUtc": "2021-12-15T19:58:07.4435379Z",
        "status": "Running",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 0,
          "inProgress": 1,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/56b4d956-18b8-4e53-bf3d-2f46d6aa97b5/documents?$skip=0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226AC69E0E6BAA4404330584A35E0BCC81A6B16FEC9A94B017AD7D9A85B72C12FE\u0022",
        "X-RequestId": "868c458b-1238-4e0a-a7df-f088954aa34e"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target9e3041a2-6c6d-40ff-8461-af494f16c40d/kwargs951144b6-3e70-45e7-9360-41fa19875b21.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/srcb2229643-bb0d-4afe-a5a9-41c3969d222a/kwargs951144b6-3e70-45e7-9360-41fa19875b21.txt",
            "createdDateTimeUtc": "2021-12-15T19:58:07.452142Z",
            "lastActionDateTimeUtc": "2021-12-15T19:58:13.8180605Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "0019b988-0000-0000-0000-000000000000",
            "characterCharged": 11
          }
        ]
      }
    }
  ],
  "Variables": {
    "source_container_name": "srcb2229643-bb0d-4afe-a5a9-41c3969d222a",
    "target_container_name": "target9e3041a2-6c6d-40ff-8461-af494f16c40d"
  }
}
