{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src0fb7c0bb-1c78-4dd0-9fd1-9b1aa5b9a47f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Dec 2021 19:54:45 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9C004BE5115E8\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 19:54:45 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src0fb7c0bb-1c78-4dd0-9fd1-9b1aa5b9a47f/204de57a-1ce8-4d09-8e29-92fde9867bcc.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Dec 2021 19:54:45 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "aGVsbG8gd29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XrY7u\u002BAe7tCTyyK7j1rNww==",
        "ETag": "\u00220x8D9C004BE5671D1\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 19:54:45 GMT",
        "x-ms-content-crc64": "vo7q9sPVKY0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/targeta069b246-533a-444d-9456-efe1c7e43546?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Dec 2021 19:54:45 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9C004BE764BD4\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 19:54:45 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src0fb7c0bb-1c78-4dd0-9fd1-9b1aa5b9a47f?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targeta069b246-533a-444d-9456-efe1c7e43546?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/0ab652d3-e1ed-4388-ae3b-b47d5b4835a4",
        "X-RequestId": "6ec6d5cf-9001-4f93-baa9-d09db275c34a"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/0ab652d3-e1ed-4388-ae3b-b47d5b4835a4",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022D2CCE6D45212A9066A735D1E344322B4C543224CE937AA55B6C46122D5AA8516\u0022",
        "X-RequestId": "48deee7b-ac6d-4c1d-91d6-8219a6745b6f"
      },
      "ResponseBody": {
        "id": "0ab652d3-e1ed-4388-ae3b-b47d5b4835a4",
        "createdDateTimeUtc": "2021-12-15T19:54:46.145584Z",
        "lastActionDateTimeUtc": "2021-12-15T19:54:46.2996798Z",
        "status": "NotStarted",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 1,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/15570933-2f56-414d-9d47-f6a8582d4883",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022EE9E71112AE1098771330B3A68811C7C02D9BAF4B671A143CEE77984C4DD792A\u0022",
        "X-RequestId": "8c041829-5f54-43cf-aa4c-87812352b1b3"
      },
      "ResponseBody": {
        "id": "15570933-2f56-414d-9d47-f6a8582d4883",
        "createdDateTimeUtc": "2021-12-15T19:54:52.5904803Z",
        "lastActionDateTimeUtc": "2021-12-15T19:54:55.1885191Z",
        "status": "Succeeded",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 1,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 11
        }
      }
    }
  ],
  "Variables": {
    "source_container_name": "src0fb7c0bb-1c78-4dd0-9fd1-9b1aa5b9a47f",
    "target_container_name": "targeta069b246-533a-444d-9456-efe1c7e43546",
    "target_container_name2": "targeteb37c7c1-5b74-424d-868b-e76c84580a83"
  }
}
