{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022inputs\u0022: [{\u0022source\u0022: {\u0022sourceUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/src1fb32a44-a0c8-4709-a976-73f74907eff6?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022filter\u0022: {}}, \u0022targets\u0022: [{\u0022targetUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/targetda80ee62-dcd7-4486-9164-d8384f2f9518?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022language\u0022: \u0022es\u0022}]}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/63ca7eb5-715d-4738-95ae-e0593138f436",
        "X-RequestId": "3143eae4-db69-45f5-9d5e-cdf8666cb46f"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/63ca7eb5-715d-4738-95ae-e0593138f436",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022C15C3016FE10F4984CE5E1A0CB287A28480FA647E69E3C67CE4B17F5D283EDF8\u0022",
        "X-RequestId": "d33dcbfa-096a-44b5-b4cc-c4bc8faad685"
      },
      "ResponseBody": {
        "id": "63ca7eb5-715d-4738-95ae-e0593138f436",
        "createdDateTimeUtc": "2021-12-15T03:44:45.799318Z",
        "lastActionDateTimeUtc": "2021-12-15T03:44:46.0097001Z",
        "status": "NotStarted",
        "summary": {
          "total": 2,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 2,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?$skip=0\u0026$orderBy=createdDateTimeUtc desc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222683B3892D0949D36A4C3EC972B131E78B607959BDA53F80C756397F423A3D4F\u0022",
        "X-RequestId": "eeb44e5b-f5ad-4522-883c-96ec27a8cfd4"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "26b54090-f5e7-4fa4-a56c-5611c1efd6f5",
            "createdDateTimeUtc": "2021-12-15T03:45:00.8870291Z",
            "lastActionDateTimeUtc": "2021-12-15T03:45:06.3919448Z",
            "status": "Succeeded",
            "summary": {
              "total": 2,
              "failed": 0,
              "success": 2,
              "inProgress": 0,
              "notYetStarted": 0,
              "cancelled": 0,
              "totalCharacterCharged": 54
            }
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?$skip=50\u0026$top=185\u0026$maxpagesize=50\u0026$orderBy=createdDateTimeUtc\u002Bdesc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022EA69737444D56EAE9515D5D6CC4E041130C672B98135B6CE80AFFB51955D2675\u0022",
 [...]
[...]
