{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src0ae16d36-eddf-4784-b6f6-d0541cdbb076?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targetac680a18-2fbe-4506-8b2a-4039ba9153e0?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/9207cf4a-b336-49e2-b2a9-d56be85d7a87",
        "X-RequestId": "1e359490-ac49-4bec-bd43-6dec2d00a093"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/9207cf4a-b336-49e2-b2a9-d56be85d7a87",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224675B1F3231BC8DC215774C3E6F6B5A66C23DBB7C8DCADD5C03E2D52254A27EB\u0022",
        "X-RequestId": "250f030e-8f82-411d-a857-c4294fdca677"
      },
      "ResponseBody": {
        "id": "9207cf4a-b336-49e2-b2a9-d56be85d7a87",
        "createdDateTimeUtc": "2021-12-15T19:55:41.8337504Z",
        "lastActionDateTimeUtc": "2021-12-15T19:55:41.9896774Z",
        "status": "NotStarted",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 1,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/9207cf4a-b336-49e2-b2a9-d56be85d7a87/documents?$skip=0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022060FB4913616A1298F78C4C77004AE853999E7DE7C0E2DEB4571AA83D9818D81\u0022",
        "X-RequestId": "a15ed497-8d1d-4076-b84b-0984b83de220"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/targetac680a18-2fbe-4506-8b2a-4039ba9153e0/42fb8c3f-aab2-492b-b531-9d17d03cd016.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src0ae16d36-eddf-4784-b6f6-d0541cdbb076/42fb8c3f-aab2-492b-b531-9d17d03cd016.txt",
            "createdDateTimeUtc": "2021-12-15T19:55:45.1850824Z",
            "lastActionDateTimeUtc": "2021-12-15T19:55:47.0867089Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "0019b971-0000-0000-0000-000000000000",
            "characterCharged": 17
          }
        ]
      }
    }
  ],
  "Variables": {
    "source_container_name": "src0ae16d36-eddf-4784-b6f6-d0541cdbb076",
    "target_container_name": "targetac680a18-2fbe-4506-8b2a-4039ba9153e0"
  }
}
