{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srcedea408e-7602-4a53-a881-cc49a4842466?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://idont.ex.ist",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/20adbdf4-74c9-40c0-b36b-c6f1a62350cf",
        "X-RequestId": "81b8b632-66e1-4c82-a841-a97276a702ca"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/20adbdf4-74c9-40c0-b36b-c6f1a62350cf",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022366177C8CAEB16B3F9C5F15AA64BD11201CD47AA93518EC5872B42BB02A89F9B\u0022",
        "X-RequestId": "fe3c8d88-5399-4582-a2ce-3e3e87576081"
      },
      "ResponseBody": {
        "id": "20adbdf4-74c9-40c0-b36b-c6f1a62350cf",
        "createdDateTimeUtc": "2021-12-15T19:56:27.0220302Z",
        "lastActionDateTimeUtc": "2021-12-15T19:56:27.1825216Z",
        "status": "ValidationFailed",
        "error": {
          "code": "InvalidRequest",
          "message": "Cannot access target document location with the current permissions.",
          "target": "Operation",
          "innerError": {
            "code": "InvalidTargetDocumentAccessLevel",
            "message": "Cannot access target document location with the current permissions."
          }
        },
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    }
  ],
  "Variables": {
    "source_container_name": "srcedea408e-7602-4a53-a881-cc49a4842466"
  }
}
