{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src1f7be80e-5260-47a6-adb4-5d0d2130a5e4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 19 Feb 2022 01:43:34 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F3493DEBD1E1\u0022",
        "Last-Modified": "Sat, 19 Feb 2022 01:43:34 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src1f7be80e-5260-47a6-adb4-5d0d2130a5e4/80e8c433-f054-465c-91f5-4e5a89925f47.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 19 Feb 2022 01:43:34 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8D9F3493DF24AF7\u0022",
        "Last-Modified": "Sat, 19 Feb 2022 01:43:34 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target3a52685a-9bad-4727-9a0b-b8a1c81958e0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 19 Feb 2022 01:43:34 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F3493E143B8D\u0022",
        "Last-Modified": "Sat, 19 Feb 2022 01:43:34 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src1f7be80e-5260-47a6-adb4-5d0d2130a5e4?se=end\u0026sp=rl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target3a52685a-9bad-4727-9a0b-b8a1c81958e0?se=end\u0026sp=wl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/1e23fff3-3757-43e0-9c05-799d4718f7a7",
        "X-RequestId": "b338b935-88b9-4822-8d62-3afd33568d85"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/1e23fff3-3757-43e0-9c05-799d4718f7a7",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227A799457EF70EFA47C3638FD83A2E3131ECAE96D65EC12BCE693A5A92E5BF939\u0022",
        "X-RequestId": "a8d1a82a-68f6-4d54-b32a-bfcb5adefae9"
      },
      "ResponseBody": {
        "id": "1e23fff3-3757-43e0-9c05-799d4718f7a7",
        "createdDateTimeUtc": "2022-02-19T01:43:35.1353686Z",
        "lastActionDateTimeUtc": "2022-02-19T01:43:35.5920005Z",
        "status": "NotStarted",
        "summary": {
          "total": 2,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 2,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?$orderBy=createdDateTimeUtc%20asc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225153411514802CC4F5179DE5BC98B5DFD73344F9703B0788D07D7290CFB2035C\u0022",
        "X-RequestId": "2b8f8786-8ee7-4a25-b302-ab5fd51475eb"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "af20c502-f942-488a-9a52-4a5803f66fda",
            "createdDateTimeUtc": "2022-02-02T01:08:46.2000209Z",
            "lastActionDateTimeUtc": "2022-02-02T01:08:48.6660147Z",
            "status": "Cancelled",
            "summary": {
              "total": 8,
              "failed": 0,
              "success": 0,
              "inProgress": 0,
              "notYetStarted": 0,
              "cancelled": 8,
              "totalCharacterCharged": 0
            }
 [...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?$skip=50\u0026$top=193\u0026$maxpagesize=50\u0026$orderBy=createdDateTimeUtc%20asc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229B3A89C8F00B6D6F0E564ADF72CEB1E40AC5DCBBFE39B86848E3D6217D4E35B7\u0022",
     [...]
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?$skip=150\u0026$top=93\u0026$maxpagesize=50\u0026$orderBy=createdDateTimeUtc%20asc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002295C42EC48A2F38068E9CA54FB94AAC2E2976EA93B2C3CAC15C23E5D4927B87A5\u0022",
        "X-RequestId": "d593f75c-9b99-4f64-8aa1-1e2701cbe233"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1f6fc64e-2a9f-455e-a755-45ec3f697daa",
            "createdDateTimeUtc": "2022-02-19T00:10:30.0590648Z",
            "lastActionDateTimeUtc": "2022-02-19T00:10:30.1991247Z",
            "status": "Failed",
            "error": {
              "code": "InvalidRequest",
              "message": "Target document file already exists.",
              "target": "Operation",
              "innerError": {
                "code": "TargetFileAlreadyExists",
                "message": "Target document file already exists."
              }
            },
            "summary": {
              "total": 1,
              "failed": 1,
              "success": 0,
              "inProgress": 0,
              "notYetStarted": 0,
              "cancelled": 0,
              "totalCharacterCharged": 0
            }
          },
          {
            "id": "ee307715-4dc5-4e1e-85e8-e010383b5dc0",
          [...]
[...]
