{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcb1e5d2ea-e024-4af3-bc0f-8702a318e510?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Dec 2021 19:31:57 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9C0018EF790CE\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 19:31:57 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcb1e5d2ea-e024-4af3-bc0f-8702a318e510/0cb870f4-ffc5-4313-8f03-4653d55bd4fc.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Dec 2021 19:31:57 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8D9C0018EFCEC90\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 19:31:57 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/targetffb748bd-8084-4cd5-93ad-0b2f4b9e9b49?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Dec 2021 19:31:58 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9C0018F472B0B\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 19:31:58 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srcb1e5d2ea-e024-4af3-bc0f-8702a318e510?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targetffb748bd-8084-4cd5-93ad-0b2f4b9e9b49?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/c83ca5f3-e5d2-4d98-a58c-fcb597f3e072",
        "X-RequestId": "1ddd067e-946b-4dbd-9395-ff6cdeff5276"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/c83ca5f3-e5d2-4d98-a58c-fcb597f3e072",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222636AC8E46D680F33808B6648AA5ED0B73657FC6403C13463FD7CA551D4ABDED\u0022",
        "X-RequestId": "010e0c83-9936-4f91-aafd-73578bc6db6d"
      },
      "ResponseBody": {
        "id": "c83ca5f3-e5d2-4d98-a58c-fcb597f3e072",
        "createdDateTimeUtc": "2021-12-15T19:31:58.259585Z",
        "lastActionDateTimeUtc": "2021-12-15T19:31:58.5118454Z",
        "status": "NotStarted",
        "summary": {
          "total": 10,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 10,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/c83ca5f3-e5d2-4d98-a58c-fcb597f3e072/documents?$skip=0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227236EEC2293EEADC5956E0796FC4D02CC1EF90F0E65FDCE7C9EDACAC8AD78968\u0022",
        "X-RequestId": "1ab23752-5de8-487a-8621-9ac8567785e7"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/targetffb748bd-8084-4cd5-93ad-0b2f4b9e9b49/efeb13bf-7349-4872-8e0b-3ad725a762b6.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/srcb1e5d2ea-e024-4af3-bc0f-8702a318e510/efeb13bf-7349-4872-8e0b-3ad725a762b6.txt",
            "createdDateTimeUtc": "2021-12-15T19:32:07.1237566Z",
            "lastActionDateTimeUtc": "2021-12-15T19:32:12.4055985Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "0019b7ed-0000-0000-0000-000000000000",
            "characterCharged": 27
          },
          {
            "path": "https://fakeendpoint.blob.core.windows.net/targetffb748bd-8084-4cd5-93ad-0b2f4b9e9b49/ed5b299e-0eaa-429c-9a27-ae680769c944.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/srcb1e5d2ea-e024-4af3-bc0f-8702a318e510/ed5b299e-0eaa-429c-9a27-ae680769c944.txt",
            "createdDateTimeUtc": "2021-12-15T19:32:07.1046749Z",
            "lastActionDateTimeUtc": "2021-12-15T19:32:12.4238711Z",
            "status": "Succeeded"[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/c83ca5f3-e5d2-4d98-a58c-fcb597f3e072/documents?$skip=0\u0026statuses=NotStarted",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022A338F7935CC82BC2B3F87BA1C74FD5AC1247CDCBF154A4B02ADDD34C836F2609\u0022",
        "X-RequestId": "6541c673-59af-4f89-bfe3-9daa09c543c5"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/c83ca5f3-e5d2-4d98-a58c-fcb597f3e072/documents?$skip=0\u0026statuses=Succeeded",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227236EEC2293EEADC5956E0796FC4D02CC1EF90F0E65FDCE7C9EDACAC8AD78968\u0022",
        "[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/c83ca5f3-e5d2-4d98-a58c-fcb597f3e072/documents?$skip=0\u0026statuses=Failed",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022A338F7935CC82BC2B3F87BA1C74FD5AC1247CDCBF154A4B02ADDD34C836F2609\u0022",
        "X-RequestId": "952af84d-0e00-4336-995e-8140c825d85f"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "source_container_name": "srcb1e5d2ea-e024-4af3-bc0f-8702a318e510",
    "target_container_name": "targetffb748bd-8084-4cd5-93ad-0b2f4b9e9b49"
  }
}
