{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcc76eb6a4-b91a-4053-ada6-642cfe7461d7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jan 2022 23:02:34 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9E056C61C72A4\u0022",
        "Last-Modified": "Tue, 25 Jan 2022 23:02:34 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcc76eb6a4-b91a-4053-ada6-642cfe7461d7/document.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 25 Jan 2022 23:02:34 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8D9E056C623E226\u0022",
        "Last-Modified": "Tue, 25 Jan 2022 23:02:34 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target4f3cdf0a-eac6-4423-9ccc-1224b5ba411c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jan 2022 23:02:34 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9E056C64C2E36\u0022",
        "Last-Modified": "Tue, 25 Jan 2022 23:02:34 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target4f3cdf0a-eac6-4423-9ccc-1224b5ba411c/document.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 25 Jan 2022 23:02:34 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8D9E056C652DA90\u0022",
        "Last-Modified": "Tue, 25 Jan 2022 23:02:34 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srcc76eb6a4-b91a-4053-ada6-642cfe7461d7?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target4f3cdf0a-eac6-4423-9ccc-1224b5ba411c?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d412c3c6-3f22-4384-bc50-c9e716e5af16",
        "X-RequestId": "f938e832-94f1-42e0-a093-ecffcd993bc9"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d412c3c6-3f22-4384-bc50-c9e716e5af16",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002242F9D526A09785461E13CD9030BE30C7ACD0413ADA0F52C20CF2F95EBD78CB3D\u0022",
        "X-RequestId": "e9f16acc-f5e2-4ae3-baa9-6e481474bebe"
      },
      "ResponseBody": {
        "id": "d412c3c6-3f22-4384-bc50-c9e716e5af16",
        "createdDateTimeUtc": "2022-01-25T23:02:35.1560645Z",
        "lastActionDateTimeUtc": "2022-01-25T23:02:35.254726Z",
        "status": "Failed",
        "error": {
          "code": "InvalidRequest",
          "message": "Target document file already exists.",
          "target": "Operation",
          "innerError": {
            "code": "TargetFileAlreadyExists",
            "message": "Target document file already exists."
          }
        },
        "summary": {
          "total": 1,
          "failed": 1,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d412c3c6-3f22-4384-bc50-c9e716e5af16/documents?$skip=0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002293C4C3911E0C7F421A702C5255D789FE5ECAD1927113CB0B0F4276F1589A3C01\u0022",
        "X-RequestId": "426ba87e-64aa-4e13-be84-9b0b09c44c29"
      },
      "ResponseBody": {
        "value": [
          {
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/srcc76eb6a4-b91a-4053-ada6-642cfe7461d7/document.txt",
            "lastActionDateTimeUtc": "2022-01-25T23:02:35.254568Z",
            "status": "Failed",
            "to": "es",
            "error": {
              "code": "InvalidRequest",
              "message": "Target document file already exists.",
              "target": "Document",
              "innerError": {
                "code": "TargetFileAlreadyExists",
                "message": "Target document file already exists."
              }
            },
            "progress": 0,
            "id": "001f133d-0000-0000-0000-000000000000",
            "characterCharged": 0
          }
        ]
      }
    }
  ],
  "Variables": {
    "source_container_name": "srcc76eb6a4-b91a-4053-ada6-642cfe7461d7",
    "target_container_name": "target4f3cdf0a-eac6-4423-9ccc-1224b5ba411c"
  }
}
