{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src138f44a5-fae8-4405-afdd-d64b3c7c35bc?se=end\u0026sp=rl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target4434de8d-2511-479d-8bc6-63327fc36937?se=end\u0026sp=wl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d74466ba-9878-4880-96ce-7c29a8cff8a9",
        "x-ms-region": "West US 2",
        "X-RequestId": "8898e121-9f09-45e0-b3d2-897b60f974f1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d74466ba-9878-4880-96ce-7c29a8cff8a9",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227E4479B32F9B8DC8AD1E30C2711442D86259EF13FF58BB3FB5165543EED7216F\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "60372d30-dc96-4add-82fd-871ce4682786"
      },
      "ResponseBody": {
        "id": "d74466ba-9878-4880-96ce-7c29a8cff8a9",
        "createdDateTimeUtc": "2022-12-01T22:51:22.1199094Z",
        "lastActionDateTimeUtc": "2022-12-01T22:51:22.1516702Z",
        "status": "Failed",
        "error": {
          "code": "InvalidRequest",
          "message": "Target document file already exists.",
          "target": "Operation",
          "innerError": {
            "code": "TargetFileAlreadyExists",
            "message": "Target document file already exists."
          }
        },
        "summary": {
          "total": 1,
          "failed": 1,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d74466ba-9878-4880-96ce-7c29a8cff8a9/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022DBFDF0773D66C534115E16674B404DE2B4A8F1D73E319A71DEF59CE71562542B\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "245fa457-3262-460b-b047-f665a7898ea2"
      },
      "ResponseBody": {
        "value": [
          {
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src138f44a5-fae8-4405-afdd-d64b3c7c35bc/document.txt",
            "lastActionDateTimeUtc": "2022-12-01T22:51:22.151587Z",
            "status": "Failed",
            "to": "es",
            "error": {
              "code": "InvalidRequest",
              "message": "Target document file already exists.",
              "target": "Document",
              "innerError": {
                "code": "TargetFileAlreadyExists",
                "message": "Target document file already exists."
              }
            },
            "progress": 0,
            "id": "005b323a-0000-0000-0000-000000000000",
            "characterCharged": 0
          }
        ]
      }
    }
  ],
  "Variables": {
    "source_container_name": "src138f44a5-fae8-4405-afdd-d64b3c7c35bc",
    "target_container_name": "target4434de8d-2511-479d-8bc6-63327fc36937"
  }
}
