{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src1b7dba55-f7b2-4671-832d-1db58aea1a0f?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target3d6caa77-2e24-4719-bb3e-ccda943c3728?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/f25a6ac1-92b3-4ad3-a8e2-22f3ce9b2675",
        "X-RequestId": "4e704c0f-cbb1-4819-9f2c-20550650804f"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/f25a6ac1-92b3-4ad3-a8e2-22f3ce9b2675",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002277C6E8B99A33E788093FEA0AE3496F921BAF54C1BAC168F856139C2E7438C741\u0022",
        "X-RequestId": "56bdbbb0-8ee4-40f1-946e-482f37b62e18"
      },
      "ResponseBody": {
        "id": "f25a6ac1-92b3-4ad3-a8e2-22f3ce9b2675",
        "createdDateTimeUtc": "2021-12-15T19:31:10.2169629Z",
        "lastActionDateTimeUtc": "2021-12-15T19:31:10.4453426Z",
        "status": "NotStarted",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 1,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/f25a6ac1-92b3-4ad3-a8e2-22f3ce9b2675/documents?$skip=0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002273F05DF2A6099E8E988C2EC04723698850990D15A2DD903A8190040BC04920B9\u0022",
        "X-RequestId": "8a462e9e-28a2-4ef8-b410-a3ccdfb9bd8a"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target3d6caa77-2e24-4719-bb3e-ccda943c3728/f90821ed-ae0a-4f87-923a-6455cb4773c0.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src1b7dba55-f7b2-4671-832d-1db58aea1a0f/f90821ed-ae0a-4f87-923a-6455cb4773c0.txt",
            "createdDateTimeUtc": "2021-12-15T19:31:12.256631Z",
            "lastActionDateTimeUtc": "2021-12-15T19:31:14.7466924Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "0019b7ca-0000-0000-0000-000000000000",
            "characterCharged": 17
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/f25a6ac1-92b3-4ad3-a8e2-22f3ce9b2675/documents/0019b7ca-0000-0000-0000-000000000000",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224C2E6BAC32A668853CBFCA1BF205B8B11017E06B5643A7BDBCD8AF1E3E19C611\u0022",
        "X-RequestId": "0c5d47d4-3b86-40ed-b1d4-e9a6c37657ba"
      },
      "ResponseBody": {
        "path": "https://fakeendpoint.blob.core.windows.net/target3d6caa77-2e24-4719-bb3e-ccda943c3728/f90821ed-ae0a-4f87-923a-6455cb4773c0.txt",
        "sourcePath": "https://fakeendpoint.blob.core.windows.net/src1b7dba55-f7b2-4671-832d-1db58aea1a0f/f90821ed-ae0a-4f87-923a-6455cb4773c0.txt",
        "createdDateTimeUtc": "2021-12-15T19:31:12.256631Z",
        "lastActionDateTimeUtc": "2021-12-15T19:31:14.7466924Z",
        "status": "Succeeded",
        "to": "es",
        "progress": 1,
        "id": "0019b7ca-0000-0000-0000-000000000000",
        "characterCharged": 17
      }
    }
  ],
  "Variables": {
    "source_container_name": "src1b7dba55-f7b2-4671-832d-1db58aea1a0f",
    "target_container_name": "target3d6caa77-2e24-4719-bb3e-ccda943c3728"
  }
}
