{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://idont.ex.ist",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target37a78631-ba7a-4840-8e92-2a0f980155d8?se=end\u0026sp=wl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/91e48ef0-317f-4e16-84c3-1cfdb14902bc",
        "X-RequestId": "cba9fd5a-d4a5-41cb-9289-90dc6e75618f"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/91e48ef0-317f-4e16-84c3-1cfdb14902bc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022A980C45BA310DCAF8EEC82DE8D0AD35B56DF18231377ECB1B9547BAD9FEAF1F1\u0022",
        "X-RequestId": "0ffbe44b-f757-42d2-9af5-29e2039fee73"
      },
      "ResponseBody": {
        "id": "91e48ef0-317f-4e16-84c3-1cfdb14902bc",
        "createdDateTimeUtc": "2022-02-19T01:55:46.0716471Z",
        "lastActionDateTimeUtc": "2022-02-19T01:55:46.2123927Z",
        "status": "ValidationFailed",
        "error": {
          "code": "InvalidRequest",
          "message": "Cannot access source document location with the current permissions.",
          "target": "Operation",
          "innerError": {
            "code": "InvalidDocumentAccessLevel",
            "message": "Cannot access source document location with the current permissions."
          }
        },
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    }
  ],
  "Variables": {
    "target_container_name": "target37a78631-ba7a-4840-8e92-2a0f980155d8"
  }
}
