{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src58cdb218-b715-4016-be81-366614bb178a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 01 Dec 2022 22:38:07 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD3ECC0D59D4D\u0022",
        "Last-Modified": "Thu, 01 Dec 2022 22:38:22 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src58cdb218-b715-4016-be81-366614bb178a/53190da6-4ef7-416e-aa2c-c90e161aaa05.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 01 Dec 2022 22:38:07 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8DAD3ECC0DC2DB5\u0022",
        "Last-Modified": "Thu, 01 Dec 2022 22:38:22 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/targetd727d919-a131-4fff-9bc8-93e039b02570?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 01 Dec 2022 22:38:07 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD3ECC0FE2DF0\u0022",
        "Last-Modified": "Thu, 01 Dec 2022 22:38:22 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src58cdb218-b715-4016-be81-366614bb178a?se=end\u0026sp=rl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targetd727d919-a131-4fff-9bc8-93e039b02570?se=end\u0026sp=wl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/9fc484b0-4882-4afc-bb7c-a2d9c4cdea5c",
        "x-ms-region": "West US 2",
        "X-RequestId": "a653086c-d910-452e-bd90-daa842d6b3fa"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/9fc484b0-4882-4afc-bb7c-a2d9c4cdea5c",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222C35FAD161918A91D115C1E55A05D206DC7ABF7574B525ACAC300EF142B31D59\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "b2ba6c43-0085-4f17-aca0-6c7813572a03"
      },
      "ResponseBody": {
        "id": "9fc484b0-4882-4afc-bb7c-a2d9c4cdea5c",
        "createdDateTimeUtc": "2022-12-01T22:38:23.1561268Z",
        "lastActionDateTimeUtc": "2022-12-01T22:38:23.1970671Z",
        "status": "NotStarted",
        "summary": {
          "total": 2,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 2,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/9fc484b0-4882-4afc-bb7c-a2d9c4cdea5c",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "policy-id": "ResourceRateLimitBy1s",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "error": {
          "code": "429",
          "message": "Requests to the Returns the status for a document translation request Operation under Batch Document Translation API v1.0 have exceeded rate limit of your current TextTranslator S1 pricing tier. Please retry after 1 second. Please contact Azure support service if you would like to further increase the default rate limit."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?ids=9fc484b0-4882-4afc-bb7c-a2d9c4cdea5c,0ae703b3-2b77-4f97-a443-5b8cef27afa1,42a357fb-ad98-407f-ade4-30db5428e462",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022E3361F54A77C65AC2379F75098297EC8F4116DA1F079EB19F9D930013E755B31\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "4f504806-7d68-4a11-b68e-f3d6aef97eec"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "42a357fb-ad98-407f-ade4-30db5428e462",
            "createdDateTimeUtc": "2022-12-01T22:38:37.4626243Z",
            "lastActionDateTimeUtc": "2022-12-01T22:38:44.1225829Z",
            "status": "Succeeded",
            "summary": {
              "total": 2,
              "failed": 0,
              "success": 2,
              "inProgress": 0,
              "notYetStarted": 0,
              "cancelled": 0,
              "totalCharacterCharged": 54
            }
[...]
