{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022inputs\u0022: [{\u0022source\u0022: {\u0022sourceUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/src1ebab0de-d20a-423a-8050-c654032b61ed?se=end\u0026sp=rl\u0026sv=2020-10-02\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022filter\u0022: {}}, \u0022targets\u0022: [{\u0022targetUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/target237d0c12-4edc-4b4c-ab46-b9c821dafc69?se=end\u0026sp=wl\u0026sv=2020-10-02\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022language\u0022: \u0022es\u0022}]}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7d4cd689-fc03-41a3-bcc5-7486616afa28",
        "X-RequestId": "ce4b42f3-8136-4b0a-bbe7-6301c64cf4bb"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7d4cd689-fc03-41a3-bcc5-7486616afa28",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022819193D726A72ECE9D278D3AB10C9844563998AC8CC20B685E1AAA3AF2A6A0EE\u0022",
        "X-RequestId": "a91068ee-33c9-424f-80e9-e3cf08d791e6"
      },
      "ResponseBody": {
        "id": "7d4cd689-fc03-41a3-bcc5-7486616afa28",
        "createdDateTimeUtc": "2021-11-22T23:43:19.8120916Z",
        "lastActionDateTimeUtc": "2021-11-22T23:43:20.0943381Z",
        "status": "NotStarted",
        "summary": {
          "total": 10,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 10,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7d4cd689-fc03-41a3-bcc5-7486616afa28/documents?$skip=0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223BC8878AE95AD38EE451FB5484286AB1D0D1E2AE286DB370B62481149BD5A8AC\u0022",
        "X-RequestId": "71eaa250-c3eb-4032-97b8-0101deb5368c"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target237d0c12-4edc-4b4c-ab46-b9c821dafc69/f95bb3c0-2fb9-4ddd-a391-faa33c5ba17e.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src1ebab0de-d20a-423a-8050-c654032b61ed/f95bb3c0-2fb9-4ddd-a391-faa33c5ba17e.txt",
            "createdDateTimeUtc": "2021-11-22T23:43:27.4068344Z",
            "lastActionDateTimeUtc": "2021-11-22T23:43:30.2268147Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "0016aa2a-0000-0000-0000-000000000000",
            "characterCharged": 27
          },
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target237d0c12-4edc-4b4c-ab46-b9c821dafc69/e8a54b43-12ad-4824-91fb-f4853f4646d5.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src1ebab0de-d20a-423a-8050-c654032b61ed/e8a54b43-12ad-4824-91fb-f4853f4646d5.txt",
            "createdDateTimeUtc": "2021-11-22T23:43:27.3995422Z",
            "lastActionDateTimeUtc": "2021-11-22T23:43:30.2277768Z",
            "status": "Succeeded"[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7d4cd689-fc03-41a3-bcc5-7486616afa28/documents?$skip=0\u0026statuses=NotStarted",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022620F9CF29B9DBA729713926D955A6335179B08C3C6490FFF99F32826108D3E4E\u0022",
        "X-RequestId": "27c34925-fadf-4012-8906-9f4adfac9e97"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7d4cd689-fc03-41a3-bcc5-7486616afa28/documents?$skip=0\u0026statuses=Succeeded",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223BC8878AE95AD38EE451FB5484286AB1D0D1E2AE286DB370B62481149BD5A8AC\u0022",
        "[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7d4cd689-fc03-41a3-bcc5-7486616afa28/documents?$skip=0\u0026statuses=Failed",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022620F9CF29B9DBA729713926D955A6335179B08C3C6490FFF99F32826108D3E4E\u0022",
        "X-RequestId": "bea81ceb-8e92-46a6-b166-dbc550dcdb23"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "source_container_name": "src1ebab0de-d20a-423a-8050-c654032b61ed",
    "target_container_name": "target237d0c12-4edc-4b4c-ab46-b9c821dafc69"
  }
}
