{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src14681e91-1211-45d3-ba88-c850ce62b7ed?se=end\u0026sp=rl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target6e7e3001-727d-42dd-8ad1-e1dfb5792106?se=end\u0026sp=wl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/a3483060-8db8-415f-aebf-14c30880b2a8",
        "X-RequestId": "46ce9747-3ed7-4fea-93bb-7eab81a96999"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/a3483060-8db8-415f-aebf-14c30880b2a8",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223C8615FA6AFBB0C761F4708CA923D7B8E3646E1579903693DB1D57A659ABA17D\u0022",
        "X-RequestId": "fe242734-ee22-477c-9390-6346de215ac5"
      },
      "ResponseBody": {
        "id": "a3483060-8db8-415f-aebf-14c30880b2a8",
        "createdDateTimeUtc": "2022-02-19T01:35:16.4497502Z",
        "lastActionDateTimeUtc": "2022-02-19T01:35:16.6389932Z",
        "status": "NotStarted",
        "summary": {
          "total": 10,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 10,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/a3483060-8db8-415f-aebf-14c30880b2a8/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226C854BC2B8401A7AB248DA95E073BE6F517F261165ABB881AA633E83D91C61E2\u0022",
        "X-RequestId": "93e5158a-985e-4966-91af-ebbe67b50e4f"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target6e7e3001-727d-42dd-8ad1-e1dfb5792106/c94f6f79-c113-48c3-8566-956b77253722.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src14681e91-1211-45d3-ba88-c850ce62b7ed/c94f6f79-c113-48c3-8566-956b77253722.txt",
            "createdDateTimeUtc": "2022-02-19T01:35:22.5586489Z",
            "lastActionDateTimeUtc": "2022-02-19T01:35:26.04606Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "00245d36-0000-0000-0000-000000000000",
            "characterCharged": 27
          },
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target6e7e3001-727d-42dd-8ad1-e1dfb5792106/b614c78c-0070-496d-9b81-a70f9be9341c.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src14681e91-1211-45d3-ba88-c850ce62b7ed/b614c78c-0070-496d-9b81-a70f9be9341c.txt",
            "createdDateTimeUtc": "2022-02-19T01:35:22.5416412Z",
            "lastActionDateTimeUtc": "2022-02-19T01:35:26.3424923Z",
            "status": "Succeeded"[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/a3483060-8db8-415f-aebf-14c30880b2a8/documents?statuses=NotStarted",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022F7941DD702CCB36632A41DF2BA3C3D0514F1891904AE17B72E40E51B920835F3\u0022",
        "X-RequestId": "7877bb99-e9f7-42ce-bc81-336b76c25d74"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/a3483060-8db8-415f-aebf-14c30880b2a8/documents?statuses=Succeeded",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226C854BC2B8401A7AB248DA95E073BE6F517F261165ABB881AA633E83D91C61E2\u0022",
        "X-RequestId":[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/a3483060-8db8-415f-aebf-14c30880b2a8/documents?statuses=Failed",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022F7941DD702CCB36632A41DF2BA3C3D0514F1891904AE17B72E40E51B920835F3\u0022",
        "X-RequestId": "a6874ee8-6727-4a19-87de-053bcac1673d"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "source_container_name": "src14681e91-1211-45d3-ba88-c850ce62b7ed",
    "target_container_name": "target6e7e3001-727d-42dd-8ad1-e1dfb5792106"
  }
}
