{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src4ccb2cbd-74cf-432e-856b-085499cbd5da?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targetf582b505-f2b3-44cd-b020-3f6069e84f9e?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/872894d5-d9aa-49d1-9a94-aedc11ad8d5e",
        "X-RequestId": "609fe65a-f76e-41fa-9c31-1c96b578a1d3"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/872894d5-d9aa-49d1-9a94-aedc11ad8d5e",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002222482AC054992F780A09C53CC1841820E8742FCC59A59FA2D9B5C8CCBB0B8B55\u0022",
        "X-RequestId": "fef47688-a396-4f01-aefb-c5e85063a722"
      },
      "ResponseBody": {
        "id": "872894d5-d9aa-49d1-9a94-aedc11ad8d5e",
        "createdDateTimeUtc": "2021-12-15T19:57:30.4295471Z",
        "lastActionDateTimeUtc": "2021-12-15T19:57:30.6092469Z",
        "status": "NotStarted",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 1,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/ac5fcaa7-95e6-45ea-a92b-7082d92828cf",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022B1A5F3BCA3EB3AF50A61746584B27BCA60A8EBF845984F661873F00CEF469E44\u0022",
        "X-RequestId": "a43b1574-6088-4f9a-ab42-41bfed2a39d6"
      },
      "ResponseBody": {
        "id": "ac5fcaa7-95e6-45ea-a92b-7082d92828cf",
        "createdDateTimeUtc": "2021-12-15T19:57:42.0804496Z",
        "lastActionDateTimeUtc": "2021-12-15T19:57:48.7805054Z",
        "status": "Succeeded",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 1,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 11
        }
      }
    }
  ],
  "Variables": {
    "source_container_name": "src4ccb2cbd-74cf-432e-856b-085499cbd5da",
    "target_container_name": "targetf582b505-f2b3-44cd-b020-3f6069e84f9e",
    "target_container_name2": "target0677df4f-b060-44f4-a47f-c97bb1de51b9"
  }
}
