{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srcf3698319-d228-45fc-965a-1466c1018a69?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target1e0df431-0916-44dd-904d-6b057054797b?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          },
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src19ddb2d5-0e23-47fb-9d88-580609d9c8f2?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target1e0df431-0916-44dd-904d-6b057054797b?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/06c7eddd-c566-42cf-9e6f-a148a99e16dc",
        "X-RequestId": "1673660c-25f3-44e6-bb25-5381726bd30d"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/06c7eddd-c566-42cf-9e6f-a148a99e16dc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225D827AE9B438477AB88FDF19A05D9CA0B0A9814062A16A7B4611FC0BE4C25539\u0022",
        "X-RequestId": "7b9719ba-122e-4876-9831-f5496c2ee6ba"
      },
      "ResponseBody": {
        "id": "06c7eddd-c566-42cf-9e6f-a148a99e16dc",
        "createdDateTimeUtc": "2021-12-15T19:56:02.1451644Z",
        "lastActionDateTimeUtc": "2021-12-15T19:56:02.3002348Z",
        "status": "NotStarted",
        "summary": {
          "total": 2,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 2,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/06c7eddd-c566-42cf-9e6f-a148a99e16dc/documents?$skip=0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223122D2CD676579FD8C7E5323C3DA86575D434CCBD513022DFF5D7A08B6A837A0\u0022",
        "X-RequestId": "a15f8ab7-5711-4f9b-8f94-3c6ea160902e"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target1e0df431-0916-44dd-904d-6b057054797b/35941cad-5346-47ed-9353-f39c4d815e57.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src19ddb2d5-0e23-47fb-9d88-580609d9c8f2/35941cad-5346-47ed-9353-f39c4d815e57.txt",
            "createdDateTimeUtc": "2021-12-15T19:56:05.2795289Z",
            "lastActionDateTimeUtc": "2021-12-15T19:56:09.5511703Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "0019b975-0000-0000-0000-000000000000",
            "characterCharged": 18
          },
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target1e0df431-0916-44dd-904d-6b057054797b/b615cd63-2cdb-41be-a373-bfd79caf8163.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/srcf3698319-d228-45fc-965a-1466c1018a69/b615cd63-2cdb-41be-a373-bfd79caf8163.txt",
            "createdDateTimeUtc": "2021-12-15T19:56:05.271243Z",
            "lastActionDateTimeUtc": "2021-12-15T19:56:09.6493686Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "0019b974-0000-0000-0000-000000000000",
            "characterCharged": 17
          }
        ]
      }
    }
  ],
  "Variables": {
    "source_container_name": "srcf3698319-d228-45fc-965a-1466c1018a69",
    "source_container_name2": "src19ddb2d5-0e23-47fb-9d88-580609d9c8f2",
    "target_container_name": "target1e0df431-0916-44dd-904d-6b057054797b"
  }
}
