{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src3cfa2d4d-19df-4588-8e91-ca27abe834c1?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targetf6dd2db6-25ac-4bd7-a677-1d82d0dfe19f?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/8e88b82e-c31d-4159-9f22-844c1c780609",
        "X-RequestId": "0b79039c-6430-4a09-902f-ef46b50f4759"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/8e88b82e-c31d-4159-9f22-844c1c780609",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022936EAA71EEBF8429924D06933D441F4B51CCE810D9023A492D3F0C18C8B1399E\u0022",
        "X-RequestId": "a13f31d0-b472-4141-98ce-fd0fc3b35028"
      },
      "ResponseBody": {
        "id": "8e88b82e-c31d-4159-9f22-844c1c780609",
        "createdDateTimeUtc": "2021-12-15T19:56:53.4618219Z",
        "lastActionDateTimeUtc": "2021-12-15T19:56:53.6258222Z",
        "status": "Failed",
        "summary": {
          "total": 1,
          "failed": 1,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/8e88b82e-c31d-4159-9f22-844c1c780609/documents?$skip=0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002237893E2D25A0A5A48D503F5A062358EB945C28A5EDF83926A3D541C03B152A98\u0022",
        "X-RequestId": "6505f1b4-42f3-4e07-be34-279836bbce27"
      },
      "ResponseBody": {
        "value": [
          {
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src3cfa2d4d-19df-4588-8e91-ca27abe834c1/document.txt",
            "lastActionDateTimeUtc": "2021-12-15T19:56:53.6256927Z",
            "status": "Failed",
            "to": "es",
            "error": {
              "code": "InvalidRequest",
              "message": "Target document file already exists.",
              "target": "Document",
              "innerError": {
                "code": "TargetFileAlreadyExists",
                "message": "Target document file already exists."
              }
            },
            "progress": 0,
            "id": "0019b97f-0000-0000-0000-000000000000",
            "characterCharged": 0
          }
        ]
      }
    }
  ],
  "Variables": {
    "source_container_name": "src3cfa2d4d-19df-4588-8e91-ca27abe834c1",
    "target_container_name": "targetf6dd2db6-25ac-4bd7-a677-1d82d0dfe19f"
  }
}
