{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcac447a37-d756-466f-a931-c7cfcf2d0ac8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 19 Feb 2022 01:32:50 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F347BE613DD1\u0022",
        "Last-Modified": "Sat, 19 Feb 2022 01:32:51 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcac447a37-d756-466f-a931-c7cfcf2d0ac8/8694e19a-db64-4ef3-a3c1-1b855ada95a4.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 19 Feb 2022 01:32:51 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8D9F347BE6A8A8A\u0022",
        "Last-Modified": "Sat, 19 Feb 2022 01:32:51 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/targetefb28e99-b9a5-41d2-8ac8-4041a9088463?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 19 Feb 2022 01:32:51 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F347BED4602D\u0022",
        "Last-Modified": "Sat, 19 Feb 2022 01:32:51 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srcac447a37-d756-466f-a931-c7cfcf2d0ac8?se=end\u0026sp=rl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targetefb28e99-b9a5-41d2-8ac8-4041a9088463?se=end\u0026sp=wl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/0c810a48-36d3-477b-8e91-66c199684a98",
        "X-RequestId": "27f00a26-28e3-4222-a99a-bc59d130988a"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/0c810a48-36d3-477b-8e91-66c199684a98",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-RequestId": "b4dfae21-0f19-4784-b496-d836fedcc86b"
      },
      "ResponseBody": {
        "id": "0c810a48-36d3-477b-8e91-66c199684a98",
        "createdDateTimeUtc": "2022-02-19T01:32:52.9847637Z",
        "lastActionDateTimeUtc": "2022-02-19T01:32:53.0547715Z",
        "status": "Cancelling",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/0c810a48-36d3-477b-8e91-66c199684a98",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002233F695F303BDE17DE9D9BB9BA367F23544BF7ECC28F370A989150A7B46BA4822\u0022",
        "X-RequestId": "9ede0161-1dca-448e-b59d-183f2d5d1345"
      },
      "ResponseBody": {
        "id": "0c810a48-36d3-477b-8e91-66c199684a98",
        "createdDateTimeUtc": "2022-02-19T01:32:52.9847637Z",
        "lastActionDateTimeUtc": "2022-02-19T01:32:53.2502819Z",
        "status": "Cancelling",
        "summary": {
          "total": 8,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 8,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    }
  ],
  "Variables": {
    "source_container_name": "srcac447a37-d756-466f-a931-c7cfcf2d0ac8",
    "target_container_name": "targetefb28e99-b9a5-41d2-8ac8-4041a9088463"
  }
}
