{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src39975963-a240-4867-8abb-86de4aa1e9d0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Dec 2021 19:31:29 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9C0017E6B404D\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 19:31:29 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src39975963-a240-4867-8abb-86de4aa1e9d0/87ebbf56-eb16-49d8-b0d3-59969c55d7f6.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Dec 2021 19:31:29 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8D9C0017E7044C1\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 19:31:29 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/targetb3c0871a-84ec-4e99-a11d-3a0ac756e444?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Dec 2021 19:31:30 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9C0017EC7A9CB\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 19:31:30 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src39975963-a240-4867-8abb-86de4aa1e9d0?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targetb3c0871a-84ec-4e99-a11d-3a0ac756e444?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/75158365-1c8f-4ffd-a5f9-68462d0f9547",
        "X-RequestId": "5eb1cdcb-f8c3-40f4-aa1b-209304a00f5d"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/75158365-1c8f-4ffd-a5f9-68462d0f9547",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022A763BD3E6474D82890CCCEB555C02A47D402FA8A59F4C349328BD3611EBA1671\u0022",
        "X-RequestId": "3e247518-ebfd-419a-8120-db3012f058d7"
      },
      "ResponseBody": {
        "id": "75158365-1c8f-4ffd-a5f9-68462d0f9547",
        "createdDateTimeUtc": "2021-12-15T19:31:30.6752291Z",
        "lastActionDateTimeUtc": "2021-12-15T19:31:31.1815995Z",
        "status": "NotStarted",
        "summary": {
          "total": 10,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 10,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/75158365-1c8f-4ffd-a5f9-68462d0f9547/documents?$skip=0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226E204D0330C422A22237B44F17AB672C5634C9C0F61B31C772D3E2B27A992AEF\u0022",
        "X-RequestId": "de2a57ea-9aa4-47d8-bb06-99870eff0b3c"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/targetb3c0871a-84ec-4e99-a11d-3a0ac756e444/f28cbe47-c91f-4105-a6ae-1f87bec03b67.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src39975963-a240-4867-8abb-86de4aa1e9d0/f28cbe47-c91f-4105-a6ae-1f87bec03b67.txt",
            "createdDateTimeUtc": "2021-12-15T19:31:35.9176486Z",
            "lastActionDateTimeUtc": "2021-12-15T19:31:41.4612192Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "0019b7d9-0000-0000-0000-000000000000",
            "characterCharged": 27
          },
          {
            "path": "https://fakeendpoint.blob.core.windows.net/targetb3c0871a-84ec-4e99-a11d-3a0ac756e444/ec834796-2beb-49b8-bca1-2ada59d331ec.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src39975963-a240-4867-8abb-86de4aa1e9d0/ec834796-2beb-49b8-bca1-2ada59d331ec.txt",
            "createdDateTimeUtc": "2021-12-15T19:31:35.9061577Z",
            "lastActionDateTimeUtc": "2021-12-15T19:31:41.6053451Z",
            "status": "Succeeded"[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/75158365-1c8f-4ffd-a5f9-68462d0f9547/documents?$skip=0\u0026$maxpagesize=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022C47CF76082ED6BB9A98177A8F64DB37DE3959C036D27C9FD28AFB4C3FF8CE75D\u0022",
        "X-Re[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/75158365-1c8f-4ffd-a5f9-68462d0f9547/documents?$skip=2\u0026$top=8\u0026$maxpagesize=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227754C09659432E9C8F3C81E9C0B8B7672C7BAD53637B4452348B9E919965F2BA\u0022",
 [...]
[...]
