{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src3dc9a4ff-d249-4e20-b0c8-7c8ce034defb?se=end\u0026sp=rl\u0026sv=2021-06-08\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targetc44ce463-d680-4571-a9a3-aeb99804a971?se=end\u0026sp=wl\u0026sv=2021-06-08\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          },
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src73ec3580-d5d1-4e9a-9cb2-3c0b66382b09?se=end\u0026sp=rl\u0026sv=2021-06-08\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targetc44ce463-d680-4571-a9a3-aeb99804a971?se=end\u0026sp=wl\u0026sv=2021-06-08\u0026sr=c\u0026sig=fake_token_value",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/80cdcf2d-3676-4c5c-9672-99d85cc9ad0d",
        "X-RequestId": "149cc941-b616-43de-ac2f-b95cf76e6e49"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/80cdcf2d-3676-4c5c-9672-99d85cc9ad0d",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221C30E016A42B0CFC369941EC2AB0A8773B6F031662DAA3E21676785B9AA24719\u0022",
        "X-RequestId": "59b78f5a-e760-4a63-b0de-58f482bd0cb5"
      },
      "ResponseBody": {
        "id": "80cdcf2d-3676-4c5c-9672-99d85cc9ad0d",
        "createdDateTimeUtc": "2022-06-01T21:09:19.4982015Z",
        "lastActionDateTimeUtc": "2022-06-01T21:09:19.5400008Z",
        "status": "NotStarted",
        "summary": {
          "total": 2,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 2,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/80cdcf2d-3676-4c5c-9672-99d85cc9ad0d/documents?$maxpagesize=50",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220C9CAB9944DA93FE943AE84BFDDC44AD8FABE608AD824F658BD52B95A1C6A401\u0022",
        "X-RequestId": "61ca18a1-f9b7-4944-9b14-eeeeb17d3f83"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/targetc44ce463-d680-4571-a9a3-aeb99804a971/b2c3663c-1200-463a-a4de-0b130eaca2a8.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src73ec3580-d5d1-4e9a-9cb2-3c0b66382b09/b2c3663c-1200-463a-a4de-0b130eaca2a8.txt",
            "createdDateTimeUtc": "2022-06-01T21:09:22.3909351Z",
            "lastActionDateTimeUtc": "2022-06-01T21:09:27.6520191Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "003fecab-0000-0000-0000-000000000000",
            "characterCharged": 18
          },
          {
            "path": "https://fakeendpoint.blob.core.windows.net/targetc44ce463-d680-4571-a9a3-aeb99804a971/68cdf45c-8c93-4a37-9837-ed5fca94055a.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src3dc9a4ff-d249-4e20-b0c8-7c8ce034defb/68cdf45c-8c93-4a37-9837-ed5fca94055a.txt",
            "createdDateTimeUtc": "2022-06-01T21:09:22.3795674Z",
            "lastActionDateTimeUtc": "2022-06-01T21:09:27.7116586Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "003fecaa-0000-0000-0000-000000000000",
            "characterCharged": 17
          }
        ]
      }
    }
  ],
  "Variables": {
    "source_container_name": "src3dc9a4ff-d249-4e20-b0c8-7c8ce034defb",
    "source_container_name2": "src73ec3580-d5d1-4e9a-9cb2-3c0b66382b09",
    "target_container_name": "targetc44ce463-d680-4571-a9a3-aeb99804a971"
  }
}
