{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src4f08487c-6054-4acc-bcf8-df2997643aab?se=end\u0026sp=rl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target74bc9754-e8cc-44cf-89f1-92e101f127a5?se=end\u0026sp=wl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/3ba00027-ddcc-431c-a365-4fbcbe240bce",
        "X-RequestId": "8d629da0-0512-4e35-883f-c514f6871273"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/3ba00027-ddcc-431c-a365-4fbcbe240bce",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227062633DFA6332B84BCD03B8B8854FF339E3BCF92C1064839477BCCBA8B23525\u0022",
        "X-RequestId": "53120a70-187e-42a8-9e7a-76b4082a271a"
      },
      "ResponseBody": {
        "id": "3ba00027-ddcc-431c-a365-4fbcbe240bce",
        "createdDateTimeUtc": "2022-02-19T01:55:57.165559Z",
        "lastActionDateTimeUtc": "2022-02-19T01:55:57.3083842Z",
        "status": "Failed",
        "error": {
          "code": "InvalidRequest",
          "message": "Target document file already exists.",
          "target": "Operation",
          "innerError": {
            "code": "TargetFileAlreadyExists",
            "message": "Target document file already exists."
          }
        },
        "summary": {
          "total": 1,
          "failed": 1,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/3ba00027-ddcc-431c-a365-4fbcbe240bce/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226E9E44D06E1727FE731DA35C924802F39D374DC4E59C1E0A255CF2AFFE38EE3B\u0022",
        "X-RequestId": "1fcf9863-b313-45cf-8217-491ee6a1b68e"
      },
      "ResponseBody": {
        "value": [
          {
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src4f08487c-6054-4acc-bcf8-df2997643aab/document.txt",
            "lastActionDateTimeUtc": "2022-02-19T01:55:57.3082929Z",
            "status": "Failed",
            "to": "es",
            "error": {
              "code": "InvalidRequest",
              "message": "Target document file already exists.",
              "target": "Document",
              "innerError": {
                "code": "TargetFileAlreadyExists",
                "message": "Target document file already exists."
              }
            },
            "progress": 0,
            "id": "00245ed0-0000-0000-0000-000000000000",
            "characterCharged": 0
          }
        ]
      }
    }
  ],
  "Variables": {
    "source_container_name": "src4f08487c-6054-4acc-bcf8-df2997643aab",
    "target_container_name": "target74bc9754-e8cc-44cf-89f1-92e101f127a5"
  }
}
