{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022inputs\u0022: [{\u0022source\u0022: {\u0022sourceUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/src0bd2690f-ef79-4cb8-a978-29799f3c8b31?se=end\u0026sp=rl\u0026sv=2020-10-02\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022filter\u0022: {}}, \u0022targets\u0022: [{\u0022targetUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/targete6874f81-c23a-4c89-bc3b-f8167a5ea61b?se=end\u0026sp=wl\u0026sv=2020-10-02\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022language\u0022: \u0022es\u0022}]}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/031befb2-4eb9-4257-b405-898ea953f495",
        "X-RequestId": "47c98b7e-790e-4f3b-bd08-482633270871"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/031befb2-4eb9-4257-b405-898ea953f495",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022C53EA780573F681503BADCBF69F57284634C083A072969D0FCC10A21CCCA4DA6\u0022",
        "X-RequestId": "b87bab46-459c-4aec-b23b-6837ceeef68e"
      },
      "ResponseBody": {
        "id": "031befb2-4eb9-4257-b405-898ea953f495",
        "createdDateTimeUtc": "2021-11-22T22:14:24.0480988Z",
        "lastActionDateTimeUtc": "2021-11-22T22:14:24.2906301Z",
        "status": "Running",
        "summary": {
          "total": 2,
          "failed": 1,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 1,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/031befb2-4eb9-4257-b405-898ea953f495/documents?$skip=0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002268B40CE5D8DAD6F34F0C4E30ABA8D37BB8EBB59EDFE29D24B42ADAF98715217D\u0022",
        "X-RequestId": "f0d590cc-2a3f-4512-b2b1-3258dd9220b5"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/targete6874f81-c23a-4c89-bc3b-f8167a5ea61b/26c411d2-9dd4-43f4-8e5c-d68908fccc42.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src0bd2690f-ef79-4cb8-a978-29799f3c8b31/26c411d2-9dd4-43f4-8e5c-d68908fccc42.txt",
            "createdDateTimeUtc": "2021-11-22T22:14:29.0054979Z",
            "lastActionDateTimeUtc": "2021-11-22T22:14:33.1614416Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "0016a76a-0000-0000-0000-000000000000",
            "characterCharged": 27
          },
          {
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src0bd2690f-ef79-4cb8-a978-29799f3c8b31/document.txt",
            "lastActionDateTimeUtc": "2021-11-22T22:14:24.2904425Z",
            "status": "Failed",
            "to": "es",
            "error": {
              "code": "InvalidRequest",
              "message": "Target document file already exists.",
              "target": "Document",
              "innerError": {
                "code": "TargetFileAlreadyExists",
                "message": "Target document file already exists."
              }
            },
            "progress": 0,
            "id": "0016a76b-0000-0000-0000-000000000000",
            "characterCharged": 0
          }
        ]
      }
    }
  ],
  "Variables": {
    "source_container_name": "src0bd2690f-ef79-4cb8-a978-29799f3c8b31",
    "target_container_name": "targete6874f81-c23a-4c89-bc3b-f8167a5ea61b"
  }
}
