{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src53c38bc4-d78e-490a-a273-a1e8044405e4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Dec 2021 03:35:27 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9BF7BEF8D5B5E\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 03:35:27 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src53c38bc4-d78e-490a-a273-a1e8044405e4/4d600d78-596b-4ad3-9eb3-bed14366428e.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Dec 2021 03:35:27 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8D9BF7BEF963903\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 03:35:27 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target83d1a081-3bda-4e00-a375-0c74e2285b67?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Dec 2021 03:35:27 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9BF7BEFB501BB\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 03:35:27 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022inputs\u0022: [{\u0022source\u0022: {\u0022sourceUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/src53c38bc4-d78e-490a-a273-a1e8044405e4?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022filter\u0022: {}}, \u0022targets\u0022: [{\u0022targetUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/target83d1a081-3bda-4e00-a375-0c74e2285b67?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022language\u0022: \u0022es\u0022}]}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/9b63fd6c-5aef-43d4-a745-9975dee49876",
        "X-RequestId": "79880962-807b-46aa-9b5a-07e966b07db3"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/9b63fd6c-5aef-43d4-a745-9975dee49876",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002220A69D7083D3195C43AD4563887FBFE70B7F1571D5DB0972AFEEE10BE47C3A89\u0022",
        "X-RequestId": "be7d9f42-8c74-4090-b592-2e11e979f1f1"
      },
      "ResponseBody": {
        "id": "9b63fd6c-5aef-43d4-a745-9975dee49876",
        "createdDateTimeUtc": "2021-12-15T03:35:27.6543477Z",
        "lastActionDateTimeUtc": "2021-12-15T03:35:27.8078943Z",
        "status": "NotStarted",
        "summary": {
          "total": 2,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 2,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?$skip=0\u0026$orderBy=createdDateTimeUtc asc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022F6462C294A31BF7DA641274642CD062C888296D93DF931A9B3EB0AAC9D78EBDB\u0022",
        "X-RequestId": "3aa16546-cce0-4648-8d88-b40e8e8bc051"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1761f836-98d9-44bd-ab8f-257eed50d397",
            "createdDateTimeUtc": "2021-12-15T01:58:05.9421526Z",
            "lastActionDateTimeUtc": "2021-12-15T01:58:14.4277441Z",
            "status": "Succeeded",
            "summary": {
              "total": 1,
              "failed": 0,
              "success": 1,
              "inProgress": 0,
              "notYetStarted": 0,
              "cancelled": 0,
              "totalCharacterCharged": 17
            }
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?$skip=50\u0026$top=126\u0026$maxpagesize=50\u0026$orderBy=createdDateTimeUtc asc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002252B0FC8B3F04FAD25CDE1ABF1FC6AFB85F999BC9C29D8B632FD7AC23A3AE94F1\u0022",
       [...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?$skip=100\u0026$top=76\u0026$maxpagesize=50\u0026$orderBy=createdDateTimeUtc asc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224F7CD3B13C91C4C294543102B30406268C44697D45E7252D7633B9A3165B97B0\u0022",
        "X-RequestId": "211323a5-76f1-4823-aff3-71857e3123ba"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "388b22ef-cadb-4f33-9227-1ea10d80c32c",
            "createdDateTimeUtc": "2021-12-15T02:37:17.8077089Z",
            "lastActionDateTimeUtc": "2021-12-15T02:37:18.1409441Z",
            "status": "ValidationFailed",
            "error": {
              "code": "InvalidRequest",
              "message": "Cannot access source document location with the current permissions.",
              "target": "Operation",
              "innerError": {
                "code": "InvalidDocumentAccessLevel",
                "message": "Cannot access source document location with the current permissions."
              }
            },
            "summary": {
              "total": 0,
              "failed": 0,
              "success": 0,
              "inProgress": 0,
              "notYetStarted": 0,
              "cancelled": 0,
              "totalCharacterCharged": 0
            }
          },
          {
            "id": "c03ceea0-dad6-[...]
[...]
