{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022inputs\u0022: [{\u0022source\u0022: {\u0022sourceUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/srcba78fec9-d4bf-46df-b9c4-e8337a4e3072?se=end\u0026sp=rl\u0026sv=2020-10-02\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022filter\u0022: {}}, \u0022targets\u0022: [{\u0022targetUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/target0a9d8a76-bbb4-4691-ad99-f0b3ab60ed68?se=end\u0026sp=wl\u0026sv=2020-10-02\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022language\u0022: \u0022es\u0022}]}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/e3ade960-f1d6-4222-883e-44189e255d1a",
        "X-RequestId": "7c559d04-72b0-43d5-8f2a-6a1d709786c2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/e3ade960-f1d6-4222-883e-44189e255d1a",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222DDA1537436670A161B2838838B1DB6BCFC3B14599C0F57E985C739FF2D18BC1\u0022",
        "X-RequestId": "cb179504-2dd9-4091-ac7d-1fb063d5f6d2"
      },
      "ResponseBody": {
        "id": "e3ade960-f1d6-4222-883e-44189e255d1a",
        "createdDateTimeUtc": "2021-11-22T22:13:47.3160086Z",
        "lastActionDateTimeUtc": "2021-11-22T22:13:47.9904986Z",
        "status": "NotStarted",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 1,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/e3ade960-f1d6-4222-883e-44189e255d1a/documents?$skip=0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228CE4ABC75286E4CB4C1F33692E4C88D46440A8F1F90D5B17E739A3B324B93732\u0022",
        "X-RequestId": "48e6ad21-f509-4b2a-b145-a7f77a1d01b5"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target0a9d8a76-bbb4-4691-ad99-f0b3ab60ed68/1044d114-d909-4838-b6d3-04ecece8869e.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/srcba78fec9-d4bf-46df-b9c4-e8337a4e3072/1044d114-d909-4838-b6d3-04ecece8869e.txt",
            "createdDateTimeUtc": "2021-11-22T22:13:53.9530333Z",
            "lastActionDateTimeUtc": "2021-11-22T22:13:57.9019485Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "0016a766-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    }
  ],
  "Variables": {
    "source_container_name": "srcba78fec9-d4bf-46df-b9c4-e8337a4e3072",
    "target_container_name": "target0a9d8a76-bbb4-4691-ad99-f0b3ab60ed68"
  }
}
