{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcd9b177d7-94f2-4901-9281-40888cc2646d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jan 2022 23:02:05 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9E056B51F6F2A\u0022",
        "Last-Modified": "Tue, 25 Jan 2022 23:02:06 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcd9b177d7-94f2-4901-9281-40888cc2646d/xyzaaa23c9e-adde-4ad3-b085-ab85fd567b06.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 25 Jan 2022 23:02:06 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "VGhpcyBpcyBzb21lIHRleHQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "lyFPYyJLwenMTaN3qtznxw==",
        "ETag": "\u00220x8D9E056B5268C0C\u0022",
        "Last-Modified": "Tue, 25 Jan 2022 23:02:06 GMT",
        "x-ms-content-crc64": "SqmNKeH10UQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target10e53ce2-2759-4ad0-a7c7-649dd56e2303?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jan 2022 23:02:06 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9E056B559FEA4\u0022",
        "Last-Modified": "Tue, 25 Jan 2022 23:02:06 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srcd9b177d7-94f2-4901-9281-40888cc2646d?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
              "filter": {
                "prefix": "xyz"
              }
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target10e53ce2-2759-4ad0-a7c7-649dd56e2303?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d3b5b72c-8b8c-471a-8999-01ddabed0dcf",
        "X-RequestId": "3105b0ec-616f-490f-b70f-d31e230a7830"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d3b5b72c-8b8c-471a-8999-01ddabed0dcf",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224AE197E7F7EF23FAA42A612C2B8F163009E7DCF19993AD2C78B4919E136622CF\u0022",
        "X-RequestId": "720a0449-3899-4b84-8894-e1f6edd0be56"
      },
      "ResponseBody": {
        "id": "d3b5b72c-8b8c-471a-8999-01ddabed0dcf",
        "createdDateTimeUtc": "2022-01-25T23:02:06.7079047Z",
        "lastActionDateTimeUtc": "2022-01-25T23:02:07.2269983Z",
        "status": "Running",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 0,
          "inProgress": 1,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d3b5b72c-8b8c-471a-8999-01ddabed0dcf/documents?$skip=0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223D6B208E3E91846BE42ADB595534A78D2CA0F2F54D6A7FECB26E049DA89BB2DD\u0022",
        "X-RequestId": "b40c4a46-1ef9-428d-b43e-93284492f8e2"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target10e53ce2-2759-4ad0-a7c7-649dd56e2303/xyzaaa23c9e-adde-4ad3-b085-ab85fd567b06.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/srcd9b177d7-94f2-4901-9281-40888cc2646d/xyzaaa23c9e-adde-4ad3-b085-ab85fd567b06.txt",
            "createdDateTimeUtc": "2022-01-25T23:02:06.9451334Z",
            "lastActionDateTimeUtc": "2022-01-25T23:02:08.4363108Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "001f12ef-0000-0000-0000-000000000000",
            "characterCharged": 17
          }
        ]
      }
    }
  ],
  "Variables": {
    "source_container_name": "srcd9b177d7-94f2-4901-9281-40888cc2646d",
    "target_container_name": "target10e53ce2-2759-4ad0-a7c7-649dd56e2303"
  }
}
