{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src3f30fe44-c17d-477e-93e9-7a0b80d326a1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 22 Nov 2021 23:26:01 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9AE0F72A0CAD1\u0022",
        "Last-Modified": "Mon, 22 Nov 2021 23:26:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src3f30fe44-c17d-477e-93e9-7a0b80d326a1/18cec241-ce36-4b8c-bcd6-4e9d49bcf58a.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 22 Nov 2021 23:26:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8D9AE0F72A8E9B7\u0022",
        "Last-Modified": "Mon, 22 Nov 2021 23:26:02 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target33b43cc1-41a0-46fa-861b-c9c18b6e7f6d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 22 Nov 2021 23:26:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9AE0F72FDF877\u0022",
        "Last-Modified": "Mon, 22 Nov 2021 23:26:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022inputs\u0022: [{\u0022source\u0022: {\u0022sourceUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/src3f30fe44-c17d-477e-93e9-7a0b80d326a1?se=end\u0026sp=rl\u0026sv=2020-10-02\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022filter\u0022: {}}, \u0022targets\u0022: [{\u0022targetUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/target33b43cc1-41a0-46fa-861b-c9c18b6e7f6d?se=end\u0026sp=wl\u0026sv=2020-10-02\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022language\u0022: \u0022es\u0022}]}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/f9570b8b-4266-45c8-8a10-673cb1108523",
        "X-RequestId": "ac75fae4-69de-4c0b-9296-626cd6ff9391"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/f9570b8b-4266-45c8-8a10-673cb1108523",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022D19B95ECF464CCC7F72D38CA82165759A446C336E4293E20C20C4036D39DDAA8\u0022",
        "X-RequestId": "32357043-1316-41f9-b94c-3a1bc3280d05"
      },
      "ResponseBody": {
        "id": "f9570b8b-4266-45c8-8a10-673cb1108523",
        "createdDateTimeUtc": "2021-11-22T23:26:02.8393737Z",
        "lastActionDateTimeUtc": "2021-11-22T23:26:02.8393744Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/f9570b8b-4266-45c8-8a10-673cb1108523/documents?$skip=0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229C8C961BF7A325D0EF3E6AA97CA2AD063593E7148A6925324DFD50D4ED08E79D\u0022",
        "X-RequestId": "c9633205-79d5-409d-99f6-52b1e09609db"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target33b43cc1-41a0-46fa-861b-c9c18b6e7f6d/e731c9ea-3ec6-445f-9ec7-a53b6e3a167b.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src3f30fe44-c17d-477e-93e9-7a0b80d326a1/e731c9ea-3ec6-445f-9ec7-a53b6e3a167b.txt",
            "createdDateTimeUtc": "2021-11-22T23:26:08.8123893Z",
            "lastActionDateTimeUtc": "2021-11-22T23:26:14.2024165Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "0016a97a-0000-0000-0000-000000000000",
            "characterCharged": 27
          },
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target33b43cc1-41a0-46fa-861b-c9c18b6e7f6d/dc7e6bd2-ced0-4fa0-944b-fb24e5a66808.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src3f30fe44-c17d-477e-93e9-7a0b80d326a1/dc7e6bd2-ced0-4fa0-944b-fb24e5a66808.txt",
            "createdDateTimeUtc": "2021-11-22T23:26:08.7996494Z",
            "lastActionDateTimeUtc": "2021-11-22T23:26:14.9407831Z",
            "status": "Succeeded"[...]
[...]
