{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srcb3de7d0b-11e1-46ce-81ca-5a2e9241d7a3?se=end\u0026sp=rl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target4dcf722a-e4a6-4127-b8b1-0314d9b5a53a?se=end\u0026sp=wl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/89d359bd-fa73-46a6-a472-7eacfa8dbf6c",
        "x-ms-region": "West US 2",
        "X-RequestId": "53f0dc2e-2f43-4797-9cad-01898c5545ad"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/89d359bd-fa73-46a6-a472-7eacfa8dbf6c",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227A9E4C5A22DC59A6D4BD9C8002543799ACA9A2DC85F657914373CB5DD35B8CB0\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "f8b618b9-d08b-493c-baaf-d5dcea741161"
      },
      "ResponseBody": {
        "id": "89d359bd-fa73-46a6-a472-7eacfa8dbf6c",
        "createdDateTimeUtc": "2022-12-01T22:32:23.8895671Z",
        "lastActionDateTimeUtc": "2022-12-01T22:32:23.8895681Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/89d359bd-fa73-46a6-a472-7eacfa8dbf6c",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "policy-id": "ResourceRateLimitBy1s",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "error": {
          "code": "429",
          "message": "Requests to the Returns the status for a document translation request Operation under Batch Document Translation API v1.0 have exceeded rate limit of your current TextTranslator S1 pricing tier. Please retry after 1 second. Please contact Azure support service if you would like to further increase the default rate limit."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/89d359bd-fa73-46a6-a472-7eacfa8dbf6c/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226AD4045D4EC2720F263EA7BE47CE116C78A10A4778B7A520DE83FBACC5F29A5C\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "0a238cb8-fa26-4b80-9aaf-18f6d2a8dab8"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target4dcf722a-e4a6-4127-b8b1-0314d9b5a53a/60b68677-7841-4fd6-b6f0-388323a515d6.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/srcb3de7d0b-11e1-46ce-81ca-5a2e9241d7a3/60b68677-7841-4fd6-b6f0-388323a515d6.txt",
            "createdDateTimeUtc": "2022-12-01T22:32:24.3112727Z",
            "lastActionDateTimeUtc": "2022-12-01T22:32:29.2104937Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "005b30d7-0000-0000-0000-000000000000",
            "characterCharged": 17
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/89d359bd-fa73-46a6-a472-7eacfa8dbf6c/documents/005b30d7-0000-0000-0000-000000000000",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022B255A8FCE2E2226F2D75F061FE1AE9E7A02BD6D1F2750E712595F8AA0D6958AC\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "54d145fe-7190-4ccf-b70c-1e196ef93c33"
      },
      "ResponseBody": {
        "path": "https://fakeendpoint.blob.core.windows.net/target4dcf722a-e4a6-4127-b8b1-0314d9b5a53a/60b68677-7841-4fd6-b6f0-388323a515d6.txt",
        "sourcePath": "https://fakeendpoint.blob.core.windows.net/srcb3de7d0b-11e1-46ce-81ca-5a2e9241d7a3/60b68677-7841-4fd6-b6f0-388323a515d6.txt",
        "createdDateTimeUtc": "2022-12-01T22:32:24.3112727Z",
        "lastActionDateTimeUtc": "2022-12-01T22:32:29.2104937Z",
        "status": "Succeeded",
        "to": "es",
        "progress": 1,
        "id": "005b30d7-0000-0000-0000-000000000000",
        "characterCharged": 17
      }
    }
  ],
  "Variables": {
    "source_container_name": "srcb3de7d0b-11e1-46ce-81ca-5a2e9241d7a3",
    "target_container_name": "target4dcf722a-e4a6-4127-b8b1-0314d9b5a53a"
  }
}
