{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src7a2a6bf5-422c-4c61-8700-fd3e2930bcf1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 01 Dec 2022 22:33:05 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD3EC0CF4378A\u0022",
        "Last-Modified": "Thu, 01 Dec 2022 22:33:20 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src7a2a6bf5-422c-4c61-8700-fd3e2930bcf1/4352a160-0037-4736-85cc-26366dd8105b.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 01 Dec 2022 22:33:05 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8DAD3EC0CF9C6A7\u0022",
        "Last-Modified": "Thu, 01 Dec 2022 22:33:20 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/targete4c0bda4-f1c7-438c-90cc-1ae61f1ae699?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 01 Dec 2022 22:33:05 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD3EC0D3B2107\u0022",
        "Last-Modified": "Thu, 01 Dec 2022 22:33:21 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src7a2a6bf5-422c-4c61-8700-fd3e2930bcf1?se=end\u0026sp=rl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targete4c0bda4-f1c7-438c-90cc-1ae61f1ae699?se=end\u0026sp=wl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/6614e850-77b4-49af-b921-994d7fdcc4ff",
        "x-ms-region": "West US 2",
        "X-RequestId": "b7ca76ad-c238-430b-bd2b-98759896811a"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/6614e850-77b4-49af-b921-994d7fdcc4ff",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022930C96729BE8F0982A0463AE2580F55EBEAA4F022A67F6F958551133D464C278\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "12902994-f84b-4b38-99cd-f2a4e7d1d89e"
      },
      "ResponseBody": {
        "id": "6614e850-77b4-49af-b921-994d7fdcc4ff",
        "createdDateTimeUtc": "2022-12-01T22:33:21.5575306Z",
        "lastActionDateTimeUtc": "2022-12-01T22:33:21.5575312Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/6614e850-77b4-49af-b921-994d7fdcc4ff",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "policy-id": "ResourceRateLimitBy1s",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "error": {
          "code": "429",
          "message": "Requests to the Returns the status for a document translation request Operation under Batch Document Translation API v1.0 have exceeded rate limit of your current TextTranslator S1 pricing tier. Please retry after 1 second. Please contact Azure support service if you would like to further increase the default rate limit."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/6614e850-77b4-49af-b921-994d7fdcc4ff/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022A745147F5ED6DCEA42811F4454AFFDBDC25A6BAF2EDF91A50E67616A858E245C\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "478f5744-d67a-4eca-82a9-250ec9865c60"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/targete4c0bda4-f1c7-438c-90cc-1ae61f1ae699/dcefcc09-ad3d-4682-ae2a-61c26380bc41.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src7a2a6bf5-422c-4c61-8700-fd3e2930bcf1/dcefcc09-ad3d-4682-ae2a-61c26380bc41.txt",
            "createdDateTimeUtc": "2022-12-01T22:33:22.9629945Z",
            "lastActionDateTimeUtc": "2022-12-01T22:33:27.2521329Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "005b30ff-0000-0000-0000-000000000000",
            "characterCharged": 27
          },
          {
            "path": "https://fakeendpoint.blob.core.windows.net/targete4c0bda4-f1c7-438c-90cc-1ae61f1ae699/4352a160-0037-4736-85cc-26366dd8105b.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src7a2a6bf5-422c-4c61-8700-fd3e2930bcf1/4352a160-0037-4736-85cc-26366dd8105b.txt",
            "createdDateTimeUtc": "2022-12-01T22:33:22.6451733Z",
            "lastActionDateTimeUtc": "2022-12-01T22:33:26.5524371Z",
            "status": "Succeeded"[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/6614e850-77b4-49af-b921-994d7fdcc4ff/documents?$orderBy=createdDateTimeUtc%20desc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022A745147F5ED6DCEA42811F4454AFFDBDC25A6BAF2EDF91A50E67616A858E245C\u0022",
      [...]
