{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022inputs\u0022: [{\u0022source\u0022: {\u0022sourceUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/srcbd9b4a6f-8bf5-4c48-ac56-29dafe387c71?se=end\u0026sp=rl\u0026sv=2020-10-02\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022filter\u0022: {}}, \u0022targets\u0022: [{\u0022targetUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/target62023117-c654-4f94-b4c4-e4ebdc5b9a16?se=end\u0026sp=wl\u0026sv=2020-10-02\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022language\u0022: \u0022es\u0022}]}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/3a31f2b3-0035-400b-9da1-ae9313ef1fb2",
        "X-RequestId": "7f09bfaa-379b-49ec-bb57-96982a903f6e"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/3a31f2b3-0035-400b-9da1-ae9313ef1fb2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022CB97CD65A34291176ACB32E6BB3FB36FDFE247C4EA3CDB5C6840FF6BF6E4C898\u0022",
        "X-RequestId": "bc408525-72ce-4d24-aad7-0246fc2fb3d8"
      },
      "ResponseBody": {
        "id": "3a31f2b3-0035-400b-9da1-ae9313ef1fb2",
        "createdDateTimeUtc": "2021-11-22T22:16:21.9854352Z",
        "lastActionDateTimeUtc": "2021-11-22T22:16:22.1559977Z",
        "status": "NotStarted",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 1,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/b6c5b6b2-4d2f-49a4-9cce-bad8ffe1c74a",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222C0C43F6970285BC9F1DC8D4FA4189B05F29E6194362D88A3C4F54D45535FF8E\u0022",
        "X-RequestId": "79171444-ff25-46c2-90f1-cc762338f4d8"
      },
      "ResponseBody": {
        "id": "b6c5b6b2-4d2f-49a4-9cce-bad8ffe1c74a",
        "createdDateTimeUtc": "2021-11-22T22:16:28.6081479Z",
        "lastActionDateTimeUtc": "2021-11-22T22:16:31.2719196Z",
        "status": "Succeeded",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 1,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 11
        }
      }
    }
  ],
  "Variables": {
    "source_container_name": "srcbd9b4a6f-8bf5-4c48-ac56-29dafe387c71",
    "target_container_name": "target62023117-c654-4f94-b4c4-e4ebdc5b9a16",
    "target_container_name2": "target0b152e5f-eb82-4582-856d-9a856e1a5460"
  }
}
