{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022inputs\u0022: [{\u0022source\u0022: {\u0022sourceUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/src8de64ca7-4dd2-41a4-935b-1d34275f6510?se=end\u0026sp=rl\u0026sv=2020-10-02\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022filter\u0022: {}}, \u0022targets\u0022: [{\u0022targetUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/targetc4a978f6-1792-4ac1-8f4c-fa70aaeb7cd7?se=end\u0026sp=wl\u0026sv=2020-10-02\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022language\u0022: \u0022es\u0022}]}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/6b4b3600-f285-4839-8f3d-827aa45afc77",
        "X-RequestId": "2e87d5c2-4189-4808-b2b6-3ba231b66da6"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/6b4b3600-f285-4839-8f3d-827aa45afc77",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224E7436449628B33254D823FD1CDB480C859F4E16939776AC1825EB7ECE80A40F\u0022",
        "X-RequestId": "bbd675bb-97c8-4f07-813c-6349affa7cdf"
      },
      "ResponseBody": {
        "id": "6b4b3600-f285-4839-8f3d-827aa45afc77",
        "createdDateTimeUtc": "2021-11-22T22:10:24.5692385Z",
        "lastActionDateTimeUtc": "2021-11-22T22:10:24.7323132Z",
        "status": "NotStarted",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 1,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/6b4b3600-f285-4839-8f3d-827aa45afc77/documents?$skip=0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022D7F6826E2A7C3FE2253CE99FFCF880D81D256C550094EBFD55AA2B0401DA89FF\u0022",
        "X-RequestId": "e5cc3754-0a72-43f7-84ce-b135ac4a2a67"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/targetc4a978f6-1792-4ac1-8f4c-fa70aaeb7cd7/a7637cc7-dd54-43ce-8239-317759b73815.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src8de64ca7-4dd2-41a4-935b-1d34275f6510/a7637cc7-dd54-43ce-8239-317759b73815.txt",
            "createdDateTimeUtc": "2021-11-22T22:10:32.4307423Z",
            "lastActionDateTimeUtc": "2021-11-22T22:10:36.7183453Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "0016a74c-0000-0000-0000-000000000000",
            "characterCharged": 17
          }
        ]
      }
    }
  ],
  "Variables": {
    "source_container_name": "src8de64ca7-4dd2-41a4-935b-1d34275f6510",
    "target_container_name": "targetc4a978f6-1792-4ac1-8f4c-fa70aaeb7cd7"
  }
}
