{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcf9a951a0-8958-4f8f-b8b3-9878267e90e8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 01 Jun 2022 20:50:19 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA441057317301\u0022",
        "Last-Modified": "Wed, 01 Jun 2022 20:50:19 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcf9a951a0-8958-4f8f-b8b3-9878267e90e8/5c56c08d-4458-4848-bc3f-2371a509460e.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 Jun 2022 20:50:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8DA44105739AAA3\u0022",
        "Last-Modified": "Wed, 01 Jun 2022 20:50:19 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target04ba9550-be8e-4a97-83a8-e92bfe0f2b11?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 01 Jun 2022 20:50:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA441057B4E779\u0022",
        "Last-Modified": "Wed, 01 Jun 2022 20:50:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srcf9a951a0-8958-4f8f-b8b3-9878267e90e8?se=end\u0026sp=rl\u0026sv=2021-06-08\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target04ba9550-be8e-4a97-83a8-e92bfe0f2b11?se=end\u0026sp=wl\u0026sv=2021-06-08\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/8934fe4d-b2c4-4321-a686-2da7a9dd6cdf",
        "X-RequestId": "cea26bd6-3280-44da-bb92-589e6e49c535"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/8934fe4d-b2c4-4321-a686-2da7a9dd6cdf",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220024E3BCBD30DECD3FAFE2B65A13DA7BD1F97B2B8FC5F8AC9673F1E4AE3D56C7\u0022",
        "X-RequestId": "aa9bca20-7f19-4f5e-b6ec-2372faf378b1"
      },
      "ResponseBody": {
        "id": "8934fe4d-b2c4-4321-a686-2da7a9dd6cdf",
        "createdDateTimeUtc": "2022-06-01T20:50:20.9844735Z",
        "lastActionDateTimeUtc": "2022-06-01T20:50:21.0934236Z",
        "status": "NotStarted",
        "summary": {
          "total": 10,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 10,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/8934fe4d-b2c4-4321-a686-2da7a9dd6cdf/documents?$maxpagesize=50",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022192972A0CE3F5AE6238441024ACA6A40DA5F9BF2781285C3115727E6E4611065\u0022",
        "X-RequestId": "fbf95db3-0e40-4638-8103-b5f5292c2bbf"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target04ba9550-be8e-4a97-83a8-e92bfe0f2b11/fbb6441d-2665-45d3-9213-22d279ab46f5.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/srcf9a951a0-8958-4f8f-b8b3-9878267e90e8/fbb6441d-2665-45d3-9213-22d279ab46f5.txt",
            "createdDateTimeUtc": "2022-06-01T20:50:23.1325222Z",
            "lastActionDateTimeUtc": "2022-06-01T20:50:26.4479162Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "003feb66-0000-0000-0000-000000000000",
            "characterCharged": 27
          },
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target04ba9550-be8e-4a97-83a8-e92bfe0f2b11/ef649397-f24b-463e-8e71-db12b992ee81.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/srcf9a951a0-8958-4f8f-b8b3-9878267e90e8/ef649397-f24b-463e-8e71-db12b992ee81.txt",
            "createdDateTimeUtc": "2022-06-01T20:50:23.1160522Z",
            "lastActionDateTimeUtc": "2022-06-01T20:50:27.1395094Z",
            "status": "Succeeded"[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/8934fe4d-b2c4-4321-a686-2da7a9dd6cdf/documents?$skip=2\u0026$maxpagesize=50",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022A5EE66AAF8DC0E8F65244798990BBFD5C9973BBFD3D501DA62E2E04CABAE8F23\u0022",
        "X-R[...]
