{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src869eda8c-6936-4e08-a4c1-2a44d810ab2e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Nov 2021 00:27:45 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9AE181254011F\u0022",
        "Last-Modified": "Tue, 23 Nov 2021 00:27:45 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src869eda8c-6936-4e08-a4c1-2a44d810ab2e/21a0175f-e1dc-428c-9943-b63946a6df9e.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 23 Nov 2021 00:27:45 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8D9AE18125AA827\u0022",
        "Last-Modified": "Tue, 23 Nov 2021 00:27:46 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target10148170-11fe-4ff4-bd23-d1c169de29b7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Nov 2021 00:27:46 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9AE1812867B5B\u0022",
        "Last-Modified": "Tue, 23 Nov 2021 00:27:46 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022inputs\u0022: [{\u0022source\u0022: {\u0022sourceUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/src869eda8c-6936-4e08-a4c1-2a44d810ab2e?se=end\u0026sp=rl\u0026sv=2020-10-02\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022filter\u0022: {}}, \u0022targets\u0022: [{\u0022targetUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/target10148170-11fe-4ff4-bd23-d1c169de29b7?se=end\u0026sp=wl\u0026sv=2020-10-02\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022language\u0022: \u0022es\u0022}]}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/3796d692-2696-471a-9660-2a10853a9c1a",
        "X-RequestId": "b9a7ee80-3367-460b-84d1-1f2b89d2232d"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/3796d692-2696-471a-9660-2a10853a9c1a",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220E0E37F192543594B76E0B67ED3FC48159C54A064698D45EEDC21FFD20ADA47E\u0022",
        "X-RequestId": "9e05ee35-4e3a-4ee2-9e38-4d23eda1cd52"
      },
      "ResponseBody": {
        "id": "3796d692-2696-471a-9660-2a10853a9c1a",
        "createdDateTimeUtc": "2021-11-23T00:27:46.5808011Z",
        "lastActionDateTimeUtc": "2021-11-23T00:27:47.4433365Z",
        "status": "Running",
        "summary": {
          "total": 2,
          "failed": 0,
          "success": 0,
          "inProgress": 2,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?$skip=0\u0026ids=3796d692-2696-471a-9660-2a10853a9c1a,93b3e224-b6d5-46ec-a485-4b2dfbf6f5ec,90e682ae-046a-4427-8af0-f15dab0dfa18",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222DC494AFE9066F6D137385012E8AAD65E94018324DAB8DBE0FE8B9726CD84A3B\u0022",
        "X-RequestId": "e43a178a-b088-4c55-86c3-5455275c0496"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "90e682ae-046a-4427-8af0-f15dab0dfa18",
            "createdDateTimeUtc": "2021-11-23T00:27:59.5128602Z",
            "lastActionDateTimeUtc": "2021-11-23T00:28:05.9436123Z",
            "status": "Succeeded",
            "summary": {
              "total": 2,
              "failed": 0,
              "success": 2,
              "inProgress": 0,
              "notYetStarted": 0,
              "cancelled": 0,
              "totalCharacterCharged": 54
            }
[...]
