{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src43084ea7-f519-4eb0-9597-3d67388279cc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 01 Dec 2022 22:32:57 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD3EC084E43F7\u0022",
        "Last-Modified": "Thu, 01 Dec 2022 22:33:13 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src43084ea7-f519-4eb0-9597-3d67388279cc/b6c27a53-ec83-49da-82a5-5256d51e76ff.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 01 Dec 2022 22:32:57 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8DAD3EC08533185\u0022",
        "Last-Modified": "Thu, 01 Dec 2022 22:33:13 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/targetaf56d7b7-bf4c-47f8-bcc7-9607529eb6db?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 01 Dec 2022 22:32:57 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD3EC08904C22\u0022",
        "Last-Modified": "Thu, 01 Dec 2022 22:33:13 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src43084ea7-f519-4eb0-9597-3d67388279cc?se=end\u0026sp=rl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targetaf56d7b7-bf4c-47f8-bcc7-9607529eb6db?se=end\u0026sp=wl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/e5e4a175-2436-427e-a23a-d25636c1c3fb",
        "x-ms-region": "West US 2",
        "X-RequestId": "1f42e706-672e-4321-a8d2-78bb79436865"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/e5e4a175-2436-427e-a23a-d25636c1c3fb",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222747E1FA062831081D9FE44F20F509E2B7AEB5A841BDA777E0284F87A48215E7\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "89b4c281-274b-4e65-bec2-bed867d0ba2d"
      },
      "ResponseBody": {
        "id": "e5e4a175-2436-427e-a23a-d25636c1c3fb",
        "createdDateTimeUtc": "2022-12-01T22:33:13.7811201Z",
        "lastActionDateTimeUtc": "2022-12-01T22:33:13.7811205Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/e5e4a175-2436-427e-a23a-d25636c1c3fb",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "policy-id": "ResourceRateLimitBy1s",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "error": {
          "code": "429",
          "message": "Requests to the Returns the status for a document translation request Operation under Batch Document Translation API v1.0 have exceeded rate limit of your current TextTranslator S1 pricing tier. Please retry after 1 second. Please contact Azure support service if you would like to further increase the default rate limit."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/e5e4a175-2436-427e-a23a-d25636c1c3fb/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002230AB0A35D04D5DB8C145FFCC0327F0B19A6F53EC71C8492E80A39D6C1E329226\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "7a3dee3b-1b96-46a3-aef7-8a610beb0dfa"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/targetaf56d7b7-bf4c-47f8-bcc7-9607529eb6db/f132da41-352c-4269-98a1-df427a1fb653.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src43084ea7-f519-4eb0-9597-3d67388279cc/f132da41-352c-4269-98a1-df427a1fb653.txt",
            "createdDateTimeUtc": "2022-12-01T22:33:16.6733492Z",
            "lastActionDateTimeUtc": "2022-12-01T22:33:19.8109021Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "005b30fa-0000-0000-0000-000000000000",
            "characterCharged": 27
          },
          {
            "path": "https://fakeendpoint.blob.core.windows.net/targetaf56d7b7-bf4c-47f8-bcc7-9607529eb6db/2d558b9e-8505-4884-b226-3a9a3147b9c6.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src43084ea7-f519-4eb0-9597-3d67388279cc/2d558b9e-8505-4884-b226-3a9a3147b9c6.txt",
            "createdDateTimeUtc": "2022-12-01T22:33:16.3239802Z",
            "lastActionDateTimeUtc": "2022-12-01T22:33:18.8506845Z",
            "status": "Succeeded"[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/e5e4a175-2436-427e-a23a-d25636c1c3fb/documents?$orderBy=createdDateTimeUtc%20asc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002287CA3998825684207511482580781C762677CB11464B39FBC70AADFD34D544C4\u0022",
       [...]
