{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022inputs\u0022: [{\u0022source\u0022: {\u0022sourceUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/srcf15f33ba-c782-42cb-b243-f207f3ec2ecb?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022filter\u0022: {}}, \u0022targets\u0022: [{\u0022targetUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/target7468a18d-c15d-4adb-9e90-cf3224949e83?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022language\u0022: \u0022es\u0022}]}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/cdd212cb-990b-4c34-b74a-25ff1628ea0c",
        "X-RequestId": "4091e4b1-2eff-4620-b1ec-15023b96f078"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/cdd212cb-990b-4c34-b74a-25ff1628ea0c",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223A4A87076ADE8A0417B7557B4B3F2F7CC12C65140087D2637A4A50CF2DDFB07F\u0022",
        "X-RequestId": "162c8689-5731-4268-a12e-fcbbca6f13f0"
      },
      "ResponseBody": {
        "id": "cdd212cb-990b-4c34-b74a-25ff1628ea0c",
        "createdDateTimeUtc": "2021-12-15T03:25:41.8465346Z",
        "lastActionDateTimeUtc": "2021-12-15T03:25:42.0994065Z",
        "status": "NotStarted",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 1,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/cdd212cb-990b-4c34-b74a-25ff1628ea0c/documents?$skip=0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002208A42D09C5791195DADDE742C23768885C032A3785970A4C8308DB4463C3C4D2\u0022",
        "X-RequestId": "3850b31e-6f9c-4f93-9bc5-9423ce7b2531"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target7468a18d-c15d-4adb-9e90-cf3224949e83/789f4c63-20c6-4cc2-a938-a9b5fe192ecf.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/srcf15f33ba-c782-42cb-b243-f207f3ec2ecb/789f4c63-20c6-4cc2-a938-a9b5fe192ecf.txt",
            "createdDateTimeUtc": "2021-12-15T03:25:43.0975705Z",
            "lastActionDateTimeUtc": "2021-12-15T03:25:50.8308744Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "0019a8ec-0000-0000-0000-000000000000",
            "characterCharged": 17
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/cdd212cb-990b-4c34-b74a-25ff1628ea0c/documents/0019a8ec-0000-0000-0000-000000000000",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022B5F3398AC04FB06DA5479C66916F37FCBF04CF41FBF3D771653828DC010D1A80\u0022",
        "X-RequestId": "215dff24-e8f3-4baa-92fc-70c0d2894619"
      },
      "ResponseBody": {
        "path": "https://fakeendpoint.blob.core.windows.net/target7468a18d-c15d-4adb-9e90-cf3224949e83/789f4c63-20c6-4cc2-a938-a9b5fe192ecf.txt",
        "sourcePath": "https://fakeendpoint.blob.core.windows.net/srcf15f33ba-c782-42cb-b243-f207f3ec2ecb/789f4c63-20c6-4cc2-a938-a9b5fe192ecf.txt",
        "createdDateTimeUtc": "2021-12-15T03:25:43.0975705Z",
        "lastActionDateTimeUtc": "2021-12-15T03:25:50.8308744Z",
        "status": "Succeeded",
        "to": "es",
        "progress": 1,
        "id": "0019a8ec-0000-0000-0000-000000000000",
        "characterCharged": 17
      }
    }
  ],
  "Variables": {
    "source_container_name": "srcf15f33ba-c782-42cb-b243-f207f3ec2ecb",
    "target_container_name": "target7468a18d-c15d-4adb-9e90-cf3224949e83"
  }
}
