{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src7486d1cc-7dfd-4a30-a65a-e437e9db3dc6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jan 2022 22:55:36 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9E055CCCB0FB3\u0022",
        "Last-Modified": "Tue, 25 Jan 2022 22:55:36 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src7486d1cc-7dfd-4a30-a65a-e437e9db3dc6/c813c75f-822d-4f13-98f6-8e815445c692.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 25 Jan 2022 22:55:36 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8D9E055CCD25215\u0022",
        "Last-Modified": "Tue, 25 Jan 2022 22:55:36 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target59128895-f9b4-40e9-9305-f168a1e30aa4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jan 2022 22:55:36 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9E055CD0ACE91\u0022",
        "Last-Modified": "Tue, 25 Jan 2022 22:55:36 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src7486d1cc-7dfd-4a30-a65a-e437e9db3dc6?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target59128895-f9b4-40e9-9305-f168a1e30aa4?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/c8edffb6-4047-4fad-aa8f-2acc6adc9526",
        "X-RequestId": "209694c9-1417-4d6e-9611-557245b9c136"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/c8edffb6-4047-4fad-aa8f-2acc6adc9526",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225C18C781F348A6ADB6ECA117F3BC1035296B6335E51584E633F5EA301720237E\u0022",
        "X-RequestId": "750ca285-3533-47ef-9d26-551a44d48af3"
      },
      "ResponseBody": {
        "id": "c8edffb6-4047-4fad-aa8f-2acc6adc9526",
        "createdDateTimeUtc": "2022-01-25T22:55:36.985945Z",
        "lastActionDateTimeUtc": "2022-01-25T22:55:37.8844616Z",
        "status": "Running",
        "summary": {
          "total": 2,
          "failed": 0,
          "success": 0,
          "inProgress": 1,
          "notYetStarted": 1,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?$skip=0\u0026ids=c8edffb6-4047-4fad-aa8f-2acc6adc9526,7cb72c71-ab59-4729-821b-2924489323e1,3437abdc-e05a-4a85-a0fb-b69df937958b",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022A60F6D7B63AF89E5BC8CEF54D06D4196CC04CF953C95B0950A55399118BEE0DE\u0022",
        "X-RequestId": "661398a3-d6f7-433b-be1b-ee52dc0a0b04"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "3437abdc-e05a-4a85-a0fb-b69df937958b",
            "createdDateTimeUtc": "2022-01-25T22:55:51.3048362Z",
            "lastActionDateTimeUtc": "2022-01-25T22:55:53.8598278Z",
            "status": "Succeeded",
            "summary": {
              "total": 2,
              "failed": 0,
              "success": 2,
              "inProgress": 0,
              "notYetStarted": 0,
              "cancelled": 0,
              "totalCharacterCharged": 54
            }
[...]
