{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcb51c38bd-f8e9-44d0-8751-0e0f2af97e6a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 19 Feb 2022 01:33:55 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F347E4940592\u0022",
        "Last-Modified": "Sat, 19 Feb 2022 01:33:55 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcb51c38bd-f8e9-44d0-8751-0e0f2af97e6a/5ec93509-2448-472c-a144-94aeaa9b2cbd.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 19 Feb 2022 01:33:55 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8D9F347E498A089\u0022",
        "Last-Modified": "Sat, 19 Feb 2022 01:33:55 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target11c03c6c-101e-49a3-a240-b5a5b67e64ae?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 19 Feb 2022 01:33:55 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F347E4F1F585\u0022",
        "Last-Modified": "Sat, 19 Feb 2022 01:33:55 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srcb51c38bd-f8e9-44d0-8751-0e0f2af97e6a?se=end\u0026sp=rl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target11c03c6c-101e-49a3-a240-b5a5b67e64ae?se=end\u0026sp=wl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/fcea7e6d-79f0-4a73-91a9-dc471fa79fc1",
        "X-RequestId": "4d1882cf-5774-487e-b1a5-526d364e1d69"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/fcea7e6d-79f0-4a73-91a9-dc471fa79fc1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022F07C3051D54B2FAFC9C77F9827F020691547A138584A95F19AC39A6DFF5D39DF\u0022",
        "X-RequestId": "313b45b2-8de3-49f4-bec0-17e960d30fa6"
      },
      "ResponseBody": {
        "id": "fcea7e6d-79f0-4a73-91a9-dc471fa79fc1",
        "createdDateTimeUtc": "2022-02-19T01:33:56.1003319Z",
        "lastActionDateTimeUtc": "2022-02-19T01:33:56.9144099Z",
        "status": "Running",
        "summary": {
          "total": 10,
          "failed": 0,
          "success": 0,
          "inProgress": 4,
          "notYetStarted": 6,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/fcea7e6d-79f0-4a73-91a9-dc471fa79fc1/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002202FEA23C2DCAF01ABDF78040FFAF2965FBC5CE6D209B83BA03EE2398A250EF0D\u0022",
        "X-RequestId": "fe545370-3f80-405c-b88f-521413ba62c0"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target11c03c6c-101e-49a3-a240-b5a5b67e64ae/ffed35ff-1a25-4787-ac3a-fbea32c3068f.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/srcb51c38bd-f8e9-44d0-8751-0e0f2af97e6a/ffed35ff-1a25-4787-ac3a-fbea32c3068f.txt",
            "createdDateTimeUtc": "2022-02-19T01:33:57.4655275Z",
            "lastActionDateTimeUtc": "2022-02-19T01:34:02.3941469Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "00245cf4-0000-0000-0000-000000000000",
            "characterCharged": 27
          },
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target11c03c6c-101e-49a3-a240-b5a5b67e64ae/ff71ab22-412d-476c-b3df-837f398ac97b.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/srcb51c38bd-f8e9-44d0-8751-0e0f2af97e6a/ff71ab22-412d-476c-b3df-837f398ac97b.txt",
            "createdDateTimeUtc": "2022-02-19T01:33:57.4503814Z",
            "lastActionDateTimeUtc": "2022-02-19T01:34:01.6638524Z",
            "status": "Succeeded"[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/fcea7e6d-79f0-4a73-91a9-dc471fa79fc1/documents?statuses=NotStarted",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022BC05D41EFDB9EB3BB8EF7CE29F058C398BAC912F3F53676F1414F4CA9D57617D\u0022",
        "X-RequestId": "2f0827d6-8f82-4b12-a3a1-97431aef9ab1"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/fcea7e6d-79f0-4a73-91a9-dc471fa79fc1/documents?statuses=Succeeded",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002202FEA23C2DCAF01ABDF78040FFAF2965FBC5CE6D209B83BA03EE2398A250EF0D\u0022",
        "X-RequestId":[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/fcea7e6d-79f0-4a73-91a9-dc471fa79fc1/documents?statuses=Failed",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022BC05D41EFDB9EB3BB8EF7CE29F058C398BAC912F3F53676F1414F4CA9D57617D\u0022",
        "X-RequestId": "daa19dc7-99e8-476b-a484-82295146e881"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "source_container_name": "srcb51c38bd-f8e9-44d0-8751-0e0f2af97e6a",
    "target_container_name": "target11c03c6c-101e-49a3-a240-b5a5b67e64ae"
  }
}
