{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src7d1f0175-e087-4505-846c-ad6ce81e4822?se=end\u0026sp=rl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target5cf249c9-c125-4273-a43e-0e1dc39c2308?se=end\u0026sp=wl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/a71048da-27dd-43d8-af14-d61a3a1ccd80",
        "X-RequestId": "fe09beea-eaa8-485a-a14a-e2ff7c976f2a"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/a71048da-27dd-43d8-af14-d61a3a1ccd80",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022D73670111C2166F1537C2D958C8A72358B8E03A11E7857D58D4748C0BEF6F41C\u0022",
        "X-RequestId": "797c37a1-3e41-4e5d-92fe-8a92c81f8280"
      },
      "ResponseBody": {
        "id": "a71048da-27dd-43d8-af14-d61a3a1ccd80",
        "createdDateTimeUtc": "2022-02-19T01:35:45.6512552Z",
        "lastActionDateTimeUtc": "2022-02-19T01:35:46.6192552Z",
        "status": "Running",
        "summary": {
          "total": 5,
          "failed": 0,
          "success": 0,
          "inProgress": 5,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/a71048da-27dd-43d8-af14-d61a3a1ccd80/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022B0233F829F36C60B7790DB75E3C65DD849E1689527DE32939E96510C6126768B\u0022",
        "X-RequestId": "40905802-199f-4365-98bd-b5d959d3fd95"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target5cf249c9-c125-4273-a43e-0e1dc39c2308/e63dda33-7c70-481d-bf8d-2bd5b9906951.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src7d1f0175-e087-4505-846c-ad6ce81e4822/e63dda33-7c70-481d-bf8d-2bd5b9906951.txt",
            "createdDateTimeUtc": "2022-02-19T01:35:46.282896Z",
            "lastActionDateTimeUtc": "2022-02-19T01:35:58.8109111Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "00245d51-0000-0000-0000-000000000000",
            "characterCharged": 27
          },
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target5cf249c9-c125-4273-a43e-0e1dc39c2308/b9b2cf9d-7422-489f-aff5-68b8c3d76eca.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src7d1f0175-e087-4505-846c-ad6ce81e4822/b9b2cf9d-7422-489f-aff5-68b8c3d76eca.txt",
            "createdDateTimeUtc": "2022-02-19T01:35:46.0059827Z",
            "lastActionDateTimeUtc": "2022-02-19T01:35:58.6908891Z",
            "status": "Succeeded"[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/a71048da-27dd-43d8-af14-d61a3a1ccd80/documents?$orderBy=createdDateTimeUtc%20asc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002235DA0B48B2C5DAB9A304254F8A7C7E943E2249CBA1159846BF9B282B3B9E1E88\u0022",
       [...]
