{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src89417321-47df-4421-8e2c-0b8ec63532ba?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 19 Feb 2022 01:33:40 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F347DBF03992\u0022",
        "Last-Modified": "Sat, 19 Feb 2022 01:33:40 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src89417321-47df-4421-8e2c-0b8ec63532ba/c807b30a-a292-456f-ad0e-f27078442968.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 19 Feb 2022 01:33:40 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8D9F347DBF6E3B3\u0022",
        "Last-Modified": "Sat, 19 Feb 2022 01:33:40 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target2dc9c6d6-9bfb-472f-a51a-9a88f45895a5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 19 Feb 2022 01:33:41 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F347DC58130E\u0022",
        "Last-Modified": "Sat, 19 Feb 2022 01:33:41 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src89417321-47df-4421-8e2c-0b8ec63532ba?se=end\u0026sp=rl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target2dc9c6d6-9bfb-472f-a51a-9a88f45895a5?se=end\u0026sp=wl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d5619d2c-fb45-4a7a-8d8b-0aed22b8b534",
        "X-RequestId": "04eea782-8268-48d5-985d-f4c6ca1c1011"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d5619d2c-fb45-4a7a-8d8b-0aed22b8b534",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002232D49FE65280F300CC1089B323816C08A396286376F55E0B8F6C942BD0108CFA\u0022",
        "X-RequestId": "d285339c-6d64-4a40-8749-1ec49e14a41e"
      },
      "ResponseBody": {
        "id": "d5619d2c-fb45-4a7a-8d8b-0aed22b8b534",
        "createdDateTimeUtc": "2022-02-19T01:33:41.7639422Z",
        "lastActionDateTimeUtc": "2022-02-19T01:33:42.1520322Z",
        "status": "NotStarted",
        "summary": {
          "total": 10,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 10,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d5619d2c-fb45-4a7a-8d8b-0aed22b8b534/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022943BF993D99B6EA7AB22F253B6FDB9D773F08676EDA8E5E377F5C27868A82EED\u0022",
        "X-RequestId": "821371d5-041c-4eec-8d5f-dee063a48d8c"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target2dc9c6d6-9bfb-472f-a51a-9a88f45895a5/cec5e7c7-bbdd-4de4-b228-4cfaf244c0c9.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src89417321-47df-4421-8e2c-0b8ec63532ba/cec5e7c7-bbdd-4de4-b228-4cfaf244c0c9.txt",
            "createdDateTimeUtc": "2022-02-19T01:33:49.761307Z",
            "lastActionDateTimeUtc": "2022-02-19T01:33:54.0462109Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "00245ce9-0000-0000-0000-000000000000",
            "characterCharged": 27
          },
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target2dc9c6d6-9bfb-472f-a51a-9a88f45895a5/c807b30a-a292-456f-ad0e-f27078442968.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src89417321-47df-4421-8e2c-0b8ec63532ba/c807b30a-a292-456f-ad0e-f27078442968.txt",
            "createdDateTimeUtc": "2022-02-19T01:33:49.7556597Z",
            "lastActionDateTimeUtc": "2022-02-19T01:33:53.9868684Z",
            "status": "Succeeded"[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d5619d2c-fb45-4a7a-8d8b-0aed22b8b534/documents?$skip=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221E8D07767C81BBD3AEC7B315621A438E02C0AB5E305A4D165774A751322A24C3\u0022",
        "X-RequestId": "d3dbae92-[...]
