{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/targete4e48630-4375-43c7-8c24-ca1151389934?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jan 2022 23:02:19 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9E056BD52E92C\u0022",
        "Last-Modified": "Tue, 25 Jan 2022 23:02:19 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://idont.ex.ist",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targete4e48630-4375-43c7-8c24-ca1151389934?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7a042a11-9106-41bc-8fc9-08739fdc9d23",
        "X-RequestId": "b64685d2-1a58-4131-9d70-13d73c2a8a7a"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7a042a11-9106-41bc-8fc9-08739fdc9d23",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002286419F2786D4645CBB32755D199DAB62AE35CDCE7C2EE7BF534A2DD82BA3D8C0\u0022",
        "X-RequestId": "e967f73d-1b6c-40c9-8156-846df87ec9d3"
      },
      "ResponseBody": {
        "id": "7a042a11-9106-41bc-8fc9-08739fdc9d23",
        "createdDateTimeUtc": "2022-01-25T23:02:20.1476894Z",
        "lastActionDateTimeUtc": "2022-01-25T23:02:20.1476904Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7a042a11-9106-41bc-8fc9-08739fdc9d23",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222003C6D1974162283871331013870AB585250920F90FED07ACC24AFA83FB9DDF\u0022",
        "X-RequestId": "b5192094-c69b-42dd-8f21-af1195af8307"
      },
      "ResponseBody": {
        "id": "7a042a11-9106-41bc-8fc9-08739fdc9d23",
        "createdDateTimeUtc": "2022-01-25T23:02:20.1476894Z",
        "lastActionDateTimeUtc": "2022-01-25T23:02:21.4044948Z",
        "status": "ValidationFailed",
        "error": {
          "code": "InvalidRequest",
          "message": "Cannot access source document location with the current permissions.",
          "target": "Operation",
          "innerError": {
            "code": "InvalidDocumentAccessLevel",
            "message": "Cannot access source document location with the current permissions."
          }
        },
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    }
  ],
  "Variables": {
    "target_container_name": "targete4e48630-4375-43c7-8c24-ca1151389934"
  }
}
