{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src95a9db62-2edb-44b8-a117-c8f416b1ac9e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 19 Feb 2022 01:53:38 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F34AA5AB0E36\u0022",
        "Last-Modified": "Sat, 19 Feb 2022 01:53:38 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src95a9db62-2edb-44b8-a117-c8f416b1ac9e/document.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 19 Feb 2022 01:53:38 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8D9F34AA5B12181\u0022",
        "Last-Modified": "Sat, 19 Feb 2022 01:53:38 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/targetb30e5eac-4bc7-465f-a0cc-2f1e729080e5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 19 Feb 2022 01:53:38 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F34AA5CDFA7D\u0022",
        "Last-Modified": "Sat, 19 Feb 2022 01:53:38 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/targetb30e5eac-4bc7-465f-a0cc-2f1e729080e5/document.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 19 Feb 2022 01:53:38 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8D9F34AA5D4A9E7\u0022",
        "Last-Modified": "Sat, 19 Feb 2022 01:53:38 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src95a9db62-2edb-44b8-a117-c8f416b1ac9e?se=end\u0026sp=rl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targetb30e5eac-4bc7-465f-a0cc-2f1e729080e5?se=end\u0026sp=wl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/8dc81a1a-67ad-4c43-bb69-58de7458deb7",
        "X-RequestId": "ffe56297-9ad4-47a2-a08e-ee410ca0649a"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/8dc81a1a-67ad-4c43-bb69-58de7458deb7",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228B855ABBC04E45945AF193087F1AAE15CCDC3D011292366816BC322E9FEBC452\u0022",
        "X-RequestId": "65c719a7-be12-478d-a76f-251bc84c37ee"
      },
      "ResponseBody": {
        "id": "8dc81a1a-67ad-4c43-bb69-58de7458deb7",
        "createdDateTimeUtc": "2022-02-19T01:53:38.7602655Z",
        "lastActionDateTimeUtc": "2022-02-19T01:53:38.8984136Z",
        "status": "Failed",
        "error": {
          "code": "InvalidRequest",
          "message": "Target document file already exists.",
          "target": "Operation",
          "innerError": {
            "code": "TargetFileAlreadyExists",
            "message": "Target document file already exists."
          }
        },
        "summary": {
          "total": 1,
          "failed": 1,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/8dc81a1a-67ad-4c43-bb69-58de7458deb7/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220F072868E68A6D41F619ED036C414719735D4FE3EDFBFF8AB9AEAA666E148E15\u0022",
        "X-RequestId": "d88bad0f-c5e9-4646-a5fb-08ec0d0875d2"
      },
      "ResponseBody": {
        "value": [
          {
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src95a9db62-2edb-44b8-a117-c8f416b1ac9e/document.txt",
            "lastActionDateTimeUtc": "2022-02-19T01:53:38.8983078Z",
            "status": "Failed",
            "to": "es",
            "error": {
              "code": "InvalidRequest",
              "message": "Target document file already exists.",
              "target": "Document",
              "innerError": {
                "code": "TargetFileAlreadyExists",
                "message": "Target document file already exists."
              }
            },
            "progress": 0,
            "id": "00245e8a-0000-0000-0000-000000000000",
            "characterCharged": 0
          }
        ]
      }
    }
  ],
  "Variables": {
    "source_container_name": "src95a9db62-2edb-44b8-a117-c8f416b1ac9e",
    "target_container_name": "targetb30e5eac-4bc7-465f-a0cc-2f1e729080e5"
  }
}
