{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srcb5476043-7572-4530-96ab-67d16f03c182?se=end\u0026sp=rl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target0cd86ed8-77c1-4483-8a9f-9dc99228f4c3?se=end\u0026sp=wl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/48bb2e7f-40ca-4cd5-885f-9abe9ffeb8f3",
        "X-RequestId": "e7e702d1-418e-459d-b7c7-49383eda8b21"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/48bb2e7f-40ca-4cd5-885f-9abe9ffeb8f3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022BCF5D0A1108171B468A28F85EE6CA86FFF1ACCBA8A8AC956AA4F7956C1E21E2F\u0022",
        "X-RequestId": "35811291-5d1e-41eb-92a1-657d74b731b2"
      },
      "ResponseBody": {
        "id": "48bb2e7f-40ca-4cd5-885f-9abe9ffeb8f3",
        "createdDateTimeUtc": "2022-02-19T01:49:12.5803472Z",
        "lastActionDateTimeUtc": "2022-02-19T01:49:12.7294737Z",
        "status": "NotStarted",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 1,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?statuses=Cancelled",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225AE4D77D893328AFD5454349424D7C7D5F1D27D1BDF5EA55494CC360E17D35FC\u0022",
        "X-RequestId": "56d592f2-49cb-4aa1-9c96-8b376fe1ea01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "8766a04b-764b-42e1-ae7f-991288ed9f48",
            "createdDateTimeUtc": "2022-02-19T01:32:55.9661541Z",
            "lastActionDateTimeUtc": "2022-02-19T01:32:58.1735976Z",
            "status": "Cancelled",
            "summary": {
              "total": 8,
              "failed": 0,
              "success": 0,
              "inProgress": 0,
              "notYetStarted": 0,
              "cancelled": 8,
              "totalCharacterCharged": 0
            }
 [...]
