{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcb0be4bc1-67e4-400d-80bc-0e156aa676ae?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Dec 2021 19:36:44 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9C0023A0A0A57\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 19:36:44 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcb0be4bc1-67e4-400d-80bc-0e156aa676ae/39745932-67c6-4ba0-a5b9-18d4a2dd42e1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Dec 2021 19:36:44 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8D9C0023A104856\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 19:36:44 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target2e01614f-42f2-463c-9323-1467cc16c734?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Dec 2021 19:36:44 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9C0023A30C685\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 19:36:44 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srcb0be4bc1-67e4-400d-80bc-0e156aa676ae?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target2e01614f-42f2-463c-9323-1467cc16c734?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/ca83b614-03c0-4375-b02c-68c8292bd504",
        "X-RequestId": "1719e40c-cce2-465e-9c8f-640479e92481"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/ca83b614-03c0-4375-b02c-68c8292bd504",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002261A90833EAF343AE56130436515CEAE7604E0C7EB46D9D02CCEB1552CD54CD54\u0022",
        "X-RequestId": "88be92d7-a087-41d4-989b-a905d13b5878"
      },
      "ResponseBody": {
        "id": "ca83b614-03c0-4375-b02c-68c8292bd504",
        "createdDateTimeUtc": "2021-12-15T19:36:45.0100508Z",
        "lastActionDateTimeUtc": "2021-12-15T19:36:45.1675891Z",
        "status": "NotStarted",
        "summary": {
          "total": 2,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 2,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?$skip=0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225C8C2E2790779CEB339DBD3D7633E661C42755CE42DE7D221140313FA7992A99\u0022",
        "X-RequestId": "3d830480-72ea-4942-a011-b526ba109a76"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1019f17a-804f-49ea-a842-17ef1d088171",
            "createdDateTimeUtc": "2021-12-15T19:37:43.2936411Z",
            "lastActionDateTimeUtc": "2021-12-15T19:37:49.1776577Z",
            "status": "Succeeded",
            "summary": {
              "total": 2,
              "failed": 0,
              "success": 2,
              "inProgress": 0,
              "notYetStarted": 0,
              "cancelled": 0,
              "totalCharacterCharged": 54
            }
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?$skip=50\u0026$top=267\u0026$maxpagesize=50",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228E5D272E8819FEA7BD98F7B9DAC486C127D8195CEFD0FED3A73C0E6553538477\u0022",
        "X-RequestId": "7e80253a-02f9-4055-a[...]
[...]
