{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src45bf458a-0909-4d77-b582-7f9c9006ac1d?se=end\u0026sp=rl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targetf1be10af-ac4a-4009-b517-e34c0a176277?se=end\u0026sp=wl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/8766a04b-764b-42e1-ae7f-991288ed9f48",
        "X-RequestId": "afc64245-41b0-4a33-8235-308b1ba96b87"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/8766a04b-764b-42e1-ae7f-991288ed9f48",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-RequestId": "6e80a686-5422-4198-bf29-0082faf47ae5"
      },
      "ResponseBody": {
        "id": "8766a04b-764b-42e1-ae7f-991288ed9f48",
        "createdDateTimeUtc": "2022-02-19T01:32:55.9661541Z",
        "lastActionDateTimeUtc": "2022-02-19T01:32:56.0326028Z",
        "status": "Cancelling",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/8766a04b-764b-42e1-ae7f-991288ed9f48",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022390B7648C7E2AE1F4C28E78276B73F7112B9E26296B9A62F112A872C80C4DAF6\u0022",
        "X-RequestId": "e342e19a-5150-4880-b4ab-bc5f0e427dbc"
      },
      "ResponseBody": {
        "id": "8766a04b-764b-42e1-ae7f-991288ed9f48",
        "createdDateTimeUtc": "2022-02-19T01:32:55.9661541Z",
        "lastActionDateTimeUtc": "2022-02-19T01:32:56.0326028Z",
        "status": "Cancelling",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/8766a04b-764b-42e1-ae7f-991288ed9f48",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022883500FF53E100668960417CC71ED19D4C16762584ABB0866A6C8B6302C15C85\u0022",
        "X-RequestId": "7c210f7c-5554-47cf-81db-1a3f5bd4bd23"
      },
      "ResponseBody": {
        "id": "8766a04b-764b-42e1-ae7f-991288ed9f48",
        "createdDateTimeUtc": "2022-02-19T01:32:55.9661541Z",
        "lastActionDateTimeUtc": "2022-02-19T01:32:56.1471889Z",
        "status": "Cancelling",
        "summary": {
          "total": 8,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 8,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    }
  ],
  "Variables": {
    "source_container_name": "src45bf458a-0909-4d77-b582-7f9c9006ac1d",
    "target_container_name": "targetf1be10af-ac4a-4009-b517-e34c0a176277"
  }
}
