{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcae4f169a-788e-48e9-857a-29c288adb89e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 01 Dec 2022 22:32:48 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD3EC0336B3C3\u0022",
        "Last-Modified": "Thu, 01 Dec 2022 22:33:04 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srcae4f169a-788e-48e9-857a-29c288adb89e/ae1b4f4a-3c78-4fe9-a524-909e13aeee4d.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 01 Dec 2022 22:32:49 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "VGhpcyBpcyB3cml0dGVuIGluIGVuZ2xpc2gu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mYgA0QpY6baiB\u002BxZp8Hk\u002BA==",
        "ETag": "\u00220x8DAD3EC033B9B50\u0022",
        "Last-Modified": "Thu, 01 Dec 2022 22:33:04 GMT",
        "x-ms-content-crc64": "NB4xBtawP6g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target33269238-238d-4dd1-9a36-2f4e01bbe21e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 01 Dec 2022 22:32:49 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAD3EC037B53A6\u0022",
        "Last-Modified": "Thu, 01 Dec 2022 22:33:05 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srcae4f169a-788e-48e9-857a-29c288adb89e?se=end\u0026sp=rl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target33269238-238d-4dd1-9a36-2f4e01bbe21e?se=end\u0026sp=wl\u0026sv=2021-08-06\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d6df3c08-fff4-480d-8f39-b57c9cdb7470",
        "x-ms-region": "West US 2",
        "X-RequestId": "44a3ed0f-8d84-4ba0-97b9-fba14d7eb9ab"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d6df3c08-fff4-480d-8f39-b57c9cdb7470",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022416A17A366B0B436CCD36C31308C32380F58731B2A5B0C6FA9A443676044FD69\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "de33232b-9407-4dfd-9e92-0072de9d3f4b"
      },
      "ResponseBody": {
        "id": "d6df3c08-fff4-480d-8f39-b57c9cdb7470",
        "createdDateTimeUtc": "2022-12-01T22:33:05.1890551Z",
        "lastActionDateTimeUtc": "2022-12-01T22:33:05.1890562Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d6df3c08-fff4-480d-8f39-b57c9cdb7470",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "policy-id": "ResourceRateLimitBy1s",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "error": {
          "code": "429",
          "message": "Requests to the Returns the status for a document translation request Operation under Batch Document Translation API v1.0 have exceeded rate limit of your current TextTranslator S1 pricing tier. Please retry after 1 second. Please contact Azure support service if you would like to further increase the default rate limit."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d6df3c08-fff4-480d-8f39-b57c9cdb7470/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002238613FF212C643A4A170F37F6BBBDB509525D1772F83C84F386FCE96784C83E0\u0022",
        "x-ms-region": "West US 2",
        "X-RequestId": "33bc77d7-3e28-485a-a762-8fcaae5bcec7"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target33269238-238d-4dd1-9a36-2f4e01bbe21e/dfbe40f1-d5c6-4130-8ed2-afde46738017.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/srcae4f169a-788e-48e9-857a-29c288adb89e/dfbe40f1-d5c6-4130-8ed2-afde46738017.txt",
            "createdDateTimeUtc": "2022-12-01T22:33:09.2411446Z",
            "lastActionDateTimeUtc": "2022-12-01T22:33:11.8211677Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "005b30f5-0000-0000-0000-000000000000",
            "characterCharged": 27
          },
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target33269238-238d-4dd1-9a36-2f4e01bbe21e/95c149e6-bd52-42bc-9b43-442fd21e5c6b.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/srcae4f169a-788e-48e9-857a-29c288adb89e/95c149e6-bd52-42bc-9b43-442fd21e5c6b.txt",
            "createdDateTimeUtc": "2022-12-01T22:33:09.0010952Z",
            "lastActionDateTimeUtc": "2022-12-01T22:33:10.8369296Z",
            "status": "Succeeded"[...]
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d6df3c08-fff4-480d-8f39-b57c9cdb7470/documents?ids=005b30f5-0000-0000-0000-000000000000,005b30f3-0000-0000-0000-000000000000",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225D6063EE3257E74DE629ABC04A9C55904199[...]
