{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022inputs\u0022: [{\u0022source\u0022: {\u0022sourceUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/src6193abfa-cda9-4a10-94c4-a8d5faa5128f?se=end\u0026sp=rl\u0026sv=2020-10-02\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022filter\u0022: {}}, \u0022targets\u0022: [{\u0022targetUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/target4461c0e3-d3b4-492f-8ba6-deb098c9fa3b?se=end\u0026sp=wl\u0026sv=2020-10-02\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022language\u0022: \u0022es\u0022}]}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/4c7359db-6de1-4deb-b6a3-a0f49449f995",
        "X-RequestId": "933826e2-790c-4aec-b886-04f1306c78ae"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/4c7359db-6de1-4deb-b6a3-a0f49449f995",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022722880259D73331B994A1F65D7F2F5A2F442A2EC9019E040AB3D1EDEEB8D16FC\u0022",
        "X-RequestId": "015247b2-3e16-4d28-ab04-892548c259ce"
      },
      "ResponseBody": {
        "id": "4c7359db-6de1-4deb-b6a3-a0f49449f995",
        "createdDateTimeUtc": "2021-11-23T00:52:35.7857136Z",
        "lastActionDateTimeUtc": "2021-11-23T00:52:36.0027104Z",
        "status": "NotStarted",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 1,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches?$skip=0\u0026statuses=Cancelled",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223FA25BD4C1CE6A2E9EE8366B79258B1DC69924D678BE20B13C5FB2F1CDDEFECB\u0022",
        "X-RequestId": "3cf68740-9c73-4d92-a74d-686076f91e0b"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "4cd1da4a-9bb1-4a11-9103-a4a6f9f6cb45",
            "createdDateTimeUtc": "2021-11-22T22:57:14.0278815Z",
            "lastActionDateTimeUtc": "2021-11-22T22:57:15.927861Z",
            "status": "Cancelled",
            "summary": {
              "total": 8,
              "failed": 0,
              "success": 0,
              "inProgress": 0,
              "notYetStarted": 0,
              "cancelled": 8,
              "totalCharacterCharged": 0
            }
  [...]
