{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srce708528e-a621-4bd6-9a22-733c029ed61d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 22 Nov 2021 21:01:15 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9ADFB392F1FA2\u0022",
        "Last-Modified": "Mon, 22 Nov 2021 21:01:15 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srce708528e-a621-4bd6-9a22-733c029ed61d/612c9895-0ccf-4cb7-a139-cea0c631069b.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 22 Nov 2021 21:01:15 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "aGVsbG8gd29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XrY7u\u002BAe7tCTyyK7j1rNww==",
        "ETag": "\u00220x8D9ADFB3935DE62\u0022",
        "Last-Modified": "Mon, 22 Nov 2021 21:01:15 GMT",
        "x-ms-content-crc64": "vo7q9sPVKY0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target8691e175-c31d-42a8-9000-74196dd71e84?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 22 Nov 2021 21:01:15 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9ADFB394D2A8D\u0022",
        "Last-Modified": "Mon, 22 Nov 2021 21:01:15 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022inputs\u0022: [{\u0022source\u0022: {\u0022sourceUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/srce708528e-a621-4bd6-9a22-733c029ed61d?se=end\u0026sp=rl\u0026sv=2020-10-02\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022filter\u0022: {}}, \u0022targets\u0022: [{\u0022targetUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/target8691e175-c31d-42a8-9000-74196dd71e84?se=end\u0026sp=wl\u0026sv=2020-10-02\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022language\u0022: \u0022es\u0022}]}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/9ce85ef7-c078-4f68-a6e2-5c2257e7f60d",
        "X-RequestId": "2aa96299-4c5c-47b9-8fba-514f43f89cfd"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/9ce85ef7-c078-4f68-a6e2-5c2257e7f60d",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229EEF2F1AA92FBCEF2667FD42C1E23CFE5D12B2D4585F07228254E202C1216C5A\u0022",
        "X-RequestId": "bc1897de-3e4f-4004-83dc-6a166bbaacc4"
      },
      "ResponseBody": {
        "id": "9ce85ef7-c078-4f68-a6e2-5c2257e7f60d",
        "createdDateTimeUtc": "2021-11-22T21:01:16.2764349Z",
        "lastActionDateTimeUtc": "2021-11-22T21:01:16.8190121Z",
        "status": "NotStarted",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 1,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/9cbd51c2-154a-4f4d-bb3b-b9ab17748fd2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002273CFAE148D5B2B42F617017254A74C89F0F67414B0615C9CDC3506B8B2184B79\u0022",
        "X-RequestId": "374257a5-ca53-48c5-bcd2-ccc6712a7ee6"
      },
      "ResponseBody": {
        "id": "9cbd51c2-154a-4f4d-bb3b-b9ab17748fd2",
        "createdDateTimeUtc": "2021-11-22T21:01:27.0335254Z",
        "lastActionDateTimeUtc": "2021-11-22T21:01:33.590529Z",
        "status": "Succeeded",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 1,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 11
        }
      }
    }
  ],
  "Variables": {
    "source_container_name": "srce708528e-a621-4bd6-9a22-733c029ed61d",
    "target_container_name": "target8691e175-c31d-42a8-9000-74196dd71e84",
    "target_container_name2": "target79193fa2-fad0-4ad2-bcb6-02f4aa8d2e60"
  }
}
