{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src7c54093f-3068-46d5-af22-1c153cc4726c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Dec 2021 03:47:07 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9BF7D90CCC170\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 03:47:07 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src7c54093f-3068-46d5-af22-1c153cc4726c/a11a8ae3-04c3-454b-add1-f8f38630b8c5.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Dec 2021 03:47:07 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "aGVsbG8gd29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XrY7u\u002BAe7tCTyyK7j1rNww==",
        "ETag": "\u00220x8D9BF7D90D216E5\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 03:47:07 GMT",
        "x-ms-content-crc64": "vo7q9sPVKY0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/targetcb3d7b08-43e9-48c8-aab0-7080551cbbee?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Dec 2021 03:47:07 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9BF7D90E7BF89\u0022",
        "Last-Modified": "Wed, 15 Dec 2021 03:47:07 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022inputs\u0022: [{\u0022source\u0022: {\u0022sourceUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/src7c54093f-3068-46d5-af22-1c153cc4726c?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022filter\u0022: {}}, \u0022targets\u0022: [{\u0022targetUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/targetcb3d7b08-43e9-48c8-aab0-7080551cbbee?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022language\u0022: \u0022es\u0022}]}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/2b3d9943-2561-44bf-8647-f6f6cb5280e4",
        "X-RequestId": "e61edd7b-00b1-4281-8ec1-8fb97235803c"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/2b3d9943-2561-44bf-8647-f6f6cb5280e4",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022B43F754B7C3DF0A2AC5FBBD6DB747ABB9ACA847C9BB1A54ABD2CAAF92536119B\u0022",
        "X-RequestId": "f3f3fc7e-92b0-45b3-ab98-fa62852fc33d"
      },
      "ResponseBody": {
        "id": "2b3d9943-2561-44bf-8647-f6f6cb5280e4",
        "createdDateTimeUtc": "2021-12-15T03:47:07.6230225Z",
        "lastActionDateTimeUtc": "2021-12-15T03:47:07.8234981Z",
        "status": "NotStarted",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 1,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/a536ba53-4548-49a6-a617-0a5e24c30ad3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022AD0D0B8F65D2798ADA38825ABCF19418C978005157D5B2CA9D551ADFB991B9C8\u0022",
        "X-RequestId": "a2a0d4ae-0a4d-4306-add4-3e2c1dcf9880"
      },
      "ResponseBody": {
        "id": "a536ba53-4548-49a6-a617-0a5e24c30ad3",
        "createdDateTimeUtc": "2021-12-15T03:47:17.3388209Z",
        "lastActionDateTimeUtc": "2021-12-15T03:47:23.9406061Z",
        "status": "Succeeded",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 1,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 11
        }
      }
    }
  ],
  "Variables": {
    "source_container_name": "src7c54093f-3068-46d5-af22-1c153cc4726c",
    "target_container_name": "targetcb3d7b08-43e9-48c8-aab0-7080551cbbee",
    "target_container_name2": "target53ab3840-2cb6-4e11-a8f6-bd6c816882a3"
  }
}
