{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srce7741314-7cb4-4aba-8824-904a342fe9fd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 19 Feb 2022 01:52:40 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F34A8349DF79\u0022",
        "Last-Modified": "Sat, 19 Feb 2022 01:52:40 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/srce7741314-7cb4-4aba-8824-904a342fe9fd/f956d420-6a13-41be-b2c4-3f7dd34b839a.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 19 Feb 2022 01:52:40 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "VGhpcyBpcyBzb21lIHRleHQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "lyFPYyJLwenMTaN3qtznxw==",
        "ETag": "\u00220x8D9F34A834F8B07\u0022",
        "Last-Modified": "Sat, 19 Feb 2022 01:52:40 GMT",
        "x-ms-content-crc64": "SqmNKeH10UQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/targetc164176a-1f8c-48a4-bf68-a0e0b26b58d1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 19 Feb 2022 01:52:40 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F34A8369BEED\u0022",
        "Last-Modified": "Sat, 19 Feb 2022 01:52:40 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srce7741314-7cb4-4aba-8824-904a342fe9fd?se=end\u0026sp=rl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targetc164176a-1f8c-48a4-bf68-a0e0b26b58d1?se=end\u0026sp=wl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              },
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/targetf0301e81-0b22-45be-8608-658027a8e0dc?se=end\u0026sp=wl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/786304e8-3e76-4cf0-a115-c0f2e552f362",
        "X-RequestId": "8960a092-c1e1-4f16-9c15-ebd774107f98"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/786304e8-3e76-4cf0-a115-c0f2e552f362",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228113EA9543FB9F5F0A658CFB50D8EC3D2397156E22C80453B7670C51224AB77A\u0022",
        "X-RequestId": "7dbdceba-3761-4b6f-83a6-acb8625b4b7b"
      },
      "ResponseBody": {
        "id": "786304e8-3e76-4cf0-a115-c0f2e552f362",
        "createdDateTimeUtc": "2022-02-19T01:52:41.137489Z",
        "lastActionDateTimeUtc": "2022-02-19T01:52:41.2998659Z",
        "status": "NotStarted",
        "summary": {
          "total": 2,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 2,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/786304e8-3e76-4cf0-a115-c0f2e552f362/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222F2455D80B84C989D9D4AEDDA0839160D8330FA7B946294E977DAB16D00BB5D8\u0022",
        "X-RequestId": "b438ae97-8cd5-4226-834a-e3509d396afa"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/targetc164176a-1f8c-48a4-bf68-a0e0b26b58d1/f956d420-6a13-41be-b2c4-3f7dd34b839a.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/srce7741314-7cb4-4aba-8824-904a342fe9fd/f956d420-6a13-41be-b2c4-3f7dd34b839a.txt",
            "createdDateTimeUtc": "2022-02-19T01:52:42.2364561Z",
            "lastActionDateTimeUtc": "2022-02-19T01:52:50.5330074Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "00245e83-0000-0000-0000-000000000000",
            "characterCharged": 17
          },
          {
            "path": "https://fakeendpoint.blob.core.windows.net/targetf0301e81-0b22-45be-8608-658027a8e0dc/f956d420-6a13-41be-b2c4-3f7dd34b839a.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/srce7741314-7cb4-4aba-8824-904a342fe9fd/f956d420-6a13-41be-b2c4-3f7dd34b839a.txt",
            "createdDateTimeUtc": "2022-02-19T01:52:42.2296716Z",
            "lastActionDateTimeUtc": "2022-02-19T01:52:45.4462523Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "00245e84-0000-0000-0000-000000000000",
            "characterCharged": 17
          }
        ]
      }
    }
  ],
  "Variables": {
    "source_container_name": "srce7741314-7cb4-4aba-8824-904a342fe9fd",
    "target_container_name": "targetc164176a-1f8c-48a4-bf68-a0e0b26b58d1",
    "target_container_name2": "targetf0301e81-0b22-45be-8608-658027a8e0dc"
  }
}
