{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/srca2aa09a6-bc45-486b-a61b-54bceadf3da1?se=end\u0026sp=rl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target6e8ec851-7666-4a27-93ca-bee5275a6d03?se=end\u0026sp=wl\u0026sv=2021-04-10\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/55e14ece-1f35-4424-aeda-b7b617a0699e",
        "X-RequestId": "7f196c5b-9c63-4539-ad13-db91f9c792a8"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/55e14ece-1f35-4424-aeda-b7b617a0699e",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228D93AA852CCC8F8A5B341B0AF0ED7A3DACFC5294749519890FA1D8F7D5D4ABC4\u0022",
        "X-RequestId": "85ecfbdd-bd90-411e-95e1-e1bb3fffaaf3"
      },
      "ResponseBody": {
        "id": "55e14ece-1f35-4424-aeda-b7b617a0699e",
        "createdDateTimeUtc": "2022-02-19T01:34:41.4830022Z",
        "lastActionDateTimeUtc": "2022-02-19T01:34:42.2012179Z",
        "status": "Running",
        "summary": {
          "total": 7,
          "failed": 0,
          "success": 0,
          "inProgress": 4,
          "notYetStarted": 3,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/55e14ece-1f35-4424-aeda-b7b617a0699e/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022D28E194E1BEEA272C6E5D50834226AAE1C3F18FB7C5880598029F7D89D8EF84F\u0022",
        "X-RequestId": "3d1d9144-bcb4-44c5-b3a9-7298d87c1d3e"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target6e8ec851-7666-4a27-93ca-bee5275a6d03/eb3fe95f-5381-404e-a177-a27604a622ee.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/srca2aa09a6-bc45-486b-a61b-54bceadf3da1/eb3fe95f-5381-404e-a177-a27604a622ee.txt",
            "createdDateTimeUtc": "2022-02-19T01:34:43.3559946Z",
            "lastActionDateTimeUtc": "2022-02-19T01:34:54.1589739Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "00245d20-0000-0000-0000-000000000000",
            "characterCharged": 27
          },
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target6e8ec851-7666-4a27-93ca-bee5275a6d03/cd9be878-e7ee-4bfa-9ba5-db1d12890148.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/srca2aa09a6-bc45-486b-a61b-54bceadf3da1/cd9be878-e7ee-4bfa-9ba5-db1d12890148.txt",
            "createdDateTimeUtc": "2022-02-19T01:34:43.3459852Z",
            "lastActionDateTimeUtc": "2022-02-19T01:34:54.1652782Z",
            "status": "Succeeded"[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/55e14ece-1f35-4424-aeda-b7b617a0699e/documents?$maxpagesize=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226F46087EC1050385BE9CC96026017FC6D31B65682FC49FB8589772F003C956CB\u0022",
        "X-RequestId": "57[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/55e14ece-1f35-4424-aeda-b7b617a0699e/documents?$skip=2\u0026$top=5\u0026$maxpagesize=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022366AC71EDF30E1D1142C208A0FF2323D30E56D2EC24C1F5BCA7141CD04BACE1C\u0022",
 [...]
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/55e14ece-1f35-4424-aeda-b7b617a0699e/documents?$skip=6\u0026$top=1\u0026$maxpagesize=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002203E76AE262344BBD8752AC53B7849C416F99493F659665FA32C49FD3D5EC7B92\u0022",
        "X-RequestId": "b66fe3be-126e-438c-bb52-d1667ec340d7"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target6e8ec851-7666-4a27-93ca-bee5275a6d03/2c15a626-fd48-4cad-bb34-10e33753c135.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/srca2aa09a6-bc45-486b-a61b-54bceadf3da1/2c15a626-fd48-4cad-bb34-10e33753c135.txt",
            "createdDateTimeUtc": "2022-02-19T01:34:42.186738Z",
            "lastActionDateTimeUtc": "2022-02-19T01:34:53.5823192Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "00245d1a-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    }
  ],
  "Variables": {
    "source_container_name": "srca2aa09a6-bc45-486b-a61b-54bceadf3da1",
    "target_container_name": "target6e8ec851-7666-4a27-93ca-bee5275a6d03"
  }
}
