{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src4fa36d53-4213-414d-b128-a2bb79ce8999?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 01 Jun 2022 21:06:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA44128B6E37C3\u0022",
        "Last-Modified": "Wed, 01 Jun 2022 21:06:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/src4fa36d53-4213-414d-b128-a2bb79ce8999/016ad960-9c38-4e0c-bcd8-0e98a6c24f97.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 Jun 2022 21:06:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "VGhpcyBpcyBzb21lIHRleHQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "lyFPYyJLwenMTaN3qtznxw==",
        "ETag": "\u00220x8DA44128B7B25A4\u0022",
        "Last-Modified": "Wed, 01 Jun 2022 21:06:06 GMT",
        "x-ms-content-crc64": "SqmNKeH10UQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.blob.core.windows.net/target80c891df-258e-48bc-94d1-b4999d03f148?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 01 Jun 2022 21:06:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA44128B9F2BBB\u0022",
        "Last-Modified": "Wed, 01 Jun 2022 21:06:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeendpoint.blob.core.windows.net/src4fa36d53-4213-414d-b128-a2bb79ce8999?se=end\u0026sp=rl\u0026sv=2021-06-08\u0026sr=c\u0026sig=fake_token_value",
              "filter": {}
            },
            "targets": [
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target80c891df-258e-48bc-94d1-b4999d03f148?se=end\u0026sp=wl\u0026sv=2021-06-08\u0026sr=c\u0026sig=fake_token_value",
                "language": "es"
              },
              {
                "targetUrl": "https://fakeendpoint.blob.core.windows.net/target3b073123-3439-4330-94e9-59207ad5d9dc?se=end\u0026sp=wl\u0026sv=2021-06-08\u0026sr=c\u0026sig=fake_token_value",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/a8c9a71e-153a-42e1-a613-1da982c9374e",
        "X-RequestId": "3d76a06b-3c56-45bd-8cb3-61d73cd7f6ac"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/a8c9a71e-153a-42e1-a613-1da982c9374e",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022A0E242758D4DCD55D773B41BFCDC8EA5E4AEE9462BB26E6BE7CA566B1D516775\u0022",
        "X-RequestId": "3a9b2093-000e-415e-be67-ba14653dd1f1"
      },
      "ResponseBody": {
        "id": "a8c9a71e-153a-42e1-a613-1da982c9374e",
        "createdDateTimeUtc": "2022-06-01T21:06:07.2350663Z",
        "lastActionDateTimeUtc": "2022-06-01T21:06:07.2858007Z",
        "status": "NotStarted",
        "summary": {
          "total": 2,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 2,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/a8c9a71e-153a-42e1-a613-1da982c9374e/documents?$maxpagesize=50",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222CE8519FE0D9D864B57F1EC38A41607E650073D588B6EDD84DC93073CA561E7D\u0022",
        "X-RequestId": "6801b926-c900-4b47-91f3-21d3173a6e8a"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target80c891df-258e-48bc-94d1-b4999d03f148/016ad960-9c38-4e0c-bcd8-0e98a6c24f97.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src4fa36d53-4213-414d-b128-a2bb79ce8999/016ad960-9c38-4e0c-bcd8-0e98a6c24f97.txt",
            "createdDateTimeUtc": "2022-06-01T21:06:09.8272201Z",
            "lastActionDateTimeUtc": "2022-06-01T21:06:18.8054501Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "003fec93-0000-0000-0000-000000000000",
            "characterCharged": 17
          },
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target3b073123-3439-4330-94e9-59207ad5d9dc/016ad960-9c38-4e0c-bcd8-0e98a6c24f97.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src4fa36d53-4213-414d-b128-a2bb79ce8999/016ad960-9c38-4e0c-bcd8-0e98a6c24f97.txt",
            "createdDateTimeUtc": "2022-06-01T21:06:09.8136551Z",
            "lastActionDateTimeUtc": "2022-06-01T21:06:23.8455234Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "003fec94-0000-0000-0000-000000000000",
            "characterCharged": 17
          }
        ]
      }
    }
  ],
  "Variables": {
    "source_container_name": "src4fa36d53-4213-414d-b128-a2bb79ce8999",
    "target_container_name": "target80c891df-258e-48bc-94d1-b4999d03f148",
    "target_container_name2": "target3b073123-3439-4330-94e9-59207ad5d9dc"
  }
}
