{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022inputs\u0022: [{\u0022source\u0022: {\u0022sourceUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/src3678132f-66cb-4366-852a-5d9f65082d9f?se=end\u0026sp=rl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022filter\u0022: {}}, \u0022targets\u0022: [{\u0022targetUrl\u0022: \u0022https://fakeendpoint.blob.core.windows.net/target0bfd5054-2943-49e8-bfdc-1871dadcbe9c?se=end\u0026sp=wl\u0026sv=2021-02-12\u0026sr=c\u0026sig=fake_token_value\u0022, \u0022language\u0022: \u0022es\u0022}]}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7506042c-850f-4a68-92f7-318e71af308d",
        "X-RequestId": "71d9af29-b7af-41fb-b910-70e91d84adb4"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7506042c-850f-4a68-92f7-318e71af308d",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223697DBA80B2853D13DC7DAD964D60EB3F0630BB293FDCA4CD44E19B3EE4E8C8A\u0022",
        "X-RequestId": "4eef0c51-c5f4-4ebd-b1e6-bf29175c7556"
      },
      "ResponseBody": {
        "id": "7506042c-850f-4a68-92f7-318e71af308d",
        "createdDateTimeUtc": "2021-12-15T03:48:22.3839347Z",
        "lastActionDateTimeUtc": "2021-12-15T03:48:23.3943497Z",
        "status": "Running",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 0,
          "inProgress": 1,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7506042c-850f-4a68-92f7-318e71af308d/documents?$skip=0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022FC501AE37D8EA3B6F7102E7DDB701C6B00EAC1C9C00CF00069828ED7694B4D95\u0022",
        "X-RequestId": "946804df-dc82-44f1-99f3-da2f9d3198fb"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeendpoint.blob.core.windows.net/target0bfd5054-2943-49e8-bfdc-1871dadcbe9c/38f7307c-d164-48dd-bdee-d9eef3fec41f.txt",
            "sourcePath": "https://fakeendpoint.blob.core.windows.net/src3678132f-66cb-4366-852a-5d9f65082d9f/38f7307c-d164-48dd-bdee-d9eef3fec41f.txt",
            "createdDateTimeUtc": "2021-12-15T03:48:23.0748036Z",
            "lastActionDateTimeUtc": "2021-12-15T03:48:28.093161Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "0019aa82-0000-0000-0000-000000000000",
            "characterCharged": 17
          }
        ]
      }
    }
  ],
  "Variables": {
    "source_container_name": "src3678132f-66cb-4366-852a-5d9f65082d9f",
    "target_container_name": "target0bfd5054-2943-49e8-bfdc-1871dadcbe9c"
  }
}
