interactions:
- request:
    body: '{"location": "westus2", "properties": {"administratorLogin": "mysecretname",
      "administratorLoginPassword": "HusH_Sec4et", "version": "12.0"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_sql_test_server87460a68/providers/Microsoft.Sql/servers/tstpysqlserverx87460a68?api-version=2019-06-01-preview
  response:
    body:
      string: '{"operation":"UpsertLogicalServer","startTime":"2020-08-11T05:37:27.59Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_sql_test_server87460a68/providers/Microsoft.Sql/locations/westus2/serverAzureAsyncOperation/75be240d-3b81-4ef5-a6c7-9ff6e70c5fa2?api-version=2019-06-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_sql_test_server87460a68/providers/Microsoft.Sql/locations/westus2/serverOperationResults/75be240d-3b81-4ef5-a6c7-9ff6e70c5fa2?api-version=2019-06-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_sql_test_server87460a68/providers/Microsoft.Sql/locations/westus2/serverAzureAsyncOperation/75be240d-3b81-4ef5-a6c7-9ff6e70c5fa2?api-version=2019-06-01-preview
  response:
    body:
      string: '{"name":"75be240d-3b81-4ef5-a6c7-9ff6e70c5fa2","status":"InProgress","startTime":"2020-08-11T05:37:27.59Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_sql_test_server87460a68/providers/Microsoft.Sql/servers/tstpysqlserverx87460a68?api-version=2019-06-01-preview
  response:
    body:
      string: '{"kind":"v12.0","properties":{"administratorLogin":"mysecretname","version":"12.0","state":"Ready","fullyQualifiedDomainName":"tstpysqlserverx87460a68.database.windows.net","privateEndpointConnections":[],"publicNetworkAccess":"Enabled"},"location":"westus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_sql_test_server87460a68/providers/Microsoft.Sql/servers/tstpysqlserverx87460a68","name":"tstpysqlserverx87460a68","type":"Microsoft.Sql/servers"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_sql_test_server87460a68/providers/Microsoft.Sql/servers?api-version=2019-06-01-preview
  response:
    body:
      string: '{"value":[{"kind":"v12.0","properties":{"administratorLogin":"mysecretname","version":"12.0","state":"Ready","fullyQualifiedDomainName":"tstpysqlserverx87460a68.database.windows.net","privateEndpointConnections":[],"publicNetworkAccess":"Enabled"},"location":"westus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_sql_test_server87460a68/providers/Microsoft.Sql/servers/tstpysqlserverx87460a68","name":"tstpysqlserverx87460a68","type":"Microsoft.Sql/servers"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/servers?api-version=2019-06-01-preview
  response:
    body:
      string: '{"value":[{"kind":"v12.0","properties":{"administratorLogin":"autorestaz","version":"12.0","state":"Ready","fullyQualifiedDomainName":"autorestaz.database.windows.net","privateEndpointConnections":[],"publicNetworkAccess":"Enabled"},"location":"eastus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ameCodeGenInfra/providers/Microsoft.Sql/servers/autorestaz","name":"autorestaz","type":"Microsoft.Sql/servers"},{"kind":"v12.0","properties":{"administratorLogin":"xichen","version":"12.0","state":"Ready","fullyQualifiedDomainName":"xichensql1.database.windows.net","privateEndpointConnections":[],"publicNetworkAccess":"Enabled"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_sql_test_server87460a68/providers/Microsoft.Sql/servers/tstpysqlserverx87460a68/usages?api-version=2014-04-01
  response:
    body:
      string: '{"value":[{"name":"server_dtu_quota","resourceName":"tstpysqlserverx87460a68","displayName":"Database
        Throughput Unit Quota","currentValue":0.0,"limit":54000.0,"unit":"DTUs","nextResetTime":null},{"name":"server_dtu_quota_current","resourceName":"tstpysqlserverx87460a68","displayName":"Database
        Throughput Unit Quota","currentValue":0.0,"limit":54000.0,"unit":"DTUs","nextResetTime":null}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"startIpAddress": "123.123.123.123", "endIpAddress": "123.123.123.124"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_sql_test_server87460a68/providers/Microsoft.Sql/servers/tstpysqlserverx87460a68/firewallRules/firewallrule87460a68?api-version=2014-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_sql_test_server87460a68/providers/Microsoft.Sql/servers/tstpysqlserverx87460a68/firewallRules/firewallrule87460a68","name":"firewallrule87460a68","type":"Microsoft.Sql/servers/firewallRules","location":"West
        US 2","kind":"v12.0","properties":{"startIpAddress":"123.123.123.123","endIpAddress":"123.123.123.124"}}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      preference-applied:
      - return-content
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
