interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_sql_managed_instance_test_managed_instancesa46c173c/providers/Microsoft.Network/networkSecurityGroups/mynetworksecuritygroup?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"name\": \"mynetworksecuritygroup\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_sql_managed_instance_test_managed_instancesa46c173c/providers/Microsoft.Network/networkSecurityGroups/mynetworksecuritygroup\"\
        ,\r\n  \"etag\": \"W/\\\"b9858427-6b62-4998-a3bb-49340b4ad81c\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/networkSecurityGroups\",\r\n  \"location\"\
        : \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\"\
        ,\r\n    \"resourceGuid\": \"50c4a961-b7b5-4f6b-abef-81509204cdb5\",\r\n \
        \   \"securityRules\": [],\r\n    \"defaultSecurityRules\": [\r\n      {\r\
        \n        \"name\": \"AllowVnetInBound\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_sql_managed_instance_test_managed_instancesa46c173c/providers/Microsoft.Network/networkSecurityGroups/mynetworksecuritygroup/defaultSecurityRules/AllowVnetInBound\"\
        ,\r\n        \"etag\": \"W/\\\"b9858427-6b62-4998-a3bb-49340b4ad81c\\\"\"\
        ,\r\n        \"type\": \"Microsoft.Network/networkSecurityGroups/defaultSecurityRules\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"description\": \"Allow inbound traffic from all VMs in VNET\"\
        ,\r\n          \"protocol\": \"*\",\r\n          \"sourcePortRange\": \"*\"\
        ,\r\n          \"destinationPortRange\": \"*\",\r\n          \"sourceAddressPrefix\"\
        : \"VirtualNetwork\",\r\n          \"destinationAddressPrefix\": \"VirtualNetwork\"\
        ,\r\n          \"access\": \"Allow\",\r\n          \"priority\": 65000,\r\n\
        \          \"direction\": \"Inbound\",\r\n          \"sourcePortRanges\":\
        \ [],\r\n          \"destinationPortRanges\": [],\r\n          \"sourceAddressPrefixes\"\
        : [],\r\n          \"destinationAddressPrefixes\": []\r\n        }\r\n   \
        \   },\r\n      {\r\n        \"name\": \"AllowAzureLoadBalancerInBound\",\r\
        \n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_sql_managed_instance_test_managed_instancesa46c173c/providers/Microsoft.Network/networkSecurityGroups/mynetworksecuritygroup/defaultSecurityRules/AllowAzureLoadBalancerInBound\"\
        ,\r\n        \"etag\": \"W/\\\"b9858427-6b62-4998-a3bb-49340b4ad81c\\\"\"\
        ,\r\n      [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/39441936-5fe3-4ae0-9e2b-eb9a36634d70?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"protocol": "Tcp", "sourcePortRange": "*", "destinationPortRange":
      "1433", "sourceAddressPrefix": "10.0.0.0/16", "destinationAddressPrefix": "*",
      "access": "Allow", "priority": 1000, "direction": "Inbound"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_sql_managed_instance_test_managed_instancesa46c173c/providers/Microsoft.Network/networkSecurityGroups/mynetworksecuritygroup/securityRules/allow_tds_inbound?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"name\": \"allow_tds_inbound\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_sql_managed_instance_test_managed_instancesa46c173c/providers/Microsoft.Network/networkSecurityGroups/mynetworksecuritygroup/securityRules/allow_tds_inbound\"\
        ,\r\n  \"etag\": \"W/\\\"f566032f-de4c-40b9-ac3d-a273764831fe\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/networkSecurityGroups/securityRules\",\r\n\
        \  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"\
        protocol\": \"Tcp\",\r\n    \"sourcePortRange\": \"*\",\r\n    \"destinationPortRange\"\
        : \"1433\",\r\n    \"sourceAddressPrefix\": \"10.0.0.0/16\",\r\n    \"destinationAddressPrefix\"\
        : \"*\",\r\n    \"access\": \"Allow\",\r\n    \"priority\": 1000,\r\n    \"\
        direction\": \"Inbound\",\r\n    \"sourcePortRanges\": [],\r\n    \"destinationPortRanges\"\
        : [],\r\n    \"sourceAddressPrefixes\": [],\r\n    \"destinationAddressPrefixes\"\
        : []\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/1a1c8f81-27d5-4b67-811e-916155653129?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1189'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"protocol": "Tcp", "sourcePortRange": "*", "destinationPortRange":
      "11000-11999", "sourceAddressPrefix": "10.0.0.0/16", "destinationAddressPrefix":
      "*", "access": "Allow", "priority": 1100, "direction": "Inbound"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_sql_managed_instance_test_managed_instance[...]
[...]
- request:
    body: '{"properties": {"protocol": "*", "sourcePortRange": "*", "destinationPortRange":
      "*", "sourceAddressPrefix": "*", "destinationAddressPrefix": "*", "access":
      "Deny", "priority": 4096, "direction": "Inbound"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_sql_managed_instance_test_managed_instancesa46c173c/providers/Mic[...]
[...]
- request:
    body: '{"properties": {"protocol": "*", "sourcePortRange": "*", "destinationPortRange":
      "*", "sourceAddressPrefix": "*", "destinationAddressPrefix": "*", "access":
      "Deny", "priority": 4095, "direction": "Outbound"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_sql_managed_instance_test_managed_instancesa46c173c/providers/Mi[...]
[...]
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_sql_managed_instance_test_managed_instancesa46c173c/providers/Microsoft.Network/routeTables/myroutetable?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"name\": \"myroutetable\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_sql_managed_instance_test_managed_instancesa46c173c/providers/Microsoft.Network/routeTables/myroutetable\"\
        ,\r\n  \"etag\": \"W/\\\"43a73ae6-db44-4095-85a8-a5395f955eac\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/routeTables\",\r\n  \"location\": \"eastus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"resourceGuid\": \"e884bf2f-ebc5-4fe9-8b4b-b11f99e612ce\",\r\n    \"\
        disableBgpRoutePropagation\": false,\r\n    \"routes\": []\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/7c73b56e-d616-42be-a905-11005fd01d0a?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1185'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "eastus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_sql_managed_instance_test_managed_instancesa46c173c/providers/Microsoft.Network/virtualNetworks/myVirtualNetwork?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"name\": \"myVirtualNetwork\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_sql_managed_instance_test_managed_instancesa46c173c/providers/Microsoft.Network/virtualNetworks/myVirtualNetwork\"\
        ,\r\n  \"etag\": \"W/\\\"9741d281-4cce-4ec7-90f4-ac96956a643e\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"resourceGuid\": \"13168f75-eab4-482c-af65-07d1d5e5e7a8\",\r\n    \"\
        addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\
        \r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\"\
        : [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\"\
        : false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/59bab038-9f1e-4cd2-8e82-8063b1689dcc?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1184'
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'b''b\''{"properties": {"addressPrefix": "10.0.0.0/24", "networkSecurityGroup":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_sql_managed_instance_test_managed_instancesa46c173c/providers/Microsoft.Network/networkSecurityGroups/mynetworksecuritygroup",
      "location": "eastus", "properties": {"securityRules": []}}, "routeTable": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_sql_managed_instance_test_managed_instancesa46c173c/providers/Microsoft.Network/routeTables/myroutetable",
      "location": "eastus", "properties": {"routes": [], "disableBgpRoutePropagation":
      false}}, "delegations": [{"name": "dgManagedInstancexxx", "properties": {"serviceName":
      "Microsoft.Sql/managedInstances"}}]}}\'''''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_sql_managed_instance_test_managed_instancesa46c173c/providers/Microsoft.Network/virtualNetworks/myVirtualNetwork/subnets/mysubnet?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"name\": \"mysubnet\",\r\n  \"id\": \"/subscriptions/000000[...]
[...]
- request:
    body: 'b''b\''{"location": "westeurope", "sku": {"name": "MIGP8G4", "tier": "GeneralPurpose",
      "family": "Gen5"}, "properties": {"administratorLogin": "dummylogin", "administratorLoginPassword":
      "Un53cuRE!", "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_sql_managed_instance_test_managed_instancesa46c173c/providers/Microsoft.Network/virtualNetworks/myVirtualNetwork/subnets/mysubnet",
      "storageAccountType": "GRS"}}\'''''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_sql_managed_instance_test_managed_instancesa46c173c/providers/Microsoft.Sql/managedInstances/mymanagedinstancexpnvcxxvx?api-version=2020-02-02-preview
  response:
    body:
      string: '{"error":{"code":"GatewayTimeout","message":"The gateway did not receive
        a response from ''Microsoft.Sql'' within the specified time period."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - service
    status:
      code: 504
      message: Gateway Timeout
- request:
    body: 'b''b\''{"location": "westeurope", "sku": {"name": "MIGP8G4", "tier": "GeneralPurpose",
      "family": "Gen5"}, "properties": {"administratorLogin": "dummylogin", "administratorLoginPassword":
      "Un53cuRE!", "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_sql_managed_instance_test_managed_instancesa46c173c/providers/Microsoft.Network/virtualNetworks/myVirtualNetwork/subnets/mysubnet",
      "storageAccountType": "GRS"}}\'''''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_sql_managed_instance_test_managed_instancesa46c173c/providers/Microsoft.Sql/managedInstances/mymanagedinstancexpnvcxxvx?api-version=2020-02-02-preview
  response:
    body:
      string: '{"identity":{"principalId":"00000000-0000-0000-0000-000000000000","type":"None","tenantId":"00000000-0000-0000-0000-000000000000"},"sku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":8},"properties":{"provisioningState":"Updating","administratorLogin":"dummylogin","licenseType":"LicenseIncluded","vCores":8,"privateEndpointConnections":[],"storageAccountType":"GRS"},"location":"westeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_sql_managed_instance_test_managed_instancesa46c173c/providers/Microsoft.Sql/managedInstances/mymanagedinstancexpnvcxxvx","name":"mymanagedinstancexpnvcxxvx","type":"Microsoft.Sql/managedInstances"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1190'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_sql_managed_instance_test_managed_instancesa46c173c/providers/Microsoft.Sql/managedInstances/mymanagedinstancexpnvcxxvx?api-version=2020-02-02-preview
  response:
    body:
      string: '{"sku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":8},"properties":{"provisioningState":"Creating","administratorLogin":"dummylogin","subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_sql_managed_instance_test_managed_instancesa46c173c/providers/Microsoft.Network/virtualNetworks/myVirtualNetwork/subnets/mysubnet","state":"Creating","licenseType":"LicenseIncluded","vCores":8,"storageSizeInGB":256,"collation":"SQL_Latin1_General_CP1_CI_AS","publicDataEndpointEnabled":false,"timezoneId":"UTC","privateEndpointConnections":[],"storageAccountType":"GRS"},"location":"westeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_sql_managed_instance_test_managed_instancesa46c173c/providers/Microsoft.Sql/managedInstances/mymanagedinstancexpnvcxxvx","name":"mymanagedinstancexpnvcxxvx","type":"Microsoft.Sql/managedInstances"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_sql_managed_instance_test_managed_instancesa46c173c/providers/Microsoft.Sql/managedInstances/mymanagedinstancexpnvcxxvx?api-version=2020-02-02-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 204
      message: No Content
version: 1
