interactions:
- request:
    body: '{"location": "eastus", "properties": {"administratorLogin": "dummylogin",
      "administratorLoginPassword": "Un53cuRE!"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxy?api-version=2019-06-01-preview
  response:
    body:
      string: '{"operation":"UpsertLogicalServer","startTime":"2020-09-10T09:34:24.66Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/locations/eastus/serverAzureAsyncOperation/3da2f6d1-fe7b-4f86-a489-01e81c3b0336?api-version=2019-06-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/locations/eastus/serverOperationResults/3da2f6d1-fe7b-4f86-a489-01e81c3b0336?api-version=2019-06-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/locations/eastus/serverAzureAsyncOperation/3da2f6d1-fe7b-4f86-a489-01e81c3b0336?api-version=2019-06-01-preview
  response:
    body:
      string: '{"name":"3da2f6d1-fe7b-4f86-a489-01e81c3b0336","status":"InProgress","startTime":"2020-09-10T09:34:24.66Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxy?api-version=2019-06-01-preview
  response:
    body:
      string: '{"kind":"v12.0","properties":{"administratorLogin":"dummylogin","version":"12.0","state":"Ready","fullyQualifiedDomainName":"myserverxpxy.database.windows.net","privateEndpointConnections":[],"publicNetworkAccess":"Enabled"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxy","name":"myserverxpxy","type":"Microsoft.Sql/servers"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"properties": {"administratorType": "ActiveDirectory", "login": "bob@contoso.com",
      "sid": "123743cc-88ef-49ee-920e-13958fe5697d", "tenantId": "00000000-0000-0000-0000-000000000000"}}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxy/administrators/myadministrator?api-version=2019-06-01-preview
  response:
    body:
      string: '{"error":{"code":"InternalServerError","message":"An unexpected error
        occured while processing the request. Tracking ID: ''65e1a7e8-b7dd-4f98-a81d-b564f2fe800c''"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - service
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 500
      message: Internal Server Error
[...]
