interactions:
- request:
    body: '{"location": "eastus", "identity": {"type": "SystemAssigned"}, "properties":
      {"administratorLogin": "dummylogin", "administratorLoginPassword": "Un53cuRE!",
      "version": "12.0", "publicNetworkAccess": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpcz?api-version=2019-06-01-preview
  response:
    body:
      string: '{"operation":"UpsertLogicalServer","startTime":"2020-09-23T09:42:21.4Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/locations/eastus/serverAzureAsyncOperation/293c1737-964d-446d-a0be-d508ae4298fa?api-version=2019-06-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/locations/eastus/serverOperationResults/293c1737-964d-446d-a0be-d508ae4298fa?api-version=2019-06-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/locations/eastus/serverAzureAsyncOperation/293c1737-964d-446d-a0be-d508ae4298fa?api-version=2019-06-01-preview
  response:
    body:
      string: '{"name":"293c1737-964d-446d-a0be-d508ae4298fa","status":"InProgress","startTime":"2020-09-23T09:42:21.4Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpcz?api-version=2019-06-01-preview
  response:
    body:
      string: '{"identity":{"principalId":"773d0c98-5a7f-4e86-9fd5-6aad01d4b7cd","type":"SystemAssigned","tenantId":"00000000-0000-0000-0000-000000000000"},"kind":"v12.0","properties":{"administratorLogin":"dummylogin","version":"12.0","state":"Ready","fullyQualifiedDomainName":"myserverxpcz.database.windows.net","privateEndpointConnections":[],"publicNetworkAccess":"Enabled"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpcz","name":"myserverxpcz","type":"Microsoft.Sql/servers"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"location": "eastus", "properties": {"tenantId": "00000000-0000-0000-0000-000000000000",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "00000000-0000-0000-0000-000000000000", "objectId": "123743cc-88ef-49ee-920e-13958fe5697d",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}},
      {"tenantId": "00000000-0000-0000-0000-000000000000", "objectId": "773d0c98-5a7f-4e86-9fd5-6aad01d4b7cd",
      "permissions": {"keys": ["unwrapKey", "get", "wrapKey", "list"]}}], "enabledForDiskEncryption":
      true, "enableSoftDelete": true, "softDeleteRetentionInDays": 90}}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.KeyVault/vaults/keyvaultxmmxke7091405?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.KeyVault/vaults/keyvaultxmmxke7091405","name":"keyvaultxmmxke7091405","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"00000000-0000-0000-0000-000000000000","accessPolicies":[{"tenantId":"00000000-0000-0000-0000-000000000000","objectId":"123743cc-88ef-49ee-920e-13958fe5697d","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}},{"tenantId":"00000000-0000-0000-0000-000000000000","objectId":"773d0c98-5a7f-4e86-9fd5-6aad01d4b7cd","permissions":{"keys":["unwrapKey","get","wrapKey","list"]}}],"enabledForDeployment":false,"enabledForDiskEncryption":true,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"vaultUri":"https://keyvaultxmmxke7091405.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://keyvaultxmmxke7091405.vault.azure.net/keys/testkey/create?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "key_size": 2048, "attributes": {"exp": 2527401600}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://keyvaultxmmxke7091405.vault.azure.net/keys/testkey/create?api-version=7.1
  response:
    body:
      string: '{"key":{"kid":"https://keyvaultxmmxke7091405.vault.azure.net/keys/testkey/348d6518e6ee42bb885fc598410bd778","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"6p91ZFsxn6b-A05DYfioX-Ezeu37-hDUItebuiq_quLhdT0T-46DNM8SvisLp9gHFCd4X1AEHdDmkf6_M-Kp6izeGKq1AK8whSy3jLDpM2twuX5H0JO-54CxF6lGP4qsN90F9G06_QB5N9IxT3vEbs68CrUh5wNrJ1byKYa_CH60Ysg7ITOgIrKPjqiRHbK9sJ7Ag2AHuwc57PM5jy-_a5BKFCqkW-SgES5bQEiA1UPtIW8Vy1P4Nuzbj9NuFgGNXFibarFF2deOFbDRH71G0U4qEdzTsk-G87wTkiM8v9s03zdhiQrIttxmnFp4asVOv7QvyGqzsc3G4SmZdTINnQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2527401600,"created":1600854516,"updated":1600854516,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"serverKeyType": "AzureKeyVault", "uri": "https://keyvaultxmmxke7091405.vault.azure.net/keys/testkey/348d6518e6ee42bb885fc598410bd778"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpcz/keys/keyvaultxmmxke7091405_testkey_000?api-version=2015-05-01-preview
  response:
    body:
      string: '{"operation":"UpsertLogicalServerEncryptionKeys","startTime":"2020-09-23T09:48:37.47Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/locations/eastus/serverKeyAzureAsyncOperation/e006f0cd-cd7f-49b2-b5ef-01935a8c1fda?api-version=2015-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/locations/eastus/serverKeyOperationResults/e006f0cd-cd7f-49b2-b5ef-01935a8c1fda?api-version=2015-05-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/locations/eastus/serverKeyAzureAsyncOperation/e006f0cd-cd7f-49b2-b5ef-01935a8c1fda?api-version=2015-05-01-preview
  response:
    body:
      string: '{"name":"e006f0cd-cd7f-49b2-b5ef-01935a8c1fda","status":"Succeeded","startTime":"2020-09-23T09:48:37.47Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpcz/keys/keyvaultxmmxke7091405_testkey_000?api-version=2015-05-01-preview
  response:
    body:
      string: '{"kind":"azurekeyvault","location":"East US","properties":{"serverKeyType":"AzureKeyVault","uri":"https://keyvaultxmmxke7091405.vault.azure.net/keys/testkey/348d6518e6ee42bb885fc598410bd778","thumbprint":"DF7D62D3D4C3DE8923D3BAE815747AC30761D9BE","creationDate":"2020-09-23T09:48:37.987Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpcz/keys/keyvaultxmmxke7091405_testkey_000","name":"keyvaultxmmxke7091405_testkey_000","type":"Microsoft.Sql/servers/keys"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"serverKeyName": "keyvaultxmmxke7091405_testkey_000",
      "serverKeyType": "AzureKeyVault"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpcz/encryptionProtector/current?api-version=2015-05-01-preview
  response:
    body:
      string: '{"operation":"UpsertLogicalServerEncryptionprotector","startTime":"2020-09-23T09:48:39.877Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/locations/eastus/encryptionProtectorAzureAsyncOperation/4e5c00c0-d3c3-45ed-aa78-3287dd875d96?api-version=2015-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/locations/eastus/encryptionProtectorOperationResults/4e5c00c0-d3c3-45ed-aa78-3287dd875d96?api-version=2015-05-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/locations/eastus/encryptionProtectorAzureAsyncOperation/4e5c00c0-d3c3-45ed-aa78-3287dd875d96?api-version=2015-05-01-preview
  response:
    body:
      string: '{"name":"4e5c00c0-d3c3-45ed-aa78-3287dd875d96","status":"InProgress","startTime":"2020-09-23T09:48:39.877Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpcz/encryptionProtector/current/revalidate?api-version=2015-05-01-preview
  response:
    body:
      string: '{"operation":"MakeAllLogicalDatabasesAccessible","startTime":"2020-09-23T09:48:45.563Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/locations/eastus/encryptionProtectorAzureAsyncOperation/ec00f59b-f3db-4d99-be72-2a58d3d5bd28?api-version=2015-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/locations/eastus/encryptionProtectorOperationResults/ec00f59b-f3db-4d99-be72-2a58d3d5bd28?api-version=2015-05-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/locations/eastus/encryptionProtectorOperationResults/ec00f59b-f3db-4d99-be72-2a58d3d5bd28?api-version=2015-05-01-preview
  response:
    body:
      string: '{"kind":"azurekeyvault","properties":{"serverKeyType":"AzureKeyVault"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpcz/encryptionProtector/current","name":"current","type":"Microsoft.Sql/servers/encryptionProtector"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
