interactions:
- request:
    body: '{"sku": {"name": "Standard_GRS"}, "kind": "StorageV2", "location": "eastus",
      "tags": {"key1": "value1", "key2": "value2"}, "properties": {"encryption": {"services":
      {"blob": {"enabled": true, "keyType": "Account"}, "file": {"enabled": true,
      "keyType": "Account"}}, "keySource": "Microsoft.Storage"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/mystorageaccountxyc?api-version=2019-06-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/101ddd50-41c1-4207-9374-f175e155f708?monitor=true&api-version=2019-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1187'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/101ddd50-41c1-4207-9374-f175e155f708?monitor=true&api-version=2019-06-01
  response:
    body:
      string: '{"sku":{"name":"Standard_GRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/mystorageaccountxyc","name":"mystorageaccountxyc","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{"key1":"value1","key2":"value2"},"properties":{"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-09-08T06:47:08.4882208Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-09-08T06:47:08.4882208Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2020-09-08T06:47:08.3945126Z","primaryEndpoints":{"dfs":"https://mystorageaccountxyc.dfs.core.windows.net/","web":"https://mystorageaccountxyc.z13.web.core.windows.net/","blob":"https://mystorageaccountxyc.blob.core.windows.net/","queue":"https://mystorageaccountxyc.queue.core.windows.net/","table":"https://mystorageaccountxyc.table.core.windows.net/","file":"https://mystorageaccountxyc.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available","secondaryLocation":"westus","statusOfSecondary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/mystorageaccountxyc/blobServices/default/containers/myblobcontainer?api-version=2019-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/mystorageaccountxyc/blobServices/default/containers/myblobcontainer","name":"myblobcontainer","type":"Microsoft.Storage/storageAccounts/blobServices/containers"}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8D853C30CAC04AC"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1186'
    status:
      code: 201
      message: Created
- request:
    body: '{"keyName": "key2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/mystorageaccountxyc/regenerateKey?api-version=2019-06-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"cpJsZwuDR8/+av+BNfxPzCoZG7Xk7yZH8OdqX6C7F1p1j+6JVJ4JL6Onm85DDTAXR8SqOaggfXoWdI3/rDEw5A==","permissions":"FULL"},{"keyName":"key2","value":"vAMpmo/7GeQzupFLutb/7myuXsEpfVSBP6AnbJoNOVEAjNCvekCTB76KwgrYdjB74vwk1ueAXaEcX0HNkNcb7g==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"administratorLogin": "dummylogin",
      "administratorLoginPassword": "Un53cuRE!"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxy?api-version=2019-06-01-preview
  response:
    body:
      string: '{"operation":"UpsertLogicalServer","startTime":"2020-09-08T06:47:34.253Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/locations/eastus/serverAzureAsyncOperation/15411b76-0138-4ba3-ab74-0c4870275bf1?api-version=2019-06-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/locations/eastus/serverOperationResults/15411b76-0138-4ba3-ab74-0c4870275bf1?api-version=2019-06-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/locations/eastus/serverAzureAsyncOperation/15411b76-0138-4ba3-ab74-0c4870275bf1?api-version=2019-06-01-preview
  response:
    body:
      string: '{"name":"15411b76-0138-4ba3-ab74-0c4870275bf1","status":"InProgress","startTime":"2020-09-08T06:47:34.253Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxy?api-version=2019-06-01-preview
  response:
    body:
      string: '{"kind":"v12.0","properties":{"administratorLogin":"dummylogin","version":"12.0","state":"Ready","fullyQualifiedDomainName":"myserverxpxy.database.windows.net","privateEndpointConnections":[],"publicNetworkAccess":"Enabled"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxy","name":"myserverxpxy","type":"Microsoft.Sql/servers"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"state": "Disabled", "emailAccountAdmins": true, "storageEndpoint":
      "https://mystorageaccountxyc.blob.core.windows.net", "storageAccountAccessKey":
      "cpJsZwuDR8/+av+BNfxPzCoZG7Xk7yZH8OdqX6C7F1p1j+6JVJ4JL6Onm85DDTAXR8SqOaggfXoWdI3/rDEw5A=="}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxy/securityAlertPolicies/default?api-version=2017-03-01-preview
  response:
    body:
      string: '{"operation":"UpsertServerThreatDetectionPolicy","startTime":"2020-09-08T06:48:21.487Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/eastus/securityAlertPoliciesAzureAsyncOperation/3baed8c2-bcfc-4607-8df4-0913c8300080?api-version=2017-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/eastus/securityAlertPoliciesOperationResults/3baed8c2-bcfc-4607-8df4-0913c8300080?api-version=2017-03-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/eastus/securityAlertPoliciesAzureAsyncOperation/3baed8c2-bcfc-4607-8df4-0913c8300080?api-version=2017-03-01-preview
  response:
    body:
      string: '{"name":"3baed8c2-bcfc-4607-8df4-0913c8300080","status":"Succeeded","startTime":"2020-09-08T06:48:21.487Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxy/securityAlertPolicies/default?api-version=2017-03-01-preview
  response:
    body:
      string: '{"properties":{"state":"Disabled","disabledAlerts":[""],"emailAddresses":[""],"emailAccountAdmins":true,"storageEndpoint":"https://mystorageaccountxyc.blob.core.windows.net/","storageAccountAccessKey":"","retentionDays":0,"creationTime":"2020-09-08T06:48:21.627Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxy/securityAlertPolicies/Default","name":"Default","type":"Microsoft.Sql/servers/securityAlertPolicies"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
