interactions:
- request:
    body: '{"sku": {"name": "Standard_GRS"}, "kind": "StorageV2", "location": "eastus",
      "tags": {"key1": "value1", "key2": "value2"}, "properties": {"encryption": {"services":
      {"blob": {"enabled": true, "keyType": "Account"}, "file": {"enabled": true,
      "keyType": "Account"}}, "keySource": "Microsoft.Storage"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/mystorageaccountxye?api-version=2021-02-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/88b001cc-bc36-45fd-b4a2-9b7c503121d2?monitor=true&api-version=2021-02-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/88b001cc-bc36-45fd-b4a2-9b7c503121d2?monitor=true&api-version=2021-02-01
  response:
    body:
      string: '{"sku":{"name":"Standard_GRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/mystorageaccountxye","name":"mystorageaccountxye","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{"key1":"value1","key2":"value2"},"properties":{"keyCreationTime":{"key1":"2021-05-13T09:52:49.5351178Z","key2":"2021-05-13T09:52:49.5351178Z"},"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-05-13T09:52:49.5507423Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-05-13T09:52:49.5507423Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2021-05-13T09:52:49.4413422Z","primaryEndpoints":{"dfs":"https://mystorageaccountxye.dfs.core.windows.net/","web":"https://mystorageaccountxye.z13.web.core.windows.net/","blob":"https://mystorageaccountxye.blob.core.windows.net/","queue":"https://mystorageaccountxye.queue.core.windows.net/","table":"https://mystorageaccountxye.table.core.windows.net/","file":"https://mystorageaccountxye.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available","secondaryLocation":"westus","statusOfSecondary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/mystorageaccountxye/blobServices/default/containers/myblobcontainer?api-version=2021-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/mystorageaccountxye/blobServices/default/containers/myblobcontainer","name":"myblobcontainer","type":"Microsoft.Storage/storageAccounts/blobServices/containers"}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8D915F4E97BD89E"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: '{"keyName": "key2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/mystorageaccountxye/regenerateKey?api-version=2021-02-01
  response:
    body:
      string: '{"keys":[{"creationTime":"2021-05-13T09:52:49.5351178Z","keyName":"key1","value":"/lN3uK/YqGsHa9b6bvjnDCjJjvUPwqX4jjZFLyeKIh01xDB7RznUGcGzY/8zkrf/G6bJoMbtikLGb4hKMMYpMw==","permissions":"FULL"},{"creationTime":"2021-05-13T09:53:08.4569740Z","keyName":"key2","value":"wnaGjIIBWBVvFtFoMdz4gxhTcC00AOUEk6F/9hH77THy8PJx+S3Gc0N7K/37lSOZZxj4Bv4stQihqJJtcPrvsw==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"administratorLogin": "dummylogin",
      "administratorLoginPassword": "Un53cuRE!", "version": "12.0"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz?api-version=2020-11-01-preview
  response:
    body:
      string: '{"operation":"UpsertLogicalServer","startTime":"2021-05-13T09:53:11.16Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/locations/eastus/serverAzureAsyncOperation/7fc829f7-55b5-46ae-a19c-464fd9211369?api-version=2020-11-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/locations/eastus/serverOperationResults/7fc829f7-55b5-46ae-a19c-464fd9211369?api-version=2020-11-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/locations/eastus/serverAzureAsyncOperation/7fc829f7-55b5-46ae-a19c-464fd9211369?api-version=2020-11-01-preview
  response:
    body:
      string: '{"name":"7fc829f7-55b5-46ae-a19c-464fd9211369","status":"Failed","startTime":"2021-05-13T09:53:11.16Z","error":{"code":"NameAlreadyExists","message":"The
        name ''myserverxpxyz'' already exists. Choose a different name."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
