interactions:
- request:
    body: '{"location": "eastus", "properties": {"administratorLogin": "dummylogin",
      "administratorLoginPassword": "Un53cuRE!"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz?api-version=2019-06-01-preview
  response:
    body:
      string: '{"operation":"UpsertLogicalServer","startTime":"2020-09-03T06:41:46.73Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/locations/eastus/serverAzureAsyncOperation/d8a242c7-dcbd-449a-908e-a43c789a3458?api-version=2019-06-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/locations/eastus/serverOperationResults/d8a242c7-dcbd-449a-908e-a43c789a3458?api-version=2019-06-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/locations/eastus/serverAzureAsyncOperation/d8a242c7-dcbd-449a-908e-a43c789a3458?api-version=2019-06-01-preview
  response:
    body:
      string: '{"name":"d8a242c7-dcbd-449a-908e-a43c789a3458","status":"InProgress","startTime":"2020-09-03T06:41:46.73Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz?api-version=2019-06-01-preview
  response:
    body:
      string: '{"kind":"v12.0","properties":{"administratorLogin":"dummylogin","version":"12.0","state":"Ready","fullyQualifiedDomainName":"myserverxpxyz.database.windows.net","privateEndpointConnections":[],"publicNetworkAccess":"Enabled"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz","name":"myserverxpxyz","type":"Microsoft.Sql/servers"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/databases/mydatabase?api-version=2017-10-01-preview
  response:
    body:
      string: '{"operation":"CreateLogicalDatabase","startTime":"2020-09-03T06:42:39.527Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/locations/eastus/databaseAzureAsyncOperation/fdf24479-b530-4a55-b7f2-2bf62b2fa51e?api-version=2017-10-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/locations/eastus/databaseOperationResults/fdf24479-b530-4a55-b7f2-2bf62b2fa51e?api-version=2017-10-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/locations/eastus/databaseAzureAsyncOperation/fdf24479-b530-4a55-b7f2-2bf62b2fa51e?api-version=2017-10-01-preview
  response:
    body:
      string: '{"name":"fdf24479-b530-4a55-b7f2-2bf62b2fa51e","status":"InProgress","startTime":"2020-09-03T06:42:39.527Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/databases/mydatabase?api-version=2017-10-01-preview
  response:
    body:
      string: '{"sku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":2},"kind":"v12.0,user,vcore","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":34359738368,"status":"Online","databaseId":"68f2edeb-33f2-4a27-839e-fb0386684d7a","creationDate":"2020-09-03T06:43:10.497Z","currentServiceObjectiveName":"GP_Gen5_2","requestedServiceObjectiveName":"GP_Gen5_2","defaultSecondaryLocation":"westus","catalogCollation":"SQL_Latin1_General_CP1_CI_AS","zoneRedundant":false,"licenseType":"LicenseIncluded","maxLogSizeBytes":10307502080,"earliestRestoreDate":"2020-09-03T07:13:10.497Z","readScale":"Disabled","readReplicaCount":0,"currentSku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":2}},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/databases/mydatabase","name":"mydatabase","type":"Microsoft.Sql/servers/databases"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''b\''{"location": "eastus", "properties": {"databaseId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/databases/mydatabase"}}\'''''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/jobAgents/myjobagent?api-version=2017-03-01-preview
  response:
    body:
      string: '{"operation":"UpsertJobAccount","startTime":"2020-09-03T06:43:31.323Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/locations/eastus/jobAgentAzureAsyncOperation/aa6ac80d-5668-4916-b587-b991898bd679?api-version=2017-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/locations/eastus/jobAgentOperationResults/aa6ac80d-5668-4916-b587-b991898bd679?api-version=2017-03-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/locations/eastus/jobAgentAzureAsyncOperation/aa6ac80d-5668-4916-b587-b991898bd679?api-version=2017-03-01-preview
  response:
    body:
      string: '{"name":"aa6ac80d-5668-4916-b587-b991898bd679","status":"InProgress","startTime":"2020-09-03T06:43:31.323Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"username": "myuser", "password": "<password>"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/jobAgents/myjobagent/credentials/mycredential?api-version=2017-03-01-preview
  response:
    body:
      string: '{"properties":{"username":"myuser"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/jobAgents/myjobagent/credentials/mycredential","name":"mycredential","type":"Microsoft.Sql/servers/jobAgents/credentials"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"members": []}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/jobAgents/myjobagent/targetGroups/mytargetgroup?api-version=2017-03-01-preview
  response:
    body:
      string: '{"properties":{"members":[]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/jobAgents/myjobagent/targetGroups/mytargetgroup","name":"mytargetgroup","type":"Microsoft.Sql/servers/jobAgents/targetGroups"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"description": "my favourite job", "schedule": {"startTime":
      "2020-09-24T18:30:01.000Z", "endTime": "2020-09-24T23:59:59.000Z", "type": "Recurring",
      "enabled": true, "interval": "PT5M"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/jobAgents/myjobagent/jobs/myjob?api-version=2017-03-01-preview
  response:
    body:
      string: '{"properties":{"description":"my favourite job","version":0,"schedule":{"startTime":"2020-09-24T18:30:01Z","endTime":"2020-09-24T23:59:59Z","type":"Recurring","enabled":true,"interval":"PT5M"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/jobAgents/myjobagent/jobs/myjob","name":"myjob","type":"Microsoft.Sql/servers/jobAgents/jobs"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 201
      message: Created
- request:
    body: 'b''b\''{"properties": {"targetGroup": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/jobAgents/myjobagent/targetGroups/mytargetgroup",
      "credential": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/jobAgents/myjobagent/credentials/mycredential",
      "action": {"value": "select 1"}}}\'''''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/jobAgents/myjobagent/jobs/myjob/steps/mystep?api-version=2017-03-01-preview
  response:
    body:
      string: '{"properties":{"stepId":1,"targetGroup":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/jobAgents/myjobagent/targetGroups/mytargetgroup","credential":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/jobAgents/myjobagent/credentials/mycredential","action":{"type":"TSql","source":"Inline","value":"select
        1"},"executionOptions":{"timeoutSeconds":43200,"retryAttempts":10,"initialRetryIntervalSeconds":1,"maximumRetryIntervalSeconds":120,"retryIntervalBackoffMultiplier":2.0}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/jobAgents/myjobagent/jobs/myjob/steps/mystep","name":"mystep","type":"Microsoft.Sql/servers/jobAgents/jobs/steps"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/jobAgents/myjobagent/jobs/myjob/executions/622ffff7-c4be-4c62-8098-3867c5db6427?api-version=2017-03-01-preview
  response:
    body:
      string: '{"properties":{"jobVersion":1,"jobExecutionId":"622ffff7-c4be-4c62-8098-3867c5db6427","lifecycle":"Created","provisioningState":"Created","createTime":"2020-09-03T06:44:53.56Z","currentAttempts":0,"lastMessage":"Job
        execution created."},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/jobAgents/myjobagent/jobs/myjob/executions/622ffff7-c4be-4c62-8098-3867c5db6427","name":"622ffff7-c4be-4c62-8098-3867c5db6427","type":"Microsoft.Sql/servers/jobAgents/jobs/executions"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1192'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/jobAgents/myjobagent/jobs/myjob/executions/622ffff7-c4be-4c62-8098-3867c5db6427/steps/mystep?api-version=2017-03-01-preview
  response:
    body:
      string: '{"properties":{"jobVersion":1,"stepName":"mystep","stepId":1,"jobExecutionId":"622ffff7-c4be-4c62-8098-3867c5db6427","lifecycle":"Succeeded","provisioningState":"Succeeded","createTime":"2020-09-03T06:44:54.4278966Z","startTime":"2020-09-03T06:44:56.162284Z","endTime":"2020-09-03T06:45:03.3029292Z","currentAttempts":1,"currentAttemptStartTime":"2020-09-03T06:45:02.1466978Z","lastMessage":"Step
        1 succeeded."},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/jobAgents/myjobagent/jobs/myjob/executions/622ffff7-c4be-4c62-8098-3867c5db6427/steps/mystep","name":"mystep","type":"Microsoft.Sql/servers/jobAgents/jobs/executions/steps"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/jobAgents/myjobagent/jobs/myjob/versions/1/steps/mystep?api-version=2017-03-01-preview
  response:
    body:
      string: '{"properties":{"stepId":1,"targetGroup":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/jobAgents/myjobagent/targetGroups/mytargetgroup","credential":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/jobAgents/myjobagent/credentials/mycredential","action":{"type":"TSql","source":"Inline","value":"select
        1"},"executionOptions":{"timeoutSeconds":43200,"retryAttempts":10,"initialRetryIntervalSeconds":1,"maximumRetryIntervalSeconds":120,"retryIntervalBackoffMultiplier":2.0}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/jobAgents/myjobagent/jobs/myjob/versions/1/steps/mystep","name":"mystep","type":"Microsoft.Sql/servers/jobAgents/jobs/steps"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/jobAgents/myjobagent/jobs/myjob/versions/1?api-version=2017-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/jobAgents/myjobagent/jobs/myjob/versions/1","name":"1","type":"Microsoft.Sql/servers/jobAgents/jobs/versions"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/jobAgents/myjobagent/jobs/myjob/start?api-version=2017-03-01-preview
  response:
    body:
      string: '{"properties":{"jobVersion":1,"jobExecutionId":"a52e59a7-4aad-42d7-8730-d70c3c8b38f7","lifecycle":"Created","provisioningState":"Created","createTime":"2020-09-03T06:45:28.8533333Z","currentAttempts":0,"lastMessage":"Job
        execution created."},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/jobAgents/myjobagent/jobs/myjob/executions/a52e59a7-4aad-42d7-8730-d70c3c8b38f7","name":"a52e59a7-4aad-42d7-8730-d70c3c8b38f7","type":"Microsoft.Sql/servers/jobAgents/jobs/executions"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/jobAgents/myjobagent/jobs/myjob/executions/a52e59a7-4aad-42d7-8730-d70c3c8b38f7?api-version=2017-03-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/jobAgents/myjobagent/jobs/myjob/executions/622ffff7-c4be-4c62-8098-3867c5db6427/cancel?api-version=2017-03-01-preview
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/jobAgents/myjobagent/jobs/myjob/executions/622ffff7-c4be-4c62-8098-3867c5db6427?api-version=2017-03-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1191'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {"mytag1": "myvalue1"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/jobAgents/myjobagent?api-version=2017-03-01-preview
  response:
    body:
      string: '{"operation":"UpsertJobAccount","startTime":"2020-09-03T06:46:03.067Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/locations/eastus/jobAgentAzureAsyncOperation/41ac9fc5-9f79-483a-b6e9-600ddf2f2cf2?api-version=2017-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/locations/eastus/jobAgentOperationResults/41ac9fc5-9f79-483a-b6e9-600ddf2f2cf2?api-version=2017-03-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1190'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Sql/servers/myserverxpxyz/jobAgents/myjobagent/jobs/myjob/steps/mystep?api-version=2017-03-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The requested resource
        of type ''Microsoft.Sql/servers/jobAgents/jobs'' with name ''myjob'' was not
        found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14998'
    status:
      code: 404
      message: Not Found
[...]
