{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=00000000-0000-0000-0000-000000000000\u0026client_secret=00000000-0000-0000-0000-000000000000\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fazure-devices-provisioning.net%2F.default\u0026claims=%7B%22access_token%22%3A\u002B%7B%22xms_cc%22%3A\u002B%7B%22values%22%3A\u002B%5B%22CP1%22%5D%7D%7D%7D",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "access_token"
      }
    },
    {
      "RequestUri": "https://fake-resource.azure-devices-provisioning.net/enrollmentGroups/x509_enroll_grp_59554127?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "enrollmentGroupId": "x509_enroll_grp_59554127",
        "attestation": {
          "type": "x509",
          "x509": {
            "signingCertificates": {
              "primary": {
                "certificate": "certificate"
              }
            }
          }
        },
        "allocationPolicy": "hashed",
        "capabilities": null,
        "provisioningStatus": "enabled",
        "reprovisionPolicy": {
          "migrateDeviceData": true,
          "updateHubAssignment": true
        },
        "iotHubs": null,
        "iotHubHostName": null,
        "initialTwin": null,
        "customAllocationDefinition": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "enrollmentGroupId": "x509_enroll_grp_59554127",
        "attestation": {
          "type": "x509",
          "x509": {
            "signingCertificates": {
              "primary": {
                "info": {
                  "subjectName": "CN=enroll_cert_59554127",
                  "sha1Thumbprint": "thumbprint",
                  "sha256Thumbprint": "thumbprint",
                  "issuerName": "CN=enroll_cert_59554127",
                  "notBeforeUtc": "2023-05-09T20:31:18Z",
                  "notAfterUtc": "2023-05-10T20:31:18Z",
                  "serialNumber": "142C49394E5B2274A25A6DA6127499AC0104D67F",
                  "version": 3
                }
              },
              "secondary": {
                "info": {
                  "subjectName": "CN=enroll_cert_59554127",
                  "sha1Thumbprint": "thumbprint",
                  "sha256Thumbprint": "thumbprint",
                  "issuerName": "CN=enroll_cert_59554127",
                  "notBeforeUtc": "2023-05-09T20:31:18Z",
                  "notAfterUtc": "2023-05-10T20:31:18Z",
                  "serialNumber": "142C49394E5B2274A25A6DA6127499AC0104D67F",
                  "version": 3
                }
              }
            }
          }
        },
        "etag": "ImIwMDJhMzhjLTAwMDAtMDgwMC0wMDAwLTY0NWFhZDk3MDAwMCI=",
        "provisioningStatus": "enabled",
        "reprovisionPolicy": {
          "updateHubAssignment": true,
          "migrateDeviceData": true
        },
        "createdDateTimeUtc": "2023-05-09T20:31:19.112731Z",
        "lastUpdatedDateTimeUtc": "2023-05-09T20:31:19.112731Z",
        "allocationPolicy": "hashed"
      }
    },
    {
      "RequestUri": "https://fake-resource.azure-devices-provisioning.net/enrollmentGroups/query?api-version=2021-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "SELECT *"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-item-type": "EnrollmentGroup"
      },
      "ResponseBody": "[{\u0022enrollmentGroupId\u0022:\u0022x509_enroll_grp_59554127\u0022,\u0022attestation\u0022:{\u0022type\u0022:\u0022x509\u0022,\u0022x509\u0022:{\u0022signingCertificates\u0022:{\u0022primary\u0022:{\u0022info\u0022:{\u0022subjectName\u0022:\u0022CN=enroll_cert_59554127\u0022,\u0022sha1Thumbprint\u0022:\u0022thumbprint\u0022,\u0022sha256Thumbprint\u0022:\u0022thumbprint\u0022,\u0022issuerName\u0022:\u0022CN=enroll_cert_59554127\u0022,\u0022notB[...]
[...]
    {
      "RequestUri": "https://fake-resource.azure-devices-provisioning.net/enrollmentGroups/x509_enroll_grp_59554127?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-Match": "ImIwMDJhMzhjLTAwMDAtMDgwMC0wMDAwLTY0NWFhZDk3MDAwMCI="
      },
      "RequestBody": {
        "enrollmentGroupId": "x509_enroll_grp_59554127",
        "attestation": {
          "type": "x509",
          "x509": {
            "signingCertificates": {
              "primary": {
                "certificate": "certificate"
              }
            }
          }
        },
        "allocationPolicy": "custom",
        "capabilities": null,
        "provisioningStatus": "disabled",
        "reprovisionPolicy": {
          "migrateDeviceData": true,
          "updateHubAssignment": true
        },
        "iotHubs": null,
        "iotHubHostName": null,
        "initialTwin": null,
        "customAllocationDefinition": {
          "webhookUrl": "https://www.test.test",
          "apiVersion": "2019-03-31"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "enrollmentGroupId": "x509_enroll_grp_59554127",
        "attestation": {
          "type": "x509",
          "x509": {
            "signingCertificates": {
              "primary": {
                "info": {
                  "subjectName": "CN=enroll_cert_59554127",
                  "sha1Thumbprint": "thumbprin[...]
[...]
    {
      "RequestUri": "https://fake-resource.azure-devices-provisioning.net/enrollmentGroups/query?api-version=2021-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "SELECT *"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-item-type": "EnrollmentGroup"
      },
      "ResponseBody": "[]"
    }
  ],
  "Variables": {}
}
