{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded",
        "x-client-cpu": "x64",
        "x-client-current-telemetry": "4|730,0|",
        "x-client-last-telemetry": "4|0|||",
        "x-client-os": "win32",
        "x-client-sku": "MSAL.Python",
        "x-client-ver": "1.22.0",
        "x-ms-lib-capability": "retry-after, h429"
      },
      "RequestBody": "client_id=00000000-0000-0000-0000-000000000000\u0026grant_type=client_credentials\u0026client_info=1\u0026client_secret=00000000-0000-0000-0000-000000000000\u0026claims=%7B%22access_token%22%3A\u002B%7B%22xms_cc%22%3A\u002B%7B%22values%22%3A\u002B%5B%22CP1%22%5D%7D%7D%7D\u0026scope=https%3A%2F%2Fazure-devices-provisioning.net%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "refresh_in": 43199,
        "access_token": "access_token"
      }
    },
    {
      "RequestUri": "https://fake-resource.azure-devices-provisioning.net/enrollments/sym_enrollment_ebd84717?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "registrationId": "sym_enrollment_ebd84717",
        "attestation": {
          "type": "symmetricKey",
          "symmetricKey": {
            "primaryKey": "primaryKey",
            "secondaryKey": "secondaryKey"
          }
        },
        "allocationPolicy": "geoLatency",
        "capabilities": null,
        "reprovisionPolicy": {
          "migrateDeviceData": true,
          "updateHubAssignment": true
        },
        "customAllocationDefinition": null,
        "provisioningStatus": null,
        "deviceId": "sym_key_device_ebd84717",
        "optionalDeviceInformation": null,
        "iotHubs": null,
        "iotHubHostName": null,
        "initialTwin": {
          "properties": {
            "desired": {
              "key": "value"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "registrationId": "sym_enrollment_ebd84717",
        "deviceId": "sym_key_device_ebd84717",
        "attestation": {
          "type": "symmetricKey",
          "symmetricKey": {
            "primaryKey": "primaryKey",
            "secondaryKey": "secondaryKey"
          }
        },
        "initialTwin": {
          "properties": {
            "desired": {
              "key": "value"
            }
          }
        },
        "etag": "IjNiMDA0YjM2LTAwMDAtMDgwMC0wMDAwLTY0NDFhMjcwMDAwMCI=",
        "provisioningStatus": null,
        "reprovisionPolicy": {
          "updateHubAssignment": true,
          "migrateDeviceData": true
        },
        "createdDateTimeUtc": "2023-04-20T20:37:04.8033329Z",
        "lastUpdatedDateTimeUtc": "2023-04-20T20:37:04.8033329Z",
        "allocationPolicy": "geoLatency"
      }
    },
    {
      "RequestUri": "https://fake-resource.azure-devices-provisioning.net/enrollments/query?api-version=2021-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "SELECT *"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-item-type": "Enrollment"
      },
      "ResponseBody": "[{\u0022registrationId\u0022:\u0022sym_enrollment_ebd84717\u0022,\u0022deviceId\u0022:\u0022sym_key_device_ebd84717\u0022,\u0022attestation\u0022:{\u0022type\u0022:\u0022symmetricKey\u0022},\u0022initialTwin\u0022:{\u0022properties\u0022:{\u0022desired\u0022:{\u0022key\u0022:\u0022value\u0022}}},\u0022etag\u0022:\u0022IjNiMDA0YjM2LTAwMDAtMDgwMC0wMDAwLTY0NDFhMjcwMDAwMCI=\u0022,\u0022provisioningStatus\u0022:null,\u0022reprovisionPolicy\u0022:{\u0022updateHubAssignment\u0022:true,\u0022migrateDeviceData\u0022:true},\u0022createdDateTimeUtc\u0022:\u00222023-04-20T20:37:04.8033329Z\u0022,\u0022lastUpdatedDateTimeUtc\u0022:\u00222023-04-20T20:37:04.8033329Z\u0022,\u0022allocationPolicy\u0022:\u0022geoLatency\u0022}]"
    },
    {
      "RequestUri": "https://fake-resource.azure-devices-provisioning.net/enrollments/sym_enrollment_ebd84717?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "registrationId": "sym_enrollment_ebd84717",
        "deviceId": "sym_key_device_ebd84717",
        "registrationState": {
          "registrationId": "sym_enrollment_ebd84717",
          "status": "unassigned"
        },
        "attestation": {
          "type": "symmetricKey"
        },
        "initialTwin": {
          "properties": {
            "desired": {
              "key": "value"
            }
          }
        },
        "etag": "IjNiMDA0YjM2LTAwMDAtMDgwMC0wMDAwLTY0NDFhMjcwMDAwMCI=",
        "provisioningStatus": null,
        "reprovisionPolicy": {
          "updateHubAssignment": true,
          "migrateDeviceData": true
        },
        "createdDateTimeUtc": "2023-04-20T20:37:04.8033329Z",
        "lastUpdatedDateTimeUtc": "2023-04-20T20:37:04.8033329Z",
        "allocationPolicy": "geoLatency"
      }
    },
    {
      "RequestUri": "https://fake-resource.azure-devices-provisioning.net/enrollments/sym_enrollment_ebd84717/attestationmechanism?api-version=2021-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "type": "symmetricKey",
        "symmetricKey": {
          "primaryKey": "primaryKey",
          "secondaryKey": "secondaryKey"
        }
      }
    },
    {
      "RequestUri": "https://fake-resource.azure-devices-provisioning.net/enrollments/sym_enrollment_ebd84717?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-Match": "IjNiMDA0YjM2LTAwMDAtMDgwMC0wMDAwLTY0NDFhMjcwMDAwMCI="
      },
      "RequestBody": {
        "registrationId": "sym_enrollment_ebd84717",
        "attestation": {
          "type": "symmetricKey",
          "symmetricKey": {
            "primaryKey": "primaryKey",
            "secondaryKey": "secondaryKey"
          }
        },
        "allocationPolicy": "custom",
        "capabilities": null,
        "reprovisionPolicy": {
          "migrateDeviceData": true,
          "updateHubAssignment": true
        },
        "customAllocationDefinition": {
          "webhookUrl": "https://www.test.test",
          "apiVersion": "2019-03-31"
        },
        "provisioningStatus": "disabled",
        "deviceId": "sym_key_device_ebd84717",
        "optionalDeviceInformation": null,
        "iotHubs": null,
        "iotHubHostName": null,
        "initialTwin": {
          "properties": {
            "desired": {
              "key": "value"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "registrationId": "sym_enrollment_ebd84717",
        "deviceId": "sym_key_device_ebd84717",
        "attestation": {
          "type": "symmetricKey",
          "symmetricKey": {
            "primaryKey": "primaryKey",
            "secondaryKey": "secondaryKey"
          }
        },
        "initialTwin": {
          "properties": {
            "desired": {
              "key": "value"
            }
          }
        },
        "etag": "IjNiMDA0ZDM2LTAwMDAtMDgwMC0wMDAwLTY0NDFhMjcxMDAwMCI=",
        "provisioningStatus": "disabled",
        "reprovisionPolicy": {
          "updateHubAssignment": true,
          "migrateDeviceData": true
        },
        "createdDateTimeUtc": "2023-04-20T20:37:04.8033329Z",
        "lastUpdatedDateTimeUtc": "2023-04-20T20:37:05.1196981Z",
        "allocationPolicy": "custom",
        "customAllocationDefinition": {
          "webhookUrl": "https://www.test.test",
          "apiVersion": "2019-03-31"
        }
      }
    },
    {
      "RequestUri": "https://fake-resource.azure-devices-provisioning.net/enrollments/sym_enrollment2_ebd84717?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "registrationId": "sym_enrollment2_ebd84717",
        "attestation": {
          "type": "symmetricKey",
          "symmetricKey": {
            "primaryKey": null,
            "secondaryKey": null
          }
        }[...]
[...]
    {
      "RequestUri": "https://fake-resource.azure-devices-provisioning.net/enrollments/query?api-version=2021-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "SELECT *"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-item-type": "Enrollment"
      },
      "ResponseBody": "[]"
    }
  ],
  "Variables": {}
}
