interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07,
        2021-10-31-preview, 2021-11-01, 2022-06-01
      content-type: application/json; charset=utf-8
      ms-cv: Go3g6Mn3M0KAdN73l3Mg4w.0
      x-processing-time: 27ms
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/identities?api-version=2022-06-01
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2022-06-01
  response:
    body:
      string: '{"token": "sanitized", "expiresOn": "2022-08-04T09:15:52.5650255+00:00"}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07,
        2021-10-31-preview, 2021-11-01, 2022-06-01
      content-type: application/json; charset=utf-8
      ms-cv: oHk9nnqkN0msTQJ33f3PAQ.0
      x-processing-time: 43ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2022-06-01
version: 1
