interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 07 Oct 2022 14:38:38 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07,
        2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01
      content-type: application/json; charset=utf-8
      ms-cv: bPgpzXvUKkCVgDiMaNZziQ.2.0
      x-processing-time: 94ms
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
- request:
    body: '{"scopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 07 Oct 2022 14:38:38 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2022-10-01
  response:
    body:
      string: '{"token": "sanitized", "expiresOn": "2022-10-08T14:38:39.0989287+00:00"}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07,
        2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01
      content-type: application/json; charset=utf-8
      ms-cv: hlOvvPPunkKB0Xf6IwClpA.2.0
      x-processing-time: 164ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2022-10-01
- request:
    body: ''
    headers:
      x-ms-date:
      - Fri, 07 Oct 2022 14:38:38 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:revokeAccessTokens?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07,
        2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01
      ms-cv: qYNgFTKa0UWP+Cs93kMgjQ.2.0
      x-processing-time: 398ms
    status:
      code: 204
      message: No Content
    url: https://sanitized.communication.azure.com/identities/sanitized/:revokeAccessTokens?api-version=2022-10-01
version: 1
