interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": 1441}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 25 Aug 2022 20:04:04 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2022-10-01
  response:
    body:
      string: '{"error": {"code": "ValidationError", "message": "ExpiresInMinutes
        value 1441 is invalid.", "target": "ExpiresInMinutes"}}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07,
        2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01
      content-type: application/json
      ms-cv: TV7/pM0NwEuqDH2dxRh4NQ.0
      x-processing-time: 34ms
    status:
      code: 400
      message: Bad Request
    url: https://test-petrsvihlik.ppe.communication.azure.net/identities?api-version=2022-10-01
version: 1
