interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07
      content-type: application/json; charset=utf-8
      ms-cv: esqhi3WAnUSWE09C5oWopQ.0
      x-processing-time: 14ms
    status:
      code: 201
      message: Created
    url: https://lakshmanscommunication-communication.communication.azure.com/identities?api-version=2021-03-07
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body:
      string: '{"token": "sanitized", "expiresOn": "2021-04-22T01:04:05.5521447+00:00"}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07
      content-type: application/json; charset=utf-8
      ms-cv: DThu30avp0m4zQe2A2DIvQ.0
      x-processing-time: 147ms
    status:
      code: 200
      message: OK
    url: https://lakshmanscommunication-communication.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:revokeAccessTokens?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07
      ms-cv: ELlNYXpYGk+PxAb32vSRJA.0
      x-processing-time: 225ms
    status:
      code: 204
      message: No Content
    url: https://lakshmanscommunication-communication.communication.azure.com/identities/sanitized/:revokeAccessTokens?api-version=2021-03-07
version: 1
