interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 20 May 2022 15:03:51 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07,
        2021-10-31-preview, 2021-11-01, 2022-06-01
      content-type: application/json; charset=utf-8
      ms-cv: YRwFY9EDAEuEbU/B5EGdow.2.0
      x-processing-time: 88ms
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/identities?api-version=2022-06-01
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 20 May 2022 15:03:52 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2022-06-01
  response:
    body:
      string: '{"error": {"code": "ValidationError", "message": "Scopes: The Scopes
        field is required.", "target": "Scopes"}}'
    headers:
      content-type: application/json
      ms-cv: wWW+7BeWQkmTezJUhf4qnQ.2.0
      x-processing-time: 18ms
    status:
      code: 400
      message: Bad Request
    url: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2022-06-01
version: 1
