interactions:
- request:
    body: ''
    headers:
    method: POST
    uri: https://communicationegrcrs.communication.azure.com/identities?api-version=2020-07-20-preview2
  response:
    body:
      string: '{"id": "sanitized"}'
    headers:
      api-supported-versions: 2020-01-15-preview3, 2020-07-20-preview1, 2020-07-20-preview2
      content-type: application/json; charset=utf-8
      ms-cv: M9b8kGAz8UGwsoZe2mFLCA.0
      x-processing-time: 29ms
    status:
      code: 200
      message: OK
    url: https://communicationngn6p2kywhg.communication.azure.com/identities?api-version=2020-07-20-preview2
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://communicationegrcrs.communication.azure.com/identities/sanitized/token?api-version=2020-07-20-preview2
  response:
    body:
      string: '{"id": "sanitized", "token": "sanitized", "expiresOn": "2020-12-23T18:55:54.788117+00:00"}'
    headers:
      api-supported-versions: 2020-01-15-preview3, 2020-07-20-preview1, 2020-07-20-preview2
      content-type: application/json; charset=utf-8
      ms-cv: MBCUlMoRBECvCLmV00eWXw.0
      x-processing-time: 27ms
    status:
      code: 200
      message: OK
    url: https://communicationngn6p2kywhg.communication.azure.com/identities/sanitized/token?api-version=2020-07-20-preview2
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://communicationegrcrs.communication.azure.com/identities/sanitized?api-version=2020-07-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2020-01-15-preview3, 2020-07-20-preview1, 2020-07-20-preview2
      ms-cv: MVgoSrOVSkiU0c+teqMDZQ.0
      x-processing-time: 10ms
    status:
      code: 204
      message: No Content
    url: https://communicationngn6p2kywhg.communication.azure.com/identities/sanitized?api-version=2020-07-20-preview2
version: 1
