interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07
      content-type: application/json; charset=utf-8
      ms-cv: lWjOWYpL90CS7wvt6sWZmw.0
      x-processing-time: 111ms
    status:
      code: 201
      message: Created
    url: https://lakshmanscommunication-communication.communication.azure.com/identities?api-version=2021-03-07
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body:
      string: '{"token": "sanitized", "expiresOn": "2021-04-14T17:54:47.3442684+00:00"}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07
      content-type: application/json; charset=utf-8
      ms-cv: sdMJ7daQx0GS9bI8pul/bw.0
      x-processing-time: 123ms
    status:
      code: 200
      message: OK
    url: https://lakshmanscommunication-communication.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:revokeAccessTokens?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07
      ms-cv: s2kwtg8TQkG8aJp6NDHeLg.0
      x-processing-time: 248ms
    status:
      code: 204
      message: No Content
    url: https://lakshmanscommunication-communication.communication.azure.com/identities/sanitized/:revokeAccessTokens?api-version=2021-03-07
version: 1
