interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://communicationegrcrs.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": {"id": "8:acs:fa9ae185-9f60-4454-8be7-5757cf514f4b_00000007-ea1d-8d6f-8d33-3b3a0d000285"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - FsWGFnXtdEyCvzh35+CEqw.0
      x-processing-time:
      - 18ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://communicationegrcrs.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body:
      string: '{"token": "sanitized", "expiresOn": "2021-01-29T18:22:55.4643038+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - SUXqGX/Z4E6C6zfcxiWQEw.0
      x-processing-time:
      - 35ms
    status:
      code: 200
      message: OK
version: 1
