interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://communicationegrcrs.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": {"id": "8:acs:dfd067fd-fca6-4b13-ab29-9942ccef42de_00000007-e635-948a-0338-3b3a0d00a0b2"}}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-03-07
      content-type: application/json; charset=utf-8
      ms-cv: MQOB7hTyHUWG20LRH6jl4A.0
      x-processing-time: 19ms
    status:
      code: 201
      message: Created
    url: https://communication2rjlrpnsekt.communication.azure.com/identities?api-version=2021-03-07
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://communicationegrcrs.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body:
      string: '{"token": "sanitized", "expiresOn": "2021-01-29T00:10:41.2727745+00:00"}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-03-07
      content-type: application/json; charset=utf-8
      ms-cv: ewu+XAda5EKtcLG/IUVAqg.0
      x-processing-time: 34ms
    status:
      code: 200
      message: OK
    url: https://communication2rjlrpnsekt.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
- request:
    body: ''
    headers:
    method: POST
    uri: https://communicationegrcrs.communication.azure.com/identities/sanitized/:revokeAccessTokens?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-03-07
      ms-cv: 73SrLh8Gu0qRA7HwJHhzPA.0
      x-processing-time: 326ms
    status:
      code: 204
      message: No Content
    url: https://communication2rjlrpnsekt.communication.azure.com/identities/sanitized/:revokeAccessTokens?api-version=2021-03-07
version: 1
