interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 27 Oct 2021 07:24:47 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07,
        2021-03-31-preview1, 2021-10-31-preview
      content-type: application/json; charset=utf-8
      ms-cv: cvj408/yr0aqL90c9g6NYw.0
      x-processing-time: 89ms
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/identities?api-version=2021-10-31-preview
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 27 Oct 2021 07:24:48 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-10-31-preview
  response:
    body:
      string: '{"token": "sanitized", "expiresOn": "2021-10-28T07:24:48.5136778+00:00"}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07,
        2021-03-31-preview1, 2021-10-31-preview
      content-type: application/json; charset=utf-8
      ms-cv: ylhCTpgFdEqzzu7jh5+eag.0
      x-processing-time: 95ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-10-31-preview
- request:
    body: ''
    headers:
      x-ms-date:
      - Wed, 27 Oct 2021 07:24:48 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:revokeAccessTokens?api-version=2021-10-31-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07,
        2021-03-31-preview1, 2021-10-31-preview
      ms-cv: MPRasYYG3UesTFUXyyszqA.0
      x-processing-time: 167ms
    status:
      code: 204
      message: No Content
    url: https://sanitized.communication.azure.com/identities/sanitized/:revokeAccessTokens?api-version=2021-10-31-preview
version: 1
