interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 01 Jun 2022 08:16:24 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2022-06-02T08:16:24.8614973+00:00"}}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07,
        2021-10-31-preview, 2021-11-01, 2022-06-01
      content-type: application/json; charset=utf-8
      ms-cv: 1GXHdoprn0+8ogbOZlIIkA.2.0
      x-processing-time: 213ms
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/identities?api-version=2022-06-01
version: 1
