interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.microsoftonline.com/common/userrealm/sanitized@test.onmicrosoft.com?api-version=1.0
  response:
    body:
      string: '{"ver": "1.0", "account_type": "Managed", "domain_name": "sanitized",
        "cloud_instance_name": "microsoftonline.com", "cloud_audience_urn": "urn:federation:MicrosoftOnline"}'
    headers:
      content-disposition:
      - inline; filename=userrealm.json
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"token": "sanitized", "appId": "sanitized", "userId": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 03 Aug 2022 09:15:26 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/teamsUser/:exchangeAccessToken?api-version=2022-06-01
  response:
    body:
      string: '{"error": {"code": "ValidationError", "message": "AAD application is
        not the expected one.", "target": "appId"}}'
    headers:
      api-supported-versions:
      - 2021-10-31-preview, 2022-06-01
      content-type:
      - application/json
      ms-cv:
      - mYnXYtD5r0G2A0SY15d5oQ.0
      x-processing-time:
      - 39ms
    status:
      code: 400
      message: Bad Request
version: 1
