interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 07 Oct 2022 14:38:22 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07,
        2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01
      content-type: application/json; charset=utf-8
      ms-cv: mkVSJkgtd0+lcbdO+EJSdA.2.0
      x-processing-time: 95ms
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
- request:
    body: '{"scopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 07 Oct 2022 14:38:23 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2022-10-01
  response:
    body:
      string: '{"token": "sanitized", "expiresOn": "2022-10-08T14:38:23.9182152+00:00"}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07,
        2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01
      content-type: application/json; charset=utf-8
      ms-cv: BfVGuer+Fk2sdQBtVXuOqw.2.0
      x-processing-time: 171ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2022-10-01
version: 1
