interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://communicationegrcrs.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": {"id": "8:acs:f1c4becd-73c5-45f2-9597-4ec8cd3a1ab9_00000007-e6c4-4fbb-6032-3b3a0d00a18c"}}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-03-07
      content-type: application/json; charset=utf-8
      ms-cv: CYpZ2LF4wEaD5kO1JjvXVw.0
      x-processing-time: 203ms
    status:
      code: 201
      message: Created
    url: https://communicationyhjerbqgmdh.communication.azure.com/identities?api-version=2021-03-07
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://communicationegrcrs.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body:
      string: '{"token": "sanitized", "expiresOn": "2021-01-29T02:46:35.2885265+00:00"}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-03-07
      content-type: application/json; charset=utf-8
      ms-cv: uF35+QvQnE20Wjd65apo0A.0
      x-processing-time: 24ms
    status:
      code: 200
      message: OK
    url: https://communicationyhjerbqgmdh.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
- request:
    body: null
    headers:
    method: POST
    uri: https://communicationegrcrs.communication.azure.com/identities/sanitized/:revokeAccessTokens?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-03-07
      ms-cv: T6cWVDrvuEWzmNW+5XJ8AA.0
      x-processing-time: 192ms
    status:
      code: 204
      message: No Content
    url: https://communicationyhjerbqgmdh.communication.azure.com/identities/sanitized/:revokeAccessTokens?api-version=2021-03-07
version: 1
