interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 25 Aug 2022 20:04:19 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07,
        2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01
      content-type: application/json; charset=utf-8
      ms-cv: b3UBitTSUkWO/GFx9xkvng.0
      x-processing-time: 35ms
    status:
      code: 201
      message: Created
    url: https://test-petrsvihlik.ppe.communication.azure.net/identities?api-version=2022-10-01
- request:
    body: '{"scopes": ["chat"], "expiresInMinutes": 60}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 25 Aug 2022 20:04:19 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized/:issueAccessToken?api-version=2022-10-01
  response:
    body:
      string: '{"token": "sanitized", "expiresOn": "2022-08-25T21:04:19.4654205+00:00"}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07,
        2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01
      content-type: application/json; charset=utf-8
      ms-cv: 11HC9kPGA0eNHaMGLLuYyA.0
      x-processing-time: 41ms
    status:
      code: 200
      message: OK
    url: https://test-petrsvihlik.ppe.communication.azure.net/identities/sanitized/:issueAccessToken?api-version=2022-10-01
version: 1
