interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://communicationegrcrs.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": {"id": "8:acs:1d7d15fa-673e-41aa-b447-4fc078a1006a_00000007-eb23-c782-ac00-343a0d00068b"}}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-03-07
      content-type: application/json; charset=utf-8
      ms-cv: wjSdUDbYpUGnDHaTzRjRew.0
      x-processing-time: 23ms
    status:
      code: 201
      message: Created
    url: https://communicationoh7nrq5spts.communication.azure.com/identities?api-version=2021-03-07
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://communicationegrcrs.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body:
      string: '{"token": "sanitized", "expiresOn": "2021-01-29T23:09:20.7524479+00:00"}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-03-07
      content-type: application/json; charset=utf-8
      ms-cv: jFST8Y8YH0e7ukS/opF4Dw.0
      x-processing-time: 31ms
    status:
      code: 200
      message: OK
    url: https://communicationoh7nrq5spts.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
version: 1
