interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://communicationegrcrs.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": {"id": "8:acs:a050fdf2-1875-40a3-823c-bfbab6e9549a_00000007-e6c1-4135-8337-3b3a0d009895"}}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-03-07
      content-type: application/json; charset=utf-8
      ms-cv: kpIV1sFQ9ECo1Mdri/yfHg.0
      x-processing-time: 20ms
    status:
      code: 201
      message: Created
    url: https://communication7op72yysraa.communication.azure.com/identities?api-version=2021-03-07
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://communicationegrcrs.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body:
      string: '{"token": "sanitized", "expiresOn": "2021-01-29T02:43:15.0315352+00:00"}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-03-07
      content-type: application/json; charset=utf-8
      ms-cv: A9azmXm8skCQ+ybgBNHhMA.0
      x-processing-time: 25ms
    status:
      code: 200
      message: OK
    url: https://communication7op72yysraa.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
version: 1
