interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ESJNBGhGTEWm2nfyGmja5g.0
      x-processing-time:
      - 12ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body:
      string: '{"token": "sanitized", "expiresOn": "2021-04-14T17:54:29.7152371+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 8x1vXQTCY0qKMkC4Z/KGFg.0
      x-processing-time:
      - 28ms
    status:
      code: 200
      message: OK
version: 1
