interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://communicationegrcrs.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": {"id": "8:acs:21fb9d58-5d22-412c-b382-4d00a17a9e82_00000007-ea26-ca65-f40f-343a0d0001b6"}}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-03-07
      content-type: application/json; charset=utf-8
      ms-cv: GT6Oe3Sa+ESINExEesALCw.0
      x-processing-time: 22ms
    status:
      code: 201
      message: Created
    url: https://communicationohk2wgjgjym.communication.azure.com/identities?api-version=2021-03-07
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://communicationegrcrs.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body:
      string: '{"token": "sanitized", "expiresOn": "2021-01-29T18:33:00.8904527+00:00"}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-03-07
      content-type: application/json; charset=utf-8
      ms-cv: tyqmpTNhZEyFRVHGw5SZFQ.0
      x-processing-time: 37ms
    status:
      code: 200
      message: OK
    url: https://communicationohk2wgjgjym.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
version: 1
