interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://communicationegrcrs.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": {"id": "8:acs:a20c09dd-f2bd-436a-963e-b3ebe238a776_00000007-ea1f-9c81-6a0b-343a0d000336"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - PxXsCp3ewkiV+kuaK3GuIQ.0
      x-processing-time:
      - 17ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://communicationegrcrs.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body:
      string: '{"token": "sanitized", "expiresOn": "2021-01-29T18:25:10.3928345+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 6ws9gzTGzE29EqFje03S+A.0
      x-processing-time:
      - 26ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://communicationegrcrs.communication.azure.com/identities/sanitized/:revokeAccessTokens?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      ms-cv:
      - eplI2EHjv0iUNXFu87qwMA.0
      x-processing-time:
      - 319ms
    status:
      code: 204
      message: No Content
version: 1
