interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07
      content-type: application/json; charset=utf-8
      ms-cv: 7i9QSGm+qU+VzI7p4eQEig.0
      x-processing-time: 12ms
    status:
      code: 201
      message: Created
    url: https://lakshmanscommunication-communication.communication.azure.com/identities?api-version=2021-03-07
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body:
      string: '{"token": "sanitized", "expiresOn": "2021-04-14T17:54:45.0423527+00:00"}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07
      content-type: application/json; charset=utf-8
      ms-cv: FgTOvdMakkCOCXl3WaKySQ.0
      x-processing-time: 126ms
    status:
      code: 200
      message: OK
    url: https://lakshmanscommunication-communication.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
version: 1
