interactions:
- request:
    body: '{"token": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 02 Nov 2021 10:40:39 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/teamsUser/:exchangeAccessToken?api-version=2021-10-31-preview
  response:
    body:
      string: '{"error": {"code": "InvalidAccessToken", "message": "Provided access
        token is not valid."}}'
    headers:
      content-type:
      - application/json
      ms-cv:
      - 1bZf2jh/g0SLs1VZZKD9UQ.0
      x-processing-time:
      - 254ms
    status:
      code: 401
      message: Unauthorized
version: 1
