interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.microsoftonline.com/common/userrealm/SDKUser@acsauthtest.onmicrosoft.com?api-version=1.0
  response:
    body:
      string: '{"ver": "1.0", "account_type": "Managed", "domain_name": "acsauthtest.onmicrosoft.com",
        "cloud_instance_name": "microsoftonline.com", "cloud_audience_urn": "urn:federation:MicrosoftOnline"}'
    headers:
      content-disposition:
      - inline; filename=userrealm.json
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"token": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 02 Nov 2021 10:40:58 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/teamsUser/:exchangeAccessToken?api-version=2021-10-31-preview
  response:
    body:
      string: '{"token": "sanitized", "expiresOn": "2021-11-02T11:40:57.7623783+00:00"}'
    headers:
      api-supported-versions: 2021-03-31-preview1, 2021-10-31-preview
      content-type: application/json; charset=utf-8
      ms-cv: JJq2c2FQM0y9oDHrhWe87g.0
      x-processing-time: 814ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/teamsUser/:exchangeAccessToken?api-version=2021-10-31-preview
version: 1
