interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 25 Aug 2022 20:04:20 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07,
        2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01
      content-type: application/json; charset=utf-8
      ms-cv: OwwzJc4dLki7lDHedgn6xQ.0
      x-processing-time: 39ms
    status:
      code: 201
      message: Created
    url: https://test-petrsvihlik.ppe.communication.azure.net/identities?api-version=2022-10-01
- request:
    body: '{"scopes": null}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 25 Aug 2022 20:04:20 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities/sanitized/:issueAccessToken?api-version=2022-10-01
  response:
    body:
      string: '{"error": {"code": "ValidationError", "message": "Scopes: The Scopes
        field is required.", "target": "Scopes"}}'
    headers:
      content-type: application/json
      ms-cv: wP+579EY70m6ZHdvf6a9Ag.0
      x-processing-time: 29ms
    status:
      code: 400
      message: Bad Request
    url: https://test-petrsvihlik.ppe.communication.azure.net/identities/sanitized/:issueAccessToken?api-version=2022-10-01
version: 1
