interactions:
- request:
    body: '{"token": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 19 Oct 2021 12:05:24 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/teamsUser/:exchangeAccessToken?api-version=2021-10-31-preview
  response:
    body:
      string: '{"error": {"code": "InvalidAccessToken", "message": "Provided access
        token is not valid."}}'
    headers:
      content-type: application/json
      ms-cv: pMPce+zOHEGkifLtFahrew.0
      x-processing-time: 19ms
    status:
      code: 401
      message: Unauthorized
    url: https://sanitized.communication.azure.com/teamsUser/:exchangeAccessToken?api-version=2021-10-31-preview
version: 1
