interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://communicationegrcrs.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-03-07
      content-type: application/json; charset=utf-8
      ms-cv: vJReSgsEzEC1EVRdWZnCWA.0
      x-processing-time: 22ms
    status:
      code: 201
      message: Created
    url: https://communication2xbng6lk65f.communication.azure.com/identities?api-version=2021-03-07
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://communicationegrcrs.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body:
      string: '{"token": "sanitized", "expiresOn": "2021-01-30T22:37:54.9493083+00:00"}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-03-07
      content-type: application/json; charset=utf-8
      ms-cv: nQk1/zvYyEiAvNDwqRdZAg.0
      x-processing-time: 28ms
    status:
      code: 200
      message: OK
    url: https://communication2xbng6lk65f.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
- request:
    body: ''
    headers:
    method: POST
    uri: https://communicationegrcrs.communication.azure.com/identities/sanitized/:revokeAccessTokens?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-03-07
      ms-cv: Bf9FLiU9kkm2bE7qs4H8Yw.0
      x-processing-time: 674ms
    status:
      code: 204
      message: No Content
    url: https://communication2xbng6lk65f.communication.azure.com/identities/sanitized/:revokeAccessTokens?api-version=2021-03-07
version: 1
