interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://communicationegrcrs.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-03-07
      content-type: application/json; charset=utf-8
      ms-cv: /h8nY3emXUCJ/oH1l2fJlw.0
      x-processing-time: 228ms
    status:
      code: 201
      message: Created
    url: https://communicationy3wdp5dqgdd.communication.azure.com/identities?api-version=2021-03-07
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://communicationegrcrs.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body:
      string: '{"token": "redacted", "expiresOn": "2021-02-06T04:46:57.7194374+00:00"}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-03-07
      content-type: application/json; charset=utf-8
      ms-cv: 0uGVaRKqE0K4f3KjagEiGg.0
      x-processing-time: 27ms
    status:
      code: 200
      message: OK
    url: https://communicationy3wdp5dqgdd.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
version: 1
