interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": 59}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 07 Oct 2022 14:37:48 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"error": {"code": "ValidationError", "message": "ExpiresInMinutes
        value 59 is invalid. Value must be within the [60, 1440] interval.", "target":
        "ExpiresInMinutes"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json
      ms-cv:
      - dsJ6PKH8P0WuZo4/ZGA1bw.2.0
      x-processing-time:
      - 132ms
    status:
      code: 400
      message: Bad Request
version: 1
