interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://communicationegrcrs.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": {"id": "8:acs:d6a9fb3a-b511-4b40-9304-22c13099749e_00000007-ea27-d1c4-6032-3b3a0d000301"}}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-03-07
      content-type: application/json; charset=utf-8
      ms-cv: CtZqgYJkY0qbAU8jiu8TFA.0
      x-processing-time: 154ms
    status:
      code: 201
      message: Created
    url: https://communicationg6gd4r45ekt.communication.azure.com/identities?api-version=2021-03-07
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://communicationegrcrs.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body:
      string: '{"token": "sanitized", "expiresOn": "2021-01-29T18:34:08.3116+00:00"}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-03-07
      content-type: application/json; charset=utf-8
      ms-cv: ZA/7bP/Ko0qYFcPqqVMgFQ.0
      x-processing-time: 25ms
    status:
      code: 200
      message: OK
    url: https://communicationg6gd4r45ekt.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
version: 1
