interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.microsoftonline.com/common/userrealm/sanitized@test.onmicrosoft.com?api-version=1.0
  response:
    body:
      string: '{"ver": "1.0", "account_type": "Managed", "domain_name": "sanitized",
        "cloud_instance_name": "microsoftonline.com", "cloud_audience_urn": "urn:federation:MicrosoftOnline"}'
    headers:
      content-disposition:
      - inline; filename=userrealm.json
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"token": "sanitized", "appId": "sanitized", "userId": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 20 May 2022 15:03:31 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/teamsUser/:exchangeAccessToken?api-version=2022-06-01
  response:
    body:
      string: '{"error": {"code": "ValidationError", "message": "UserId: The UserId
        field is required.", "target": "UserId"}}'
    headers:
      content-type:
      - application/json
      ms-cv:
      - xPzUrnSVvEeWGBh1TCCMmg.0
      x-processing-time:
      - 111ms
    status:
      code: 400
      message: Bad Request
version: 1
