interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.microsoftonline.com/common/userrealm/sanitized@test.onmicrosoft.com?api-version=1.0
  response:
    body:
      string: '{"ver": "1.0", "account_type": "Managed", "domain_name": "sanitized",
        "cloud_instance_name": "microsoftonline.com", "cloud_audience_urn": "urn:federation:MicrosoftOnline"}'
    headers:
      content-disposition:
      - inline; filename=userrealm.json
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"token": "sanitized", "appId": "sanitized", "userId": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 25 Aug 2022 20:04:14 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/teamsUser/:exchangeAccessToken?api-version=2022-10-01
  response:
    body:
      string: '{"error": {"code": "ValidationError", "message": "Provided UserId has
        invalid format.", "target": "userId"}}'
    headers:
      api-supported-versions: 2021-10-31-preview, 2022-06-01, 2022-10-01
      content-type: application/json
      ms-cv: vQPNA97MZk659Y2t2Ls4fQ.0
      x-processing-time: 33ms
    status:
      code: 400
      message: Bad Request
    url: https://test-petrsvihlik.ppe.communication.azure.net/teamsUser/:exchangeAccessToken?api-version=2022-10-01
version: 1
