interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 16 Sep 2022 17:41:54 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07,
        2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01
      content-type: application/json; charset=utf-8
      ms-cv: MYrwgHMLqEeILA60LKYfoQ.0
      x-processing-time: 58ms
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
- request:
    body: '{"scopes": ["chat"], "expiresInMinutes": 59}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 16 Sep 2022 17:41:55 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2022-10-01
  response:
    body:
      string: '{"error": {"code": "ValidationError", "message": "ExpiresInMinutes
        value 59 is invalid.", "target": "ExpiresInMinutes"}}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07,
        2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01
      content-type: application/json
      ms-cv: lfi/QToUl0aabY88rU4Frg.0
      x-processing-time: 43ms
    status:
      code: 400
      message: Bad Request
    url: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2022-10-01
version: 1
