interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 21 Oct 2021 12:50:15 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07,
        2021-03-31-preview1, 2021-10-31-preview
      content-type: application/json; charset=utf-8
      ms-cv: RVmcJz/JNkeIuxGq4jJedQ.0
      x-processing-time: 97ms
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/identities?api-version=2021-10-31-preview
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 21 Oct 2021 12:50:16 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-10-31-preview
  response:
    body:
      string: '{"error": {"code": "ValidationError", "message": "Scopes: The Scopes
        field is required.", "target": "Scopes"}}'
    headers:
      content-type: application/json
      ms-cv: BXBdh9DwfU2KrHDKaL1kYw.0
      x-processing-time: 28ms
    status:
      code: 400
      message: Bad Request
    url: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-10-31-preview
version: 1
