interactions:
- request:
    body: '{"createTokenWithScopes": null, "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 07 Oct 2022 14:37:49 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - YhmTB0W+qkmzvUnZrix4Zw.2.0
      x-processing-time:
      - 92ms
    status:
      code: 201
      message: Created
version: 1
