interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": 1440}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 25 Aug 2022 20:03:35 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2022-08-26T20:03:36.2645529+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ULgneEOc2kmodWZkLcfkRg.0
      x-processing-time:
      - 47ms
    status:
      code: 201
      message: Created
version: 1
