interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://communicationegrcrs.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": {"id": "8:acs:eb4d4339-97ec-4d4d-838f-3535e5be22fb_00000007-e634-8c53-1000-343a0d00b05d"}}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-03-07
      content-type: application/json; charset=utf-8
      ms-cv: aYXgrkUYzkCqrvW6aCFoJg.0
      x-processing-time: 203ms
    status:
      code: 201
      message: Created
    url: https://communicationbro23o5lt3y.communication.azure.com/identities?api-version=2021-03-07
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://communicationegrcrs.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body:
      string: '{"token": "sanitized", "expiresOn": "2021-01-29T00:09:34.3804866+00:00"}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-03-07
      content-type: application/json; charset=utf-8
      ms-cv: 1xmX6Mokj06NM2PVg6ZuqQ.0
      x-processing-time: 522ms
    status:
      code: 200
      message: OK
    url: https://communicationbro23o5lt3y.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
version: 1
