interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 20 Oct 2021 08:48:31 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07,
        2021-03-31-preview1, 2021-10-31-preview
      content-type: application/json; charset=utf-8
      ms-cv: rl7RxjzY30OqCCkcaNUTtw.0
      x-processing-time: 87ms
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/identities?api-version=2021-10-31-preview
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 20 Oct 2021 08:48:31 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-10-31-preview
  response:
    body:
      string: '{"token": "sanitized", "expiresOn": "2021-10-21T08:48:32.2468673+00:00"}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07,
        2021-03-31-preview1, 2021-10-31-preview
      content-type: application/json; charset=utf-8
      ms-cv: RmuekEzWWkaL85fYYZ0Heg.0
      x-processing-time: 100ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-10-31-preview
version: 1
