interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.microsoftonline.com/common/userrealm/sanitized@test.onmicrosoft.com?api-version=1.0
  response:
    body:
      string: '{"ver": "1.0", "account_type": "Managed", "domain_name": "sanitized",
        "cloud_instance_name": "microsoftonline.com", "cloud_audience_urn": "urn:federation:MicrosoftOnline"}'
    headers:
      content-disposition:
      - inline; filename=userrealm.json
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"token": "sanitized", "appId": "sanitized", "userId": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 16 Sep 2022 17:41:23 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/teamsUser/:exchangeAccessToken?api-version=2022-10-01
  response:
    body:
      string: '{"error": {"code": "ValidationError", "message": "Provided AppId has
        invalid format.", "target": "appId"}}'
    headers:
      api-supported-versions:
      - 2021-10-31-preview, 2022-06-01, 2022-10-01
      content-type:
      - application/json
      ms-cv:
      - Xi5wKH7t/EWj1OrYObFrIA.0
      x-processing-time:
      - 36ms
    status:
      code: 400
      message: Bad Request
version: 1
