interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07
      content-type: application/json; charset=utf-8
      ms-cv: fIS/ea/uVEWMvFTb5fnesw.0
      x-processing-time: 11ms
    status:
      code: 201
      message: Created
    url: https://lakshmanscommunication-communication.communication.azure.com/identities?api-version=2021-03-07
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body:
      string: '{"token": "sanitized", "expiresOn": "2021-04-14T16:52:17.3678486+00:00"}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07
      content-type: application/json; charset=utf-8
      ms-cv: /c5m8JZvd02WbBY6Pe1g7A.0
      x-processing-time: 120ms
    status:
      code: 200
      message: OK
    url: https://lakshmanscommunication-communication.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
- request:
    body: ''
    headers:
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:revokeAccessTokens?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07
      ms-cv: 5BCqtwGB1ECNxw8p+ODBfQ.0
      x-processing-time: 1015ms
    status:
      code: 204
      message: No Content
    url: https://lakshmanscommunication-communication.communication.azure.com/identities/sanitized/:revokeAccessTokens?api-version=2021-03-07
version: 1
