interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - V/xCfKOofkyBvMTZMPmOrQ.0
      x-processing-time:
      - 14ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body:
      string: '{"token": "sanitized", "expiresOn": "2021-04-10T00:28:56.7961941+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - MrawaIxw5kmxVJOexVITCA.0
      x-processing-time:
      - 28ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:revokeAccessTokens?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07
      ms-cv:
      - JbBuRoYk1UipNlTSY+OaEQ.0
      x-processing-time:
      - 85ms
    status:
      code: 204
      message: No Content
version: 1
