interactions:
- request:
    body: '{"token": "sanitized", "appId": "sanitized", "userId": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 01 Jun 2022 08:16:30 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/teamsUser/:exchangeAccessToken?api-version=2022-06-01
  response:
    body:
      string: '{"error": {"code": "InvalidAccessToken", "message": "Provided access
        token is not valid."}}'
    headers:
      content-type: application/json
      ms-cv: QoueBpYczUW/gYai1g3Adg.0
      x-processing-time: 101ms
    status:
      code: 401
      message: Unauthorized
    url: https://sanitized.communication.azure.com/teamsUser/:exchangeAccessToken?api-version=2022-06-01
version: 1
