interactions:
- request:
    body: '{"token": "sanitized", "appId": "sanitized", "userId": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 15 Apr 2022 10:04:48 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/teamsUser/:exchangeAccessToken?api-version=2022-06-01
  response:
    body:
      string: '{"error": {"code": "InvalidAccessToken", "message": "Provided access
        token is not valid."}}'
    headers:
      content-type:
      - application/json
      ms-cv:
      - XYJrQuHdtEyoJ7eEYFKcjA.0
      x-processing-time:
      - 20ms
    status:
      code: 401
      message: Unauthorized
version: 1
