{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/teamsUser/:exchangeAccessToken?api-version=2022-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "token": "sanitized",
        "appId": "sanitized",
        "userId": "sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-31-preview, 2022-06-01, 2022-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "239ms"
      },
      "ResponseBody": {
        "token": "sanitized",
        "expiresOn": "2023-01-16T15:07:00.9246683\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
