interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.microsoftonline.com/common/userrealm/sanitized@test.onmicrosoft.com?api-version=1.0
  response:
    body:
      string: '{"ver": "1.0", "account_type": "Managed", "domain_name": "sanitized",
        "cloud_instance_name": "microsoftonline.com", "cloud_audience_urn": "urn:federation:MicrosoftOnline"}'
    headers:
      content-disposition:
      - inline; filename=userrealm.json
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"token": "sanitized", "appId": "sanitized", "userId": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 15 Apr 2022 10:05:11 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/teamsUser/:exchangeAccessToken?api-version=2022-06-01
  response:
    body:
      string: '{"token": "sanitized", "expiresOn": "2022-04-15T11:30:26.0359158+00:00"}'
    headers:
      api-supported-versions: 2021-10-31-preview, 2022-06-01
      content-type: application/json; charset=utf-8
      ms-cv: F+gYZuByFUOLiAyQxbn+IQ.0
      x-processing-time: 476ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/teamsUser/:exchangeAccessToken?api-version=2022-06-01
version: 1
