interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 15 Apr 2022 10:04:55 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - OP91U3YqU0OffeYDj/w7qQ.0
      x-processing-time:
      - 33ms
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 15 Apr 2022 10:04:56 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2022-06-01
  response:
    body:
      string: '{"error": {"code": "ValidationError", "message": "Scopes: The Scopes
        field is required.", "target": "Scopes"}}'
    headers:
      content-type:
      - application/json
      ms-cv:
      - oybT8e2pQUW9iUS36F7NaA.0
      x-processing-time:
      - 18ms
    status:
      code: 400
      message: Bad Request
version: 1
