{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_metric_fixed_id?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "lifecycle": "Active",
        "displayName": "Test Metric test_metric_fixed_id",
        "description": "A metric created for testing purposes (test_metric_fixed_id)",
        "categories": [
          "Test"
        ],
        "desiredDirection": "Increase",
        "definition": {
          "type": "EventCount",
          "event": {
            "eventName": "TestEvent"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"UeSbbGIPX0g=\"",
        "Last-Modified": "Tue, 15 Apr 2025 22:33:04 GMT",
        "mise-correlation-id": "513fcc87-6120-4866-9cf6-c019e9cc2348"
      },
      "ResponseBody": {
        "lifecycle": "Active",
        "desiredDirection": "Increase",
        "id": "Sanitized",
        "displayName": "Test Metric test_metric_fixed_id",
        "description": "A metric created for testing purposes (test_metric_fixed_id)",
        "categories": [
          "Test"
        ],
        "definition": {
          "event": {
            "eventName": "TestEvent"
          },
          "type": "EventCount"
        },
        "eTag": "UeSbbGIPX0g=",
        "lastModifiedAt": "2025-04-15T22:33:04.030224+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_metric_fixed_id?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json",
        "If-Match": "\"UeSbbGIPX0g=\""
      },
      "RequestBody": {
        "description": "This metric was updated with a conditional request"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"ns4od+U+tZQ=\"",
        "Last-Modified": "Tue, 15 Apr 2025 22:33:04 GMT",
        "mise-correlation-id": "6e35cdce-4e5a-4b16-be05-ef11c6db1291"
      },
      "ResponseBody": {
        "lifecycle": "Active",
        "desiredDirection": "Increase",
        "id": "Sanitized",
        "displayName": "Test Metric test_metric_fixed_id",
        "description": "This metric was updated with a conditional request",
        "categories": [
          "Test"
        ],
        "definition": {
          "event": {
            "eventName": "TestEvent"
          },
          "type": "EventCount"
        },
        "eTag": "ns4od+U+tZQ=",
        "lastModifiedAt": "2025-04-15T22:33:04.1976401+00:00"
      }
    }
  ],
  "Variables": {}
}
