{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_metric_fixed_id?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "lifecycle": "Active",
        "displayName": "Test Metric test_metric_fixed_id",
        "description": "A metric created for testing purposes (test_metric_fixed_id)",
        "categories": [
          "Test"
        ],
        "desiredDirection": "Increase",
        "definition": {
          "type": "EventCount",
          "event": {
            "eventName": "TestEvent"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"UeSbbGIPX0g=\"",
        "Last-Modified": "Tue, 15 Apr 2025 22:35:01 GMT",
        "Location": "https://example.com",
        "mise-correlation-id": "61ecaef2-815e-43fb-9a27-e30e6c91bbd9"
      },
      "ResponseBody": {
        "lifecycle": "Active",
        "desiredDirection": "Increase",
        "id": "Sanitized",
        "displayName": "Test Metric test_metric_fixed_id",
        "description": "A metric created for testing purposes (test_metric_fixed_id)",
        "categories": [
          "Test"
        ],
        "definition": {
          "event": {
            "eventName": "TestEvent"
          },
          "type": "EventCount"
        },
        "eTag": "UeSbbGIPX0g=",
        "lastModifiedAt": "2025-04-15T22:35:01.8399616+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_metric_fixed_id?api-version=2025-05-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "If-Match": "\"UeSbbGIPX0g=\""
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "mise-correlation-id": "8ca5884c-312f-45d6-8e1a-5bb9b651f2c4"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_metric_fixed_id?api-version=2025-05-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a5672ae4-b931-467d-9dcb-760eb81f44f5",
        "x-ms-error-code": "NotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "Metric not found",
          "target": "test_metric_fixed_id",
          "details": [],
          "innerError": null
        }
      }
    }
  ],
  "Variables": {}
}
