{
  "Entries": [
    {
      "RequestUri": "https://fakeresource.servicebus.windows.net/$Resources/queues?$skip=0\u0026$top=100\u0026api-version=2021-05",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=feed; charset=utf-8"
      },
      "ResponseBody": "\u003Cfeed xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\u003Ctitle type=\u0022text\u0022\u003EQueues\u003C/title\u003E\u003Cid\u003Ehttps://fakeresource.servicebus.windows.net/$Resources/queues?$skip=0\u0026amp;$top=100\u0026amp;api-version=2021-05\u003C/id\u003E\u003Cupdated\u003E2022-04-10T23:49:33Z\u003C/updated\u003E\u003Clink rel=\u0022self\u0022 href=\u0022https://fakeresource.servicebus.windows.net/$Resources/queues?$skip=0\u0026amp;$top=100\u0026amp;api-version=2021-05\u0022/\u003E\u003C/feed\u003E"
    },
    {
      "RequestUri": "https://fakeresource.servicebus.windows.net/aghadh?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/atom\u002Bxml"
      },
      "RequestBody": [
        "\u003C?xml version=\u00271.0\u0027 encoding=\u0027utf-8\u0027?\u003E\n",
        "\u003Cns0:entry xmlns:ns0=\u0022http://www.w3.org/2005/Atom\u0022 xmlns=\u0022http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\u0022\u003E\u003Cns0:co[...]
    {
      "RequestUri": "https://fakeresource.servicebus.windows.net/dkldf?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/atom\u002Bxml",
        "ServiceBusDlqSupplementaryAuthorization": "SharedAccessSignature sr=sb%3A%2F%2Fsb-administratorservicebus.servicebus.windows.net%2Faghadh\u0026sig=mPwbvunidRaa%2fyN%2f%2flfFG1Lu1Rm%2b1h0BD%2b37437fvI4%3d\u0026se=1649638174\u0026skn=RootManageSharedAccessKey",
        "ServiceBusSupplementaryAuthorization": "SharedAccessSignature sr=sb%3A%2F%2Fsb-administratorservicebus.servicebus.windows.net%2Faghadh\u0026sig=mPwbvunidRaa%2fyN%2f%2flfFG1Lu1Rm%2b1h0BD%2b37437fvI4%3d\u0026se=1649638174\u0026skn=RootManageSharedAccessKey"
      },
      "RequestBody": [
        "\u003C?xml version=\u00271.0\u0027 encoding=\u0027utf-8\u0027?\u003E\n",
        "\u003Cns0:entry xmlns:ns0=\u0022http://www.w3.org/2005/Atom\u0022 xmlns=\u0022http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\u0022\u003E\u[...]
    {
      "RequestUri": "https://fakeresource.servicebus.windows.net/vjiqjx?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/atom\u002Bxml",
        "ServiceBusDlqSupplementaryAuthorization": "SharedAccessSignature sr=sb%3A%2F%2Fsb-administratorservicebus.servicebus.windows.net%2Faghadh\u0026sig=yqEb2HKBukqaakmGXNzsLzz00NBCmGFXuEEepufXzSo%3d\u0026se=1649638175\u0026skn=RootManageSharedAccessKey",
        "ServiceBusSupplementary[...]
    {
      "RequestUri": "https://fakeresource.servicebus.windows.net/clpqza?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/atom\u002Bxml"
      },
      "RequestBody": [
        "\u003C?xml version=\u00271.0\u0027 encoding=\u0027utf-8\u0027?\u003E\n",
        "\u003Cns0:entry xmlns:ns0=\u0022http://www.w3.org/2005/Atom\u0022 xmlns=\u0022http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\u0022\u003E\u003Cns0:content type=\u0022application/xml\u0022\u003E\u003CQueueDescription\u003E\u003CMaxMessageSizeInKilobytes\u003E1024\u003C/MaxMessageSizeInKilobytes\u003E\u003C/QueueDescription\u003E\u003C/ns0:content\u003E\u003C/ns0:entry\u003E"
      ],
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml; charset=utf-8"
      },
      "ResponseBody": "\u003CError\u003E\u003CCode\u003E400\u003C/Code\u003E\u003CDetail\u003ESubCode=40000. Bad Request. To know more visit https://aka.ms/sbResourceMgrExceptions. . TrackingId:0189ea98-c971-450d-aae0-9e46a90dbd04_G28, SystemTracker:sb-administratorservicebus.servicebus.windows.net:clpqza, Timestamp:2022-04-10T23:49:36\u003C/Detail\u003E\u003C/Error\u003E"
    },
    {
      "RequestUri": "https://fakeresource.servicebus.windows.net/dkldf?enrich=false\u0026api-version=2021-05",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=entry; charset=utf-8",
        "ETag": "637852313745930000"
      },
      "ResponseBody": "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\u003Cid\u003Ehttps://fakeresource.servicebus.windows.net/dkldf?enrich=false\u0026amp;api-version=2021-05\u003C/id\u003E\u003Ctitle type=\u0022text\u0022\u003Edkldf\u003C/title\u003E\u003Cpublished\u003E2022-04-10T23:49:34Z\u003C/published\u003E\u003Cupdated\u003E2022-04-10T23:49:34Z\u003C/updated\u003E\u003Cauthor\u003E\u003Cname\u003Esb-administratorservicebus\u003C/name\u003E\u[...]
    {
      "RequestUri": "https://fakeresource.servicebus.windows.net/vjiqjx?enrich=false\u0026api-version=2021-05",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=entry; charset=utf-8",
        "ETag": "637852313754500000"
      },
      "ResponseBody": "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\u003Cid\u003Ehttps://fake[...]
[...]
    {
      "RequestUri": "https://fakeresource.servicebus.windows.net/aghadh?api-version=2021-05",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "637852313734730000"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
