{
  "Entries": [
    {
      "RequestUri": "https://fakeresource.servicebus.windows.net/$Resources/topics?$skip=0\u0026$top=100\u0026api-version=2021-05",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=feed; charset=utf-8"
      },
      "ResponseBody": "\u003Cfeed xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\u003Ctitle type=\u0022text\u0022\u003ETopics\u003C/title\u003E\u003Cid\u003Ehttps://fakeresource.servicebus.windows.net/$Resources/topics?$skip=0\u0026amp;$top=100\u0026amp;api-version=2021-05\u003C/id\u003E\u003Cupdated\u003E2022-04-10T23:51:47Z\u003C/updated\u003E\u003Clink rel=\u0022self\u0022 href=\u0022https://fakeresource.servicebus.windows.net/$Resources/topics?$skip=0\u0026amp;$top=100\u0026amp;api-version=2021-05\u0022/\u003E\u003C/feed\u003E"
    },
    {
      "RequestUri": "https://fakeresource.servicebus.windows.net/dqkodq?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/atom\u002Bxml"
      },
      "RequestBody": [
        "\u003C?xml version=\u00271.0\u0027 encoding=\u0027utf-8\u0027?\u003E\n",
        "\u003Cns0:entry xmlns:ns0=\u0022http://www.w3.org/2005/Atom\u0022 xmlns=\u0022http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\u0022\u003E\u003Cns0:co[...]
    {
      "RequestUri": "https://fakeresource.servicebus.windows.net/dqkodq?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/atom\u002Bxml"
      },
      "RequestBody": [
        "\u003C?xml version=\u00271.0\u0027 encoding=\u0027utf-8\u0027?\u003E\n",
        "\u003Cns0:entry xmlns:ns0=\u0022http://www.w3.org/2005/Atom\u0022 xmlns=\u0022http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\u0022\u003E\u003Cns0:content type=\u0022application/xml\u0022\u003E\u003CTopicDescription /\u003E\u003C/ns0:content\u003E\u003C/ns0:entry\u003E"
      ],
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml; charset=utf-8",
        "ETag": "637852315075070000"
      },
      "ResponseBody": "\u003CError\u003E\u003CCode\u003E409\u003C/Code\u003E\u003CDetail\u003ESubCode=40900. Conflict. You\u0027re requesting an operation that isn\u0027t allowed in the resource\u0027s current state. To know more visit https://aka.ms/sbResourceMgrExceptions. . TrackingId:e98051ac-fb01-4310-a2d6-d615c077fcd4_G28, SystemTracker:sb-administratorservicebus.servicebus.windows.net:dqkodq, Timestamp:2022-04-10T23:51:48\u003C/Detail\u003E\u003C/Error\u003E"
    },
    {
      "RequestUri": "https://fakeresource.servicebus.windows.net/dqkodq?api-version=2021-05",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "637852315075070000"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
