{
  "Entries": [
    {
      "RequestUri": "https://fakeresource.servicebus.windows.net/non_existing_queue?enrich=false\u0026api-version=2021-05",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=feed; charset=utf-8"
      },
      "ResponseBody": "\u003Cfeed xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\u003Ctitle type=\u0022text\u0022\u003EPublicly Listed Services\u003C/title\u003E\u003Csubtitle type=\u0022text\u0022\u003EThis is the list of publicly-listed services currently available.\u003C/subtitle\u003E\u003Cid\u003Euuid:809310c7-da0e-43d9-9821-df836d454cfb;id=18688\u003C/id\u003E\u003Cupdated\u003E2022-04-10T23:50:03Z\u003C/updated\u003E\u003Cgenerator\u003EService Bus 1.1\u003C/generator\u003E\u003C/feed\u003E"
    }
  ],
  "Variables": {}
}
