{
  "Entries": [
    {
      "RequestUri": "https://fakeresource.servicebus.windows.net/$Resources/queues?$skip=0\u0026$top=100\u0026api-version=2021-05",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/xml; charset=utf-8"
      },
      "ResponseBody": "\u003CError\u003E\u003CCode\u003E401\u003C/Code\u003E\u003CDetail\u003Eclaim is empty or token is invalid. TrackingId:f3492a7d-0ab5-4990-b7d0-6556e80e1337_G9, SystemTracker:fakeresource.servicebus.windows.net:$Resources/queues, Timestamp:2022-09-21T18:43:00\u003C/Detail\u003E\u003C/Error\u003E"
    },
    {
      "RequestUri": "https://fakeresource.servicebus.windows.net/$Resources/queues?$skip=0\u0026$top=100\u0026api-version=2021-05",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/xml; charset=utf-8"
      },
      "ResponseBody": "\u003CError\u003E\u003CCode\u003E401\u003C/Code\u003E\u003CDetail\u003Eclaim is empty or token is invalid. TrackingId:dd2e0e1d-f524-4f69-91e0-c6ebc5b5b351_G9, SystemTracker:fakeresource.servicebus.windows.net:$Resources/queues, Timestamp:2022-09-21T18:43:00\u003C/Detail\u003E\u003C/Error\u003E"
    }
  ],
  "Variables": {}
}
