{% if operation.need_decorator %}
{{ operation.decorator }}
{% endif %}
{{ operation.source_code(async_mode) }}
{% if operation.metadata %}
    {{ operation.name }}.metadata = {{ operation.metadata }}
{% endif %}