{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/onlineEndpoints/iris-endpoint/deployments/my-iris-deployment?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "int-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-response-type": "standard",
        "x-request-time": "0.117"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/onlineEndpoints/iris-endpoint/deployments/my-iris-deployment",
        "name": "my-iris-deployment",
        "type": "Microsoft.MachineLearningServices/workspaces/onlineEndpoints/deployments",
        "properties": {
          "description": null,
          "properties": {},
          "codeConfiguration": {
            "codeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/8fc8b417-8731-429b-92cd-9fddeddd05b6/versions/1",
            "scoringScript": "score.py"
          },
          "environmentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/CliV2AnonymousEnvironment/versions/a200e73cc5fab08f35ce30c370edc64d",
          "environmentVariables": {
            "AZUREML_ENTRY_SCRIPT": "score.py",
            "AML_APP_ROOT": "/var/azureml-app/scripts",
            "AZUREML_MODEL_DIR": "/var/azureml-app/azureml-models/iris-model/1"
          },
          "scaleSettings": {
            "scaleType": "Default"
          },
          "requestSettings": {
            "maxQueueWait": "PT0S",
            "requestTimeout": "PT5S",
            "maxConcurrentRequestsPerInstance": 1
          },
          "modelMountPath": null,
          "appInsightsEnabled": false,
          "livenessProbe": {
            "failureThreshold": 30,
            "successThreshold": 1,
            "timeout": "PT2S",
            "period": "PT10S",
            "initialDelay": "PT10S"
          },
          "readinessProbe": {
            "failureThreshold": 30,
            "successThreshold": 1,
            "timeout": "PT2S",
            "period": "PT10S",
            "initialDelay": "PT10S"
          },
          "provisioningState": "Failed",
          "instanceType": "Standard_F2s_v2",
          "model": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/models/iris-model/versions/1",
          "egressPublicNetworkAccess": "Disabled",
          "dataCollector": null,
          "endpointComputeType": "Managed"
        },
        "systemData": {
          "createdAt": "2023-05-09T05:37:00.4351296\u002B00:00",
          "createdBy": "Mathieu St-Louis",
          "lastModifiedAt": "2023-05-09T05:37:00.4351345\u002B00:00"
        },
        "tags": {
          "data_collector.collections.model_inputs.enabled": "true",
          "data_collector.collections.model_inputs.data.name": "iris-endpoint-my-iris-deployment-model_inputs",
          "data_collector.collections.model_inputs.data.path": "azureml://datastores/workspaceblobstore/paths/modelDataCollector/iris-endpoint/my-iris-deployment/model_inputs",
          "data_collector.collections.model_inputs.data.version": "1",
          "data_collector.collections.model_outputs.enabled": "true",
          "data_collector.collections.model_outputs.data.name": "iris-endpoint-my-iris-deployment-model_outputs",
          "data_collector.collections.model_outputs.data.path": "azureml://datastores/workspaceblobstore/paths/modelDataCollector/iris-endpoint/my-iris-deployment/model_outputs",
          "data_collector.collections.model_outputs.data.version": "1"
        },
        "location": "centraluseuap",
        "kind": "Managed",
        "sku": {
          "name": "Default",
          "tier": "Standard"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/iris-endpoint-my-iris-deployment-model_inputs/versions/1?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "int-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11998",
        "x-ms-response-type": "standard",
        "x-request-time": "0.039"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/iris-endpoint-my-iris-deployment-model_inputs/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/data/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {},
          "isArchived": false,
          "isAnonymous": false,
          "autoDeleteSetting": null,
          "dataUri": "azureml://subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000/datastores/workspaceblobstore/paths/modelDataCollector/iris-endpoint/my-iris-deployment/model_inputs/",
          "stage": null,
          "intellectualProperty": null,
          "dataType": "uri_folder"
        },
        "systemData": {
          "createdAt": "2023-05-09T05:36:48.3286549\u002B00:00",
          "createdBy": "Mathieu St-Louis",
          "createdByType": "User",
          "lastModifiedAt": "2023-05-09T05:36:48.3368755\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/iris-endpoint-my-iris-deployment-model_outputs/versions/1?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/schedules/default-momo-schedule?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "Loan approval model monitoring setup with minimal configurations",
          "properties": {},
          "tags": {
            "data-drift-signal.baselinedata.datarange.type": "Trailing",
            "data-drift-signal.baselinedata.datarange.window_size": "P7D",
            "prediction-drift-signal.baselinedata.datarange.type": "Trailing",
            "prediction-drift-signal.baselinedata.datarange.window_size": "P7D",
            "data-quality-signal.baselinedata.datarange.type": "Trailing",
            "data-quality-signal.baselinedata.datarange.window_size": "P7D",
            "compute.spark.resources.instance_type": "standard_e8s_v3",
            "compute.spark.resources.runtime_version": "3.2"
          },
          "action": {
            "actionType": "CreateMonitor",
            "monitorDefinition": {
              "computeId": "spark",
              "monitoringTarget": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/onlineEndpoints/iris-endpoint/deployments/my-iris-deployment",
              "signals": {
                "data-drift-signal": {
                  "lookbackPeriod": "P7D",
                  "mode": "Enabled",
                  "signalType": "DataDrift",
                  "baselineData": {
                    "asset": {
                      "uri": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/iris-endpoint-my-iris-deployment-model_inputs/versions/1",
                      "jobInputType": "uri_folder"
                    },
                    "dataContext": "modelInputs"
                  },
                  "features": {
                    "filterType": "AllFeatures"
                  },
                  "metricThresholds": [
                    {
                      "dataType": "Numerical",
                      "threshold": {
                        "value": 0.1
                      },
                      "metric": "normalizedWassersteinDistance"
                    },
                    {
                      "dataType": "Categorical",
                      "threshold": {
                        "value": 0.1
                      },
                      "metric": "jensenShannonDistance"
                    }
                  ],
                  "targetData": {
                    "asset": {
                      "uri": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/iris-endpoint-my-iris-deployment-model_inputs/versions/1",
                      "jobInputType": "uri_folder"
                    },
                    "dataContext": "modelInputs"
                  }
                },
                "prediction-drift-signal": {
                  "lookbackPeriod": "P7D",
                  "mode": "Enabled",
                  "signalType": "PredictionDrift",
                  "baselineData": {
                    "asset": {
                      "uri": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/iris-endpoint-my-iris-deployment-model_outputs/versions/1",
                      "jobInputType": "uri_folder"
                    },
                    "dataContext": "modelOutputs"
                  },
                  "metricThresholds": [
                    {
                      "dataType": "Numerical",
                      "threshold": {
                        "value": 0.1
                      },
                      "metric": "normalizedWassersteinDistance"
                    },
                    {
                      "dataType": "Categorical",
                      "threshold": {
                        "value": 0.1
                      },
                      "metric": "jensenShannonDistance"
                    }
                  ],
                  "modelType": "classification",
                  "targetData": {
                    "asset": {
                      "uri": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/iris-endpoint-my-iris-deployment-model_outputs/versions/1",
                      "jobInputType": "uri_folder"
                    },
                    "dataContext": "modelOutputs"
                  }
                },
                "data-quality-signal": {
                  "lookbackPeriod": "P7D",
                  "mode": "Enabled",
                  "signalType": "DataQuality",
                  "baselineData": {
                    "asset": {
                      "uri": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/iris-endpoint-my-iris-deployment-model_inputs/versions/1",
                      "jobInputType": "uri_folder"
                    },
    [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationsStatus/s:0cced050-3e9c-4ca6-b300-7d37c030c0ca:7Tp1TLOpImHpvLO71iMhWgBwApm28n68li3wlSHNAxk?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "int-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11996",
        "x-ms-response-type": "standard",
        "x-request-time": "0.051"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationResults/s:0cced050-3e9c-4ca6-b300-7d37c030c0ca:7Tp1TLOpImHpvLO71iMhWgBwApm28n68li3wlSHNAxk",
        "name": "s:0cced050-3e9c-4ca6-b300-7d37c030c0ca:7Tp1TLOpImHpvLO71iMhWgBwApm28n68li3wlSHNAxk",
        "status": "Creating"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationsStatus/s:0cced050-3e9c-4ca6-b300-7d37c030c0ca:7Tp1TLOpImHpvLO71iMhWgBwApm28n68li3wlSHNAxk?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "int-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11994",
        "x-ms-response-type": "standard",
        "x-request-time": "0.018"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationResults/s:0cced050-3e9c-4ca6-b300-7d37c030c0ca:7Tp1TLOpImHpvLO71iMhWgBwApm28n68li3wlSHNAxk",
        "name": "s:0cced050-3e9c-4ca6-b300-7d37c030c0ca:7Tp1TLOpImHpvLO71iMhWgBwApm28n68li3wlSHNAxk",
        "status": "Succeeded",
        "startTime": "2023-05-10T21:51:54.3926595\u002B00:00",
        "endTime": "2023-05-10T21:52:00\u002B00:00"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/schedules/default-momo-schedule?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "int-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11993",
        "x-ms-response-type": "standard",
        "x-request-time": "0.037"
      },
      "ResponseBody": {
        "name": "default-momo-schedule",
        "properties": {
          "description": "Loan approval model monitoring setup with minimal configurations",
          "tags": {
            "data-drift-signal.baselinedata.datarange.type": "Trailing",
            "data-drift-signal.baselinedata.datarange.window_size": "P7D",
            "prediction-drift-signal.baselinedata.datarange.type": "Trailing",
            "prediction-drift-signal.baselinedata.datarange.window_size": "P7D",
            "data-quality-signal.baselinedata.datarange.type": "Trailing",
            "data-quality-signal.baselinedata.datarange.window_size": "P7D",
            "compute.spark.resources.instance_type": "standard_e8s_v3",
            "compute.spark.resources.runtime_version": "3.2"
          },
          "properties": {
            "azureml.telemetry.attribution": "modelmonitoring"
          },
          "displayName": "Loan Approval model monitoring",
          "isEnabled": true,
          "trigger": {
            "endTime": null,
            "startTime": "2023-05-10T21:52:29",
            "timeZone": "utc",
            "triggerType": "Recurrence",
            "frequency": "Week",
            "interval": 1,
            "schedule": {
              "hours": [
                22,
                20
              ],
              "minutes": [
                0,
                30
              ],
              "weekDays": [
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday"
              ],
              "monthDays": null
            }
          },
          "action": {
            "actionType": "CreateMonitor",
            "monitorDefinition": {
              "monitoringTarget": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/onlineEndpoints/iris-endpoint/deployments/my-iris-deployment",
              "signals": {
                "data-drift-signal": {
                  "lookbackPeriod": "P7D",
                  "mode": "Enabled",
                  "signalType": "DataDrift",
                  "features": {
                    "filterType": "AllFeatures"
                  },
                  "dataSegment": null,
                  "metricThresholds": [
                    {
                      "threshold": {
                        "value": 0.1
                      },
                      "dataType": "Numerical",
                      "metric": "NormalizedWassersteinDistance"
                    },
                    {
                      "threshold": {
                        "value": 0.1
                      },
                      "dataType": "Categorical",
                      "metric": "JensenShannonDistance"
                    }
                  ],
                  "targetData": {
                    "dataContext": "ModelInputs",
                    "asset": {
                      "description": null,
                      "uri": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/iris-endpoint-my-iris-deployment-model_inputs/versions/1",
                      "mode": "ReadOnlyMount",
                      "jobInputType": "uri_folder"
                    },
                    "preprocessingComponentId": null,
                    "targetColumnName": null
                  },
                  "baselineData": {
                    "dataContext": "ModelInputs",
                    "asset": {
                      "description": null,
                      "uri": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/iris-endpoint-my-iris-deployment-model_inputs/versions/1",
                      "mode": "ReadOnlyMount",
                      "jobInputType": "ur[...]
[...]
