{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/list_data_v2_test/versions/1?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "int-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-response-type": "standard",
        "x-request-time": "0.046"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/list_data_v2_test/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/data/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {},
          "isArchived": false,
          "isAnonymous": false,
          "autoDeleteSetting": null,
          "dataUri": "https://bla",
          "stage": null,
          "intellectualProperty": null,
          "dataType": "uri_folder"
        },
        "systemData": {
          "createdAt": "2023-05-12T20:36:07.611659\u002B00:00",
          "createdBy": "Neehar Duvvuri",
          "createdByType": "User",
          "lastModifiedAt": "2023-05-12T20:36:07.6207135\u002B00:00"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/schedules/test_920634239342?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {
            "prop1": "value"
          },
          "tags": {
            "tag1": "tag",
            "compute.spark.resources.instance_type": "standard_e8s_v3",
            "compute.spark.resources.runtime_version": "3.2"
          },
          "action": {
            "actionType": "CreateMonitor",
            "monitorDefinition": {
              "computeId": "spark",
              "signals": {
                "testSignal": {
                  "lookbackPeriod": "P60D",
                  "mode": "Enabled",
                  "signalType": "DataDrift",
                  "baselineData": {
                    "asset": {
                      "uri": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/list_data_v2_test/versions/2",
                      "jobInputType": "uri_folder"
                    },
                    "dataContext": "test"
                  },
                  "dataSegment": {
                    "feature": "foo",
                    "values": [
                      "a",
                      "b",
                      "c"
                    ]
                  },
                  "metricThresholds": [
                    {
                      "dataType": "Numerical",
                      "threshold": {
                        "value": 0.5
                      },
                      "metric": "jensenShannonDistance"
                    },
                    {
                      "dataType": "Categorical",
                      "threshold": {
                        "value": 0.2
                      },
                      "metric": "pearsonsChiSquaredTest"
                    }
                  ],
                  "targetData": {
                    "asset": {
                      "uri": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/list_data_v2_test/versions/1",
                      "jobInputType": "uri_folder"
                    },
                    "dataContext": "test"
                  }
                }
              }
            }
          },
          "trigger": {
            "timeZone": "utc",
            "triggerType": "Recurrence",
            "frequency": "week",
            "interval": 1,
            "schedule": {
              "hours": [
                22,
                20
              ],
              "minutes": [
                0,
                30
              ],
              "weekDays": [
                "monday",
                "tuesday",
                "wednesday",
                "thursday",
                "friday"
              ]
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationsStatus/s:0cced050-3e9c-4ca6-b300-7d37c030c0ca:Zj5zHarc7HNiWZ20P_tS4bAr7wxn-xf7AxBgena2p7Q?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/schedules/test_920634239342?api-version=2023-04-01-preview",
        "x-aml-cluster": "int-01",
        "x-ms-async-operation-timeout": "PT30M",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.222"
      },
      "ResponseBody": {
        "properties": {
          "description": null,
          "tags": {
            "tag1": "tag",
            "compute.spark.resources.instance_type": "standard_e8s_v3",
            "compute.spark.resources.runtime_version": "3.2"
          },
          "properties": {
            "prop1": "value",
            "azureml.telemetry.attribution": "modelmonitoring"
          },
          "displayName": null,
          "isEnabled": true,
          "trigger": {
            "endTime": null,
            "startTime": null,
            "timeZone": "utc",
            "triggerType": "Recurrence",
            "frequency": "Week",
            "interval": 1,
            "schedule": {
              "hours": [
                22,
                20
              ],
              "minutes": [
                0,
                30
              ],
              "weekDays": [
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday"
              ],
              "monthDays": null
            }
          },
          "action": {
            "actionType": "CreateMonitor",
            "monitorDefinition": {
              "monitoringTarget": null,
              "signals": {
                "testSignal": {
                  "lookbackPeriod": "P60D",
                  "mode": "Enabled",
                  "signalType": "DataDrift",
                  "features": null,
                  "dataSegment": {
                    "feature": "foo",
                    "values": [
                      "a",
                      "b",
                      "c"
                    ]
                  },
                  "metricThresholds": [
                    {
                      "threshold": {
                        "value": 0.5
                      },
                      "dataType": "Numerical",
                      "metric": "JensenShannonDistance"
                    },
                    {
                      "threshold": {
                        "value": 0.2
                      },
                      "dataType": "Categorical",
                      "metric": "PearsonsChiSquaredTest"
                    }
                  ],
                  "targetData": {
                    "dataContext": "Test",
                    "asset": {
                      "description": null,
                      "uri": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/list_data_v2_test/versions/1",
                      "mode": "ReadOnlyMount",
                      "jobInputType": "uri_folder"
                    },
                    "preprocessingComponentId": null,
                    "targetColumnName": null
                  },
                  "baselineData": {
                    "dataContext": "Test",
                    "asset": {
                      "description": null,
                      "uri": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/list_data_v2_test/versions/2",
                      "mode": "ReadOnlyMount",
                      "jobInputType": "uri_folder"
                    },
                    "preprocessingComponentId": null,
                    "targetColumnName": null
                  }
                }
              },
              "computeId": "spark",
              "alertNotificationSetting": null
            }
          },
          "provisioningState": "Creating"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationsStatus/s:0cced050-3e9c-4ca6-b300-7d37c030c0ca:Zj5zHarc7HNiWZ20P_tS4bAr7wxn-xf7AxBgena2p7Q?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "int-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11997",
        "x-ms-response-type": "standard",
        "x-request-time": "0.065"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationResults/s:0cced050-3e9c-4ca6-b300-7d37c030c0ca:Zj5zHarc7HNiWZ20P_tS4bAr7wxn-xf7AxBgena2p7Q",
        "name": "s:0cced050-3e9c-4ca6-b300-7d37c030c0ca:Zj5zHarc7HNiWZ20P_tS4bAr7wxn-xf7AxBgena2p7Q",
        "status": "Creating"
      }
    },
[...]
