-e ../../../eng/tools/azure-sdk-tools
../../core/azure-core
../../identity/azure-identity
azure-mgmt-resource==22.0.0
../azure-mgmt-eventgrid
azure-storage-queue
cloudevents<=2.0.0; python_version >= "3.7"
aiohttp>=3.0
