{
  "Entries": [
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-41033551?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022216fb865-9280-4127-8ab8-1facaace732d\u0022",
        "mise-correlation-id": "4a03ebf8-4abb-4f9f-8fcc-440f3e0efb50",
        "traceresponse": "00-e7cffac2faa74e07a423b84ed3fcd801-e176dd5bbd13abc5-01"
      },
      "ResponseBody": {
        "$dtId": "digitalTwin-41033551",
        "$etag": "W/\u0022216fb865-9280-4127-8ab8-1facaace732d\u0022",
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2022-09-29T04:03:27.1421858Z",
          "AverageTemperature": {
            "lastUpdateTime": "2022-09-29T04:03:27.1421858Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2022-09-29T04:03:27.1421858Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/query?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "SELECT * FROM digitaltwins"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e3df826e-a55e-4503-b543-4100a98ee4db",
        "query-charge": "6.19",
        "traceresponse": "00-ccac361657086f0e55c259f7bfdcbfaf-aac5f177dbccbd45-01"
      },
      "ResponseBody": {
        "value": [
          {
            "$dtId": "DTComponentTestsTempTwin",
            "$etag": "W/\u00225de34466-480a-4e24-a402-8c4b24ce93fe\u0022",
            "Prop1": "value",
            "Component1": {
              "ComponentProp1": "value1",
              "$metadata": {
                "$lastUpdateTime": "2022-09-29T04:02:53.0378243Z",
                "ComponentProp1": {
                  "lastUpdateTime": "2022-09-29T04:02:53.0378243Z"
                }
              }
            },
            "$metadata": {
              "$model": "dtmi:com:samples:DTComponentTestsModel;1",
              "$lastUpdateTime": "2022-09-29T04:02:53.0378243Z",
              "Prop1": {
                "lastUpdateTime": "2022-09-29T04:02:53.0[...]
