{
  "Entries": [
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "bda4df57-c74e-4721-b638-5e8d50e586f0",
        "traceresponse": "00-10d92923947cca9781f6ee9181028b10-ac1f7206c86584cb-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:samples:RelationshipTestBuilding;1",
            "description": {},
            "displayName": {
              "en": "Building"
            },
            "decommissioned": false,
            "uploadTime": "2022-09-29T04:04:44.3889225\u002B00:00"
          },
          {
            "id": "dtmi:samples:RelationshipTestFloor;1",
            "description": {},
            "displayName": {
              "en": "Floor"
            },
            "decommissioned": false,
            "uploadTime": "2022-09-29T04:04:44.3889431\u002B00:00"
          },
          {
            "id": "dtmi:samples:RelationshipTestRoom;1",
            "description": {},
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2022-09-29T04:04:44.3889539\u002B00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestBuilding;1?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "a50b487d-2d8b-4234-a111-c8d11206f1da",
        "traceresponse": "00-86dc5517cc8b1e08edb34461ee1b6e94-b10915060b137818-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestFloor;1?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "fee06ba2-24d4-4c3c-8e15-5cc0c3b68707",
        "traceresponse": "00-698eb2d4d143300bb6393a169f303912-1fffe6907b032da1-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestRoom;1?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "2109fc3d-90f9-470d-b7a7-792816608d0b",
        "traceresponse": "00-7e0cfc58120593bb6bd12abda07d0df6-afb4e56f58ad2f78-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin/relationships?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "96d14792-ba29-4f64-b911-6b4b3444f473",
        "traceresponse": "00-37cf51bdc341c4cd6d976a84f2a3a2a2-b76f7b3b408ce1c3-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": []
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin/relationships?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "729569a2-1d5a-41de-aaee-dedad1cbf05d",
        "traceresponse": "00-0e8988f497ca101ae0d783bc216f2e20-b00cc4cdcec47afb-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": []
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "606e8391-0b84-4ac4-b1ee-feef91a897af",
        "traceresponse": "00-63f28bde131c3a1645ff1c720babf4ce-393a3457effe98c9-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": [
          {
            "$relationshipId": "BuildingHasFloor",
            "$etag": "W/\u0022f29261b5-01cf-47cc-b46e-9b8439ca5f74\u0022",
            "$sourceId": "DTRelationshipTestsBuildingTwin",
            "$relationshipName": "has",
            "$targetId": "DTRelationshipTestsFloorTwin",
            "isAccessRestricted": false
          }
        ]
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "7e66421d-df23-41af-bba4-fd234f3de38b",
        "traceresponse": "00-892b4e4af38f911491e70e120466e77c-d31d29153b98ee0b-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "e3486532-4810-4763-8bd8-051d6c9cdcc9",
        "traceresponse": "00-8802bd5e408dcef8a35e78091eb13319-a3e1c71933e3dae8-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "d4981d60-401a-407d-bc62-818f69f32e50",
        "traceresponse": "00-f96c8960b572d8a4de6bd5f95dfba1c7-d258cdd74fb1cc9a-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "ac6a9a43-a73b-46f0-9a9b-d3e2def7f8a4",
        "traceresponse": "00-620853d9cff176bd0a0a9c8e4bc4ff44-36910b67764033f2-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022@id\u0022: \u0022dtmi:samples:RelationshipTestBuilding;1\u0022, \u0022@type\u0022: \u0022Interface\u0022, \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022, \u0022displayName\u0022: \u0022Building\u0022, \u0022contents\u0022: [{\u0022@type\u0022: \u0022[...]
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:RelationshipTestBuilding;1"
        },
        "AverageTemperature": 68
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00223e8b0d44-2a6a-4a42-84a9-939a7e376338\u0022",
        "mise-correlation-id": "b62ed271-5d33-4dae-9a76-2e630b2235ee",
        "traceresponse": "00-72b4d1332995747faadc9cfb20657bd4-cfba0b81aef595a1-01"
      },
      "ResponseBody": {
        "$dtId": "DTRelationshipTestsBuildingTwin",
        "$etag": "W/\u00223e8b0d44-2a6a-4a42-84a9-939a7e376338\u0022",
        "AverageTemperature": 68,
        "$metadata": {
          "$model": "dtmi:samples:RelationshipTestBuilding;1",
          "$lastUpdateTime": "2022-09-29T04:04:45.7247409Z",
          "AverageTemperature": {
            "lastUpdateTime": "2022-09-29T04:04:45.7247409Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:RelationshipTestRoom;1"
        },
        "Temperature": 80,
        "IsOccupied": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022ad5cf9a5-5025-4c2c-9800-a5be41364795\u0022",
        "mise-correlation-id": "a853c121-c352-42c3-a914-87ab4c9c0867",
        "traceresponse": "00-5ecb2c2f777a3ca5023e830ef4b3c7a8-fc3b211a6629f4ce-01"
      },
      "ResponseBody": {
        "$dtId": "DTRelationshipTestsRoomTwin",
        "$etag": "W/\u0022ad5cf9a5-5025-4c2c-9800-a5be41364795\u0022",
        "Temperature": 80,
        "IsOccupied": true,
        "$metadata": {
          "$model": "dtmi:samples:RelationshipTestRoom;1",
          "$lastUpdateTime": "2022-09-29T04:04:45.8433943Z",
          "Temperature": {
            "lastUpdateTime": "2022-09-29T04:04:45.8433943Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2022-09-29T04:04:45.8433943Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/incomingrelationships?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "956b94d3-fa28-4f93-a114-2a892fd56757",
        "traceresponse": "00-62dd1b2a422defdd9609485f26a10058-c44151b1d6414c3d-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": []
      }
    }
  ],
  "Variables": {}
}
