{
  "Entries": [
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "87047e7c-476e-403b-86a2-30b4cfe137a9",
        "traceresponse": "00-5d78573f62204e64ba630235f94cdaa4-e911f2f638729a1c-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:samples:DTTestBuilding;1",
            "description": {},
            "displayName": {
              "en": "Building"
            },
            "decommissioned": false,
            "uploadTime": "2022-09-29T04:03:23.4428968\u002B00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models/dtmi:samples:DTTestBuilding;1?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "24a6ea25-0609-45b8-a6b3-1b82ae879896",
        "traceresponse": "00-dfd8cb14054fe470743b146bef418c78-abaa9cca42f15289-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022@id\u0022: \u0022dtmi:samples:DTTestBuilding;1\u0022, \u0022@type\u0022: \u0022Interface\u0022, \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022, \u0022displayName\u0022: \u0022Building\u0022, \u0022contents\u0022: [{\u0022@type\u0022: \u0022Property\u0022, \u0022name\u0022: \u0022AverageTemperature\u0022, \u0022schema\u0022: \u0022double\u0022}, {\u0022@type\u0022: \u0022Property\u0022, \u0022name\u0022: \u0022TemperatureUnit\u0022, \u0022schema\u0022: \u0022string\u0022}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c8a2f863-4466-490a-84de-22a191592e90",
        "traceresponse": "00-796145b13a1e704ad787b1edf04872f8-bc8917dbe3820dfc-01"
      },
      "ResponseBody": "[{\u0022id\u0022:\u0022dtmi:samples:DTTestBuilding;1\u0022,\u0022description\u0022:{},\u0022displayName\u0022:{\u0022en\u0022:\u0022Building\u0022},\u0022decommissioned\u0022:false,\u0022uploadTime\u0022:\u00222022-09-29T04:03:24.0620034\u002B00:00\u0022}]"
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-17a836b3?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "6792b9cf-0c6c-4b17-948d-d28712d64e15",
        "traceresponse": "00-108ac326617748d52641faa7cfdf64a7-208465e6fcde13ac-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-17a836b3?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 68
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022cf4e1577-8094-4c4e-94fe-12051b8ac57a\u0022",
        "mise-correlation-id": "b5f8ee20-09f8-4853-b576-94c15b35e84c",
        "traceresponse": "00-834e15d738e9ce77c61f7e0e8503009c-ea347e2bf72ea080-01"
      },
      "ResponseBody": {
        "$dtId": "digitalTwin-17a836b3",
        "$etag": "W/\u0022cf4e1577-8094-4c4e-94fe-12051b8ac57a\u0022",
        "AverageTemperature": 68,
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2022-09-29T04:03:24.1916974Z",
          "AverageTemperature": {
            "lastUpdateTime": "2022-09-29T04:03:24.1916974Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-17a836b3?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00225f504d5f-aaa3-424d-bd6e-1f07bb3f98d5\u0022",
        "mise-correlation-id": "2a14dd71-82fc-49d8-9912-ddc2d716ffe6",
        "traceresponse": "00-3224de175f4fa7d0a7de19b042950a72-4a1216c913756765-01"
      },
      "ResponseBody": {
        "$dtId": "digitalTwin-17a836b3",
        "$etag": "W/\u00225f504d5f-aaa3-424d-bd6e-1f07bb3f98d5\u0022",
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2022-09-29T04:03:24.2537360Z",
          "AverageTemperature": {
            "lastUpdateTime": "2022-09-29T04:03:24.1916974Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2022-09-29T04:03:24.2537360Z"
          }
        }
      }
    }
  ],
  "Variables": {}
}
