{
  "Entries": [
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-5ca63aff?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:Building;2"
        },
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "276078ae-f47c-45cf-ae0b-e063c8218605",
        "traceresponse": "00-8e76f08d8503841873d4501181474bd2-892785c42fbb1b81-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ValidationFailed",
          "message": "Invalid twin specified",
          "details": [
            {
              "code": "ValidationFailed",
              "message": "dtmi:samples:Building;2 or one of its dependencies does not exist."
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
