interactions:
- request:
    body: '[{"@id": "dtmi:samples:Building;1", "@type": "Interface", "@context": "dtmi:dtdl:context;2",
      "displayName": "Building", "contents": [{"@type": "Relationship", "name": "has",
      "target": "dtmi:samples:Floor;1", "properties": [{"@type": "Property", "name":
      "isAccessRestricted", "schema": "boolean"}]}, {"@type": "Property", "name":
      "AverageTemperature", "schema": "double"}]}, {"@id": "dtmi:samples:Floor;1",
      "@type": "Interface", "@context": "dtmi:dtdl:context;2", "displayName": "Floor",
      "contents": [{"@type": "Relationship", "name": "contains", "target": "dtmi:samples:Room;1"},
      {"@type": "Property", "name": "AverageTemperature", "schema": "double"}]}, {"@id":
      "dtmi:samples:Room;1", "@type": "Interface", "@context": "dtmi:dtdl:context;2",
      "displayName": "Room", "contents": [{"@type": "Property", "name": "Temperature",
      "schema": "double"}, {"@type": "Property", "name": "IsOccupied", "schema": "boolean"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2020-10-31
  response:
    body:
      string: '{"error":{"code":"ModelIdAlreadyExists","message":"Some of the model
        ids already exist: dtmi:samples:Building;1, dtmi:samples:Floor;1, dtmi:samples:Room;1.
        Use Model_List API to view models that already exist. See the Swagger example
        (http://aka.ms/ModelListSwSmpl)."}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 409
      message: Conflict
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2020-10-31
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:Building;1"}, "AverageTemperature":
      68}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2020-10-31
  response:
    body:
      string: '{"$dtId":"DTRelationshipTestsBuildingTwin","$etag":"W/\"28a96c85-358c-42c1-a54d-258327217b34\"","AverageTemperature":68,"$metadata":{"$model":"dtmi:samples:Building;1","AverageTemperature":{"lastUpdateTime":"2020-11-09T07:32:39.9456979Z"}}}'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"28a96c85-358c-42c1-a54d-258327217b34"
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2020-10-31
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:Floor;1"}, "AverageTemperature":
      75}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin?api-version=2020-10-31
  response:
    body:
      string: '{"$dtId":"DTRelationshipTestsFloorTwin","$etag":"W/\"f6f9ba59-9217-4741-b1c0-4d7ca59c5fd4\"","AverageTemperature":75,"$metadata":{"$model":"dtmi:samples:Floor;1","AverageTemperature":{"lastUpdateTime":"2020-11-09T07:32:40.2191260Z"}}}'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"f6f9ba59-9217-4741-b1c0-4d7ca59c5fd4"
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin?api-version=2020-10-31
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:Room;1"}, "Temperature": 80, "IsOccupied":
      true}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2020-10-31
  response:
    body:
      string: '{"$dtId":"DTRelationshipTestsRoomTwin","$etag":"W/\"860ffffc-ce28-4d04-8770-4a922f3b858d\"","Temperature":80,"IsOccupied":true,"$metadata":{"$model":"dtmi:samples:Room;1","Temperature":{"lastUpdateTime":"2020-11-09T07:32:40.5181570Z"},"IsOccupied":{"lastUpdateTime":"2020-11-09T07:32:40.5181570Z"}}}'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"860ffffc-ce28-4d04-8770-4a922f3b858d"
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2020-10-31
- request:
    body: '{"$relationshipId": "BuildingHasFloor", "$sourceId": "DTRelationshipTestsBuildingTwin",
      "$relationshipName": "has", "$targetId": "DTRelationshipTestsFloorTwin", "isAccessRestricted":
      false}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2020-10-31
  response:
    body:
      string: '{"$relationshipId":"BuildingHasFloor","$etag":"W/\"7b3d5dbc-31ad-4a45-b355-11d24069672c\"","$sourceId":"DTRelationshipTestsBuildingTwin","$relationshipName":"has","$targetId":"DTRelationshipTestsFloorTwin","isAccessRestricted":false}'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"7b3d5dbc-31ad-4a45-b355-11d24069672c"
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2020-10-31
- request:
    body: '[{"op": "replace", "path": "/isAccessRestricted", "value": true}, {"op":
      "remove", "path": "/isAccessRestricted"}]'
    headers:
      Content-Type:
      - application/json-patch+json
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2020-10-31
  response:
    body:
      string: ''
    headers:
      etag: W/"97ad3a55-8a58-4cae-9488-4a3391d84ef0"
    status:
      code: 204
      message: No Content
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2020-10-31
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2020-10-31
  response:
    body:
      string: '{"$relationshipId":"BuildingHasFloor","$etag":"W/\"97ad3a55-8a58-4cae-9488-4a3391d84ef0\"","$sourceId":"DTRelationshipTestsBuildingTwin","$relationshipName":"has","$targetId":"DTRelationshipTestsFloorTwin"}'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"97ad3a55-8a58-4cae-9488-4a3391d84ef0"
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2020-10-31
version: 1
