interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3ATempModel2fc70f9f%3B1?includeModelDefinition=false&api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"ModelNotFound","message":"There is no Model(s) available
        that matches the provided id(s) dtmi:com:samples:TempModel2fc70f9f;1. Check
        that the Model ID provided is valid by doing a Model_List API call."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-09ae60e340f17c479870d8467130659c-0ac51af1d0d6834d-01
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModel2fc70f9f%3B1?includeModelDefinition=false&api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"ModelNotFound","message":"There is no Model(s) available
        that matches the provided id(s) dtmi:com:samples:ComponentModel2fc70f9f;1.
        Check that the Model ID provided is valid by doing a Model_List API call."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-0685c0aa80f0084eb64439833db00595-f3c31bfad0323243-01
    status:
      code: 404
      message: Not Found
- request:
    body: '[{"@id": "dtmi:com:samples:TempModel2fc70f9f;1", "@type": "Interface",
      "@context": "dtmi:dtdl:context;2", "displayName": "TempModel", "contents": [{"@type":
      "Property", "name": "Prop1", "schema": "string"}, {"@type": "Telemetry", "name":
      "Telemetry1", "schema": "integer"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview
  response:
    body:
      string: '[{"id":"dtmi:com:samples:TempModel2fc70f9f;1","description":{},"displayName":{"en":"TempModel"},"decommissioned":false,"uploadTime":"2022-03-28T15:04:59.6848013+00:00"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-a3244ed4c648414f96c12e2a74d0e608-31bd949e6b10384d-01
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModel2fc70f9f%3B1?includeModelDefinition=false&api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"ModelNotFound","message":"There is no Model(s) available
        that matches the provided id(s) dtmi:com:samples:ComponentModel2fc70f9f;1.
        Check that the Model ID provided is valid by doing a Model_List API call."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-70c1031382bc5345a9924db2231c7055-0f0410bc3a46a746-01
    status:
      code: 404
      message: Not Found
version: 1
