interactions:
- request:
    body: '[{"@id": "dtmi:com:samples:DTComponentTestsComponent;1", "@type": "Interface",
      "@context": "dtmi:dtdl:context;2", "displayName": "Component1", "contents":
      [{"@type": "Property", "name": "ComponentProp1", "schema": "string"}, {"@type":
      "Telemetry", "name": "ComponentTelemetry1", "schema": "integer"}]}, {"@id":
      "dtmi:com:samples:DTComponentTestsModel;1", "@type": "Interface", "@context":
      "dtmi:dtdl:context;2", "displayName": "TempModel", "contents": [{"@type": "Property",
      "name": "Prop1", "schema": "string"}, {"@type": "Component", "name": "Component1",
      "schema": "dtmi:com:samples:DTComponentTestsComponent;1"}, {"@type": "Telemetry",
      "name": "Telemetry1", "schema": "integer"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2020-10-31
  response:
    body:
      string: '{"error":{"code":"ModelIdAlreadyExists","message":"Some of the model
        ids already exist: dtmi:com:samples:DTComponentTestsComponent;1, dtmi:com:samples:DTComponentTestsModel;1.
        Use Model_List API to view models that already exist. See the Swagger example
        (http://aka.ms/ModelListSwSmpl)."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 409
      message: Conflict
- request:
    body: '{"$metadata": {"$model": "dtmi:com:samples:DTComponentTestsModel;1"}, "Prop1":
      "value", "Component1": {"$metadata": {}, "ComponentProp1": "value1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin?api-version=2020-10-31
  response:
    body:
      string: '{"$dtId":"DTComponentTestsTempTwin","$etag":"W/\"4a9f1bcd-29a1-4b35-abb6-5dcacabc2af4\"","Prop1":"value","Component1":{"ComponentProp1":"value1","$metadata":{"ComponentProp1":{"lastUpdateTime":"2020-11-08T20:13:33.0241167Z"}}},"$metadata":{"$model":"dtmi:com:samples:DTComponentTestsModel;1","Prop1":{"lastUpdateTime":"2020-11-08T20:13:33.0241167Z"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4a9f1bcd-29a1-4b35-abb6-5dcacabc2af4"
    status:
      code: 200
      message: OK
- request:
    body: '[{"op": "replace", "path": "/ComponentProp1", "value": "value2"}]'
    headers:
      Content-Type:
      - application/json-patch+json
      If-Match:
      - '*'
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2020-10-31
  response:
    body:
      string: ''
    headers:
      etag:
      - W/"adc6d3ce-8e83-4a7a-8169-7bf190f0c44e"
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2020-10-31
  response:
    body:
      string: '{"ComponentProp1":"value2","$metadata":{"ComponentProp1":{"lastUpdateTime":"2020-11-08T20:13:33.2939905Z"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"adc6d3ce-8e83-4a7a-8169-7bf190f0c44e"
    status:
      code: 200
      message: OK
version: 1
