interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModel631e163e;1?includeModelDefinition=false&api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"ModelNotFound","message":"There is no Model(s) available
        that matches the provided id(s) dtmi:com:samples:ComponentModel631e163e;1.
        Check that the Model ID provided is valid by doing a Model_List API call."}}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-7c9dbc15f8f82d4ca563ce4cec9af5a0-be590119e22d004b-01
    status:
      code: 404
      message: Not Found
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModel631e163e;1?includeModelDefinition=false&api-version=2021-06-30-preview
- request:
    body: '[{"@id": "dtmi:com:samples:ComponentModel631e163e;1", "@type": "Interface",
      "@context": ["dtmi:dtdl:context;2"], "displayName": "Component1", "contents":
      [{"@type": "Property", "name": "ComponentProp1", "schema": "string"}, {"@type":
      "Telemetry", "name": "ComponentTelemetry1", "schema": "integer"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview
  response:
    body:
      string: '[{"id":"dtmi:com:samples:ComponentModel631e163e;1","description":{},"displayName":{"en":"Component1"},"decommissioned":false,"uploadTime":"2022-03-25T21:12:00.134728+00:00"}]'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-5f40c88dd50ae9459a13df1f23854497-fdd99f7072309f4f-01
    status:
      code: 201
      message: Created
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModel631e163e;1?includeModelDefinition=true&api-version=2021-06-30-preview
  response:
    body:
      string: '{"id":"dtmi:com:samples:ComponentModel631e163e;1","description":{},"displayName":{"en":"Component1"},"decommissioned":false,"uploadTime":"2022-03-25T21:12:00.134728+00:00","model":{"@id":"dtmi:com:samples:ComponentModel631e163e;1","@type":"Interface","@context":["dtmi:dtdl:context;2"],"displayName":"Component1","contents":[{"@type":"Property","name":"ComponentProp1","schema":"string"},{"@type":"Telemetry","name":"ComponentTelemetry1","schema":"integer"}]}}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-cca3b6d1b8ed57419193d27b4326c58d-0304aecd9852dd4f-01
    status:
      code: 200
      message: OK
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModel631e163e;1?includeModelDefinition=true&api-version=2021-06-30-preview
version: 1
