interactions:
- request:
    body: '[{"@id": "dtmi:samples:Building;1", "@type": "Interface", "@context": "dtmi:dtdl:context;2",
      "displayName": "Building", "contents": [{"@type": "Relationship", "name": "has",
      "target": "dtmi:samples:Floor;1", "properties": [{"@type": "Property", "name":
      "isAccessRestricted", "schema": "boolean"}]}, {"@type": "Relationship", "name":
      "isEquippedWith", "target": "dtmi:samples:HVAC;1"}, {"@type": "Property", "name":
      "AverageTemperature", "schema": "double"}, {"@type": "Property", "name": "TemperatureUnit",
      "schema": "string"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2020-10-31
  response:
    body:
      string: '[{"id":"dtmi:samples:Building;1","description":{},"displayName":{"en":"Building"},"decommissioned":false,"uploadTime":"2020-11-08T18:04:55.0884748+00:00"}]'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 201
      message: Created
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2020-10-31
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-18fd20ab?api-version=2020-10-31
  response:
    body:
      string: '{"error":{"code":"DigitalTwinNotFound","message":"There is no digital
        twin instance that exists with the ID digitalTwin-18fd20ab. Please verify
        that the twin id is valid and ensure that the twin is not deleted. See section
        on querying the twins http://aka.ms/adtv2query."}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-18fd20ab?api-version=2020-10-31
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:Building;1"}, "AverageTemperature":
      68, "TemperatureUnit": "Celsius"}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-18fd20ab?api-version=2020-10-31
  response:
    body:
      string: '{"$dtId":"digitalTwin-18fd20ab","$etag":"W/\"25c49e0c-4f8b-4a74-9572-55e0cec5e9d3\"","AverageTemperature":68,"TemperatureUnit":"Celsius","$metadata":{"$model":"dtmi:samples:Building;1","AverageTemperature":{"lastUpdateTime":"2020-11-08T18:04:55.8817882Z"},"TemperatureUnit":{"lastUpdateTime":"2020-11-08T18:04:55.8817882Z"}}}'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"25c49e0c-4f8b-4a74-9572-55e0cec5e9d3"
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-18fd20ab?api-version=2020-10-31
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:Building;1"}, "AverageTemperature":
      68, "TemperatureUnit": "Celsius"}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-18fd20ab?api-version=2020-10-31
  response:
    body:
      string: '{"error":{"code":"PreconditionFailed","message":"If-None-Match: * header
        was specified but a twin with the id digitalTwin-18fd20ab was found. Please
        specify a different twin id."}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 412
      message: Precondition Failed
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-18fd20ab?api-version=2020-10-31
version: 1
