{
  "Entries": [
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:TempModelf2ca3276;1?includeModelDefinition=false\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "12b186cf-b85c-440e-8978-1a87fb24a486",
        "traceresponse": "00-4bcd900943fb94c0132f30d32940c5db-dbb2c1ba0bac4c4f-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:com:samples:TempModelf2ca3276;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModelf2ca3276;1?includeModelDefinition=false\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7e60bc39-56e7-4990-ae1a-5cadf8ae463c",
        "traceresponse": "00-e7e441e3cdd41506997125d3e3e0f19d-1d2d759610629a6c-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:com:samples:ComponentModelf2ca3276;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022@id\u0022: \u0022dtmi:com:samples:ComponentModelf2ca3276;1\u0022, \u0022@type\u0022: \u0022Interface\u0022, \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022, \u0022displayName\u0022: \u0022Component1\u0022, \u0022contents\u0022: [{\u0022@type\u0022: \u[...]
