{
  "Entries": [
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f29210ed-294f-4075-b8a3-716c8c03c46a",
        "traceresponse": "00-fe21342a859a6cef3fa9b1ad533da2e0-4ec3995b4b43f595-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:samples:DTTestBuilding;1",
            "description": {},
            "displayName": {
              "en": "Building"
            },
            "decommissioned": false,
            "uploadTime": "2022-09-29T04:03:19.2542329\u002B00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models/dtmi:samples:DTTestBuilding;1?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "c5b45117-154e-410f-9ced-aea000cc87c2",
        "traceresponse": "00-302108b073a531485c07cfc072d75183-912518022f8d2cd0-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022@id\u0022: \u0022dtmi:samples:DTTestBuilding;1\u0022, \u0022@type\u0022: \u0022Interface\u0022, \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022, \u0022displayName\u0022: \u0022Building\u0022, \u0022contents\u0022: [{\u0022@type\u0022: \u0022Property\u0022, \u0022name\u0022: \u0022AverageTemperature\u0022, \u0022schema\u0022: \u0022double\u0022}, {\u0022@type\u0022: \u0022Property\u0022, \u0022name\u0022: \u0022TemperatureUnit\u0022, \u0022schema\u0022: \u0022string\u0022}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "20fa9928-b058-4055-a5dc-91d4ca1268b0",
        "traceresponse": "00-6776014c0bec1da82f636cf4a2b4db15-10a64c96c72aba36-01"
      },
      "ResponseBody": "[{\u0022id\u0022:\u0022dtmi:samples:DTTestBuilding;1\u0022,\u0022description\u0022:{},\u0022displayName\u0022:{\u0022en\u0022:\u0022Building\u0022},\u0022decommissioned\u0022:false,\u0022uploadTime\u0022:\u00222022-09-29T04:03:19.7989839\u002B00:00\u0022}]"
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-c78c3834?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "4e52080f-4e20-4990-9b35-8ede354743b3",
        "traceresponse": "00-fcd43ead2dd6a24f1a807f7b6ea87087-f05adfcccb074218-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-c78c3834?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022bea7ddb9-762e-4207-b9ee-169691b507b3\u0022",
        "mise-correlation-id": "35abfba0-3bbc-488a-9ebe-569e1fc1b23b",
        "traceresponse": "00-ef91c93d06d0f1132f41540830f1249b-db83e14865b3e660-01"
      },
      "ResponseBody": {
        "$dtId": "digitalTwin-c78c3834",
        "$etag": "W/\u0022bea7ddb9-762e-4207-b9ee-169691b507b3\u0022",
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2022-09-29T04:03:19.9284220Z",
          "AverageTemperature": {
            "lastUpdateTime": "2022-09-29T04:03:19.9284220Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2022-09-29T04:03:19.9284220Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-c78c3834?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 69,
        "TemperatureUnit": "Celsius"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022b5b22e13-7e7e-403c-b190-b308cf7be1f2\u0022",
        "mise-correlation-id": "f6a6c5b8-bc00-4508-9e85-fed0e53f7e3f",
        "traceresponse": "00-1c5a32d20f98516359c5915fb82117cf-42b7e18865faaef4-01"
      },
      "ResponseBody": {
        "$dtId": "digitalTwin-c78c3834",
        "$etag": "W/\u0022b5b22e13-7e7e-403c-b190-b308cf7be1f2\u0022",
        "AverageTemperature": 69,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2022-09-29T04:03:19.9973918Z",
          "AverageTemperature": {
            "lastUpdateTime": "2022-09-29T04:03:19.9973918Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2022-09-29T04:03:19.9973918Z"
          }
        }
      }
    }
  ],
  "Variables": {}
}
