{
  "Entries": [
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "701e3279-638c-431c-8f8e-ce9c3fe4d603",
        "traceresponse": "00-89d5fd82b0592ca0d32f1517ed4ec650-e418f17cd89edec3-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:samples:DTTestBuilding;1",
            "description": {},
            "displayName": {
              "en": "Building"
            },
            "decommissioned": false,
            "uploadTime": "2023-06-01T20:34:06.0218336\u002B00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models/dtmi:samples:DTTestBuilding;1?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "6937eb54-abe4-46fe-8f7e-858ae447649f",
        "traceresponse": "00-995e7391aa1f08b12f79f942e987e3e7-4b488445fab5eb7e-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022@id\u0022: \u0022dtmi:samples:DTTestBuilding;1\u0022, \u0022@type\u0022: \u0022Interface\u0022, \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022, \u0022displayName\u0022: \u0022Building\u0022, \u0022contents\u0022: [{\u0022@type\u0022: \u0022Property\u0022, \u0022name\u0022: \u0022AverageTemperature\u0022, \u0022schema\u0022: \u0022double\u0022}, {\u0022@type\u0022: \u0022Property\u0022, \u0022name\u0022: \u0022TemperatureUnit\u0022, \u0022schema\u0022: \u0022string\u0022}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "05b86d7f-80b5-4176-a255-1d9595bc0d85",
        "traceresponse": "00-4bda5965673537e85a5c886368ff415e-17f90c3504af7080-01"
      },
      "ResponseBody": "[{\u0022id\u0022:\u0022dtmi:samples:DTTestBuilding;1\u0022,\u0022description\u0022:{},\u0022displayName\u0022:{\u0022en\u0022:\u0022Building\u0022},\u0022decommissioned\u0022:false,\u0022uploadTime\u0022:\u00222023-06-01T20:34:07.5937351\u002B00:00\u0022}]"
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-fb1a3866?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "9bb81ea4-5eaa-472e-a23c-cd7143d8979e",
        "traceresponse": "00-5de7daa1f0925e09a1fd03ac5865a8ea-70870b8b965cdec5-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-fb1a3866?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022fe38e895-9abe-41db-9301-0acdd46e01fe\u0022",
        "mise-correlation-id": "f6f6c1f1-1912-4091-b516-2290c3d272c0",
        "traceresponse": "00-8ac19e02e1477cdeec9cb11dc650d3f7-2811a3c2fdd13a68-01"
      },
      "ResponseBody": {
        "$dtId": "digitalTwin-fb1a3866",
        "$etag": "W/\u0022fe38e895-9abe-41db-9301-0acdd46e01fe\u0022",
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2023-06-01T20:34:07.9242021Z",
          "AverageTemperature": {
            "lastUpdateTime": "2023-06-01T20:34:07.9242021Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2023-06-01T20:34:07.9242021Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-fb1a3866?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022611fe06e-f212-4fff-ad78-7fb603cc9db5\u0022",
        "mise-correlation-id": "d3cf650f-ec8d-49a2-b1d8-9467e4f29333",
        "traceresponse": "00-a29a56e59bdbc16511153eea65c591c4-4d8c2ba4002940da-01"
      },
      "ResponseBody": {
        "$dtId": "digitalTwin-fb1a3866",
        "$etag": "W/\u0022611fe06e-f212-4fff-ad78-7fb603cc9db5\u0022",
        "AverageTemperature": 42,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2023-06-01T20:34:08.0915171Z",
          "AverageTemperature": {
            "lastUpdateTime": "2023-06-01T20:34:08.0915171Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2023-06-01T20:34:07.9242021Z"
          }
        }
      }
    }
  ],
  "Variables": {}
}
