{
  "Entries": [
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a951ecf7-bae7-4f78-9310-6dd4bfc274bd",
        "traceresponse": "00-e7d3cbd7c83e48333ccd4e596c8aafe3-e28207203f5f03c5-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:samples:DTTestBuilding;1",
            "description": {},
            "displayName": {
              "en": "Building"
            },
            "decommissioned": false,
            "uploadTime": "2022-09-29T04:03:24.6361009\u002B00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models/dtmi:samples:DTTestBuilding;1?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "dd94ef5b-9112-4ae6-9bb8-0f25e3c5c179",
        "traceresponse": "00-d2345bbefba991fbcb7e968c4151c5c8-c6329dcd6573284d-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022@id\u0022: \u0022dtmi:samples:DTTestBuilding;1\u0022, \u0022@type\u0022: \u0022Interface\u0022, \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022, \u0022displayName\u0022: \u0022Building\u0022, \u0022contents\u0022: [{\u0022@type\u0022: \u0022Property\u0022, \u0022name\u0022: \u0022AverageTemperature\u0022, \u0022schema\u0022: \u0022double\u0022}, {\u0022@type\u0022: \u0022Property\u0022, \u0022name\u0022: \u0022TemperatureUnit\u0022, \u0022schema\u0022: \u0022string\u0022}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "92fa8bc3-8e86-4fb2-a08f-270c49de22b0",
        "traceresponse": "00-ee92c4605424035604301c3a90ce8649-0cc2229b722899a7-01"
      },
      "ResponseBody": "[{\u0022id\u0022:\u0022dtmi:samples:DTTestBuilding;1\u0022,\u0022description\u0022:{},\u0022displayName\u0022:{\u0022en\u0022:\u0022Building\u0022},\u0022decommissioned\u0022:false,\u0022uploadTime\u0022:\u00222022-09-29T04:03:25.2378342\u002B00:00\u0022}]"
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-5b613ae0?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "56d881c9-9bc5-419f-a6be-af2a2ecfb601",
        "traceresponse": "00-9b63e9e1a3a6728d414fcba63c5ace23-54f2e06dfb104752-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-5b613ae0?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022820d9e0d-5031-48b7-8141-7dc04fdd6a11\u0022",
        "mise-correlation-id": "73085283-2849-4f60-b4f6-46adf2bca197",
        "traceresponse": "00-8cc4e1df4ef8531c9f01f4a288913bbb-0f343d8c770ad81d-01"
      },
      "ResponseBody": {
        "$dtId": "digitalTwin-5b613ae0",
        "$etag": "W/\u0022820d9e0d-5031-48b7-8141-7dc04fdd6a11\u0022",
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2022-09-29T04:03:25.3675498Z",
          "AverageTemperature": {
            "lastUpdateTime": "2022-09-29T04:03:25.3675498Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2022-09-29T04:03:25.3675498Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-5b613ae0?api-version=2022-05-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json-patch\u002Bjson"
      },
      "RequestBody": "[{\u0022op\u0022: \u0022move\u0022, \u0022path\u0022: \u0022/AverageTemperature\u0022, \u0022value\u0022: 42}]",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "338a2efd-46e7-4489-8b87-2b824cf4f339",
        "traceresponse": "00-4d3e823ccdad9644a3c9607734fb3309-47fa24fc22be50f8-01"
      },
      "ResponseBody": {
        "error": {
          "code": "JsonPatchInvalid",
          "message": "Unsupported operation type move. Please provide a valid patch document. See section on update apis in the documentation https://aka.ms/adtv2twins."
        }
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-5b613ae0?api-version=2022-05-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json-patch\u002Bjson"
      },
      "RequestBody": "[\u0022AverageTemperature\u0022]",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/problem\u002Bjson; charset=utf-8",
        "mise-correlation-id": "d8c388fb-4d11-4ab3-ba0a-171a9758a886",
        "traceresponse": "00-93d7e888e7596ccc96825c26fff651b7-9171713ce91a7e56-01"
      },
      "ResponseBody": {
        "errors": {
          "[0]": [
            "Error converting value \u0022AverageTemperature\u0022 to type \u0027Microsoft.AspNetCore.JsonPatch.Operations.Operation\u0027. Path \u0027[0]\u0027, line 1, position 21."
          ],
          "jsonPatchDocument": [
            "The jsonPatchDocument field is required."
          ]
        },
        "type": "https://tools.ietf.org/html/rfc7231#section-6.5.1",
        "title": "One or more validation errors occurred.",
        "status": 400,
        "detail": null,
        "instance": null,
        "extensions": {
          "traceId": "00-93d7e888e7596ccc96825c26fff651b7-e77144035d1dd4dd-00"
        }
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-5b613ae0?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{}]",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9eb3de34-9a0d-4804-94c4-fd3dc65aa8dd",
        "traceresponse": "00-4197c1d482d6ce8976dcd9054e4b07f3-68f74a3f8211f904-01"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidArgument",
          "message": "Payload is invalid."
        }
      }
    }
  ],
  "Variables": {}
}
