{
  "Entries": [
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModelfb5d3499;1?includeModelDefinition=false\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0ae43dc6-d367-4880-98e1-3eaf37053dc6",
        "traceresponse": "00-0ee2778b2bb5319362efa3285bf95e8b-a894d1eac9eddb72-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:com:samples:ComponentModelfb5d3499;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022@id\u0022: \u0022dtmi:com:samples:ComponentModelfb5d3499;1\u0022, \u0022@type\u0022: \u0022Interface\u0022, \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022, \u0022displayName\u0022: \u0022Component1\u0022, \u0022contents\u0022: [{\u0022@type\u0022: \u0022Property\u0022, \u0022name\u0022: \u0022ComponentProp1\u0022, \u0022schema\u0022: \u0022string\u0022}, {\u0022@type\u0022: \u0022Telemetry\u0022, \u0022name\u0022: \u0022ComponentTelemetry1\u0022, \u0022schema\u0022: \u0022integer\u0022}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4c6005e1-e4c2-4de6-a2bb-64f156b6849e",
        "traceresponse": "00-35b025655ebd8372db830a04d41e43f3-49d5833779509b6c-01"
      },
      "ResponseBody": "[{\u0022id\u0022:\u0022dtmi:com:samples:ComponentModelfb5d3499;1\u0022,\u0022description\u0022:{},\u0022displayName\u0022:{\u0022en\u0022:\u0022Component1\u0022},\u0022decommissioned\u0022:false,\u0022uploadTime\u0022:\u00222022-09-29T04:03:51.6463697\u002B00:00\u0022}]"
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModelfb5d3499;1?includeModelDefinition=false\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c37fd68f-17c8-4750-b79d-ccd706cacd17",
        "traceresponse": "00-5a3cb8d55284468bbfbe369cb375e20d-ab51b7bc907a4c7d-01"
      },
      "ResponseBody": {
        "id": "dtmi:com:samples:ComponentModelfb5d3499;1",
        "description": {},
        "displayName": {
          "en": "Component1"
        },
        "decommissioned": false,
        "uploadTime": "2022-09-29T04:03:51.6463697\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModelfb5d3499;1?api-version=2022-05-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json-patch\u002Bjson"
      },
      "RequestBody": "[{\u0022op\u0022: \u0022replace\u0022, \u0022path\u0022: \u0022/decommissioned\u0022, \u0022value\u0022: true}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "49e7fbc5-cebd-49fb-8d2e-80fefc83b924",
        "traceresponse": "00-dfde2605d1183092a6f82dcd958efb60-3ee2b80c040b300b-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModelfb5d3499;1?includeModelDefinition=false\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d46a7448-3aa2-4797-b555-35057e968d04",
        "traceresponse": "00-c08a71ad2af3801e9ef180cbbea9e2e7-e399b34dc79ce673-01"
      },
      "ResponseBody": {
        "id": "dtmi:com:samples:ComponentModelfb5d3499;1",
        "description": {},
        "displayName": {
          "en": "Component1"
        },
        "decommissioned": true,
        "uploadTime": "2022-09-29T04:03:51.6463697\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
