{
  "Entries": [
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModel7b0f3772;1?includeModelDefinition=false\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "61f0a3c4-499a-4224-8842-552e8ac6b3be",
        "traceresponse": "00-9f00ac110577d92b7b1d70a447a3f9a1-508462c8594d0210-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:com:samples:ComponentModel7b0f3772;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022@id\u0022: \u0022dtmi:com:samples:ComponentModel7b0f3772;1\u0022, \u0022@type\u0022: \u0022Interface\u0022, \u0022@context\u0022: [\u0022dtmi:dtdl:context;2\u0022], \u0022displayName\u0022: \u0022Component1\u0022, \u0022contents\u0022: [{\u0022@type\u0022: \u0022Property\u0022, \u0022name\u0022: \u0022ComponentProp1\u0022, \u0022schema\u0022: \u0022string\u0022}, {\u0022@type\u0022: \u0022Telemetry\u0022, \u0022name\u0022: \u0022ComponentTelemetry1\u0022, \u0022schema\u0022: \u0022integer\u0022}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "3899ced4-9926-4127-840f-81d25ab96475",
        "traceresponse": "00-48147c333e5c8fca9944a6dabbb4f729-0f4d036ddf2e5c64-01"
      },
      "ResponseBody": "[{\u0022id\u0022:\u0022dtmi:com:samples:ComponentModel7b0f3772;1\u0022,\u0022description\u0022:{},\u0022displayName\u0022:{\u0022en\u0022:\u0022Component1\u0022},\u0022decommissioned\u0022:false,\u0022uploadTime\u0022:\u00222022-09-29T04:03:50.6655654\u002B00:00\u0022}]"
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModel7b0f3772;1?includeModelDefinition=true\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "09808583-b825-41a3-8182-8d7ad1d8208d",
        "traceresponse": "00-9d99473884d0b200e4f26a6dc3e2c2a5-e358b7b57cef71e6-01"
      },
      "ResponseBody": {
        "id": "dtmi:com:samples:ComponentModel7b0f3772;1",
        "description": {},
        "displayName": {
          "en": "Component1"
        },
        "decommissioned": false,
        "uploadTime": "2022-09-29T04:03:50.6655654\u002B00:00",
        "model": {
          "@id": "dtmi:com:samples:ComponentModel7b0f3772;1",
          "@type": "Interface",
          "@context": [
            "dtmi:dtdl:context;2"
          ],
          "displayName": "Component1",
          "contents": [
            {
              "@type": "Property",
              "name": "ComponentProp1",
              "schema": "string"
            },
            {
              "@type": "Telemetry",
              "name": "ComponentTelemetry1",
              "schema": "integer"
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
