interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2022-05-31
  response:
    body:
      string: '{"value":[{"id":"dtmi:com:samples:DTComponentTestsComponent;1","description":{},"displayName":{"en-US":"Component1"},"decommissioned":false,"uploadTime":"2022-05-26T07:27:41.3893721+00:00"},{"id":"dtmi:com:samples:DTComponentTestsModel;1","description":{},"displayName":{"en-US":"TempModel"},"decommissioned":false,"uploadTime":"2022-05-26T07:27:41.3893942+00:00"}],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
      mise-correlation-id: dc6c5908-9d5e-420b-8cec-037812e7b8cc
      traceresponse: 00-ea11c0998d0af1449b730b179e3596aa-dc018cecb9c3ed4f-01
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2022-05-31
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:DTComponentTestsComponent;1?api-version=2022-05-31
  response:
    body:
      string: '{"error":{"code":"ModelReferencesNotDeleted","message":"This model
        is currently being referenced by dtmi:com:samples:DTComponentTestsModel;1.
        You must delete these references before deleting the Model.. To delete references,
        do Delete Model on Ids provided above."}}'
    headers:
      content-type: application/json; charset=utf-8
      mise-correlation-id: f47cb975-8737-4a99-a778-668fc205492e
      traceresponse: 00-6aa2b67c8ee11942a7edd56a65cd96a4-583f35c3b26a3746-01
    status:
      code: 409
      message: Conflict
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:DTComponentTestsComponent;1?api-version=2022-05-31
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:DTComponentTestsModel;1?api-version=2022-05-31
  response:
    body:
      string: ''
    headers:
      mise-correlation-id: e2fe8891-0973-40b7-a396-f65133ec9d2d
      traceresponse: 00-a6c233aa1c98214792bd4fca1ac034ef-a4c249f08b3cf949-01
    status:
      code: 204
      message: No Content
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:DTComponentTestsModel;1?api-version=2022-05-31
[...]
- request:
    body: '[{"@id": "dtmi:com:samples:DTComponentTestsComponent;1", "@type": "Interface",
      "@context": "dtmi:dtdl:context;2", "displayName": "Component1", "contents":
      [{"@type": "Property", "name": "ComponentProp1", "schema": "string"}, {"@type":
      "Telemetry", "name": "ComponentTelemetry1", "schema": "integer"}]}, {"@id":
      "dtmi:com:samples:DTComponentTestsModel;1", "@type": "Interface", "@context":
      "dtmi:dtdl:context;2", "displayName": "TempModel", "contents": [{"@type": "Property",
      "name": "Prop1", "schema": "string"}, {"@type": "Component", "name": "Component1",
      "schema": "dtmi:com:samples:DTComponentTestsComponent;1"}, {"@type": "Telemetry",
      "name": "Telemetry1", "schema": "integer"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31
  response:
    body:
      string: '[{"id":"dtmi:com:samples:DTComponentTestsComponent;1","description":{},"displayName":{"en-US":"Component1"},"decommissioned":false,"uploadTime":"2022-05-26T07:27:42.4675817+00:00"},{"id":"dtmi:com:samples:DTComponentTestsModel;1","description":{},"displayName":{"en-US":"TempModel"},"decommissioned":false,"uploadTime":"2022-05-26T07:27:42.4676019+00:00"}]'
    headers:
      content-type: application/json; charset=utf-8
      mise-correlation-id: 2f778851-b807-45a0-8fc5-56d8113623d4
      traceresponse: 00-eb44264f23bb3d4498f3ba6df4d63ce1-b8885f8d185c0246-01
    status:
      code: 201
      message: Created
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31
- request:
    body: '{"$metadata": {"$model": "dtmi:com:samples:DTComponentTestsModel;1"}, "Prop1":
      "value", "Component1": {"$metadata": {}, "ComponentProp1": "value1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin?api-version=2022-05-31
  response:
    body:
      string: '{"$dtId":"DTComponentTestsTempTwin","$etag":"W/\"004e8713-525c-48e4-a71a-ccf9b076e6bb\"","Prop1":"value","Component1":{"ComponentProp1":"value1","$metadata":{"$lastUpdateTime":"2022-05-26T07:27:42.5295003Z","ComponentProp1":{"lastUpdateTime":"2022-05-26T07:27:42.5295003Z"}}},"$metadata":{"$model":"dtmi:com:samples:DTComponentTestsModel;1","$lastUpdateTime":"2022-05-26T07:27:42.5295003Z","Prop1":{"lastUpdateTime":"2022-05-26T07:27:42.5295003Z"}}}'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"004e8713-525c-48e4-a71a-ccf9b076e6bb"
      traceresponse: 00-0a6553457af42d45ae868ffa64be18f8-99296103f22ac24d-01
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin?api-version=2022-05-31
- request:
    body: '[{"op": "replace", "path": "/ComponentProp1", "value": "value2"}]'
    headers:
      Content-Type:
      - application/json-patch+json
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2022-05-31
  response:
    body:
      string: ''
    headers:
      etag: W/"d87c7854-5f2f-422c-88c9-c8386f7eac87"
      traceresponse: 00-09c8005a30e3c941b8b54e0fd383747f-50b7d4064d7fa440-01
    status:
      code: 204
      message: No Content
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2022-05-31
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2022-05-31
  response:
    body:
      string: '{"ComponentProp1":"value2","$metadata":{"$lastUpdateTime":"2022-05-26T07:27:42.5837821Z","ComponentProp1":{"lastUpdateTime":"2022-05-26T07:27:42.5837821Z"}}}'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"d87c7854-5f2f-422c-88c9-c8386f7eac87"
      traceresponse: 00-90a4df25b6200740899b0d5eb1401a1f-fed26a1e4dd9cc4c-01
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2022-05-31
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin?api-version=2022-05-31
  response:
    body:
      string: '{"$dtId":"DTComponentTestsTempTwin","$etag":"W/\"d87c7854-5f2f-422c-88c9-c8386f7eac87\"","Prop1":"value","Component1":{"ComponentProp1":"value2","$metadata":{"$lastUpdateTime":"2022-05-26T07:27:42.5837821Z","ComponentProp1":{"lastUpdateTime":"2022-05-26T07:27:42.5837821Z"}}},"$metadata":{"$model":"dtmi:com:samples:DTComponentTestsModel;1","$lastUpdateTime":"2022-05-26T07:27:42.5837821Z","Prop1":{"lastUpdateTime":"2022-05-26T07:27:42.5295003Z"}}}'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"d87c7854-5f2f-422c-88c9-c8386f7eac87"
      traceresponse: 00-c337167490fdbc4cb83ee2fde286bcb4-a0e267e34f94a643-01
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin?api-version=2022-05-31
version: 1
