interactions:
- request:
    body: '[{"@id": "dtmi:samples:Building;1", "@type": "Interface", "@context": "dtmi:dtdl:context;2",
      "displayName": "Building", "contents": [{"@type": "Relationship", "name": "has",
      "target": "dtmi:samples:Floor;1", "properties": [{"@type": "Property", "name":
      "isAccessRestricted", "schema": "boolean"}]}, {"@type": "Relationship", "name":
      "isEquippedWith", "target": "dtmi:samples:HVAC;1"}, {"@type": "Property", "name":
      "AverageTemperature", "schema": "double"}, {"@type": "Property", "name": "TemperatureUnit",
      "schema": "string"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2020-10-31
  response:
    body:
      string: '{"error":{"code":"ModelIdAlreadyExists","message":"Some of the model
        ids already exist: dtmi:samples:Building;1. Use Model_List API to view models
        that already exist. See the Swagger example (http://aka.ms/ModelListSwSmpl)."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 409
      message: Conflict
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:Building;1"}, "AverageTemperature":
      68, "TemperatureUnit": "Celsius"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-f8db143b?api-version=2020-10-31
  response:
    body:
      string: '{"$dtId":"digitalTwin-f8db143b","$etag":"W/\"14c43357-ee70-49b4-adbc-e51257946b0c\"","AverageTemperature":68,"TemperatureUnit":"Celsius","$metadata":{"$model":"dtmi:samples:Building;1","AverageTemperature":{"lastUpdateTime":"2020-11-08T05:57:24.3573655Z"},"TemperatureUnit":{"lastUpdateTime":"2020-11-08T05:57:24.3573655Z"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"14c43357-ee70-49b4-adbc-e51257946b0c"
    status:
      code: 200
      message: OK
version: 1
