{
  "Entries": [
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "857f2fff-5117-4b95-b1b6-162cc43fff6e",
        "traceresponse": "00-9cecdde72dc0c477ea3c9a18fed90d2a-fea8f9dc06282e45-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:com:samples:DTComponentTestsComponent;1",
            "description": {},
            "displayName": {
              "en": "Component1"
            },
            "decommissioned": false,
            "uploadTime": "2022-09-29T04:02:52.2933253\u002B00:00"
          },
          {
            "id": "dtmi:com:samples:DTComponentTestsModel;1",
            "description": {},
            "displayName": {
              "en": "TempModel"
            },
            "decommissioned": false,
            "uploadTime": "2022-09-29T04:02:52.2933465\u002B00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:DTComponentTestsComponent;1?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0761fe97-e732-457e-a3ab-cb3ea498978c",
        "traceresponse": "00-90d465525c77ea344c202a52c8f878e1-8f092212b8cc17d3-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelReferencesNotDeleted",
          "message": "This model is currently being referenced by dtmi:com:samples:DTComponentTestsModel;1. You must delete these references before deleting the Model.. To delete references, do Delete Model on Ids provided above."
        }
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:DTComponentTestsModel;1?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "986cc4f6-4696-4951-9f2a-0383ac7fd263",
        "traceresponse": "00-27507479c9e0de2916ba9b566797f068-f83fce5d1c447be0-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022@id\u0022: \u0022dtmi:com:samples:DTComponentTestsComponent;1\u0022, \u0022@type\u0022: \u0022Interface\u0022, \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022, \u0022displayName\u0022: \u0022Component1\u0022, \u0022contents\u0022: [{\u0022@type\u0022:[...]
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:com:samples:DTComponentTestsModel;1"
        },
        "Prop1": "value",
        "Component1": {
          "$metadata": {},
          "ComponentProp1": "value1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00225de34466-480a-4e24-a402-8c4b24ce93fe\u0022",
        "mise-correlation-id": "46c4c32a-7156-4bd3-a76d-790e356e1091",
        "traceresponse": "00-f9c025d68780356992bed32201e07c67-ca67448a2ff5853d-01"
      },
      "ResponseBody": {
        "$dtId": "DTComponentTestsTempTwin",
        "$etag": "W/\u00225de34466-480a-4e24-a402-8c4b24ce93fe\u0022",
        "Prop1": "value",
        "Component1": {
          "ComponentProp1": "value1",
          "$metadata": {
            "$lastUpdateTime": "2022-09-29T04:02:53.0378243Z",
            "ComponentProp1": {
              "lastUpdateTime": "2022-09-29T04:02:53.0378243Z"
            }
          }
        },
        "$metadata": {
          "$model": "dtmi:com:samples:DTComponentTestsModel;1",
          "$lastUpdateTime": "2022-09-29T04:02:53.0378243Z",
          "Prop1": {
            "lastUpdateTime": "2022-09-29T04:02:53.0378243Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1/telemetry?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "ComponentTelemetry1": 5
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "4eedf7ba-a197-49d9-962d-53f8d152e77f",
        "traceresponse": "00-bd6143024855e21dcb15ad74e7382e96-6669ef1e2bee518a-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
