interactions:
- request:
    body: '{"query": "foo"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/query?api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"SqlQueryError","message":"SQL query parse failed:
        SQL Parser Error, Line=1, Position=0, Message=missing SELECT at ''foo'' See
        samples in https://aka.ms/adtv2query for the correct syntax."}}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-f20270ebdf6e8a409e7cb73e7a652754-7332c1b611310a41-01
    status:
      code: 400
      message: Bad Request
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/query?api-version=2021-06-30-preview
version: 1
