interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2021-06-30-preview
  response:
    body:
      string: '{"value":[{"id":"dtmi:com:samples:DTComponentTestsComponent;1","description":{},"displayName":{"en":"Component1"},"decommissioned":false,"uploadTime":"2022-03-25T21:10:15.8730792+00:00"},{"id":"dtmi:com:samples:DTComponentTestsModel;1","description":{},"displayName":{"en":"TempModel"},"decommissioned":false,"uploadTime":"2022-03-25T21:10:15.8731074+00:00"}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-d033a912a3e2084e8ed9ed390564ed09-2c40ef795d25fe48-01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3ADTComponentTestsComponent%3B1?api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"ModelReferencesNotDeleted","message":"This model
        is currently being referenced by dtmi:com:samples:DTComponentTestsModel;1.
        You must delete these references before deleting the Model.. To delete references,
        do Delete Model on Ids provided above."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-d32541b1fa7b6b4992fbc1d5e75099c0-5c43cea9a4a35b4f-01
    status:
      code: 409
      message: Conflict
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3ADTComponentTestsModel%3B1?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse:
      - 00-929a99b084fc2f4d97fc8162d753c428-5da29b0a97f7274c-01
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '[{"@id": "dtmi:samples:DTTestBuilding;1", "@type": "Interface", "@context":
      "dtmi:dtdl:context;2", "displayName": "Building", "contents": [{"@type": "Property",
      "name": "AverageTemperature", "schema": "double"}, {"@type": "Property", "name":
      "TemperatureUnit", "schema": "string"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview
  response:
    body:
      string: '[{"id":"dtmi:samples:DTTestBuilding;1","description":{},"displayName":{"en":"Building"},"decommissioned":false,"uploadTime":"2022-03-25T21:10:17.9335671+00:00"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-e64f009638db9e48b29018c45b99d9d4-faf2578701118640-01
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-ab481bb1?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse:
      - 00-db02c62cbeb0334280263bfcda5a88a1-bd0acda6fe739746-01
    status:
      code: 204
      message: No Content
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:DTTestBuilding;1"}, "AverageTemperature":
      68, "TemperatureUnit": "Celsius"}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-ab481bb1?api-version=2021-06-30-preview
  response:
    body:
      string: '{"$dtId":"digitalTwin-ab481bb1","$etag":"W/\"1429e160-19ed-47d5-929e-57022c374986\"","AverageTemperature":68,"TemperatureUnit":"Celsius","$metadata":{"$model":"dtmi:samples:DTTestBuilding;1","AverageTemperature":{"lastUpdateTime":"2022-03-25T21:10:18.2031741Z"},"TemperatureUnit":{"lastUpdateTime":"2022-03-25T21:10:18.2031741Z"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1429e160-19ed-47d5-929e-57022c374986"
      traceresponse:
      - 00-dc522f815f9a374e94acb47e26465657-9025ff213e335a4a-01
    status:
      code: 200
      message: OK
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:DTTestBuilding;1"}, "AverageTemperature":
      68, "TemperatureUnit": "Celsius"}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-ab481bb1?api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"PreconditionFailed","message":"If-None-Match: * header
        was specified but a twin with the id digitalTwin-ab481bb1 was found. Please
        specify a different twin id."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-2025c667dbb32741a57b6d6146a79a51-55c7fa057ad7ac49-01
    status:
      code: 412
      message: Precondition Failed
version: 1
