interactions:
- request:
    body: '[{"@id": "dtmi:samples:Building;1", "@type": "Interface", "@context": "dtmi:dtdl:context;2",
      "displayName": "Building", "contents": [{"@type": "Relationship", "name": "has",
      "target": "dtmi:samples:Floor;1", "properties": [{"@type": "Property", "name":
      "isAccessRestricted", "schema": "boolean"}]}, {"@type": "Property", "name":
      "AverageTemperature", "schema": "double"}]}, {"@id": "dtmi:samples:Floor;1",
      "@type": "Interface", "@context": "dtmi:dtdl:context;2", "displayName": "Floor",
      "contents": [{"@type": "Relationship", "name": "contains", "target": "dtmi:samples:Room;1"},
      {"@type": "Property", "name": "AverageTemperature", "schema": "double"}]}, {"@id":
      "dtmi:samples:Room;1", "@type": "Interface", "@context": "dtmi:dtdl:context;2",
      "displayName": "Room", "contents": [{"@type": "Property", "name": "Temperature",
      "schema": "double"}, {"@type": "Property", "name": "IsOccupied", "schema": "boolean"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2020-10-31
  response:
    body:
      string: '{"error":{"code":"ModelIdAlreadyExists","message":"Some of the model
        ids already exist: dtmi:samples:Building;1, dtmi:samples:Floor;1, dtmi:samples:Room;1.
        Use Model_List API to view models that already exist. See the Swagger example
        (http://aka.ms/ModelListSwSmpl)."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 409
      message: Conflict
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:Building;1"}, "AverageTemperature":
      68}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2020-10-31
  response:
    body:
      string: '{"$dtId":"DTRelationshipTestsBuildingTwin","$etag":"W/\"77cd7d53-7e1e-4f90-b514-0bb8435d78d0\"","AverageTemperature":68,"$metadata":{"$model":"dtmi:samples:Building;1","AverageTemperature":{"lastUpdateTime":"2020-11-09T07:28:50.3167167Z"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"77cd7d53-7e1e-4f90-b514-0bb8435d78d0"
    status:
      code: 200
      message: OK
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:Floor;1"}, "AverageTemperature":
      75}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin?api-version=2020-10-31
  response:
    body:
      string: '{"$dtId":"DTRelationshipTestsFloorTwin","$etag":"W/\"a3f8180e-e2d8-404f-8692-34af209b06c9\"","AverageTemperature":75,"$metadata":{"$model":"dtmi:samples:Floor;1","AverageTemperature":{"lastUpdateTime":"2020-11-09T07:28:51.5499731Z"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a3f8180e-e2d8-404f-8692-34af209b06c9"
    status:
      code: 200
      message: OK
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:Room;1"}, "Temperature": 80, "IsOccupied":
      true}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2020-10-31
  response:
    body:
      string: '{"$dtId":"DTRelationshipTestsRoomTwin","$etag":"W/\"ef9f90be-58d7-4a3a-ae36-10a089b23731\"","Temperature":80,"IsOccupied":true,"$metadata":{"$model":"dtmi:samples:Room;1","Temperature":{"lastUpdateTime":"2020-11-09T07:28:51.8455322Z"},"IsOccupied":{"lastUpdateTime":"2020-11-09T07:28:51.8455322Z"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ef9f90be-58d7-4a3a-ae36-10a089b23731"
    status:
      code: 200
      message: OK
- request:
    body: '{"$relationshipId": "BuildingHasFloor", "$sourceId": "DTRelationshipTestsBuildingTwin",
      "$relationshipName": "has", "$targetId": "DTRelationshipTestsFloorTwin", "isAccessRestricted":
      false}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2020-10-31
  response:
    body:
      string: '{"$relationshipId":"BuildingHasFloor","$etag":"W/\"3f22de06-7960-42ef-86ee-1d73a27110a9\"","$sourceId":"DTRelationshipTestsBuildingTwin","$relationshipName":"has","$targetId":"DTRelationshipTestsFloorTwin","isAccessRestricted":false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3f22de06-7960-42ef-86ee-1d73a27110a9"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2020-10-31
  response:
    body:
      string: '{"$relationshipId":"BuildingHasFloor","$etag":"W/\"3f22de06-7960-42ef-86ee-1d73a27110a9\"","$sourceId":"DTRelationshipTestsBuildingTwin","$relationshipName":"has","$targetId":"DTRelationshipTestsFloorTwin","isAccessRestricted":false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3f22de06-7960-42ef-86ee-1d73a27110a9"
    status:
      code: 200
      message: OK
version: 1
