interactions:
- request:
    body: '{"ComponentTelemetry1": 5}'
    headers:
      Content-Type:
      - application/json
      Message-Id:
      - e3e8ac2e-2904-4a0e-a451-e16755e3fdb2
      Telemetry-Source-Time:
      - '2022-05-26T07:27:17.382225Z'
    method: POST
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/foo/components/Component1/telemetry?api-version=2022-05-31
  response:
    body:
      string: '{"error":{"code":"DigitalTwinNotFound","message":"There is no digital
        twin instance that exists with the ID foo. Please verify that the twin id
        is valid and ensure that the twin is not deleted. See section on querying
        the twins https://aka.ms/adtv2query."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-71e78be42415a04b816ca036bd6c11ab-5a7eacfb8db17740-01
    status:
      code: 404
      message: Not Found
- request:
    body: '{"ComponentTelemetry1": 5}'
    headers:
      Content-Type:
      - application/json
      Message-Id:
      - 39a8bf0d-3cbb-44fb-b755-23fb8c76b893
      Telemetry-Source-Time:
      - '2022-05-26T07:27:18.142958Z'
    method: POST
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/foo/components/Component2/telemetry?api-version=2022-05-31
  response:
    body:
      string: '{"error":{"code":"DigitalTwinNotFound","message":"There is no digital
        twin instance that exists with the ID foo. Please verify that the twin id
        is valid and ensure that the twin is not deleted. See section on querying
        the twins https://aka.ms/adtv2query."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-88f8645c25f89b439fb5d5b49b0df7af-bef72b10ead6f54f-01
    status:
      code: 404
      message: Not Found
version: 1
