interactions:
- request:
    body: '{"endpointName": "endpoint-5398160f", "filter": "$eventType = ''DigitalTwinTelemetryMessages''
      or $eventType = ''DigitalTwinLifecycleNotification''"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/eventroutes/eventRoute-5398160f?api-version=2022-05-31
  response:
    body:
      string: '{"error":{"code":"EventRouteEndpointInvalid","message":"The endpoint
        provided does not exist or is not active. Check that your endpoint is provisioned
        correctly. See event route documentation (https://aka.ms/ADTv2Routes)."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - c6a74157-ab4a-43ca-a0bd-27474734ebfd
      traceresponse:
      - 00-3bb7dcc82f179042b80d23d24e7493ef-a2c96b59da300346-01
    status:
      code: 400
      message: Bad Request
version: 1
