interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2021-06-30-preview
  response:
    body:
      string: '{"value":[{"id":"dtmi:samples:DTTestBuilding;1","description":{},"displayName":{"en":"Building"},"decommissioned":false,"uploadTime":"2022-03-28T15:03:48.8652891+00:00"}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-c87a45f82d1bb149b4b916d9467821b0-3536c73cdeade84e-01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse:
      - 00-7ee018a0348b0146bdb9244d1d5c91a8-20c9f76db4b77b41-01
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '[{"@id": "dtmi:samples:DTTestBuilding;1", "@type": "Interface", "@context":
      "dtmi:dtdl:context;2", "displayName": "Building", "contents": [{"@type": "Property",
      "name": "AverageTemperature", "schema": "double"}, {"@type": "Property", "name":
      "TemperatureUnit", "schema": "string"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview
  response:
    body:
      string: '[{"id":"dtmi:samples:DTTestBuilding;1","description":{},"displayName":{"en":"Building"},"decommissioned":false,"uploadTime":"2022-03-28T15:03:51.5644085+00:00"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-eb05a8872d39484c94a8d658b2c2f988-fc39e2398a171b4c-01
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-cb71498?api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"DigitalTwinNotFound","message":"There is no digital
        twin instance that exists with the ID digitalTwin-cb71498. Please verify that
        the twin id is valid and ensure that the twin is not deleted. See section
        on querying the twins https://aka.ms/adtv2query."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-294dc4690135ca419611e739b00112c6-770f55903fcc2d43-01
    status:
      code: 404
      message: Not Found
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:DTTestBuilding;1"}, "LowestTemperature":
      68}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-cb71498?api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"ValidationFailed","message":"Invalid twin specified","details":[{"code":"ValidationFailed","message":"LowestTemperature
        does not appear on the DTDL for Twin."}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-ab86edefca21c24eabfb301a5ca477aa-0eab14482c26c047-01
    status:
      code: 400
      message: Bad Request
version: 1
