interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2021-06-30-preview
  response:
    body:
      string: '{"value":[{"id":"dtmi:samples:DTTestBuilding;1","description":{},"displayName":{"en":"Building"},"decommissioned":false,"uploadTime":"2022-03-28T15:04:41.5829509+00:00"}],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-94d093d95b506c43a2dbda633276bae2-87767a6eef08b34d-01
    status:
      code: 200
      message: OK
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2021-06-30-preview
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi:samples:DTTestBuilding;1?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse: 00-5994c21309dbf643a54280881092c5ad-4eea31ba3df01749-01
    status:
      code: 204
      message: No Content
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/models/dtmi:samples:DTTestBuilding;1?api-version=2021-06-30-preview
[...]
- request:
    body: '[{"@id": "dtmi:samples:DTTestBuilding;1", "@type": "Interface", "@context":
      "dtmi:dtdl:context;2", "displayName": "Building", "contents": [{"@type": "Property",
      "name": "AverageTemperature", "schema": "double"}, {"@type": "Property", "name":
      "TemperatureUnit", "schema": "string"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview
  response:
    body:
      string: '[{"id":"dtmi:samples:DTTestBuilding;1","description":{},"displayName":{"en":"Building"},"decommissioned":false,"uploadTime":"2022-03-28T15:04:43.1402815+00:00"}]'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-560a47d5904d604393c92bf2960e9bc5-e091a8ccb2904447-01
    status:
      code: 201
      message: Created
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-1c1020c1?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse: 00-3abcbd3b7c82234c911bef192162cfec-d29c11eeafceda48-01
    status:
      code: 204
      message: No Content
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-1c1020c1?api-version=2021-06-30-preview
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:DTTestBuilding;1"}, "AverageTemperature":
      68, "TemperatureUnit": "Celsius"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-1c1020c1?api-version=2021-06-30-preview
  response:
    body:
      string: '{"$dtId":"digitalTwin-1c1020c1","$etag":"W/\"141ea32f-4527-4d03-9b29-3bd61b3dee06\"","AverageTemperature":68,"TemperatureUnit":"Celsius","$metadata":{"$model":"dtmi:samples:DTTestBuilding;1","AverageTemperature":{"lastUpdateTime":"2022-03-28T15:04:43.3643287Z"},"TemperatureUnit":{"lastUpdateTime":"2022-03-28T15:04:43.3643287Z"}}}'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"141ea32f-4527-4d03-9b29-3bd61b3dee06"
      traceresponse: 00-addc56e501e9ee40a73748d35c113a22-5d6d1ea1f85b4544-01
    status:
      code: 200
      message: OK
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-1c1020c1?api-version=2021-06-30-preview
- request:
    body: '[{"op": "replace", "path": "/AverageTemperature", "value": 42}]'
    headers:
      Content-Type:
      - application/json-patch+json
      If-Match:
      - '*'
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-1c1020c1?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      etag: W/"e4302298-145d-4fd5-a548-00043257ad8f"
      traceresponse: 00-cfedb9ce6bfc184e885f4d43fc1a38e7-b2ef21b4d7fba140-01
    status:
      code: 204
      message: No Content
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-1c1020c1?api-version=2021-06-30-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-1c1020c1?api-version=2021-06-30-preview
  response:
    body:
      string: '{"$dtId":"digitalTwin-1c1020c1","$etag":"W/\"e4302298-145d-4fd5-a548-00043257ad8f\"","AverageTemperature":42,"TemperatureUnit":"Celsius","$metadata":{"$model":"dtmi:samples:DTTestBuilding;1","AverageTemperature":{"lastUpdateTime":"2022-03-28T15:04:43.4710090Z"},"TemperatureUnit":{"lastUpdateTime":"2022-03-28T15:04:43.3643287Z"}}}'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"e4302298-145d-4fd5-a548-00043257ad8f"
      traceresponse: 00-4a95e452bcab2842a783aa1bf3a71523-880f8bfe9377bf45-01
    status:
      code: 200
      message: OK
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-1c1020c1?api-version=2021-06-30-preview
version: 1
