interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2021-06-30-preview
  response:
    body:
      string: '{"value":[{"id":"dtmi:samples:DTTestBuilding;1","description":{},"displayName":{"en":"Building"},"decommissioned":false,"uploadTime":"2022-03-28T15:04:23.69616+00:00"}],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-e63e6414c0693e438ae4e9da4a64039a-655df75119dadf42-01
    status:
      code: 200
      message: OK
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2021-06-30-preview
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi:samples:DTTestBuilding;1?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse: 00-99a147ea17d1254e93362f0ef9fa1f31-781199a9ab13294d-01
    status:
      code: 204
      message: No Content
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/models/dtmi:samples:DTTestBuilding;1?api-version=2021-06-30-preview
[...]
- request:
    body: '[{"@id": "dtmi:samples:DTTestBuilding;1", "@type": "Interface", "@context":
      "dtmi:dtdl:context;2", "displayName": "Building", "contents": [{"@type": "Property",
      "name": "AverageTemperature", "schema": "double"}, {"@type": "Property", "name":
      "TemperatureUnit", "schema": "string"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview
  response:
    body:
      string: '[{"id":"dtmi:samples:DTTestBuilding;1","description":{},"displayName":{"en":"Building"},"decommissioned":false,"uploadTime":"2022-03-28T15:04:25.9641125+00:00"}]'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-cc53fda58190a348967418528070adbc-31a836d6b180704b-01
    status:
      code: 201
      message: Created
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-257a1992?api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"DigitalTwinNotFound","message":"There is no digital
        twin instance that exists with the ID digitalTwin-257a1992. Please verify
        that the twin id is valid and ensure that the twin is not deleted. See section
        on querying the twins https://aka.ms/adtv2query."}}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-4325229813f45d46993cb1b64d947fa7-9afa963fff484745-01
    status:
      code: 404
      message: Not Found
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-257a1992?api-version=2021-06-30-preview
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:DTTestBuilding;1"}, "LowestTemperature":
      68}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-257a1992?api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"ValidationFailed","message":"Invalid twin specified","details":[{"code":"ValidationFailed","message":"LowestTemperature
        does not appear on the DTDL for Twin."}]}}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-3d5f269df19ec641a821fd344e4a228c-778c9afbced57545-01
    status:
      code: 400
      message: Bad Request
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-257a1992?api-version=2021-06-30-preview
version: 1
