interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2021-06-30-preview
  response:
    body:
      string: '{"value":[{"id":"dtmi:com:samples:DTComponentTestsComponent;1","description":{},"displayName":{"en":"Component1"},"decommissioned":false,"uploadTime":"2022-03-28T15:03:18.6928845+00:00"},{"id":"dtmi:com:samples:DTComponentTestsModel;1","description":{},"displayName":{"en":"TempModel"},"decommissioned":false,"uploadTime":"2022-03-28T15:03:18.6929163+00:00"}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-61320a20ae873e45900870c4c9120aaa-2a59fa6b2c57a840-01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3ADTComponentTestsComponent%3B1?api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"ModelReferencesNotDeleted","message":"This model
        is currently being referenced by dtmi:com:samples:DTComponentTestsModel;1.
        You must delete these references before deleting the Model.. To delete references,
        do Delete Model on Ids provided above."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-b8aedb5fc4fa8c4fa51b93a480d589a2-3f41ea793776504a-01
    status:
      code: 409
      message: Conflict
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3ADTComponentTestsModel%3B1?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse:
      - 00-985896d8762daa4c812777310a9f51f2-60739f895305144e-01
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '[{"@id": "dtmi:com:samples:DTComponentTestsComponent;1", "@type": "Interface",
      "@context": "dtmi:dtdl:context;2", "displayName": "Component1", "contents":
      [{"@type": "Property", "name": "ComponentProp1", "schema": "string"}, {"@type":
      "Telemetry", "name": "ComponentTelemetry1", "schema": "integer"}]}, {"@id":
      "dtmi:com:samples:DTComponentTestsModel;1", "@type": "Interface", "@context":
      "dtmi:dtdl:context;2", "displayName": "TempModel", "contents": [{"@type": "Property",
      "name": "Prop1", "schema": "string"}, {"@type": "Component", "name": "Component1",
      "schema": "dtmi:com:samples:DTComponentTestsComponent;1"}, {"@type": "Telemetry",
      "name": "Telemetry1", "schema": "integer"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview
  response:
    body:
      string: '[{"id":"dtmi:com:samples:DTComponentTestsComponent;1","description":{},"displayName":{"en":"Component1"},"decommissioned":false,"uploadTime":"2022-03-28T15:03:21.0318684+00:00"},{"id":"dtmi:com:samples:DTComponentTestsModel;1","description":{},"displayName":{"en":"TempModel"},"decommissioned":false,"uploadTime":"2022-03-28T15:03:21.0319182+00:00"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-d6ad9a42582c3d449375456875a0624c-35bc1a4d1c5d9948-01
    status:
      code: 201
      message: Created
- request:
    body: '{"$metadata": {"$model": "dtmi:com:samples:DTComponentTestsModel;1"}, "Prop1":
      "value", "Component1": {"$metadata": {}, "ComponentProp1": "value1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin?api-version=2021-06-30-preview
  response:
    body:
      string: '{"$dtId":"DTComponentTestsTempTwin","$etag":"W/\"4952dbb1-6d8f-4394-a398-73475d94e277\"","Prop1":"value","Component1":{"ComponentProp1":"value1","$metadata":{"ComponentProp1":{"lastUpdateTime":"2022-03-28T15:03:21.1463348Z"}}},"$metadata":{"$model":"dtmi:com:samples:DTComponentTestsModel;1","Prop1":{"lastUpdateTime":"2022-03-28T15:03:21.1463348Z"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4952dbb1-6d8f-4394-a398-73475d94e277"
      traceresponse:
      - 00-9a6deb3e9edd6243aebc2e7e79184602-2bb57efca9efeb47-01
    status:
      code: 200
      message: OK
- request:
    body: '[{"op": "replace", "path": "/ComponentProp1", "value": "value2"}, {"op":
      "remove", "path": "/ComponentProp1"}]'
    headers:
      Content-Type:
      - application/json-patch+json
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      etag:
      - W/"6042a040-7955-4a4c-b6f7-58aa0b05c078"
      traceresponse:
      - 00-1eca477336b2664cb63f0ebbaa176f76-50aa3dc27d455545-01
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2021-06-30-preview
  response:
    body:
      string: '{"$metadata":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6042a040-7955-4a4c-b6f7-58aa0b05c078"
      traceresponse:
      - 00-934edae05b1a654aa7f84272041403ef-3d3336ea96496942-01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin?api-version=2021-06-30-preview
  response:
    body:
      string: '{"$dtId":"DTComponentTestsTempTwin","$etag":"W/\"6042a040-7955-4a4c-b6f7-58aa0b05c078\"","Prop1":"value","Component1":{"$metadata":{}},"$metadata":{"$model":"dtmi:com:samples:DTComponentTestsModel;1","Prop1":{"lastUpdateTime":"2022-03-28T15:03:21.1463348Z"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6042a040-7955-4a4c-b6f7-58aa0b05c078"
      traceresponse:
      - 00-98a8bd134f734840b6b1b768b2916e15-80b06e912a4a6b45-01
    status:
      code: 200
      message: OK
version: 1
