interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModeld5c11823;1?includeModelDefinition=false&api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"ModelNotFound","message":"There is no Model(s) available
        that matches the provided id(s) dtmi:com:samples:ComponentModeld5c11823;1.
        Check that the Model ID provided is valid by doing a Model_List API call."}}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-dd3c3599212c4e42919b8af7d452aa50-9541bde4a05d7c40-01
    status:
      code: 404
      message: Not Found
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModeld5c11823;1?includeModelDefinition=false&api-version=2021-06-30-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi:com:samples:TempModeld5c11823;1?includeModelDefinition=false&api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"ModelNotFound","message":"There is no Model(s) available
        that matches the provided id(s) dtmi:com:samples:TempModeld5c11823;1. Check
        that the Model ID provided is valid by doing a Model_List API call."}}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-41971ffe143bcb4fa347a449004c711f-87958a62a0856846-01
    status:
      code: 404
      message: Not Found
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/models/dtmi:com:samples:TempModeld5c11823;1?includeModelDefinition=false&api-version=2021-06-30-preview
- request:
    body: '[{"@id": "dtmi:com:samples:TempModeld5c11823;1", "@type": "Interface",
      "@context": "dtmi:dtdl:context;2", "displayName": "TempModel", "contents": [{"@type":
      "Property", "name": "Prop1", "schema": "string"}, {"@type": "Component", "name":
      "Component1", "schema": "dtmi:com:samples:ComponentModeld5c11823;1"}, {"@type":
      "Telemetry", "name": "Telemetry1", "schema": "integer"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"DTDLParserError","message":"None of the models in
        this request could be created due to a problem with one or more models: DtmiResolver
        failed to resolve requisite references to element(s): dtmi:com:samples:ComponentModeld5c11823;1.
        See model documentation(https://aka.ms/ADTv2Models) for supported format."}}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-7c782a5e65cbd642bffde71b6787b03c-a74d5cedee7d2745-01
    status:
      code: 400
      message: Bad Request
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview
version: 1
