interactions:
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:DTTestBuilding;1"}, "AverageTemperature":
      68, "TemperatureUnit": "Celsius"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-76d61187?api-version=2021-06-30-preview
  response:
    body:
      string: '{"$dtId":"digitalTwin-76d61187","$etag":"W/\"0ca5ad52-dda3-4be5-b470-799337be6bc4\"","AverageTemperature":68,"TemperatureUnit":"Celsius","$metadata":{"$model":"dtmi:samples:DTTestBuilding;1","AverageTemperature":{"lastUpdateTime":"2022-03-28T15:04:05.7169782Z"},"TemperatureUnit":{"lastUpdateTime":"2022-03-28T15:04:05.7169782Z"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0ca5ad52-dda3-4be5-b470-799337be6bc4"
      traceresponse:
      - 00-3bc40b168e5931419317a694f55349b8-ff9aa2d95f768840-01
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "SELECT * FROM digitaltwins"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/query?api-version=2021-06-30-preview
  response:
    body:
      string: '{"value":[{"$dtId":"DTComponentTestsTempTwin","$etag":"W/\"d43d56ca-804b-4ed1-9499-e9e63f933242\"","Prop1":"value","Component1":{"ComponentProp1":"value2","$metadata":{"ComponentProp1":{"lastUpdateTime":"2022-03-28T15:03:46.8962330Z"}}},"$metadata":{"$model":"dtmi:com:samples:DTComponentTestsModel;1","Prop1":{"lastUpdateTime":"2022-03-28T15:03:46.7897509Z"}}},{"$dtId":"digitalTwin-ab481bb1","$etag":"W/\"f0fc0864-f26f-4f31-873b-707adb582995\"","AverageTemperature":68,"TemperatureUnit":"Celsius","$metadata":{"$model":"dtmi:samples:DTTestBuilding;1","AverageTemperature":{"lastUpdateTime":"2022-03-28T15:03:49.1162169Z"},"TemperatureUnit":{"la[...]
