interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2022-05-31
  response:
    body:
      string: '{"value":[{"id":"dtmi:samples:DTTestBuilding;1","description":{},"displayName":{"en-US":"Building"},"decommissioned":false,"uploadTime":"2022-05-26T07:27:45.8347479+00:00"}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 0f867f75-a6ed-4661-8981-a21cca3c6683
      traceresponse:
      - 00-d5241951dcb31d4fa6405edc6d828ed9-d6ab1830eada8c4b-01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2022-05-31
  response:
    body:
      string: ''
    headers:
      mise-correlation-id:
      - 33c1cfca-d2d1-4127-957c-462065450b25
      traceresponse:
      - 00-b2da8d604ce49245988db06c9bfaea02-a0795dd032dd5a48-01
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '[{"@id": "dtmi:samples:DTTestBuilding;1", "@type": "Interface", "@context":
      "dtmi:dtdl:context;2", "displayName": "Building", "contents": [{"@type": "Property",
      "name": "AverageTemperature", "schema": "double"}, {"@type": "Property", "name":
      "TemperatureUnit", "schema": "string"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31
  response:
    body:
      string: '[{"id":"dtmi:samples:DTTestBuilding;1","description":{},"displayName":{"en-US":"Building"},"decommissioned":false,"uploadTime":"2022-05-26T07:27:46.6988664+00:00"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - ff23c678-2e02-4e2a-be36-290c8f049b01
      traceresponse:
      - 00-536ee9085c7fce42b9546655ee403fe8-2106b6c4c4b95d4f-01
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-73f21151?api-version=2022-05-31
  response:
    body:
      string: '{"error":{"code":"DigitalTwinNotFound","message":"There is no digital
        twin instance that exists with the ID digitalTwin-73f21151. Please verify
        that the twin id is valid and ensure that the twin is not deleted. See section
        on querying the twins https://aka.ms/adtv2query."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-04b8e264c169dc4c8dbd3d0c21d40d48-1dcaf288d6717646-01
    status:
      code: 404
      message: Not Found
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:DTTestBuilding;1"}, "AverageTemperature":
      68, "TemperatureUnit": "Celsius"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-73f21151?api-version=2022-05-31
  response:
    body:
      string: '{"$dtId":"digitalTwin-73f21151","$etag":"W/\"3e995cdd-acab-418e-9bf8-c35c401438ba\"","AverageTemperature":68,"TemperatureUnit":"Celsius","$metadata":{"$model":"dtmi:samples:DTTestBuilding;1","$lastUpdateTime":"2022-05-26T07:27:46.8143877Z","AverageTemperature":{"lastUpdateTime":"2022-05-26T07:27:46.8143877Z"},"TemperatureUnit":{"lastUpdateTime":"2022-05-26T07:27:46.8143877Z"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3e995cdd-acab-418e-9bf8-c35c401438ba"
      traceresponse:
      - 00-98f68349102faf499c72dbbe7b1ca484-93477cd98c528b4f-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-73f21151?api-version=2022-05-31
  response:
    body:
      string: '{"error":{"code":"DigitalTwinNotFound","message":"There is no digital
        twin instance that exists with the ID digitalTwin-73f21151. Please verify
        that the twin id is valid and ensure that the twin is not deleted. See section
        on querying the twins https://aka.ms/adtv2query."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-13869efc3ecedf438637c4fc5958f8fa-5425da0cdd54a14c-01
    status:
      code: 404
      message: Not Found
version: 1
