interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModel988f1233%3B1?includeModelDefinition=false&api-version=2022-05-31
  response:
    body:
      string: '{"error":{"code":"ModelNotFound","message":"There is no Model(s) available
        that matches the provided id(s) dtmi:com:samples:ComponentModel988f1233;1.
        Check that the Model ID provided is valid by doing a Model_List API call."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 3469a48d-4701-4eee-b710-b1f335c9ccca
      traceresponse:
      - 00-5e9947c00a0cb64bbc9d0bd589871183-d30c633a7f82a447-01
    status:
      code: 404
      message: Not Found
- request:
    body: '[{"@id": "dtmi:com:samples:ComponentModel988f1233;1", "@type": "Interface",
      "@context": ["dtmi:dtdl:context;2"], "displayName": "Component1", "contents":
      [{"@type": "Property", "name": "ComponentProp1", "schema": "string"}, {"@type":
      "Telemetry", "name": "ComponentTelemetry1", "schema": "integer"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31
  response:
    body:
      string: '[{"id":"dtmi:com:samples:ComponentModel988f1233;1","description":{},"displayName":{"en-US":"Component1"},"decommissioned":false,"uploadTime":"2022-05-26T07:28:34.6513627+00:00"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - e4550079-5181-4e40-9214-8b12d0717661
      traceresponse:
      - 00-d64cb72b6dfed54a924c0b6477777a48-29ca6ba0ac58fb49-01
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=true&api-version=2022-05-31
  response:
    body:
      string: '{"value":[{"id":"dtmi:samples:DTTestBuilding;1","description":{},"displayName":{"en-US":"Building"},"decommissioned":false,"uploadTime":"2022-05-26T07:28:18.0725301+00:00","model":{"@id":"dtmi:samples:DTTestBuilding;1","@type":"Interface","@context":"dtmi:dtdl:context;2","displayName":"Building","contents":[{"@type":"Property","name":"AverageTemperature","schema":"double"},{"@type":"Property","name":"TemperatureUnit","schema":"string"}]}},{"id":"dtmi:com:samples:TempModel2fc70f9f;1","description":{},"displayName":{"en-US":"TempModel"},"decommissioned":false,"uploadTime":"2022-05-26T07:28:22.8180695+00:00","model":{"@id":"dtmi:com:samples:TempModel2fc70f9f;1","@type":"Inte[...]
