interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModele1c813a8%3B1?includeModelDefinition=false&api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"ModelNotFound","message":"There is no Model(s) available
        that matches the provided id(s) dtmi:com:samples:ComponentModele1c813a8;1.
        Check that the Model ID provided is valid by doing a Model_List API call."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-fa07446a321b3d4d97c23cf762e9d3f8-1d87f9d55716e145-01
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3ATempModele1c813a8%3B1?includeModelDefinition=false&api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"ModelNotFound","message":"There is no Model(s) available
        that matches the provided id(s) dtmi:com:samples:TempModele1c813a8;1. Check
        that the Model ID provided is valid by doing a Model_List API call."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-7a1d2f55e556c24895db9a8c3c783c13-90b942f7f30c814e-01
    status:
      code: 404
      message: Not Found
- request:
    body: '[{"@id": "dtmi:com:samples:ComponentModele1c813a8;1", "@type": "Interface",
      "@context": "dtmi:dtdl:context;2", "displayName": "Component1", "contents":
      [{"@type": "Property", "name": "ComponentProp1", "schema": "string"}, {"@type":
      "Telemetry", "name": "ComponentTelemetry1", "schema": "integer"}]}, {"@id":
      "dtmi:com:samples:TempModele1c813a8;1", "@type": "Interface", "@context": "dtmi:dtdl:context;2",
      "displayName": "TempModel", "contents": [{"@type": "Property", "name": "Prop1",
      "schema": "string"}, {"@type": "Component", "name": "Component1", "schema":
      "dtmi:com:samples:ComponentModele1c813a8;1"}, {"@type": "Telemetry", "name":
      "Telemetry1", "schema": "integer"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview
  response:
    body:
      string: '[{"id":"dtmi:com:samples:ComponentModele1c813a8;1","description":{},"displayName":{"en":"Component1"},"decommissioned":false,"uploadTime":"2022-03-28T15:05:13.8944937+00:00"},{"id":"dtmi:com:samples:TempModele1c813a8;1","description":{},"displayName":{"en":"TempModel"},"decommissioned":false,"uploadTime":"2022-03-28T15:05:13.8945435+00:00"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-0a6013833ae92840aff4b778a24676a9-1e25f80042f84243-01
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModele1c813a8%3B1?api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"ModelReferencesNotDeleted","message":"This model
        is currently being referenced by dtmi:com:samples:TempModele1c813a8;1. You
        must delete these references before deleting the Model.. To delete references,
        do Delete Model on Ids provided above."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-dd4208b6e6088d4a922d1c3153529afe-78928b9857c20447-01
    status:
      code: 409
      message: Conflict
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3ATempModele1c813a8%3B1?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse:
      - 00-792250b29eeba74086298ed55cc0bd40-bf5109b0ac550f4f-01
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModele1c813a8%3B1?includeModelDefinition=false&api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"ModelNotFound","message":"There is no Model(s) available
        that matches the provided id(s) dtmi:com:samples:ComponentModele1c813a8;1.
        Check that the Model ID provided is valid by doing a Model_List API call."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-89ece47b52f6834e931ed842a70d9855-240855f1aa79d84f-01
    status:
      code: 404
      message: Not Found
version: 1
