interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModel3510e6b%3B1?includeModelDefinition=false&api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"ModelNotFound","message":"There is no Model(s) available
        that matches the provided id(s) dtmi:com:samples:ComponentModel3510e6b;1.
        Check that the Model ID provided is valid by doing a Model_List API call."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-d9039e8b6d19664685086e90b0165ed7-948f275cfd7c3d4c-01
    status:
      code: 404
      message: Not Found
- request:
    body: '[{"@id": "dtmi:com:samples:ComponentModel3510e6b;1", "@type": "Interface",
      "@context": "dtmi:dtdl:context;2", "displayName": "Component1", "contents":
      [{"@type": "Property", "name": "ComponentProp1", "schema": "string"}, {"@type":
      "Telemetry", "name": "ComponentTelemetry1", "schema": "integer"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview
  response:
    body:
      string: '[{"id":"dtmi:com:samples:ComponentModel3510e6b;1","description":{},"displayName":{"en":"Component1"},"decommissioned":false,"uploadTime":"2022-03-25T21:11:32.6134124+00:00"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-7433bd5c1b822f46896051e28e417a2f-76d5e6fe106eee45-01
    status:
      code: 201
      message: Created
[...]
- request:
    body: '[{"op": "replace", "path": "/decommissioned", "value": true}]'
    headers:
      Content-Type:
      - application/json-patch+json
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModel3510e6b%3B1?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse:
      - 00-186c74a75862f1489315e29347e1f783-c009603092bc8e4e-01
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModel3510e6b%3B1?includeModelDefinition=false&api-version=2021-06-30-preview
  response:
    body:
      string: '{"id":"dtmi:com:samples:ComponentModel3510e6b;1","description":{},"displayName":{"en":"Component1"},"decommissioned":true,"uploadTime":"2022-03-25T21:11:32.6134124+00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-40485f17357fc34d8dc55eb7826f1264-c0174bccce6a424c-01
    status:
      code: 200
      message: OK
version: 1
