interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModelcd381329%3B1?includeModelDefinition=false&api-version=2022-05-31
  response:
    body:
      string: '{"error":{"code":"ModelNotFound","message":"There is no Model(s) available
        that matches the provided id(s) dtmi:com:samples:ComponentModelcd381329;1.
        Check that the Model ID provided is valid by doing a Model_List API call."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 9c99fcc8-1a37-4bbc-b2e5-dfeca492430d
      traceresponse:
      - 00-0b31bcf8a92715409121d75abe3fa526-c1db8e1b10a00c43-01
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3ATempModelcd381329%3B1?includeModelDefinition=false&api-version=2022-05-31
  response:
    body:
      string: '{"error":{"code":"ModelNotFound","message":"There is no Model(s) available
        that matches the provided id(s) dtmi:com:samples:TempModelcd381329;1. Check
        that the Model ID provided is valid by doing a Model_List API call."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 9d96a7a0-6c78-4972-82f8-fb3c3799d9ed
      traceresponse:
      - 00-d4741e619b781243a017b982aebf15d3-dbf746c1aa08f44a-01
    status:
      code: 404
      message: Not Found
- request:
    body: '[{"@id": "dtmi:com:samples:TempModelcd381329;1", "@type": "Interface",
      "@context": "dtmi:dtdl:context;2", "displayName": "TempModel", "contents": [{"@type":
      "Property", "name": "Prop1", "schema": "string"}, {"@type": "Component", "name":
      "Component1", "schema": "dtmi:com:samples:ComponentModelcd381329;1"}, {"@type":
      "Telemetry", "name": "Telemetry1", "schema": "integer"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31
  response:
    body:
      string: '{"error":{"code":"DTDLParserError","message":"None of the models in
        this request could be created due to a problem with one or more models: DtmiResolverAsync
        failed to resolve requisite references to element(s): dtmi:com:samples:ComponentModelcd381329;1.
        See model documentation(https://aka.ms/ADTv2Models) for supported format."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - b9cb7465-e74e-4705-95db-8b4e93d07664
      traceresponse:
      - 00-6d3d96971d53104f867560caec5799aa-365f0b553516d546-01
    status:
      code: 400
      message: Bad Request
version: 1
