interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2021-06-30-preview
  response:
    body:
      string: '{"value":[{"id":"dtmi:samples:RelationshipTestBuilding;1","description":{},"displayName":{"en":"Building"},"decommissioned":false,"uploadTime":"2022-03-28T15:07:25.6238631+00:00"},{"id":"dtmi:samples:RelationshipTestFloor;1","description":{},"displayName":{"en":"Floor"},"decommissioned":false,"uploadTime":"2022-03-28T15:07:25.6238895+00:00"},{"id":"dtmi:samples:RelationshipTestRoom;1","description":{},"displayName":{"en":"Room"},"decommissioned":false,"uploadTime":"2022-03-28T15:07:25.6239079+00:00"}],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-d745629319e61a44b022885421e532de-bd03add0972d7e49-01
    status:
      code: 200
      message: OK
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2021-06-30-preview
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestBuilding;1?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse: 00-5bf038184bce884ea2b5fc5621dadd44-61dca3256cd3cc4f-01
    status:
      code: 204
      message: No Content
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestBuilding;1?api-version=2021-06-30-preview
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestFloor;1?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse: 00-13cc8b06def4b342b7e2099f05c6e242-1f48cfab4149114c-01
    status:
      code: 204
      message: No Content
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestFloor;1?api-version=2021-06-30-preview
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestRoom;1?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse: 00-bf08f2f3fd62fc40a20bdd13d5b70a34-92f4076b889a2040-01
    status:
      code: 204
      message: No Content
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestRoom;1?api-version=2021-06-30-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin/relationships?api-version=2021-06-30-preview
  response:
    body:
      string: '{"nextLink":null,"value":[]}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-7b9ed0b69f2819438741968d405b57fb-4c93f5e8a6d5f547-01
    status:
      code: 200
      message: OK
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin/relationships?api-version=2021-06-30-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin/relationships?api-version=2021-06-30-preview
  response:
    body:
      string: '{"nextLink":null,"value":[]}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-ad15c7b3b9ea094b82685d991492e5a1-a55b0569d9ef3945-01
    status:
      code: 200
      message: OK
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin/relationships?api-version=2021-06-30-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships?api-version=2021-06-30-preview
  response:
    body:
      string: '{"nextLink":null,"value":[{"$relationshipId":"BuildingHasFloor","$etag":"W/\"98619872-195c-4149-b132-dd0c08ad1cad\"","$sourceId":"DTRelationshipTestsBuildingTwin","$relationshipName":"has","$targetId":"DTRelationshipTestsFloorTwin"}]}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-401c80452c622247b6f524d5b43af027-5fc63c118cfff440-01
    status:
      code: 200
      message: OK
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships?api-version=2021-06-30-preview
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse: 00-576f620ef820d944a895b92d1678828a-2eaa658d9bd1e343-01
    status:
      code: 204
      message: No Content
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2021-06-30-preview
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse: 00-2e5f2e063f579943be37b3225ac450f5-0860b8676aafc948-01
    status:
      code: 204
      message: No Content
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2021-06-30-preview
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse: 00-6316291bddf312459d64f3f9ed3cacc2-50fced86f5440f42-01
    status:
      code: 204
      message: No Content
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin?api-version=2021-06-30-preview
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse: 00-a81aa825d8add547bbda6aec17576916-7f224e52c67e1042-01
    status:
      code: 204
      message: No Content
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2021-06-30-preview
- request:
    body: '[{"@id": "dtmi:samples:RelationshipTestBuilding;1", "@type": "Interface",
      "@context": "dtmi:dtdl:context;2", "displayName": "Building", "contents": [{"@type":
      "Relationship", "name": "has", "target": "dtmi:samples:RelationshipTestFloor;1",
      "properties": [{"@type": "Property", "name": "isAccessRestricted", "schema":
      "boolean"}]}, {"@type": "Property", "name": "AverageTemperature", "schema":
      "double"}]}, {"@id": "dtmi:samples:RelationshipTestFloor;1", "@type": "Interface",
      "@context": "dtmi:dtdl:context;2", "displayName": "Floor", "contents": [{"@type":
      "Relationship", "name": "contains", "target": "dtmi:samples:RelationshipTestRoom;1"},
      {"@type": "Property", "name": "AverageTemperature", "schema": "double"}]}, {"@id":
      "dtmi:samples:RelationshipTestRoom;1", "@type": "Interface", "@context": "dtmi:dtdl:context;2",
      "displayName": "Room", "contents": [{"@type": "Property", "name": "Temperature",
      "schema": "double"}, {"@type": "Property", "name": "IsOccupied", "schema": "boolean"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview
  response:
    body:
      string: '[{"id":"dtmi:samples:RelationshipTestBuilding;1","description":{},"displayName":{"en":"Building"},"decommissioned":false,"uploadTime":"2022-03-28T15:07:28.5645202+00:00"},{"id":"dtmi:samples:RelationshipTestFloor;1","description":{},"displayName":{"en":"Floor"},"decommissioned":false,"uploadTime":"2022-03-28T15:07:28.5645438+00:00"},{"id":"dtmi:samples:RelationshipTestRoom;1","description":{},"displayName":{"en":"Room"},"decommissioned":false,"uploadTime":"2022-03-28T15:07:28.5645608+00:00"}]'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-b82dd34b1e7da74fa0af39f505c2986f-8f38054bed9ee14b-01
    status:
      code: 201
      message: Created
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:RelationshipTestBuilding;1"}, "AverageTemperature":
      68}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2021-06-30-preview
  response:
    body:
      string: '{"$dtId":"DTRelationshipTestsBuildingTwin","$etag":"W/\"cf1965c9-61a4-47cc-95c1-1f037599613f\"","AverageTemperature":68,"$metadata":{"$model":"dtmi:samples:RelationshipTestBuilding;1","AverageTemperature":{"lastUpdateTime":"2022-03-28T15:07:28.6873562Z"}}}'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"cf1965c9-61a4-47cc-95c1-1f037599613f"
      traceresponse: 00-204e0baf5342b644a5e849c93db9f35f-8ea901de5d04ba41-01
    status:
      code: 200
      message: OK
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2021-06-30-preview
[...]
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:RelationshipTestRoom;1"}, "Temperature":
      80, "IsOccupied": true}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2021-06-30-preview
  response:
    body:
      string: '{"$dtId":"DTRelationshipTestsRoomTwin","$etag":"W/\"ee67a9db-4f9b-40ae-9466-23ac4beed0a3\"","Temperature":80,"IsOccupied":true,"$metadata":{"$model":"dtmi:samples:RelationshipTestRoom;1","Temperature":{"lastUpdateTime":"2022-03-28T15:07:28.9221411Z"},"IsOccupied":{"lastUpdateTime":"2022-03-28T15:07:28.9221411Z"}}}'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"ee67a9db-4f9b-40ae-9466-23ac4beed0a3"
      traceresponse: 00-0b88ebac1dcc8f4bbf695f5e173113ba-b84b5ed590b4294a-01
    status:
      code: 200
      message: OK
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2021-06-30-preview
- request:
    body: '{"$relationshipId": "BuildingHasFloor", "$sourceId": "DTRelationshipTestsBuildingTwin",
      "$relationshipName": "has", "$targetId": "DTRelationshipTestsFloorTwin", "isAccessRestricted":
      false}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2021-06-30-preview
  response:
    body:
      string: '{"$relationshipId":"BuildingHasFloor","$etag":"W/\"3f8d9f37-48b7-4458-83d5-f3c3a9514682\"","$sourceId":"DTRelationshipTestsBuildingTwin","$relationshipName":"has","$targetId":"DTRelationshipTestsFloorTwin","isAccessRestricted":false}'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"3f8d9f37-48b7-4458-83d5-f3c3a9514682"
      traceresponse: 00-b7b389267848e44fa0071ad4e04a847f-b1cfde71dd4a9549-01
    status:
      code: 200
      message: OK
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2021-06-30-preview
- request:
    body: '[{"op": "replace", "path": "/isAccessRestricted", "value": true}]'
    headers:
      Content-Type:
      - application/json-patch+json
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      etag: W/"4cdc3909-eda6-4b06-a3cf-6dbf6ee0dc64"
      traceresponse: 00-619f573d56a2fa4b8185946222c306ac-001e707c1baf6d4f-01
    status:
      code: 204
      message: No Content
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2021-06-30-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2021-06-30-preview
  response:
    body:
      string: '{"$relationshipId":"BuildingHasFloor","$etag":"W/\"4cdc3909-eda6-4b06-a3cf-6dbf6ee0dc64\"","$sourceId":"DTRelationshipTestsBuildingTwin","$relationshipName":"has","$targetId":"DTRelationshipTestsFloorTwin","isAccessRestricted":true}'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"4cdc3909-eda6-4b06-a3cf-6dbf6ee0dc64"
      traceresponse: 00-9b74a7b65de44f4fa1f60d6d9e160cb5-2817a0044e9cfc44-01
    status:
      code: 200
      message: OK
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2021-06-30-preview
version: 1
