interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2022-05-31
  response:
    body:
      string: '{"value":[{"id":"dtmi:samples:DTTestBuilding;1","description":{},"displayName":{"en-US":"Building"},"decommissioned":false,"uploadTime":"2022-05-26T07:28:03.1015512+00:00"}],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
      mise-correlation-id: 2248b6e0-df8f-4757-9f6d-a62075bc238e
      traceresponse: 00-98216c6487817c49ae841043c3c4f5e5-ed4e5c1dd9f45b43-01
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2022-05-31
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:samples:DTTestBuilding;1?api-version=2022-05-31
  response:
    body:
      string: ''
    headers:
      mise-correlation-id: e0b14505-e7bd-4630-a1bc-853f0c7eb250
      traceresponse: 00-3b3189c212214246ab44124d58841443-c1103ac0472dd34f-01
    status:
      code: 204
      message: No Content
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:samples:DTTestBuilding;1?api-version=2022-05-31
[...]
- request:
    body: '[{"@id": "dtmi:samples:DTTestBuilding;1", "@type": "Interface", "@context":
      "dtmi:dtdl:context;2", "displayName": "Building", "contents": [{"@type": "Property",
      "name": "AverageTemperature", "schema": "double"}, {"@type": "Property", "name":
      "TemperatureUnit", "schema": "string"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31
  response:
    body:
      string: '[{"id":"dtmi:samples:DTTestBuilding;1","description":{},"displayName":{"en-US":"Building"},"decommissioned":false,"uploadTime":"2022-05-26T07:28:03.9629251+00:00"}]'
    headers:
      content-type: application/json; charset=utf-8
      mise-correlation-id: 00272ca2-a1c0-4e71-baa8-f970eacd7ae3
      traceresponse: 00-53c6c775ec4b364ebc402aca9ecc3d57-13b7589a2dfde646-01
    status:
      code: 201
      message: Created
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-18fd20ab?api-version=2022-05-31
  response:
    body:
      string: ''
    headers:
      traceresponse: 00-78507dfdffd3e84a979e9df3842ba8b4-5cbba2d6e4603540-01
    status:
      code: 204
      message: No Content
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-18fd20ab?api-version=2022-05-31
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:DTTestBuilding;1"}, "AverageTemperature":
      68, "TemperatureUnit": "Celsius"}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-18fd20ab?api-version=2022-05-31
  response:
    body:
      string: '{"$dtId":"digitalTwin-18fd20ab","$etag":"W/\"c6f076b3-a60f-4098-8848-943920dfce0c\"","AverageTemperature":68,"TemperatureUnit":"Celsius","$metadata":{"$model":"dtmi:samples:DTTestBuilding;1","$lastUpdateTime":"2022-05-26T07:28:04.0840116Z","AverageTemperature":{"lastUpdateTime":"2022-05-26T07:28:04.0840116Z"},"TemperatureUnit":{"lastUpdateTime":"2022-05-26T07:28:04.0840116Z"}}}'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"c6f076b3-a60f-4098-8848-943920dfce0c"
      traceresponse: 00-3e80c8f9075d4f4bb10788675ed274e7-f9382a052e594640-01
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-18fd20ab?api-version=2022-05-31
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:DTTestBuilding;1"}, "AverageTemperature":
      68, "TemperatureUnit": "Celsius"}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-18fd20ab?api-version=2022-05-31
  response:
    body:
      string: '{"error":{"code":"PreconditionFailed","message":"If-None-Match: * header
        was specified but a twin with the id digitalTwin-18fd20ab was found. Please
        specify a different twin id."}}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-f3b692d1a912a742a8de98da7bb97fbd-b3f57783a0cba741-01
    status:
      code: 412
      message: Precondition Failed
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-18fd20ab?api-version=2022-05-31
version: 1
