interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2021-06-30-preview
  response:
    body:
      string: '{"value":[{"id":"dtmi:samples:DTTestBuilding;1","description":{},"displayName":{"en":"Building"},"decommissioned":false,"uploadTime":"2022-03-24T17:00:45.4900319+00:00"}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-4f8a16f91882c843952d7913ecae910e-13a0d94f0e5b8e4c-01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse:
      - 00-338e104f567c894a83c7f4193b021da7-ef794c1ba5b24c4a-01
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '[{"@id": "dtmi:samples:DTTestBuilding;1", "@type": "Interface", "@context":
      "dtmi:dtdl:context;2", "displayName": "Building", "contents": [{"@type": "Property",
      "name": "AverageTemperature", "schema": "double"}, {"@type": "Property", "name":
      "TemperatureUnit", "schema": "string"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview
  response:
    body:
      string: '[{"id":"dtmi:samples:DTTestBuilding;1","description":{},"displayName":{"en":"Building"},"decommissioned":false,"uploadTime":"2022-03-24T17:00:47.3079076+00:00"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-1c93285f0855684ab12a1eae864f4ece-8bd5aba790cec74e-01
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-e64e1c83?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse:
      - 00-993c4f4d43a9534ca61147f914735292-17aa4d11c9431b45-01
    status:
      code: 204
      message: No Content
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:DTTestBuilding;1"}, "AverageTemperature":
      68, "TemperatureUnit": "Celsius"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-e64e1c83?api-version=2021-06-30-preview
  response:
    body:
      string: '{"$dtId":"digitalTwin-e64e1c83","$etag":"W/\"4cc0f231-db0b-454c-8920-bc3a9cc5e7c4\"","AverageTemperature":68,"TemperatureUnit":"Celsius","$metadata":{"$model":"dtmi:samples:DTTestBuilding;1","AverageTemperature":{"lastUpdateTime":"2022-03-24T17:00:47.5725814Z"},"TemperatureUnit":{"lastUpdateTime":"2022-03-24T17:00:47.5725814Z"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4cc0f231-db0b-454c-8920-bc3a9cc5e7c4"
      traceresponse:
      - 00-0209a01e8f26d741a74f48a70ec7c504-bf7c96729455624a-01
    status:
      code: 200
      message: OK
- request:
    body: '[{"op": "replace", "path": "/AverageTemperature", "value": 42}]'
    headers:
      Content-Type:
      - application/json-patch+json
      If-Match:
      - W/"7e67a355-f19c-4c19-8a10-2d69b2d2253f"
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-e64e1c83?api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"PreconditionFailed","message":"The provided etag
        W/\"7e67a355-f19c-4c19-8a10-2d69b2d2253f\" doesn''t match the current etag
        for the resource. Please obtain and provide the latest etag by getting the
        resource. See section on get apis in the documentation https://aka.ms/adtv2twins."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-4e9cf7fad4eba84080d7a907e0a8c4ee-e7ec77c494e42c4c-01
    status:
      code: 412
      message: Precondition Failed
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-e64e1c83?api-version=2021-06-30-preview
  response:
    body:
      string: '{"$dtId":"digitalTwin-e64e1c83","$etag":"W/\"da3466f7-7b1b-4f39-aa58-a600413340b3\"","AverageTemperature":42,"TemperatureUnit":"Celsius","$metadata":{"$model":"dtmi:samples:DTTestBuilding;1","AverageTemperature":{"lastUpdateTime":"2022-03-24T17:00:47.8021458Z"},"TemperatureUnit":{"lastUpdateTime":"2022-03-24T17:00:47.5725814Z"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"da3466f7-7b1b-4f39-aa58-a600413340b3"
      traceresponse:
      - 00-19e6867cd2738f438a5d37f34509e22b-fde0e9bf567bf342-01
    status:
      code: 200
      message: OK
version: 1
