interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2020-10-31
  response:
    body:
      string: '{"value":[{"id":"dtmi:samples:RelationshipTestBuilding;1","description":{},"displayName":{"en":"Building"},"decommissioned":false,"uploadTime":"2020-11-24T21:16:23.0140548+00:00"},{"id":"dtmi:samples:RelationshipTestFloor;1","description":{},"displayName":{"en":"Floor"},"decommissioned":false,"uploadTime":"2020-11-24T21:16:23.0140834+00:00"},{"id":"dtmi:samples:RelationshipTestRoom;1","description":{},"displayName":{"en":"Room"},"decommissioned":false,"uploadTime":"2020-11-24T21:16:23.0141124+00:00"}],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2020-10-31
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestBuilding;1?api-version=2020-10-31
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestBuilding;1?api-version=2020-10-31
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestFloor;1?api-version=2020-10-31
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestFloor;1?api-version=2020-10-31
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestRoom;1?api-version=2020-10-31
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestRoom;1?api-version=2020-10-31
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin/relationships?api-version=2020-10-31
  response:
    body:
      string: '{"nextLink":null,"value":[]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin/relationships?api-version=2020-10-31
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin/relationships?api-version=2020-10-31
  response:
    body:
      string: '{"nextLink":null,"value":[]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin/relationships?api-version=2020-10-31
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships?api-version=2020-10-31
  response:
    body:
      string: '{"nextLink":null,"value":[{"$relationshipId":"BuildingHasFloor","$etag":"W/\"b9407e22-ef30-40d4-b50d-673e0b0f631a\"","$sourceId":"DTRelationshipTestsBuildingTwin","$relationshipName":"has","$targetId":"DTRelationshipTestsFloorTwin","isAccessRestricted":false}]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships?api-version=2020-10-31
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2020-10-31
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2020-10-31
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2020-10-31
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2020-10-31
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin?api-version=2020-10-31
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin?api-version=2020-10-31
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2020-10-31
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2020-10-31
- request:
    body: '[{"@id": "dtmi:samples:RelationshipTestBuilding;1", "@type": "Interface",
      "@context": "dtmi:dtdl:context;2", "displayName": "Building", "contents": [{"@type":
      "Relationship", "name": "has", "target": "dtmi:samples:RelationshipTestFloor;1",
      "properties": [{"@type": "Property", "name": "isAccessRestricted", "schema":
      "boolean"}]}, {"@type": "Property", "name": "AverageTemperature", "schema":
      "double"}]}, {"@id": "dtmi:samples:RelationshipTestFloor;1", "@type": "Interface",
      "@context": "dtmi:dtdl:context;2", "displayName": "Floor", "contents": [{"@type":
      "Relationship", "name": "contains", "target": "dtmi:samples:RelationshipTestRoom;1"},
      {"@type": "Property", "name": "AverageTemperature", "schema": "double"}]}, {"@id":
      "dtmi:samples:RelationshipTestRoom;1", "@type": "Interface", "@context": "dtmi:dtdl:context;2",
      "displayName": "Room", "contents": [{"@type": "Property", "name": "Temperature",
      "schema": "double"}, {"@type": "Property", "name": "IsOccupied", "schema": "boolean"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2020-10-31
  response:
    body:
      string: '[{"id":"dtmi:samples:RelationshipTestBuilding;1","description":{},"displayName":{"en":"Building"},"decommissioned":false,"uploadTime":"2020-11-24T21:16:30.3057882+00:00"},{"id":"dtmi:samples:RelationshipTestFloor;1","description":{},"displayName":{"en":"Floor"},"decommissioned":false,"uploadTime":"2020-11-24T21:16:30.3058147+00:00"},{"id":"dtmi:samples:RelationshipTestRoom;1","description":{},"displayName":{"en":"Room"},"decommissioned":false,"uploadTime":"2020-11-24T21:16:30.3058317+00:00"}]'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 201
      message: Created
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2020-10-31
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:RelationshipTestBuilding;1"}, "AverageTemperature":
      68}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2020-10-31
  response:
    body:
      string: '{"$dtId":"DTRelationshipTestsBuildingTwin","$etag":"W/\"d61f634c-4c0b-4173-93d9-35b4e868289e\"","AverageTemperature":68,"$metadata":{"$model":"dtmi:samples:RelationshipTestBuilding;1","AverageTemperature":{"lastUpdateTime":"2020-11-24T21:16:30.5661613Z"}}}'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"d61f634c-4c0b-4173-93d9-35b4e868289e"
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2020-10-31
[...]
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:RelationshipTestRoom;1"}, "Temperature":
      80, "IsOccupied": true}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2020-10-31
  response:
    body:
      string: '{"$dtId":"DTRelationshipTestsRoomTwin","$etag":"W/\"ac6eba2d-36ce-45ce-982e-ac7d4bb448ad\"","Temperature":80,"IsOccupied":true,"$metadata":{"$model":"dtmi:samples:RelationshipTestRoom;1","Temperature":{"lastUpdateTime":"2020-11-24T21:16:31.1465021Z"},"IsOccupied":{"lastUpdateTime":"2020-11-24T21:16:31.1465021Z"}}}'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"ac6eba2d-36ce-45ce-982e-ac7d4bb448ad"
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2020-10-31
[...]
- request:
    body: '[{"op": "replace", "path": "/isAccessRestricted", "value": true}, {"op":
      "remove", "path": "/isAccessRestricted"}]'
    headers:
      Content-Type:
      - application/json-patch+json
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2020-10-31
  response:
    body:
      string: ''
    headers:
      etag: W/"2c4ef1ab-350a-44e7-85e8-6fa7d14cf56f"
    status:
      code: 204
      message: No Content
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2020-10-31
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2020-10-31
  response:
    body:
      string: '{"$relationshipId":"BuildingHasFloor","$etag":"W/\"2c4ef1ab-350a-44e7-85e8-6fa7d14cf56f\"","$sourceId":"DTRelationshipTestsBuildingTwin","$relationshipName":"has","$targetId":"DTRelationshipTestsFloorTwin"}'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2c4ef1ab-350a-44e7-85e8-6fa7d14cf56f"
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2020-10-31
version: 1
