{
  "Entries": [
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "ad63dc13-cf36-407a-b29b-d9176636e5a6",
        "traceresponse": "00-03c40c61758e57d60ce35dac4693dedf-40b06c89f67e4eb6-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:com:samples:DTComponentTestsComponent;1",
            "description": {},
            "displayName": {
              "en": "Component1"
            },
            "decommissioned": false,
            "uploadTime": "2023-06-01T20:30:24.1337438\u002B00:00"
          },
          {
            "id": "dtmi:com:samples:DTComponentTestsModel;1",
            "description": {},
            "displayName": {
              "en": "TempModel"
            },
            "decommissioned": false,
            "uploadTime": "2023-06-01T20:30:24.1337672\u002B00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:DTComponentTestsComponent;1?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f67ee29c-f144-4802-a53f-2a52708156c0",
        "traceresponse": "00-80a2bc728e6ec6580a1ceb645dddc430-22c304d725f6dc78-01",
        "x-ms-error-code": "ModelReferencesNotDeleted"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelReferencesNotDeleted",
          "message": "This model is currently being referenced by dtmi:com:samples:DTComponentTestsModel;1. You must delete these references before deleting the Model.. To delete references, do Delete Model on Ids provided above."
        }
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:DTComponentTestsModel;1?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "9ac3324e-e250-4f6b-b93e-d165678f4665",
        "traceresponse": "00-f07414b4b0110fe68979c5a9598cecd5-0d850bb696d30602-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022@id\u0022: \u0022dtmi:com:samples:DTComponentTestsComponent;1\u0022, \u0022@type\u0022: \u0022Interface\u0022, \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022, \u0022displayName\u0022: \u0022Component1\u0022, \u0022contents\u0022: [{\u0022@type\u0022:[...]
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:com:samples:DTComponentTestsModel;1"
        },
        "Prop1": "value",
        "Component1": {
          "$metadata": {},
          "ComponentProp1": "value1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022422a850a-c3df-4c03-a21a-b3e5c695ba79\u0022",
        "mise-correlation-id": "c5d31207-38a1-454f-8ce4-b5510b741c53",
        "traceresponse": "00-b3806a7f4c3196b7c2f88c79e837798b-ccdb27c613a67adb-01"
      },
      "ResponseBody": {
        "$dtId": "DTComponentTestsTempTwin",
        "$etag": "W/\u0022422a850a-c3df-4c03-a21a-b3e5c695ba79\u0022",
        "Prop1": "value",
        "Component1": {
          "ComponentProp1": "value1",
          "$metadata": {
            "$lastUpdateTime": "2023-06-01T20:30:29.5863892Z",
            "ComponentProp1": {
              "lastUpdateTime": "2023-06-01T20:30:29.5863892Z"
            }
          }
        },
        "$metadata": {
          "$model": "dtmi:com:samples:DTComponentTestsModel;1",
          "$lastUpdateTime": "2023-06-01T20:30:29.5863892Z",
          "Prop1": {
            "lastUpdateTime": "2023-06-01T20:30:29.5863892Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022422a850a-c3df-4c03-a21a-b3e5c695ba79\u0022",
        "mise-correlation-id": "58590f66-b41b-42b0-84bb-63951afda308",
        "traceresponse": "00-100094b4baf6beeb7f7b428ebfaeabf7-a93d71e9c83115c6-01"
      },
      "ResponseBody": {
        "ComponentProp1": "value1",
        "$metadata": {
          "$lastUpdateTime": "2023-06-01T20:30:29.5863892Z",
          "ComponentProp1": {
            "lastUpdateTime": "2023-06-01T20:30:29.5863892Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022422a850a-c3df-4c03-a21a-b3e5c695ba79\u0022",
        "mise-correlation-id": "a5567919-ac49-4e09-9c7f-11cd38f9c9e7",
        "traceresponse": "00-da6adb9f3a3ba758a7054cdc2fbbb88a-a142620669b0ff35-01"
      },
      "ResponseBody": {
        "$dtId": "DTComponentTestsTempTwin",
        "$etag": "W/\u0022422a850a-c3df-4c03-a21a-b3e5c695ba79\u0022",
        "Prop1": "value",
        "Component1": {
          "ComponentProp1": "value1",
          "$metadata": {
            "$lastUpdateTime": "2023-06-01T20:30:29.5863892Z",
            "ComponentProp1": {
              "lastUpdateTime": "2023-06-01T20:30:29.5863892Z"
            }
          }
        },
        "$metadata": {
          "$model": "dtmi:com:samples:DTComponentTestsModel;1",
          "$lastUpdateTime": "2023-06-01T20:30:29.5863892Z",
          "Prop1": {
            "lastUpdateTime": "2023-06-01T20:30:29.5863892Z"
          }
        }
      }
    }
  ],
  "Variables": {}
}
