interactions:
- request:
    body: '[{"op": "replace", "path": "/ComponentProp1", "value": "value2"}]'
    headers:
      Content-Type:
      - application/json-patch+json
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component2?api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"JsonPatchInvalid","message":"Could not resolve path
        /Component2/ComponentProp1. Please provide a valid patch document. See section
        on update apis in the documentation https://aka.ms/adtv2twins."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-797d82e3810f5a40aa2b066dd07f9beb-35d7c49f4673814c-01
    status:
      code: 400
      message: Bad Request
- request:
    body: '[{"op": "replace", "path": "/ComponentProp1", "value": "value2"}]'
    headers:
      Content-Type:
      - application/json-patch+json
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/foo/components/Component2?api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"DigitalTwinNotFound","message":"There is no digital
        twin instance that exists with the ID foo. Please verify that the twin id
        is valid and ensure that the twin is not deleted. See section on querying
        the twins https://aka.ms/adtv2query."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-a70cfedfee3e434ebb81ee5eef4593af-0ccf48d77cce5240-01
    status:
      code: 404
      message: Not Found
version: 1
