interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2021-06-30-preview
  response:
    body:
      string: '{"value":[{"id":"dtmi:samples:DTTestBuilding;1","description":{},"displayName":{"en":"Building"},"decommissioned":false,"uploadTime":"2022-03-24T17:01:21.8427272+00:00"}],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-ac5a1eb87ccf154fa9c0d9e6e7b9752e-da5489b1f3525f49-01
    status:
      code: 200
      message: OK
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2021-06-30-preview
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi:samples:DTTestBuilding;1?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse: 00-9018b5a93049c545a93aa607d426270c-1c9004ff3739d446-01
    status:
      code: 204
      message: No Content
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/models/dtmi:samples:DTTestBuilding;1?api-version=2021-06-30-preview
[...]
- request:
    body: '[{"@id": "dtmi:samples:DTTestBuilding;1", "@type": "Interface", "@context":
      "dtmi:dtdl:context;2", "displayName": "Building", "contents": [{"@type": "Property",
      "name": "AverageTemperature", "schema": "double"}, {"@type": "Property", "name":
      "TemperatureUnit", "schema": "string"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview
  response:
    body:
      string: '[{"id":"dtmi:samples:DTTestBuilding;1","description":{},"displayName":{"en":"Building"},"decommissioned":false,"uploadTime":"2022-03-24T17:01:23.5224066+00:00"}]'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-f3c13674faca614aaee300220665f380-3e60dfb661877542-01
    status:
      code: 201
      message: Created
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-c9f81c10?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse: 00-b25c3b795452f14f82ca7c7b6a55a83c-a0bfb3a8185dec4c-01
    status:
      code: 204
      message: No Content
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-c9f81c10?api-version=2021-06-30-preview
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:DTTestBuilding;1"}, "AverageTemperature":
      68, "TemperatureUnit": "Celsius"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-c9f81c10?api-version=2021-06-30-preview
  response:
    body:
      string: '{"$dtId":"digitalTwin-c9f81c10","$etag":"W/\"7dca5b2e-e4d7-42a8-82b4-fcfd0bb536da\"","AverageTemperature":68,"TemperatureUnit":"Celsius","$metadata":{"$model":"dtmi:samples:DTTestBuilding;1","AverageTemperature":{"lastUpdateTime":"2022-03-24T17:01:23.7712548Z"},"TemperatureUnit":{"lastUpdateTime":"2022-03-24T17:01:23.7712548Z"}}}'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"7dca5b2e-e4d7-42a8-82b4-fcfd0bb536da"
      traceresponse: 00-599e68aa673b6348bdbfbdf1ffcad273-d70f004a093acb40-01
    status:
      code: 200
      message: OK
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-c9f81c10?api-version=2021-06-30-preview
- request:
    body: '[{"op": "move", "path": "/AverageTemperature", "value": 42}]'
    headers:
      Content-Type:
      - application/json-patch+json
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-c9f81c10?api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"JsonPatchInvalid","message":"Unsupported operation
        type move. Please provide a valid patch document. See section on update apis
        in the documentation https://aka.ms/adtv2twins."}}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-489867fb0eed6c4e8f7c8a87292c9c17-f9ff9cadde0dea45-01
    status:
      code: 400
      message: Bad Request
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-c9f81c10?api-version=2021-06-30-preview
- request:
    body: '["AverageTemperature"]'
    headers:
      Content-Type:
      - application/json-patch+json
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-c9f81c10?api-version=2021-06-30-preview
  response:
    body:
      string: '{"errors":{"[0]":["Error converting value \"AverageTemperature\" to
        type ''Microsoft.AspNetCore.JsonPatch.Operations.Operation''. Path ''[0]'',
        line 1, position 21."],"jsonPatchDocument":["The jsonPatchDocument field is
        required."]},"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"detail":null,"instance":null,"extensions":{"traceId":"|88981b05-44561c5ac53ae82b."}}'
    headers:
      content-type: application/problem+json; charset=utf-8
      traceresponse: 00-cee3fe79676606448c892f112798f9b1-eca41efcb17c614e-01
    status:
      code: 400
      message: Bad Request
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-c9f81c10?api-version=2021-06-30-preview
- request:
    body: '[{}]'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-c9f81c10?api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"InvalidArgument","message":"Payload is invalid."}}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-5b0af75654227b458b6611c164c8a1ec-792e9c38bb9a9340-01
    status:
      code: 400
      message: Bad Request
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-c9f81c10?api-version=2021-06-30-preview
version: 1
