interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2021-06-30-preview
  response:
    body:
      string: '{"value":[{"id":"dtmi:samples:DTTestBuilding;1","description":{},"displayName":{"en":"Building"},"decommissioned":false,"uploadTime":"2022-03-25T21:10:23.3848103+00:00"}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-51f665562aa91e4bbd8616ebfefe8fce-1cc07df9db91d743-01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse:
      - 00-0e04ae1c2adc144cac0d9e8f33db8b29-8121cbe54ae85c41-01
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '[{"@id": "dtmi:samples:DTTestBuilding;1", "@type": "Interface", "@context":
      "dtmi:dtdl:context;2", "displayName": "Building", "contents": [{"@type": "Property",
      "name": "AverageTemperature", "schema": "double"}, {"@type": "Property", "name":
      "TemperatureUnit", "schema": "string"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview
  response:
    body:
      string: '[{"id":"dtmi:samples:DTTestBuilding;1","description":{},"displayName":{"en":"Building"},"decommissioned":false,"uploadTime":"2022-03-25T21:10:25.0722491+00:00"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-fc2ef618da915d4f9ecc65ef76c4d032-4ff6523ad6a5384e-01
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-3b561da7?api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"DigitalTwinNotFound","message":"There is no digital
        twin instance that exists with the ID digitalTwin-3b561da7. Please verify
        that the twin id is valid and ensure that the twin is not deleted. See section
        on querying the twins https://aka.ms/adtv2query."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-0b29cc84d4aac8459cee1f3e4d542dc9-7ecaee5563352d4d-01
    status:
      code: 404
      message: Not Found
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:DTTestBuilding;1"}, "AverageTemperature":
      68, "TemperatureUnit": "Celsius"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-3b561da7?api-version=2021-06-30-preview
  response:
    body:
      string: '{"$dtId":"digitalTwin-3b561da7","$etag":"W/\"d39914da-48be-4198-8109-ee998ebc1486\"","AverageTemperature":68,"TemperatureUnit":"Celsius","$metadata":{"$model":"dtmi:samples:DTTestBuilding;1","AverageTemperature":{"lastUpdateTime":"2022-03-25T21:10:25.2991911Z"},"TemperatureUnit":{"lastUpdateTime":"2022-03-25T21:10:25.2991911Z"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d39914da-48be-4198-8109-ee998ebc1486"
      traceresponse:
      - 00-07371a8e26b80648bdb146275f885592-e1649bf599dacf48-01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - W/"7e67a355-f19c-4c19-8a10-2d69b2d2253f"
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-3b561da7?api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"PreconditionFailed","message":"The provided etag
        W/\"7e67a355-f19c-4c19-8a10-2d69b2d2253f\" doesn''t match the current etag
        for the resource. Please obtain and provide the latest etag by getting the
        resource. See section on get apis in the documentation https://aka.ms/adtv2twins."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-3c629fbe44b0c54da9ea2f8c5aa4440e-f97b13837432f14b-01
    status:
      code: 412
      message: Precondition Failed
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-3b561da7?api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"DigitalTwinNotFound","message":"There is no digital
        twin instance that exists with the ID digitalTwin-3b561da7. Please verify
        that the twin id is valid and ensure that the twin is not deleted. See section
        on querying the twins https://aka.ms/adtv2query."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-8a17feb53b46dc47a2ff86c5d6b3467e-b10a19ea05aacc41-01
    status:
      code: 404
      message: Not Found
version: 1
