interactions:
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:DTTestBuilding;1"}, "AverageTemperature":
      68, "TemperatureUnit": "Celsius"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-76d61187?api-version=2022-05-31
  response:
    body:
      string: '{"$dtId":"digitalTwin-76d61187","$etag":"W/\"d715c447-d7cb-4388-8406-5ed58454987b\"","AverageTemperature":68,"TemperatureUnit":"Celsius","$metadata":{"$model":"dtmi:samples:DTTestBuilding;1","$lastUpdateTime":"2022-05-26T07:27:53.3489344Z","AverageTemperature":{"lastUpdateTime":"2022-05-26T07:27:53.3489344Z"},"TemperatureUnit":{"lastUpdateTime":"2022-05-26T07:27:53.3489344Z"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d715c447-d7cb-4388-8406-5ed58454987b"
      traceresponse:
      - 00-bc1f199440d9404c8cceac32aab3182b-42f6fcef27ebaf4f-01
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "SELECT * FROM digitaltwins"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/query?api-version=2022-05-31
  response:
    body:
      string: '{"value":[{"$dtId":"DTComponentTestsTempTwin","$etag":"W/\"d87c7854-5f2f-422c-88c9-c8386f7eac87\"","Prop1":"value","Component1":{"ComponentProp1":"value2","$metadata":{"$lastUpdateTime":"2022-05-26T07:27:42.5837821Z","ComponentProp1":{"lastUpdateTime":"2022-05-26T07:27:42.5837821Z"}}},"$metadata":{"$model":"dtmi:com:samples:DTComponentTestsModel;1","$lastUpdateTime":"2022-05-26T07:27:42.5837821Z","Prop1":{"lastUpdateTime":"2022-05-26T07:27:42.5295003Z"}}},{"$dtId":"digitalTwin-ab481bb1","$etag":"W/\"347417e1-8389-439a-b64f-aaa6c6c306dd\"","AverageTemperature":68,"TemperatureUnit":"Celsius","$metadata":{"$model":"dtmi:samples:DTTestBuildin[...]
