interactions:
- request:
    body: '[{"op": "replace", "path": "/decommissioned", "value": true}]'
    headers:
      Content-Type:
      - application/json-patch+json
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi:com:samples:NonExistingModel;1?api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"ModelNotFound","message":"There is no Model(s) available
        that matches the provided id(s) dtmi:com:samples:NonExistingModel;1. Check
        that the Model ID provided is valid by doing a Model_List API call."}}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-56a312f7fb0c504aaf32263e3d7ae15e-d3ce06a0f051224d-01
    status:
      code: 404
      message: Not Found
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/models/dtmi:com:samples:NonExistingModel;1?api-version=2021-06-30-preview
version: 1
