interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModel31610f9b;1?includeModelDefinition=false&api-version=2022-05-31
  response:
    body:
      string: '{"error":{"code":"ModelNotFound","message":"There is no Model(s) available
        that matches the provided id(s) dtmi:com:samples:ComponentModel31610f9b;1.
        Check that the Model ID provided is valid by doing a Model_List API call."}}'
    headers:
      content-type: application/json; charset=utf-8
      mise-correlation-id: 0654787f-f7b3-49fa-aaa8-d91acf022e58
      traceresponse: 00-a2250086c436474ba0f55c59c5c0f5a9-71fac99920147b4c-01
    status:
      code: 404
      message: Not Found
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModel31610f9b;1?includeModelDefinition=false&api-version=2022-05-31
- request:
    body: '[{"@id": "dtmi:com:samples:ComponentModel31610f9b;1", "@type": "Interface",
      "@context": "dtmi:dtdl:context;2", "displayName": "Component1", "contents":
      [{"@type": "Property", "name": "ComponentProp1", "schema": "string"}, {"@type":
      "Telemetry", "name": "ComponentTelemetry1", "schema": "integer"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31
  response:
    body:
      string: '[{"id":"dtmi:com:samples:ComponentModel31610f9b;1","description":{},"displayName":{"en-US":"Component1"},"decommissioned":false,"uploadTime":"2022-05-26T07:28:40.9750087+00:00"}]'
    headers:
      content-type: application/json; charset=utf-8
      mise-correlation-id: 57392d55-c57f-43b7-bccf-5a212b8b7c9e
      traceresponse: 00-1e55b18286efaf4e863bf9c1ef14b3a7-6ab5c681cb6ca548-01
    status:
      code: 201
      message: Created
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModel31610f9b;1?includeModelDefinition=false&api-version=2022-05-31
  response:
    body:
      string: '{"id":"dtmi:com:samples:ComponentModel31610f9b;1","description":{},"displayName":{"en-US":"Component1"},"decommissioned":false,"uploadTime":"2022-05-26T07:28:40.9750087+00:00"}'
    headers:
      content-type: application/json; charset=utf-8
      mise-correlation-id: ba060ed3-5182-44fc-a549-d77549134cb7
      traceresponse: 00-55b0267cd266de44974ac33f6d4bd31c-bc1b280a79a44142-01
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModel31610f9b;1?includeModelDefinition=false&api-version=2022-05-31
version: 1
