interactions:
- request:
    body: '[{"@id": "dtmi:samples:Building;1", "@type": "Interface", "@context": "dtmi:dtdl:context;2",
      "displayName": "Building", "contents": [{"@type": "Relationship", "name": "has",
      "target": "dtmi:samples:Floor;1", "properties": [{"@type": "Property", "name":
      "isAccessRestricted", "schema": "boolean"}]}, {"@type": "Relationship", "name":
      "isEquippedWith", "target": "dtmi:samples:HVAC;1"}, {"@type": "Property", "name":
      "AverageTemperature", "schema": "double"}, {"@type": "Property", "name": "TemperatureUnit",
      "schema": "string"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2020-10-31
  response:
    body:
      string: '{"error":{"code":"ModelIdAlreadyExists","message":"Some of the model
        ids already exist: dtmi:samples:Building;1. Use Model_List API to view models
        that already exist. See the Swagger example (http://aka.ms/ModelListSwSmpl)."}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 409
      message: Conflict
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2020-10-31
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:Building;1"}, "AverageTemperature":
      68, "TemperatureUnit": "Celsius"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-5de9217d?api-version=2020-10-31
  response:
    body:
      string: '{"$dtId":"digitalTwin-5de9217d","$etag":"W/\"d75b466b-345f-4f5a-b9b2-ac740ad61456\"","AverageTemperature":68,"TemperatureUnit":"Celsius","$metadata":{"$model":"dtmi:samples:Building;1","AverageTemperature":{"lastUpdateTime":"2020-11-08T18:05:31.7153388Z"},"TemperatureUnit":{"lastUpdateTime":"2020-11-08T18:05:31.7153388Z"}}}'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"d75b466b-345f-4f5a-b9b2-ac740ad61456"
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-5de9217d?api-version=2020-10-31
- request:
    body: '[{"op": "replace", "path": "/AverageTemperature", "value": 42}]'
    headers:
      Content-Type:
      - application/json-patch+json
      If-Match:
      - W/"7e67a355-f19c-4c19-8a10-2d69b2d2253f"
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-5de9217d?api-version=2020-10-31
  response:
    body:
      string: '{"error":{"code":"PreconditionFailed","message":"The provided etag
        W/\"7e67a355-f19c-4c19-8a10-2d69b2d2253f\" doesn''t match the current etag
        for the resource. Please obtain and provide the latest etag by getting the
        resource. See section on get apis in the documentation http://aka.ms/adtv2twins."}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 412
      message: Precondition Failed
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-5de9217d?api-version=2020-10-31
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-5de9217d?api-version=2020-10-31
  response:
    body:
      string: '{"$dtId":"digitalTwin-5de9217d","$etag":"W/\"2a730fd2-6f05-47e3-a1f2-3e5f5207b621\"","AverageTemperature":42,"TemperatureUnit":"Celsius","$metadata":{"$model":"dtmi:samples:Building;1","AverageTemperature":{"lastUpdateTime":"2020-11-08T18:05:32.4532556Z"},"TemperatureUnit":{"lastUpdateTime":"2020-11-08T18:05:31.7153388Z"}}}'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2a730fd2-6f05-47e3-a1f2-3e5f5207b621"
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-5de9217d?api-version=2020-10-31
version: 1
