{
  "Entries": [
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "2f664c31-adc1-4741-bcf7-eac270b09ca7",
        "traceresponse": "00-e30356ec973119c1a81479f40a7a6aa0-163d4da9fb2377f9-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:samples:DTTestBuilding;1",
            "description": {},
            "displayName": {
              "en": "Building"
            },
            "decommissioned": false,
            "uploadTime": "2023-06-01T20:34:12.0551453\u002B00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models/dtmi:samples:DTTestBuilding;1?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "99dd46ee-1314-4adb-9f46-1aed9d8f005e",
        "traceresponse": "00-726b4eba0368275ef8610157b8bcaea7-362598f91a7eb35b-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022@id\u0022: \u0022dtmi:samples:DTTestBuilding;1\u0022, \u0022@type\u0022: \u0022Interface\u0022, \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022, \u0022displayName\u0022: \u0022Building\u0022, \u0022contents\u0022: [{\u0022@type\u0022: \u0022Property\u0022, \u0022name\u0022: \u0022AverageTemperature\u0022, \u0022schema\u0022: \u0022double\u0022}, {\u0022@type\u0022: \u0022Property\u0022, \u0022name\u0022: \u0022TemperatureUnit\u0022, \u0022schema\u0022: \u0022string\u0022}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "44b449ab-61b6-4940-84ab-5336e96d318a",
        "traceresponse": "00-eea2e351ab04d3a733ee6fc232bd5bdf-c0674cb0b57eeb2a-01"
      },
      "ResponseBody": "[{\u0022id\u0022:\u0022dtmi:samples:DTTestBuilding;1\u0022,\u0022description\u0022:{},\u0022displayName\u0022:{\u0022en\u0022:\u0022Building\u0022},\u0022decommissioned\u0022:false,\u0022uploadTime\u0022:\u00222023-06-01T20:34:13.5294867\u002B00:00\u0022}]"
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-5b613ae0?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "0fca5a8a-45be-4011-bfb7-adb570f6ce4e",
        "traceresponse": "00-a34dbc19f0e2d80ad19d578ca8153500-6be123e1d9329742-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-5b613ae0?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00220a6f204a-3b0b-4ccb-8b1f-e14d6ad74b6e\u0022",
        "mise-correlation-id": "4efe8640-e401-4758-a3f0-89b4b004e82f",
        "traceresponse": "00-67a2b6ca5fdb1b2e885e0056990eb1ec-c67579bc10893986-01"
      },
      "ResponseBody": {
        "$dtId": "digitalTwin-5b613ae0",
        "$etag": "W/\u00220a6f204a-3b0b-4ccb-8b1f-e14d6ad74b6e\u0022",
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2023-06-01T20:34:13.8053729Z",
          "AverageTemperature": {
            "lastUpdateTime": "2023-06-01T20:34:13.8053729Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2023-06-01T20:34:13.8053729Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-5b613ae0?api-version=2022-05-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json-patch\u002Bjson"
      },
      "RequestBody": "[{\u0022op\u0022: \u0022move\u0022, \u0022path\u0022: \u0022/AverageTemperature\u0022, \u0022value\u0022: 42}]",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8a91fcfa-3e6e-4fb8-86e2-443dd4005f6b",
        "traceresponse": "00-d20f2e356acbc328b638eccabb32972f-51efd5aaa5c13fab-01",
        "x-ms-error-code": "JsonPatchInvalid"
      },
      "ResponseBody": {
        "error": {
          "code": "JsonPatchInvalid",
          "message": "Unsupported operation type move. Please provide a valid patch document. See section on update apis in the documentation https://aka.ms/adtv2twins."
        }
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-5b613ae0?api-version=2022-05-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json-patch\u002Bjson"
      },
      "RequestBody": "[\u0022AverageTemperature\u0022]",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/problem\u002Bjson; charset=utf-8",
        "mise-correlation-id": "39c0cc3e-f4d7-473b-b741-ab71985f3ae9",
        "traceresponse": "00-dfdab62c5c0ff550da942b574f63e358-a29f5d3fa2ccc999-01"
      },
      "ResponseBody": {
        "errors": {
          "[0]": [
            "Error converting value \u0022AverageTemperature\u0022 to type \u0027Microsoft.AspNetCore.JsonPatch.Operations.Operation\u0027. Path \u0027[0]\u0027, line 1, position 21."
          ],
          "jsonPatchDocument": [
            "The jsonPatchDocument field is required."
          ]
        },
        "type": "https://tools.ietf.org/html/rfc7231#section-6.5.1",
        "title": "One or more validation errors occurred.",
        "status": 400,
        "detail": null,
        "instance": null,
        "extensions": {
          "traceId": "00-dfdab62c5c0ff550da942b574f63e358-45f7d8e7b7c33752-00"
        }
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-5b613ae0?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{}]",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b843b107-fec7-44f8-b717-ff216443a64a",
        "traceresponse": "00-b02ed01c12a62f4ed40e0b374de88321-3acb6a89e5918a32-01",
        "x-ms-error-code": "InvalidArgument"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidArgument",
          "message": "Payload is invalid."
        }
      }
    }
  ],
  "Variables": {}
}
