{
  "Entries": [
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "de636f07-2553-4583-aa3a-5b678df3eb02",
        "traceresponse": "00-6889ef801ea827dc65a2f59a87e186dc-4f2a79f3e28eff27-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:samples:DTTestBuilding;1",
            "description": {},
            "displayName": {
              "en": "Building"
            },
            "decommissioned": false,
            "uploadTime": "2023-06-01T20:33:59.4106505\u002B00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models/dtmi:samples:DTTestBuilding;1?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "b5449313-dc77-42d4-9726-82a63771fd03",
        "traceresponse": "00-759b0401418a6407eaa49297ca3d8e0a-f64c1318e6a6eb91-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022@id\u0022: \u0022dtmi:samples:DTTestBuilding;1\u0022, \u0022@type\u0022: \u0022Interface\u0022, \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022, \u0022displayName\u0022: \u0022Building\u0022, \u0022contents\u0022: [{\u0022@type\u0022: \u0022Property\u0022, \u0022name\u0022: \u0022AverageTemperature\u0022, \u0022schema\u0022: \u0022double\u0022}, {\u0022@type\u0022: \u0022Property\u0022, \u0022name\u0022: \u0022TemperatureUnit\u0022, \u0022schema\u0022: \u0022string\u0022}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c65cca35-b892-4a7f-ae0d-e9d9caa712f5",
        "traceresponse": "00-fbc141410f50f2902be174f704ffc148-9f71674843b46e28-01"
      },
      "ResponseBody": "[{\u0022id\u0022:\u0022dtmi:samples:DTTestBuilding;1\u0022,\u0022description\u0022:{},\u0022displayName\u0022:{\u0022en\u0022:\u0022Building\u0022},\u0022decommissioned\u0022:false,\u0022uploadTime\u0022:\u00222023-06-01T20:34:00.8257561\u002B00:00\u0022}]"
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-9bf033e8?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "2163d0e4-2f07-4280-80ae-12dc2fba241c",
        "traceresponse": "00-ca180c7bdb055633481bdd42372a4e71-05b73a96f3fa99fd-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-9bf033e8?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00225bda772f-8ac8-4229-b0ea-9abb9088c66d\u0022",
        "mise-correlation-id": "e4b333e0-2b5f-4900-a983-6999eb6940e7",
        "traceresponse": "00-0ceb5934be3a6cad565722c7bc17eb5e-e41e73db1330b64b-01"
      },
      "ResponseBody": {
        "$dtId": "digitalTwin-9bf033e8",
        "$etag": "W/\u00225bda772f-8ac8-4229-b0ea-9abb9088c66d\u0022",
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2023-06-01T20:34:01.1258715Z",
          "AverageTemperature": {
            "lastUpdateTime": "2023-06-01T20:34:01.1258715Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2023-06-01T20:34:01.1258715Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-9bf033e8?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00225bda772f-8ac8-4229-b0ea-9abb9088c66d\u0022",
        "mise-correlation-id": "f1e8c76f-394a-480e-9c34-3312f4ff7b7c",
        "traceresponse": "00-92b8ee9aa2ad40c03d43e9d55a474f0e-d45c07d340d79c43-01"
      },
      "ResponseBody": {
        "$dtId": "digitalTwin-9bf033e8",
        "$etag": "W/\u00225bda772f-8ac8-4229-b0ea-9abb9088c66d\u0022",
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2023-06-01T20:34:01.1258715Z",
          "AverageTemperature": {
            "lastUpdateTime": "2023-06-01T20:34:01.1258715Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2023-06-01T20:34:01.1258715Z"
          }
        }
      }
    }
  ],
  "Variables": {}
}
