interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModel93dd172d;1?includeModelDefinition=false&api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"ModelNotFound","message":"There is no Model(s) available
        that matches the provided id(s) dtmi:com:samples:ComponentModel93dd172d;1.
        Check that the Model ID provided is valid by doing a Model_List API call."}}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-6dbb34be5f172f47b24dcb39af13135d-1ff77b5eb6ea8a4b-01
    status:
      code: 404
      message: Not Found
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModel93dd172d;1?includeModelDefinition=false&api-version=2021-06-30-preview
- request:
    body: '[{"@id": "dtmi:com:samples:ComponentModel93dd172d;1", "@type": "Interface",
      "@context": ["dtmi:dtdl:context;2"], "displayName": "Component1", "contents":
      [{"@type": "Property", "name": "ComponentProp1", "schema": "string"}, {"@type":
      "Telemetry", "name": "ComponentTelemetry1", "schema": "integer"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview
  response:
    body:
      string: '[{"id":"dtmi:com:samples:ComponentModel93dd172d;1","description":{},"displayName":{"en":"Component1"},"decommissioned":false,"uploadTime":"2022-03-24T17:02:16.5974763+00:00"}]'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-2740e0fba800e542bd0d317ea8bca542-75503d9b6dd35646-01
    status:
      code: 201
      message: Created
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=true&api-version=2021-06-30-preview
  response:
    body:
      string: '{"value":[{"id":"dtmi:samples:DTTestBuilding;1","description":{},"displayName":{"en":"Building"},"decommissioned":false,"uploadTime":"2022-03-24T17:01:30.4993416+00:00","model":{"@id":"dtmi:samples:DTTestBuilding;1","@type":"Interface","@context":["dtmi:dtdl:context;2"],"displayName":"Building","contents":[{"@type":"Property","name":"AverageTemperature","schema":"double"},{"@type":"Property","name":"TemperatureUnit","schema":"string"}]}},{"id":"dtmi:com:samples:TempModel2fc70f9f;1","description":{},"displayName":{"en":"TempModel"},"decommissioned":false,"uploadTime":"2022-03-24T17:01:39.4969324+00:00","model":{"@id":"dtmi:com:samples:TempModel2fc70f9f;1","@type":"Inter[...]
