interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModel82fa118b%3B1?includeModelDefinition=false&api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"ModelNotFound","message":"There is no Model(s) available
        that matches the provided id(s) dtmi:com:samples:ComponentModel82fa118b;1.
        Check that the Model ID provided is valid by doing a Model_List API call."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-4a4a4d39114af543a70b276610ccabde-a681546fb86c864c-01
    status:
      code: 404
      message: Not Found
- request:
    body: '[{"@context": "dtmi:dtdl:context;2", "displayName": "TempModel", "contents":
      [{"@type": "Property", "name": "Prop1", "schema": "string"}, {"@type": "Component",
      "name": "Component1", "schema": "dtmi:com:samples:ComponentModel82fa118b;1"},
      {"@type": "Telemetry", "name": "Telemetry1", "schema": "integer"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"DTDLParserError","message":"None of the models in
        this request could be created due to a problem with one or more models: Top-level
        element requires an identifer but none provided. Add an ''@id'' property whose
        value is a string that conforms to the DTMI syntax -- see https://github.com/Azure/digital-twin-model-identifier..
        See model documentation(https://aka.ms/ADTv2Models) for supported format."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-b66144509834f4458bb5e3a42c67fbf6-31b3e5a25df5ff47-01
    status:
      code: 400
      message: Bad Request
version: 1
