interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2021-06-30-preview
  response:
    body:
      string: '{"value":[{"id":"dtmi:samples:DTTestBuilding;1","description":{},"displayName":{"en":"Building"},"decommissioned":false,"uploadTime":"2022-03-25T21:10:47.2175254+00:00"}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-8c87c3f42bff8241830ece5d029a6a0d-caded41ffa139d47-01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse:
      - 00-cc6be96c7fcc484da912a31f1435c289-92d7a380da402440-01
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '[{"@id": "dtmi:samples:DTTestBuilding;1", "@type": "Interface", "@context":
      "dtmi:dtdl:context;2", "displayName": "Building", "contents": [{"@type": "Property",
      "name": "AverageTemperature", "schema": "double"}, {"@type": "Property", "name":
      "TemperatureUnit", "schema": "string"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview
  response:
    body:
      string: '[{"id":"dtmi:samples:DTTestBuilding;1","description":{},"displayName":{"en":"Building"},"decommissioned":false,"uploadTime":"2022-03-25T21:10:48.8432029+00:00"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-66147df8bdb0ed4ab885bbc5e5573d5c-b34cabfb4a73ba41-01
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-edc149c?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse:
      - 00-8e3745e886a9df438fe3d459439dc0e9-259538379f1ed94a-01
    status:
      code: 204
      message: No Content
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:DTTestBuilding;1"}, "AverageTemperature":
      68, "TemperatureUnit": "Celsius"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-edc149c?api-version=2021-06-30-preview
  response:
    body:
      string: '{"$dtId":"digitalTwin-edc149c","$etag":"W/\"e650fb8c-e3f3-4310-a60c-30f3da05e3b0\"","AverageTemperature":68,"TemperatureUnit":"Celsius","$metadata":{"$model":"dtmi:samples:DTTestBuilding;1","AverageTemperature":{"lastUpdateTime":"2022-03-25T21:10:49.0804815Z"},"TemperatureUnit":{"lastUpdateTime":"2022-03-25T21:10:49.0804815Z"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e650fb8c-e3f3-4310-a60c-30f3da05e3b0"
      traceresponse:
      - 00-e61832244caac84586ccd6db78f2d9a7-897605d0e089c847-01
    status:
      code: 200
      message: OK
- request:
    body: '[{"op": "replace", "path": "/AverageTemperature", "value": 42}]'
    headers:
      Content-Type:
      - application/json-patch+json
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-edc149c?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      etag:
      - W/"34a543fe-2648-4823-88d7-99a4840c3c2d"
      traceresponse:
      - 00-f7c87a911f05ef438d694a4f66c8e53f-0049c5fe186a4049-01
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-edc149c?api-version=2021-06-30-preview
  response:
    body:
      string: '{"$dtId":"digitalTwin-edc149c","$etag":"W/\"34a543fe-2648-4823-88d7-99a4840c3c2d\"","AverageTemperature":42,"TemperatureUnit":"Celsius","$metadata":{"$model":"dtmi:samples:DTTestBuilding;1","AverageTemperature":{"lastUpdateTime":"2022-03-25T21:10:49.1964367Z"},"TemperatureUnit":{"lastUpdateTime":"2022-03-25T21:10:49.0804815Z"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"34a543fe-2648-4823-88d7-99a4840c3c2d"
      traceresponse:
      - 00-8bc3a4f5ffd76c4b9d2d891af49d4c11-2361f4f25f193a49-01
    status:
      code: 200
      message: OK
version: 1
