interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2021-06-30-preview
  response:
    body:
      string: '{"value":[{"id":"dtmi:samples:RelationshipTestBuilding;1","description":{},"displayName":{"en":"Building"},"decommissioned":false,"uploadTime":"2022-03-25T21:13:37.54416+00:00"},{"id":"dtmi:samples:RelationshipTestFloor;1","description":{},"displayName":{"en":"Floor"},"decommissioned":false,"uploadTime":"2022-03-25T21:13:37.544186+00:00"},{"id":"dtmi:samples:RelationshipTestRoom;1","description":{},"displayName":{"en":"Room"},"decommissioned":false,"uploadTime":"2022-03-25T21:13:37.5442043+00:00"}],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-821edf45e53c1747b0da15487b3ddc14-e423895faa0aa542-01
    status:
      code: 200
      message: OK
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2021-06-30-preview
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestBuilding;1?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse: 00-67574911aee70a41a68b3cb2e06ebddf-17920d6a5ab48340-01
    status:
      code: 204
      message: No Content
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestBuilding;1?api-version=2021-06-30-preview
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestFloor;1?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse: 00-a444f570755c334cb8e0ac0f9f686445-96a9999138ff8342-01
    status:
      code: 204
      message: No Content
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestFloor;1?api-version=2021-06-30-preview
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestRoom;1?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse: 00-23ea97e3983b754a88af23dcc695dcc0-7fa1e2f5ccc27f47-01
    status:
      code: 204
      message: No Content
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestRoom;1?api-version=2021-06-30-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin/relationships?api-version=2021-06-30-preview
  response:
    body:
      string: '{"nextLink":null,"value":[]}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-a199cfcf0683f449b37dcd2268a30f24-5d1d59e5c2863e42-01
    status:
      code: 200
      message: OK
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin/relationships?api-version=2021-06-30-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin/relationships?api-version=2021-06-30-preview
  response:
    body:
      string: '{"nextLink":null,"value":[]}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-6cbb1736d4d0dd4fbb94666ce410b051-336209e96abcc341-01
    status:
      code: 200
      message: OK
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin/relationships?api-version=2021-06-30-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships?api-version=2021-06-30-preview
  response:
    body:
      string: '{"nextLink":null,"value":[{"$relationshipId":"BuildingHasFloor","$etag":"W/\"47c0bcb2-2326-432f-a77c-84b4af5642c5\"","$sourceId":"DTRelationshipTestsBuildingTwin","$relationshipName":"has","$targetId":"DTRelationshipTestsFloorTwin","isAccessRestricted":true}]}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-a51a0d3f47c4ca4d91b977794b769836-8127619e1cd9c246-01
    status:
      code: 200
      message: OK
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships?api-version=2021-06-30-preview
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse: 00-cbd88f389e800e49bea40ad1721dc828-8a9ec8a9cc5b4446-01
    status:
      code: 204
      message: No Content
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2021-06-30-preview
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse: 00-d681943f2bb82b4383253a9f40486724-9c150c3a6c3be445-01
    status:
      code: 204
      message: No Content
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2021-06-30-preview
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse: 00-e0ef374a7c07184693c679053ffeb15f-805fc3476e1b3147-01
    status:
      code: 204
      message: No Content
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin?api-version=2021-06-30-preview
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse: 00-08c9b2cf631d06449c5fd30206511259-269ef890fb078849-01
    status:
      code: 204
      message: No Content
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2021-06-30-preview
- request:
    body: '[{"@id": "dtmi:samples:RelationshipTestBuilding;1", "@type": "Interface",
      "@context": "dtmi:dtdl:context;2", "displayName": "Building", "contents": [{"@type":
      "Relationship", "name": "has", "target": "dtmi:samples:RelationshipTestFloor;1",
      "properties": [{"@type": "Property", "name": "isAccessRestricted", "schema":
      "boolean"}]}, {"@type": "Property", "name": "AverageTemperature", "schema":
      "double"}]}, {"@id": "dtmi:samples:RelationshipTestFloor;1", "@type": "Interface",
      "@context": "dtmi:dtdl:context;2", "displayName": "Floor", "contents": [{"@type":
      "Relationship", "name": "contains", "target": "dtmi:samples:RelationshipTestRoom;1"},
      {"@type": "Property", "name": "AverageTemperature", "schema": "double"}]}, {"@id":
      "dtmi:samples:RelationshipTestRoom;1", "@type": "Interface", "@context": "dtmi:dtdl:context;2",
      "displayName": "Room", "contents": [{"@type": "Property", "name": "Temperature",
      "schema": "double"}, {"@type": "Property", "name": "IsOccupied", "schema": "boolean"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview
  response:
    body:
      string: '[{"id":"dtmi:samples:RelationshipTestBuilding;1","description":{},"displayName":{"en":"Building"},"decommissioned":false,"uploadTime":"2022-03-25T21:13:40.2880603+00:00"},{"id":"dtmi:samples:RelationshipTestFloor;1","description":{},"displayName":{"en":"Floor"},"decommissioned":false,"uploadTime":"2022-03-25T21:13:40.2880873+00:00"},{"id":"dtmi:samples:RelationshipTestRoom;1","description":{},"displayName":{"en":"Room"},"decommissioned":false,"uploadTime":"2022-03-25T21:13:40.2881025+00:00"}]'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-6e672da1b2077a4986fa497265856688-46bf453eeca6ba40-01
    status:
      code: 201
      message: Created
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:RelationshipTestBuilding;1"}, "AverageTemperature":
      68}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2021-06-30-preview
  response:
    body:
      string: '{"$dtId":"DTRelationshipTestsBuildingTwin","$etag":"W/\"100a1c74-e5b0-492c-bd5c-11a89dd47d81\"","AverageTemperature":68,"$metadata":{"$model":"dtmi:samples:RelationshipTestBuilding;1","AverageTemperature":{"lastUpdateTime":"2022-03-25T21:13:40.4036027Z"}}}'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"100a1c74-e5b0-492c-bd5c-11a89dd47d81"
      traceresponse: 00-9e3d7906c9f882408562ee71de621e94-f9d26390a2149049-01
    status:
      code: 200
      message: OK
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2021-06-30-preview
[...]
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:RelationshipTestRoom;1"}, "Temperature":
      80, "IsOccupied": true}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2021-06-30-preview
  response:
    body:
      string: '{"$dtId":"DTRelationshipTestsRoomTwin","$etag":"W/\"3cad1484-3b25-4cc5-92cf-b23621f5947a\"","Temperature":80,"IsOccupied":true,"$metadata":{"$model":"dtmi:samples:RelationshipTestRoom;1","Temperature":{"lastUpdateTime":"2022-03-25T21:13:40.6464475Z"},"IsOccupied":{"lastUpdateTime":"2022-03-25T21:13:40.6464475Z"}}}'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"3cad1484-3b25-4cc5-92cf-b23621f5947a"
      traceresponse: 00-590ec17f983895448681fb3bb09795b3-8415456aa522104b-01
    status:
      code: 200
      message: OK
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2021-06-30-preview
[...]
- request:
    body: '[{"op": "move", "path": "/isAccessRestricted"}]'
    headers:
      Content-Type:
      - application/json-patch+json
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"JsonPatchInvalid","message":"Unsupported operation
        type move. Please provide a valid patch document. See section on update apis
        in the documentation https://aka.ms/adtv2twins."}}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-24c3d94d7c333342b7782db05e9c4fe9-1a26085177ef204c-01
    status:
      code: 400
      message: Bad Request
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2021-06-30-preview
- request:
    body: '[{"op": "remove", "path": "/isAccessDoorRestricted"}]'
    headers:
      Content-Type:
      - application/json-patch+json
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"JsonPatchInvalid","message":"The target location
        specified by path segment ''isAccessDoorRestricted'' was not found. Please
        provide a valid patch document. See section on update apis in the documentation
        https://aka.ms/adtv2twins."}}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-d00555f91053104cb67d5b8988f75bbf-150d826ae20b6541-01
    status:
      code: 400
      message: Bad Request
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2021-06-30-preview
- request:
    body: '["isAccessRestricted"]'
    headers:
      Content-Type:
      - application/json-patch+json
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2021-06-30-preview
  response:
    body:
      string: '{"errors":{"[0]":["Error converting value \"isAccessRestricted\" to
        type ''Microsoft.AspNetCore.JsonPatch.Operations.Operation''. Path ''[0]'',
        line 1, position 21."]},"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"detail":null,"instance":null,"extensions":{"traceId":"|5337b26a-4958ebf6565e02a6."}}'
    headers:
      content-type: application/problem+json; charset=utf-8
      traceresponse: 00-8f4a58b6e359bb4ca9a25fee4b11658f-3db4b0f5d811e744-01
    status:
      code: 400
      message: Bad Request
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2021-06-30-preview
[...]
- request:
    body: '[]'
    headers:
      Content-Type:
      - application/json-patch+json
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      etag: W/"4497d5f3-ed0c-45bb-9cfb-dae6bcb4c6eb"
      traceresponse: 00-5a155e88d3f51840a9e7e0ac099f0b7a-892f2953d1ceb44d-01
    status:
      code: 204
      message: No Content
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2021-06-30-preview
version: 1
