interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2021-06-30-preview
  response:
    body:
      string: '{"value":[{"id":"dtmi:com:samples:DTComponentTestsComponent;1","description":{},"displayName":{"en":"Component1"},"decommissioned":false,"uploadTime":"2022-03-25T21:10:07.7791199+00:00"},{"id":"dtmi:com:samples:DTComponentTestsModel;1","description":{},"displayName":{"en":"TempModel"},"decommissioned":false,"uploadTime":"2022-03-25T21:10:07.7791536+00:00"}],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-af706aa091a41b4fbb6ed3f75fe542ca-1ac43f17e7aa004f-01
    status:
      code: 200
      message: OK
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2021-06-30-preview
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi:com:samples:DTComponentTestsComponent;1?api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"ModelReferencesNotDeleted","message":"This model
        is currently being referenced by dtmi:com:samples:DTComponentTestsModel;1.
        You must delete these references before deleting the Model.. To delete references,
        do Delete Model on Ids provided above."}}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-b6cddb7402bde7429dcc248d3ba31d6c-316619e01ed96b49-01
    status:
      code: 409
      message: Conflict
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/models/dtmi:com:samples:DTComponentTestsComponent;1?api-version=2021-06-30-preview
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi:com:samples:DTComponentTestsModel;1?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse: 00-4a84ef6eac39754dbdd8dbf7f1b2c336-6329de499343e242-01
    status:
      code: 204
      message: No Content
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/models/dtmi:com:samples:DTComponentTestsModel;1?api-version=2021-06-30-preview
[...]
- request:
    body: '[{"@id": "dtmi:com:samples:DTComponentTestsComponent;1", "@type": "Interface",
      "@context": "dtmi:dtdl:context;2", "displayName": "Component1", "contents":
      [{"@type": "Property", "name": "ComponentProp1", "schema": "string"}, {"@type":
      "Telemetry", "name": "ComponentTelemetry1", "schema": "integer"}]}, {"@id":
      "dtmi:com:samples:DTComponentTestsModel;1", "@type": "Interface", "@context":
      "dtmi:dtdl:context;2", "displayName": "TempModel", "contents": [{"@type": "Property",
      "name": "Prop1", "schema": "string"}, {"@type": "Component", "name": "Component1",
      "schema": "dtmi:com:samples:DTComponentTestsComponent;1"}, {"@type": "Telemetry",
      "name": "Telemetry1", "schema": "integer"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview
  response:
    body:
      string: '[{"id":"dtmi:com:samples:DTComponentTestsComponent;1","description":{},"displayName":{"en":"Component1"},"decommissioned":false,"uploadTime":"2022-03-25T21:10:09.5420213+00:00"},{"id":"dtmi:com:samples:DTComponentTestsModel;1","description":{},"displayName":{"en":"TempModel"},"decommissioned":false,"uploadTime":"2022-03-25T21:10:09.5420531+00:00"}]'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-c29c38c8f98bee4c8d8ada022a0c60a3-d18d9af15efee643-01
    status:
      code: 201
      message: Created
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview
- request:
    body: '{"$metadata": {"$model": "dtmi:com:samples:DTComponentTestsModel;1"}, "Prop1":
      "value", "Component1": {"$metadata": {}, "ComponentProp1": "value1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin?api-version=2021-06-30-preview
  response:
    body:
      string: '{"$dtId":"DTComponentTestsTempTwin","$etag":"W/\"642a1a22-f839-426d-846e-93a70aa338a8\"","Prop1":"value","Component1":{"ComponentProp1":"value1","$metadata":{"ComponentProp1":{"lastUpdateTime":"2022-03-25T21:10:09.6639169Z"}}},"$metadata":{"$model":"dtmi:com:samples:DTComponentTestsModel;1","Prop1":{"lastUpdateTime":"2022-03-25T21:10:09.6639169Z"}}}'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"642a1a22-f839-426d-846e-93a70aa338a8"
      traceresponse: 00-02d403ce35c278419cbeffd295098cd0-70d9fdad4f625d4e-01
    status:
      code: 200
      message: OK
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin?api-version=2021-06-30-preview
- request:
    body: '[{"op": "move", "path": "/AverageTemperature", "value": 42}]'
    headers:
      Content-Type:
      - application/json-patch+json
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"JsonPatchInvalid","message":"Unsupported operation
        type move. Please provide a valid patch document. See section on update apis
        in the documentation https://aka.ms/adtv2twins."}}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-abe8e7905aeb24499ba45181a51d1e51-6e9dcc134b61a947-01
    status:
      code: 400
      message: Bad Request
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2021-06-30-preview
- request:
    body: '["AverageTemperature"]'
    headers:
      Content-Type:
      - application/json-patch+json
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2021-06-30-preview
  response:
    body:
      string: '{"errors":{"[0]":["Error converting value \"AverageTemperature\" to
        type ''Microsoft.AspNetCore.JsonPatch.Operations.Operation''. Path ''[0]'',
        line 1, position 21."]},"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"detail":null,"instance":null,"extensions":{"traceId":"|b2fc837c-4b06fd783e1fc686."}}'
    headers:
      content-type: application/problem+json; charset=utf-8
      traceresponse: 00-bb6b84f279714340ba32c231d6726115-f4071e5349f4a240-01
    status:
      code: 400
      message: Bad Request
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2021-06-30-preview
[...]
- request:
    body: '[{"op": "add", "path": "/ComponentProp2", "value": "5"}]'
    headers:
      Content-Type:
      - application/json-patch+json
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"ValidationFailed","message":"Invalid twin specified","details":[{"code":"ValidationFailed","message":"ComponentProp2
        does not appear on the DTDL for Component1."}]}}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-95de6adcfc01254382c7e18812506f71-d96a1fc7f1fb5d49-01
    status:
      code: 400
      message: Bad Request
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2021-06-30-preview
- request:
    body: '[{"op": "replace", "path": "/ComponentProp1", "value": 42}]'
    headers:
      Content-Type:
      - application/json-patch+json
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"ValidationFailed","message":"Invalid twin specified","details":[{"code":"ValidationFailed","message":"Expected
        value of type string for ComponentProp1 on Component1."}]}}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-1c0cf18952a5ad418a0c0ed34fbd8eff-aafe1a2e7f8cca40-01
    status:
      code: 400
      message: Bad Request
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2021-06-30-preview
version: 1
