interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModela4af1745;1?includeModelDefinition=false&api-version=2022-05-31
  response:
    body:
      string: '{"error":{"code":"ModelNotFound","message":"There is no Model(s) available
        that matches the provided id(s) dtmi:com:samples:ComponentModela4af1745;1.
        Check that the Model ID provided is valid by doing a Model_List API call."}}'
    headers:
      content-type: application/json; charset=utf-8
      mise-correlation-id: 12ce79dd-8651-47c3-9c75-481502e932bf
      traceresponse: 00-8f6e20f8cb9ce34886f25734f9506a3d-0654f749a2e05445-01
    status:
      code: 404
      message: Not Found
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModela4af1745;1?includeModelDefinition=false&api-version=2022-05-31
- request:
    body: '[{"@id": "dtmi:com:samples:ComponentModela4af1745;1", "@type": "Interface",
      "@context": "dtmi:dtdl:context;2", "displayName": "Component1", "contents":
      [{"@type": "Property", "name": "ComponentProp1", "schema": "string"}, {"@type":
      "Telemetry", "name": "ComponentTelemetry1", "schema": "integer"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31
  response:
    body:
      string: '[{"id":"dtmi:com:samples:ComponentModela4af1745;1","description":{},"displayName":{"en-US":"Component1"},"decommissioned":false,"uploadTime":"2022-05-26T07:28:38.9087425+00:00"}]'
    headers:
      content-type: application/json; charset=utf-8
      mise-correlation-id: 180b330d-ea4e-422a-ae98-a690fd1459bf
      traceresponse: 00-7ba6082d7dc25843b839512d701379c1-e1b9c545ba646748-01
    status:
      code: 201
      message: Created
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModela4af1745;1?api-version=2022-05-31
  response:
    body:
      string: ''
    headers:
      mise-correlation-id: d54dcb51-a837-443b-8115-aff72bba4dd7
      traceresponse: 00-799b8c86d4370f45a0d23b193e3802be-f2bac80f29efef4c-01
    status:
      code: 204
      message: No Content
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModela4af1745;1?api-version=2022-05-31
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModela4af1745;1?api-version=2022-05-31
  response:
    body:
      string: '{"error":{"code":"ModelNotFound","message":"There is no Model(s) available
        that matches the provided id(s) dtmi:com:samples:ComponentModela4af1745;1.
        Check that the Model ID provided is valid by doing a Model_List API call."}}'
    headers:
      content-type: application/json; charset=utf-8
      mise-correlation-id: 08a6b4e0-e39f-4978-86eb-dfd9e659f6bb
      traceresponse: 00-3cf62a967f38c745bc12085a86e21b4c-c85be58df88d4741-01
    status:
      code: 404
      message: Not Found
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModela4af1745;1?api-version=2022-05-31
version: 1
