interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3ATempModel2fc70f9f%3B1?includeModelDefinition=false&api-version=2022-05-31
  response:
    body:
      string: '{"error":{"code":"ModelNotFound","message":"There is no Model(s) available
        that matches the provided id(s) dtmi:com:samples:TempModel2fc70f9f;1. Check
        that the Model ID provided is valid by doing a Model_List API call."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - a27585f9-d1be-4e91-86ec-cbf7b8b82030
      traceresponse:
      - 00-5e7b257ff5bebb45ad5e545fb9e544e0-5c66a43400fedd48-01
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModel2fc70f9f%3B1?includeModelDefinition=false&api-version=2022-05-31
  response:
    body:
      string: '{"error":{"code":"ModelNotFound","message":"There is no Model(s) available
        that matches the provided id(s) dtmi:com:samples:ComponentModel2fc70f9f;1.
        Check that the Model ID provided is valid by doing a Model_List API call."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 72c126ef-c28b-42d7-b7f8-bd5d0f6c636f
      traceresponse:
      - 00-477bbe900a02f149864454b9244091d7-df773594e177e340-01
    status:
      code: 404
      message: Not Found
- request:
    body: '[{"@id": "dtmi:com:samples:TempModel2fc70f9f;1", "@type": "Interface",
      "@context": "dtmi:dtdl:context;2", "displayName": "TempModel", "contents": [{"@type":
      "Property", "name": "Prop1", "schema": "string"}, {"@type": "Telemetry", "name":
      "Telemetry1", "schema": "integer"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31
  response:
    body:
      string: '[{"id":"dtmi:com:samples:TempModel2fc70f9f;1","description":{},"displayName":{"en-US":"TempModel"},"decommissioned":false,"uploadTime":"2022-05-26T07:28:22.8180695+00:00"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 47c73ea1-0e6e-4a2f-a664-bdfa65e4c314
      traceresponse:
      - 00-376eac4b5ad1b8439a39de38bbdd1262-d007bc9a3b88c944-01
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModel2fc70f9f%3B1?includeModelDefinition=false&api-version=2022-05-31
  response:
    body:
      string: '{"error":{"code":"ModelNotFound","message":"There is no Model(s) available
        that matches the provided id(s) dtmi:com:samples:ComponentModel2fc70f9f;1.
        Check that the Model ID provided is valid by doing a Model_List API call."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 2bd3f102-39ff-4864-814f-3b5762a77658
      traceresponse:
      - 00-db362abc9c5fd54ea43bcd564c831892-e02680d0c470084b-01
    status:
      code: 404
      message: Not Found
version: 1
