interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModel90490aa1%3B1?includeModelDefinition=false&api-version=2022-05-31
  response:
    body:
      string: '{"error":{"code":"ModelNotFound","message":"There is no Model(s) available
        that matches the provided id(s) dtmi:com:samples:ComponentModel90490aa1;1.
        Check that the Model ID provided is valid by doing a Model_List API call."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 2b1aaf5b-60cf-4e80-bdff-c42744994653
      traceresponse:
      - 00-7b9de684e225784698201ff34443290e-95dc346b266a454b-01
    status:
      code: 404
      message: Not Found
- request:
    body: '[{"@id": "dtmi:com:samples:ComponentModel90490aa1;1", "@type": "Interface",
      "@context": "dtmi:dtdl:context;2", "displayName": "Component1", "contents":
      [{"@type": "Property", "name": "ComponentProp1", "schema": "string"}, {"@type":
      "Telemetry", "name": "ComponentTelemetry1", "schema": "integer"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31
  response:
    body:
      string: '[{"id":"dtmi:com:samples:ComponentModel90490aa1;1","description":{},"displayName":{"en-US":"Component1"},"decommissioned":false,"uploadTime":"2022-05-26T07:28:31.3096291+00:00"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 0f9b00d0-20c8-4a63-b0b0-1b95749aa510
      traceresponse:
      - 00-a3ac96bdd426fa46af69ba7b8a3aae3b-1152a2479d544443-01
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModel90490aa1%3B1?includeModelDefinition=false&api-version=2022-05-31
  response:
    body:
      string: '{"id":"dtmi:com:samples:ComponentModel90490aa1;1","description":{},"displayName":{"en-US":"Component1"},"decommissioned":false,"uploadTime":"2022-05-26T07:28:31.3096291+00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 56f12455-7fde-4027-a992-a91d2ca3ca21
      traceresponse:
      - 00-31b87450a73abc4f93dbf3a4a33851b7-c809f0ddd3e42040-01
    status:
      code: 200
      message: OK
version: 1
