interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModelbf2f17de%3B1?includeModelDefinition=false&api-version=2022-05-31
  response:
    body:
      string: '{"error":{"code":"ModelNotFound","message":"There is no Model(s) available
        that matches the provided id(s) dtmi:com:samples:ComponentModelbf2f17de;1.
        Check that the Model ID provided is valid by doing a Model_List API call."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 32ec3586-d575-4537-bef5-bba9872ff535
      traceresponse:
      - 00-4832d55f12564444b0c85adde5474986-6086fa057288fe49-01
    status:
      code: 404
      message: Not Found
- request:
    body: '[{"@id": "dtmi:com:samples:ComponentModelbf2f17de;1", "@type": "Interface",
      "@context": "dtmi:dtdl:context;2", "displayName": "Component1", "contents":
      [{"@type": "Property", "name": "ComponentProp1", "schema": "string"}, {"@type":
      "Telemetry", "name": "ComponentTelemetry1", "schema": "integer"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31
  response:
    body:
      string: '[{"id":"dtmi:com:samples:ComponentModelbf2f17de;1","description":{},"displayName":{"en-US":"Component1"},"decommissioned":false,"uploadTime":"2022-05-26T07:28:27.0914286+00:00"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 1d7e2890-fb7a-462e-a82b-040fa872eb91
      traceresponse:
      - 00-348a6e96e284fe44bd74ad9609fd4b9b-9fb7b8ce7c3aed46-01
    status:
      code: 201
      message: Created
[...]
- request:
    body: '[{"op": "replace", "path": "/decommissioned", "value": true}]'
    headers:
      Content-Type:
      - application/json-patch+json
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModelbf2f17de%3B1?api-version=2022-05-31
  response:
    body:
      string: ''
    headers:
      mise-correlation-id:
      - b0dd1dd0-7083-4910-a47b-a3ec39bd1223
      traceresponse:
      - 00-9bed764db953844d836da1e3f22937fc-5677c86357aa904b-01
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModelbf2f17de%3B1?includeModelDefinition=false&api-version=2022-05-31
  response:
    body:
      string: '{"id":"dtmi:com:samples:ComponentModelbf2f17de;1","description":{},"displayName":{"en-US":"Component1"},"decommissioned":true,"uploadTime":"2022-05-26T07:28:27.0914286+00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 99d868cc-680f-41df-88da-0ab47df500d9
      traceresponse:
      - 00-9a8bac5a629ab14e8a890f293bbe7bdf-cedd6655f1ad2f47-01
    status:
      code: 200
      message: OK
version: 1
