interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2022-05-31
  response:
    body:
      string: '{"value":[{"id":"dtmi:samples:RelationshipTestBuilding;1","description":{},"displayName":{"en-US":"Building"},"decommissioned":false,"uploadTime":"2022-05-26T07:28:55.9520167+00:00"},{"id":"dtmi:samples:RelationshipTestFloor;1","description":{},"displayName":{"en-US":"Floor"},"decommissioned":false,"uploadTime":"2022-05-26T07:28:55.952037+00:00"},{"id":"dtmi:samples:RelationshipTestRoom;1","description":{},"displayName":{"en-US":"Room"},"decommissioned":false,"uploadTime":"2022-05-26T07:28:55.9520488+00:00"}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 84d1353f-48fe-403a-ae92-a1d39b3114dc
      traceresponse:
      - 00-b23fc4ab3a3ee740be1cff0ee9764c6b-c3c4c88306c3d24b-01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ARelationshipTestBuilding%3B1?api-version=2022-05-31
  response:
    body:
      string: ''
    headers:
      mise-correlation-id:
      - b99140a5-b5f6-4760-861e-c5f6a8f811e6
      traceresponse:
      - 00-cef8755e46be424b9f8851f9336a0189-077a901775a2734a-01
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ARelationshipTestFloor%3B1?api-version=2022-05-31
  response:
    body:
      string: ''
    headers:
      mise-correlation-id:
      - 8f9f9acb-b8d3-4c45-8cc6-f4e45badc019
      traceresponse:
      - 00-e5400a54a4696c43a30d83f059f9a884-e6bdaa0629329d41-01
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ARelationshipTestRoom%3B1?api-version=2022-05-31
  response:
    body:
      string: ''
    headers:
      mise-correlation-id:
      - 9e4dcea9-5a23-4802-8458-85942c27d2ae
      traceresponse:
      - 00-6ee9ecbde5c810449065012b046f96f7-d019f04da78b1644-01
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin/relationships?api-version=2022-05-31
  response:
    body:
      string: '{"nextLink":null,"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-5904dc934fdd4e41b4aad1fef2ace7d0-8f6776430ef6c541-01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin/relationships?api-version=2022-05-31
  response:
    body:
      string: '{"nextLink":null,"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-5fdee5f2c20a8d41bffc482d7f892050-4d9b56d80678db41-01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships?api-version=2022-05-31
  response:
    body:
      string: '{"nextLink":null,"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-c94a0ad798b00d4da15b91bbb176d575-79a3fc5af8a94949-01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2022-05-31
  response:
    body:
      string: ''
    headers:
      traceresponse:
      - 00-48b4b079fb7a214fa7086dff90337e94-f187fe2b40cfcb4b-01
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin?api-version=2022-05-31
  response:
    body:
      string: ''
    headers:
      traceresponse:
      - 00-ea1432c25bccc2409407416ad0325021-c78f679359a78c42-01
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2022-05-31
  response:
    body:
      string: ''
    headers:
      traceresponse:
      - 00-063555a45588604dbe62136db2a0bd41-7ba3a4376316f84c-01
    status:
      code: 204
      message: No Content
- request:
    body: '[{"@id": "dtmi:samples:RelationshipTestBuilding;1", "@type": "Interface",
      "@context": "dtmi:dtdl:context;2", "displayName": "Building", "contents": [{"@type":
      "Relationship", "name": "has", "target": "dtmi:samples:RelationshipTestFloor;1",
      "properties": [{"@type": "Property", "name": "isAccessRestricted", "schema":
      "boolean"}]}, {"@type": "Property", "name": "AverageTemperature", "schema":
      "double"}]}, {"@id": "dtmi:samples:RelationshipTestFloor;1", "@type": "Interface",
      "@context": "dtmi:dtdl:context;2", "displayName": "Floor", "contents": [{"@type":
      "Relationship", "name": "contains", "target": "dtmi:samples:RelationshipTestRoom;1"},
      {"@type": "Property", "name": "AverageTemperature", "schema": "double"}]}, {"@id":
      "dtmi:samples:RelationshipTestRoom;1", "@type": "Interface", "@context": "dtmi:dtdl:context;2",
      "displayName": "Room", "contents": [{"@type": "Property", "name": "Temperature",
      "schema": "double"}, {"@type": "Property", "name": "IsOccupied", "schema": "boolean"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31
  response:
    body:
      string: '[{"id":"dtmi:samples:RelationshipTestBuilding;1","description":{},"displayName":{"en-US":"Building"},"decommissioned":false,"uploadTime":"2022-05-26T07:28:58.2236264+00:00"},{"id":"dtmi:samples:RelationshipTestFloor;1","description":{},"displayName":{"en-US":"Floor"},"decommissioned":false,"uploadTime":"2022-05-26T07:28:58.2236463+00:00"},{"id":"dtmi:samples:RelationshipTestRoom;1","description":{},"displayName":{"en-US":"Room"},"decommissioned":false,"uploadTime":"2022-05-26T07:28:58.2236584+00:00"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - c3e350df-acf2-42c6-9096-039ed0ef0c01
      traceresponse:
      - 00-eca32db22910c64395d02289c7a845fc-0940c08f1e981946-01
    status:
      code: 201
      message: Created
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:RelationshipTestBuilding;1"}, "AverageTemperature":
      68}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2022-05-31
  response:
    body:
      string: '{"$dtId":"DTRelationshipTestsBuildingTwin","$etag":"W/\"804122cf-3974-4e20-94b6-b6c372f0f570\"","AverageTemperature":68,"$metadata":{"$model":"dtmi:samples:RelationshipTestBuilding;1","$lastUpdateTime":"2022-05-26T07:28:58.3207590Z","AverageTemperature":{"lastUpdateTime":"2022-05-26T07:28:58.3207590Z"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"804122cf-3974-4e20-94b6-b6c372f0f570"
      traceresponse:
      - 00-b7dd64827db9a74181c83a2e1c8b6634-eb15f684eeae124e-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:RelationshipTestRoom;1"}, "Temperature":
      80, "IsOccupied": true}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2022-05-31
  response:
    body:
      string: '{"$dtId":"DTRelationshipTestsRoomTwin","$etag":"W/\"2ce0c4e1-eecf-4e92-bc29-3dc7fd636066\"","Temperature":80,"IsOccupied":true,"$metadata":{"$model":"dtmi:samples:RelationshipTestRoom;1","$lastUpdateTime":"2022-05-26T07:28:58.4641375Z","Temperature":{"lastUpdateTime":"2022-05-26T07:28:58.4641375Z"},"IsOccupied":{"lastUpdateTime":"2022-05-26T07:28:58.4641375Z"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2ce0c4e1-eecf-4e92-bc29-3dc7fd636066"
      traceresponse:
      - 00-6392bac75e703a47814b46296f6ca1c0-a97d1121d5f7df45-01
    status:
      code: 200
      message: OK
- request:
    body: '{"$relationshipId": "BuildingHasFloor", "$sourceId": "DTRelationshipTestsBuildingTwin",
      "$relationshipName": "has", "$targetId": "DTRelationshipTestsFloorTwin", "isAccessRestricted":
      false}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2022-05-31
  response:
    body:
      string: '{"$relationshipId":"BuildingHasFloor","$etag":"W/\"2329a551-8ba5-412e-b130-09cbb8b04645\"","$sourceId":"DTRelationshipTestsBuildingTwin","$relationshipName":"has","$targetId":"DTRelationshipTestsFloorTwin","isAccessRestricted":false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2329a551-8ba5-412e-b130-09cbb8b04645"
      traceresponse:
      - 00-e82b539d8904b143a32aedb5e83d23ab-b08dae11c9af2749-01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2022-05-31
  response:
    body:
      string: '{"$relationshipId":"BuildingHasFloor","$etag":"W/\"2329a551-8ba5-412e-b130-09cbb8b04645\"","$sourceId":"DTRelationshipTestsBuildingTwin","$relationshipName":"has","$targetId":"DTRelationshipTestsFloorTwin","isAccessRestricted":false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2329a551-8ba5-412e-b130-09cbb8b04645"
      traceresponse:
      - 00-dfd831264b82ea48869c83f65fe8e5b0-72f9ef6468b2d047-01
    status:
      code: 200
      message: OK
version: 1
