interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2022-05-31
  response:
    body:
      string: '{"value":[{"id":"dtmi:samples:RelationshipTestBuilding;1","description":{},"displayName":{"en-US":"Building"},"decommissioned":false,"uploadTime":"2022-05-26T07:29:40.6050355+00:00"},{"id":"dtmi:samples:RelationshipTestFloor;1","description":{},"displayName":{"en-US":"Floor"},"decommissioned":false,"uploadTime":"2022-05-26T07:29:40.6050577+00:00"},{"id":"dtmi:samples:RelationshipTestRoom;1","description":{},"displayName":{"en-US":"Room"},"decommissioned":false,"uploadTime":"2022-05-26T07:29:40.60507+00:00"}],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
      mise-correlation-id: 6f336f14-a578-46c7-bb36-32b6a8e9197a
      traceresponse: 00-5633541145405d4f964b6d82d0033017-1b6f5b4ab14eba4d-01
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2022-05-31
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestBuilding;1?api-version=2022-05-31
  response:
    body:
      string: ''
    headers:
      mise-correlation-id: 40db2382-0dde-410d-a2b8-4676a8a8c034
      traceresponse: 00-a983720068add545a3f5d057c778c90c-0b7dcddefb8c294e-01
    status:
      code: 204
      message: No Content
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestBuilding;1?api-version=2022-05-31
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestFloor;1?api-version=2022-05-31
  response:
    body:
      string: ''
    headers:
      mise-correlation-id: 8ea945b9-0e20-46b8-991e-d0a3e4e5f817
      traceresponse: 00-7f76d20f111d4245a12c2c682fdffdf8-48f01296807c5b49-01
    status:
      code: 204
      message: No Content
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestFloor;1?api-version=2022-05-31
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestRoom;1?api-version=2022-05-31
  response:
    body:
      string: ''
    headers:
      mise-correlation-id: 04683fcd-b95b-439c-b60e-38c0048f3e5c
      traceresponse: 00-baf1ebee5429274c909ece04d76ba462-c5be773cafbf3c4a-01
    status:
      code: 204
      message: No Content
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestRoom;1?api-version=2022-05-31
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin/relationships?api-version=2022-05-31
  response:
    body:
      string: '{"nextLink":null,"value":[]}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-2e5f767dddccc34ab88234ab4a916ff7-c5ec31b040e25344-01
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin/relationships?api-version=2022-05-31
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin/relationships?api-version=2022-05-31
  response:
    body:
      string: '{"nextLink":null,"value":[]}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-8473eab831d14049a31171ce5d2b8fe3-ced1fd37efdb9041-01
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin/relationships?api-version=2022-05-31
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships?api-version=2022-05-31
  response:
    body:
      string: '{"nextLink":null,"value":[{"$relationshipId":"BuildingHasFloor","$etag":"W/\"ced341e2-18c4-43e7-8a93-f43956aebd5f\"","$sourceId":"DTRelationshipTestsBuildingTwin","$relationshipName":"has","$targetId":"DTRelationshipTestsFloorTwin","isAccessRestricted":true}]}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-6c970aca05aeb44ebe707d63d042bf5c-c725bb42497e454f-01
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships?api-version=2022-05-31
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2022-05-31
  response:
    body:
      string: ''
    headers:
      traceresponse: 00-588063ec2e50f64aba045362f66b7a6c-f4b6fbdaea541f48-01
    status:
      code: 204
      message: No Content
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2022-05-31
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2022-05-31
  response:
    body:
      string: ''
    headers:
      traceresponse: 00-a6b7f2905a48b64a98b1755452091d15-0acb5dfe6036904b-01
    status:
      code: 204
      message: No Content
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2022-05-31
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin?api-version=2022-05-31
  response:
    body:
      string: ''
    headers:
      traceresponse: 00-3f3606fa5e5342428d163c09bdfe25aa-882fd195d9a6504f-01
    status:
      code: 204
      message: No Content
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin?api-version=2022-05-31
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2022-05-31
  response:
    body:
      string: ''
    headers:
      traceresponse: 00-8882bb2c504a664caf6fffbb09343b38-bc51d2a27e24904a-01
    status:
      code: 204
      message: No Content
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2022-05-31
- request:
    body: '[{"@id": "dtmi:samples:RelationshipTestBuilding;1", "@type": "Interface",
      "@context": "dtmi:dtdl:context;2", "displayName": "Building", "contents": [{"@type":
      "Relationship", "name": "has", "target": "dtmi:samples:RelationshipTestFloor;1",
      "properties": [{"@type": "Property", "name": "isAccessRestricted", "schema":
      "boolean"}]}, {"@type": "Property", "name": "AverageTemperature", "schema":
      "double"}]}, {"@id": "dtmi:samples:RelationshipTestFloor;1", "@type": "Interface",
      "@context": "dtmi:dtdl:context;2", "displayName": "Floor", "contents": [{"@type":
      "Relationship", "name": "contains", "target": "dtmi:samples:RelationshipTestRoom;1"},
      {"@type": "Property", "name": "AverageTemperature", "schema": "double"}]}, {"@id":
      "dtmi:samples:RelationshipTestRoom;1", "@type": "Interface", "@context": "dtmi:dtdl:context;2",
      "displayName": "Room", "contents": [{"@type": "Property", "name": "Temperature",
      "schema": "double"}, {"@type": "Property", "name": "IsOccupied", "schema": "boolean"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31
  response:
    body:
      string: '[{"id":"dtmi:samples:RelationshipTestBuilding;1","description":{},"displayName":{"en-US":"Building"},"decommissioned":false,"uploadTime":"2022-05-26T07:29:42.1576737+00:00"},{"id":"dtmi:samples:RelationshipTestFloor;1","description":{},"displayName":{"en-US":"Floor"},"decommissioned":false,"uploadTime":"2022-05-26T07:29:42.1576953+00:00"},{"id":"dtmi:samples:RelationshipTestRoom;1","description":{},"displayName":{"en-US":"Room"},"decommissioned":false,"uploadTime":"2022-05-26T07:29:42.1577081+00:00"}]'
    headers:
      content-type: application/json; charset=utf-8
      mise-correlation-id: 7d9118a6-b089-436f-aa3b-6e1c8a22ca89
      traceresponse: 00-201a6bdb31ba634c992eee8e86567bce-c9f6d5a94c3e904c-01
    status:
      code: 201
      message: Created
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:RelationshipTestBuilding;1"}, "AverageTemperature":
      68}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2022-05-31
  response:
    body:
      string: '{"$dtId":"DTRelationshipTestsBuildingTwin","$etag":"W/\"dc1777c8-6e5b-4e03-b169-22d3412d1d91\"","AverageTemperature":68,"$metadata":{"$model":"dtmi:samples:RelationshipTestBuilding;1","$lastUpdateTime":"2022-05-26T07:29:42.2505900Z","AverageTemperature":{"lastUpdateTime":"2022-05-26T07:29:42.2505900Z"}}}'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"dc1777c8-6e5b-4e03-b169-22d3412d1d91"
      traceresponse: 00-e88183f57462b84eaaeb388b4c4e65a6-8ec162708fc06640-01
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2022-05-31
[...]
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:RelationshipTestRoom;1"}, "Temperature":
      80, "IsOccupied": true}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2022-05-31
  response:
    body:
      string: '{"$dtId":"DTRelationshipTestsRoomTwin","$etag":"W/\"5f4d9084-f583-4723-ba58-7e61939b393f\"","Temperature":80,"IsOccupied":true,"$metadata":{"$model":"dtmi:samples:RelationshipTestRoom;1","$lastUpdateTime":"2022-05-26T07:29:42.4029331Z","Temperature":{"lastUpdateTime":"2022-05-26T07:29:42.4029331Z"},"IsOccupied":{"lastUpdateTime":"2022-05-26T07:29:42.4029331Z"}}}'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"5f4d9084-f583-4723-ba58-7e61939b393f"
      traceresponse: 00-e4ae1c10b4e04741814ea2905e8a12eb-ce1fe6824395ce42-01
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2022-05-31
[...]
- request:
    body: '[{"op": "move", "path": "/isAccessRestricted"}]'
    headers:
      Content-Type:
      - application/json-patch+json
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2022-05-31
  response:
    body:
      string: '{"error":{"code":"JsonPatchInvalid","message":"Unsupported operation
        type move. Please provide a valid patch document. See section on update apis
        in the documentation https://aka.ms/adtv2twins."}}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-199f5bf66b5d4340be98a3fd9106c663-2a75c3d514d5014d-01
    status:
      code: 400
      message: Bad Request
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2022-05-31
- request:
    body: '[{"op": "remove", "path": "/isAccessDoorRestricted"}]'
    headers:
      Content-Type:
      - application/json-patch+json
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2022-05-31
  response:
    body:
      string: '{"error":{"code":"JsonPatchInvalid","message":"The target location
        specified by path segment ''isAccessDoorRestricted'' was not found. Please
        provide a valid patch document. See section on update apis in the documentation
        https://aka.ms/adtv2twins."}}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-f3299bd7735410449843d2c523655178-b964df059422fd40-01
    status:
      code: 400
      message: Bad Request
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2022-05-31
- request:
    body: '["isAccessRestricted"]'
    headers:
      Content-Type:
      - application/json-patch+json
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2022-05-31
  response:
    body:
      string: '{"errors":{"[0]":["Error converting value \"isAccessRestricted\" to
        type ''Microsoft.AspNetCore.JsonPatch.Operations.Operation''. Path ''[0]'',
        line 1, position 21."]},"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"detail":null,"instance":null,"extensions":{"traceId":"|7ae9e0fb-4ea455c97886336a."}}'
    headers:
      content-type: application/problem+json; charset=utf-8
      traceresponse: 00-49d60c16db66504c989d8c84cc244c30-1ae74413d96d5841-01
    status:
      code: 400
      message: Bad Request
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2022-05-31
[...]
- request:
    body: '[]'
    headers:
      Content-Type:
      - application/json-patch+json
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2022-05-31
  response:
    body:
      string: ''
    headers:
      etag: W/"d21d8627-2038-405a-8c0e-026496d5e608"
      traceresponse: 00-ddbcd3368efa474db4d0eedeca0596af-6631ed7b11bf774b-01
    status:
      code: 204
      message: No Content
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2022-05-31
version: 1
