interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2021-06-30-preview
  response:
    body:
      string: '{"value":[{"id":"dtmi:samples:DTTestBuilding;1","description":{},"displayName":{"en":"Building"},"decommissioned":false,"uploadTime":"2022-03-28T15:04:18.8209441+00:00"}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-c53ddc4d65792e4b96d5d70027467103-cbf5bef775f88940-01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse:
      - 00-f1e6efbd74c80f4898e4511b8a1e8ec3-2dbdb14272af3849-01
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '[{"@id": "dtmi:samples:DTTestBuilding;1", "@type": "Interface", "@context":
      "dtmi:dtdl:context;2", "displayName": "Building", "contents": [{"@type": "Property",
      "name": "AverageTemperature", "schema": "double"}, {"@type": "Property", "name":
      "TemperatureUnit", "schema": "string"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview
  response:
    body:
      string: '[{"id":"dtmi:samples:DTTestBuilding;1","description":{},"displayName":{"en":"Building"},"decommissioned":false,"uploadTime":"2022-03-28T15:04:20.5853302+00:00"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-4fd59acc016df148b4fb13d77b381a59-75b5047bdc419046-01
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-edc149c?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse:
      - 00-4ad9868e9faf2848bb9f73e167809f37-8694540743158b4a-01
    status:
      code: 204
      message: No Content
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:DTTestBuilding;1"}, "AverageTemperature":
      68, "TemperatureUnit": "Celsius"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-edc149c?api-version=2021-06-30-preview
  response:
    body:
      string: '{"$dtId":"digitalTwin-edc149c","$etag":"W/\"f11e9ced-7fb0-46d1-9f17-4d00dd9266f8\"","AverageTemperature":68,"TemperatureUnit":"Celsius","$metadata":{"$model":"dtmi:samples:DTTestBuilding;1","AverageTemperature":{"lastUpdateTime":"2022-03-28T15:04:20.8288089Z"},"TemperatureUnit":{"lastUpdateTime":"2022-03-28T15:04:20.8288089Z"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f11e9ced-7fb0-46d1-9f17-4d00dd9266f8"
      traceresponse:
      - 00-240e493c057f4e43b9e817121896420c-d816a3936e43eb41-01
    status:
      code: 200
      message: OK
- request:
    body: '[{"op": "replace", "path": "/AverageTemperature", "value": 42}]'
    headers:
      Content-Type:
      - application/json-patch+json
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-edc149c?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      etag:
      - W/"0cd8bd25-def5-455f-a613-033c02e1d186"
      traceresponse:
      - 00-dc509c6f42de7a42abcae5de5802bd2c-8137b16a62f20048-01
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-edc149c?api-version=2021-06-30-preview
  response:
    body:
      string: '{"$dtId":"digitalTwin-edc149c","$etag":"W/\"0cd8bd25-def5-455f-a613-033c02e1d186\"","AverageTemperature":42,"TemperatureUnit":"Celsius","$metadata":{"$model":"dtmi:samples:DTTestBuilding;1","AverageTemperature":{"lastUpdateTime":"2022-03-28T15:04:20.9618298Z"},"TemperatureUnit":{"lastUpdateTime":"2022-03-28T15:04:20.8288089Z"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0cd8bd25-def5-455f-a613-033c02e1d186"
      traceresponse:
      - 00-59162dff1f169d4d9fcebcedd5cbf48a-f0301e4d9e2bb54f-01
    status:
      code: 200
      message: OK
version: 1
