interactions:
- request:
    body: '{"ComponentTelemetry1": 5}'
    headers:
      Content-Type:
      - application/json
      Message-Id:
      - d731c342-01ed-4c04-ba67-fac702e1ee76
      Telemetry-Source-Time:
      - '2022-03-25T21:09:59.629717Z'
    method: POST
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/foo/components/Component1/telemetry?api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"DigitalTwinNotFound","message":"There is no digital
        twin instance that exists with the ID foo. Please verify that the twin id
        is valid and ensure that the twin is not deleted. See section on querying
        the twins https://aka.ms/adtv2query."}}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-fd75d2e40a4c6f438cdce0b8f00c79a1-80ad139e57f1e24a-01
    status:
      code: 404
      message: Not Found
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/foo/components/Component1/telemetry?api-version=2021-06-30-preview
- request:
    body: '{"ComponentTelemetry1": 5}'
    headers:
      Content-Type:
      - application/json
      Message-Id:
      - d0c02933-2cd2-40a6-a0ad-8e454f08edc9
      Telemetry-Source-Time:
      - '2022-03-25T21:10:00.367747Z'
    method: POST
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/foo/components/Component2/telemetry?api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"DigitalTwinNotFound","message":"There is no digital
        twin instance that exists with the ID foo. Please verify that the twin id
        is valid and ensure that the twin is not deleted. See section on querying
        the twins https://aka.ms/adtv2query."}}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-2d452a27b2ab324fafc08b8514fe6f8e-098b6896407aa947-01
    status:
      code: 404
      message: Not Found
    url: https://nalehmandigitaltwins.api.wus2.digitaltwins.azure.net/digitaltwins/foo/components/Component2/telemetry?api-version=2021-06-30-preview
version: 1
