{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0f2901c2-1c8b-4d20-9238-9b0c2016433f",
        "traceresponse": "00-d82af6b1d4fe788b3296d06f293df4ac-8d82a35715ce3dbd-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:samples:RelationshipTestBuilding;1",
            "description": {},
            "displayName": {
              "en": "Building"
            },
            "decommissioned": false,
            "uploadTime": "2022-09-29T04:04:20.4402068\u002B00:00"
          },
          {
            "id": "dtmi:samples:RelationshipTestFloor;1",
            "description": {},
            "displayName": {
              "en": "Floor"
            },
            "decommissioned": false,
            "uploadTime": "2022-09-29T04:04:20.4402248\u002B00:00"
          },
          {
            "id": "dtmi:samples:RelationshipTestRoom;1",
            "description": {},
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2022-09-29T04:04:20.4402345\u002B00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ARelationshipTestBuilding%3B1?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "06d808a9-7826-4748-bb02-01c0f27c72a7",
        "traceresponse": "00-e2b97f8dab319218f203afd740fe6963-d6ea7cc98bf030a2-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ARelationshipTestFloor%3B1?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "04cefa8b-174f-490b-aa71-aae8bd1840e1",
        "traceresponse": "00-fc2b120c3e183201e6bc86a8a175c814-34a2bb17382afd8d-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ARelationshipTestRoom%3B1?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "66d7e087-07c2-4d2d-a6ac-0cf8365d46e0",
        "traceresponse": "00-637efeaf5ddf4c5ecd2de9b989244026-4a3c7bcafad18e47-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin/relationships?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "6be3f90d-b3c5-4eb7-9303-0c372f8ac615",
        "traceresponse": "00-32d4f6bfddf1a1d5dd9a0c1d68e853d1-9c048c6de6fbb965-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": []
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin/relationships?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "61751ec0-9615-4cf6-876c-fc4b5f9b41cd",
        "traceresponse": "00-86be48319781fdeb8a37c0c9989ecace-b829460995a32a1a-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": []
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "bcd075f1-a9b2-49ab-acb8-e39b782321be",
        "traceresponse": "00-6433724049521987d7abb62790699294-e89715acfb194149-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": [
          {
            "$relationshipId": "BuildingHasFloor",
            "$etag": "W/\u0022c41ea62b-84a0-4ee4-8020-b2f0a6409759\u0022",
            "$sourceId": "DTRelationshipTestsBuildingTwin",
            "$relationshipName": "has",
            "$targetId": "DTRelationshipTestsFloorTwin",
            "isAccessRestricted": false
          }
        ]
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "e40036f5-d307-4374-a941-c05649e8d453",
        "traceresponse": "00-d7e6ad16e0f3c1c4afab3fbcbb681ac8-d172d486fd05cea2-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "a712efdd-b34b-41a1-862b-7f740517af6d",
        "traceresponse": "00-06d20d73809fc31c98b9ee0afcd1679c-ea2ca42db5903b95-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "97d0ffa7-4a77-49f3-aa82-0eff0dc526f8",
        "traceresponse": "00-decd27a9bbd0df29c9923119bc74872a-ee63ce0ae2f9c0ab-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "5fff9475-8b38-420d-a643-4a2069f8cc3d",
        "traceresponse": "00-4e74f238eecc3bdfd0a714a30e093156-447441c35aec5fc2-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022@id\u0022: \u0022dtmi:samples:RelationshipTestBuilding;1\u0022, \u0022@type\u0022: \u0022Interface\u0022, \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022, \u0022displayName\u0022: \u0022Building\u0022, \u0022contents\u0022: [{\u0022@type\u0022: \u0022[...]
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:RelationshipTestBuilding;1"
        },
        "AverageTemperature": 68
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002284ddc043-d687-40bc-a64c-3cfabf5c0216\u0022",
        "mise-correlation-id": "a16f5f57-a850-4573-bded-6ae280b157d2",
        "traceresponse": "00-f8cd0a1f8bc1a39b4d8edaa1e490796e-0860fa0ed4caf890-01"
      },
      "ResponseBody": {
        "$dtId": "DTRelationshipTestsBuildingTwin",
        "$etag": "W/\u002284ddc043-d687-40bc-a64c-3cfabf5c0216\u0022",
        "AverageTemperature": 68,
        "$metadata": {
          "$model": "dtmi:samples:RelationshipTestBuilding;1",
          "$lastUpdateTime": "2022-09-29T04:04:21.9760367Z",
          "AverageTemperature": {
            "lastUpdateTime": "2022-09-29T04:04:21.9760367Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:RelationshipTestRoom;1"
        },
        "Temperature": 80,
        "IsOccupied": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002235a47b4c-13ff-49b3-9305-32d981622f6d\u0022",
        "mise-correlation-id": "d80f98d5-fa98-48d0-86cb-ef2a80c97f27",
        "traceresponse": "00-78facf091a35cf875651f6d1b504678e-19b37a2dd8f6b6c4-01"
      },
      "ResponseBody": {
        "$dtId": "DTRelationshipTestsRoomTwin",
        "$etag": "W/\u002235a47b4c-13ff-49b3-9305-32d981622f6d\u0022",
        "Temperature": 80,
        "IsOccupied": true,
        "$metadata": {
          "$model": "dtmi:samples:RelationshipTestRoom;1",
          "$lastUpdateTime": "2022-09-29T04:04:22.0854124Z",
          "Temperature": {
            "lastUpdateTime": "2022-09-29T04:04:22.0854124Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2022-09-29T04:04:22.0854124Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/incomingrelationships?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b5500a13-6eab-4d2d-827c-99b99599fc2c",
        "traceresponse": "00-d105f85ad98cb6d8e81fc90ee345d9f2-e551856d43445e1c-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": []
      }
    }
  ],
  "Variables": {}
}
