{
  "Entries": [
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7cdbf273-babf-4376-a532-ec2a9e767f24",
        "traceresponse": "00-0b1262f99046d0b839a34480f43d8b4c-d97adf689022f3ac-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:com:samples:DTComponentTestsComponent;1",
            "description": {},
            "displayName": {
              "en": "Component1"
            },
            "decommissioned": false,
            "uploadTime": "2023-06-01T20:30:43.6200513\u002B00:00"
          },
          {
            "id": "dtmi:com:samples:DTComponentTestsModel;1",
            "description": {},
            "displayName": {
              "en": "TempModel"
            },
            "decommissioned": false,
            "uploadTime": "2023-06-01T20:30:43.6200733\u002B00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:DTComponentTestsComponent;1?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a2e51f69-6ae9-46ba-b652-65819e9a2114",
        "traceresponse": "00-8289b45772d6d76e72ae2cf8c3a02764-1dca4800729ea236-01",
        "x-ms-error-code": "ModelReferencesNotDeleted"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelReferencesNotDeleted",
          "message": "This model is currently being referenced by dtmi:com:samples:DTComponentTestsModel;1. You must delete these references before deleting the Model.. To delete references, do Delete Model on Ids provided above."
        }
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:DTComponentTestsModel;1?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "9111527d-dab6-454f-ba67-81d68d4d5b45",
        "traceresponse": "00-f3ff164287060a69605035ca4bbe87ea-db0d26d09545de57-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022@id\u0022: \u0022dtmi:com:samples:DTComponentTestsComponent;1\u0022, \u0022@type\u0022: \u0022Interface\u0022, \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022, \u0022displayName\u0022: \u0022Component1\u0022, \u0022contents\u0022: [{\u0022@type\u0022:[...]
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:com:samples:DTComponentTestsModel;1"
        },
        "Prop1": "value",
        "Component1": {
          "$metadata": {},
          "ComponentProp1": "value1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00224383f645-4c5a-4a25-acf5-9102bd4178e9\u0022",
        "mise-correlation-id": "d97853f0-a5f2-4e10-93a0-ba98ffebe711",
        "traceresponse": "00-c52c915cf9339c805e8fdeb99fb3eb71-18bb3dd36ca6f057-01"
      },
      "ResponseBody": {
        "$dtId": "DTComponentTestsTempTwin",
        "$etag": "W/\u00224383f645-4c5a-4a25-acf5-9102bd4178e9\u0022",
        "Prop1": "value",
        "Component1": {
          "ComponentProp1": "value1",
          "$metadata": {
            "$lastUpdateTime": "2023-06-01T20:30:45.9334306Z",
            "ComponentProp1": {
              "lastUpdateTime": "2023-06-01T20:30:45.9334306Z"
            }
          }
        },
        "$metadata": {
          "$model": "dtmi:com:samples:DTComponentTestsModel;1",
          "$lastUpdateTime": "2023-06-01T20:30:45.9334306Z",
          "Prop1": {
            "lastUpdateTime": "2023-06-01T20:30:45.9334306Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1/telemetry?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "ComponentTelemetry1": 5
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "907a5a2f-47c5-46b4-9f54-1937218eca4d",
        "traceresponse": "00-0ae7b26a1fdada43074db4c55d3aaab4-9edb27295d9c9741-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
