interactions:
- request:
    body: '[{"@id": "dtmi:samples:Building;1", "@type": "Interface", "@context": "dtmi:dtdl:context;2",
      "displayName": "Building", "contents": [{"@type": "Relationship", "name": "has",
      "target": "dtmi:samples:Floor;1", "properties": [{"@type": "Property", "name":
      "isAccessRestricted", "schema": "boolean"}]}, {"@type": "Relationship", "name":
      "isEquippedWith", "target": "dtmi:samples:HVAC;1"}, {"@type": "Property", "name":
      "AverageTemperature", "schema": "double"}, {"@type": "Property", "name": "TemperatureUnit",
      "schema": "string"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2020-10-31
  response:
    body:
      string: '{"error":{"code":"ModelIdAlreadyExists","message":"Some of the model
        ids already exist: dtmi:samples:Building;1. Use Model_List API to view models
        that already exist. See the Swagger example (http://aka.ms/ModelListSwSmpl)."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 409
      message: Conflict
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:Building;1"}, "AverageTemperature":
      68, "TemperatureUnit": "Celsius"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-fd09146a?api-version=2020-10-31
  response:
    body:
      string: '{"$dtId":"digitalTwin-fd09146a","$etag":"W/\"b6e99c5a-a20e-419d-a977-0b69ff566608\"","AverageTemperature":68,"TemperatureUnit":"Celsius","$metadata":{"$model":"dtmi:samples:Building;1","AverageTemperature":{"lastUpdateTime":"2020-11-08T05:58:49.1857868Z"},"TemperatureUnit":{"lastUpdateTime":"2020-11-08T05:58:49.1857868Z"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b6e99c5a-a20e-419d-a977-0b69ff566608"
    status:
      code: 200
      message: OK
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:Building;1"}, "AverageTemperature":
      69, "TemperatureUnit": "Celsius"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-fd09146a?api-version=2020-10-31
  response:
    body:
      string: '{"$dtId":"digitalTwin-fd09146a","$etag":"W/\"d6c2a71f-777b-4820-8860-69c6e9c70409\"","AverageTemperature":69,"TemperatureUnit":"Celsius","$metadata":{"$model":"dtmi:samples:Building;1","AverageTemperature":{"lastUpdateTime":"2020-11-08T05:58:49.7443954Z"},"TemperatureUnit":{"lastUpdateTime":"2020-11-08T05:58:49.7443954Z"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d6c2a71f-777b-4820-8860-69c6e9c70409"
    status:
      code: 200
      message: OK
version: 1
