interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModel72641144%3B1?includeModelDefinition=false&api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"ModelNotFound","message":"There is no Model(s) available
        that matches the provided id(s) dtmi:com:samples:ComponentModel72641144;1.
        Check that the Model ID provided is valid by doing a Model_List API call."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-c989b303e6f7b7458c35422b1e63303a-9adc102d28984d47-01
    status:
      code: 404
      message: Not Found
- request:
    body: '[{"@id": "dtmi:com:samples:ComponentModel72641144;1", "@type": "Interface",
      "@context": ["dtmi:dtdl:context;2"], "displayName": "Component1", "contents":
      [{"@type": "Property", "name": "ComponentProp1", "schema": "string"}, {"@type":
      "Telemetry", "name": "ComponentTelemetry1", "schema": "integer"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview
  response:
    body:
      string: '[{"id":"dtmi:com:samples:ComponentModel72641144;1","description":{},"displayName":{"en":"Component1"},"decommissioned":false,"uploadTime":"2022-03-25T21:11:43.3231361+00:00"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-617463d433d13c45956b221881ec5e96-38a44f5c900a2b42-01
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModel72641144%3B1?includeModelDefinition=true&api-version=2021-06-30-preview
  response:
    body:
      string: '{"id":"dtmi:com:samples:ComponentModel72641144;1","description":{},"displayName":{"en":"Component1"},"decommissioned":false,"uploadTime":"2022-03-25T21:11:43.3231361+00:00","model":{"@id":"dtmi:com:samples:ComponentModel72641144;1","@type":"Interface","@context":["dtmi:dtdl:context;2"],"displayName":"Component1","contents":[{"@type":"Property","name":"ComponentProp1","schema":"string"},{"@type":"Telemetry","name":"ComponentTelemetry1","schema":"integer"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-0904186042dc824f92e4b70b61909a56-0cf12d73d6ea9944-01
    status:
      code: 200
      message: OK
version: 1
