interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModela654124b%3B1?includeModelDefinition=false&api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"ModelNotFound","message":"There is no Model(s) available
        that matches the provided id(s) dtmi:com:samples:ComponentModela654124b;1.
        Check that the Model ID provided is valid by doing a Model_List API call."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-1fbce3fd5d4f0b4d8e131760f7cd1f1b-d8e5314a85607a40-01
    status:
      code: 404
      message: Not Found
- request:
    body: '[{"@id": "dtmi:com:samples:ComponentModela654124b;1", "@type": "Interface",
      "@context": "dtmi:dtdl:context;2", "displayName": "Component1", "contents":
      [{"@type": "Property", "name": "ComponentProp1", "schema": "string"}, {"@type":
      "Telemetry", "name": "ComponentTelemetry1", "schema": "integer"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview
  response:
    body:
      string: '[{"id":"dtmi:com:samples:ComponentModela654124b;1","description":{},"displayName":{"en":"Component1"},"decommissioned":false,"uploadTime":"2022-03-28T15:05:11.1801006+00:00"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-0db48ccddf0ae140a52edecb694329e8-3b39b00b50f66d45-01
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModela654124b%3B1?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse:
      - 00-aafcb2ad9fc5b247b6f590e6ee51c916-24928e7aefc5ee42-01
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModela654124b%3B1?api-version=2021-06-30-preview
  response:
    body:
      string: '{"error":{"code":"ModelNotFound","message":"There is no Model(s) available
        that matches the provided id(s) dtmi:com:samples:ComponentModela654124b;1.
        Check that the Model ID provided is valid by doing a Model_List API call."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-9f22eacbe929ac46bb7906f8a58e7ad0-770eced20c6fdb40-01
    status:
      code: 404
      message: Not Found
version: 1
