{
  "Entries": [
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "728497c9-bdcb-438a-b350-cf311d3fa8b5",
        "traceresponse": "00-ed738de81aa5a8e6bf79640d51e82666-ff40ad8a3322bb55-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:com:samples:DTComponentTestsComponent;1",
            "description": {},
            "displayName": {
              "en": "Component1"
            },
            "decommissioned": false,
            "uploadTime": "2022-09-29T04:02:50.5877072\u002B00:00"
          },
          {
            "id": "dtmi:com:samples:DTComponentTestsModel;1",
            "description": {},
            "displayName": {
              "en": "TempModel"
            },
            "decommissioned": false,
            "uploadTime": "2022-09-29T04:02:50.5877268\u002B00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:DTComponentTestsComponent;1?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "3110fa0b-7602-42ee-8f9b-8f68c15a0081",
        "traceresponse": "00-1bbc01ff154610b646ccd7e98794fced-96fe5c26cd3a2225-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelReferencesNotDeleted",
          "message": "This model is currently being referenced by dtmi:com:samples:DTComponentTestsModel;1. You must delete these references before deleting the Model.. To delete references, do Delete Model on Ids provided above."
        }
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:DTComponentTestsModel;1?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "2e1d1674-c0ae-4a65-b818-1c52a5cbac29",
        "traceresponse": "00-54dfe61bf2d999c8ac1dd7a3f5e1f407-e852cd8b0a4de783-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022@id\u0022: \u0022dtmi:com:samples:DTComponentTestsComponent;1\u0022, \u0022@type\u0022: \u0022Interface\u0022, \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022, \u0022displayName\u0022: \u0022Component1\u0022, \u0022contents\u0022: [{\u0022@type\u0022:[...]
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:com:samples:DTComponentTestsModel;1"
        },
        "Prop1": "value",
        "Component1": {
          "$metadata": {},
          "ComponentProp1": "value1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002295f92edf-2c1e-49a3-9e72-5e1d147041fe\u0022",
        "mise-correlation-id": "6e694a15-3000-461b-872c-928debc880ba",
        "traceresponse": "00-f1d0a7fc714b64140cb834fe55720b08-ba5ed181f039648c-01"
      },
      "ResponseBody": {
        "$dtId": "DTComponentTestsTempTwin",
        "$etag": "W/\u002295f92edf-2c1e-49a3-9e72-5e1d147041fe\u0022",
        "Prop1": "value",
        "Component1": {
          "ComponentProp1": "value1",
          "$metadata": {
            "$lastUpdateTime": "2022-09-29T04:02:51.4738540Z",
            "ComponentProp1": {
              "lastUpdateTime": "2022-09-29T04:02:51.4738540Z"
            }
          }
        },
        "$metadata": {
          "$model": "dtmi:com:samples:DTComponentTestsModel;1",
          "$lastUpdateTime": "2022-09-29T04:02:51.4738540Z",
          "Prop1": {
            "lastUpdateTime": "2022-09-29T04:02:51.4738540Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2022-05-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json-patch\u002Bjson",
        "If-Match": "*"
      },
      "RequestBody": "[{\u0022op\u0022: \u0022replace\u0022, \u0022path\u0022: \u0022/ComponentProp1\u0022, \u0022value\u0022: \u0022value2\u0022}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022942d36b6-b530-4697-a3cf-0379eefae480\u0022",
        "mise-correlation-id": "1df7cf1a-b2cf-4abe-9169-8b02b8ba4e4f",
        "traceresponse": "00-f76f6486e64a91d4c2038bd10fb759cb-caa237755ab334e8-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022942d36b6-b530-4697-a3cf-0379eefae480\u0022",
        "mise-correlation-id": "47f819db-7c07-4b51-aee2-7a23a0420514",
        "traceresponse": "00-3c78ad15878f091ecda38e5498223e6f-d560302845810064-01"
      },
      "ResponseBody": {
        "ComponentProp1": "value2",
        "$metadata": {
          "$lastUpdateTime": "2022-09-29T04:02:51.5339066Z",
          "ComponentProp1": {
            "lastUpdateTime": "2022-09-29T04:02:51.5339066Z"
          }
        }
      }
    }
  ],
  "Variables": {}
}
