interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2022-05-31
  response:
    body:
      string: '{"value":[{"id":"dtmi:samples:DTTestBuilding;1","description":{},"displayName":{"en-US":"Building"},"decommissioned":false,"uploadTime":"2022-05-26T07:28:07.1010444+00:00"}],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
      mise-correlation-id: 87274c88-8a42-4bfb-937f-c778e06d6a91
      traceresponse: 00-9cdfaea819ccf84fbf6b4ed2a77d361d-8e5e4dea075c4d49-01
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2022-05-31
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:samples:DTTestBuilding;1?api-version=2022-05-31
  response:
    body:
      string: ''
    headers:
      mise-correlation-id: 93b1d62b-ba00-4349-b1d3-08f9d8dffafb
      traceresponse: 00-466f1b88e9313540ae95953731df8c04-c2eb503663305144-01
    status:
      code: 204
      message: No Content
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:samples:DTTestBuilding;1?api-version=2022-05-31
[...]
- request:
    body: '[{"@id": "dtmi:samples:DTTestBuilding;1", "@type": "Interface", "@context":
      "dtmi:dtdl:context;2", "displayName": "Building", "contents": [{"@type": "Property",
      "name": "AverageTemperature", "schema": "double"}, {"@type": "Property", "name":
      "TemperatureUnit", "schema": "string"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31
  response:
    body:
      string: '[{"id":"dtmi:samples:DTTestBuilding;1","description":{},"displayName":{"en-US":"Building"},"decommissioned":false,"uploadTime":"2022-05-26T07:28:07.9461127+00:00"}]'
    headers:
      content-type: application/json; charset=utf-8
      mise-correlation-id: bbd45629-f855-450c-9b8b-c71ebec01f7a
      traceresponse: 00-d546c91b34c1714b9a6a003e62f0c71c-b765497c6b4aa24b-01
    status:
      code: 201
      message: Created
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-18ef20b1?api-version=2022-05-31
  response:
    body:
      string: '{"error":{"code":"DigitalTwinNotFound","message":"There is no digital
        twin instance that exists with the ID digitalTwin-18ef20b1. Please verify
        that the twin id is valid and ensure that the twin is not deleted. See section
        on querying the twins https://aka.ms/adtv2query."}}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-61adc1631da0a149a7eb85711791c406-cd340bcee8b46d45-01
    status:
      code: 404
      message: Not Found
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-18ef20b1?api-version=2022-05-31
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:DTTestBuilding;1"}, "AverageTemperature":
      68, "TemperatureUnit": "Celsius"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-18ef20b1?api-version=2022-05-31
  response:
    body:
      string: '{"$dtId":"digitalTwin-18ef20b1","$etag":"W/\"d1fca7da-f725-46b2-8fb3-20c31e189c9a\"","AverageTemperature":68,"TemperatureUnit":"Celsius","$metadata":{"$model":"dtmi:samples:DTTestBuilding;1","$lastUpdateTime":"2022-05-26T07:28:08.0608059Z","AverageTemperature":{"lastUpdateTime":"2022-05-26T07:28:08.0608059Z"},"TemperatureUnit":{"lastUpdateTime":"2022-05-26T07:28:08.0608059Z"}}}'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"d1fca7da-f725-46b2-8fb3-20c31e189c9a"
      traceresponse: 00-69dd42858fc3954697a52ca90938a159-d0244e7abe5e8047-01
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-18ef20b1?api-version=2022-05-31
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-18ef20b1?api-version=2022-05-31
  response:
    body:
      string: ''
    headers:
      traceresponse: 00-c382bacde1dca643948cfb768a8a0ced-e6fffce2ae795942-01
    status:
      code: 204
      message: No Content
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-18ef20b1?api-version=2022-05-31
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-18ef20b1?api-version=2022-05-31
  response:
    body:
      string: '{"error":{"code":"DigitalTwinNotFound","message":"There is no digital
        twin instance that exists with the ID digitalTwin-18ef20b1. Please verify
        that the twin id is valid and ensure that the twin is not deleted. See section
        on querying the twins https://aka.ms/adtv2query."}}'
    headers:
      content-type: application/json; charset=utf-8
      traceresponse: 00-47e91c5430e95a4597c6b7053156895a-9082175cb8f2cb49-01
    status:
      code: 404
      message: Not Found
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-18ef20b1?api-version=2022-05-31
version: 1
