interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModeld5c11823;1?includeModelDefinition=false&api-version=2022-05-31
  response:
    body:
      string: '{"error":{"code":"ModelNotFound","message":"There is no Model(s) available
        that matches the provided id(s) dtmi:com:samples:ComponentModeld5c11823;1.
        Check that the Model ID provided is valid by doing a Model_List API call."}}'
    headers:
      content-type: application/json; charset=utf-8
      mise-correlation-id: 790ba8b5-111a-44fb-afa7-adc0a3c028c2
      traceresponse: 00-29f16d741446db48a6ca40d9fa683515-d2c6892e5a1cfc4a-01
    status:
      code: 404
      message: Not Found
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModeld5c11823;1?includeModelDefinition=false&api-version=2022-05-31
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:TempModeld5c11823;1?includeModelDefinition=false&api-version=2022-05-31
  response:
    body:
      string: '{"error":{"code":"ModelNotFound","message":"There is no Model(s) available
        that matches the provided id(s) dtmi:com:samples:TempModeld5c11823;1. Check
        that the Model ID provided is valid by doing a Model_List API call."}}'
    headers:
      content-type: application/json; charset=utf-8
      mise-correlation-id: 6922e214-e5cd-4648-815c-24eb4dea1da1
      traceresponse: 00-57e2d9f679b5bc4789065debd8a823cf-4ae18d027dd7b94d-01
    status:
      code: 404
      message: Not Found
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:TempModeld5c11823;1?includeModelDefinition=false&api-version=2022-05-31
- request:
    body: '[{"@id": "dtmi:com:samples:TempModeld5c11823;1", "@type": "Interface",
      "@context": "dtmi:dtdl:context;2", "displayName": "TempModel", "contents": [{"@type":
      "Property", "name": "Prop1", "schema": "string"}, {"@type": "Component", "name":
      "Component1", "schema": "dtmi:com:samples:ComponentModeld5c11823;1"}, {"@type":
      "Telemetry", "name": "Telemetry1", "schema": "integer"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31
  response:
    body:
      string: '{"error":{"code":"DTDLParserError","message":"None of the models in
        this request could be created due to a problem with one or more models: DtmiResolverAsync
        failed to resolve requisite references to element(s): dtmi:com:samples:ComponentModeld5c11823;1.
        See model documentation(https://aka.ms/ADTv2Models) for supported format."}}'
    headers:
      content-type: application/json; charset=utf-8
      mise-correlation-id: 9de902f9-aabd-4650-a8da-709149f8a505
      traceresponse: 00-6daf19911292d841a53faf5f2b0e6767-be4ec0da29833d43-01
    status:
      code: 400
      message: Bad Request
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31
version: 1
