{
  "Entries": [
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7fd04ba2-b972-41c6-90c3-af7db39c5e48",
        "traceresponse": "00-d00136db97165054591ef61d6cd77e2f-58df8ba1f8e2d617-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:samples:RelationshipTestBuilding;1",
            "description": {},
            "displayName": {
              "en": "Building"
            },
            "decommissioned": false,
            "uploadTime": "2022-09-29T04:04:23.0089277\u002B00:00"
          },
          {
            "id": "dtmi:samples:RelationshipTestFloor;1",
            "description": {},
            "displayName": {
              "en": "Floor"
            },
            "decommissioned": false,
            "uploadTime": "2022-09-29T04:04:23.0089471\u002B00:00"
          },
          {
            "id": "dtmi:samples:RelationshipTestRoom;1",
            "description": {},
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2022-09-29T04:04:23.0089588\u002B00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestBuilding;1?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "3c470206-f90c-4ca8-a169-c2e0ec2810e8",
        "traceresponse": "00-74326288b99d4f540a3a2d1dbe123bc3-1e37518b70881405-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestFloor;1?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "98378b05-be1c-48d7-8b2c-7ccc24f368a4",
        "traceresponse": "00-4bc273230fd4c92d71faff82d09780c2-52626d82d1a39ea8-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestRoom;1?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "9d0e3277-7f45-441c-8b2c-266db17fa4e5",
        "traceresponse": "00-edc3e79e86515fd4c2bcd763d8119c5b-32ccf56a3a568d18-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin/relationships?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "6ec7a963-37c6-4e9c-83b1-8a222695b7b2",
        "traceresponse": "00-0043833c4dd8b13dde3adc6d45eb55f6-9aadafd17c8941d3-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": []
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin/relationships?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "79aae4a3-f548-4b52-8997-8868991bd416",
        "traceresponse": "00-90acb15680e093e0a461c67f5abfbbe5-88254444e0061413-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": [
          {
            "$relationshipId": "FloorContainsRoom",
            "$etag": "W/\u0022347a4952-0a61-4eb8-8bb6-d5eb9daf9e69\u0022",
            "$sourceId": "DTRelationshipTestsFloorTwin",
            "$relationshipName": "contains",
            "$targetId": "DTRelationshipTestsRoomTwin"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin/relationships/FloorContainsRoom?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "e36cb54e-d7f4-4fcf-9317-45f075fc99b6",
        "traceresponse": "00-0c6dc7660252931c21fe8ea5f3f87952-bb148434901ed187-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c28f8144-e05b-4d7f-bb3d-5deaab539aee",
        "traceresponse": "00-847b868e980ac1ecf7e08050912ed92e-f03bf576bfe12f4c-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": []
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "dccd7e41-686e-473d-a78a-4900abb9b198",
        "traceresponse": "00-b64bd3f420bd269ac612fae467cedf6a-3b12c6c9a20153c0-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "d62a002f-62b5-4012-b1fe-b9bc624f4990",
        "traceresponse": "00-85fa7ef749230c73909a2cff919f7ec4-4acfbfa51525337d-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "49df7b74-26a6-4526-b89a-144b9f70427a",
        "traceresponse": "00-36dfecef0a4bd6662f5641c174ebc112-3a370ab19e0bf984-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022@id\u0022: \u0022dtmi:samples:RelationshipTestBuilding;1\u0022, \u0022@type\u0022: \u0022Interface\u0022, \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022, \u0022displayName\u0022: \u0022Building\u0022, \u0022contents\u0022: [{\u0022@type\u0022: \u0022[...]
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:RelationshipTestBuilding;1"
        },
        "AverageTemperature": 68
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022893c9fee-0640-4157-b455-c2fd6d7ce1ff\u0022",
        "mise-correlation-id": "0cdb83bf-d0fd-4bd4-912e-7adeac9c24ab",
        "traceresponse": "00-d013bf1b467f7670c8a85902c6a3fcbb-be8de2cd92c25924-01"
      },
      "ResponseBody": {
        "$dtId": "DTRelationshipTestsBuildingTwin",
        "$etag": "W/\u0022893c9fee-0640-4157-b455-c2fd6d7ce1ff\u0022",
        "AverageTemperature": 68,
        "$metadata": {
          "$model": "dtmi:samples:RelationshipTestBuilding;1",
          "$lastUpdateTime": "2022-09-29T04:04:24.1754196Z",
          "AverageTemperature": {
            "lastUpdateTime": "2022-09-29T04:04:24.1754196Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:RelationshipTestRoom;1"
        },
        "Temperature": 80,
        "IsOccupied": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022902cddf6-dc2e-4188-9a95-61123350335c\u0022",
        "mise-correlation-id": "cb39fac2-8251-4a44-8d39-68bffa082329",
        "traceresponse": "00-08978fa6f25dd1e64df8e221ee3d3938-d8c2dd5747c15bd1-01"
      },
      "ResponseBody": {
        "$dtId": "DTRelationshipTestsRoomTwin",
        "$etag": "W/\u0022902cddf6-dc2e-4188-9a95-61123350335c\u0022",
        "Temperature": 80,
        "IsOccupied": true,
        "$metadata": {
          "$model": "dtmi:samples:RelationshipTestRoom;1",
          "$lastUpdateTime": "2022-09-29T04:04:24.3028910Z",
          "Temperature": {
            "lastUpdateTime": "2022-09-29T04:04:24.3028910Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2022-09-29T04:04:24.3028910Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/foo/relationships/FloorContainsRoom?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": "FloorContainsRoom",
        "$sourceId": "DTRelationshipTestsFloorTwin",
        "$relationshipName": "contains",
        "$targetId": "DTRelationshipTestsRoomTwin"
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "39e4e6b9-a9b3-43ed-a099-de3679414482",
        "traceresponse": "00-6abd71727537b6a42f37b789a831bd74-8cd986d4ebcfa25f-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID foo. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin/relationships/foo?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": "FloorContainsRoom",
        "$sourceId": "DTRelationshipTestsFloorTwin",
        "$relationshipName": "contains",
        "$targetId": "DTRelationshipTestsRoomTwin"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022e772c700-afcb-485d-8939-2182a90eac78\u0022",
        "mise-correlation-id": "15ccfcdc-160e-44f9-a410-57a703916f47",
        "traceresponse": "00-9ef136924210f3bd3cdbfc4eb2c4c599-88cc53ba96212e88-01"
      },
      "ResponseBody": {
        "$relationshipId": "foo",
        "$etag": "W/\u0022e772c700-afcb-485d-8939-2182a90eac78\u0022",
        "$sourceId": "DTRelationshipTestsFloorTwin",
        "$relationshipName": "contains",
        "$targetId": "DTRelationshipTestsRoomTwin"
      }
    },
[...]
    {
      "RequestUri": "https://fake.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin/relationships/FloorContainsRoom?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "36267fa8-74f9-4a66-b617-4e7533109f36",
        "traceresponse": "00-3b342ea9efb311c1a7426e67c3fa5564-5aa6a38d04f49aeb-01"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidArgument",
          "message": "Could not deserialize relationship create body."
        }
      }
    }
  ],
  "Variables": {}
}
