interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2022-05-31
  response:
    body:
      string: '{"value":[{"id":"dtmi:samples:DTTestBuilding;1","description":{},"displayName":{"en-US":"Building"},"decommissioned":false,"uploadTime":"2022-05-26T07:28:09.0402345+00:00"}],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
      mise-correlation-id: e0fdbb1f-f942-42a6-bb5f-743481f36749
      traceresponse: 00-cd65bf32cfbc8a438d92c256db911764-8e565e81d25da94d-01
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2022-05-31
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:samples:DTTestBuilding;1?api-version=2022-05-31
  response:
    body:
      string: ''
    headers:
      mise-correlation-id: 139e8874-a77b-4117-aba7-7b154b240934
      traceresponse: 00-98a27842219ea740990d76baf5367a12-b1d4367c8bd6f744-01
    status:
      code: 204
      message: No Content
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi:samples:DTTestBuilding;1?api-version=2022-05-31
[...]
- request:
    body: '[{"@id": "dtmi:samples:DTTestBuilding;1", "@type": "Interface", "@context":
      "dtmi:dtdl:context;2", "displayName": "Building", "contents": [{"@type": "Property",
      "name": "AverageTemperature", "schema": "double"}, {"@type": "Property", "name":
      "TemperatureUnit", "schema": "string"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31
  response:
    body:
      string: '[{"id":"dtmi:samples:DTTestBuilding;1","description":{},"displayName":{"en-US":"Building"},"decommissioned":false,"uploadTime":"2022-05-26T07:28:12.1815695+00:00"}]'
    headers:
      content-type: application/json; charset=utf-8
      mise-correlation-id: 28e18e24-da11-4566-b4e9-8634bb3d817a
      traceresponse: 00-cdedcfeafe1fb74895c9a64f478cb401-7a2f36f63b78dc4d-01
    status:
      code: 201
      message: Created
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-c32717e3?api-version=2022-05-31
  response:
    body:
      string: ''
    headers:
      traceresponse: 00-187a3ea2a785b945ab3d45cc80388e4c-6a092a56d78c894c-01
    status:
      code: 204
      message: No Content
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-c32717e3?api-version=2022-05-31
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:DTTestBuilding;1"}, "AverageTemperature":
      68}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-c32717e3?api-version=2022-05-31
  response:
    body:
      string: '{"$dtId":"digitalTwin-c32717e3","$etag":"W/\"7c73c37c-5986-44f6-a13a-81eae18ea824\"","AverageTemperature":68,"$metadata":{"$model":"dtmi:samples:DTTestBuilding;1","$lastUpdateTime":"2022-05-26T07:28:12.3027592Z","AverageTemperature":{"lastUpdateTime":"2022-05-26T07:28:12.3027592Z"}}}'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"7c73c37c-5986-44f6-a13a-81eae18ea824"
      traceresponse: 00-08aedb049ffdf046911f71a6eb14d9ca-da34b54b4176664e-01
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-c32717e3?api-version=2022-05-31
- request:
    body: '[{"op": "add", "path": "/TemperatureUnit", "value": "Celsius"}]'
    headers:
      Content-Type:
      - application/json-patch+json
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-c32717e3?api-version=2022-05-31
  response:
    body:
      string: ''
    headers:
      etag: W/"0177ffbf-c8ea-47c4-b570-315f48278a8b"
      traceresponse: 00-69525087ab27dd40822df6cac315a63a-e882f24f776e394e-01
    status:
      code: 204
      message: No Content
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-c32717e3?api-version=2022-05-31
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-c32717e3?api-version=2022-05-31
  response:
    body:
      string: '{"$dtId":"digitalTwin-c32717e3","$etag":"W/\"0177ffbf-c8ea-47c4-b570-315f48278a8b\"","AverageTemperature":68,"TemperatureUnit":"Celsius","$metadata":{"$model":"dtmi:samples:DTTestBuilding;1","$lastUpdateTime":"2022-05-26T07:28:12.3638277Z","AverageTemperature":{"lastUpdateTime":"2022-05-26T07:28:12.3027592Z"},"TemperatureUnit":{"lastUpdateTime":"2022-05-26T07:28:12.3638277Z"}}}'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"0177ffbf-c8ea-47c4-b570-315f48278a8b"
      traceresponse: 00-d1eb905734ea084fbfaab88e22994c62-849073ecc122bb45-01
    status:
      code: 200
      message: OK
    url: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-c32717e3?api-version=2022-05-31
version: 1
