interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2021-06-30-preview
  response:
    body:
      string: '{"value":[{"id":"dtmi:samples:DTTestBuilding;1","description":{},"displayName":{"en":"Building"},"decommissioned":false,"uploadTime":"2022-03-25T21:10:26.8225597+00:00"}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-c00e3f6a947f064ba4cf161b64fb4f36-42025ae71b8db64d-01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse:
      - 00-285274c7f44c914bbdbfba15dd874107-55f33264af205d4c-01
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '[{"@id": "dtmi:samples:DTTestBuilding;1", "@type": "Interface", "@context":
      "dtmi:dtdl:context;2", "displayName": "Building", "contents": [{"@type": "Property",
      "name": "AverageTemperature", "schema": "double"}, {"@type": "Property", "name":
      "TemperatureUnit", "schema": "string"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview
  response:
    body:
      string: '[{"id":"dtmi:samples:DTTestBuilding;1","description":{},"displayName":{"en":"Building"},"decommissioned":false,"uploadTime":"2022-03-25T21:10:29.4293459+00:00"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-5316e9993bb6ec4cb089abbfe34c6503-3d9040517c3f4b4e-01
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-41e7101e?api-version=2021-06-30-preview
  response:
    body:
      string: ''
    headers:
      traceresponse:
      - 00-074da01697b0bd44b36c354b9b64c2b1-49b614ffcdf8a743-01
    status:
      code: 204
      message: No Content
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:DTTestBuilding;1"}, "AverageTemperature":
      68, "TemperatureUnit": "Celsius"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-41e7101e?api-version=2021-06-30-preview
  response:
    body:
      string: '{"$dtId":"digitalTwin-41e7101e","$etag":"W/\"fc72e815-2428-44a8-b96a-6b8c10e9c560\"","AverageTemperature":68,"TemperatureUnit":"Celsius","$metadata":{"$model":"dtmi:samples:DTTestBuilding;1","AverageTemperature":{"lastUpdateTime":"2022-03-25T21:10:29.6659499Z"},"TemperatureUnit":{"lastUpdateTime":"2022-03-25T21:10:29.6659499Z"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"fc72e815-2428-44a8-b96a-6b8c10e9c560"
      traceresponse:
      - 00-3c0148dd874e34439e33bde3b4852f00-219172a853e9f442-01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wus2.digitaltwins.azure.net/digitaltwins/digitalTwin-41e7101e?api-version=2021-06-30-preview
  response:
    body:
      string: '{"$dtId":"digitalTwin-41e7101e","$etag":"W/\"fc72e815-2428-44a8-b96a-6b8c10e9c560\"","AverageTemperature":68,"TemperatureUnit":"Celsius","$metadata":{"$model":"dtmi:samples:DTTestBuilding;1","AverageTemperature":{"lastUpdateTime":"2022-03-25T21:10:29.6659499Z"},"TemperatureUnit":{"lastUpdateTime":"2022-03-25T21:10:29.6659499Z"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"fc72e815-2428-44a8-b96a-6b8c10e9c560"
      traceresponse:
      - 00-d69997ecd1be0241bed5405fb3a7165d-98d153c0f814464b-01
    status:
      code: 200
      message: OK
version: 1
