interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2022-05-31
  response:
    body:
      string: '{"value":[{"id":"dtmi:samples:DTTestBuilding;1","description":{},"displayName":{"en-US":"Building"},"decommissioned":false,"uploadTime":"2022-05-26T07:27:57.604147+00:00"}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 4d16d5fc-ae80-4ce2-b385-bb0cde8cbc23
      traceresponse:
      - 00-39ccfe1fea275f4cbe44efc4c42cb0e3-2d52bdce35146e49-01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2022-05-31
  response:
    body:
      string: ''
    headers:
      mise-correlation-id:
      - 9373f8b2-c330-409b-9887-83d76bb0cc73
      traceresponse:
      - 00-99b4cb5a1699f247941018b98304223f-ee7abaea68cc1841-01
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '[{"@id": "dtmi:samples:DTTestBuilding;1", "@type": "Interface", "@context":
      "dtmi:dtdl:context;2", "displayName": "Building", "contents": [{"@type": "Property",
      "name": "AverageTemperature", "schema": "double"}, {"@type": "Property", "name":
      "TemperatureUnit", "schema": "string"}]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/models?api-version=2022-05-31
  response:
    body:
      string: '[{"id":"dtmi:samples:DTTestBuilding;1","description":{},"displayName":{"en-US":"Building"},"decommissioned":false,"uploadTime":"2022-05-26T07:27:58.4383678+00:00"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 6b5909dc-a77d-4fe4-87be-107ee0239c47
      traceresponse:
      - 00-06f83a76927734448ec51c665bba2892-ac9d3e8ef4ed144c-01
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-93531716?api-version=2022-05-31
  response:
    body:
      string: ''
    headers:
      traceresponse:
      - 00-94ee3281ba418c44842631c8e1d00323-c236ec1012d9b342-01
    status:
      code: 204
      message: No Content
- request:
    body: '{"$metadata": {"$model": "dtmi:samples:DTTestBuilding;1"}, "AverageTemperature":
      68, "TemperatureUnit": "Celsius"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-93531716?api-version=2022-05-31
  response:
    body:
      string: '{"$dtId":"digitalTwin-93531716","$etag":"W/\"f87c8519-0114-452e-b58c-78c8ccdff190\"","AverageTemperature":68,"TemperatureUnit":"Celsius","$metadata":{"$model":"dtmi:samples:DTTestBuilding;1","$lastUpdateTime":"2022-05-26T07:27:58.5693322Z","AverageTemperature":{"lastUpdateTime":"2022-05-26T07:27:58.5693322Z"},"TemperatureUnit":{"lastUpdateTime":"2022-05-26T07:27:58.5693322Z"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f87c8519-0114-452e-b58c-78c8ccdff190"
      traceresponse:
      - 00-cb3fc415ccd4c24c86c08d06ce24c42e-11b8e7ac7f94e548-01
    status:
      code: 200
      message: OK
- request:
    body: '[{"op": "move", "path": "/AverageTemperature", "value": 42}]'
    headers:
      Content-Type:
      - application/json-patch+json
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-93531716?api-version=2022-05-31
  response:
    body:
      string: '{"error":{"code":"JsonPatchInvalid","message":"Unsupported operation
        type move. Please provide a valid patch document. See section on update apis
        in the documentation https://aka.ms/adtv2twins."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-39e85eff58afef419d1fb58dd6e427ff-1016e311f2055647-01
    status:
      code: 400
      message: Bad Request
- request:
    body: '["AverageTemperature"]'
    headers:
      Content-Type:
      - application/json-patch+json
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-93531716?api-version=2022-05-31
  response:
    body:
      string: '{"errors":{"[0]":["Error converting value \"AverageTemperature\" to
        type ''Microsoft.AspNetCore.JsonPatch.Operations.Operation''. Path ''[0]'',
        line 1, position 21."],"jsonPatchDocument":["The jsonPatchDocument field is
        required."]},"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"detail":null,"instance":null,"extensions":{"traceId":"|f031a142-4369f7238f0e479f."}}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      traceresponse:
      - 00-c59ae9ecd6ae174b9caee37375e9f398-528c889fb38cc143-01
    status:
      code: 400
      message: Bad Request
- request:
    body: '[{}]'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-93531716?api-version=2022-05-31
  response:
    body:
      string: '{"error":{"code":"InvalidArgument","message":"Payload is invalid."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-05efedee0da3e34091920ce78ad29d64-966a556bcae5a349-01
    status:
      code: 400
      message: Bad Request
version: 1
