interactions:
- request:
    body: '[{"op": "replace", "path": "/Property1", "value": 42}]'
    headers:
      Content-Type:
      - application/json-patch+json
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/foo?api-version=2022-05-31
  response:
    body:
      string: '{"error":{"code":"RelationshipNotFound","message":"Relationship foo
        not found on twin DTRelationshipTestsBuildingTwin. Please verify that the
        relationship id is valid and ensure that the relationship is not deleted.
        See section on listing relationships in the documentation https://aka.ms/adtv2twins."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-db400ab07e0e33459346ec7ef132beb5-ab740932d7a27e45-01
    status:
      code: 404
      message: Not Found
- request:
    body: '[{"op": "replace", "path": "/Property1", "value": 42}]'
    headers:
      Content-Type:
      - application/json-patch+json
    method: PATCH
    uri: https://dttestdigitaltwinsname.api.wcus.digitaltwins.azure.net/digitaltwins/foo/relationships/BuildingHasFloor?api-version=2022-05-31
  response:
    body:
      string: '{"error":{"code":"DigitalTwinNotFound","message":"There is no digital
        twin instance that exists with the ID foo. Please verify that the twin id
        is valid and ensure that the twin is not deleted. See section on querying
        the twins https://aka.ms/adtv2query."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-09900ae6b8d38d4da8ccb509669cb0bd-ec7922a4c3198f43-01
    status:
      code: 404
      message: Not Found
version: 1
