interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/budgets/PythonSDKTestBudgetCost8?api-version=2018-01-31
  response:
    body: {string: '{"id":"subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/budgets/PythonSDKTestBudgetCost8","name":"PythonSDKTestBudgetCost8","type":"Microsoft.Consumption/budgets","eTag":"\"1d39baf085c589a\"","properties":{"timePeriod":{"startDate":"2018-02-01T00:00:00Z","endDate":"2018-02-02T00:00:00Z"},"timeGrain":"Monthly","amount":60.0,"currentSpend":{"amount":50.254680527413996,"unit":"USD"},"category":"Cost","notifications":{},"filters":{"resourceGroups":[],"resources":[],"meters":[]}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      session-id: [c3942f5c-ff60-481f-a257-534bb49337d4]
    status: {code: 200, message: OK}
- request:
    body: '{"eTag": "\"1d39baf085c589a\"", "properties": {"category": "Cost", "amount":
      90.0, "timeGrain": "Monthly", "timePeriod": {"startDate": "2018-02-01T00:00:00.000Z",
      "endDate": "2018-02-28T00:00:00.000Z"}, "filters": {"resourceGroups": [], "resources":
      [], "meters": []}, "notifications": {}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testscaleset/providers/Microsoft.Consumption/budgets/PythonSDKTestBudgetCost8?api-version=2018-01-31
  response:
    body: {string: '{"id":"subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testscaleset/providers/Microsoft.Consumption/budgets/PythonSDKTestBudgetCost8","name":"PythonSDKTestBudgetCost8","type":"Microsoft.Consumption/budgets","eTag":"\"1d39eed542b2a8d\"","properties":{"timePeriod":{"startDate":"2018-02-01T00:00:00Z","endDate":"2018-02-28T00:00:00Z"},"timeGrain":"Monthly","amount":90.0,"currentSpend":null,"category":"Cost","notifications":{},"filters":{"resourceGroups":[],"resources":[],"meters":[]}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      location: ['https://consumption.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testscaleset/providers/Microsoft.Consumption/budgets/PythonSDKTestBudgetCost8?api-version=2018-01-31']
      session-id: [06d8e3f6-8aab-4f53-ab37-4aebae019122]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
version: 1
