interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/usageDetails?$top=10&api-version=2017-11-30
  response:
    body: {string: '{"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/usageDetails?$top=10&api-version=2017-11-30&sessiontoken=7:1015381&$skiptoken=317C31307C31307C46616C73657C547275657C30&skiptokenver=v1&id=5ffed3a8-13e0-4835-85ce-5999b20bd617","value":[{"id":"subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/20171201/providers/Microsoft.Consumption/usageDetails/f2c5a67f-4c3a-434e-64f8-801ddeaf4691","name":"f2c5a67f-4c3a-434e-64f8-801ddeaf4691","type":"Microsoft.Consumption/usageDetails","tags":{"RaphyT":"Test"},"properties":{"billingPeriodId":"subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/20171201","usageStart":"2017-12-01T00:00:00.0000000Z","usageEnd":"2017-12-01T23:59:59.0000000Z","instanceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/TESTRGUKWEST/providers/Microsoft.Compute/virtualMachines/testwindows","instanceName":"testwindows","instanceLocation":"ukwest","meterId":"5fa93943-9970-49c1-b2ac-d3f3fb8e7818","usageQuantity":24,"pretaxCost":7.84821906132725,"currency":"USD","isEstimated":true,"subscriptionGuid":"00000000-0000-0000-0000-000000000000","subscriptionName":"Microsoft
        Azure Enterprise - A98","accountName":"Manish Test","departmentName":"Unassigned","product":"Standard_D2_v2
        VM (Windows) - UK West","consumedService":"Microsoft.Compute","costCenter":"","meterDetails":null}},{"id":"subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/20171201/providers/Microsoft.Consumption/usageDetails/3e754263-1f61-27a6-a23d-262c7184bcde","name":"3e754263-1f61-27a6-a23d-262c7184bcde","type":"Microsoft.Consumption/usageDetails","tags":null,"properties":{"billingPeriodId":"subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/20171201","usageStart":"2017-12-01T00:00:00.0000000Z","usageEnd":"2017-12-01T23:59:59.0000000Z","instanceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/TESTRG/providers/Microsoft.Compute/virtualMachines/std2swindows","instanceName":"std2swindows","instanceLocation":"ukwest","meterId":"32c3ebec-1646-49e3-8127-2cafbd3a04d8","usageQuantity":0.047353,"pretaxCost":0,"currency":"USD","isEstimated":true,"subscriptionGuid":"00000000-0000-0000-0000-000000000000","subscriptionName":"Microsoft
        Azure Enterprise - A98","accountName":"Manish Test","departmentName":"Unassigned","product":"Data
        Transfer In - Zone 1","consumedService":"Microsoft.Compute","costCenter":"","meterDetails":null}},{"id":"subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/20171201/providers/Microsoft.Consumption/usageDetails/5a3059ab-5117-5a33-9452-b262f91be302","name":"5a3059ab-5117-5a33-9452-b262f91be302","type":"Microsoft.Consumption/usageDetails","tags":{"RaphyD":"Dev"},"properties":{"billingPeriodId":"subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/20171201","usageStart":"2017-12-01T00:00:00.0000000Z","usageEnd":"2017-12-01T23:59:59.0000000Z","instanceId":"/subscriptions/A98D6DC5-EB8F-46CF-8938-F1FB08F03706/resourceGroups/DevRG/providers/Microsoft.Sql/servers/raphyd/databases/RaphyD","instanceName":"RaphyD","instanceLocation":"CentralUS","meterId":"a149966f-73b4-4e1d-b335-d2a572b1e6bd","usageQuantity":1,"pre[...]
