interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/a98d6dc5-eb8f-46cf-8938-f1fb08f03706/providers/Microsoft.Consumption/budgets/PythonSDKTestBudgetCost_testResourceGroup1?api-version=2018-01-31
  response:
    body: {string: '{"id":"subscriptions/a98d6dc5-eb8f-46cf-8938-f1fb08f03706/resourceGroups/testscaleset/providers/Microsoft.Consumption/budgets/PythonSDKTestBudgetCost_testResourceGroup1","name":"PythonSDKTestBudgetCost_testResourceGroup1","type":"Microsoft.Consumption/budgets","eTag":"\"1d39c65606c552e\"","properties":{"timePeriod":{"startDate":"2018-02-01T00:00:00Z","endDate":"2018-02-03T00:00:00Z"},"timeGrain":"Monthly","amount":90.0,"currentSpend":{"amount":0.0,"unit":"USD"},"category":"Cost","notifications":{},"filters":{"resourceGroups":[],"resources":[],"meters":[]}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      session-id: [f13dcf85-aa57-4a12-b23d-2cc0986831ed]
    status: {code: 200, message: OK}
version: 1
