interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201704-1/providers/Microsoft.Consumption/usageDetails?$expand=additionalProperties&$top=10&api-version=2017-04-24-preview
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/usageDetails/c20bd78391a8463828755cf904e442e5","type":"Microsoft.Consumption/usageDetails","name":"c20bd78391a8463828755cf904e442e5","tags":{"AccountName":"abcd","PoolName":"hjkl","MeteredService":"Compute","MeteredServiceType":"External","CloudServiceName":"304F6604-3F74-4D34-88CB-9CE0AFE7FAE2-CloudService","PoolSubscriptionId":"7122b0e6-cf8f-4ce6-9bd3-d700ed2bcc03"},"properties":{"billingPeriodId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201704-1","invoiceId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/invoices/201704-117949190364043","usageStart":"2017-03-26T00:00:00Z","usageEnd":"2017-03-26T23:59:59Z","instanceName":"abcd","instanceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/abcdef/providers/Microsoft.Batch/batchAccounts/abcd","instanceLocation":"krsouth","currency":"USD","usageQuantity":0.000269,"billableQuantity":0.0,"pretaxCost":0.0,"isEstimated":false,"meterId":"fe167397-a38d-43c3-9bb3-8e2907e56a41"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/usageDetails/43a6183e05a27f4f70abf38fe9840781","type":"Microsoft.Consumption/usageDetails","name":"43a6183e05a27f4f70abf38fe9840781","properties":{"billingPeriodId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201704-1","invoiceId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/invoices/201704-117949190364043","usageStart":"2017-03-26T00:00:00Z","usageEnd":"2017-03-26T23:59:59Z","instanceName":"SSSSS","instanceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/NewSearchGroup/providers/Microsoft.HDInsight/clusters/SSSSS","instanceLocation":"westus","currency":"USD","usageQuantity":33.0,"billableQuantity":33.0,"pretaxCost":10.560046417230066492790108283,"isEstimated":false,"meterId":"fa9dc70f-f562-44af-b965-b4576aefed95","additionalProperties":{"ClusterName":"SSSSS","HdInsightVersion":"3.5.1000.0.9492416","Tier":"standard","SurCharge":"None"}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/usageDetails/f02ba80e6c7c39afbd3abf082530b694","type":"Microsoft.Consumption/usageDetails","name":"f02ba80e6c7c39afbd3abf082530b694","properties":{"billingPeriodId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201704-1","invoiceId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/invoices/201704-117949190364043","u[...]
