interactions:
- request:
    body: '{"search": "mot", "suggesterName": "sg"}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - EF7947A7B190F859FA692C990BD83B48
    method: POST
    uri: https://searcha8490b9c.search.windows.net/indexes('drgqefsg')/docs/search.post.suggest?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"value":[{"@search.text":"Cheapest hotel in town. Infact, a motel.","hotelId":"2"},{"@search.text":"Secret
        Point Motel","hotelId":"9"}]}'
    headers:
      content-type: application/json; odata.metadata=none
      elapsed-time: '76'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://searcha8490b9c.search.windows.net/indexes('drgqefsg')/docs/search.post.suggest?api-version=2019-05-06-Preview
version: 1
