interactions:
- request:
    body: '{"value": [{"hotelId": "3", "@search.action": "delete"}, {"hotelId": "4",
      "@search.action": "delete"}]}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - 129908EA43485E35D0BB9C6B9E4F3EBE
    method: POST
    uri: https://searchbd291308.search.windows.net/indexes('drgqefsg')/docs/search.index?api-version=2019-05-06
  response:
    body:
      string: '{"value":[{"key":"3","status":true,"errorMessage":null,"statusCode":200},{"key":"4","status":true,"errorMessage":null,"statusCode":200}]}'
    headers:
      content-type: application/json; odata.metadata=none
      elapsed-time: '75'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://searchbd291308.search.windows.net/indexes('drgqefsg')/docs/search.index?api-version=2019-05-06
- request:
    body: null
    headers:
      api-key:
      - 129908EA43485E35D0BB9C6B9E4F3EBE
    method: GET
    uri: https://searchbd291308.search.windows.net/indexes('drgqefsg')/docs/$count?api-version=2019-05-06
  response:
    body:
      string: "\uFEFF8"
    headers:
      content-type: text/plain
      elapsed-time: '5'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://searchbd291308.search.windows.net/indexes('drgqefsg')/docs/$count?api-version=2019-05-06
- request:
    body: null
    headers:
      api-key:
      - 129908EA43485E35D0BB9C6B9E4F3EBE
    method: GET
    uri: https://searchbd291308.search.windows.net/indexes('drgqefsg')/docs('3')?api-version=2019-05-06
  response:
    body:
      string: ''
    headers:
      elapsed-time: '3'
    status:
      code: 404
      message: Not Found
    url: https://searchbd291308.search.windows.net/indexes('drgqefsg')/docs('3')?api-version=2019-05-06
- request:
    body: null
    headers:
      api-key:
      - 129908EA43485E35D0BB9C6B9E4F3EBE
    method: GET
    uri: https://searchbd291308.search.windows.net/indexes('drgqefsg')/docs('4')?api-version=2019-05-06
  response:
    body:
      string: ''
    headers:
      elapsed-time: '4'
    status:
      code: 404
      message: Not Found
    url: https://searchbd291308.search.windows.net/indexes('drgqefsg')/docs('4')?api-version=2019-05-06
version: 1
