interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Batch/operations?api-version=2017-09-01
  response:
    body: {string: '{"value":[{"name":"Microsoft.Batch/batchAccounts/providers/Microsoft.Insights/diagnosticSettings/read","display":{"provider":"Microsoft
        Batch","resource":"Batch Accounts","operation":"Read diagnostic setting","description":"Gets
        the diagnostic setting for the resource"},"origin":"system"},{"name":"Microsoft.Batch/batchAccounts/providers/Microsoft.Insights/diagnosticSettings/write","display":{"provider":"Microsoft
        Batch","resource":"Batch Accounts","operation":"Write diagnostic setting","description":"Creates
        or updates the diagnostic setting for the resource"},"origin":"system"},{"name":"Microsoft.Batch/batchAccounts/providers/Microsoft.Insights/logDefinitions/read","display":{"provider":"Microsoft
        Batch","resource":"Batch Account Log Definitions","operation":"Read Batch
        service log definitions","description":"Gets the available logs for the Batch
        service"},"origin":"system","properties":{"serviceSpecification":{"logSpecifications":[{"name":"ServiceLog","displayName":"Service
        Logs","blobDuration":"PT1H"}]}}},{"name":"Microsoft.Batch/batchAccounts/providers/Microsoft.Insights/metricDefinitions/read","display":{"provider":"Microsoft
        Batch","resource":"Batch Account Metric Definitions","operation":"Read Batch
        service metric definitions","description":"Gets the available metrics for
        the Batch service"},"origin":"system","properties":{"serviceSpecification":{"metricSpecifications":[{"name":"CoreCount","displayName":"Dedicated
        Core Count","displayDescription":"Total number of dedicated cores in the batch
        account","unit":"Count","aggregationType":"Total","availabilities":[{"timeGrain":"PT1M","blobDuration":"PT1H"}],"supportsInstanceLevelAggregation":false,"enableRegionalMdmAccount":false},{"name":"TotalNodeCount","displayName":"Dedicated
        Node Count","displayDescription":"Total number of dedicated nodes in the batch
        account","unit":"Count","aggregationType":"Total","availabilities":[{"timeGrain":"PT1M","blobDuration":"PT1H"}],"supportsInstanceLevelAggregation":false,"enableRegionalMdmAccount":false},{"name":"LowPriorityCoreCount","displayName":"LowPriority
        Core Count","displayDescription":"Total number of low-priority cores in the
        batch accou[...]
