interactions:
- request:
    body: '{"properties": {"displayName": "test_pool", "vmSize": "small", "deploymentConfiguration":
      {"cloudServiceConfiguration": {"osFamily": "5"}}, "scaleSettings": {"fixedScale":
      {"targetDedicatedNodes": 0, "targetLowPriorityNodes": 0}}, "userAccounts": [{"name":
      "UserName", "password": "p@55wOrd"}], "startTask": {"commandLine": "cmd.exe
      /c \"echo hello world\"", "resourceFiles": [{"httpUrl": "https://blobsource.com",
      "filePath": "filename.txt"}], "environmentSettings": [{"name": "ENV_VAR", "value":
      "env_value"}], "userIdentity": {"autoUser": {"elevationLevel": "Admin"}}}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/pools/test_paas_pool?api-version=2018-12-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/pools/test_paas_pool","name":"test_paas_pool","type":"Microsoft.Batch/batchAccounts/pools","etag":"W/\"0x8D679A20F339649\"","properties":{"lastModified":"2019-01-13T21:57:06.6205769Z","creationTime":"2019-01-13T21:57:06.6205769Z","provisioningState":"Succeeded","provisioningStateTransitionTime":"2019-01-13T21:57:06.6205769Z","allocationState":"Resizing","allocationStateTransitionTime":"2019-01-13T21:57:06.6205769Z","vmSize":"Small","interNodeCommunication":"Disabled","maxTasksPerNode":1,"taskSchedulingPolicy":{"nodeFillType":"Spread"},"deploymentConfiguration":{"cloudServiceConfiguration":{"osFamily":"5","osVersion":"*"}},"scaleSettings":{"fixedScale":{"targetDedicatedNodes":0,"targetLowPriorityNodes":0,"resizeTimeout":"PT15M"}},"startTask":{"commandLine":"cmd.exe
        /c \"echo hello world\"","resourceFiles":[{"filePath":"filename.txt","httpUrl":"https://blobsource.com"}],"environmentSettings":[{"name":"ENV_VAR","value":"env_value"}],"userIdentity":{"autoUser":{"elevationLevel":"Admin"}},"maxTaskRetryCount":0,"waitForSuccess":false},"userAccounts":[{"name":"UserName","elevationLevel":"NonAdmin","windowsUserConfiguration":{"loginMode":"Interactive"}}],"resizeOperationStatus":{"targetDedicatedNodes":0,"nodeDeallocationOption":"Requeue","resizeTimeout":"PT15M","startTime":"2019-01-13T21:57:06.6205769Z"},"currentDedicatedNodes":0,"currentLowPriorityNodes":0}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"0x8D679A20F339649"]
      last-modified: ['Sun, 13 Jan 2019 21:57:06 GMT']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"displayName": "test_pool", "vmSize": "Standard_A1", "deploymentConfiguration":
      {"virtualMachineConfiguration": {"imageReference": {"publisher": "MicrosoftWindowsServer",
      "offer": "WindowsServer", "sku": "2016-Datacenter-smalldisk"}, "nodeAgentSkuId":
      "batch.node.windows amd64", "windowsConfiguration": {"enableAutomaticUpdates":
      true}}}, "scaleSettings": {"fixedScale": {"targetDedicatedNodes": 0, "targetLowPriorityNodes":
      0}}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/pools/test_iaas_pool?api-version=2018-12-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/pools/test_iaas_pool","name":"test_iaas_pool","type":"Microsoft.Batch/batchAccounts/pools","etag":"W/\"0x8D679A20F6C93DB\"","properties":{"lastModified":"2019-01-13T21:57:06.9940699Z","creationTime":"2019-01-13T21:57:06.9940699Z","provisioningState":"Succeeded","provisioningStateTransitionTime":"2019-01-13T21:57:06.9940699Z","allocationState":"Resizing","allocationStateTransitionTime":"2019-01-13T21:57:06.9940699Z","vmSize":"STANDARD_A1","interNodeCommunication":"Disabled","maxTasksPerNode":1,"taskSchedulingPolicy":{"nodeFillType":"Spread"},"deploymentConfiguration":{"virtualMachineConfiguration":{"imageReference":{"publisher":"MicrosoftWindowsServer","offer":"WindowsServer","sku":"2016-Datacenter-smalldisk","version":"latest"},"nodeAgentSkuId":"batch.node.windows
        amd64","windowsConfiguration":{"enableAutomaticUpdates":true}}},"scaleSettings":{"fixedScale":{"targetDedicatedNodes":0,"targetLowPriorityNodes":0,"resizeTimeout":"PT15M"}},"resizeOperationStatus":{"targetDedicatedNodes":0,"nodeDeallocationOption":"Requeue","resizeTimeout":"PT15M","startTime":"2019-01-13T21:57:06.9940699Z"},"currentDedicatedNodes":0,"currentLowPriorityNodes":0}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"0x8D679A20F6C93DB"]
      last-modified: ['Sun, 13 Jan 2019 21:57:06 GMT']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/pools?api-version=2018-12-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0[...]
- request:
    body: '{"properties": {"scaleSettings": {"autoScale": {"formula": "$TargetDedicatedNodes=1"}}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/pools/test_iaas_pool?api-version=2018-12-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/pools/test_iaas_pool","name":"test_iaas_pool","type":"Microsoft.Batch/batchAccounts/pools","etag":"W/\"0x8D679A210150BE1\"","properties":{"lastModified":"2019-01-13T21:57:08.0981473Z","creationTime":"2019-01-13T21:57:06.9940699Z","provisioningState":"Succeeded","provisioningStateTransitionTime":"2019-01-13T21:57:06.9940699Z","allocationState":"Resizing","allocationStateTransitionTime":"2019-01-13T21:57:08.0981473Z","vmSize":"STANDARD_A1","interNodeCommunication":"Disabled","maxTasksPerNode":1,"taskSchedulingPolicy":{"nodeFillType":"Spread"},"deploymentConfiguration":{"virtualMachineConfiguration":{"imageReference":{"publisher":"MicrosoftWindowsServer","offer":"WindowsServer","sku":"2016-Datacenter-smalldisk","version":"latest"},"nodeAgentSkuId":"batch.node.windows
        amd64","windowsConfiguration":{"enableAutomaticUpdates":true}}},"scaleSettings":{"autoScale":{"formula":"$TargetDedicatedNodes=1","evaluationInterval":"PT15M"}},"resizeOperationStatus":{"targetDedicatedNodes":1,"nodeDeallocationOption":"Requeue","resizeTimeout":"PT15M","startTime":"2019-01-13T21:57:08.0981473Z"},"currentDedicatedNodes":0,"currentLowPriorityNodes":0,"autoScaleRun":{"evaluationTime":"2019-01-13T21:57:08.0981473Z","results":"$TargetDedicatedNodes=1;$TargetLowPriorityNodes=0;$NodeDeallocationOption=requeue"}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"0x8D679A210150BE1"]
      last-modified: ['Sun, 13 Jan 2019 21:57:08 GMT']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/pools/test_iaas_pool/stopResize?api-version=2018-12-01
  response:
    body: {string: '{"error":{"code":"OperationInvalidForCurrentState","message":"The
        specified operation is not valid for the current state of the resource.\nRequestId:753284c1-89a5-4df5-8a8e-686bd56f77cb\nTime:2019-01-13T21:57:09.0459485Z","target":"BatchAccount","details":[{"code":"Reason","message":"The
        specified pool has AutoScale enabled. AutoScale resize cannot be stopped"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 409, message: The specified operation is not valid for the current
        state of the resource.}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/pools/test_iaas_pool/disableAutoScale?api-version=2018-12-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_tes[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/pools/test_iaas_pool?api-version=2018-12-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/poolOperationResults/delete-test_iaas_pool?api-version=2018-12-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/poolOperationResults/delete-test_iaas_pool?api-version=2018-12-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/poolOperationResults/delete-test_iaas_pool?api-version=2018-12-01']
    status: {code: 202, message: Accepted}
[...]
