{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/authoring/analyze-text/projects/Project_Name?api-version=2022-10-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "projectName": "Project_Name",
        "language": "en",
        "projectKind": "customSingleLabelClassification",
        "description": "Test Project",
        "multilingual": true,
        "storageInputContainerName": "ct-data-assets"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "createdDateTime": "0001-01-01T00:00:00Z",
        "lastModifiedDateTime": "0001-01-01T00:00:00Z",
        "projectKind": "CustomSingleLabelClassification",
        "storageInputContainerName": "ct-data-assets",
        "projectName": "Project_Name",
        "multilingual": true,
        "description": "Test Project",
        "language": "en"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/authoring/analyze-text/projects?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "value": [
          {
            "createdDateTime": "2022-12-26T01:09:11Z",
            "lastModifiedDateTime": "2022-12-26T01:28:18Z",
            "projectKind": "CustomSingleLabelClassification",
            "storageInputContainerName": "ct-data-assets",
            "projectName": "Project_Name",
            "multilingual": true,
            "description": "Test Project",
            "language": "en"
          },
          {
            "createdDateTime": "2022-10-23T01:59:29Z",
            "lastMod[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/authoring/analyze-text/projects/Project_Name?api-version=2022-10-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/authoring/analyze-text/projects/global/deletion-jobs/484d7246-4859-4b28-81fd-09910e4d7043_638076096000000000?api-version=2022-10-01-preview",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/authoring/analyze-text/projects/global/deletion-jobs/484d7246-4859-4b28-81fd-09910e4d7043_638076096000000000?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "484d7246-4859-4b28-81fd-09910e4d7043_638076096000000000",
        "createdDateTime": "2022-12-26T01:28:18Z",
        "lastUpdatedDateTime": "2022-12-26T01:28:18Z",
        "expirationDateTime": "2023-01-02T01:28:18Z",
        "status": "succeeded"
      }
    },
[...]
