# coding=utf-8
# --------------------------------------------------------------------------
# Code generated by Microsoft (R) AutoRest Code Generator (autorest: 3.1.3, generator: {generator})
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
import datetime
from typing import TYPE_CHECKING
import warnings

from azure.core.exceptions import ClientAuthenticationError, HttpResponseError, ResourceExistsError, ResourceNotFoundError, map_error
from azure.core.paging import ItemPaged
from azure.core.pipeline import PipelineResponse
from azure.core.pipeline.transport import HttpRequest, HttpResponse

from .. import models as _models

if TYPE_CHECKING:
    # pylint: disable=unused-import,ungrouped-imports
    from typing import Any, Callable, Dict, Generic, Iterable, List, Optional, TypeVar

    T = TypeVar('T')
    ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]

class SeasonalFieldsOperations(object):
    """SeasonalFieldsOperations operations.

    You should not instantiate this class directly. Instead, you should create a Client instance that
    instantiates it for you and attaches it as an attribute.

    :ivar models: Alias to model classes used in this operation group.
    :type models: ~azure.farmbeats.models
    :param client: Client for service requests.
    :param config: Configuration of service client.
    :param serializer: An object model serializer.
    :param deserializer: An object model deserializer.
    """

    models = _models

    def __init__(self, client, config, serializer, deserializer):
        self._client = client
        self._serialize = serializer
        self._deserialize = deserializer
        self._config = config

    def get(
        self,
        farmer_id,  # type: str
        seasonal_field_id,  # type: str
        **kwargs  # type: Any
    ):
        # type: (...) -> "_models.SeasonalField"
        """Get field object with given fieldId.

        :param farmer_id: Id of the farmer.
        :type farmer_id: str
        :param seasonal_field_id: Id of the seasonalField.
        :type seasonal_field_id: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: SeasonalField, or the result of cls(response)
        :rtype: ~azure.farmbeats.models.SeasonalField
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["_models.SeasonalField"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "2020-12-31-preview"
        accept = "application/json"

        # Construct URL
        url = self.get.metadata['url']  # type: ignore
        path_format_arguments = {
            'farmerId': self._serialize.url("farmer_id", farmer_id, 'str'),
            'seasonalFieldId': self._serialize.url("seasonal_field_id", seasonal_field_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response)

        deserialized = self._deserialize('SeasonalField', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get.metadata = {'url': '/farmers/{farmerId}/seasonalFields/{seasonalFieldId}'}  # type: ignore

    def create(
        self,
        farmer_id,  # type: str
        seasonal_field_id,  # type: str
        body=None,  # type: Optional["_models.SeasonalField"]
        **kwargs  # type: Any
    ):
        # type: (...) -> "_models.SeasonalField"
        """Creates new field object with given request body.

        :param farmer_id: Id of the associated farmer.
        :type farmer_id: str
        :param seasonal_field_id: SeasonalField id.
        :type seasonal_field_id: str
        :param body: Field object.
        :type body: ~azure.farmbeats.models.SeasonalField
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: SeasonalField, or the result of cls(response)
        :rtype: ~azure.farmbeats.models.SeasonalField
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["_models.SeasonalField"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "2020-12-31-preview"
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.create.metadata['url']  # type: ignore
        path_format_arguments = {
            'farmerId': self._serialize.url("farmer_id", farmer_id, 'str'),
            'seasonalFieldId': self._serialize.url("seasonal_field_id", seasonal_field_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        if body is not None:
            body_content = self._serialize.body(body, 'SeasonalField')
        else:
            body_content = None
        body_content_kwargs['content'] = body_content
        request = self._client.put(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response)

        deserialized = self._deserialize('SeasonalField', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    create.metadata = {'url': '/farmers/{farmerId}/seasonalFields/{seasonalFieldId}'}  # type: ignore

    def create_or_update(
        self,
        farmer_id,  # type: str
        seasonal_field_id,  # type: str
        body=None,  # type: Optional["_models.SeasonalField"]
        **kwargs  # type: Any
    ):
        # type: (...) -> "_models.SeasonalField"
        """Updates SeasonalField for given field Id.

        :param farmer_id: Id of the farmer.
        :type farmer_id: str
        :param seasonal_field_id: Id of the seasonalField.
        :type seasonal_field_id: str
        :param body: New state of seasonal field.
        :type body: ~azure.farmbeats.models.SeasonalField
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: SeasonalField, or the result of cls(response)
        :rtype: ~azure.farmbeats.models.SeasonalField
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["_models.SeasonalField"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "2020-12-31-preview"
        content_type = kwargs.pop("content_type", "application/merge-patch+json")
        accept = "application/json"

        # Construct URL
        url = self.create_or_update.metadata['url']  # type: ignore
        path_format_arguments = {
            'farmerId': self._serialize.url("farmer_id", farmer_id, 'str'),
            'seasonalFieldId': self._serialize.url("seasonal_field_id", seasonal_field_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        if body is not None:
            body_content = self._serialize.body(body, 'SeasonalField')
        else:
            body_content = None
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response)

        deserialized = self._deserialize('SeasonalField', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    create_or_update.metadata = {'url': '/farmers/{farmerId}/seasonalFields/{seasonalFieldId}'}  # type: ignore

    def delete(
        self,
        farmer_id,  # type: str
        seasonal_field_id,  # type: str
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Deletes SeasonalField for given id.

        :param farmer_id: Id of the farmer.
        :type farmer_id: str
        :param seasonal_field_id: Id of the seasonalField.
        :type seasonal_field_id: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "2020-12-31-preview"

        # Construct URL
        url = self.delete.metadata['url']  # type: ignore
        path_format_arguments = {
            'farmerId': self._serialize.url("farmer_id", farmer_id, 'str'),
            'seasonalFieldId': self._serialize.url("seasonal_field_id", seasonal_field_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]

        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response)

        if cls:
            return cls(pipeline_response, None, {})

    delete.metadata = {'url': '/farmers/{farmerId}/seasonalFields/{seasonalFieldId}'}  # type: ignore

    def list_by_farmer_id(
        self,
        farmer_id,  # type: str
        farm_ids=None,  # type: Optional[List[str]]
        field_ids=None,  # type: Optional[List[str]]
        season_ids=None,  # type: Optional[List[str]]
        crop_variety_ids=None,  # type: Optional[List[str]]
        crop_ids=None,  # type: Optional[List[str]]
        min_avg_yield_value=None,  # type: Optional[float]
        max_avg_yield_value=None,  # type: Optional[float]
        avg_yield_unit=None,  # type: Optional[str]
        min_avg_seed_population_value=None,  # type: Optional[float]
        max_avg_seed_population_value=None,  # type: Optional[float]
        avg_seed_population_unit=None,  # type: Optional[str]
        min_planting_date=None,  # type: Optional[str]
        max_planting_date=None,  # type: Optional[str]
        ids=None,  # type: Optional[List[str]]
        names=None,  # type: Optional[List[str]]
        property_filters=None,  # type: Optional[List[str]]
        statuses=None,  # type: Optional[List[str]]
        min_created_date_time=None,  # type: Optional[datetime.datetime]
        max_created_date_time=None,  # type: Optional[datetime.datetime]
        min_last_modified_date_time=None,  # type: Optional[datetime.datetime]
        max_last_modified_date_time=None,  # type: Optional[datetime.datetime]
        max_page_size=50,  # type: Optional[int]
        skip_token=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["_models.SeasonalFieldListResponse"]
        """Returns a list of seasonalFields.

        :param farmer_id: Id of the farmer.
        :type farmer_id: str
        :param farm_ids: Farm Ids of the resource.
        :type farm_ids: list[str]
        :param field_ids: Field Ids of the resource.
        :type field_ids: list[str]
        :param season_ids: Season Ids of the resource.
        :type season_ids: list[str]
        :param crop_variety_ids: CropVarietyIds of the resource.
        :type crop_variety_ids: list[str]
        :param crop_ids: Ids of the crop it belongs to.
        :type crop_ids: list[str]
        :param min_avg_yield_value: Minimum average yield value of the seasonal field(inclusive).
        :type min_avg_yield_value: float
        :param max_avg_yield_value: Maximum average yield value of the seasonal field(inclusive).
        :type max_avg_yield_value: float
        :param avg_yield_unit: Unit of the average yield value attribute.
        :type avg_yield_unit: str
        :param min_avg_seed_population_value: Minimum average seed population value of the seasonal
         field(inclusive).
        :type min_avg_seed_population_value: float
        :param max_avg_seed_population_value: Maximum average seed population value of the seasonal
         field(inclusive).
        :type max_avg_seed_population_value: float
        :param avg_seed_population_unit: Unit of average seed population value attribute.
        :type avg_seed_population_unit: str
        :param min_planting_date: Minimum planting date in yyyy-MM-dd format.
        :type min_planting_date: str
        :param max_planting_date: Maximum planting date in yyyy-MM-dd format.
        :type max_planting_date: str
        :param ids: Ids of the resource.
        :type ids: list[str]
        :param names: Names of the resource.
        :type names: list[str]
        :param property_filters: Filters on key-value pairs within the Properties object.
         eg. "{testkey} eq {testvalue}".
        :type property_filters: list[str]
        :param statuses: Statuses of the resource.
        :type statuses: list[str]
        :param min_created_date_time: Minimum creation date of resource (inclusive).
        :type min_created_date_time: ~datetime.datetime
        :param max_created_date_time: Maximum creation date of resource (inclusive).
        :type max_created_date_time: ~datetime.datetime
        :param min_last_modified_date_time: Minimum last modified date of resource (inclusive).
        :type min_last_modified_date_time: ~datetime.datetime
        :param max_last_modified_date_time: Maximum last modified date of resource (inclusive).
        :type max_last_modified_date_time: ~datetime.datetime
        :param max_page_size: Maximum number of items needed (inclusive).
         Minimum = 10, Maximum = 1000, Default value = 50.
        :type max_page_size: int
        :param skip_token: Skip token for getting next set of results.
        :type skip_token: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either SeasonalFieldListResponse or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~azure.farmbeats.models.SeasonalFieldListResponse]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["_models.SeasonalFieldListResponse"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "2020-12-31-preview"
        accept = "application/json"

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

            if not next_link:
                # Construct URL
                url = self.list_by_farmer_id.metadata['url']  # type: ignore
                path_format_arguments = {
                    'farmerId': self._serialize.url("farmer_id", farmer_id, 'str'),
                }
                url = self._client.format_url(url, **path_format_arguments)
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                if farm_ids is not None:
                    query_parameters['farmIds'] = [self._serialize.query("farm_ids", q, 'str') if q is not None else '' for q in farm_ids]
                if field_ids is not None:
                    query_parameters['fieldIds'] = [self._serialize.query("field_ids", q, 'str') if q is not None else '' for q in field_ids]
                if season_ids is not None:
                    query_parameters['seasonIds'] = [self._serialize.query("season_ids", q, 'str') if q is not None else '' for q in season_ids]
                if crop_variety_ids is not None:
                    query_parameters['cropVarietyIds'] = [self._serialize.query("crop_variety_ids", q, 'str') if q is not None else '' for q in crop_variety_ids]
                if crop_ids is not None:
                    query_parameters['cropIds'] = [self._serialize.query("crop_ids", q, 'str') if q is not None else '' for q in crop_ids]
                if min_avg_yield_value is not None:
                    query_parameters['minAvgYieldValue'] = self._serialize.query("min_avg_yield_value", min_avg_yield_value, 'float')
                if max_avg_yield_value is not None:
                    query_parameters['maxAvgYieldValue'] = self._serialize.query("max_avg_yield_value", max_avg_yield_value, 'float')
                if avg_yield_unit is not None:
                    query_parameters['avgYieldUnit'] = self._serialize.query("avg_yield_unit", avg_yield_unit, 'str')
                if min_avg_seed_population_value is not None:
                    query_parameters['minAvgSeedPopulationValue'] = self._serialize.query("min_avg_seed_population_value", min_avg_seed_population_value, 'float')
                if max_avg_seed_population_value is not None:
                    query_parameters['maxAvgSeedPopulationValue'] = self._serialize.query("max_avg_seed_population_value", max_avg_seed_population_value, 'float')
                if avg_seed_population_unit is not None:
                    query_parameters['avgSeedPopulationUnit'] = self._serialize.query("avg_seed_population_unit", avg_seed_population_unit, 'str')
                if min_planting_date is not None:
                    query_parameters['minPlantingDate'] = self._serialize.query("min_planting_date", min_planting_date, 'str')
                if max_planting_date is not None:
                    query_parameters['maxPlantingDate'] = self._serialize.query("max_planting_date", max_planting_date, 'str')
                if ids is not None:
                    query_parameters['ids'] = [self._serialize.query("ids", q, 'str') if q is not None else '' for q in ids]
                if names is not None:
                    query_parameters['names'] = [self._serialize.query("names", q, 'str') if q is not None else '' for q in names]
                if property_filters is not None:
                    query_parameters['propertyFilters'] = [self._serialize.query("property_filters", q, 'str') if q is not None else '' for q in property_filters]
                if statuses is not None:
                    query_parameters['statuses'] = [self._serialize.query("statuses", q, 'str') if q is not None else '' for q in statuses]
                if min_created_date_time is not None:
                    query_parameters['minCreatedDateTime'] = self._serialize.query("min_created_date_time", min_created_date_time, 'iso-8601')
                if max_created_date_time is not None:
                    query_parameters['maxCreatedDateTime'] = self._serialize.query("max_created_date_time", max_created_date_time, 'iso-8601')
                if min_last_modified_date_time is not None:
                    query_parameters['minLastModifiedDateTime'] = self._serialize.query("min_last_modified_date_time", min_last_modified_date_time, 'iso-8601')
                if max_last_modified_date_time is not None:
                    query_parameters['maxLastModifiedDateTime'] = self._serialize.query("max_last_modified_date_time", max_last_modified_date_time, 'iso-8601')
                if max_page_size is not None:
                    query_parameters['$maxPageSize'] = self._serialize.query("max_page_size", max_page_size, 'int', maximum=1000, minimum=10)
                if skip_token is not None:
                    query_parameters['$skipToken'] = self._serialize.query("skip_token", skip_token, 'str')
                query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

                request = self._client.get(url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                path_format_arguments = {
                    'farmerId': self._serialize.url("farmer_id", farmer_id, 'str'),
                }
                url = self._client.format_url(url, **path_format_arguments)
                request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('SeasonalFieldListResponse', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_by_farmer_id.metadata = {'url': '/farmers/{farmerId}/seasonalFields'}  # type: ignore

    def list(
        self,
        farm_ids=None,  # type: Optional[List[str]]
        field_ids=None,  # type: Optional[List[str]]
        season_ids=None,  # type: Optional[List[str]]
        crop_variety_ids=None,  # type: Optional[List[str]]
        crop_ids=None,  # type: Optional[List[str]]
        min_avg_yield_value=None,  # type: Optional[float]
        max_avg_yield_value=None,  # type: Optional[float]
        avg_yield_unit=None,  # type: Optional[str]
        min_avg_seed_population_value=None,  # type: Optional[float]
        max_avg_seed_population_value=None,  # type: Optional[float]
        avg_seed_population_unit=None,  # type: Optional[str]
        min_planting_date=None,  # type: Optional[str]
        max_planting_date=None,  # type: Optional[str]
        ids=None,  # type: Optional[List[str]]
        names=None,  # type: Optional[List[str]]
        property_filters=None,  # type: Optional[List[str]]
        statuses=None,  # type: Optional[List[str]]
        min_created_date_time=None,  # type: Optional[datetime.datetime]
        max_created_date_time=None,  # type: Optional[datetime.datetime]
        min_last_modified_date_time=None,  # type: Optional[datetime.datetime]
        max_last_modified_date_time=None,  # type: Optional[datetime.datetime]
        max_page_size=50,  # type: Optional[int]
        skip_token=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["_models.SeasonalFieldListResponse"]
        """Returns a list of seasonalFields across all farmers.

        :param farm_ids: Farm Ids of the resource.
        :type farm_ids: list[str]
        :param field_ids: Field Ids of the resource.
        :type field_ids: list[str]
        :param season_ids: Season Ids of the resource.
        :type season_ids: list[str]
        :param crop_variety_ids: CropVarietyIds of the resource.
        :type crop_variety_ids: list[str]
        :param crop_ids: Ids of the crop it belongs to.
        :type crop_ids: list[str]
        :param min_avg_yield_value: Minimum average yield value of the seasonal field(inclusive).
        :type min_avg_yield_value: float
        :param max_avg_yield_value: Maximum average yield value of the seasonal field(inclusive).
        :type max_avg_yield_value: float
        :param avg_yield_unit: Unit of the average yield value attribute.
        :type avg_yield_unit: str
        :param min_avg_seed_population_value: Minimum average seed population value of the seasonal
         field(inclusive).
        :type min_avg_seed_population_value: float
        :param max_avg_seed_population_value: Maximum average seed population value of the seasonal
         field(inclusive).
        :type max_avg_seed_population_value: float
        :param avg_seed_population_unit: Unit of average seed population value attribute.
        :type avg_seed_population_unit: str
        :param min_planting_date: Minimum planting date in yyyy-MM-dd format.
        :type min_planting_date: str
        :param max_planting_date: Maximum planting date in yyyy-MM-dd format.
        :type max_planting_date: str
        :param ids: Ids of the resource.
        :type ids: list[str]
        :param names: Names of the resource.
        :type names: list[str]
        :param property_filters: Filters on key-value pairs within the Properties object.
         eg. "{testkey} eq {testvalue}".
        :type property_filters: list[str]
        :param statuses: Statuses of the resource.
        :type statuses: list[str]
        :param min_created_date_time: Minimum creation date of resource (inclusive).
        :type min_created_date_time: ~datetime.datetime
        :param max_created_date_time: Maximum creation date of resource (inclusive).
        :type max_created_date_time: ~datetime.datetime
        :param min_last_modified_date_time: Minimum last modified date of resource (inclusive).
        :type min_last_modified_date_time: ~datetime.datetime
        :param max_last_modified_date_time: Maximum last modified date of resource (inclusive).
        :type max_last_modified_date_time: ~datetime.datetime
        :param max_page_size: Maximum number of items needed (inclusive).
         Minimum = 10, Maximum = 1000, Default value = 50.
        :type max_page_size: int
        :param skip_token: Skip token for getting next set of results.
        :type skip_token: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either SeasonalFieldListResponse or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~azure.farmbeats.models.SeasonalFieldListResponse]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["_models.SeasonalFieldListResponse"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "2020-12-31-preview"
        accept = "application/json"

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

            if not next_link:
                # Construct URL
                url = self.list.metadata['url']  # type: ignore
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                if farm_ids is not None:
                    query_parameters['farmIds'] = [self._serialize.query("farm_ids", q, 'str') if q is not None else '' for q in farm_ids]
                if field_ids is not None:
                    query_parameters['fieldIds'] = [self._serialize.query("field_ids", q, 'str') if q is not None else '' for q in field_ids]
                if season_ids is not None:
                    query_parameters['seasonIds'] = [self._serialize.query("season_ids", q, 'str') if q is not None else '' for q in season_ids]
                if crop_variety_ids is not None:
                    query_parameters['cropVarietyIds'] = [self._serialize.query("crop_variety_ids", q, 'str') if q is not None else '' for q in crop_variety_ids]
                if crop_ids is not None:
                    query_parameters['cropIds'] = [self._serialize.query("crop_ids", q, 'str') if q is not None else '' for q in crop_ids]
                if min_avg_yield_value is not None:
                    query_parameters['minAvgYieldValue'] = self._serialize.query("min_avg_yield_value", min_avg_yield_value, 'float')
                if max_avg_yield_value is not None:
                    query_parameters['maxAvgYieldValue'] = self._serialize.query("max_avg_yield_value", max_avg_yield_value, 'float')
                if avg_yield_unit is not None:
                    query_parameters['avgYieldUnit'] = self._serialize.query("avg_yield_unit", avg_yield_unit, 'str')
                if min_avg_seed_population_value is not None:
                    query_parameters['minAvgSeedPopulationValue'] = self._serialize.query("min_avg_seed_population_value", min_avg_seed_population_value, 'float')
                if max_avg_seed_population_value is not None:
                    query_parameters['maxAvgSeedPopulationValue'] = self._serialize.query("max_avg_seed_population_value", max_avg_seed_population_value, 'float')
                if avg_seed_population_unit is not None:
                    query_parameters['avgSeedPopulationUnit'] = self._serialize.query("avg_seed_population_unit", avg_seed_population_unit, 'str')
                if min_planting_date is not None:
                    query_parameters['minPlantingDate'] = self._serialize.query("min_planting_date", min_planting_date, 'str')
                if max_planting_date is not None:
                    query_parameters['maxPlantingDate'] = self._serialize.query("max_planting_date", max_planting_date, 'str')
                if ids is not None:
                    query_parameters['ids'] = [self._serialize.query("ids", q, 'str') if q is not None else '' for q in ids]
                if names is not None:
                    query_parameters['names'] = [self._serialize.query("names", q, 'str') if q is not None else '' for q in names]
                if property_filters is not None:
                    query_parameters['propertyFilters'] = [self._serialize.query("property_filters", q, 'str') if q is not None else '' for q in property_filters]
                if statuses is not None:
                    query_parameters['statuses'] = [self._serialize.query("statuses", q, 'str') if q is not None else '' for q in statuses]
                if min_created_date_time is not None:
                    query_parameters['minCreatedDateTime'] = self._serialize.query("min_created_date_time", min_created_date_time, 'iso-8601')
                if max_created_date_time is not None:
                    query_parameters['maxCreatedDateTime'] = self._serialize.query("max_created_date_time", max_created_date_time, 'iso-8601')
                if min_last_modified_date_time is not None:
                    query_parameters['minLastModifiedDateTime'] = self._serialize.query("min_last_modified_date_time", min_last_modified_date_time, 'iso-8601')
                if max_last_modified_date_time is not None:
                    query_parameters['maxLastModifiedDateTime'] = self._serialize.query("max_last_modified_date_time", max_last_modified_date_time, 'iso-8601')
                if max_page_size is not None:
                    query_parameters['$maxPageSize'] = self._serialize.query("max_page_size", max_page_size, 'int', maximum=1000, minimum=10)
                if skip_token is not None:
                    query_parameters['$skipToken'] = self._serialize.query("skip_token", skip_token, 'str')
                query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')

                request = self._client.get(url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('SeasonalFieldListResponse', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list.metadata = {'url': '/seasonalFields'}  # type: ignore
