interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Sep 2020 22:49:23 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://cosmostablescosmosname.table.cosmos.azure.com/Tables('pytableasync330320ec')
  response:
    body:
      string: "{\"odata.error\":{\"code\":\"ResourceNotFound\",\"message\":{\"lang\":\"en-us\",\"value\":\"The
        specified resource does not exist.\\nRequestID:07a5b317-f938-11ea-a44f-58961df361d1\\n\"}}}\r\n"
    headers:
      content-type: application/json;odata=fullmetadata
    status:
      code: 404
      message: Not Found
    url: https://cosmostableswmnfqcvpsy56.table.cosmos.azure.com/Tables('pytableasync330320ec')
version: 1
