{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Oct 2022 01:59:55 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttablea3e93019"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-10-20T01%3A59%3A47.7334023Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttablea3e93019\u0027)"
      },
      "ResponseBody": {
        "TableName": "uttablea3e93019",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttablea3e93019",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Oct 2022 01:59:57 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pka3e93019",
        "RowKey": "rka3e93019",
        "datetime1": "2013-08-22T01:12:06.2608595Z",
        "datetime1@odata.type": "Edm.DateTime"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-10-20T01%3A59%3A48.2830855Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/uttablea3e93019(PartitionKey=\u0027pka3e93019\u0027,RowKey=\u0027rka3e93019\u0027)"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttablea3e93019/$metadata#uttablea3e93019/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-10-20T01%3A59%3A48.2830855Z\u0027\u0022",
        "PartitionKey": "pka3e93019",
        "RowKey": "rka3e93019",
        "datetime1@odata.type": "Edm.DateTime",
        "datetime1": "2013-08-22T01:12:06.2608595Z",
        "Timestamp": "2022-10-20T01:59:48.2830855Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttablea3e93019(PartitionKey=\u0027pka3e93019\u0027,RowKey=\u0027rka3e93019\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Oct 2022 01:59:57 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-10-20T01%3A59%3A48.2830855Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttablea3e93019/$metadata#uttablea3e93019/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-10-20T01%3A59%3A48.2830855Z\u0027\u0022",
        "PartitionKey": "pka3e93019",
        "RowKey": "rka3e93019",
        "datetime1@odata.type": "Edm.DateTime",
        "datetime1": "2013-08-22T01:12:06.2608595Z",
        "Timestamp": "2022-10-20T01:59:48.2830855Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttablea3e93019(PartitionKey=\u0027pka3e93019\u0027,RowKey=\u0027rka3e93019\u0027)",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Thu, 20 Oct 2022 01:59:57 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pka3e93019",
        "RowKey": "rka3e93019",
        "datetime1": "2013-08-22T01:12:06.2608595Z",
        "datetime1@odata.type": "Edm.DateTime",
        "datetime2": "2020-08-22T01:12:06.260859Z",
        "datetime2@odata.type": "Edm.DateTime"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272022-10-20T01%3A59%3A48.3645959Z\u0027\u0022"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Oct 2022 01:59:58 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "TableName": "uttablea3e93019"
          }
        ],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttablea3e93019\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Thu, 20 Oct 2022 01:59:58 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
