interactions:
- request:
    body: '{"TableName": "uttable13ae0ebd"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 23 Jul 2020 19:37:25 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable13ae0ebd"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://storagename.table.core.windows.net/Tables('uttable13ae0ebd')
      x-ms-version: '2019-07-07'
    status:
      code: 201
      message: Created
    url: https://pyacrstorageo2gx23nsoaws.table.core.windows.net/Tables
- request:
    body: '{"PartitionKey": "pk13ae0ebd", "RowKey": "rk13ae0ebd", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "married": true, "deceased": false, "ratio": 3.1,
      "evenratio": 3.0, "large": "933311100", "large@odata.type": "Edm.Int64", "Birthday":
      "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z",
      "birthday@odata.type": "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type":
      "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 23 Jul 2020 19:37:25 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/uttable13ae0ebd?st=2020-07-23T19:36:25Z&se=2020-07-23T20:37:25Z&sp=a&sv=2019-07-07&tn=uttable13ae0ebd&sig=YJP5U77fQiJe1TczRIQe6CeEKs0863ZtFLsFs24tG8M%3D
  response:
    body:
      string: '{"odata.error":{"code":"InvalidUri","message":{"lang":"en-US","value":"The
        requested URI does not represent any resource on the server.\nRequestId:42e7a01c-e002-00a1-6028-61811e000000\nTime:2020-07-23T19:37:26.3220028Z"}}}'
    headers:
      content-type: application/json
      x-ms-error-code: InvalidUri
    status:
      code: 400
      message: The requested URI does not represent any resource on the server.
    url: https://pyacrstorageo2gx23nsoaws.table.core.windows.net//uttable13ae0ebd?st=2020-07-23T19:36:25Z&se=2020-07-23T20:37:25Z&sp=a&sv=2019-07-07&tn=uttable13ae0ebd&sig=YJP5U77fQiJe1TczRIQe6CeEKs0863ZtFLsFs24tG8M%3D
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 23 Jul 2020 19:37:26 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttable13ae0ebd')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-07-07'
    status:
      code: 204
      message: No Content
    url: https://pyacrstorageo2gx23nsoaws.table.core.windows.net/Tables('uttable13ae0ebd')
version: 1
