interactions:
- request:
    body: '{"TableName": "uttable5c61109b"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 16 Sep 2020 18:39:18 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable5c61109b"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://storagename.table.core.windows.net/Tables('uttable5c61109b')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '{"PartitionKey": "001", "PartitionKey@odata.type": "Edm.String", "RowKey":
      "batch_insert", "RowKey@odata.type": "Edm.String", "test": true, "test2": "value",
      "test2@odata.type": "Edm.String", "test3": 3, "test4": 1234567890, "test5":
      "2020-09-16T18:39:18Z", "test5@odata.type": "Edm.DateTime"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 16 Sep 2020 18:39:18 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/uttable5c61109b
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable5c61109b/@Element","odata.etag":"W/\"datetime''2020-09-16T18%3A39%3A18.7082493Z''\"","PartitionKey":"001","RowKey":"batch_insert","Timestamp":"2020-09-16T18:39:18.7082493Z","test":true,"test2":"value","test3":3,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-09-16T18:39:18Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-09-16T18%3A39%3A18.7082493Z'"
      location:
      - https://storagename.table.core.windows.net/uttable5c61109b(PartitionKey='001',RowKey='batch_insert')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: "--batch_746cc19f-42f5-4bef-a608-dac904474298\r\nContent-Type: multipart/mixed;
      boundary=changeset_e902a98f-89e5-4896-880a-f123c65b1db1\r\n\r\n--changeset_e902a98f-89e5-4896-880a-f123c65b1db1\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID: 0\r\n\r\nPATCH
      https://pyacrstorage3c26v2dj7rsh.table.core.windows.net/uttable5c61109b(PartitionKey='001',RowKey='batch_insert')
      HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nIf-Match:
      *\r\nContent-Type: application/json\r\nAccept: application/json\r\nContent-Length:
      293\r\nx-ms-date: Wed, 16 Sep 2020 18:39:18 GMT\r\nDate: Wed, 16 Sep 2020 18:39:18
      GMT\r\nx-ms-client-request-id: edfae0fe-f84b-11ea-8cf7-58961df361d1\r\n\r\n{\"PartitionKey\":
      \"001\", \"PartitionKey@odata.type\": \"Edm.String\", \"RowKey\": \"batch_insert\",
      \"RowKey@odata.type\": \"Edm.String\", \"test\": true, \"test2\": \"value\",
      \"test2@odata.type\": \"Edm.String\", \"test3\": 5, \"test4\": 1234567890, \"test5\":
      \"2020-09-16T18:39:18Z\", \"test5@odata.type\": \"Edm.DateTime\"}\r\n--changeset_e902a98f-89e5-4896-880a-f123c65b1db1--\r\n\r\n--batch_746cc19f-42f5-4bef-a608-dac904474298--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batch_746cc19f-42f5-4bef-a608-dac904474298
      DataServiceVersion:
      - '3.0'
      MaxDataServiceVersion:
      - 3.0;NetFx
      x-ms-date:
      - Wed, 16 Sep 2020 18:39:18 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body:
      string: "--batchresponse_3dd538b8-864d-4be8-9a7b-95679def34f3\r\nContent-Type:
        multipart/mixed; boundary=changesetresponse_b264a092-1965-4296-9361-1e62c55a8133\r\n\r\n--changesetresponse_b264a092-1965-4296-9361-1e62c55a8133\r\nContent-Type:
        application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204
        No Content\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nDataServiceVersion:
        1.0;\r\nETag: W/\"datetime'2020-09-16T18%3A39%3A18.7451332Z'\"\r\n\r\n\r\n--changesetresponse_b264a092-1965-4296-9361-1e62c55a8133--\r\n--batchresponse_3dd538b8-864d-4be8-9a7b-95679def34f3--\r\n"
    headers:
      content-type:
      - multipart/mixed; boundary=batchresponse_3dd538b8-864d-4be8-9a7b-95679def34f3
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 16 Sep 2020 18:39:18 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.table.core.windows.net/uttable5c61109b(PartitionKey='001',RowKey='batch_insert')
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable5c61109b/@Element","odata.etag":"W/\"datetime''2020-09-16T18%3A39%3A18.7451332Z''\"","PartitionKey":"001","RowKey":"batch_insert","Timestamp":"2020-09-16T18:39:18.7451332Z","test":true,"test2":"value","test3":5,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-09-16T18:39:18Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-09-16T18%3A39%3A18.7451332Z'"
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Sep 2020 18:39:18 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttable5c61109b')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
version: 1
