interactions:
- request:
    body: '{"TableName": "uttableda214a0"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 05 Sep 2020 00:17:57 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttableda214a0"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://storagename.table.core.windows.net/Tables('uttableda214a0')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '{"PartitionKey": "pkda214a0", "PartitionKey@odata.type": "Edm.String",
      "RowKey": "rkda214a0", "RowKey@odata.type": "Edm.String", "age": 39, "sex":
      "male", "sex@odata.type": "Edm.String", "married": true, "deceased": false,
      "ratio": 3.1, "evenratio": 3.0, "large": 933311100, "Birthday": "1973-10-04T00:00:00Z",
      "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other":
      20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 05 Sep 2020 00:17:57 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/uttableda214a0
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttableda214a0/@Element","odata.etag":"W/\"datetime''2020-09-05T00%3A17%3A57.9990849Z''\"","PartitionKey":"pkda214a0","RowKey":"rkda214a0","Timestamp":"2020-09-05T00:17:57.9990849Z","age":39,"sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large":933311100,"Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-09-05T00%3A17%3A57.9990849Z'"
      location:
      - https://storagename.table.core.windows.net/uttableda214a0(PartitionKey='pkda214a0',RowKey='rkda214a0')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"PartitionKey": "pkda214a0", "PartitionKey@odata.type": "Edm.String",
      "RowKey": "rkda214a01", "RowKey@odata.type": "Edm.String", "age": 39, "sex":
      "male", "sex@odata.type": "Edm.String", "married": true, "deceased": false,
      "ratio": 3.1, "evenratio": 3.0, "large": 933311100, "Birthday": "1973-10-04T00:00:00Z",
      "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime", "binary": "YmluYXJ5", [...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 05 Sep 2020 00:17:58 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.table.core.windows.net/uttableda214a0(PartitionKey='pkda214a0',RowKey='rkda214a0')
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttableda214a0/@Element","odata.etag":"W/\"datetime''2020-09-05T00%3A17%3A57.9990849Z''\"","PartitionKey":"pkda214a0","RowKey":"rkda214a0","Timestamp":"2020-09-05T00:17:57.9990849Z","age":39,"sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large":933311100,"Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-09-05T00%3A17%3A57.9990849Z'"
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      If-Match:
      - '*'
      x-ms-date:
      - Sat, 05 Sep 2020 00:17:58 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.table.core.windows.net/uttableda214a0(PartitionKey='pkda214a0',RowKey='rkda214a0')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 05 Sep 2020 00:17:58 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.table.core.windows.net/uttableda214a0(PartitionKey='pkda214a0',RowKey='rkda214a0')
  response:
    body:
      string: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
        specified resource does not exist.\nRequestId:36f742b4-c002-004b-2e1a-83b7ad000000\nTime:2020-09-05T00:17:58.2052290Z"}}}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version:
      - '2019-02-02'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 05 Sep 2020 00:17:58 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttableda214a0')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 05 Sep 2020 00:17:58 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('querytableda214a0')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
version: 1
