interactions:
- request:
    body: '{"TableName": "uttable279d199b"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 02 Sep 2020 02:27:37 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable279d199b"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://storagename.table.core.windows.net/Tables('uttable279d199b')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://pyacrstoragect6543astms7.table.core.windows.net/Tables
- request:
    body: '{"PartitionKey": "pk279d199b", "RowKey": "rk279d199b", "age": 39, "sex":
      "male", "married": true, "deceased": false, "ratio": 3.1, "evenratio": 3.0,
      "large": 933311100, "Birthday": "1973-10-04T00:00:00Z", "Birthday@odata.type":
      "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type": "Edm.DateTime",
      "binary": "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other": 20, "clsid":
      "c9da6455-213d-42c9-9a79-3e9149a57833", "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 02 Sep 2020 02:27:37 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/uttable279d199b
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable279d199b/@Element","odata.etag":"W/\"datetime''2020-09-02T02%3A27%3A38.0917123Z''\"","PartitionKey":"pk279d199b","RowKey":"rk279d199b","Timestamp":"2020-09-02T02:27:38.0917123Z","age":39,"sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large":933311100,"Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-09-02T02%3A27%3A38.0917123Z'"
      location: https://storagename.table.core.windows.net/uttable279d199b(PartitionKey='pk279d199b',RowKey='rk279d199b')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://pyacrstoragect6543astms7.table.core.windows.net/uttable279d199b
- request:
    body: '{"PartitionKey": "pk279d199b", "RowKey": "rk279d199b", "age": "abc", "sex":
      "female", "sign": "aquarius", "birthday": "1991-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - '3.0'
      If-Match:
      - W/"datetime'2012-06-15T22%3A51%3A44.9662825Z'"
      x-ms-date:
      - Wed, 02 Sep 2020 02:27:38 GMT
      x-ms-version:
      - '2019-02-02'
    method: PATCH
    uri: https://storagename.table.core.windows.net/uttable279d199b(PartitionKey='pk279d199b',RowKey='rk279d199b')
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?><error xmlns="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata"><code>UpdateConditionNotSatisfied</code><message
        xml:lang="en-US">The update condition specified in the request was not satisfied.

        RequestId:68a15157-2002-000e-68d0-80afb2000000

        Time:2020-09-02T02:27:38.1355191Z</message></error>'
    headers:
      content-type: application/xml;charset=utf-8
      x-ms-version: '2019-02-02'
    status:
      code: 412
      message: Precondition Failed
    url: https://pyacrstoragect6543astms7.table.core.windows.net/uttable279d199b(PartitionKey='pk279d199b',RowKey='rk279d199b')
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 02 Sep 2020 02:27:38 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttable279d199b')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 204
      message: No Content
    url: https://pyacrstoragect6543astms7.table.core.windows.net/Tables('uttable279d199b')
version: 1
