interactions:
- request:
    body: '{"TableName": "uttableaf0417ac"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 18 Sep 2020 20:43:05 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttableaf0417ac","odata.metadata":"https://cosmostestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-18T20%3A43%3A06.1754887Z'"
      location: https://cosmostestcosmosname.table.cosmos.azure.com/Tables('uttableaf0417ac')
    status:
      code: 201
      message: Ok
    url: https://cosmostables7jyy4tyvaxat.table.cosmos.azure.com/Tables
- request:
    body: '{"PartitionKey": "pkaf0417ac", "RowKey": "rkaf0417ac", "\u554a\u9f44\u4e02\u72db\u72dc":
      "\ua015"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 18 Sep 2020 20:43:06 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostestcosmosname.table.cosmos.azure.com/uttableaf0417ac
  response:
    body:
      string: "{\"odata.metadata\":\"https://cosmostestcosmosname.table.cosmos.azure.com/uttableaf0417ac/$metadata#uttableaf0417ac/@Element\",\"odata.etag\":\"W/\\\"datetime'2020-09-18T20%3A43%3A06.6396679Z'\\\"\",\"PartitionKey\":\"pkaf0417ac\",\"RowKey\":\"rkaf0417ac\",\"\u554A\u9F44\u4E02\u72DB\u72DC\":\"\uA015\",\"Timestamp\":\"2020-09-18T20:43:06.6396679Z\"}"
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-18T20%3A43%3A06.6396679Z'"
      location: https://cosmostestcosmosname.table.cosmos.azure.com/uttableaf0417ac(PartitionKey='pkaf0417ac',RowKey='rkaf0417ac')
    status:
      code: 201
      message: Created
    url: https://cosmostables7jyy4tyvaxat.table.cosmos.azure.com/uttableaf0417ac
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 18 Sep 2020 20:43:06 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://cosmostestcosmosname.table.cosmos.azure.com/uttableaf0417ac()
  response:
    body:
      string: "{\"value\":[{\"odata.etag\":\"W/\\\"datetime'2020-09-18T20%3A43%3A06.6396679Z'\\\"\",\"PartitionKey\":\"pkaf0417ac\",\"RowKey\":\"rkaf0417ac\",\"\u554A\u9F44\u4E02\u72DB\u72DC\":\"\uA015\",\"Timestamp\":\"2020-09-18T20:43:06.6396679Z\"},{\"odata.etag\":\"W/\\\"datetime'2020-09-18T20%3A43%3A06.6887175Z'\\\"\",\"PartitionKey\":\"pkaf0417ac\",\"RowKey\":\"test2\",\"\u554A\u9F44\u4E02\u72DB\u72DC\":\"hello\",\"Timestamp\":\"2020-09-18T20:43:06.6887175Z\"}],\"odata.metadata\":\"https://cosmostestcosmosname.table.cosmos.azure.com/$metadata#uttableaf0417ac\"}"
    headers:
      content-type: application/json;odata=minimalmetadata
    status:
      code: 200
      message: Ok
    url: https://cosmostables7jyy4tyvaxat.table.cosmos.azure.com/uttableaf0417ac()
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 18 Sep 2020 20:43:06 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://cosmostestcosmosname.table.cosmos.azure.com/Tables('uttableaf0417ac')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://cosmostables7jyy4tyvaxat.table.cosmos.azure.com/Tables('uttableaf0417ac')
version: 1
