{
  "Entries": [
    {
      "RequestUri": "https://yalltablestestsprim.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 16 Sep 2021 10:09:32 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022TableName\u0022: \u0022uttable3f252a7c\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://yalltablestestsprim.table.core.windows.net/Tables(\u0027uttable3f252a7c\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltablestestsprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable3f252a7c"
      }
    },
    {
      "RequestUri": "https://yalltablestestsprim.table.core.windows.net/uttable3f252a7c",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 16 Sep 2021 10:09:32 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022: \u0022pk\u0022, \u0022PartitionKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022RowKey\u0022: \u002210\u0022, \u0022RowKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022value\u0022: 0}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272021-09-16T10%3A09%3A31.7361523Z\u0027\u0022",
        "Location": "https://yalltablestestsprim.table.core.windows.net/uttable3f252a7c(PartitionKey=\u0027pk\u0027,RowKey=\u002710\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltablestestsprim.table.core.windows.net/$metadata#uttable3f252a7c/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-09-16T10%3A09%3A31.7361523Z\u0027\u0022",
        "PartitionKey": "pk",
        "RowKey": "10",
        "Timestamp": "2021-09-16T10:09:31.7361523Z",
        "value": 0
      }
    },
[...]
    {
      "RequestUri": "https://yalltablestestsprim.table.core.windows.net/uttable3f252a7c()?$top=2\u0026$filter=PartitionKey eq %27pk%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 16 Sep 2021 10:09:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextPartitionKey": "1!4!cGs-",
        "x-ms-continuation-NextRowKey": "1!8!MTAxMg--",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltablestestsprim.table.core.windows.net/$metadata#uttable3f252a7c",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272021-09-16T10%3A09%3A31.7361523Z\u0027\u0022",
            "PartitionKey": "pk",
            "RowKey": "10",
            "Timestamp": "2021-09-16T10:09:31.7361523Z",
            "value": 0
          },
          {
            "odata.etag": "W/\u0022datetime\u00272021-09-16T10%3A09%3A31.7601693Z\u0027\u0022",
            "PartitionKey": "pk",
            "RowKey": "101",
            "Timestamp": "2021-09-16T10:09:31.7601693Z",
            "value": 1
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://yalltablestestsprim.table.core.windows.net/Tables(\u0027uttable3f252a7c\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Sep 2021 10:09:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}