{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 12 Oct 2022 20:39:58 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable7a4e2d87"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttable7a4e2d87\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable7a4e2d87"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable7a4e2d87(PartitionKey=\u00271c241c8d-f7b6-4b0a-abba-d9b169010038\u0027,RowKey=\u00271c241c8d-f7b6-4b0a-abba-d9b169010038\u0027)",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 12 Oct 2022 20:39:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "1c241c8d-f7b6-4b0a-abba-d9b169010038",
        "PartitionKey@odata.type": "Edm.Guid",
        "RowKey": "1c241c8d-f7b6-4b0a-abba-d9b169010038",
        "RowKey@odata.type": "Edm.Guid"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272022-10-12T20%3A39%3A59.63627Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable7a4e2d87(PartitionKey=\u00271c241c8d-f7b6-4b0a-abba-d9b169010038\u0027,RowKey=\u00271c241c8d-f7b6-4b0a-abba-d9b169010038\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 12 Oct 2022 20:39:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-10-12T20%3A39%3A59.63627Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable7a4e2d87/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-10-12T20%3A39%3A59.63627Z\u0027\u0022",
        "PartitionKey": "1c241c8d-f7b6-4b0a-abba-d9b169010038",
        "RowKey": "1c241c8d-f7b6-4b0a-abba-d9b169010038",
        "Timestamp": "2022-10-12T20:39:59.63627Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable7a4e2d87(PartitionKey=\u00271c241c8d-f7b6-4b0a-abba-d9b169010038\u0027,RowKey=\u00271c241c8d-f7b6-4b0a-abba-d9b169010038\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Wed, 12 Oct 2022 20:39:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable7a4e2d87(PartitionKey=\u00271c241c8d-f7b6-4b0a-abba-d9b169010038\u0027,RowKey=\u00271c241c8d-f7b6-4b0a-abba-d9b169010038\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 12 Oct 2022 20:39:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "ResourceNotFound",
          "message": {
            "lang": "en-US",
            "value": "The specified resource does not exist.\nRequestId:91423d92-6002-0016-2b7a-de93b7000000\nTime:2022-10-12T20:39:59.7672069Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttable7a4e2d87\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Wed, 12 Oct 2022 20:39:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
