{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 01:01:29 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttableb9322de3"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-05-06T01%3A01%3A28.6901768Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttableb9322de3\u0027)"
      },
      "ResponseBody": {
        "TableName": "uttableb9322de3",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttableb9322de3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 01:01:29 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pkb9322de3",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "rkb9322de3",
        "RowKey@odata.type": "Edm.String",
        "date": "2003-09-27T12:52:43.000000Z",
        "date@odata.type": "Edm.DateTime"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-05-06T01%3A01%3A29.1123720Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/uttableb9322de3(PartitionKey=\u0027pkb9322de3\u0027,RowKey=\u0027rkb9322de3\u0027)"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttableb9322de3/$metadata#uttableb9322de3/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-05-06T01%3A01%3A29.1123720Z\u0027\u0022",
        "PartitionKey": "pkb9322de3",
        "RowKey": "rkb9322de3",
        "date@odata.type": "Edm.DateTime",
        "date": "2003-09-27T12:52:43.0000000Z",
        "Timestamp": "2022-05-06T01:01:29.1123720Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttableb9322de3(PartitionKey=\u0027pkb9322de3\u0027,RowKey=\u0027rkb9322de3\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 01:01:29 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-05-06T01%3A01%3A29.1123720Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttableb9322de3/$metadata#uttableb9322de3/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-05-06T01%3A01%3A29.1123720Z\u0027\u0022",
        "PartitionKey": "pkb9322de3",
        "RowKey": "rkb9322de3",
        "date@odata.type": "Edm.DateTime",
        "date": "2003-09-27T12:52:43.0000000Z",
        "Timestamp": "2022-05-06T01:01:29.1123720Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 01:01:29 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "TableName": "uttableb9322de3"
          }
        ],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttableb9322de3\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 May 2022 01:01:29 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
