{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:44:37 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttableaf492df6"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttableaf492df6\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttableaf492df6"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttableaf492df6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:44:37 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pkaf492df6",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "rkaf492df6",
        "RowKey@odata.type": "Edm.String",
        "binary": "AQIDBAUGBwgJCg==",
        "binary@odata.type": "Edm.Binary"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-05-06T00%3A44%3A36.9778481Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.core.windows.net/uttableaf492df6(PartitionKey=\u0027pkaf492df6\u0027,RowKey=\u0027rkaf492df6\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttableaf492df6/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-05-06T00%3A44%3A36.9778481Z\u0027\u0022",
        "PartitionKey": "pkaf492df6",
        "RowKey": "rkaf492df6",
        "Timestamp": "2022-05-06T00:44:36.9778481Z",
        "binary@odata.type": "Edm.Binary",
        "binary": "AQIDBAUGBwgJCg=="
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttableaf492df6(PartitionKey=\u0027pkaf492df6\u0027,RowKey=\u0027rkaf492df6\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:44:37 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-05-06T00%3A44%3A36.9778481Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttableaf492df6/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-05-06T00%3A44%3A36.9778481Z\u0027\u0022",
        "PartitionKey": "pkaf492df6",
        "RowKey": "rkaf492df6",
        "Timestamp": "2022-05-06T00:44:36.9778481Z",
        "binary@odata.type": "Edm.Binary",
        "binary": "AQIDBAUGBwgJCg=="
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:44:37 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "uttableaf492df6"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttableaf492df6\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 May 2022 00:44:37 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
