interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Sep 2020 21:51:23 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('pytableasync50951df9')
  response:
    body:
      string: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
        specified resource does not exist.\nRequestId:fafbe4a5-f002-003d-7e73-8cdd21000000\nTime:2020-09-16T21:51:24.0807245Z"}}}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version: '2019-02-02'
    status:
      code: 404
      message: Not Found
    url: https://pyacrstoragewrla36mtikyp.table.core.windows.net/Tables('pytableasync50951df9')
version: 1
