interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <StorageServiceProperties><MinuteMetrics><Version>1.0</Version><Enabled>true</Enabled><IncludeAPIs>true</IncludeAPIs><RetentionPolicy><Enabled>true</Enabled><Days>5</Days></RetentionPolicy></MinuteMetrics></StorageServiceProperties>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Fri, 24 Jul 2020 16:42:36 GMT
      x-ms-version:
      - 12.0.0b1
    method: PUT
    uri: https://storagename.table.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"yes\"?>\r\n<error
        xmlns=\"http://schemas.microsoft.com/ado/2007/08/dataservices/metadata\">\r\n
        \ <code>InvalidHeaderValue</code>\r\n  <message xml:lang=\"en-US\">The value
        for one of the HTTP headers is not in the correct format.\nRequestId:75cdb433-8002-000d-10d9-61d77e000000\nTime:2020-07-24T16:42:36.8998603Z</message>\r\n</error>"
    headers:
      content-type:
      - application/xml
    status:
      code: 400
      message: The value for one of the HTTP headers is not in the correct format.
version: 1
