{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 01:00:40 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttabledecd349c"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-05-06T01%3A00%3A40.0206856Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttabledecd349c\u0027)"
      },
      "ResponseBody": {
        "TableName": "uttabledecd349c",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttabledecd349c",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 01:00:41 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "RowKey": "rk",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "PropertiesNeedValue",
          "message": {
            "lang": "en-us",
            "value": "PartitionKey/RowKey cannot be empty\r\nActivityId: 57942672-7dbc-4519-8cbe-11a2ea3e1c89, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/10.0.19041.0\nRequestID:57942672-7dbc-4519-8cbe-11a2ea3e1c89\n"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttabledecd349c\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 May 2022 01:00:41 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
