interactions:
- request:
    body: '{"TableName": "uttable7e0a1b30"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 01 Oct 2020 01:23:17 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttable7e0a1b30","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-10-01T01%3A23%3A17.6542215Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable7e0a1b30')
    status:
      code: 201
      message: Ok
    url: https://tablestestcosmosname.table.cosmos.azure.com/Tables
- request:
    body: '{"RowKey": "rk", "RowKey@odata.type": "Edm.String", "PartitionKey": "",
      "PartitionKey@odata.type": "Edm.String"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 01 Oct 2020 01:23:18 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable7e0a1b30
  response:
    body:
      string: "{\"odata.error\":{\"code\":\"PropertiesNeedValue\",\"message\":{\"lang\":\"en-us\",\"value\":\"PartitionKey/RowKey
        cannot be empty\\r\\nActivityId: af9098c1-0384-11eb-a334-58961df361d1, documentdb-dotnet-sdk/2.11.0
        Host/64-bit MicrosoftWindowsNT/6.2.9200.0\\nRequestID:af9098c1-0384-11eb-a334-58961df361d1\\n\"}}}\r\n"
    headers:
      content-type: application/json;odata=fullmetadata
    status:
      code: 400
      message: Bad Request
    url: https://tablestestcosmosname.table.cosmos.azure.com/uttable7e0a1b30
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 01 Oct 2020 01:23:18 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable7e0a1b30')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable7e0a1b30')
version: 1
