interactions:
- request:
    body: '{"TableName": "uttabled1541c58"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 01 Oct 2020 01:27:22 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttabled1541c58","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-10-01T01%3A27%3A22.9966343Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttabled1541c58')
    status:
      code: 201
      message: Ok
    url: https://tablestestcosmosname.table.cosmos.azure.com/Tables
[...]
- request:
    body: '{"PartitionKey": "pkd1541c58", "PartitionKey@odata.type": "Edm.String",
      "RowKey": "rkd1541c581", "RowKey@odata.type": "Edm.String", "age": 39, "sex":
      "male", "sex@odata.type": "Edm.String", "married": true, "deceased": false,
      "ratio": 3.1, "evenratio": 3.0, "large": 933311100, "Birthday": "1973-10-04T00:00:00Z",
      "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other":
      20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 01 Oct 2020 01:27:23 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/querytabled1541c58
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/querytabled1541c58/$metadata#querytabled1541c58/@Element","odata.etag":"W/\"datetime''2020-10-01T01%3A27%3A23.9500807Z''\"","PartitionKey":"pkd1541c58","RowKey":"rkd1541c581","age":39,"sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large":933311100,"Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Timestamp":"2020-10-01T01:27:23.9500807Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-10-01T01%3A27%3A23.9500807Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/querytabled1541c58(PartitionKey='pkd1541c58',RowKey='rkd1541c581')
    status:
      code: 201
      message: Created
    url: https://tablestestcosmosname.table.cosmos.azure.com/querytabled1541c58
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 01 Oct 2020 01:27:23 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/querytabled1541c58()?$top=2
  response:
    body:
      string: '{"value":[{"odata.etag":"W/\"datetime''2020-10-01T01%3A27%3A23.9500807Z''\"","PartitionKey":"pkd1541c58","RowKey":"rkd1541c581","age":39,"sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large":933311100,"Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Timestamp":"2020-10-01T01:27:23.9500807Z"},{"odata.etag":"W/\"datetime''2020-10-01T01%3A27%3A23.9961607Z''\"","PartitionKey":"pkd1541c58","RowKey":"rkd1541c5812","age":39,"sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large":933311100,"Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Timestamp":"2020-10-01T01:27:23.9961607Z"}],"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#querytabled1541c58"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      x-ms-continuation-nextpartitionkey: '{"token":"aI0BAK16bRICAAAAAAAAAA==","range":{"min":"","max":"FF"}}'
      x-ms-continuation-nextrowkey: NA
    status:
      code: 200
      message: Ok
    url: https://tablestestcosmosname.table.cosmos.azure.com/querytabled1541c58()?$top=2
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 01 Oct 2020 01:27:24 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/querytabled1541c58()?$top=2&NextPartitionKey=%7B%22token%22:%22aI0BAK16bRICAAAAAAAAAA%3D%3D%22,%22range%22:%7B%22min%22:%22%22,%22max%22:%22FF%22%7D%7D&NextRowKey=NA
  response:
    body:
      string: '{"value":[{"odata.etag":"W/\"datetime''2020-1[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 01 Oct 2020 01:27:24 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttabled1541c58')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttabled1541c58')
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 01 Oct 2020 01:27:24 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('querytabled1541c58')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://tablestestcosmosname.table.cosmos.azure.com/Tables('querytabled1541c58')
version: 1
