interactions:
- request:
    body: '{"TableName": "uttablee11613af"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 03 Nov 2020 21:23:08 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttablee11613af","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-11-03T21%3A23%3A08.9557511Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttablee11613af')
    status:
      code: 201
      message: Ok
    url: https://tablestestvu6ysotlcesvd5.table.cosmos.azure.com/Tables
- request:
    body: "--batch_dbb35aed-4b3e-4a97-bfc8-00f7c8e48b82\r\nContent-Type: multipart/mixed;\
      \ boundary=changeset_41d373b5-345c-4991-8636-11f4a7fb4bbb\r\n\r\n--changeset_41d373b5-345c-4991-8636-11f4a7fb4bbb\r\
      \nContent-Type: application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID:\
      \ 0\r\n\r\nPOST https://tablestestvu6ysotlcesvd5.table.cosmos.azure.com/uttablee11613af\
      \ HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nPrefer:\
      \ return-no-content\r\nContent-Type: application/json;odata=nometadata\r\nAccept:\
      \ application/json;odata=minimalmetadata\r\nContent-Length: 223\r\nx-ms-date:\
      \ Tue, 03 Nov 2020 21:23:09 GMT\r\nDate: Tue, 03 Nov 2020 21:23:09 GMT\r\nx-ms-client-request-id:\
      \ c56d3e29-1e1a-11eb-9430-58961df361d1\r\n\r\n{\"PartitionKey\": \"batch_inserts\"\
      , \"PartitionKey@odata.type\": \"Edm.String\", \"test\": true, \"test2\": \"\
      value\", \"test2@odata.type\": \"Edm.String\", \"test3\": 3, \"test4\": 1234567890,\
      \ \"RowKey\": \"0\", \"RowKey@odata.type\": \"Edm.String\"}\r\n--changeset_41d373b5-345c-4991-8636-11f4a7fb4bbb\r\
      \nContent-Type: application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID:\
      \ 1\r\n\r\nPOST https://tablestestvu6ysotlcesvd5.table.cosmos.azure.com/uttablee11613af\
      \ HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nPrefer:\
      \ return-no-content\r\nContent-Type: application/json;odata=nometadata\r\nAccept:\
      \ application/json;odata=minimalmetadata\r\nContent-Length: 22[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 03 Nov 2020 21:23:09 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttablee11613af()
  response:
    body:
      string: '{"value":[{"odata.etag":"W/\"datetime''2020-11-03T21%3A23%3A09.5241735Z''\"","PartitionKey":"batch_inserts","test":true,"test2":"value","test3":3,"test4":1234567890,"RowKey":"0","Timestamp":"2020-11-03T21:23:09.5241735Z"},{"odata.etag":"W/\"datetime''2020-11-03T21%3A23%3A09.5248903Z''\"","PartitionKey":"batch_inserts","test":true,"test2":"value","test3":3,"test4":1234567890,"RowKey":"1","Timestamp":"2020-11-03T21:23:09.5248903Z"},{"odata.etag":"W/\"datetime''2020-11-03T21%3A23%3A09.5254023Z''\"","PartitionKey":"batch_inserts","test":true,"test2":"value","test3":3,"test4":1234567890,"RowKey":"2","Timestamp":"2020-11-03T21:23:09.5254023Z"},{"odata.etag":"W/\"datetime''2020-11-03T21%3[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 03 Nov 2020 21:23:09 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttablee11613af')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://tablestestvu6ysotlcesvd5.table.cosmos.azure.com/Tables('uttablee11613af')
version: 1
