interactions:
- request:
    body: '{"TableName": "uttable7fe1d01"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 29 Sep 2020 18:49:51 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttable7fe1d01","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-29T18%3A49%3A52.0811015Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable7fe1d01')
    status:
      code: 201
      message: Ok
    url: https://tablestestcosmosname.table.cosmos.azure.com/Tables
- request:
    body: '{"PartitionKey": "pk7fe1d01", "PartitionKey@odata.type": "Edm.String",
      "RowKey": "rk7fe1d01", "RowKey@odata.type": "Edm.String", "age": 39, "sex":
      "male", "sex@odata.type": "Edm.String", "married": true, "deceased": false,
      "ratio": 3.1, "evenratio": 3.0, "large": 933311100, "Birthday": "1973-10-04T00:00:00Z",
      "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other":
      20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 29 Sep 2020 18:49:52 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable7fe1d01
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttable7fe1d01/$metadata#uttable7fe1d01/@Element","odata.etag":"W/\"datetime''2020-09-29T18%3A49%3A52.5291015Z''\"","PartitionKey":"pk7fe1d01","RowKey":"rk7fe1d01","age":39,"sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large":933311100,"Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Timestamp":"2020-09-29T18:49:52.5291015Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-29T18%3A49%3A52.5291015Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/uttable7fe1d01(PartitionKey='pk7fe1d01',RowKey='rk7fe1d01')
    status:
      code: 201
      message: Created
    url: https://tablestestcosmosname.table.cosmos.azure.com/uttable7fe1d01
- request:
    body: '{"PartitionKey": "pk7fe1d01", "PartitionKey@odata.type": "Edm.String",
      "RowKey": "rk7fe1d01", "RowKey@odata.type": "Edm.String", "age": "abc", "age@odata.type":
      "Edm.String", "sex": "female", "sex@odata.type": "Edm.String", "sign": "aquarius",
      "sign@odata.type": "Edm.String", "birthday": "1991-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - '3.0'
      If-Match:
      - W/"datetime'2012-06-15T22%3A51%3A44.9662825Z'"
      x-ms-date:
      - Tue, 29 Sep 2020 18:49:52 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable7fe1d01(PartitionKey='pk7fe1d01',RowKey='rk7fe1d01')
  response:
    body:
      string: "{\"odata.error\":{\"code\":\"UpdateConditionNotSatisfied\",\"message\":{\"lang\":\"en-us\",\"value\":\"The
        update condition specified in the request was not satisfied.\\nRequestID:8f0de22b-0284-11eb-a5de-58961df361d1\\n\"}}}\r\n"
    headers:
      content-type: application/json;odata=fullmetadata
    status:
      code: 412
      message: Precondition Failed
    url: https://tablestestcosmosname.table.cosmos.azure.com/uttable7fe1d01(PartitionKey='pk7fe1d01',RowKey='rk7fe1d01')
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 29 Sep 2020 18:49:52 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable7fe1d01')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable7fe1d01')
version: 1
