{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Oct 2022 02:05:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttabledebc3497"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-10-20T02%3A05%3A06.1805063Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttabledebc3497\u0027)"
      },
      "ResponseBody": {
        "TableName": "uttabledebc3497",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttabledebc3497",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Oct 2022 02:05:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "c8924069-90ee-4726-83b5-45ff92496126",
        "RowKey": "c8924069-90ee-4726-83b5-45ff92496126"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-10-20T02%3A05%3A06.6724359Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/uttabledebc3497(PartitionKey=\u0027c8924069-90ee-4726-83b5-45ff92496126\u0027,RowKey=\u0027c8924069-90ee-4726-83b5-45ff92496126\u0027)"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttabledebc3497/$metadata#uttabledebc3497/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-10-20T02%3A05%3A06.6724359Z\u0027\u0022",
        "PartitionKey": "c8924069-90ee-4726-83b5-45ff92496126",
        "RowKey": "c8924069-90ee-4726-83b5-45ff92496126",
        "Timestamp": "2022-10-20T02:05:06.6724359Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttabledebc3497(PartitionKey=\u0027c8924069-90ee-4726-83b5-45ff92496126\u0027,RowKey=\u0027c8924069-90ee-4726-83b5-45ff92496126\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Oct 2022 02:05:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-10-20T02%3A05%3A06.6724359Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttabledebc3497/$metadata#uttabledebc3497/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-10-20T02%3A05%3A06.6724359Z\u0027\u0022",
        "PartitionKey": "c8924069-90ee-4726-83b5-45ff92496126",
        "RowKey": "c8924069-90ee-4726-83b5-45ff92496126",
        "Timestamp": "2022-10-20T02:05:06.6724359Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttabledebc3497(PartitionKey=\u0027c8924069-90ee-4726-83b5-45ff92496126\u0027,RowKey=\u0027c8924069-90ee-4726-83b5-45ff92496126\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Thu, 20 Oct 2022 02:05:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttabledebc3497(PartitionKey=\u0027c8924069-90ee-4726-83b5-45ff92496126\u0027,RowKey=\u0027c8924069-90ee-4726-83b5-45ff92496126\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Oct 2022 02:05:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "ResourceNotFound",
          "message": {
            "lang": "en-us",
            "value": "The specified resource does not exist.\nRequestID:80ab60ab-be44-4f3b-801b-313dadccba3a\n"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttabledebc3497(PartitionKey=\u0027c8924069-90ee-4726-83b5-45ff92496126\u0027,RowKey=\u0027c8924069-90ee-4726-83b5-45ff92496126\u0027)",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Thu, 20 Oct 2022 02:05:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "c8924069-90ee-4726-83b5-45ff92496126",
        "RowKey": "c8924069-90ee-4726-83b5-45ff92496126"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272022-10-20T02%3A05%3A06.9946887Z\u0027\u0022"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttabledebc3497\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Thu, 20 Oct 2022 02:05:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
