interactions:
- request:
    body: '{"TableName": "uttable5eae109d"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 02 Nov 2020 22:33:16 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttable5eae109d","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-11-02T22%3A33%3A17.6936455Z'"
      location:
      - https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable5eae109d')
    status:
      code: 201
      message: Ok
- request:
    body: '{"PartitionKey": "001", "PartitionKey@odata.type": "Edm.String", "RowKey":
      "batch_delete", "RowKey@odata.type": "Edm.String", "test": true, "test2": "value",
      "test2@odata.type": "Edm.String", "test3": 3, "test4": 1234567890, "test5":
      "2020-11-02T22:33:18Z", "test5@odata.type": "Edm.DateTime"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 02 Nov 2020 22:33:18 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable5eae109d
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttable5eae109d/$metadata#uttable5eae109d/@Element","odata.etag":"W/\"datetime''2020-11-02T22%3A33%3A18.2179335Z''\"","PartitionKey":"001","RowKey":"batch_delete","test":true,"test2":"value","test3":3,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-11-02T22:33:18.0000000Z","Timestamp":"2020-11-02T22:33:18.2179335Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-11-02T22%3A33%3A18.2179335Z'"
      location:
      - https://tablestestcosmosname.table.cosmos.azure.com/uttable5eae109d(PartitionKey='001',RowKey='batch_delete')
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 02 Nov 2020 22:33:18 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable5eae109d(PartitionKey='001',RowKey='batch_delete')
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttable5eae109d/$metadata#uttable5eae109d/@Element","odata.etag":"W/\"datetime''2020-11-02T22%3A33%3A18.2179335Z''\"","PartitionKey":"001","RowKey":"batch_delete","test":true,"test2":"value","test3":3,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-11-02T22:33:18.0000000Z","Timestamp":"2020-11-02T22:33:18.2179335Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-11-02T22%3A33%3A18.2179335Z'"
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 02 Nov 2020 22:33:18 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable5eae109d')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
