{
  "Entries": [
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 22 Sep 2021 00:34:10 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022TableName\u0022: \u0022uttable61ec3578\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-09-22T00%3A34%3A08.5151752Z\u0027\u0022",
        "Location": "https://yalltbtestsprim.table.cosmos.azure.com/Tables(\u0027uttable61ec3578\u0027)"
      },
      "ResponseBody": {
        "TableName": "uttable61ec3578",
        "odata.metadata": "https://yalltbtestsprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_48f7d1c5-f546-44cf-8360-e0a3a2142de3",
        "DataServiceVersion": "3.0",
        "MaxDataServiceVersion": "3.0;NetFx",
        "x-ms-date": "Wed, 22 Sep 2021 00:34:11 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "LS1iYXRjaF80OGY3ZDFjNS1mNTQ2LTQ0Y2YtODM2MC1lMGEzYTIxNDJkZTMNCkNvbnRlbnQtVHlwZTogbXVsdGlwYXJ0L21peGVkOyBib3VuZGFyeT1jaGFuZ2VzZXRfODYwMWNkYTktZWJmNy00NmUyLTg0MWMtODI4NmZkYzNhODgwDQoNCi0tY2hhbmdlc2V0Xzg2MDFjZGE5LWViZjctNDZlMi04NDFjLTgyODZmZGMzYTg4MA0KQ29udGVudC1UeXBlOiBhcHBsaWNhdGlvbi9odHRwDQpDb250ZW50LVRyYW5zZmVyLUVuY29kaW5nOiBiaW5hcnkNCkNvbnRlbnQtSUQ6IDANCg0KREVM[...]
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 22 Sep 2021 00:34:11 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "TableName": "uttable61ec3578"
          }
        ],
        "odata.metadata": "https://yalltbtestsprim.table.cosmos.azure.com/$metadata#Tables"
      }
    },
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/Tables(\u0027uttable61ec3578\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 22 Sep 2021 00:34:11 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
