interactions:
- request:
    body: '{"TableName": "uttable9ed31b72"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 22 Sep 2020 20:03:42 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable9ed31b72"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://storagename.table.core.windows.net/Tables('uttable9ed31b72')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '{"PartitionKey": "003", "PartitionKey@odata.type": "Edm.String", "RowKey":
      "batch_all_operations_together-1", "RowKey@odata.type": "Edm.String", "test":
      true, "test2": "value", "test2@odata.type": "Edm.String", "test3": 3, "test4":
      1234567890, "test5": "2020-09-22T20:03:42Z", "test5@odata.type": "Edm.DateTime"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 22 Sep 2020 20:03:42 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/uttable9ed31b72
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable9ed31b72/@Element","odata.etag":"W/\"datetime''2020-09-22T20%3A03%3A42.4235186Z''\"","PartitionKey":"003","RowKey":"batch_all_operations_together-1","Timestamp":"2020-09-22T20:03:42.4235186Z","test":true,"test2":"value","test3":3,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-09-22T20:03:42Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-09-22T20%3A03%3A42.4235186Z'"
      location:
      - https://storagename.table.core.windows.net/uttable9ed31b72(PartitionKey='003',RowKey='batch_all_operations_together-1')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: "--batch_9b13a34c-09c7-4dfc-b028-967df15490d9\r\nContent-Type: multipart/mixed;
      boundary=changeset_63899309-484c-47e6-813c-57bddd4bc4fb\r\n\r\n--changeset_63899309-484c-47e6-813c-57bddd4bc4fb\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID: 0\r\n\r\nPOST
      https://pyacrstoragecy5edjajxvth.table.core.windows.net/uttable9ed31b72 HTTP/1.1\r\nx-ms-version:
      2019-02-02\r\nDataServiceVersion: 3.0\r\nPrefer: return-no-content\r\nContent-Type:
      application/json;odata=nometadata\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Length:
      498\r\nx-ms-date: Tue, 22 Sep 2020 20:03:42 GMT\r\nDate: Tue, 22 Sep 2020 20:03:42
      GMT\r\nx-ms-client-request-id: b6cdfce0-fd0e-11ea-887c-58961df361d1\r\n\r\n{\"PartitionKey\":
      \"003\", \"PartitionKey@odata.type\": \"Edm.String\", \"PartitionKey@odata.type@odata.type\":
      \"Edm.String\", \"RowKey\": \"batch_all_operations_together\", \"RowKey@odata.type\":
      \"Edm.String\", \"RowKey@odata.type@odata.type\": \"Edm.String\", \"test\":
      true, \"test2\": \"value\", \"test2@odata.type\": \"Edm.String\", \"test2@odata.type@odata.type\":
      \"Edm.String\", \"test3\": 3, \"test4\": 1234567890, \"test5\": \"2020-09-22T20:03:42Z\",
      \"test5@odata.type\": \"Edm.DateTime\", \"test5@odata.type@odata.type\": \"Edm.String\"}\r\n--changeset_63899309-484c-47e6-813c-57bddd4bc4fb\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID: 1\r\n\r\nDELETE
      https://pyacrstoragecy5edjajxvth.table.core.windows.net/uttable9ed31b72(PartitionKey='003',RowKey='batch_all_operations_together-1')
      HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nIf-Match:
      *\r\nAccept: application/json;odata=minimalmetadata\r\nx-ms-date: Tue, 22 Sep
      2020 20:03:[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 22 Sep 2020 20:03:42 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.table.core.windows.net/uttable9ed31b72()
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable9ed31b72","value":[{"odata.etag":"W/\"datetime''2020-09-22T20%3A03%3A42.5736263Z''\"","PartitionKey":"003","RowKey":"batch_all_operations_together","Timestamp":"2020-09-22T20:03:42.5736263Z","test":true,"test2":"value","test3":3,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-09-22T20:03:42Z"},{"odata.etag":"W/\"datetime''2020-09-22T20%3A03%3A42.5745595Z''\"","PartitionKey":"003","RowKey":"batch_all_operations_together-2","Timestamp":"2020-09-22T20:03:42.5745595Z","test":true,"test2":"value","t[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Sep 2020 20:03:42 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttable9ed31b72')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
version: 1
