interactions:
- request:
    body: '{"TableName": "uttable6dd31107"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 16 Sep 2020 16:09:02 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable6dd31107"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://storagename.table.core.windows.net/Tables('uttable6dd31107')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: "--batch_f7f3519b-6105-4112-925d-6968c465d765\r\nContent-Type: multipart/mixed;
      boundary=changeset_f225e321-bc84-4811-b9c5-06cd59f098fa\r\n\r\n--changeset_f225e321-bc84-4811-b9c5-06cd59f098fa\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID: 0\r\n\r\nPATCH
      https://pyacrstoragefgittz6gih4e.table.core.windows.net/uttable6dd31107(PartitionKey='001',RowKey='batch_insert_replace')
      HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nContent-Type:
      application/json\r\nAccept: application/json\r\nContent-Length: 301\r\nx-ms-date:
      Wed, 16 Sep 2020 16:09:02 GMT\r\nDate: Wed, 16 Sep 2020 16:09:02 GMT\r\nx-ms-client-request-id:
      efbff316-f836-11ea-b7d8-58961df361d1\r\n\r\n{\"PartitionKey\": \"001\", \"PartitionKey@odata.type\":
      \"Edm.String\", \"RowKey\": \"batch_insert_replace\", \"RowKey@odata.type\":
      \"Edm.String\", \"test\": true, \"test2\": \"value\", \"test2@odata.type\":
      \"Edm.String\", \"test3\": 3, \"test4\": 1234567890, \"test5\": \"2020-09-16T16:09:02Z\",
      \"test5@odata.type\": \"Edm.DateTime\"}\r\n--changeset_f225e321-bc84-4811-b9c5-06cd59f098fa--\r\n\r\n--batch_f7f3519b-6105-4112-925d-6968c465d765--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batch_f7f3519b-6105-4112-925d-6968c465d765
      DataServiceVersion:
      - '3.0'
      MaxDataServiceVersion:
      - 3.0;NetFx
      x-ms-date:
      - Wed, 16 Sep 2020 16:09:02 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body:
      string: "--batchresponse_f8de6bb0-e3d8-4860-8ee9-2642e80fc879\r\nContent-Type:
        multipart/mixed; boundary=changesetresponse_96383766-b4f4-4d67-9e3a-c340852a1757\r\n\r\n--changesetresponse_96383766-b4f4-4d67-9e3a-c340852a1757\r\nContent-Type:
        application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204
        No Content\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nDataServiceVersion:
        1.0;\r\nETag: W/\"datetime'2020-09-16T16%3A08%3A59.4459601Z'\"\r\n\r\n\r\n--changesetresponse_96383766-b4f4-4d67-9e3a-c340852a1757--\r\n--batchresponse_f8de6bb0-e3d8-4860-8ee9-2642e80fc879--\r\n"
    headers:
      content-type:
      - multipart/mixed; boundary=batchresponse_f8de6bb0-e3d8-4860-8ee9-2642e80fc879
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 16 Sep 2020 16:09:02 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.table.core.windows.net/uttable6dd31107(PartitionKey='001',RowKey='batch_insert_replace')
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable6dd31107/@Element","odata.etag":"W/\"datetime''2020-09-16T16%3A08%3A59.4459601Z''\"","PartitionKey":"001","RowKey":"batch_insert_replace","Timestamp":"2020-09-16T16:08:59.4459601Z","test":true,"test2":"value","test3":3,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-09-16T16:09:02Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-09-16T16%3A08%3A59.4459601Z'"
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Sep 2020 16:09:02 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttable6dd31107')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
version: 1
