interactions:
- request:
    body: '{"TableName": "pytablesyncf46e1406"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 15 Sep 2020 21:04:48 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostablescosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"pytablesyncf46e1406","odata.metadata":"https://cosmostablescosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-09-15T21%3A04%3A49.4562311Z'"
      location:
      - https://cosmostablescosmosname.table.cosmos.azure.com/Tables('pytablesyncf46e1406')
    status:
      code: 201
      message: Ok
- request:
    body: '{"TableName": "pytablesyncf46e1406"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 15 Sep 2020 21:04:49 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostablescosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: "{\"odata.error\":{\"code\":\"TableAlreadyExists\",\"message\":{\"lang\":\"en-us\",\"value\":\"The
        specified table already exists.\\nRequestID:17b900cc-f797-11ea-882f-58961df361d1\\n\"}}}\r\n"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
    status:
      code: 409
      message: Conflict
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 15 Sep 2020 21:04:49 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://cosmostablescosmosname.table.cosmos.azure.com/Tables('pytablesyncf46e1406')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
