{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 21 Sep 2021 01:06:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022TableName\u0022: \u0022uttable42532ac9\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://yalltbtestsprim.table.core.windows.net/Tables(\u0027uttable42532ac9\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltbtestsprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable42532ac9"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable42532ac9",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 21 Sep 2021 01:06:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022: \u0022pk42532ac9\u0022, \u0022PartitionKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022RowKey\u0022: \u0022rk42532ac9\u0022, \u0022RowKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022test1\u0022: \u0022Color.YELLOW\u0022, \u0022test1@odata.type\u0022: \u0022Edm.String\u0022, \u0022test2\u0022: \u0022Color.BLUE\u0022, \u0022test2@odata.type\u0022: \u0022Edm.String\u0022, \u0022test3\u0022: \u0022Color.RED\u0022, \u0022test3@odata.type\u0022: \u0022Edm.String\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272021-09-21T01%3A06%3A33.9637309Z\u0027\u0022",
        "Location": "https://yalltbtestsprim.table.core.windows.net/uttable42532ac9(PartitionKey=\u0027pk42532ac9\u0027,RowKey=\u0027rk42532ac9\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltbtestsprim.table.core.windows.net/$metadata#uttable42532ac9/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-09-21T01%3A06%3A33.9637309Z\u0027\u0022",
        "PartitionKey": "pk42532ac9",
        "RowKey": "rk42532ac9",
        "Timestamp": "2021-09-21T01:06:33.9637309Z",
        "test1": "Color.YELLOW",
        "test2": "Color.BLUE",
        "test3": "Color.RED"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable42532ac9(PartitionKey=\u0027pk42532ac9\u0027,RowKey=\u0027rk42532ac9\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 21 Sep 2021 01:06:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272021-09-21T01%3A06%3A33.9637309Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltbtestsprim.table.core.windows.net/$metadata#uttable42532ac9/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-09-21T01%3A06%3A33.9637309Z\u0027\u0022",
        "PartitionKey": "pk42532ac9",
        "RowKey": "rk42532ac9",
        "Timestamp": "2021-09-21T01:06:33.9637309Z",
        "test1": "Color.YELLOW",
        "test2": "Color.BLUE",
        "test3": "Color.RED"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 21 Sep 2021 01:06:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltbtestsprim.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "uttable42532ac9"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttable42532ac9\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 01:06:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
