interactions:
- request:
    body: '{"TableName": "uttable2ef720e2"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 26 Oct 2020 19:01:39 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttable2ef720e2","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-10-26T19%3A01%3A36.6071303Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable2ef720e2')
    status:
      code: 201
      message: Ok
    url: https://tablestestpt2kl4pbs7ufh5.table.cosmos.azure.com/Tables
- request:
    body: '{"PartitionKey": "003", "PartitionKey@odata.type": "Edm.String", "RowKey":
      "batch_all_operations_together-1", "RowKey@odata.type": "Edm.String", "test":
      true, "test2": "value", "test2@odata.type": "Edm.String", "test3": 3, "test4":
      1234567890, "test5": "2020-10-26T19:01:41Z", "test5@odata.type": "Edm.DateTime"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 26 Oct 2020 19:01:41 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable2ef720e2
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttable2ef720e2/$metadata#uttable2ef720e2/@Element","odata.etag":"W/\"datetime''2020-10-26T19%3A01%3A37.3775879Z''\"","PartitionKey":"003","RowKey":"batch_all_operations_together-1","test":true,"test2":"value","test3":3,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-10-26T19:01:41.0000000Z","Timestamp":"2020-10-26T19:01:37.3775879Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-10-26T19%3A01%3A37.3775879Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/uttable2ef720e2(PartitionKey='003',RowKey='batch_all_operations_together-1')
    status:
      code: 201
      message: Created
    url: https://tablestestpt2kl4pbs7ufh5.table.cosmos.azure.com/uttable2ef720e2
[...]
- request:
    body: "--batch_38ef69ab-6fec-4f16-8c9f-18e268cefdcf\r\nContent-Type: multipart/mixed;\
      \ boundary=changeset_524cf3d0-096a-4267-b904-a7bde0303990\r\n\r\n--changeset_524cf3d0-096a-4267-b904-a7bde0303990\r\
      \nContent-Type: application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID:\
      \ 0\r\n\r\nDELETE https://tablestestpt2kl4pbs7ufh5.table.cosmos.azure.com/uttable2ef720e2(PartitionKey='003',RowKey='batch_all_operations_together-1')\
      \ HTTP/1.1\r\nx-ms-[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 26 Oct 2020 19:01:41 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable2ef720e2')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://tablestestpt2kl4pbs7ufh5.table.cosmos.azure.com/Tables('uttable2ef720e2')
version: 1
