interactions:
- request:
    body: '{"TableName": "uttablee7f813fe"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
<<<<<<< HEAD
      - Mon, 28 Sep 2020 17:30:01 GMT
      User-Agent:
      - azsdk-python-data-tables/2019-07-07 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Mon, 28 Sep 2020 17:30:01 GMT
=======
      - Wed, 16 Sep 2020 21:51:59 GMT
      User-Agent:
      - azsdk-python-data-tables/12.0.0b2 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Wed, 16 Sep 2020 21:51:59 GMT
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttablee7f813fe"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
<<<<<<< HEAD
      date: Mon, 28 Sep 2020 17:30:01 GMT
      location: https://tablesteststorname.table.core.windows.net/Tables('uttablee7f813fe')
=======
      date: Wed, 16 Sep 2020 21:51:58 GMT
      location: https://storagename.table.core.windows.net/Tables('uttablee7f813fe')
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
      server: Windows-Azure-Table/1.0 Microsoft-HTTPAPI/2.0
      transfer-encoding: chunked
      x-content-type-options: nosniff
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
<<<<<<< HEAD
    url: https://tablestestbluanwepmj6h4i.table.core.windows.net/Tables
=======
    url: https://pyacrstoragewrla36mtikyp.table.core.windows.net/Tables
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
- request:
    body: '{"PartitionKey": "pke7f813fe", "PartitionKey@odata.type": "Edm.String",
      "RowKey": "rke7f813fe", "RowKey@odata.type": "Edm.String"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
<<<<<<< HEAD
      - Mon, 28 Sep 2020 17:30:01 GMT
      User-Agent:
      - azsdk-python-data-tables/2019-07-07 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Mon, 28 Sep 2020 17:30:01 GMT
=======
      - Wed, 16 Sep 2020 21:51:59 GMT
      User-Agent:
      - azsdk-python-data-tables/12.0.0b2 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Wed, 16 Sep 2020 21:51:59 GMT
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/uttablee7f813fe
  response:
    body:
<<<<<<< HEAD
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttablee7f813fe/@Element","odata.etag":"W/\"datetime''2020-09-28T17%3A30%3A01.9517597Z''\"","PartitionKey":"pke7f813fe","RowKey":"rke7f813fe","Timestamp":"2020-09-28T17:30:01.9517597Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-09-28T17%3A30%3A01.9517597Z'"
      location: https://tablesteststorname.table.core.windows.net/uttablee7f813fe(PartitionKey='pke7f813fe',RowKey='rke7f813fe')
=======
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttablee7f813fe/@Element","odata.etag":"W/\"datetime''2020-09-16T21%3A51%3A59.3962726Z''\"","PartitionKey":"pke7f813fe","RowKey":"rke7f813fe","Timestamp":"2020-09-16T21:51:59.3962726Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-09-16T21%3A51%3A59.3962726Z'"
      location: https://storagename.table.core.windows.net/uttablee7f813fe(PartitionKey='pke7f813fe',RowKey='rke7f813fe')
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
      server: Windows-Azure-Table/1.0 Microsoft-HTTPAPI/2.0
      transfer-encoding: chunked
      x-content-type-options: nosniff
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
<<<<<<< HEAD
    url: https://tablestestbluanwepmj6h4i.table.core.windows.net/uttablee7f813fe
=======
    url: https://pyacrstoragewrla36mtikyp.table.core.windows.net/uttablee7f813fe
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
<<<<<<< HEAD
      - Mon, 28 Sep 2020 17:30:01 GMT
      User-Agent:
      - azsdk-python-data-tables/2019-07-07 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Mon, 28 Sep 2020 17:30:01 GMT
=======
      - Wed, 16 Sep 2020 21:51:59 GMT
      User-Agent:
      - azsdk-python-data-tables/12.0.0b2 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Wed, 16 Sep 2020 21:51:59 GMT
>>>>>>> 40[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - Mon, 28 Sep 2020 17:30:02 GMT
      User-Agent:
      - azsdk-python-data-tables/2019-07-07 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Mon, 28 Sep 2020 17:30:02 GMT
=======
      - Wed, 16 Sep 2020 21:51:59 GMT
      User-Agent:
      - azsdk-python-data-tables/12.0.0b2 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Wed, 16 Sep 2020 21:51:59 GMT
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablesteststorname.table.core.windows.net/Tables('uttablee7f813fe')
  response:
    body:
      string: ''
    headers:
<<<<<<< HEAD
      date: Mon, 28 Sep 2020 17:30:01 GMT
=======
      date: Wed, 16 Sep 2020 21:51:58 GMT
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
      server: Windows-Azure-Table/1.0 Microsoft-HTTPAPI/2.0
      x-content-type-options: nosniff
      x-ms-version: '2019-02-02'
    status:
      code: 204
      message: No Content
<<<<<<< HEAD
    url: https://tablestestbluanwepmj6h4i.table.core.windows.net/Tables('uttablee7f813fe')
=======
    url: https://pyacrstoragewrla36mtikyp.table.core.windows.net/Tables('uttablee7f813fe')
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
version: 1
