{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Oct 2022 00:54:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttablebe7f2961"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttablebe7f2961\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttablebe7f2961"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttablebe7f2961",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Oct 2022 00:54:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pkbe7f2961",
        "RowKey": "rkbe7f2961",
        "\u554A\u9F44\u4E02\u72DB\u72DC": "\uA015",
        "\u554A\u9F44\u4E02\u72DB\u72DC@odata.type": "Edm.String"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-10-20T00%3A54%3A06.7526204Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.core.windows.net/uttablebe7f2961(PartitionKey=\u0027pkbe7f2961\u0027,RowKey=\u0027rkbe7f2961\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttablebe7f2961/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-10-20T00%3A54%3A06.7526204Z\u0027\u0022",
        "PartitionKey": "pkbe7f2961",
        "RowKey": "rkbe7f2961",
        "Timestamp": "2022-10-20T00:54:06.7526204Z",
        "\u554A\u9F44\u4E02\u72DB\u72DC": "\uA015"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttablebe7f2961()?$filter=PartitionKey%20eq%20%27pkbe7f2961%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Oct 2022 00:54:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttablebe7f2961",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272022-10-20T00%3A54%3A06.7526204Z\u0027\u0022",
            "PartitionKey": "pkbe7f2961",
            "RowKey": "rkbe7f2961",
            "Timestamp": "2022-10-20T00:54:06.7526204Z",
            "\u554A\u9F44\u4E02\u72DB\u72DC": "\uA015"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-10-20T00%3A54%3A06.7876006Z\u0027\u0022",
            "PartitionKey": "pkbe7f2961",
            "RowKey": "test2",
            "Timestamp": "2022-10-20T00:54:06.7876006Z",
            "\u554A\u9F44\u4E02\u72DB\u72DC": "hello"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttablebe7f2961\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Thu, 20 Oct 2022 00:54:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
