{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 22 Sep 2021 00:50:53 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022TableName\u0022: \u0022uttable3efd2f37\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://yalltbtestsprim.table.core.windows.net/Tables(\u0027uttable3efd2f37\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltbtestsprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable3efd2f37"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable3efd2f37",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 22 Sep 2021 00:50:53 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022: \u0022pk\u0022, \u0022PartitionKey@odata.type\u0022: \u0022Edm.String\u0022}",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "PropertiesNeedValue",
          "message": {
            "lang": "en-US",
            "value": "The values are not specified for all properties in the entity.\nRequestId:75889a08-3002-0026-444b-af39c5000000\nTime:2021-09-22T00:50:51.3020677Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttable3efd2f37\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 22 Sep 2021 00:50:53 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
