{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/mytabledb403d69/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 30 Aug 2022 16:14:32 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "mytabledb403d69"
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "TableNotFound",
          "message": {
            "lang": "en-US",
            "value": "The table specified does not exist.\nRequestId:695c4e11-a002-0040-5b8b-bc3a89000000\nTime:2022-08-30T16:14:29.6575719Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/mytabledb403d69/?restype=service\u0026comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-date": "Tue, 30 Aug 2022 16:14:32 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": [
        "\u003C?xml version=\u00271.0\u0027 encoding=\u0027utf-8\u0027?\u003E\n",
        "\u003CStorageServiceProperties\u003E\u003CLogging\u003E\u003CVersion\u003E1.0\u003C/Version\u003E\u003CDelete\u003Efalse\u003C/Delete\u003E\u003CRead\u003Efalse\u003C/Read\u003E\u003CWrite\u003Etrue\u003C/Write\u003E\u003CRetentionPolicy\u003E\u003CEnabled\u003Efalse\u003C/Enabled\u003E\u003C/RetentionPolicy\u003E\u003C/Logging\u003E\u003C/StorageServiceProperties\u003E"
      ],
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidQueryParameterValue"
      },
      "ResponseBody": [
        "\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003Cm:error xmlns:m=\u0022http://schemas.microsoft.com/ado/2007/08/dataservices/metadata\u0022\u003E\u003Cm:code\u003EInvalidQueryParameterValue\u003C/m:code\u003E\u003Cm:message xml:lang=\u0022en-US\u0022\u003EValue for one of the query parameters specified in the request URI is invalid.\n",
        "RequestId:695c4e1e-a002-0040-658b-bc3a89000000\n",
        "Time:2022-08-30T16:14:29.7275313Z\u003C/m:message\u003E\u003C/m:error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/mytabledb403d69/Tables(\u0027mytabledb403d69\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 30 Aug 2022 16:14:32 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "TableNotFound",
          "message": {
            "lang": "en-US",
            "value": "The table specified does not exist.\nRequestId:695c4e26-a002-0040-6d8b-bc3a89000000\nTime:2022-08-30T16:14:29.7944931Z"
          }
        }
      }
    }
  ],
  "Variables": {}
}
