interactions:
- request:
    body: '{"TableName": "uttablee7bd0d9a"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 24 Jul 2020 15:03:29 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttablee7bd0d9a"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://storagename.table.core.windows.net/Tables('uttablee7bd0d9a')
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: '{"PartitionKey": "pke7bd0d9a", "RowKey": "rke7bd0d9a", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "married": true, "deceased": false, "ratio": 3.1,
      "evenratio": 3.0, "large": "933311100", "large@odata.type": "Edm.Int64", "Birthday":
      "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z",
      "birthday@odata.type": "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type":
      "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 24 Jul 2020 15:03:29 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/uttablee7bd0d9a
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttablee7bd0d9a/@Element","odata.etag":"W/\"datetime''2020-07-24T15%3A03%3A29.8925584Z''\"","PartitionKey":"pke7bd0d9a","RowKey":"rke7bd0d9a","Timestamp":"2020-07-24T15:03:29.8925584Z","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-07-24T15%3A03%3A29.8925584Z'"
      location:
      - https://storagename.table.core.windows.net/uttablee7bd0d9a(PartitionKey='pke7bd0d9a',RowKey='rke7bd0d9a')
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: '{"PartitionKey": "pke7bd0d9a", "RowKey": "rke7bd0d9a", "age": "abc", "sex":
      "female", "sign": "aquarius", "birthday": "1991-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - '3.0'
      If-Match:
      - '*'
      x-ms-date:
      - Fri, 24 Jul 2020 15:03:29 GMT
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://storagename.table.core.windows.net/uttablee7bd0d9a(PartitionKey='pke7bd0d9a',RowKey='rke7bd0d9a')?se=2020-07-24T16%3A03%3A29Z&sp=u&sv=2019-07-07&tn=uttablee7bd0d9a&sig=OoCS1OV3BNhjBpxzuJ2C1yfbd9BnxMzdwfd09YP8pEI%3D
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?><m:error xmlns:m="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata"><m:code>InvalidUri</m:code><m:message
        xml:lang="en-US">The requested URI does not represent any resource on the
        server.

        RequestId:84312f5d-3002-0068-47cb-61f7a8000000

        Time:2020-07-24T15:03:30.2705803Z</m:message></m:error>'
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - InvalidUri
    status:
      code: 400
      message: The requested URI does not represent any resource on the server.
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Jul 2020 15:03:29 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttablee7bd0d9a')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-07-07'
    status:
      code: 204
      message: No Content
version: 1
