interactions:
- request:
    body: '{"TableName": "uttable9ed31b72"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 10 Sep 2020 17:10:23 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable9ed31b72"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://storagename.table.core.windows.net/Tables('uttable9ed31b72')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '{"PartitionKey": "003", "PartitionKey@odata.type": "Edm.String", "RowKey":
      "batch_all_operations_together-1", "RowKey@odata.type": "Edm.String", "test":
      true, "test2": "value", "test2@odata.type": "Edm.String", "test3": 3, "test4":
      1234567890, "test5": "2020-09-10T17:10:23Z", "test5@odata.type": "Edm.DateTime"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 10 Sep 2020 17:10:23 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/uttable9ed31b72
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable9ed31b72/@Element","odata.etag":"W/\"datetime''2020-09-10T17%3A10%3A21.2117353Z''\"","PartitionKey":"003","RowKey":"batch_all_operations_together-1","Timestamp":"2020-09-10T17:10:21.2117353Z","test":true,"test2":"value","test3":3,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-09-10T17:10:23Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-09-10T17%3A10%3A21.2117353Z'"
      location:
      - https://storagename.table.core.windows.net/uttable9ed31b72(PartitionKey='003',RowKey='batch_all_operations_together-1')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: "--batch_c964b51e-a64e-42b0-a3a4-504c91bf468d\r\nContent-Type: multipart/mixed;
      boundary=changeset_e45ef5da-6a11-4e1b-ad7e-f827ac7a5bb6\r\n\r\n--changeset_e45ef5da-6a11-4e1b-ad7e-f827ac7a5bb6\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID: 0\r\n\r\nPOST
      https://pyacrstorage6wtanekkk27p.table.core.windows.net/uttable9ed31b72 HTTP/1.1\r\nx-ms-version:
      2019-02-02\r\nDataServiceVersion: 3.0\r\nContent-Type: application/json;odata=nometadata\r\nAccept:
      application/json;odata=minimalmetadata\r\nContent-Length: 498\r\nx-ms-date:
      Thu, 10 Sep 2020 17:10:23 GMT\r\nDate: Thu, 10 Sep 2020 17:10:23 GMT\r\nx-ms-client-request-id:
      838113f8-f388-11ea-a68b-58961df361d1\r\n\r\n{\"PartitionKey\": \"003\", \"PartitionKey@odata.type\":
      \"Edm.String\", \"PartitionKey@odata.type@odata.type\": \"Edm.String\", \"RowKey\":
      \"batch_all_operations_together\", \"RowKey@odata.type\": \"Edm.String\", \"RowKey@odata.type@odata.type\":
      \"Edm.String\", \"test\": true, \"test2\": \"value\", \"test2@odata.type\":
      \"Edm.String\", \"test2@odata.type@odata.type\": \"Edm.String\", \"test3\":
      3, \"test4\": 1234567890, \"test5\": \"2020-09-10T17:10:23Z\", \"test5@odata.type\":
      \"Edm.DateTime\", \"test5@odata.type@odata.type\": \"Edm.String\"}\r\n--changeset_e45ef5da-6a11-4e1b-ad7e-f827ac7a5bb6\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID: 1\r\n\r\nDELETE
      https://pyacrstorage6wtanekkk27p.table.core.windows.net/uttable9ed31b72(PartitionKey='003',RowKey='batch_all_operations_together-1')
      HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nIf-Match:
      *\r\nAccept: application/json;odata=minimalmetadata\r\nx-ms-date: Thu, 10 Sep
      2020 17:10:[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 10 Sep 2020 17:10:23 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.table.core.windows.net/uttable9ed31b72()
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable9ed31b72","value":[{"odata.etag":"W/\"datetime''2020-09-10T17%3A10%3A21.4178817Z''\"","PartitionKey":"003","RowKey":"batch_all_operations_together","Timestamp":"2020-09-10T17:10:21.4178817Z","test":true,"test2":"value","test3":3,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-09-10T17:10:23Z"},{"odata.etag":"W/\"datetime''2020-09-10T17%3A10%3A21.4181446Z''\"","PartitionKey":"003","RowKey":"batch_all_operations_together-2","Timestamp":"2020-09-10T17:10:21.4181446Z","test":true,"test2":"value","test3":10,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-09-10T17:10:23Z"},{"odata.etag":"W/\"datetime''2020-09-10T17%3A10%3A21.4181446Z''\"","PartitionKey":"003","RowKey":"batch_all_operations_together-3","Timestamp":"2020-09-10T17:10:21.4181446Z","test":true,"test2":"value","test3":100,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-09-10T17:10:23Z"},{"odata.etag":"W/\"datetime''2020-09-10T17%3A10%3A21.3518348Z''\"","PartitionKey":"003","RowKey":"batch_all_operations_together-4","Timestamp":"2020-09-10T17:10:21.3518348Z","test":true,"test2":"value","test3":3,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-09-10T17:10:23Z"}]}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Sep 2020 17:10:23 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttable9ed31b72')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
version: 1
