interactions:
- request:
    body: '{"TableName": "uttablebeb51fb9"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 17 Sep 2020 18:52:51 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttablebeb51fb9"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://tablesteststorname.table.core.windows.net/Tables('uttablebeb51fb9')
      x-ms-version: '2019-07-07'
    status:
      code: 201
      message: Created
    url: https://tablestest4xt4xzftwctjft.table.core.windows.net/Tables
- request:
    body: '{"PartitionKey": "pkbeb51fb9", "RowKey": "rkbeb51fb9", "age": "abc", "sex":
      "female", "sign": "aquarius", "birthday": "1991-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 17 Sep 2020 18:52:51 GMT
      x-ms-version:
      - '2019-07-07'
    method: PATCH
    uri: https://tablesteststorname.table.core.windows.net/uttablebeb51fb9(PartitionKey='pkbeb51fb9',RowKey='rkbeb51fb9')
  response:
    body:
      string: ''
    headers:
      etag: W/"datetime'2020-09-17T18%3A52%3A51.9556046Z'"
      x-ms-version: '2019-07-07'
    status:
      code: 204
      message: No Content
    url: https://tablestest4xt4xzftwctjft.table.core.windows.net/uttablebeb51fb9(PartitionKey='pkbeb51fb9',RowKey='rkbeb51fb9')
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 17 Sep 2020 18:52:51 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://tablesteststorname.table.core.windows.net/uttablebeb51fb9(PartitionKey='pkbeb51fb9',RowKey='rkbeb51fb9')
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttablebeb51fb9/@Element","odata.etag":"W/\"datetime''2020-09-17T18%3A52%3A51.9556046Z''\"","PartitionKey":"pkbeb51fb9","RowKey":"rkbeb51fb9","Timestamp":"2020-09-17T18:52:51.9556046Z","age":"abc","birthday@odata.type":"Edm.DateTime","birthday":"1991-10-04T00:00:00Z","sex":"female","sign":"aquarius"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-09-17T18%3A52%3A51.9556046Z'"
      x-ms-version: '2019-07-07'
    status:
      code: 200
      message: OK
    url: https://tablestest4xt4xzftwctjft.table.core.windows.net/uttablebeb51fb9(PartitionKey='pkbeb51fb9',RowKey='rkbeb51fb9')
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Sep 2020 18:52:51 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://tablesteststorname.table.core.windows.net/Tables('uttablebeb51fb9')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-07-07'
    status:
      code: 204
      message: No Content
    url: https://tablestest4xt4xzftwctjft.table.core.windows.net/Tables('uttablebeb51fb9')
version: 1
