interactions:
- request:
    body: '{"TableName": "pytablesyncf46e1406"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 28 Sep 2020 17:24:18 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"pytablesyncf46e1406","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-09-28T17%3A24%3A19.3145863Z'"
      location:
      - https://tablestestcosmosname.table.cosmos.azure.com/Tables('pytablesyncf46e1406')
    status:
      code: 201
      message: Ok
- request:
    body: '{"TableName": "pytablesyncf46e1406"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 28 Sep 2020 17:24:19 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: "{\"odata.error\":{\"code\":\"TableAlreadyExists\",\"message\":{\"lang\":\"en-us\",\"value\":\"The
        specified table already exists.\\nRequestID:715852cc-01af-11eb-bc77-58961df361d1\\n\"}}}\r\n"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
    status:
      code: 409
      message: Conflict
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Sep 2020 17:24:19 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('pytablesyncf46e1406')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
