interactions:
- request:
    body: '{"TableName": "uttable4d661049"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 16 Sep 2020 18:39:20 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable4d661049"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://storagename.table.core.windows.net/Tables('uttable4d661049')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://pyacrstorage3c26v2dj7rsh.table.core.windows.net/Tables
- request:
    body: "--batch_8d175ad0-703d-42e3-888d-683eca3302ad\r\nContent-Type: multipart/mixed;
      boundary=changeset_05744a86-797e-4005-8544-e9671cd38a1a\r\n\r\n--changeset_05744a86-797e-4005-8544-e9671cd38a1a\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID: 0\r\n\r\nPOST
      https://pyacrstorage3c26v2dj7rsh.table.core.windows.net/uttable4d661049 HTTP/1.1\r\nx-ms-version:
      2019-02-02\r\nDataServiceVersion: 3.0\r\nContent-Type: application/json;odata=nometadata\r\nAccept:
      application/json;odata=minimalmetadata\r\nContent-Length: 481\r\nx-ms-date:
      Wed, 16 Sep 2020 18:39:20 GMT\r\nDate: Wed, 16 Sep 2020 18:39:20 GMT\r\nx-ms-client-request-id:
      ef5656a4-f84b-11ea-8eaf-58961df361d1\r\n\r\n{\"PartitionKey\": \"001\", \"PartitionKey@odata.type\":
      \"Edm.String\", \"PartitionKey@odata.type@odata.type\": \"Edm.String\", \"RowKey\":
      \"batch_insert\", \"RowKey@odata.type\": \"Edm.String\", \"RowKey@odata.type@odata.type\":
      \"Edm.String\", \"test\": true, \"test2\": \"value\", \"test2@odata.type\":
      \"Edm.String\", \"test2@odata.type@odata.type\": \"Edm.String\", \"test3\":
      3, \"test4\": 1234567890, \"test5\": \"2020-09-16T18:39:20Z\", \"test5@odata.type\":
      \"Edm.DateTime\", \"test5@odata.type@odata.type\": \"Edm.String\"}\r\n--changeset_05744a86-797e-4005-8544-e9671cd38a1a--\r\n\r\n--batch_8d175ad0-703d-42e3-888d-683eca3302ad--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batch_8d175ad0-703d-42e3-888d-683eca3302ad
      DataServiceVersion:
      - '3.0'
      MaxDataServiceVersion:
      - 3.0;NetFx
      x-ms-date:
      - Wed, 16 Sep 2020 18:39:20 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body:
      string: "--batchresponse_8e1830e3-393b-4fd8-8c7a-2c6c1030d400\r\nContent-Type:
        multipart/mixed; boundary=changesetresponse_5751f8d5-9f43-4bdb-9a7a-e2feec5816c9\r\n\r\n--changesetresponse_5751f8d5-9f43-4bdb-9a7a-e2feec5816c9\r\nContent-Type:
        application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 201
        Created\r\nDataServiceVersion: 3.0;\r\nContent-Type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8\r\nX-Content-Type-Options:
        nosniff\r\nCache-Control: no-cache\r\nLocation: https://pyacrstorage3c26v2dj7rsh.table.core.windows.net/uttable4d661049(PartitionKey='001',RowKey='batch_insert')\r\nETag:
        W/\"datetime'2020-09-16T18%3A39%3A21.0206119Z'\"\r\n\r\n{\"odata.metadata\":\"https://pyacrstorage3c26v2dj7rsh.table.core.windows.net/$metadata#uttable4d661049/@Element\",\"odata.etag\":\"W/\\\"datetime'2020-09-16T18%3A39%3A21.0206119Z'\\\"\",\"PartitionKey\":\"001\",\"RowKey\":\"batch_insert\",\"Timestamp\":\"2020-09-16T18:39:21.0206119Z\",\"test\":true,\"test2\":\"value\",\"test3\":3,\"test4\":1234567890,\"test5@odata.type\":\"Edm.DateTime\",\"test5\":\"2020-09-16T18:39:20Z\"}\r\n--changesetresponse_5751f8d5-9f43-4bdb-9a7a-e2feec5816c9--\r\n--batchresponse_8e1830e3-393b-4fd8-8c7a-2c6c1030d400--\r\n"
    headers:
      content-type: multipart/mixed; boundary=batchresponse_8e1830e3-393b-4fd8-8c7a-2c6c1030d400
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: https://pyacrstorage3c26v2dj7rsh.table.core.windows.net/$batch
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 16 Sep 2020 18:39:21 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.table.core.windows.net/uttable4d661049(PartitionKey='001',RowKey='batch_insert')
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable4d661049/@Element","odata.etag":"W/\"datetime''2020-09-16T18%3A39%3A21.0206119Z''\"","PartitionKey":"001","RowKey":"batch_insert","Timestamp":"2020-09-16T18:39:21.0206119Z","test":true,"test2":"value","test3":3,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-09-16T18:39:20Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-09-16T18%3A39%3A21.0206119Z'"
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: https://pyacrstorage3c26v2dj7rsh.table.core.windows.net/uttable4d661049(PartitionKey='001',RowKey='batch_insert')
version: 1
