interactions:
- request:
    body: '{"TableName": "uttable2c1a19da"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 17 Sep 2020 22:45:34 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttable2c1a19da","odata.metadata":"https://cosmostestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-17T22%3A45%3A35.1344135Z'"
      location: https://cosmostestcosmosname.table.cosmos.azure.com/Tables('uttable2c1a19da')
    status:
      code: 201
      message: Ok
    url: https://cosmostableswmnfqcvpsy56.table.cosmos.azure.com/Tables
- request:
    body: '{"PartitionKey": "pk2c1a19da", "RowKey": "rk2c1a19da", "age": "abc", "sex":
      "female", "sign": "aquarius", "birthday": "1991-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - '3.0'
      If-Match:
      - '*'
      x-ms-date:
      - Thu, 17 Sep 2020 22:45:35 GMT
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://cosmostestcosmosname.table.cosmos.azure.com/uttable2c1a19da(PartitionKey='pk2c1a19da',RowKey='rk2c1a19da')
  response:
    body:
      string: "{\"odata.error\":{\"code\":\"ResourceNotFound\",\"message\":{\"lang\":\"en-us\",\"value\":\"The
        specified resource does not exist.\\nRequestID:7fe96b2d-f937-11ea-bbed-58961df361d1\\n\"}}}\r\n"
    headers:
      content-type: application/json;odata=fullmetadata
    status:
      code: 404
      message: Not Found
    url: https://cosmostableswmnfqcvpsy56.table.cosmos.azure.com/uttable2c1a19da(PartitionKey='pk2c1a19da',RowKey='rk2c1a19da')
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Sep 2020 22:45:35 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://cosmostestcosmosname.table.cosmos.azure.com/Tables('uttable2c1a19da')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://cosmostableswmnfqcvpsy56.table.cosmos.azure.com/Tables('uttable2c1a19da')
version: 1
