interactions:
- request:
    body: '{"TableName": "uttablee10d18a6"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 28 Sep 2020 17:29:32 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttablee10d18a6"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://tablesteststorname.table.core.windows.net/Tables('uttablee10d18a6')
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: '{"PartitionKey": "pke10d18a6", "RowKey": "rke10d18a6", "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa":
      "badval"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 28 Sep 2020 17:29:33 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/uttablee10d18a6
  response:
    body:
      string: '{"odata.error":{"code":"PropertyNameTooLong","message":{"lang":"en-US","value":"The
        property name exceeds the maximum allowed length (255).\nRequestId:eaa1c55d-4002-0070-44bc-95ada5000000\nTime:2020-09-28T17:29:33.1926922Z"}}}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version:
      - '2019-07-07'
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Sep 2020 17:29:33 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://tablesteststorname.table.core.windows.net/Tables('uttablee10d18a6')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-07-07'
    status:
      code: 204
      message: No Content
version: 1
