{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 22 Mar 2022 15:08:48 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "mytableasync0"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables(\u0027mytableasync0\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "mytableasync0"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables?$top=2\u0026$filter=TableName%20eq%20\u0027mytableasync0\u0027%20or%20TableName%20eq%20\u0027mytableasync1\u0027%20or%20TableName%20eq%20\u0027mytableasync2\u0027",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 22 Mar 2022 15:08:48 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextTableName": "1!40!bXl0YWJsZWFzeW5jMgEwMWQ4M2RmZWJiNTQ2NDcw",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "mytableasync0"
          },
          {
            "TableName": "mytableasync1"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables?$top=2\u0026$filter=TableName%20eq%20\u0027mytableasync0\u0027%20or%20TableName%20eq%20\u0027mytableasync1\u0027%20or%20TableName%20eq%20\u0027mytableasync2\u0027\u0026NextTableName=1!40!bXl0YWJsZWFzeW5jMgEwMWQ4M2RmZWJiNTQ2NDcw",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 22 Mar 2022 15:08:48 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "mytableasync2"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027mytableasync0\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Mar 2022 15:08:48 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027mytableasync4\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Mar 2022 15:08:49 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
