{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 01:02:12 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable887c2d47"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-05-06T01%3A02%3A12.4925960Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttable887c2d47\u0027)"
      },
      "ResponseBody": {
        "TableName": "uttable887c2d47",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable887c2d47?st=start\u0026se=end\u0026sp=a\u0026sv=2019-02-02\u0026tn=uttable887c2d47\u0026sig=fake_token_value",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 01:02:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk887c2d47",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "rk887c2d47",
        "RowKey@odata.type": "Edm.String",
        "age": 39,
        "sex": "male",
        "sex@odata.type": "Edm.String",
        "married": true,
        "deceased": false,
        "ratio": 3.1,
        "ratio@odata.type": "Edm.Double",
        "evenratio": 3.0,
        "evenratio@odata.type": "Edm.Double",
        "double": 5,
        "double@odata.type": "Edm.Double",
        "large": 933311100,
        "Birthday": "1973-10-04T00:00:00.000000Z",
        "Birthday@odata.type": "Edm.DateTime",
        "birthday": "1970-10-04T00:00:00.000000Z",
        "birthday@odata.type": "Edm.DateTime",
        "binary": "YmluYXJ5",
        "binary@odata.type": "Edm.Binary",
        "other": 20,
        "other@odata.type": "Edm.Int32",
        "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
        "clsid@odata.type": "Edm.Guid"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-05-06T01%3A02%3A12.9776648Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/uttable887c2d47(PartitionKey=\u0027pk887c2d47\u0027,RowKey=\u0027rk887c2d47\u0027)"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable887c2d47/$metadata#uttable887c2d47/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-05-06T01%3A02%3A12.9776648Z\u0027\u0022",
        "PartitionKey": "pk887c2d47",
        "RowKey": "rk887c2d47",
        "age": 39,
        "sex": "male",
        "married": true,
        "deceased": false,
        "ratio": 3.1,
        "evenratio": 3.0,
        "double": 5.0,
        "large": 933311100,
        "Birthday@odata.type": "Edm.DateTime",
        "Birthday": "1973-10-04T00:00:00.0000000Z",
        "birthday@odata.type": "Edm.DateTime",
        "birthday": "1970-10-04T00:00:00.0000000Z",
        "binary@odata.type": "Edm.Binary",
        "binary": "YmluYXJ5",
        "other": 20,
        "clsid@odata.type": "Edm.Guid",
        "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
        "Timestamp": "2022-05-06T01:02:12.9776648Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable887c2d47(PartitionKey=\u0027pk887c2d47\u0027,RowKey=\u0027rk887c2d47\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 01:02:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
     [...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 01:02:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "TableName": "uttable887c2d47"
          }
        ],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttable887c2d47\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 May 2022 01:02:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
