interactions:
- request:
    body: '{"TableName": "uttable10a914d3"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:38:00 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable10a914d3"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://tablesteststorname.table.core.windows.net/Tables('uttable10a914d3')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://tablestestxjz4vq7ewcdgud.table.core.windows.net/Tables
- request:
    body: '{"PartitionKey": "pk10a914d3", "binary": "AQIDBAUGBwgJCg==", "PartitionKey@odata.type":
      "Edm.String", "RowKey@odata.type": "Edm.String", "binary@odata.type": "Edm.Binary",
      "RowKey": "rk10a914d3"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:38:01 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/uttable10a914d3
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttable10a914d3/@Element","odata.etag":"W/\"datetime''2020-11-07T01%3A38%3A02.1434938Z''\"","PartitionKey":"pk10a914d3","RowKey":"rk10a914d3","Timestamp":"2020-11-07T01:38:02.1434938Z","binary@odata.type":"Edm.Binary","binary":"AQIDBAUGBwgJCg=="}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-11-07T01%3A38%3A02.1434938Z'"
      location: https://tablesteststorname.table.core.windows.net/uttable10a914d3(PartitionKey='pk10a914d3',RowKey='rk10a914d3')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://tablestestxjz4vq7ewcdgud.table.core.windows.net/uttable10a914d3
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:38:01 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablesteststorname.table.core.windows.net/uttable10a914d3(PartitionKey='pk10a914d3',RowKey='rk10a914d3')
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttable10a914d3/@Element","odata.etag":"W/\"datetime''2020-11-07T01%3A38%3A02.1434938Z''\"","PartitionKey":"pk10a914d3","RowKey":"rk10a914d3","Timestamp":"2020-11-07T01:38:02.1434938Z","binary@odata.type":"Edm.Binary","binary":"AQIDBAUGBwgJCg=="}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-11-07T01%3A38%3A02.1434938Z'"
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: https://tablestestxjz4vq7ewcdgud.table.core.windows.net/uttable10a914d3(PartitionKey='pk10a914d3',RowKey='rk10a914d3')
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 Nov 2020 01:38:01 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablesteststorname.table.core.windows.net/Tables('uttable10a914d3')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 204
      message: No Content
    url: https://tablestestxjz4vq7ewcdgud.table.core.windows.net/Tables('uttable10a914d3')
version: 1
