{
  "Entries": [
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 18 Oct 2021 23:33:27 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022TableName\u0022: \u0022uttableb4353611\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-10-18T23%3A33%3A22.0276232Z\u0027\u0022",
        "Location": "https://yalltbtestsprim.table.cosmos.azure.com/Tables(\u0027uttableb4353611\u0027)"
      },
      "ResponseBody": {
        "TableName": "uttableb4353611",
        "odata.metadata": "https://yalltbtestsprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/uttableb4353611",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 18 Oct 2021 23:33:28 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022: \u0022pkb4353611\u0022, \u0022PartitionKey@odata.type\u0022: \u002[...]
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/uttableb4353611(PartitionKey=\u0027pkb4353611\u0027,RowKey=\u0027rkb4353611\u0027)",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "W/\u0022datetime\u00272021-10-18T23%3A33%3A22.6614792Z\u0027\u0022",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Mon, 18 Oct 2021 23:33:28 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022: \u0022pkb4353611\u0022, \u0022PartitionKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022RowKey\u0022: \u0022rkb4353611\u0022, \u0022RowKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022age\u0022: \u0022abc\u0022, \u0022age@odata.type\u0022: \u0022Edm.String\u0022, \u0022sex\u0022: \u0022female\u0022, \u0022sex@odata.type\u0022: \u0022Edm.String\u0022, \u0022sign\u0022: \u0022aquarius\u0022, \u0022sign@odata.type\u0022: \u0022Edm.String\u0022, \u0022birthday\u0022: \u00221991-10-04T00:00:00.000000Z\u0022, \u0022birthday@odata.type\u0022: \u0022Edm.DateTime\u0022}",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272021-10-18T23%3A33%3A22.6870792Z\u0027\u0022"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/uttableb4353611(PartitionKey=\u0027pkb4353611\u0027,RowKey=\u0027rkb4353611\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 18 Oct 2021 23:33:28 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-10-18T23%3A33%3A22.6870792Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltbtestsprim.table.cosmos.azure.com/uttableb4353611/$metadata#uttableb4353611/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-10-18T23%3A33%3A22.6870792Z\u0027\u0022",
        "PartitionKey": "pkb4353611",
        "RowKey": "rkb4353611",
        "age": "abc",
        "sex": "female",
        "married": true,
        "deceased": false,
        "ratio": 3.1,
        "evenratio": 3.0,
        "double": 5.0,
        "large": 933311100,
        "Birthday@odata.type": "Edm.DateTime",
        "Birthday": "1973-10-04T00:00:00.0000000Z",
        "birthday@odata.type": "Edm.DateTime",
        "birthday": "1991-10-04T00:00:00.0000000Z",
        "binary@odata.type": "Edm.Binary",
        "binary": "YmluYXJ5",
        "other": 20,
        "clsid@odata.type": "Edm.Guid",
        "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
        "sign": "aquarius",
        "Timestamp": "2021-10-18T23:33:22.6870792Z"
      }
    },
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 18 Oct 2021 23:33:28 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "TableName": "uttableb4353611"
          }
        ],
        "odata.metadata": "https://yalltbtestsprim.table.cosmos.azure.com/$metadata#Tables"
      }
    },
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/Tables(\u0027uttableb4353611\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 18 Oct 2021 23:33:28 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
