interactions:
- request:
    body: '{"TableName": "uttablec7c91823"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 28 Sep 2020 17:44:28 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttablec7c91823","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-28T17%3A44%3A28.8519175Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttablec7c91823')
    status:
      code: 201
      message: Ok
    url: https://tablestestr2gpz4h5wetuu2.table.cosmos.azure.com/Tables
- request:
    body: '{"PartitionKey": "pkc7c91823", "RowKey": "rkc7c91823", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "married": true, "deceased": false, "ratio": 3.1,
      "evenratio": 3.0, "large": "933311100", "large@odata.type": "Edm.Int64", "Birthday":
      "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z",
      "birthday@odata.type": "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type":
      "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 28 Sep 2020 17:44:29 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttablec7c91823
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttablec7c91823/$metadata#uttablec7c91823/@Element","odata.etag":"W/\"datetime''2020-09-28T17%3A44%3A29.3942279Z''\"","PartitionKey":"pkc7c91823","RowKey":"rkc7c91823","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Timestamp":"2020-09-28T17:44:29.3942279Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-28T17%3A44%3A29.3942279Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/uttablec7c91823(PartitionKey='pkc7c91823',RowKey='rkc7c91823')
    status:
      code: 201
      message: Created
    url: https://tablestestr2gpz4h5wetuu2.table.cosmos.azure.com/uttablec7c91823
- request:
    body: '{"PartitionKey": "pkc7c91823", "RowKey": "rkc7c91823", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "married": true, "deceased": false, "ratio": 3.1,
      "evenratio": 3.0, "large": "933311100", "large@odata.type": "Edm.Int64", "Birthday":
      "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z",
      "birthday@odata.type": "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type":
      "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 28 Sep 2020 17:44:29 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttablec7c91823
  response:
    body:
      string: "{\"odata.error\":{\"code\":\"EntityAlreadyExists\",\"message\":{\"lang\":\"en-us\",\"value\":\"The
        specified entity already exists.\\nRequestID:425ba48f-01b2-11eb-8e6c-58961df361d1\\n\"}}}\r\n"
    headers:
      content-type: application/json;odata=minimalmetadata
    status:
      code: 409
      message: Conflict
    url: https://tablestestr2gpz4h5wetuu2.table.cosmos.azure.com/uttablec7c91823
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Sep 2020 17:44:29 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttablec7c91823')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://tablestestr2gpz4h5wetuu2.table.cosmos.azure.com/Tables('uttablec7c91823')
version: 1
