interactions:
- request:
    body: '{"TableName": "uttablef57d18d2"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:38:06 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttablef57d18d2"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://tablesteststorname.table.core.windows.net/Tables('uttablef57d18d2')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://tablestestxjz4vq7ewcdgud.table.core.windows.net/Tables
- request:
    body: '{"inf": "Infinity", "PartitionKey": "pkf57d18d2", "inf@odata.type": "Edm.Double",
      "negativeinf@odata.type": "Edm.Double", "negativeinf": "-Infinity", "nan": "NaN",
      "nan@odata.type": "Edm.Double", "RowKey@odata.type": "Edm.String", "RowKey":
      "rkf57d18d2", "PartitionKey@odata.type": "Edm.String"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:38:07 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/uttablef57d18d2
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttablef57d18d2/@Element","odata.etag":"W/\"datetime''2020-11-07T01%3A38%3A07.9051165Z''\"","PartitionKey":"pkf57d18d2","RowKey":"rkf57d18d2","Timestamp":"2020-11-07T01:38:07.9051165Z","inf@odata.type":"Edm.Double","inf":"Infinity","negativeinf@odata.type":"Edm.Double","negativeinf":"-Infinity","nan@odata.type":"Edm.Double","nan":"NaN"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-11-07T01%3A38%3A07.9051165Z'"
      location: https://tablesteststorname.table.core.windows.net/uttablef57d18d2(PartitionKey='pkf57d18d2',RowKey='rkf57d18d2')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://tablestestxjz4vq7ewcdgud.table.core.windows.net/uttablef57d18d2
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:38:07 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablesteststorname.table.core.windows.net/uttablef57d18d2(PartitionKey='pkf57d18d2',RowKey='rkf57d18d2')
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttablef57d18d2/@Element","odata.etag":"W/\"datetime''2020-11-07T01%3A38%3A07.9051165Z''\"","PartitionKey":"pkf57d18d2","RowKey":"rkf57d18d2","Timestamp":"2020-11-07T01:38:07.9051165Z","inf@odata.type":"Edm.Double","inf":"Infinity","negativeinf@odata.type":"Edm.Double","negativeinf":"-Infinity","nan@odata.type":"Edm.Double","nan":"NaN"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-11-07T01%3A38%3A07.9051165Z'"
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: https://tablestestxjz4vq7ewcdgud.table.core.windows.net/uttablef57d18d2(PartitionKey='pkf57d18d2',RowKey='rkf57d18d2')
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 Nov 2020 01:38:07 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablesteststorname.table.core.windows.net/Tables('uttablef57d18d2')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 204
      message: No Content
    url: https://tablestestxjz4vq7ewcdgud.table.core.windows.net/Tables('uttablef57d18d2')
version: 1
