interactions:
- request:
    body: '{"TableName": "uttablede501384"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 16 Sep 2020 18:39:21 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttablede501384"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://storagename.table.core.windows.net/Tables('uttablede501384')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://pyacrstorage3c26v2dj7rsh.table.core.windows.net/Tables
- request:
    body: "--batch_672b96fe-6b30-44b7-bfea-f6bddbe87e47\r\nContent-Type: multipart/mixed;
      boundary=changeset_169e627c-b083-449b-be0e-0681d286db9b\r\n\r\n--changeset_169e627c-b083-449b-be0e-0681d286db9b\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID: 0\r\n\r\nPATCH
      https://pyacrstorage3c26v2dj7rsh.table.core.windows.net/uttablede501384(PartitionKey='001',RowKey='batch_insert_replace')
      HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nContent-Type:
      application/json\r\nAccept: application/json\r\nContent-Length: 301\r\nx-ms-date:
      Wed, 16 Sep 2020 18:39:21 GMT\r\nDate: Wed, 16 Sep 2020 18:39:21 GMT\r\nx-ms-client-request-id:
      ef944ee3-f84b-11ea-9f9a-58961df361d1\r\n\r\n{\"PartitionKey\": \"001\", \"PartitionKey@odata.type\":
      \"Edm.String\", \"RowKey\": \"batch_insert_replace\", \"RowKey@odata.type\":
      \"Edm.String\", \"test\": true, \"test2\": \"value\", \"test2@odata.type\":
      \"Edm.String\", \"test3\": 3, \"test4\": 1234567890, \"test5\": \"2020-09-16T18:39:21Z\",
      \"test5@odata.type\": \"Edm.DateTime\"}\r\n--changeset_169e627c-b083-449b-be0e-0681d286db9b--\r\n\r\n--batch_672b96fe-6b30-44b7-bfea-f6bddbe87e47--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batch_672b96fe-6b30-44b7-bfea-f6bddbe87e47
      DataServiceVersion:
      - '3.0'
      MaxDataServiceVersion:
      - 3.0;NetFx
      x-ms-date:
      - Wed, 16 Sep 2020 18:39:21 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body:
      string: "--batchresponse_cb52c358-da45-4dd2-9aee-89d2df49d238\r\nContent-Type:
        multipart/mixed; boundary=changesetresponse_1999bd0c-1519-4308-ac04-68bb723cc017\r\n\r\n--changesetresponse_1999bd0c-1519-4308-ac04-68bb723cc017\r\nContent-Type:
        application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204
        No Content\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nDataServiceVersion:
        1.0;\r\nETag: W/\"datetime'2020-09-16T18%3A39%3A21.4380294Z'\"\r\n\r\n\r\n--changesetresponse_1999bd0c-1519-4308-ac04-68bb723cc017--\r\n--batchresponse_cb52c358-da45-4dd2-9aee-89d2df49d238--\r\n"
    headers:
      content-type: multipart/mixed; boundary=batchresponse_cb52c358-da45-4dd2-9aee-89d2df49d238
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: https://pyacrstorage3c26v2dj7rsh.table.core.windows.net/$batch
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 16 Sep 2020 18:39:21 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.table.core.windows.net/uttablede501384(PartitionKey='001',RowKey='batch_insert_replace')
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttablede501384/@Element","odata.etag":"W/\"datetime''2020-09-16T18%3A39%3A21.4380294Z''\"","PartitionKey":"001","RowKey":"batch_insert_replace","Timestamp":"2020-09-16T18:39:21.4380294Z","test":true,"test2":"value","test3":3,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-09-16T18:39:21Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-09-16T18%3A39%3A21.4380294Z'"
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: https://pyacrstorage3c26v2dj7rsh.table.core.windows.net/uttablede501384(PartitionKey='001',RowKey='batch_insert_replace')
version: 1
