interactions:
- request:
    body: '{"TableName": "uttable97fc1b7c"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:50:46 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttable97fc1b7c","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-11-07T01%3A50%3A47.7169671Z'"
      location:
      - https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable97fc1b7c')
    status:
      code: 201
      message: Ok
- request:
    body: '{"large@odata.type": "Edm.Int64", "large": "1125899906842624", "PartitionKey":
      "pk97fc1b7c", "RowKey@odata.type": "Edm.String", "RowKey": "rk97fc1b7c", "PartitionKey@odata.type":
      "Edm.String"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:50:47 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable97fc1b7c
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttable97fc1b7c/$metadata#uttable97fc1b7c/@Element","odata.etag":"W/\"datetime''2020-11-07T01%3A50%3A48.2198535Z''\"","large@odata.type":"Edm.Int64","large":"1125899906842624","PartitionKey":"pk97fc1b7c","RowKey":"rk97fc1b7c","Timestamp":"2020-11-07T01:50:48.2198535Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-11-07T01%3A50%3A48.2198535Z'"
      location:
      - https://tablestestcosmosname.table.cosmos.azure.com/uttable97fc1b7c(PartitionKey='pk97fc1b7c',RowKey='rk97fc1b7c')
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:50:47 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable97fc1b7c(PartitionKey='pk97fc1b7c',RowKey='rk97fc1b7c')
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttable97fc1b7c/$metadata#uttable97fc1b7c/@Element","odata.etag":"W/\"datetime''2020-11-07T01%3A50%3A48.2198535Z''\"","large@odata.type":"Edm.Int64","large":"1125899906842624","PartitionKey":"pk97fc1b7c","RowKey":"rk97fc1b7c","Timestamp":"2020-11-07T01:50:48.2198535Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-11-07T01%3A50%3A48.2198535Z'"
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:50:47 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable97fc1b7c(PartitionKey='pk97fc1b7c',RowKey='negative')
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttable97fc1b7c/$metadata#uttable97fc1b7c/@Element","odata.etag":"W/\"datetime''2020-11-07T01%3A50%3A48.3222535Z''\"","large@odata.type":"Edm.Int64","large":"-1125899906842625","PartitionKey":"pk97fc1b7c","RowKey":"negative","Timestamp":"2020-11-07T01:50:48.3222535Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-11-07T01%3A50%3A48.3222535Z'"
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 Nov 2020 01:50:47 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable97fc1b7c')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:50:47 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"value":[],"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
    status:
      code: 200
      message: Ok
version: 1
