interactions:
- request:
    body: '{"TableName": "uttablec117131d"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 28 Sep 2020 17:42:34 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttablec117131d","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-28T17%3A42%3A34.7017223Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttablec117131d')
    status:
      code: 201
      message: Ok
    url: https://tablestestr2gpz4h5wetuu2.table.cosmos.azure.com/Tables
- request:
    body: '{"PartitionKey": "pkc117131d", "RowKey": "rkc117131d", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "married": true, "deceased": false, "ratio": 3.1,
      "evenratio": 3.0, "large": "933311100", "large@odata.type": "Edm.Int64", "Birthday":
      "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z",
      "birthday@odata.type": "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type":
      "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 28 Sep 2020 17:42:35 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttablec117131d
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttablec117131d/$metadata#uttablec117131d/@Element","odata.etag":"W/\"datetime''2020-09-28T17%3A42%3A35.3249287Z''\"","PartitionKey":"pkc117131d","RowKey":"rkc117131d","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Timestamp":"2020-09-28T17:42:35.3249287Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-28T17%3A42%3A35.3249287Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/uttablec117131d(PartitionKey='pkc117131d',RowKey='rkc117131d')
    status:
      code: 201
      message: Created
    url: https://tablestestr2gpz4h5wetuu2.table.cosmos.azure.com/uttablec117131d
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 28 Sep 2020 17:42:35 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttablec117131d(PartitionKey='pkc117131d',RowKey='rkc117131d')
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttablec117131d/$metadata#uttablec117131d/@Element","odata.etag":"W/\"datetime''2020-09-28T17%3A42%3A35.3249287Z''\"","PartitionKey":"pkc117131d","RowKey":"rkc117131d","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Timestamp":"2020-09-28T17:42:35.3249287Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-28T17%3A42%3A35.3249287Z'"
    status:
      code: 200
      message: Ok
    url: https://tablestestr2gpz4h5wetuu2.table.cosmos.azure.com/uttablec117131d(PartitionKey='pkc117131d',RowKey='rkc117131d')
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Sep 2020 17:42:35 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttablec117131d')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://tablestestr2gpz4h5wetuu2.table.cosmos.azure.com/Tables('uttablec117131d')
version: 1
