interactions:
- request:
    body: '{"TableName": "uttable80ea16f1"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 23 Sep 2020 23:33:30 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostest.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttable80ea16f1","odata.metadata":"https://cosmostest.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-23T23%3A33%3A30.2935559Z'"
      location: https://cosmostest.table.cosmos.azure.com/Tables('uttable80ea16f1')
    status:
      code: 201
      message: Ok
    url: https://cosmostables4c3215c8.table.cosmos.azure.com/Tables
- request:
    body: '{"PartitionKey": "pk80ea16f1", "RowKey": "rk80ea16f1"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 23 Sep 2020 23:33:30 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostest.table.cosmos.azure.com/uttable80ea16f1
  response:
    body:
      string: '{"odata.metadata":"https://cosmostest.table.cosmos.azure.com/uttable80ea16f1/$metadata#uttable80ea16f1/@Element","odata.etag":"W/\"datetime''2020-09-23T23%3A33%3A30.7404295Z''\"","PartitionKey":"pk80ea16f1","RowKey":"rk80ea16f1","Timestamp":"2020-09-23T23:33:30.7404295Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-23T23%3A33%3A30.7404295Z'"
      location: https://cosmostest.table.cosmos.azure.com/uttable80ea16f1(PartitionKey='pk80ea16f1',RowKey='rk80ea16f1')
    status:
      code: 201
      message: Created
    url: https://cosmostables4c3215c8.table.cosmos.azure.com/uttable80ea16f1
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 23 Sep 2020 23:33:30 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://cosmostest.table.cosmos.azure.com/uttable80ea16f1(PartitionKey='pk80ea16f1',RowKey='rk80ea16f1')
  response:
    body:
      string: '{"odata.metadata":"https://cosmostest.table.cosmos.azure.com/uttable80ea16f1/$metadata#uttable80ea16f1/@Element","odata.etag":"W/\"datetime''2020-09-23T23%3A33%3A30.7404295Z''\"","PartitionKey":"pk80ea16f1","RowKey":"rk80ea16f1","Timestamp":"2020-09-23T23:33:30.7404295Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-23T23%3A33%3A30.7404295Z'"
    status:
      code: 200
      message: Ok
    url: https://cosmostables4c3215c8.table.cosmos.azure.com/uttable80ea16f1(PartitionKey='pk80ea16f1',RowKey='rk80ea16f1')
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Sep 2020 23:33:30 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://cosmostest.table.cosmos.azure.com/Tables('uttable80ea16f1')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://cosmostables4c3215c8.table.cosmos.azure.com/Tables('uttable80ea16f1')
version: 1
