interactions:
- request:
    body: '{"TableName": "uttable7ad61aed"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 02:19:12 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttable7ad61aed","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-11-07T02%3A19%3A14.3830535Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable7ad61aed')
    status:
      code: 201
      message: Ok
    url: https://tablestestussw52mubjcwms.table.cosmos.azure.com/Tables
- request:
    body: '{"birthday": "1970-10-04T00:00:00Z", "age": 39, "sex@odata.type": "Edm.String",
      "other": 20, "binary": "YmluYXJ5", "Birthday": "1973-10-04T00:00:00Z", "RowKey@odata.type":
      "Edm.String", "binary@odata.type": "Edm.Binary", "RowKey": "rk7ad61aed", "married":
      true, "sex": "male", "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "Birthday@odata.type":
      "Edm.DateTime", "ratio": 3.1, "large": 933311100, "clsid@odata.type": "Edm.Guid",
      "evenratio": 3.0, "PartitionKey": "pk7ad61aed", "deceased": false, "birthday@odata.type":
      "Edm.DateTime", "PartitionKey@odata.type": "Edm.String"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 02:19:13 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable7ad61aed
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttable7ad61aed/$metadata#uttable7ad61aed/@Element","odata.etag":"W/\"datetime''2020-11-07T02%3A19%3A14.8040199Z''\"","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","age":39,"other":20,"binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","RowKey":"rk7ad61aed","married":true,"sex":"male","clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","ratio":3.1,"large":933311100,"evenratio":3.0,"PartitionKey":"pk7ad61aed","deceased":false,"Timestamp":"2020-11-07T02:19:14.8040199Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-11-07T02%3A19%3A14.8040199Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/uttable7ad61aed(PartitionKey='pk7ad61aed',RowKey='rk7ad61aed')
    status:
      code: 201
      message: Created
    url: https://tablestestussw52mubjcwms.table.cosmos.azure.com/uttable7ad61aed
- request:
    body: '{"PartitionKey@odata.type": "Edm.String", "sign": "aquarius", "sex@odata.type":
      "Edm.String", "birthday@odata.type": "Edm.DateTime", "RowKey@odata.type": "Edm.String",
      "RowKey": "rk7ad61aed", "sex": "female", "PartitionKey": "pk7ad61aed", "sign@odata.type":
      "Edm.String", "age@odata.type": "Edm.String", "birthday": "1991-10-04T00:00:00Z",
      "age": "abc"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - '3.0'
      If-Match:
      - W/"datetime'2020-11-07T02%3A19%3A14.8040199Z'"
      x-ms-date:
      - Sat, 07 Nov 2020 02:19:13 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable7ad61aed(PartitionKey='pk7ad61aed',RowKey='rk7ad61aed')
  response:
    body:
      string: ''
    headers:
      etag: W/"datetime'2020-11-07T02%3A19%3A14.8505095Z'"
    status:
      code: 204
      message: No Content
    url: https://tablestestussw52mubjcwms.table.cosmos.azure.com/uttable7ad61aed(PartitionKey='pk7ad61aed',RowKey='rk7ad61aed')
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 Nov 2020 02:19:14 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable7ad61aed')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://tablestestussw52mubjcwms.table.cosmos.azure.com/Tables('uttable7ad61aed')
version: 1
