interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <StorageServiceProperties><Cors><CorsRule><AllowedOrigins>www.xyz.com</AllowedOrigins><AllowedMethods>GET</AllowedMethods><AllowedHeaders
      /><ExposedHeaders /><MaxAgeInSeconds>0</MaxAgeInSeconds></CorsRule><CorsRule><AllowedOrigins>www.xyz.com</AllowedOrigins><AllowedMethods>GET</AllowedMethods><AllowedHeaders
      /><ExposedHeaders /><MaxAgeInSeconds>0</MaxAgeInSeconds></CorsRule><CorsRule><AllowedOrigins>www.xyz.com</AllowedOrigins><AllowedMethods>GET</AllowedMethods><AllowedHeaders
      /><ExposedHeaders /><MaxAgeInSeconds>0</MaxAgeInSeconds></CorsRule><CorsRule><AllowedOrigins>www.xyz.com</AllowedOrigins><AllowedMethods>GET</AllowedMethods><AllowedHeaders
      /><ExposedHeaders /><MaxAgeInSeconds>0</MaxAgeInSeconds></CorsRule><CorsRule><AllowedOrigins>www.xyz.com</AllowedOrigins><AllowedMethods>GET</AllowedMethods><AllowedHeaders
      /><ExposedHeaders /><MaxAgeInSeconds>0</MaxAgeInSeconds></CorsRule><CorsRule><AllowedOrigins>www.xyz.com</AllowedOrigins><AllowedMethods>GET</AllowedMethods><AllowedHeaders
      /><ExposedHeaders /><MaxAgeInSeconds>0</MaxAgeInSeconds></CorsRule></Cors></StorageServiceProperties>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Fri, 30 Oct 2020 22:00:35 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://tablestestcosmosname.table.cosmos.azure.com/?restype=service&comp=properties
  response:
    body:
      string: "{\"odata.error\":{\"code\":\"NotImplemented\",\"message\":{\"lang\"\
        :\"en-us\",\"value\":\"The requested operation is not supported.\\r\\nActivityId:\
        \ 5663f665-1afb-11eb-ad04-58961df361d1, documentdb-dotnet-sdk/2.11.0 Host/64-bit\
        \ MicrosoftWindowsNT/6.2.9200.0\\nRequestID:5663f665-1afb-11eb-ad04-58961df361d1\\\
        n\"}}}\r\n"
    headers:
      content-type: application/json;odata=fullmetadata
    status:
      code: 501
      message: Not Implemented
    url: https://tablestest7zvosw46nuazuy.table.cosmos.azure.com/?restype=service&comp=properties
version: 1
