interactions:
- request:
    body: '{"TableName": "uttableca611318"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 02 Oct 2020 22:48:10 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttableca611318"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://tablesteststorname.table.core.windows.net/Tables('uttableca611318')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://tablesteststorname.table.core.windows.net/Tables
- request:
    body: '{"PartitionKey": "001", "PartitionKey@odata.type": "Edm.String", "RowKey":
      "batch_insert", "RowKey@odata.type": "Edm.String", "test": true, "test2": "value",
      "test2@odata.type": "Edm.String", "test3": 3, "test4": 1234567890, "test5":
      "2020-10-02T22:48:10Z", "test5@odata.type": "Edm.DateTime"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 02 Oct 2020 22:48:10 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/uttableca611318
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttableca611318/@Element","odata.etag":"W/\"datetime''2020-10-02T22%3A48%3A10.8982169Z''\"","PartitionKey":"001","RowKey":"batch_insert","Timestamp":"2020-10-02T22:48:10.8982169Z","test":true,"test2":"value","test3":3,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-10-02T22:48:10Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-10-02T22%3A48%3A10.8982169Z'"
      location: https://tablesteststorname.table.core.windows.net/uttableca611318(PartitionKey='001',RowKey='batch_insert')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://tablesteststorname.table.core.windows.net/uttableca611318
- request:
    body: "--batch_22afaaca-b01e-4ed5-8120-abedf7122fc8\r\nContent-Type: multipart/mixed;
      boundary=changeset_08665251-183b-4302-878f-3c9991c978b1\r\n\r\n--changeset_08665251-183b-4302-878f-3c9991c978b1\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID: 0\r\n\r\nPATCH
      https://tablesteststorname.table.core.windows.net/uttableca611318(PartitionKey='001',RowKey='batch_insert')
      HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nIf-Match:
      *\r\nContent-Type: application/json\r\nAccept: application/json\r\nContent-Length:
      293\r\nx-ms-date: Fri, 02 Oct 2020 22:48:10 GMT\r\nDate: Fri, 02 Oct 2020 22:48:10
      GMT\r\nx-ms-client-request-id: 58b89e64-0501-11eb-920c-58961df361d1\r\n\r\n{\"PartitionKey\":
      \"001\", \"PartitionKey@odata.type\": \"Edm.String\", \"RowKey\": \"batch_insert\",
      \"RowKey@odata.type\": \"Edm.String\", \"test\": true, \"test2\": \"value\",
      \"test2@odata.type\": \"Edm.String\", \"test3\": 5, \"test4\": 1234567890, \"test5\":
      \"2020-10-02T22:48:10Z\", \"test5@odata.type\": \"Edm.DateTime\"}\r\n--changeset_08665251-183b-4302-878f-3c9991c978b1--\r\n\r\n--batch_22afaaca-b01e-4ed5-8120-abedf7122fc8--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batch_22afaaca-b01e-4ed5-8120-abedf7122fc8
      DataServiceVersion:
      - '3.0'
      MaxDataServiceVersion:
      - 3.0;NetFx
      x-ms-date:
      - Fri, 02 Oct 2020 22:48:10 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/$batch
  response:
    body:
      string: "--batchresponse_4c5ac767-5025-4b16-b161-cc800e53c9a8\r\nContent-Type:
        multipart/mixed; boundary=changesetresponse_093b4bdc-dce7-409d-89c6-8b910a5386cc\r\n\r\n--changesetresponse_093b4bdc-dce7-409d-89c6-8b910a5386cc\r\nContent-Type:
        application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204
        No Content\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nDataServiceVersion:
        1.0;\r\nETag: W/\"datetime'2020-10-02T22%3A48%3A10.9498137Z'\"\r\n\r\n\r\n--changesetresponse_093b4bdc-dce7-409d-89c6-8b910a5386cc--\r\n--batchresponse_4c5ac767-5025-4b16-b161-cc800e53c9a8--\r\n"
    headers:
      content-type: multipart/mixed; boundary=batchresponse_4c5ac767-5025-4b16-b161-cc800e53c9a8
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: https://tablesteststorname.table.core.windows.net/$batch
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 02 Oct 2020 22:48:10 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablesteststorname.table.core.windows.net/uttableca611318(PartitionKey='001',RowKey='batch_insert')
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttableca611318/@Element","odata.etag":"W/\"datetime''2020-10-02T22%3A48%3A10.9498137Z''\"","PartitionKey":"001","RowKey":"batch_insert","Timestamp":"2020-10-02T22:48:10.9498137Z","test":true,"test2":"value","test3":5,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-10-02T22:48:10Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-10-02T22%3A48%3A10.9498137Z'"
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: https://tablesteststorname.table.core.windows.net/uttableca611318(PartitionKey='001',RowKey='batch_insert')
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 02 Oct 2020 22:48:10 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablesteststorname.table.core.windows.net/Tables('uttableca611318')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 204
      message: No Content
    url: https://tablesteststorname.table.core.windows.net/Tables('uttableca611318')
version: 1
