interactions:
- request:
    body: '{"TableName": "uttablec75a1828"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 17 Sep 2020 22:45:30 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttablec75a1828","odata.metadata":"https://cosmostestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-17T22%3A45%3A31.5056647Z'"
      location: https://cosmostestcosmosname.table.cosmos.azure.com/Tables('uttablec75a1828')
    status:
      code: 201
      message: Ok
    url: https://cosmostableswmnfqcvpsy56.table.cosmos.azure.com/Tables
- request:
    body: '{"PartitionKey": "pkc75a1828", "RowKey": "rkc75a1828", "Description": "\ua015"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 17 Sep 2020 22:45:31 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostestcosmosname.table.cosmos.azure.com/uttablec75a1828
  response:
    body:
      string: "{\"odata.metadata\":\"https://cosmostestcosmosname.table.cosmos.azure.com/uttablec75a1828/$metadata#uttablec75a1828/@Element\",\"odata.etag\":\"W/\\\"datetime'2020-09-17T22%3A45%3A32.0833031Z'\\\"\",\"PartitionKey\":\"pkc75a1828\",\"RowKey\":\"rkc75a1828\",\"Description\":\"\uA015\",\"Timestamp\":\"2020-09-17T22:45:32.0833031Z\"}"
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-17T22%3A45%3A32.0833031Z'"
      location: https://cosmostestcosmosname.table.cosmos.azure.com/uttablec75a1828(PartitionKey='pkc75a1828',RowKey='rkc75a1828')
    status:
      code: 201
      message: Created
    url: https://cosmostableswmnfqcvpsy56.table.cosmos.azure.com/uttablec75a1828
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 17 Sep 2020 22:45:32 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://cosmostestcosmosname.table.cosmos.azure.com/uttablec75a1828()
  response:
    body:
      string: "{\"value\":[{\"odata.etag\":\"W/\\\"datetime'2020-09-17T22%3A45%3A32.0833031Z'\\\"\",\"PartitionKey\":\"pkc75a1828\",\"RowKey\":\"rkc75a1828\",\"Description\":\"\uA015\",\"Timestamp\":\"2020-09-17T22:45:32.0833031Z\"},{\"odata.etag\":\"W/\\\"datetime'2020-09-17T22%3A45%3A32.2248199Z'\\\"\",\"PartitionKey\":\"pkc75a1828\",\"RowKey\":\"test2\",\"Description\":\"\uA015\",\"Timestamp\":\"2020-09-17T22:45:32.2248199Z\"}],\"odata.metadata\":\"https://cosmostestcosmosname.table.cosmos.azure.com/$metadata#uttablec75a1828\"}"
    headers:
      content-type: application/json;odata=minimalmetadata
    status:
      code: 200
      message: Ok
    url: https://cosmostableswmnfqcvpsy56.table.cosmos.azure.com/uttablec75a1828()
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Sep 2020 22:45:32 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://cosmostestcosmosname.table.cosmos.azure.com/Tables('uttablec75a1828')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://cosmostableswmnfqcvpsy56.table.cosmos.azure.com/Tables('uttablec75a1828')
version: 1
