interactions:
- request:
    body: '{"TableName": "uttable66e91674"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 23 Jul 2020 16:44:46 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable66e91674"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://storagename.table.core.windows.net/Tables('uttable66e91674')
      x-ms-version: '2019-07-07'
    status:
      code: 201
      message: Created
    url: https://pyacrstorageda7cvftmbq3r.table.core.windows.net/Tables
- request:
    body: '{"PartitionKey": "pk66e91674", "RowKey": "rk66e91674", "age": "abc", "sex":
      "female", "sign": "aquarius", "birthday": "1991-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - '3.0'
      If-Match:
      - '*'
      x-ms-date:
      - Thu, 23 Jul 2020 16:44:46 GMT
      x-ms-version:
      - '2019-07-07'
    method: PATCH
    uri: https://storagename.table.core.windows.net/uttable66e91674(PartitionKey='pk66e91674',RowKey='rk66e91674')
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?><error xmlns="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata"><code>ResourceNotFound</code><message
        xml:lang="en-US">The specified resource does not exist.

        RequestId:604f58a5-8002-000b-2210-61c615000000

        Time:2020-07-23T16:44:47.1773457Z</message></error>'
    headers:
      content-type: application/xml;charset=utf-8
      x-ms-version: '2019-07-07'
    status:
      code: 404
      message: Not Found
    url: https://pyacrstorageda7cvftmbq3r.table.core.windows.net/uttable66e91674(PartitionKey='pk66e91674',RowKey='rk66e91674')
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 23 Jul 2020 16:44:46 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttable66e91674')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-07-07'
    status:
      code: 204
      message: No Content
    url: https://pyacrstorageda7cvftmbq3r.table.core.windows.net/Tables('uttable66e91674')
version: 1
