interactions:
- request:
    body: '{"TableName": "uttable5c61109b"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 22 Sep 2020 20:03:45 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable5c61109b"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://storagename.table.core.windows.net/Tables('uttable5c61109b')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '{"PartitionKey": "001", "PartitionKey@odata.type": "Edm.String", "RowKey":
      "batch_insert", "RowKey@odata.type": "Edm.String", "test": true, "test2": "value",
      "test2@odata.type": "Edm.String", "test3": 3, "test4": 1234567890, "test5":
      "2020-09-22T20:03:46Z", "test5@odata.type": "Edm.DateTime"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 22 Sep 2020 20:03:46 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/uttable5c61109b
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable5c61109b/@Element","odata.etag":"W/\"datetime''2020-09-22T20%3A03%3A45.9767342Z''\"","PartitionKey":"001","RowKey":"batch_insert","Timestamp":"2020-09-22T20:03:45.9767342Z","test":true,"test2":"value","test3":3,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-09-22T20:03:46Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-09-22T20%3A03%3A45.9767342Z'"
      location:
      - https://storagename.table.core.windows.net/uttable5c61109b(PartitionKey='001',RowKey='batch_insert')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: "--batch_3184ce2c-9e91-400b-b476-dae969172a2f\r\nContent-Type: multipart/mixed;
      boundary=changeset_04e43e48-6f36-4b13-ad94-8cdc87c9ef99\r\n\r\n--changeset_04e43e48-6f36-4b13-ad94-8cdc87c9ef99\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID: 0\r\n\r\nPATCH
      https://pyacrstoragecy5edjajxvth.table.core.windows.net/uttable5c61109b(PartitionKey='001',RowKey='batch_insert')
      HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nIf-Match:
      *\r\nContent-Type: application/json\r\nAccept: application/json\r\nContent-Length:
      293\r\nx-ms-date: Tue, 22 Sep 2020 20:03:46 GMT\r\nDate: Tue, 22 Sep 2020 20:03:46
      GMT\r\nx-ms-client-request-id: b8dbfc6d-fd0e-11ea-be44-58961df361d1\r\n\r\n{\"PartitionKey\":
      \"001\", \"PartitionKey@odata.type\": \"Edm.String\", \"RowKey\": \"batch_insert\",
      \"RowKey@odata.type\": \"Edm.String\", \"test\": true, \"test2\": \"value\",
      \"test2@odata.type\": \"Edm.String\", \"test3\": 5, \"test4\": 1234567890, \"test5\":
      \"2020-09-22T20:03:46Z\", \"test5@odata.type\": \"Edm.DateTime\"}\r\n--changeset_04e43e48-6f36-4b13-ad94-8cdc87c9ef99--\r\n\r\n--batch_3184ce2c-9e91-400b-b476-dae969172a2f--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batch_3184ce2c-9e91-400b-b476-dae969172a2f
      DataServiceVersion:
      - '3.0'
      MaxDataServiceVersion:
      - 3.0;NetFx
      x-ms-date:
      - Tue, 22 Sep 2020 20:03:46 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body:
      string: "--batchresponse_6b79b519-fec1-4312-b836-ae41f7a6a37c\r\nContent-Type:
        multipart/mixed; boundary=changesetresponse_24d08b14-2cc4-4de5-af39-ab9af257cad4\r\n\r\n--changesetresponse_24d08b14-2cc4-4de5-af39-ab9af257cad4\r\nContent-Type:
        application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204
        No Content\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nDataServiceVersion:
        1.0;\r\nETag: W/\"datetime'2020-09-22T20%3A03%3A46.0139842Z'\"\r\n\r\n\r\n--changesetresponse_24d08b14-2cc4-4de5-af39-ab9af257cad4--\r\n--batchresponse_6b79b519-fec1-4312-b836-ae41f7a6a37c--\r\n"
    headers:
      content-type:
      - multipart/mixed; boundary=batchresponse_6b79b519-fec1-4312-b836-ae41f7a6a37c
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 22 Sep 2020 20:03:46 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.table.core.windows.net/uttable5c61109b(PartitionKey='001',RowKey='batch_insert')
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable5c61109b/@Element","odata.etag":"W/\"datetime''2020-09-22T20%3A03%3A46.0139842Z''\"","PartitionKey":"001","RowKey":"batch_insert","Timestamp":"2020-09-22T20:03:46.0139842Z","test":true,"test2":"value","test3":5,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-09-22T20:03:46Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-09-22T20%3A03%3A46.0139842Z'"
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Sep 2020 20:03:46 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttable5c61109b')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
version: 1
