interactions:
- request:
    body: '{"TableName": "uttable2da719db"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 23 Sep 2020 23:24:53 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostables.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttable2da719db","odata.metadata":"https://cosmostables.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-09-23T23%3A24%3A53.4662151Z'"
      location:
      - https://cosmostables.table.cosmos.azure.com/Tables('uttable2da719db')
    status:
      code: 201
      message: Ok
[...]
- request:
    body: '{"PartitionKey": "pk2da719db", "RowKey": "rk2da719db1", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "married": true, "deceased": false, "ratio": 3.1,
      "evenratio": 3.0, "large": "933311100", "large@odata.type": "Edm.Int64", "Birthday":
      "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z",
      "birthday@odata.type": "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type":
      "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 23 Sep 2020 23:24:54 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostables.table.cosmos.azure.com/querytable2da719db
  response:
    body:
      string: '{"odata.metadata":"https://cosmostables.table.cosmos.azure.com/querytable2da719db/$metadata#querytable2da719db/@Element","odata.etag":"W/\"datetime''2020-09-23T23%3A24%3A54.3245319Z''\"","PartitionKey":"pk2da719db","RowKey":"rk2da719db1","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Timestamp":"2020-09-23T23:24:54.3245319Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-09-23T23%3A24%3A54.3245319Z'"
      location:
      - https://cosmostables.table.cosmos.azure.com/querytable2da719db(PartitionKey='pk2da719db',RowKey='rk2da719db1')
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 23 Sep 2020 23:24:54 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://cosmostables.table.cosmos.azure.com/querytable2da719db()?$top=2
  response:
    body:
      string: '{"value":[{"odata.etag":"W/\"datetime''2020-09-23T23%3A24%3A54.3245319Z''\"","PartitionKey":"pk2da719db","RowKey":"rk2da719db1","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Timestamp":"2020-09-23T23:24:54.3245319Z"},{"odata.etag":"W/\"datetime''2020-09-23T23%3A24%3A54.3728647Z''\"","PartitionKey":"pk2da719db","RowKey":"rk2da719db12","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Timestamp":"2020-09-23T23:24:54.3728647Z"}],"odata.metadata":"https://cosmostables.table.cosmos.azure.com/$metadata#querytable2da719db"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      x-ms-continuation-nextpartitionkey:
      - '{"token":"gHQQAKby7rkCAAAAAAAAAA==","range":{"min":"","max":"FF"}}'
      x-ms-continuation-nextrowkey:
      - NA
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 23 Sep 2020 23:24:54 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://cosmostables.table.cosmos.azure.com/querytable2da719db()?$top=2&NextPartitionKey=%7B%22token%22%3A%22gHQQAKby7rkCAAAAAAAAAA%3D%3D%22%2C%22range%22%3A%7B%22min%22%3A%22%22%2C%22max%22%3A%22FF%22%7D%7D&NextRowKey=NA
  response:
    body:
      string: '{"value":[{"odata.etag":"W/\"datetime''20[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Sep 2020 23:24:54 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://cosmostables.table.cosmos.azure.com/Tables('uttable2da719db')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 23 Sep 2020 23:24:55 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://cosmostables.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"value":[{"TableName":"querytable9c05125e"},{"TableName":"listtable33a8d15b3"},{"TableName":"querytablec80b1810"},{"TableName":"listtable1d2351374"},{"TableName":"querytable5436162b"},{"TableName":"listtable23a8d15b3"},{"TableName":"listtable0d2351374"},{"TableName":"listtable3d2351374"},{"TableName":"pytableasync52bb107b"},{"TableName":"querytable2da719db"},{"TableName":"listtable2d2351374"},{"TableName":"listtable13a8d15b3"},{"TableName":"querytable981b173a"},{"TableName":"listtable03a8d15b3"}],"odata.metadata":"https://cosmostables.table.cosmos.azure.com/$metadata#Tables"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
    status:
      code: 200
      message: Ok
version: 1
