interactions:
- request:
    body: '{"TableName": "uttable2efa1532"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 17 Nov 2020 01:05:07 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable2efa1532"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://tablesteststorname.table.core.windows.net/Tables('uttable2efa1532')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '{"PartitionKey": "001", "PartitionKey@odata.type": "Edm.String", "RowKey":
      "batch_negative_1", "RowKey@odata.type": "Edm.String", "age": 39, "sex": "male",
      "sex@odata.type": "Edm.String", "married": true, "deceased": false, "ratio":
      3.1, "evenratio": 3.0, "large": 933311100, "Birthday": "1973-10-04T00:00:00Z",
      "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other":
      20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 17 Nov 2020 01:05:08 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/uttable2efa1532
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttable2efa1532/@Element","odata.etag":"W/\"datetime''2020-11-17T01%3A05%3A08.8726522Z''\"","PartitionKey":"001","RowKey":"batch_negative_1","Timestamp":"2020-11-17T01:05:08.8726522Z","age":39,"sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large":933311100,"Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-11-17T01%3A05%3A08.8726522Z'"
      location:
      - https://tablesteststorname.table.core.windows.net/uttable2efa1532(PartitionKey='001',RowKey='batch_negative_1')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: "--batch_2e38e36b-8b55-423b-a89f-62c17f041f84\r\nContent-Type: multipart/mixed;\
      \ boundary=changeset_36e8028d-c6f3-4940-9ebb-fb03a2ce4ffa\r\n\r\n--changeset_36e8028d-c6f3-4940-9ebb-fb03a2ce4ffa\r\
      \nContent-Type: application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID:\
      \ 0\r\n\r\nPATCH https://tablestestdeyieg6fz36v3x.table.core.windows.net/uttable2efa1532(PartitionKey='001',RowKey='batch_negative_1')\
      \ HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nIf-Match:\
      \ *\r\nContent-Type: application/json\r\nAccept: application/json\r\nContent-Length:\
      \ 352\r\nx-ms-date: Tue, 17 Nov 2020 01:05:08 GMT\r\nDate: Tue, 17 Nov 2020\
      \ 01:05:08 GMT\r\nx-ms-client-request-id: ef7c35e1-2870-11eb-a8b5-58961df361d1\r\
      \n\r\n{\"PartitionKey\": \"001\", \"PartitionKey@odata.type\": \"Edm.String\"\
      , \"RowKey\": \"batch_negative_1\", \"RowKey@odata.type\": \"Edm.String\", \"\
      age\": \"abc\", \"age@odata.type\": \"Edm.String\", \"sex\": \"female\", \"\
      sex@odata.type\": \"Edm.String\", \"sign\": \"aquarius\", \"sign@odata.type\"\
      : \"Edm.String\", \"birthday\": \"1991-10-04T00:00:00Z\", \"birthday@odata.type\"\
      : \"Edm.DateTime\"}\r\n--changeset_36e8028d-c6f3-4940-9ebb-fb03a2ce4ffa\r\n\
      Content-Type: application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID:\
      \ 1\r\n\r\nPATCH https://tablestestdeyieg6fz36v3x.table.core.windows.net/uttable2efa1532(PartitionKey='001',RowKey='batch_negative_1')\
      \ HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceV[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 17 Nov 2020 01:05:08 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablesteststorname.table.core.windows.net/Tables('uttable2efa1532')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
version: 1
