interactions:
- request:
    body: '{"TableName": "uttablef8471404"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
<<<<<<< HEAD
      - Mon, 28 Sep 2020 17:30:06 GMT
      User-Agent:
      - azsdk-python-data-tables/2019-07-07 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Mon, 28 Sep 2020 17:30:06 GMT
=======
      - Wed, 16 Sep 2020 21:52:03 GMT
      User-Agent:
      - azsdk-python-data-tables/12.0.0b2 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Wed, 16 Sep 2020 21:52:03 GMT
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttablef8471404"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
<<<<<<< HEAD
      date: Mon, 28 Sep 2020 17:30:05 GMT
      location: https://tablesteststorname.table.core.windows.net/Tables('uttablef8471404')
=======
      date: Wed, 16 Sep 2020 21:52:03 GMT
      location: https://storagename.table.core.windows.net/Tables('uttablef8471404')
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
      server: Windows-Azure-Table/1.0 Microsoft-HTTPAPI/2.0
      transfer-encoding: chunked
      x-content-type-options: nosniff
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
<<<<<<< HEAD
    url: https://tablestestbluanwepmj6h4i.table.core.windows.net/Tables
=======
    url: https://pyacrstoragewrla36mtikyp.table.core.windows.net/Tables
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
- request:
    body: '{"PartitionKey": "test", "PartitionKey@odata.type": "Edm.String", "RowKey":
      "test1", "RowKey@odata.type": "Edm.String", "age": 39, "sex": "male", "sex@odata.type":
      "Edm.String", "married": true, "deceased": false, "ratio": 3.1, "evenratio":
      3.0, "large": 933311100, "Birthday": "1973-10-04T00:00:00Z", "Birthday@odata.type":
      "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type": "Edm.DateTime",
      "binary": "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other": 20, "clsid":
      "c9da6455-213d-42c9-9a79-3e9149a57833", "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
<<<<<<< HEAD
      - Mon, 28 Sep 2020 17:30:06 GMT
      User-Agent:
      - azsdk-python-data-tables/2019-07-07 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Mon, 28 Sep 2020 17:30:06 GMT
=======
      - Wed, 16 Sep 2020 21:52:03 GMT
      User-Agent:
      - azsdk-python-data-tables/12.0.0b2 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Wed, 16 Sep 2020 21:52:03 GMT
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
      x-ms-version:
      - '2019-02-02'
    method: POST
<<<<<<< HEAD
    uri: https://tablesteststorname.table.core.windows.net/uttablef8471404?se=2020-09-28T18:30:06Z&sp=a&sv=2019-02-02&tn=uttablef8471404&spk=test&srk=test1&epk=test&erk=test1&sig=6I9Um3jjDXAFPkUmOUhMEAr2dmJArbSZRRgZoqU%2BoJQ%3D
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttablef8471404/@Element","odata.etag":"W/\"datetime''2020-09-28T17%3A30%3A06.6264957Z''\"","PartitionKey":"test","RowKey":"test1","Timestamp":"2020-09-28T17:30:06.6264957Z","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-09-28T17%3A30%3A06.6264957Z'"
      location: https://tablesteststorname.table.core.windows.net/uttablef8471404(PartitionKey='test',RowKey='test1')
=======
    uri: https://storagename.table.core.windows.net/uttablef8471404?se=2020-09-16T22:52:03Z&sp=a&sv=2019-02-02&tn=uttablef8471404&spk=test&srk=test1&epk=test&erk=test1&sig=c5KTgh5IM%2BiRAtzLAxt3In2qQhvQBi2OOBDMkztsy%2BA%3D
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$met[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
<<<<<<< HEAD
      - Mon, 28 Sep 2020 17:30:06 GMT
      User-Agent:
      - azsdk-python-data-tables/2019-07-07 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Mon, 28 Sep 2020 17:30:06 GMT
=======
      - Wed, 16 Sep 2020 21:52:04 GMT
      User-Agent:
      - azsdk-python-data-tables/12.0.0b2 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Wed, 16 Sep 2020 21:52:04 GMT
>>>>>>> 40[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - Mon, 28 Sep 2020 17:30:06 GMT
      User-Agent:
      - azsdk-python-data-tables/2019-07-07 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Mon, 28 Sep 2020 17:30:06 GMT
=======
      - Wed, 16 Sep 2020 21:52:04 GMT
      User-Agent:
      - azsdk-python-data-tables/12.0.0b2 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Wed, 16 Sep 2020 21:52:04 GMT
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablesteststorname.table.core.windows.net/Tables('uttablef8471404')
  response:
    body:
      string: ''
    headers:
<<<<<<< HEAD
      date: Mon, 28 Sep 2020 17:30:06 GMT
=======
      date: Wed, 16 Sep 2020 21:52:03 GMT
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
      server: Windows-Azure-Table/1.0 Microsoft-HTTPAPI/2.0
      x-content-type-options: nosniff
      x-ms-version: '2019-02-02'
    status:
      code: 204
      message: No Content
<<<<<<< HEAD
    url: https://tablestestbluanwepmj6h4i.table.core.windows.net/Tables('uttablef8471404')
=======
    url: https://pyacrstoragewrla36mtikyp.table.core.windows.net/Tables('uttablef8471404')
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
version: 1
