{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:54:49 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable12982ec8"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-05-06T00%3A54%3A48.6217736Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttable12982ec8\u0027)"
      },
      "ResponseBody": {
        "TableName": "uttable12982ec8",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable12982ec8",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:54:49 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk12982ec8",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "rk12982ec8",
        "RowKey@odata.type": "Edm.String",
        "\u554A\u9F44\u4E02\u72DB\u72DC": "\uA015",
        "\u554A\u9F44\u4E02\u72DB\u72DC@odata.type": "Edm.String"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-05-06T00%3A54%3A49.0346504Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/uttable12982ec8(PartitionKey=\u0027pk12982ec8\u0027,RowKey=\u0027rk12982ec8\u0027)"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable12982ec8/$metadata#uttable12982ec8/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-05-06T00%3A54%3A49.0346504Z\u0027\u0022",
        "PartitionKey": "pk12982ec8",
        "RowKey": "rk12982ec8",
        "\u554A\u9F44\u4E02\u72DB\u72DC": "\uA015",
        "Timestamp": "2022-05-06T00:54:49.0346504Z"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable12982ec8()?$filter=PartitionKey%20eq%20%27pk12982ec8%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:54:49 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272022-05-06T00%3A54%3A49.0346504Z\u0027\u0022",
            "PartitionKey": "pk12982ec8",
            "RowKey": "rk12982ec8",
            "\u554A\u9F44\u4E02\u72DB\u72DC": "\uA015",
            "Timestamp": "2022-05-06T00:54:49.0346504Z"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-05-06T00%3A54%3A49.0537992Z\u0027\u0022",
            "PartitionKey": "pk12982ec8",
            "RowKey": "test2",
            "\u554A\u9F44\u4E02\u72DB\u72DC": "hello",
            "Timestamp": "2022-05-06T00:54:49.0537992Z"
          }
        ],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#uttable12982ec8"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttable12982ec8\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 May 2022 00:54:49 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
