interactions:
- request:
    body: '{"TableName": "uttabled3221357"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 10 Nov 2020 00:16:59 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttabled3221357"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://tablesteststorname.table.core.windows.net/Tables('uttabled3221357')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '{"PartitionKey": "pk", "PartitionKey@odata.type": "Edm.String", "RowKey":
      "10", "RowKey@odata.type": "Edm.String", "value": 0}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 10 Nov 2020 00:16:59 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/uttabled3221357
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttabled3221357/@Element","odata.etag":"W/\"datetime''2020-11-10T00%3A17%3A00.0352604Z''\"","PartitionKey":"pk","RowKey":"10","Timestamp":"2020-11-10T00:17:00.0352604Z","value":0}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-11-10T00%3A17%3A00.0352604Z'"
      location:
      - https://tablesteststorname.table.core.windows.net/uttabled3221357(PartitionKey='pk',RowKey='10')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 10 Nov 2020 00:17:00 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablesteststorname.table.core.windows.net/uttabled3221357()?$top=2&$filter=PartitionKey%20eq%20%27pk%27
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttabled3221357","value":[{"odata.etag":"W/\"datetime''2020-11-10T00%3A17%3A00.0352604Z''\"","PartitionKey":"pk","RowKey":"10","Timestamp":"2020-11-10T00:17:00.0352604Z","value":0},{"odata.etag":"W/\"datetime''2020-11-10T00%3A17%3A00.0832951Z''\"","PartitionKey":"pk","RowKey":"101","Timestamp":"2020-11-10T00:17:00.0832951Z","value":1}]}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-continuation-nextpartitionkey:
      - 1!4!cGs-
      x-ms-continuation-nextrowkey:
      - 1!8!MTAxMg--
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 10 Nov 2020 00:17:00 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablesteststorname.table.core.windows.net/uttabled3221357()?$top=2&$filter=PartitionKey%20eq%20%27pk%27&NextPartitionKey=1%214%21cGs-&NextRowKey=1%218%21MTAxMg--
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttabled3221357","value":[{"odata.etag":"W/\"datetime''2020-11-10T00%3A17%3A00.127326Z''\"","PartitionKey":"pk","RowKey":"1012","Timestamp":"2020-11-10T00:17:00.127326Z","value":2},{"odata.etag":"W/\"datetime''2020-11-10T00%3A17%3A00.1893701Z''\"","PartitionKey":"pk","RowKey":"10123","Timestamp":"2020-11-10T00:17:00.1893701Z","value":3}]}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-continuation-nextpartitionkey:
      - 1!4!cGs-
      x-ms-continuation-nextrowkey:
      - 1!8!MTAxMjM0
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 10 Nov 2020 00:17:00 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablesteststorname.table.core.windows.net/uttabled3221357()?$top=2&$filter=PartitionKey%20eq%20%27pk%27&NextPartitionKey=1%214%21cGs-&NextRowKey=1%218%21MTAxMjM0
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttabled3221357","value":[{"odata.etag":"W/\"datetime''2020-11-10T00%3A17%3A00.2374052Z''\"","PartitionKey":"pk","RowKey":"101234","Timestamp":"2020-11-10T00:17:00.2374052Z","value":4},{"odata.etag":"W/\"datetime''2020-11-10T00%3A17%3A00.2844376Z''\"","PartitionKey":"pk","RowKey":"1012345","Timestamp":"2020-11-10T00:17:00.2844376Z","value":5}]}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 10 Nov 2020 00:17:00 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablesteststorname.table.core.windows.net/Tables('uttabled3221357')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
version: 1
