{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:55:34 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable13bc2ee2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-05-06T00%3A55%3A34.3086600Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttable13bc2ee2\u0027)"
      },
      "ResponseBody": {
        "TableName": "uttable13bc2ee2",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable13bc2ee2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:55:35 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk13bc2ee2",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "rk13bc2ee2",
        "RowKey@odata.type": "Edm.String",
        "binary": "AQIDBAUGBwgJCg==",
        "binary@odata.type": "Edm.Binary"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-05-06T00%3A55%3A34.6172936Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/uttable13bc2ee2(PartitionKey=\u0027pk13bc2ee2\u0027,RowKey=\u0027rk13bc2ee2\u0027)"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable13bc2ee2/$metadata#uttable13bc2ee2/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-05-06T00%3A55%3A34.6172936Z\u0027\u0022",
        "PartitionKey": "pk13bc2ee2",
        "RowKey": "rk13bc2ee2",
        "binary@odata.type": "Edm.Binary",
        "binary": "AQIDBAUGBwgJCg==",
        "Timestamp": "2022-05-06T00:55:34.6172936Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable13bc2ee2(PartitionKey=\u0027pk13bc2ee2\u0027,RowKey=\u0027rk13bc2ee2\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:55:35 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-05-06T00%3A55%3A34.6172936Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable13bc2ee2/$metadata#uttable13bc2ee2/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-05-06T00%3A55%3A34.6172936Z\u0027\u0022",
        "PartitionKey": "pk13bc2ee2",
        "RowKey": "rk13bc2ee2",
        "binary@odata.type": "Edm.Binary",
        "binary": "AQIDBAUGBwgJCg==",
        "Timestamp": "2022-05-06T00:55:34.6172936Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:55:35 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "TableName": "uttable13bc2ee2"
          }
        ],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttable13bc2ee2\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 May 2022 00:55:35 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
