interactions:
- request:
    body: '{"TableName": "uttable121a1965"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
<<<<<<< HEAD
      - Mon, 28 Sep 2020 17:30:04 GMT
      User-Agent:
      - azsdk-python-data-tables/2019-07-07 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Mon, 28 Sep 2020 17:30:04 GMT
=======
      - Wed, 16 Sep 2020 21:52:01 GMT
      User-Agent:
      - azsdk-python-data-tables/12.0.0b2 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Wed, 16 Sep 2020 21:52:01 GMT
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable121a1965"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
<<<<<<< HEAD
      date: Mon, 28 Sep 2020 17:30:04 GMT
      location: https://tablesteststorname.table.core.windows.net/Tables('uttable121a1965')
=======
      date: Wed, 16 Sep 2020 21:52:01 GMT
      location: https://storagename.table.core.windows.net/Tables('uttable121a1965')
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
      server: Windows-Azure-Table/1.0 Microsoft-HTTPAPI/2.0
      transfer-encoding: chunked
      x-content-type-options: nosniff
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
<<<<<<< HEAD
    url: https://tablestestbluanwepmj6h4i.table.core.windows.net/Tables
=======
    url: https://pyacrstoragewrla36mtikyp.table.core.windows.net/Tables
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
[...]
- request:
    body: '{"PartitionKey": "pk121a1965", "PartitionKey@odata.type": "Edm.String",
      "RowKey": "rk121a19651", "RowKey@odata.type": "Edm.String", "age": 39, "sex":
      "male", "sex@odata.type": "Edm.String", "married": true, "deceased": false,
      "ratio": 3.1, "evenratio": 3.0, "large": 933311100, "Birthday": "1973-10-04T00:00:00Z",
      "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other":
      20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
<<<<<<< HEAD
      - Mon, 28 Sep 2020 17:30:04 GMT
      User-Agent:
      - azsdk-python-data-tables/2019-07-07 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Mon, 28 Sep 2020 17:30:04 GMT
=======
      - Wed, 16 Sep 2020 21:52:02 GMT
      User-Agent:
      - azsdk-python-data-tables/12.0.0b2 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Wed, 16 Sep 2020 21:52:02 GMT
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/querytable121a1965
  response:
    body:
<<<<<<< HEAD
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#querytable121a1965/@Element","odata.etag":"W/\"datetime''2020-09-28T17%3A30%3A04.9370361Z''\"","PartitionKey":"pk121a1965","RowKey":"rk121a19651","Timestamp":"2020-09-28T17:30:04.9370361Z","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-09-28T17%3A30%3A04.9370361Z'"
      location: https://tablesteststorname.table.core.windows.net/querytable121a1965(PartitionKey='pk121a1965',RowKey='rk121a19651')
=======
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#querytable121a1965/@Element","odata.etag":"W/\"datetime''2020-09-16T21%3A52%3A02.630718Z''\"","PartitionKey":"pk121a1965","RowKey":"rk121a19651","Timestamp":"2020-09-16T21:52:02.630718Z","age":39,"sex":"male","married":true,[...]
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
<<<<<<< HEAD
      - Mon, 28 Sep 2020 17:30:05 GMT
      User-Agent:
      - azsdk-python-data-tables/2019-07-07 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Mon, 28 Sep 2020 17:30:05 GMT
=======
      - Wed, 16 Sep 2020 21:52:02 GMT
      User-Agent:
      - azsdk-python-data-tables/12.0.0b2 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Wed, 16 Sep 2020 21:52:02 GMT
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablesteststorname.table.core.windows.net/querytable121a1965()?$top=2
  response:
    body:
<<<<<<< HEAD
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#querytable121a1965","value":[{"odata.etag":"W/\"datetime''2020-09-28T17%3A30%3A04.9370361Z''\"","PartitionKey":"pk121a1965","RowKey":"rk121a19651","Timestamp":"2020-09-28T17:30:04.9370361Z","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary"[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
<<<<<<< HEAD
      - Mon, 28 Sep 2020 17:30:05 GMT
      User-Agent:
      - azsdk-python-data-tables/2019-07-07 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Mon, 28 Sep 2020 17:30:05 GMT
=======
      - Wed, 16 Sep 2020 21:52:02 GMT
      User-Agent:
      - azsdk-python-data-tables/12.0.0b2 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Wed, 16 Sep 2020 21:52:02 GMT
>>>>>>> 40[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
<<<<<<< HEAD
      - Mon, 28 Sep 2020 17:30:05 GMT
      User-Agent:
      - azsdk-python-data-tables/2019-07-07 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Mon, 28 Sep 2020 17:30:05 GMT
=======
      - Wed, 16 Sep 2020 21:52:02 GMT
      User-Agent:
      - azsdk-python-data-tables/12.0.0b2 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Wed, 16 Sep 2020 21:52:02 GMT
>>>>>>> 40[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - Mon, 28 Sep 2020 17:30:05 GMT
      User-Agent:
      - azsdk-python-data-tables/2019-07-07 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Mon, 28 Sep 2020 17:30:05 GMT
=======
      - Wed, 16 Sep 2020 21:52:02 GMT
      User-Agent:
      - azsdk-python-data-tables/12.0.0b2 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Wed, 16 Sep 2020 21:52:02 GMT
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablesteststorname.table.core.windows.net/Tables('uttable121a1965')
  response:
    body:
      string: ''
    headers:
<<<<<<< HEAD
      date: Mon, 28 Sep 2020 17:30:05 GMT
=======
      date: Wed, 16 Sep 2020 21:52:02 GMT
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
      server: Windows-Azure-Table/1.0 Microsoft-HTTPAPI/2.0
      x-content-type-options: nosniff
      x-ms-version: '2019-02-02'
    status:
      code: 204
      message: No Content
<<<<<<< HEAD
    url: https://tablestestbluanwepmj6h4i.table.core.windows.net/Tables('uttable121a1965')
=======
    url: https://pyacrstoragewrla36mtikyp.table.core.windows.net/Tables('uttable121a1965')
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
- request:
    body: null
    headers:
<<<<<<< HEAD
      - Mon, 28 Sep 2020 17:30:05 GMT
      User-Agent:
      - azsdk-python-data-tables/2019-07-07 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Mon, 28 Sep 2020 17:30:05 GMT
=======
      - Wed, 16 Sep 2020 21:52:02 GMT
      User-Agent:
      - azsdk-python-data-tables/12.0.0b2 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Wed, 16 Sep 2020 21:52:02 GMT
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablesteststorname.table.core.windows.net/Tables('querytable121a1965')
  response:
    body:
      string: ''
    headers:
<<<<<<< HEAD
      date: Mon, 28 Sep 2020 17:30:05 GMT
=======
      date: Wed, 16 Sep 2020 21:52:02 GMT
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
      server: Windows-Azure-Table/1.0 Microsoft-HTTPAPI/2.0
      x-content-type-options: nosniff
      x-ms-version: '2019-02-02'
    status:
      code: 204
      message: No Content
<<<<<<< HEAD
    url: https://tablestestbluanwepmj6h4i.table.core.windows.net/Tables('querytable121a1965')
=======
    url: https://pyacrstoragewrla36mtikyp.table.core.windows.net/Tables('querytable121a1965')
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
version: 1
