interactions:
- request:
    body: '{"TableName": "uttablefb67146a"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
<<<<<<< HEAD
      - Mon, 28 Sep 2020 17:29:49 GMT
      User-Agent:
      - azsdk-python-data-tables/2019-07-07 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Mon, 28 Sep 2020 17:29:49 GMT
=======
      - Wed, 16 Sep 2020 21:51:49 GMT
      User-Agent:
      - azsdk-python-data-tables/12.0.0b2 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Wed, 16 Sep 2020 21:51:49 GMT
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttablefb67146a"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
<<<<<<< HEAD
      - Mon, 28 Sep 2020 17:29:49 GMT
=======
      - Wed, 16 Sep 2020 21:51:49 GMT
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
      location:
      - https://tablesteststorname.table.core.windows.net/Tables('uttablefb67146a')
      server:
      - Windows-Azure-Table/1.0 Microsoft-HTTPAPI/2.0
      transfer-encoding:
      - chunked
      x-content-type-options:
      - nosniff
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '{"PartitionKey": "pkfb67146a", "PartitionKey@odata.type": "Edm.String",
      "RowKey": "rkfb67146a", "RowKey@odata.type": "Edm.String", "age": "abc", "age@odata.type":
      "Edm.String", "sex": "female", "sex@odata.type": "Edm.String", "sign": "aquarius",
      "sign@odata.type": "Edm.String", "birthday": "1991-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - '3.0'
<<<<<<< HEAD
      - Mon, 28 Sep 2020 17:29:49 GMT
      If-Match:
      - '*'
      User-Agent:
      - azsdk-python-data-tables/2019-07-07 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Mon, 28 Sep 2020 17:29:49 GMT
=======
      - Wed, 16 Sep 2020 21:51:49 GMT
      If-Match:
      - '*'
      User-Agent:
      - azsdk-python-data-tables/12.0.0b2 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Wed, 16 Sep 2020 21:51:49 GMT
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://tablesteststorname.table.core.windows.net/uttablefb67146a(PartitionKey='pkfb67146a',RowKey='rkfb67146a')
  response:
    body:
<<<<<<< HEAD
      string: '<?xml version="1.0" encoding="utf-8"?><error xmlns="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata"><code>ResourceNotFound</code><message
        xml:lang="en-US">The specified resource does not exist.

        RequestId:fdaee39b-c002-0061-50bc-959abe000000

        Time:2020-09-28T17:29:49.3853383Z</message></error>'
=======
      string: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
        specified resource does not exist.\nRequestId:6e212271-8002-0076-1573-8cecbb000000\nTime:2020-09-16T21:51:49.9031460Z"}}}'
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
<<<<<<< HEAD
      - Mon, 28 Sep 2020 17:29:49 GMT
=======
      - Wed, 16 Sep 2020 21:51:49 GMT
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
      server:
      - Windows-Azure-Table/1.0 Microsoft-HTTPAPI/2.0
      transfer-encoding:
      - chunked
      x-content-type-options:
      - nosniff
      x-ms-version:
      - '2019-02-02'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
<<<<<<< HEAD
      - Mon, 28 Sep 2020 17:29:49 GMT
      User-Agent:
      - azsdk-python-data-tables/2019-07-07 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Mon, 28 Sep 2020 17:29:49 GMT
=======
      - Wed, 16 Sep 2020 21:51:49 GMT
      User-Agent:
      - azsdk-python-data-tables/12.0.0b2 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Wed, 16 Sep 2020 21:51:49 GMT
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablesteststorname.table.core.windows.net/Tables('uttablefb67146a')
  response:
    body:
      string: ''
    headers:
<<<<<<< HEAD
      - Mon, 28 Sep 2020 17:29:49 GMT
=======
      - Wed, 16 Sep 2020 21:51:49 GMT
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
      server:
      - Windows-Azure-Table/1.0 Microsoft-HTTPAPI/2.0
      x-content-type-options:
      - nosniff
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
version: 1
