{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 19 Oct 2022 01:28:58 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable96c23202"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttable96c23202\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable96c23202"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable96c23202(PartitionKey=\u00271ca72025-f78c-437d-87df-9bcf0dd0d297\u0027,RowKey=\u00271ca72025-f78c-437d-87df-9bcf0dd0d297\u0027)",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 19 Oct 2022 01:28:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "1ca72025-f78c-437d-87df-9bcf0dd0d297",
        "PartitionKey@odata.type": "Edm.Guid",
        "RowKey": "1ca72025-f78c-437d-87df-9bcf0dd0d297",
        "RowKey@odata.type": "Edm.Guid"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272022-10-19T01%3A28%3A58.4114503Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable96c23202(PartitionKey=\u00271ca72025-f78c-437d-87df-9bcf0dd0d297\u0027,RowKey=\u00271ca72025-f78c-437d-87df-9bcf0dd0d297\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 19 Oct 2022 01:28:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-10-19T01%3A28%3A58.4114503Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable96c23202/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-10-19T01%3A28%3A58.4114503Z\u0027\u0022",
        "PartitionKey": "1ca72025-f78c-437d-87df-9bcf0dd0d297",
        "RowKey": "1ca72025-f78c-437d-87df-9bcf0dd0d297",
        "Timestamp": "2022-10-19T01:28:58.4114503Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable96c23202(PartitionKey=\u00271ca72025-f78c-437d-87df-9bcf0dd0d297\u0027,RowKey=\u00271ca72025-f78c-437d-87df-9bcf0dd0d297\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Wed, 19 Oct 2022 01:28:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable96c23202(PartitionKey=\u00271ca72025-f78c-437d-87df-9bcf0dd0d297\u0027,RowKey=\u00271ca72025-f78c-437d-87df-9bcf0dd0d297\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 19 Oct 2022 01:28:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "ResourceNotFound",
          "message": {
            "lang": "en-US",
            "value": "The specified resource does not exist.\nRequestId:7658f479-b002-0060-455a-e31325000000\nTime:2022-10-19T01:28:58.5100227Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttable96c23202\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Wed, 19 Oct 2022 01:28:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
