interactions:
- request:
    body: '{"TableName": "uttable7e2c1154"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:23:21 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable7e2c1154"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://tablesteststorname.table.core.windows.net/Tables('uttable7e2c1154')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '{"birthday": "1970-10-04T00:00:00Z", "age": 39, "sex@odata.type": "Edm.String",
      "other": 20, "binary": "YmluYXJ5", "Birthday": "1973-10-04T00:00:00Z", "RowKey@odata.type":
      "Edm.String", "binary@odata.type": "Edm.Binary", "RowKey": "rk7e2c1154", "married":
      true, "sex": "male", "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "Birthday@odata.type":
      "Edm.DateTime", "ratio": 3.1, "large": 933311100, "clsid@odata.type": "Edm.Guid",
      "evenratio": 3.0, "PartitionKey": "pk7e2c1154", "deceased": false, "birthday@odata.type":
      "Edm.DateTime", "PartitionKey@odata.type": "Edm.String"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:23:21 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/uttable7e2c1154
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttable7e2c1154/@Element","odata.etag":"W/\"datetime''2020-11-07T01%3A23%3A22.6189189Z''\"","PartitionKey":"pk7e2c1154","RowKey":"rk7e2c1154","Timestamp":"2020-11-07T01:23:22.6189189Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","age":39,"other":20,"binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","married":true,"sex":"male","clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","ratio":3.1,"large":933311100,"evenratio":3.0,"deceased":false}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-11-07T01%3A23%3A22.6189189Z'"
      location:
      - https://tablesteststorname.table.core.windows.net/uttable7e2c1154(PartitionKey='pk7e2c1154',RowKey='rk7e2c1154')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: "--batch_a422bef2-0245-4aa3-b7d5-f5100a353ed7\r\nContent-Type: multipart/mixed;
      boundary=changeset_661565ef-6d9a-4a36-b684-e1466147d7b7\r\n\r\n--changeset_661565ef-6d9a-4a36-b684-e1466147d7b7\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID: 0\r\n\r\nPUT
      https://tablestestxjz4vq7ewcdgud.table.core.windows.net/uttable7e2c1154(PartitionKey='pk7e2c1154',RowKey='rk7e2c1154')
      HTTP/1.1\r\nIf-Match: W/\"datetime'2020-11-07T01%3A23%3A22.6189189Z'\"\r\nContent-Type:
      application/json\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nAccept:
      application/json\r\nContent-Length: 353\r\nx-ms-date: Sat, 07 Nov 2020 01:23:21
      GMT\r\nDate: Sat, 07 Nov 2020 01:23:21 GMT\r\nx-ms-client-request-id: d311e0e8-2097-11eb-9708-58961df361d1\r\n\r\n{\"PartitionKey@odata.type\":
      \"Edm.String\", \"sign\": \"aquarius\", \"sex@odata.type\": \"Edm.String\",
      \"birthday@odata.type\": \"Edm.DateTime\", \"RowKey@odata.type\": \"Edm.String\",
      \"RowKey\": \"rk7e2c1154\", \"sex\": \"female\", \"PartitionKey\": \"pk7e2c1154\",
      \"sign@odata.type\": \"Edm.String\", \"age@odata.type\": \"Edm.String\", \"birthday\":
      \"1991-10-04T00:00:00Z\", \"age\": \"abc\"}\r\n--changeset_661565ef-6d9a-4a36-b684-e1466147d7b7--\r\n\r\n--batch_a422bef2-0245-4aa3-b7d5-f5100a353ed7--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batch_a422bef2-0245-4aa3-b7d5-f5100a353ed7
      DataServiceVersion:
      - '3.0'
      MaxDataServiceVersion:
      - 3.0;NetFx
      x-ms-date:
      - Sat, 07 Nov 2020 01:23:21 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/$batch
  response:
    body:
      string: "--batchresponse_3bf25017-4e41-445d-92b0-5afce3910e29\r\nContent-Type:
        multipart/mixed; boundary=changesetresponse_aa5fc72a-cd5c-4e92-bfa3-3f0f6f9ba0ca\r\n\r\n--changesetresponse_aa5fc72a-cd5c-4e92-bfa3-3f0f6f9ba0ca\r\nContent-Type:
        application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204
        No Content\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nDataServiceVersion:
        1.0;\r\nETag: W/\"datetime'2020-11-07T01%3A23%3A22.6875523Z'\"\r\n\r\n\r\n--changesetresponse_aa5fc72a-cd5c-4e92-bfa3-3f0f6f9ba0ca--\r\n--batchresponse_3bf25017-4e41-445d-92b0-5afce3910e29--\r\n"
    headers:
      content-type:
      - multipart/mixed; boundary=batchresponse_3bf25017-4e41-445d-92b0-5afce3910e29
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:23:21 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablesteststorname.table.core.windows.net/uttable7e2c1154(PartitionKey='pk7e2c1154',RowKey='rk7e2c1154')
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttable7e2c1154/@Element","odata.etag":"W/\"datetime''2020-11-07T01%3A23%3A22.6875523Z''\"","PartitionKey":"pk7e2c1154","RowKey":"rk7e2c1154","Timestamp":"2020-11-07T01:23:22.6875523Z","age":"abc","birthday@odata.type":"Edm.DateTime","birthday":"1991-10-04T00:00:00Z","sex":"female","sign":"aquarius"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-11-07T01%3A23%3A22.6875523Z'"
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 Nov 2020 01:23:21 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablesteststorname.table.core.windows.net/Tables('uttable7e2c1154')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
version: 1
