{
  "Entries": [
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 18 Oct 2021 23:38:50 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022TableName\u0022: \u0022uttabled8243442\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-10-18T23%3A38%3A45.1302408Z\u0027\u0022",
        "Location": "https://yalltbtestsprim.table.cosmos.azure.com/Tables(\u0027uttabled8243442\u0027)"
      },
      "ResponseBody": {
        "TableName": "uttabled8243442",
        "odata.metadata": "https://yalltbtestsprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/uttabled8243442",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 18 Oct 2021 23:38:51 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022: \u0022pkd8243442\u0022, \u0022PartitionKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022RowKey\u0022: \u0022rkd8243442\u0022, \u0022RowKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022Timestamp\u0022: \u00221999-09-09T16:09:00.000000Z\u0022, \u0022Timestamp@odata.type\u0022: \u0022Edm.DateTime\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-10-18T23%3A38%3A45.7075720Z\u0027\u0022",
        "Location": "https://yalltbtestsprim.table.cosmos.azure.com/uttabled8243442(PartitionKey=\u0027pkd8243442\u0027,RowKey=\u0027rkd8243442\u0027)"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltbtestsprim.table.cosmos.azure.com/uttabled8243442/$metadata#uttabled8243442/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-10-18T23%3A38%3A45.7075720Z\u0027\u0022",
        "PartitionKey": "pkd8243442",
        "RowKey": "rkd8243442",
        "Timestamp": "2021-10-18T23:38:45.7075720Z"
      }
    },
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/uttabled8243442(PartitionKey=\u0027pkd8243442\u0027,RowKey=\u0027rkd8243442\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 18 Oct 2021 23:38:51 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-10-18T23%3A38%3A45.7075720Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltbtestsprim.table.cosmos.azure.com/uttabled8243442/$metadata#uttabled8243442/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-10-18T23%3A38%3A45.7075720Z\u0027\u0022",
        "PartitionKey": "pkd8243442",
        "RowKey": "rkd8243442",
        "Timestamp": "2021-10-18T23:38:45.7075720Z"
      }
    },
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/uttabled8243442(PartitionKey=\u0027pkd8243442\u0027,RowKey=\u0027rkd8243442\u0027)",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Mon, 18 Oct 2021 23:38:51 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022: \u0022pkd8243442\u0022, \u0022PartitionKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022RowKey\u0022: \u0022rkd8243442\u0022, \u0022RowKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022timestamp\u0022: \u00221999-09-09T16:09:00.000000Z\u0022, \u0022timestamp@odata.type\u0022: \u0022Edm.DateTime\u0022}",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272021-10-18T23%3A38%3A45.7467912Z\u0027\u0022"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/uttabled8243442(PartitionKey=\u0027pkd8243442\u0027,RowKey=\u0027rkd8243442\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 18 Oct 2021 23:38:51 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-10-18T23%3A38%3A45.7467912Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltbtestsprim.table.cosmos.azure.com/uttabled8243442/$metadata#uttabled8243442/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-10-18T23%3A38%3A45.7467912Z\u0027\u0022",
        "PartitionKey": "pkd8243442",
        "RowKey": "rkd8243442",
        "timestamp@odata.type": "Edm.DateTime",
        "timestamp": "1999-09-09T16:09:00.0000000Z",
        "Timestamp": "2021-10-18T23:38:45.7467912Z"
      }
    },
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 18 Oct 2021 23:38:51 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "TableName": "uttabled8243442"
          }
        ],
        "odata.metadata": "https://yalltbtestsprim.table.cosmos.azure.com/$metadata#Tables"
      }
    },
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/Tables(\u0027uttabled8243442\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 18 Oct 2021 23:38:51 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
