interactions:
- request:
    body: '{"TableName": "uttable26b6152f"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 18 Sep 2020 20:32:59 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostablescosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttable26b6152f","odata.metadata":"https://cosmostablescosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-09-18T20%3A33%3A00.4567559Z'"
      location:
      - https://cosmostablescosmosname.table.cosmos.azure.com/Tables('uttable26b6152f')
    status:
      code: 201
      message: Ok
- request:
    body: '{"PartitionKey": "pk26b6152f", "RowKey": "rk26b6152f", "\u554a\u9f44\u4e02\u72db\u72dc":
      "\ua015"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 18 Sep 2020 20:33:00 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostablescosmosname.table.cosmos.azure.com/uttable26b6152f
  response:
    body:
      string: "{\"odata.metadata\":\"https://cosmostablescosmosname.table.cosmos.azure.com/uttable26b6152f/$metadata#uttable26b6152f/@Element\",\"odata.etag\":\"W/\\\"datetime'2020-09-18T20%3A33%3A00.9511431Z'\\\"\",\"PartitionKey\":\"pk26b6152f\",\"RowKey\":\"rk26b6152f\",\"\u554A\u9F44\u4E02\u72DB\u72DC\":\"\uA015\",\"Timestamp\":\"2020-09-18T20:33:00.9511431Z\"}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-09-18T20%3A33%3A00.9511431Z'"
      location:
      - https://cosmostablescosmosname.table.cosmos.azure.com/uttable26b6152f(PartitionKey='pk26b6152f',RowKey='rk26b6152f')
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 18 Sep 2020 20:33:00 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://cosmostablescosmosname.table.cosmos.azure.com/uttable26b6152f()
  response:
    body:
      string: "{\"value\":[{\"odata.etag\":\"W/\\\"datetime'2020-09-18T20%3A33%3A00.9511431Z'\\\"\",\"PartitionKey\":\"pk26b6152f\",\"RowKey\":\"rk26b6152f\",\"\u554A\u9F44\u4E02\u72DB\u72DC\":\"\uA015\",\"Timestamp\":\"2020-09-18T20:33:00.9511431Z\"},{\"odata.etag\":\"W/\\\"datetime'2020-09-18T20%3A33%3A01.0013191Z'\\\"\",\"PartitionKey\":\"pk26b6152f\",\"RowKey\":\"test2\",\"\u554A\u9F44\u4E02\u72DB\u72DC\":\"hello\",\"Timestamp\":\"2020-09-18T20:33:01.0013191Z\"}],\"odata.metadata\":\"https://cosmostablescosmosname.table.cosmos.azure.com/$metadata#uttable26b6152f\"}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 18 Sep 2020 20:33:00 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://cosmostablescosmosname.table.cosmos.azure.com/Tables('uttable26b6152f')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 18 Sep 2020 20:33:01 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://cosmostablescosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"value":[{"TableName":"querytable2da719db"},{"TableName":"querytable981b173a"},{"TableName":"querytablefe63147d"},{"TableName":"querytablec80b1810"},{"TableName":"querytable5436162b"},{"TableName":"querytable9c05125e"}],"odata.metadata":"https://cosmostablescosmosname.table.cosmos.azure.com/$metadata#Tables"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
    status:
      code: 200
      message: Ok
version: 1
