interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 15 Sep 2020 23:26:14 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://pyacrstoragestorname-secondary.table.core.windows.net/?restype=service&comp=stats
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceStats><GeoReplication><Status>live</Status><LastSyncTime>Tue,
        15 Sep 2020 23:24:19 GMT</LastSyncTime></GeoReplication></StorageServiceStats>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-07-07'
    status:
      code: 200
      message: OK
    url: https://pyacrstoragev6kunicln5v4-secondary.table.core.windows.net/?restype=service&comp=stats
version: 1
