interactions:
- request:
    body: '{"TableName": "uttable5c61109b"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 16 Sep 2020 16:09:03 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable5c61109b"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://storagename.table.core.windows.net/Tables('uttable5c61109b')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '{"PartitionKey": "001", "PartitionKey@odata.type": "Edm.String", "RowKey":
      "batch_insert", "RowKey@odata.type": "Edm.String", "test": true, "test2": "value",
      "test2@odata.type": "Edm.String", "test3": 3, "test4": 1234567890, "test5":
      "2020-09-16T16:09:03Z", "test5@odata.type": "Edm.DateTime"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 16 Sep 2020 16:09:03 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/uttable5c61109b
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable5c61109b/@Element","odata.etag":"W/\"datetime''2020-09-16T16%3A09%3A00.8338603Z''\"","PartitionKey":"001","RowKey":"batch_insert","Timestamp":"2020-09-16T16:09:00.8338603Z","test":true,"test2":"value","test3":3,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-09-16T16:09:03Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-09-16T16%3A09%3A00.8338603Z'"
      location:
      - https://storagename.table.core.windows.net/uttable5c61109b(PartitionKey='001',RowKey='batch_insert')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: "--batch_264059bc-03ed-41f6-8cf4-ba94ba46f76d\r\nContent-Type: multipart/mixed;
      boundary=changeset_d8bc262c-b230-4a46-b70c-c1f9c5761af2\r\n\r\n--changeset_d8bc262c-b230-4a46-b70c-c1f9c5761af2\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID: 0\r\n\r\nPATCH
      https://pyacrstoragefgittz6gih4e.table.core.windows.net/uttable5c61109b(PartitionKey='001',RowKey='batch_insert')
      HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nIf-Match:
      *\r\nContent-Type: application/json\r\nAccept: application/json\r\nContent-Length:
      293\r\nx-ms-date: Wed, 16 Sep 2020 16:09:03 GMT\r\nDate: Wed, 16 Sep 2020 16:09:03
      GMT\r\nx-ms-client-request-id: f09c4e14-f836-11ea-abca-58961df361d1\r\n\r\n{\"PartitionKey\":
      \"001\", \"PartitionKey@odata.type\": \"Edm.String\", \"RowKey\": \"batch_insert\",
      \"RowKey@odata.type\": \"Edm.String\", \"test\": true, \"test2\": \"value\",
      \"test2@odata.type\": \"Edm.String\", \"test3\": 5, \"test4\": 1234567890, \"test5\":
      \"2020-09-16T16:09:03Z\", \"test5@odata.type\": \"Edm.DateTime\"}\r\n--changeset_d8bc262c-b230-4a46-b70c-c1f9c5761af2--\r\n\r\n--batch_264059bc-03ed-41f6-8cf4-ba94ba46f76d--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batch_264059bc-03ed-41f6-8cf4-ba94ba46f76d
      DataServiceVersion:
      - '3.0'
      MaxDataServiceVersion:
      - 3.0;NetFx
      x-ms-date:
      - Wed, 16 Sep 2020 16:09:03 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body:
      string: "--batchresponse_8760d5cc-c347-43dd-a16d-9733632951d1\r\nContent-Type:
        multipart/mixed; boundary=changesetresponse_f805f5ee-fa1b-4c70-a6fc-d1318bd9133d\r\n\r\n--changesetresponse_f805f5ee-fa1b-4c70-a6fc-d1318bd9133d\r\nContent-Type:
        application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204
        No Content\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nDataServiceVersion:
        1.0;\r\nETag: W/\"datetime'2020-09-16T16%3A09%3A00.913994Z'\"\r\n\r\n\r\n--changesetresponse_f805f5ee-fa1b-4c70-a6fc-d1318bd9133d--\r\n--batchresponse_8760d5cc-c347-43dd-a16d-9733632951d1--\r\n"
    headers:
      content-type:
      - multipart/mixed; boundary=batchresponse_8760d5cc-c347-43dd-a16d-9733632951d1
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 16 Sep 2020 16:09:03 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.table.core.windows.net/uttable5c61109b(PartitionKey='001',RowKey='batch_insert')
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable5c61109b/@Element","odata.etag":"W/\"datetime''2020-09-16T16%3A09%3A00.913994Z''\"","PartitionKey":"001","RowKey":"batch_insert","Timestamp":"2020-09-16T16:09:00.913994Z","test":true,"test2":"value","test3":5,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-09-16T16:09:03Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-09-16T16%3A09%3A00.913994Z'"
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Sep 2020 16:09:03 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttable5c61109b')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
version: 1
