interactions:
- request:
    body: '{"TableName": "uttableccf5131a"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 02 Nov 2020 22:37:06 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttableccf5131a","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-11-02T22%3A37%3A07.1062023Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttableccf5131a')
    status:
      code: 201
      message: Ok
    url: https://tablestestnxfu7tcypytl46.table.cosmos.azure.com/Tables
- request:
    body: '{"PartitionKey": "001", "PartitionKey@odata.type": "Edm.String", "RowKey":
      "batch_delete", "RowKey@odata.type": "Edm.String", "test": true, "test2": "value",
      "test2@odata.type": "Edm.String", "test3": 3, "test4": 1234567890, "test5":
      "2020-11-02T22:37:07Z", "test5@odata.type": "Edm.DateTime"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 02 Nov 2020 22:37:07 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttableccf5131a
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttableccf5131a/$metadata#uttableccf5131a/@Element","odata.etag":"W/\"datetime''2020-11-02T22%3A37%3A07.6643847Z''\"","PartitionKey":"001","RowKey":"batch_delete","test":true,"test2":"value","test3":3,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-11-02T22:37:07.0000000Z","Timestamp":"2020-11-02T22:37:07.6643847Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-11-02T22%3A37%3A07.6643847Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/uttableccf5131a(PartitionKey='001',RowKey='batch_delete')
    status:
      code: 201
      message: Created
    url: https://tablestestnxfu7tcypytl46.table.cosmos.azure.com/uttableccf5131a
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 02 Nov 2020 22:37:07 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttableccf5131a(PartitionKey='001',RowKey='batch_delete')
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttableccf5131a/$metadata#uttableccf5131a/@Element","odata.etag":"W/\"datetime''2020-11-02T22%3A37%3A07.6643847Z''\"","PartitionKey":"001","RowKey":"batch_delete","test":true,"test2":"value","test3":3,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-11-02T22:37:07.0000000Z","Timestamp":"2020-11-02T22:37:07.6643847Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-11-02T22%3A37%3A07.6643847Z'"
    status:
      code: 200
      message: Ok
    url: https://tablestestnxfu7tcypytl46.table.cosmos.azure.com/uttableccf5131a(PartitionKey='001',RowKey='batch_delete')
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 02 Nov 2020 22:37:08 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttableccf5131a')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://tablestestnxfu7tcypytl46.table.cosmos.azure.com/Tables('uttableccf5131a')
version: 1
