interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Sep 2020 19:04:29 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://pyacrstoragestorname-secondary.table.core.windows.net/?restype=service&comp=stats
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceStats><GeoReplication><Status>live</Status><LastSyncTime>Thu,
        17 Sep 2020 19:02:10 GMT</LastSyncTime></GeoReplication></StorageServiceStats>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-07-07'
    status:
      code: 200
      message: OK
    url: https://pyacrstorage5zujw6usfsdz-secondary.table.core.windows.net/?restype=service&comp=stats
version: 1
