interactions:
- request:
    body: '{"TableName": "uttabledfb11897"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 23 Sep 2020 23:30:01 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostest.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttabledfb11897","odata.metadata":"https://cosmostest.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-23T23%3A30%3A01.9001351Z'"
      location: https://cosmostest.table.cosmos.azure.com/Tables('uttabledfb11897')
    status:
      code: 201
      message: Ok
    url: https://cosmostables4c3215c8.table.cosmos.azure.com/Tables
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 23 Sep 2020 23:30:02 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://cosmostest.table.cosmos.azure.com/uttabledfb11897(PartitionKey='pkdfb11897',RowKey='rkdfb11897')
  response:
    body:
      string: "{\"odata.error\":{\"code\":\"ResourceNotFound\",\"message\":{\"lang\":\"en-us\",\"value\":\"The
        specified resource does not exist.\\nRequestID:b429d094-fdf4-11ea-bafb-58961df361d1\\n\"}}}\r\n"
    headers:
      content-type: application/json;odata=minimalmetadata
    status:
      code: 404
      message: Not Found
    url: https://cosmostables4c3215c8.table.cosmos.azure.com/uttabledfb11897(PartitionKey='pkdfb11897',RowKey='rkdfb11897')
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Sep 2020 23:30:02 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://cosmostest.table.cosmos.azure.com/Tables('uttabledfb11897')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://cosmostables4c3215c8.table.cosmos.azure.com/Tables('uttabledfb11897')
version: 1
