{
  "Entries": [
    {
      "RequestUri": "https://yalltablestestsprim.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 16 Sep 2021 10:09:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022TableName\u0022: \u0022uttablebfa3297b\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://yalltablestestsprim.table.core.windows.net/Tables(\u0027uttablebfa3297b\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltablestestsprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttablebfa3297b"
      }
    },
    {
      "RequestUri": "https://yalltablestestsprim.table.core.windows.net/uttablebfa3297b",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 16 Sep 2021 10:09:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022: \u0022pkbfa3297b\u0022, \u0022PartitionKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022RowKey\u0022: \u0022rkbfa3297b\u0022, \u0022RowKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022binary\u0022: \u0022AQIDBAUGBwgJCg==\u0022, \u0022binary@odata.type\u0022: \u0022Edm.Binary\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272021-09-16T10%3A09%3A00.7671313Z\u0027\u0022",
        "Location": "https://yalltablestestsprim.table.core.windows.net/uttablebfa3297b(PartitionKey=\u0027pkbfa3297b\u0027,RowKey=\u0027rkbfa3297b\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltablestestsprim.table.core.windows.net/$metadata#uttablebfa3297b/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-09-16T10%3A09%3A00.7671313Z\u0027\u0022",
        "PartitionKey": "pkbfa3297b",
        "RowKey": "rkbfa3297b",
        "Timestamp": "2021-09-16T10:09:00.7671313Z",
        "binary@odata.type": "Edm.Binary",
        "binary": "AQIDBAUGBwgJCg=="
      }
    },
    {
      "RequestUri": "https://yalltablestestsprim.table.core.windows.net/uttablebfa3297b(PartitionKey=\u0027pkbfa3297b\u0027,RowKey=\u0027rkbfa3297b\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 16 Sep 2021 10:09:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272021-09-16T10%3A09%3A00.7671313Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltablestestsprim.table.core.windows.net/$metadata#uttablebfa3297b/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-09-16T10%3A09%3A00.7671313Z\u0027\u0022",
        "PartitionKey": "pkbfa3297b",
        "RowKey": "rkbfa3297b",
        "Timestamp": "2021-09-16T10:09:00.7671313Z",
        "binary@odata.type": "Edm.Binary",
        "binary": "AQIDBAUGBwgJCg=="
      }
    },
    {
      "RequestUri": "https://yalltablestestsprim.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 16 Sep 2021 10:09:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltablestestsprim.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "uttablebfa3297b"
          }
        ]
      }
    },
    {
      "RequestUri": "https://yalltablestestsprim.table.core.windows.net/Tables(\u0027uttablebfa3297b\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Sep 2021 10:09:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}