interactions:
- request:
    body: '{"TableName": "pytablesync516a1088"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 30 Oct 2020 22:37:52 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"pytablesync516a1088","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-10-30T22%3A37%3A54.3687175Z'"
      location:
      - https://tablestestcosmosname.table.cosmos.azure.com/Tables('pytablesync516a1088')
    status:
      code: 201
      message: Ok
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <StorageServiceProperties><Logging><Version>1.0</Version><Delete>false</Delete><Read>false</Read><Write>true</Write><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></Logging></StorageServiceProperties>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Fri, 30 Oct 2020 22:37:54 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://tablestestcosmosname.table.cosmos.azure.com/?restype=service&comp=properties
  response:
    body:
      string: "{\"odata.error\":{\"code\":\"NotImplemented\",\"message\":{\"lang\"\
        :\"en-us\",\"value\":\"The requested operation is not supported.\\r\\nActivityId:\
        \ 8d4af283-1b00-11eb-a084-58961df361d1, documentdb-dotnet-sdk/2.11.0 Host/64-bit\
        \ MicrosoftWindowsNT/6.2.9200.0\\nRequestID:8d4af283-1b00-11eb-a084-58961df361d1\\\
        n\"}}}\r\n"
    headers:
      content-type:
      - application/json;odata=fullmetadata
    status:
      code: 501
      message: Not Implemented
version: 1
