interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Sep 2020 17:25:22 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('pytablesync71e81e6f')
  response:
    body:
      string: "{\"odata.error\":{\"code\":\"ResourceNotFound\",\"message\":{\"lang\":\"en-us\",\"value\":\"The
        specified resource does not exist.\\nRequestID:96a6d3db-01af-11eb-afc0-58961df361d1\\n\"}}}\r\n"
    headers:
      content-type:
      - application/json;odata=fullmetadata
    status:
      code: 404
      message: Not Found
version: 1
