interactions:
- request:
    body: '{"TableName": "uttable4d651037"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:23:28 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable4d651037"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://tablesteststorname.table.core.windows.net/Tables('uttable4d651037')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://tablestestxjz4vq7ewcdgud.table.core.windows.net/Tables
- request:
    body: '{"test5@odata.type": "Edm.DateTime", "test5": "2020-11-07T01:23:28Z", "test3":
      3, "PartitionKey": "001", "test": true, "RowKey": "batch_update", "test4": 1234567890,
      "RowKey@odata.type": "Edm.String", "test2@odata.type": "Edm.String", "test2":
      "value", "PartitionKey@odata.type": "Edm.String"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:23:28 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/uttable4d651037
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttable4d651037/@Element","odata.etag":"W/\"datetime''2020-11-07T01%3A23%3A29.3300158Z''\"","PartitionKey":"001","RowKey":"batch_update","Timestamp":"2020-11-07T01:23:29.3300158Z","test5@odata.type":"Edm.DateTime","test5":"2020-11-07T01:23:28Z","test3":3,"test":true,"test4":1234567890,"test2":"value"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-11-07T01%3A23%3A29.3300158Z'"
      location: https://tablesteststorname.table.core.windows.net/uttable4d651037(PartitionKey='001',RowKey='batch_update')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://tablestestxjz4vq7ewcdgud.table.core.windows.net/uttable4d651037
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:23:28 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablesteststorname.table.core.windows.net/uttable4d651037(PartitionKey='001',RowKey='batch_update')
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttable4d651037/@Element","odata.etag":"W/\"datetime''2020-11-07T01%3A23%3A29.3300158Z''\"","PartitionKey":"001","RowKey":"batch_update","Timestamp":"2020-11-07T01:23:29.3300158Z","test5@odata.type":"Edm.DateTime","test5":"2020-11-07T01:23:28Z","test3":3,"test":true,"test4":1234567890,"test2":"value"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-11-07T01%3A23%3A29.3300158Z'"
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: https://tablestestxjz4vq7ewcdgud.table.core.windows.net/uttable4d651037(PartitionKey='001',RowKey='batch_update')
- request:
    body: "--batch_33bb35d3-5362-422c-9478-fd8029adb896\r\nContent-Type: multipart/mixed;
      boundary=changeset_102b6245-1759-4c81-a13f-64aac5f86008\r\n\r\n--changeset_102b6245-1759-4c81-a13f-64aac5f86008\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID: 0\r\n\r\nPATCH
      https://tablestestxjz4vq7ewcdgud.table.core.windows.net/uttable4d651037(PartitionKey='001',RowKey='batch_update')
      HTTP/1.1\r\nIf-Match: *\r\nContent-Type: application/json\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion:
      3.0\r\nAccept: application/json\r\nContent-Length: 294\r\nx-ms-date: Sat, 07
      Nov 2020 01:23:28 GMT\r\nDate: Sat, 07 Nov 2020 01:23:28 GMT\r\nx-ms-client-request-id:
      d718e22c-2097-11eb-8f8f-58961df361d1\r\n\r\n{\"test5@odata.type\": \"Edm.DateTime\",
      \"test5\": \"2020-11-07T01:23:28Z\", \"test3\": 3, \"PartitionKey\": \"001\",
      \"test\": true, \"RowKey\": \"batch_update\", \"test4\": 1234567890, \"RowKey@odata.type\":
      \"Edm.String\", \"test2@odata.type\": \"Edm.String\", \"test2\": \"value1\",
      \"PartitionKey@odata.type\": \"Edm.String\"}\r\n--changeset_102b6245-1759-4c81-a13f-64aac5f86008--\r\n\r\n--batch_33bb35d3-5362-422c-9478-fd8029adb896--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batch_33bb35d3-5362-422c-9478-fd8029adb896
      DataServiceVersion:
      - '3.0'
      MaxDataServiceVersion:
      - 3.0;NetFx
      x-ms-date:
      - Sat, 07 Nov 2020 01:23:28 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/$batch
  response:
    body:
      string: "--batchresponse_07ce57e6-0c90-406a-8382-80a63888ccc6\r\nContent-Type:
        multipart/mixed; boundary=changesetresponse_cdf6dc84-2682-49a6-bc3f-6bbe66f71d29\r\n\r\n--changesetresponse_cdf6dc84-2682-49a6-bc3f-6bbe66f71d29\r\nContent-Type:
        application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204
        No Content\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nDataServiceVersion:
        1.0;\r\nETag: W/\"datetime'2020-11-07T01%3A23%3A29.4293507Z'\"\r\n\r\n\r\n--changesetresponse_cdf6dc84-2682-49a6-bc3f-6bbe66f71d29--\r\n--batchresponse_07ce57e6-0c90-406a-8382-80a63888ccc6--\r\n"
    headers:
      content-type: multipart/mixed; boundary=batchresponse_07ce57e6-0c90-406a-8382-80a63888ccc6
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: https://tablestestxjz4vq7ewcdgud.table.core.windows.net/$batch
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 Nov 2020 01:23:28 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablesteststorname.table.core.windows.net/Tables('uttable4d651037')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 204
      message: No Content
    url: https://tablestestxjz4vq7ewcdgud.table.core.windows.net/Tables('uttable4d651037')
version: 1
