{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Oct 2022 02:07:14 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable7ed835b4"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-10-20T02%3A07%3A07.0380039Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttable7ed835b4\u0027)"
      },
      "ResponseBody": {
        "TableName": "uttable7ed835b4",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable7ed835b4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Oct 2022 02:07:17 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk7ed835b4",
        "RowKey": "rk7ed835b4",
        "Value": "foobar",
        "Value@odata.type": "Edm.String",
        "Answer": 42
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-10-20T02%3A07%3A07.5292167Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/uttable7ed835b4(PartitionKey=\u0027pk7ed835b4\u0027,RowKey=\u0027rk7ed835b4\u0027)"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable7ed835b4/$metadata#uttable7ed835b4/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-10-20T02%3A07%3A07.5292167Z\u0027\u0022",
        "PartitionKey": "pk7ed835b4",
        "RowKey": "rk7ed835b4",
        "Value": "foobar",
        "Answer": 42,
        "Timestamp": "2022-10-20T02:07:07.5292167Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable7ed835b4(PartitionKey=\u0027pk7ed835b4\u0027,RowKey=\u0027rk7ed835b4\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Thu, 20 Oct 2022 02:07:17 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable7ed835b4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-date": "Thu, 20 Oct 2022 02:07:17 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk7ed835b4",
        "RowKey": "rk7ed835b4",
        "Value": "foobar",
        "Value@odata.type": "Edm.String",
        "Answer": 42
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272022-10-20T02%3A07%3A07.5895303Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/uttable7ed835b4(PartitionKey=\u0027pk7ed835b4\u0027,RowKey=\u0027rk7ed835b4\u0027)",
        "Preference-Applied": "return-no-content"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Oct 2022 02:07:17 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "TableName": "uttable7ed835b4"
          }
        ],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttable7ed835b4\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Thu, 20 Oct 2022 02:07:17 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
