interactions:
- request:
    body: '{"TableName": "uttable78f51add"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 17 Sep 2020 22:38:04 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttable78f51add","odata.metadata":"https://cosmostestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-17T22%3A38%3A04.5509639Z'"
      location: https://cosmostestcosmosname.table.cosmos.azure.com/Tables('uttable78f51add')
    status:
      code: 201
      message: Ok
    url: https://cosmostableswmnfqcvpsy56.table.cosmos.azure.com/Tables
- request:
    body: '{"PartitionKey": "pk78f51add", "RowKey": "rk78f51add", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "married": true, "deceased": false, "ratio": 3.1,
      "evenratio": 3.0, "large": "933311100", "large@odata.type": "Edm.Int64", "Birthday":
      "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z",
      "birthday@odata.type": "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type":
      "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 17 Sep 2020 22:38:04 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostestcosmosname.table.cosmos.azure.com/uttable78f51add
  response:
    body:
      string: '{"odata.metadata":"https://cosmostestcosmosname.table.cosmos.azure.com/uttable78f51add/$metadata#uttable78f51add/@Element","odata.etag":"W/\"datetime''2020-09-17T22%3A38%3A05.0210823Z''\"","PartitionKey":"pk78f51add","RowKey":"rk78f51add","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Timestamp":"2020-09-17T22:38:05.0210823Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-17T22%3A38%3A05.0210823Z'"
      location: https://cosmostestcosmosname.table.cosmos.azure.com/uttable78f51add(PartitionKey='pk78f51add',RowKey='rk78f51add')
    status:
      code: 201
      message: Created
    url: https://cosmostableswmnfqcvpsy56.table.cosmos.azure.com/uttable78f51add
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      If-Match:
      - W/"datetime'2020-09-17T22%3A38%3A05.0210823Z'"
      x-ms-date:
      - Thu, 17 Sep 2020 22:38:04 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://cosmostestcosmosname.table.cosmos.azure.com/uttable78f51add(PartitionKey='pk78f51add',RowKey='rk78f51add')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://cosmostableswmnfqcvpsy56.table.cosmos.azure.com/uttable78f51add(PartitionKey='pk78f51add',RowKey='rk78f51add')
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 17 Sep 2020 22:38:04 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://cosmostestcosmosname.table.cosmos.azure.com/uttable78f51add(PartitionKey='pk78f51add',RowKey='rk78f51add')
  response:
    body:
      string: "{\"odata.error\":{\"code\":\"ResourceNotFound\",\"message\":{\"lang\":\"en-us\",\"value\":\"The
        specified resource does not exist.\\nRequestID:73743ed4-f936-11ea-bfec-58961df361d1\\n\"}}}\r\n"
    headers:
      content-type: application/json;odata=minimalmetadata
    status:
      code: 404
      message: Not Found
    url: https://cosmostableswmnfqcvpsy56.table.cosmos.azure.com/uttable78f51add(PartitionKey='pk78f51add',RowKey='rk78f51add')
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Sep 2020 22:38:04 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://cosmostestcosmosname.table.cosmos.azure.com/Tables('uttable78f51add')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://cosmostableswmnfqcvpsy56.table.cosmos.azure.com/Tables('uttable78f51add')
version: 1
