interactions:
- request:
    body: '{"TableName": "uttable2c1a19da"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 29 Sep 2020 18:49:35 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttable2c1a19da","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-29T18%3A49%3A36.0087047Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable2c1a19da')
    status:
      code: 201
      message: Ok
    url: https://tablestestcosmosname.table.cosmos.azure.com/Tables
- request:
    body: '{"PartitionKey": "pk2c1a19da", "PartitionKey@odata.type": "Edm.String",
      "RowKey": "rk2c1a19da", "RowKey@odata.type": "Edm.String", "age": "abc", "age@odata.type":
      "Edm.String", "sex": "female", "sex@odata.type": "Edm.String", "sign": "aquarius",
      "sign@odata.type": "Edm.String", "birthday": "1991-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - '3.0'
      If-Match:
      - '*'
      x-ms-date:
      - Tue, 29 Sep 2020 18:49:36 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable2c1a19da(PartitionKey='pk2c1a19da',RowKey='rk2c1a19da')
  response:
    body:
      string: "{\"odata.error\":{\"code\":\"ResourceNotFound\",\"message\":{\"lang\":\"en-us\",\"value\":\"The
        specified resource does not exist.\\nRequestID:856136f9-0284-11eb-9c94-58961df361d1\\n\"}}}\r\n"
    headers:
      content-type: application/json;odata=fullmetadata
    status:
      code: 404
      message: Not Found
    url: https://tablestestcosmosname.table.cosmos.azure.com/uttable2c1a19da(PartitionKey='pk2c1a19da',RowKey='rk2c1a19da')
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 29 Sep 2020 18:49:36 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable2c1a19da')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable2c1a19da')
version: 1
