interactions:
- request:
    body: '{"TableName": "uttable659c10f9"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 17 Sep 2020 16:49:38 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://seankanecosmos.table.cosmos.azure.com/Tables
  response:
    body:
      string: "{\"odata.error\":{\"code\":\"TableAlreadyExists\",\"message\":{\"lang\":\"en-us\",\"value\":\"The
        specified table already exists.\\nRequestID:c685bad7-f905-11ea-98dd-58961df361d1\\n\"}}}\r\n"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
    status:
      code: 409
      message: Conflict
- request:
    body: '{"PartitionKey": "pk659c10f9", "RowKey": "rk659c10f9", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "married": true, "deceased": false, "ratio": 3.1,
      "evenratio": 3.0, "large": "933311100", "large@odata.type": "Edm.Int64", "Birthday":
      "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z",
      "birthday@odata.type": "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type":
      "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 17 Sep 2020 16:49:39 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://seankanecosmos.table.cosmos.azure.com/uttable659c10f9
  response:
    body:
      string: "{\"odata.error\":{\"code\":\"EntityAlreadyExists\",\"message\":{\"lang\":\"en-us\",\"value\":\"The
        specified entity already exists.\\nRequestID:c6d89ef5-f905-11ea-be79-58961df361d1\\n\"}}}\r\n"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
    status:
      code: 409
      message: Conflict
version: 1
