{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Oct 2022 02:05:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable3f05335d"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-10-20T02%3A05%3A23.6398087Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttable3f05335d\u0027)"
      },
      "ResponseBody": {
        "TableName": "uttable3f05335d",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable3f05335d",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Oct 2022 02:05:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk3f05335d",
        "RowKey": "rk3f05335d",
        "binary": "AQIDBAUGBwgJCg==",
        "binary@odata.type": "Edm.Binary"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-10-20T02%3A05%3A24.0956935Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/uttable3f05335d(PartitionKey=\u0027pk3f05335d\u0027,RowKey=\u0027rk3f05335d\u0027)"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable3f05335d/$metadata#uttable3f05335d/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-10-20T02%3A05%3A24.0956935Z\u0027\u0022",
        "PartitionKey": "pk3f05335d",
        "RowKey": "rk3f05335d",
        "binary@odata.type": "Edm.Binary",
        "binary": "AQIDBAUGBwgJCg==",
        "Timestamp": "2022-10-20T02:05:24.0956935Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable3f05335d(PartitionKey=\u0027pk3f05335d\u0027,RowKey=\u0027rk3f05335d\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Oct 2022 02:05:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-10-20T02%3A05%3A24.0956935Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable3f05335d/$metadata#uttable3f05335d/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-10-20T02%3A05%3A24.0956935Z\u0027\u0022",
        "PartitionKey": "pk3f05335d",
        "RowKey": "rk3f05335d",
        "binary@odata.type": "Edm.Binary",
        "binary": "AQIDBAUGBwgJCg==",
        "Timestamp": "2022-10-20T02:05:24.0956935Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Oct 2022 02:05:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "TableName": "uttable3f05335d"
          }
        ],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttable3f05335d\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Thu, 20 Oct 2022 02:05:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
