{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 22 Sep 2021 00:25:32 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022TableName\u0022: \u0022uttable20f2725\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://yalltbtestsprim.table.core.windows.net/Tables(\u0027uttable20f2725\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltbtestsprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable20f2725"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable20f2725",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 22 Sep 2021 00:25:32 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022: \u0022001\u0022, \u0022PartitionKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022RowKey\u0022: \u0022batch_insert\u0022, \u0022RowKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022test\u0022: true, \u0022test2\u0022: \u0022value\u0022, \u0022test2@odata.type\u0022: \u0022Edm.String\u0022, \u0022test3\u0022: 3, \u0022test4\u0022: 1234567890, \u0022test5\u0022: \u00222021-09-22T07:25:32.467099Z\u0022, \u0022test5@odata.type\u0022: \u0022Edm.DateTime\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272021-09-22T00%3A25%3A30.3159503Z\u0027\u0022",
        "Location": "https://yalltbtestsprim.table.core.windows.net/uttable20f2725(PartitionKey=\u0027001\u0027,RowKey=\u0027batch_insert\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltbtestsprim.table.core.windows.net/$metadata#uttable20f2725/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-09-22T00%3A25%3A30.3159503Z\u0027\u0022",
        "PartitionKey": "001",
        "RowKey": "batch_insert",
        "Timestamp": "2021-09-22T00:25:30.3159503Z",
        "test": true,
        "test2": "value",
        "test3": 3,
        "test4": 1234567890,
        "test5@odata.type": "Edm.DateTime",
        "test5": "2021-09-22T07:25:32.467099Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_f8ec5a9d-88d4-42bf-9f06-760a11b10f72",
        "DataServiceVersion": "3.0",
        "MaxDataServiceVersion": "3.0;NetFx",
        "x-ms-date": "Wed, 22 Sep 2021 00:25:32 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "LS1iYXRjaF9mOGVjNWE5ZC04OGQ0LTQyYmYtOWYwNi03NjBhMTFiMTBmNzINCkNvbnRlbnQtVHlwZTogbXVsdGlwYXJ0L21peGVkOyBib3VuZGFyeT1jaGFuZ2VzZXRfODJlMTI5ZjYtMmE1Mi00NzMyLWE3ZDAtN2FmOThkNmJkNGY4DQoNCi0tY2hhbmdlc2V0XzgyZTEyOWY2LTJhNTItNDczMi1hN2QwLTdhZjk4ZDZiZDRmOA0KQ29udGVudC1UeXBlOiBhcHBsaWNhdGlvbi9odHRwDQpDb250ZW50LVRyYW5zZmVyLUVuY29kaW5nOiBiaW5hcnkNCkNvbnRlbnQtSUQ6IDANCg0KUEFU[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable20f2725(PartitionKey=\u0027001\u0027,RowKey=\u0027batch_insert\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 22 Sep 2021 00:25:32 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272021-09-22T00%3A25%3A30.3392489Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltbtestsprim.table.core.windows.net/$metadata#uttable20f2725/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-09-22T00%3A25%3A30.3392489Z\u0027\u0022",
        "PartitionKey": "001",
        "RowKey": "batch_insert",
        "Timestamp": "2021-09-22T00:25:30.3392489Z",
        "test": true,
        "test2": "value",
        "test3": 5,
        "test4": 1234567890,
        "test5@odata.type": "Edm.DateTime",
        "test5": "2021-09-22T07:25:32.490669Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 22 Sep 2021 00:25:32 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltbtestsprim.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "uttable20f2725"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttable20f2725\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 22 Sep 2021 00:25:32 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
