{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 09 Dec 2021 01:09:37 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022TableName\u0022: \u0022uttable7b6b2d95\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttable7b6b2d95\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable7b6b2d95"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable7b6b2d95",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 09 Dec 2021 01:09:37 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022: \u0022pk7b6b2d95\u0022, \u0022PartitionKey@odata.type\u0022: \u0022Ed[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable7b6b2d95(PartitionKey=\u0027pk7b6b2d95\u0027,RowKey=\u0027rk7b6b2d95\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 09 Dec 2021 01:09:37 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272021-12-09T01%3A09%3A36.8477792Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable7b6b2d95/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-12-09T01%3A09%3A36.8477792Z\u0027\u0022",
        "PartitionKey": "pk7b6b2d95",
        "RowKey": "rk7b6b2d95",
        "Timestamp": "2021-12-09T01:09:36.8477792Z",
        "EmptyByte@odata.type": "Edm.Binary",
        "EmptyByte": "",
        "EmptyUnicode": "",
        "SpacesOnlyByte@odata.type": "Edm.Binary",
        "SpacesOnlyByte": "ICAg",
        "SpacesOnlyUnicode": "   ",
        "SpacesBeforeByte@odata.type": "Edm.Binary",
        "SpacesBeforeByte": "ICAgVGV4dA==",
        "SpacesBeforeUnicode": "   Text",
        "SpacesAfterByte@odata.type": "Edm.Binary",
        "SpacesAfterByte": "VGV4dCAgIA==",
        "SpacesAfterUnicode": "Text   ",
        "SpacesBeforeAndAfterByte@odata.type": "Edm.Binary",
        "SpacesBeforeAndAfterByte": "ICAgVGV4dCAgIA==",
        "SpacesBeforeAndAfterUnicode": "   Text   "
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 09 Dec 2021 01:09:37 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "uttable7b6b2d95"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttable7b6b2d95\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 09 Dec 2021 01:09:37 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
