interactions:
- request:
    body: !!python/unicode '{"TableName": "uttable26b6152f"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 02 Oct 2020 20:07:56 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: !!python/unicode '{"TableName":"uttable26b6152f","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-10-02T20%3A07%3A57.0634759Z'"
      location:
      - https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable26b6152f')
    status:
      code: 201
      message: Ok
- request:
    body: !!python/unicode '{"\u554a\u9f44\u4e02\u72db\u72dc": "\ua015", "RowKey@odata.type":
      "Edm.String", "PartitionKey@odata.type": "Edm.String", "PartitionKey": "pk26b6152f",
      "\u554a\u9f44\u4e02\u72db\u72dc@odata.type": "Edm.String", "RowKey": "rk26b6152f"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 02 Oct 2020 20:07:57 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable26b6152f
  response:
    body:
      string: "{\"odata.metadata\":\"https://tablestestcosmosname.table.cosmos.azure.com/uttable26b6152f/$metadata#uttable26b6152f/@Element\",\"odata.etag\":\"W/\\\"datetime'2020-10-02T20%3A07%3A57.5030791Z'\\\"\",\"\u554A\u9F44\u4E02\u72DB\u72DC\":\"\uA015\",\"PartitionKey\":\"pk26b6152f\",\"RowKey\":\"rk26b6152f\",\"Timestamp\":\"2020-10-02T20:07:57.5030791Z\"}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-10-02T20%3A07%3A57.5030791Z'"
      location:
      - https://tablestestcosmosname.table.cosmos.azure.com/uttable26b6152f(PartitionKey='pk26b6152f',RowKey='rk26b6152f')
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 02 Oct 2020 20:07:57 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable26b6152f()
  response:
    body:
      string: "{\"value\":[{\"odata.etag\":\"W/\\\"datetime'2020-10-02T20%3A07%3A57.5030791Z'\\\"\",\"\u554A\u9F44\u4E02\u72DB\u72DC\":\"\uA015\",\"PartitionKey\":\"pk26b6152f\",\"RowKey\":\"rk26b6152f\",\"Timestamp\":\"2020-10-02T20:07:57.5030791Z\"},{\"odata.etag\":\"W/\\\"datetime'2020-10-02T20%3A07%3A57.5734279Z'\\\"\",\"\u554A\u9F44\u4E02\u72DB\u72DC\":\"hello\",\"PartitionKey\":\"pk26b6152f\",\"RowKey\":\"test2\",\"Timestamp\":\"2020-10-02T20:07:57.5734279Z\"}],\"odata.metadata\":\"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#uttable26b6152f\"}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 02 Oct 2020 20:07:57 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable26b6152f')
  response:
    body:
      string: !!python/unicode 
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 02 Oct 2020 20:07:57 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: !!python/unicode '{"value":[{"TableName":"querytablefe63147d"},{"TableName":"querytablec80b1810"},{"TableName":"querytable5436162b"},{"TableName":"querytable2da719db"},{"TableName":"querytable9c05125e"},{"TableName":"querytable981b173a"}],"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
    status:
      code: 200
      message: Ok
version: 1
