interactions:
- request:
    body: '{"TableName": "uttable51fa15f9"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:10:05 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable51fa15f9"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://tablesteststorname.table.core.windows.net/Tables('uttable51fa15f9')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '{"other": 20, "birthday": "1970-10-04T00:00:00Z", "binary@odata.type":
      "Edm.Binary", "deceased": false, "PartitionKey@odata.type": "Edm.String", "birthday@odata.type":
      "Edm.DateTime", "married": true, "Birthday": "1973-10-04T00:00:00Z", "evenratio":
      3.0, "RowKey": "rk51fa15f9", "Birthday@odata.type": "Edm.DateTime", "RowKey@odata.type":
      "Edm.String", "age": 39, "ratio": 3.1, "binary": "YmluYXJ5", "sex@odata.type":
      "Edm.String", "PartitionKey": "pk51fa15f9", "sex": "male", "clsid@odata.type":
      "Edm.Guid", "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "large": 933311100}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:10:06 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/uttable51fa15f9
  response:
    body:
      string: '{"PartitionKey":"pk51fa15f9","RowKey":"rk51fa15f9","Timestamp":"2020-11-07T01:10:06.9952432Z","other":20,"birthday":"1970-10-04T00:00:00Z","deceased":false,"married":true,"Birthday":"1973-10-04T00:00:00Z","evenratio":3.0,"age":39,"ratio":3.1,"binary":"YmluYXJ5","sex":"male","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","large":933311100}'
    headers:
      content-type:
      - application/json;odata=nometadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-11-07T01%3A10%3A06.9952432Z'"
      location:
      - https://tablesteststorname.table.core.windows.net/uttable51fa15f9(PartitionKey='pk51fa15f9',RowKey='rk51fa15f9')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:10:06 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablesteststorname.table.core.windows.net/uttable51fa15f9(PartitionKey='pk51fa15f9',RowKey='rk51fa15f9')
  response:
    body:
      string: '{"PartitionKey":"pk51fa15f9","RowKey":"rk51fa15f9","Timestamp":"2020-11-07T01:10:06.9952432Z","other":20,"birthday":"1970-10-04T00:00:00Z","deceased":false,"married":true,"Birthday":"1973-10-04T00:00:00Z","evenratio":3.0,"age":39,"ratio":3.1,"binary":"YmluYXJ5","sex":"male","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","large":933311100}'
    headers:
      content-type:
      - application/json;odata=nometadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-11-07T01%3A10%3A06.9952432Z'"
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 Nov 2020 01:10:06 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablesteststorname.table.core.windows.net/Tables('uttable51fa15f9')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
version: 1
