interactions:
- request:
    body: '{"TableName": "uttable7e8316e7"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 30 Jul 2020 13:33:44 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable7e8316e7"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://storagename.table.core.windows.net/Tables('uttable7e8316e7')
      x-ms-version: '2019-07-07'
    status:
      code: 201
      message: Created
    url: https://pyacrstorageubqarxe6dhep.table.core.windows.net/Tables
- request:
    body: '{"PartitionKey": "pk7e8316e7", "RowKey": "rk7e8316e7", "age": "abc", "sex":
      "female", "sign": "aquarius", "birthday": "1991-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - '3.0'
      If-Match:
      - '*'
      x-ms-date:
      - Thu, 30 Jul 2020 13:33:44 GMT
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://storagename.table.core.windows.net/uttable7e8316e7(PartitionKey='pk7e8316e7',RowKey='rk7e8316e7')
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?><error xmlns="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata"><code>ResourceNotFound</code><message
        xml:lang="en-US">The specified resource does not exist.

        RequestId:7fdb0557-b002-0012-6176-663e16000000

        Time:2020-07-30T13:33:43.4765134Z</message></error>'
    headers:
      content-type: application/xml;charset=utf-8
      x-ms-version: '2019-07-07'
    status:
      code: 404
      message: Not Found
    url: https://pyacrstorageubqarxe6dhep.table.core.windows.net/uttable7e8316e7(PartitionKey='pk7e8316e7',RowKey='rk7e8316e7')
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 30 Jul 2020 13:33:44 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttable7e8316e7')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-07-07'
    status:
      code: 204
      message: No Content
    url: https://pyacrstorageubqarxe6dhep.table.core.windows.net/Tables('uttable7e8316e7')
version: 1
