interactions:
- request:
    body: '{"TableName": "uttablec79e183f"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 11 Aug 2020 16:09:01 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttablec79e183f"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://storagename.table.core.windows.net/Tables('uttablec79e183f')
      x-ms-version: '2019-07-07'
    status:
      code: 201
      message: Created
    url: https://pyacrstoragexamfyueqdui5.table.core.windows.net/Tables
- request:
    body: '{"PartitionKey": "pk", "RowKey": ""}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 11 Aug 2020 16:09:02 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/uttablec79e183f
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttablec79e183f/@Element","odata.etag":"W/\"datetime''2020-08-11T16%3A09%3A04.3534003Z''\"","PartitionKey":"pk","RowKey":"","Timestamp":"2020-08-11T16:09:04.3534003Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-08-11T16%3A09%3A04.3534003Z'"
      location: https://storagename.table.core.windows.net/uttablec79e183f(PartitionKey='pk',RowKey='')
      x-ms-version: '2019-07-07'
    status:
      code: 201
      message: Created
    url: https://pyacrstoragexamfyueqdui5.table.core.windows.net/uttablec79e183f
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 11 Aug 2020 16:09:02 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttablec79e183f')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-07-07'
    status:
      code: 204
      message: No Content
    url: https://pyacrstoragexamfyueqdui5.table.core.windows.net/Tables('uttablec79e183f')
version: 1
