interactions:
- request:
    body: '{"TableName": "uttable97221748"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 28 Sep 2020 17:43:55 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttable97221748","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-28T17%3A43%3A56.2934279Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable97221748')
    status:
      code: 201
      message: Ok
    url: https://tablestestr2gpz4h5wetuu2.table.cosmos.azure.com/Tables
- request:
    body: '{"PartitionKey": "pk97221748", "RowKey": "rk97221748", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "married": true, "deceased": false, "ratio": 3.1,
      "evenratio": 3.0, "large": "933311100", "large@odata.type": "Edm.Int64", "Birthday":
      "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z",
      "birthday@odata.type": "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type":
      "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 28 Sep 2020 17:43:56 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable97221748
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttable97221748/$metadata#uttable97221748/@Element","odata.etag":"W/\"datetime''2020-09-28T17%3A43%3A56.8211975Z''\"","PartitionKey":"pk97221748","RowKey":"rk97221748","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Timestamp":"2020-09-28T17:43:56.8211975Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-28T17%3A43%3A56.8211975Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/uttable97221748(PartitionKey='pk97221748',RowKey='rk97221748')
    status:
      code: 201
      message: Created
    url: https://tablestestr2gpz4h5wetuu2.table.cosmos.azure.com/uttable97221748
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 28 Sep 2020 17:43:56 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable97221748(PartitionKey='pk97221748',RowKey='rk97221748')
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttable97221748/$metadata#uttable97221748/@Element","odata.etag":"W/\"datetime''2020-09-28T17%3A43%3A56.8211975Z''\"","PartitionKey":"pk97221748","RowKey":"rk97221748","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Timestamp":"2020-09-28T17:43:56.8211975Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-28T17%3A43%3A56.8211975Z'"
    status:
      code: 200
      message: Ok
    url: https://tablestestr2gpz4h5wetuu2.table.cosmos.azure.com/uttable97221748(PartitionKey='pk97221748',RowKey='rk97221748')
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Sep 2020 17:43:56 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable97221748')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://tablestestr2gpz4h5wetuu2.table.cosmos.azure.com/Tables('uttable97221748')
version: 1
