{
  "Entries": [
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/?restype=service\u0026comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 16 Sep 2021 23:49:19 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": [
        "\u003C?xml version=\u00271.0\u0027 encoding=\u0027utf-8\u0027?\u003E\n",
        "\u003CStorageServiceProperties\u003E\u003CMinuteMetrics\u003E\u003CVersion\u003E1.0\u003C/Version\u003E\u003CEnabled\u003Etrue\u003C/Enabled\u003E\u003CIncludeAPIs\u003Etrue\u003C/IncludeAPIs\u003E\u003CRetentionPolicy\u003E\u003CEnabled\u003Etrue\u003C/Enabled\u003E\u003CDays\u003E366\u003C/Days\u003E\u003C/RetentionPolicy\u003E\u003C/MinuteMetrics\u003E\u003C/StorageServiceProperties\u003E"
      ],
      "StatusCode": 501,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": [
        "{\u0022odata.error\u0022:{\u0022code\u0022:\u0022NotImplemented\u0022,\u0022message\u0022:{\u0022lang\u0022:\u0022en-us\u0022,\u0022value\u0022:\u0022The requested operation is not supported.\\r\\nActivityId: 2ad549f3-dab8-4e51-aeaf-4cba1972370f, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/6.2.9200.0\\nRequestID:2ad549f3-dab8-4e51-aeaf-4cba1972370f\\n\u0022}}}\r\n"
      ]
    }
  ],
  "Variables": {}
}