interactions:
- request:
    body: !!python/unicode '{"TableName": "uttable27241549"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 02 Oct 2020 19:58:33 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: !!python/unicode '{"TableName":"uttable27241549","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-10-02T19%3A58%3A35.3412103Z'"
      location:
      - https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable27241549')
    status:
      code: 201
      message: Ok
- request:
    body: !!python/unicode '{"binary": "AQIDBAUGBwgJCg==", "RowKey@odata.type": "Edm.String",
      "PartitionKey@odata.type": "Edm.String", "RowKey": "rk27241549", "PartitionKey":
      "pk27241549", "binary@odata.type": "Edm.Binary"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 02 Oct 2020 19:58:35 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable27241549
  response:
    body:
      string: !!python/unicode '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttable27241549/$metadata#uttable27241549/@Element","odata.etag":"W/\"datetime''2020-10-02T19%3A58%3A35.8906887Z''\"","binary@odata.type":"Edm.Binary","binary":"AQIDBAUGBwgJCg==","RowKey":"rk27241549","PartitionKey":"pk27241549","Timestamp":"2020-10-02T19:58:35.8906887Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-10-02T19%3A58%3A35.8906887Z'"
      location:
      - https://tablestestcosmosname.table.cosmos.azure.com/uttable27241549(PartitionKey='pk27241549',RowKey='rk27241549')
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 02 Oct 2020 19:58:35 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable27241549(PartitionKey='pk27241549',RowKey='rk27241549')
  response:
    body:
      string: !!python/unicode '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttable27241549/$metadata#uttable27241549/@Element","odata.etag":"W/\"datetime''2020-10-02T19%3A58%3A35.8906887Z''\"","binary@odata.type":"Edm.Binary","binary":"AQIDBAUGBwgJCg==","RowKey":"rk27241549","PartitionKey":"pk27241549","Timestamp":"2020-10-02T19:58:35.8906887Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-10-02T19%3A58%3A35.8906887Z'"
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 02 Oct 2020 19:58:35 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable27241549')
  response:
    body:
      string: !!python/unicode 
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 02 Oct 2020 19:58:36 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: !!python/unicode '{"value":[],"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
    status:
      code: 200
      message: Ok
version: 1
