interactions:
- request:
    body: '{"TableName": "uttable55891a7c"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 17 Nov 2020 01:26:41 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttable55891a7c","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-11-17T01%3A26%3A42.9451271Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable55891a7c')
    status:
      code: 201
      message: Ok
    url: https://tablestestqzxwn47gjlmshe.table.cosmos.azure.com/Tables
- request:
    body: "--batch_7307e8f4-5cac-478f-a9da-9de972d12cb6\r\nContent-Type: multipart/mixed;\
      \ boundary=changeset_5b4f1725-f282-4209-bc3d-21c4e63225fe\r\n\r\n--changeset_5b4f1725-f282-4209-bc3d-21c4e63225fe\r\
      \nContent-Type: application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID:\
      \ 0\r\n\r\nDELETE https://tablestestqzxwn47gjlmshe.table.cosmos.azure.com/uttable55891a7c(PartitionKey='001',RowKey='batch_negative_1')\
      \ HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nIf-Match:\
      \ *\r\nAccept: application/json;odata=minimalmetadata\r\nx-ms-date: Tue, 17\
      \ Nov 2020 01:26:42 GMT\r\nDate: Tue, 17 Nov 2020 01:26:42 GMT\r\nx-ms-client-request-id:\
      \ f30072c5-2873-11eb-b534-58961df361d1\r\n\r\n\r\n--changeset_5b4f1725-f282-4209-bc3d-21c4e63225fe--\r\
      \n\r\n--batch_7307e8f4-5cac-478f-a9da-9de972d12cb6--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batch_7307e8f4-5cac-478f-a9da-9de972d12cb6
      DataServiceVersion:
      - '3.0'
      MaxDataServiceVersion:
      - 3.0;NetFx
      x-ms-date:
      - Tue, 17 Nov 2020 01:26:42 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/$batch
  response:
    body:
      string: "--batchresponse_d1be778f-d24b-4ec1-a371-81a829f58429\nContent-Type:\
        \ multipart/mixed; boundary=changesetresponse_38fb7e47-dc76-4a19-984c-b2dfaa6320da\r\
        \n\r\n--changesetresponse_38fb7e47-dc76-4a19-984c-b2dfaa6320da\nContent-Type:\
        \ application/http\nContent-Transfer-Encoding: binary\n\nHTTP/1.1 404 Not\
        \ Found\r\nContent-Type: application/json;odata=fullmetadata\r\n\r\n{\"odata.error\"\
        :{\"code\":\"ResourceNotFound\",\"message\":{\"lang\":\"en-us\",\"value\"\
        :\"0:The specified resource does not exist.\\n\\nRequestID:f300c129-2873-11eb-906c-58961df361d1\\\
        n\"}}}\r\n--changesetresponse_38fb7e47-dc76-4a19-984c-b2dfaa6320da--\n--batchresponse_d1be778f-d24b-4ec1-a371-81a829f58429--\r\
        \n"
    headers:
      content-type: multipart/mixed; boundary=batchresponse_d1be778f-d24b-4ec1-a371-81a829f58429
    status:
      code: 202
      message: Accepted
    url: https://tablestestqzxwn47gjlmshe.table.cosmos.azure.com/$batch
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 17 Nov 2020 01:26:42 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable55891a7c')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://tablestestqzxwn47gjlmshe.table.cosmos.azure.com/Tables('uttable55891a7c')
version: 1
