interactions:
- request:
    body: '{"TableName": "pytablesync8b091b21"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 26 Aug 2020 18:47:10 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"pytablesync8b091b21"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://storagename.table.core.windows.net/Tables('pytablesync8b091b21')
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Wed, 26 Aug 2020 18:47:10 GMT
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://storagename.table.core.windows.net/pytablesync8b091b21?comp=acl
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?><m:error xmlns:m="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata"><m:code>MediaTypeNotSupported</m:code><m:message
        xml:lang="en-US">None of the provided media types are supported

        RequestId:89f26801-d002-0081-68d9-7b465f000000

        Time:2020-08-26T18:47:11.3326593Z</m:message></m:error>'
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - MediaTypeNotSupported
      x-ms-version:
      - '2019-07-07'
    status:
      code: 415
      message: None of the provided media types are supported
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 26 Aug 2020 18:47:11 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('pytablesync8b091b21')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-07-07'
    status:
      code: 204
      message: No Content
version: 1
