interactions:
- request:
    body: '{"TableName": "pytableasync6d6c1aab"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 24 Jul 2020 15:02:43 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"pytableasync6d6c1aab"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://storagename.table.core.windows.net/Tables('pytableasync6d6c1aab')
      x-ms-version: '2019-07-07'
    status:
      code: 201
      message: Created
    url: https://pyacrstoragepozdg2nbhamj.table.core.windows.net/Tables
- request:
    body: null
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Fri, 24 Jul 2020 15:02:44 GMT
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://storagename.table.core.windows.net/pytableasync6d6c1aab?comp=acl
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?><m:error xmlns:m="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata"><m:code>MediaTypeNotSupported</m:code><m:message
        xml:lang="en-US">None of the provided media types are supported

        RequestId:b007e020-4002-0001-53cb-61a804000000

        Time:2020-07-24T15:02:44.4795466Z</m:message></m:error>'
    headers:
      content-type: application/xml
      x-ms-error-code: MediaTypeNotSupported
      x-ms-version: '2019-07-07'
    status:
      code: 415
      message: None of the provided media types are supported
    url: https://pyacrstoragepozdg2nbhamj.table.core.windows.net/pytableasync6d6c1aab?comp=acl
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Jul 2020 15:02:44 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('pytableasync6d6c1aab')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-07-07'
    status:
      code: 204
      message: No Content
    url: https://pyacrstoragepozdg2nbhamj.table.core.windows.net/Tables('pytableasync6d6c1aab')
version: 1
