interactions:
- request:
    body: '{"TableName": "uttable8bc116c4"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 02 Nov 2020 22:40:49 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttable8bc116c4","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-11-02T22%3A40%3A49.2374023Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable8bc116c4')
    status:
      code: 201
      message: Ok
    url: https://tablestestnxfu7tcypytl46.table.cosmos.azure.com/Tables
- request:
    body: '{"PartitionKey": "pk8bc116c4", "PartitionKey@odata.type": "Edm.String",
      "RowKey": "rk8bc116c4", "RowKey@odata.type": "Edm.String", "age": 39, "sex":
      "male", "sex@odata.type": "Edm.String", "married": true, "deceased": false,
      "ratio": 3.1, "evenratio": 3.0, "large": 933311100, "Birthday": "1973-10-04T00:00:00Z",
      "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other":
      20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 02 Nov 2020 22:40:49 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable8bc116c4
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttable8bc116c4/$metadata#uttable8bc116c4/@Element","odata.etag":"W/\"datetime''2020-11-02T22%3A40%3A49.7260551Z''\"","PartitionKey":"pk8bc116c4","RowKey":"rk8bc116c4","age":39,"sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large":933311100,"Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Timestamp":"2020-11-02T22:40:49.7260551Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-11-02T22%3A40%3A49.7260551Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/uttable8bc116c4(PartitionKey='pk8bc116c4',RowKey='rk8bc116c4')
    status:
      code: 201
      message: Created
    url: https://tablestestnxfu7tcypytl46.table.cosmos.azure.com/uttable8bc116c4
- request:
    body: "--batch_5830156f-2248-4762-8dff-5051df06d804\r\nContent-Type: multipart/mixed;\
      \ boundary=changeset_16f1eaaf-8043-44e3-9c10-513fa2736e7a\r\n\r\n--changeset_16f1eaaf-8043-44e3-9c10-513fa2736e7a\r\
      \nContent-Type: application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID:\
      \ 0\r\n\r\nPUT https://tablestestnxfu7tcypytl46.table.cosmos.azure.com/uttable8bc116c4(PartitionKey='pk8bc116c4',RowKey='rk8bc116c4')\
      \ HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nIf-Match:\
      \ W/\"datetime'2020-11-02T22%3A40%3A49.7260551Z'\"\r\nContent-Type: application/json\r\
      \nAccept: application/json\r\nContent-Length: 353\r\nx-ms-date: Mon, 02 Nov\
      \ 2020 22:40:50 GMT\r\nDate: Mon, 02 Nov 2020 22:40:50 GMT\r\nx-ms-client-request-id:\
      \ 74e91883-1d5c-11eb-ad3a-58961df361d1\r\n\r\n{\"PartitionKey\": \"pk8bc116c4\"\
      , \"PartitionKey@odata.type\": \"Edm.String\", \"RowKey\": \"rk8bc116c4\", \"\
      RowKey@odata.type\": \"Edm.String\", \"age\": \"abc\", \"age@odata.type\": \"\
      Edm.String\", \"sex\": \"female\", \"sex@odata.type\": \"Edm.String\", \"sign\"\
      : \"aquarius\", \"sign@odata.type\": \"Edm.String\", \"birthday\": \"1991-10-04T00:00:00Z\"\
      , \"birthday@odata.type\": \"Edm.DateTime\"}\r\n--changeset_16f1eaaf-8043-44e3-9c10-513fa2736e7a--\r\
      \n\r\n--batch_5830156f-2248-4762-8dff-5051df06d804--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batch_5830156f-2248-4762-8dff-5051df06d804
      DataServiceVersion:
      - '3.0'
      MaxDataServiceVersion:
      - 3.0;NetFx
      x-ms-date:
      - Mon, 02 Nov 2020 22:40:50 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/$batch
  response:
    body:
      string: "--batchresponse_18f83fe0-11ef-4d80-b9df-e49a0af8a033\nContent-Type:\
        \ multipart/mixed; boundary=changesetresponse_22516ca3-7cb8-450a-8b22-d63a2fc54ef7\r\
        \n\r\n--changesetresponse_22516ca3-7cb8-450a-8b22-d63a2fc54ef7\nContent-Type:\
        \ application/http\nContent-Transfer-Encoding: binary\n\nHTTP/1.1 204 No Content\r\
        \nETag: W/\"datetime'2020-11-02T22%3A40%3A49.8012167Z'\"\r\nContent-ID: 1\r\
        \n\r\n\r\n--changesetresponse_22516ca3-7cb8-450a-8b22-d63a2fc54ef7--\n--batchresponse_18f83fe0-11ef-4d80-b9df-e49a0af8a033--\r\
        \n"
    headers:
      content-type: multipart/mixed; boundary=batchresponse_18f83fe0-11ef-4d80-b9df-e49a0af8a033
    status:
      code: 202
      message: Accepted
    url: https://tablestestnxfu7tcypytl46.table.cosmos.azure.com/$batch
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 02 Nov 2020 22:40:50 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable8bc116c4(PartitionKey='pk8bc116c4',RowKey='rk8bc116c4')
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttable8bc116c4/$metadata#uttable8bc116c4/@Element","odata.etag":"W/\"datetime''2020-11-02T22%3A40%3A49.8012167Z''\"","PartitionKey":"pk8bc116c4","RowKey":"rk8bc116c4","age":"abc","sex":"female","sign":"aquarius","birthday@odata.type":"Edm.DateTime","birthday":"1991-10-04T00:00:00.0000000Z","Timestamp":"2020-11-02T22:40:49.8012167Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-11-02T22%3A40%3A49.8012167Z'"
    status:
      code: 200
      message: Ok
    url: https://tablestestnxfu7tcypytl46.table.cosmos.azure.com/uttable8bc116c4(PartitionKey='pk8bc116c4',RowKey='rk8bc116c4')
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 02 Nov 2020 22:40:50 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable8bc116c4')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://tablestestnxfu7tcypytl46.table.cosmos.azure.com/Tables('uttable8bc116c4')
version: 1
