interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Sep 2020 21:58:16 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstoragestorname-secondary.table.core.windows.net/?restype=service&comp=stats
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceStats><GeoReplication><Status>unavailable</Status><LastSyncTime></LastSyncTime></GeoReplication></StorageServiceStats>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: https://pyacrstoragemxivwppgccaw-secondary.table.core.windows.net/?restype=service&comp=stats
version: 1
