interactions:
- request:
    body: '{"TableName": "uttable10a31948"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 28 Sep 2020 17:33:29 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttable10a31948","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-09-28T17%3A33%3A30.1669895Z'"
      location:
      - https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable10a31948')
    status:
      code: 201
      message: Ok
- request:
    body: '{"PartitionKey": "pk10a31948", "RowKey": "rk10a31948", "inf": "Infinity",
      "inf@odata.type": "Edm.Double", "negativeinf": "-Infinity", "negativeinf@odata.type":
      "Edm.Double", "nan": "NaN", "nan@odata.type": "Edm.Double"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 28 Sep 2020 17:33:30 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable10a31948
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttable10a31948/$metadata#uttable10a31948/@Element","odata.etag":"W/\"datetime''2020-09-28T17%3A33%3A30.7638791Z''\"","PartitionKey":"pk10a31948","RowKey":"rk10a31948","inf@odata.type":"Edm.Double","inf":"Infinity","negativeinf@odata.type":"Edm.Double","negativeinf":"-Infinity","nan@odata.type":"Edm.Double","nan":"NaN","Timestamp":"2020-09-28T17:33:30.7638791Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-09-28T17%3A33%3A30.7638791Z'"
      location:
      - https://tablestestcosmosname.table.cosmos.azure.com/uttable10a31948(PartitionKey='pk10a31948',RowKey='rk10a31948')
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 28 Sep 2020 17:33:30 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable10a31948(PartitionKey='pk10a31948',RowKey='rk10a31948')
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttable10a31948/$metadata#uttable10a31948/@Element","odata.etag":"W/\"datetime''2020-09-28T17%3A33%3A30.7638791Z''\"","PartitionKey":"pk10a31948","RowKey":"rk10a31948","inf@odata.type":"Edm.Double","inf":"Infinity","negativeinf@odata.type":"Edm.Double","negativeinf":"-Infinity","nan@odata.type":"Edm.Double","nan":"NaN","Timestamp":"2020-09-28T17:33:30.7638791Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-09-28T17%3A33%3A30.7638791Z'"
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Sep 2020 17:33:30 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable10a31948')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 28 Sep 2020 17:33:31 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"value":[{"TableName":"listtable0d2351374"},{"TableName":"listtable13a8d15b3"},{"TableName":"listtable3d2351374"},{"TableName":"listtable1d2351374"},{"TableName":"listtable33a8d15b3"},{"TableName":"pytableasync52bb107b"},{"TableName":"listtable2d2351374"},{"TableName":"listtable03a8d15b3"},{"TableName":"listtable23a8d15b3"}],"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
    status:
      code: 200
      message: Ok
version: 1
