interactions:
- request:
    body: '{"TableName": "uttable32f119c5"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 22 Sep 2020 20:03:43 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable32f119c5"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://storagename.table.core.windows.net/Tables('uttable32f119c5')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '{"PartitionKey": "001", "PartitionKey@odata.type": "Edm.String", "RowKey":
      "batch_negative_1", "RowKey@odata.type": "Edm.String", "age": 39, "sex": "male",
      "sex@odata.type": "Edm.String", "married": true, "deceased": false, "ratio":
      3.1, "evenratio": 3.0, "large": 933311100, "Birthday": "1973-10-04T00:00:00Z",
      "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other":
      20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 22 Sep 2020 20:03:43 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/uttable32f119c5
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable32f119c5/@Element","odata.etag":"W/\"datetime''2020-09-22T20%3A03%3A43.5370012Z''\"","PartitionKey":"001","RowKey":"batch_negative_1","Timestamp":"2020-09-22T20:03:43.5370012Z","age":39,"sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large":933311100,"Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-09-22T20%3A03%3A43.5370012Z'"
      location:
      - https://storagename.table.core.windows.net/uttable32f119c5(PartitionKey='001',RowKey='batch_negative_1')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: "--batch_99b5f78b-3021-4e14-a98d-93e080fc9e7c\r\nContent-Type: multipart/mixed;
      boundary=changeset_db1c8850-5cb3-41d0-8a38-abbb9f9e9dbe\r\n\r\n--changeset_db1c8850-5cb3-41d0-8a38-abbb9f9e9dbe\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID: 0\r\n\r\nPATCH
      https://pyacrstoragecy5edjajxvth.table.core.windows.net/uttable32f119c5(PartitionKey='001',RowKey='batch_negative_1')
      HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nIf-Match:
      *\r\nContent-Type: application/json\r\nAccept: application/json\r\nContent-Length:
      352\r\nx-ms-date: Tue, 22 Sep 2020 20:03:43 GMT\r\nDate: Tue, 22 Sep 2020 20:03:43
      GMT\r\nx-ms-client-request-id: b768162a-fd0e-11ea-8650-58961df361d1\r\n\r\n{\"PartitionKey\":
      \"001\", \"PartitionKey@odata.type\": \"Edm.String\", \"RowKey\": \"batch_negative_1\",
      \"RowKey@odata.type\": \"Edm.String\", \"age\": \"abc\", \"age@odata.type\":
      \"Edm.String\", \"sex\": \"female\", \"sex@odata.type\": \"Edm.String\", \"sign\":
      \"aquarius\", \"sign@odata.type\": \"Edm.String\", \"birthday\": \"1991-10-04T00:00:00Z\",
      \"birthday@odata.type\": \"Edm.DateTime\"}\r\n--changeset_db1c8850-5cb3-41d0-8a38-abbb9f9e9dbe\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID: 1\r\n\r\nPOST
      https://pyacrstoragecy5edjajxvth.table.core.windows.net/uttable32f119c5 HTTP/1.1\r\nx-ms-version:
      2019-02-02\r\nDataServiceVersion: 3.0\r\nPrefer: return-no-content\r\nContent-Type:
      application/json;odata=nometadata\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Length:
      904\r\nx-ms-date: Tue, 22 Sep 2020 20:03:43 GMT\r\nDate: Tue, 22 Sep 2020 20:03:43
      GMT\r\nx-ms-client-request-id: b768162b-fd0e-11ea-95d0-58961df361d1\r\n\r\n{\"PartitionKey\":
      \"002\", \"PartitionKey@odata.type\": \"Edm.String\", \"PartitionKey@odata.type@odata.type\":
      \"Edm.String\", \"RowKey\": \"batch_negative_1\", \"RowKey@odata.type\": \"Edm.String\",
      \"RowKey@odata.type@odata.type\": \"Edm.String\", \"age\": 39, \"sex\": \"male\",
      \"sex@odata.type\": \"Edm.String\", \"sex@odata.type@odata.type\": \"Edm.String\",
      \"married\": true, \"deceased\": false, \"ratio\": 3.1, \"evenratio\": 3.0,
      \"large\": 933311100, \"Birthday\": \"1973-10-04T00:00:00Z\", \"Birthday@odata.type\":
      \"Edm.DateTime\", \"Birthday@odata.type@odata.type\": \"Edm.String\", \"birthday\":
      \"1970-10-04T00:00:00Z\", \"birthday@odata.type\": \"Edm.DateTime\", \"birthday@odata.type@odata.type\":
      \"Edm.String\", \"binary\": \"YmluYXJ5\", \"binary@odata.type\": \"Edm.Binary\",
      \"binary@odata.type@odata.type\": \"Edm.String\", \"other\": 20, \"clsid\":
      \"c9da6455-213d-42c9-9a79-3e9149a57833\", \"clsid@odata.type\": \"Edm.Guid\",
      \"clsid@odata.type@odata.type\": \"Edm.String\"}\r\n--changeset_db1c8850-5cb3-41d0-8a38-abbb9f9e9dbe--\r\n\r\n--batch_99b5f78b-3021-4e14-a98d-93e080fc9e7c--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batch_99b5f78b-3021-4e14-a98d-93e080fc9e7c
      DataServiceVersion:
      - '3.0'
      MaxDataServiceVersion:
      - 3.0;NetFx
      x-ms-date:
      - Tue, 22 Sep 2020 20:03:43 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body:
      string: "--batchresponse_646cb630-f9ad-4b12-8ae7-85d65f38731d\r\nContent-Type:
        multipart/mixed; boundary=changesetresponse_add98628-7a8b-4ae1-88c7-7818da5f8400\r\n\r\n--changesetresponse_add98628-7a8b-4ae1-88c7-7818da5f8400\r\nContent-Type:
        application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 400
        Bad Request\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nPreference-Applied:
        return-no-content\r\nDataServiceVersion: 3.0;\r\nContent-Type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8\r\n\r\n{\"odata.error\":{\"code\":\"CommandsInBatchActOnDifferentPartitions\",\"message\":{\"lang\":\"en-US\",\"value\":\"1:All
        commands in a batch must operate on same entity group.\\nRequestId:8e1a6a68-b002-006c-7a1b-91b8fe000000\\nTime:2020-09-22T20:03:43.5810318Z\"}}}\r\n--changesetresponse_add98628-7a8b-4ae1-88c7-7818da5f8400--\r\n--batchresponse_646cb630-f9ad-4b12-8ae7-85d65f38731d--\r\n"
    headers:
      content-type:
      - multipart/mixed; boundary=batchresponse_646cb630-f9ad-4b12-8ae7-85d65f38731d
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Sep 2020 20:03:43 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttable32f119c5')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
version: 1
