interactions:
- request:
    body: '{"TableName": "uttablef78f18cf"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 23 Sep 2020 23:29:13 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostest.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttablef78f18cf","odata.metadata":"https://cosmostest.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-23T23%3A29%3A13.5945735Z'"
      location: https://cosmostest.table.cosmos.azure.com/Tables('uttablef78f18cf')
    status:
      code: 201
      message: Ok
    url: https://cosmostables4c3215c8.table.cosmos.azure.com/Tables
- request:
    body: '{"PartitionKey": "pkf78f18cf", "RowKey": "rkf78f18cf", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "married": true, "deceased": false, "ratio": 3.1,
      "evenratio": 3.0, "large": "933311100", "large@odata.type": "Edm.Int64", "Birthday":
      "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z",
      "birthday@odata.type": "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type":
      "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 23 Sep 2020 23:29:14 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostest.table.cosmos.azure.com/uttablef78f18cf
  response:
    body:
      string: '{"odata.metadata":"https://cosmostest.table.cosmos.azure.com/uttablef78f18cf/$metadata#uttablef78f18cf/@Element","odata.etag":"W/\"datetime''2020-09-23T23%3A29%3A14.0926471Z''\"","PartitionKey":"pkf78f18cf","RowKey":"rkf78f18cf","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Timestamp":"2020-09-23T23:29:14.0926471Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-23T23%3A29%3A14.0926471Z'"
      location: https://cosmostest.table.cosmos.azure.com/uttablef78f18cf(PartitionKey='pkf78f18cf',RowKey='rkf78f18cf')
    status:
      code: 201
      message: Created
    url: https://cosmostables4c3215c8.table.cosmos.azure.com/uttablef78f18cf
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 23 Sep 2020 23:29:14 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://cosmostest.table.cosmos.azure.com/uttablef78f18cf(PartitionKey='pkf78f18cf',RowKey='rkf78f18cf')
  response:
    body:
      string: '{"odata.type":"cosmostest.uttablef78f18cf","odata.id":"https://cosmostest.table.cosmos.azure.com/uttablef78f18cf(PartitionKey=''pkf78f18cf'',RowKey=''rkf78f18cf'')","odata.editLink":"uttablef78f18cf(PartitionKey=''pkf78f18cf'',RowKey=''rkf78f18cf'')","odata.metadata":"https://cosmostest.table.cosmos.azure.com/uttablef78f18cf/$metadata#uttablef78f18cf/@Element","odata.etag":"W/\"datetime''2020-09-23T23%3A29%3A14.0926471Z''\"","PartitionKey":"pkf78f18cf","RowKey":"rkf78f18cf","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Timestamp@odata.type":"Edm.DateTime","Timestamp":"2020-09-23T23:29:14.0926471Z"}'
    headers:
      content-type: application/json;odata=fullmetadata
      etag: W/"datetime'2020-09-23T23%3A29%3A14.0926471Z'"
    status:
      code: 200
      message: Ok
    url: https://cosmostables4c3215c8.table.cosmos.azure.com/uttablef78f18cf(PartitionKey='pkf78f18cf',RowKey='rkf78f18cf')
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Sep 2020 23:29:14 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://cosmostest.table.cosmos.azure.com/Tables('uttablef78f18cf')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://cosmostables4c3215c8.table.cosmos.azure.com/Tables('uttablef78f18cf')
version: 1
