interactions:
- request:
    body: '{"TableName": "uttable259e1535"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 04 Sep 2020 23:54:20 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable259e1535"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://storagename.table.core.windows.net/Tables('uttable259e1535')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://pyacrstorageok324lpz7akw.table.core.windows.net/Tables
- request:
    body: '{"PartitionKey": "pk259e1535", "PartitionKey@odata.type": "Edm.String",
      "RowKey": "rk259e1535", "RowKey@odata.type": "Edm.String", "Description": "\ua015",
      "Description@odata.type": "Edm.String"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 04 Sep 2020 23:54:20 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/uttable259e1535
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable259e1535/@Element","odata.etag":"W/\"datetime''2020-09-04T23%3A54%3A20.5918276Z''\"","PartitionKey":"pk259e1535","RowKey":"rk259e1535","Timestamp":"2020-09-04T23:54:20.5918276Z","Description":"\ua015"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-09-04T23%3A54%3A20.5918276Z'"
      location: https://storagename.table.core.windows.net/uttable259e1535(PartitionKey='pk259e1535',RowKey='rk259e1535')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://pyacrstorageok324lpz7akw.table.core.windows.net/uttable259e1535
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 04 Sep 2020 23:54:20 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.table.core.windows.net/uttable259e1535()
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable259e1535","value":[{"odata.etag":"W/\"datetime''2020-09-04T23%3A54%3A20.5918276Z''\"","PartitionKey":"pk259e1535","RowKey":"rk259e1535","Timestamp":"2020-09-04T23:54:20.5918276Z","Description":"\ua015"},{"odata.etag":"W/\"datetime''2020-09-04T23%3A54%3A20.6238503Z''\"","PartitionKey":"pk259e1535","RowKey":"test2","Timestamp":"2020-09-04T23:54:20.6238503Z","Description":"\ua015"}]}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: https://pyacrstorageok324lpz7akw.table.core.windows.net/uttable259e1535()
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 04 Sep 2020 23:54:20 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttable259e1535')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 204
      message: No Content
    url: https://pyacrstorageok324lpz7akw.table.core.windows.net/Tables('uttable259e1535')
version: 1
