interactions:
- request:
    body: '{"TableName": "uttable5f17161d"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 03 Nov 2020 21:24:11 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttable5f17161d","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-11-03T21%3A24%3A12.2547207Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable5f17161d')
    status:
      code: 201
      message: Ok
    url: https://tablestestvu6ysotlcesvd5.table.cosmos.azure.com/Tables
- request:
    body: "--batch_5853c3ac-62a1-4419-a4ba-39db93860f81\r\nContent-Type: multipart/mixed;\
      \ boundary=changeset_3b37fa69-3fa7-4c3e-8dd8-4ae9e4a75379\r\n\r\n--changeset_3b37fa69-3fa7-4c3e-8dd8-4ae9e4a75379\r\
      \nContent-Type: application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID:\
      \ 0\r\n\r\nPOST https://tablestestvu6ysotlcesvd5.table.cosmos.azure.com/uttable5f17161d\
      \ HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nPrefer:\
      \ return-no-content\r\nContent-Type: application/json;odata=nometadata\r\nAccept:\
      \ application/json;odata=minimalmetadata\r\nContent-Length: 293\r\nx-ms-date:\
      \ Tue, 03 Nov 2020 21:24:12 GMT\r\nDate: Tue, 03 Nov 2020 21:24:12 GMT\r\nx-ms-client-request-id:\
      \ eb29f3b3-1e1a-11eb-b94c-58961df361d1\r\n\r\n{\"PartitionKey\": \"001\", \"\
      PartitionKey@odata.type\": \"Edm.String\", \"RowKey\": \"batch_insert\", \"\
      RowKey@odata.type\": \"Edm.String\", \"test\": true, \"test2\": \"value\", \"\
      test2@odata.type\": \"Edm.String\", \"test3\": 3, \"test4\": 1234567890, \"\
      test5\": \"2020-11-03T21:24:12Z\", \"test5@odata.type\": \"Edm.DateTime\"}\r\
      \n--changeset_3b37fa69-3fa7-4c3e-8dd8-4ae9e4a75379--\r\n\r\n--batch_5853c3ac-62a1-4419-a4ba-39db93860f81--\r\
      \n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batch_5853c3ac-62a1-4419-a4ba-39db93860f81
      DataServiceVersion:
      - '3.0'
      MaxDataServiceVersion:
      - 3.0;NetFx
      x-ms-date:
      - Tue, 03 Nov 2020 21:24:12 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/$batch
  response:
    body:
      string: "--batchresponse_b872030f-e28a-4656-89c0-f7aca18def47\nContent-Type:\
        \ multipart/mixed; boundary=changesetresponse_4580304d-aeb0-4667-a61f-6bdc2ecae064\r\
        \n\r\n--changesetresponse_4580304d-aeb0-4667-a61f-6bdc2ecae064\nContent-Type:\
        \ application/http\nContent-Transfer-Encoding: binary\n\nHTTP/1.1 204 No Content\r\
        \nETag: W/\"datetime'2020-11-03T21%3A24%3A12.7870983Z'\"\r\nPreference-Applied:\
        \ return-no-content\r\nLocation: https://tablestestvu6ysotlcesvd5.table.cosmos.azure.com/uttable5f17161d(PartitionKey='001',RowKey='batch_insert')\r\
        \nContent-ID: 1\r\n\r\n\r\n--changesetresponse_4580304d-aeb0-4667-a61f-6bdc2ecae064--\n\
        --batchresponse_b872030f-e28a-4656-89c0-f7aca18def47--\r\n"
    headers:
      content-type: multipart/mixed; boundary=batchresponse_b872030f-e28a-4656-89c0-f7aca18def47
    status:
      code: 202
      message: Accepted
    url: https://tablestestvu6ysotlcesvd5.table.cosmos.azure.com/$batch
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 03 Nov 2020 21:24:12 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable5f17161d(PartitionKey='001',RowKey='batch_insert')
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttable5f17161d/$metadata#uttable5f17161d/@Element","odata.etag":"W/\"datetime''2020-11-03T21%3A24%3A12.7870983Z''\"","PartitionKey":"001","RowKey":"batch_insert","test":true,"test2":"value","test3":3,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-11-03T21:24:12.0000000Z","Timestamp":"2020-11-03T21:24:12.7870983Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-11-03T21%3A24%3A12.7870983Z'"
    status:
      code: 200
      message: Ok
    url: https://tablestestvu6ysotlcesvd5.table.cosmos.azure.com/uttable5f17161d(PartitionKey='001',RowKey='batch_insert')
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 03 Nov 2020 21:24:12 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable5f17161d')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://tablestestvu6ysotlcesvd5.table.cosmos.azure.com/Tables('uttable5f17161d')
version: 1
