interactions:
- request:
    body: '{"TableName": "uttablef0c10dba"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 22 Sep 2020 20:03:46 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttablef0c10dba"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://storagename.table.core.windows.net/Tables('uttablef0c10dba')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '{"PartitionKey": "001", "PartitionKey@odata.type": "Edm.String", "RowKey":
      "batch_update", "RowKey@odata.type": "Edm.String", "test": true, "test2": "value",
      "test2@odata.type": "Edm.String", "test3": 3, "test4": 1234567890, "test5":
      "2020-09-22T20:03:47Z", "test5@odata.type": "Edm.DateTime"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 22 Sep 2020 20:03:47 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/uttablef0c10dba
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttablef0c10dba/@Element","odata.etag":"W/\"datetime''2020-09-22T20%3A03%3A46.9667122Z''\"","PartitionKey":"001","RowKey":"batch_update","Timestamp":"2020-09-22T20:03:46.9667122Z","test":true,"test2":"value","test3":3,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-09-22T20:03:47Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-09-22T20%3A03%3A46.9667122Z'"
      location:
      - https://storagename.table.core.windows.net/uttablef0c10dba(PartitionKey='001',RowKey='batch_update')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 22 Sep 2020 20:03:47 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.table.core.windows.net/uttablef0c10dba(PartitionKey='001',RowKey='batch_update')
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttablef0c10dba/@Element","odata.etag":"W/\"datetime''2020-09-22T20%3A03%3A46.9667122Z''\"","PartitionKey":"001","RowKey":"batch_update","Timestamp":"2020-09-22T20:03:46.9667122Z","test":true,"test2":"value","test3":3,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-09-22T20:03:47Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-09-22T20%3A03%3A46.9667122Z'"
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: "--batch_2892436b-a39e-42d2-b3d5-1ecd8ec7680c\r\nContent-Type: multipart/mixed;
      boundary=changeset_c5f040bd-bfa9-44a7-96c1-b9a65643873b\r\n\r\n--changeset_c5f040bd-bfa9-44a7-96c1-b9a65643873b\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID: 0\r\n\r\nPATCH
      https://pyacrstoragecy5edjajxvth.table.core.windows.net/uttablef0c10dba(PartitionKey='001',RowKey='batch_update')
      HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nIf-Match:
      *\r\nContent-Type: application/json\r\nAccept: application/json\r\nContent-Length:
      294\r\nx-ms-date: Tue, 22 Sep 2020 20:03:47 GMT\r\nDate: Tue, 22 Sep 2020 20:03:47
      GMT\r\nx-ms-client-request-id: b9796f68-fd0e-11ea-96ae-58961df361d1\r\n\r\n{\"PartitionKey\":
      \"001\", \"PartitionKey@odata.type\": \"Edm.String\", \"RowKey\": \"batch_update\",
      \"RowKey@odata.type\": \"Edm.String\", \"test\": true, \"test2\": \"value1\",
      \"test2@odata.type\": \"Edm.String\", \"test3\": 3, \"test4\": 1234567890, \"test5\":
      \"2020-09-22T20:03:47Z\", \"test5@odata.type\": \"Edm.DateTime\"}\r\n--changeset_c5f040bd-bfa9-44a7-96c1-b9a65643873b--\r\n\r\n--batch_2892436b-a39e-42d2-b3d5-1ecd8ec7680c--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batch_2892436b-a39e-42d2-b3d5-1ecd8ec7680c
      DataServiceVersion:
      - '3.0'
      MaxDataServiceVersion:
      - 3.0;NetFx
      x-ms-date:
      - Tue, 22 Sep 2020 20:03:47 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body:
      string: "--batchresponse_f157fc7e-c81b-4020-a731-ed60f98557f7\r\nContent-Type:
        multipart/mixed; boundary=changesetresponse_528e4a6e-3282-4c93-885d-45f65dec1074\r\n\r\n--changesetresponse_528e4a6e-3282-4c93-885d-45f65dec1074\r\nContent-Type:
        application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204
        No Content\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nDataServiceVersion:
        1.0;\r\nETag: W/\"datetime'2020-09-22T20%3A03%3A47.0477132Z'\"\r\n\r\n\r\n--changesetresponse_528e4a6e-3282-4c93-885d-45f65dec1074--\r\n--batchresponse_f157fc7e-c81b-4020-a731-ed60f98557f7--\r\n"
    headers:
      content-type:
      - multipart/mixed; boundary=batchresponse_f157fc7e-c81b-4020-a731-ed60f98557f7
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Sep 2020 20:03:47 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttablef0c10dba')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
version: 1
