interactions:
- request:
    body: '{"TableName": "uttable70521132"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 17 Nov 2020 01:28:47 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttable70521132","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-11-17T01%3A28%3A48.7360519Z'"
      location:
      - https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable70521132')
    status:
      code: 201
      message: Ok
- request:
    body: "--batch_4970fb2f-73d5-4b24-aac8-cd73cdbab221\r\nContent-Type: multipart/mixed;\
      \ boundary=changeset_7b206055-7220-4ce8-8309-6607e9cf7cb9\r\n\r\n--changeset_7b206055-7220-4ce8-8309-6607e9cf7cb9\r\
      \nContent-Type: application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID:\
      \ 0\r\n\r\nPOST https://tablestestqzxwn47gjlmshe.table.cosmos.azure.com/uttable70521132\
      \ HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nPrefer:\
      \ return-no-content\r\nContent-Type: application/json;odata=nometadata\r\nAccept:\
      \ application/json;odata=minimalmetadata\r\nContent-Length: 223\r\nx-ms-date:\
      \ Tue, 17 Nov 2020 01:28:48 GMT\r\nDate: Tue, 17 Nov 2020 01:28:48 GMT\r\nx-ms-client-request-id:\
      \ 3df49774-2874-11eb-9ab7-58961df361d1\r\n\r\n{\"PartitionKey\": \"batch_inserts\"\
      , \"PartitionKey@odata.type\": \"Edm.String\", \"test\": true, \"test2\": \"\
      value\", \"test2@odata.type\": \"Edm.String\", \"test3\": 3, \"test4\": 1234567890,\
      \ \"RowKey\": \"0\", \"RowKey@odata.type\": \"Edm.String\"}\r\n--changeset_7b206055-7220-4ce8-8309-6607e9cf7cb9\r\
      \nContent-Type: application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID:\
      \ 1\r\n\r\nPOST https://tablestestqzxwn47gjlmshe.table.cosmos.azure.com/uttable70521132\
      \ HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nPrefer:\
      \ return-no-content\r\nContent-Type: application/json;odata=nometadata\r\nAccept:\
      \ application/json;odata=minimalmetadata\r\nContent-Length: 22[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 17 Nov 2020 01:28:48 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable70521132()?$filter=PartitionKey%20eq%20%27batch_inserts%27
  response:
    body:
      string: '{"value":[{"odata.etag":"W/\"datetime''2020-11-17T01%3A28%3A49.1783175Z''\"","PartitionKey":"batch_inserts","test":true,"test2":"value","test3":3,"test4":1234567890,"RowKey":"0","Timestamp":"2020-11-17T01:28:49.1783175Z"},{"odata.etag":"W/\"datetime''2020-11-17T01%3A28%3A49.1788295Z''\"","PartitionKey":"batch_inserts","test":true,"test2":"value","test3":3,"test4":1234567890,"RowKey":"1","Timestamp":"2020-11-17T01:28:49.1788295Z"},{"odata.etag":"W/\"datetime''2020-11-17T01%3A28%3A49.1792391Z''\"","PartitionKey":"batch_inserts","test":true,"test2":"value","test3":3,"test4":1234567890,"RowKey":"2","Timestamp":"2020-11-17T01:28:49.1792391Z"},{"odata.etag":"W/\"datetime''2020-11-17T01%3[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 17 Nov 2020 01:28:48 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable70521132(PartitionKey='batch_inserts',RowKey='1')
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttable70521132/$metadata#uttable70521132/@Element","odata.etag":"W/\"datetime''2020-11-17T01%3A28%3A49.1788295Z''\"","PartitionKey":"batch_inserts","test":true,"test2":"value","test3":3,"test4":1234567890,"RowKey":"1","Timestamp":"2020-11-17T01:28:49.1788295Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-11-17T01%3A28%3A49.1788295Z'"
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 17 Nov 2020 01:28:48 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable70521132')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
