interactions:
- request:
    body: '{"TableName": "uttabled25f1825"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 04 Nov 2020 22:48:03 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttabled25f1825","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-11-04T22%3A48%3A05.2853767Z'"
      location:
      - https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttabled25f1825')
    status:
      code: 201
      message: Ok
- request:
    body: '{"PartitionKey": "001", "PartitionKey@odata.type": "Edm.String", "RowKey":
      "batch_negative_1", "RowKey@odata.type": "Edm.String", "age": 39, "sex": "male",
      "sex@odata.type": "Edm.String", "married": true, "deceased": false, "ratio":
      3.1, "evenratio": 3.0, "large": 933311100, "Birthday": "1973-10-04T00:00:00Z",
      "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other":
      20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 04 Nov 2020 22:48:05 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttabled25f1825
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttabled25f1825/$metadata#uttabled25f1825/@Element","odata.etag":"W/\"datetime''2020-11-04T22%3A48%3A05.8091527Z''\"","PartitionKey":"001","RowKey":"batch_negative_1","age":39,"sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large":933311100,"Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Timestamp":"2020-11-04T22:48:05.8091527Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-11-04T22%3A48%3A05.8091527Z'"
      location:
      - https://tablestestcosmosname.table.cosmos.azure.com/uttabled25f1825(PartitionKey='001',RowKey='batch_negative_1')
    status:
      code: 201
      message: Created
- request:
    body: "--batch_89ae5a58-bc92-4bf7-8b8e-193ed27124f4\r\nContent-Type: multipart/mixed;\
      \ boundary=changeset_f63b54da-d816-4930-ae28-13e390238182\r\n\r\n--changeset_f63b54da-d816-4930-ae28-13e390238182\r\
      \nContent-Type: application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID:\
      \ 0\r\n\r\nPATCH https://tablestestv42zogdboclgsg.table.cosmos.azure.com/uttabled25f1825(PartitionKey='001',RowKey='batch_negative_1')\
      \ HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nIf-Match:\
      \ *\r\nContent-Type: application/json\r\nAccept: application/json\r\nContent-Length:\
      \ 352\r\nx-ms-date: Wed, 04 Nov 2020 22:48:05 GMT\r\nDate: Wed, 04 Nov 2020\
      \ 22:48:05 GMT\r\nx-ms-client-request-id: cd5bbacb-1eef-11eb-a876-58961df361d1\r\
      \n\r\n{\"PartitionKey\": \"001\", \"PartitionKey@odata.type\": \"Edm.String\"\
      , \"RowKey\": \"batch_negative_1\", \"RowKey@odata.type\": \"Edm.String\", \"\
      age\": \"abc\", \"age@odata.type\": \"Edm.String\", \"sex\": \"female\", \"\
      sex@odata.type\": \"Edm.String\", \"sign\": \"aquarius\", \"sign@odata.type\"\
      : \"Edm.String\", \"birthday\": \"1991-10-04T00:00:00Z\", \"birthday@odata.type\"\
      : \"Edm.DateTime\"}\r\n--changeset_f63b54da-d816-4930-ae28-13e390238182\r\n\
      Content-Type: application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID:\
      \ 1\r\n\r\nPATCH https://tablestestv42zogdboclgsg.table.cosmos.azure.com/uttabled25f1825(PartitionKey='001',RowKey='batch_negative_1')\
      \ HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceV[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 04 Nov 2020 22:48:05 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttabled25f1825')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
