interactions:
- request:
    body: '{"TableName": "uttable2d9b19db"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 02:14:29 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttable2d9b19db","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-11-07T02%3A14%3A30.4333831Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable2d9b19db')
    status:
      code: 201
      message: Ok
    url: https://tablestestussw52mubjcwms.table.cosmos.azure.com/Tables
- request:
    body: '{"birthday": "1970-10-04T00:00:00Z", "age": 39, "sex@odata.type": "Edm.String",
      "other": 20, "binary": "YmluYXJ5", "Birthday": "1973-10-04T00:00:00Z", "RowKey@odata.type":
      "Edm.String", "binary@odata.type": "Edm.Binary", "RowKey": "rk2d9b19db", "married":
      true, "sex": "male", "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "Birthday@odata.type":
      "Edm.DateTime", "ratio": 3.1, "large": 933311100, "clsid@odata.type": "Edm.Guid",
      "evenratio": 3.0, "PartitionKey": "pk2d9b19db", "deceased": false, "birthday@odata.type":
      "Edm.DateTime", "PartitionKey@odata.type": "Edm.String"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 02:14:29 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable2d9b19db
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttable2d9b19db/$metadata#uttable2d9b19db/@Element","odata.etag":"W/\"datetime''2020-11-07T02%3A14%3A30.8483079Z''\"","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","age":39,"other":20,"binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","RowKey":"rk2d9b19db","married":true,"sex":"male","clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","ratio":3.1,"large":933311100,"evenratio":3.0,"PartitionKey":"pk2d9b19db","deceased":false,"Timestamp":"2020-11-07T02:14:30.8483079Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-11-07T02%3A14%3A30.8483079Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/uttable2d9b19db(PartitionKey='pk2d9b19db',RowKey='rk2d9b19db')
    status:
      code: 201
      message: Created
    url: https://tablestestussw52mubjcwms.table.cosmos.azure.com/uttable2d9b19db
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 02:14:30 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable2d9b19db()?$filter=PartitionKey%20eq%20'pk2d9b19db'
  response:
    body:
      string: '{"value":[{"odata.etag":"W/\"datetime''2020-11-07T02%3A14%3A30.8483079Z''\"","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","age":39,"other":20,"binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","RowKey":"rk2d9b19db","married":true,"sex":"male","clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","ratio":3.1,"large":933311100,"evenratio":3.0,"PartitionKey":"pk2d9b19db","deceased":false,"Timestamp":"2020-11-07T02:14:30.8483079Z"}],"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#uttable2d9b19db"}'
    headers:
      content-type: application/json;odata=minimalmetadata
    status:
      code: 200
      message: Ok
    url: https://tablestestussw52mubjcwms.table.cosmos.azure.com/uttable2d9b19db()?$filter=PartitionKey%20eq%20'pk2d9b19db'
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 Nov 2020 02:14:30 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable2d9b19db')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://tablestestussw52mubjcwms.table.cosmos.azure.com/Tables('uttable2d9b19db')
version: 1
