interactions:
- request:
    body: '{"TableName": "uttable6dd31107"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:23:15 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable6dd31107"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://tablesteststorname.table.core.windows.net/Tables('uttable6dd31107')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: "--batch_77851498-a704-460a-acfb-384ae411442e\r\nContent-Type: multipart/mixed;
      boundary=changeset_bb199540-9b18-4a6a-aaad-768b5674e176\r\n\r\n--changeset_bb199540-9b18-4a6a-aaad-768b5674e176\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID: 0\r\n\r\nPATCH
      https://tablestestxjz4vq7ewcdgud.table.core.windows.net/uttable6dd31107(PartitionKey='001',RowKey='batch_insert_replace')
      HTTP/1.1\r\nContent-Type: application/json\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion:
      3.0\r\nAccept: application/json\r\nContent-Length: 301\r\nx-ms-date: Sat, 07
      Nov 2020 01:23:15 GMT\r\nDate: Sat, 07 Nov 2020 01:23:15 GMT\r\nx-ms-client-request-id:
      cf65127a-2097-11eb-9885-58961df361d1\r\n\r\n{\"test5@odata.type\": \"Edm.DateTime\",
      \"test5\": \"2020-11-07T01:23:15Z\", \"test3\": 3, \"PartitionKey\": \"001\",
      \"test\": true, \"RowKey\": \"batch_insert_replace\", \"test4\": 1234567890,
      \"RowKey@odata.type\": \"Edm.String\", \"test2@odata.type\": \"Edm.String\",
      \"test2\": \"value\", \"PartitionKey@odata.type\": \"Edm.String\"}\r\n--changeset_bb199540-9b18-4a6a-aaad-768b5674e176--\r\n\r\n--batch_77851498-a704-460a-acfb-384ae411442e--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batch_77851498-a704-460a-acfb-384ae411442e
      DataServiceVersion:
      - '3.0'
      MaxDataServiceVersion:
      - 3.0;NetFx
      x-ms-date:
      - Sat, 07 Nov 2020 01:23:15 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/$batch
  response:
    body:
      string: "--batchresponse_65a57f88-5e22-4fd7-a95b-3d579712c826\r\nContent-Type:
        multipart/mixed; boundary=changesetresponse_6598336b-987e-4602-8ce9-813df91577c6\r\n\r\n--changesetresponse_6598336b-987e-4602-8ce9-813df91577c6\r\nContent-Type:
        application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204
        No Content\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nDataServiceVersion:
        1.0;\r\nETag: W/\"datetime'2020-11-07T01%3A23%3A16.5331722Z'\"\r\n\r\n\r\n--changesetresponse_6598336b-987e-4602-8ce9-813df91577c6--\r\n--batchresponse_65a57f88-5e22-4fd7-a95b-3d579712c826--\r\n"
    headers:
      content-type:
      - multipart/mixed; boundary=batchresponse_65a57f88-5e22-4fd7-a95b-3d579712c826
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:23:15 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablesteststorname.table.core.windows.net/uttable6dd31107(PartitionKey='001',RowKey='batch_insert_replace')
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttable6dd31107/@Element","odata.etag":"W/\"datetime''2020-11-07T01%3A23%3A16.5331722Z''\"","PartitionKey":"001","RowKey":"batch_insert_replace","Timestamp":"2020-11-07T01:23:16.5331722Z","test":true,"test2":"value","test3":3,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-11-07T01:23:15Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-11-07T01%3A23%3A16.5331722Z'"
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 Nov 2020 01:23:15 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablesteststorname.table.core.windows.net/Tables('uttable6dd31107')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
version: 1
