interactions:
- request:
    body: '{"TableName": "uttablea06a1f51"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 17 Sep 2020 16:52:46 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://seankanecosmos.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttablea06a1f51","odata.metadata":"https://seankanecosmos.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-09-17T16%3A52%3A47.3572359Z'"
      location:
      - https://seankanecosmos.table.cosmos.azure.com/Tables('uttablea06a1f51')
    status:
      code: 201
      message: Ok
- request:
    body: '{"PartitionKey": "pka06a1f51", "RowKey": "rka06a1f51", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "married": true, "deceased": false, "ratio": 3.1,
      "evenratio": 3.0, "large": "933311100", "large@odata.type": "Edm.Int64", "Birthday":
      "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z",
      "birthday@odata.type": "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type":
      "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 17 Sep 2020 16:52:47 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://seankanecosmos.table.cosmos.azure.com/uttablea06a1f51
  response:
    body:
      string: '{"odata.metadata":"https://seankanecosmos.table.cosmos.azure.com/uttablea06a1f51/$metadata#uttablea06a1f51/@Element","odata.etag":"W/\"datetime''2020-09-17T16%3A52%3A47.8613511Z''\"","PartitionKey":"pka06a1f51","RowKey":"rka06a1f51","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Timestamp":"2020-09-17T16:52:47.8613511Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-09-17T16%3A52%3A47.8613511Z'"
      location:
      - https://seankanecosmos.table.cosmos.azure.com/uttablea06a1f51(PartitionKey='pka06a1f51',RowKey='rka06a1f51')
    status:
      code: 201
      message: Created
- request:
    body: '{"PartitionKey": "pka06a1f51", "RowKey": "rka06a1f51", "age": "abc", "sex":
      "female", "sign": "aquarius", "birthday": "1991-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 17 Sep 2020 16:52:47 GMT
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://seankanecosmos.table.cosmos.azure.com/uttablea06a1f51(PartitionKey='pka06a1f51',RowKey='rka06a1f51')
  response:
    body:
      string: "{\"odata.error\":{\"code\":\"MediaTypeNotSupported\",\"message\":{\"lang\":\"en-us\",\"value\":\"None
        of the provided media types are supported\\r\\nActivityId: 37199588-f906-11ea-b216-58961df361d1,
        documentdb-dotnet-sdk/2.11.0 Host/64-bit MicrosoftWindowsNT/6.2.9200.0\\nRequestID:37199588-f906-11ea-b216-58961df361d1\\n\"}}}\r\n"
    headers:
      content-type:
      - application/json;odata=fullmetadata
    status:
      code: 415
      message: Unsupported Media Type
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Sep 2020 16:52:47 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://seankanecosmos.table.cosmos.azure.com/Tables('uttablea06a1f51')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 17 Sep 2020 16:52:48 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://seankanecosmos.table.cosmos.azure.com/Tables
  response:
    body:
      string: "{\"value\":[{\"TableName\":\"mytable\"},{\"TableName\":\"uttable659c10f9\"},{\"TableName\":\"\u554A\u9F44\u4E02\u72DB\u72DC\"},{\"TableName\":\"querytable98d81758\"}],\"odata.metadata\":\"https://seankanecosmos.table.cosmos.azure.com/$metadata#Tables\"}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
    status:
      code: 200
      message: Ok
version: 1
