interactions:
- request:
    body: '{"TableName": "uttablede501384"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:23:25 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttablede501384"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://tablesteststorname.table.core.windows.net/Tables('uttablede501384')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://tablestestxjz4vq7ewcdgud.table.core.windows.net/Tables
- request:
    body: "--batch_a92f43c8-9735-46fc-a186-c5bb270649ff\r\nContent-Type: multipart/mixed;
      boundary=changeset_49357c96-0749-4346-8049-73b5ec9ae76f\r\n\r\n--changeset_49357c96-0749-4346-8049-73b5ec9ae76f\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID: 0\r\n\r\nPATCH
      https://tablestestxjz4vq7ewcdgud.table.core.windows.net/uttablede501384(PartitionKey='001',RowKey='batch_insert_replace')
      HTTP/1.1\r\nContent-Type: application/json\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion:
      3.0\r\nAccept: application/json\r\nContent-Length: 301\r\nx-ms-date: Sat, 07
      Nov 2020 01:23:25 GMT\r\nDate: Sat, 07 Nov 2020 01:23:25 GMT\r\nx-ms-client-request-id:
      d526a670-2097-11eb-9ce0-58961df361d1\r\n\r\n{\"test5@odata.type\": \"Edm.DateTime\",
      \"test5\": \"2020-11-07T01:23:25Z\", \"test3\": 3, \"PartitionKey\": \"001\",
      \"test\": true, \"RowKey\": \"batch_insert_replace\", \"test4\": 1234567890,
      \"RowKey@odata.type\": \"Edm.String\", \"test2@odata.type\": \"Edm.String\",
      \"test2\": \"value\", \"PartitionKey@odata.type\": \"Edm.String\"}\r\n--changeset_49357c96-0749-4346-8049-73b5ec9ae76f--\r\n\r\n--batch_a92f43c8-9735-46fc-a186-c5bb270649ff--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batch_a92f43c8-9735-46fc-a186-c5bb270649ff
      DataServiceVersion:
      - '3.0'
      MaxDataServiceVersion:
      - 3.0;NetFx
      x-ms-date:
      - Sat, 07 Nov 2020 01:23:25 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/$batch
  response:
    body:
      string: "--batchresponse_4ff8269b-08b1-423e-a141-123e89f132ad\r\nContent-Type:
        multipart/mixed; boundary=changesetresponse_f349e572-c217-4702-a67b-4db325eb0b6c\r\n\r\n--changesetresponse_f349e572-c217-4702-a67b-4db325eb0b6c\r\nContent-Type:
        application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204
        No Content\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nDataServiceVersion:
        1.0;\r\nETag: W/\"datetime'2020-11-07T01%3A23%3A26.162026Z'\"\r\n\r\n\r\n--changesetresponse_f349e572-c217-4702-a67b-4db325eb0b6c--\r\n--batchresponse_4ff8269b-08b1-423e-a141-123e89f132ad--\r\n"
    headers:
      content-type: multipart/mixed; boundary=batchresponse_4ff8269b-08b1-423e-a141-123e89f132ad
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: https://tablestestxjz4vq7ewcdgud.table.core.windows.net/$batch
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:23:25 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablesteststorname.table.core.windows.net/uttablede501384(PartitionKey='001',RowKey='batch_insert_replace')
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttablede501384/@Element","odata.etag":"W/\"datetime''2020-11-07T01%3A23%3A26.162026Z''\"","PartitionKey":"001","RowKey":"batch_insert_replace","Timestamp":"2020-11-07T01:23:26.162026Z","test":true,"test2":"value","test3":3,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-11-07T01:23:25Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-11-07T01%3A23%3A26.162026Z'"
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: https://tablestestxjz4vq7ewcdgud.table.core.windows.net/uttablede501384(PartitionKey='001',RowKey='batch_insert_replace')
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 Nov 2020 01:23:25 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablesteststorname.table.core.windows.net/Tables('uttablede501384')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 204
      message: No Content
    url: https://tablestestxjz4vq7ewcdgud.table.core.windows.net/Tables('uttablede501384')
version: 1
