interactions:
- request:
    body: '{"TableName": "uttable7e8316e7"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 16 Sep 2020 21:52:07 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable7e8316e7"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://storagename.table.core.windows.net/Tables('uttable7e8316e7')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://pyacrstoragewrla36mtikyp.table.core.windows.net/Tables
- request:
    body: '{"PartitionKey": "pk7e8316e7", "PartitionKey@odata.type": "Edm.String",
      "RowKey": "rk7e8316e7", "RowKey@odata.type": "Edm.String", "age": "abc", "age@odata.type":
      "Edm.String", "sex": "female", "sex@odata.type": "Edm.String", "sign": "aquarius",
      "sign@odata.type": "Edm.String", "birthday": "1991-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - '3.0'
      If-Match:
      - '*'
      x-ms-date:
      - Wed, 16 Sep 2020 21:52:07 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.table.core.windows.net/uttable7e8316e7(PartitionKey='pk7e8316e7',RowKey='rk7e8316e7')
  response:
    body:
      string: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
        specified resource does not exist.\nRequestId:44366923-2002-003f-6573-8cdfdb000000\nTime:2020-09-16T21:52:07.7046510Z"}}}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version: '2019-02-02'
    status:
      code: 404
      message: Not Found
    url: https://pyacrstoragewrla36mtikyp.table.core.windows.net/uttable7e8316e7(PartitionKey='pk7e8316e7',RowKey='rk7e8316e7')
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Sep 2020 21:52:07 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttable7e8316e7')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 204
      message: No Content
    url: https://pyacrstoragewrla36mtikyp.table.core.windows.net/Tables('uttable7e8316e7')
version: 1
