interactions:
- request:
    body: '{"TableName": "uttable78f51add"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 29 Sep 2020 18:41:37 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttable78f51add","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-29T18%3A41%3A37.8553863Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable78f51add')
    status:
      code: 201
      message: Ok
    url: https://tablestestcosmosname.table.cosmos.azure.com/Tables
- request:
    body: '{"PartitionKey": "pk78f51add", "PartitionKey@odata.type": "Edm.String",
      "RowKey": "rk78f51add", "RowKey@odata.type": "Edm.String", "age": 39, "sex":
      "male", "sex@odata.type": "Edm.String", "married": true, "deceased": false,
      "ratio": 3.1, "evenratio": 3.0, "large": 933311100, "Birthday": "1973-10-04T00:00:00Z",
      "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other":
      20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 29 Sep 2020 18:41:38 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable78f51add
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttable78f51add/$metadata#uttable78f51add/@Element","odata.etag":"W/\"datetime''2020-09-29T18%3A41%3A38.2713351Z''\"","PartitionKey":"pk78f51add","RowKey":"rk78f51add","age":39,"sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large":933311100,"Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Timestamp":"2020-09-29T18:41:38.2713351Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-29T18%3A41%3A38.2713351Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/uttable78f51add(PartitionKey='pk78f51add',RowKey='rk78f51add')
    status:
      code: 201
      message: Created
    url: https://tablestestcosmosname.table.cosmos.azure.com/uttable78f51add
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      If-Match:
      - W/"datetime'2020-09-29T18%3A41%3A38.2713351Z'"
      x-ms-date:
      - Tue, 29 Sep 2020 18:41:38 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable78f51add(PartitionKey='pk78f51add',RowKey='rk78f51add')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://tablestestcosmosname.table.cosmos.azure.com/uttable78f51add(PartitionKey='pk78f51add',RowKey='rk78f51add')
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 29 Sep 2020 18:41:38 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable78f51add(PartitionKey='pk78f51add',RowKey='rk78f51add')
  response:
    body:
      string: "{\"odata.error\":{\"code\":\"ResourceNotFound\",\"message\":{\"lang\":\"en-us\",\"value\":\"The
        specified resource does not exist.\\nRequestID:687d47a5-0283-11eb-ac2e-58961df361d1\\n\"}}}\r\n"
    headers:
      content-type: application/json;odata=minimalmetadata
    status:
      code: 404
      message: Not Found
    url: https://tablestestcosmosname.table.cosmos.azure.com/uttable78f51add(PartitionKey='pk78f51add',RowKey='rk78f51add')
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 29 Sep 2020 18:41:38 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable78f51add')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable78f51add')
version: 1
