interactions:
- request:
    body: '{"TableName": "uttable6921164a"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 10 Nov 2020 00:25:10 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttable6921164a","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-11-10T00%3A25%3A12.4972551Z'"
      location:
      - https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable6921164a')
    status:
      code: 201
      message: Ok
- request:
    body: '{"PartitionKey": "pk", "PartitionKey@odata.type": "Edm.String", "RowKey":
      "10", "RowKey@odata.type": "Edm.String", "value": 0}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 10 Nov 2020 00:25:12 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable6921164a
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttable6921164a/$metadata#uttable6921164a/@Element","odata.etag":"W/\"datetime''2020-11-10T00%3A25%3A12.9937927Z''\"","PartitionKey":"pk","RowKey":"10","value":0,"Timestamp":"2020-11-10T00:25:12.9937927Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-11-10T00%3A25%3A12.9937927Z'"
      location:
      - https://tablestestcosmosname.table.cosmos.azure.com/uttable6921164a(PartitionKey='pk',RowKey='10')
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 10 Nov 2020 00:25:13 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable6921164a()?$top=2&$filter=PartitionKey%20eq%20%27pk%27
  response:
    body:
      string: '{"value":[{"odata.etag":"W/\"datetime''2020-11-10T00%3A25%3A12.9937927Z''\"","PartitionKey":"pk","RowKey":"10","value":0,"Timestamp":"2020-11-10T00:25:12.9937927Z"},{"odata.etag":"W/\"datetime''2020-11-10T00%3A25%3A13.0869767Z''\"","PartitionKey":"pk","RowKey":"101","value":1,"Timestamp":"2020-11-10T00:25:13.0869767Z"}],"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#uttable6921164a"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      x-ms-continuation-nextpartitionkey:
      - '{"token":"+RID:~5bckAMwSsbYCAAAAAAAAAA==#RT:1#TRC:2#ISV:2#IEO:65551#FPC:AQIAAAAAAAAABgAAAAAAAAA=","range":{"min":"","max":"FF"}}'
      x-ms-continuation-nextrowkey:
      - NA
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 10 Nov 2020 00:25:13 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable6921164a()?$top=2&$filter=PartitionKey%20eq%20%27pk%27&NextPartitionKey=%7B%22token%22%3A%22%2BRID%3A~5bckAMwSsbYCAAAAAAAAAA%3D%3D%23RT%3A1%23TRC%3A2%23ISV%3A2%23IEO%3A65551%23FPC%3AAQIAAAAAAAAABgAAAAAAAAA%3D%22%2C%22range%22%3A%7B%22min%22%3A%22%22%2C%22max%22%3A%22FF%22%7D%7D&NextRowKey=NA
  response:
    body:
      string: '{"value":[{"odata.etag":"W/\"datetime''2020-11-10T00%3A25%3A13.1360263Z''\"","PartitionKey":"pk","RowKey":"1012","value":2,"Timestamp":"2020-11-10T00:25:13.1360263Z"},{"odata.etag":"W/\"datetime''2020-11-10T00%3A25%3A13.1835399Z''\"","PartitionKey":"pk","RowKey":"10123","value":3,"Timestamp":"2020-11-10T00:25:13.1835399Z"}],"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#uttable6921164a"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      x-ms-continuation-nextpartitionkey:
      - '{"token":"+RID:~5bckAMwSsbYEAAAAAAAAAA==#RT:2#TRC:4#ISV:2#IEO:65551#FPC:AQQAAAAAAAAABgAAAAAAAAA=","range":{"min":"","max":"FF"}}'
      x-ms-continuation-nextrowkey:
      - NA
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 10 Nov 2020 00:25:13 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable6921164a()?$top=2&$filter=PartitionKey%20eq%20%27pk%27&NextPartitionKey=%7B%22token%22%3A%22%2BRID%3A~5bckAMwSsbYEAAAAAAAAAA%3D%3D%23RT%3A2%23TRC%3A4%23ISV%3A2%23IEO%3A65551%23FPC%3AAQQAAAAAAAAABgAAAAAAAAA%3D%22%2C%22range%22%3A%7B%22min%22%3A%22%22%2C%22max%22%3A%22FF%22%7D%7D&NextRowKey=NA
  response:
    body:
      string: '{"value":[{"odata.etag":"W/\"datetime''2020-11-10T00%3A25%3A13.2306439Z''\"","PartitionKey":"pk","RowKey":"101234","value":4,"Timestamp":"2020-11-10T00:25:13.2306439Z"},{"odata.etag":"W/\"datetime''2020-11-10T00%3A25%3A13.2750855Z''\"","PartitionKey":"pk","RowKey":"1012345","value":5,"Timestamp":"2020-11-10T00:25:13.2750855Z"}],"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#uttable6921164a"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 10 Nov 2020 00:25:13 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable6921164a')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 10 Nov 2020 00:25:13 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"value":[],"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
    status:
      code: 200
      message: Ok
version: 1
