{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 18 Oct 2021 23:13:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022TableName\u0022: \u0022uttable9aa72b90\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttable9aa72b90\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable9aa72b90"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable9aa72b90",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 18 Oct 2021 23:13:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022: \u0022pk9aa72b90\u0022, \u0022PartitionKey@odata.type\u0022: \u0022Ed[...]
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable9aa72b90()?$top=1\u0026$filter=PartitionKey eq %27pk9aa72b90%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 18 Oct 2021 23:13:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable9aa72b90",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272021-10-18T23%3A13%3A01.7974131Z\u0027\u0022",
            "PartitionKey": "pk9aa72b90",
            "RowKey": "rk9aa72b90",
            "Timestamp": "2021-10-18T23:13:01.7974131Z",
            "age": 39,
            "sex": "male",
            "married": true,
            "deceased": false,
            "ratio": 3.1,
            "evenratio": 3.0,
            "double": 5.0,
            "large": 933311100,
            "Birthday@odata.type": "Edm.DateTime",
            "Birthday": "1973-10-04T00:00:00Z",
            "birthday@odata.type": "Edm.DateTime",
            "birthday": "1970-10-04T00:00:00Z",
            "binary@odata.type": "Edm.Binary",
            "binary": "YmluYXJ5",
            "other": 20,
            "clsid@odata.type": "Edm.Guid",
            "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttable9aa72b90\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 18 Oct 2021 23:13:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
