interactions:
- request:
    body: '{"TableName": "uttablec79a183d"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 29 Sep 2020 17:06:26 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttablec79a183d"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://tablesteststorname.table.core.windows.net/Tables('uttablec79a183d')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://tablesteststorname.table.core.windows.net/Tables
- request:
    body: '{"RowKey": "rk", "RowKey@odata.type": "Edm.String", "PartitionKey": "",
      "PartitionKey@odata.type": "Edm.String"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 29 Sep 2020 17:06:26 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/uttablec79a183d
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttablec79a183d/@Element","odata.etag":"W/\"datetime''2020-09-29T17%3A06%3A26.5211109Z''\"","PartitionKey":"","RowKey":"rk","Timestamp":"2020-09-29T17:06:26.5211109Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-09-29T17%3A06%3A26.5211109Z'"
      location: https://tablesteststorname.table.core.windows.net/uttablec79a183d(PartitionKey='',RowKey='rk')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://tablesteststorname.table.core.windows.net/uttablec79a183d
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 29 Sep 2020 17:06:26 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablesteststorname.table.core.windows.net/Tables('uttablec79a183d')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 204
      message: No Content
    url: https://tablesteststorname.table.core.windows.net/Tables('uttablec79a183d')
version: 1
