interactions:
- request:
    body: '{"TableName": "uttable3b0215a4"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 02 Sep 2020 02:27:30 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable3b0215a4"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://storagename.table.core.windows.net/Tables('uttable3b0215a4')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://pyacrstoragect6543astms7.table.core.windows.net/Tables
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 02 Sep 2020 02:27:31 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.table.core.windows.net/uttable3b0215a4(PartitionKey='pk3b0215a4',RowKey='rk3b0215a4')
  response:
    body:
      string: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
        specified resource does not exist.\nRequestId:924dce4a-4002-0008-52d0-809c0d000000\nTime:2020-09-02T02:27:31.2439654Z"}}}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version: '2019-02-02'
    status:
      code: 404
      message: Not Found
    url: https://pyacrstoragect6543astms7.table.core.windows.net/uttable3b0215a4(PartitionKey='pk3b0215a4',RowKey='rk3b0215a4')
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 02 Sep 2020 02:27:31 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttable3b0215a4')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 204
      message: No Content
    url: https://pyacrstoragect6543astms7.table.core.windows.net/Tables('uttable3b0215a4')
version: 1
