interactions:
- request:
    body: '{"TableName": "uttable4cf41027"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 02 Oct 2020 01:37:58 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable4cf41027"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://tablesteststorname.table.core.windows.net/Tables('uttable4cf41027')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://tablesteststorname.table.core.windows.net/Tables
- request:
    body: '{"PartitionKey": "001", "PartitionKey@odata.type": "Edm.String", "RowKey":
      "batch_delete", "RowKey@odata.type": "Edm.String", "test": true, "test2": "value",
      "test2@odata.type": "Edm.String", "test3": 3, "test4": 1234567890, "test5":
      "2020-10-02T01:37:58Z", "test5@odata.type": "Edm.DateTime"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 02 Oct 2020 01:37:58 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/uttable4cf41027
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttable4cf41027/@Element","odata.etag":"W/\"datetime''2020-10-02T01%3A37%3A58.9138635Z''\"","PartitionKey":"001","RowKey":"batch_delete","Timestamp":"2020-10-02T01:37:58.9138635Z","test":true,"test2":"value","test3":3,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-10-02T01:37:58Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-10-02T01%3A37%3A58.9138635Z'"
      location: https://tablesteststorname.table.core.windows.net/uttable4cf41027(PartitionKey='001',RowKey='batch_delete')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://tablesteststorname.table.core.windows.net/uttable4cf41027
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 02 Oct 2020 01:37:58 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablesteststorname.table.core.windows.net/uttable4cf41027(PartitionKey='001',RowKey='batch_delete')
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttable4cf41027/@Element","odata.etag":"W/\"datetime''2020-10-02T01%3A37%3A58.9138635Z''\"","PartitionKey":"001","RowKey":"batch_delete","Timestamp":"2020-10-02T01:37:58.9138635Z","test":true,"test2":"value","test3":3,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-10-02T01:37:58Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-10-02T01%3A37%3A58.9138635Z'"
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: https://tablesteststorname.table.core.windows.net/uttable4cf41027(PartitionKey='001',RowKey='batch_delete')
- request:
    body: "--batch_20d359ff-9212-4b9b-b6ff-8a1c7aa3bf5a\r\nContent-Type: multipart/mixed;
      boundary=changeset_a92c82bb-7b74-420b-94d9-f92194f290df\r\n\r\n--changeset_a92c82bb-7b74-420b-94d9-f92194f290df\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID: 0\r\n\r\nDELETE
      https://tablesteststorname.table.core.windows.net/uttable4cf41027(PartitionKey='001',RowKey='batch_delete')
      HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nIf-Match:
      *\r\nAccept: application/json;odata=minimalmetadata\r\nx-ms-date: Fri, 02 Oct
      2020 01:37:58 GMT\r\nDate: Fri, 02 Oct 2020 01:37:58 GMT\r\nx-ms-client-request-id:
      e6e79b24-044f-11eb-addf-58961df361d1\r\n\r\n\r\n--changeset_a92c82bb-7b74-420b-94d9-f92194f290df--\r\n\r\n--batch_20d359ff-9212-4b9b-b6ff-8a1c7aa3bf5a--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batch_20d359ff-9212-4b9b-b6ff-8a1c7aa3bf5a
      DataServiceVersion:
      - '3.0'
      MaxDataServiceVersion:
      - 3.0;NetFx
      x-ms-date:
      - Fri, 02 Oct 2020 01:37:58 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/$batch
  response:
    body:
      string: "--batchresponse_9e1f4662-64b4-4bbe-b8b0-7667748311c5\r\nContent-Type:
        multipart/mixed; boundary=changesetresponse_27b4bb80-885b-4fa4-b732-f3a5f0bf3f94\r\n\r\n--changesetresponse_27b4bb80-885b-4fa4-b732-f3a5f0bf3f94\r\nContent-Type:
        application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204
        No Content\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nDataServiceVersion:
        1.0;\r\n\r\n\r\n--changesetresponse_27b4bb80-885b-4fa4-b732-f3a5f0bf3f94--\r\n--batchresponse_9e1f4662-64b4-4bbe-b8b0-7667748311c5--\r\n"
    headers:
      content-type: multipart/mixed; boundary=batchresponse_9e1f4662-64b4-4bbe-b8b0-7667748311c5
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: https://tablesteststorname.table.core.windows.net/$batch
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 02 Oct 2020 01:37:58 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablesteststorname.table.core.windows.net/uttable4cf41027(PartitionKey='001',RowKey='batch_delete')
  response:
    body:
      string: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
        specified resource does not exist.\nRequestId:972c7e4f-d002-0035-6b5c-98c1fd000000\nTime:2020-10-02T01:37:59.0449566Z"}}}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version: '2019-02-02'
    status:
      code: 404
      message: Not Found
    url: https://tablesteststorname.table.core.windows.net/uttable4cf41027(PartitionKey='001',RowKey='batch_delete')
version: 1
