{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:39:35 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttableba592401"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttableba592401\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttableba592401"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttableba592401",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:39:35 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pkba592401",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "rkba592401",
        "RowKey@odata.type": "Edm.String",
        "date": "2003-09-27T12:52:43.000000Z",
        "date@odata.type": "Edm.DateTime"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-05-06T00%3A39%3A34.7368745Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.core.windows.net/uttableba592401(PartitionKey=\u0027pkba592401\u0027,RowKey=\u0027rkba592401\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttableba592401/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-05-06T00%3A39%3A34.7368745Z\u0027\u0022",
        "PartitionKey": "pkba592401",
        "RowKey": "rkba592401",
        "Timestamp": "2022-05-06T00:39:34.7368745Z",
        "date@odata.type": "Edm.DateTime",
        "date": "2003-09-27T12:52:43Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttableba592401(PartitionKey=\u0027pkba592401\u0027,RowKey=\u0027rkba592401\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:39:35 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-05-06T00%3A39%3A34.7368745Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttableba592401/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-05-06T00%3A39%3A34.7368745Z\u0027\u0022",
        "PartitionKey": "pkba592401",
        "RowKey": "rkba592401",
        "Timestamp": "2022-05-06T00:39:34.7368745Z",
        "date@odata.type": "Edm.DateTime",
        "date": "2003-09-27T12:52:43Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:39:35 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "uttableba592401"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttableba592401\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 May 2022 00:39:35 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
