{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=e14b85fe-5a3d-4279-99ac-37ab21bc2d82\u0026client_secret=b20f2afe-e8f7-447b-bc4e-a7db8687df9b\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fstorage.azure.com%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "access_token"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Oct 2022 00:40:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable74882aa1"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttable74882aa1\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable74882aa1"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable74882aa1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Oct 2022 00:40:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk74882aa1",
        "RowKey": "rk74882aa1",
        "age": 39,
        "sex": "male",
        "sex@odata.type": "Edm.String",
        "married": true,
        "deceased": false,
        "ratio": 3.1,
        "ratio@odata.type": "Edm.Double",
        "evenratio": 3.0,
        "evenratio@odata.type": "Edm.Double",
        "double": 5,
        "double@odata.type": "Edm.Double",
        "large": 933311100,
        "Birthday": "1973-10-04T00:00:00.000000Z",
        "Birthday@odata.type": "Edm.DateTime",
        "birthday": "1970-10-04T00:00:00.000000Z",
        "birthday@odata.type": "Edm.DateTime",
        "binary": "YmluYXJ5",
        "binary@odata.type": "Edm.Binary",
        "other": 20,
        "other@odata.type": "Edm.Int32",
        "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
        "clsid@odata.type": "Edm.Guid"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-10-20T00%3A40%3A07.1956607Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.core.windows.net/uttable74882aa1(PartitionKey=\u0027pk74882aa1\u0027,RowKey=\u0027rk74882aa1\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable74882aa1/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-10-20T00%3A40%3A07.1956607Z\u0027\u0022",
        "PartitionKey": "pk74882aa1",
        "RowKey": "rk74882aa1",
        "Timestamp": "2022-10-20T00:40:07.1956607Z",
        "age": 39,
        "sex": "male",
        "married": true,
        "deceased": false,
        "ratio": 3.1,
        "evenratio": 3.0,
        "double": 5.0,
        "large": 933311100,
        "Birthday@odata.type": "Edm.DateTime",
        "Birthday": "1973-10-04T00:00:00Z",
        "birthday@odata.type": "Edm.DateTime",
        "birthday": "1970-10-04T00:00:00Z",
        "binary@odata.type": "Edm.Binary",
        "binary": "YmluYXJ5",
        "other": 20,
        "clsid@odata.type": "Edm.Guid",
        "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable74882aa1()?$filter=married%20eq%20true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Oct 2022 00:40:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable74882aa1",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272022-10-20T00%3A40%3A07.1956607Z\u0027\u0022",
            "PartitionKey": "pk74882aa1",
            "RowKey": "rk74882aa1",
            "Timestamp": "2022-10-20T00:40:07.1956607Z",
            "age": 39,
            "sex": "male",
            "married": true,
            "deceased": false,
            "ratio": 3.1,
            "evenratio": 3.0,
            "double": 5.0,
            "large": 933311100,
            "Birthday@odata.type": "Edm.DateTime",
            "Birthday": "1973-10-04T00:00:00Z",
            "birthday@odata.type": "Edm.DateTime",
            "birthday": "1970-10-04T00:00:00Z",
            "binary@odata.type": "Edm.Binary",
            "binary": "YmluYXJ5",
            "other": 20,
            "clsid@odata.type": "Edm.Guid",
            "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttable74882aa1\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Thu, 20 Oct 2022 00:40:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
