interactions:
- request:
    body: '{"TableName": "pytablesyncd1eb182e"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 17 Sep 2020 21:36:30 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#Tables/@Element","TableName":"pytablesyncd1eb182e"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://tablesteststorname.table.core.windows.net/Tables('pytablesyncd1eb182e')
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Thu, 17 Sep 2020 21:36:30 GMT
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://tablesteststorname.table.core.windows.net/pytablesyncd1eb182e?comp=acl
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?><m:error xmlns:m="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata"><m:code>MediaTypeNotSupported</m:code><m:message
        xml:lang="en-US">None of the provided media types are supported

        RequestId:d03474e0-e002-006e-023a-8db119000000

        Time:2020-09-17T21:36:31.1531237Z</m:message></m:error>'
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - MediaTypeNotSupported
      x-ms-version:
      - '2019-07-07'
    status:
      code: 415
      message: None of the provided media types are supported
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Sep 2020 21:36:30 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://tablesteststorname.table.core.windows.net/Tables('pytablesyncd1eb182e')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-07-07'
    status:
      code: 204
      message: No Content
version: 1
