interactions:
- request:
    body: '{"TableName": "uttablee0e6189d"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 02:09:46 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttablee0e6189d","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-11-07T02%3A09%3A47.4433031Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttablee0e6189d')
    status:
      code: 201
      message: Ok
    url: https://tablestestussw52mubjcwms.table.cosmos.azure.com/Tables
- request:
    body: '{"birthday": "1970-10-04T00:00:00Z", "age": 39, "sex@odata.type": "Edm.String",
      "other": 20, "binary": "YmluYXJ5", "Birthday": "1973-10-04T00:00:00Z", "RowKey@odata.type":
      "Edm.String", "binary@odata.type": "Edm.Binary", "RowKey": "rke0e6189d", "married":
      true, "sex": "male", "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "Birthday@odata.type":
      "Edm.DateTime", "ratio": 3.1, "large": 933311100, "clsid@odata.type": "Edm.Guid",
      "evenratio": 3.0, "PartitionKey": "pke0e6189d", "deceased": false, "birthday@odata.type":
      "Edm.DateTime", "PartitionKey@odata.type": "Edm.String"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 02:09:46 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttablee0e6189d
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttablee0e6189d/$metadata#uttablee0e6189d/@Element","odata.etag":"W/\"datetime''2020-11-07T02%3A09%3A47.8880263Z''\"","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","age":39,"other":20,"binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","RowKey":"rke0e6189d","married":true,"sex":"male","clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","ratio":3.1,"large":933311100,"evenratio":3.0,"PartitionKey":"pke0e6189d","deceased":false,"Timestamp":"2020-11-07T02:09:47.8880263Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-11-07T02%3A09%3A47.8880263Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/uttablee0e6189d(PartitionKey='pke0e6189d',RowKey='rke0e6189d')
    status:
      code: 201
      message: Created
    url: https://tablestestussw52mubjcwms.table.cosmos.azure.com/uttablee0e6189d
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 02:09:47 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttablee0e6189d(PartitionKey='pke0e6189d',RowKey='rke0e6189d')
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttablee0e6189d/$metadata#uttablee0e6189d/@Element","odata.etag":"W/\"datetime''2020-11-07T02%3A09%3A47.8880263Z''\"","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","age":39,"other":20,"binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","RowKey":"rke0e6189d","married":true,"sex":"male","clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","ratio":3.1,"large":933311100,"evenratio":3.0,"PartitionKey":"pke0e6189d","deceased":false,"Timestamp":"2020-11-07T02:09:47.8880263Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-11-07T02%3A09%3A47.8880263Z'"
    status:
      code: 200
      message: Ok
    url: https://tablestestussw52mubjcwms.table.cosmos.azure.com/uttablee0e6189d(PartitionKey='pke0e6189d',RowKey='rke0e6189d')
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 Nov 2020 02:09:47 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttablee0e6189d')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://tablestestussw52mubjcwms.table.cosmos.azure.com/Tables('uttablee0e6189d')
version: 1
