interactions:
- request:
    body: '{"TableName": "uttablef12613d1"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 16 Sep 2020 18:39:23 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttablef12613d1"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://storagename.table.core.windows.net/Tables('uttablef12613d1')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://pyacrstorage3c26v2dj7rsh.table.core.windows.net/Tables
- request:
    body: '{"PartitionKey": "pkf12613d1", "PartitionKey@odata.type": "Edm.String",
      "RowKey": "rkf12613d1", "RowKey@odata.type": "Edm.String", "age": 39, "sex":
      "male", "sex@odata.type": "Edm.String", "married": true, "deceased": false,
      "ratio": 3.1, "evenratio": 3.0, "large": 933311100, "Birthday": "1973-10-04T00:00:00Z",
      "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other":
      20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 16 Sep 2020 18:39:23 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/uttablef12613d1
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttablef12613d1/@Element","odata.etag":"W/\"datetime''2020-09-16T18%3A39%3A23.2045938Z''\"","PartitionKey":"pkf12613d1","RowKey":"rkf12613d1","Timestamp":"2020-09-16T18:39:23.2045938Z","age":39,"sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large":933311100,"Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-09-16T18%3A39%3A23.2045938Z'"
      location: https://storagename.table.core.windows.net/uttablef12613d1(PartitionKey='pkf12613d1',RowKey='rkf12613d1')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://pyacrstorage3c26v2dj7rsh.table.core.windows.net/uttablef12613d1
- request:
    body: "--batch_9d7196c2-1bd8-4f10-b241-9596f6c9fa5e\r\nContent-Type: multipart/mixed;
      boundary=changeset_c1f821f7-e2d4-470f-b099-93e8147586f6\r\n\r\n--changeset_c1f821f7-e2d4-470f-b099-93e8147586f6\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID: 0\r\n\r\nPUT
      https://pyacrstorage3c26v2dj7rsh.table.core.windows.net/uttablef12613d1(PartitionKey='pkf12613d1',RowKey='rkf12613d1')
      HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nIf-Match:
      W/\"datetime'2020-09-16T18%3A39%3A23.2045938Z'\"\r\nContent-Type: application/json\r\nAccept:
      application/json\r\nContent-Length: 353\r\nx-ms-date: Wed, 16 Sep 2020 18:39:23
      GMT\r\nDate: Wed, 16 Sep 2020 18:39:23 GMT\r\nx-ms-client-request-id: f0a8e4c4-f84b-11ea-b42e-58961df361d1\r\n\r\n{\"PartitionKey\":
      \"pkf12613d1\", \"PartitionKey@odata.type\": \"Edm.String\", \"RowKey\": \"rkf12613d1\",
      \"RowKey@odata.type\": \"Edm.String\", \"age\": \"abc\", \"age@odata.type\":
      \"Edm.String\", \"sex\": \"female\", \"sex@odata.type\": \"Edm.String\", \"sign\":
      \"aquarius\", \"sign@odata.type\": \"Edm.String\", \"birthday\": \"1991-10-04T00:00:00Z\",
      \"birthday@odata.type\": \"Edm.DateTime\"}\r\n--changeset_c1f821f7-e2d4-470f-b099-93e8147586f6--\r\n\r\n--batch_9d7196c2-1bd8-4f10-b241-9596f6c9fa5e--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batch_9d7196c2-1bd8-4f10-b241-9596f6c9fa5e
      DataServiceVersion:
      - '3.0'
      MaxDataServiceVersion:
      - 3.0;NetFx
      x-ms-date:
      - Wed, 16 Sep 2020 18:39:23 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body:
      string: "--batchresponse_510e16aa-70ae-41bb-a514-6c6aab464f9f\r\nContent-Type:
        multipart/mixed; boundary=changesetresponse_7d9db5e0-24cb-44cf-b236-cb4a4a5dacce\r\n\r\n--changesetresponse_7d9db5e0-24cb-44cf-b236-cb4a4a5dacce\r\nContent-Type:
        application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204
        No Content\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nDataServiceVersion:
        1.0;\r\nETag: W/\"datetime'2020-09-16T18%3A39%3A23.2382987Z'\"\r\n\r\n\r\n--changesetresponse_7d9db5e0-24cb-44cf-b236-cb4a4a5dacce--\r\n--batchresponse_510e16aa-70ae-41bb-a514-6c6aab464f9f--\r\n"
    headers:
      content-type: multipart/mixed; boundary=batchresponse_510e16aa-70ae-41bb-a514-6c6aab464f9f
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: https://pyacrstorage3c26v2dj7rsh.table.core.windows.net/$batch
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 16 Sep 2020 18:39:23 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.table.core.windows.net/uttablef12613d1(PartitionKey='pkf12613d1',RowKey='rkf12613d1')
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttablef12613d1/@Element","odata.etag":"W/\"datetime''2020-09-16T18%3A39%3A23.2382987Z''\"","PartitionKey":"pkf12613d1","RowKey":"rkf12613d1","Timestamp":"2020-09-16T18:39:23.2382987Z","age":"abc","birthday@odata.type":"Edm.DateTime","birthday":"1991-10-04T00:00:00Z","sex":"female","sign":"aquarius"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-09-16T18%3A39%3A23.2382987Z'"
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: https://pyacrstorage3c26v2dj7rsh.table.core.windows.net/uttablef12613d1(PartitionKey='pkf12613d1',RowKey='rkf12613d1')
version: 1
