{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 09 Mar 2022 09:45:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "1table"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidResourceName",
          "message": {
            "lang": "en-US",
            "value": "The specifed resource name contains invalid characters.\nRequestId:3e6aacda-7002-008b-559a-33ec3f000000\nTime:2022-03-09T09:45:05.1779051Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/1table",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 09 Mar 2022 09:45:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "bar",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidResourceName",
          "message": {
            "lang": "en-US",
            "value": "The specifed resource name contains invalid characters.\nRequestId:3e6aace5-7002-008b-5f9a-33ec3f000000\nTime:2022-03-09T09:45:05.2108852Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/1table(PartitionKey=\u0027foo\u0027,RowKey=\u0027foo\u0027)",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 09 Mar 2022 09:45:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "foo",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidResourceName",
          "message": {
            "lang": "en-US",
            "value": "The specifed resource name contains invalid characters.\nRequestId:3e6aace7-7002-008b-619a-33ec3f000000\nTime:2022-03-09T09:45:05.2268751Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/1table(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Wed, 09 Mar 2022 09:45:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidResourceName",
          "message": {
            "lang": "en-US",
            "value": "The specifed resource name contains invalid characters.\nRequestId:3e6aaceb-7002-008b-659a-33ec3f000000\nTime:2022-03-09T09:45:05.2428662Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/1table?comp=acl",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Mar 2022 09:45:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidResourceName",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": [
        "\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003Cm:error xmlns:m=\u0022http://schemas.microsoft.com/ado/2007/08/dataservices/metadata\u0022\u003E\u003Cm:code\u003EInvalidResourceName\u003C/m:code\u003E\u003Cm:message xml:lang=\u0022en-US\u0022\u003EThe specifed resource name contains invalid characters.\n",
        "RequestId:3e6aaced-7002-008b-679a-33ec3f000000\n",
        "Time:2022-03-09T09:45:05.2588570Z\u003C/m:message\u003E\u003C/m:error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_00000000-0000-0000-0000-000000000000",
        "DataServiceVersion": "3.0",
        "MaxDataServiceVersion": "3.0;NetFx",
        "x-ms-date": "Wed, 09 Mar 2022 09:45:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "LS1iYXRjaF8wY2FmMjMyMC02MDUyLTQ4YjEtOTExNy02Yjc4NDFmYzY1MTkNCkNvbnRlbnQtVHlwZTogbXVsdGlwYXJ0L21peGVkOyBib3VuZGFyeT1jaGFuZ2VzZXRfZTZkM2MyMWQtMmRkOS00ODE2LWIyZmItZmE0ODU2ZDZhZDYwDQoNCi0tY2hhbmdlc2V0X2U2ZDNjMjFkLTJkZDktNDgxNi1iMmZiLWZhNDg1NmQ2YWQ2MA0KQ29udGVudC1UeXBlOiBhcHBsaWNhdGlvbi9odHRwDQpDb250ZW50LVRyYW5zZmVyLUVuY29kaW5nOiBiaW5hcnkNCkNvbnRlbnQtSUQ6IDANCg0KUEFU[...]
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/aa",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 09 Mar 2022 09:45:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "bar",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "OutOfRangeInput",
          "message": {
            "lang": "en-US",
            "value": "The specified resource name length is not within the permissible limits.\nRequestId:3e6aad1c-7002-008b-129a-33ec3f000000\nTime:2022-03-09T09:45:05.4047727Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/aa(PartitionKey=\u0027foo\u0027,RowKey=\u0027foo\u0027)",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 09 Mar 2022 09:45:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "foo",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "OutOfRangeInput",
          "message": {
            "lang": "en-US",
            "value": "The specified resource name length is not within the permissible limits.\nRequestId:3e6aad20-7002-008b-169a-33ec3f000000\nTime:2022-03-09T09:45:05.4207630Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/aa(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Wed, 09 Mar 2022 09:45:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "OutOfRangeInput",
          "message": {
            "lang": "en-US",
            "value": "The specified resource name length is not within the permissible limits.\nRequestId:3e6aad22-7002-008b-189a-33ec3f000000\nTime:2022-03-09T09:45:05.4377530Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/aa?comp=acl",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Mar 2022 09:45:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "OutOfRangeInput",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": [
        "\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003Cm:error xmlns:m=\u0022http://schemas.microsoft.com/ado/2007/08/dataservices/metadata\u0022\u003E\u003Cm:code\u003EOutOfRangeInput\u003C/m:code\u003E\u003Cm:message xml:lang=\u0022en-US\u0022\u003EThe specified resource name length is not within the permissible limits.\n",
        "RequestId:3e6aad29-7002-008b-1f9a-33ec3f000000\n",
        "Time:2022-03-09T09:45:05.4537445Z\u003C/m:message\u003E\u003C/m:error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 09 Mar 2022 09:45:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "bar",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "OutOfRangeInput",
          "message": {
            "lang": "en-US",
            "value": "The specified resource name length is not within the permissible limits.\nRequestId:3e6aad5f-7002-008b-539a-33ec3f000000\nTime:2022-03-09T09:45:05.6016592Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa(PartitionKey=\u0027foo\u0027,RowKey=\u0027foo\u0027)",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 09 Mar 2022 09:45:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "foo",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "OutOfRangeInput",
          "message": {
            "lang": "en-US",
            "value": "The specified resource name length is not within the permissible limits.\nRequestId:3e6aad64-7002-008b-589a-33ec3f000000\nTime:2022-03-09T09:45:05.6176489Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Wed, 09 Mar 2022 09:45:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "OutOfRangeInput",
          "message": {
            "lang": "en-US",
            "value": "The specified resource name length is not within the permissible limits.\nRequestId:3e6aad6c-7002-008b-609a-33ec3f000000\nTime:2022-03-09T09:45:05.6306412Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa?comp=acl",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Mar 2022 09:45:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "OutOfRangeInput",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": [
        "\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003Cm:error xmlns:m=\u0022http://schemas.microsoft.com/ado/2007/08/dataservices/metadata\u0022\u003E\u003Cm:code\u003EOutOfRangeInput\u003C/m:code\u003E\u003Cm:message xml:lang=\u0022en-US\u0022\u003EThe specified resource name length is not within the permissible limits.\n",
        "RequestId:3e6aad74-7002-008b-689a-33ec3f000000\n",
        "Time:2022-03-09T09:45:05.6446335Z\u003C/m:message\u003E\u003C/m:error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/a%2F%2F",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 09 Mar 2022 09:45:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "bar",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "OutOfRangeInput",
          "message": {
            "lang": "en-US",
            "value": "The specified resource name length is not within the permissible limits.\nRequestId:3e6aada5-7002-008b-179a-33ec3f000000\nTime:2022-03-09T09:45:05.7885523Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/a%2F%2F(PartitionKey=\u0027foo\u0027,RowKey=\u0027foo\u0027)",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 09 Mar 2022 09:45:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "foo",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "OutOfRangeInput",
          "message": {
            "lang": "en-US",
            "value": "The specified resource name length is not within the permissible limits.\nRequestId:3e6aadac-7002-008b-1e9a-33ec3f000000\nTime:2022-03-09T09:45:05.8045413Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/a%2F%2F(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Wed, 09 Mar 2022 09:45:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "OutOfRangeInput",
          "message": {
            "lang": "en-US",
            "value": "The specified resource name length is not within the permissible limits.\nRequestId:3e6aadb5-7002-008b-279a-33ec3f000000\nTime:2022-03-09T09:45:05.8205316Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/a%2F%2F?comp=acl",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Mar 2022 09:45:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "OutOfRangeInput",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": [
        "\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003Cm:error xmlns:m=\u0022http://schemas.microsoft.com/ado/2007/08/dataservices/metadata\u0022\u003E\u003Cm:code\u003EOutOfRangeInput\u003C/m:code\u003E\u003Cm:message xml:lang=\u0022en-US\u0022\u003EThe specified resource name length is not within the permissible limits.\n",
        "RequestId:3e6aadba-7002-008b-2c9a-33ec3f000000\n",
        "Time:2022-03-09T09:45:05.8365224Z\u003C/m:message\u003E\u003C/m:error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/my_table",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 09 Mar 2022 09:45:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "bar",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidResourceName",
          "message": {
            "lang": "en-US",
            "value": "The specifed resource name contains invalid characters.\nRequestId:3e6aadd0-7002-008b-419a-33ec3f000000\nTime:2022-03-09T09:45:05.9764418Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/my_table(PartitionKey=\u0027foo\u0027,RowKey=\u0027foo\u0027)",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 09 Mar 2022 09:45:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "foo",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidResourceName",
          "message": {
            "lang": "en-US",
            "value": "The specifed resource name contains invalid characters.\nRequestId:3e6aadd3-7002-008b-449a-33ec3f000000\nTime:2022-03-09T09:45:05.9924325Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/my_table(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Wed, 09 Mar 2022 09:45:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidResourceName",
          "message": {
            "lang": "en-US",
            "value": "The specifed resource name contains invalid characters.\nRequestId:3e6aaddc-7002-008b-4c9a-33ec3f000000\nTime:2022-03-09T09:45:06.0084224Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/my_table?comp=acl",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Mar 2022 09:45:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidResourceName",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": [
        "\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003Cm:error xmlns:m=\u0022http://schemas.microsoft.com/ado/2007/08/dataservices/metadata\u0022\u003E\u003Cm:code\u003EInvalidResourceName\u003C/m:code\u003E\u003Cm:message xml:lang=\u0022en-US\u0022\u003EThe specifed resource name contains invalid characters.\n",
        "RequestId:3e6aadf0-7002-008b-5f9a-33ec3f000000\n",
        "Time:2022-03-09T09:45:06.0414036Z\u003C/m:message\u003E\u003C/m:error\u003E"
      ]
    },
[...]
