{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:32:18 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable6c292fae"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttable6c292fae\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable6c292fae"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable6c292fae",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:32:18 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk6c292fae",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "rk6c292fae",
        "RowKey@odata.type": "Edm.String",
        "large": "1125899906842624",
        "large@odata.type": "Edm.Int64"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-05-06T00%3A32%3A17.3766279Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.core.windows.net/uttable6c292fae(PartitionKey=\u0027pk6c292fae\u0027,RowKey=\u0027rk6c292fae\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable6c292fae/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-05-06T00%3A32%3A17.3766279Z\u0027\u0022",
        "PartitionKey": "pk6c292fae",
        "RowKey": "rk6c292fae",
        "Timestamp": "2022-05-06T00:32:17.3766279Z",
        "large@odata.type": "Edm.Int64",
        "large": "1125899906842624"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable6c292fae(PartitionKey=\u0027pk6c292fae\u0027,RowKey=\u0027rk6c292fae\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:32:18 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-05-06T00%3A32%3A17.3766279Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable6c292fae/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-05-06T00%3A32%3A17.3766279Z\u0027\u0022",
        "PartitionKey": "pk6c292fae",
        "RowKey": "rk6c292fae",
        "Timestamp": "2022-05-06T00:32:17.3766279Z",
        "large@odata.type": "Edm.Int64",
        "large": "1125899906842624"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable6c292fae(PartitionKey=\u0027pk6c292fae\u0027,RowKey=\u0027negative\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:32:18 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-05-06T00%3A32%3A17.4126083Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable6c292fae/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-05-06T00%3A32%3A17.4126083Z\u0027\u0022",
        "PartitionKey": "pk6c292fae",
        "RowKey": "negative",
        "Timestamp": "2022-05-06T00:32:17.4126083Z",
        "large@odata.type": "Edm.Int64",
        "large": "-1125899906842625"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:32:18 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "uttable6c292fae"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttable6c292fae\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 May 2022 00:32:18 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
