interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 17 Nov 2020 01:35:02 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('pytablesync71e81e6f')
  response:
    body:
      string: "{\"odata.error\":{\"code\":\"ResourceNotFound\",\"message\":{\"lang\"\
        :\"en-us\",\"value\":\"The specified resource does not exist.\\nRequestID:1ca38054-2875-11eb-86e7-58961df361d1\\\
        n\"}}}\r\n"
    headers:
      content-type:
      - application/json;odata=fullmetadata
    status:
      code: 404
      message: Not Found
version: 1
