interactions:
- request:
    body: '{"TableName": "uttablec46617fa"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 02 Sep 2020 21:17:32 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttablec46617fa"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://storagename.table.core.windows.net/Tables('uttablec46617fa')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://pyacrstoragewfzwusgqqhrx.table.core.windows.net/Tables
- request:
    body: '{"PartitionKey": "pkc46617fa", "RowKey": "rkc46617fa", "age": 39, "sex":
      "male", "married": true, "deceased": false, "ratio": 3.1, "evenratio": 3.0,
      "large": 933311100, "Birthday": "1973-10-04T00:00:00Z", "Birthday@odata.type":
      "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type": "Edm.DateTime",
      "binary": "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other": 20, "clsid":
      "c9da6455-213d-42c9-9a79-3e9149a57833", "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 02 Sep 2020 21:17:32 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/uttablec46617fa
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttablec46617fa/@Element","odata.etag":"W/\"datetime''2020-09-02T21%3A17%3A33.2071468Z''\"","PartitionKey":"pkc46617fa","RowKey":"rkc46617fa","Timestamp":"2020-09-02T21:17:33.2071468Z","age":39,"sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large":933311100,"Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-09-02T21%3A17%3A33.2071468Z'"
      location: https://storagename.table.core.windows.net/uttablec46617fa(PartitionKey='pkc46617fa',RowKey='rkc46617fa')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://pyacrstoragewfzwusgqqhrx.table.core.windows.net/uttablec46617fa
- request:
    body: '{"PartitionKey": "pkc46617fa", "RowKey": "rkc46617fa", "age": "abc", "sex":
      "female", "sign": "aquarius", "birthday": "1991-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - '3.0'
      If-Match:
      - W/"datetime'2020-09-02T21%3A17%3A33.2071468Z'"
      x-ms-date:
      - Wed, 02 Sep 2020 21:17:32 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.table.core.windows.net/uttablec46617fa(PartitionKey='pkc46617fa',RowKey='rkc46617fa')
  response:
    body:
      string: ''
    headers:
      etag: W/"datetime'2020-09-02T21%3A17%3A33.2379829Z'"
      x-ms-version: '2019-02-02'
    status:
      code: 204
      message: No Content
    url: https://pyacrstoragewfzwusgqqhrx.table.core.windows.net/uttablec46617fa(PartitionKey='pkc46617fa',RowKey='rkc46617fa')
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 02 Sep 2020 21:17:32 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttablec46617fa')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 204
      message: No Content
    url: https://pyacrstoragewfzwusgqqhrx.table.core.windows.net/Tables('uttablec46617fa')
version: 1
