{
  "Entries": [
    {
      "RequestUri": "https://yalltbtestsprim.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 20 Sep 2021 22:03:46 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022TableName\u0022: \u0022uttable36ee3160\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://yalltbtestsprim.table.core.windows.net/Tables(\u0027uttable36ee3160\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltbtestsprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable36ee3160"
      }
    },
    {
      "RequestUri": "https://yalltbtestsprim.table.core.windows.net/uttable36ee3160",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 20 Sep 2021 22:03:46 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022RowKey\u0022: \u0022rk\u0022, \u0022RowKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022PartitionKey\u0022: \u0022\u0022, \u0022PartitionKey@odata.type\u0022: \u0022Edm.String\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272021-09-20T22%3A03%3A46.6305178Z\u0027\u0022",
        "Location": "https://yalltbtestsprim.table.core.windows.net/uttable36ee3160(PartitionKey=\u0027\u0027,RowKey=\u0027rk\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltbtestsprim.table.core.windows.net/$metadata#uttable36ee3160/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-09-20T22%3A03%3A46.6305178Z\u0027\u0022",
        "PartitionKey": "",
        "RowKey": "rk",
        "Timestamp": "2021-09-20T22:03:46.6305178Z"
      }
    },
    {
      "RequestUri": "https://yalltbtestsprim.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 20 Sep 2021 22:03:46 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltbtestsprim.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "uttable36ee3160"
          }
        ]
      }
    },
    {
      "RequestUri": "https://yalltbtestsprim.table.core.windows.net/Tables(\u0027uttable36ee3160\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 Sep 2021 22:03:46 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
