interactions:
- request:
    body: '{"TableName": "uttable5e2210bc"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:23:25 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable5e2210bc"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://tablesteststorname.table.core.windows.net/Tables('uttable5e2210bc')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://tablestestxjz4vq7ewcdgud.table.core.windows.net/Tables
- request:
    body: "--batch_95d7c872-8786-4ae1-b2f5-b6c964d287a4\r\nContent-Type: multipart/mixed;
      boundary=changeset_72b6e95b-2609-4fc6-a5af-7e3dd62c1ff2\r\n\r\n--changeset_72b6e95b-2609-4fc6-a5af-7e3dd62c1ff2\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID: 0\r\n\r\nPOST
      https://tablestestxjz4vq7ewcdgud.table.core.windows.net/uttable5e2210bc HTTP/1.1\r\nPrefer:
      return-no-content\r\nContent-Type: application/json;odata=nometadata\r\nx-ms-version:
      2019-02-02\r\nDataServiceVersion: 3.0\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Length:
      223\r\nx-ms-date: Sat, 07 Nov 2020 01:23:25 GMT\r\nDate: Sat, 07 Nov 2020 01:23:25
      GMT\r\nx-ms-client-request-id: d580badb-2097-11eb-873f-58961df361d1\r\n\r\n{\"test3\":
      3, \"PartitionKey\": \"batch_inserts\", \"RowKey\": \"0\", \"test\": true, \"test4\":
      1234567890, \"RowKey@odata.type\": \"Edm.String\", \"test2@odata.type\": \"Edm.String\",
      \"test2\": \"value\", \"PartitionKey@odata.type\": \"Edm.String\"}\r\n--changeset_72b6e95b-2609-4fc6-a5af-7e3dd62c1ff2\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID: 1\r\n\r\nPOST
      https://tablestestxjz4vq7ewcdgud.table.core.windows.net/uttable5e2210bc HTTP/1.1\r\nPrefer:
      return-no-content\r\nContent-Type: application/json;odata=nometadata\r\nx-ms-version:
      2019-02-02\r\nDataServiceVersion: 3.0\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Length:
      223\r\nx-ms-date[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:23:26 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablesteststorname.table.core.windows.net/uttable5e2210bc()?$filter=PartitionKey%20eq%20'batch_inserts'
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttable5e2210bc","value":[{"odata.etag":"W/\"datetime''2020-11-07T01%3A23%3A26.9017311Z''\"","PartitionKey":"batch_inserts","RowKey":"0","Timestamp":"2020-11-07T01:23:26.9017311Z","test3":3,"test":true,"test4":1234567890,"test2":"value"},{"odata.etag":"W/\"datetime''2020-11-07T01%3A23%3A26.9017311Z''\"","PartitionKey":"batch_inserts","RowKey":"1","Timestamp":"2020-11-07T01:23:26.9017311Z","test3":3,"test":true,"test4":1234567890,"test2":"value"},{"odata.etag":"W/\"datetime''2020-11-07T01%3A23%3A26.9017311Z''\"","PartitionKey":"batch_inserts","RowKey":"10","Timestamp":"2020-11-07T01:23:26.9017311Z","test3":3,"test":true,"test4":1234567890,"te[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 Nov 2020 01:23:26 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablesteststorname.table.core.windows.net/Tables('uttable5e2210bc')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 204
      message: No Content
    url: https://tablestestxjz4vq7ewcdgud.table.core.windows.net/Tables('uttable5e2210bc')
version: 1
