interactions:
- request:
    body: '{"TableName": "uttablee0e6189d"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 18 Sep 2020 20:39:46 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttablee0e6189d","odata.metadata":"https://cosmostestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-18T20%3A39%3A46.9402119Z'"
      location: https://cosmostestcosmosname.table.cosmos.azure.com/Tables('uttablee0e6189d')
    status:
      code: 201
      message: Ok
    url: https://cosmostables7jyy4tyvaxat.table.cosmos.azure.com/Tables
- request:
    body: '{"PartitionKey": "pke0e6189d", "RowKey": "rke0e6189d", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "married": true, "deceased": false, "ratio": 3.1,
      "evenratio": 3.0, "large": "933311100", "large@odata.type": "Edm.Int64", "Birthday":
      "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z",
      "birthday@odata.type": "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type":
      "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 18 Sep 2020 20:39:47 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostestcosmosname.table.cosmos.azure.com/uttablee0e6189d
  response:
    body:
      string: '{"odata.metadata":"https://cosmostestcosmosname.table.cosmos.azure.com/uttablee0e6189d/$metadata#uttablee0e6189d/@Element","odata.etag":"W/\"datetime''2020-09-18T20%3A39%3A47.4432007Z''\"","PartitionKey":"pke0e6189d","RowKey":"rke0e6189d","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Timestamp":"2020-09-18T20:39:47.4432007Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-18T20%3A39%3A47.4432007Z'"
      location: https://cosmostestcosmosname.table.cosmos.azure.com/uttablee0e6189d(PartitionKey='pke0e6189d',RowKey='rke0e6189d')
    status:
      code: 201
      message: Created
    url: https://cosmostables7jyy4tyvaxat.table.cosmos.azure.com/uttablee0e6189d
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 18 Sep 2020 20:39:47 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://cosmostestcosmosname.table.cosmos.azure.com/Tables('uttablee0e6189d')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://cosmostables7jyy4tyvaxat.table.cosmos.azure.com/Tables('uttablee0e6189d')
version: 1
