interactions:
- request:
    body: '{"TableName": "uttablef0c20dcc"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 19 Aug 2020 19:17:14 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttablef0c20dcc"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://storagename.table.core.windows.net/Tables('uttablef0c20dcc')
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: "--batch_b3f94fdb-e1cd-4216-8739-23e499422706\r\nContent-Type: multipart/mixed;
      boundary=changeset_8fc24677-141c-47e2-92bd-dd2403c1e89b\r\n\r\n--changeset_8fc24677-141c-47e2-92bd-dd2403c1e89b\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID: 0\r\n\r\nPOST
      https://pyacrstoragenkyeai74ujmb.table.core.windows.net HTTP/1.1\r\nx-ms-version:
      2019-07-07\r\nDataServiceVersion: 3.0\r\nContent-Type: application/json;odata=nometadata\r\nAccept:
      application/json;odata=minimalmetadata\r\nContent-Length: 253\r\nx-ms-date:
      Wed, 19 Aug 2020 19:17:14 GMT\r\nDate: Wed, 19 Aug 2020 19:17:14 GMT\r\nx-ms-client-request-id:
      9729b0c1-e250-11ea-92a6-002b67128e4c\r\nAuthorization: SharedKey pyacrstoragenkyeai74ujmb:0tCNgVju2tetkBJLzUYeGlbTFU7+4SZnzg+3782LBLo=\r\n\r\n{\"PartitionKey\":
      \"001\", \"RowKey\": \"batch_insert\", \"test\": true, \"test2\": \"value\",
      \"test3\": \"3\", \"test3@odata.type\": \"Edm.Int64\", \"test4\": \"1234567890\",
      \"test4@odata.type\": \"Edm.Int64\", \"test5\": \"2020-08-19T19:17:14Z\", \"test5@odata.type\":
      \"Edm.DateTime\"}\r\n--changeset_8fc24677-141c-47e2-92bd-dd2403c1e89b--\r\n\r\n--batch_b3f94fdb-e1cd-4216-8739-23e499422706--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batch_b3f94fdb-e1cd-4216-8739-23e499422706
      DataServiceVersion:
      - '3.0'
      MaxDataServiceVersion:
      - 3.0;NetFx
      x-ms-date:
      - Wed, 19 Aug 2020 19:17:14 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body:
      string: "--batchresponse_86a4547a-05c4-4259-b88f-b4af09450694\r\nContent-Type:
        multipart/mixed; boundary=changesetresponse_4aaca2a9-5a91-4dc4-bbb2-61b8ef41bf0b\r\n\r\n--changesetresponse_4aaca2a9-5a91-4dc4-bbb2-61b8ef41bf0b\r\nContent-Type:
        application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 405
        Method Not Allowed\r\nX-Content-Type-Options: nosniff\r\nDataServiceVersion:
        3.0;\r\nContent-Type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8\r\n\r\n{\"odata.error\":{\"code\":\"MethodNotAllowed\",\"message\":{\"lang\":\"en-US\",\"value\":\"0:The
        requested method is not allowed on the specified resource.\\nRequestId:d2de8117-9002-0070-7e5d-76e394000000\\nTime:2020-08-19T19:17:15.0662050Z\"}}}\r\n--changesetresponse_4aaca2a9-5a91-4dc4-bbb2-61b8ef41bf0b--\r\n--batchresponse_86a4547a-05c4-4259-b88f-b4af09450694--\r\n"
    headers:
      content-type:
      - multipart/mixed; boundary=batchresponse_86a4547a-05c4-4259-b88f-b4af09450694
      x-ms-version:
      - '2019-07-07'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Aug 2020 19:17:15 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttablef0c20dcc')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-07-07'
    status:
      code: 204
      message: No Content
version: 1
