interactions:
- request:
    body: '{"TableName": "uttable65261622"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 23 Sep 2020 23:16:41 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable65261622"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://tablesteststorname.table.core.windows.net/Tables('uttable65261622')
      x-ms-version: '2019-07-07'
    status:
      code: 201
      message: Created
    url: https://tablestesthqucsobaj5c3zh.table.core.windows.net/Tables
- request:
    body: '{"PartitionKey": "pk65261622", "RowKey": "rk65261622", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "married": true, "deceased": false, "ratio": 3.1,
      "evenratio": 3.0, "large": "933311100", "large@odata.type": "Edm.Int64", "Birthday":
      "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z",
      "birthday@odata.type": "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type":
      "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 23 Sep 2020 23:16:41 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/uttable65261622
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttable65261622/@Element","odata.etag":"W/\"datetime''2020-09-23T23%3A16%3A41.0908172Z''\"","PartitionKey":"pk65261622","RowKey":"rk65261622","Timestamp":"2020-09-23T23:16:41.0908172Z","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-09-23T23%3A16%3A41.0908172Z'"
      location: https://tablesteststorname.table.core.windows.net/uttable65261622(PartitionKey='pk65261622',RowKey='rk65261622')
      x-ms-version: '2019-07-07'
    status:
      code: 201
      message: Created
    url: https://tablestesthqucsobaj5c3zh.table.core.windows.net/uttable65261622
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 23 Sep 2020 23:16:41 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://tablesteststorname.table.core.windows.net/uttable65261622()?st=2020-09-23T23:15:41Z&se=2020-09-24T00:16:41Z&sp=r&sv=2019-02-02&tn=UTTABLE65261622&sig=7oJ06lt3N1qmx65lac/O21F3VmvFTHnWQodFlGDGjX4%3D
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttable65261622","value":[{"odata.etag":"W/\"datetime''2020-09-23T23%3A16%3A41.0908172Z''\"","PartitionKey":"pk65261622","RowKey":"rk65261622","Timestamp":"2020-09-23T23:16:41.0908172Z","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}]}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version: '2019-07-07'
    status:
      code: 200
      message: OK
    url: https://tablestesthqucsobaj5c3zh.table.core.windows.net/uttable65261622()?st=2020-09-23T23:15:41Z&se=2020-09-24T00:16:41Z&sp=r&sv=2019-02-02&tn=UTTABLE65261622&sig=7oJ06lt3N1qmx65lac/O21F3VmvFTHnWQodFlGDGjX4%3D
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Sep 2020 23:16:41 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://tablesteststorname.table.core.windows.net/Tables('uttable65261622')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-07-07'
    status:
      code: 204
      message: No Content
    url: https://tablestesthqucsobaj5c3zh.table.core.windows.net/Tables('uttable65261622')
version: 1
