interactions:
- request:
    body: '{"TableName": "uttable7a971b06"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 28 Oct 2020 21:39:12 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable7a971b06"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://tablesteststorname.table.core.windows.net/Tables('uttable7a971b06')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://tablestest76lamjwosmj7e7.table.core.windows.net/Tables
- request:
    body: '{"PartitionKey": "pk7a971b06", "PartitionKey@odata.type": "Edm.String",
      "RowKey": "rk7a971b06", "RowKey@odata.type": "Edm.String", "large": "1125899906842624",
      "large@odata.type": "Edm.Int64"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 28 Oct 2020 21:39:13 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/uttable7a971b06
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttable7a971b06/@Element","odata.etag":"W/\"datetime''2020-10-28T21%3A39%3A13.3832307Z''\"","PartitionKey":"pk7a971b06","RowKey":"rk7a971b06","Timestamp":"2020-10-28T21:39:13.3832307Z","large@odata.type":"Edm.Int64","large":"1125899906842624"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-10-28T21%3A39%3A13.3832307Z'"
      location: https://tablesteststorname.table.core.windows.net/uttable7a971b06(PartitionKey='pk7a971b06',RowKey='rk7a971b06')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://tablestest76lamjwosmj7e7.table.core.windows.net/uttable7a971b06
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 28 Oct 2020 21:39:13 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablesteststorname.table.core.windows.net/uttable7a971b06(PartitionKey='pk7a971b06',RowKey='rk7a971b06')
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttable7a971b06/@Element","odata.etag":"W/\"datetime''2020-10-28T21%3A39%3A13.3832307Z''\"","PartitionKey":"pk7a971b06","RowKey":"rk7a971b06","Timestamp":"2020-10-28T21:39:13.3832307Z","large@odata.type":"Edm.Int64","large":"1125899906842624"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-10-28T21%3A39%3A13.3832307Z'"
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: https://tablestest76lamjwosmj7e7.table.core.windows.net/uttable7a971b06(PartitionKey='pk7a971b06',RowKey='rk7a971b06')
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 28 Oct 2020 21:39:13 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablesteststorname.table.core.windows.net/uttable7a971b06(PartitionKey='pk7a971b06',RowKey='negative')
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttable7a971b06/@Element","odata.etag":"W/\"datetime''2020-10-28T21%3A39%3A13.5623599Z''\"","PartitionKey":"pk7a971b06","RowKey":"negative","Timestamp":"2020-10-28T21:39:13.5623599Z","large@odata.type":"Edm.Int64","large":"-1125899906842625"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-10-28T21%3A39%3A13.5623599Z'"
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: https://tablestest76lamjwosmj7e7.table.core.windows.net/uttable7a971b06(PartitionKey='pk7a971b06',RowKey='negative')
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 28 Oct 2020 21:39:14 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablesteststorname.table.core.windows.net/Tables('uttable7a971b06')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 204
      message: No Content
    url: https://tablestest76lamjwosmj7e7.table.core.windows.net/Tables('uttable7a971b06')
version: 1
