interactions:
- request:
    body: '{"TableName": "uttablee11613af"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 26 Oct 2020 23:37:05 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttablee11613af","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-10-26T23%3A37%3A03.6690439Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttablee11613af')
    status:
      code: 201
      message: Ok
    url: https://tablestest3pvy4npjbpqk33.table.cosmos.azure.com/Tables
- request:
    body: "--batch_fa5200ab-1fa0-4d72-b60c-57d6e3049fab\r\nContent-Type: multipart/mixed;\
      \ boundary=changeset_e3c3644a-4089-42b2-bed9-b0401f5cae5d\r\n\r\n--changeset_e3c3644a-4089-42b2-bed9-b0401f5cae5d\r\
      \nContent-Type: application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID:\
      \ 0\r\n\r\nPOST https://tablestest3pvy4npjbpqk33.table.cosmos.azure.com/uttablee11613af\
      \ HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nPrefer:\
      \ return-no-content\r\nContent-Type: application/json;odata=nometadata\r\nAccept:\
      \ application/json;odata=minimalmetadata\r\nContent-Length: 223\r\nx-ms-date:\
      \ Mon, 26 Oct 2020 23:37:08 GMT\r\nDate: Mon, 26 Oct 2020 23:37:08 GMT\r\nx-ms-client-request-id:\
      \ 298453d3-17e4-11eb-9964-58961df361d1\r\n\r\n{\"PartitionKey\": \"batch_inserts\"\
      , \"PartitionKey@odata.type\": \"Edm.String\", \"test\": true, \"test2\": \"\
      value\", \"test2@odata.type\": \"Edm.String\", \"test3\": 3, \"test4\": 1234567890,\
      \ \"RowKey\": \"0\", \"RowKey@odata.type\": \"Edm.String\"}\r\n--changeset_e3c3644a-4089-42b2-bed9-b0401f5cae5d\r\
      \nContent-Type: application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID:\
      \ 1\r\n\r\nPOST https://tablestest3pvy4npjbpqk33.table.cosmos.azure.com/uttablee11613af\
      \ HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nPrefer:\
      \ return-no-content\r\nContent-Type: application/json;odata=nometadata\r\nAccept:\
      \ application/json;odata=minimalmetadata\r\nContent-Length: 22[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 26 Oct 2020 23:37:08 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttablee11613af()
  response:
    body:
      string: '{"value":[{"odata.etag":"W/\"datetime''2020-10-26T23%3A37%3A04.2514951Z''\"","PartitionKey":"batch_inserts","test":true,"test2":"value","test3":3,"test4":1234567890,"RowKey":"0","Timestamp":"2020-10-26T23:37:04.2514951Z"},{"odata.etag":"W/\"datetime''2020-10-26T23%3A37%3A04.2523143Z''\"","PartitionKey":"batch_inserts","test":true,"test2":"value","test3":3,"test4":1234567890,"RowKey":"1","Timestamp":"2020-10-26T23:37:04.2523143Z"},{"odata.etag":"W/\"datetime''2020-10-26T23%3A37%3A04.2529287Z''\"","PartitionKey":"batch_inserts","test":true,"test2":"value","test3":3,"test4":1234567890,"RowKey":"2","Timestamp":"2020-10-26T23:37:04.2529287Z"},{"odata.etag":"W/\"datetime''2020-10-26T23%3[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 26 Oct 2020 23:37:08 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttablee11613af')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://tablestest3pvy4npjbpqk33.table.cosmos.azure.com/Tables('uttablee11613af')
version: 1
