interactions:
- request:
    body: '{"TableName": "uttable87d916bd"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 16 Sep 2020 18:39:22 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable87d916bd"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://storagename.table.core.windows.net/Tables('uttable87d916bd')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://pyacrstorage3c26v2dj7rsh.table.core.windows.net/Tables
- request:
    body: '{"PartitionKey": "pk87d916bd", "PartitionKey@odata.type": "Edm.String",
      "RowKey": "rk87d916bd", "RowKey@odata.type": "Edm.String", "age": 39, "sex":
      "male", "sex@odata.type": "Edm.String", "married": true, "deceased": false,
      "ratio": 3.1, "evenratio": 3.0, "large": 933311100, "Birthday": "1973-10-04T00:00:00Z",
      "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other":
      20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 16 Sep 2020 18:39:22 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/uttable87d916bd
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable87d916bd/@Element","odata.etag":"W/\"datetime''2020-09-16T18%3A39%3A22.9849835Z''\"","PartitionKey":"pk87d916bd","RowKey":"rk87d916bd","Timestamp":"2020-09-16T18:39:22.9849835Z","age":39,"sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large":933311100,"Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-09-16T18%3A39%3A22.9849835Z'"
      location: https://storagename.table.core.windows.net/uttable87d916bd(PartitionKey='pk87d916bd',RowKey='rk87d916bd')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://pyacrstorage3c26v2dj7rsh.table.core.windows.net/uttable87d916bd
- request:
    body: "--batch_4d7500b2-8d10-4e55-9676-49cedb76a4fc\r\nContent-Type: multipart/mixed;
      boundary=changeset_5714762d-3c35-431b-b103-8a3393b39881\r\n\r\n--changeset_5714762d-3c35-431b-b103-8a3393b39881\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID: 0\r\n\r\nPATCH
      https://pyacrstorage3c26v2dj7rsh.table.core.windows.net/uttable87d916bd(PartitionKey='pk87d916bd',RowKey='rk87d916bd')
      HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nIf-Match:
      W/\"datetime'2012-06-15T22%3A51%3A44.9662825Z'\"\r\nContent-Type: application/json\r\nAccept:
      application/json\r\nContent-Length: 353\r\nx-ms-date: Wed, 16 Sep 2020 18:39:22
      GMT\r\nDate: Wed, 16 Sep 2020 18:39:22 GMT\r\nx-ms-client-request-id: f08755b7-f84b-11ea-a274-58961df361d1\r\n\r\n{\"PartitionKey\":
      \"pk87d916bd\", \"PartitionKey@odata.type\": \"Edm.String\", \"RowKey\": \"rk87d916bd\",
      \"RowKey@odata.type\": \"Edm.String\", \"age\": \"abc\", \"age@odata.type\":
      \"Edm.String\", \"sex\": \"female\", \"sex@odata.type\": \"Edm.String\", \"sign\":
      \"aquarius\", \"sign@odata.type\": \"Edm.String\", \"birthday\": \"1991-10-04T00:00:00Z\",
      \"birthday@odata.type\": \"Edm.DateTime\"}\r\n--changeset_5714762d-3c35-431b-b103-8a3393b39881--\r\n\r\n--batch_4d7500b2-8d10-4e55-9676-49cedb76a4fc--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batch_4d7500b2-8d10-4e55-9676-49cedb76a4fc
      DataServiceVersion:
      - '3.0'
      MaxDataServiceVersion:
      - 3.0;NetFx
      x-ms-date:
      - Wed, 16 Sep 2020 18:39:22 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body:
      string: "--batchresponse_953615ba-469b-4fe4-93a6-0784bc48a567\r\nContent-Type:
        multipart/mixed; boundary=changesetresponse_1eebb72c-2568-417f-8879-d4ef39fa38be\r\n\r\n--changesetresponse_1eebb72c-2568-417f-8879-d4ef39fa38be\r\nContent-Type:
        application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 412
        Precondition Failed\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nDataServiceVersion:
        3.0;\r\nContent-Type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8\r\n\r\n{\"odata.error\":{\"code\":\"UpdateConditionNotSatisfied\",\"message\":{\"lang\":\"en-US\",\"value\":\"The
        update condition specified in the request was not satisfied.\\nRequestId:d10d5ed3-5002-002f-2158-8cee92000000\\nTime:2020-09-16T18:39:23.0190078Z\"}}}\r\n--changesetresponse_1eebb72c-2568-417f-8879-d4ef39fa38be--\r\n--batchresponse_953615ba-469b-4fe4-93a6-0784bc48a567--\r\n"
    headers:
      content-type: multipart/mixed; boundary=batchresponse_953615ba-469b-4fe4-93a6-0784bc48a567
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: https://pyacrstorage3c26v2dj7rsh.table.core.windows.net/$batch
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 16 Sep 2020 18:39:23 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.table.core.windows.net/uttable87d916bd(PartitionKey='pk87d916bd',RowKey='rk87d916bd')
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable87d916bd/@Element","odata.etag":"W/\"datetime''2020-09-16T18%3A39%3A22.9849835Z''\"","PartitionKey":"pk87d916bd","RowKey":"rk87d916bd","Timestamp":"2020-09-16T18:39:22.9849835Z","age":39,"sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large":933311100,"Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-09-16T18%3A39%3A22.9849835Z'"
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: https://pyacrstorage3c26v2dj7rsh.table.core.windows.net/uttable87d916bd(PartitionKey='pk87d916bd',RowKey='rk87d916bd')
version: 1
