interactions:
- request:
    body: '{"TableName": "uttable3c8f15ab"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 01 Oct 2020 01:16:56 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttable3c8f15ab","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-10-01T01%3A16%3A56.8899591Z'"
      location:
      - https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable3c8f15ab')
    status:
      code: 201
      message: Ok
- request:
    body: '{"PartitionKey": "pk3c8f15ab", "PartitionKey@odata.type": "Edm.String",
      "RowKey": "rk3c8f15ab", "RowKey@odata.type": "Edm.String", "Description": "\ua015",
      "Description@odata.type": "Edm.String"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 01 Oct 2020 01:16:57 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable3c8f15ab
  response:
    body:
      string: "{\"odata.metadata\":\"https://tablestestcosmosname.table.cosmos.azure.com/uttable3c8f15ab/$metadata#uttable3c8f15ab/@Element\",\"odata.etag\":\"W/\\\"datetime'2020-10-01T01%3A16%3A57.3673479Z'\\\"\",\"PartitionKey\":\"pk3c8f15ab\",\"RowKey\":\"rk3c8f15ab\",\"Description\":\"\uA015\",\"Timestamp\":\"2020-10-01T01:16:57.3673479Z\"}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-10-01T01%3A16%3A57.3673479Z'"
      location:
      - https://tablestestcosmosname.table.cosmos.azure.com/uttable3c8f15ab(PartitionKey='pk3c8f15ab',RowKey='rk3c8f15ab')
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 01 Oct 2020 01:16:57 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable3c8f15ab()
  response:
    body:
      string: "{\"value\":[{\"odata.etag\":\"W/\\\"datetime'2020-10-01T01%3A16%3A57.3673479Z'\\\"\",\"PartitionKey\":\"pk3c8f15ab\",\"RowKey\":\"rk3c8f15ab\",\"Description\":\"\uA015\",\"Timestamp\":\"2020-10-01T01:16:57.3673479Z\"},{\"odata.etag\":\"W/\\\"datetime'2020-10-01T01%3A16%3A57.4277639Z'\\\"\",\"PartitionKey\":\"pk3c8f15ab\",\"RowKey\":\"test2\",\"Description\":\"\uA015\",\"Timestamp\":\"2020-10-01T01:16:57.4277639Z\"}],\"odata.metadata\":\"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#uttable3c8f15ab\"}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 01 Oct 2020 01:16:57 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable3c8f15ab')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 01 Oct 2020 01:16:57 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"value":[{"TableName":"querytable981b173a"},{"TableName":"listtable33a8d15b3"},{"TableName":"querytable9c05125e"},{"TableName":"listtable13a8d15b3"},{"TableName":"listtable0d2351374"},{"TableName":"pytableasync52bb107b"},{"TableName":"listtable23a8d15b3"},{"TableName":"listtable2d2351374"},{"TableName":"querytable2da719db"},{"TableName":"querytablefe63147d"},{"TableName":"listtable03a8d15b3"},{"TableName":"querytablec80b1810"},{"TableName":"listtable3d2351374"},{"TableName":"querytable5436162b"},{"TableName":"listtable1d2351374"}],"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
    status:
      code: 200
      message: Ok
version: 1
