{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 03 Nov 2022 18:07:57 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable114b3515"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-11-03T18%3A07%3A57.0990087Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttable114b3515\u0027)"
      },
      "ResponseBody": {
        "TableName": "uttable114b3515",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable114b3515",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 03 Nov 2022 18:07:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk114b3515",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "rk114b3515",
        "RowKey@odata.type": "Edm.String",
        "large": "1125899906842624",
        "large@odata.type": "Edm.Int64"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-11-03T18%3A07%3A57.4966279Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/uttable114b3515(PartitionKey=\u0027pk114b3515\u0027,RowKey=\u0027rk114b3515\u0027)"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable114b3515/$metadata#uttable114b3515/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-11-03T18%3A07%3A57.4966279Z\u0027\u0022",
        "PartitionKey": "pk114b3515",
        "RowKey": "rk114b3515",
        "large@odata.type": "Edm.Int64",
        "large": "1125899906842624",
        "Timestamp": "2022-11-03T18:07:57.4966279Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable114b3515(PartitionKey=\u0027pk114b3515\u0027,RowKey=\u0027rk114b3515\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 03 Nov 2022 18:07:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-11-03T18%3A07%3A57.4966279Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable114b3515/$metadata#uttable114b3515/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-11-03T18%3A07%3A57.4966279Z\u0027\u0022",
        "PartitionKey": "pk114b3515",
        "RowKey": "rk114b3515",
        "large@odata.type": "Edm.Int64",
        "large": "1125899906842624",
        "Timestamp": "2022-11-03T18:07:57.4966279Z"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable114b3515(PartitionKey=\u0027pk114b3515\u0027,RowKey=\u0027negative\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 03 Nov 2022 18:07:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-11-03T18%3A07%3A57.5820295Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable114b3515/$metadata#uttable114b3515/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-11-03T18%3A07%3A57.5820295Z\u0027\u0022",
        "PartitionKey": "pk114b3515",
        "RowKey": "negative",
        "large@odata.type": "Edm.Int64",
        "large": "-1125899906842625",
        "Timestamp": "2022-11-03T18:07:57.5820295Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 03 Nov 2022 18:07:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "TableName": "uttable114b3515"
          }
        ],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttable114b3515\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Thu, 03 Nov 2022 18:07:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
