{
  "Entries": [
    {
      "RequestUri": "https://yalltablestestsprim.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 16 Sep 2021 09:49:57 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022TableName\u0022: \u0022uttable97df3210\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://yalltablestestsprim.table.core.windows.net/Tables(\u0027uttable97df3210\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltablestestsprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable97df3210"
      }
    },
    {
      "RequestUri": "https://yalltablestestsprim.table.core.windows.net/uttable97df3210",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 16 Sep 2021 09:49:57 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022: \u0022pk97df3210\u0022, \u0022PartitionKey@odata.type\u0022: \[...]
    {
      "RequestUri": "https://yalltablestestsprim.table.core.windows.net/uttable97df3210(PartitionKey=\u0027pk97df3210\u0027,RowKey=\u0027rk97df3210\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 16 Sep 2021 09:49:57 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272021-09-16T09%3A49%3A56.3775226Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltablestestsprim.table.core.windows.net/$metadata#uttable97df3210/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-09-16T09%3A49%3A56.3775226Z\u0027\u0022",
        "PartitionKey": "pk97df3210",
        "RowKey": "rk97df3210",
        "Timestamp": "2021-09-16T09:49:56.3775226Z",
        "EmptyByte@odata.type": "Edm.Binary",
        "EmptyByte": "",
        "EmptyUnicode": "",
        "SpacesOnlyByte@odata.type": "Edm.Binary",
        "SpacesOnlyByte": "ICAg",
        "SpacesOnlyUnicode": "   ",
        "SpacesBeforeByte@odata.type": "Edm.Binary",
        "SpacesBeforeByte": "ICAgVGV4dA==",
        "SpacesBeforeUnicode": "   Text",
        "SpacesAfterByte@odata.type": "Edm.Binary",
        "SpacesAfterByte": "VGV4dCAgIA==",
        "SpacesAfterUnicode": "Text   ",
        "SpacesBeforeAndAfterByte@odata.type": "Edm.Binary",
        "SpacesBeforeAndAfterByte": "ICAgVGV4dCAgIA==",
        "SpacesBeforeAndAfterUnicode": "   Text   "
      }
    },
    {
      "RequestUri": "https://yalltablestestsprim.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 16 Sep 2021 09:49:57 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltablestestsprim.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "uttable97df3210"
          }
        ]
      }
    },
    {
      "RequestUri": "https://yalltablestestsprim.table.core.windows.net/Tables(\u0027uttable97df3210\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Sep 2021 09:49:57 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}