interactions:
- request:
    body: '{"TableName": "uttablef0c10dba"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 02 Oct 2020 22:48:05 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttablef0c10dba"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://tablesteststorname.table.core.windows.net/Tables('uttablef0c10dba')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '{"PartitionKey": "001", "PartitionKey@odata.type": "Edm.String", "RowKey":
      "batch_update", "RowKey@odata.type": "Edm.String", "test": true, "test2": "value",
      "test2@odata.type": "Edm.String", "test3": 3, "test4": 1234567890, "test5":
      "2020-10-02T22:48:05Z", "test5@odata.type": "Edm.DateTime"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 02 Oct 2020 22:48:05 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/uttablef0c10dba
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttablef0c10dba/@Element","odata.etag":"W/\"datetime''2020-10-02T22%3A48%3A05.5854728Z''\"","PartitionKey":"001","RowKey":"batch_update","Timestamp":"2020-10-02T22:48:05.5854728Z","test":true,"test2":"value","test3":3,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-10-02T22:48:05Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-10-02T22%3A48%3A05.5854728Z'"
      location:
      - https://tablesteststorname.table.core.windows.net/uttablef0c10dba(PartitionKey='001',RowKey='batch_update')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 02 Oct 2020 22:48:05 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablesteststorname.table.core.windows.net/uttablef0c10dba(PartitionKey='001',RowKey='batch_update')
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttablef0c10dba/@Element","odata.etag":"W/\"datetime''2020-10-02T22%3A48%3A05.5854728Z''\"","PartitionKey":"001","RowKey":"batch_update","Timestamp":"2020-10-02T22:48:05.5854728Z","test":true,"test2":"value","test3":3,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-10-02T22:48:05Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-10-02T22%3A48%3A05.5854728Z'"
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: "--batch_546f6dc5-66b1-4652-a2e3-ec48896b61c6\r\nContent-Type: multipart/mixed;
      boundary=changeset_47c8502c-e526-4b5e-892e-a7be3734de2d\r\n\r\n--changeset_47c8502c-e526-4b5e-892e-a7be3734de2d\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID: 0\r\n\r\nPATCH
      https://tablesteststorname.table.core.windows.net/uttablef0c10dba(PartitionKey='001',RowKey='batch_update')
      HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nIf-Match:
      *\r\nContent-Type: application/json\r\nAccept: application/json\r\nContent-Length:
      294\r\nx-ms-date: Fri, 02 Oct 2020 22:48:05 GMT\r\nDate: Fri, 02 Oct 2020 22:48:05
      GMT\r\nx-ms-client-request-id: 5594c9ce-0501-11eb-8ee0-58961df361d1\r\n\r\n{\"PartitionKey\":
      \"001\", \"PartitionKey@odata.type\": \"Edm.String\", \"RowKey\": \"batch_update\",
      \"RowKey@odata.type\": \"Edm.String\", \"test\": true, \"test2\": \"value1\",
      \"test2@odata.type\": \"Edm.String\", \"test3\": 3, \"test4\": 1234567890, \"test5\":
      \"2020-10-02T22:48:05Z\", \"test5@odata.type\": \"Edm.DateTime\"}\r\n--changeset_47c8502c-e526-4b5e-892e-a7be3734de2d--\r\n\r\n--batch_546f6dc5-66b1-4652-a2e3-ec48896b61c6--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batch_546f6dc5-66b1-4652-a2e3-ec48896b61c6
      DataServiceVersion:
      - '3.0'
      MaxDataServiceVersion:
      - 3.0;NetFx
      x-ms-date:
      - Fri, 02 Oct 2020 22:48:05 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/$batch
  response:
    body:
      string: "--batchresponse_32dc971e-6303-40c6-b81e-e74a94abc0c8\r\nContent-Type:
        multipart/mixed; boundary=changesetresponse_d36f625f-6ded-4afd-9a3b-703d596073d3\r\n\r\n--changesetresponse_d36f625f-6ded-4afd-9a3b-703d596073d3\r\nContent-Type:
        application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204
        No Content\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nDataServiceVersion:
        1.0;\r\nETag: W/\"datetime'2020-10-02T22%3A48%3A05.6820355Z'\"\r\n\r\n\r\n--changesetresponse_d36f625f-6ded-4afd-9a3b-703d596073d3--\r\n--batchresponse_32dc971e-6303-40c6-b81e-e74a94abc0c8--\r\n"
    headers:
      content-type:
      - multipart/mixed; boundary=batchresponse_32dc971e-6303-40c6-b81e-e74a94abc0c8
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 02 Oct 2020 22:48:05 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablesteststorname.table.core.windows.net/Tables('uttablef0c10dba')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
version: 1
