interactions:
- request:
    body: '{"TableName": "uttable26b6152f"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 29 Sep 2020 18:38:52 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttable26b6152f","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-09-29T18%3A38%3A53.6919047Z'"
      location:
      - https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable26b6152f')
    status:
      code: 201
      message: Ok
- request:
    body: '{"PartitionKey": "pk26b6152f", "PartitionKey@odata.type": "Edm.String",
      "RowKey": "rk26b6152f", "RowKey@odata.type": "Edm.String", "\u554a\u9f44\u4e02\u72db\u72dc":
      "\ua015", "\u554a\u9f44\u4e02\u72db\u72dc@odata.type": "Edm.String"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 29 Sep 2020 18:38:53 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable26b6152f
  response:
    body:
      string: "{\"odata.metadata\":\"https://tablestestcosmosname.table.cosmos.azure.com/uttable26b6152f/$metadata#uttable26b6152f/@Element\",\"odata.etag\":\"W/\\\"datetime'2020-09-29T18%3A38%3A54.1036551Z'\\\"\",\"PartitionKey\":\"pk26b6152f\",\"RowKey\":\"rk26b6152f\",\"\u554A\u9F44\u4E02\u72DB\u72DC\":\"\uA015\",\"Timestamp\":\"2020-09-29T18:38:54.1036551Z\"}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-09-29T18%3A38%3A54.1036551Z'"
      location:
      - https://tablestestcosmosname.table.cosmos.azure.com/uttable26b6152f(PartitionKey='pk26b6152f',RowKey='rk26b6152f')
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 29 Sep 2020 18:38:54 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable26b6152f()
  response:
    body:
      string: "{\"value\":[{\"odata.etag\":\"W/\\\"datetime'2020-09-29T18%3A38%3A54.1036551Z'\\\"\",\"PartitionKey\":\"pk26b6152f\",\"RowKey\":\"rk26b6152f\",\"\u554A\u9F44\u4E02\u72DB\u72DC\":\"\uA015\",\"Timestamp\":\"2020-09-29T18:38:54.1036551Z\"},{\"odata.etag\":\"W/\\\"datetime'2020-09-29T18%3A38%3A54.1706247Z'\\\"\",\"PartitionKey\":\"pk26b6152f\",\"RowKey\":\"test2\",\"\u554A\u9F44\u4E02\u72DB\u72DC\":\"hello\",\"Timestamp\":\"2020-09-29T18:38:54.1706247Z\"}],\"odata.metadata\":\"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#uttable26b6152f\"}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 29 Sep 2020 18:38:54 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable26b6152f')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 29 Sep 2020 18:38:54 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"value":[{"TableName":"querytable981b173a"},{"TableName":"querytable2da719db"},{"TableName":"querytable9c05125e"},{"TableName":"querytable5436162b"},{"TableName":"querytablec80b1810"},{"TableName":"querytablefe63147d"}],"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
    status:
      code: 200
      message: Ok
version: 1
