interactions:
- request:
    body: '{"TableName": "uttablef0c20dcc"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 22 Sep 2020 20:03:43 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttablef0c20dcc"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://storagename.table.core.windows.net/Tables('uttablef0c20dcc')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: "--batch_4093c701-afdd-40ed-9ae2-4baec5f839c9\r\nContent-Type: multipart/mixed;
      boundary=changeset_b5e0956f-55c0-48a8-83cb-1eef1041221f\r\n\r\n--changeset_b5e0956f-55c0-48a8-83cb-1eef1041221f\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID: 0\r\n\r\nPOST
      https://pyacrstoragecy5edjajxvth.table.core.windows.net/uttablef0c20dcc HTTP/1.1\r\nx-ms-version:
      2019-02-02\r\nDataServiceVersion: 3.0\r\nPrefer: return-no-content\r\nContent-Type:
      application/json;odata=nometadata\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Length:
      481\r\nx-ms-date: Tue, 22 Sep 2020 20:03:43 GMT\r\nDate: Tue, 22 Sep 2020 20:03:43
      GMT\r\nx-ms-client-request-id: b792736e-fd0e-11ea-bd2c-58961df361d1\r\n\r\n{\"PartitionKey\":
      \"001\", \"PartitionKey@odata.type\": \"Edm.String\", \"PartitionKey@odata.type@odata.type\":
      \"Edm.String\", \"RowKey\": \"batch_insert\", \"RowKey@odata.type\": \"Edm.String\",
      \"RowKey@odata.type@odata.type\": \"Edm.String\", \"test\": true, \"test2\":
      \"value\", \"test2@odata.type\": \"Edm.String\", \"test2@odata.type@odata.type\":
      \"Edm.String\", \"test3\": 3, \"test4\": 1234567890, \"test5\": \"2020-09-22T20:03:43Z\",
      \"test5@odata.type\": \"Edm.DateTime\", \"test5@odata.type@odata.type\": \"Edm.String\"}\r\n--changeset_b5e0956f-55c0-48a8-83cb-1eef1041221f--\r\n\r\n--batch_4093c701-afdd-40ed-9ae2-4baec5f839c9--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batch_4093c701-afdd-40ed-9ae2-4baec5f839c9
      DataServiceVersion:
      - '3.0'
      MaxDataServiceVersion:
      - 3.0;NetFx
      x-ms-date:
      - Tue, 22 Sep 2020 20:03:43 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body:
      string: "--batchresponse_8f03f4ba-ba9f-470a-b0f5-2658753a7147\r\nContent-Type:
        multipart/mixed; boundary=changesetresponse_d061d58e-41d5-4be6-b2f2-ef7e36b09ce8\r\n\r\n--changesetresponse_d061d58e-41d5-4be6-b2f2-ef7e36b09ce8\r\nContent-Type:
        application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204
        No Content\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nPreference-Applied:
        return-no-content\r\nDataServiceVersion: 3.0;\r\nLocation: https://pyacrstoragecy5edjajxvth.table.core.windows.net/uttablef0c20dcc(PartitionKey='001',RowKey='batch_insert')\r\nDataServiceId:
        https://pyacrstoragecy5edjajxvth.table.core.windows.net/uttablef0c20dcc(PartitionKey='001',RowKey='batch_insert')\r\nETag:
        W/\"datetime'2020-09-22T20%3A03%3A43.8583229Z'\"\r\n\r\n\r\n--changesetresponse_d061d58e-41d5-4be6-b2f2-ef7e36b09ce8--\r\n--batchresponse_8f03f4ba-ba9f-470a-b0f5-2658753a7147--\r\n"
    headers:
      content-type:
      - multipart/mixed; boundary=batchresponse_8f03f4ba-ba9f-470a-b0f5-2658753a7147
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 22 Sep 2020 20:03:43 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.table.core.windows.net/uttablef0c20dcc(PartitionKey='001',RowKey='batch_insert')
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttablef0c20dcc/@Element","odata.etag":"W/\"datetime''2020-09-22T20%3A03%3A43.8583229Z''\"","PartitionKey":"001","RowKey":"batch_insert","Timestamp":"2020-09-22T20:03:43.8583229Z","test":true,"test2":"value","test3":3,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-09-22T20:03:43Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-09-22T20%3A03%3A43.8583229Z'"
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Sep 2020 20:03:44 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttablef0c20dcc')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
version: 1
