interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <StorageServiceProperties><MinuteMetrics><Version>1.0</Version><Enabled>true</Enabled><IncludeAPIs>true</IncludeAPIs><RetentionPolicy><Enabled>true</Enabled><Days>366</Days></RetentionPolicy></MinuteMetrics></StorageServiceProperties>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Fri, 24 Jul 2020 16:42:33 GMT
      x-ms-version:
      - 12.0.0b1
    method: PUT
    uri: https://storagename.table.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"yes\"?>\r\n<error
        xmlns=\"http://schemas.microsoft.com/ado/2007/08/dataservices/metadata\">\r\n
        \ <code>InvalidHeaderValue</code>\r\n  <message xml:lang=\"en-US\">The value
        for one of the HTTP headers is not in the correct format.\nRequestId:149b2fd1-9002-004c-3ad9-618f9a000000\nTime:2020-07-24T16:42:34.6320230Z</message>\r\n</error>"
    headers:
      content-type:
      - application/xml
    status:
      code: 400
      message: The value for one of the HTTP headers is not in the correct format.
version: 1
