{
  "Entries": [
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 22 Sep 2021 01:06:58 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022TableName\u0022: \u0022uttablea5f93415\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-09-22T01%3A06%3A56.1740808Z\u0027\u0022",
        "Location": "https://yalltbtestsprim.table.cosmos.azure.com/Tables(\u0027uttablea5f93415\u0027)"
      },
      "ResponseBody": {
        "TableName": "uttablea5f93415",
        "odata.metadata": "https://yalltbtestsprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/uttablea5f93415",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 22 Sep 2021 01:06:58 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022: \u0022pka5f93415\u0022, \u0022PartitionKey@odata.type\u0022: \u002[...]
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/uttablea5f93415(PartitionKey=\u0027pka5f93415\u0027,RowKey=\u0027rka5f93415\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Wed, 22 Sep 2021 01:06:58 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/uttablea5f93415",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 22 Sep 2021 01:06:58 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022: \u0022pk2\u0022, \u0022PartitionKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022RowKey\u0022: \u0022rk2\u0022, \u0022RowKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022Value\u0022: 100}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-09-22T01%3A06%3A56.6907912Z\u0027\u0022",
        "Location": "https://yalltbtestsprim.table.cosmos.azure.com/uttablea5f93415(PartitionKey=\u0027pk2\u0027,RowKey=\u0027rk2\u0027)"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltbtestsprim.table.cosmos.azure.com/uttablea5f93415/$metadata#uttablea5f93415/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-09-22T01%3A06%3A56.6907912Z\u0027\u0022",
        "PartitionKey": "pk2",
        "RowKey": "rk2",
        "Value": 100,
        "Timestamp": "2021-09-22T01:06:56.6907912Z"
      }
    },
[...]
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/uttablea5f93415()",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 22 Sep 2021 01:06:58 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [],
        "odata.metadata": "https://yalltbtestsprim.table.cosmos.azure.com/$metadata#uttablea5f93415"
      }
    },
[...]
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/Tables(\u0027uttablea5f93415\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 22 Sep 2021 01:06:58 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
