interactions:
- request:
    body: '{"TableName": "uttable61d31a8d"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 23 Sep 2020 23:34:03 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostest.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttable61d31a8d","odata.metadata":"https://cosmostest.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-23T23%3A34%3A03.2174087Z'"
      location: https://cosmostest.table.cosmos.azure.com/Tables('uttable61d31a8d')
    status:
      code: 201
      message: Ok
    url: https://cosmostables4c3215c8.table.cosmos.azure.com/Tables
[...]
- request:
    body: '{"PartitionKey": "pk61d31a8d", "RowKey": "rk61d31a8d1", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "married": true, "deceased": false, "ratio": 3.1,
      "evenratio": 3.0, "large": "933311100", "large@odata.type": "Edm.Int64", "Birthday":
      "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z",
      "birthday@odata.type": "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type":
      "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 23 Sep 2020 23:34:04 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostest.table.cosmos.azure.com/querytable61d31a8d
  response:
    body:
      string: '{"odata.metadata":"https://cosmostest.table.cosmos.azure.com/querytable61d31a8d/$metadata#querytable61d31a8d/@Element","odata.etag":"W/\"datetime''2020-09-23T23%3A34%3A04.1163783Z''\"","PartitionKey":"pk61d31a8d","RowKey":"rk61d31a8d1","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Timestamp":"2020-09-23T23:34:04.1163783Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-23T23%3A34%3A04.1163783Z'"
      location: https://cosmostest.table.cosmos.azure.com/querytable61d31a8d(PartitionKey='pk61d31a8d',RowKey='rk61d31a8d1')
    status:
      code: 201
      message: Created
    url: https://cosmostables4c3215c8.table.cosmos.azure.com/querytable61d31a8d
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 23 Sep 2020 23:34:04 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://cosmostest.table.cosmos.azure.com/querytable61d31a8d()
  response:
    body:
      string: '{"value":[{"odata.type":"cosmostest.querytable61d31a8d","odata.id":"https://cosmostest.table.cosmos.azure.com/querytable61d31a8d(PartitionKey=''pk61d31a8d'',RowKey=''rk61d31a8d1'')","odata.editLink":"querytable61d31a8d(PartitionKey=''pk61d31a8d'',RowKey=''rk61d31a8d1'')","odata.etag":"W/\"datetime''2020-09-23T23%3A34%3A04.1163783Z''\"","PartitionKey":"pk61d31a8d","RowKey":"rk61d31a8d1","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Timestamp@odata.type":"Edm.DateTime","Timestamp":"2020-09-23T23:34:04.1163783Z"},{"odata.type":"cosmostest.querytable61d31a8d","odata.id":"https://cosmostest.table.cosmos.azure.com/querytable61d31a8d(PartitionKey=''pk61d31a8d'',RowKey=''rk61d31a8d12'')","odata.editLink":"querytable61d31a8d(PartitionKey=''pk61d31a8d'',RowKey=''rk61d31a8d12'')","odata.etag":"W/\"datetime''2020-09-23T23%3A34%3A04.1504775Z''\"","PartitionKey":"pk61d31a8d","RowKey":"rk61d31a8d12","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Timestamp@odata.type":"Edm.DateTime","Timestamp":"2020-09-23T23:34:04.1504775Z"}],"odata.metadata":"https://cosmostest.table.cosmos.azure.com/$metadata#querytable61d31a8d"}'
    headers:
      content-type: application/json;odata=fullmetadata
    status:
      code: 200
      message: Ok
    url: https://cosmostables4c3215c8.table.cosmos.azure.com/querytable61d31a8d()
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Sep 2020 23:34:04 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://cosmostest.table.cosmos.azure.com/Tables('uttable61d31a8d')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://cosmostables4c3215c8.table.cosmos.azure.com/Tables('uttable61d31a8d')
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Sep 2020 23:34:04 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://cosmostest.table.cosmos.azure.com/Tables('querytable61d31a8d')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://cosmostables4c3215c8.table.cosmos.azure.com/Tables('querytable61d31a8d')
version: 1
