{
  "Entries": [
    {
      "RequestUri": "https://yalltbtestsprim.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 20 Sep 2021 22:02:10 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022TableName\u0022: \u0022uttable35524af\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://yalltbtestsprim.table.core.windows.net/Tables(\u0027uttable35524af\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltbtestsprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable35524af"
      }
    },
    {
      "RequestUri": "https://yalltbtestsprim.table.core.windows.net/uttable35524af",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 20 Sep 2021 22:02:10 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022: \u0022pk35524af\u0022, \u0022PartitionKey@odata.type\u0022: \u0022E[...]
    {
      "RequestUri": "https://yalltbtestsprim.table.core.windows.net/uttable35524af(PartitionKey=\u0027pk35524af\u0027,RowKey=\u0027rk35524af\u0027)?se=2021-09-20T23%3A02%3A10Z\u0026sp=d\u0026sv=2019-02-02\u0026tn=uttable35524af\u0026sig=U3CbBgkptBo9KrxncJSZWZOxiHkHTMWhP%2BGykPt66jY%3D",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Mon, 20 Sep 2021 22:02:10 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://yalltbtestsprim.table.core.windows.net/uttable35524af(PartitionKey=\u0027pk35524af\u0027,RowKey=\u0027rk35524af\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 20 Sep 2021 22:02:10 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "ResourceNotFound",
          "message": {
            "lang": "en-US",
            "value": "The specified resource does not exist.\nRequestId:41381a55-2002-004e-016b-ae8313000000\nTime:2021-09-20T22:02:10.8597341Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://yalltbtestsprim.table.core.windows.net/Tables(\u0027uttable35524af\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 Sep 2021 22:02:10 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
