interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 03 Nov 2020 21:26:18 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname-secondary.table.cosmos.azure.com/?restype=service&comp=stats
  response:
    body:
      string: "{\"odata.error\":{\"code\":\"NotImplemented\",\"message\":{\"lang\"\
        :\"en-us\",\"value\":\"The requested operation is not supported.\\r\\nActivityId:\
        \ 3616d4ef-1e1b-11eb-aa52-58961df361d1, documentdb-dotnet-sdk/2.11.0 Host/64-bit\
        \ MicrosoftWindowsNT/6.2.9200.0\\nRequestID:3616d4ef-1e1b-11eb-aa52-58961df361d1\\\
        n\"}}}\r\n"
    headers:
      content-type:
      - application/json;odata=fullmetadata
    status:
      code: 501
      message: Not Implemented
version: 1
