{
  "Entries": [
    {
      "RequestUri": "https://yalltablestestsprim.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 16 Sep 2021 09:50:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022TableName\u0022: \u0022uttableaba32dc3\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://yalltablestestsprim.table.core.windows.net/Tables(\u0027uttableaba32dc3\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltablestestsprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttableaba32dc3"
      }
    },
    {
      "RequestUri": "https://yalltablestestsprim.table.core.windows.net/uttableaba32dc3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 16 Sep 2021 09:50:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022: \u0022pkaba32dc3\u0022, \u0022PartitionKey@odata.type\u0022: \[...]
    {
      "RequestUri": "https://yalltablestestsprim.table.core.windows.net/uttableaba32dc3(PartitionKey=\u0027pkaba32dc3\u0027,RowKey=\u0027rkaba32dc3\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 16 Sep 2021 09:50:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272021-09-16T09%3A50%3A07.0896946Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltablestestsprim.table.core.windows.net/$metadata#uttableaba32dc3/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-09-16T09%3A50%3A07.0896946Z\u0027\u0022",
        "PartitionKey": "pkaba32dc3",
        "RowKey": "rkaba32dc3",
        "Timestamp": "2021-09-16T09:50:07.0896946Z",
        "age": 39,
        "sex": "male",
        "married": true,
        "deceased": false,
        "ratio": 3.1,
        "evenratio": 3.0,
        "double": 5.0,
        "large": 933311100,
        "Birthday@odata.type": "Edm.DateTime",
        "Birthday": "1973-10-04T00:00:00Z",
        "birthday@odata.type": "Edm.DateTime",
        "birthday": "1970-10-04T00:00:00Z",
        "binary@odata.type": "Edm.Binary",
        "binary": "YmluYXJ5",
        "other": 20,
        "clsid@odata.type": "Edm.Guid",
        "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
        "milliseconds@odata.type": "Edm.DateTime",
        "milliseconds": "2011-11-04T00:05:23.283Z"
      }
    },
    {
      "RequestUri": "https://yalltablestestsprim.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 16 Sep 2021 09:50:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltablestestsprim.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "uttableaba32dc3"
          }
        ]
      }
    },
    {
      "RequestUri": "https://yalltablestestsprim.table.core.windows.net/Tables(\u0027uttableaba32dc3\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Sep 2021 09:50:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}