{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:43:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttablebddb294b"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttablebddb294b\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttablebddb294b"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttablebddb294b",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:44:00 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "A\u0027aaa\u0022_bbbb2",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "\u0022A\u0027aaa\u0022_bbbb2",
        "RowKey@odata.type": "Edm.String",
        "test": "\u0022A\u0027aaa\u0022_bbbb2",
        "test@odata.type": "Edm.String"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-05-06T00%3A43%3A59.3412728Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.core.windows.net/uttablebddb294b(PartitionKey=\u0027A\u0027\u0027aaa%22_bbbb2\u0027,RowKey=\u0027%22A\u0027\u0027aaa%22_bbbb2\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttablebddb294b/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-05-06T00%3A43%3A59.3412728Z\u0027\u0022",
        "PartitionKey": "A\u0027aaa\u0022_bbbb2",
        "RowKey": "\u0022A\u0027aaa\u0022_bbbb2",
        "Timestamp": "2022-05-06T00:43:59.3412728Z",
        "test": "\u0022A\u0027aaa\u0022_bbbb2"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttablebddb294b(PartitionKey=\u0027A%27%27aaa%22_bbbb2\u0027,RowKey=\u0027%22A%27%27aaa%22_bbbb2\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:44:00 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-05-06T00%3A43%3A59.3412728Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttablebddb294b/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-05-06T00%3A43%3A59.3412728Z\u0027\u0022",
        "PartitionKey": "A\u0027aaa\u0022_bbbb2",
        "RowKey": "\u0022A\u0027aaa\u0022_bbbb2",
        "Timestamp": "2022-05-06T00:43:59.3412728Z",
        "test": "\u0022A\u0027aaa\u0022_bbbb2"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttablebddb294b(PartitionKey=\u0027A%27%27aaa%22_bbbb2\u0027,RowKey=\u0027%22A%27%27aaa%22_bbbb2\u0027)",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Fri, 06 May 2022 00:44:00 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "A\u0027aaa\u0022_bbbb2",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "\u0022A\u0027aaa\u0022_bbbb2",
        "RowKey@odata.type": "Edm.String",
        "test": "\u0022A\u0027aaa\u0022_bbbb2",
        "test@odata.type": "Edm.String"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272022-05-06T00%3A43%3A59.5491606Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttablebddb294b()",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:44:00 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttablebddb294b",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272022-05-06T00%3A43%3A59.6301111Z\u0027\u0022",
            "PartitionKey": "A\u0027aaa\u0022_bbbb2",
            "RowKey": "\u0022A\u0027aaa\u0022_bbbb2",
            "Timestamp": "2022-05-06T00:43:59.6301111Z",
            "test": "\u0022A\u0027aaa\u0022_bbbb2"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027table2bddb294b\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 May 2022 00:44:00 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttablebddb294b\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 May 2022 00:44:00 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
