interactions:
- request:
    body: '{"TableName": "uttable6dd31107"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 02 Oct 2020 22:48:01 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable6dd31107"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://tablesteststorname.table.core.windows.net/Tables('uttable6dd31107')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: "--batch_50111f84-174e-4da6-960f-2d3d7801fcf4\r\nContent-Type: multipart/mixed;
      boundary=changeset_3acdea24-6153-47ce-959b-4f97205d687a\r\n\r\n--changeset_3acdea24-6153-47ce-959b-4f97205d687a\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID: 0\r\n\r\nPATCH
      https://tablesteststorname.table.core.windows.net/uttable6dd31107(PartitionKey='001',RowKey='batch_insert_replace')
      HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nContent-Type:
      application/json\r\nAccept: application/json\r\nContent-Length: 301\r\nx-ms-date:
      Fri, 02 Oct 2020 22:48:01 GMT\r\nDate: Fri, 02 Oct 2020 22:48:01 GMT\r\nx-ms-client-request-id:
      533683f7-0501-11eb-abad-58961df361d1\r\n\r\n{\"PartitionKey\": \"001\", \"PartitionKey@odata.type\":
      \"Edm.String\", \"RowKey\": \"batch_insert_replace\", \"RowKey@odata.type\":
      \"Edm.String\", \"test\": true, \"test2\": \"value\", \"test2@odata.type\":
      \"Edm.String\", \"test3\": 3, \"test4\": 1234567890, \"test5\": \"2020-10-02T22:48:01Z\",
      \"test5@odata.type\": \"Edm.DateTime\"}\r\n--changeset_3acdea24-6153-47ce-959b-4f97205d687a--\r\n\r\n--batch_50111f84-174e-4da6-960f-2d3d7801fcf4--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batch_50111f84-174e-4da6-960f-2d3d7801fcf4
      DataServiceVersion:
      - '3.0'
      MaxDataServiceVersion:
      - 3.0;NetFx
      x-ms-date:
      - Fri, 02 Oct 2020 22:48:01 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/$batch
  response:
    body:
      string: "--batchresponse_5b8ec082-65d8-436b-9931-ac78e11b6828\r\nContent-Type:
        multipart/mixed; boundary=changesetresponse_5215bef7-dfde-4f47-8158-4ea7a2f9432f\r\n\r\n--changesetresponse_5215bef7-dfde-4f47-8158-4ea7a2f9432f\r\nContent-Type:
        application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204
        No Content\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nDataServiceVersion:
        1.0;\r\nETag: W/\"datetime'2020-10-02T22%3A48%3A01.7091613Z'\"\r\n\r\n\r\n--changesetresponse_5215bef7-dfde-4f47-8158-4ea7a2f9432f--\r\n--batchresponse_5b8ec082-65d8-436b-9931-ac78e11b6828--\r\n"
    headers:
      content-type:
      - multipart/mixed; boundary=batchresponse_5b8ec082-65d8-436b-9931-ac78e11b6828
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 02 Oct 2020 22:48:01 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablesteststorname.table.core.windows.net/uttable6dd31107(PartitionKey='001',RowKey='batch_insert_replace')
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttable6dd31107/@Element","odata.etag":"W/\"datetime''2020-10-02T22%3A48%3A01.7091613Z''\"","PartitionKey":"001","RowKey":"batch_insert_replace","Timestamp":"2020-10-02T22:48:01.7091613Z","test":true,"test2":"value","test3":3,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-10-02T22:48:01Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-10-02T22%3A48%3A01.7091613Z'"
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 02 Oct 2020 22:48:01 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablesteststorname.table.core.windows.net/Tables('uttable6dd31107')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
version: 1
