interactions:
- request:
    body: '{"TableName": "uttable5f481a84"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 18 Sep 2020 20:34:05 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostablescosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttable5f481a84","odata.metadata":"https://cosmostablescosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-09-18T20%3A34%3A05.5130119Z'"
      location:
      - https://cosmostablescosmosname.table.cosmos.azure.com/Tables('uttable5f481a84')
    status:
      code: 201
      message: Ok
- request:
    body: '{"PartitionKey": "pk5f481a84", "RowKey": "rk5f481a84", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "married": true, "deceased": false, "ratio": 3.1,
      "evenratio": 3.0, "large": "933311100", "large@odata.type": "Edm.Int64", "Birthday":
      "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z",
      "birthday@odata.type": "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type":
      "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 18 Sep 2020 20:34:05 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostablescosmosname.table.cosmos.azure.com/uttable5f481a84
  response:
    body:
      string: '{"odata.metadata":"https://cosmostablescosmosname.table.cosmos.azure.com/uttable5f481a84/$metadata#uttable5f481a84/@Element","odata.etag":"W/\"datetime''2020-09-18T20%3A34%3A06.0225543Z''\"","PartitionKey":"pk5f481a84","RowKey":"rk5f481a84","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Timestamp":"2020-09-18T20:34:06.0225543Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-09-18T20%3A34%3A06.0225543Z'"
      location:
      - https://cosmostablescosmosname.table.cosmos.azure.com/uttable5f481a84(PartitionKey='pk5f481a84',RowKey='rk5f481a84')
    status:
      code: 201
      message: Created
- request:
    body: '{"PartitionKey": "pk5f481a84", "RowKey": "rk5f481a84", "age": "abc", "sex":
      "female", "sign": "aquarius", "birthday": "1991-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - '3.0'
      If-Match:
      - W/"datetime'2012-06-15T22%3A51%3A44.9662825Z'"
      x-ms-date:
      - Fri, 18 Sep 2020 20:34:05 GMT
      x-ms-version:
      - '2019-07-07'
    method: PATCH
    uri: https://cosmostablescosmosname.table.cosmos.azure.com/uttable5f481a84(PartitionKey='pk5f481a84',RowKey='rk5f481a84')
  response:
    body:
      string: "{\"odata.error\":{\"code\":\"InvalidInput\",\"message\":{\"lang\":\"en-us\",\"value\":\"One
        of the input values is invalid.\\r\\nActivityId: 4bd5c8d4-f9ee-11ea-a723-58961df361d1,
        documentdb-dotnet-sdk/2.11.0 Host/64-bit MicrosoftWindowsNT/6.2.9200.0\\nRequestID:4bd5c8d4-f9ee-11ea-a723-58961df361d1\\n\"}}}\r\n"
    headers:
      content-type:
      - application/json;odata=fullmetadata
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 18 Sep 2020 20:34:05 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://cosmostablescosmosname.table.cosmos.azure.com/Tables('uttable5f481a84')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 18 Sep 2020 20:34:06 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://cosmostablescosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"value":[{"TableName":"querytable2da719db"},{"TableName":"querytable981b173a"},{"TableName":"querytablefe63147d"},{"TableName":"querytablec80b1810"},{"TableName":"querytable5436162b"},{"TableName":"querytable9c05125e"}],"odata.metadata":"https://cosmostablescosmosname.table.cosmos.azure.com/$metadata#Tables"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
    status:
      code: 200
      message: Ok
version: 1
