interactions:
- request:
    body: '{"TableName": "uttable371919b0"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 03 Nov 2020 21:25:15 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttable371919b0","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-11-03T21%3A25%3A15.9272455Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable371919b0')
    status:
      code: 201
      message: Ok
    url: https://tablestestvu6ysotlcesvd5.table.cosmos.azure.com/Tables
- request:
    body: '{"PartitionKey": "pk371919b0", "PartitionKey@odata.type": "Edm.String",
      "RowKey": "rk371919b0", "RowKey@odata.type": "Edm.String", "age": 39, "sex":
      "male", "sex@odata.type": "Edm.String", "married": true, "deceased": false,
      "ratio": 3.1, "evenratio": 3.0, "large": 933311100, "Birthday": "1973-10-04T00:00:00Z",
      "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other":
      20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 03 Nov 2020 21:25:16 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable371919b0
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttable371919b0/$metadata#uttable371919b0/@Element","odata.etag":"W/\"datetime''2020-11-03T21%3A25%3A16.4239879Z''\"","PartitionKey":"pk371919b0","RowKey":"rk371919b0","age":39,"sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large":933311100,"Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Timestamp":"2020-11-03T21:25:16.4239879Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-11-03T21%3A25%3A16.4239879Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/uttable371919b0(PartitionKey='pk371919b0',RowKey='rk371919b0')
    status:
      code: 201
      message: Created
    url: https://tablestestvu6ysotlcesvd5.table.cosmos.azure.com/uttable371919b0
- request:
    body: "--batch_1ead8103-2aaa-487e-a0b8-1f3fbe93b765\r\nContent-Type: multipart/mixed;\
      \ boundary=changeset_8a799e34-86b7-4004-9fbe-a2e3e6a01a8a\r\n\r\n--changeset_8a799e34-86b7-4004-9fbe-a2e3e6a01a8a\r\
      \nContent-Type: application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID:\
      \ 0\r\n\r\nPATCH https://tablestestvu6ysotlcesvd5.table.cosmos.azure.com/uttable371919b0(PartitionKey='pk371919b0',RowKey='rk371919b0')\
      \ HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nIf-Match:\
      \ W/\"datetime'2012-06-15T22%3A51%3A44.9662825Z'\"\r\nContent-Type: application/json\r\
      \nAccept: application/json\r\nContent-Length: 353\r\nx-ms-date: Tue, 03 Nov\
      \ 2020 21:25:16 GMT\r\nDate: Tue, 03 Nov 2020 21:25:16 GMT\r\nx-ms-client-request-id:\
      \ 1129738d-1e1b-11eb-bbbc-58961df361d1\r\n\r\n{\"PartitionKey\": \"pk371919b0\"\
      , \"PartitionKey@odata.type\": \"Edm.String\", \"RowKey\": \"rk371919b0\", \"\
      RowKey@odata.type\": \"Edm.String\", \"age\": \"abc\", \"age@odata.type\": \"\
      Edm.String\", \"sex\": \"female\", \"sex@odata.type\": \"Edm.String\", \"sign\"\
      : \"aquarius\", \"sign@odata.type\": \"Edm.String\", \"birthday\": \"1991-10-04T00:00:00Z\"\
      , \"birthday@odata.type\": \"Edm.DateTime\"}\r\n--changeset_8a799e34-86b7-4004-9fbe-a2e3e6a01a8a--\r\
      \n\r\n--batch_1ead8103-2aaa-487e-a0b8-1f3fbe93b765--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batch_1ead8103-2aaa-487e-a0b8-1f3fbe93b765
      DataServiceVersion:
      - '3.0'
      MaxDataServiceVersion:
      - 3.0;NetFx
      x-ms-date:
      - Tue, 03 Nov 2020 21:25:16 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/$batch
  response:
    body:
      string: "{\"odata.error\":{\"code\":\"InvalidInput\",\"message\":{\"lang\":\"\
        en-us\",\"value\":\"One of the input values is invalid.\\r\\nActivityId: 112a35f7-1e1b-11eb-b1e9-58961df361d1,\
        \ documentdb-dotnet-sdk/2.11.0 Host/64-bit MicrosoftWindowsNT/6.2.9200.0\\\
        nRequestID:112a35f7-1e1b-11eb-b1e9-58961df361d1\\n\"}}}\r\n"
    headers:
      content-type: application/json;odata=fullmetadata
    status:
      code: 400
      message: Bad Request
    url: https://tablestestvu6ysotlcesvd5.table.cosmos.azure.com/$batch
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 03 Nov 2020 21:25:16 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable371919b0(PartitionKey='pk371919b0',RowKey='rk371919b0')
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttable371919b0/$metadata#uttable371919b0/@Element","odata.etag":"W/\"datetime''2020-11-03T21%3A25%3A16.4239879Z''\"","PartitionKey":"pk371919b0","RowKey":"rk371919b0","age":39,"sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large":933311100,"Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Timestamp":"2020-11-03T21:25:16.4239879Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-11-03T21%3A25%3A16.4239879Z'"
    status:
      code: 200
      message: Ok
    url: https://tablestestvu6ysotlcesvd5.table.cosmos.azure.com/uttable371919b0(PartitionKey='pk371919b0',RowKey='rk371919b0')
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 03 Nov 2020 21:25:16 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable371919b0')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://tablestestvu6ysotlcesvd5.table.cosmos.azure.com/Tables('uttable371919b0')
version: 1
