interactions:
- request:
    body: '{"TableName": "uttable2c5919f0"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:38:09 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable2c5919f0"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://tablesteststorname.table.core.windows.net/Tables('uttable2c5919f0')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://tablestestxjz4vq7ewcdgud.table.core.windows.net/Tables
- request:
    body: '{"key83@odata.type": "Edm.String", "key60": "value60", "key25@odata.type":
      "Edm.String", "key212": "value212", "key221": "value221", "key17@odata.type":
      "Edm.String", "key82@odata.type": "Edm.String", "key63": "value63", "key120":
      "value120", "key47@odata.type": "Edm.String", "key101@odata.type": "Edm.String",
      "key61": "value61", "key193@odata.type": "Edm.String", "key231@odata.type":
      "Edm.String", "key121": "value121", "key228": "value228", "key158": "value158",
      "key14": "value14", "key234": "value234", "key225": "value225", "RowKey@odata.type":
      "Edm.String", "key156": "value156", "key31@odata.type": "Edm.String", "key211":
      "value211", "key239": "value239", "key165": "value165", "key219": "value219",
      "key243": "value243", "key161@odata.type": "Edm.String", "key78@odata.type":
      "Edm.String", "key23@odata.type": "Edm.String", "key59@odata.type": "Edm.String",
      "key180": "value180", "key72": "value72", "key39@odata.type": "Edm.String",
      "key75@odata.type": "Edm.String", "key232": "value232", "RowKey": "rk2c5919f0",
      "key217": "value217", "key43@odata.type": "Edm.String", "key214": "value214",
      "key35@odata.type": "Edm.String", "key183": "value183", "key167": "value167",
      "key31": "value31", "key239@odata.type": "Edm.String", "key92": "value92", "key86@odata.type":
      "Edm.String", "key108": "value108", "key202": "value202", "key252@odata.type":
      "Edm.String", "key108@odata.type": "Edm.String", "key132@odata.type": "Edm.String",
      "key50": "value50", "key98": "value98", "key27": "value27", "key207": "value207",
      "key84": "value84", "key34": "value34", "key46": "value46", "key52": "value52",
      "key190": "value190", "key196": "value196", "key129": "value129", "key179@odata.type":
      "Edm.String", "key10@odata.type": "Edm.String", "key66": "value66", "key93@odata.type":
      "Edm.String", "key92@odata.type": "Edm.String", "key77@odata.type": "Edm.String",
      "key169": "value169", "key134": "value134", "key87@odata.type": "Edm.String",
      "key162@odata.type": "Edm.String", "key128": "value128", "key155": "value155",
      "key199": "value199", "key0": "value0", "key79": "value79", "key134@odata.type":
      "Edm.String", "key206": "value206", "key230@odata.type": "Edm.String", "key9@odata.type":
      "Edm.String", "key34@odata.type": "Edm.String", "key88": "value88", "key113":
      "value113", "key135@odata.type": "Edm.String", "key154@odata.type": "Edm.String",
      "key213": "value213", "key43": "value43", "key80@odata.type": "Edm.String",
      "key74@odata.type": "Edm.String", "key253": "value253", "key232@odata.type":
      "Edm.String", "key0@odata.type": "Edm.String", "key53": "value53", "key119@odata.type":
      "Edm.String", "key41": "value41", "key159": "value159", "key2": "value2", "key138@odata.type":
      "Edm.String", "key61@odata.type": "Edm.String", "key64": "value64", "key198":
      "value198", "key160": "value160", "PartitionKey@odata.type": "Edm.String", "key152@odata.type":
      "Edm.String", "key1@odata.type": "Edm.String", "key165@odata.type": "Edm.String",
      "key143@odata.type": "Edm.String", "key38": "value38", "key22@odata.type": "Edm.String",
      "key158@odata.type": "Edm.String", "key153@odata.type": "Edm.String", "key33@odata.type":
      "Edm.String", "key85@odata.type": "Edm.String", "key249": "value249", "key230":
      "value230", "key20@odata.type": "Edm.String", "key197@odata.type": "Edm.String",
      "key241@odata.type": "Edm.String", "key46@odata.type": "Edm.String", "key5":
      "value5", "key6": "value6", "key13@odata.type": "Edm.String", "key240": "value240",
      "key97@odata.type": "Edm.String", "key191": "value191", "key179": "value179",
      "key253@odata.type": "Edm.String", "key170": "value170", "key42": "value42",
      "key51": "value51", "key56": "value56", "key219@odata.type": "Edm.String", "key178":
      "value178", "key37": "value37", "key146@odata.type": "Edm.String", "key110":
      "value110", "key234@odata.type": "Edm.String", "key16@odata.type": "Edm.String",
      "key221@odata.type": "Edm.String", "key220@odata.type": "Edm.String", "key187":
      "value187", "key157@odata.type": "Edm.String", "key103": "value103", "key136":
      "value136", "key174": "value174", "key23": "value23", "key235": "value235",
      "key164@odata.type": "Edm.String", "key19@odata.type": "Edm.String", "key164":
      "value164", "key188": "value188", "key177": "value177", "key151@odata.type":
      "Edm.String", "key72@odata.type": "Edm.String", "key10": "value10", "key182":
      "value182", "key208@odata.type": "Edm.String", "key211@odata.type": "Edm.String",
      "key130@odata.type": "Edm.String", "key162": "value162", "key254": "value254",
      "key194": "value194", "key107": "value107", "key246": "value246", "key228@odata.type":
      "Edm.String", "key115": "value115", "key161": "value161", "key88@odata.type":
      "Edm.String", "key82": "value82", "key204@odata.type": "Edm.String", "key62":
      "value62", "key125@odata.type": "Edm.String", "key146": "value146", "key69@odata.type":
      "Edm.String", "key127": "value127", "key224@odata.type": "Edm.String", "key150":
      "value150", "key119": "value119", "key8@odata.type": "Edm.String", "key202@odata.type":
      "Edm.String", "key28@odata.type": "Edm.String", "key114": "value114", "key222":
      "value222", "key200": "value200", "key76": "value76", "key110@odata.type": "Edm.String",
      "key128@odata.type": "Edm.String", "key248@odata.type": "Edm.String", "key246@odata.type":
      "Edm.String", "key49": "value49", "key74": "value74", "key50@odata.type": "Edm.String",
      "key142@odata.type": "Edm.String", "key163": "value163", "key24@odata.type":
      "Edm.String", "key233@odata.type": "Edm.String", "key117@odata.type": "Edm.String",
      "key122": "value122", "key160@odata.type": "Edm.String", "key22": "value22",
      "key209@odata.type": "Edm.String", "key25": "value25", "key222@odata.type":
      "Edm.String", "key172@odata.type": "Edm.String", "key91@odata.type": "Edm.String",
      "key80": "value80", "key251@odata.type": "Edm.String", "key20": "value20", "key17":
      "value17", "key203": "value203", "key96@odata.type": "Edm.String", "key32@odata.type":
      "Edm.String", "key233": "value233", "key111@odata.type": "Edm.String", "key207@odata.type":
      "Edm.String", "key86": "value86", "key3": "value3", "key45": "value45", "key227":
      "value227", "key227@odata.type": "Edm.String", "key244": "value244", "key171":
      "value171", "key223@odata.type": "Edm.String", "key105@odata.type": "Edm.String",
      "key11": "value11", "key73@odata.type": "Edm.String", "key149": "value149",
      "PartitionKey": "pk2c5919f0", "key90": "value90", "key91": "value91", "key174@odata.type":
      "Edm.String", "key116@odata.type": "Edm.String", "key138": "value138", "key206@odata.type":
      "Edm.String", "key123@odata.type": "Edm.String", "key65": "value65", "key187@odata.type":
      "Edm.String", "key126": "value126", "key11@odata.type": "Edm.String", "key171@odata.type":
      "Edm.String", "key247": "value247", "key55": "value55", "key30": "value30",
      "key49@odata.type": "Edm.String", "key29": "value29", "key87": "value87", "key105":
      "value105", "key96": "value96", "key185@odata.type": "Edm.String", "key144":
      "value144", "key64@odata.type": "Edm.String", "key75": "value75", "key32": "value32",
      "key129@odata.type": "Edm.String", "key216@odata.type": "Edm.String", "key148":
      "value148", "key190@odata.type": "Edm.String", "key18@odata.type": "Edm.String",
      "key254@odata.type": "Edm.String", "key163@odata.type": "Edm.String", "key70@odata.type":
      "Edm.String", "key148@odata.type": "Edm.String", "key67": "value67", "key125":
      "value125", "key45@odata.type": "Edm.String", "key251": "value251", "key186":
      "value186", "key155@odata.type": "Edm.String", "key94": "value94", "key172":
      "value172", "key5@odata.type": "Edm.String", "key189": "value189", "key140":
      "value140", "key33": "value33", "key37@odata.type": "Edm.String", "key36@odata.type":
      "Edm.String", "key62@odata.type": "Edm.String", "key226@odata.type": "Edm.String",
      "key44": "value44", "key249@odata.type": "Edm.String", "key199@odata.type":
      "Edm.String", "key130": "value130", "key56@odata.type": "Edm.String", "key213@odata.type":
      "Edm.String", "key76@odata.type": "Edm.String", "key237@odata.type": "Edm.String",
      "key117": "value117", "key147": "value147", "key205@odata.type": "Edm.String",
      "key107@odata.type": "Edm.String", "key38@odata.type": "Edm.String", "key229":
      "value229", "key57": "value57", "key48@odata.type": "Edm.String", "key214@odata.type":
      "Edm.String", "key81@odata.type": "Edm.String", "key15@odata.type": "Edm.String",
      "key144@odata.type": "Edm.String", "key122@odata.type": "Edm.String", "key16":
      "value16", "key2@odata.type": "Edm.String", "key143": "value143", "key198@odata.type":
      "Edm.String", "key104@odata.type": "Edm.String", "key68": "value68", "key241":
      "value241", "key178@odata.type": "Edm.String", "key184@odata.type": "Edm.String",
      "key121@odata.type": "Edm.String", "key168@odata.type": "Edm.String", "key54":
      "value54", "key140@odata.type": "Edm.String", "key154": "value154", "key73":
      "value73", "key26": "value26", "key194@odata.type": "Edm.String", "key44@odata.type":
      "Edm.String", "key224": "value224", "key205": "value205", "key3@odata.type":
      "Edm.String", "key218@odata.type": "Edm.String", "key240@odata.type": "Edm.String",
      "key70": "value70", "key116": "value116", "key209": "value209", "key66@odata.type":
      "Edm.String", "key67@odata.type": "Edm.String", "key54@odata.type": "Edm.String",
      "key59": "value59", "key28": "value28", "key9": "value9", "key53@odata.type":
      "Edm.String", "key195": "value195", "key111": "value111", "key8": "value8",
      "key217@odata.type": "Edm.String", "key95@odata.type": "Edm.String", "key231":
      "value231", "key250@odata.type": "Edm.String", "key95": "value95", "key175@odata.type":
      "Edm.String", "key57@odata.type": "Edm.String", "key106@odata.type": "Edm.String",
      "key229@odata.type": "Edm.String", "key248": "value248", "key84@odata.type":
      "Edm.String", "key238": "value238", "key247@odata.type": "Edm.String", "key89":
      "value89", "key52@odata.type": "Edm.String", "key173": "value173", "key71@odata.type":
      "Edm.String", "key133": "value133", "key55@odata.type": "Edm.String", "key68@odata.type":
      "Edm.String", "key102": "value102", "key83": "value83", "key223": "value223",
      "key136@odata.type": "Edm.String", "key47": "value47", "key94@odata.type": "Edm.String",
      "key236": "value236", "key201": "value201", "key65@odata.type": "Edm.String",
      "key203@odata.type": "Edm.String", "key39": "value39", "key175": "value175",
      "key243@odata.type": "Edm.String", "key145@odata.type": "Edm.String", "key176":
      "value176", "key126@odata.type": "Edm.String", "key226": "value226", "key112@odata.type":
      "Edm.String", "key51@odata.type": "Edm.String", "key215@odata.type": "Edm.String",
      "key93": "value93", "key19": "value19", "key40@odata.type": "Edm.String", "key156@odata.type":
      "Edm.String", "key99@odata.type": "Edm.String", "key193": "value193", "key124@odata.type":
      "Edm.String", "key181": "value181", "key27@odata.type": "Edm.String", "key90@odata.type":
      "Edm.String", "key168": "value168", "key103@odata.type": "Edm.String", "key100@odata.type":
      "Edm.String", "key157": "value157", "key220": "value220", "key185": "value185",
      "key120@odata.type": "Edm.String", "key177@odata.type": "Edm.String", "key24":
      "value24", "key63@odata.type": "Edm.String", "key1": "value1", "key101": "value101",
      "key12@odata.type": "Edm.String", "key210@odata.type": "Edm.String", "key133@odata.type":
      "Edm.String", "key210": "value210", "key169@odata.type": "Edm.String", "key109":
      "value109", "key167@odata.type": "Edm.String", "key153": "value153", "key216":
      "value216", "key21@odata.type": "Edm.String", "key147@odata.type": "Edm.String",
      "key113@odata.type": "Edm.String", "key245@odata.type": "Edm.String", "key159@odata.type":
      "Edm.String", "key237": "value237", "key30@odata.type": "Edm.String", "key176@odata.type":
      "Edm.String", "key189@odata.type": "Edm.String", "key191@odata.type": "Edm.String",
      "key252": "value252", "key109@odata.type": "Edm.String", "key166@odata.type":
      "Edm.String", "key142": "value142", "key131": "value131", "key98@odata.type":
      "Edm.String", "key141@odata.type": "Edm.String", "key4@odata.type": "Edm.String",
      "key100": "value100", "key42@odata.type": "Edm.String", "key150@odata.type":
      "Edm.String", "key115@odata.type": "Edm.String", "key58@odata.type": "Edm.String",
      "key215": "value215", "key131@odata.type": "Edm.String", "key13": "value13",
      "key186@odata.type": "Edm.String", "key235@odata.type": "Edm.String", "key118@odata.type":
      "Edm.String", "key137": "value137", "key225@odata.type": "Edm.String", "key135":
      "value135", "key48": "value48", "key26@odata.type": "Edm.String", "key89@odata.type":
      "Edm.String", "key184": "value184", "key132": "value132", "key173@odata.type":
      "Edm.String", "key60@odata.type": "Edm.String", "key180@odata.type": "Edm.String",
      "key192": "value192", "key151": "value151", "key15": "value15", "key204": "value204",
      "key114@odata.type": "Edm.String", "key99": "value99", "key139": "value139",
      "key127@odata.type": "Edm.String", "key78": "value78", "key188@odata.type":
      "Edm.String", "key192@odata.type": "Edm.String", "key124": "value124", "key181@odata.type":
      "Edm.String", "key152": "value152", "key36": "value36", "key81": "value81",
      "key12": "value12", "key69": "value69", "key236@odata.type": "Edm.String", "key250":
      "value250", "key18": "value18", "key245": "value245", "key79@odata.type": "Edm.String",
      "key71": "value71", "key106": "value106", "key58": "value58", "key97": "value97",
      "key104": "value104", "key196@odata.type": "Edm.String", "key166": "value166",
      "key6@odata.type": "Edm.String", "key7@odata.type": "Edm.String", "key195@odata.type":
      "Edm.String", "key145": "value145", "key200@odata.type": "Edm.String", "key201@odata.type":
      "Edm.String", "key238@odata.type": "Edm.String", "key21": "value21", "key242@odata.type":
      "Edm.String", "key197": "value197", "key4": "value4", "key77": "value77", "key244@odata.type":
      "Edm.String", "key85": "value85", "key141": "value141", "key29@odata.type":
      "Edm.String", "key112": "value112", "key14@odata.type": "Edm.String", "key218":
      "value218", "key137@odata.type": "Edm.String", "key170@odata.type": "Edm.String",
      "key139@odata.type": "Edm.String", "key183@odata.type": "Edm.String", "key182@odata.type":
      "Edm.String", "key212@odata.type": "Edm.String", "key41@odata.type": "Edm.String",
      "key208": "value208", "key7": "value7", "key242": "value242", "key118": "value118",
      "key149@odata.type": "Edm.String", "key123": "value123", "key40": "value40",
      "key102@odata.type": "Edm.String", "key35": "value35"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:38:09 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/uttable2c5919f0
  response:
    body:
      string: '{"odata.error":{"code":"TooManyProperties","message":{"lang":"en-US","value":"The
        entity contains more properties than allowed. Each entity can include up to
        252 properties to store data. Each entity also has 3 system properties.\nRequestId:5ff3bc1f-6002-005a-1ba6-b4f72e000000\nTime:2020-11-07T01:38:10.4879405Z"}}}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version: '2019-02-02'
    status:
      code: 400
      message: Bad Request
    url: https://tablestestxjz4vq7ewcdgud.table.core.windows.net/uttable2c5919f0
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 Nov 2020 01:38:09 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablesteststorname.table.core.windows.net/Tables('uttable2c5919f0')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 204
      message: No Content
    url: https://tablestestxjz4vq7ewcdgud.table.core.windows.net/Tables('uttable2c5919f0')
version: 1
