interactions:
- request:
    body: '{"TableName": "uttable260d1530"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 02 Sep 2020 02:27:32 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable260d1530"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://storagename.table.core.windows.net/Tables('uttable260d1530')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://pyacrstoragect6543astms7.table.core.windows.net/Tables
- request:
    body: '{"PartitionKey": "pk260d1530", "RowKey": "rk260d1530", "age": 39, "sex":
      "male", "married": true, "deceased": false, "ratio": 3.1, "evenratio": 3.0,
      "large": 933311100, "Birthday": "1973-10-04T00:00:00Z", "Birthday@odata.type":
      "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type": "Edm.DateTime",
      "binary": "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other": 20, "clsid":
      "c9da6455-213d-42c9-9a79-3e9149a57833", "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 02 Sep 2020 02:27:32 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/uttable260d1530
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable260d1530/@Element","odata.etag":"W/\"datetime''2020-09-02T02%3A27%3A32.3887321Z''\"","PartitionKey":"pk260d1530","RowKey":"rk260d1530","Timestamp":"2020-09-02T02:27:32.3887321Z","age":39,"sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large":933311100,"Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-09-02T02%3A27%3A32.3887321Z'"
      location: https://storagename.table.core.windows.net/uttable260d1530(PartitionKey='pk260d1530',RowKey='rk260d1530')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://pyacrstoragect6543astms7.table.core.windows.net/uttable260d1530
- request:
    body: '{"PartitionKey": "pk260d1530", "RowKey": "rk260d1530", "age": 39, "sex":
      "male", "married": true, "deceased": false, "ratio": 3.1, "evenratio": 3.0,
      "large": 933311100, "Birthday": "1973-10-04T00:00:00Z", "Birthday@odata.type":
      "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type": "Edm.DateTime",
      "binary": "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other": 20, "clsid":
      "c9da6455-213d-42c9-9a79-3e9149a57833", "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 02 Sep 2020 02:27:32 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/uttable260d1530
  response:
    body:
      string: '{"odata.error":{"code":"EntityAlreadyExists","message":{"lang":"en-US","value":"The
        specified entity already exists.\nRequestId:14f2ce7f-3002-0060-15d0-80fa9d000000\nTime:2020-09-02T02:27:32.4275614Z"}}}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version: '2019-02-02'
    status:
      code: 409
      message: Conflict
    url: https://pyacrstoragect6543astms7.table.core.windows.net/uttable260d1530
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 02 Sep 2020 02:27:32 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttable260d1530')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 204
      message: No Content
    url: https://pyacrstoragect6543astms7.table.core.windows.net/Tables('uttable260d1530')
version: 1
