{
  "Entries": [
    {
      "RequestUri": "https://yalltbtestsprim.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 20 Sep 2021 21:59:55 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022TableName\u0022: \u0022uttablef30d2c42\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://yalltbtestsprim.table.core.windows.net/Tables(\u0027uttablef30d2c42\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltbtestsprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttablef30d2c42"
      }
    },
[...]
    {
      "RequestUri": "https://yalltbtestsprim.table.core.windows.net/querytablef30d2c42",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 20 Sep 2021 21:59:55 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022: \u0022pkf30d2c42\u0022, \u0022PartitionKey@odata.type\u0022: \u[...]
[...]
    {
      "RequestUri": "https://yalltbtestsprim.table.core.windows.net/querytablef30d2c42()",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 20 Sep 2021 21:59:55 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltbtestsprim.table.core.windows.net/$metadata#querytablef30d2c42",
        "value": [
          {
            "odata.type": "yalltbtestsprim.querytablef30d2c42",
            "odata.id": "https://yalltbtestsprim.table.core.windows.net/querytablef30d2c42(PartitionKey=\u0027pkf30d2c42\u0027,RowKey=\u0027rkf30d2c421\u0027)",
            "odata.etag": "W/\u0022datetime\u00272021-09-20T21%3A59%3A55.3638372Z\u0027\u0022",
            "odata.editLink": "querytablef30d2c42(PartitionKey=\u0027pkf30d2c42\u0027,RowKey=\u0027rkf30d2c421\u0027)",
            "PartitionKey": "pkf30d2c42",
            "RowKey": "rkf30d2c421",
            "Timestamp@odata.type": "Edm.DateTime",
            "Timestamp": "2021-09-20T21:59:55.3638372Z",
            "age": 39,
            "sex": "male",
            "married": true,
            "deceased": false,
            "ratio": 3.1,
            "evenratio": 3.0,
            "double": 5.0,
            "large": 933311100,
            "Birthday@odata.type": "Edm.DateTime",
            "Birthday": "1973-10-04T00:00:00Z",
            "birthday@odata.type": "Edm.DateTime",
            "birthday": "1970-10-04T00:00:00Z",
            "binary@odata.type": "Edm.Binary",
            "binary": "YmluYXJ5",
            "other": 20,
            "clsid@odata.type": "Edm.Guid",
            "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833"
          },
          {
            "odata.type": "yalltbtestsprim.querytablef30d2c42",
            "odata.id": "https://yalltbtestsprim.table.core.windows.net/querytablef30d2c42(PartitionKey=\u0027pkf30d2c42\u0027,RowKey=\u0027rkf30d2c4212\u0027)",
            "odata.etag": "W/\u0022datetime\u00272021-09-20T21%3A59%3A55.3878545Z\u0027\u0022",
            "odata.editLink": "querytablef30d2c42(PartitionKey=\u0027pkf30d2c42\u0027,RowKey=\u0027rkf30d2c4212\u0027)",
            "PartitionKey": "pkf30d2c42",
            "RowKey": "rkf30d2c4212",
            "Timestamp@odata.type": "Edm.DateTime",
            "Timestamp": "2021-09-20T21:59:55.3878545Z",
            "age": 39,
            "sex": "male",
            "married": true,
            "deceased": false,
            "ratio": 3.1,
            "evenratio": 3.0,
            "double": 5.0,
            "large": 933311100,
            "Birthday@odata.type": "Edm.DateTime",
            "Birthday": "1973-10-04T00:00:00Z",
            "birthday@odata.type": "Edm.DateTime",
            "birthday": "1970-10-04T00:00:00Z",
            "binary@odata.type": "Edm.Binary",
            "binary": "YmluYXJ5",
            "other": 20,
            "clsid@odata.type": "Edm.Guid",
            "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://yalltbtestsprim.table.core.windows.net/Tables(\u0027querytablef30d2c42\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 Sep 2021 21:59:55 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://yalltbtestsprim.table.core.windows.net/Tables(\u0027uttablef30d2c42\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 Sep 2021 21:59:55 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
