interactions:
- request:
    body: '{"TableName": "uttable7f5216c4"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 20 Aug 2020 20:17:33 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable7f5216c4"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://storagename.table.core.windows.net/Tables('uttable7f5216c4')
      x-ms-version: '2019-07-07'
    status:
      code: 201
      message: Created
    url: https://pyacrstoragewdjxux7eodqw.table.core.windows.net/Tables
[...]
- request:
    body: '{"PartitionKey": "pk7f5216c4", "RowKey": "rk7f5216c41", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "married": true, "deceased": false, "ratio": 3.1,
      "evenratio": 3.0, "large": "933311100", "large@odata.type": "Edm.Int64", "Birthday":
      "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z",
      "birthday@odata.type": "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type":
      "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 20 Aug 2020 20:17:34 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/querytable7f5216c4
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#querytable7f5216c4/@Element","odata.etag":"W/\"datetime''2020-08-20T20%3A17%3A34.2704738Z''\"","PartitionKey":"pk7f5216c4","RowKey":"rk7f5216c41","Timestamp":"2020-08-20T20:17:34.2704738Z","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-08-20T20%3A17%3A34.2704738Z'"
      location: https://storagename.table.core.windows.net/querytable7f5216c4(PartitionKey='pk7f5216c4',RowKey='rk7f5216c41')
      x-ms-version: '2019-07-07'
    status:
      code: 201
      message: Created
    url: https://pyacrstoragewdjxux7eodqw.table.core.windows.net/querytable7f5216c4
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 20 Aug 2020 20:17:34 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://storagename.table.core.windows.net/querytable7f5216c4()
  response:
    body:
      string: '{"value":[{"PartitionKey":"pk7f5216c4","RowKey":"rk7f5216c41","Timestamp":"2020-08-20T20:17:34.2704738Z","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large":"933311100","Birthday":"1973-10-04T00:00:00Z","birthday":"1970-10-04T00:00:00Z","binary":"YmluYXJ5","other":20,"clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"},{"PartitionKey":"pk7f5216c4","RowKey":"rk7f5216c412","Timestamp":"2020-08-20T20:17:34.3515522Z","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large":"933311100","Birthday":"1973-10-04T00:00:00Z","birthday":"1970-10-04T00:00:00Z","binary":"YmluYXJ5","other":20,"clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}]}'
    headers:
      content-type: application/json;odata=nometadata;streaming=true;charset=utf-8
      x-ms-version: '2019-07-07'
    status:
      code: 200
      message: OK
    url: https://pyacrstoragewdjxux7eodqw.table.core.windows.net/querytable7f5216c4()
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Aug 2020 20:17:34 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttable7f5216c4')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-07-07'
    status:
      code: 204
      message: No Content
    url: https://pyacrstoragewdjxux7eodqw.table.core.windows.net/Tables('uttable7f5216c4')
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Aug 2020 20:17:34 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('querytable7f5216c4')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-07-07'
    status:
      code: 204
      message: No Content
    url: https://pyacrstoragewdjxux7eodqw.table.core.windows.net/Tables('querytable7f5216c4')
version: 1
