{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 09 Dec 2021 02:24:45 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022TableName\u0022: \u0022uttable58a32fc\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-12-09T02%3A24%3A45.6089607Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttable58a32fc\u0027)"
      },
      "ResponseBody": {
        "TableName": "uttable58a32fc",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable58a32fc",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 09 Dec 2021 02:24:46 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022: \u0022pk58a32fc\u0022, \u0022PartitionKey@odata.type\u0022: \u0022Edm.[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable58a32fc(PartitionKey=\u0027pk58a32fc\u0027,RowKey=\u0027rk58a32fc\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 09 Dec 2021 02:24:47 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-12-09T02%3A24%3A46.3175687Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable58a32fc/$metadata#uttable58a32fc/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-12-09T02%3A24%3A46.3175687Z\u0027\u0022",
        "PartitionKey": "pk58a32fc",
        "RowKey": "rk58a32fc",
        "EmptyByte@odata.type": "Edm.Binary",
        "EmptyByte": "",
        "EmptyUnicode": "",
        "SpacesOnlyByte@odata.type": "Edm.Binary",
        "SpacesOnlyByte": "ICAg",
        "SpacesOnlyUnicode": "   ",
        "SpacesBeforeByte@odata.type": "Edm.Binary",
        "SpacesBeforeByte": "ICAgVGV4dA==",
        "SpacesBeforeUnicode": "   Text",
        "SpacesAfterByte@odata.type": "Edm.Binary",
        "SpacesAfterByte": "VGV4dCAgIA==",
        "SpacesAfterUnicode": "Text   ",
        "SpacesBeforeAndAfterByte@odata.type": "Edm.Binary",
        "SpacesBeforeAndAfterByte": "ICAgVGV4dCAgIA==",
        "SpacesBeforeAndAfterUnicode": "   Text   ",
        "Timestamp": "2021-12-09T02:24:46.3175687Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 09 Dec 2021 02:24:47 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "TableName": "uttable58a32fc"
          }
        ],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttable58a32fc\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 09 Dec 2021 02:24:47 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
