interactions:
- request:
    body: '{"TableName": "uttable7e0a1b30"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 02:07:10 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttable7e0a1b30","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-11-07T02%3A07%3A11.9260679Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable7e0a1b30')
    status:
      code: 201
      message: Ok
    url: https://tablestestussw52mubjcwms.table.cosmos.azure.com/Tables
- request:
    body: '{"PartitionKey": "", "RowKey@odata.type": "Edm.String", "RowKey": "rk",
      "PartitionKey@odata.type": "Edm.String"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 02:07:11 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable7e0a1b30
  response:
    body:
      string: "{\"odata.error\":{\"code\":\"PropertiesNeedValue\",\"message\":{\"lang\":\"en-us\",\"value\":\"PartitionKey/RowKey
        cannot be empty\\r\\nActivityId: f26ffede-209d-11eb-b63b-58961df361d1, documentdb-dotnet-sdk/2.11.0
        Host/64-bit MicrosoftWindowsNT/6.2.9200.0\\nRequestID:f26ffede-209d-11eb-b63b-58961df361d1\\n\"}}}\r\n"
    headers:
      content-type: application/json;odata=fullmetadata
    status:
      code: 400
      message: Bad Request
    url: https://tablestestussw52mubjcwms.table.cosmos.azure.com/uttable7e0a1b30
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 Nov 2020 02:07:11 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable7e0a1b30')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://tablestestussw52mubjcwms.table.cosmos.azure.com/Tables('uttable7e0a1b30')
version: 1
