{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:44:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttableae252ddc"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttableae252ddc\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttableae252ddc"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttableae252ddc",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:44:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pkae252ddc",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "rkae252ddc",
        "RowKey@odata.type": "Edm.String",
        "\u554A\u9F44\u4E02\u72DB\u72DC": "\uA015",
        "\u554A\u9F44\u4E02\u72DB\u72DC@odata.type": "Edm.String"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-05-06T00%3A44%3A35.5396664Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.core.windows.net/uttableae252ddc(PartitionKey=\u0027pkae252ddc\u0027,RowKey=\u0027rkae252ddc\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttableae252ddc/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-05-06T00%3A44%3A35.5396664Z\u0027\u0022",
        "PartitionKey": "pkae252ddc",
        "RowKey": "rkae252ddc",
        "Timestamp": "2022-05-06T00:44:35.5396664Z",
        "\u554A\u9F44\u4E02\u72DB\u72DC": "\uA015"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttableae252ddc()?$filter=PartitionKey%20eq%20\u0027pkae252ddc\u0027",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:44:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttableae252ddc",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272022-05-06T00%3A44%3A35.5396664Z\u0027\u0022",
            "PartitionKey": "pkae252ddc",
            "RowKey": "rkae252ddc",
            "Timestamp": "2022-05-06T00:44:35.5396664Z",
            "\u554A\u9F44\u4E02\u72DB\u72DC": "\uA015"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-05-06T00%3A44%3A35.5546582Z\u0027\u0022",
            "PartitionKey": "pkae252ddc",
            "RowKey": "test2",
            "Timestamp": "2022-05-06T00:44:35.5546582Z",
            "\u554A\u9F44\u4E02\u72DB\u72DC": "hello"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttableae252ddc\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 May 2022 00:44:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
