{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:44:29 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable971031f5"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttable971031f5\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable971031f5"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable971031f5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:44:29 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk971031f5",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "rk971031f5",
        "RowKey@odata.type": "Edm.String",
        "inf": "Infinity",
        "inf@odata.type": "Edm.Double",
        "negativeinf": "-Infinity",
        "negativeinf@odata.type": "Edm.Double",
        "nan": "NaN",
        "nan@odata.type": "Edm.Double"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-05-06T00%3A44%3A28.6006168Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.core.windows.net/uttable971031f5(PartitionKey=\u0027pk971031f5\u0027,RowKey=\u0027rk971031f5\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable971031f5/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-05-06T00%3A44%3A28.6006168Z\u0027\u0022",
        "PartitionKey": "pk971031f5",
        "RowKey": "rk971031f5",
        "Timestamp": "2022-05-06T00:44:28.6006168Z",
        "inf@odata.type": "Edm.Double",
        "inf": "Infinity",
        "negativeinf@odata.type": "Edm.Double",
        "negativeinf": "-Infinity",
        "nan@odata.type": "Edm.Double",
        "nan": "NaN"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable971031f5(PartitionKey=\u0027pk971031f5\u0027,RowKey=\u0027rk971031f5\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:44:29 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-05-06T00%3A44%3A28.6006168Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable971031f5/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-05-06T00%3A44%3A28.6006168Z\u0027\u0022",
        "PartitionKey": "pk971031f5",
        "RowKey": "rk971031f5",
        "Timestamp": "2022-05-06T00:44:28.6006168Z",
        "inf@odata.type": "Edm.Double",
        "inf": "Infinity",
        "negativeinf@odata.type": "Edm.Double",
        "negativeinf": "-Infinity",
        "nan@odata.type": "Edm.Double",
        "nan": "NaN"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:44:29 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "uttable971031f5"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttable971031f5\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 May 2022 00:44:29 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
