{
  "Entries": [
    {
      "RequestUri": "https://yalltablestestsprim.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 15 Sep 2021 17:14:03 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022TableName\u0022: \u0022pytablesyncb9c42b83\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-09-15T17%3A14%3A02.0315144Z\u0027\u0022",
        "Location": "https://yalltablestestsprim.table.cosmos.azure.com/Tables(\u0027pytablesyncb9c42b83\u0027)"
      },
      "ResponseBody": {
        "TableName": "pytablesyncb9c42b83",
        "odata.metadata": "https://yalltablestestsprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
[...]
    {
      "RequestUri": "https://yalltablestestsprim.table.cosmos.azure.com/Tables(\u0027pytablesyncb9c42b83\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Sep 2021 17:14:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}