interactions:
- request:
    body: '{"TableName": "uttableb85917af"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 02 Nov 2020 18:40:33 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttableb85917af"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://tablesteststorname.table.core.windows.net/Tables('uttableb85917af')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://tablestestvqg7ryxq46pzyj.table.core.windows.net/Tables
- request:
    body: '{"PartitionKey": "001", "PartitionKey@odata.type": "Edm.String", "RowKey":
      "batch_negative_1", "RowKey@odata.type": "Edm.String", "age": 39, "sex": "male",
      "sex@odata.type": "Edm.String", "married": true, "deceased": false, "ratio":
      3.1, "evenratio": 3.0, "large": 933311100, "Birthday": "1973-10-04T00:00:00Z",
      "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other":
      20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 02 Nov 2020 18:40:33 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/uttableb85917af
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttableb85917af/@Element","odata.etag":"W/\"datetime''2020-11-02T18%3A40%3A33.648941Z''\"","PartitionKey":"001","RowKey":"batch_negative_1","Timestamp":"2020-11-02T18:40:33.648941Z","age":39,"sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large":933311100,"Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-11-02T18%3A40%3A33.648941Z'"
      location: https://tablesteststorname.table.core.windows.net/uttableb85917af(PartitionKey='001',RowKey='batch_negative_1')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://tablestestvqg7ryxq46pzyj.table.core.windows.net/uttableb85917af
- request:
    body: "--batch_2584c463-450a-4bc6-84f0-4ec488891d4c\r\nContent-Type: multipart/mixed;\
      \ boundary=changeset_cab1b810-5aba-4579-95f3-e91f1a174204\r\n\r\n--changeset_cab1b810-5aba-4579-95f3-e91f1a174204\r\
      \nContent-Type: application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID:\
      \ 0\r\n\r\nPATCH https://tablestestvqg7ryxq46pzyj.table.core.windows.net/uttableb85917af(PartitionKey='001',RowKey='batch_negative_1')\
      \ HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nIf-Match:\
      \ *\r\nContent-Type: application/json\r\nAccept: application/json\r\nContent-Length:\
      \ 352\r\nx-ms-date: Mon, 02 Nov 2020 18:40:34 GMT\r\nDate: Mon, 02 Nov 2020\
      \ 18:40:34 GMT\r\nx-ms-client-request-id: e449302f-1d3a-11eb-a0aa-58961df361d1\r\
      \n\r\n{\"PartitionKey\": \"001\", \"PartitionKey@odata.type\": \"Edm.String\"\
      , \"RowKey\": \"batch_negative_1\", \"RowKey@odata.type\": \"Edm.String\", \"\
      age\": \"abc\", \"age@odata.type\": \"Edm.String\", \"sex\": \"female\", \"\
      sex@odata.type\": \"Edm.String\", \"sign\": \"aquarius\", \"sign@odata.type\"\
      : \"Edm.String\", \"birthday\": \"1991-10-04T00:00:00Z\", \"birthday@odata.type\"\
      : \"Edm.DateTime\"}\r\n--changeset_cab1b810-5aba-4579-95f3-e91f1a174204\r\n\
      Content-Type: application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID:\
      \ 1\r\n\r\nPATCH https://tablestestvqg7ryxq46pzyj.table.core.windows.net/uttableb85917af(PartitionKey='001',RowKey='batch_negative_1')\
      \ HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceV[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 02 Nov 2020 18:40:34 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablesteststorname.table.core.windows.net/Tables('uttableb85917af')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 204
      message: No Content
    url: https://tablestestvqg7ryxq46pzyj.table.core.windows.net/Tables('uttableb85917af')
version: 1
