{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Oct 2022 01:24:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable9f043429"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttable9f043429\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable9f043429"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable9f043429",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Oct 2022 01:24:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk9f043429",
        "RowKey": "rk9f043429",
        "large": "1125899906842624",
        "large@odata.type": "Edm.Int64"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-10-20T01%3A23%3A56.0462075Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.core.windows.net/uttable9f043429(PartitionKey=\u0027pk9f043429\u0027,RowKey=\u0027rk9f043429\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable9f043429/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-10-20T01%3A23%3A56.0462075Z\u0027\u0022",
        "PartitionKey": "pk9f043429",
        "RowKey": "rk9f043429",
        "Timestamp": "2022-10-20T01:23:56.0462075Z",
        "large@odata.type": "Edm.Int64",
        "large": "1125899906842624"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable9f043429(PartitionKey=\u0027pk9f043429\u0027,RowKey=\u0027rk9f043429\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Oct 2022 01:24:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-10-20T01%3A23%3A56.0462075Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable9f043429/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-10-20T01%3A23%3A56.0462075Z\u0027\u0022",
        "PartitionKey": "pk9f043429",
        "RowKey": "rk9f043429",
        "Timestamp": "2022-10-20T01:23:56.0462075Z",
        "large@odata.type": "Edm.Int64",
        "large": "1125899906842624"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable9f043429(PartitionKey=\u0027pk9f043429\u0027,RowKey=\u0027negative\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Oct 2022 01:24:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-10-20T01%3A23%3A56.1091685Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable9f043429/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-10-20T01%3A23%3A56.1091685Z\u0027\u0022",
        "PartitionKey": "pk9f043429",
        "RowKey": "negative",
        "Timestamp": "2022-10-20T01:23:56.1091685Z",
        "large@odata.type": "Edm.Int64",
        "large": "-1125899906842625"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Oct 2022 01:24:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "uttable9f043429"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttable9f043429\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Thu, 20 Oct 2022 01:24:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
