{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:45:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable72b233e4"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-05-06T00%3A45%3A31.2250888Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttable72b233e4\u0027)"
      },
      "ResponseBody": {
        "TableName": "uttable72b233e4",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable72b233e4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:45:32 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk72b233e4",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "rk72b233e4",
        "RowKey@odata.type": "Edm.String",
        "age": 39,
        "sex": "male",
        "sex@odata.type": "Edm.String",
        "married": true,
        "deceased": false,
        "ratio": 3.1,
        "ratio@odata.type": "Edm.Double",
        "evenratio": 3.0,
        "evenratio@odata.type": "Edm.Double",
        "double": 5,
        "double@odata.type": "Edm.Double",
        "large": 933311100,
        "Birthday": "1973-10-04T00:00:00.000000Z",
        "Birthday@odata.type": "Edm.DateTime",
        "birthday": "1970-10-04T00:00:00.000000Z",
        "birthday@odata.type": "Edm.DateTime",
        "binary": "YmluYXJ5",
        "binary@odata.type": "Edm.Binary",
        "other": 20,
        "other@odata.type": "Edm.Int32",
        "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
        "clsid@odata.type": "Edm.Guid"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-05-06T00%3A45%3A31.5550216Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/uttable72b233e4(PartitionKey=\u0027pk72b233e4\u0027,RowKey=\u0027rk72b233e4\u0027)"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable72b233e4/$metadata#uttable72b233e4/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-05-06T00%3A45%3A31.5550216Z\u0027\u0022",
        "PartitionKey": "pk72b233e4",
        "RowKey": "rk72b233e4",
        "age": 39,
        "sex": "male",
        "married": true,
        "deceased": false,
        "ratio": 3.1,
        "evenratio": 3.0,
        "double": 5.0,
        "large": 933311100,
        "Birthday@odata.type": "Edm.DateTime",
        "Birthday": "1973-10-04T00:00:00.0000000Z",
        "birthday@odata.type": "Edm.DateTime",
        "birthday": "1970-10-04T00:00:00.0000000Z",
        "binary@odata.type": "Edm.Binary",
        "binary": "YmluYXJ5",
        "other": 20,
        "clsid@odata.type": "Edm.Guid",
        "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
        "Timestamp": "2022-05-06T00:45:31.5550216Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable72b233e4()?$filter=married%20eq%20true%20and%20RowKey%20eq%20%27rk72b233e4%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:45:32 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272022-05-06T00%3A45%3A31.5550216Z\u0027\u0022",
            "PartitionKey": "pk72b233e4",
            "RowKey": "rk72b233e4",
            "age": 39,
            "sex": "male",
            "married": true,
            "deceased": false,
            "ratio": 3.1,
            "evenratio": 3.0,
            "double": 5.0,
            "large": 933311100,
            "Birthday@odata.type": "Edm.DateTime",
            "Birthday": "1973-10-04T00:00:00.0000000Z",
            "birthday@odata.type": "Edm.DateTime",
            "birthday": "1970-10-04T00:00:00.0000000Z",
            "binary@odata.type": "Edm.Binary",
            "binary": "YmluYXJ5",
            "other": 20,
            "clsid@odata.type": "Edm.Guid",
            "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
            "Timestamp": "2022-05-06T00:45:31.5550216Z"
          }
        ],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#uttable72b233e4"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttable72b233e4\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 May 2022 00:45:32 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
