interactions:
- request:
    body: '{"TableName": "pytablesync99dc0b08"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 02 Sep 2020 21:28:33 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"pytablesync99dc0b08"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://storagename.table.core.windows.net/Tables('pytablesync99dc0b08')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '{"PartitionKey": "test", "RowKey": "test1", "text": "hello"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 02 Sep 2020 21:28:34 GMT
      x-ms-version:
      - '2019-02-02'
    method: PATCH
    uri: https://storagename.table.core.windows.net/pytablesync99dc0b08(PartitionKey='test',RowKey='test1')
  response:
    body:
      string: ''
    headers:
      etag:
      - W/"datetime'2020-09-02T21%3A28%3A34.802669Z'"
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 02 Sep 2020 21:28:34 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.table.core.windows.net/pytablesync99dc0b08()?st=2020-09-02T21%3A27%3A34Z&se=2020-09-02T22%3A28%3A34Z&sp=r&sv=2019-02-02&ss=t&srt=o&sig=JfZWc21Pob2yz0NdvoPAhdZvrb4e0Kw2sET4KdTRa38%3D
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#pytablesync99dc0b08","value":[{"odata.etag":"W/\"datetime''2020-09-02T21%3A28%3A34.802669Z''\"","PartitionKey":"test","RowKey":"test1","Timestamp":"2020-09-02T21:28:34.802669Z","text":"hello"},{"odata.etag":"W/\"datetime''2020-09-02T21%3A28%3A34.8386939Z''\"","PartitionKey":"test","RowKey":"test2","Timestamp":"2020-09-02T21:28:34.8386939Z","text":"hello"}]}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 02 Sep 2020 21:28:34 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('pytablesync99dc0b08')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
version: 1
