interactions:
- request:
    body: '{"TableName": "uttablefc01144f"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:38:23 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttablefc01144f"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://tablesteststorname.table.core.windows.net/Tables('uttablefc01144f')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://tablestestxjz4vq7ewcdgud.table.core.windows.net/Tables
- request:
    body: '{"value": 1, "PartitionKey": "pk", "RowKey@odata.type": "Edm.String", "RowKey":
      "rk0", "PartitionKey@odata.type": "Edm.String"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:38:24 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/uttablefc01144f
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttablefc01144f/@Element","odata.etag":"W/\"datetime''2020-11-07T01%3A38%3A25.0332126Z''\"","PartitionKey":"pk","RowKey":"rk0","Timestamp":"2020-11-07T01:38:25.0332126Z","value":1}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-11-07T01%3A38%3A25.0332126Z'"
      location: https://tablesteststorname.table.core.windows.net/uttablefc01144f(PartitionKey='pk',RowKey='rk0')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://tablestestxjz4vq7ewcdgud.table.core.windows.net/uttablefc01144f
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:38:24 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablesteststorname.table.core.windows.net/uttablefc01144f()?$filter=aaa%20bbb%20ccc
  response:
    body:
      string: '{"odata.error":{"code":"InvalidInput","message":{"lang":"en-US","value":"Syntax
        error at position 7 in ''aaa bbb ccc''.\nRequestId:f1b4d676-9002-0022-2da6-b49f99000000\nTime:2020-11-07T01:38:25.2603719Z"}}}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version: '2019-02-02'
    status:
      code: 400
      message: Bad Request
    url: https://tablestestxjz4vq7ewcdgud.table.core.windows.net/uttablefc01144f()?$filter=aaa%20bbb%20ccc
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 Nov 2020 01:38:24 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablesteststorname.table.core.windows.net/Tables('uttablefc01144f')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 204
      message: No Content
    url: https://tablestestxjz4vq7ewcdgud.table.core.windows.net/Tables('uttablefc01144f')
version: 1
