interactions:
- request:
    body: '{"TableName": "uttableabfa12a7"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
<<<<<<< HEAD:sdk/table/azure-table/tests/recordings/test_table_entity.test_get_entity_with_select.yaml
      - Thu, 23 Jul 2020 14:40:09 GMT
=======
      - Wed, 22 Jul 2020 15:51:05 GMT
>>>>>>> 32dbb1125b174271baf26296ae51abef0bbcccfa:sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_get_entity_with_select.yaml
      User-Agent:
      - azsdk-python-storage-table/2019-07-07 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
<<<<<<< HEAD:sdk/table/azure-table/tests/recordings/test_table_entity.test_get_entity_with_select.yaml
      - Thu, 23 Jul 2020 14:40:09 GMT
=======
      - Wed, 22 Jul 2020 15:51:05 GMT
>>>>>>> 32dbb1125b174271baf26296ae51abef0bbcccfa:sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_get_entity_with_select.yaml
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttableabfa12a7"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
<<<<<<< HEAD:sdk/table/azure-table/tests/recordings/test_table_entity.test_get_entity_with_select.yaml
      - Thu, 23 Jul 2020 14:40:09 GMT
=======
      - Wed, 22 Jul 2020 15:51:04 GMT
>>>>>>> 32dbb1125b174271baf26296ae51abef0bbcccfa:sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_get_entity_with_select.yaml
      location:
      - https://storagename.table.core.windows.net/Tables('uttableabfa12a7')
      server:
      - Windows-Azure-Table/1.0 Microsoft-HTTPAPI/2.0
      transfer-encoding:
      - chunked
      x-content-type-options:
      - nosniff
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: '{"PartitionKey": "pkabfa12a7", "RowKey": "rkabfa12a7", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "married": true, "deceased": false, "ratio": 3.1,
      "evenratio": 3.0, "large": "933311100", "large@odata.type": "Edm.Int64", "Birthday":
      "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z",
      "birthday@odata.type": "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type":
      "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
<<<<<<< HEAD:sdk/table/azure-table/tests/recordings/test_table_entity.test_get_entity_with_select.yaml
      - Thu, 23 Jul 2020 14:40:10 GMT
=======
      - Wed, 22 Jul 2020 15:51:05 GMT
>>>>>>> 32dbb1125b174271baf26296ae51abef0bbcccfa:sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_get_entity_with_select.yaml
      User-Agent:
      - azsdk-python-storage-table/2019-07-07 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
<<<<<<< HEAD:sdk/table/azure-table/tests/recordings/test_table_entity.test_get_entity_with_select.yaml
      - Thu, 23 Jul 2020 14:40:10 GMT
=======
      - Wed, 22 Jul 2020 15:51:05 GMT
>>>>>>> 32dbb1125b174271baf26296ae51abef0bbcccfa:sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_get_entity_with_select.yaml
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/uttableabfa12a7
  response:
    body:
<<<<<<< HEAD:sdk/table/azure-table/tests/recordings/test_table_entity.test_get_entity_with_select.yaml
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttableabfa12a7/@Element","odata.etag":"W/\"datetime''2020-07-23T14%3A40%3A10.5120215Z''\"","PartitionKey":"pkabfa12a7","RowKey":"rkabfa12a7","Timestamp":"2020-07-23T14:40:10.5120215Z","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}'
=======
      string[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
<<<<<<< HEAD:sdk/table/azure-table/tests/recordings/test_table_entity.test_get_entity_with_select.yaml
      - Thu, 23 Jul 2020 14:40:10 GMT
=======
      - Wed, 22 Jul 2020 15:51:05 GMT
>>>>>>> 32dbb1125b174271baf26296ae51abef0bbcccfa:sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_get_entity_with_select.yaml
      User-Agent:
      - azsdk-python-storage-table/2019-07-07 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
<<<<<<< HEAD:sdk/table/azure-table/tests/recordings/test_table_entity.test_get_entity_with_select.yaml
      - Thu, 23 Jul 2020 14:40:10 GMT
=======
      - Wed, 22 Jul 2020 15:51:05 GMT
>>>>>>> 32dbb1125b174271baf26296ae51abef0bbcccfa:sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_get_entity_with_select.yaml
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://storagename.table.core.windows.net/uttableabfa12a7(PartitionKey='pkabfa12a7',RowKey='rkabfa12a7')?$select=agesexxyz
  response:
    body:
<<<<<<< HEAD:sdk/table/azure-table/tests/recordings/test_table_entity.test_get_entity_with_select.yaml
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttableabfa12a7/@Element&$select=age,sex,xyz","odata.etag":"W/\"datetime''2020-07-23T14%3A40%3A10.5120215Z''\"","age@odata.type":"Edm.Int64","age":"39","sex":"male","xyz":null}'
=======
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttableabfa12a7/@Element&$select=agesexxyz","odata.etag":"W/\"datetime''2020-07-22T15%3A51%3A05.1113456Z''\"","agesexxyz":null}'
>>>>>>> 32dbb1125b174271baf26296ae51abef0bbcccfa:sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_get_entity_with_select.yaml
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
<<<<<<< HEAD:sdk/table/azure-table/tests/recordings/test_table_entity.test_get_entity_with_select.yaml
      - Thu, 23 Jul 2020 14:40:10 GMT
      etag:
      - W/"datetime'2020-07-23T14%3A40%3A10.5120215Z'"
=======
      - Wed, 22 Jul 2020 15:51:04 GMT
      etag:
      - W/"datetime'2020-07-22T15%3A51%3A05.1113456Z'"
>>>>>>> 32dbb1125b174271baf26296ae51abef0bbcccfa:sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_get_entity_with_select.yaml
      server:
      - Windows-Azure-Table/1.0 Microsoft-HTTPAPI/2.0
      transfer-encoding:
      - chunked
      x-content-type-options:
      - nosniff
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
<<<<<<< HEAD:sdk/table/azure-table/tests/recordings/test_table_entity.test_get_entity_with_select.yaml
      - Thu, 23 Jul 2020 14:40:10 GMT
=======
      - Wed, 22 Jul 2020 15:51:05 GMT
>>>>>>> 32dbb1125b174271baf26296ae51abef0bbcccfa:sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_get_entity_with_select.yaml
      User-Agent:
      - azsdk-python-storage-table/2019-07-07 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
<<<<<<[...]
