{
  "Entries": [
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 16 Sep 2021 23:30:20 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022TableName\u0022: \u0022uttablea62c33c5\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-09-16T23%3A30%3A19.0288904Z\u0027\u0022",
        "Location": "https://yalltbtestsprim.table.cosmos.azure.com/Tables(\u0027uttablea62c33c5\u0027)"
      },
      "ResponseBody": {
        "TableName": "uttablea62c33c5",
        "odata.metadata": "https://yalltbtestsprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/uttablea62c33c5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 16 Sep 2021 23:30:20 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022: \u0022pka62c33c5\u0022, \u0022PartitionKey@odata.type\u0022: \u002[...]
[...]
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/uttablea62c33c5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 16 Sep 2021 23:30:20 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022: \u0022pk001\u0022, \u0022PartitionKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022RowKey\u0022: \u0022rk001\u0022, \u0022RowKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022large_int\u0022: \u00221099511627776\u0022, \u0022large_int@odata.type\u0022: \u0022Edm.Int64\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-09-16T23%3A30%3A19.5183624Z\u0027\u0022",
        "Location": "https://yalltbtestsprim.table.cosmos.azure.com/uttablea62c33c5(PartitionKey=\u0027pk001\u0027,RowKey=\u0027rk001\u0027)"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltbtestsprim.table.cosmos.azure.com/uttablea62c33c5/$metadata#uttablea62c33c5/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-09-16T23%3A30%3A19.5183624Z\u0027\u0022",
        "PartitionKey": "pk001",
        "RowKey": "rk001",
        "large_int@odata.type": "Edm.Int64",
        "large_int": "1099511627776",
        "Timestamp": "2021-09-16T23:30:19.5183624Z"
      }
    },
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/uttablea62c33c5()?$filter=large_int eq 1099511627776L",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 16 Sep 2021 23:30:20 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272021-09-16T23%3A30%3A19.5183624Z\u0027\u0022",
            "PartitionKey": "pk001",
            "RowKey": "rk001",
            "large_int@odata.type": "Edm.Int64",
            "large_int": "1099511627776",
            "Timestamp": "2021-09-16T23:30:19.5183624Z"
          }
        ],
        "odata.metadata": "https://yalltbtestsprim.table.cosmos.azure.com/$metadata#uttablea62c33c5"
      }
    },
[...]
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/Tables(\u0027uttablea62c33c5\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Sep 2021 23:30:20 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}