interactions:
- request:
    body: '{"TableName": "uttablee10d18a6"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
<<<<<<< HEAD
      - Mon, 28 Sep 2020 17:29:32 GMT
      User-Agent:
      - azsdk-python-data-tables/2019-07-07 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Mon, 28 Sep 2020 17:29:32 GMT
=======
      - Wed, 16 Sep 2020 21:51:35 GMT
      User-Agent:
      - azsdk-python-data-tables/12.0.0b2 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Wed, 16 Sep 2020 21:51:35 GMT
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttablee10d18a6"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
<<<<<<< HEAD
      - Mon, 28 Sep 2020 17:29:32 GMT
=======
      - Wed, 16 Sep 2020 21:51:34 GMT
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
      location:
      - https://tablesteststorname.table.core.windows.net/Tables('uttablee10d18a6')
      server:
      - Windows-Azure-Table/1.0 Microsoft-HTTPAPI/2.0
      transfer-encoding:
      - chunked
      x-content-type-options:
      - nosniff
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '{"PartitionKey": "pke10d18a6", "PartitionKey@odata.type": "Edm.String",
      "RowKey": "rke10d18a6", "RowKey@odata.type": "Edm.String", "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa":
      "badval", "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa@odata.type":
      "Edm.String"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
<<<<<<< HEAD
      - Mon, 28 Sep 2020 17:29:33 GMT
      User-Agent:
      - azsdk-python-data-tables/2019-07-07 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Mon, 28 Sep 2020 17:29:33 GMT
=======
      - Wed, 16 Sep 2020 21:51:35 GMT
      User-Agent:
      - azsdk-python-data-tables/12.0.0b2 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Wed, 16 Sep 2020 21:51:35 GMT
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/uttablee10d18a6
  response:
    body:
      string: '{"odata.error":{"code":"PropertyNameTooLong","message":{"lang":"en-US","value":"The
<<<<<<< HEAD
        property name exceeds the maximum allowed length (255).\nRequestId:eaa1c55d-4002-0070-44bc-95ada5000000\nTime:2020-09-28T17:29:33.1926922Z"}}}'
=======
        property name exceeds the maximum allowed length (255).\nRequestId:e4752103-9002-0026-4c73-8cf3b3000000\nTime:2020-09-16T21:51:35.3483393Z"}}}'
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
<<<<<<< HEAD
      - Mon, 28 Sep 2020 17:29:32 GMT
=======
      - Wed, 16 Sep 2020 21:51:34 GMT
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
      server:
      - Windows-Azure-Table/1.0 Microsoft-HTTPAPI/2.0
      transfer-encoding:
      - chunked
      x-content-type-options:
      - nosniff
      x-ms-version:
      - '2019-02-02'
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
<<<<<<< HEAD
      - Mon, 28 Sep 2020 17:29:33 GMT
      User-Agent:
      - azsdk-python-data-tables/2019-07-07 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Mon, 28 Sep 2020 17:29:33 GMT
=======
      - Wed, 16 Sep 2020 21:51:35 GMT
      User-Agent:
      - azsdk-python-data-tables/12.0.0b2 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Wed, 16 Sep 2020 21:51:35 GMT
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablesteststorname.table.core.windows.net/Tables('uttablee10d18a6')
  response:
    body:
      string: ''
    headers:
<<<<<<< HEAD
      - Mon, 28 Sep 2020 17:29:32 GMT
=======
      - Wed, 16 Sep 2020 21:51:34 GMT
>>>>>>> 40774230c02233ce98169513320c19ccc2184174
      server:
      - Windows-Azure-Table/1.0 Microsoft-HTTPAPI/2.0
      x-content-type-options:
      - nosniff
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
version: 1
