interactions:
- request:
    body: '{"TableName": "uttablede911870"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 23 Sep 2020 19:51:40 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostables.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttablede911870","odata.metadata":"https://cosmostables.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-09-23T19%3A51%3A40.9763335Z'"
      location:
      - https://cosmostables.table.cosmos.azure.com/Tables('uttablede911870')
    status:
      code: 201
      message: Ok
- request:
    body: '{"PartitionKey": "pkde911870", "RowKey": "rkde911870", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "married": true, "deceased": false, "ratio": 3.1,
      "evenratio": 3.0, "large": "933311100", "large@odata.type": "Edm.Int64", "Birthday":
      "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z",
      "birthday@odata.type": "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type":
      "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 23 Sep 2020 19:51:41 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostables.table.cosmos.azure.com/uttablede911870
  response:
    body:
      string: '{"odata.metadata":"https://cosmostables.table.cosmos.azure.com/uttablede911870/$metadata#uttablede911870/@Element","odata.etag":"W/\"datetime''2020-09-23T19%3A51%3A41.3810183Z''\"","PartitionKey":"pkde911870","RowKey":"rkde911870","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Timestamp":"2020-09-23T19:51:41.3810183Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-09-23T19%3A51%3A41.3810183Z'"
      location:
      - https://cosmostables.table.cosmos.azure.com/uttablede911870(PartitionKey='pkde911870',RowKey='rkde911870')
    status:
      code: 201
      message: Created
- request:
    body: '{"PartitionKey": "pkde911870", "RowKey": "rkde911870", "age": "abc", "sex":
      "female", "sign": "aquarius", "birthday": "1991-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - '3.0'
      If-Match:
      - W/"datetime'2020-09-23T19%3A51%3A41.3810183Z'"
      x-ms-date:
      - Wed, 23 Sep 2020 19:51:41 GMT
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://cosmostables.table.cosmos.azure.com/uttablede911870(PartitionKey='pkde911870',RowKey='rkde911870')
  response:
    body:
      string: ''
    headers:
      etag:
      - W/"datetime'2020-09-23T19%3A51%3A41.4332423Z'"
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Sep 2020 19:51:41 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://cosmostables.table.cosmos.azure.com/Tables('uttablede911870')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 23 Sep 2020 19:51:42 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://cosmostables.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"value":[{"TableName":"querytablec80b1810"},{"TableName":"querytable5436162b"},{"TableName":"querytable981b173a"},{"TableName":"querytablefe63147d"},{"TableName":"querytable9c05125e"},{"TableName":"querytable2da719db"}],"odata.metadata":"https://cosmostables.table.cosmos.azure.com/$metadata#Tables"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
    status:
      code: 200
      message: Ok
version: 1
