{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Oct 2022 00:37:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "pytableasyncd71a242b"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables(\u0027pytableasyncd71a242b\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "pytableasyncd71a242b"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/pytableasyncd71a242b(PartitionKey=\u0027test\u0027,RowKey=\u0027test1\u0027)",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Oct 2022 00:37:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "test",
        "RowKey": "test1",
        "text": "hello",
        "text@odata.type": "Edm.String"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272022-10-20T00%3A36%3A59.265145Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/pytableasyncd71a242b()?st=start\u0026se=end\u0026sp=r\u0026sv=2019-02-02\u0026ss=t\u0026srt=o\u0026sig=fake_token_value",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Oct 2022 00:37:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#pytableasyncd71a242b",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272022-10-20T00%3A36%3A59.265145Z\u0027\u0022",
            "PartitionKey": "test",
            "RowKey": "test1",
            "Timestamp": "2022-10-20T00:36:59.265145Z",
            "text": "hello"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-10-20T00%3A36%3A59.2971269Z\u0027\u0022",
            "PartitionKey": "test",
            "RowKey": "test2",
            "Timestamp": "2022-10-20T00:36:59.2971269Z",
            "text": "hello"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027pytableasyncd71a242b\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Thu, 20 Oct 2022 00:37:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
