interactions:
- request:
    body: '{"TableName": "uttablefd871474"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 15 Sep 2020 21:22:07 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostablescosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttablefd871474","odata.metadata":"https://cosmostablescosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-09-15T21%3A22%3A08.0697351Z'"
      location:
      - https://cosmostablescosmosname.table.cosmos.azure.com/Tables('uttablefd871474')
    status:
      code: 201
      message: Ok
- request:
    body: '{"PartitionKey": "pkfd871474", "RowKey": "rkfd871474"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 15 Sep 2020 21:22:08 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostablescosmosname.table.cosmos.azure.com/uttablefd871474
  response:
    body:
      string: '{"odata.metadata":"https://cosmostablescosmosname.table.cosmos.azure.com/uttablefd871474/$metadata#uttablefd871474/@Element","odata.etag":"W/\"datetime''2020-09-15T21%3A22%3A08.5559303Z''\"","PartitionKey":"pkfd871474","RowKey":"rkfd871474","Timestamp":"2020-09-15T21:22:08.5559303Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-09-15T21%3A22%3A08.5559303Z'"
      location:
      - https://cosmostablescosmosname.table.cosmos.azure.com/uttablefd871474(PartitionKey='pkfd871474',RowKey='rkfd871474')
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 15 Sep 2020 21:22:08 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://cosmostablescosmosname.table.cosmos.azure.com/uttablefd871474(PartitionKey='pkfd871474',RowKey='rkfd871474')
  response:
    body:
      string: '{"odata.metadata":"https://cosmostablescosmosname.table.cosmos.azure.com/uttablefd871474/$metadata#uttablefd871474/@Element","odata.etag":"W/\"datetime''2020-09-15T21%3A22%3A08.5559303Z''\"","PartitionKey":"pkfd871474","RowKey":"rkfd871474","Timestamp":"2020-09-15T21:22:08.5559303Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-09-15T21%3A22%3A08.5559303Z'"
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 15 Sep 2020 21:22:08 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://cosmostablescosmosname.table.cosmos.azure.com/Tables('uttablefd871474')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
