{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 21 Sep 2021 00:56:17 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022TableName\u0022: \u0022uttableb09b2b40\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://yalltbtestsprim.table.core.windows.net/Tables(\u0027uttableb09b2b40\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltbtestsprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttableb09b2b40"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_13723201-4eab-4207-a451-c8c867a76a16",
        "DataServiceVersion": "3.0",
        "MaxDataServiceVersion": "3.0;NetFx",
        "x-ms-date": "Tue, 21 Sep 2021 00:56:17 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "LS1iYXRjaF8xMzcyMzIwMS00ZWFiLTQyMDctYTQ1MS1jOGM4NjdhNzZhMTYNCkNvbnRlbnQtVHlwZTogbXVsdGlwYXJ0L21peGVkOyBib3VuZGFyeT1jaGFuZ2VzZXRfNTg5NTFlMjAtNDVmYS00NmMzLThlYzQtNjVhNTFkNTNmYzhlDQoNCi0tY2hhbmdlc2V0XzU4OTUxZTIwLTQ1ZmEtNDZjMy04ZWM0LTY1YTUxZDUzZmM4ZQ0KQ29udGVudC1UeXBlOiBhcHBsaWNhdGlvbi9odHRwDQpDb250ZW50LVRyYW5zZmVyLUVuY29kaW5nOiBiaW5hcnkNCkNvbnRlbnQtSUQ6IDANCg0KUEFU[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttableb09b2b40(PartitionKey=\u0027001\u0027,RowKey=\u0027batch_insert_merge\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 21 Sep 2021 00:56:17 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272021-09-21T00%3A56%3A17.532794Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltbtestsprim.table.core.windows.net/$metadata#uttableb09b2b40/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-09-21T00%3A56%3A17.532794Z\u0027\u0022",
        "PartitionKey": "001",
        "RowKey": "batch_insert_merge",
        "Timestamp": "2021-09-21T00:56:17.532794Z",
        "test": true,
        "test2": "value",
        "test3": 3,
        "test4": 1234567890,
        "test5@odata.type": "Edm.DateTime",
        "test5": "2021-09-21T07:56:17.330939Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 21 Sep 2021 00:56:17 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltbtestsprim.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "uttableb09b2b40"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttableb09b2b40\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 00:56:17 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
