interactions:
- request:
    body: '{"TableName": "uttable45ac1df9"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 02:11:19 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttable45ac1df9","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-11-07T02%3A11%3A20.6255623Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable45ac1df9')
    status:
      code: 201
      message: Ok
    url: https://tablestestussw52mubjcwms.table.cosmos.azure.com/Tables
- request:
    body: '{"large@odata.type": "Edm.Int64", "large": "1125899906842624", "PartitionKey":
      "pk45ac1df9", "RowKey@odata.type": "Edm.String", "RowKey": "rk45ac1df9", "PartitionKey@odata.type":
      "Edm.String"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 02:11:20 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable45ac1df9
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttable45ac1df9/$metadata#uttable45ac1df9/@Element","odata.etag":"W/\"datetime''2020-11-07T02%3A11%3A21.1593735Z''\"","large@odata.type":"Edm.Int64","large":"1125899906842624","PartitionKey":"pk45ac1df9","RowKey":"rk45ac1df9","Timestamp":"2020-11-07T02:11:21.1593735Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-11-07T02%3A11%3A21.1593735Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/uttable45ac1df9(PartitionKey='pk45ac1df9',RowKey='rk45ac1df9')
    status:
      code: 201
      message: Created
    url: https://tablestestussw52mubjcwms.table.cosmos.azure.com/uttable45ac1df9
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 02:11:20 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable45ac1df9(PartitionKey='pk45ac1df9',RowKey='rk45ac1df9')
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttable45ac1df9/$metadata#uttable45ac1df9/@Element","odata.etag":"W/\"datetime''2020-11-07T02%3A11%3A21.1593735Z''\"","large@odata.type":"Edm.Int64","large":"1125899906842624","PartitionKey":"pk45ac1df9","RowKey":"rk45ac1df9","Timestamp":"2020-11-07T02:11:21.1593735Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-11-07T02%3A11%3A21.1593735Z'"
    status:
      code: 200
      message: Ok
    url: https://tablestestussw52mubjcwms.table.cosmos.azure.com/uttable45ac1df9(PartitionKey='pk45ac1df9',RowKey='rk45ac1df9')
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 02:11:20 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable45ac1df9(PartitionKey='pk45ac1df9',RowKey='negative')
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttable45ac1df9/$metadata#uttable45ac1df9/@Element","odata.etag":"W/\"datetime''2020-11-07T02%3A11%3A21.2744711Z''\"","large@odata.type":"Edm.Int64","large":"-1125899906842625","PartitionKey":"pk45ac1df9","RowKey":"negative","Timestamp":"2020-11-07T02:11:21.2744711Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-11-07T02%3A11%3A21.2744711Z'"
    status:
      code: 200
      message: Ok
    url: https://tablestestussw52mubjcwms.table.cosmos.azure.com/uttable45ac1df9(PartitionKey='pk45ac1df9',RowKey='negative')
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 Nov 2020 02:11:20 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable45ac1df9')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://tablestestussw52mubjcwms.table.cosmos.azure.com/Tables('uttable45ac1df9')
version: 1
