interactions:
- request:
    body: '{"TableName": "uttable24251510"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 15 Dec 2020 20:08:10 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable24251510"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://tablesteststorname.table.core.windows.net/Tables('uttable24251510')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://tablestestspxuwfbar34dje.table.core.windows.net/Tables
- request:
    body: '{"PartitionKey": "PK", "PartitionKey@odata.type": "Edm.String", "RowKey":
      "table@storage.com", "RowKey@odata.type": "Edm.String", "Value": 100}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 15 Dec 2020 20:08:11 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/uttable24251510
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttable24251510/@Element","odata.etag":"W/\"datetime''2020-12-15T20%3A08%3A11.6591803Z''\"","PartitionKey":"PK","RowKey":"table@storage.com","Timestamp":"2020-12-15T20:08:11.6591803Z","Value":100}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-12-15T20%3A08%3A11.6591803Z'"
      location: https://tablesteststorname.table.core.windows.net/uttable24251510(PartitionKey='PK',RowKey='table%40storage.com')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://tablestestspxuwfbar34dje.table.core.windows.net/uttable24251510
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 15 Dec 2020 20:08:11 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablesteststorname.table.core.windows.net/uttable24251510()?$filter=RowKey%20eq%20'table@storage.com'
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttable24251510","value":[{"odata.etag":"W/\"datetime''2020-12-15T20%3A08%3A11.6591803Z''\"","PartitionKey":"PK","RowKey":"table@storage.com","Timestamp":"2020-12-15T20:08:11.6591803Z","Value":100}]}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: https://tablestestspxuwfbar34dje.table.core.windows.net/uttable24251510()?$filter=RowKey%20eq%20'table@storage.com'
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      If-Match:
      - '*'
      x-ms-date:
      - Tue, 15 Dec 2020 20:08:38 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablesteststorname.table.core.windows.net/uttable24251510(PartitionKey='PK',RowKey='table@storage.com')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 204
      message: No Content
    url: https://tablestestspxuwfbar34dje.table.core.windows.net/uttable24251510(PartitionKey='PK',RowKey='table@storage.com')
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 15 Dec 2020 20:09:44 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablesteststorname.table.core.windows.net/Tables('uttable24251510')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 204
      message: No Content
    url: https://tablestestspxuwfbar34dje.table.core.windows.net/Tables('uttable24251510')
version: 1
