interactions:
- request:
    body: '{"TableName": "uttablef0500daa"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 22 Sep 2020 20:03:42 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttablef0500daa"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://storagename.table.core.windows.net/Tables('uttablef0500daa')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '{"PartitionKey": "001", "PartitionKey@odata.type": "Edm.String", "RowKey":
      "batch_delete", "RowKey@odata.type": "Edm.String", "test": true, "test2": "value",
      "test2@odata.type": "Edm.String", "test3": 3, "test4": 1234567890, "test5":
      "2020-09-22T20:03:42Z", "test5@odata.type": "Edm.DateTime"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 22 Sep 2020 20:03:42 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/uttablef0500daa
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttablef0500daa/@Element","odata.etag":"W/\"datetime''2020-09-22T20%3A03%3A42.8754303Z''\"","PartitionKey":"001","RowKey":"batch_delete","Timestamp":"2020-09-22T20:03:42.8754303Z","test":true,"test2":"value","test3":3,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-09-22T20:03:42Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-09-22T20%3A03%3A42.8754303Z'"
      location:
      - https://storagename.table.core.windows.net/uttablef0500daa(PartitionKey='001',RowKey='batch_delete')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 22 Sep 2020 20:03:43 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.table.core.windows.net/uttablef0500daa(PartitionKey='001',RowKey='batch_delete')
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttablef0500daa/@Element","odata.etag":"W/\"datetime''2020-09-22T20%3A03%3A42.8754303Z''\"","PartitionKey":"001","RowKey":"batch_delete","Timestamp":"2020-09-22T20:03:42.8754303Z","test":true,"test2":"value","test3":3,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-09-22T20:03:42Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-09-22T20%3A03%3A42.8754303Z'"
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: "--batch_43077509-7284-426a-8cef-431e3fcc74d0\r\nContent-Type: multipart/mixed;
      boundary=changeset_1e58da83-97bd-45a8-aa4e-e471fbc35f80\r\n\r\n--changeset_1e58da83-97bd-45a8-aa4e-e471fbc35f80\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID: 0\r\n\r\nDELETE
      https://pyacrstoragecy5edjajxvth.table.core.windows.net/uttablef0500daa(PartitionKey='001',RowKey='batch_delete')
      HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nIf-Match:
      *\r\nAccept: application/json;odata=minimalmetadata\r\nx-ms-date: Tue, 22 Sep
      2020 20:03:43 GMT\r\nDate: Tue, 22 Sep 2020 20:03:43 GMT\r\nx-ms-client-request-id:
      b7081ad9-fd0e-11ea-ba9b-58961df361d1\r\n\r\n\r\n--changeset_1e58da83-97bd-45a8-aa4e-e471fbc35f80--\r\n\r\n--batch_43077509-7284-426a-8cef-431e3fcc74d0--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batch_43077509-7284-426a-8cef-431e3fcc74d0
      DataServiceVersion:
      - '3.0'
      MaxDataServiceVersion:
      - 3.0;NetFx
      x-ms-date:
      - Tue, 22 Sep 2020 20:03:43 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body:
      string: "--batchresponse_cbc2fa22-b8cf-4b46-b779-c02df21e2167\r\nContent-Type:
        multipart/mixed; boundary=changesetresponse_e3f8e9c5-3bc1-419d-9a14-e49556483b98\r\n\r\n--changesetresponse_e3f8e9c5-3bc1-419d-9a14-e49556483b98\r\nContent-Type:
        application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204
        No Content\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nDataServiceVersion:
        1.0;\r\n\r\n\r\n--changesetresponse_e3f8e9c5-3bc1-419d-9a14-e49556483b98--\r\n--batchresponse_cbc2fa22-b8cf-4b46-b779-c02df21e2167--\r\n"
    headers:
      content-type:
      - multipart/mixed; boundary=batchresponse_cbc2fa22-b8cf-4b46-b779-c02df21e2167
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 22 Sep 2020 20:03:43 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.table.core.windows.net/uttablef0500daa(PartitionKey='001',RowKey='batch_delete')
  response:
    body:
      string: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
        specified resource does not exist.\nRequestId:dfb35255-0002-0079-431b-91af4d000000\nTime:2020-09-22T20:03:42.9935125Z"}}}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version:
      - '2019-02-02'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Sep 2020 20:03:43 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttablef0500daa')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
version: 1
