interactions:
- request:
    body: '{"TableName": "uttable514415d4"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 10 Nov 2020 00:17:00 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable514415d4"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://tablesteststorname.table.core.windows.net/Tables('uttable514415d4')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://tablestestv3zullzkrtbayh.table.core.windows.net/Tables
- request:
    body: '{"PartitionKey": "pk", "PartitionKey@odata.type": "Edm.String", "RowKey":
      "10", "RowKey@odata.type": "Edm.String", "value": 0}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 10 Nov 2020 00:17:00 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/uttable514415d4
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttable514415d4/@Element","odata.etag":"W/\"datetime''2020-11-10T00%3A17%3A01.0141066Z''\"","PartitionKey":"pk","RowKey":"10","Timestamp":"2020-11-10T00:17:01.0141066Z","value":0}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-11-10T00%3A17%3A01.0141066Z'"
      location: https://tablesteststorname.table.core.windows.net/uttable514415d4(PartitionKey='pk',RowKey='10')
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: https://tablestestv3zullzkrtbayh.table.core.windows.net/uttable514415d4
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 10 Nov 2020 00:17:01 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablesteststorname.table.core.windows.net/uttable514415d4()?$top=2&$filter=PartitionKey%20eq%20'pk'
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttable514415d4","value":[{"odata.etag":"W/\"datetime''2020-11-10T00%3A17%3A01.0141066Z''\"","PartitionKey":"pk","RowKey":"10","Timestamp":"2020-11-10T00:17:01.0141066Z","value":0},{"odata.etag":"W/\"datetime''2020-11-10T00%3A17%3A01.0591396Z''\"","PartitionKey":"pk","RowKey":"101","Timestamp":"2020-11-10T00:17:01.0591396Z","value":1}]}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-continuation-nextpartitionkey: 1!4!cGs-
      x-ms-continuation-nextrowkey: 1!8!MTAxMg--
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: https://tablestestv3zullzkrtbayh.table.core.windows.net/uttable514415d4()?$top=2&$filter=PartitionKey%20eq%20'pk'
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 10 Nov 2020 00:17:01 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablesteststorname.table.core.windows.net/uttable514415d4()?$top=2&$filter=PartitionKey%20eq%20'pk'&NextPartitionKey=1!4!cGs-&NextRowKey=1!8!MTAxMg--
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttable514415d4","value":[{"odata.etag":"W/\"datetime''2020-11-10T00%3A17%3A01.0971674Z''\"","PartitionKey":"pk","RowKey":"1012","Timestamp":"2020-11-10T00:17:01.0971674Z","value":2},{"odata.etag":"W/\"datetime''2020-11-10T00%3A17%3A01.1391967Z''\"","PartitionKey":"pk","RowKey":"10123","Timestamp":"2020-11-10T00:17:01.1391967Z","value":3}]}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-continuation-nextpartitionkey: 1!4!cGs-
      x-ms-continuation-nextrowkey: 1!8!MTAxMjM0
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: https://tablestestv3zullzkrtbayh.table.core.windows.net/uttable514415d4()?$top=2&$filter=PartitionKey%20eq%20'pk'&NextPartitionKey=1!4!cGs-&NextRowKey=1!8!MTAxMg--
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 10 Nov 2020 00:17:01 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablesteststorname.table.core.windows.net/uttable514415d4()?$top=2&$filter=PartitionKey%20eq%20'pk'&NextPartitionKey=1!4!cGs-&NextRowKey=1!8!MTAxMjM0
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttable514415d4","value":[{"odata.etag":"W/\"datetime''2020-11-10T00%3A17%3A01.1812278Z''\"","PartitionKey":"pk","RowKey":"101234","Timestamp":"2020-11-10T00:17:01.1812278Z","value":4},{"odata.etag":"W/\"datetime''2020-11-10T00%3A17%3A01.2252581Z''\"","PartitionKey":"pk","RowKey":"1012345","Timestamp":"2020-11-10T00:17:01.2252581Z","value":5}]}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: https://tablestestv3zullzkrtbayh.table.core.windows.net/uttable514415d4()?$top=2&$filter=PartitionKey%20eq%20'pk'&NextPartitionKey=1!4!cGs-&NextRowKey=1!8!MTAxMjM0
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 10 Nov 2020 00:17:01 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablesteststorname.table.core.windows.net/Tables('uttable514415d4')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 204
      message: No Content
    url: https://tablestestv3zullzkrtbayh.table.core.windows.net/Tables('uttable514415d4')
version: 1
