interactions:
- request:
    body: '{"TableName": "uttable959b174d"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 29 Sep 2020 18:30:17 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttable959b174d","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-09-29T18%3A30%3A18.3433223Z'"
      location:
      - https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable959b174d')
    status:
      code: 201
      message: Ok
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      If-Match:
      - '*'
      x-ms-date:
      - Tue, 29 Sep 2020 18:30:18 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable959b174d(PartitionKey='pk959b174d',RowKey='rk959b174d')
  response:
    body:
      string: "{\"odata.error\":{\"code\":\"ResourceNotFound\",\"message\":{\"lang\":\"en-us\",\"value\":\"The
        specified resource does not exist.\\nRequestID:d3620f4b-0281-11eb-9309-58961df361d1\\n\"}}}\r\n"
    headers:
      content-type:
      - application/json;odata=fullmetadata
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 29 Sep 2020 18:30:18 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable959b174d')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 29 Sep 2020 18:30:18 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"value":[],"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
    status:
      code: 200
      message: Ok
version: 1
