interactions:
- request:
    body: '{"TableName": "uttableb1e51be0"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 17 Sep 2020 22:38:05 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttableb1e51be0","odata.metadata":"https://cosmostestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-17T22%3A38%3A05.8293255Z'"
      location: https://cosmostestcosmosname.table.cosmos.azure.com/Tables('uttableb1e51be0')
    status:
      code: 201
      message: Ok
    url: https://cosmostableswmnfqcvpsy56.table.cosmos.azure.com/Tables
- request:
    body: '{"PartitionKey": "pkb1e51be0", "RowKey": "rkb1e51be0", "EmptyByte": "",
      "EmptyUnicode": "", "SpacesOnlyByte": "   ", "SpacesOnlyUnicode": "   ", "SpacesBeforeByte":
      "   Text", "SpacesBeforeUnicode": "   Text", "SpacesAfterByte": "Text   ", "SpacesAfterUnicode":
      "Text   ", "SpacesBeforeAndAfterByte": "   Text   ", "SpacesBeforeAndAfterUnicode":
      "   Text   "}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 17 Sep 2020 22:38:05 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostestcosmosname.table.cosmos.azure.com/uttableb1e51be0
  response:
    body:
      string: '{"odata.metadata":"https://cosmostestcosmosname.table.cosmos.azure.com/uttableb1e51be0/$metadata#uttableb1e51be0/@Element","odata.etag":"W/\"datetime''2020-09-17T22%3A38%3A06.2469127Z''\"","PartitionKey":"pkb1e51be0","RowKey":"rkb1e51be0","EmptyByte":"","EmptyUnicode":"","SpacesOnlyByte":"   ","SpacesOnlyUnicode":"   ","SpacesBeforeByte":"   Text","SpacesBeforeUnicode":"   Text","SpacesAfterByte":"Text   ","SpacesAfterUnicode":"Text   ","SpacesBeforeAndAfterByte":"   Text   ","SpacesBeforeAndAfterUnicode":"   Text   ","Timestamp":"2020-09-17T22:38:06.2469127Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-17T22%3A38%3A06.2469127Z'"
      location: https://cosmostestcosmosname.table.cosmos.azure.com/uttableb1e51be0(PartitionKey='pkb1e51be0',RowKey='rkb1e51be0')
    status:
      code: 201
      message: Created
    url: https://cosmostableswmnfqcvpsy56.table.cosmos.azure.com/uttableb1e51be0
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 17 Sep 2020 22:38:06 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://cosmostestcosmosname.table.cosmos.azure.com/uttableb1e51be0(PartitionKey='pkb1e51be0',RowKey='rkb1e51be0')
  response:
    body:
      string: '{"odata.metadata":"https://cosmostestcosmosname.table.cosmos.azure.com/uttableb1e51be0/$metadata#uttableb1e51be0/@Element","odata.etag":"W/\"datetime''2020-09-17T22%3A38%3A06.2469127Z''\"","PartitionKey":"pkb1e51be0","RowKey":"rkb1e51be0","EmptyByte":"","EmptyUnicode":"","SpacesOnlyByte":"   ","SpacesOnlyUnicode":"   ","SpacesBeforeByte":"   Text","SpacesBeforeUnicode":"   Text","SpacesAfterByte":"Text   ","SpacesAfterUnicode":"Text   ","SpacesBeforeAndAfterByte":"   Text   ","SpacesBeforeAndAfterUnicode":"   Text   ","Timestamp":"2020-09-17T22:38:06.2469127Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-17T22%3A38%3A06.2469127Z'"
    status:
      code: 200
      message: Ok
    url: https://cosmostableswmnfqcvpsy56.table.cosmos.azure.com/uttableb1e51be0(PartitionKey='pkb1e51be0',RowKey='rkb1e51be0')
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Sep 2020 22:38:06 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://cosmostestcosmosname.table.cosmos.azure.com/Tables('uttableb1e51be0')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://cosmostableswmnfqcvpsy56.table.cosmos.azure.com/Tables('uttableb1e51be0')
version: 1
