interactions:
- request:
    body: '{"TableName": "uttablee2da0d47"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 10 Sep 2020 17:10:25 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttablee2da0d47"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://storagename.table.core.windows.net/Tables('uttablee2da0d47')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '{"PartitionKey": "001", "PartitionKey@odata.type": "Edm.String", "RowKey":
      "batch_merge", "RowKey@odata.type": "Edm.String", "test": true, "test2": "value",
      "test2@odata.type": "Edm.String", "test3": 3, "test4": 1234567890, "test5":
      "2020-09-10T17:10:25Z", "test5@odata.type": "Edm.DateTime"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 10 Sep 2020 17:10:25 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/uttablee2da0d47
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttablee2da0d47/@Element","odata.etag":"W/\"datetime''2020-09-10T17%3A10%3A23.2841268Z''\"","PartitionKey":"001","RowKey":"batch_merge","Timestamp":"2020-09-10T17:10:23.2841268Z","test":true,"test2":"value","test3":3,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-09-10T17:10:25Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-09-10T17%3A10%3A23.2841268Z'"
      location:
      - https://storagename.table.core.windows.net/uttablee2da0d47(PartitionKey='001',RowKey='batch_merge')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 10 Sep 2020 17:10:25 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.table.core.windows.net/uttablee2da0d47(PartitionKey='001',RowKey='batch_merge')
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttablee2da0d47/@Element","odata.etag":"W/\"datetime''2020-09-10T17%3A10%3A23.2841268Z''\"","PartitionKey":"001","RowKey":"batch_merge","Timestamp":"2020-09-10T17:10:23.2841268Z","test":true,"test2":"value","test3":3,"test4":1234567890,"test5@odata.type":"Edm.DateTime","test5":"2020-09-10T17:10:25Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-09-10T17%3A10%3A23.2841268Z'"
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: "--batch_e73186d5-3dc7-45bb-973c-1b6f461177ac\r\nContent-Type: multipart/mixed;
      boundary=changeset_7e4f0974-ae70-4d05-bd24-4d3520533e31\r\n\r\n--changeset_7e4f0974-ae70-4d05-bd24-4d3520533e31\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID: 0\r\n\r\nPATCH
      https://pyacrstorage6wtanekkk27p.table.core.windows.net/uttablee2da0d47(PartitionKey='001',RowKey='batch_merge')
      HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nIf-Match:
      *\r\nContent-Type: application/json\r\nAccept: application/json\r\nContent-Length:
      177\r\nx-ms-date: Thu, 10 Sep 2020 17:10:25 GMT\r\nDate: Thu, 10 Sep 2020 17:10:25
      GMT\r\nx-ms-client-request-id: 84ad964f-f388-11ea-84b3-58961df361d1\r\n\r\n{\"PartitionKey\":
      \"001\", \"PartitionKey@odata.type\": \"Edm.String\", \"RowKey\": \"batch_merge\",
      \"RowKey@odata.type\": \"Edm.String\", \"test2\": \"value1\", \"test2@odata.type\":
      \"Edm.String\"}\r\n--changeset_7e4f0974-ae70-4d05-bd24-4d3520533e31--\r\n\r\n--batch_e73186d5-3dc7-45bb-973c-1b6f461177ac--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batch_e73186d5-3dc7-45bb-973c-1b6f461177ac
      DataServiceVersion:
      - '3.0'
      MaxDataServiceVersion:
      - 3.0;NetFx
      x-ms-date:
      - Thu, 10 Sep 2020 17:10:25 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body:
      string: "--batchresponse_3a4dbcfa-0e01-455e-940a-441deda03bb1\r\nContent-Type:
        multipart/mixed; boundary=changesetresponse_b5e99cbd-d88c-48d8-8d55-bec73925ab38\r\n\r\n--changesetresponse_b5e99cbd-d88c-48d8-8d55-bec73925ab38\r\nContent-Type:
        application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204
        No Content\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nDataServiceVersion:
        1.0;\r\nETag: W/\"datetime'2020-09-10T17%3A10%3A23.3595312Z'\"\r\n\r\n\r\n--changesetresponse_b5e99cbd-d88c-48d8-8d55-bec73925ab38--\r\n--batchresponse_3a4dbcfa-0e01-455e-940a-441deda03bb1--\r\n"
    headers:
      content-type:
      - multipart/mixed; boundary=batchresponse_3a4dbcfa-0e01-455e-940a-441deda03bb1
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Sep 2020 17:10:25 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttablee2da0d47')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
version: 1
