{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:54:37 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable43612f44"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-05-06T00%3A54%3A37.1214344Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttable43612f44\u0027)"
      },
      "ResponseBody": {
        "TableName": "uttable43612f44",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable43612f44",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:54:38 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk43612f44",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "rk43612f44",
        "RowKey@odata.type": "Edm.String",
        "Description": "\uA015",
        "Description@odata.type": "Edm.String"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-05-06T00%3A54%3A37.5738376Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/uttable43612f44(PartitionKey=\u0027pk43612f44\u0027,RowKey=\u0027rk43612f44\u0027)"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable43612f44/$metadata#uttable43612f44/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-05-06T00%3A54%3A37.5738376Z\u0027\u0022",
        "PartitionKey": "pk43612f44",
        "RowKey": "rk43612f44",
        "Description": "\uA015",
        "Timestamp": "2022-05-06T00:54:37.5738376Z"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable43612f44()?$filter=PartitionKey%20eq%20%27pk43612f44%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 May 2022 00:54:38 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272022-05-06T00%3A54%3A37.5738376Z\u0027\u0022",
            "PartitionKey": "pk43612f44",
            "RowKey": "rk43612f44",
            "Description": "\uA015",
            "Timestamp": "2022-05-06T00:54:37.5738376Z"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-05-06T00%3A54%3A37.6047624Z\u0027\u0022",
            "PartitionKey": "pk43612f44",
            "RowKey": "test2",
            "Description": "\uA015",
            "Timestamp": "2022-05-06T00:54:37.6047624Z"
          }
        ],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#uttable43612f44"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttable43612f44\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 May 2022 00:54:38 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
