{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 19 Oct 2022 23:39:23 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable3eda2f30"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttable3eda2f30\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable3eda2f30"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable3eda2f30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 19 Oct 2022 23:39:23 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "1ca72025-f78c-437d-87df-9bcf0dd0d297",
        "RowKey": "1ca72025-f78c-437d-87df-9bcf0dd0d297"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-10-19T23%3A39%3A14.1731509Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.core.windows.net/uttable3eda2f30(PartitionKey=\u00271ca72025-f78c-437d-87df-9bcf0dd0d297\u0027,RowKey=\u00271ca72025-f78c-437d-87df-9bcf0dd0d297\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable3eda2f30/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-10-19T23%3A39%3A14.1731509Z\u0027\u0022",
        "PartitionKey": "1ca72025-f78c-437d-87df-9bcf0dd0d297",
        "RowKey": "1ca72025-f78c-437d-87df-9bcf0dd0d297",
        "Timestamp": "2022-10-19T23:39:14.1731509Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable3eda2f30(PartitionKey=\u00271ca72025-f78c-437d-87df-9bcf0dd0d297\u0027,RowKey=\u00271ca72025-f78c-437d-87df-9bcf0dd0d297\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 19 Oct 2022 23:39:23 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-10-19T23%3A39%3A14.1731509Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable3eda2f30/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-10-19T23%3A39%3A14.1731509Z\u0027\u0022",
        "PartitionKey": "1ca72025-f78c-437d-87df-9bcf0dd0d297",
        "RowKey": "1ca72025-f78c-437d-87df-9bcf0dd0d297",
        "Timestamp": "2022-10-19T23:39:14.1731509Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable3eda2f30(PartitionKey=\u00271ca72025-f78c-437d-87df-9bcf0dd0d297\u0027,RowKey=\u00271ca72025-f78c-437d-87df-9bcf0dd0d297\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Wed, 19 Oct 2022 23:39:23 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable3eda2f30(PartitionKey=\u00271ca72025-f78c-437d-87df-9bcf0dd0d297\u0027,RowKey=\u00271ca72025-f78c-437d-87df-9bcf0dd0d297\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 19 Oct 2022 23:39:23 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "ResourceNotFound",
          "message": {
            "lang": "en-US",
            "value": "The specified resource does not exist.\nRequestId:077cd017-a002-0031-6913-e48ea9000000\nTime:2022-10-19T23:39:14.2780938Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttable3eda2f30\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Wed, 19 Oct 2022 23:39:24 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
