interactions:
- request:
    body: '{"TableName": "uttableaf7217c6"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 23 Sep 2020 23:27:20 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostest.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttableaf7217c6","odata.metadata":"https://cosmostest.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-23T23%3A27%3A20.6293511Z'"
      location: https://cosmostest.table.cosmos.azure.com/Tables('uttableaf7217c6')
    status:
      code: 201
      message: Ok
    url: https://cosmostables4c3215c8.table.cosmos.azure.com/Tables
- request:
    body: '{"PartitionKey": "pkaf7217c6", "RowKey": "rkaf7217c6", "binary": "AQIDBAUGBwgJCg==",
      "binary@odata.type": "Edm.Binary"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 23 Sep 2020 23:27:21 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostest.table.cosmos.azure.com/uttableaf7217c6
  response:
    body:
      string: '{"odata.metadata":"https://cosmostest.table.cosmos.azure.com/uttableaf7217c6/$metadata#uttableaf7217c6/@Element","odata.etag":"W/\"datetime''2020-09-23T23%3A27%3A21.1016199Z''\"","PartitionKey":"pkaf7217c6","RowKey":"rkaf7217c6","binary@odata.type":"Edm.Binary","binary":"AQIDBAUGBwgJCg==","Timestamp":"2020-09-23T23:27:21.1016199Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-23T23%3A27%3A21.1016199Z'"
      location: https://cosmostest.table.cosmos.azure.com/uttableaf7217c6(PartitionKey='pkaf7217c6',RowKey='rkaf7217c6')
    status:
      code: 201
      message: Created
    url: https://cosmostables4c3215c8.table.cosmos.azure.com/uttableaf7217c6
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 23 Sep 2020 23:27:21 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://cosmostest.table.cosmos.azure.com/uttableaf7217c6(PartitionKey='pkaf7217c6',RowKey='rkaf7217c6')
  response:
    body:
      string: '{"odata.metadata":"https://cosmostest.table.cosmos.azure.com/uttableaf7217c6/$metadata#uttableaf7217c6/@Element","odata.etag":"W/\"datetime''2020-09-23T23%3A27%3A21.1016199Z''\"","PartitionKey":"pkaf7217c6","RowKey":"rkaf7217c6","binary@odata.type":"Edm.Binary","binary":"AQIDBAUGBwgJCg==","Timestamp":"2020-09-23T23:27:21.1016199Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-23T23%3A27%3A21.1016199Z'"
    status:
      code: 200
      message: Ok
    url: https://cosmostables4c3215c8.table.cosmos.azure.com/uttableaf7217c6(PartitionKey='pkaf7217c6',RowKey='rkaf7217c6')
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Sep 2020 23:27:21 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://cosmostest.table.cosmos.azure.com/Tables('uttableaf7217c6')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://cosmostables4c3215c8.table.cosmos.azure.com/Tables('uttableaf7217c6')
version: 1
