{
  "Entries": [
    {
      "RequestUri": "https://yalltablestestsprim.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 16 Sep 2021 09:39:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022TableName\u0022: \u0022uttable83f0284c\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://yalltablestestsprim.table.core.windows.net/Tables(\u0027uttable83f0284c\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltablestestsprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable83f0284c"
      }
    },
    {
      "RequestUri": "https://yalltablestestsprim.table.core.windows.net/uttable83f0284c",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 16 Sep 2021 09:39:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022: \u0022001\u0022, \u0022PartitionKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022RowKey\u0022: \u0022batch_merge\u0022, \u0022RowKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022test\u0022: true, \u0022test2\u0022: \u0022value\u0022, \u0022test2@odata.type\u0022: \u0022Edm.String\u0022, \u0022test3\u0022: 3, \u0022test4\u0022: 1234567890, \u0022test5\u0022: \u00222021-09-16T16:39:13.801423Z\u0022, \u0022test5@odata.type\u0022: \u0022Edm.DateTime\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272021-09-16T09%3A39%3A12.7650842Z\u0027\u0022",
        "Location": "https://yalltablestestsprim.table.core.windows.net/uttable83f0284c(PartitionKey=\u0027001\u0027,RowKey=\u0027batch_merge\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltablestestsprim.table.core.windows.net/$metadata#uttable83f0284c/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-09-16T09%3A39%3A12.7650842Z\u0027\u0022",
        "PartitionKey": "001",
        "RowKey": "batch_merge",
        "Timestamp": "2021-09-16T09:39:12.7650842Z",
        "test": true,
        "test2": "value",
        "test3": 3,
        "test4": 1234567890,
        "test5@odata.type": "Edm.DateTime",
        "test5": "2021-09-16T16:39:13.801423Z"
      }
    },
    {
      "RequestUri": "https://yalltablestestsprim.table.core.windows.net/uttable83f0284c(PartitionKey=\u0027001\u0027,RowKey=\u0027batch_merge\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 16 Sep 2021 09:39:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272021-09-16T09%3A39%3A12.7650842Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltablestestsprim.table.core.windows.net/$metadata#uttable83f0284c/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-09-16T09%3A39%3A12.7650842Z\u0027\u0022",
        "PartitionKey": "001",
        "RowKey": "batch_merge",
        "Timestamp": "2021-09-16T09:39:12.7650842Z",
        "test": true,
        "test2": "value",
        "test3": 3,
        "test4": 1234567890,
        "test5@odata.type": "Edm.DateTime",
        "test5": "2021-09-16T16:39:13.801423Z"
      }
    },
    {
      "RequestUri": "https://yalltablestestsprim.table.core.windows.net/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_7cf057d3-eb80-4f2f-809b-5156fba636c6",
        "DataServiceVersion": "3.0",
        "MaxDataServiceVersion": "3.0;NetFx",
        "x-ms-date": "Thu, 16 Sep 2021 09:39:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "LS1iYXRjaF83Y2YwNTdkMy1lYjgwLTRmMmYtODA5Yi01MTU2ZmJhNjM2YzYNCkNvbnRlbnQtVHlwZTogbXVsdGlwYXJ0L21peGVkOyBib3VuZGFyeT1jaGFuZ2VzZXRfYmNmMTkzMDItZjRiNi00ZDI2LWE2MDEtZTMzNTI5YWVjY2UyDQoNCi0tY2hhbmdlc2V0X2JjZjE5MzAyLWY0YjYtNGQyNi1hNjAxLWUzMzUyOWFlY2NlMg0KQ29udGVudC1UeXBlOiBhcHBsaWNhdGlvbi9odHRwDQpDb250ZW50LVRyYW5zZmVyLUVuY29kaW5nOiBiaW5hcnkNCkNvbnRlbnQtSUQ6IDANCg0KUEFU[...]
[...]
    {
      "RequestUri": "https://yalltablestestsprim.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 16 Sep 2021 09:39:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltablestestsprim.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "uttable83f0284c"
          }
        ]
      }
    },
    {
      "RequestUri": "https://yalltablestestsprim.table.core.windows.net/Tables(\u0027uttable83f0284c\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Sep 2021 09:39:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}