interactions:
- request:
    body: '{"TableName": "uttableff010e3f"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:23:15 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablesteststorname.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttableff010e3f"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://tablesteststorname.table.core.windows.net/Tables('uttableff010e3f')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: "--batch_288bade8-580a-4470-b8ea-492c076df697\r\nContent-Type: multipart/mixed;
      boundary=changeset_1e79500f-9bea-41b5-aa4c-d866e5fab52d\r\n\r\n--changeset_1e79500f-9bea-41b5-aa4c-d866e5fab52d\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID: 0\r\n\r\nPOST
      https://tablestestxjz4vq7ewcdgud.table.core.windows.net/uttableff010e3f HTTP/1.1\r\nPrefer:
      return-no-content\r\nContent-Type: application/json;odata=nometadata\r\nx-ms-version:
      2019-02-02\r\nDataServiceVersion: 3.0\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Length:
      223\r\nx-ms-date: Sat, 07 Nov 2020 01:23:16 GMT\r\nDate: Sat, 07 Nov 2020 01:23:16
      GMT\r\nx-ms-client-request-id: cfcaa298-2097-11eb-b875-58961df361d1\r\n\r\n{\"test3\":
      3, \"PartitionKey\": \"batch_inserts\", \"RowKey\": \"0\", \"test\": true, \"test4\":
      1234567890, \"RowKey@odata.type\": \"Edm.String\", \"test2@odata.type\": \"Edm.String\",
      \"test2\": \"value\", \"PartitionKey@odata.type\": \"Edm.String\"}\r\n--changeset_1e79500f-9bea-41b5-aa4c-d866e5fab52d\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID: 1\r\n\r\nPOST
      https://tablestestxjz4vq7ewcdgud.table.core.windows.net/uttableff010e3f HTTP/1.1\r\nPrefer:
      return-no-content\r\nContent-Type: application/json;odata=nometadata\r\nx-ms-version:
      2019-02-02\r\nDataServiceVersion: 3.0\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Length:
      223\r\nx-ms-date[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:23:16 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablesteststorname.table.core.windows.net/uttableff010e3f()?$filter=PartitionKey%20eq%20%27batch_inserts%27
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttableff010e3f","value":[{"odata.etag":"W/\"datetime''2020-11-07T01%3A23%3A17.3833177Z''\"","PartitionKey":"batch_inserts","RowKey":"0","Timestamp":"2020-11-07T01:23:17.3833177Z","test3":3,"test":true,"test4":1234567890,"test2":"value"},{"odata.etag":"W/\"datetime''2020-11-07T01%3A23%3A17.3833177Z''\"","PartitionKey":"batch_inserts","RowKey":"1","Timestamp":"2020-11-07T01:23:17.3833177Z","test3":3,"test":true,"test4":1234567890,"test2":"value"},{"odata.etag":"W/\"datetime''2020-11-07T01%3A23%3A17.3833177Z''\"","PartitionKey":"batch_inserts","RowKey":"10","Timestamp":"2020-11-07T01:23:17.3833177Z","test3":3,"test":true,"test4":1234567890,"te[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 01:23:16 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablesteststorname.table.core.windows.net/uttableff010e3f(PartitionKey='batch_inserts',RowKey='1')
  response:
    body:
      string: '{"odata.metadata":"https://tablesteststorname.table.core.windows.net/$metadata#uttableff010e3f/@Element","odata.etag":"W/\"datetime''2020-11-07T01%3A23%3A17.3833177Z''\"","PartitionKey":"batch_inserts","RowKey":"1","Timestamp":"2020-11-07T01:23:17.3833177Z","test3":3,"test":true,"test4":1234567890,"test2":"value"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-11-07T01%3A23%3A17.3833177Z'"
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 Nov 2020 01:23:16 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablesteststorname.table.core.windows.net/Tables('uttableff010e3f')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
version: 1
