interactions:
- request:
    body: '{"TableName": "uttableb1d31bc5"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 18 Sep 2020 20:37:53 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttableb1d31bc5","odata.metadata":"https://cosmostestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-18T20%3A37%3A54.0850695Z'"
      location: https://cosmostestcosmosname.table.cosmos.azure.com/Tables('uttableb1d31bc5')
    status:
      code: 201
      message: Ok
    url: https://cosmostables7jyy4tyvaxat.table.cosmos.azure.com/Tables
- request:
    body: '{"PartitionKey": "pkb1d31bc5", "RowKey": "rkb1d31bc5", "inf": "Infinity",
      "inf@odata.type": "Edm.Double", "negativeinf": "-Infinity", "negativeinf@odata.type":
      "Edm.Double", "nan": "NaN", "nan@odata.type": "Edm.Double"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 18 Sep 2020 20:37:54 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostestcosmosname.table.cosmos.azure.com/uttableb1d31bc5
  response:
    body:
      string: '{"odata.metadata":"https://cosmostestcosmosname.table.cosmos.azure.com/uttableb1d31bc5/$metadata#uttableb1d31bc5/@Element","odata.etag":"W/\"datetime''2020-09-18T20%3A37%3A54.5695239Z''\"","PartitionKey":"pkb1d31bc5","RowKey":"rkb1d31bc5","inf@odata.type":"Edm.Double","inf":"Infinity","negativeinf@odata.type":"Edm.Double","negativeinf":"-Infinity","nan@odata.type":"Edm.Double","nan":"NaN","Timestamp":"2020-09-18T20:37:54.5695239Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-18T20%3A37%3A54.5695239Z'"
      location: https://cosmostestcosmosname.table.cosmos.azure.com/uttableb1d31bc5(PartitionKey='pkb1d31bc5',RowKey='rkb1d31bc5')
    status:
      code: 201
      message: Created
    url: https://cosmostables7jyy4tyvaxat.table.cosmos.azure.com/uttableb1d31bc5
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 18 Sep 2020 20:37:54 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://cosmostestcosmosname.table.cosmos.azure.com/uttableb1d31bc5(PartitionKey='pkb1d31bc5',RowKey='rkb1d31bc5')
  response:
    body:
      string: '{"odata.metadata":"https://cosmostestcosmosname.table.cosmos.azure.com/uttableb1d31bc5/$metadata#uttableb1d31bc5/@Element","odata.etag":"W/\"datetime''2020-09-18T20%3A37%3A54.5695239Z''\"","PartitionKey":"pkb1d31bc5","RowKey":"rkb1d31bc5","inf@odata.type":"Edm.Double","inf":"Infinity","negativeinf@odata.type":"Edm.Double","negativeinf":"-Infinity","nan@odata.type":"Edm.Double","nan":"NaN","Timestamp":"2020-09-18T20:37:54.5695239Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-18T20%3A37%3A54.5695239Z'"
    status:
      code: 200
      message: Ok
    url: https://cosmostables7jyy4tyvaxat.table.cosmos.azure.com/uttableb1d31bc5(PartitionKey='pkb1d31bc5',RowKey='rkb1d31bc5')
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 18 Sep 2020 20:37:54 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://cosmostestcosmosname.table.cosmos.azure.com/Tables('uttableb1d31bc5')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://cosmostables7jyy4tyvaxat.table.cosmos.azure.com/Tables('uttableb1d31bc5')
version: 1
