interactions:
- request:
    body: '{"TableName": "uttable70521132"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 02 Nov 2020 22:34:21 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttable70521132","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-11-02T22%3A34%3A21.8838023Z'"
      location:
      - https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable70521132')
    status:
      code: 201
      message: Ok
- request:
    body: "--batch_9b50c419-d7fe-4f7d-88d8-64d1658db56e\r\nContent-Type: multipart/mixed;\
      \ boundary=changeset_c2758092-4b68-4af9-899b-c8c447e4bce9\r\n\r\n--changeset_c2758092-4b68-4af9-899b-c8c447e4bce9\r\
      \nContent-Type: application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID:\
      \ 0\r\n\r\nPOST https://tablestestnxfu7tcypytl46.table.cosmos.azure.com/uttable70521132\
      \ HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nPrefer:\
      \ return-no-content\r\nContent-Type: application/json;odata=nometadata\r\nAccept:\
      \ application/json;odata=minimalmetadata\r\nContent-Length: 223\r\nx-ms-date:\
      \ Mon, 02 Nov 2020 22:34:22 GMT\r\nDate: Mon, 02 Nov 2020 22:34:22 GMT\r\nx-ms-client-request-id:\
      \ 8def88e3-1d5b-11eb-98f8-58961df361d1\r\n\r\n{\"PartitionKey\": \"batch_inserts\"\
      , \"PartitionKey@odata.type\": \"Edm.String\", \"test\": true, \"test2\": \"\
      value\", \"test2@odata.type\": \"Edm.String\", \"test3\": 3, \"test4\": 1234567890,\
      \ \"RowKey\": \"0\", \"RowKey@odata.type\": \"Edm.String\"}\r\n--changeset_c2758092-4b68-4af9-899b-c8c447e4bce9\r\
      \nContent-Type: application/http\r\nContent-Transfer-Encoding: binary\r\nContent-ID:\
      \ 1\r\n\r\nPOST https://tablestestnxfu7tcypytl46.table.cosmos.azure.com/uttable70521132\
      \ HTTP/1.1\r\nx-ms-version: 2019-02-02\r\nDataServiceVersion: 3.0\r\nPrefer:\
      \ return-no-content\r\nContent-Type: application/json;odata=nometadata\r\nAccept:\
      \ application/json;odata=minimalmetadata\r\nContent-Length: 22[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 02 Nov 2020 22:34:22 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable70521132()
  response:
    body:
      string: '{"value":[{"odata.etag":"W/\"datetime''2020-11-02T22%3A34%3A22.3838215Z''\"","PartitionKey":"batch_inserts","test":true,"test2":"value","test3":3,"test4":1234567890,"RowKey":"0","Timestamp":"2020-11-02T22:34:22.3838215Z"},{"odata.etag":"W/\"datetime''2020-11-02T22%3A34%3A22.3852551Z''\"","PartitionKey":"batch_inserts","test":true,"test2":"value","test3":3,"test4":1234567890,"RowKey":"1","Timestamp":"2020-11-02T22:34:22.3852551Z"},{"odata.etag":"W/\"datetime''2020-11-02T22%3A34%3A22.3857671Z''\"","PartitionKey":"batch_inserts","test":true,"test2":"value","test3":3,"test4":1234567890,"RowKey":"2","Timestamp":"2020-11-02T22:34:22.3857671Z"},{"odata.etag":"W/\"datetime''2020-11-02T22%3[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 02 Nov 2020 22:34:22 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/uttable70521132(PartitionKey='batch_inserts',RowKey='1')
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/uttable70521132/$metadata#uttable70521132/@Element","odata.etag":"W/\"datetime''2020-11-02T22%3A34%3A22.3852551Z''\"","PartitionKey":"batch_inserts","test":true,"test2":"value","test3":3,"test4":1234567890,"RowKey":"1","Timestamp":"2020-11-02T22:34:22.3852551Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-11-02T22%3A34%3A22.3852551Z'"
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 02 Nov 2020 22:34:23 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable70521132')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
