interactions:
- request:
    body: '{"TableName": "uttable985e1b69"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 17 Sep 2020 22:41:37 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttable985e1b69","odata.metadata":"https://cosmostestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-09-17T22%3A41%3A38.7069447Z'"
      location: https://cosmostestcosmosname.table.cosmos.azure.com/Tables('uttable985e1b69')
    status:
      code: 201
      message: Ok
    url: https://cosmostableswmnfqcvpsy56.table.cosmos.azure.com/Tables
- request:
    body: '{"PartitionKey": "pk985e1b69", "RowKey": "rk985e1b69", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "married": true, "deceased": false, "ratio": 3.1,
      "evenratio": 3.0, "large": "933311100", "large@odata.type": "Edm.Int64", "Birthday":
      "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z",
      "birthday@odata.type": "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type":
      "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 17 Sep 2020 22:41:38 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostestcosmosname.table.cosmos.azure.com/uttable985e1b69
  response:
    body:
      string: '{"PartitionKey":"pk985e1b69","RowKey":"rk985e1b69","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large":"933311100","Birthday":"1973-10-04T00:00:00.0000000Z","birthday":"1970-10-04T00:00:00.0000000Z","binary":"YmluYXJ5","other":20,"clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Timestamp":"2020-09-17T22:41:39.2121863Z"}'
    headers:
      content-type: application/json;odata=nometadata
      etag: W/"datetime'2020-09-17T22%3A41%3A39.2121863Z'"
      location: https://cosmostestcosmosname.table.cosmos.azure.com/uttable985e1b69(PartitionKey='pk985e1b69',RowKey='rk985e1b69')
    status:
      code: 201
      message: Created
    url: https://cosmostableswmnfqcvpsy56.table.cosmos.azure.com/uttable985e1b69
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Sep 2020 22:41:39 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://cosmostestcosmosname.table.cosmos.azure.com/Tables('uttable985e1b69')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://cosmostableswmnfqcvpsy56.table.cosmos.azure.com/Tables('uttable985e1b69')
version: 1
