{
  "Entries": [
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 22 Sep 2021 00:30:28 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022TableName\u0022: \u0022uttable7d429ab\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-09-22T00%3A30%3A26.9455368Z\u0027\u0022",
        "Location": "https://yalltbtestsprim.table.cosmos.azure.com/Tables(\u0027uttable7d429ab\u0027)"
      },
      "ResponseBody": {
        "TableName": "uttable7d429ab",
        "odata.metadata": "https://yalltbtestsprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/uttable7d429ab",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 22 Sep 2021 00:30:29 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "{\u0022PartitionKey\u0022: \u0022001\u0022, \u0022PartitionKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022RowKey\u0022: \u0022batch_update\u0022, \u0022RowKey@odata.type\u0022: \u0022Edm.String\u0022, \u0022test\u0022: true, \u0022test2\u0022: \u0022value\u0022, \u0022test2@odata.type\u0022: \u0022Edm.String\u0022, \u0022test3\u0022: 3, \u0022test4\u0022: 1234567890, \u0022test5\u0022: \u00222021-09-22T07:30:29.550305Z\u0022, \u0022test5@odata.type\u0022: \u0022Edm.DateTime\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-09-22T00%3A30%3A27.4310152Z\u0027\u0022",
        "Location": "https://yalltbtestsprim.table.cosmos.azure.com/uttable7d429ab(PartitionKey=\u0027001\u0027,RowKey=\u0027batch_update\u0027)"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltbtestsprim.table.cosmos.azure.com/uttable7d429ab/$metadata#uttable7d429ab/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-09-22T00%3A30%3A27.4310152Z\u0027\u0022",
        "PartitionKey": "001",
        "RowKey": "batch_update",
        "test": true,
        "test2": "value",
        "test3": 3,
        "test4": 1234567890,
        "test5@odata.type": "Edm.DateTime",
        "test5": "2021-09-22T07:30:29.5503050Z",
        "Timestamp": "2021-09-22T00:30:27.4310152Z"
      }
    },
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/uttable7d429ab(PartitionKey=\u0027001\u0027,RowKey=\u0027batch_update\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 22 Sep 2021 00:30:29 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-09-22T00%3A30%3A27.4310152Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://yalltbtestsprim.table.cosmos.azure.com/uttable7d429ab/$metadata#uttable7d429ab/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-09-22T00%3A30%3A27.4310152Z\u0027\u0022",
        "PartitionKey": "001",
        "RowKey": "batch_update",
        "test": true,
        "test2": "value",
        "test3": 3,
        "test4": 1234567890,
        "test5@odata.type": "Edm.DateTime",
        "test5": "2021-09-22T07:30:29.5503050Z",
        "Timestamp": "2021-09-22T00:30:27.4310152Z"
      }
    },
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_3908d0f4-bc70-4192-b8d7-350910a49d8f",
        "DataServiceVersion": "3.0",
        "MaxDataServiceVersion": "3.0;NetFx",
        "x-ms-date": "Wed, 22 Sep 2021 00:30:29 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "LS1iYXRjaF8zOTA4ZDBmNC1iYzcwLTQxOTItYjhkNy0zNTA5MTBhNDlkOGYNCkNvbnRlbnQtVHlwZTogbXVsdGlwYXJ0L21peGVkOyBib3VuZGFyeT1jaGFuZ2VzZXRfZWFjNjczMTktZGZhNC00M2Y0LTgwYzctZjU4MGIyODU1YzQ2DQoNCi0tY2hhbmdlc2V0X2VhYzY3MzE5LWRmYTQtNDNmNC04MGM3LWY1ODBiMjg1NWM0Ng0KQ29udGVudC1UeXBlOiBhcHBsaWNhdGlvbi9odHRwDQpDb250ZW50LVRyYW5zZmVyLUVuY29kaW5nOiBiaW5hcnkNCkNvbnRlbnQtSUQ6IDANCg0KUE9T[...]
[...]
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 22 Sep 2021 00:30:29 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "TableName": "uttable7d429ab"
          }
        ],
        "odata.metadata": "https://yalltbtestsprim.table.cosmos.azure.com/$metadata#Tables"
      }
    },
    {
      "RequestUri": "https://yalltbtestsprim.table.cosmos.azure.com/Tables(\u0027uttable7d429ab\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 22 Sep 2021 00:30:29 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
