interactions:
- request:
    body: '{"TableName": "pytablesync99dc0b08"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 24 Jul 2020 15:02:27 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"pytablesync99dc0b08"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://storagename.table.core.windows.net/Tables('pytablesync99dc0b08')
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: '{"PartitionKey": "test", "RowKey": "test1", "text": "hello"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 24 Jul 2020 15:02:28 GMT
      x-ms-version:
      - '2019-07-07'
    method: PATCH
    uri: https://storagename.table.core.windows.net/pytablesync99dc0b08(PartitionKey='test',RowKey='test1')
  response:
    body:
      string: ''
    headers:
      etag:
      - W/"datetime'2020-07-24T15%3A02%3A28.5062759Z'"
      x-ms-version:
      - '2019-07-07'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 24 Jul 2020 15:02:28 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://storagename.table.core.windows.net/pytablesync99dc0b08()?st=2020-07-24T15%3A01%3A28Z&se=2020-07-24T16%3A02%3A28Z&sp=r&sv=2019-07-07&ss=t&srt=o&sig=usL0Ypki%2Fdnuv3yMpGtApz7eCLfzmcqKkflMQ8gR2MI%3D
  response:
    body:
      string: '{"odata.error":{"code":"InvalidUri","message":{"lang":"en-US","value":"The
        requested URI does not represent any resource on the server.\nRequestId:5ee5fd8b-b002-005b-2fcb-61ae85000000\nTime:2020-07-24T15:02:28.9515878Z"}}}'
    headers:
      content-type:
      - application/json
      x-ms-error-code:
      - InvalidUri
    status:
      code: 400
      message: The requested URI does not represent any resource on the server.
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Jul 2020 15:02:28 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('pytablesync99dc0b08')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-07-07'
    status:
      code: 204
      message: No Content
version: 1
