interactions:
- request:
    body: '{"TableName": "uttablefd871474"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 17 Sep 2020 22:33:00 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostablescosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttablefd871474","odata.metadata":"https://cosmostablescosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-09-17T22%3A33%3A01.3062663Z'"
      location:
      - https://cosmostablescosmosname.table.cosmos.azure.com/Tables('uttablefd871474')
    status:
      code: 201
      message: Ok
- request:
    body: '{"PartitionKey": "pkfd871474", "RowKey": "rkfd871474"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 17 Sep 2020 22:33:01 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://cosmostablescosmosname.table.cosmos.azure.com/uttablefd871474
  response:
    body:
      string: '{"odata.metadata":"https://cosmostablescosmosname.table.cosmos.azure.com/uttablefd871474/$metadata#uttablefd871474/@Element","odata.etag":"W/\"datetime''2020-09-17T22%3A33%3A01.7054215Z''\"","PartitionKey":"pkfd871474","RowKey":"rkfd871474","Timestamp":"2020-09-17T22:33:01.7054215Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-09-17T22%3A33%3A01.7054215Z'"
      location:
      - https://cosmostablescosmosname.table.cosmos.azure.com/uttablefd871474(PartitionKey='pkfd871474',RowKey='rkfd871474')
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 17 Sep 2020 22:33:01 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://cosmostablescosmosname.table.cosmos.azure.com/uttablefd871474(PartitionKey='pkfd871474',RowKey='rkfd871474')
  response:
    body:
      string: '{"odata.metadata":"https://cosmostablescosmosname.table.cosmos.azure.com/uttablefd871474/$metadata#uttablefd871474/@Element","odata.etag":"W/\"datetime''2020-09-17T22%3A33%3A01.7054215Z''\"","PartitionKey":"pkfd871474","RowKey":"rkfd871474","Timestamp":"2020-09-17T22:33:01.7054215Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      etag:
      - W/"datetime'2020-09-17T22%3A33%3A01.7054215Z'"
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 17 Sep 2020 22:33:01 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://cosmostablescosmosname.table.cosmos.azure.com/Tables('uttablefd871474')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 17 Sep 2020 22:33:01 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://cosmostablescosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"value":[],"odata.metadata":"https://cosmostablescosmosname.table.cosmos.azure.com/$metadata#Tables"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata
    status:
      code: 200
      message: Ok
version: 1
