interactions:
- request:
    body: '{"TableName": "uttable12f714db"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 02:12:53 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables
  response:
    body:
      string: '{"TableName":"uttable12f714db","odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#Tables/@Element"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-11-07T02%3A12%3A54.4089095Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable12f714db')
    status:
      code: 201
      message: Ok
    url: https://tablestestussw52mubjcwms.table.cosmos.azure.com/Tables
[...]
- request:
    body: '{"birthday": "1970-10-04T00:00:00Z", "age": 39, "sex@odata.type": "Edm.String",
      "other": 20, "binary": "YmluYXJ5", "Birthday": "1973-10-04T00:00:00Z", "RowKey@odata.type":
      "Edm.String", "binary@odata.type": "Edm.Binary", "RowKey": "rk12f714db1", "married":
      true, "sex": "male", "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "Birthday@odata.type":
      "Edm.DateTime", "ratio": 3.1, "large": 933311100, "clsid@odata.type": "Edm.Guid",
      "evenratio": 3.0, "PartitionKey": "pk12f714db", "deceased": false, "birthday@odata.type":
      "Edm.DateTime", "PartitionKey@odata.type": "Edm.String"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 02:12:54 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://tablestestcosmosname.table.cosmos.azure.com/querytable12f714db
  response:
    body:
      string: '{"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/querytable12f714db/$metadata#querytable12f714db/@Element","odata.etag":"W/\"datetime''2020-11-07T02%3A12%3A55.2087559Z''\"","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","age":39,"other":20,"binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","RowKey":"rk12f714db1","married":true,"sex":"male","clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","ratio":3.1,"large":933311100,"evenratio":3.0,"PartitionKey":"pk12f714db","deceased":false,"Timestamp":"2020-11-07T02:12:55.2087559Z"}'
    headers:
      content-type: application/json;odata=minimalmetadata
      etag: W/"datetime'2020-11-07T02%3A12%3A55.2087559Z'"
      location: https://tablestestcosmosname.table.cosmos.azure.com/querytable12f714db(PartitionKey='pk12f714db',RowKey='rk12f714db1')
    status:
      code: 201
      message: Created
    url: https://tablestestussw52mubjcwms.table.cosmos.azure.com/querytable12f714db
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 07 Nov 2020 02:12:54 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://tablestestcosmosname.table.cosmos.azure.com/querytable12f714db()
  response:
    body:
      string: '{"value":[{"odata.etag":"W/\"datetime''2020-11-07T02%3A12%3A55.2087559Z''\"","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","age":39,"other":20,"binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","RowKey":"rk12f714db1","married":true,"sex":"male","clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","ratio":3.1,"large":933311100,"evenratio":3.0,"PartitionKey":"pk12f714db","deceased":false,"Timestamp":"2020-11-07T02:12:55.2087559Z"},{"odata.etag":"W/\"datetime''2020-11-07T02%3A12%3A55.2530951Z''\"","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00.0000000Z","age":39,"other":20,"binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00.0000000Z","RowKey":"rk12f714db12","married":true,"sex":"male","clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","ratio":3.1,"large":933311100,"evenratio":3.0,"PartitionKey":"pk12f714db","deceased":false,"Timestamp":"2020-11-07T02:12:55.2530951Z"}],"odata.metadata":"https://tablestestcosmosname.table.cosmos.azure.com/$metadata#querytable12f714db"}'
    headers:
      content-type: application/json;odata=minimalmetadata
    status:
      code: 200
      message: Ok
    url: https://tablestestussw52mubjcwms.table.cosmos.azure.com/querytable12f714db()
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 Nov 2020 02:12:54 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('uttable12f714db')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://tablestestussw52mubjcwms.table.cosmos.azure.com/Tables('uttable12f714db')
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 Nov 2020 02:12:54 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://tablestestcosmosname.table.cosmos.azure.com/Tables('querytable12f714db')
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://tablestestussw52mubjcwms.table.cosmos.azure.com/Tables('querytable12f714db')
version: 1
