-e ../azure-servicebus
pytest>=3.4.1
pytest-asyncio>=0.8.0; python_version > '3.4'
docutils>=0.14
pygments>=2.2.0
pylint==2.3.0; python_version >= '3.4'
pylint==1.8.4; python_version < '3.4'
behave==1.2.6
wheel