interactions:
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/selective-restore-test-keyf5ac13b8/create?api-version=7.3
  response:
    body:
      string: '{"attributes":{"created":1631925831,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1631925831},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/selective-restore-test-keyf5ac13b8/e4b0f1a8b14141d42999b48550a04598","kty":"RSA-HSM","n":"h5L3r3brPEg5kGjGtkT4l5FNSEIjw0PRgd3kAvUpYnDdcU6nVLeGStel6BMWI054219i-1eRWLrinS89mIBtIZZkzrjxaCuGFWEC8Kd7m1SdtobUPtFgtp40DEXHEnSYKl7dH_06ccZJd9YoMXvVNyrzOY96UMSbsJBUitaCX0GyGIlRL1FWw11cFDXFzdEcqExBQI6YRLKsdwo3pen6a67CI69hCzmiOdz9hSf5jJsQSHrZHEIb2JIgfm45w_35xQK6BpMEj3sZTCHlebwL-Dv78CEY7lng38OdbF7je7haEJDIF5rJ4an_rA_o-zWC-YkRrIJ4jGlTDzoCM0hFrw"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '219'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/backup?api-version=7.3
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '0'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"storageResourceUri": "https://storagename.blob.core.windows.net/backup",
      "token": "fake-sas"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/backup?api-version=7.3
  response:
    body:
      string: '{"status":"InProgress","statusDetails":null,"error":null,"startTime":1631925834,"endTime":null,"jobId":"df6fd7027819454b84779230cf2d4343","azureStorageBlobContainerUri":null}'
    headers:
      azure-asyncoperation:
      - https://managedhsmname.managedhsm.azure.net/backup/df6fd7027819454b84779230cf2d4343/pending
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '2613'
    status:
      code: 202
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/backup/df6fd7027819454b84779230cf2d4343/pending
  response:
    body:
      string: '{"azureStorageBlobContainerUri":"https://storagename.blob.core.windows.net/backup/mhsm-mcpatinotesthsm-2021091800435447","endTime":1631925842,"error":null,"jobId":"df6fd7027819454b84779230cf2d4343","startTime":1631925834,"status":"Succeeded","statusDetails":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency:
      - '2408'
    status:
      code: 200
      message: OK
- request:
    body: '{"sasTokenParameters": {"storageResourceUri": "https://storagename.blob.core.windows.net/backup",
      "token": "fake-sas"}, "folder": "mhsm-mcpatinotesthsm-2021091800435447"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://managedhsmname.managedhsm.azure.net/keys/selective-restore-test-keyf5ac13b8/restore?api-version=7.3
  response:
    body:
      string: '{"endTime":null,"error":null,"jobId":"581c94cf93d0470ca1ab1cd62f261009","startTime":1631925849,"status":"InProgress","statusDetails":null}'
    headers:
      azure-asyncoperation:
      - https://managedhsmname.managedhsm.azure.net/restore/581c94cf93d0470ca1ab1cd62f261009/pending
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '2510'
    status:
      code: 202
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/restore/581c94cf93d0470ca1ab1cd62f261009/pending
  response:
    body:
      string: '{"endTime":null,"error":null,"jobId":"581c94cf93d0470ca1ab1cd62f261009","startTime":1631925849,"status":"InProgress","statusDetails":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency:
      - '2438'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://managedhsmname.managedhsm.azure.net/keys/selective-restore-test-keyf5ac13b8?api-version=7.3
  response:
    body:
      string: '{"attributes":{"created":1631925831,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1631925831},"deletedDate":1631925869,"key":{"e":"AQAB","key_ops":["wrapKey","encrypt","decrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/selective-restore-test-keyf5ac13b8/e4b0f1a8b14141d42999b48550a04598","kty":"RSA-HSM","n":"h5L3r3brPEg5kGjGtkT4l5FNSEIjw0PRgd3kAvUpYnDdcU6nVLeGStel6BMWI054219i-1eRWLrinS89mIBtIZZkzrjxaCuGFWEC8Kd7m1SdtobUPtFgtp40DEXHEnSYKl7dH_06ccZJd9YoMXvVNyrzOY96UMSbsJBUitaCX0GyGIlRL1FWw11cFDXFzdEcqExBQI6YRLKsdwo3pen6a67CI69hCzmiOdz9hSf5jJsQSHrZHEIb2JIgfm45w_35xQK6BpMEj3sZTCHlebwL-Dv78CEY7lng38OdbF7je7haEJDIF5rJ4an_rA_o-zWC-YkRrIJ4jGlTDzoCM0hFrw"},"recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/selective-restore-test-keyf5ac13b8","scheduledPurgeDate":1632530669}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '139'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys/selective-restore-test-keyf5ac13b8?api-version=7.3
  response:
    body:
      string: '{"attributes":{"created":1631925831,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1631925831},"deletedDate":1631925869,"key":{"e":"AQAB","key_ops":["verify","sign","unwrapKey","encrypt","decrypt","wrapKey"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/selective-restore-test-keyf5ac13b8/e4b0f1a8b14141d42999b48550a04598","kty":"RSA-HSM","n":"h5L3r3brPEg5kGjGtkT4l5FNSEIjw0PRgd3kAvUpYnDdcU6nVLeGStel6BMWI054219i-1eRWLrinS89mIBtIZZkzrjxaCuGFWEC8Kd7m1SdtobUPtFgtp40DEXHEnSYKl7dH_06ccZJd9YoMXvVNyrzOY96UMSbsJBUitaCX0GyGIlRL1FWw11cFDXFzdEcqExBQI6YRLKsdwo3pen6a67CI69hCzmiOdz9hSf5jJsQSHrZHEIb2JIgfm45w_35xQK6BpMEj3sZTCHlebwL-Dv78CEY7lng38OdbF7je7haEJDIF5rJ4an_rA_o-zWC-YkRrIJ4jGlTDzoCM0hFrw"},"recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/selective-restore-test-keyf5ac13b8","scheduledPurgeDate":1632530669}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency:
      - '31'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys/selective-restore-test-keyf5ac13b8?api-version=7.3
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '109'
    status:
      code: 204
      message: ''
version: 1
