interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/selective-restore-test-keyf5ab13b7/create?api-version=7.3
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '1'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/selective-restore-test-keyf5ab13b7/create?api-version=7.3
  response:
    body:
      string: '{"attributes":{"created":1631925791,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1631925791},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/selective-restore-test-keyf5ab13b7/6a04d238ebe30e5e9e73a18c6be66b80","kty":"RSA-HSM","n":"sC32ieGfzfLtycrUwqKB9mBk49oaQgVZH091agVcNEIkB_FjXvlIdvHOh-1U3qrgc9lCSSk9ZyiaJHTbYdXLQvBdaYiRzjoWkOw0YG__N9QHyvJEwqzn3UYiCLCL4DUjgFUVUrHLRGEgvdzSHY9wtuQBTgHBjl1H0Feq3vvBPLSnndVCiQ6Mez3bHtys1oluVkEO59AuJfHJa7DXgoDImbnyROWMwNfYerpN6fCIHI_3DaekgHjd881TjW-jwkNraYmCJLufnJXItuoAgOz4mrhtYNHSS0f2_1mEM5i0C_8zC6NP1O_SwzftRRQrer-rdbJwfh9IsWXC6UPpE2OTbQ"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '373'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/backup?api-version=7.2
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '0'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"storageResourceUri": "https://storagename.blob.core.windows.net/backup",
      "token": "fake-sas"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/backup?api-version=7.2
  response:
    body:
      string: '{"status":"InProgress","statusDetails":null,"error":null,"startTime":1631925794,"endTime":null,"jobId":"ae16caad8b0f40549329dfedf73cbb0c","azureStorageBlobContainerUri":null}'
    headers:
      azure-asyncoperation:
      - https://managedhsmname.managedhsm.azure.net/backup/ae16caad8b0f40549329dfedf73cbb0c/pending
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '2589'
    status:
      code: 202
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/backup/ae16caad8b0f40549329dfedf73cbb0c/pending
  response:
    body:
      string: '{"azureStorageBlobContainerUri":"https://storagename.blob.core.windows.net/backup/mhsm-mcpatinotesthsm-2021091800431464","endTime":1631925802,"error":null,"jobId":"ae16caad8b0f40549329dfedf73cbb0c","startTime":1631925794,"status":"Succeeded","statusDetails":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency:
      - '2412'
    status:
      code: 200
      message: OK
- request:
    body: '{"sasTokenParameters": {"storageResourceUri": "https://storagename.blob.core.windows.net/backup",
      "token": "fake-sas"}, "folder": "mhsm-mcpatinotesthsm-2021091800431464"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://managedhsmname.managedhsm.azure.net/keys/selective-restore-test-keyf5ab13b7/restore?api-version=7.2
  response:
    body:
      string: '{"endTime":null,"error":null,"jobId":"40336d2045924e919d9f78f83410df80","startTime":1631925809,"status":"InProgress","statusDetails":null}'
    headers:
      azure-asyncoperation:
      - https://managedhsmname.managedhsm.azure.net/restore/40336d2045924e919d9f78f83410df80/pending
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '2647'
    status:
      code: 202
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/restore/40336d2045924e919d9f78f83410df80/pending
  response:
    body:
      string: '{"endTime":null,"error":null,"jobId":"40336d2045924e919d9f78f83410df80","startTime":1631925809,"status":"InProgress","statusDetails":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency:
      - '2445'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://managedhsmname.managedhsm.azure.net/keys/selective-restore-test-keyf5ab13b7?api-version=7.3
  response:
    body:
      string: '{"attributes":{"created":1631925791,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1631925791},"deletedDate":1631925830,"key":{"e":"AQAB","key_ops":["wrapKey","encrypt","decrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/selective-restore-test-keyf5ab13b7/6a04d238ebe30e5e9e73a18c6be66b80","kty":"RSA-HSM","n":"sC32ieGfzfLtycrUwqKB9mBk49oaQgVZH091agVcNEIkB_FjXvlIdvHOh-1U3qrgc9lCSSk9ZyiaJHTbYdXLQvBdaYiRzjoWkOw0YG__N9QHyvJEwqzn3UYiCLCL4DUjgFUVUrHLRGEgvdzSHY9wtuQBTgHBjl1H0Feq3vvBPLSnndVCiQ6Mez3bHtys1oluVkEO59AuJfHJa7DXgoDImbnyROWMwNfYerpN6fCIHI_3DaekgHjd881TjW-jwkNraYmCJLufnJXItuoAgOz4mrhtYNHSS0f2_1mEM5i0C_8zC6NP1O_SwzftRRQrer-rdbJwfh9IsWXC6UPpE2OTbQ"},"recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/selective-restore-test-keyf5ab13b7","scheduledPurgeDate":1632530630}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '166'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys/selective-restore-test-keyf5ab13b7?api-version=7.3
  response:
    body:
      string: '{"attributes":{"created":1631925791,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1631925791},"deletedDate":1631925830,"key":{"e":"AQAB","key_ops":["verify","sign","unwrapKey","encrypt","decrypt","wrapKey"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/selective-restore-test-keyf5ab13b7/6a04d238ebe30e5e9e73a18c6be66b80","kty":"RSA-HSM","n":"sC32ieGfzfLtycrUwqKB9mBk49oaQgVZH091agVcNEIkB_FjXvlIdvHOh-1U3qrgc9lCSSk9ZyiaJHTbYdXLQvBdaYiRzjoWkOw0YG__N9QHyvJEwqzn3UYiCLCL4DUjgFUVUrHLRGEgvdzSHY9wtuQBTgHBjl1H0Feq3vvBPLSnndVCiQ6Mez3bHtys1oluVkEO59AuJfHJa7DXgoDImbnyROWMwNfYerpN6fCIHI_3DaekgHjd881TjW-jwkNraYmCJLufnJXItuoAgOz4mrhtYNHSS0f2_1mEM5i0C_8zC6NP1O_SwzftRRQrer-rdbJwfh9IsWXC6UPpE2OTbQ"},"recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/selective-restore-test-keyf5ab13b7","scheduledPurgeDate":1632530630}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency:
      - '28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys/selective-restore-test-keyf5ab13b7?api-version=7.3
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '111'
    status:
      code: 204
      message: ''
version: 1
