interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/selective-restore-test-key782a1634/create?api-version=7.3
  response:
    body:
      string: ''
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency: '1'
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/selective-restore-test-key782a1634/create?api-version=7.3
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/selective-restore-test-key782a1634/create?api-version=7.3
  response:
    body:
      string: '{"attributes":{"created":1631924671,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1631924671},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/selective-restore-test-key782a1634/26598a48f98801c3b8d3d533e13e2cf6","kty":"RSA-HSM","n":"6PGl7rPTxnJYEJd__las2X3Kx7LJEyr5z4kJTG8jmy9S5OnlhoKlgXQswZHki1Z5Kt3y3sLlbf5FTLwxyo0SwDBxEur3Pm1IGSksyimQmQkVtIms2-CseXqaaRb3yOKgQtaJ53qWPAFY_Y10cYEltnKgLauF81hCD5QJZk40QLWjspsLgpq0iAj-4wZebZqaoV3h4uZqAGiXQ4LhJBw39NB2eqp_waAjcnk8b9DK4IIZsfEDw8hFKLHFk5Cgxr2h-yPaFtlYy2MPgDHC4Bf3neiR8uZEHNFk_5dPuvUZzxKB1Hy8wLiSdkB5llaELdRh2kzZtxfGmsijZit_wpFpkw"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '226'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/selective-restore-test-key782a1634/create?api-version=7.3
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/backup?api-version=7.2
  response:
    body:
      string: ''
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency: '0'
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotesthsm.managedhsm.azure.net/backup?api-version=7.2
- request:
    body: '{"storageResourceUri": "https://storagename.blob.core.windows.net/backup",
      "token": "fake-sas"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/backup?api-version=7.2
  response:
    body:
      string: '{"status":"InProgress","statusDetails":null,"error":null,"startTime":1631924674,"endTime":null,"jobId":"ef4e639417544dee849bfc7e219cb2ce","azureStorageBlobContainerUri":null}'
    headers:
      azure-asyncoperation: https://managedhsmname.managedhsm.azure.net/backup/ef4e639417544dee849bfc7e219cb2ce/pending
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '2626'
    status:
      code: 202
      message: ''
    url: https://mcpatinotesthsm.managedhsm.azure.net/backup?api-version=7.2
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/backup/ef4e639417544dee849bfc7e219cb2ce/pending
  response:
    body:
      string: '{"azureStorageBlobContainerUri":"https://storagename.blob.core.windows.net/backup/mhsm-mcpatinotesthsm-2021091800243506","endTime":1631924682,"error":null,"jobId":"ef4e639417544dee849bfc7e219cb2ce","startTime":1631924674,"status":"Succeeded","statusDetails":null}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency: '2324'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/backup/ef4e639417544dee849bfc7e219cb2ce/pending
- request:
    body: '{"sasTokenParameters": {"storageResourceUri": "https://storagename.blob.core.windows.net/backup",
      "token": "fake-sas"}, "folder": "mhsm-mcpatinotesthsm-2021091800243506"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://managedhsmname.managedhsm.azure.net/keys/selective-restore-test-key782a1634/restore?api-version=7.2
  response:
    body:
      string: '{"endTime":null,"error":null,"jobId":"6d9a73978f984120910a9d478b838d30","startTime":1631924689,"status":"InProgress","statusDetails":null}'
    headers:
      azure-asyncoperation: https://managedhsmname.managedhsm.azure.net/restore/6d9a73978f984120910a9d478b838d30/pending
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '2467'
    status:
      code: 202
      message: ''
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/selective-restore-test-key782a1634/restore?api-version=7.2
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/restore/6d9a73978f984120910a9d478b838d30/pending
  response:
    body:
      string: '{"endTime":1631924700,"error":null,"jobId":"6d9a73978f984120910a9d478b838d30","startTime":1631924689,"status":"Succeeded","statusDetails":"Number
        of successful key versions restored: 0, Number of key versions could not overwrite:
        2"}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency: '2222'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/restore/6d9a73978f984120910a9d478b838d30/pending
- request:
    body: null
    headers:
    method: DELETE
    uri: https://managedhsmname.managedhsm.azure.net/keys/selective-restore-test-key782a1634?api-version=7.3
  response:
    body:
      string: '{"error":{"code":"Conflict","message":"User triggered Restore operation
        is in progress. Retry after the restore operation (Activity ID: dd89f522-1816-11ec-a88e-000d3a320951)"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '0'
    status:
      code: 409
      message: ''
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/selective-restore-test-key782a1634?api-version=7.3
- request:
    body: null
    headers:
    method: DELETE
    uri: https://managedhsmname.managedhsm.azure.net/keys/selective-restore-test-key782a1634?api-version=7.3
  response:
    body:
      string: '{"attributes":{"created":1631924671,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1631924671},"deletedDate":1631924705,"key":{"e":"AQAB","key_ops":["wrapKey","encrypt","decrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/selective-restore-test-key782a1634/26598a48f98801c3b8d3d533e13e2cf6","kty":"RSA-HSM","n":"6PGl7rPTxnJYEJd__las2X3Kx7LJEyr5z4kJTG8jmy9S5OnlhoKlgXQswZHki1Z5Kt3y3sLlbf5FTLwxyo0SwDBxEur3Pm1IGSksyimQmQkVtIms2-CseXqaaRb3yOKgQtaJ53qWPAFY_Y10cYEltnKgLauF81hCD5QJZk40QLWjspsLgpq0iAj-4wZebZqaoV3h4uZqAGiXQ4LhJBw39NB2eqp_waAjcnk8b9DK4IIZsfEDw8hFKLHFk5Cgxr2h-yPaFtlYy2MPgDHC4Bf3neiR8uZEHNFk_5dPuvUZzxKB1Hy8wLiSdkB5llaELdRh2kzZtxfGmsijZit_wpFpkw"},"recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/selective-restore-test-key782a1634","scheduledPurgeDate":1632529505}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '207'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/selective-restore-test-key782a1634?api-version=7.3
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys/selective-restore-test-key782a1634?api-version=7.3
  response:
    body:
      string: '{"attributes":{"created":1631924671,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1631924671},"deletedDate":1631924705,"key":{"e":"AQAB","key_ops":["verify","sign","unwrapKey","encrypt","decrypt","wrapKey"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/selective-restore-test-key782a1634/26598a48f98801c3b8d3d533e13e2cf6","kty":"RSA-HSM","n":"6PGl7rPTxnJYEJd__las2X3Kx7LJEyr5z4kJTG8jmy9S5OnlhoKlgXQswZHki1Z5Kt3y3sLlbf5FTLwxyo0SwDBxEur3Pm1IGSksyimQmQkVtIms2-CseXqaaRb3yOKgQtaJ53qWPAFY_Y10cYEltnKgLauF81hCD5QJZk40QLWjspsLgpq0iAj-4wZebZqaoV3h4uZqAGiXQ4LhJBw39NB2eqp_waAjcnk8b9DK4IIZsfEDw8hFKLHFk5Cgxr2h-yPaFtlYy2MPgDHC4Bf3neiR8uZEHNFk_5dPuvUZzxKB1Hy8wLiSdkB5llaELdRh2kzZtxfGmsijZit_wpFpkw"},"recoveryId":"https://managedhsmname.managedhsm.azure.net/deletedkeys/selective-restore-test-key782a1634","scheduledPurgeDate":1632529505}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency: '36'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/deletedkeys/selective-restore-test-key782a1634?api-version=7.3
- request:
    body: null
    headers:
    method: DELETE
    uri: https://managedhsmname.managedhsm.azure.net/deletedkeys/selective-restore-test-key782a1634?api-version=7.3
  response:
    body:
      string: ''
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '126'
    status:
      code: 204
      message: ''
    url: https://mcpatinotesthsm.managedhsm.azure.net/deletedkeys/selective-restore-test-key782a1634?api-version=7.3
version: 1
