interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/backup?api-version=7.3-preview
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '1'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"storageResourceUri": "https://storagename.blob.core.windows.net/backup",
      "token": "fake-sas"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/backup?api-version=7.3-preview
  response:
    body:
      string: '{"status":"InProgress","statusDetails":null,"error":null,"startTime":1631925635,"endTime":null,"jobId":"2acd89ceb41f4e7096f1f9c5c9cf83ec","azureStorageBlobContainerUri":null}'
    headers:
      azure-asyncoperation:
      - https://managedhsmname.managedhsm.azure.net/backup/2acd89ceb41f4e7096f1f9c5c9cf83ec/pending
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '2711'
    status:
      code: 202
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/backup/2acd89ceb41f4e7096f1f9c5c9cf83ec/pending?api-version=7.3-preview
  response:
    body:
      string: '{"azureStorageBlobContainerUri":null,"endTime":null,"error":null,"jobId":"2acd89ceb41f4e7096f1f9c5c9cf83ec","startTime":1631925635,"status":"InProgress","statusDetails":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency:
      - '2440'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/backup/2acd89ceb41f4e7096f1f9c5c9cf83ec/pending
  response:
    body:
      string: '{"azureStorageBlobContainerUri":"https://storagename.blob.core.windows.net/backup/mhsm-mcpatinotesthsm-2021091800403569","endTime":1631925643,"error":null,"jobId":"2acd89ceb41f4e7096f1f9c5c9cf83ec","startTime":1631925635,"status":"Succeeded","statusDetails":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency:
      - '2397'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"sasTokenParameters": {"storageResourceUri": "https://storagename.blob.core.windows.net/backup",
      "token": "fake-sas"}, "folderToRestore": "mhsm-mcpatinotesthsm-2021091800403569"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://managedhsmname.managedhsm.azure.net/restore?api-version=7.3-preview
  response:
    body:
      string: '{"endTime":null,"error":null,"jobId":"5cdff413bc834a97b72cc996767f1661","startTime":1631925653,"status":"InProgress","statusDetails":null}'
    headers:
      azure-asyncoperation:
      - https://managedhsmname.managedhsm.azure.net/restore/5cdff413bc834a97b72cc996767f1661/pending
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '2532'
    status:
      code: 202
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/restore/5cdff413bc834a97b72cc996767f1661/pending?api-version=7.3-preview
  response:
    body:
      string: '{"endTime":null,"error":null,"jobId":"5cdff413bc834a97b72cc996767f1661","startTime":1631925653,"status":"InProgress","statusDetails":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency:
      - '2357'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/restore/5cdff413bc834a97b72cc996767f1661/pending
  response:
    body:
      string: '{"endTime":null,"error":null,"jobId":"5cdff413bc834a97b72cc996767f1661","startTime":1631925653,"status":"InProgress","statusDetails":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency:
      - '2373'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/restore/5cdff413bc834a97b72cc996767f1661/pending
  response:
    body:
      string: '{"endTime":1631925668,"error":null,"jobId":"5cdff413bc834a97b72cc996767f1661","startTime":1631925653,"status":"Succeeded","statusDetails":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency:
      - '2364'
    status:
      code: 200
      message: OK
version: 1
