interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/backup?api-version=7.2
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '0'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"storageResourceUri": "https://storagename.blob.core.windows.net/backup",
      "token": "fake-sas"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/backup?api-version=7.2
  response:
    body:
      string: '{"status":"InProgress","statusDetails":null,"error":null,"startTime":1631925754,"endTime":null,"jobId":"a62d591da66341d49155212cb6b01c53","azureStorageBlobContainerUri":null}'
    headers:
      azure-asyncoperation:
      - https://managedhsmname.managedhsm.azure.net/backup/a62d591da66341d49155212cb6b01c53/pending
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '2931'
    status:
      code: 202
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/backup/a62d591da66341d49155212cb6b01c53/pending?api-version=7.2
  response:
    body:
      string: '{"azureStorageBlobContainerUri":null,"endTime":null,"error":null,"jobId":"a62d591da66341d49155212cb6b01c53","startTime":1631925754,"status":"InProgress","statusDetails":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency:
      - '2330'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/backup/a62d591da66341d49155212cb6b01c53/pending
  response:
    body:
      string: '{"azureStorageBlobContainerUri":"https://storagename.blob.core.windows.net/backup/mhsm-mcpatinotesthsm-2021091800423490","endTime":1631925762,"error":null,"jobId":"a62d591da66341d49155212cb6b01c53","startTime":1631925754,"status":"Succeeded","statusDetails":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency:
      - '2363'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"sasTokenParameters": {"storageResourceUri": "https://storagename.blob.core.windows.net/backup",
      "token": "fake-sas"}, "folderToRestore": "mhsm-mcpatinotesthsm-2021091800423490"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://managedhsmname.managedhsm.azure.net/restore?api-version=7.2
  response:
    body:
      string: '{"endTime":null,"error":null,"jobId":"d9652195ba9446d0b0e8141ba5fde136","startTime":1631925769,"status":"InProgress","statusDetails":null}'
    headers:
      azure-asyncoperation:
      - https://managedhsmname.managedhsm.azure.net/restore/d9652195ba9446d0b0e8141ba5fde136/pending
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '2466'
    status:
      code: 202
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/restore/d9652195ba9446d0b0e8141ba5fde136/pending?api-version=7.2
  response:
    body:
      string: '{"endTime":null,"error":null,"jobId":"d9652195ba9446d0b0e8141ba5fde136","startTime":1631925769,"status":"InProgress","statusDetails":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency:
      - '2274'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/restore/d9652195ba9446d0b0e8141ba5fde136/pending
  response:
    body:
      string: '{"endTime":null,"error":null,"jobId":"d9652195ba9446d0b0e8141ba5fde136","startTime":1631925769,"status":"InProgress","statusDetails":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency:
      - '2347'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/restore/d9652195ba9446d0b0e8141ba5fde136/pending
  response:
    body:
      string: '{"endTime":1631925785,"error":null,"jobId":"d9652195ba9446d0b0e8141ba5fde136","startTime":1631925769,"status":"Succeeded","statusDetails":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency:
      - '2145'
    status:
      code: 200
      message: OK
version: 1
