{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/selective-restore-test-key76603c4a/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/selective-restore-test-key76603c4a/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "380"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1651863476,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1651863476
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "sign",
            "verify",
            "encrypt",
            "decrypt",
            "unwrapKey"
          ],
          "kid": "https://managedhsmvaultname.vault.azure.net/keys/selective-restore-test-key76603c4a/34d34602c14943383499a883800d6662",
          "kty": "RSA-HSM",
          "n": "qVdTtgnu8P0qv5letcRwuEVTRjSgTplfMhrG9aWjEbs27xsiKNuiQiAQWJ2SMjObujMPVTjyAOZA1UT3EMOQL_v3a4z5dcx_ESDKAKlP_J2l08du2c1LViqh3NQYsloY2CA5tIGMB55rdPNn6nu-Ku301SaJVe48jJowXUeM-hthFaCzvE7uguc8PgzUUOq_w1FT9BZmTDFVgPITDP3awkn9zF3XJ0T79QLkvc9FLkqSqionbstnz054fM9JuEzAmd6AxPY19bNlrvYxTAi1CCksR4kOcCB2OcEgMj8AbPL1xAl6V67-DLSz1JYp5GaJ0Q_jvufrtnqpDLX6448nLQ"
        }
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/blob_container_name?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/blob_container_name?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://blob_storage_account_name.blob.keyvault_endpoint_suffix/blob_container_name",
        "token": "sv=2015-04-05\u0026ss=b\u0026srt=sco\u0026sp=rwdlacu\u0026se=2022-05-06T22%3A07%3A09.0000000Z\u0026spr=https\u0026sig=igZezdTGmuIb8WG6Lf9c3dYqwehCPoAomyXw4uqjyAk%3D"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://managedhsmvaultname.vault.azure.net/blob_container_name/5f09c9c954324b668e187562f6da2953/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "1567"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1651863478,
        "endTime": null,
        "jobId": "5f09c9c954324b668e187562f6da2953",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/blob_container_name/5f09c9c954324b668e187562f6da2953/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220422-1-08f4685d-1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-latency": "1527"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": "https://blob_storage_account_name.blob.keyvault_endpoint_suffix/blob_container_name/mhsm-kashifkhankeyvaulthsm-2022050618575878",
        "endTime": 1651863487,
        "error": null,
        "jobId": "5f09c9c954324b668e187562f6da2953",
        "startTime": 1651863478,
        "status": "Succeeded",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/keys/selective-restore-test-key76603c4a/restore?api-version=7.3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sasTokenParameters": {
          "storageResourceUri": "https://blob_storage_account_name.blob.keyvault_endpoint_suffix/blob_container_name",
          "token": "sv=2015-04-05\u0026ss=b\u0026srt=sco\u0026sp=rwdlacu\u0026se=2022-05-06T22%3A07%3A09.0000000Z\u0026spr=https\u0026sig=igZezdTGmuIb8WG6Lf9c3dYqwehCPoAomyXw4uqjyAk%3D"
        },
        "folder": "mhsm-kashifkhankeyvaulthsm-2022050618575878"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://managedhsmvaultname.vault.azure.net/restore/588f4d5c951c49b39e3c24ef9c47377d/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "1607"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "588f4d5c951c49b39e3c24ef9c47377d",
        "startTime": 1651863491,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/restore/588f4d5c951c49b39e3c24ef9c47377d/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220422-1-08f4685d-1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-latency": "1312"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "588f4d5c951c49b39e3c24ef9c47377d",
        "startTime": 1651863491,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/restore/588f4d5c951c49b39e3c24ef9c47377d/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220422-1-08f4685d-1.0.20220404-2-da0eff37-pre-openssl",
        "x-ms-server-latency": "1376"
      },
      "ResponseBody": {
        "endTime": 1651863503,
        "error": null,
        "jobId": "588f4d5c951c49b39e3c24ef9c47377d",
        "startTime": 1651863491,
        "status": "Succeeded",
        "statusDetails": "Number of successful key versions restored: 0, Number of key versions could not overwrite: 3"
      }
    }
  ],
  "Variables": {}
}
