interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/backup?api-version=7.3
  response:
    body:
      string: ''
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency: '1'
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinokvhsm.managedhsm.azure.net/backup?api-version=7.3
- request:
    body: '{"storageResourceUri": "https://storagename.blob.core.windows.net/backup",
      "token": "fake-sas"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/backup?api-version=7.3
  response:
    body:
      string: '{"status":"InProgress","statusDetails":null,"error":null,"startTime":1648168797,"endTime":null,"jobId":"17409bf8d8804d67959b7b6f0f4d5c09","azureStorageBlobContainerUri":null}'
    headers:
      azure-asyncoperation: https://managedhsmname.managedhsm.azure.net/backup/17409bf8d8804d67959b7b6f0f4d5c09/pending
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '1670'
    status:
      code: 202
      message: ''
    url: https://mcpatinokvhsm.managedhsm.azure.net/backup?api-version=7.3
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/backup/17409bf8d8804d67959b7b6f0f4d5c09/pending
  response:
    body:
      string: '{"azureStorageBlobContainerUri":"https://storagename.blob.core.windows.net/backup/mhsm-mcpatinokvhsm-2022032500395721","endTime":1648168804,"error":null,"jobId":"17409bf8d8804d67959b7b6f0f4d5c09","startTime":1648168797,"status":"Succeeded","statusDetails":null}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20220314-1-3dc5f232-develop
      x-ms-server-latency: '1368'
    status:
      code: 200
      message: OK
    url: https://mcpatinokvhsm.managedhsm.azure.net/backup/17409bf8d8804d67959b7b6f0f4d5c09/pending
- request:
    body: '{"sasTokenParameters": {"storageResourceUri": "https://storagename.blob.core.windows.net/backup",
      "token": "fake-sas"}, "folderToRestore": "mhsm-mcpatinokvhsm-2022032500395721"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://managedhsmname.managedhsm.azure.net/restore?api-version=7.3
  response:
    body:
      string: '{"endTime":null,"error":null,"jobId":"c61bf4802cf04c6eb7d09fb0eeed19b8","startTime":1648168810,"status":"InProgress","statusDetails":null}'
    headers:
      azure-asyncoperation: https://managedhsmname.managedhsm.azure.net/restore/c61bf4802cf04c6eb7d09fb0eeed19b8/pending
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '1540'
    status:
      code: 202
      message: ''
    url: https://mcpatinokvhsm.managedhsm.azure.net/restore?api-version=7.3
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/restore/c61bf4802cf04c6eb7d09fb0eeed19b8/pending
  response:
    body:
      string: '{"endTime":1648168821,"error":null,"jobId":"c61bf4802cf04c6eb7d09fb0eeed19b8","startTime":1648168810,"status":"Succeeded","statusDetails":null}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20220314-1-3dc5f232-develop
      x-ms-server-latency: '1574'
    status:
      code: 200
      message: OK
    url: https://mcpatinokvhsm.managedhsm.azure.net/restore/c61bf4802cf04c6eb7d09fb0eeed19b8/pending
version: 1
