interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/selective-restore-test-key61071dcf/create?api-version=7.3
  response:
    body:
      string: ''
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency: '1'
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/selective-restore-test-key61071dcf/create?api-version=7.3
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/selective-restore-test-key61071dcf/create?api-version=7.3
  response:
    body:
      string: '{"attributes":{"created":1631926596,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1631926596},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/selective-restore-test-key61071dcf/5fdefcb919674c5008aa2c003638ce86","kty":"RSA-HSM","n":"jA3GgSGs_Um_VcxDoL-7Zjdb0cGmrH8XCPTSN6IcwiXegymVihucsScbzIwL3J0hzklepsWkSNaj5KQRvZhJbcWoXBzUgFRRfYKl8INv3BmZky3HLr4IE-m6y3SL3VPG-c2ICNZBgKHz6764oZgBRePGzVNx46OXOKhrBjicVmpKUcpo2RwM8_29r8ziOE87yPKE8VxALphUmbHorG_1PmfFNtRs6t6mR8hr0EuVNa-YHunFFE9nIGe_ck0FqF6A2cg2ieKQhG8i0FxhOv7uMzB3wx1TjNkHAwRQExYRJJYvLG4DnZRaDRmVru6ziFGCivX4HTUYaArGBerMiVQFPQ"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '218'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/selective-restore-test-key61071dcf/create?api-version=7.3
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/backup?api-version=7.2
  response:
    body:
      string: ''
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency: '0'
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotesthsm.managedhsm.azure.net/backup?api-version=7.2
- request:
    body: '{"storageResourceUri": "https://storagename.blob.core.windows.net/backup",
      "token": "fake-sas"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/backup?api-version=7.2
  response:
    body:
      string: '{"status":"InProgress","statusDetails":null,"error":null,"startTime":1631926598,"endTime":null,"jobId":"85da0db26fd1400482eb2f37c338c679","azureStorageBlobContainerUri":null}'
    headers:
      azure-asyncoperation: https://managedhsmname.managedhsm.azure.net/backup/85da0db26fd1400482eb2f37c338c679/pending
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '2463'
    status:
      code: 202
      message: ''
    url: https://mcpatinotesthsm.managedhsm.azure.net/backup?api-version=7.2
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/backup/85da0db26fd1400482eb2f37c338c679/pending
  response:
    body:
      string: '{"azureStorageBlobContainerUri":"https://storagename.blob.core.windows.net/backup/mhsm-mcpatinotesthsm-2021091800563890","endTime":1631926606,"error":null,"jobId":"85da0db26fd1400482eb2f37c338c679","startTime":1631926598,"status":"Succeeded","statusDetails":null}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency: '2419'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/backup/85da0db26fd1400482eb2f37c338c679/pending
- request:
    body: '{"sasTokenParameters": {"storageResourceUri": "https://storagename.blob.core.windows.net/backup",
      "token": "fake-sas"}, "folder": "mhsm-mcpatinotesthsm-2021091800563890"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://managedhsmname.managedhsm.azure.net/keys/selective-restore-test-key61071dcf/restore?api-version=7.2
  response:
    body:
      string: '{"endTime":null,"error":null,"jobId":"ba4f7899cc3f4d258ba6e4141018c5b7","startTime":1631926613,"status":"InProgress","statusDetails":null}'
    headers:
      azure-asyncoperation: https://managedhsmname.managedhsm.azure.net/restore/ba4f7899cc3f4d258ba6e4141018c5b7/pending
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '2421'
    status:
      code: 202
      message: ''
    url: https://mcpatinotesthsm.managedhsm.azure.net/keys/selective-restore-test-key61071dcf/restore?api-version=7.2
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/restore/ba4f7899cc3f4d258ba6e4141018c5b7/pending
  response:
    body:
      string: '{"endTime":null,"error":null,"jobId":"ba4f7899cc3f4d258ba6e4141018c5b7","startTime":1631926613,"status":"InProgress","statusDetails":null}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency: '2499'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/restore/ba4f7899cc3f4d258ba6e4141018c5b7/pending
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/restore/ba4f7899cc3f4d258ba6e4141018c5b7/pending
  response:
    body:
      string: '{"endTime":1631926629,"error":null,"jobId":"ba4f7899cc3f4d258ba6e4141018c5b7","startTime":1631926613,"status":"Succeeded","statusDetails":"Number
        of successful key versions restored: 0, Number of key versions could not overwrite:
        2"}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency: '2253'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/restore/ba4f7899cc3f4d258ba6e4141018c5b7/pending
version: 1
