interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/selective-restore-test-keyb0c01b52/create?api-version=7.3
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '1'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/keys/selective-restore-test-keyb0c01b52/create?api-version=7.3
  response:
    body:
      string: '{"attributes":{"created":1631926872,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1631926872},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://managedhsmname.managedhsm.azure.net/keys/selective-restore-test-keyb0c01b52/303d93046d124c160a103d54ef6229cf","kty":"RSA-HSM","n":"kB94hjXI7b4LnAQ5Ftwz7JRCH3S-SMHOej2wQ7fQ9RyU3Re07KQDqRrm_rJtSLT2Kzx2kV7I5pmaJZZQpRtqUeGKQIO_aqww1gxEamPWbRfGsC_sx53ep_Z9cXV31QWMrOafYeFYZJCy0o27sOp0nl0VdHX30eDynYZTl9MPkLd1Gks-qmZXJNRqKMLlK9KVVE8wYRJsa1PCulaDOFKqBFVeJS3B0Dfo01oxOKcBolF-VgND5UYMxXJukYX_uQw-utUYsNVQ7GHyEEOaIRh8qlo6ud6C4vqF_qETRROiL41bDUk0apxCq1tIq6J4zxcMfOfQu5JfBoZyu2c8h5-VSQ"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '217'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/backup?api-version=7.2
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '0'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"storageResourceUri": "https://storagename.blob.core.windows.net/backup",
      "token": "fake-sas"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/backup?api-version=7.2
  response:
    body:
      string: '{"status":"InProgress","statusDetails":null,"error":null,"startTime":1631926875,"endTime":null,"jobId":"a0f6f4ea0c1d429f881eb748cfbda723","azureStorageBlobContainerUri":null}'
    headers:
      azure-asyncoperation:
      - https://managedhsmname.managedhsm.azure.net/backup/a0f6f4ea0c1d429f881eb748cfbda723/pending
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '2495'
    status:
      code: 202
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/backup/a0f6f4ea0c1d429f881eb748cfbda723/pending
  response:
    body:
      string: '{"azureStorageBlobContainerUri":"https://storagename.blob.core.windows.net/backup/mhsm-mcpatinotesthsm-2021091801011576","endTime":1631926883,"error":null,"jobId":"a0f6f4ea0c1d429f881eb748cfbda723","startTime":1631926875,"status":"Succeeded","statusDetails":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency:
      - '2372'
    status:
      code: 200
      message: OK
- request:
    body: '{"sasTokenParameters": {"storageResourceUri": "https://storagename.blob.core.windows.net/backup",
      "token": "fake-sas"}, "folder": "mhsm-mcpatinotesthsm-2021091801011576"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://managedhsmname.managedhsm.azure.net/keys/selective-restore-test-keyb0c01b52/restore?api-version=7.2
  response:
    body:
      string: '{"endTime":null,"error":null,"jobId":"86fe70871ef64b64828613ec67ad8732","startTime":1631926890,"status":"InProgress","statusDetails":null}'
    headers:
      azure-asyncoperation:
      - https://managedhsmname.managedhsm.azure.net/restore/86fe70871ef64b64828613ec67ad8732/pending
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '2492'
    status:
      code: 202
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/restore/86fe70871ef64b64828613ec67ad8732/pending
  response:
    body:
      string: '{"endTime":null,"error":null,"jobId":"86fe70871ef64b64828613ec67ad8732","startTime":1631926890,"status":"InProgress","statusDetails":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency:
      - '2322'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/restore/86fe70871ef64b64828613ec67ad8732/pending
  response:
    body:
      string: '{"endTime":1631926906,"error":null,"jobId":"86fe70871ef64b64828613ec67ad8732","startTime":1631926890,"status":"Succeeded","statusDetails":"Number
        of successful key versions restored: 0, Number of key versions could not overwrite:
        2"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency:
      - '3428'
    status:
      code: 200
      message: OK
version: 1
