interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/backup?api-version=7.2
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '1'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"storageResourceUri": "https://storagename.blob.core.windows.net/backup",
      "token": "fake-sas"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/backup?api-version=7.2
  response:
    body:
      string: '{"status":"InProgress","statusDetails":null,"error":null,"startTime":1631926793,"endTime":null,"jobId":"f1060dc2df064a3392e50c5abf602efd","azureStorageBlobContainerUri":null}'
    headers:
      azure-asyncoperation:
      - https://managedhsmname.managedhsm.azure.net/backup/f1060dc2df064a3392e50c5abf602efd/pending
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '2557'
    status:
      code: 202
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/backup/f1060dc2df064a3392e50c5abf602efd/pending
  response:
    body:
      string: '{"azureStorageBlobContainerUri":"https://storagename.blob.core.windows.net/backup/mhsm-mcpatinotesthsm-2021091800595397","endTime":1631926801,"error":null,"jobId":"f1060dc2df064a3392e50c5abf602efd","startTime":1631926793,"status":"Succeeded","statusDetails":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency:
      - '2435'
    status:
      code: 200
      message: OK
- request:
    body: '{"sasTokenParameters": {"storageResourceUri": "https://storagename.blob.core.windows.net/backup",
      "token": "fake-sas"}, "folderToRestore": "mhsm-mcpatinotesthsm-2021091800595397"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://managedhsmname.managedhsm.azure.net/restore?api-version=7.2
  response:
    body:
      string: '{"endTime":null,"error":null,"jobId":"3ebdff63e5f9428ab17eb80f630c0ba7","startTime":1631926809,"status":"InProgress","statusDetails":null}'
    headers:
      azure-asyncoperation:
      - https://managedhsmname.managedhsm.azure.net/restore/3ebdff63e5f9428ab17eb80f630c0ba7/pending
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '2801'
    status:
      code: 202
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/restore/3ebdff63e5f9428ab17eb80f630c0ba7/pending
  response:
    body:
      string: '{"endTime":null,"error":null,"jobId":"3ebdff63e5f9428ab17eb80f630c0ba7","startTime":1631926809,"status":"InProgress","statusDetails":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency:
      - '2359'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/restore/3ebdff63e5f9428ab17eb80f630c0ba7/pending
  response:
    body:
      string: '{"endTime":1631926825,"error":null,"jobId":"3ebdff63e5f9428ab17eb80f630c0ba7","startTime":1631926809,"status":"Succeeded","statusDetails":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency:
      - '3862'
    status:
      code: 200
      message: OK
version: 1
