interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/backup?api-version=7.3
  response:
    body:
      string: ''
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency: '0'
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotesthsm.managedhsm.azure.net/backup?api-version=7.3
- request:
    body: '{"storageResourceUri": "https://storagename.blob.core.windows.net/backup",
      "token": "fake-sas"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/backup?api-version=7.3
  response:
    body:
      string: '{"status":"InProgress","statusDetails":null,"error":null,"startTime":1631926705,"endTime":null,"jobId":"160bcff1b48e4a6180c6349b67c3f580","azureStorageBlobContainerUri":null}'
    headers:
      azure-asyncoperation: https://managedhsmname.managedhsm.azure.net/backup/160bcff1b48e4a6180c6349b67c3f580/pending
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '2687'
    status:
      code: 202
      message: ''
    url: https://mcpatinotesthsm.managedhsm.azure.net/backup?api-version=7.3
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/backup/160bcff1b48e4a6180c6349b67c3f580/pending
  response:
    body:
      string: '{"azureStorageBlobContainerUri":"https://storagename.blob.core.windows.net/backup/mhsm-mcpatinotesthsm-2021091800582542","endTime":1631926713,"error":null,"jobId":"160bcff1b48e4a6180c6349b67c3f580","startTime":1631926705,"status":"Succeeded","statusDetails":null}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency: '2438'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/backup/160bcff1b48e4a6180c6349b67c3f580/pending
- request:
    body: '{"sasTokenParameters": {"storageResourceUri": "https://storagename.blob.core.windows.net/backup",
      "token": "fake-sas"}, "folderToRestore": "mhsm-mcpatinotesthsm-2021091800582542"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://managedhsmname.managedhsm.azure.net/restore?api-version=7.3
  response:
    body:
      string: '{"endTime":null,"error":null,"jobId":"464073752afd447c9a63c460465fa464","startTime":1631926720,"status":"InProgress","statusDetails":null}'
    headers:
      azure-asyncoperation: https://managedhsmname.managedhsm.azure.net/restore/464073752afd447c9a63c460465fa464/pending
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '2594'
    status:
      code: 202
      message: ''
    url: https://mcpatinotesthsm.managedhsm.azure.net/restore?api-version=7.3
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/restore/464073752afd447c9a63c460465fa464/pending
  response:
    body:
      string: '{"endTime":null,"error":null,"jobId":"464073752afd447c9a63c460465fa464","startTime":1631926720,"status":"InProgress","statusDetails":null}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency: '2408'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/restore/464073752afd447c9a63c460465fa464/pending
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/restore/464073752afd447c9a63c460465fa464/pending
  response:
    body:
      string: '{"endTime":1631926736,"error":null,"jobId":"464073752afd447c9a63c460465fa464","startTime":1631926720,"status":"Succeeded","statusDetails":null}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency: '2494'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/restore/464073752afd447c9a63c460465fa464/pending
version: 1
