interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/backup?api-version=7.2
  response:
    body:
      string: ''
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency: '0'
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotesthsm.managedhsm.azure.net/backup?api-version=7.2
- request:
    body: '{"storageResourceUri": "https://storagename.blob.core.windows.net/backup",
      "token": "fake-sas"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/backup?api-version=7.2
  response:
    body:
      string: '{"status":"InProgress","statusDetails":null,"error":null,"startTime":1631926559,"endTime":null,"jobId":"126baae89d224356a9b115b3b56ab9b6","azureStorageBlobContainerUri":null}'
    headers:
      azure-asyncoperation: https://managedhsmname.managedhsm.azure.net/backup/126baae89d224356a9b115b3b56ab9b6/pending
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '2596'
    status:
      code: 202
      message: ''
    url: https://mcpatinotesthsm.managedhsm.azure.net/backup?api-version=7.2
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/backup/126baae89d224356a9b115b3b56ab9b6/pending
  response:
    body:
      string: '{"azureStorageBlobContainerUri":"https://storagename.blob.core.windows.net/backup/mhsm-mcpatinotesthsm-2021091800555977","endTime":1631926567,"error":null,"jobId":"126baae89d224356a9b115b3b56ab9b6","startTime":1631926559,"status":"Succeeded","statusDetails":null}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency: '2369'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/backup/126baae89d224356a9b115b3b56ab9b6/pending
- request:
    body: '{"sasTokenParameters": {"storageResourceUri": "https://storagename.blob.core.windows.net/backup",
      "token": "fake-sas"}, "folderToRestore": "mhsm-mcpatinotesthsm-2021091800555977"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://managedhsmname.managedhsm.azure.net/restore?api-version=7.2
  response:
    body:
      string: '{"endTime":null,"error":null,"jobId":"79cb5ddeec16472e947cd128396779f2","startTime":1631926574,"status":"InProgress","statusDetails":null}'
    headers:
      azure-asyncoperation: https://managedhsmname.managedhsm.azure.net/restore/79cb5ddeec16472e947cd128396779f2/pending
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '2565'
    status:
      code: 202
      message: ''
    url: https://mcpatinotesthsm.managedhsm.azure.net/restore?api-version=7.2
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/restore/79cb5ddeec16472e947cd128396779f2/pending
  response:
    body:
      string: '{"endTime":null,"error":null,"jobId":"79cb5ddeec16472e947cd128396779f2","startTime":1631926574,"status":"InProgress","statusDetails":null}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency: '2340'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/restore/79cb5ddeec16472e947cd128396779f2/pending
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/restore/79cb5ddeec16472e947cd128396779f2/pending
  response:
    body:
      string: '{"endTime":1631926590,"error":null,"jobId":"79cb5ddeec16472e947cd128396779f2","startTime":1631926574,"status":"Succeeded","statusDetails":null}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency: '2497'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/restore/79cb5ddeec16472e947cd128396779f2/pending
version: 1
