{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/providers/Microsoft.Authorization/roleDefinitions?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-build-version": "1.0.20220503-3-e1430fa9-1.0.20220430-1-f02155ab-pre-openssl",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": "OK"
    },
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/providers/Microsoft.Authorization/roleDefinitions?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220503-3-e1430fa9-1.0.20220430-1-f02155ab-pre-openssl",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/7b127d3c-77bd-4e3e-bbe0-dbb8971fa7f8",
            "name": "7b127d3c-77bd-4e3e-bbe0-dbb8971fa7f8",
            "properties": {
              "assignableScopes": [
                "/"
              ],
              "description": "",
              "permissions": [
                {
                  "actions": [],
                  "dataActions": [
                    "Microsoft.KeyVault/managedHsm/backup/start/action",
                    "Microsoft.KeyVault/managedHsm/backup/status/action",
                    "Microsoft.KeyVault/managedHsm/keys/backup/action"
                  ],
                  "notActions": [],
                  "notDataActions": []
                }
              ],
              "roleName": "Managed HSM Backup User",
              "type": "AKVBuiltInRole"
            },
            "type": "Microsoft.Authorization/roleDefinitions"
          },
          {
            "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/33413926-3206-4cdd-b39a-83574fe37a17",
            "name": "33413926-3206-4cdd-b39a-83574fe37a17",
            "properties": {
              "assignableScopes": [
                "/"
              ],
              "description": "",
              "permissions": [
                {
          [...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/providers/Microsoft.Authorization/roleAssignments/some-uuid?api-version=7.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "roleDefinitionId": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/7b127d3c-77bd-4e3e-bbe0-dbb8971fa7f8",
          "principalId": "service-principal-id"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "63"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Authorization/roleAssignments/some-uuid",
        "name": "some-uuid",
        "properties": {
          "principalId": "service-principal-id",
          "roleDefinitionId": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/7b127d3c-77bd-4e3e-bbe0-dbb8971fa7f8",
          "scope": "/"
        },
        "type": "Microsoft.Authorization/roleAssignments"
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.vault.azure.net/providers/Microsoft.Authorization/roleAssignments?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220503-3-e1430fa9-1.0.20220430-1-f02155ab-pre-openssl",
        "x-ms-server-latency": "1"
      },
      "ResponseBody":[...]
[...]
