interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/backup?api-version=7.3
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '1'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"storageResourceUri": "https://storagename.blob.core.windows.net/backup",
      "token": "fake-sas"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/backup?api-version=7.3
  response:
    body:
      string: '{"status":"InProgress","statusDetails":null,"error":null,"startTime":1648167526,"endTime":null,"jobId":"8ab929d3f7e64439be2c8619b4aa1cf0","azureStorageBlobContainerUri":null}'
    headers:
      azure-asyncoperation:
      - https://managedhsmname.managedhsm.azure.net/backup/8ab929d3f7e64439be2c8619b4aa1cf0/pending
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '1561'
    status:
      code: 202
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/backup/8ab929d3f7e64439be2c8619b4aa1cf0/pending?api-version=7.3
  response:
    body:
      string: '{"azureStorageBlobContainerUri":null,"endTime":null,"error":null,"jobId":"8ab929d3f7e64439be2c8619b4aa1cf0","startTime":1648167526,"status":"InProgress","statusDetails":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20220314-1-3dc5f232-develop
      x-ms-server-latency:
      - '1726'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/backup/8ab929d3f7e64439be2c8619b4aa1cf0/pending
  response:
    body:
      string: '{"azureStorageBlobContainerUri":"https://storagename.blob.core.windows.net/backup/mhsm-mcpatinokvhsm-2022032500184675","endTime":1648167533,"error":null,"jobId":"8ab929d3f7e64439be2c8619b4aa1cf0","startTime":1648167526,"status":"Succeeded","statusDetails":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20220314-1-3dc5f232-develop
      x-ms-server-latency:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"sasTokenParameters": {"storageResourceUri": "https://storagename.blob.core.windows.net/backup",
      "token": "fake-sas"}, "folderToRestore": "mhsm-mcpatinokvhsm-2022032500184675"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://managedhsmname.managedhsm.azure.net/restore?api-version=7.3
  response:
    body:
      string: '{"endTime":null,"error":null,"jobId":"92c2307bee374a98ba56a06461388c6d","startTime":1648167541,"status":"InProgress","statusDetails":null}'
    headers:
      azure-asyncoperation:
      - https://managedhsmname.managedhsm.azure.net/restore/92c2307bee374a98ba56a06461388c6d/pending
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '1568'
    status:
      code: 202
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/restore/92c2307bee374a98ba56a06461388c6d/pending?api-version=7.3
  response:
    body:
      string: '{"endTime":null,"error":null,"jobId":"92c2307bee374a98ba56a06461388c6d","startTime":1648167541,"status":"InProgress","statusDetails":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20220314-1-3dc5f232-develop
      x-ms-server-latency:
      - '1257'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/restore/92c2307bee374a98ba56a06461388c6d/pending
  response:
    body:
      string: '{"endTime":1648167547,"error":null,"jobId":"92c2307bee374a98ba56a06461388c6d","startTime":1648167541,"status":"Succeeded","statusDetails":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20220314-1-3dc5f232-develop
      x-ms-server-latency:
      - '1232'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/restore/92c2307bee374a98ba56a06461388c6d/pending
  response:
    body:
      string: '{"endTime":1648167547,"error":null,"jobId":"92c2307bee374a98ba56a06461388c6d","startTime":1648167541,"status":"Succeeded","statusDetails":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20220314-1-3dc5f232-develop
      x-ms-server-latency:
      - '1707'
    status:
      code: 200
      message: OK
version: 1
