interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/backup?api-version=7.2
  response:
    body:
      string: ''
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency: '0'
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotesthsm.managedhsm.azure.net/backup?api-version=7.2
- request:
    body: '{"storageResourceUri": "https://storagename.blob.core.windows.net/backup",
      "token": "fake-sas"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://managedhsmname.managedhsm.azure.net/backup?api-version=7.2
  response:
    body:
      string: '{"status":"InProgress","statusDetails":null,"error":null,"startTime":1631924480,"endTime":null,"jobId":"999ef263f35349fe9ff332147ceab66a","azureStorageBlobContainerUri":null}'
    headers:
      azure-asyncoperation: https://managedhsmname.managedhsm.azure.net/backup/999ef263f35349fe9ff332147ceab66a/pending
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '2654'
    status:
      code: 202
      message: ''
    url: https://mcpatinotesthsm.managedhsm.azure.net/backup?api-version=7.2
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/backup/999ef263f35349fe9ff332147ceab66a/pending
  response:
    body:
      string: '{"azureStorageBlobContainerUri":"https://storagename.blob.core.windows.net/backup/mhsm-mcpatinotesthsm-2021091800212079","endTime":1631924490,"error":null,"jobId":"999ef263f35349fe9ff332147ceab66a","startTime":1631924480,"status":"Succeeded","statusDetails":null}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency: '2331'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/backup/999ef263f35349fe9ff332147ceab66a/pending
- request:
    body: '{"sasTokenParameters": {"storageResourceUri": "https://storagename.blob.core.windows.net/backup",
      "token": "fake-sas"}, "folderToRestore": "mhsm-mcpatinotesthsm-2021091800212079"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://managedhsmname.managedhsm.azure.net/restore?api-version=7.2
  response:
    body:
      string: '{"endTime":null,"error":null,"jobId":"a688de1e82f646bb864bbd8e04236d9e","startTime":1631924495,"status":"InProgress","statusDetails":null}'
    headers:
      azure-asyncoperation: https://managedhsmname.managedhsm.azure.net/restore/a688de1e82f646bb864bbd8e04236d9e/pending
      content-type: application/json; charset=utf-8
      x-ms-server-latency: '2530'
    status:
      code: 202
      message: ''
    url: https://mcpatinotesthsm.managedhsm.azure.net/restore?api-version=7.2
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/restore/a688de1e82f646bb864bbd8e04236d9e/pending
  response:
    body:
      string: '{"endTime":null,"error":null,"jobId":"a688de1e82f646bb864bbd8e04236d9e","startTime":1631924495,"status":"InProgress","statusDetails":null}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency: '3301'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/restore/a688de1e82f646bb864bbd8e04236d9e/pending
- request:
    body: null
    headers:
    method: GET
    uri: https://managedhsmname.managedhsm.azure.net/restore/a688de1e82f646bb864bbd8e04236d9e/pending
  response:
    body:
      string: '{"endTime":1631924511,"error":null,"jobId":"a688de1e82f646bb864bbd8e04236d9e","startTime":1631924495,"status":"Succeeded","statusDetails":null}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-build-version: 1.0.20210809-1-5b391b3f-develop
      x-ms-server-latency: '2506'
    status:
      code: 200
      message: OK
    url: https://mcpatinotesthsm.managedhsm.azure.net/restore/a688de1e82f646bb864bbd8e04236d9e/pending
version: 1
