{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/fake-tenant-id/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/fake-tenant-id/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/fake-tenant-id/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/fake-tenant-id/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/fake-tenant-id/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/fake-tenant-id/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/fake-tenant-id/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/fake-tenant-id/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=%2A\u0026label=%00\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyMyMjkyMjI3Ng==;sn=22922276"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "5l-CzldxczbRRnDjgiWcnuL__i--zHCffz7xO8ngGos",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\u0022id\u0022:\u0022Alpha\u0022,\u0022description\u0022:\u0022\u0022,\u0022enabled\u0022:false,\u0022conditions\u0022:{\u0022client_filters\u0022:[]}}",
            "tags": {},
            "locked": false,
            "last_modified": "2023-01-30T20:25:07\u002B00:00"
          },
          {
            "etag": "uOKsqJe97xmSxeDluuKbYr1cBINZ5sqw4IaOYiLjtlI",
            "key": "message",
            "label": null,
            "content_type": "",
            "value": "hi",
            "tags": {},
            "locked": false,
            "last_modified": "2023-06-08T17:14:33\u002B00:00"
          },
          {
            "etag": "lO0_bzj8OQZOAMw2U2Ydzd4NJtYpXyQ5CbXktXLRhMs",
            "key": "messageVal",
            "label[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup",
        "Sync-Token": "zAJw6V16=NzoxNyMyMjkyMjI3Ng=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022otUnAQ1YHNaujv6BOcjfR_Bkq_j7zr4NyykNhrEWlhE\u0022",
        "Last-Modified": "Tue, 27 Jun 2023 23:25:08 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMjkyMjI3Ng==;sn=22922276"
      },
      "ResponseBody": {
        "etag": "otUnAQ1YHNaujv6BOcjfR_Bkq_j7zr4NyykNhrEWlhE",
        "key": "refresh_message",
        "label": null,
        "content_type": "",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-06-27T23:25:08\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup",
        "Sync-Token": "zAJw6V16=NzoxNyMyMjkyMjI3Ng=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022otUnAQ1YHNaujv6BOcjfR_Bkq_j7zr4NyykNhrEWlhE\u0022",
        "Last-Modified": "Tue, 27 Jun 2023 23:25:08 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMjkyMjI3Ng==;sn=22922276"
      },
      "ResponseBody": {
        "etag": "otUnAQ1YHNaujv6BOcjfR_Bkq_j7zr4NyykNhrEWlhE",
        "key": "refresh_message",
        "label": null,
        "content_type": "",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-06-27T23:25:08\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup",
        "Sync-Token": "zAJw6V16=NzoxNyMyMjkyMjI3Nw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022c79cWbP2OMnN7HDzeot4UhUKXBTAhdCB0nEofvlO9Cw\u0022",
        "Last-Modified": "Tue, 27 Jun 2023 23:25:08 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMjkyMjI3OA==;sn=22922278"
      },
      "ResponseBody": {
        "etag": "c79cWbP2OMnN7HDzeot4UhUKXBTAhdCB0nEofvlO9Cw",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-06-27T23:25:08\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup",
        "If-None-Match": "\u0022otUnAQ1YHNaujv6BOcjfR_Bkq_j7zr4NyykNhrEWlhE\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyMjkyMjI3OQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022mAu5rKtzYdgtL-NF0x3ZEQ0bWpyMsx1j-b1t79ldJEc\u0022",
        "Last-Modified": "Tue, 27 Jun 2023 23:25:09 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMjkyMjI4MA==;sn=22922280"
      },
      "ResponseBody": {
        "etag": "mAu5rKtzYdgtL-NF0x3ZEQ0bWpyMsx1j-b1t79ldJEc",
        "key": "refresh_message",
        "label": null,
        "content_type": "",
        "value": "updated value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-06-27T23:25:09\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup",
        "If-None-Match": "\u0022mAu5rKtzYdgtL-NF0x3ZEQ0bWpyMsx1j-b1t79ldJEc\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyMjkyMjI4Mw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022CpR9r-gHhz0LtBWtCS3c_VOEE-oJrPFvIFkq8kRmdCw\u0022",
        "Last-Modified": "Tue, 27 Jun 2023 23:25:11 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMjkyMjI4NA==;sn=22922284"
      },
      "ResponseBody": {
        "etag": "CpR9r-gHhz0LtBWtCS3c_VOEE-oJrPFvIFkq8kRmdCw",
        "key": "refresh_message",
        "label": null,
        "content_type": "",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-06-27T23:25:11\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
