{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17\u002B9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF\u002BAgFzgI=",
        "x-ms-date": "Jul, 27 2023 21:29:35.433450 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022y1bBIZu37E5gyCkITLNhauLtGmp-Me9l_DyP1PTnhoo\u0022",
        "Last-Modified": "Thu, 27 Jul 2023 21:29:35 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE3NjQ5MjYw;sn=17649260",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "etag": "y1bBIZu37E5gyCkITLNhauLtGmp-Me9l_DyP1PTnhoo",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-07-27T21:29:35\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE3NjQ5MjYw",
        "x-ms-content-sha256": "ldGB\u002ByUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "Jul, 27 2023 21:29:35.791504 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022NZqYEBwlhDT5OnvRdHGrXGdHnSjgsEJbpLkzeMFDgtg\u0022",
        "Last-Modified": "Thu, 27 Jul 2023 21:29:35 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE3NjQ5MjYy;sn=17649262",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "etag": "NZqYEBwlhDT5OnvRdHGrXGdHnSjgsEJbpLkzeMFDgtg",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-07-27T21:29:35\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE3NjQ5MjYy",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr\u002Bsa5KgTtCgv2\u002B3ps1kcPne0Y=",
        "x-ms-date": "Jul, 27 2023 21:29:35.840339 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "conte[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE3NjQ5MjY0",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "Jul, 27 2023 21:29:35.886010 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022gdie3FFKbFkOGEE1GXEg8Vq91scNdf-TyzVaquLzjZ0\u0022",
        "Last-Modified": "Thu, 27 Jul 2023 21:29:36 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE3NjQ5MjY2;sn=17649266",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "etag": "gdie3FFKbFkOGEE1GXEg8Vq91scNdf-TyzVaquLzjZ0",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-07-27T21:29:36\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE3NjQ5MjY2",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "Jul, 27 2023 21:29:35.932163 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
       [...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE3NjQ5MjY4",
        "x-ms-content-sha256": "xsCtzPjG6higDUmnWQcO6PgBAIH4GiWaG/2JuuJoJCc=",
        "x-ms-date": "Jul, 27 2023 21:29:35.984786 GMT"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "ap[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=%00\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Jul, 27 2023 21:29:36.037242 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzE3NjQ5Mjcx;sn=17649271",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "MLA-N4Eh08jQklJTy2GdMDRMq5z3xS6ZROXigJ-4IpI",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
