{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=message%2A\u0026label=dev\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Jan, 31 2023 00:24:33.372749 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyMyMTc4MDM3MA==;sn=21780370"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "yEiVkIl-IHlB26quPXo_Z2GbB5yQm_ENTWI2c1k1J4E",
            "key": "message",
            "label": "dev",
            "content_type": "",
            "value": "test",
            "tags": {},
            "locked": false,
            "last_modified": "2022-09-27T20:06:21\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
