{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=%2A\u0026label=%00\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Jan, 25 2023 00:08:09.041362 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyMyMTcyOTU3Mw==;sn=21729573"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "2uFf_iVEEInn-HHmV0vZSBP4SFoSwbFNGag7zIYfav4",
            "key": "message",
            "label": null,
            "content_type": "",
            "value": "hi",
            "tags": {},
            "locked": false,
            "last_modified": "2022-10-12T16:53:54\u002B00:00"
          },
          {
            "etag": "lO0_bzj8OQZOAMw2U2Ydzd4NJtYpXyQ5CbXktXLRhMs",
            "key": "messageVal",
            "label": null,
            "content_type": null,
            "value": "hi",
            "tags": {},
            "locked": false,
            "last_modified": "2023-01-23T19:14:32\u002B00:00"
          },
          {
            "etag": "dYgyN_oxYWzXEQN8K8d2q-4rKQJwftuzR75Jagqq_pw",
            "key": "my_json",
            "label": null,
            "content_type": "application/json",
            "value": "{\u0022key\u0022:\u0022value\u0022}",
            "tags": {},
            "locked": false,
            "last_modified": "2022-09-27T20:35:17\u002B00:00"
          },
          {
            "etag": "7vw5ma2Cc0-eE1cnRaaCv2_VtAS8BQ5jbHP9eNS_MFA",
            "key": "test.trimmed",
            "label": null,
            "content_type": "key",
            "value": "key",
            "tags": {},
            "locked": false,
            "last_modified": "2022-09-27T19:58:41\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
