{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022MAdBUpghnTzzcee7oY0AUyTxrzb2E31DAq_S37Ys3hw\u0022",
        "Last-Modified": "Thu, 27 Jul 2023 16:48:39 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE3NjMzMTE3;sn=17633117",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "etag": "MAdBUpghnTzzcee7oY0AUyTxrzb2E31DAq_S37Ys3hw",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-07-27T16:48:39\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE3NjMzMTE3"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022GcB-WlWZ6s6PDNtcKD1P385a4nHbvqmfLy2XUI3Xzyo\u0022",
        "Last-Modified": "Thu, 27 Jul 2023 16:48:39 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE3NjMzMTE5;sn=17633119",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "etag": "GcB-WlWZ6s6PDNtcKD1P385a4nHbvqmfLy2XUI3Xzyo",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-07-27T16:48:39\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE3NjMzMTE5"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00229ZMMx4jesSekIfSgn3sANHffWetfQTcQo8IyO9e2ZmY\u0022",
        "Last-Modified": "Thu, 27 Jul 2023 16:48:39 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE3NjMzMTIx;sn=17633121",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "etag": "9ZMMx4jesSekIfSgn3sANHffWetfQTcQo8IyO9e2ZmY",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-07-27T16:48:39\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE3NjMzMTIx"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022YzACjRP6jz3zFgw-Dem_awaEw_5e8TgU3J4b0iQDLl4\u0022",
        "Last-Modified": "Thu, 27 Jul 2023 16:48:39 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE3NjMzMTIz;sn=17633123",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "etag": "YzACjRP6jz3zFgw-Dem_awaEw_5e8TgU3J4b0iQDLl4",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-07-27T16:48:39\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE3NjMzMTIz"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "va[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE3NjMzMTI1"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=%00\u0026api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzE3NjMzMTI4;sn=17633128",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "BpQJbhXU8BUVDaSkUQojHWvnqgEDrUUiAv7OhBORAg4",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
