{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/fake-tenant-id/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/fake-tenant-id/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/fake-tenant-id/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/fake-tenant-id/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/fake-tenant-id/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/fake-tenant-id/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/fake-tenant-id/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/fake-tenant-id/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022X0G1QtjfDDEuLNVl5KcjTO6TwnfquZjH520rCX1e4h0\u0022",
        "Last-Modified": "Mon, 07 Aug 2023 19:45:54 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE4MDcwNTcz;sn=18070573",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "etag": "X0G1QtjfDDEuLNVl5KcjTO6TwnfquZjH520rCX1e4h0",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-08-07T19:45:54\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE4MDcwNTcz"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022esbR8KcXdTeIuQZvoTauHSjXZ7vEjKgxe3wvxkOftVU\u0022",
        "Last-Modified": "Mon, 07 Aug 2023 19:45:54 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE4MDcwNTc1;sn=18070575",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "etag": "esbR8KcXdTeIuQZvoTauHSjXZ7vEjKgxe3wvxkOftVU",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-08-07T19:45:54\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE4MDcwNTc1"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ebdAkfQd3Z6GOD3MmtL8wUd3QcaVcHXiKd9A6pK5aUI\u0022",
        "Last-Modified": "Mon, 07 Aug 2023 19:45:54 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE4MDcwNTc3;sn=18070577",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "etag": "ebdAkfQd3Z6GOD3MmtL8wUd3QcaVcHXiKd9A6pK5aUI",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-08-07T19:45:54\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE4MDcwNTc3"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00223umNbQBmlwxXwk2qmx1MWqZdP3OMGbYqxNCYMZYuw_I\u0022",
        "Last-Modified": "Mon, 07 Aug 2023 19:45:54 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE4MDcwNTc5;sn=18070579",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "etag": "3umNbQBmlwxXwk2qmx1MWqZdP3OMGbYqxNCYMZYuw_I",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-08-07T19:45:54\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE4MDcwNTc5"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Lg1SpGEm-2X8jceU2p8YJ88jcAmOw8iYLkAXyPcd3cc\u0022",
        "Last-Modified": "Mon, 07 Aug 2023 19:45:55 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE4MDcwNTgx;sn=18070581",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "etag": "Lg1SpGEm-2X8jceU2p8YJ88jcAmOw8iYLkAXyPcd3cc",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-08-07T19:45:55\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE4MDcwNTgx"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022JaTuqJN5s-uSQpxlgv9IMfh3T2jwWu_8e8Ab_LXMNNc\u0022",
        "Last-Modified": "Mon, 07 Aug 2023 19:45:55 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE4MDcwNTgz;sn=18070583",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "etag": "JaTuqJN5s-uSQpxlgv9IMfh3T2jwWu_8e8Ab_LXMNNc",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-08-07T19:45:55\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE4MDcwNTgz"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{\t\u002[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE4MDcwNTg1"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.v[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=%2A\u0026label=%00\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzE4MDcwNTg4;sn=18070588",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "EYMyRRELLuGOXj0klAUEUBlTWRq9NolsKOpLKesV3Vs",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup",
        "Sync-Token": "zAJw6V16=Njo1IzE4MDcwNTg4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Lg1SpGEm-2X8jceU2p8YJ88jcAmOw8iYLkAXyPcd3cc\u0022",
        "Last-Modified": "Mon, 07 Aug 2023 19:45:55 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE4MDcwNTg4;sn=18070588",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "etag": "Lg1SpGEm-2X8jceU2p8YJ88jcAmOw8iYLkAXyPcd3cc",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-08-07T19:45:55\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup",
        "Sync-Token": "zAJw6V16=Njo1IzE4MDcwNTg5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022JaTuqJN5s-uSQpxlgv9IMfh3T2jwWu_8e8Ab_LXMNNc\u0022",
        "Last-Modified": "Mon, 07 Aug 2023 19:45:55 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE4MDcwNTkw;sn=18070590",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "etag": "JaTuqJN5s-uSQpxlgv9IMfh3T2jwWu_8e8Ab_LXMNNc",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-08-07T19:45:55\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Correlation-Context": "RequestType=Startup",
        "Sync-Token": "zAJw6V16=Njo1IzE4MDcwNTkz"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "content_type": "text/plain",
        "value": "Static",
        "last_modified": "2023-08-07T19:45:55.000Z",
        "tags": {},
        "locked": false,
        "etag": "JaTuqJN5s-uSQpxlgv9IMfh3T2jwWu_8e8Ab_LXMNNc"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022CtKx1-Nb23XatGReH5bkOZQP0FDb-CTcMs_mn7Kerck\u0022",
        "Last-Modified": "Mon, 07 Aug 2023 19:45:57 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE4MDcwNTk1;sn=18070595",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "etag": "CtKx1-Nb23XatGReH5bkOZQP0FDb-CTcMs_mn7Kerck",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-08-07T19:45:57\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
