interactions:
- request:
    body: '{"location": "centralus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_pool_test_update_pool91580ac3/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1459032?api-version=2020-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_pool_test_update_pool91580ac3/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1459032","name":"sdk-py-tests-acc-1459032","type":"Microsoft.NetApp/netAppAccounts","etag":"W/\"datetime''2020-11-12T02%3A43%3A21.788525Z''\"","location":"centralus","properties":{"provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/centralus/operationResults/7ae31480-258c-40dd-8c77-558a55baaf92?api-version=2020-07-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2020-11-12T02%3A43%3A21.788525Z'"
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/centralus/operationResults/7ae31480-258c-40dd-8c77-558a55baaf92?api-version=2020-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/centralus/operationResults/7ae31480-258c-40dd-8c77-558a55baaf92","name":"7ae31480-258c-40dd-8c77-558a55baaf92","status":"Succeeded","startTime":"2020-11-12T02:43:21.7243498Z","endTime":"2020-11-12T02:43:21.8649541Z","percentComplete":100.0,"properties":{"resourceName":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_pool_test_update_pool91580ac3/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1459032"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "centralus", "properties": {"size": 4398046511104, "serviceLevel":
      "Premium", "qosType": "Auto"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      location:
      - centralus
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_pool_test_update_pool91580ac3/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1459032/capacityPools/sdk-py-tests-pool-1?api-version=2020-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_pool_test_update_pool91580ac3/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1459032/capacityPools/sdk-py-tests-pool-1","name":"sdk-py-tests-acc-1459032/sdk-py-tests-pool-1","type":"Microsoft.NetApp/netAppAccounts/capacityPools","etag":"W/\"datetime''2020-11-12T02%3A43%3A57.4896498Z''\"","location":"centralus","properties":{"serviceLevel":"Premium","size":4398046511104,"qosType":"Auto","totalThroughputMibps":0.0,"utilizedThroughputMibps":0.0,"provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/centralus/operationResults/7a343872-ccce-4afc-95ac-033d1d7edf9f?api-version=2020-07-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2020-11-12T02%3A43%3A57.4896498Z'"
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_pool_test_update_pool91580ac3/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1459032/capacityPools/sdk-py-tests-pool-1?api-version=2020-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_pool_test_update_pool91580ac3/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1459032/capacityPools/sdk-py-tests-pool-1","name":"sdk-py-tests-acc-1459032/sdk-py-tests-pool-1","type":"Microsoft.NetApp/netAppAccounts/capacityPools","etag":"W/\"datetime''2020-11-12T02%3A43%3A57.6887903Z''\"","location":"centralus","properties":{"poolId":"cd6cc84e-be3e-76fb-f645-307ad8e08be5","serviceLevel":"Premium","size":4398046511104,"qosType":"Auto","totalThroughputMibps":262.144,"utilizedThroughputMibps":0.0,"encryptionType":"Single","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2020-11-12T02%3A43%3A57.6887903Z'"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_pool_test_update_pool91580ac3/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1459032/capacityPools/sdk-py-tests-pool-1?api-version=2020-07-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1459032/capacityPools/sdk-py-tests-pool-1''
        under resource group ''test_pool_test_update_pool91580ac3'' was not found.
        For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_pool_test_update_pool91580ac3/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1459032?api-version=2020-07-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1459032''
        under resource group ''test_pool_test_update_pool91580ac3'' was not found.
        For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
version: 1
