interactions:
  - request:
      body: '{"location": "eastus2"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      method: PUT
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-10?api-version=2020-09-01
    response:
      body:
        string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-10","name":"sdk-py-tests-acc-10","type":"Microsoft.NetApp/netAppAccounts","etag":"W/\"datetime''2020-12-15T14%3A34%3A53.5369111Z''\"","location":"eastus2","properties":{"provisioningState":"Creating"}}'
      headers:
        azure-asyncoperation:
          - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2/operationResults/b58002f8-114d-4b09-b89e-9748cc37559d?api-version=2020-09-01
        content-type:
          - application/json; charset=utf-8
        etag:
          - W/"datetime'2020-12-15T14%3A34%3A53.5369111Z'"
        x-ms-ratelimit-remaining-subscription-writes:
          - '1198'
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
      method: GET
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2/operationResults/b58002f8-114d-4b09-b89e-9748cc37559d?api-version=2020-09-01
    response:
      body:
        string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2/operationResults/b58002f8-114d-4b09-b89e-9748cc37559d","name":"b58002f8-114d-4b09-b89e-9748cc37559d","status":"Succeeded","startTime":"2020-12-15T14:34:53.4661901Z","endTime":"2020-12-15T14:34:53.6070078Z","percentComplete":100.0,"properties":{"resourceName":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-10"}}'
      headers:
        content-type:
          - application/json; charset=utf-8
      status:
        code: 200
        message: OK
[...]
  - request:
      body: '{"location": "eastus2", "properties": {"size": 4398046511104, "serviceLevel":
      "Premium", "qosType": "Auto"}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        location:
          - eastus2
      method: PUT
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-10/capacityPools/sdk-py-tests-pool-1?api-version=2020-09-01
    response:
      body:
        string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-10/capacityPools/sdk-py-tests-pool-1","name":"sdk-py-tests-acc-10/sdk-py-tests-pool-1","type":"Microsoft.NetApp/netAppAccounts/capacityPools","etag":"W/\"datetime''2020-12-15T14%3A35%3A27.2849989Z''\"","location":"eastus2","properties":{"serviceLevel":"Premium","size":4398046511104,"qosType":"Auto","totalThroughputMibps":0.0,"utilizedThroughputMibps":0.0,"provisioningState":"Creating"}}'
      headers:
        azure-asyncoperation:
          - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2/operationResults/6afadab2-f25b-4a92-ba98-945aa488643b?api-version=2020-09-01
        content-type:
          - application/json; charset=utf-8
        etag:
          - W/"datetime'2020-12-15T14%3A35%3A27.2849989Z'"
        x-ms-ratelimit-remaining-subscription-writes:
          - '1198'
      status:
        code: 201
        message: Created
[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-10/capacityPools/sdk-py-tests-pool-1?api-version=2020-09-01
    response:
      body:
        string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-10/capacityPools/sdk-py-tests-pool-1","name":"sdk-py-tests-acc-10/sdk-py-tests-pool-1","type":"Microsoft.NetApp/netAppAccounts/capacityPools","etag":"W/\"datetime''2020-12-15T14%3A35%3A30.0676451Z''\"","location":"eastus2","properties":{"poolId":"ecf969f8-27fe-d228-8208-cd3878a29775","serviceLevel":"Premium","size":4398046511104,"qosType":"Auto","totalThroughputMibps":262.144,"utilizedThroughputMibps":0.0,"encryptionType":"Single","provisioningState":"Succeeded"}}'
      headers:
        content-type:
          - application/json; charset=utf-8
        etag:
          - W/"datetime'2020-12-15T14%3A35%3A30.0676451Z'"
      status:
        code: 200
        message: OK
  - request:
      body: 'b''b\''{"location": "eastus2", "properties": {"creationToken": "sdk-py-tests-vol-1",
      "serviceLevel": "Premium", "usageThreshold": 107374182400, "protocolTypes":
      ["NFSv3"], "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa7/providers/Microsoft.Network/virtualNetworks/sdknettestqa7vnet464/subnets/default",
      "kerberosEnabled": false, "smbEncryption": false, "smbContinuouslyAvailable":
      false}}\'''''
      headers:
        Content-Type:
          - application/json; charset=utf-8
      method: PUT
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-10/capacityPools/sdk-py-tests-pool-1/volumes/sdk-py-tests-vol-1?api-version=2020-09-01
    response:
      body:
        string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceG[...]
[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-10/capacityPools/sdk-py-tests-pool-1/volumes/sdk-py-tests-vol-1?api-version=2020-09-01
    response:
      body:
        string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-10/capacityPools/sdk-py-tests-pool-1/volumes/sdk-py-tests-vol-1","name":"sdk-py-tests-acc-10/sdk-py-tests-pool-1/sdk-py-tests-vol-1","type":"Microsoft.NetApp/netAppAccounts/capacityPools/volumes","etag":"W/\"datetime''2020-12-15T14%3A39%3A33.3799151Z''\"","location":"eastus2","properties":{"mountTargets":[{"mountTargetId":"968b5da2-d2c8-3f48-a77a-cdfbcf5d9303","fileSystemId":"968b5da2-d2c8-3f48-a77a-cdfbcf5d9303","ipAddress":"10.7.0.4","smbServerFQDN":""}],"throughputMibps":0.0,"provisioningState":"Succeeded","fileSystemId":"968b5da2-d2c8-3f48-a77a-cdfbcf5d9303","name":"sdk-py-tests-vol-1","serviceLevel":"Premium","creationToken":"sdk-py-tests-vol-1","usageThreshold":107374182400,"exportPolicy":{"rules":[{"ruleIndex":1,"unixReadOnly":false,"unixReadWrite":true,"cifs":false,"nfsv3":true,"nfsv41":false,"allowedClients":"0.0.0.0/0","kerberos5ReadOnly":false,"kerberos5ReadWrite":false,"kerberos5iReadOnly":false,"kerberos5iReadWrite":false,"kerberos5pReadOnly":false,"kerberos5pReadWrite":false,"hasRootAccess":true}]},"protocolTypes":["NFSv3"],"baremetalTenantId":"baremetalTenant_svm_1a1854d05b8211e99e4a3a8c013b5748_586852a3","subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa7/providers/Microsoft.Network/virtualNetworks/sdknettestqa7vnet464/subnets/default","snapshotDirectoryVisible":true,"kerberosEnabled":false,"securityStyle":"Unix","smbEncryption":false,"smbContinuouslyAvailable":false}}'
      headers:
        content-type:
          - application/json; charset=utf-8
        etag:
          - W/"datetime'2020-12-15T14%3A39%3A33.3799151Z'"
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-10/capacityPools/sdk-py-tests-pool-1/volumes/sdk-py-tests-vol-1?api-version=2020-09-01
    response:
      body:
        string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-10/capacityPools/sdk-py-tests-pool-1/volumes/sdk-py-tests-vol-1''
        under resource group ''sdk-net-test-qa7'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
      headers:
        content-type:
          - application/json; charset=utf-8
        x-ms-failure-cause:
          - gateway
      status:
        code: 404
        message: Not Found
[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-10?api-version=2020-09-01
    response:
      body:
        string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-10''
        under resource group ''sdk-net-test-qa7'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
      headers:
        content-type:
          - application/json; charset=utf-8
        x-ms-failure-cause:
          - gateway
      status:
        code: 404
        message: Not Found
version: 1
