interactions:
  - request:
      body: '{"location": "eastus2"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      method: PUT
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-10?api-version=2020-09-01
    response:
      body:
        string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-10","name":"sdk-py-tests-acc-10","type":"Microsoft.NetApp/netAppAccounts","etag":"W/\"datetime''2020-12-15T16%3A21%3A17.0583893Z''\"","location":"eastus2","properties":{"provisioningState":"Creating"}}'
      headers:
        azure-asyncoperation:
          - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2/operationResults/c001b248-61f4-4683-b04a-d01877b17451?api-version=2020-09-01
        content-type:
          - application/json; charset=utf-8
        etag:
          - W/"datetime'2020-12-15T16%3A21%3A17.0583893Z'"
        x-ms-ratelimit-remaining-subscription-writes:
          - '1199'
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
      method: GET
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2/operationResults/c001b248-61f4-4683-b04a-d01877b17451?api-version=2020-09-01
    response:
      body:
        string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2/operationResults/c001b248-61f4-4683-b04a-d01877b17451","name":"c001b248-61f4-4683-b04a-d01877b17451","status":"Succeeded","startTime":"2020-12-15T16:21:16.9970065Z","endTime":"2020-12-15T16:21:17.1376523Z","percentComplete":100.0,"properties":{"resourceName":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-10"}}'
      headers:
        content-type:
          - application/json; charset=utf-8
      status:
        code: 200
        message: OK
[...]
  - request:
      body: '{"tags": {"Tag1": "Value2"}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      method: PATCH
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-10?api-version=2020-09-01
    response:
      body:
        string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-10","name":"sdk-py-tests-acc-10","type":"Microsoft.NetApp/netAppAccounts","etag":"W/\"datetime''2020-12-15T16%3A21%3A49.5853149Z''\"","location":"eastus2","tags":{"Tag1":"Value2"},"properties":{"provisioningState":"Succeeded"}}'
      headers:
        content-type:
          - application/json; charset=utf-8
        etag:
          - W/"datetime'2020-12-15T16%3A21%3A49.5853149Z'"
        x-ms-ratelimit-remaining-subscription-writes:
          - '1198'
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-10?api-version=2020-09-01
    response:
      body:
        string: '{"error":{"code":"ResourceNotFound","message":"The resource with identifier
        ''/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-10''
        is not found."}}'
      headers:
        content-type:
          - application/json; charset=utf-8
      status:
        code: 404
        message: Not Found
version: 1
