interactions:
  - request:
      body: '{"location": "eastus2"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      method: PUT
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-10?api-version=2020-09-01
    response:
      body:
        string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-10","name":"sdk-py-tests-acc-10","type":"Microsoft.NetApp/netAppAccounts","etag":"W/\"datetime''2020-12-15T16%3A14%3A04.0206293Z''\"","location":"eastus2","properties":{"provisioningState":"Creating"}}'
      headers:
        azure-asyncoperation:
          - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2/operationResults/45fafbcc-d2dd-43c3-80b9-d355a7b94646?api-version=2020-09-01
        content-type:
          - application/json; charset=utf-8
        etag:
          - W/"datetime'2020-12-15T16%3A14%3A04.0206293Z'"
        x-ms-ratelimit-remaining-subscription-writes:
          - '1199'
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
      method: GET
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2/operationResults/45fafbcc-d2dd-43c3-80b9-d355a7b94646?api-version=2020-09-01
    response:
      body:
        string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2/operationResults/45fafbcc-d2dd-43c3-80b9-d355a7b94646","name":"45fafbcc-d2dd-43c3-80b9-d355a7b94646","status":"Succeeded","startTime":"2020-12-15T16:14:03.9667076Z","endTime":"2020-12-15T16:14:04.1073865Z","percentComplete":100.0,"properties":{"resourceName":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-10"}}'
      headers:
        content-type:
          - application/json; charset=utf-8
      status:
        code: 200
        message: OK
[...]
  - request:
      body: '{"location": "eastus2", "properties": {"hourlySchedule": {"snapshotsToKeep":
      1, "minute": 50}, "dailySchedule": {}, "weeklySchedule": {}, "monthlySchedule":
      {}, "enabled": false}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      method: PUT
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-10/snapshotPolicies/sdk-py-tests-snapshot-policy-1?api-version=2020-09-01
    response:
      body:
        string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa7/p[...]
[...]
  - request:
      body: '{"location": "eastus2", "properties": {"hourlySchedule": {}, "dailySchedule":
      {"snapshotsToKeep": 1, "hour": 1, "minute": 50}, "weeklySchedule": {}, "monthlySchedule":
      {}, "enabled": false}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      method: PATCH
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-10/snapshotPolicies/sdk-py-tests-snapshot-policy-1?api-version=2020-09-01
    response:
      body:
        string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-10/snapshotPolicies/sdk-py-tests-snapshot-policy-1","name":"sdk-py-tests-acc-10/sdk-py-tests-snapshot-policy-1","type":"Microsoft.NetApp/netAppAccounts/snapshotPolicies","etag":"W/\"datetime''2020-12-15T16%3A15%3A08.2036536Z''\"","location":"eastus2","properties":{"provisioningState":"Succeeded","name":"sdk-py-tests-snapshot-policy-1","enabled":false,"hourlySchedule":{},"dailySchedule":{"snapshotsToKeep":1,"hour":1,"minute":50},"weeklySchedule":{},"monthlySchedule":{}}}'
      headers:
        content-type:
          - application/json; charset=utf-8
        etag:
          - W/"datetime'2020-12-15T16%3A15%3A08.2036536Z'"
        x-ms-ratelimit-remaining-subscription-writes:
          - '1197'
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-10/snapshotPolicies/sdk-py-tests-snapshot-policy-1?api-version=2020-09-01
    response:
      body:
        string: '{"error":{"code":"ResourceNotFound","message":"The resource with identifier
        ''/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-10/snapshotPolicies/sdk-py-tests-snapshot-policy-1''
        is not found."}}'
      headers:
        content-type:
          - application/json; charset=utf-8
      status:
        code: 404
        message: Not Found
[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-10?api-version=2020-09-01
    response:
      body:
        string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-10''
        under resource group ''sdk-net-test-qa7'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
      headers:
        content-type:
          - application/json; charset=utf-8
        x-ms-failure-cause:
          - gateway
      status:
        code: 404
        message: Not Found
version: 1
