interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><TopicDescription /></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/dfjfj?api-version=2017-04
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestejukatflvi.servicebus.windows.net/dfjfj?api-version=2017-04</id><title
        type="text">dfjfj</title><published>2020-06-30T18:54:19Z</published><updated>2020-06-30T18:54:19Z</updated><author><name>servicebustestejukatflvi</name></author><link
        rel="self" href="https://servicebustestejukatflvi.servicebus.windows.net/dfjfj?api-version=2017-04"/><content
        type="application/xml"><TopicDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><FilteringMessagesBeforePublishing>false</FilteringMessagesBeforePublishing><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2020-06-30T18:54:19.9Z</CreatedAt><UpdatedAt>2020-06-30T18:54:19.977Z</UpdatedAt><SupportOrdering>true</SupportOrdering><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableSubscriptionPartitioning>false</EnableSubscriptionPartitioning><EnableExpress>false</EnableExpress></TopicDescription></content></entry>
    headers:
      content-type:
      - application/atom+xml;type=entry;charset=utf-8
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><SubscriptionDescription /></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/dfjfj/subscriptions/kwqxc?api-version=2017-04
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestejukatflvi.servicebus.windows.net/dfjfj/subscriptions/kwqxc?api-version=2017-04</id><title
        type="text">kwqxc</title><published>2020-06-30T18:54:20Z</published><updated>2020-06-30T18:54:20Z</updated><link
        rel="self" href="https://servicebustestejukatflvi.servicebus.windows.net/dfjfj/subscriptions/kwqxc?api-version=2017-04"/><content
        type="application/xml"><SubscriptionDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><LockDuration>PT1M</LockDuration><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DeadLetteringOnFilterEvaluationExceptions>true</DeadLetteringOnFilterEvaluationExceptions><MessageCount>0</MessageCount><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><Status>Active</Status><CreatedAt>2020-06-30T18:54:20.4384195Z</CreatedAt><UpdatedAt>2020-06-30T18:54:20.4384195Z</UpdatedAt><AccessedAt>0001-01-01T00:00:00</AccessedAt><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EntityAvailabilityStatus>Available</EntityAvailabilityStatus></SubscriptionDescription></content></entry>
    headers:
      content-type:
      - application/atom+xml;type=entry;charset=utf-8
      etag:
      - '637291400599770000'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><SubscriptionDescription><LockDuration>PT1M</LockDuration><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.477539S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DeadLetteringOnFilterEvaluationExceptions>true</DeadLetteringOnFilterEvaluationExceptions><MessageCount>0</MessageCount><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><Status>Active</Status><CreatedAt>2020-06-30T18:54:20.438419Z</CreatedAt><UpdatedAt>2020-06-30T18:54:20.438419Z</UpdatedAt><AccessedAt>0001-01-01T00:00:00.000Z</AccessedAt><AutoDeleteOnIdle>P10675199DT2H48M5.477539S</AutoDeleteOnIdle><EntityAvailabilityStatus>Available</EntityAvailabilityStatus></SubscriptionDescription></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
      If-Match:
      - '*'
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/dfjfj/subscriptions/iewdm?api-version=2017-04
  response:
    body:
      string: <Error><Code>404</Code><Detail>Entity 'servicebustestsbname:Topic:dfjfj|iewdm'
        was not found. To know more visit https://aka.ms/sbResourceMgrExceptions.  TrackingId:a7a0ad93-a5f4-48c0-a310-5b2146ecb684_B10,
        SystemTracker:NoSystemTracker, Timestamp:2020-06-30T18:54:20</Detail></Error>
    headers:
      content-type:
      - application/xml; charset=utf-8
      etag:
      - '637291400599770000'
    status:
      code: 404
      message: Not Found
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><SubscriptionDescription><LockDuration>P25D</LockDuration><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.477539S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DeadLett[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://servicebustestsbname.servicebus.windows.net/dfjfj?api-version=2017-04
  response:
    body:
      string: ''
    headers:
      etag:
      - '637291400599770000'
    status:
      code: 200
      message: OK
version: 1
