interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://servicebustestsbname.servicebus.windows.net/$Resources/topics?$skip=0&$top=100&api-version=2021-05
  response:
    body:
      string: <feed xmlns="http://www.w3.org/2005/Atom"><title type="text">Topics</title><id>https://servicebustestappwyrpk4k.servicebus.windows.net/$Resources/topics?$skip=0&amp;$top=100&amp;api-version=2021-05</id><updated>2021-09-28T19:04:45Z</updated><link
        rel="self" href="https://servicebustestappwyrpk4k.servicebus.windows.net/$Resources/topics?$skip=0&amp;$top=100&amp;api-version=2021-05"/></feed>
    headers:
      content-type:
      - application/atom+xml;type=feed;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><TopicDescription /></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/fjrui?api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestappwyrpk4k.servicebus.windows.net/fjrui?api-version=2021-05</id><title
        type="text">fjrui</title><published>2021-09-28T19:04:46Z</published><updated>2021-09-28T19:04:46Z</updated><author><name>servicebustestappwyrpk4k</name></author><link
        rel="self" href="https://servicebustestappwyrpk4k.servicebus.windows.net/fjrui?api-version=2021-05"/><content
        type="application/xml"><TopicDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><FilteringMessagesBeforePublishing>false</FilteringMessagesBeforePublishing><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2021-09-28T19:04:46.083Z</CreatedAt><UpdatedAt>2021-09-28T19:04:46.11Z</UpdatedAt><SupportOrdering>true</SupportOrdering><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableSubscriptionPartitioning>false</EnableSubscriptionPartitioning><EnableExpress>false</EnableExpress><MaxMessageSizeInKilobytes>256</MaxMessageSizeInKilobytes></TopicDescription></content></entry>
    headers:
      content-type:
      - application/atom+xml;type=entry;charset=utf-8
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><SubscriptionDescription /></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/fjrui/subscriptions/eqkovc?api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestappwyrpk4k.servicebus.windows.net/fjrui/subscriptions/eqkovc?api-version=2021-05</id><title
        type="text">eqkovc</title><published>2021-09-28T19:04:46Z</published><updated>2021-09-28T19:04:46Z</updated><link
        rel="self" href="https://servicebustestappwyrpk4k.servicebus.windows.net/fjrui/subscriptions/eqkovc?api-version=2021-05"/><content
        type="application/xml"><SubscriptionDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><LockDuration>PT1M</LockDuration><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DeadLetteringOnFilterEvaluationExceptions>true</DeadLetteringOnFilterEvaluationExceptions><MessageCount>0</MessageCount><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><Status>Active</Status><CreatedAt>2021-09-28T19:04:46.5784543Z</CreatedAt><UpdatedAt>2021-09-28T19:04:46.5784543Z</UpdatedAt><AccessedAt>0001-01-01T00:00:00</AccessedAt><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><IsClientAffine>false</IsClientAffine></SubscriptionDescription></content></entry>
    headers:
      content-type:
      - application/atom+xml;type=entry;charset=utf-8
      etag:
      - '637684526861100000'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><ns0:content type="application/xml"><RuleDescription><Filter
      xsi:type="SqlFilter"><SqlExpression>Priority = ''low''</SqlExpression><CompatibilityLevel>20</CompatibilityLevel><RequiresPreprocessing>true</RequiresPreprocessing></Filter><Action
      xsi:type="EmptyRuleAction" /><Name>rule</Name></RuleDescription></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/fjrui/subscriptions/eqkovc/rules/rule?api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestappwyrpk4k.servicebus.windows.net/fjrui/subscriptions/eqkovc/rules/rule?api-version=2021-05</id><title
        type="text">rule</title><published>2021-09-28T19:04:46Z</published><updated>2021-09-28T19:04:46Z</updated><link
        rel="self" href="https://servicebustestappwyrpk4k.servicebus.windows.net/fjrui/subscriptions/eqkovc/rules/rule?api-version=2021-05"/><content
        type="application/xml"><RuleDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><Filter i:type="SqlFilter"><SqlExpression>Priority
        = 'low'</SqlExpression><CompatibilityLevel>20</CompatibilityLevel><RequiresPreprocessing>true</RequiresPreprocessing></Filter><Action
        i:type="EmptyRuleAction"/><CreatedAt>2021-09-28T19:04:46.7815283Z</CreatedAt><Name>rule</Name></RuleDescription></content></entry>
    headers:
      content-type:
      - application/atom+xml;type=entry;charset=utf-8
      etag:
      - '637684526861100000'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://servicebustestsbname.servicebus.windows.net/fjrui/subscriptions/eqkovc/rules/rule?enrich=false&api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>sb://servicebustestappwyrpk4k.servicebus.windows.net/fjrui/subscriptions/eqkovc/rules/rule?enrich=false&amp;api-version=2021-05</id><title
        type="text">rule</title><published>2021-09-28T19:04:46Z</published><updated>2021-09-28T19:04:46Z</updated><link
        rel="self" href="sb://servicebustestappwyrpk4k.servicebus.windows.net/fjrui/subscriptions/eqkovc/rules/rule?enrich=false&amp;api-version=2021-05"/><content
        type="application/xml"><RuleDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><Filter i:type="SqlFilter"><SqlExpression>Priority
        = 'low'</SqlExpression><CompatibilityLevel>20</CompatibilityLevel><RequiresPreprocessing>true</RequiresPreprocessing><Parameters/></Filter><Action
        i:type="EmptyRuleAction"/><CreatedAt>2021-09-28T19:04:46.7760934Z</CreatedAt><Name>rule</Name></RuleDescription></content></entry>
    headers:
      content-type:
      - application/atom+xml;type=entry;charset=utf-8
      etag:
      - '637684526861100000'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><ns0:content type="application/xml"><RuleDescription><Filter
      xsi:type="SqlFilter"><SqlExpression>Priority = ''low''</SqlExpression><CompatibilityLevel>20</CompatibilityLevel><RequiresPreprocessing>true</RequiresPreprocessing></Filter><Action
      xsi:type="EmptyRuleAction" /><CreatedAt>2021-09-28T19:04:46.776093Z</CreatedAt><Name>iewdm</Name></RuleDescription></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
      If-Match:
      - '*'
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/fjrui/subscriptions/eqkovc/rules/iewdm?api-version=2021-05
  response:
    body:
      string: <Error><Code>404</Code><Detail>Entity 'servicebustestsbname:Topic:fjrui|eqkovc|iewdm'
        was not found. To know more visit https://aka.ms/sbResourceMgrExceptions.  TrackingId:d7fe1734-e21b-4b92-8e25-a762f21fa722_B7,
        SystemTracker:NoSystemTracker, Timestamp:2021-09-28T19:04:46</Detail></Error>
    headers:
      content-type:
      - application/xml; charset=utf-8
      etag:
      - '637684526861100000'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://servicebustestsbname.servicebus.windows.net/fjrui?api-version=2021-05
  response:
    body:
      string: ''
    headers:
      etag:
      - '637684526861100000'
    status:
      code: 200
      message: OK
version: 1
