interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://servicebustestsbname.servicebus.windows.net/non_existing_queue?enrich=false&api-version=2017-04
  response:
    body:
      string: <feed xmlns="http://www.w3.org/2005/Atom"><title type="text">Publicly
        Listed Services</title><subtitle type="text">This is the list of publicly-listed
        services currently available.</subtitle><id>uuid:0d5248e9-ec06-4f27-a90c-547be587751f;id=78342</id><updated>2020-06-05T23:12:52Z</updated><generator>Service
        Bus 1.1</generator></feed>
    headers:
      content-type:
      - application/atom+xml;type=feed;charset=utf-8
    status:
      code: 200
      message: OK
version: 1
