interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://servicebustestsbname.servicebus.windows.net/$Resources/queues?$skip=0&$top=100&api-version=2021-05
  response:
    body:
      string: <feed xmlns="http://www.w3.org/2005/Atom"><title type="text">Queues</title><id>https://servicebustestkxdmegmltc.servicebus.windows.net/$Resources/queues?$skip=0&amp;$top=100&amp;api-version=2021-05</id><updated>2021-09-28T22:19:03Z</updated><link
        rel="self" href="https://servicebustestkxdmegmltc.servicebus.windows.net/$Resources/queues?$skip=0&amp;$top=100&amp;api-version=2021-05"/></feed>
    headers:
      content-type:
      - application/atom+xml;type=feed;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><TopicDescription /></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/aghadh?api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestkxdmegmltc.servicebus.windows.net/aghadh?api-version=2021-05</id><title
        type="text">aghadh</title><published>2021-09-28T22:19:03Z</published><updated>2021-09-28T22:19:03Z</updated><author><name>servicebustestkxdmegmltc</name></author><link
        rel="self" href="https://servicebustestkxdmegmltc.servicebus.windows.net/aghadh?api-version=2021-05"/><content
        type="application/xml"><TopicDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><FilteringMessagesBeforePublishing>false</FilteringMessagesBeforePublishing><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2021-09-28T22:19:03.93Z</CreatedAt><UpdatedAt>2021-09-28T22:19:03.96Z</UpdatedAt><SupportOrdering>true</SupportOrdering><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableSubscriptionPartitioning>false</EnableSubscriptionPartitioning><EnableExpress>false</EnableExpress><MaxMessageSizeInKilobytes>256</MaxMessageSizeInKilobytes></TopicDescription></content></entry>
    headers:
      content-type:
      - application/atom+xml;type=entry;charset=utf-8
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><QueueDescription><LockDuration>PT13S</LockDuration><MaxSizeInMegabytes>3072</MaxSizeInMegabytes><RequiresSession>true</RequiresSession><DefaultMessageTimeToLive>PT11M</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>true</DeadLetteringOnMessageExpiration><DuplicateDetectionHistoryTimeWindow>PT12M</DuplicateDetectionHistoryTimeWindow><MaxDeliveryCount>14</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><AutoDeleteOnIdle>PT10M</AutoDeleteOnIdle><EnablePartitioning>true</EnablePartitioning><EnableExpress>true</EnableExpress><ForwardTo>sb://servicebustestkxdmegmltc.servicebus.windows.net/aghadh</ForwardTo><ForwardDeadLetteredMessagesTo>sb://servicebustestkxdmegmltc.servicebus.windows.net/aghadh</ForwardDeadLetteredMessagesTo></QueueDescription></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
      ServiceBusDlqSupplementaryAuthorization:
      - SharedAccessSignature sr=sb%3A%2F%2Fservicebustestkxdmegmltc.servicebus.windows.net%2Faghadh&sig=KBXPKuLIIoySgVB0wTSGT3%2b3unw8u9ba88HQPkX%2fEXc%3d&se=1632871144&skn=RootManageSharedAccessKey
      ServiceBusSupplementaryAuthorization:
      - SharedAccessSignature sr=sb%3A%2F%2Fservicebustestkxdmegmltc.servicebus.windows.net%2Faghadh&sig=KBXPKuLIIoySgVB0wTSGT3%2b3unw8u9ba88HQPkX%2fEXc%3d&se=1632871144&skn=RootManageSharedAccessKey
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/iweidk?api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestkxdmegmltc.servicebus.windows.net/iweidk?api-version=2021-05</id><title
        type="text">iweidk</title><published>2021-09-28T22:19:04Z</published><updated>2021-09-28T22:19:04Z</updated><author><name>servicebustestkxdmegmltc</name></author><link
        rel="self" href="https://servicebustestkxdmegmltc.servicebus.windows.net/iweidk?api-version=2021-05"/><content
        type="application/xml"><QueueDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><LockDuration>PT13S</LockDuration><MaxSizeInMegabytes>49152</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><RequiresSession>true</RequiresSession><DefaultMessageTimeToLive>PT11M</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>true</DeadLetteringOnMessageExpiration><DuplicateDetectionHistoryTimeWindow>PT12M</DuplicateDetectionHistoryTimeWindow><MaxDeliveryCount>14</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><MessageCount>0</MessageCount><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2021-09-28T22:19:04.833Z</CreatedAt><UpdatedAt>2021-09-28T22:19:04.99Z</UpdatedAt><SupportOrdering>false</SupportOrdering><AutoDeleteOnIdle>PT10M</AutoDeleteOnIdle><EnablePartitioning>true</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableExpress>true</EnableExpress><ForwardTo>sb://servicebustestkxdmegmltc.servicebus.windows.net/aghadh</ForwardTo><ForwardDeadLetteredMessagesTo>sb://servicebustestkxdmegmltc.servicebus.windows.net/aghadh</ForwardDeadLetteredMessagesTo><MaxMessageSizeInKilobytes>256</MaxMessageSizeInKilobytes></QueueDescription></content></entry>
    headers:
      content-type:
      - application/atom+xml;type=entry;charset=utf-8
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><QueueDescription><LockDuration>PT13S</LockDuration><MaxSizeInMegabytes>3072</MaxSizeInMegabytes><RequiresSession>true</RequiresSession><DefaultMessageTimeToLive>PT11M2S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>true</DeadLetteringOnMessageE[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><QueueDescription><MaxMessageSizeInKilobytes>1024</MaxMessageSizeInKilobytes></QueueDescription></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/famviq?api-version=2021-05
  response:
    body:
      string: <Error><Code>400</Code><Detail>SubCode=40000. Bad Request. To know more
        visit https://aka.ms/sbResourceMgrExceptions. . TrackingId:8bebcfae-4fe3-4a2a-aa45-ec2943469609_G12,
        SystemTracker:servicebustestsbname.servicebus.windows.net:famviq, Timestamp:2021-09-28T22:19:07</Detail></Error>
    headers:
      content-type:
      - application/xml; charset=utf-8
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: GET
    uri: https://servicebustestsbname.servicebus.windows.net/iweidk?enrich=false&api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestkxdmegmltc.servicebus.windows.net/iweidk?enrich=false&amp;api-version=2021-05</id><title
        type="text">iweidk</title><published>2021-09-28T22:19:04Z</published><updated>2021-09-28T22:19:04Z</updated><author><name>servicebustestkxdmeg[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://servicebustestsbname.servicebus.windows.net/vladsk?enrich=false&api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestkxdmegmltc.servicebus.windows.net/vladsk?enrich=false&amp;api-version=2021-05</id><title
        type="text">vladsk</title><published>2021-09-28T22:19:05Z</published><updated>2021-09-28T22:19:06Z</updated><author><name>servicebustestkxdmeg[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://servicebustestsbname.servicebus.windows.net/iweidk?api-version=2021-05
  response:
    body:
      string: ''
    headers:
      etag:
      - '637684643449900000'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://servicebustestsbname.servicebus.windows.net/aghadh?api-version=2021-05
  response:
    body:
      string: ''
    headers:
      etag:
      - '637684643439600000'
    status:
      code: 200
      message: OK
version: 1
