interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://servicebustestt6zusq3zae.servicebus.windows.net/non_existing_queue?enrich=false&api-version=2017-04
  response:
    body:
      string: <feed xmlns="http://www.w3.org/2005/Atom"><title type="text">Publicly
        Listed Services</title><subtitle type="text">This is the list of publicly-listed
        services currently available.</subtitle><id>uuid:d3643fe7-9eb9-41aa-b12a-8bbbc3f3d8e2;id=76226</id><updated>2020-06-05T19:56:14Z</updated><generator>Service
        Bus 1.1</generator></feed>
    headers:
      content-type:
      - application/atom+xml;type=feed;charset=utf-8
    status:
      code: 200
      message: OK
version: 1
