interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://servicebustestsbname.servicebus.windows.net/$namespaceinfo?api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestappwyrpk4k.servicebus.windows.net/$namespaceinfo?api-version=2021-05</id><title
        type="text">servicebustestappwyrpk4k</title><updated>2021-09-28T19:01:40Z</updated><author><name>servicebustestappwyrpk4k</name></author><link
        rel="self" href="https://servicebustestappwyrpk4k.servicebus.windows.net/$namespaceinfo?api-version=2021-05"></link><content
        type="application/xml"><NamespaceInfo xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><CreatedTime>2021-09-28T19:00:40.38Z</CreatedTime><MessagingSKU>Standard</MessagingSKU><ModifiedTime>2021-09-28T19:00:40.38Z</ModifiedTime><Name>servicebustestappwyrpk4k</Name><NamespaceType>Messaging</NamespaceType></NamespaceInfo></content></entry>
    headers:
      content-type:
      - application/atom+xml;type=entry;charset=utf-8
    status:
      code: 200
      message: OK
version: 1
