interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://servicebustestsbname.servicebus.windows.net/non_existing_queue?enrich=false&api-version=2021-05
  response:
    body:
      string: <feed xmlns="http://www.w3.org/2005/Atom"><title type="text">Publicly
        Listed Services</title><subtitle type="text">This is the list of publicly-listed
        services currently available.</subtitle><id>uuid:c4422ea9-78c4-4053-b550-0ef5187077a4;id=6738</id><updated>2021-09-28T19:02:20Z</updated><generator>Service
        Bus 1.1</generator></feed>
    headers:
      content-type:
      - application/atom+xml;type=feed;charset=utf-8
    status:
      code: 200
      message: OK
version: 1
