interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://servicebustestsbname.servicebus.windows.net/$Resources/topics?$skip=0&$top=100&api-version=2021-05
  response:
    body:
      string: <feed xmlns="http://www.w3.org/2005/Atom"><title type="text">Topics</title><id>https://servicebustestappwyrpk4k.servicebus.windows.net/$Resources/topics?$skip=0&amp;$top=100&amp;api-version=2021-05</id><updated>2021-09-28T19:04:57Z</updated><link
        rel="self" href="https://servicebustestappwyrpk4k.servicebus.windows.net/$Resources/topics?$skip=0&amp;$top=100&amp;api-version=2021-05"/></feed>
    headers:
      content-type:
      - application/atom+xml;type=feed;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><QueueDescription /></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/dkfthj?api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestappwyrpk4k.servicebus.windows.net/dkfthj?api-version=2021-05</id><title
        type="text">dkfthj</title><published>2021-09-28T19:04:58Z</published><updated>2021-09-28T19:04:58Z</updated><author><name>servicebustestappwyrpk4k</name></author><link
        rel="self" href="https://servicebustestappwyrpk4k.servicebus.windows.net/dkfthj?api-version=2021-05"/><content
        type="application/xml"><QueueDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><LockDuration>PT1M</LockDuration><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><MessageCount>0</MessageCount><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2021-09-28T19:04:58Z</CreatedAt><UpdatedAt>2021-09-28T19:04:58.05Z</UpdatedAt><SupportOrdering>true</SupportOrdering><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableExpress>false</EnableExpress><MaxMessageSizeInKilobytes>256</MaxMessageSizeInKilobytes></QueueDescription></content></entry>
    headers:
      content-type:
      - application/atom+xml;type=entry;charset=utf-8
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><TopicDescription /></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/iweidkforward?api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestappwyrpk4k.servicebus.windows.net/iweidkforward?api-version=2021-05</id><title
        type="text">iweidkforward</title><published>2021-09-28T19:04:58Z</published><updated>2021-09-28T19:04:58Z</updated><author><name>servicebustestappwyrpk4k</name></author><link
        rel="self" href="https://servicebustestappwyrpk4k.servicebus.windows.net/iweidkforward?api-version=2021-05"/><content
        type="application/xml"><TopicDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><FilteringMessagesBeforePublishing>false</FilteringMessagesBeforePublishing><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2021-09-28T19:04:58.863Z</CreatedAt><UpdatedAt>2021-09-28T19:04:58.9Z</UpdatedAt><SupportOrdering>true</SupportOrdering><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableSubscriptionPartitioning>false</EnableSubscriptionPartitioning><EnableExpress>false</EnableExpress><MaxMessageSizeInKilobytes>256</MaxMessageSizeInKilobytes></TopicDescription></content></entry>
    headers:
      content-type:
      - application/atom+xml;type=entry;charset=utf-8
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><SubscriptionDescription><ForwardTo>sb://servicebustestappwyrpk4k.servicebus.windows.net/dkfthj</ForwardTo><ForwardDeadLetteredMessagesTo>sb://servicebustestappwyrpk4k.servicebus.windows.net/dkfthj</ForwardDeadLetteredMessagesTo></SubscriptionDescription></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
      ServiceBusDlqSupplementaryAuthorization:
      - SharedAccessSignature sr=sb%3A%2F%2Fservicebustestappwyrpk4k.servicebus.windows.net%2Fdkfthj&sig=7TtVex826m6SSVIP4uY996LuxgKXF8C1szz%2fgiE7u%2fA%3d&se=1632859498&skn=RootManageSharedAccessKey
      ServiceBusSupplementaryAuthorization:
      - SharedAccessSignature sr=sb%3A%2F%2Fservicebustestappwyrpk4k.servicebus.windows.net%2Fdkfthj&sig=7TtVex826m6SSVIP4uY996LuxgKXF8C1szz%2fgiE7u%2fA%3d&se=1632859498&skn=RootManageSharedAccessKey
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/iweidkforward/subscriptions/kdosakoforward?api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestappwyrpk4k.servicebus.windows.net/iweidkforward/subscriptions/kdosakoforward?api-version=2021-05</id><title
        type="text">kdosakoforward</title><published>2021-09-28T19:04:59Z</published><updated>2021-09-28T19:04:59Z</updated><link
        rel="self" href="https://servicebustestappwyrpk4k.servicebus.windows.net/iweidkforward/subscriptions/kdosakoforward?api-version=2021-05"/><content
        type="application/xml"><SubscriptionDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><LockDuration>PT1M</LockDuration><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DeadLetteringOnFilterEvaluationExceptions>true</DeadLetteringOnFilterEvaluationExceptions><MessageCount>0</MessageCount><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><Status>Active</Status><ForwardTo>sb://servicebustestappwyrpk4k.servicebus.windows.net/dkfthj</ForwardTo><CreatedAt>2021-09-28T19:04:59.3817116Z</CreatedAt><UpdatedAt>2021-09-28T19:04:59.3817116Z</UpdatedAt><AccessedAt>0001-01-01T00:00:00</AccessedAt><ForwardDeadLetteredMessagesTo>sb://servicebustestappwyrpk4k.servicebus.windows.net/dkfthj</ForwardDeadLetteredMessagesTo><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><IsClientAffine>false</IsClientAffine></SubscriptionDescription></content></entry>
    headers:
      content-type:
      - application/atom+xml;type=entry;charset=utf-8
      etag:
      - '637684526989000000'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://servicebustestsbname.servicebus.windows.net/iweidkforward/subscriptions/kdosakoforward?enrich=false&api-version=2021-05
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>sb://servicebustestappwyrpk4k.servicebus.windows.net/iweidkforward/subscriptions/kdosakoforward?enrich=false&amp;api-version=2021-05</id><title
        type="text">kdosakoforward</title><published>2021-09-28T19:04:59Z</publis[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://servicebustestsbname.servicebus.windows.net/dkfthj?api-version=2021-05
  response:
    body:
      string: ''
    headers:
      etag:
      - '637684526980500000'
    status:
      code: 200
      message: OK
version: 1
