interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><TopicDescription /></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/dqkodq?api-version=2017-04
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestejukatflvi.servicebus.windows.net/dqkodq?api-version=2017-04</id><title
        type="text">dqkodq</title><published>2020-06-30T18:54:05Z</published><updated>2020-06-30T18:54:06Z</updated><author><name>servicebustestejukatflvi</name></author><link
        rel="self" href="https://servicebustestejukatflvi.servicebus.windows.net/dqkodq?api-version=2017-04"/><content
        type="application/xml"><TopicDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><FilteringMessagesBeforePublishing>false</FilteringMessagesBeforePublishing><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2020-06-30T18:54:05.957Z</CreatedAt><UpdatedAt>2020-06-30T18:54:06.013Z</UpdatedAt><SupportOrdering>true</SupportOrdering><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableSubscriptionPartitioning>false</EnableSubscriptionPartitioning><EnableExpress>false</EnableExpress></TopicDescription></content></entry>
    headers:
      content-type:
      - application/atom+xml;type=entry;charset=utf-8
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><SubscriptionDescription /></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/dqkodq/subscriptions/kkaqo?api-version=2017-04
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://servicebustestejukatflvi.servicebus.windows.net/dqkodq/subscriptions/kkaqo?api-version=2017-04</id><title
        type="text">kkaqo</title><published>2020-06-30T18:54:06Z</published><updated>2020-06-30T18:54:06Z</updated><link
        rel="self" href="https://servicebustestejukatflvi.servicebus.windows.net/dqkodq/subscriptions/kkaqo?api-version=2017-04"/><content
        type="application/xml"><SubscriptionDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><LockDuration>PT1M</LockDuration><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DeadLetteringOnFilterEvaluationExceptions>true</DeadLetteringOnFilterEvaluationExceptions><MessageCount>0</MessageCount><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><Status>Active</Status><CreatedAt>2020-06-30T18:54:06.5261526Z</CreatedAt><UpdatedAt>2020-06-30T18:54:06.5261526Z</UpdatedAt><AccessedAt>0001-01-01T00:00:00</AccessedAt><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EntityAvailabilityStatus>Available</EntityAvailabilityStatus></SubscriptionDescription></content></entry>
    headers:
      content-type:
      - application/atom+xml;type=entry;charset=utf-8
      etag:
      - '637291400460130000'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <ns0:entry xmlns:ns0="http://www.w3.org/2005/Atom" xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"><ns0:content
      type="application/xml"><SubscriptionDescription /></ns0:content></ns0:entry>'
    headers:
      Content-Type:
      - application/atom+xml
    method: PUT
    uri: https://servicebustestsbname.servicebus.windows.net/dqkodq/subscriptions/kkaqo?api-version=2017-04
  response:
    body:
      string: <Error><Code>409</Code><Detail>The messaging entity 'servicebustestsbname:Topic:dqkodq|kkaqo'
        already exists. To know more visit https://aka.ms/sbResourceMgrExceptions.  TrackingId:15e7c413-42b3-4a64-bb6b-ec921a22d3a6_B6,
        SystemTracker:NoSystemTracker, Timestamp:2020-06-30T18:54:06</Detail></Error>
    headers:
      content-type:
      - application/xml; charset=utf-8
      etag:
      - '637291400460130000'
    status:
      code: 409
      message: Conflict
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://servicebustestsbname.servicebus.windows.net/dqkodq?api-version=2017-04
  response:
    body:
      string: ''
    headers:
      etag:
      - '637291400460130000'
    status:
      code: 200
      message: OK
version: 1
