# keep in sync with pyproject.toml#dependency-groups.dev
-e ../../../eng/tools/azure-sdk-tools
-e ../azure-ai-agentserver-core
../../monitor/azure-monitor-query
../../identity/azure-identity
pytest
httpx
pytest-asyncio
opentelemetry-api>=1.40.0
opentelemetry-sdk>=1.40.0