include *.md
include LICENSE
include azure/communication/jobrouter/py.typed
recursive-include tests *.py
recursive-include samples *.py *.md
include azure/__init__.py
include azure/communication/__init__.py