-e ../../../eng/tools/azure-sdk-tools
../../core/azure-core
aiohttp
python-dotenv
isodate
websockets
pyaudio; platform_python_implementation == 'CPython' and python_version < '3.13'
azure.identity
pytest-rerunfailures>=13.0
pytest-asyncio
soundfile