{
  "Entries": [
    {
      "RequestUri": "https://eastus.api.azureml.ms/registrymanagement/v1.0/registries/val-test-registry/discovery",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.042"
      },
      "ResponseBody": {
        "registryId": "d3e89f10-fe24-4e54-9a01-d89db82f741a",
        "registryName": "val-test-registry",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "primaryRegion": "centralus",
        "regions": [
          "centralus",
          "eastus",
          "eastus2",
          "northcentralus",
          "southcentralus",
          "westcentralus",
          "westus",
          "westus2",
          "westus3",
          "eastus2euap",
          "centraluseuap"
        ],
        "subscriptionId": "00000000-0000-0000-0000-000000000",
        "resourceGroup": "00000",
        "workspaceName": null,
        "primaryRegionResourceProviderUri": "https://cert-centralus.experiments.azureml.net/",
        "registryFqdns": {
          "centralus": {
            "uri": "https://d3e89f10-fe24-4e54-9a01-d89db82f741a.registry.centralus.privatelink.api.azureml.ms"
          },
          "eastus": {
            "uri": "https://d3e89f10-fe24-4e54-9a01-d89db82f741a.registry.eastus.privatelink.api.azureml.ms"
          },
          "eastus2": {
            "uri": "https://d3e89f10-fe24-4e54-9a01-d89db82f741a.registry.eastus2.privatelink.api.azureml.ms"
          },
          "northcentralus": {
            "uri": "https://d3e89f10-fe24-4e54-9a01-d89db82f741a.registry.northcentralus.privatelink.api.azureml.ms"
          },
          "southcentralus": {
            "uri": "https://d3e89f10-fe24-4e54-9a01-d89db82f741a.registry.southcentralus.privatelink.api.azureml.ms"
          },
          "westcentralus": {
            "uri": "https://d3e89f10-fe24-4e54-9a01-d89db82f741a.registry.westcentralus.privatelink.api.azureml.ms"
          },
          "westus": {
            "uri": "https://d3e89f10-fe24-4e54-9a01-d89db82f741a.registry.westus.privatelink.api.azureml.ms"
          },
          "westus2": {
            "uri": "https://d3e89f10-fe24-4e54-9a01-d89db82f741a.registry.westus2.privatelink.api.azureml.ms"
          },
          "westus3": {
            "uri": "https://d3e89f10-fe24-4e54-9a01-d89db82f741a.registry.westus3.privatelink.api.azureml.ms"
          },
          "eastus2euap": {
            "uri": "https://d3e89f10-fe24-4e54-9a01-d89db82f741a.registry.eastus2euap.privatelink.api.azureml.ms"
          },
          "centraluseuap": {
            "uri": "https://d3e89f10-fe24-4e54-9a01-d89db82f741a.registry.master.privatelink.api.azureml-test.ms"
          }
        }
      }
    },
    {
      "RequestUri": "https://cert-centralus.experiments.azureml.net/mferp/managementfrontend/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/val-test-registry/tempdatarefs/test_870805424509/versions/foo?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "assetId": "azureml://registries/val-test-registry/data/test_870805424509/versions/foo",
        "temporaryDataReferenceType": "TemporaryBlobReference"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-centralus-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.258"
      },
      "ResponseBody": {
        "blobReferenceForConsumption": {
          "blobUri": "https://ddbfdabdfe4.blob.core.windows.net:443/val-test-r-195f63a0-763f-5f7d-a453-59a995881d44",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/azureml-rg-val-test-registry_d3e89f10-fe24-4e54-9a01-d89db82f741a/providers/Microsoft.Storage/storageAccounts/ddbfdabdfe4",
          "credential": {
            "credentialType": "SAS",
            "sasUri": "https://ddbfdabdfe4.blob.core.windows.net/val-test-r-195f63a0-763f-5f7d-a453-59a995881d44?skoid=6ccc288f-cba4-4fdb-8801-b75dbc94f025\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-07T17%3A19%3A28Z\u0026ske=2023-02-09T01%3A29%3A28Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026st=2023-02-07T19%3A42%3A00Z\u0026se=2023-02-08T03%3A52%3A00Z\u0026sr=c\u0026sp=rcwl\u0026sig=ezUay97zKlYcreyQzyXAKJ6PC1KkY%2FPBKnBl%2F9OHDA4%3D",
            "wasbsUri": null
          }
        },
        "imageReferenceForConsumption": null,
        "temporaryDataReferenceId": "45ad8e20-50a5-4d32-9b37-dbd3c90770e0",
        "temporaryDataReferenceType": null
      }
    },
    {
      "RequestUri": "https://ddbfdabdfe4.blob.core.windows.net/val-test-r-195f63a0-763f-5f7d-a453-59a995881d44/simple_train.py?skoid=6ccc288f-cba4-4fdb-8801-b75dbc94f025\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-07T17%3A19%3A28Z\u0026ske=2023-02-09T01%3A29%3A28Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026st=2023-02-07T19%3A42%3A00Z\u0026se=2023-02-08T03%3A52%3A00Z\u0026sr=c\u0026sp=rcwl\u0026sig=ezUay97zKlYcreyQzyXAKJ6PC1KkY%2FPBKnBl%2F9OHDA4%3D",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 07 Feb 2023 19:52:01 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ddbfdabdfe4.blob.core.windows.net/val-test-r-195f63a0-763f-5f7d-a453-59a995881d44/simple_train.py?skoid=6ccc288f-cba4-4fdb-8801-b75dbc94f025\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-07T17%3A19%3A28Z\u0026ske=2023-02-09T01%3A29%3A28Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026st=2023-02-07T19%3A42%3A00Z\u0026se=2023-02-08T03%3A52%3A00Z\u0026sr=c\u0026sp=rcwl\u0026sig=ezUay97zKlYcreyQzyXAKJ6PC1KkY%2FPBKnBl%2F9OHDA4%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 07 Feb 2023 19:52:01 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "aW1wb3J0IGFyZ3BhcnNlDQoNCmltcG9ydCBtbGZsb3cuc2tsZWFybg0KaW1wb3J0IG51bXB5IGFzIG5wDQpmcm9tIHNrbGVhcm4uc3ZtIGltcG9ydCBTVkMNCg0KDQpkZWYgcGFyc2VfYXJncygpOg0KICAgIHBhcnNlciA9IGFyZ3BhcnNlLkFyZ3VtZW50UGFyc2VyKGRlc2NyaXB0aW9uPSJTVk0gZXhhbXBsZSIpDQogICAgcGFyc2VyLmFkZF9hcmd1bWVudCgNCiAgICAgICAgIi1jIiwNCiAgICAgICAgdHlwZT1mbG9hdCwNCiAgICAgICAgZGVmYXVsdD0xLjAsDQogICAgICAgIGhl[...]
    {
      "RequestUri": "https://ddbfdabdfe4.blob.core.windows.net/val-test-r-195f63a0-763f-5f7d-a453-59a995881d44/simple_train.py?comp=metadata\u0026skoid=6ccc288f-cba4-4fdb-8801-b75dbc94f025\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-07T17%3A19%3A28Z\u0026ske=2023-02-09T01%3A29%3A28Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026st=2023-02-07T19%3A42%3A00Z\u0026se=2023-02-08T03%3A52%3A00Z\u0026sr=c\u0026sp=rcwl\u0026sig=ezUay97zKlYcreyQzyXAKJ6PC1KkY%2FPBKnBl%2F9OHDA4%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 07 Feb 2023 19:52:01 GMT",
        "x-ms-meta-name": "test_870805424509",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "foo",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB0944C737748B\u0022",
        "Last-Modified": "Tue, 07 Feb 2023 19:52:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://cert-centralus.experiments.azureml.net/mferp/managementfrontend/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/val-test-registry/data/test_870805424509/versions/foo?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "this is a test dataset",
          "properties": {},
          "tags": {},
          "isAnonymous": false,
          "isArchived": false,
          "dataType": "uri_file",
          "dataUri": "https://ddbfdabdfe4.blob.core.windows.net/val-test-r-195f63a0-763f-5f7d-a453-59a995881d44/simple_train.py"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://centralus.api.azureml.ms/assetstore/v1.0/operations/_dMWW3LIJFy4nHLfJtiKCqKu38bse_dkLxmJ8CZtP2U",
        "x-aml-cluster": "vienna-centralus-01",
        "x-ms-async-operation-timeout": "PT1H",
        "x-ms-response-type": "standard",
        "x-request-time": "0.856"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://centralus.api.azureml.ms/assetstore/v1.0/operations/_dMWW3LIJFy4nHLfJtiKCqKu38bse_dkLxmJ8CZtP2U",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-aml-cluster": "vienna-centralus-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.026"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://cert-centralus.experiments.azureml.net/mferp/managementfrontend/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/val-test-registry/data/test_870805424509/versions/foo?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-centralus-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.102"
      },
      "ResponseBody": {
        "id": "azureml://registries/val-test-registry/data/test_870805424509/versions/foo",
        "name": "foo",
        "type": "data",
        "properties": {
          "description": "this is a test dataset",
          "tags": {},
          "properties": {},
          "isArchived": false,
          "isAnonymous": false,
          "dataUri": "https://ddbfdabdfe4.blob.core.windows.net/val-test-r-195f63a0-763f-5f7d-a453-59a995881d44/simple_train.py",
          "dataType": "uri_file"
        },
        "systemData": {
          "createdAt": "2023-02-07T19:52:01.2335377\u002B00:00",
          "createdBy": "Valerie Pham",
          "createdByType": "User",
          "lastModifiedAt": "2023-02-07T19:52:01.2335377\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://cert-centralus.experiments.azureml.net/mferp/managementfrontend/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/val-test-registry/data/test_870805424509?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-centralus-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.131"
      },
      "ResponseBody": {
        "id": "azureml://registries/val-test-registry/data/test_870805424509",
        "name": "test_870805424509",
        "type": "data",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isArchived": false,
          "latestVersion": "foo",
          "nextVersion": "1",
          "dataType": "uri_file"
        },
        "systemData": {
          "createdAt": "2023-02-07T19:52:01.022673\u002B00:00",
          "createdBy": "Valerie Pham",
          "createdByType": "User",
          "lastModifiedAt": "2023-02-07T19:52:01.022673\u002B00:00"
        }
      }
    },
[...]
    {
      "RequestUri": "https://cert-centralus.experiments.azureml.net/mferp/managementfrontend/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/val-test-registry/tempdatarefs/test_870805424509/versions/bar?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "assetId": "azureml://registries/v[...]
    {
      "RequestUri": "https://ddbfdabdfe4.blob.core.windows.net/val-test-r-6c069edc-2ca9-56b1-82e1-2be48aa8431f/simple_train.py?skoid=6ccc288f-cba4-4fdb-8801-b75dbc94f025\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-07T17%3A19%3A28Z\u0026ske=2023-02-09T01%3A29%3A28Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026st=2023-02-07T19%3A42%3A35Z\u0026se=2023-02-08T03%3A52%3A35Z\u0026sr=c\u0026sp=rcwl\u0026sig=cg70izphkLMGp9KkXJQwDAA5jFUvqSEIIobTPdKQArY%3D",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 07 Feb 2023 19:52:36 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://ddbfdabdfe4.blob.core.windows.net/val-test-r-6c069edc-2ca9-56b1-82e1-2be48aa8431f/simple_train.py?comp=metadata\u0026skoid=6ccc288f-cba4-4fdb-8801-b75dbc94f025\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-07T17%3A19%3A28Z\u0026ske=2023-02-09T01%3A29%3A28Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026st=2023-02-07T19%3A42%3A35Z\u0026se=2023-02-08T03%3A52%3A35Z\u0026sr=c\u0026sp=rcwl\u0026sig=cg70izphkLMGp9KkXJQwDAA5jFUvqSEIIobTPdKQArY%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 07 Feb 2023 19:52:36 GMT",
        "x-ms-meta-name": "test_870805424509",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "bar",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB0944DC337493\u0022",
        "Last-Modified": "Tue, 07 Feb 2023 19:52:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://cert-centralus.experiments.azureml.net/mferp/managementfrontend/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/val-test-registry/data/test_870805424509/versions/bar?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "this is a test dataset",
          "properties": {},
          "tags": {},
          "isAnonymous": false,
          "isArchived": false,
          "dataType": "uri_file",
          "dataUri": "https://ddbfdabdfe4.blob.core.windows.net/val-test-r-6c069edc-2ca9-56b1-82e1-2be48aa8431f/simple_train.py"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://centralus.api.azureml.ms/assetstore/v1.0/operations/U_Q2D_vfUAKzQc1Rdy2tGao_sI9UpfTLVQ2xUqOki8E",
        "x-aml-cluster": "vienna-centralus-01",
        "x-ms-async-operation-timeout": "PT1H",
        "x-ms-response-type": "standard",
        "x-request-time": "0.686"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://centralus.api.azureml.ms/assetstore/v1.0/operations/U_Q2D_vfUAKzQc1Rdy2tGao_sI9UpfTLVQ2xUqOki8E",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-aml-cluster": "vienna-centralus-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.022"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://cert-centralus.experiments.azureml.net/mferp/managementfrontend/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/val-test-registry/tempdatarefs/test_870805424509/versions/baz?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "assetId": "azureml://registries/v[...]
    {
      "RequestUri": "https://ddbfdabdfe4.blob.core.windows.net/val-test-r-5ba42a2c-a507-524c-bfae-4f2f7ce43d72/simple_train.py?skoid=6ccc288f-cba4-4fdb-8801-b75dbc94f025\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-07T17%3A19%3A28Z\u0026ske=2023-02-09T01%3A29%3A28Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026st=2023-02-07T19%3A43%3A10Z\u0026se=2023-02-08T03%3A53%3A10Z\u0026sr=c\u0026sp=rcwl\u0026sig=YQv0lgyv0wySm7OvGrhrSBVAwyaq0IAxe17u947%2BvsA%3D",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 07 Feb 2023 19:53:11 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://ddbfdabdfe4.blob.core.windows.net/val-test-r-5ba42a2c-a507-524c-bfae-4f2f7ce43d72/simple_train.py?comp=metadata\u0026skoid=6ccc288f-cba4-4fdb-8801-b75dbc94f025\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-07T17%3A19%3A28Z\u0026ske=2023-02-09T01%3A29%3A28Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026st=2023-02-07T19%3A43%3A10Z\u0026se=2023-02-08T03%3A53%3A10Z\u0026sr=c\u0026sp=rcwl\u0026sig=YQv0lgyv0wySm7OvGrhrSBVAwyaq0IAxe17u947%2BvsA%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 07 Feb 2023 19:53:11 GMT",
        "x-ms-meta-name": "test_870805424509",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "baz",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB0944F0FCFA54\u0022",
        "Last-Modified": "Tue, 07 Feb 2023 19:53:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://cert-centralus.experiments.azureml.net/mferp/managementfrontend/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/val-test-registry/data/test_870805424509/versions/baz?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "this is a test dataset",
          "properties": {},
          "tags": {},
          "isAnonymous": false,
          "isArchived": false,
          "dataType": "uri_file",
          "dataUri": "https://ddbfdabdfe4.blob.core.windows.net/val-test-r-5ba42a2c-a507-524c-bfae-4f2f7ce43d72/simple_train.py"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://centralus.api.azureml.ms/assetstore/v1.0/operations/rtvoIqPfvyEhD0s8YgklNi3SzbOTpZWxbLqO6uUjHYI",
        "x-aml-cluster": "vienna-centralus-01",
        "x-ms-async-operation-timeout": "PT1H",
        "x-ms-response-type": "standard",
        "x-request-time": "0.796"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://centralus.api.azureml.ms/assetstore/v1.0/operations/rtvoIqPfvyEhD0s8YgklNi3SzbOTpZWxbLqO6uUjHYI",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-aml-cluster": "vienna-centralus-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.025"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://cert-centralus.experiments.azureml.net/mferp/managementfrontend/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/val-test-registry/tempdatarefs/test_870805424509/versions/foobar?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "assetId": "azureml://registrie[...]
    {
      "RequestUri": "https://ddbfdabdfe4.blob.core.windows.net/val-test-r-60eb9397-feda-50ab-a70b-1c33610da600/simple_train.py?skoid=6ccc288f-cba4-4fdb-8801-b75dbc94f025\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-07T17%3A19%3A28Z\u0026ske=2023-02-09T01%3A29%3A28Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026st=2023-02-07T19%3A43%3A45Z\u0026se=2023-02-08T03%3A53%3A45Z\u0026sr=c\u0026sp=rcwl\u0026sig=rCT%2B7lBSK5zfyNZxZhAucBADfWKVmcGaXIL%2Bn6ji8Vg%3D",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 07 Feb 2023 19:53:46 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://ddbfdabdfe4.blob.core.windows.net/val-test-r-60eb9397-feda-50ab-a70b-1c33610da600/simple_train.py?comp=metadata\u0026skoid=6ccc288f-cba4-4fdb-8801-b75dbc94f025\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-07T17%3A19%3A28Z\u0026ske=2023-02-09T01%3A29%3A28Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026st=2023-02-07T19%3A43%3A45Z\u0026se=2023-02-08T03%3A53%3A45Z\u0026sr=c\u0026sp=rcwl\u0026sig=rCT%2B7lBSK5zfyNZxZhAucBADfWKVmcGaXIL%2Bn6ji8Vg%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 07 Feb 2023 19:53:46 GMT",
        "x-ms-meta-name": "test_870805424509",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "foobar",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB094505E4D90C\u0022",
        "Last-Modified": "Tue, 07 Feb 2023 19:53:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://cert-centralus.experiments.azureml.net/mferp/managementfrontend/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/val-test-registry/data/test_870805424509/versions/foobar?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "this is a test dataset",
          "properties": {},
          "tags": {},
          "isAnonymous": false,
          "isArchived": false,
          "dataType": "uri_file",
          "dataUri": "https://ddbfdabdfe4.blob.core.windows.net/val-test-r-60eb9397-feda-50ab-a70b-1c33610da600/simple_train.py"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://centralus.api.azureml.ms/assetstore/v1.0/operations/syJM4xIU1RSPvwYVxK_SqvedxBHvRyOB7wnsd_ZOJm0",
        "x-aml-cluster": "vienna-centralus-01",
        "x-ms-async-operation-timeout": "PT1H",
        "x-ms-response-type": "standard",
        "x-request-time": "0.845"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://centralus.api.azureml.ms/assetstore/v1.0/operations/syJM4xIU1RSPvwYVxK_SqvedxBHvRyOB7wnsd_ZOJm0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-aml-cluster": "vienna-centralus-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.022"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://cert-centralus.experiments.azureml.net/mferp/managementfrontend/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/val-test-registry/data/test_870805424509/versions/foobar?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-centralus-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.067"
      },
      "ResponseBody": {
        "id": "azureml://registries/val-test-registry/data/test_870805424509/versions/foobar",
        "name": "foobar",
        "type": "data",
        "properties": {
          "description": "this is a test dataset",
          "tags": {},
          "properties": {},
          "isArchived": false,
          "isAnonymous": false,
          "dataUri": "https://ddbfdabdfe4.blob.core.windows.net/val-test-r-60eb9397-feda-50ab-a70b-1c33610da600/simple_train.py",
          "dataType": "uri_file"
        },
        "systemData": {
          "createdAt": "2023-02-07T19:53:46.2758058\u002B00:00",
          "createdBy": "Valerie Pham",
          "createdByType": "User",
          "lastModifiedAt": "2023-02-07T19:53:46.2758058\u002B00:00"
        }
      }
    }
  ],
  "Variables": {
    "name": "test_870805424509"
  }
}
