{
  "Entries": [
    {
      "RequestUri": "https://eastus.api.azureml.ms/registrymanagement/v1.0/registries/val-test-registry/discovery",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.797"
      },
      "ResponseBody": {
        "registryId": "d3e89f10-fe24-4e54-9a01-d89db82f741a",
        "registryName": "val-test-registry",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "primaryRegion": "centralus",
        "regions": [
          "centralus",
          "eastus",
          "eastus2",
          "northcentralus",
          "southcentralus",
          "westcentralus",
          "westus",
          "westus2",
          "westus3",
          "eastus2euap",
          "centraluseuap"
        ],
        "subscriptionId": "00000000-0000-0000-0000-000000000",
        "resourceGroup": "00000",
        "workspaceName": null,
        "primaryRegionResourceProviderUri": "https://cert-centralus.experiments.azureml.net/",
        "registryFqdns": {
          "centralus": {
            "uri": "https://d3e89f10-fe24-4e54-9a01-d89db82f741a.registry.centralus.privatelink.api.azureml.ms"
          },
          "eastus": {
            "uri": "https://d3e89f10-fe24-4e54-9a01-d89db82f741a.registry.eastus.privatelink.api.azureml.ms"
          },
          "eastus2": {
            "uri": "https://d3e89f10-fe24-4e54-9a01-d89db82f741a.registry.eastus2.privatelink.api.azureml.ms"
          },
          "northcentralus": {
            "uri": "https://d3e89f10-fe24-4e54-9a01-d89db82f741a.registry.northcentralus.privatelink.api.azureml.ms"
          },
          "southcentralus": {
            "uri": "https://d3e89f10-fe24-4e54-9a01-d89db82f741a.registry.southcentralus.privatelink.api.azureml.ms"
          },
          "westcentralus": {
            "uri": "https://d3e89f10-fe24-4e54-9a01-d89db82f741a.registry.westcentralus.privatelink.api.azureml.ms"
          },
          "westus": {
            "uri": "https://d3e89f10-fe24-4e54-9a01-d89db82f741a.registry.westus.privatelink.api.azureml.ms"
          },
          "westus2": {
            "uri": "https://d3e89f10-fe24-4e54-9a01-d89db82f741a.registry.westus2.privatelink.api.azureml.ms"
          },
          "westus3": {
            "uri": "https://d3e89f10-fe24-4e54-9a01-d89db82f741a.registry.westus3.privatelink.api.azureml.ms"
          },
          "eastus2euap": {
            "uri": "https://d3e89f10-fe24-4e54-9a01-d89db82f741a.registry.eastus2euap.privatelink.api.azureml.ms"
          },
          "centraluseuap": {
            "uri": "https://d3e89f10-fe24-4e54-9a01-d89db82f741a.registry.master.privatelink.api.azureml-test.ms"
          }
        }
      }
    },
    {
      "RequestUri": "https://cert-centralus.experiments.azureml.net/mferp/managementfrontend/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/val-test-registry/tempdatarefs/test_579943371871/versions/1?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "assetId": "azureml://registries/val-test-registry/data/test_579943371871/versions/1",
        "temporaryDataReferenceType": "TemporaryBlobReference"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-centralus-01",
        "x-ms-response-type": "standard",
        "x-request-time": "1.336"
      },
      "ResponseBody": {
        "blobReferenceForConsumption": {
          "blobUri": "https://ddbfdabdfe4.blob.core.windows.net:443/val-test-r-e0ac48e2-0582-570e-96da-ec00bbfc6c87",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/azureml-rg-val-test-registry_d3e89f10-fe24-4e54-9a01-d89db82f741a/providers/Microsoft.Storage/storageAccounts/ddbfdabdfe4",
          "credential": {
            "credentialType": "SAS",
            "sasUri": "https://ddbfdabdfe4.blob.core.windows.net/val-test-r-e0ac48e2-0582-570e-96da-ec00bbfc6c87?skoid=6ccc288f-cba4-4fdb-8801-b75dbc94f025\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-07T17%3A21%3A36Z\u0026ske=2023-02-09T01%3A31%3A36Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026st=2023-02-07T19%3A41%3A00Z\u0026se=2023-02-08T03%3A51%3A00Z\u0026sr=c\u0026sp=rcwl\u0026sig=OBUqHAQyQCmPWDnXH1i67J5Rn9fwS5IUR5FkPIJD6es%3D",
            "wasbsUri": null
          }
        },
        "imageReferenceForConsumption": null,
        "temporaryDataReferenceId": "4167214e-8cf1-48fc-8ec8-53fbd68710c1",
        "temporaryDataReferenceType": null
      }
    },
    {
      "RequestUri": "https://ddbfdabdfe4.blob.core.windows.net/val-test-r-e0ac48e2-0582-570e-96da-ec00bbfc6c87/simple_train.py?skoid=6ccc288f-cba4-4fdb-8801-b75dbc94f025\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-07T17%3A21%3A36Z\u0026ske=2023-02-09T01%3A31%3A36Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026st=2023-02-07T19%3A41%3A00Z\u0026se=2023-02-08T03%3A51%3A00Z\u0026sr=c\u0026sp=rcwl\u0026sig=OBUqHAQyQCmPWDnXH1i67J5Rn9fwS5IUR5FkPIJD6es%3D",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 07 Feb 2023 19:51:01 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ddbfdabdfe4.blob.core.windows.net/val-test-r-e0ac48e2-0582-570e-96da-ec00bbfc6c87/simple_train.py?skoid=6ccc288f-cba4-4fdb-8801-b75dbc94f025\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-07T17%3A21%3A36Z\u0026ske=2023-02-09T01%3A31%3A36Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026st=2023-02-07T19%3A41%3A00Z\u0026se=2023-02-08T03%3A51%3A00Z\u0026sr=c\u0026sp=rcwl\u0026sig=OBUqHAQyQCmPWDnXH1i67J5Rn9fwS5IUR5FkPIJD6es%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 07 Feb 2023 19:51:01 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "aW1wb3J0IGFyZ3BhcnNlDQoNCmltcG9ydCBtbGZsb3cuc2tsZWFybg0KaW1wb3J0IG51bXB5IGFzIG5wDQpmcm9tIHNrbGVhcm4uc3ZtIGltcG9ydCBTVkMNCg0KDQpkZWYgcGFyc2VfYXJncygpOg0KICAgIHBhcnNlciA9IGFyZ3BhcnNlLkFyZ3VtZW50UGFyc2VyKGRlc2NyaXB0aW9uPSJTVk0gZXhhbXBsZSIpDQogICAgcGFyc2VyLmFkZF9hcmd1bWVudCgNCiAgICAgICAgIi1jIiwNCiAgICAgICAgdHlwZT1mbG9hdCwNCiAgICAgICAgZGVmYXVsdD0xLjAsDQogICAgICAgIGhl[...]
    {
      "RequestUri": "https://ddbfdabdfe4.blob.core.windows.net/val-test-r-e0ac48e2-0582-570e-96da-ec00bbfc6c87/simple_train.py?comp=metadata\u0026skoid=6ccc288f-cba4-4fdb-8801-b75dbc94f025\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-07T17%3A21%3A36Z\u0026ske=2023-02-09T01%3A31%3A36Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026st=2023-02-07T19%3A41%3A00Z\u0026se=2023-02-08T03%3A51%3A00Z\u0026sr=c\u0026sp=rcwl\u0026sig=OBUqHAQyQCmPWDnXH1i67J5Rn9fwS5IUR5FkPIJD6es%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 07 Feb 2023 19:51:01 GMT",
        "x-ms-meta-name": "test_579943371871",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB0944A3A4DBA5\u0022",
        "Last-Modified": "Tue, 07 Feb 2023 19:51:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://cert-centralus.experiments.azureml.net/mferp/managementfrontend/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/val-test-registry/data/test_579943371871/versions/1?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "this is a test dataset",
          "properties": {},
          "tags": {},
          "isAnonymous": false,
          "isArchived": false,
          "dataType": "uri_file",
          "dataUri": "https://ddbfdabdfe4.blob.core.windows.net/val-test-r-e0ac48e2-0582-570e-96da-ec00bbfc6c87/simple_train.py"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://centralus.api.azureml.ms/assetstore/v1.0/operations/vpIT_bnTFnyv23AyauRgxnIvCBxxVOObbu9_VpgZ6bY",
        "x-aml-cluster": "vienna-centralus-01",
        "x-ms-async-operation-timeout": "PT1H",
        "x-ms-response-type": "standard",
        "x-request-time": "1.130"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://centralus.api.azureml.ms/assetstore/v1.0/operations/vpIT_bnTFnyv23AyauRgxnIvCBxxVOObbu9_VpgZ6bY",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-aml-cluster": "vienna-centralus-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.022"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://cert-centralus.experiments.azureml.net/mferp/managementfrontend/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/val-test-registry/data/test_579943371871/versions/1?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-centralus-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.086"
      },
      "ResponseBody": {
        "id": "azureml://registries/val-test-registry/data/test_579943371871/versions/1",
        "name": "1",
        "type": "data",
        "properties": {
          "description": "this is a test dataset",
          "tags": {},
          "properties": {},
          "isArchived": false,
          "isAnonymous": false,
          "dataUri": "https://ddbfdabdfe4.blob.core.windows.net/val-test-r-e0ac48e2-0582-570e-96da-ec00bbfc6c87/simple_train.py",
          "dataType": "uri_file"
        },
        "systemData": {
          "createdAt": "2023-02-07T19:51:01.7892531\u002B00:00",
          "createdBy": "Valerie Pham",
          "createdByType": "User",
          "lastModifiedAt": "2023-02-07T19:51:01.7892531\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://cert-centralus.experiments.azureml.net/mferp/managementfrontend/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/val-test-registry/data/test_579943371871/versions/1?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-centralus-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.537"
      },
      "ResponseBody": {
        "id": "azureml://registries/val-test-registry/data/test_579943371871/versions/1",
        "name": "1",
        "type": "data",
        "properties": {
          "description": "this is a test dataset",
          "tags": {},
          "properties": {},
          "isArchived": false,
          "isAnonymous": false,
          "dataUri": "https://ddbfdabdfe4.blob.core.windows.net/val-test-r-e0ac48e2-0582-570e-96da-ec00bbfc6c87/simple_train.py",
          "dataType": "uri_file"
        },
        "systemData": {
          "createdAt": "2023-02-07T19:51:01.7892531\u002B00:00",
          "createdBy": "Valerie Pham",
          "createdByType": "User",
          "lastModifiedAt": "2023-02-07T19:51:01.7892531\u002B00:00"
        }
      }
    }
  ],
  "Variables": {
    "name": "test_579943371871"
  }
}
