{
  "Entries": [
    {
      "RequestUri": "https://eastus.api.azureml.ms/registrymanagement/v1.0/registries/UnsecureTest-testFeed/discovery",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.028"
      },
      "ResponseBody": {
        "registryId": "04dd0c97-2930-46ea-ad45-a918b68b4071",
        "registryName": "UnsecureTest-testFeed",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "primaryRegion": "centraluseuap",
        "regions": [
          "centraluseuap"
        ],
        "subscriptionId": "4f26493f-21d2-4726-92ea-1ddd550b1d27",
        "resourceGroup": "test-registries",
        "workspaceName": null,
        "primaryRegionResourceProviderUri": "https://cert-master.experiments.azureml-test.net/",
        "registryFqdns": {
          "centraluseuap": {
            "uri": "https://04dd0c97-2930-46ea-ad45-a918b68b4071.registry.master.privatelink.api.azureml-test.ms"
          }
        }
      }
    },
    {
      "RequestUri": "https://cert-master.experiments.azureml-test.net/mferp/managementfrontend/subscriptions/4f26493f-21d2-4726-92ea-1ddd550b1d27/resourceGroups/test-registries/providers/Microsoft.MachineLearningServices/registries/UnsecureTest-testFeed/tempdatarefs/test_775041893184/versions/foo?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "assetId": "azureml://registries/UnsecureTest-testFeed/data/test_775041893184/versions/foo",
        "temporaryDataReferenceType": "TemporaryBlobReference"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.804"
      },
      "ResponseBody": {
        "blobReferenceForConsumption": {
          "blobUri": "https://feedmaster1.blob.core.windows.net:443/unsecurete-32af82c6-691b-5a24-9476-5c5993ad9d8e",
          "storageAccountArmId": "/subscriptions/ad203158-bc5d-4e72-b764-2607833a71dc/resourceGroups/vienna-test-westus2/providers/Microsoft.Storage/storageAccounts/feedmaster1",
          "credential": {
            "credentialType": "SAS",
            "sasUri": "https://feedmaster1.blob.core.windows.net/unsecurete-32af82c6-691b-5a24-9476-5c5993ad9d8e?skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-07T19%3A54%3A10Z\u0026ske=2023-02-09T04%3A04%3A10Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026st=2023-02-07T20%3A52%3A52Z\u0026se=2023-02-08T05%3A02%3A52Z\u0026sr=c\u0026sp=rcwl\u0026sig=x47AwpilviYnTNJcVOTaeU%2BPVfjN1rfD6sAJPWZiNEU%3D",
            "wasbsUri": null
          }
        },
        "imageReferenceForConsumption": null,
        "temporaryDataReferenceId": "d2647883-d098-4a8d-b91f-cbae2ad2f47d",
        "temporaryDataReferenceType": null
      }
    },
    {
      "RequestUri": "https://feedmaster1.blob.core.windows.net/unsecurete-32af82c6-691b-5a24-9476-5c5993ad9d8e/simple_train.py?skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-07T19%3A54%3A10Z\u0026ske=2023-02-09T04%3A04%3A10Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026st=2023-02-07T20%3A52%3A52Z\u0026se=2023-02-08T05%3A02%3A52Z\u0026sr=c\u0026sp=rcwl\u0026sig=x47AwpilviYnTNJcVOTaeU%2BPVfjN1rfD6sAJPWZiNEU%3D",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 07 Feb 2023 21:02:53 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://feedmaster1.blob.core.windows.net/unsecurete-32af82c6-691b-5a24-9476-5c5993ad9d8e/simple_train.py?skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-07T19%3A54%3A10Z\u0026ske=2023-02-09T04%3A04%3A10Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026st=2023-02-07T20%3A52%3A52Z\u0026se=2023-02-08T05%3A02%3A52Z\u0026sr=c\u0026sp=rcwl\u0026sig=x47AwpilviYnTNJcVOTaeU%2BPVfjN1rfD6sAJPWZiNEU%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 07 Feb 2023 21:02:54 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "aW1wb3J0IGFyZ3BhcnNlDQoNCmltcG9ydCBtbGZsb3cuc2tsZWFybg0KaW1wb3J0IG51bXB5IGFzIG5wDQpmcm9tIHNrbGVhcm4uc3ZtIGltcG9ydCBTVkMNCg0KDQpkZWYgcGFyc2VfYXJncygpOg0KICAgIHBhcnNlciA9IGFyZ3BhcnNlLkFyZ3VtZW50UGFyc2VyKGRlc2NyaXB0aW9uPSJTVk0gZXhhbXBsZSIpDQogICAgcGFyc2VyLmFkZF9hcmd1bWVudCgNCiAgICAgICAgIi1jIiwNCiAgICAgICAgdHlwZT1mbG9hdCwNCiAgICAgICAgZGVmYXVsdD0xLjAsDQogICAgICAgIGhl[...]
    {
      "RequestUri": "https://feedmaster1.blob.core.windows.net/unsecurete-32af82c6-691b-5a24-9476-5c5993ad9d8e/simple_train.py?comp=metadata\u0026skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-07T19%3A54%3A10Z\u0026ske=2023-02-09T04%3A04%3A10Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026st=2023-02-07T20%3A52%3A52Z\u0026se=2023-02-08T05%3A02%3A52Z\u0026sr=c\u0026sp=rcwl\u0026sig=x47AwpilviYnTNJcVOTaeU%2BPVfjN1rfD6sAJPWZiNEU%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 07 Feb 2023 21:02:54 GMT",
        "x-ms-meta-name": "test_775041893184",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "foo",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB094EAE3B74E1\u0022",
        "Last-Modified": "Tue, 07 Feb 2023 21:02:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://cert-master.experiments.azureml-test.net/mferp/managementfrontend/subscriptions/4f26493f-21d2-4726-92ea-1ddd550b1d27/resourceGroups/test-registries/providers/Microsoft.MachineLearningServices/registries/UnsecureTest-testFeed/data/test_775041893184/versions/foo?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "this is a test dataset",
          "properties": {},
          "tags": {},
          "isAnonymous": false,
          "isArchived": false,
          "dataType": "uri_file",
          "dataUri": "https://feedmaster1.blob.core.windows.net/unsecurete-32af82c6-691b-5a24-9476-5c5993ad9d8e/simple_train.py"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://master.api.azureml-test.ms/assetstore/v1.0/operations/cufwXn0ix1VfcWfzTFrLlMHsonx7_LEoLgxT9a7qADU",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-async-operation-timeout": "PT1H",
        "x-ms-response-type": "standard",
        "x-request-time": "4.119"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://master.api.azureml-test.ms/assetstore/v1.0/operations/cufwXn0ix1VfcWfzTFrLlMHsonx7_LEoLgxT9a7qADU",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.029"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://cert-master.experiments.azureml-test.net/mferp/managementfrontend/subscriptions/4f26493f-21d2-4726-92ea-1ddd550b1d27/resourceGroups/test-registries/providers/Microsoft.MachineLearningServices/registries/UnsecureTest-testFeed/data/test_775041893184/versions/foo?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.369"
      },
      "ResponseBody": {
        "id": "azureml://registries/UnsecureTest-testFeed/data/test_775041893184/versions/foo",
        "name": "foo",
        "type": "data",
        "properties": {
          "description": "this is a test dataset",
          "tags": {},
          "properties": {},
          "isArchived": false,
          "isAnonymous": false,
          "dataUri": "https://feedmaster2.blob.core.windows.net/unsecurete-32af82c6-691b-5a24-9476-5c5993ad9d8e/simple_train.py",
          "dataType": "uri_file"
        },
        "systemData": {
          "createdAt": "2023-02-07T21:02:56.3896142\u002B00:00",
          "createdBy": "Valerie Pham",
          "createdByType": "User",
          "lastModifiedAt": "2023-02-07T21:02:56.3896142\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://cert-master.experiments.azureml-test.net/mferp/managementfrontend/subscriptions/4f26493f-21d2-4726-92ea-1ddd550b1d27/resourceGroups/test-registries/providers/Microsoft.MachineLearningServices/registries/UnsecureTest-testFeed/data/test_775041893184?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.741"
      },
      "ResponseBody": {
        "id": "azureml://registries/UnsecureTest-testFeed/data/test_775041893184",
        "name": "test_775041893184",
        "type": "data",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isArchived": false,
          "latestVersion": "foo",
          "nextVersion": "1",
          "dataType": "uri_file"
        },
        "systemData": {
          "createdAt": "2023-02-07T21:02:55.1768051\u002B00:00",
          "createdBy": "Valerie Pham",
          "createdByType": "User",
          "lastModifiedAt": "2023-02-07T21:02:55.1768051\u002B00:00"
        }
      }
    },
[...]
    {
      "RequestUri": "https://cert-master.experiments.azureml-test.net/mferp/managementfrontend/subscriptions/4f26493f-21d2-4726-92ea-1ddd550b1d27/resourceGroups/test-registries/providers/Microsoft.MachineLearningServices/registries/UnsecureTest-testFeed/tempdatarefs/test_775041893184/versions/bar?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "assetId": "azu[...]
    {
      "RequestUri": "https://feedmaster1.blob.core.windows.net/unsecurete-97dbd4b8-be1d-5483-8999-d43fbdd6dfb4/simple_train.py?skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-07T19%3A54%3A10Z\u0026ske=2023-02-09T04%3A04%3A10Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026st=2023-02-07T20%3A53%3A33Z\u0026se=2023-02-08T05%3A03%3A33Z\u0026sr=c\u0026sp=rcwl\u0026sig=8RDIuo8KV7SR%2B3cbExQwf2CSHThTf6hYINb9NOy39Ww%3D",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 07 Feb 2023 21:03:34 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://feedmaster1.blob.core.windows.net/unsecurete-97dbd4b8-be1d-5483-8999-d43fbdd6dfb4/simple_train.py?comp=metadata\u0026skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-07T19%3A54%3A10Z\u0026ske=2023-02-09T04%3A04%3A10Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026st=2023-02-07T20%3A53%3A33Z\u0026se=2023-02-08T05%3A03%3A33Z\u0026sr=c\u0026sp=rcwl\u0026sig=8RDIuo8KV7SR%2B3cbExQwf2CSHThTf6hYINb9NOy39Ww%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 07 Feb 2023 21:03:35 GMT",
        "x-ms-meta-name": "test_775041893184",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "bar",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB094EC668E690\u0022",
        "Last-Modified": "Tue, 07 Feb 2023 21:03:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://cert-master.experiments.azureml-test.net/mferp/managementfrontend/subscriptions/4f26493f-21d2-4726-92ea-1ddd550b1d27/resourceGroups/test-registries/providers/Microsoft.MachineLearningServices/registries/UnsecureTest-testFeed/data/test_775041893184/versions/bar?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "this is a test dataset",
          "properties": {},
          "tags": {},
          "isAnonymous": false,
          "isArchived": false,
          "dataType": "uri_file",
          "dataUri": "https://feedmaster1.blob.core.windows.net/unsecurete-97dbd4b8-be1d-5483-8999-d43fbdd6dfb4/simple_train.py"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://master.api.azureml-test.ms/assetstore/v1.0/operations/CSBcLD4jR6fb-JnvQNSIWkl6gskrZNaOBiKUj_bTsKg",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-async-operation-timeout": "PT1H",
        "x-ms-response-type": "standard",
        "x-request-time": "3.580"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://master.api.azureml-test.ms/assetstore/v1.0/operations/CSBcLD4jR6fb-JnvQNSIWkl6gskrZNaOBiKUj_bTsKg",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.018"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://cert-master.experiments.azureml-test.net/mferp/managementfrontend/subscriptions/4f26493f-21d2-4726-92ea-1ddd550b1d27/resourceGroups/test-registries/providers/Microsoft.MachineLearningServices/registries/UnsecureTest-testFeed/tempdatarefs/test_775041893184/versions/baz?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "assetId": "azu[...]
    {
      "RequestUri": "https://feedmaster2.blob.core.windows.net/unsecurete-96bb4a39-5c22-544c-97b7-3b247bc5ee6c/simple_train.py?skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-07T20%3A40%3A36Z\u0026ske=2023-02-09T04%3A50%3A36Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026st=2023-02-07T20%3A54%3A14Z\u0026se=2023-02-08T05%3A04%3A14Z\u0026sr=c\u0026sp=rcwl\u0026sig=gk%2FHHolvHVMrpjFx13xcMgLwrdImjMrpt3mz9t1Ndno%3D",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 07 Feb 2023 21:04:14 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://feedmaster2.blob.core.windows.net/unsecurete-96bb4a39-5c22-544c-97b7-3b247bc5ee6c/simple_train.py?comp=metadata\u0026skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-07T20%3A40%3A36Z\u0026ske=2023-02-09T04%3A50%3A36Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026st=2023-02-07T20%3A54%3A14Z\u0026se=2023-02-08T05%3A04%3A14Z\u0026sr=c\u0026sp=rcwl\u0026sig=gk%2FHHolvHVMrpjFx13xcMgLwrdImjMrpt3mz9t1Ndno%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 07 Feb 2023 21:04:15 GMT",
        "x-ms-meta-name": "test_775041893184",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "baz",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB094EDE9332BC\u0022",
        "Last-Modified": "Tue, 07 Feb 2023 21:04:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://cert-master.experiments.azureml-test.net/mferp/managementfrontend/subscriptions/4f26493f-21d2-4726-92ea-1ddd550b1d27/resourceGroups/test-registries/providers/Microsoft.MachineLearningServices/registries/UnsecureTest-testFeed/data/test_775041893184/versions/baz?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "this is a test dataset",
          "properties": {},
          "tags": {},
          "isAnonymous": false,
          "isArchived": false,
          "dataType": "uri_file",
          "dataUri": "https://feedmaster2.blob.core.windows.net/unsecurete-96bb4a39-5c22-544c-97b7-3b247bc5ee6c/simple_train.py"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://master.api.azureml-test.ms/assetstore/v1.0/operations/oeVfhnd1qKsSPbgv0uVqGRACmXeUuVFtHluoGoAnMaE",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-async-operation-timeout": "PT1H",
        "x-ms-response-type": "standard",
        "x-request-time": "3.460"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://master.api.azureml-test.ms/assetstore/v1.0/operations/oeVfhnd1qKsSPbgv0uVqGRACmXeUuVFtHluoGoAnMaE",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.022"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://cert-master.experiments.azureml-test.net/mferp/managementfrontend/subscriptions/4f26493f-21d2-4726-92ea-1ddd550b1d27/resourceGroups/test-registries/providers/Microsoft.MachineLearningServices/registries/UnsecureTest-testFeed/tempdatarefs/test_775041893184/versions/foobar?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "assetId": "[...]
    {
      "RequestUri": "https://feedmaster1.blob.core.windows.net/unsecurete-d380cbed-9721-56c8-85a8-1accafbd0258/simple_train.py?skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-07T19%3A54%3A10Z\u0026ske=2023-02-09T04%3A04%3A10Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026st=2023-02-07T20%3A54%3A54Z\u0026se=2023-02-08T05%3A04%3A54Z\u0026sr=c\u0026sp=rcwl\u0026sig=8%2FLanLeMHcUbBZf6exjmRtMGN4ivBHUh5n0%2FtpFsTio%3D",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 07 Feb 2023 21:04:55 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://feedmaster1.blob.core.windows.net/unsecurete-d380cbed-9721-56c8-85a8-1accafbd0258/simple_train.py?comp=metadata\u0026skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-07T19%3A54%3A10Z\u0026ske=2023-02-09T04%3A04%3A10Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026st=2023-02-07T20%3A54%3A54Z\u0026se=2023-02-08T05%3A04%3A54Z\u0026sr=c\u0026sp=rcwl\u0026sig=8%2FLanLeMHcUbBZf6exjmRtMGN4ivBHUh5n0%2FtpFsTio%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 07 Feb 2023 21:04:56 GMT",
        "x-ms-meta-name": "test_775041893184",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "foobar",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB094EF69691A1\u0022",
        "Last-Modified": "Tue, 07 Feb 2023 21:04:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://cert-master.experiments.azureml-test.net/mferp/managementfrontend/subscriptions/4f26493f-21d2-4726-92ea-1ddd550b1d27/resourceGroups/test-registries/providers/Microsoft.MachineLearningServices/registries/UnsecureTest-testFeed/data/test_775041893184/versions/foobar?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "this is a test dataset",
          "properties": {},
          "tags": {},
          "isAnonymous": false,
          "isArchived": false,
          "dataType": "uri_file",
          "dataUri": "https://feedmaster1.blob.core.windows.net/unsecurete-d380cbed-9721-56c8-85a8-1accafbd0258/simple_train.py"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://master.api.azureml-test.ms/assetstore/v1.0/operations/mk2ZnNpne3vnbfestrKZJWDLgHAwVsyygUaGdWtu4b8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-async-operation-timeout": "PT1H",
        "x-ms-response-type": "standard",
        "x-request-time": "3.190"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://master.api.azureml-test.ms/assetstore/v1.0/operations/mk2ZnNpne3vnbfestrKZJWDLgHAwVsyygUaGdWtu4b8",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.024"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://cert-master.experiments.azureml-test.net/mferp/managementfrontend/subscriptions/4f26493f-21d2-4726-92ea-1ddd550b1d27/resourceGroups/test-registries/providers/Microsoft.MachineLearningServices/registries/UnsecureTest-testFeed/data/test_775041893184/versions/foobar?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.361"
      },
      "ResponseBody": {
        "id": "azureml://registries/UnsecureTest-testFeed/data/test_775041893184/versions/foobar",
        "name": "foobar",
        "type": "data",
        "properties": {
          "description": "this is a test dataset",
          "tags": {},
          "properties": {},
          "isArchived": false,
          "isAnonymous": false,
          "dataUri": "https://feedmaster2.blob.core.windows.net/unsecurete-d380cbed-9721-56c8-85a8-1accafbd0258/simple_train.py",
          "dataType": "uri_file"
        },
        "systemData": {
          "createdAt": "2023-02-07T21:04:57.0163579\u002B00:00",
          "createdBy": "Valerie Pham",
          "createdByType": "User",
          "lastModifiedAt": "2023-02-07T21:04:57.0163579\u002B00:00"
        }
      }
    }
  ],
  "Variables": {
    "name": "test_775041893184"
  }
}
