-e ../../../eng/tools/azure-sdk-tools
../../core/azure-core
../../identity/azure-identity
../azure-storage-blob
aiohttp>=3.0
cryptography==44.0.3  # TODO: Pinned due to cryptography compatibility issue in CI. Revisit once resolved.
