interactions:
- request:
    body: '"{\"namespace\":\"example.avro\",\"type\":\"record\",\"name\":\"User\",\"fields\":[{\"name\":\"name\",\"type\":\"string\"},{\"name\":\"favorite_number\",\"type\":[\"int\",\"null\"]},{\"name\":\"favorite_color\",\"type\":[\"string\",\"null\"]}]}"'
    headers:
      Content-Type:
      - application/json
      X-Schema-Type:
      - avro
    method: PUT
    uri: https://sr-playground.servicebus.windows.net/$schemagroups/yuling-test-group/schemas/test-schema-95fcb46a-0f9d-4adb-bb4b-1ad881f78f3d?api-version=2017-04
  response:
    body:
      string: '{"id":"fd3af450331b427a90260487b6a593f1"}'
    headers:
      content-type: application/json
      location: https://sr-playground.servicebus.windows.net:443/$schemagroups/yuling-test-group/schemas/test-schema-95fcb46a-0f9d-4adb-bb4b-1ad881f78f3d/versions/1?api-version=2017-04
      x-schema-id: fd3af450331b427a90260487b6a593f1
      x-schema-id-location: https://sr-playground.servicebus.windows.net:443/$schemagroups/getschemabyid/fd3af450331b427a90260487b6a593f1?api-version=2017-04
      x-schema-type: Avro
      x-schema-version: '1'
      x-schema-versions-location: https://sr-playground.servicebus.windows.net:443/$schemagroups/yuling-test-group/schemas/test-schema-95fcb46a-0f9d-4adb-bb4b-1ad881f78f3d/versions?api-version=2017-04
    status:
      code: 200
      message: OK
    url: https://sr-playground.servicebus.windows.net/$schemagroups/yuling-test-group/schemas/test-schema-95fcb46a-0f9d-4adb-bb4b-1ad881f78f3d?api-version=2017-04
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://sr-playground.servicebus.windows.net/$schemagroups/getSchemaById/5a04b4ccfd9e4dc6bc98adcd04785031?api-version=2017-04
  response:
    body:
      string: '"{\"namespace\":\"example.avro\",\"type\":\"record\",\"name\":\"User\",\"fields\":[{\"name\":\"name\",\"type\":\"string\"},{\"name\":\"favorite_number\",\"type\":[\"int\",\"null\"]},{\"name\":\"favorite_food\",\"type\":[\"string\",\"null\"]}]}"'
    headers:
      content-type: application/json
      location: https://sr-playground.servicebus.windows.net:443/$schemagroups/yuling-test-group/schemas/test-schema-95fcb46a-0f9d-4adb-bb4b-1ad881f78f3d/versions/2?api-version=2017-04
      x-schema-id: 5a04b4ccfd9e4dc6bc98adcd04785031
      x-schema-id-location: https://sr-playground.servicebus.windows.net:443/$schemagroups/getschemabyid/5a04b4ccfd9e4dc6bc98adcd04785031?api-version=2017-04
      x-schema-type: Avro
      x-schema-version: '2'
      x-schema-versions-location: https://sr-playground.servicebus.windows.net:443/$schemagroups/yuling-test-group/schemas/test-schema-95fcb46a-0f9d-4adb-bb4b-1ad881f78f3d/versions?api-version=2017-04
    status:
      code: 200
      message: OK
    url: https://sr-playground.servicebus.windows.net/$schemagroups/getSchemaById/5a04b4ccfd9e4dc6bc98adcd04785031?api-version=2017-04
version: 1
