interactions:
- request:
    body: '{"namespace":"example.avro","type":"record","name":"User","fields":[{"name":"name","type":"string"},{"name":"age","type":["int","null"]},{"name":"city","type":["string","null"]}]}'
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Serialization-Type:
      - Avro
    method: PUT
    uri: https://sr-playground.servicebus.windows.net/$schemagroups/azsdk_python_test_group/schemas/test-schema-twice-async7bfd16a1?api-version=2020-09-01-preview
  response:
    body:
      string: '{"id":"fba55da2ca154678b935475eec28ddc7"}'
    headers:
      content-type: application/json
      location: https://sr-playground.servicebus.windows.net:443/$schemagroups/azsdk_python_test_group/schemas/test-schema-twice-async7bfd16a1/versions/1?api-version=2020-09-01-preview
      schema-id: fba55da2ca154678b935475eec28ddc7
      schema-id-location: https://sr-playground.servicebus.windows.net:443/$schemagroups/getschemabyid/fba55da2ca154678b935475eec28ddc7?api-version=2020-09-01-preview
      schema-version: '1'
      schema-versions-location: https://sr-playground.servicebus.windows.net:443/$schemagroups/azsdk_python_test_group/schemas/test-schema-twice-async7bfd16a1/versions?api-version=2020-09-01-preview
      serialization-type: Avro
    status:
      code: 200
      message: OK
    url: https://sr-playground.servicebus.windows.net/$schemagroups/azsdk_python_test_group/schemas/test-schema-twice-async7bfd16a1?api-version=2020-09-01-preview
- request:
    body: '{"namespace":"example.avro","type":"record","name":"User","fields":[{"name":"name","type":"string"},{"name":"age","type":["int","null"]},{"name":"city","type":["string","null"]}]}'
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Serialization-Type:
      - Avro
    method: PUT
    uri: https://sr-playground.servicebus.windows.net/$schemagroups/azsdk_python_test_group/schemas/test-schema-twice-async7bfd16a1?api-version=2020-09-01-preview
  response:
    body:
      string: '{"id":"fba55da2ca154678b935475eec28ddc7"}'
    headers:
      content-type: application/json
      location: https://sr-playground.servicebus.windows.net:443/$schemagroups/azsdk_python_test_group/schemas/test-schema-twice-async7bfd16a1/versions/1?api-version=2020-09-01-preview
      schema-id: fba55da2ca154678b935475eec28ddc7
      schema-id-location: https://sr-playground.servicebus.windows.net:443/$schemagroups/getschemabyid/fba55da2ca154678b935475eec28ddc7?api-version=2020-09-01-preview
      schema-version: '1'
      schema-versions-location: https://sr-playground.servicebus.windows.net:443/$schemagroups/azsdk_python_test_group/schemas/test-schema-twice-async7bfd16a1/versions?api-version=2020-09-01-preview
      serialization-type: Avro
    status:
      code: 200
      message: OK
    url: https://sr-playground.servicebus.windows.net/$schemagroups/azsdk_python_test_group/schemas/test-schema-twice-async7bfd16a1?api-version=2020-09-01-preview
version: 1
