interactions:
- request:
    body: '"{\"namespace\":\"example.avro\",\"type\":\"record\",\"name\":\"User\",\"fields\":[{\"name\":\"name\",\"type\":\"string\"},{\"name\":\"favorite_number\",\"type\":[\"int\",\"null\"]},{\"name\":\"favorite_color\",\"type\":[\"string\",\"null\"]}]}"'
    headers:
      Content-Type:
      - application/json
      X-Schema-Type:
      - avro
    method: PUT
    uri: https://sr-playground.servicebus.windows.net/$schemagroups/yuling-test-group/schemas/test-schema-b780165c-2207-42e9-ba36-ac1f3135d3cc?api-version=2017-04
  response:
    body:
      string: '{"id":"67ab61f42b964a42820ed8b6e8cec8e7"}'
    headers:
      content-type: application/json
      location: https://sr-playground.servicebus.windows.net:443/$schemagroups/yuling-test-group/schemas/test-schema-b780165c-2207-42e9-ba36-ac1f3135d3cc/versions/1?api-version=2017-04
      x-schema-id: 67ab61f42b964a42820ed8b6e8cec8e7
      x-schema-id-location: https://sr-playground.servicebus.windows.net:443/$schemagroups/getschemabyid/67ab61f42b964a42820ed8b6e8cec8e7?api-version=2017-04
      x-schema-type: Avro
      x-schema-version: '1'
      x-schema-versions-location: https://sr-playground.servicebus.windows.net:443/$schemagroups/yuling-test-group/schemas/test-schema-b780165c-2207-42e9-ba36-ac1f3135d3cc/versions?api-version=2017-04
    status:
      code: 200
      message: OK
    url: https://sr-playground.servicebus.windows.net/$schemagroups/yuling-test-group/schemas/test-schema-b780165c-2207-42e9-ba36-ac1f3135d3cc?api-version=2017-04
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://sr-playground.servicebus.windows.net/$schemagroups/getSchemaById/163cc506a02c4b31b4b068b347bfae4c?api-version=2017-04
  response:
    body:
      string: '"{\"namespace\":\"example.avro\",\"type\":\"record\",\"name\":\"User\",\"fields\":[{\"name\":\"name\",\"type\":\"string\"},{\"name\":\"favorite_number\",\"type\":[\"int\",\"null\"]},{\"name\":\"favorite_food\",\"type\":[\"string\",\"null\"]}]}"'
    headers:
      content-type: application/json
      location: https://sr-playground.servicebus.windows.net:443/$schemagroups/yuling-test-group/schemas/test-schema-b780165c-2207-42e9-ba36-ac1f3135d3cc/versions/2?api-version=2017-04
      x-schema-id: 163cc506a02c4b31b4b068b347bfae4c
      x-schema-id-location: https://sr-playground.servicebus.windows.net:443/$schemagroups/getschemabyid/163cc506a02c4b31b4b068b347bfae4c?api-version=2017-04
      x-schema-type: Avro
      x-schema-version: '2'
      x-schema-versions-location: https://sr-playground.servicebus.windows.net:443/$schemagroups/yuling-test-group/schemas/test-schema-b780165c-2207-42e9-ba36-ac1f3135d3cc/versions?api-version=2017-04
    status:
      code: 200
      message: OK
    url: https://sr-playground.servicebus.windows.net/$schemagroups/getSchemaById/163cc506a02c4b31b4b068b347bfae4c?api-version=2017-04
version: 1
