interactions:
- request:
    body: '"{\"namespace\":\"example.avro\",\"type\":\"record\",\"name\":\"User\",\"fields\":[{\"name\":\"name\",\"type\":\"string\"},{\"name\":\"favorite_number\",\"type\":[\"int\",\"null\"]},{\"name\":\"favorite_color\",\"type\":[\"string\",\"null\"]}]}"'
    headers:
      Content-Type:
      - application/json
      X-Schema-Type:
      - Avro
    method: PUT
    uri: https://sr-playground.servicebus.windows.net/$schemagroups/azsdk_python_test_group/schemas/test-schema-basic-asynce5e1482?api-version=2017-04
  response:
    body:
      string: '{"id":"b8503db5451844488672458ba137c27b"}'
    headers:
      content-type: application/json
      location: https://sr-playground.servicebus.windows.net:443/$schemagroups/azsdk_python_test_group/schemas/test-schema-basic-asynce5e1482/versions/1?api-version=2017-04
      x-schema-id: b8503db5451844488672458ba137c27b
      x-schema-id-location: https://sr-playground.servicebus.windows.net:443/$schemagroups/getschemabyid/b8503db5451844488672458ba137c27b?api-version=2017-04
      x-schema-type: Avro
      x-schema-version: '1'
      x-schema-versions-location: https://sr-playground.servicebus.windows.net:443/$schemagroups/azsdk_python_test_group/schemas/test-schema-basic-asynce5e1482/versions?api-version=2017-04
    status:
      code: 200
      message: OK
    url: https://sr-playground.servicebus.windows.net/$schemagroups/azsdk_python_test_group/schemas/test-schema-basic-asynce5e1482?api-version=2017-04
- request:
    body: null
    headers:
    method: GET
    uri: https://sr-playground.servicebus.windows.net/$schemagroups/getSchemaById/b8503db5451844488672458ba137c27b?api-version=2017-04
  response:
    body:
      string: '"{\"namespace\":\"example.avro\",\"type\":\"record\",\"name\":\"User\",\"fields\":[{\"name\":\"name\",\"type\":\"string\"},{\"name\":\"favorite_number\",\"type\":[\"int\",\"null\"]},{\"name\":\"favorite_color\",\"type\":[\"string\",\"null\"]}]}"'
    headers:
      content-type: application/json
      location: https://sr-playground.servicebus.windows.net:443/$schemagroups/azsdk_python_test_group/schemas/test-schema-basic-asynce5e1482/versions/1?api-version=2017-04
      x-schema-id: b8503db5451844488672458ba137c27b
      x-schema-id-location: https://sr-playground.servicebus.windows.net:443/$schemagroups/getschemabyid/b8503db5451844488672458ba137c27b?api-version=2017-04
      x-schema-type: Avro
      x-schema-version: '1'
      x-schema-versions-location: https://sr-playground.servicebus.windows.net:443/$schemagroups/azsdk_python_test_group/schemas/test-schema-basic-asynce5e1482/versions?api-version=2017-04
    status:
      code: 200
      message: OK
    url: https://sr-playground.servicebus.windows.net/$schemagroups/getSchemaById/b8503db5451844488672458ba137c27b?api-version=2017-04
- request:
    body: '"{\"namespace\":\"example.avro\",\"type\":\"record\",\"name\":\"User\",\"fields\":[{\"name\":\"name\",\"type\":\"string\"},{\"name\":\"favorite_number\",\"type\":[\"int\",\"null\"]},{\"name\":\"favorite_color\",\"type\":[\"string\",\"null\"]}]}"'
    headers:
      Content-Type:
      - application/json
      X-Schema-Type:
      - Avro
    method: POST
    uri: https://sr-playground.servicebus.windows.net/$schemagroups/azsdk_python_test_group/schemas/test-schema-basic-asynce5e1482?api-version=2017-04
  response:
    body:
      string: '{"id":"b8503db5451844488672458ba137c27b"}'
    headers:
      content-type: application/json
      location: https://sr-playground.servicebus.windows.net:443/$schemagroups/azsdk_python_test_group/schemas/test-schema-basic-asynce5e1482/versions/1?api-version=2017-04
      x-schema-id: b8503db5451844488672458ba137c27b
      x-schema-id-location: https://sr-playground.servicebus.windows.net:443/$schemagroups/getschemabyid/b8503db5451844488672458ba137c27b?api-version=2017-04
      x-schema-type: Avro
      x-schema-version: '1'
      x-schema-versions-location: https://sr-playground.servicebus.windows.net:443/$schemagroups/azsdk_python_test_group/schemas/test-schema-basic-asynce5e1482/versions?api-version=2017-04
    status:
      code: 200
      message: OK
    url: https://sr-playground.servicebus.windows.net/$schemagroups/azsdk_python_test_group/schemas/test-schema-basic-asynce5e1482?api-version=2017-04
version: 1
