{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11989",
        "x-ms-response-type": "standard",
        "x-request-time": "0.132"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isDefault": true,
          "credentials": {
            "credentialsType": "AccountKey"
          },
          "datastoreType": "AzureBlob",
          "accountName": "sagvgsoim6nmhbq",
          "containerName": "azureml-blobstore-e61cd5e2-512f-475e-9842-5e2a973993b8",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
        },
        "systemData": {
          "createdAt": "2022-09-22T09:02:03.2629568\u002B00:00",
          "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "createdByType": "Application",
          "lastModifiedAt": "2022-09-22T09:02:04.166989\u002B00:00",
          "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1197",
        "x-ms-response-type": "standard",
        "x-request-time": "0.502"
      },
      "ResponseBody": {
        "secretsType": "AccountKey",
        "key": "dGhpcyBpcyBmYWtlIGtleQ=="
      }
    },
    {
      "RequestUri": "https://sagvgsoim6nmhbq.blob.core.windows.net/azureml-blobstore-e61cd5e2-512f-475e-9842-5e2a973993b8/LocalUpload/00000000000000000000000000000000/data/sample1.csv",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Thu, 10 Nov 2022 10:41:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "dUQjYq1qrTeqLOaZ4N2AUQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA9D48AFBCE5A6\u0022",
        "Last-Modified": "Fri, 23 Sep 2022 09:47:53 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 23 Sep 2022 09:47:53 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "da405283-c0d4-42bf-9cd0-2d052c9da84b",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "bcdecfd5-08fc-40e1-af7f-364ca3525a76",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sagvgsoim6nmhbq.blob.core.windows.net/azureml-blobstore-e61cd5e2-512f-475e-9842-5e2a973993b8/az-ml-artifacts/00000000000000000000000000000000/data/sample1.csv",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Thu, 10 Nov 2022 10:41:15 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationsStatus/s:e61cd5e2-512f-475e-9842-5e2a973993b8:3rhqv9u4UiJU92-96c8zcsbZxoojexsSXDZ3jE4Qxkk?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11988",
        "x-ms-response-type": "standard",
        "x-request-time": "0.026"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationResults/s:e61cd5e2-512f-475e-9842-5e2a973993b8:3rhqv9u4UiJU92-96c8zcsbZxoojexsSXDZ3jE4Qxkk",
        "name": "s:e61cd5e2-512f-475e-9842-5e2a973993b8:3rhqv9u4UiJU92-96c8zcsbZxoojexsSXDZ3jE4Qxkk",
        "status": "Succeeded",
        "startTime": "2022-11-10T10:41:10.3024493\u002B00:00",
        "endTime": "2022-11-10T10:41:12\u002B00:00"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/schedules/test_397123612914?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11987",
        "x-ms-response-type": "standard",
        "x-request-time": "0.097"
      },
      "ResponseBody": {
        "name": "test_397123612914",
        "properties": {
          "description": "a weekly retrain schedule",
          "tags": {},
          "properties": {},
          "displayName": "weekly retrain schedule",
          "isEnabled": false,
          "trigger": {
            "endTime": null,
            "startTime": "2022-05-10 10:15:00",
            "timeZone": "Pacific Standard Time",
            "triggerType": "Recurrence",
            "frequency": "Week",
            "interval": 1,
            "schedule": {
              "hours": [
                10
              ],
              "minutes": [
                15
              ],
              "weekDays": [
                "Monday"
              ],
              "monthDays": null
            }
          },
          "action": {
            "actionType": "CreateJob",
            "jobDefinition": {
              "description": "The hello world pipeline job with inline components",
              "tags": {
                "tag": "tagvalue",
                "owner": "sdkteam"
              },
              "properties": {},
              "displayName": null,
              "status": "NotStarted",
              "experimentName": "Default",
              "services": null,
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "isArchived": false,
              "identity": {
                "identityType": "AMLToken"
              },
              "componentId": null,
              "jobType": "Pipeline",
              "settings": {
                "default_compute": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster-1",
                "default_datastore": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspacefilestore",
                "continue_on_step_failure": true,
                "_source": "YAML.JOB"
              },
              "jobs": {
                "hello_world_component_inline_1": {
                  "name": "hello_world_component_inline_1",
                  "type": "command",
                  "inputs": {
                    "component_in_number": {
                      "job_input_type": "literal",
                      "value": "${{parent.inputs.job_in_number}}"
                    }
                  },
                  "_source": "REMOTE.WORKSPACE.COMPONENT",
                  "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/14a03350-691b-4c37-a888-ba726330a4c6"
                },
                "hello_world_component_inline_2": {
                  "name": "hello_world_component_inline_2",
                  "type": "command",
                  "inputs": {
                    "component_in_number": {
                      "job_input_type": "literal",
                      "value": "${{parent.inputs.job_in_number}}"
                    }
                  },
                  "_source": "REMOTE.WORKSPACE.COMPONENT",
                  "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/f8bfc2a6-29ac-41d4-a67c-cb5ea91f113f"
                },
                "hello_world_component_inline_3": {
                  "name": "hello_world_component_inline_3",
                  "type": "command",
                  "inputs": {
                    "component_in_number": {
                      "job_input_type": "literal",
                      "value": "${{parent.inputs.job_in_number}}"
                    }
                  },
                  "_source": "REMOTE.WORKSPACE.COMPONENT",
                  "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/21550193-4ea1-4d3d-9b2f-289e51c0b334"
                }
              },
              "inputs": {
                "job_in_number": {
                  "description": null,
                  "jobInputType": "literal",
                  "value": "1"
                },
                "job_in_other_number": {
                  "description": null,
                  "jobInputType": "literal",
                  "value": "2"
                }
              },
              "outputs": {},
              "sourceJobId": null
            }
          },
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdAt": "2022-11-10T10:41:05.0487073\u002B00:00",
          "createdBy": "Brynn Yin",
          "createdByType": "User",
          "lastModifiedAt": "2022-11-10T10:41:12.1611818\u002B00:00",
          "lastModifiedBy": "Brynn Yin",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/schedules/test_620565193084?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "a weekly retrain schedule",
          "properties": {},
          "tags": {},
          "action": {
            "actionType": "CreateJob",
            "jobDefinition": {
              "properties": {
                "empty_property": null
              },
              "tags": {
                "empty_tag": null
              },
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "displayName": "test_display_name",
              "experimentName": "mfe-test1",
              "identity": {
                "identityType": "AMLToken"
              },
              "isArchived": false,
              "jobType": "Command",
              "command": "pip freeze",
              "environmentId": "azureml:AzureML-sklearn-0.24-ubuntu18.04-py37-cpu:1",
              "environmentVariables": {},
              "inputs": {
                "hello_input": {
                  "uri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/data/",
                  "jobInputType": "uri_folder"
                }
              },
              "outputs": {}
            }
          },
          "displayName": "weekly retrain schedule",
          "trigger": {
            "startTime": "2022-03-10 10:15:00",
            "timeZone": "UTC",
            "triggerType": "Cron",
            "expression": "15 10 * * 1"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationsStatus/s:e61cd5e2-512f-475e-9842-5e2a973993b8:qYnicgUcDo-sQzbB5pbFqa6uxTC6O-4FmzDNRwMXrhs?api-version=2022-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/schedules/test_620565193084?api-version=2022-10-01",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-async-operation-timeout": "PT30M",
        "x-ms-ratelimit-remaining-subscription-writes": "1191",
        "x-ms-response-type": "standard",
        "x-request-time": "0.091"
      },
      "ResponseBody": {
        "properties": {
          "description": "a weekly retrain schedule",
          "tags": {},
          "properties": {},
          "displayName": "weekly retrain schedule",
          "isEnabled": true,
          "trigger": {
            "endTime": null,
            "startTime": "2022-03-10 10:15:00",
            "timeZone": "UTC",
            "triggerType": "Cron",
            "expression": "15 10 * * 1"
          },
          "action": {
            "actionType": "CreateJob",
            "jobDefinition": {
              "description": null,
              "tags": {
                "empty_tag": null
              },
              "properties": {
                "empty_property": null
              },
              "displayName": "test_display_name",
              "status": "NotStarted",
              "experimentName": "mfe-test1",
              "services": null,
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "isArchived": false,
              "identity": {
                "identityType": "AMLToken"
              },
              "componentId": null,
              "jobType": "Command",
              "resources": {
                "instanceCount": 1,
                "instanceType": null,
                "properties": null,
                "shmSize": "2g",
                "dockerArgs": null
              },
              "codeId": null,
              "command": "pip freeze",
              "environmentId": "azureml:AzureML-sklearn-0.24-ubuntu18.04-py37-cpu:1",
              "inputs": {
                "hello_input": {
                  "description": null,
                  "uri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/data/",
                  "mode": "ReadOnlyMount",
                  "jobInputType": "uri_folder"
                }
              },
              "outputs": {},
              "distribution": null,
              "limits": null,
              "environmentVariables": {},
              "parameters": null
            }
          },
          "provisioningState": "Creating"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationsStatus/s:e61cd5e2-512f-475e-9842-5e2a973993b8:qYnicgUcDo-sQzbB5pbFqa6uxTC6O-4FmzDNRwMXrhs?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11986",
        "x-ms-response-type": "standard",
        "x-request-time": "0.023"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationResults/s:e61cd5e2-512f-475e-9842-5e2a973993b8:qYnicgUcDo-sQzbB5pbFqa6uxTC6O-4FmzDNRwMXrhs",
        "name": "s:e61cd5e2-512f-475e-9842-5e2a973993b8:qYnicgUcDo-sQzbB5pbFqa6uxTC6O-4FmzDNRwMXrhs",
        "status": "Succeeded",
        "startTime": "2022-11-10T10:41:18.1471309\u002B00:00",
        "endTime": "2022-11-10T10:41:22\u002B00:00"
      }
    },
[...]
