{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-response-type": "standard",
        "x-request-time": "0.012"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "centraluseuap",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "00000",
          "description": "",
          "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/sakugisnztpbkya",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/kvtesteubimtqvvnham",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.insights/components/aikugisnztpbkya",
          "hbiWorkspace": false,
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/crkugisnztpbkya",
          "creationTime": "2023-03-06T21:50:52.0430403Z",
          "notebookInfo": {
            "resourceId": "0000000-0000-0000-0000-000000000000",
            "fqdn": "ml-sdkvnextc-centraluseuap-c0f2d171-93ba-42e2-ab6b-6275115a7d6e.centraluseuap.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "c0f2d171-93ba-42e2-ab6b-6275115a7d6e",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "discoveryUrl": "https://master.api.azureml-test.ms/discovery",
          "mlFlowTrackingUri": "azureml://master.api.azureml-test.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "sdkTelemetryAppInsightsKey": "0000000-0000-0000-0000-000000000000",
          "sasGetterUri": "",
          "enableDataIsolation": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "0000000-0000-0000-0000-000000000000",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "kind": "Default",
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2023-03-06T21:50:52.0430403Z",
          "createdBy": "alias@contoso.com",
          "createdByType": "User",
          "lastModifiedAt": "2023-03-06T21:50:52.0430403Z",
          "lastModifiedBy": "alias@contoso.com",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://master.api.azureml-test.ms/content/v2.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/snapshots/getByHash?hash=b900eb6d0e090367ddd6a349c8cf941641c1205c438d6aeb1644e645422d5a9e\u0026hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.103"
      },
      "ResponseBody": {
        "snapshotType": "LocalFiles",
        "id": "8aa009a9-e71d-46ec-96ac-eca83a95c8e5",
        "root": {
          "name": "",
          "hash": null,
          "type": "Directory",
          "timestamp": "0001-01-01T00:00:00\u002B00:00",
          "sasUrl": null,
          "absoluteUrl": null,
          "sizeBytes": 0,
          "sizeSet": false,
          "children": {
            "wordcount.py": {
              "name": "wordcount.py",
              "hash": "80C1D6CB6F7AB8E0AB4E75EC3CDB5BE8",
              "type": "File",
              "timestamp": "0001-01-01T00:00:00\u002B00:00",
              "sasUrl": null,
              "absoluteUrl": null,
              "sizeBytes": 530,
              "sizeSet": true,
              "children": {}
            }
          }
        },
        "tags": {},
        "properties": {
          "hash_sha256": "b900eb6d0e090367ddd6a349c8cf941641c1205c438d6aeb1644e645422d5a9e",
          "hash_version": "202208",
          "azureml.codeUri": "https://sakugisnztpbkya.blob.core.windows.net:443/c0f2d171-9-39bebb30-eb17-5b4f-9bac-6ce4f81044fe/src"
        },
        "description": null,
        "name": "4dfdb542-c278-4636-a5b7-6a124fd540aa",
        "version": "1",
        "createdBy": {
          "userObjectId": "b3a957de-450c-4ca7-b2aa-88dd98c87fef",
          "userPuId": "10037FFEAD05DD5D",
          "userIdp": null,
          "userAltSecId": null,
          "userIss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
          "userTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "userName": "Firstname Lastname",
          "upn": null
        },
        "createdTime": "2023-03-06T21:55:26.6601371\u002B00:00",
        "modifiedBy": {
          "userObjectId": "b3a957de-450c-4ca7-b2aa-88dd98c87fef",
          "userPuId": "10037FFEAD05DD5D",
          "userIdp": null,
          "userAltSecId": null,
          "userIss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
          "userTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "userName": "Diondra Peck",
          "upn": null
        },
        "modifiedTime": "2023-03-06T21:55:26.6601371\u002B00:00",
        "gitRepositoryCommit": null,
        "uri": "https://sakugisnztpbkya.blob.core.windows.net:443/c0f2d171-9-39bebb30-eb17-5b4f-9bac-6ce4f81044fe/src",
        "contentHash": "b900eb6d0e090367ddd6a349c8cf941641c1205c438d6aeb1644e645422d5a9e",
        "hashVersion": "202208",
        "provisioningState": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/4dfdb542-c278-4636-a5b7-6a124fd540aa/versions/1?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11998",
        "x-ms-response-type": "standard",
        "x-request-time": "0.075"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/4dfdb542-c278-4636-a5b7-6a124fd540aa/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isArchived": false,
          "isAnonymous": false,
          "codeUri": "https://sakugisnztpbkya.blob.core.windows.net:443/c0f2d171-9-39bebb30-eb17-5b4f-9bac-6ce4f81044fe/src"
        },
        "systemData": {
          "createdAt": "2023-03-06T21:55:26.6601371\u002B00:00",
          "createdBy": "Firstname Lastname",
          "createdByType": "User",
          "lastModifiedAt": "2023-03-06T21:55:26.6601371\u002B00:00",
          "lastModifiedBy": "Firstname Lastname",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11997",
        "x-ms-response-type": "standard",
        "x-request-time": "0.146"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isDefault": true,
          "credentials": {
            "credentialsType": "AccountKey"
          },
          "datastoreType": "AzureBlob",
          "accountName": "sakugisnztpbkya",
          "containerName": "azureml-blobstore-c0f2d171-93ba-42e2-ab6b-6275115a7d6e",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
        },
        "systemData": {
          "createdAt": "2023-03-06T21:51:15.3515067\u002B00:00",
          "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "createdByType": "Application",
          "lastModifiedAt": "2023-03-06T21:51:16.2530087\u002B00:00",
          "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2022-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.436"
      },
      "ResponseBody": {
        "secretsType": "AccountKey",
        "key": "dGhpcyBpcyBmYWtlIGtleQ=="
      }
    },
    {
      "RequestUri": "https://sakugisnztpbkya.blob.core.windows.net/azureml-blobstore-c0f2d171-93ba-42e2-ab6b-6275115a7d6e/LocalUpload/00000000000000000000000000000000/simpleshakespeare.txt",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 06 Mar 2023 22:46:38 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "YLIyH\u002BWjxPqzDSclRLlzgw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB1E8D80617ADF\u0022",
        "Last-Modified": "Mon, 06 Mar 2023 21:55:29 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 06 Mar 2023 21:55:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "247a89b9-bf12-46b1-9465-03cf79c94df2",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "3e3884c8-7328-4e2c-a252-d5d250e7148c",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sakugisnztpbkya.blob.core.windows.net/azureml-blobstore-c0f2d171-93ba-42e2-ab6b-6275115a7d6e/az-ml-artifacts/00000000000000000000000000000000/simpleshakespeare.txt",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 06 Mar 2023 22:46:39 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/schedules/test_442311935016?api-version=2022-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "a weekly retrain schedule",
          "properties": {},
          "tags": {},
          "action": {
            "actionType": "CreateJob",
            "jobDefinition": {
              "description": "submit a hobo spark job testing inputs",
              "tags": {},
              "identity": {
                "identityType": "UserIdentity"
              },
              "isArchived": false,
              "jobType": "Spark",
              "args": "--input1 ${{inputs.input1}}",
              "codeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/4dfdb542-c278-4636-a5b7-6a124fd540aa/versions/1",
              "conf": {
                "spark.driver.cores": "1",
                "spark.driver.memory": "2g",
                "spark.executor.cores": "2",
                "spark.executor.memory": "2g",
                "spark.executor.instances": "2"
              },
              "entry": {
                "sparkJobEntryType": "SparkJobPythonEntry",
                "file": "wordcount.py"
              },
              "inputs": {
                "input1": {
                  "mode": "Direct",
                  "uri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/simpleshakespeare.txt",
                  "jobInputType": "uri_file"
                }
              },
              "outputs": {},
              "resources": {
                "instanceType": "standard_e8s_v3",
                "runtimeVersion": "3.2"
              }
            }
          },
          "displayName": "weekly retrain schedule",
          "trigger": {
            "startTime": "2022-03-10 10:15:00",
            "timeZone": "UTC",
            "triggerType": "Cron",
            "expression": "15 10 * * 1"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationsStatus/s:c0f2d171-93ba-42e2-ab6b-6275115a7d6e:C1BWEmljNHFy5e_IFwDgJZ6vjRXXeOb-JfWb8x1U7hQ?api-version=2022-12-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/schedules/test_442311935016?api-version=2022-12-01-preview",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-async-operation-timeout": "PT30M",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.114"
      },
      "ResponseBody": {
        "properties": {
          "description": "a weekly retrain schedule",
          "tags": {},
          "properties": {},
          "displayName": "weekly retrain schedule",
          "isEnabled": true,
          "trigger": {
            "endTime": null,
            "startTime": "2022-03-10 10:15:00",
            "timeZone": "UTC",
            "triggerType": "Cron",
            "expression": "15 10 * * 1"
          },
          "action": {
            "actionType": "CreateJob",
            "jobDefinition": {
              "description": "submit a hobo spark job testing inputs",
              "tags": {},
              "properties": null,
              "displayName": null,
              "status": "NotStarted",
              "experimentName": "Default",
              "services": null,
              "computeId": null,
              "isArchived": false,
              "identity": {
                "identityType": "UserIdentity"
              },
              "componentId": null,
              "jobType": "Spark",
              "resources": {
                "instanceType": "standard_e8s_v3",
                "runtimeVersion": "3.2"
              },
              "args": "--input1 ${{inputs.input1}}",
              "codeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/4dfdb542-c278-4636-a5b7-6a124fd540aa/versions/1",
              "entry": {
                "sparkJobEntryType": "SparkJobPythonEntry",
                "file": "wordcount.py"
              },
              "environmentId": null,
              "inputs": {
                "input1": {
                  "description": null,
                  "uri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/simpleshakespeare.txt",
                  "mode": "Direct",
                  "jobInputType": "uri_file"
                }
              },
              "outputs": {},
              "pyFiles": null,
              "jars": null,
              "files": null,
              "archives": null,
              "conf": {
                "spark.driver.cores": "1",
                "spark.driver.memory": "2g",
                "spark.executor.cores": "2",
                "spark.executor.memory": "2g",
                "spark.executor.instances": "2"
              }
            }
          },
          "provisioningState": "Creating"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationsStatus/s:c0f2d171-93ba-42e2-ab6b-6275115a7d6e:C1BWEmljNHFy5e_IFwDgJZ6vjRXXeOb-JfWb8x1U7hQ?api-version=2022-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11996",
        "x-ms-response-type": "standard",
        "x-request-time": "0.026"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationResults/s:c0f2d171-93ba-42e2-ab6b-6275115a7d6e:C1BWEmljNHFy5e_IFwDgJZ6vjRXXeOb-JfWb8x1U7hQ",
        "name": "s:c0f2d171-93ba-42e2-ab6b-6275115a7d6e:C1BWEmljNHFy5e_IFwDgJZ6vjRXXeOb-JfWb8x1U7hQ",
        "status": "Creating"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationsStatus/s:c0f2d171-93ba-42e2-ab6b-6275115a7d6e:lX7mLtudn8hZ240HWsh_AcOnMuQ8nUKLIyNmFhrV0uI?api-version=2022-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11992",
        "x-ms-response-type": "standard",
        "x-request-time": "0.018"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationResults/s:c0f2d171-93ba-42e2-ab6b-6275115a7d6e:lX7mLtudn8hZ240HWsh_AcOnMuQ8nUKLIyNmFhrV0uI",
        "name": "s:c0f2d171-93ba-42e2-ab6b-6275115a7d6e:lX7mLtudn8hZ240HWsh_AcOnMuQ8nUKLIyNmFhrV0uI",
        "status": "Creating"
      }
    }
  ],
  "Variables": {
    "name": "test_442311935016"
  }
}
