{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-response-type": "standard",
        "x-request-time": "0.013"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "centraluseuap",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "00000",
          "description": "",
          "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/sao4t3kk7y2kdxs",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/kvtestyqyt6ben5jtz6",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.insights/components/aio4t3kk7y2kdxs",
          "hbiWorkspace": false,
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/cro4t3kk7y2kdxs",
          "creationTime": "2023-03-06T02:27:59.9799414Z",
          "notebookInfo": {
            "resourceId": "0000000-0000-0000-0000-000000000000",
            "fqdn": "ml-sdkvnextc-centraluseuap-25fd3f03-898c-4211-9cc3-9b723a66326c.centraluseuap.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "25fd3f03-898c-4211-9cc3-9b723a66326c",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "discoveryUrl": "https://master.api.azureml-test.ms/discovery",
          "mlFlowTrackingUri": "azureml://master.api.azureml-test.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "sdkTelemetryAppInsightsKey": "0000000-0000-0000-0000-000000000000",
          "sasGetterUri": "",
          "enableDataIsolation": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "0000000-0000-0000-0000-000000000000",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "kind": "Default",
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2023-03-06T02:27:59.9799414Z",
          "createdBy": "alias@contoso.com",
          "createdByType": "User",
          "lastModifiedAt": "2023-03-06T02:27:59.9799414Z",
          "lastModifiedBy": "alias@contoso.com",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://master.api.azureml-test.ms/content/v2.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/snapshots/getByHash?hash=d3c05b496c685e7e5a204e3cebc689086bd0f622c2975d8090c18968739a464a\u0026hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.077"
      },
      "ResponseBody": {
        "snapshotType": "LocalFiles",
        "id": "c50ff0b3-e318-40df-bfdf-162b90940d99",
        "root": {
          "name": "",
          "hash": null,
          "type": "Directory",
          "timestamp": "0001-01-01T00:00:00\u002B00:00",
          "sasUrl": null,
          "absoluteUrl": null,
          "sizeBytes": 0,
          "sizeSet": false,
          "children": {
            "COMPONENT_PLACEHOLDER": {
              "name": "COMPONENT_PLACEHOLDER",
              "hash": "2FF0E74A91489FE8DA41673EB1441D73",
              "type": "File",
              "timestamp": "0001-01-01T00:00:00\u002B00:00",
              "sasUrl": null,
              "absoluteUrl": null,
              "sizeBytes": 35,
              "sizeSet": true,
              "children": {}
            }
          }
        },
        "tags": {},
        "properties": {
          "hash_sha256": "d3c05b496c685e7e5a204e3cebc689086bd0f622c2975d8090c18968739a464a",
          "hash_version": "202208",
          "azureml.codeUri": "https://sao4t3kk7y2kdxs.blob.core.windows.net:443/25fd3f03-8-0cc319a6-cd74-55a3-a144-f25cf4618c2b/"
        },
        "description": null,
        "name": "923d4d2e-534f-4ae3-bc1d-f636829d9d3b",
        "version": "1",
        "createdBy": {
          "userObjectId": "b3a957de-450c-4ca7-b2aa-88dd98c87fef",
          "userPuId": "10037FFEAD05DD5D",
          "userIdp": null,
          "userAltSecId": null,
          "userIss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
          "userTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "userName": "Firstname Lastname",
          "upn": null
        },
        "createdTime": "2023-03-06T02:56:31.9787401\u002B00:00",
        "modifiedBy": {
          "userObjectId": "b3a957de-450c-4ca7-b2aa-88dd98c87fef",
          "userPuId": "10037FFEAD05DD5D",
          "userIdp": null,
          "userAltSecId": null,
          "userIss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
          "userTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "userName": "Diondra Peck",
          "upn": null
        },
        "modifiedTime": "2023-03-06T02:56:31.9787401\u002B00:00",
        "gitRepositoryCommit": null,
        "uri": "https://sao4t3kk7y2kdxs.blob.core.windows.net:443/25fd3f03-8-0cc319a6-cd74-55a3-a144-f25cf4618c2b/",
        "contentHash": "d3c05b496c685e7e5a204e3cebc689086bd0f622c2975d8090c18968739a464a",
        "hashVersion": "202208",
        "provisioningState": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/923d4d2e-534f-4ae3-bc1d-f636829d9d3b/versions/1?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11998",
        "x-ms-response-type": "standard",
        "x-request-time": "0.076"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/923d4d2e-534f-4ae3-bc1d-f636829d9d3b/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isArchived": false,
          "isAnonymous": false,
          "codeUri": "https://sao4t3kk7y2kdxs.blob.core.windows.net:443/25fd3f03-8-0cc319a6-cd74-55a3-a144-f25cf4618c2b/"
        },
        "systemData": {
          "createdAt": "2023-03-06T02:56:31.9787401\u002B00:00",
          "createdBy": "Firstname Lastname",
          "createdByType": "User",
          "lastModifiedAt": "2023-03-06T02:56:31.9787401\u002B00:00",
          "lastModifiedBy": "Firstname Lastname",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "command": "echo Hello World \u0026 echo ${{inputs.component_in_number}}",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/923d4d2e-534f-4ae3-bc1d-f636829d9d3b/versions/1",
            "environment": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33",
            "name": "azureml_anonymous",
            "version": "1",
            "is_deterministic": true,
            "inputs": {
              "component_in_number": {
                "type": "integer",
                "optional": false,
                "default": "10",
                "description": "An integer"
              }
            },
            "type": "command",
            "_source": "YAML.JOB"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2022-10-01",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.715"
      },
      "ResponseBody": {
        "id": "/subscriptions/[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/schedules/test_653194986852?api-version=2022-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "a weekly retrain schedule",
          "properties": {},
          "tags": {},
          "action": {
            "actionType": "CreateJob",
            "jobDefinition": {
              "description": "The hello world pipeline job with inline components",
              "properties": {},
              "tags": {
                "tag": "tagvalue",
                "owner": "sdkteam"
              },
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "identity": {
                "identityType": "AMLToken"
              },
              "isArchived": false,
              "jobType": "Pipeline",
              "inputs": {
                "job_in_number": {
                  "jobInputType": "literal",
                  "value": "1"
                },
                "job_in_other_number": {
                  "jobInputType": "literal",
                  "value": "2"
                }
              },
              "jobs": {
                "hello_world_component_inline_1": {
                  "name": "hello_world_component_inline_1",
                  "type": "command",
                  "inputs": {
                    "component_in_number": {
                      "job_input_type": "literal",
                      "value": "${{parent.inputs.job_in_number}}"
                    }
                  },
                  "_source": "YAML.JOB",
                  "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/49ea4be4-49cd-4f99-ba7e-24cfac59c087"
                },
                "hello_world_component_inline_2": {
                  "name": "hello_world_component_inline_2",
                  "type": "command",
                  "inputs": {
                    "component_in_number": {
                      "job_input_type": "literal",
                      "value": "${{parent.inputs.job_in_number}}"
                    }
                  },
                  "_source": "YAML.JOB",
                  "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/d7778d97-d201-4a60-8dfe-44fb1cbef1b0"
                },
                "hello_world_component_inline_3": {
                  "name": "hello_world_component_inline_3",
                  "type": "command",
                  "inputs": {
                    "component_in_number": {
                      "job_input_type": "literal",
                      "value": "${{parent.inputs.job_in_number}}"
                    }
                  },
                  "_source": "YAML.JOB",
                  "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/f1a5cde7-eb2b-43f5-8ff3-485bec2a9b01"
                }
              },
              "outputs": {},
              "settings": {
                "default_compute": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster-1",
                "default_datastore": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspacefilestore",
                "continue_on_step_failure": true,
                "_source": "YAML.JOB"
              }
            }
          },
          "displayName": "weekly retrain schedule",
          "trigger": {
            "startTime": "2022-05-10 10:15:00",
            "timeZone": "Pacific Standard Time",
            "triggerType": "Recurrence",
            "frequency": "week",
            "interval": 1,
            "schedule": {
              "hours": [
                10
              ],
              "minutes": [
                15
              ],
              "weekDays": [
                "monday"
              ]
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationsStatus/s:25fd3f03-898c-4211-9cc3-9b723a66326c:buLRI2Ek1Y77jJVQ4On4yS1lw8BBqqHWRkpu869kXho?api-version=2022-12-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/schedules/test_653194986852?api-version=2022-12-01-preview",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-async-operation-timeout": "PT30M",
        "x-ms-ratelimit-remaining-subscription-writes": "1196",
        "x-ms-response-type": "standard",
        "x-request-time": "0.240"
      },
      "ResponseBody": {
        "properties": {
          "description": "a weekly retrain schedule",
          "tags": {},
          "properties": {},
          "displayName": "weekly retrain schedule",
          "isEnabled": true,
          "trigger": {
            "endTime": null,
            "startTime": "2022-05-10 10:15:00",
            "timeZone": "Pacific Standard Time",
            "triggerType": "Recurrence",
            "frequency": "Week",
            "interval": 1,
            "schedule": {
              "hours": [
                10
              ],
              "minutes": [
                15
              ],
              "weekDays": [
                "Monday"
              ],
              "monthDays": null
            }
          },
          "action": {
            "actionType": "CreateJob",
            "jobDefinition": {
              "description": "The hello world pipeline job with inline components",
              "tags": {
                "tag": "tagvalue",
                "owner": "sdkteam"
              },
              "properties": {},
              "displayName": null,
              "status": "NotStarted",
              "experimentName": "Default",
              "services": null,
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "isArchived": false,
              "identity": {
                "identityType": "AMLToken"
              },
              "componentId": null,
              "jobType": "Pipeline",
              "settings": {
                "default_compute": "/subscriptions/00000000-0000-0000-0000-000000000/res[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationsStatus/s:25fd3f03-898c-4211-9cc3-9b723a66326c:buLRI2Ek1Y77jJVQ4On4yS1lw8BBqqHWRkpu869kXho?api-version=2022-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11993",
        "x-ms-response-type": "standard",
        "x-request-time": "0.021"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationResults/s:25fd3f03-898c-4211-9cc3-9b723a66326c:buLRI2Ek1Y77jJVQ4On4yS1lw8BBqqHWRkpu869kXho",
        "name": "s:25fd3f03-898c-4211-9cc3-9b723a66326c:buLRI2Ek1Y77jJVQ4On4yS1lw8BBqqHWRkpu869kXho",
        "status": "Creating"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationsStatus/s:25fd3f03-898c-4211-9cc3-9b723a66326c:WW0_ERggnI9LOzBm37sEg_K8QkI2aX4TYjlbezz_fn8?api-version=2022-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11989",
        "x-ms-response-type": "standard",
        "x-request-time": "0.019"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationResults/s:25fd3f03-898c-4211-9cc3-9b723a66326c:WW0_ERggnI9LOzBm37sEg_K8QkI2aX4TYjlbezz_fn8",
        "name": "s:25fd3f03-898c-4211-9cc3-9b723a66326c:WW0_ERggnI9LOzBm37sEg_K8QkI2aX4TYjlbezz_fn8",
        "status": "Creating"
      }
    }
  ],
  "Variables": {
    "name": "test_653194986852"
  }
}
