{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11979",
        "x-ms-response-type": "standard",
        "x-request-time": "0.115"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isDefault": true,
          "credentials": {
            "credentialsType": "AccountKey"
          },
          "datastoreType": "AzureBlob",
          "accountName": "sauucsxpn24slls",
          "containerName": "azureml-blobstore-55dbca7f-9e65-4feb-8c41-d63789be2717",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
        },
        "systemData": {
          "createdAt": "2022-12-13T16:14:50.1412936\u002B00:00",
          "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "createdByType": "Application",
          "lastModifiedAt": "2022-12-13T16:14:50.7943244\u002B00:00",
          "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1196",
        "x-ms-response-type": "standard",
        "x-request-time": "0.084"
      },
      "ResponseBody": {
        "secretsType": "AccountKey",
        "key": "dGhpcyBpcyBmYWtlIGtleQ=="
      }
    },
    {
      "RequestUri": "https://sauucsxpn24slls.blob.core.windows.net/azureml-blobstore-55dbca7f-9e65-4feb-8c41-d63789be2717/LocalUpload/00000000000000000000000000000000/src/wordcount.py",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Dec 2022 20:53:18 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "q7MX/Aeluq3mRed97xlVDA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAE460CED51CCB\u0022",
        "Last-Modified": "Thu, 22 Dec 2022 21:09:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 22 Dec 2022 21:09:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "b2cbf234-c75b-4437-8075-284bd32be28c",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sauucsxpn24slls.blob.core.windows.net/azureml-blobstore-55dbca7f-9e65-4feb-8c41-d63789be2717/az-ml-artifacts/00000000000000000000000000000000/src/wordcount.py",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Dec 2022 20:53:18 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/b2cbf234-c75b-4437-8075-284bd32be28c/versions/1?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isAnonymous": true,
          "isArchived": false,
          "codeUri": "https://sauucsxpn24slls.blob.core.windows.net/azureml-blobstore-55dbca7f-9e65-4feb-8c41-d63789be2717/LocalUpload/00000000000000000000000000000000/src"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1187",
        "x-ms-response-type": "standard",
        "x-request-time": "0.085"
      },
      "ResponseBody": {[...]
[...]
    {
      "RequestUri": "https://sauucsxpn24slls.blob.core.windows.net/azureml-blobstore-55dbca7f-9e65-4feb-8c41-d63789be2717/LocalUpload/00000000000000000000000000000000/simpleshakespeare.txt",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Dec 2022 20:53:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ivV2GxrvXLlVxg1ZXIHv2w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAE460CFB2FFD5\u0022",
        "Last-Modified": "Thu, 22 Dec 2022 21:09:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 22 Dec 2022 21:09:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "5b64df0b-8ad1-42d6-8098-046fefb737c7",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "7a8525fb-6152-4ad8-a0b3-03a7d091f13f",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationsStatus/s:55dbca7f-9e65-4feb-8c41-d63789be2717:yK39xBCINYDMo7h5LaEooqMGXQz4jmlQ4oFsT4y8_bU?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11977",
        "x-ms-response-type": "standard",
        "x-request-time": "0.015"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationResults/s:55dbca7f-9e65-4feb-8c41-d63789be2717:yK39xBCINYDMo7h5LaEooqMGXQz4jmlQ4oFsT4y8_bU",
        "name": "s:55dbca7f-9e65-4feb-8c41-d63789be2717:yK39xBCINYDMo7h5LaEooqMGXQz4jmlQ4oFsT4y8_bU",
        "status": "Succeeded",
        "startTime": "2022-12-28T20:53:14.1147554\u002B00:00",
        "endTime": "2022-12-28T20:53:15\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sauucsxpn24slls.blob.core.windows.net/azureml-blobstore-55dbca7f-9e65-4feb-8c41-d63789be2717/az-ml-artifacts/00000000000000000000000000000000/simpleshakespeare.txt",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Dec 2022 20:53:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/schedules/test_692637823616?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11976",
        "x-ms-response-type": "standard",
        "x-request-time": "0.019"
      },
      "ResponseBody": {
        "name": "test_692637823616",
        "properties": {
          "description": "a weekly retrain schedule",
          "tags": {},
          "properties": {},
          "displayName": "weekly retrain schedule",
          "isEnabled": false,
          "trigger": {
            "endTime": null,
            "startTime": "2022-03-10 10:15:00",
            "timeZone": "UTC",
            "triggerType": "Cron",
            "expression": "15 10 * * 1"
          },
          "action": {
            "actionType": "CreateJob",
            "jobDefinition": {
              "description": null,
              "tags": {
                "empty_tag": null
              },
              "properties": {
                "empty_property": null
              },
              "displayName": "test_display_name",
              "status": "NotStarted",
              "experimentName": "mfe-test1",
              "services": {},
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "isArchived": false,
              "identity": {
                "identityType": "AMLToken"
              },
              "componentId": null,
              "jobType": "Command",
              "resources": {
                "instanceCount": 1,
                "instanceType": null,
                "properties": {},
                "shmSize": "2g",
                "dockerArgs": null
              },
              "codeId": null,
              "command": "pip freeze",
              "environmentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/AzureML-sklearn-0.24-ubuntu18.04-py37-cpu/versions/1",
              "inputs": {
                "hello_input": {
                  "description": null,
                  "uri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/data/",
                  "mode": "ReadOnlyMount",
                  "jobInputType": "uri_folder"
                }
              },
              "outputs": {},
              "distribution": null,
              "autologgerSettings": null,
              "limits": null,
              "environmentVariables": {},
              "parameters": null
            }
          },
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdAt": "2022-12-28T20:53:09.2065188\u002B00:00",
          "createdBy": "Njuguna Thande",
          "createdByType": "User",
          "lastModifiedAt": "2022-12-28T20:53:15.8744049\u002B00:00",
          "lastModifiedBy": "Njuguna Thande",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/schedules/test_477970240806?api-version=2022-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "a weekly retrain schedule",
          "properties": {},
          "tags": {},
          "action": {
            "actionType": "CreateJob",
            "jobDefinition": {
              "description": "submit a hobo spark job testing inputs",
              "tags": {},
              "identity": {
                "identityType": "UserIdentity"
              },
              "isArchived": false,
              "jobType": "Spark",
              "args": "--input1 ${{inputs.input1}}",
              "codeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/b2cbf234-c75b-4437-8075-284bd32be28c/versions/1",
              "conf": {
                "spark.driver.cores": "1",
                "spark.driver.memory": "2g",
                "spark.executor.cores": "2",
                "spark.executor.memory": "2g",
                "spark.executor.instances": "2"
              },
              "entry": {
                "sparkJobEntryType": "SparkJobPythonEntry",
                "file": "wordcount.py"
              },
              "inputs": {
                "input1": {
                  "mode": "Direct",
                  "uri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/simpleshakespeare.txt",
                  "jobInputType": "uri_file"
                }
              },
              "outputs": {},
              "resources": {
                "instanceType": "standard_e8s_v3",
                "runtimeVersion": "3.2"
              }
            }
          },
          "displayName": "weekly retrain schedule",
          "trigger": {
            "startTime": "2022-03-10 10:15:00",
            "triggerType": "Cron",
            "expression": "15 10 * * 1"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationsStatus/s:55dbca7f-9e65-4feb-8c41-d63789be2717:tQv10WLwO2Z9JFpc2DpZuuutT9Qn9MdvMD1vrrydY28?api-version=2022-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/schedules/test_477970240806?api-version=2022-10-01-preview",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-async-operation-timeout": "PT30M",
        "x-ms-ratelimit-remaining-subscription-writes": "1186",
        "x-ms-response-type": "standard",
        "x-request-time": "0.039"
      },
      "ResponseBody": {
        "properties": {
          "description": "a weekly retrain schedule",
          "tags": {},
          "properties": {},
          "displayName": "weekly retrain schedule",
          "isEnabled": true,
          "trigger": {
            "endTime": null,
            "startTime": "2022-03-10 10:15:00",
        [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationsStatus/s:55dbca7f-9e65-4feb-8c41-d63789be2717:tQv10WLwO2Z9JFpc2DpZuuutT9Qn9MdvMD1vrrydY28?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11975",
        "x-ms-response-type": "standard",
        "x-request-time": "0.012"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationResults/s:55dbca7f-9e65-4feb-8c41-d63789be2717:tQv10WLwO2Z9JFpc2DpZuuutT9Qn9MdvMD1vrrydY28",
        "name": "s:55dbca7f-9e65-4feb-8c41-d63789be2717:tQv10WLwO2Z9JFpc2DpZuuutT9Qn9MdvMD1vrrydY28",
        "status": "Creating"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationsStatus/s:55dbca7f-9e65-4feb-8c41-d63789be2717:kAvGfa4zg_rryu4D8ZGo2EuvrBLwYT9treD_c0M_YjI?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Ii1LSTNROW5OUjdiUm9meG1lWm9YcWJIWkdldyIsImtpZCI6Ii1LSTNROW5OUjdiUm9meG1lWm9YcWJIWkdldyJ9.eyJhdWQiOiJodHRwczovL21hbmFnZW1lbnQuYXp1cmUuY29tIiwiaXNzIjoiaHR0cHM6Ly9zdHMud2luZG93cy5uZXQvNzJmOTg4YmYtODZmMS00MWFmLTkxYWItMmQ3Y2QwMTFkYjQ3LyIsImlhdCI6MTY3MjI2MDMwOSwibmJmIjoxNjcyMjYwMzA5LCJleHAiOjE2NzIyNjQzNzMsIl9jbGFpbV9uYW1lcyI6eyJncm91cHMiOiJzcmMxIn0sIl9jbGFpbV9zb3VyY2VzIjp7InNyYzEiOnsiZW5kcG9pbnQiOiJodHRwczovL2dyYXBoLndpbmRvd3MubmV0LzcyZjk4OGJmLTg2Zj[...]
