{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=00000000-0000-0000-0000-000000000000\u0026client_secret=00000000-0000-0000-0000-000000000000\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fazure-devices-provisioning.net%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "access_token"
      }
    },
    {
      "RequestUri": "https://fake-resource.azure-devices-provisioning.net/enrollmentGroups/x509_enroll_grp_ed603ef4?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "enrollmentGroupId": "x509_enroll_grp_ed603ef4",
        "attestation": {
          "type": "x509",
          "x509": {
            "signingCertificates": {
              "primary": {
                "certificate": "certificate"
              }
            }
          }
        },
        "allocationPolicy": "hashed",
        "capabilities": null,
        "provisioningStatus": "enabled",
        "reprovisionPolicy": {
          "migrateDeviceData": true,
          "updateHubAssignment": true
        },
        "iotHubs": null,
        "iotHubHostName": null,
        "initialTwin": null,
        "customAllocationDefinition": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "enrollmentGroupId": "x509_enroll_grp_ed603ef4",
        "attestation": {
          "type": "x509",
          "x509": {
            "signingCertificates": {
              "primary": {
                "info": {
                  "subjectName": "CN=enroll_cert_ed603ef4",
                  "sha1Thumbprint": "thumbprint",
                  "sha256Thumbprint": "thumbprint",
                  "issuerName": "CN=enroll_cert_ed603ef4",
                  "notBeforeUtc": "2023-03-30T00:55:12Z",
                  "notAfterUtc": "2023-03-31T00:55:12Z",
                  "serialNumber": "024E35D8145D04317A36E27F8F939391837B1808",
                  "version": 3
                }
              },
              "secondary": {
                "info": {
                  "subjectName": "CN=enroll_cert_ed603ef4",
                  "sha1Thumbprint": "thumbprint",
                  "sha256Thumbprint": "thumbprint",
                  "issuerName": "CN=enroll_cert_ed603ef4",
                  "notBeforeUtc": "2023-03-30T00:55:12Z",
                  "notAfterUtc": "2023-03-31T00:55:12Z",
                  "serialNumber": "024E35D8145D04317A36E27F8F939391837B1808",
                  "version": 3
                }
              }
            }
          }
        },
        "etag": "IjJiMDUwZGQ4LTAwMDAtMDgwMC0wMDAwLTY0MjRkZGYxMDAwMCI=",
        "provisioningStatus": "enabled",
        "reprovisionPolicy": {
          "updateHubAssignment": true,
          "migrateDeviceData": true
        },
        "createdDateTimeUtc": "2023-03-30T00:55:13.5296188Z",
        "lastUpdatedDateTimeUtc": "2023-03-30T00:55:13.5296188Z",
        "allocationPolicy": "hashed"
      }
    },
    {
      "RequestUri": "https://fake-resource.azure-devices-provisioning.net/enrollmentGroups/query?api-version=2021-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "SELECT *"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-item-type": "EnrollmentGroup"
      },
      "ResponseBody": "[{\u0022enrollmentGroupId\u0022:\u0022x509_enroll_grp_ed603ef4\u0022,\u0022attestation\u0022:{\u0022type\u0022:\u0022x509\u0022,\u0022x509\u0022:{\u0022signingCertificates\u0022:{\u0022primary\u0022:{\u0022info\u0022:{\u0022subjectName\u0022:\u0022CN=enroll_cert_ed603ef4\u0022,\u0022sha1Thumbprint\u0022:\u0022thumbprint\u0022,\u0022sha256Thumbprint\u0022:\u0022thumbprint\u0022,\u0022issuerName\u0022:\u0022CN=enroll_cert_ed603ef4\u0022,\u0022notB[...]
[...]
    {
      "RequestUri": "https://fake-resource.azure-devices-provisioning.net/enrollmentGroups/x509_enroll_grp_ed603ef4?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-Match": "IjJiMDUwZGQ4LTAwMDAtMDgwMC0wMDAwLTY0MjRkZGYxMDAwMCI="
      },
      "RequestBody": {
        "enrollmentGroupId": "x509_enroll_grp_ed603ef4",
        "attestation": {
          "type": "x509",
          "x509": {
            "signingCertificates": {
              "primary": {
                "certificate": "certificate"
              }
            }
          }
        },
        "allocationPolicy": "custom",
        "capabilities": null,
        "provisioningStatus": "disabled",
        "reprovisionPolicy": {
          "migrateDeviceData": true,
          "updateHubAssignment": true
        },
        "iotHubs": null,
        "iotHubHostName": null,
        "initialTwin": null,
        "customAllocationDefinition": {
          "webhookUrl": "https://www.test.test",
          "apiVersion": "2019-03-31"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "enrollmentGroupId": "x509_enroll_grp_ed603ef4",
        "attestation": {
          "type": "x509",
          "x509": {
            "signingCertificates": {
              "primary": {
                "info": {
                  "subjectName": "CN=enroll_cert_ed603ef4",
                  "sha1Thumbprint": "thumbprin[...]
[...]
    {
      "RequestUri": "https://fake-resource.azure-devices-provisioning.net/enrollmentGroups/query?api-version=2021-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "SELECT *"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-item-type": "EnrollmentGroup"
      },
      "ResponseBody": "[]"
    }
  ],
  "Variables": {}
}
