{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=00000000-0000-0000-0000-000000000000\u0026client_secret=00000000-0000-0000-0000-000000000000\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fazure-devices-provisioning.net%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "access_token"
      }
    },
    {
      "RequestUri": "https://fake-resource.azure-devices-provisioning.net/enrollments/sym_enrollment_16284470?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "registrationId": "sym_enrollment_16284470",
        "attestation": {
          "type": "symmetricKey",
          "symmetricKey": {
            "primaryKey": "primaryKey",
            "secondaryKey": "secondaryKey"
          }
        },
        "allocationPolicy": "geoLatency",
        "capabilities": null,
        "reprovisionPolicy": {
          "migrateDeviceData": true,
          "updateHubAssignment": true
        },
        "customAllocationDefinition": null,
        "provisioningStatus": null,
        "deviceId": "sym_key_device_16284470",
        "optionalDeviceInformation": null,
        "iotHubs": null,
        "iotHubHostName": null,
        "initialTwin": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "registrationId": "sym_enrollment_16284470",
        "deviceId": "sym_key_device_16284470",
        "attestation": {
          "type": "symmetricKey",
          "symmetricKey": {
            "primaryKey": "primaryKey",
            "secondaryKey": "secondaryKey"
          }
        },
        "etag": "IjQwMDYxYmYxLTAwMDAtMDgwMC0wMDAwLTY0MjRkZGY5MDAwMCI=",
        "provisioningStatus": null,
        "reprovisionPolicy": {
          "updateHubAssignment": true,
          "migrateDeviceData": true
        },
        "createdDateTimeUtc": "2023-03-30T00:55:21.0556822Z",
        "lastUpdatedDateTimeUtc": "2023-03-30T00:55:21.0556822Z",
        "allocationPolicy": "geoLatency"
      }
    },
    {
      "RequestUri": "https://fake-resource.azure-devices-provisioning.net/enrollments/query?api-version=2021-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "SELECT *"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-item-type": "Enrollment"
      },
      "ResponseBody": "[{\u0022registrationId\u0022:\u0022sym_enrollment_16284470\u0022,\u0022deviceId\u0022:\u0022sym_key_device_16284470\u0022,\u0022attestation\u0022:{\u0022type\u0022:\u0022symmetricKey\u0022},\u0022etag\u0022:\u0022IjQwMDYxYmYxLTAwMDAtMDgwMC0wMDAwLTY0MjRkZGY5MDAwMCI=\u0022,\u0022provisioningStatus\u0022:null,\u0022reprovisionPolicy\u0022:{\u0022updateHubAssignment\u0022:true,\u0022migrateDeviceData\u0022:true},\u0022createdDateTimeUtc\u0022:\u00222023-03-30T00:55:21.0556822Z\u0022,\u0022lastUpdatedDateTimeUtc\u0022:\u00222023-03-30T00:55:21.0556822Z\u0022,\u0022allocationPolicy\u0022:\u0022geoLatency\u0022}]"
    },
    {
      "RequestUri": "https://fake-resource.azure-devices-provisioning.net/enrollments/sym_enrollment_16284470?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "registrationId": "sym_enrollment_16284470",
        "deviceId": "sym_key_device_16284470",
        "registrationState": {
          "registrationId": "sym_enrollment_16284470",
          "status": "unassigned"
        },
        "attestation": {
          "type": "symmetricKey"
        },
        "etag": "IjQwMDYxYmYxLTAwMDAtMDgwMC0wMDAwLTY0MjRkZGY5MDAwMCI=",
        "provisioningStatus": null,
        "reprovisionPolicy": {
          "updateHubAssignment": true,
          "migrateDeviceData": true
        },
        "createdDateTimeUtc": "2023-03-30T00:55:21.0556822Z",
        "lastUpdatedDateTimeUtc": "2023-03-30T00:55:21.0556822Z",
        "allocationPolicy": "geoLatency"
      }
    },
    {
      "RequestUri": "https://fake-resource.azure-devices-provisioning.net/enrollments/sym_enrollment_16284470/attestationmechanism?api-version=2021-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "type": "symmetricKey",
        "symmetricKey": {
          "primaryKey": "primaryKey",
          "secondaryKey": "secondaryKey"
        }
      }
    },
    {
      "RequestUri": "https://fake-resource.azure-devices-provisioning.net/enrollments/sym_enrollment_16284470?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-Match": "IjQwMDYxYmYxLTAwMDAtMDgwMC0wMDAwLTY0MjRkZGY5MDAwMCI="
      },
      "RequestBody": {
        "registrationId": "sym_enrollment_16284470",
        "attestation": {
          "type": "symmetricKey",
          "symmetricKey": {
            "primaryKey": "primaryKey",
            "secondaryKey": "secondaryKey"
          }
        },
        "allocationPolicy": "custom",
        "capabilities": null,
        "reprovisionPolicy": {
          "migrateDeviceData": true,
          "updateHubAssignment": true
        },
        "customAllocationDefinition": {
          "webhookUrl": "https://www.test.test",
          "apiVersion": "2019-03-31"
        },
        "provisioningStatus": "disabled",
        "deviceId": "sym_key_device_16284470",
        "optionalDeviceInformation": null,
        "iotHubs": null,
        "iotHubHostName": null,
        "initialTwin": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "registrationId": "sym_enrollment_16284470",
        "deviceId": "sym_key_device_16284470",
        "attestation": {
          "type": "symmetricKey",
          "symmetricKey": {
            "primaryKey": "primaryKey",
            "secondaryKey": "secondaryKey"
          }
        },
        "etag": "IjQwMDYxZGYxLTAwMDAtMDgwMC0wMDAwLTY0MjRkZGY5MDAwMCI=",
        "provisioningStatus": "disabled",
        "reprovisionPolicy": {
          "updateHubAssignment": true,
          "migrateDeviceData": true
        },
        "createdDateTimeUtc": "2023-03-30T00:55:21.0556822Z",
        "lastUpdatedDateTimeUtc": "2023-03-30T00:55:21.3305204Z",
        "allocationPolicy": "custom",
        "customAllocationDefinition": {
          "webhookUrl": "https://www.test.test",
          "apiVersion": "2019-03-31"
        }
      }
    },
    {
      "RequestUri": "https://fake-resource.azure-devices-provisioning.net/enrollments/sym_enrollment2_16284470?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "registrationId": "sym_enrollment2_16284470",
        "attestation": {
          "type": "symmetricKey",
          "symmetricKey": {
            "primaryKey": null,
            "secondaryKey": null
          }
        }[...]
[...]
    {
      "RequestUri": "https://fake-resource.azure-devices-provisioning.net/enrollments/query?api-version=2021-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "SELECT *"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-item-type": "Enrollment"
      },
      "ResponseBody": "[]"
    }
  ],
  "Variables": {}
}
