{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.microsoft.com/timezone/byCoordinates/json?api-version=1.0&query=25.0338053,121.5640089",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "Version": "2024a",
        "ReferenceUtcTimestamp": "2024-07-19T21:32:49.3683294Z",
        "TimeZones": [
          {
            "Id": "Asia/Taipei",
            "Names": {
              "ISO6391LanguageCode": "en",
              "Generic": "Taipei Time",
              "Standard": "Taipei Standard Time",
              "Daylight": "Taipei Daylight Time"
            },
            "ReferenceTime": {
              "Tag": "CST",
              "StandardOffset": "08:00:00",
              "DaylightSavings": "00:00:00",
              "WallTime": "2024-07-20T05:32:49.3683294+08:00",
              "PosixTzValidYear": 2024,
              "PosixTz": "CST-8",
              "Sunrise": "2024-07-20T05:15:32.4061983+08:00",
              "Sunset": "2024-07-20T18:44:42.5945436+08:00"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
