{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/timezone/byId/json?api-version=1.0.0b1\u0026query=America%2FNew_York",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "AzureMapsSubscriptionKey"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "Version": "2022c",
        "ReferenceUtcTimestamp": "2022-09-22T02:40:31.0082375Z",
        "TimeZones": [
          {
            "Id": "America/New_York",
            "Names": {
              "ISO6391LanguageCode": "en",
              "Generic": "Eastern Time",
              "Standard": "Eastern Standard Time",
              "Daylight": "Eastern Daylight Time"
            },
            "ReferenceTime": {
              "Tag": "EDT",
              "StandardOffset": "-05:00:00",
              "DaylightSavings": "01:00:00",
              "WallTime": "2022-09-21T22:40:31.0082375-04:00",
              "PosixTzValidYear": 2022,
              "PosixTz": "EST\u002B5EDT,M3.2.0,M11.1.0"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
