{
  "Entries": [
    {
      "RequestUri": "https://eastus.prod.apcgatewayapi.azure.com/sim-swap/sim-swap:verify?api-version=2024-02-09-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "apc-gateway-id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dev-testing-eastus/providers/Microsoft.programmableconnectivity/gateways/apcg-eastus",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "phoneNumber": "\u002B14587443214",
        "maxAgeHours": -10,
        "networkIdentifier": {
          "identifierType": "NetworkCode",
          "identifier": "Orange_Spain"
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "fb1760ba-aa9c-4e05-86cf-3ee32c5f79e3",
        "x-ms-error-code": "CAMARA_ERROR",
        "x-ms-response-id": "2495f013-7911-42ae-9edc-4e5953b0c6f5"
      },
      "ResponseBody": {
        "error": {
          "message": "APC encountered an error while communicating with Operator: Orange_Spain",
          "code": "CAMARA_ERROR",
          "innererror": {
            "message": "Client specified an invalid argument, request body or query param",
            "code": "INVALID_ARGUMENT"
          }
        }
      }
    }
  ],
  "Variables": {}
}